openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Homepage/User Dashboard API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Homepage/UserDashboard
paths:
  /v1/Homepage/UserDashboard/{dashboardId}:
    put:
      tags:
      - Homepage/UserDashboard
      operationId: Dashboard_PutV1HomepageUserDashboardByDashboardId
      parameters:
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardForUpdateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardForUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardForUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardForUpdateDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardForUpdateDto'
        required: true
      summary: Dashboard put V1 homepage user dashboard by dashboard id
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardForUpdateDto:
      properties:
        id:
          type: integer
          format: int32
        dashboardName:
          type: string
        isShared:
          type: boolean
        roles:
          items:
            type: integer
            format: int32
          type: array
      xml:
        name: HomepageDashboardForUpdateDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
