openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Global/Service Teams API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Global/ServiceTeams
paths:
  /v1/Global/ServiceTeams:
    get:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_GetAll
      parameters:
      - name: teamType
        in: query
        required: false
        schema:
          type: string
          enum:
          - ServiceTeam
          - ReconTeam
          - ApplicationTeam
          - AlternateApplicationTeam
          - RemovedServiceTeam
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
                xml:
                  name: ServiceTeamDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
                xml:
                  name: ServiceTeamDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
                xml:
                  name: ServiceTeamDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
                xml:
                  name: ServiceTeamDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
                xml:
                  name: ServiceTeamDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
                xml:
                  name: ServiceTeamDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Global service teams get all
      x-summary-source: derived
    post:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_CreateServiceTeamAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
        required: true
      summary: Global service teams create service team async
      x-summary-source: derived
  /v1/Global/ServiceTeams/{key}:
    get:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_GetByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Global service teams get by key async
      x-summary-source: derived
    put:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_UpdateServiceTeamAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
        required: true
      summary: Global service teams update service team async
      x-summary-source: derived
    delete:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_DeleteServiceTeamAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Global service teams delete service team async
      x-summary-source: derived
  /v1/Global/ServiceTeams/{teamId}/Members:
    get:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_GetTeamMembersAsync
      parameters:
      - name: teamId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Global service teams get team members async
      x-summary-source: derived
    post:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_AddTeamMemberAsync
      parameters:
      - name: teamId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
              xml:
                name: ServiceTeamMemberDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
              xml:
                name: ServiceTeamMemberDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
              xml:
                name: ServiceTeamMemberDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
              xml:
                name: ServiceTeamMemberDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
              xml:
                name: ServiceTeamMemberDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
              xml:
                name: ServiceTeamMemberDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
              xml:
                name: ServiceTeamMemberDto
                wrapped: true
              type: array
        required: true
      summary: Global service teams add team member async
      x-summary-source: derived
  /v1/Global/ServiceTeams/{teamId}/Members/{memberId}:
    put:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_UpdateTeamMemberAsync
      parameters:
      - name: teamId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: memberId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
        required: true
      summary: Global service teams update team member async
      x-summary-source: derived
    delete:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_RemoveTeamMemberAsync
      parameters:
      - name: teamId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: memberId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Global service teams remove team member async
      x-summary-source: derived
  /v1/Global/ServiceTeams/{teamId}/Members/{memberId}/DatabaseAssignments:
    get:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_GetMemberDatabaseAssignmentsAsync
      parameters:
      - name: teamId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: memberId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Global service teams get member database assignments async
      x-summary-source: derived
  /v1/Global/ServiceTeams/{teamId}/Members/DatabaseAssignments/Available:
    get:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_GetMemberAvailableDatabaseAssignmentsAsync
      parameters:
      - name: teamId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      - name: memberId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Global service teams get member available database assignments async
      x-summary-source: derived
  /v1/Global/ServiceTeams/{teamId}/UserManagers:
    get:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_GetTeamUserManagersAsync
      parameters:
      - name: teamId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Global service teams get team user managers async
      x-summary-source: derived
  /v1/Global/ServiceTeams/DatabaseAssignments:
    get:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_GetDatabaseAssignmentsAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: serviceTeamId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Global service teams get database assignments async
      x-summary-source: derived
    put:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_SyncDatabaseAssignmentsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDatabaseAssignRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDatabaseAssignRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDatabaseAssignRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDatabaseAssignRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDatabaseAssignRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDatabaseAssignRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDatabaseAssignRequestDto'
        required: true
      summary: Global service teams sync database assignments async
      x-summary-source: derived
  /v1/Global/ServiceTeams/DatabaseAssignments/Available:
    get:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_GetAvailableDatabaseAssignmentsAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: serviceTeamId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Global service teams get available database assignments async
      x-summary-source: derived
  /v1/Global/ServiceTeams/Manager:
    get:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_GetManagerTeamsAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: teamType
        in: query
        required: false
        schema:
          type: string
          enum:
          - ServiceTeam
          - ReconTeam
          - ApplicationTeam
          - AlternateApplicationTeam
          - RemovedServiceTeam
      - name: excludeTeamType
        in: query
        required: false
        schema:
          type: string
          enum:
          - ServiceTeam
          - ReconTeam
          - ApplicationTeam
          - AlternateApplicationTeam
          - RemovedServiceTeam
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Global service teams get manager teams async
      x-summary-source: derived
  /v1/Global/ServiceTeams/Manager/Export:
    get:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_GetManagerTeamsExportAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: teamType
        in: query
        required: false
        schema:
          type: string
          enum:
          - ServiceTeam
          - ReconTeam
          - ApplicationTeam
          - AlternateApplicationTeam
          - RemovedServiceTeam
      - name: excludeTeamType
        in: query
        required: false
        schema:
          type: string
          enum:
          - ServiceTeam
          - ReconTeam
          - ApplicationTeam
          - AlternateApplicationTeam
          - RemovedServiceTeam
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Global service teams get manager teams export async
      x-summary-source: derived
  /v1/Global/ServiceTeams/Simple:
    get:
      tags:
      - Global/ServiceTeams
      operationId: GlobalServiceTeams_GetSimpleAll
      parameters:
      - name: teamType
        in: query
        required: false
        schema:
          type: string
          enum:
          - ServiceTeam
          - ReconTeam
          - ApplicationTeam
          - AlternateApplicationTeam
          - RemovedServiceTeam
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Global service teams get simple all
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Authorization.ServiceTeamDatabaseAssignRequestDto:
      properties:
        serviceTeamId:
          type: integer
          format: int32
        teamType:
          type: string
          enum:
          - ServiceTeam
          - ReconTeam
          - ApplicationTeam
          - AlternateApplicationTeam
          - RemovedServiceTeam
        alClientIds:
          items:
            type: integer
            format: int32
          type: array
      xml:
        name: ServiceTeamDatabaseAssignRequestDto
      type: object
    OAS.WebApi.DTO.Authorization.ServiceTeamDto:
      properties:
        id:
          type: integer
          format: int32
        team:
          type: string
        emailAddress:
          type: string
        phone:
          type: string
        assignedDatabaseCount:
          type: integer
          format: int32
        memberCount:
          type: integer
          format: int32
        teamType:
          type: string
          enum:
          - ServiceTeam
          - ReconTeam
          - ApplicationTeam
          - AlternateApplicationTeam
          - RemovedServiceTeam
        chatUrl:
          type: string
        firmChatRouteId:
          type: string
        chatRouteIntendedRecipient:
          type: string
      xml:
        name: ServiceTeamDto
      type: object
    OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto:
      properties:
        id:
          type: integer
          format: int32
        serviceTeamId:
          type: integer
          format: int32
        serviceTeam:
          type: string
        userId:
          type: integer
          format: int32
        userName:
          type: string
        isAnalyst:
          type: boolean
        isAccountManager:
          type: boolean
        userManagerId:
          type: integer
          format: int32
        userManagerName:
          type: string
        alClients:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
          xml:
            name: ALClientDto
            wrapped: true
          type: array
      xml:
        name: ServiceTeamMemberDto
      type: object
    OAS.WebApi.DTO.Authorization.ALClientDto:
      properties:
        id:
          type: integer
          format: int32
        clientName:
          type: string
        selected:
          type: boolean
        lockDown:
          type: string
          enum:
          - None
          - Billing
        ops:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
        guid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
      xml:
        name: ALClientDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Security.AlClientOpsDto:
      properties:
        id:
          type: integer
          format: int32
        clientName:
          type: string
        isFullOps:
          type: boolean
        isBilling:
          type: boolean
        isComposites:
          type: boolean
        isStatements:
          type: boolean
        isTrading:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        databaseName:
          type: string
        serverName:
          type: string
      xml:
        name: AlClientOpsDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
