openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Performance API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/Performance
paths:
  /v1/Reporting/Performance/Action/UpdateAstroTaxData:
    post:
      tags:
      - Reporting/Performance
      operationId: Performance_RunSpecificUpdateAstroTaxData
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Performance run specific update astro tax data
      x-summary-source: derived
  /v1/Reporting/Performance/Action/UpdateAstroTaxData/All:
    post:
      tags:
      - Reporting/Performance
      operationId: Performance_RunUpdateAstroTaxData
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Performance run update astro tax data
      x-summary-source: derived
  /v1/Reporting/Performance/DrillDownSummary:
    post:
      tags:
      - Reporting/Performance
      summary: Used to return a drill down summary of performance.
      operationId: Performance_GetPerformanceDrillDownSummaryAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.DrillDownSummaryDto'
                xml:
                  name: DrillDownSummaryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.DrillDownSummaryDto'
                xml:
                  name: DrillDownSummaryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.DrillDownSummaryDto'
                xml:
                  name: DrillDownSummaryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.DrillDownSummaryDto'
                xml:
                  name: DrillDownSummaryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.DrillDownSummaryDto'
                xml:
                  name: DrillDownSummaryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.DrillDownSummaryDto'
                xml:
                  name: DrillDownSummaryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
        description: "An object used to set many different parameters for performance calculation.\n            \t\tEntity: Defines what entity/entities to return performance for.\n             \n            \t\tEntityIds: Defines the specific ids of the entities to return performance for.\n             \n            \t\tGroupings: Defines the order of the drilldown to perform. The following are the grouping options: \n            \t\t\tClient, Registration, Account, Asset, AssetClass, ProductType, MgmntStyle, RiskCategory, AssetCategory, or AssetLevelStrategy.\n            \n            \t\tStartDate: Optional. The start of the range to report.\n            \t\t\n            \t\tEndDate: Optional. Default: Today. The end of the range to report.\n            \t\t\n            \t\tPeriods:\n            \t\tOptional. Bitwise parameter for requesting commonly used date ranges.\n            \t\t1 = MTD\n            \t\t2 = QTD\n            \t\t4 = YTD\n            \t\t8 = 1yr\n            \t\t16 = 3yr\n            \t\t32 = 5yr\n            \t\t64 = 10yr\n            \t\t128 = inception\n            \t\t256 = day\n            \t\t\n            \t\tBenchmark:\n            \t\tOptional. Default: \"191531_P\" (S&amp;P 500). The key of the benchmark to use for comparison."
        required: true
  /v1/Reporting/Performance/DrillDownSummary/ActiveFilters:
    post:
      tags:
      - Reporting/Performance
      operationId: Performance_DrillDownFilters
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ActiveFilterListDto'
                xml:
                  name: ActiveFilterListDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ActiveFilterListDto'
                xml:
                  name: ActiveFilterListDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ActiveFilterListDto'
                xml:
                  name: ActiveFilterListDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ActiveFilterListDto'
                xml:
                  name: ActiveFilterListDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto'
        required: true
      summary: Performance drill down filters
      x-summary-source: derived
  /v1/Reporting/Performance/Overview:
    post:
      tags:
      - Reporting/Performance
      summary: Returns Overview Performance.
      operationId: Performance_GetOverviewPerformanceAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceWithDateRangeInfoDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceWithDateRangeInfoDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceWithDateRangeInfoDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceWithDateRangeInfoDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceWithDateRangeInfoDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceWithDateRangeInfoDto'
      deprecated: true
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PerformanceController.OverviewPerformanceRequestParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PerformanceController.OverviewPerformanceRequestParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PerformanceController.OverviewPerformanceRequestParameters'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PerformanceController.OverviewPerformanceRequestParameters'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PerformanceController.OverviewPerformanceRequestParameters'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PerformanceController.OverviewPerformanceRequestParameters'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PerformanceController.OverviewPerformanceRequestParameters'
        required: true
  /v1/Reporting/Performance/ProductStatistics/Run:
    post:
      tags:
      - Reporting/Performance
      operationId: Performance_RunProductStatistics
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Performance run product statistics
      x-summary-source: derived
  /v1/Reporting/Performance/Run/{filename}:
    get:
      tags:
      - Reporting/Performance
      summary: Used to download a previously generated Performance Export
      operationId: Performance_RunReportAsync
      parameters:
      - name: filename
        in: path
        description: The filename provided by the generate endpoint.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Performance/Verbose:
    post:
      tags:
      - Reporting/Performance
      summary: Used to verbosely return performance.
      operationId: Performance_GetPerformanceVerboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
                xml:
                  name: PerformancePortfolio
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
                xml:
                  name: PerformancePortfolio
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
                xml:
                  name: PerformancePortfolio
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
                xml:
                  name: PerformancePortfolio
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
                xml:
                  name: PerformancePortfolio
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
                xml:
                  name: PerformancePortfolio
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
        description: "An object used to set many different parameters for performance calculation.\n            \t\tEntity: Defines what entity/entities to return performance for.\n             \n            \t\tEntityIds: Defines the specific ids of the entities to return performance for.\n             \n            \t\tGroupings: Defines how the assets are grouped for the performance return. Can be set to any of the follow: \n            \t\t\tClient, Registration, Account, Asset, AssetClass, ProductType, MgmntStyle, RiskCategory, AssetCategory, or AssetLevelStrategy.\n            \n            \t\tStartDate: Optional. The start of the range to report.\n            \t\t\n            \t\tEndDate: Optional. Default: Today. The end of the range to report.\n            \t\t\n            \t\tReturnStyle:\n            \t\tOptional. Default: 3 PortfolioSummary &amp; PortfolioDaily\n            \t\t1  = Returns Portfolio Performance Summary\n            \t\t2  = Returns Portfolio Daily Factors\n            \t\t4  = Modifies return style 1 to include beginning and ending market value. Also includes accrued interest if performance was calculated including accrued interest.\n            \t\t8  = Returns Benchmark Performance Summary\n            \t\t16 = Returns Benchmark Daily Factors\n            \t\t32 = **does nothing\n            \t\t64 = Returns Statistical Summary\n            \t\t\n            \t\tInterval:\n            \t\tOptional. Default: \"A\" Automatic. Options are:\n            \t\t\"A\" Automatic\n            \t\t\"M\" Monthly\n            \t\t\"W\" Weekly\n            \t\t\"D\" Daily\n            \t\t\n            \t\tPeriods:\n            \t\tOptional. Bitwise parameter for requesting commonly used date ranges.\n            \t\t1 = MTD\n            \t\t2 = QTD\n            \t\t4 = YTD\n            \t\t8 = 1yr\n            \t\t16 = 3yr\n            \t\t32 = 5yr\n            \t\t64 = 10yr\n            \t\t128 = inception\n            \t\t256 = day\n            \t\t\n            \t\tCalendarYears: Optional. List of calendar years for which performance should be calculated."
        required: true
  /v1/Reporting/Performance/Verbose/Export/xls:
    post:
      tags:
      - Reporting/Performance
      operationId: Performance_GetPerformanceVerboseExportXlsAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
        required: true
      summary: Performance get performance verbose export xls async
      x-summary-source: derived
  /v1/Reporting/Performance/Verbose/Export/xlsx:
    post:
      tags:
      - Reporting/Performance
      operationId: Performance_GetPerformanceVerboseExportXlsxAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto'
        required: true
      summary: Performance get performance verbose export xlsx async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Reporting.Performance.PerformanceBenchmark:
      properties:
        pkGroup:
          type: integer
          format: int32
        fkKey:
          type: integer
          format: int32
        bmType:
          type: string
        name:
          type: string
        inceptionDate:
          type: string
          format: date-time
        rebalanceFrequency:
          type: string
          enum:
          - Daily
          - Monthly
          - Quarterly
          - Semiannually
          - Annually
          - BuyAndHold
          - Default
        rebalanceBasedOn:
          type: string
          enum:
          - CalendarPeriodEnd
          - RollingPeriod
        sortOrder:
          type: integer
          format: int32
        color:
          type: string
        summaries:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformanceBenchmarkSummary'
          xml:
            name: PerformanceBenchmarkSummary
            wrapped: true
          type: array
        details:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformanceBenchmarkDetail'
          xml:
            name: PerformanceBenchmarkDetail
            wrapped: true
          type: array
        statistics:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformanceStatistic'
          xml:
            name: PerformanceStatistic
            wrapped: true
          type: array
      xml:
        name: PerformanceBenchmark
      type: object
    OAS.DataModel.Performance.AdvancedPerformanceGrouping:
      properties:
        grouping:
          type: string
          enum:
          - Undefined
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - AssetClass
          - ProductType
          - Platform
          - RiskCategory
          - Product
          - IndexBlend
          - AssetCategory
          - AssetLevelStrategy
          - AggregateModel
          - AccountType
          - PortfolioGroup
        returnStyle:
          type: string
          enum:
          - PortfolioSummary
          - PortfolioDaily
          - PortfolioDetailed
          - BenchmarkSummary
          - BenchmarkDaily
          - AssetGroupAssignment
          - StatisticSummary
        groupings:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Performance.AdvancedPerformanceGrouping'
          xml:
            name: AdvancedPerformanceGrouping
            wrapped: true
          type: array
      xml:
        name: AdvancedPerformanceGrouping
      type: object
    OAS.WebApi.DTO.Reporting.Performance.PerformanceAssetGroupAssignment:
      properties:
        pkGroup:
          type: integer
          format: int32
        fkAsset:
          type: integer
          format: int32
        weight:
          type: number
          format: double
        performance:
          type: boolean
        activitySummary:
          type: boolean
        allocation:
          type: boolean
        portfolioDetail:
          type: boolean
        taxDetail:
          type: boolean
      xml:
        name: PerformanceAssetGroupAssignment
      type: object
    OAS.WebApi.DTO.Reporting.Performance.DrillDownSummaryDto:
      properties:
        grouping:
          type: string
          enum:
          - Undefined
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - AssetClass
          - ProductType
          - Platform
          - RiskCategory
          - Product
          - IndexBlend
          - AssetCategory
          - AssetLevelStrategy
          - AggregateModel
          - AccountType
          - PortfolioGroup
        fkGroupEntity:
          type: integer
          format: int32
        name:
          type: string
        color:
          type: string
        sortOrder:
          type: integer
          format: int32
        children:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.DrillDownSummaryDto'
          xml:
            name: DrillDownSummaryDto
            wrapped: true
          type: array
        includeAccruedInt:
          type: boolean
        benchmarks:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.BenchmarkDrillDownSummaryDto'
          xml:
            name: BenchmarkDrillDownSummaryDto
            wrapped: true
          type: array
        dateRanges:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.BenchmarkDateRangeDrillDownSummaryDto'
          xml:
            name: BenchmarkDateRangeDrillDownSummaryDto
            wrapped: true
          type: array
      xml:
        name: DrillDownSummaryDto
      type: object
    OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolioDetail:
      properties:
        pkGroup:
          type: integer
          format: int32
        calcGrossOfFees:
          type: boolean
        asOfDate:
          type: string
          format: date-time
        factor:
          type: number
          format: double
      xml:
        name: PerformancePortfolioDetail
      type: object
    OAS.WebApi.DTO.Reporting.Performance.BenchmarkDateRangeDrillDownSummaryDto:
      properties:
        pkDateRange:
          type: integer
          format: int32
        dateRangeName:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        performance:
          type: number
          format: double
        startValue:
          type: number
          format: double
        endValue:
          type: number
          format: double
      xml:
        name: BenchmarkDateRangeDrillDownSummaryDto
      type: object
    OAS.WebApi.DTO.Reporting.DrillDownSummaryPerformanceSettingsDto:
      properties:
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        groupings:
          items:
            type: string
            enum:
            - Undefined
            - Representative
            - Client
            - Registration
            - Account
            - Asset
            - AssetClass
            - ProductType
            - Platform
            - RiskCategory
            - Product
            - IndexBlend
            - AssetCategory
            - AssetLevelStrategy
            - AggregateModel
            - AccountType
            - PortfolioGroup
          xml:
            name: ReportGrouping
            wrapped: true
          type: array
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        periods:
          type: string
          enum:
          - None
          - Day
          - MTD
          - QTD
          - YTD
          - OneYear
          - ThreeYear
          - FiveYear
          - TenYear
          - Inception
          - AllDates
        benchmark:
          type: string
        showZeroValueAssets:
          type: boolean
        showMoneyMarketPerformance:
          type: boolean
        showBenchmarks:
          type: boolean
        performanceCalculationMethod:
          type: string
          enum:
          - TWR
          - Simple
          - IRR
        showBenchmarkMask:
          items:
            type: boolean
          type: array
        clientPerformanceInclude:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
        showMarketValues:
          type: boolean
        managedUnmanagedInclusion:
          type: integer
          format: int32
        reportCategory:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
      xml:
        name: DrillDownSummaryPerformanceSettingsDto
      type: object
    OAS.WebApi.DTO.Reporting.Performance.PerformanceStatistic:
      properties:
        pkDateRange:
          type: integer
          format: int32
        pkGroup:
          type: integer
          format: int32
        calcGrossOfFees:
          type: boolean
        fkKey:
          type: integer
          format: int32
        bmType:
          type: string
        fkStatistic:
          type: integer
          format: int32
        value:
          type: number
          format: double
      xml:
        name: PerformanceStatistic
      type: object
    OAS.WebApi.Domains.Reporting.BIController.BIPerformanceDateRangeDto:
      properties:
        dateRangeName:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
      xml:
        name: BIPerformanceDateRangeDto
      type: object
    OAS.WebApi.DTO.Reporting.Performance.PerformanceBenchmarkDetail:
      properties:
        pkGroup:
          type: integer
          format: int32
        fkKey:
          type: integer
          format: int32
        bmType:
          type: string
        asOfDate:
          type: string
          format: date-time
        factor:
          type: number
          format: double
      xml:
        name: PerformanceBenchmarkDetail
      type: object
    OAS.WebApi.DTO.Utility.ActiveFilterDto:
      properties:
        name:
          type: string
        detail:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        value:
          type: number
          format: double
        active:
          type: boolean
      xml:
        name: ActiveFilterDto
      type: object
    OAS.DataModel.Performance.PerformanceAccountManagement:
      properties:
        accountId:
          type: integer
          format: int32
        isManaged:
          type: boolean
      xml:
        name: PerformanceAccountManagement
      type: object
    OAS.WebApi.Domains.Reporting.BIController.BIPerformanceStatusDto:
      properties:
        status:
          type: string
        lastUpdated:
          type: string
          format: date-time
      xml:
        name: BIPerformanceStatusDto
      type: object
    OAS.WebApi.DTO.Reporting.Performance.BenchmarkDrillDownSummaryDto:
      properties:
        fkKey:
          type: integer
          format: int32
        bmType:
          type: string
        name:
          type: string
        dateRanges:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.BenchmarkDateRangeDrillDownSummaryDto'
          xml:
            name: BenchmarkDateRangeDrillDownSummaryDto
            wrapped: true
          type: array
        color:
          type: string
      xml:
        name: BenchmarkDrillDownSummaryDto
      type: object
    OAS.WebApi.DTO.Reporting.VerbosePerformanceBenchmarkBlendDto:
      properties:
        effectiveDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        productId:
          type: integer
          format: int32
        weight:
          type: number
          format: double
      xml:
        name: VerbosePerformanceBenchmarkBlendDto
      type: object
    OAT.Utilities.Date.IDate:
      properties:
        date:
          readOnly: true
          type: string
          format: date-time
        year:
          readOnly: true
          type: integer
          format: int32
        month:
          readOnly: true
          type: integer
          format: int32
        day:
          readOnly: true
          type: integer
          format: int32
      xml:
        name: IDate
      type: object
    OAS.WebApi.DTO.Reporting.Performance.PerformanceBenchmarkSummary:
      properties:
        pkGroup:
          type: integer
          format: int32
        fkKey:
          type: integer
          format: int32
        bmType:
          type: string
        pkDateRange:
          type: integer
          format: int32
        dateRangeName:
          type: string
        performance:
          type: number
          format: double
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        error:
          type: integer
          format: int32
        annualize:
          type: boolean
        overflow:
          type: boolean
        daysInPeriod:
          type: integer
          format: int32
      xml:
        name: PerformanceBenchmarkSummary
      type: object
    OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolioSummary:
      properties:
        pkGroup:
          type: integer
          format: int32
        calcGrossOfFees:
          type: boolean
        pkDateRange:
          type: integer
          format: int32
        dateRangeName:
          type: string
        performance:
          type: number
          format: double
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        error:
          type: integer
          format: int32
        annualize:
          type: boolean
        overflow:
          type: boolean
        daysInPeriod:
          type: integer
          format: int32
      xml:
        name: PerformancePortfolioSummary
      type: object
    OAS.WebApi.DTO.Reporting.VerbosePerformanceBenchmarkDto:
      properties:
        entity:
          type: string
          enum:
          - Blend
          - Product
          - Model
          - Custom
        entityId:
          type: integer
          format: int32
        name:
          type: string
        blends:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceBenchmarkBlendDto'
          xml:
            name: VerbosePerformanceBenchmarkBlendDto
            wrapped: true
          type: array
      xml:
        name: VerbosePerformanceBenchmarkDto
      type: object
    OAS.WebApi.Domains.Reporting.BIController.BIPerformanceWithDateRangeInfoDto:
      properties:
        performance:
          items:
            $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceDto'
          xml:
            name: BIPerformanceDto
            wrapped: true
          type: array
        dateRanges:
          items:
            $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceDateRangeDto'
          xml:
            name: BIPerformanceDateRangeDto
            wrapped: true
          type: array
        status:
          $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceStatusDto'
      xml:
        name: BIPerformanceWithDateRangeInfoDto
      type: object
    OAS.WebApi.Domains.Reporting.PerformanceController.OverviewPerformanceRequestParameters:
      properties:
        entity:
          description: Level to run for.  For example "Owner" returns all performance for the entire database.  "Representative" returns performance for the specified rep.
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          description: EntityId for the level.  Use 0 if running for entire database.
          type: integer
          format: int32
        grouping:
          description: What level to return.  For example Account returns a row for each account in the level.
          type: string
          enum:
          - Undefined
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - AssetClass
          - ProductType
          - Platform
          - RiskCategory
          - Product
          - IndexBlend
          - AssetCategory
          - AssetLevelStrategy
          - AggregateModel
          - AccountType
          - PortfolioGroup
        annualizePerformance:
          description: To annualize performance if over a year period.
          type: boolean
      xml:
        name: OverviewPerformanceRequestParameters
      type: object
    OAS.WebApi.Domains.Reporting.BIController.BIPerformanceDto:
      properties:
        entityId:
          type: integer
          format: int32
        entityEnum:
          type: integer
          format: int32
        parentId:
          type: integer
          format: int32
        groupName:
          type: string
        marketValue:
          type: number
          format: double
        day:
          type: number
          format: double
        mtd:
          type: number
          format: double
        qtd:
          type: number
          format: double
        ytd:
          type: number
          format: double
        oneYear:
          type: number
          format: double
        threeYear:
          type: number
          format: double
        fiveYear:
          type: number
          format: double
        tenYear:
          type: number
          format: double
        inception:
          type: number
          format: double
      xml:
        name: BIPerformanceDto
      type: object
    OAS.WebApi.DTO.Utility.ActiveFilterListDto:
      properties:
        category:
          type: string
        activeFilters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ActiveFilterDto'
          xml:
            name: ActiveFilterDto
            wrapped: true
          type: array
      xml:
        name: ActiveFilterListDto
      type: object
    OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio:
      properties:
        pkGroup:
          type: integer
          format: int32
        fkParentGroup:
          type: integer
          format: int32
        fkBucket:
          type: integer
          format: int32
        fkEntity:
          type: integer
          format: int32
        grouping:
          type: string
          enum:
          - Undefined
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - AssetClass
          - ProductType
          - Platform
          - RiskCategory
          - Product
          - IndexBlend
          - AssetCategory
          - AssetLevelStrategy
          - AggregateModel
          - AccountType
          - PortfolioGroup
        fkGroupEntity:
          type: integer
          format: int32
        name:
          type: string
        inceptionDate:
          type: string
          format: date-time
        calcFirstDayPerformance:
          type: boolean
        calcGrossOfFees:
          type: string
          enum:
          - NetOfFees
          - GrossOfFees
          - Both
        includeAccruedInt:
          type: boolean
        portfolios:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
          xml:
            name: PerformancePortfolio
            wrapped: true
          type: array
        summaries:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolioSummary'
          xml:
            name: PerformancePortfolioSummary
            wrapped: true
          type: array
        details:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolioDetail'
          xml:
            name: PerformancePortfolioDetail
            wrapped: true
          type: array
        benchmarks:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformanceBenchmark'
          xml:
            name: PerformanceBenchmark
            wrapped: true
          type: array
        assetGroupAssignments:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformanceAssetGroupAssignment'
          xml:
            name: PerformanceAssetGroupAssignment
            wrapped: true
          type: array
        statistics:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformanceStatistic'
          xml:
            name: PerformanceStatistic
            wrapped: true
          type: array
      xml:
        name: PerformancePortfolio
      type: object
    OAS.WebApi.DTO.Reporting.VerbosePerformanceSettingsDto:
      properties:
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityIds:
          items:
            type: integer
            format: int32
          type: array
        groupings:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Performance.AdvancedPerformanceGrouping'
          xml:
            name: AdvancedPerformanceGrouping
            wrapped: true
          type: array
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        returnStyle:
          type: string
          enum:
          - PortfolioSummary
          - PortfolioDaily
          - PortfolioDetailed
          - BenchmarkSummary
          - BenchmarkDaily
          - AssetGroupAssignment
          - StatisticSummary
        periods:
          type: string
          enum:
          - None
          - Day
          - MTD
          - QTD
          - YTD
          - OneYear
          - ThreeYear
          - FiveYear
          - TenYear
          - Inception
          - AllDates
        dailyFactorLimiter:
          type: string
          enum:
          - None
          - Day
          - MTD
          - QTD
          - YTD
          - OneYear
          - ThreeYear
          - FiveYear
          - TenYear
          - Inception
          - AllDates
        calendarYears:
          items:
            type: integer
            format: int32
          type: array
        previousYears:
          items:
            type: integer
            format: int32
          type: array
        interval:
          type: string
        indexOverrides:
          items:
            type: string
          type: array
        clientPerformanceInclude:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
        calculationMethod:
          type: string
          enum:
          - TWR
          - Simple
          - IRR
        debugMode:
          type: boolean
        feeCalculationMethod:
          type: string
          enum:
          - NetOfFees
          - GrossOfFees
          - Both
        annualizePerformance:
          type: boolean
        includeAccruedInterest:
          type: boolean
        allowFirstDayPerformance:
          type: boolean
        allowIntraDayPerformance:
          type: boolean
        forceAssetGroupingIntraDayPerformance:
          type: boolean
        annualizationDayCountMethod:
          type: string
          enum:
          - DaysWithValueOnly
          - AllDaysWithinRange
        suppressMixedRanges:
          type: boolean
        suppressMixedAssetLevelGroups:
          type: boolean
        unmanagedInclusionOverride:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
        accountManagementOverride:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Performance.PerformanceAccountManagement'
          xml:
            name: PerformanceAccountManagement
            wrapped: true
          type: array
        benchmarks:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerbosePerformanceBenchmarkDto'
          xml:
            name: VerbosePerformanceBenchmarkDto
            wrapped: true
          type: array
        includeProductBreakdown:
          type: boolean
        minimumInceptionDate:
          type: string
          format: date-time
      xml:
        name: VerbosePerformanceSettingsDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
