openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Account Merge Batch Detail API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/AccountMergeBatchDetail
paths:
  /v1/Confirm/AccountMergeBatchDetail:
    get:
      tags:
      - Confirm/AccountMergeBatchDetail
      summary: Gets all account merge batch detail rows
      operationId: AccountMergeBatchDetail_GetAccountMergeBatchDetailsAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Confirm/AccountMergeBatchDetail/{batchId}:
    get:
      tags:
      - Confirm/AccountMergeBatchDetail
      summary: Gets account merge batch detail rows for a batch
      operationId: AccountMergeBatchDetail_GetAccountMergeBatchDetailsByBatchIdAsync
      parameters:
      - name: batchId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/AccountMergeBatchDetail
      summary: Bulk updates account merge batch detail rows for cancel or retry
      operationId: AccountMergeBatchDetail_UpdateAccountMergeBatchDetailsAsync
      parameters:
      - name: batchId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AccountMerge.AccountMergeBatchDetailUpdateDto'
              xml:
                name: AccountMergeBatchDetailUpdateDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AccountMerge.AccountMergeBatchDetailUpdateDto'
              xml:
                name: AccountMergeBatchDetailUpdateDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AccountMerge.AccountMergeBatchDetailUpdateDto'
              xml:
                name: AccountMergeBatchDetailUpdateDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AccountMerge.AccountMergeBatchDetailUpdateDto'
              xml:
                name: AccountMergeBatchDetailUpdateDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AccountMerge.AccountMergeBatchDetailUpdateDto'
              xml:
                name: AccountMergeBatchDetailUpdateDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AccountMerge.AccountMergeBatchDetailUpdateDto'
              xml:
                name: AccountMergeBatchDetailUpdateDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AccountMerge.AccountMergeBatchDetailUpdateDto'
              xml:
                name: AccountMergeBatchDetailUpdateDto
                wrapped: true
              type: array
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Confirm.AccountMerge.AccountMergeBatchDetailUpdateDto:
      properties:
        sourceAccountId:
          type: integer
          format: int32
        accountMergeStatus:
          type: string
          enum:
          - Pending
          - Processing
          - Complete
          - Error
          - Cancelled
        isRetry:
          type: boolean
        isPriority:
          type: boolean
      xml:
        name: AccountMergeBatchDetailUpdateDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
