openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Reports API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/Reports
paths:
  /v1/Reporting/Reports:
    get:
      tags:
      - Reporting/Reports
      operationId: RunReports_GetAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: menu
        in: query
        required: false
        schema:
          type: string
      - name: orionConnectMenu
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: parentCategory
        in: query
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Ssrs
            - Envision
            - All
      - name: isDeleted
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ReportBaseDto'
                xml:
                  name: ReportBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ReportBaseDto'
                xml:
                  name: ReportBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ReportBaseDto'
                xml:
                  name: ReportBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ReportBaseDto'
                xml:
                  name: ReportBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ReportBaseDto'
                xml:
                  name: ReportBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ReportBaseDto'
                xml:
                  name: ReportBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Run reports get async
      x-summary-source: derived
  /v1/Reporting/Reports/{key}/Calculate/InceptionDate:
    post:
      tags:
      - Reporting/Reports
      summary: Used to calculate the appropriate inception date for the provided report.
      operationId: RunReports_PostV1ReportingReportsByKeyCalculateInceptionDate
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
        description: An object that contains the parameters for this report run.
        required: true
  /v1/Reporting/Reports/{key}/Generate:
    post:
      tags:
      - Reporting/Reports
      summary: Used to generate a report pdf with the provided report parameters.
      operationId: RunReports_GenerateRb2ReportAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: waitForReport
        in: query
        description: 'Optional. Default: false. If true the response will be sent when the file has finished generating. If false a response will be generated immediately unless directly downloading the report.'
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
        description: An object that contains the parameters for this report run.
        required: true
  /v1/Reporting/Reports/{key}/Generate/{session}/Status:
    get:
      tags:
      - Reporting/Reports
      summary: Used to get the status of a previously requested report generation
      operationId: RunReports_GenerateStatus
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: session
        in: path
        description: The session provided by the generate endpoint.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.BatchReportGenerationStatus'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.BatchReportGenerationStatus'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.BatchReportGenerationStatus'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.BatchReportGenerationStatus'
      security:
      - Authorization: []
  /v1/Reporting/Reports/{key}/Parameters/EntityDefaults:
    put:
      tags:
      - Reporting/Reports
      summary: Used to save the entity level default parameters for a the provided report.
      operationId: RunReports_PutV1ReportingReportsByKeyParametersEntityDefaults
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
        description: An object that contains the parameters for this report run.
        required: true
    post:
      tags:
      - Reporting/Reports
      summary: Used to save the entity level default parameters for a the provided report.
      operationId: RunReports_SaveEntityDefaultParametersAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
        description: An object that contains the parameters for this report run.
        required: true
  /v1/Reporting/Reports/{key}/Parameters/EntityDefaults/Delete/{entity}/{entityId}:
    post:
      tags:
      - Reporting/Reports
      summary: Used to delete the entity level default parameters for a the provided report.
      operationId: RunReports_DeleteEntityDefaultParametersAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: entity
        in: path
        description: The kind of entity that the parameters will be saved for.
        required: true
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      - name: entityId
        in: path
        description: The key of the entity that the parameters will be saved for.
        required: true
        schema:
          type: integer
          format: int32
      - name: runAssignedVersion
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Reports/{key}/Parameters/ReportDefaults:
    put:
      tags:
      - Reporting/Reports
      summary: Used to save the report level default parameters for a the provided report.
      operationId: RunReports_PutV1ReportingReportsByKeyParametersReportDefaults
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
        description: An object that contains the parameters for this report run.
        required: true
    post:
      tags:
      - Reporting/Reports
      summary: Used to save the report level default parameters for a the provided report.
      operationId: RunReports_SaveReportDefaultParametersAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
        description: An object that contains the parameters for this report run.
        required: true
  /v1/Reporting/Reports/{key}/Parameters/ReportDefaults/Delete:
    post:
      tags:
      - Reporting/Reports
      summary: Used to delete the report level default parameters for a the provided report.
      operationId: RunReports_DeleteReportDefaultParametersAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
        description: An object that contains the parameters for this report run.
        required: true
  /v1/Reporting/Reports/{key}/Parameters/UserDefaults:
    put:
      tags:
      - Reporting/Reports
      summary: Used to save the user level default parameters for a the provided report.
      operationId: RunReports_PutV1ReportingReportsByKeyParametersUserDefaults
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
        description: An object that contains the parameters for this report run.
        required: true
    post:
      tags:
      - Reporting/Reports
      summary: Used to save the user level default parameters for a the provided report.
      operationId: RunReports_SaveUserDefaultParametersAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
        description: An object that contains the parameters for this report run.
        required: true
  /v1/Reporting/Reports/{key}/Parameters/UserDefaults/Delete:
    post:
      tags:
      - Reporting/Reports
      summary: Used to delete the user level default parameters for a the provided report.
      operationId: RunReports_DeleteUserDefaultParametersAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
        description: An object that contains the parameters for this report run.
        required: true
  /v1/Reporting/Reports/{reportId}:
    get:
      tags:
      - Reporting/Reports
      summary: Gets a dictionary of all the parameters used in all sections that the logged in…
      operationId: RunReports_GetParametersAsync
      parameters:
      - name: reportId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      - name: runAssignedVersion
        in: query
        description: 'Optional. Default: true. If true a version look up will occur where any entity assigned to a version will run that version instead of the provided report. If false the report specified will always ben run regaurdless of version assignment.'
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/Reports
      summary: Fills in the storable paramaters (if any) for the provided report that has the…
      operationId: RunReports_PutV1ReportingReportsByReportId
      parameters:
      - name: reportId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
        description: The report that storable entities will be added into.
        required: true
    post:
      tags:
      - Reporting/Reports
      summary: Fills in the storable paramaters (if any) for the provided report that has the…
      operationId: RunReports_PostV1ReportingReportsByReportId
      parameters:
      - name: reportId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
        description: The report that storable entities will be added into.
        required: true
  /v1/Reporting/Reports/{reportId}/Calculate/InceptionDate:
    post:
      tags:
      - Reporting/Reports
      summary: Used to calculate the appropriate inception date for the provided report.
      operationId: RunReports_CalculateInceptionDateAsync
      parameters:
      - name: reportId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
        description: An object that contains the parameters for this report run.
        required: true
  /v1/Reporting/Reports/{reportId}/Generate:
    post:
      tags:
      - Reporting/Reports
      summary: Used to generate a report pdf with the provided report parameters.
      operationId: RunReports_GenerateRb3ReportAsync
      parameters:
      - name: reportId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: waitForReport
        in: query
        description: 'Optional. Default: false. If true the response will be sent when the file has finished generating. If false a response will be generated immediately unless directly downloading the report.'
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
        description: An object that contains the parameters for this report run.
        required: true
  /v1/Reporting/Reports/{reportId}/Parameters:
    get:
      tags:
      - Reporting/Reports
      summary: Gets a dictionary of all the parameters used in all sections that the logged in…
      operationId: RunReports_GetV1ReportingReportsByReportIdParameters
      parameters:
      - name: reportId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      - name: runAssignedVersion
        in: query
        description: 'Optional. Default: true. If true a version look up will occur where any entity assigned to a version will run that version instead of the provided report. If false the report specified will always ben run regaurdless of version assignment.'
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/Reports
      summary: Fills in the storable paramaters (if any) for the provided report that has the…
      operationId: RunReports_PutV1ReportingReportsByReportIdParameters
      parameters:
      - name: reportId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
        description: The report that storable entities will be added into.
        required: true
    post:
      tags:
      - Reporting/Reports
      summary: Fills in the storable paramaters (if any) for the provided report that has the…
      operationId: RunReports_PostV1ReportingReportsByReportIdParameters
      parameters:
      - name: reportId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto'
        description: The report that storable entities will be added into.
        required: true
  /v1/Reporting/Reports/{reportId}/Parameters/{parentParameterName}/{parentParameterValue}/ChildOptions:
    get:
      tags:
      - Reporting/Reports
      summary: For a given parent parameter/value, it returns options fo rthe child parameter.
      operationId: RunReports_GetChildOptionsAsync
      parameters:
      - name: reportId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: parentParameterName
        in: path
        required: true
        schema:
          type: string
      - name: parentParameterValue
        in: path
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                additionalProperties:
                  type: string
                type: object
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
            text/json:
              schema:
                additionalProperties:
                  type: string
                type: object
            multipart/form-data:
              schema:
                additionalProperties:
                  type: string
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Reports/{reportId}/ReportInboxes:
    put:
      tags:
      - Reporting/Reports
      summary: Gets a list of the valid report inbox options
      operationId: RunReports_PutV1ReportingReportsByReportIdReportInboxes
      parameters:
      - name: reportId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
        description: The report that storable entities will be added into.
        required: true
    post:
      tags:
      - Reporting/Reports
      summary: Gets a list of the valid report inbox options
      operationId: RunReports_GetReportInboxesAsync
      parameters:
      - name: reportId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
        description: The report that storable entities will be added into.
        required: true
  /v1/Reporting/Reports/{reportId}/Run/{fileGuid}:
    get:
      tags:
      - Reporting/Reports
      summary: Used to download a previously generated report pdf
      operationId: RunReports_RunReportAsync
      parameters:
      - name: reportId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: fileGuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    head:
      tags:
      - Reporting/Reports
      summary: Used to download a previously generated report pdf
      operationId: RunReports_HeadV1ReportingReportsByReportIdRunByFileGuid
      parameters:
      - name: reportId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: fileGuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Reports/Code/{code}:
    get:
      tags:
      - Reporting/Reports
      summary: Gets a dictionary of all the parameters used in all sections that the logged in…
      operationId: RunReports_GetReportByCodeAsync
      parameters:
      - name: code
        in: path
        description: Code of the desired report.
        required: true
        schema:
          type: string
      - name: runAssignedVersion
        in: query
        description: 'Optional. Default: true. If true a version look up will occur where any entity assigned to a version will run that version instead of the provided report. If false the report specified will always ben run regaurdless of version assignment.'
        required: false
        schema:
          type: boolean
          default: true
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportDto'
      security:
      - Authorization: []
  /v1/Reporting/Reports/Simple/Search:
    get:
      tags:
      - Reporting/Reports
      operationId: RunReports_GetReportSimpleSearchAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: menu
        in: query
        required: false
        schema:
          type: string
      - name: orionConnectMenu
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: parentCategory
        in: query
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Ssrs
            - Envision
            - All
      - name: isDeleted
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityBase'
                xml:
                  name: SimpleEntityBase
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityBase'
                xml:
                  name: SimpleEntityBase
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityBase'
                xml:
                  name: SimpleEntityBase
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityBase'
                xml:
                  name: SimpleEntityBase
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityBase'
                xml:
                  name: SimpleEntityBase
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityBase'
                xml:
                  name: SimpleEntityBase
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Run reports get report simple search async
      x-summary-source: derived
  /v1/Reporting/Reports/Simple/Search/{search}:
    get:
      tags:
      - Reporting/Reports
      operationId: RunReports_GetV1ReportingReportsSimpleSearchBySearch
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: search
        in: path
        required: true
        schema:
          type: string
      - name: menu
        in: query
        required: false
        schema:
          type: string
      - name: orionConnectMenu
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: parentCategory
        in: query
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Ssrs
            - Envision
            - All
      - name: isDeleted
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityBase'
                xml:
                  name: SimpleEntityBase
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityBase'
                xml:
                  name: SimpleEntityBase
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityBase'
                xml:
                  name: SimpleEntityBase
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityBase'
                xml:
                  name: SimpleEntityBase
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityBase'
                xml:
                  name: SimpleEntityBase
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityBase'
                xml:
                  name: SimpleEntityBase
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Run reports get V1 reporting reports simple search by search
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.Reporting.Interfaces.IReportFeatureFlagOverrider:
      properties:
        dynamicBenchmarkProcessType:
          readOnly: true
          type: string
          enum:
          - Cloud
          - LocalService
        forceAssetGroupingIntraDayPerformance:
          readOnly: true
          type: boolean
        activityProcessType:
          readOnly: true
          type: string
          enum:
          - Cloud
          - LocalService
        costBasisProcessType:
          type: string
          enum:
          - Old
          - Cloud
          - LocalService
        morningstarLevel2Assignment:
          type: boolean
        localPriceCutOverDate:
          type: string
          format: date-time
        noScope:
          type: boolean
        ensureAssetsUpdated:
          type: boolean
        storeReportDataCompressed:
          type: boolean
        showEInModelNames:
          type: boolean
        performanceProcessType:
          type: string
          enum:
          - Cloud
          - LocalService
        forceNonSummaryPerformanceToUseTwr:
          type: boolean
        forceNetOfFeesPerformance:
          type: boolean
        costBasisStoredSource:
          type: string
          enum:
          - Orion
          - Custodian
        tradingWithParentGrouping:
          type: boolean
        useGlobalSettingsUniqueIds:
          type: boolean
        showEquations:
          type: boolean
        isReportCompare:
          type: boolean
        useBenchmarksInAccountChangeHistory:
          type: boolean
        benchmarkAssignmentOverride:
          type: string
        useAsOfDateForAdvizr:
          type: boolean
        accountNumbersToShow:
          type: integer
          format: int32
        useBatchSettingsBulkCopy:
          type: boolean
        showExcludedFromRebalance:
          type: boolean
        useInMemoryForModelVsActual:
          type: boolean
        useNewLineChartRenderer:
          type: boolean
        useNewScatterPlotChartRenderer:
          type: boolean
        useInMemoryIncomeCalculation:
          type: boolean
        useModelAllocationHistory:
          type: boolean
        useDisclaimerShadowDom:
          type: boolean
      xml:
        name: IReportFeatureFlagOverrider
      type: object
    OAS.WebApi.DTO.Reporting.RunReport.RunReportOptionDto:
      properties:
        id:
          type: integer
          format: int32
        childParameter:
          type: string
        name:
          type: string
        value:
          type: string
        display:
          type: string
        order:
          type: integer
          format: int32
        description:
          type: string
        input:
          type: string
        options:
          type: object
      xml:
        name: RunReportOptionDto
      type: object
    OAS.DataModel.Reporting.ReportOption:
      required:
      - id
      - $type
      properties:
        id:
          type: string
        $type:
          readOnly: true
          type: string
        optionGuid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        optionId:
          type: integer
          format: int32
        isDisabled:
          type: boolean
        isGlobal:
          type: boolean
        isIgnored:
          type: boolean
        name:
          type: string
        useInception:
          type: boolean
        prompt:
          type: string
          enum:
          - Never
          - Always
      xml:
        name: ReportOption
      type: object
    OAS.WebApi.DTO.Reporting.RunReport.RunReportCategoryDto:
      properties:
        category:
          type: string
        parameters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportOptionDto'
          xml:
            name: RunReportOptionDto
            wrapped: true
          type: array
      xml:
        name: RunReportCategoryDto
      type: object
    OAS.WebApi.DTO.Reporting.RunReport.RunToDto:
      properties:
        reportFormat:
          type: string
          enum:
          - Xml
          - 'Null'
          - Csv
          - Image
          - PDF
          - Html
          - Html40
          - Html32
          - Mhtml
          - Excel
          - ExcelX
          - HtmlOwc
          - Json
          - CustomImport
        storageType:
          type: string
        provider:
          type: string
        folderPath:
          type: string
        combinationMethod:
          type: string
          enum:
          - None
          - Aggregate
          - Zip
          - Merge
          - MergeSimplex
          - MergeDuplex
          - TarGzip
        userIdList:
          items:
            type: integer
            format: int32
          type: array
        archiveReport:
          type: boolean
        uploadTargetId:
          type: integer
          format: int32
        source:
          type: string
          enum:
          - OnDemandUI
          - OnDemandAPI
          - QueryTester
          - Scheduled
          - AuditRequestOnDemand
          - AuditTestOnDemand
          - AuditTestSchedule
          - SubscriptionNotification
          - ReportBatchSyncDynamicGroupEntities
          - ReconCompleteNotification
          - DashboardDataAuditProcess
          - DashboardDataAuditProcessCountOnly
      xml:
        name: RunToDto
      type: object
    OAS.DataModel.Reporting.Engine.IGroupingOptionOverrider:
      properties:
        allowExpireClientsToStorePerformance:
          type: boolean
        ensureAssetsUpdated:
          type: boolean
        groupCustodialCashTogether:
          type: boolean
        groupLinksTogether:
          type: boolean
        returnActiveLinkedEntity:
          type: boolean
        useAccountChange:
          type: boolean
        useSmaSettings:
          type: boolean
        accountInclusion:
          type: string
        includeHistoricalLinks:
          type: string
      xml:
        name: IGroupingOptionOverrider
      type: object
    OAS.WebApi.DTO.Reporting.RunReport.RunForDto:
      properties:
        entityId:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        personalId:
          type: integer
          format: int32
      xml:
        name: RunForDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Reporting.RunReport.BatchReportGenerationStatus:
      properties:
        status:
          type: string
          enum:
          - NotGenerated
          - ErroredReport
          - OnHold
          - Generated
          - PendingGeneration
          - WillNotBeGenerated
        reports:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ReportGenerationStatus'
          xml:
            name: ReportGenerationStatus
            wrapped: true
          type: array
        totalReports:
          type: integer
          format: int32
      xml:
        name: BatchReportGenerationStatus
      type: object
    OAS.WebApi.DTO.Reporting.RunReport.ReportBaseDto:
      properties:
        reportName:
          type: string
        reportDescription:
          type: string
        parentCategory:
          type: string
        category:
          type: string
        runAssignedVersion:
          type: boolean
      xml:
        name: ReportBaseDto
      type: object
    OAS.WebApi.DTO.Reporting.RunReport.RunReportDto:
      properties:
        id:
          type: integer
          format: int32
        disclaimer:
          type: string
        hasStorableParameters:
          type: boolean
        hasReportDefaults:
          type: boolean
        hasUserDefaults:
          type: boolean
        hasEntityDefaults:
          type: boolean
        showInternalOnlyWarning:
          type: boolean
        layoutType:
          type: string
          enum:
          - Standard
          - Advanced
        defaultsType:
          readOnly: true
          type: string
        lastRunDate:
          type: string
          format: date-time
        storable:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportCategoryDto'
          xml:
            name: RunReportCategoryDto
            wrapped: true
          type: array
        unstorable:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunReportCategoryDto'
          xml:
            name: RunReportCategoryDto
            wrapped: true
          type: array
        runTo:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunToDto'
        entities:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunForDto'
          xml:
            name: RunForDto
            wrapped: true
          type: array
        reportName:
          type: string
        reportDescription:
          type: string
        parentCategory:
          type: string
        category:
          type: string
        runAssignedVersion:
          type: boolean
      xml:
        name: RunReportDto
      type: object
    OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto:
      properties:
        inceptionDate:
          type: string
          format: date-time
      xml:
        name: InceptionDateDto
      type: object
    OAS.WebApi.DTO.Reporting.Envision.EnvisionReportDto:
      properties:
        id:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        requiredOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.ReportOption'
          xml:
            name: ReportOption
            wrapped: true
          type: array
        additionalOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.ReportOptionCategory'
          xml:
            name: ReportOptionCategory
            wrapped: true
          type: array
        deliveryOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.ReportOption'
          xml:
            name: ReportOption
            wrapped: true
          type: array
        hasAdditionalOptions:
          type: boolean
        featureFlagOverrides:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IReportFeatureFlagOverrider'
        groupingOptionOverrider:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Engine.IGroupingOptionOverrider'
        isFavorite:
          type: boolean
        reportName:
          type: string
        reportDescription:
          type: string
        parentCategory:
          type: string
        category:
          type: string
        runAssignedVersion:
          type: boolean
      xml:
        name: EnvisionReportDto
      type: object
    OAS.DataModel.Reporting.ReportOptionCategory:
      required:
      - category
      - options
      properties:
        category:
          type: string
        options:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.ReportOption'
          xml:
            name: ReportOption
            wrapped: true
          type: array
      xml:
        name: ReportOptionCategory
      type: object
    OAS.WebApi.DTO.Reporting.RunReport.ReportGenerationStatus:
      properties:
        runFor:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunForDto'
        status:
          type: string
          enum:
          - NotGenerated
          - ErroredReport
          - OnHold
          - Generated
          - PendingGeneration
          - WillNotBeGenerated
        location:
          type: string
      xml:
        name: ReportGenerationStatus
      type: object
    OAS.DataModel.SimpleEntityBase:
      properties:
        name:
          type: string
      xml:
        name: SimpleEntityBase
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
