openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Scheduler Maintenance API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/SchedulerMaintenance
paths:
  /v1/Confirm/SchedulerMaintenance:
    get:
      tags:
      - Confirm/SchedulerMaintenance
      summary: Gets all of the scheduler Maintenance items targets
      operationId: SchedulerMaintenance_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
                xml:
                  name: SchedulerMaintenanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
                xml:
                  name: SchedulerMaintenanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
                xml:
                  name: SchedulerMaintenanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
                xml:
                  name: SchedulerMaintenanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
                xml:
                  name: SchedulerMaintenanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
                xml:
                  name: SchedulerMaintenanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/SchedulerMaintenance
      summary: Update scheduler maintenance item
      operationId: SchedulerMaintenance_UpdateSchedulerMaintenanceAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
                xml:
                  name: SchedulerMaintenanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
                xml:
                  name: SchedulerMaintenanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
                xml:
                  name: SchedulerMaintenanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
                xml:
                  name: SchedulerMaintenanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
                xml:
                  name: SchedulerMaintenanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
                xml:
                  name: SchedulerMaintenanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
              xml:
                name: SchedulerMaintenanceDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
              xml:
                name: SchedulerMaintenanceDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
              xml:
                name: SchedulerMaintenanceDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
              xml:
                name: SchedulerMaintenanceDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
              xml:
                name: SchedulerMaintenanceDto
                wrapped: true
              type: array
        required: true
  /v1/Confirm/SchedulerMaintenance/{key}:
    get:
      tags:
      - Confirm/SchedulerMaintenance
      summary: Get scheduler maintenance by key
      operationId: SchedulerMaintenance_GetByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/SchedulerMaintenance
      summary: Update scheduler maintenance item
      operationId: SchedulerMaintenance_PutV1ConfirmSchedulerMaintenanceByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto'
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Confirm.SchedulerMaintenanceDto:
      properties:
        id:
          type: integer
          format: int32
        ruleId:
          type: integer
          format: int32
        isActive:
          type: boolean
        description:
          type: string
        runOrder:
          type: integer
          format: int32
        maintenanceOptionJSON:
          type: string
      xml:
        name: SchedulerMaintenanceDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
