openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Matrix Cash Activity Gemini API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/MatrixCashActivityGemini
paths:
  /v1/Confirm/MatrixCashActivityGemini/Action/Convert:
    post:
      tags:
      - Confirm/MatrixCashActivityGemini
      operationId: MatrixCashActivityGemini_ConvertAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiConvertDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiConvertDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiConvertDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiConvertDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiConvertDto'
        required: true
      summary: Matrix cash activity gemini convert async
      x-summary-source: derived
  /v1/Confirm/MatrixCashActivityGemini/Action/Inspect:
    post:
      tags:
      - Confirm/MatrixCashActivityGemini
      operationId: MatrixCashActivityGemini_InspectAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiInspectResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiInspectResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiInspectResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiInspectResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiInspectResultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiInspectResultDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiInspectDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiInspectDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiInspectDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiInspectDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiInspectDto'
        required: true
      summary: Matrix cash activity gemini inspect async
      x-summary-source: derived
  /v1/Confirm/MatrixCashActivityGemini/Action/Validate:
    post:
      tags:
      - Confirm/MatrixCashActivityGemini
      operationId: MatrixCashActivityGemini_ValidateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiValidateResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiValidateResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiValidateResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiValidateResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiValidateResultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiValidateResultDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiValidateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiValidateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiValidateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiValidateDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiValidateDto'
        required: true
      summary: Matrix cash activity gemini validate async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiInspectDto:
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
      xml:
        name: MatrixCashActivityGeminiInspectDto
      type: object
    OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiValidateDto:
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
        fileType:
          type: string
          enum:
          - Settlement
          - Dividend
        tradeDate:
          type: string
          format: date-time
        worksheetNames:
          items:
            type: string
          type: array
      xml:
        name: MatrixCashActivityGeminiValidateDto
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiInspectResultDto:
      properties:
        worksheetNames:
          items:
            type: string
          type: array
        suggestedWorksheet:
          type: string
      xml:
        name: MatrixCashActivityGeminiInspectResultDto
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiConvertDto:
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
        fileType:
          type: string
          enum:
          - Settlement
          - Dividend
        tradeDate:
          type: string
          format: date-time
        worksheetNames:
          items:
            type: string
          type: array
      xml:
        name: MatrixCashActivityGeminiConvertDto
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
    OAS.WebApi.DTO.Confirm.MatrixCashActivityGemini.MatrixCashActivityGeminiValidateResultDto:
      properties:
        isValid:
          type: boolean
        columnErrors:
          items:
            type: string
          type: array
        missingAssetWarnings:
          items:
            type: string
          type: array
        rowCount:
          type: integer
          format: int32
      xml:
        name: MatrixCashActivityGeminiValidateResultDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
