openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Broker Dealers API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/BrokerDealers
paths:
  /v1/Portfolio/BrokerDealers:
    get:
      tags:
      - Portfolio/BrokerDealers
      summary: Gets a list of broker/dealers that the logged in user has access to
      operationId: BrokerDealers_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
                xml:
                  name: BrokerDealerDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
                xml:
                  name: BrokerDealerDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
                xml:
                  name: BrokerDealerDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
                xml:
                  name: BrokerDealerDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
                xml:
                  name: BrokerDealerDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
                xml:
                  name: BrokerDealerDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/BrokerDealers/{additionalContactId}/SSNTaxId:
    put:
      tags:
      - Portfolio/BrokerDealers
      summary: Retrieve or update SSN for addtional contact
      description: If updateInfo.SSN is null => we will just retrieve SSN otherwise we will attempt to update SSN with data in updateInfo.SSN
      operationId: BrokerDealers_UpdateSSNTaxId
      parameters:
      - name: additionalContactId
        in: path
        description: The personal id of the additional contact
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
        required: true
  /v1/Portfolio/BrokerDealers/{key}:
    get:
      tags:
      - Portfolio/BrokerDealers
      summary: Gets the broker/dealer that has the provided key.
      operationId: BrokerDealers_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
      security:
      - Authorization: []
  /v1/Portfolio/BrokerDealers/{key}/Documents:
    get:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_GetBlobs
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - CrmDocuments
            - Payable
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Broker dealers get blobs
      x-summary-source: derived
    post:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_CreateBlobAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerFileDto'
        required: true
      summary: Broker dealers create blob async
      x-summary-source: derived
  /v1/Portfolio/BrokerDealers/{key}/Documents/{fileId}:
    get:
      tags:
      - Portfolio/BrokerDealers
      summary: Gets a file for the broker/dealer with the specified key and the file with the…
      operationId: BrokerDealers_GetBlobDto
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        description: Key of the file to be returned.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_UpdateBlobAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerFileDto'
        required: true
      summary: Broker dealers update blob async
      x-summary-source: derived
    delete:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_DeleteBlob
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Broker dealers delete blob
      x-summary-source: derived
  /v1/Portfolio/BrokerDealers/{key}/Documents/{fileId}/Download:
    get:
      tags:
      - Portfolio/BrokerDealers
      summary: Gets the raw data of the specific file with the blobId provided which is…
      operationId: BrokerDealers_GetBlobFile
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        description: Key of the file to be downloaded.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/BrokerDealers/{key}/ReportImage:
    get:
      tags:
      - Portfolio/BrokerDealers
      summary: Gets the representative's report image if one exists.
      operationId: BrokerDealers_GetImageById
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/BrokerDealers/{key}/Simple:
    get:
      tags:
      - Portfolio/BrokerDealers
      summary: Gets the simple broker/dealer that has the provided key.
      operationId: BrokerDealers_GetSimpleByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
      security:
      - Authorization: []
  /v1/Portfolio/BrokerDealers/{key}/UserDefinedFields:
    get:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_GetUserDefinedFields
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: entities
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - BrokerDealers
            - Wholesalers
            - Representatives
            - Clients
            - Registrations
            - Accounts
            - Assets
            - Transactions
            - Products
            - FundFamilies
            - ModelRanges
            - PortfolioGroups
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Broker dealers get user defined fields
      x-summary-source: derived
  /v1/Portfolio/BrokerDealers/Action/Delete:
    put:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Broker dealers action delete
      x-summary-source: derived
  /v1/Portfolio/BrokerDealers/Action/RecalculateAUMData:
    put:
      tags:
      - Portfolio/BrokerDealers
      summary: Endpoint to recalculate AUM data for a broker/dealer
      operationId: BrokerDealers_RecalculateAUMData
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
                xml:
                  name: BrokerDealerDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
                xml:
                  name: BrokerDealerDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
                xml:
                  name: BrokerDealerDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
                xml:
                  name: BrokerDealerDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
                xml:
                  name: BrokerDealerDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerDto'
                xml:
                  name: BrokerDealerDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/BrokerDealers/Simple:
    get:
      tags:
      - Portfolio/BrokerDealers
      summary: Gets a simple list of broker/dealers that the logged in user has access to
      operationId: BrokerDealers_GetSimple
      parameters:
      - name: hasValue
        in: query
        description: Optional. When provided will only return broker/dealers that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/BrokerDealers/Simple/List:
    post:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_GetSimpleListById
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Broker dealers get simple list by id
      x-summary-source: derived
  /v1/Portfolio/BrokerDealers/Simple/List/Id:
    post:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_PostV1PortfolioBrokerDealersSimpleListId
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Broker dealers post V1 portfolio broker dealers simple list id
      x-summary-source: derived
  /v1/Portfolio/BrokerDealers/Simple/Search:
    get:
      tags:
      - Portfolio/BrokerDealers
      summary: Gets a simple list of broker dealers that the logged in user has access to…
      operationId: BrokerDealers_GetSimpleRepresentativeSearch
      parameters:
      - name: search
        in: query
        description: Partial representative name to search for.
        required: true
        schema:
          type: string
      - name: hasEmail
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/BrokerDealers/Simple/Search/{search}:
    get:
      tags:
      - Portfolio/BrokerDealers
      summary: Gets a simple list of broker dealers that the logged in user has access to…
      operationId: BrokerDealers_GetV1PortfolioBrokerDealersSimpleSearchBySearch
      parameters:
      - name: search
        in: path
        description: Partial representative name to search for.
        required: true
        schema:
          type: string
      - name: hasEmail
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/BrokerDealers/Value:
    get:
      tags:
      - Portfolio/BrokerDealers
      summary: Gets a simple list of broker/dealers (including aum for today) that the logged…
      operationId: BrokerDealers_GetValue
      parameters:
      - name: hasValue
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/BrokerDealers/Value/{asOfDate}:
    get:
      tags:
      - Portfolio/BrokerDealers
      summary: Gets a simple list of broker/dealers (including aum for the end of the date…
      operationId: BrokerDealers_GetValueAsOfDate
      parameters:
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      - name: hasValue
        in: query
        description: Optional. When provided will only return broker/dealers that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/BrokerDealers/Verbose:
    get:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_GetVerbose
      parameters:
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - AdditionalContacts
            - AdvPayee
            - Notes
            - Documents
            - UserDefinedFields
            - ReportImage
            - BrokerDealerRevenueShare
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Broker dealers get verbose
      x-summary-source: derived
    put:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_UpdateVerboseBrokerDealerAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
              xml:
                name: BrokerDealerVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
              xml:
                name: BrokerDealerVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
              xml:
                name: BrokerDealerVerboseDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
              xml:
                name: BrokerDealerVerboseDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
              xml:
                name: BrokerDealerVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
              xml:
                name: BrokerDealerVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
              xml:
                name: BrokerDealerVerboseDto
                wrapped: true
              type: array
        required: true
      summary: Broker dealers update verbose broker dealer async
      x-summary-source: derived
    post:
      tags:
      - Portfolio/BrokerDealers
      summary: Create new broker/dealer
      operationId: BrokerDealers_CreateVerboseBrokerDealer
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
        required: true
  /v1/Portfolio/BrokerDealers/Verbose/{key}:
    get:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_GetVerboseByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - AdditionalContacts
            - AdvPayee
            - Notes
            - Documents
            - UserDefinedFields
            - ReportImage
            - BrokerDealerRevenueShare
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
      security:
      - Authorization: []
      summary: Broker dealers get verbose by key
      x-summary-source: derived
    put:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_PutV1PortfolioBrokerDealersVerboseByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
        required: true
      summary: Broker dealers put V1 portfolio broker dealers verbose by key
      x-summary-source: derived
  /v1/Portfolio/BrokerDealers/Verbose/{key}/SSNTaxId:
    put:
      tags:
      - Portfolio/BrokerDealers
      summary: Retrieve or update SSN for broker dealer
      description: If updateInfo.SSN is null => we will just retrieve SSN otherwise we will attempt to update SSN with data in updateInfo.SSN
      operationId: BrokerDealers_UpdateBrokerDealerSSNTaxId
      parameters:
      - name: key
        in: path
        description: The personal id of the additional contact
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
        required: true
  /v1/Portfolio/BrokerDealers/Verbose/List:
    post:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_GetVerboseListById
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - AdditionalContacts
            - AdvPayee
            - Notes
            - Documents
            - UserDefinedFields
            - ReportImage
            - BrokerDealerRevenueShare
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Broker dealers get verbose list by id
      x-summary-source: derived
  /v1/Portfolio/BrokerDealers/Verbose/List/Id:
    post:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_PostV1PortfolioBrokerDealersVerboseListId
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - AdditionalContacts
            - AdvPayee
            - Notes
            - Documents
            - UserDefinedFields
            - ReportImage
            - BrokerDealerRevenueShare
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
                xml:
                  name: BrokerDealerVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Broker dealers post V1 portfolio broker dealers verbose list id
      x-summary-source: derived
  /v1/Portfolio/BrokerDealers/Verbose/New:
    get:
      tags:
      - Portfolio/BrokerDealers
      operationId: BrokerDealers_GetNewVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - AdditionalContacts
            - AdvPayee
            - Notes
            - Documents
            - UserDefinedFields
            - ReportImage
            - BrokerDealerRevenueShare
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto'
      security:
      - Authorization: []
      summary: Broker dealers get new verbose
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.BrokerDealerAdditionalContactDto:
      properties:
        id:
          type: integer
          format: int32
        type:
          type: string
        salutation:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        name:
          readOnly: true
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        homePhone:
          type: string
        homePhoneExt:
          type: string
        fax:
          type: string
        faxExt:
          type: string
        pager:
          type: string
        pagerExt:
          type: string
        mobilePhone:
          type: string
        businessPhone:
          type: string
        businessPhoneExt:
          type: string
        otherPhone:
          type: string
        otherPhoneExt:
          type: string
        email:
          type: string
        ssN_TaxID:
          type: string
        gender:
          type: string
        dob:
          type: string
          format: date-time
        webAddress:
          type: string
        entityType:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        parentId:
          type: integer
          format: int32
      xml:
        name: BrokerDealerAdditionalContactDto
      type: object
    OAS.WebApi.DTO.Portfolio.BrokerDealerVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        portfolio:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerPortfolioDto'
        notes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NoteDto'
          xml:
            name: NoteDto
            wrapped: true
          type: array
        documents:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DocumentDto'
          xml:
            name: DocumentDto
            wrapped: true
          type: array
        additionalContacts:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerAdditionalContactDto'
          xml:
            name: BrokerDealerAdditionalContactDto
            wrapped: true
          type: array
        brokerDealerRevenueShares:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerRevenueShareDto'
          xml:
            name: BrokerDealerRevenueShareDto
            wrapped: true
          type: array
        brokerDealerRevenueShareAccountTypeExclusions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerRevenueShareAccountTypeExclusionDto'
          xml:
            name: BrokerDealerRevenueShareAccountTypeExclusionDto
            wrapped: true
          type: array
        brokerDealerRevenueShareRepresentativeExclusions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerRevenueShareRepresentativeExclusionDto'
          xml:
            name: BrokerDealerRevenueShareRepresentativeExclusionDto
            wrapped: true
          type: array
        brokerDealerRevenueShareBusinessLineExclusions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerRevenueShareBusinessLineExclusionDto'
          xml:
            name: BrokerDealerRevenueShareBusinessLineExclusionDto
            wrapped: true
          type: array
        reportImage:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BrokerDealerReportImageDto'
        userDefinedFields:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
        entityOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
      xml:
        name: BrokerDealerVerboseDto
      type: object
    OAS.WebApi.DTO.Portfolio.BrokerDealerDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isActive:
          type: boolean
        status:
          type: string
          enum:
          - NoIssues
          - Limited
          - Pending
          - Prospect
          - Rejected
          - Inactive
        crdNumber:
          type: string
        clearingFirm:
          type: string
          enum:
          - SelfClearing
          - Pershing
          - NationalFinancial
          - Unknown
          - TDAmeritrade
          - Schwab
          - TrustCompanyOfAmerica
          - Foliofn
          - Fidelity
          - RBCCapitalMarkets
          - SouthwestSecuritiesInc
        ledgerNumber:
          type: string
        albridgeId:
          type: integer
          format: int32
        value:
          type: number
          format: double
        dazlId:
          type: string
        agreementDate:
          type: string
          format: date-time
        agreementRestriction:
          type: string
        advisorOneDate:
          type: string
          format: date-time
        advisorOneAgree:
          type: boolean
        advisorOneRestriction:
          type: string
        restriction:
          type: string
        repCount:
          type: integer
          format: int32
        agentId:
          type: string
        bdCode:
          type: string
        advOnFile:
          type: boolean
        advYear:
          type: integer
          format: int32
        clsSendAdvTo:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        frequency:
          type: integer
          format: int32
        howAdvRegistered:
          type: string
          enum:
          - Unknown
          - SECRegistered
          - StateRegistered
          - Unregistered
          - Other
        marketingNotes:
          type: string
        mktgMaterialEmail:
          type: string
        mktgMaterialFax:
          type: string
        mktgMaterialSendTo:
          type: string
        nationalConference:
          type: string
        overrideCode:
          type: string
        overridePercent:
          type: number
          format: double
        productReported:
          type: boolean
        regionalConference:
          type: string
        repListReceiveDate:
          type: string
          format: date-time
        reportsEmail:
          type: string
        reportsFax:
          type: string
        reportsSendTo:
          type: string
        sendingQuestionare:
          type: boolean
        transmissionFormat:
          type: integer
          format: int32
        transmissionMethod:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        globalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
      xml:
        name: BrokerDealerDto
      type: object
    OAS.WebApi.DTO.Portfolio.BrokerDealerPortfolioDto:
      properties:
        actgLedgerNum:
          type: string
        advOneAgreeDate:
          type: string
          format: date-time
        advOneRestrictions:
          type: string
        advYear:
          type: integer
          format: int32
        agentID:
          type: string
        agreeDate:
          type: string
          format: date-time
        agreeRestrictions:
          type: string
        albridgeID:
          type: integer
          format: int32
        bdRepRestrict:
          type: string
        bdStatus:
          type: string
          enum:
          - NoIssues
          - Limited
          - Pending
          - Prospect
          - Rejected
          - Inactive
        billPayoutScheduleId:
          type: integer
          format: int32
        clsSendAdvTo:
          type: string
        registrationName:
          type: string
        crdNumber:
          type: string
        clearingFirm:
          type: string
          enum:
          - SelfClearing
          - Pershing
          - NationalFinancial
          - Unknown
          - TDAmeritrade
          - Schwab
          - TrustCompanyOfAmerica
          - Foliofn
          - Fidelity
          - RBCCapitalMarkets
          - SouthwestSecuritiesInc
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        dazlid:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        frequency:
          type: integer
          format: int32
        howIsAdvRegistered:
          type: string
          enum:
          - Unknown
          - SECRegistered
          - StateRegistered
          - Unregistered
          - Other
        id:
          type: integer
          format: int32
        impDate:
          type: string
          format: date-time
        importKey:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        isActive:
          type: boolean
        isAdvOnFile:
          type: boolean
        isAdvOneAgree:
          type: boolean
        isMktingMaterialSent:
          type: boolean
        isProductionReported:
          type: boolean
        isSendingQuestionaire:
          type: boolean
        marketingNotes:
          type: string
        mktMaterialEmail:
          type: string
        mktMaterialFax:
          type: string
        mktMaterialSendTo:
          type: string
        natConference:
          type: string
        oldBDCode:
          type: string
        oldBD_ID:
          type: integer
          format: int32
        overideCode:
          type: string
        overidePerc:
          type: number
          format: double
        payeeId:
          type: integer
          format: int32
        city:
          type: string
        state:
          type: string
        email:
          type: string
        salutation:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        zip:
          type: string
        homePhone:
          type: string
        homePhoneExt:
          type: string
        fax:
          type: string
        faxExt:
          type: string
        pager:
          type: string
        pagerExt:
          type: string
        mobilePhone:
          type: string
        businessPhone:
          type: string
        businessPhoneExt:
          type: string
        otherPhone:
          type: string
        otherPhoneExt:
          type: string
        reportName:
          type: string
        company:
          type: string
        jobTitle:
          type: string
        ssN_TaxID:
          type: string
        gender:
          type: string
        webAddress:
          type: string
        name:
          type: string
        lName:
          type: string
        riaId:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        isValueEditLockedDown:
          type: boolean
      xml:
        name: BrokerDealerPortfolioDto
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDto
      type: object
    OAS.WebApi.DTO.Portfolio.UpdateSsnDto:
      properties:
        ssn:
          type: string
        reason:
          type: string
      xml:
        name: UpdateSsnDto
      type: object
    OAS.WebApi.DTO.Portfolio.BrokerDealerRevenueShareAccountTypeExclusionDto:
      properties:
        id:
          type: integer
          format: int32
        brokerDealerId:
          type: integer
          format: int32
        accountTypeId:
          type: integer
          format: int32
        accountType:
          type: string
      xml:
        name: BrokerDealerRevenueShareAccountTypeExclusionDto
      type: object
    OAS.WebApi.DTO.Portfolio.BrokerDealerFileDto:
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
        openWith:
          type: string
        blobDesc:
          type: string
        category:
          type: string
        blobType:
          type: string
          enum:
          - CrmDocuments
          - Payable
      xml:
        name: BrokerDealerFileDto
      type: object
    OAS.WebApi.DTO.Portfolio.BrokerDealerRevenueShareBusinessLineExclusionDto:
      properties:
        id:
          type: integer
          format: int32
        brokerDealerId:
          type: integer
          format: int32
        businessLineId:
          type: integer
          format: int32
        businessLine:
          type: string
      xml:
        name: BrokerDealerRevenueShareBusinessLineExclusionDto
      type: object
    OAS.WebApi.DTO.Portfolio.BrokerDealerRevenueShareDto:
      properties:
        id:
          type: integer
          format: int32
        brokerDealerId:
          type: integer
          format: int32
        billScheduleId:
          type: integer
          format: int32
        payoutRate:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
      xml:
        name: BrokerDealerRevenueShareDto
      type: object
    OAS.WebApi.DTO.Portfolio.BrokerDealerRevenueShareRepresentativeExclusionDto:
      properties:
        id:
          type: integer
          format: int32
        brokerDealerId:
          type: integer
          format: int32
        repId:
          type: integer
          format: int32
        repName:
          type: string
      xml:
        name: BrokerDealerRevenueShareRepresentativeExclusionDto
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.WebApi.DTO.Portfolio.BrokerDealerReportImageDto:
      properties:
        brokerDealerId:
          type: integer
          format: int32
        image:
          type: string
          format: byte
        height:
          type: number
          format: double
        width:
          type: number
          format: double
        barColor:
          type: string
          maxLength: 50
          minLength: 0
      xml:
        name: BrokerDealerReportImageDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAS.WebApi.DTO.Portfolio.BlobBaseDto:
      properties:
        createdDate:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        openWith:
          type: string
        fileName:
          type: string
        blobDesc:
          type: string
        blobText:
          type: string
        category:
          type: string
        isZip:
          type: boolean
      xml:
        name: BlobBaseDto
      type: object
    OAS.WebApi.DTO.Portfolio.DocumentDto:
      properties:
        id:
          type: integer
          format: int32
        description:
          type: string
        category:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        systemGenerated:
          type: boolean
      xml:
        name: DocumentDto
      type: object
    OAS.WebApi.DTO.Portfolio.NoteDto:
      properties:
        id:
          type: integer
          format: int32
        text:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        category:
          type: string
        isWebVisible:
          type: boolean
        isSystemGenerated:
          type: boolean
      xml:
        name: NoteDto
      type: object
    OAS.WebApi.DTO.Simple.SimpleValueDto:
      properties:
        value:
          type: number
          format: double
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleValueDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
