openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Compliance/Risk Dashboard API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Compliance/RiskDashboard
paths:
  /v1/Compliance/RiskDashboard/AccountAlerts:
    get:
      tags:
      - Compliance/RiskDashboard
      summary: Returns risk dashboard account alerts
      description: GET /Compliance/RiskDashboard/AccountAlerts?brokerDealerId=1
      operationId: RiskDashboard_GetAccountAlertsAsync
      parameters:
      - name: brokerDealerId
        in: query
        description: 'Optional: Used to pull settings for a sub-client within a parent client'
        required: false
        schema:
          type: integer
          format: int32
      - name: riaId
        in: query
        description: 'Optional: Used to pull settings for a sub-client within a parent client'
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAccountAlertDashboardDto'
                xml:
                  name: RiskAccountAlertDashboardDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAccountAlertDashboardDto'
                xml:
                  name: RiskAccountAlertDashboardDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAccountAlertDashboardDto'
                xml:
                  name: RiskAccountAlertDashboardDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAccountAlertDashboardDto'
                xml:
                  name: RiskAccountAlertDashboardDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAccountAlertDashboardDto'
                xml:
                  name: RiskAccountAlertDashboardDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAccountAlertDashboardDto'
                xml:
                  name: RiskAccountAlertDashboardDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Compliance/RiskDashboard/NonRegisteredStatesTile:
    get:
      tags:
      - Compliance/RiskDashboard
      summary: Returns risk dashboard non-registered states tile information
      description: GET /Compliance/RiskDashboard/NonRegisteredStatesTile
      operationId: RiskDashboard_GetNonRegisteredStates
      parameters:
      - name: brokerDealerId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: riaId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.NonRegisteredStatesDto'
                xml:
                  name: NonRegisteredStatesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.NonRegisteredStatesDto'
                xml:
                  name: NonRegisteredStatesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.NonRegisteredStatesDto'
                xml:
                  name: NonRegisteredStatesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.NonRegisteredStatesDto'
                xml:
                  name: NonRegisteredStatesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.NonRegisteredStatesDto'
                xml:
                  name: NonRegisteredStatesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.NonRegisteredStatesDto'
                xml:
                  name: NonRegisteredStatesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Compliance/RiskDashboard/OutOfTolerance/{daysOut}:
    get:
      tags:
      - Compliance/RiskDashboard
      operationId: RiskDashboard_GetOutOfToleranceAsync
      parameters:
      - name: daysOut
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: brokerDealerId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: riaId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: cancellation
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskToleranceDto'
                xml:
                  name: RiskToleranceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskToleranceDto'
                xml:
                  name: RiskToleranceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskToleranceDto'
                xml:
                  name: RiskToleranceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskToleranceDto'
                xml:
                  name: RiskToleranceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskToleranceDto'
                xml:
                  name: RiskToleranceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskToleranceDto'
                xml:
                  name: RiskToleranceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Risk dashboard get out of tolerance async
      x-summary-source: derived
  /v1/Compliance/RiskDashboard/OutOfToleranceDays:
    get:
      tags:
      - Compliance/RiskDashboard
      summary: Returns risk dashboard settings
      description: GET /Compliance/RiskDashboard/OutOfToleranceDays?brokerDealerId=1
      operationId: RiskDashboard_GetOutOfToleranceDaysAsync
      parameters:
      - name: brokerDealerId
        in: query
        description: 'Optional: Used to pull settings for a sub-client within a parent client'
        required: false
        schema:
          type: integer
          format: int32
      - name: riaId
        in: query
        description: 'Optional: Used to pull settings for a sub-client within a parent client'
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
      security:
      - Authorization: []
  /v1/Compliance/RiskDashboard/RiskTiles:
    get:
      tags:
      - Compliance/RiskDashboard
      summary: Returns list of data to populate risk/suitability tiles
      description: GET /Compliance/RiskDashboard/RiskTiles?brokerDealerId=1
      operationId: RiskDashboard_GetRiskTilesAsync
      parameters:
      - name: brokerDealerId
        in: query
        description: 'Optional: Used to pull settings for a sub-client within a parent client'
        required: false
        schema:
          type: integer
          format: int32
      - name: riaId
        in: query
        description: 'Optional: Used to pull settings for a sub-client within a parent client'
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DashboardRiskTileDto'
                xml:
                  name: DashboardRiskTileDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DashboardRiskTileDto'
                xml:
                  name: DashboardRiskTileDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DashboardRiskTileDto'
                xml:
                  name: DashboardRiskTileDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DashboardRiskTileDto'
                xml:
                  name: DashboardRiskTileDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DashboardRiskTileDto'
                xml:
                  name: DashboardRiskTileDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DashboardRiskTileDto'
                xml:
                  name: DashboardRiskTileDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Compliance/RiskDashboard/Settings:
    get:
      tags:
      - Compliance/RiskDashboard
      summary: Returns risk dashboard settings
      description: GET /Compliance/RiskDashboard/Settings?brokerDealerId=1
      operationId: RiskDashboard_GetRiskDashboardSettingsAsync
      parameters:
      - name: brokerDealerId
        in: query
        description: 'Optional: Used to pull settings for a sub-client within a parent client'
        required: false
        schema:
          type: integer
          format: int32
      - name: riaId
        in: query
        description: 'Optional: Used to pull settings for a sub-client within a parent client'
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
                xml:
                  name: RiskAlertSettingDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
                xml:
                  name: RiskAlertSettingDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
                xml:
                  name: RiskAlertSettingDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
                xml:
                  name: RiskAlertSettingDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
                xml:
                  name: RiskAlertSettingDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
                xml:
                  name: RiskAlertSettingDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Compliance/RiskDashboard
      summary: Returns risk dashboard settings
      description: 'PUT /Compliance/RiskDashboard/Settings

        [

        {

        "id": 1,

        "alert": "Sitting in cash for X days",

        "isActive": false,

        "sortOrder": 0,

        "sectionNumber": 1,

        "cacheMinutes": 1440,

        "riskSettingType": "Account Alert",

        "brokerDealerId": 1,

        "riskAlertOptions": [

        {

        "id": 1,

        "riskAlertSettingId": 1,

        "parameterNumber": 0,

        "label": "Number of Days",

        "defaultValue": 10,

        "rangeLow": 1,

        "rangeHigh": 365,

        "currentValue": 10,

        "fieldType": 0,

        "sortOrder": 1,

        "auditedByDisplay": null

        }

        ]

        }

        ]'
      operationId: RiskDashboard_UpdateRiskDashboardSettingsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
                xml:
                  name: RiskAlertSettingDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
                xml:
                  name: RiskAlertSettingDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
                xml:
                  name: RiskAlertSettingDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
                xml:
                  name: RiskAlertSettingDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
                xml:
                  name: RiskAlertSettingDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
                xml:
                  name: RiskAlertSettingDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
              xml:
                name: RiskAlertSettingDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
              xml:
                name: RiskAlertSettingDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
              xml:
                name: RiskAlertSettingDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
              xml:
                name: RiskAlertSettingDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
              xml:
                name: RiskAlertSettingDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
              xml:
                name: RiskAlertSettingDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertSettingDto'
              xml:
                name: RiskAlertSettingDto
                wrapped: true
              type: array
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Compliance.NonRegisteredStatesRepDetailsDto:
      properties:
        state:
          type: string
        clientCount:
          type: integer
          format: int32
      xml:
        name: NonRegisteredStatesRepDetailsDto
      type: object
    OAS.WebApi.DTO.Compliance.DashboardRiskTileDto:
      properties:
        title:
          type: string
        regCount:
          type: integer
          format: int32
        url:
          type: string
        infoData:
          type: string
        countLabel:
          type: string
        entitySessionId:
          type: integer
          format: int32
      xml:
        name: DashboardRiskTileDto
      type: object
    OAS.WebApi.DTO.Compliance.RiskAlertSettingDto:
      properties:
        id:
          type: integer
          format: int32
        alert:
          type: string
        isActive:
          type: boolean
        sortOrder:
          type: integer
          format: int32
        sectionNumber:
          type: integer
          format: int32
        cacheMinutes:
          type: integer
          format: int32
        riskSettingType:
          type: string
          enum:
          - AccountAlert
          - OutOfTolerance
          - TileSetting
        riskAlertOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.RiskAlertOptionDto'
          xml:
            name: RiskAlertOptionDto
            wrapped: true
          type: array
        auditedByDisplay:
          type: string
        brokerDealerId:
          type: integer
          format: int32
        riaId:
          type: integer
          format: int32
      xml:
        name: RiskAlertSettingDto
      type: object
    OAS.WebApi.DTO.Compliance.NonRegisteredStatesDto:
      properties:
        repId:
          type: integer
          format: int32
        repName:
          type: string
        repDetails:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.NonRegisteredStatesRepDetailsDto'
          xml:
            name: NonRegisteredStatesRepDetailsDto
            wrapped: true
          type: array
        totalClients:
          type: integer
          format: int32
      xml:
        name: NonRegisteredStatesDto
      type: object
    OAS.WebApi.DTO.Compliance.RiskAccountAlertDashboardDto:
      properties:
        alertLabel:
          type: string
        alertCount:
          type: integer
          format: int32
        entitySessionId:
          type: integer
          format: int32
      xml:
        name: RiskAccountAlertDashboardDto
      type: object
    OAS.WebApi.DTO.Compliance.RiskAlertOptionDto:
      properties:
        id:
          type: integer
          format: int32
        riskAlertSettingId:
          type: integer
          format: int32
        parameterNumber:
          type: integer
          format: int32
        label:
          type: string
        defaultValue:
          type: integer
          format: int32
        rangeLow:
          type: integer
          format: int32
        rangeHigh:
          type: integer
          format: int32
        currentValue:
          type: integer
          format: int32
        fieldType:
          type: integer
          format: int32
        sortOrder:
          type: integer
          format: int32
        auditedByDisplay:
          type: string
      xml:
        name: RiskAlertOptionDto
      type: object
    OAS.WebApi.DTO.Compliance.RiskToleranceDto:
      properties:
        investmentObjectiveId:
          type: integer
          format: int32
        investmentObjectiveName:
          type: string
        riskRangeLow:
          type: integer
          format: int32
        riskRangeHigh:
          type: integer
          format: int32
        driftRangeLow:
          type: integer
          format: int32
        driftRangeHigh:
          type: integer
          format: int32
        registrationCount:
          type: integer
          format: int32
        entitySessionId:
          type: integer
          format: int32
      xml:
        name: RiskToleranceDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
