openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Global/Products API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Global/Products
paths:
  /v1/Global/Products:
    get:
      tags:
      - Global/Products
      summary: Gets a list of global products that the logged in user has access to.
      operationId: GlobalProducts_Get
      parameters:
      - name: searchTicker
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker that contains the text provided.'
        required: false
        schema:
          type: string
      - name: exactTicker
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: exactCusip
        in: query
        description: 'Optional. Default: null. If provided returns only products with a cusip that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: searchCusip
        in: query
        description: 'Optional. Default: null. If provided returns only products with a cusip that contains the text provided.'
        required: false
        schema:
          type: string
      - name: exactDownloadSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a download symbol that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: searchDownloadSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a download symbol that contains the text provided.'
        required: false
        schema:
          type: string
      - name: exactSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker, cusip, or download symbol that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: searchSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker, cusip, or download symbol that contains the text provided.'
        required: false
        schema:
          type: string
      - name: searchName
        in: query
        description: 'Optional. Default: null. If provided returns only products with a name that contains the text provided.'
        required: false
        schema:
          type: string
      - name: searchId
        in: query
        description: 'Optional. Default: null. If provided returns only products with the id specified.'
        required: false
        schema:
          type: integer
          format: int32
      - name: productType
        in: query
        description: 'Optional. Default: null. If provided returns only products that are of the specified type.'
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - MutualFund
            - Annuity
            - AdvisorOne
            - StockOrETF
            - Option
            - Bond
            - Unknown
            - CD
            - Index
      - name: returnStyle
        in: query
        description: 'Optional. Default: Standard.'
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Full
          default: 0
      - name: filterType
        in: query
        required: false
        schema:
          type: string
          enum:
          - BondWithoutBondRates
          - BondWithBondRates
      - name: fundFamilyId
        in: query
        description: 'Optional. Default: null. If provided returns only products that assigned to the provided fund family (not master fund family).'
        required: false
        schema:
          type: integer
          format: int32
      - name: partialId
        in: query
        description: 'Optional. Default: null. If provided returns only products where the product id contains the partial id specified.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/Products/{key}:
    get:
      tags:
      - Global/Products
      summary: Gets the global product that has the provided key.
      operationId: GlobalProducts_GetByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: returnStyle
        in: query
        description: 'Optional. Default: Standard.'
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Full
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
      security:
      - Authorization: []
  /v1/Global/Products/{key}/SubHolding:
    get:
      tags:
      - Global/Products
      summary: Gets the subholding information for the global product that has the provided…
      operationId: GlobalProducts_GetProductSubholdings
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubHoldingWithAssetClassDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubHoldingWithAssetClassDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubHoldingWithAssetClassDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubHoldingWithAssetClassDto'
      security:
      - Authorization: []
  /v1/Global/Products/Combine:
    get:
      tags:
      - Global/Products
      operationId: GlobalProductsCombine_GetProductCombinesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: id
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: completedDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCombineDto'
                xml:
                  name: ProductCombineDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCombineDto'
                xml:
                  name: ProductCombineDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCombineDto'
                xml:
                  name: ProductCombineDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCombineDto'
                xml:
                  name: ProductCombineDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Global products combine get product combines async
      x-summary-source: derived
    post:
      tags:
      - Global/Products
      summary: Adds a new Product Combine request to the database
      operationId: GlobalProductsCombine_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCombineDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCombineDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCombineDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCombineDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCombineDto'
        description: Product combine object that contains JArray instructions
        required: true
  /v1/Global/Products/Core/{productId}:
    get:
      tags:
      - Global/Products
      summary: Returns the core global product based on a global product id
      description: 'Sample Request

        GET /Global/Products/Core/1'
      operationId: GlobalProducts_GetGlobalProductCoreAsync
      parameters:
      - name: productId
        in: path
        description: Product ID to lookup
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: Cancellation Token of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductCoreDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductCoreDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductCoreDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductCoreDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductCoreDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductCoreDto'
      security:
      - Authorization: []
  /v1/Global/Products/DividendTypes/Simple:
    get:
      tags:
      - Global/Products
      operationId: GlobalDividendTypes_GetSimpleAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Global dividend types get simple all
      x-summary-source: derived
  /v1/Global/Products/ISIN/Validate:
    get:
      tags:
      - Global/Products
      summary: Check if a specified ISIN is valid
      operationId: GlobalProducts_GetIsISINValidAsync
      parameters:
      - name: isin
        in: query
        description: An ISIN
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        description: A cancellation token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Global/Products/List:
    post:
      tags:
      - Global/Products
      operationId: GlobalProducts_GetListById
      parameters:
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Full
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Global products get list by id
      x-summary-source: derived
  /v1/Global/Products/List/DownloadSymbol:
    post:
      tags:
      - Global/Products
      summary: Get list of global products by DownloadSymbol Null attributes will be excluded…
      description: 'POST /Global/Products/List/DownloadSymbol

        ["4578820", "4885661"]


        Returns:

        [

        {

        "searchString": "4578820",

        "productId": 1234,

        "productName": "PRODUCT NAME",

        "ticker": "1234",

        "cusip": "1234",

        "isin": "1234",

        "productType": "Option",

        "productSubTypeName": null,

        "defaultPrice": null,

        "priceStatus": "PRICE STATUS",

        "inceptionDate": null

        },

        {

        "searchString": "4885661",

        "productId": 456,

        "productName": "PRODUCT NAME",

        "ticker": "TICKER 456",

        "cusip": "456",

        "isin": null,

        "productType": "Option",

        "productSubTypeName": null,

        "defaultPrice": null,

        "priceStatus": "PRICE STATUS",

        "inceptionDate": null

        }

        ]'
      operationId: GlobalProducts_GetProductsByDownloadSymbolAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSearchSimpleDto'
                xml:
                  name: GlobalProductSearchSimpleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSearchSimpleDto'
                xml:
                  name: GlobalProductSearchSimpleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSearchSimpleDto'
                xml:
                  name: GlobalProductSearchSimpleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSearchSimpleDto'
                xml:
                  name: GlobalProductSearchSimpleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSearchSimpleDto'
                xml:
                  name: GlobalProductSearchSimpleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSearchSimpleDto'
                xml:
                  name: GlobalProductSearchSimpleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        required: true
  /v1/Global/Products/List/Id:
    post:
      tags:
      - Global/Products
      operationId: GlobalProducts_PostV1GlobalProductsListId
      parameters:
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Full
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Global products post V1 global products list id
      x-summary-source: derived
  /v1/Global/Products/List/Ticker:
    post:
      tags:
      - Global/Products
      summary: Get list of global products with the supplied tickers
      operationId: GlobalProducts_GetListByTickersAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductDto'
                xml:
                  name: GlobalProductDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        required: true
  /v1/Global/Products/PriceFactors:
    get:
      tags:
      - Global/Products
      summary: Gets a list of price factors that the logged in user has access to.
      operationId: GlobalProductsPriceFactors_Get
      parameters:
      - name: productId
        in: query
        description: Optional. Default null. Product Id of the desired return object.
        required: false
        schema:
          type: integer
          format: int32
      - name: factorDate
        in: query
        description: Optional. Default null. Price Date of the desired return object.
        required: false
        schema:
          type: string
          format: date-time
      - name: startDate
        in: query
        description: Optional. Default null. If provided, returns any price factor on or after the date.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. Default null. If provided, returns any price factor on or before the date.
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
                xml:
                  name: PriceFactorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
                xml:
                  name: PriceFactorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
                xml:
                  name: PriceFactorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
                xml:
                  name: PriceFactorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
                xml:
                  name: PriceFactorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
                xml:
                  name: PriceFactorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Global/Products
      operationId: GlobalProductsPriceFactors_UpdatePriceFactors
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
                xml:
                  name: PriceFactorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
                xml:
                  name: PriceFactorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
                xml:
                  name: PriceFactorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
                xml:
                  name: PriceFactorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
                xml:
                  name: PriceFactorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
                xml:
                  name: PriceFactorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
              xml:
                name: PriceFactorDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
              xml:
                name: PriceFactorDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
              xml:
                name: PriceFactorDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
              xml:
                name: PriceFactorDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
              xml:
                name: PriceFactorDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
              xml:
                name: PriceFactorDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
              xml:
                name: PriceFactorDto
                wrapped: true
              type: array
        required: true
      summary: Global products price factors update price factors
      x-summary-source: derived
    post:
      tags:
      - Global/Products
      summary: Used to create a new price factor.
      operationId: GlobalProductsPriceFactors_CreatePriceFactor
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
        required: true
  /v1/Global/Products/PriceFactors/{productId}/{factorDate}:
    put:
      tags:
      - Global/Products
      summary: Used to update an existing price factor.
      operationId: GlobalProductsPriceFactors_UpdatePriceFactor
      parameters:
      - name: productId
        in: path
        description: Product Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: factorDate
        in: path
        description: Factor date of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
        required: true
    delete:
      tags:
      - Global/Products
      summary: Used to delete an existing price factor.
      operationId: GlobalProductsPriceFactors_DeletePriceFactor
      parameters:
      - name: productId
        in: path
        description: Product Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: factorDate
        in: path
        description: Factor date of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Global/Products/PriceFactors/{productId}/{priceDate}:
    get:
      tags:
      - Global/Products
      summary: Gets the price factor that has the provided key.
      operationId: GlobalProductsPriceFactors_GetByKey
      parameters:
      - name: productId
        in: path
        description: Product Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: factorDate
        in: query
        description: Factor date of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      - name: priceDate
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorDto'
      security:
      - Authorization: []
  /v1/Global/Products/PriceFactors/Action/Delete:
    put:
      tags:
      - Global/Products
      summary: Deletes every price factor provided in the list of ids where the Id is…
      operationId: GlobalProductsPriceFactors_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorKeyDto'
                xml:
                  name: PriceFactorKeyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorKeyDto'
                xml:
                  name: PriceFactorKeyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorKeyDto'
                xml:
                  name: PriceFactorKeyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorKeyDto'
                xml:
                  name: PriceFactorKeyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorKeyDto'
                xml:
                  name: PriceFactorKeyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorKeyDto'
                xml:
                  name: PriceFactorKeyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorKeyDto'
              xml:
                name: PriceFactorKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorKeyDto'
              xml:
                name: PriceFactorKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorKeyDto'
              xml:
                name: PriceFactorKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorKeyDto'
              xml:
                name: PriceFactorKeyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorKeyDto'
              xml:
                name: PriceFactorKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorKeyDto'
              xml:
                name: PriceFactorKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceFactorKeyDto'
              xml:
                name: PriceFactorKeyDto
                wrapped: true
              type: array
        description: Optional. The ids of the price factors to delete.
        required: true
  /v1/Global/Products/Prices:
    get:
      tags:
      - Global/Products
      operationId: GlobalProductsPrices_Get
      parameters:
      - name: productId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: custodianCommonId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: priceDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: maxPrice
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: minPrice
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: maxPriceInclusive
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: minPriceInclusive
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
                xml:
                  name: PriceGlobalDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
                xml:
                  name: PriceGlobalDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
                xml:
                  name: PriceGlobalDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
                xml:
                  name: PriceGlobalDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
                xml:
                  name: PriceGlobalDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
                xml:
                  name: PriceGlobalDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Global products prices get
      x-summary-source: derived
    post:
      tags:
      - Global/Products
      summary: Used to create a new global price.
      operationId: GlobalProductsPrices_CreateGlobalPrice
      parameters:
      - name: isValidated
        in: query
        description: Whether the price has been verified.
        required: true
        schema:
          type: boolean
      - name: reason
        in: query
        description: The reason for the change.
        required: true
        schema:
          type: string
          enum:
          - ThirdPartyWebsite
          - InstituteWebsite
          - AdvisorConfirmed
          - Other
          - MultiplyPriceFactor
          - BondPricingFirstIn
          - LessRoundedPrice
          - CorrectingDecimalOnPrice
          - UpdatingCSIPrice
          - NotUSPrice
          - DifferentEffectiveDate
      - name: notes
        in: query
        description: Additional notes.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
        required: true
  /v1/Global/Products/Prices/{productId}/{custodianCommonId}/{priceDate}:
    get:
      tags:
      - Global/Products
      summary: Gets the global price that has the provided key.
      operationId: GlobalProductsPrices_GetByKey
      parameters:
      - name: productId
        in: path
        description: Product Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: custodianCommonId
        in: path
        description: Custodian Common Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: priceDate
        in: path
        description: Price date of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
      security:
      - Authorization: []
    put:
      tags:
      - Global/Products
      summary: Used to update an existing global price.
      operationId: GlobalProductsPrices_UpdateGlobalPrice
      parameters:
      - name: productId
        in: path
        description: Product Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: custodianCommonId
        in: path
        description: Custodian Common Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: priceDate
        in: path
        description: Price date of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      - name: isValidated
        in: query
        description: Whether the price has been verified.
        required: true
        schema:
          type: boolean
      - name: reason
        in: query
        description: The reason for the change.
        required: true
        schema:
          type: string
          enum:
          - ThirdPartyWebsite
          - InstituteWebsite
          - AdvisorConfirmed
          - Other
          - MultiplyPriceFactor
          - BondPricingFirstIn
          - LessRoundedPrice
          - CorrectingDecimalOnPrice
          - UpdatingCSIPrice
          - NotUSPrice
          - DifferentEffectiveDate
      - name: notes
        in: query
        description: Additional notes.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalDto'
        required: true
    delete:
      tags:
      - Global/Products
      summary: Used to delete an existing global price.
      operationId: GlobalProductsPrices_DeleteGlobalPrice
      parameters:
      - name: productId
        in: path
        description: Product Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: custodianCommonId
        in: path
        description: Custodian Common Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: priceDate
        in: path
        description: Price date of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Global/Products/Prices/{productId}/{custodianCommonId}/{priceDate}/Audits:
    get:
      tags:
      - Global/Products
      summary: Gets the audits for the price specified
      operationId: GlobalProductsPrices_GetAudits
      parameters:
      - name: productId
        in: path
        description: Product Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: custodianCommonId
        in: path
        description: Custodian Common Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: priceDate
        in: path
        description: Price date of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceAuditDto'
                xml:
                  name: PriceAuditDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceAuditDto'
                xml:
                  name: PriceAuditDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceAuditDto'
                xml:
                  name: PriceAuditDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceAuditDto'
                xml:
                  name: PriceAuditDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceAuditDto'
                xml:
                  name: PriceAuditDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceAuditDto'
                xml:
                  name: PriceAuditDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/Products/Prices/Action/Delete:
    put:
      tags:
      - Global/Products
      operationId: GlobalProductsPrices_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
                xml:
                  name: PriceGlobalKeyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
                xml:
                  name: PriceGlobalKeyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
                xml:
                  name: PriceGlobalKeyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
                xml:
                  name: PriceGlobalKeyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
                xml:
                  name: PriceGlobalKeyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
                xml:
                  name: PriceGlobalKeyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
        required: true
      summary: Global products prices action delete
      x-summary-source: derived
  /v1/Global/Products/Prices/CopyPrices/{copyToProductId}:
    post:
      tags:
      - Global/Products
      summary: Copies Global prices from one product to another product
      operationId: GlobalProductsPrices_CopyGlobalPrices
      parameters:
      - name: copyToProductId
        in: path
        description: Product ID to copy prices into
        required: true
        schema:
          type: integer
          format: int32
      - name: auditNotes
        in: query
        description: Additional Notes.
        required: true
        schema:
          type: string
      - name: ct
        in: header
        description: CancellationToken of the request
        required: true
      - name: overwriteOnMatch
        in: query
        description: Overwrite prices if it already exists on the product to move to
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
        description: List of PriceGlobalKeys where the Id is formatted as {ProductId}/{CustodianCommonId}/{PriceDate}
        required: true
  /v1/Global/Products/Prices/MovePrices/{moveToProductId}:
    post:
      tags:
      - Global/Products
      summary: Moves Global prices from one product to another product
      operationId: GlobalProductsPrices_MoveGlobalPrices
      parameters:
      - name: moveToProductId
        in: path
        description: Product ID to move prices into
        required: true
        schema:
          type: integer
          format: int32
      - name: auditNotes
        in: query
        description: Additional Notes.
        required: true
        schema:
          type: string
      - name: ct
        in: header
        description: CancellationToken of the request
        required: true
      - name: overwriteOnMatch
        in: query
        description: Overwrite prices if it already exists on the product to move to
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PriceGlobalKeyDto'
              xml:
                name: PriceGlobalKeyDto
                wrapped: true
              type: array
        description: List of PriceGlobalKeys where the Id is formatted as {ProductId}/{CustodianCommonId}/{PriceDate}
        required: true
  /v1/Global/Products/Simple/Search:
    get:
      tags:
      - Global/Products
      operationId: GlobalProducts_Search
      parameters:
      - name: searchText
        in: query
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      - name: searchMode
        in: query
        required: false
        schema:
          type: string
          enum:
          - SearchByAll
          - SearchByTicker
          - SearchByName
          default: 0
      - name: isCommunitiesSearch
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: resultSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductGlobalSearchDto'
                xml:
                  name: ProductGlobalSearchDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductGlobalSearchDto'
                xml:
                  name: ProductGlobalSearchDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductGlobalSearchDto'
                xml:
                  name: ProductGlobalSearchDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductGlobalSearchDto'
                xml:
                  name: ProductGlobalSearchDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductGlobalSearchDto'
                xml:
                  name: ProductGlobalSearchDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductGlobalSearchDto'
                xml:
                  name: ProductGlobalSearchDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Global products search
      x-summary-source: derived
  /v1/Global/Products/SubTypes/Simple:
    get:
      tags:
      - Global/Products
      summary: Optional.
      operationId: GlobalProductsSubTypes_GetSimpleAll
      parameters:
      - name: alternativeOnly
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/Products/SymbolExists:
    get:
      tags:
      - Global/Products
      summary: Gets whether a product with {symbol} as its ticker or download symbol exists
      operationId: GlobalProducts_GetSymbolExistsFromQueryStringAsync
      parameters:
      - name: symbol
        in: query
        description: the symbol to check against product tickers and download symbols
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSymbolExistsResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSymbolExistsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSymbolExistsResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSymbolExistsResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSymbolExistsResult'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSymbolExistsResult'
      security:
      - Authorization: []
  /v1/Global/Products/SymbolExists/{symbol}:
    get:
      tags:
      - Global/Products
      summary: Gets whether a product with {symbol} as its ticker or download symbol exists.
      operationId: GlobalProducts_GetSymbolExistsAsync
      parameters:
      - name: symbol
        in: path
        description: the symbol to check against product tickers and download symbols
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSymbolExistsResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSymbolExistsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSymbolExistsResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSymbolExistsResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSymbolExistsResult'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductSymbolExistsResult'
      security:
      - Authorization: []
  /v1/Global/Products/Verbose:
    get:
      tags:
      - Global/Products
      operationId: GlobalProducts_GetVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - DownloadSymbols
            - FundFamilies
            - GICS
            - BondRates
            - PreferredRates
            - AlClients
            - SubHoldings
            - All
      - name: productType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - MutualFund
            - Annuity
            - AdvisorOne
            - StockOrETF
            - Option
            - Bond
            - Unknown
            - CD
            - Index
      - name: filterType
        in: query
        required: false
        schema:
          type: string
          enum:
          - BondWithoutBondRates
          - BondWithBondRates
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Global products get verbose
      x-summary-source: derived
    put:
      tags:
      - Global/Products
      operationId: GlobalProducts_UpdateVerboseClientsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
              xml:
                name: GlobalProductVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
              xml:
                name: GlobalProductVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
              xml:
                name: GlobalProductVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
              xml:
                name: GlobalProductVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
              xml:
                name: GlobalProductVerboseDto
                wrapped: true
              type: array
        required: true
      summary: Global products update verbose clients async
      x-summary-source: derived
    post:
      tags:
      - Global/Products
      summary: Create product
      operationId: GlobalProducts_CreateVerboseClientAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
        required: true
  /v1/Global/Products/Verbose/{key}:
    get:
      tags:
      - Global/Products
      operationId: GlobalProducts_GetVerboseByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - DownloadSymbols
            - FundFamilies
            - GICS
            - BondRates
            - PreferredRates
            - AlClients
            - SubHoldings
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
      security:
      - Authorization: []
      summary: Global products get verbose by key async
      x-summary-source: derived
    put:
      tags:
      - Global/Products
      operationId: GlobalProducts_UpdateVerboseProductAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
        required: true
      summary: Global products update verbose product async
      x-summary-source: derived
  /v1/Global/Products/Verbose/List:
    post:
      tags:
      - Global/Products
      operationId: GlobalProducts_GetVerboseListById
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - DownloadSymbols
            - FundFamilies
            - GICS
            - BondRates
            - PreferredRates
            - AlClients
            - SubHoldings
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Global products get verbose list by id
      x-summary-source: derived
  /v1/Global/Products/Verbose/List/Id:
    post:
      tags:
      - Global/Products
      operationId: GlobalProducts_PostV1GlobalProductsVerboseListId
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - DownloadSymbols
            - FundFamilies
            - GICS
            - BondRates
            - PreferredRates
            - AlClients
            - SubHoldings
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
                xml:
                  name: GlobalProductVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Global products post V1 global products verbose list id
      x-summary-source: derived
  /v1/Global/Products/Verbose/Many:
    post:
      tags:
      - Global/Products
      summary: Creates one or more global products.
      operationId: GlobalProducts_CreateGlobalProductsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
              xml:
                name: GlobalProductVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
              xml:
                name: GlobalProductVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
              xml:
                name: GlobalProductVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
              xml:
                name: GlobalProductVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GlobalProductVerboseDto'
              xml:
[...]
