openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Revenue Payout API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/RevenuePayout
paths:
  /v1/Billing/RevenuePayout:
    get:
      tags:
      - Billing/RevenuePayout
      operationId: RevenuePayout_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
                xml:
                  name: RevenuePayoutDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
                xml:
                  name: RevenuePayoutDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
                xml:
                  name: RevenuePayoutDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
                xml:
                  name: RevenuePayoutDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
                xml:
                  name: RevenuePayoutDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
                xml:
                  name: RevenuePayoutDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Revenue payout get
      x-summary-source: derived
    post:
      tags:
      - Billing/RevenuePayout
      summary: This operation will create revenue payout report.
      description: 'Sample Request

        POST /Billing/RevenuePayout?asOfDate=03/13/2024&description=NULL&forecast=false'
      operationId: RevenuePayout_CreateAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: asOfDate
        in: query
        description: Optional. AsOfDate for selection of bills calculation date.
        required: true
        schema:
          type: string
          format: date-time
      - name: description
        in: query
        description: Optional. report description.
        required: false
        schema:
          type: string
      - name: forecast
        in: query
        description: Optional. forecast report indication.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
      security:
      - Authorization: []
  /v1/Billing/RevenuePayout/{id}:
    get:
      tags:
      - Billing/RevenuePayout
      operationId: RevenuePayout_GetById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDto'
      security:
      - Authorization: []
      summary: Revenue payout get by id
      x-summary-source: derived
  /v1/Billing/RevenuePayout/{id}/Details:
    get:
      tags:
      - Billing/RevenuePayout
      operationId: RevenuePayout_GetDetails
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDetailDto'
                xml:
                  name: RevenuePayoutDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDetailDto'
                xml:
                  name: RevenuePayoutDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDetailDto'
                xml:
                  name: RevenuePayoutDetailDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDetailDto'
                xml:
                  name: RevenuePayoutDetailDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDetailDto'
                xml:
                  name: RevenuePayoutDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutDetailDto'
                xml:
                  name: RevenuePayoutDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Revenue payout get details
      x-summary-source: derived
  /v1/Billing/RevenuePayout/{id}/Payment/New:
    get:
      tags:
      - Billing/RevenuePayout
      operationId: RevenuePayout_GetDefaultPaymentAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
      security:
      - Authorization: []
      summary: Revenue payout get default payment async
      x-summary-source: derived
  /v1/Billing/RevenuePayout/{id}/Payment/Reports:
    get:
      tags:
      - Billing/RevenuePayout
      summary: Returns a list of all Reports for a given ReventuPayout Id
      description: 'GET /Billing/RevenuePayout/1/Payment/Reports

        Sample Response:

        [

        {

        "id": 123,

        "name": "Feb 23 2024 3:15PM",

        "isChecked": false

        }

        ]'
      operationId: RevenuePayout_GetPaymentReportsAsync
      parameters:
      - name: id
        in: path
        description: Required. Revenue Payout Id
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.SimpleEntityCheckedDto'
                xml:
                  name: SimpleEntityCheckedDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.SimpleEntityCheckedDto'
                xml:
                  name: SimpleEntityCheckedDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.SimpleEntityCheckedDto'
                xml:
                  name: SimpleEntityCheckedDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.SimpleEntityCheckedDto'
                xml:
                  name: SimpleEntityCheckedDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.SimpleEntityCheckedDto'
                xml:
                  name: SimpleEntityCheckedDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.SimpleEntityCheckedDto'
                xml:
                  name: SimpleEntityCheckedDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/RevenuePayout/{id}/Payments:
    get:
      tags:
      - Billing/RevenuePayout
      summary: Returns list of payments for revenue payout id
      description: 'GET /Billing/RevenuePayout/68/Payments

        Returns:

        [

        {

        "id": 88,

        "revenuePayoutId": 68,

        "asOfDate": "2023-01-01T00:00:00-06:00",

        "createdDate": "2023-01-01T12:46:15.413-06:00",

        "createdBy": "first.last",

        "editedDate": "2023-01-01T12:46:15.413-06:00",

        "editedBy": "first.last",

        "totalFeeRemaining": 123.46,

        "collectedRIAAmount": 123.45,

        "unCollectedRIAAmount": 123.45,

        "collectedAdvisorAmount": 123.45,

        "unCollectedAdvisorAmount": 123.45,

        "adjustmentAmount": 123.45,

        "note": "string note field",

        "reportId": null

        }

        ]'
      operationId: RevenuePayout_GetPayments
      parameters:
      - name: id
        in: path
        description: Required. Revenue Payout Id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
                xml:
                  name: RevenuePayoutPaymentDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
                xml:
                  name: RevenuePayoutPaymentDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
                xml:
                  name: RevenuePayoutPaymentDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
                xml:
                  name: RevenuePayoutPaymentDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
                xml:
                  name: RevenuePayoutPaymentDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
                xml:
                  name: RevenuePayoutPaymentDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/RevenuePayout/Payment:
    post:
      tags:
      - Billing/RevenuePayout
      operationId: RevenuePayout_CreatePaymentAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto'
        required: true
      summary: Revenue payout create payment async
      x-summary-source: derived
  /v1/Billing/RevenuePayout/Payment/{key}:
    delete:
      tags:
      - Billing/RevenuePayout
      operationId: RevenuePayout_DeletePaymentAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      summary: Revenue payout delete payment async
      x-summary-source: derived
  /v1/Billing/RevenuePayout/Payment/Report/{key}:
    get:
      tags:
      - Billing/RevenuePayout
      operationId: RevenuePayout_GetPaymentReport
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Revenue payout get payment report
      x-summary-source: derived
  /v1/Billing/RevenuePayout/Payout/Delete/{key}:
    delete:
      tags:
      - Billing/RevenuePayout
      operationId: RevenuePayout_DeletePayoutAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      summary: Revenue payout delete payout async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Billing.RevenuePayoutDto:
      properties:
        id:
          type: integer
          format: int32
        description:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        totalFeeAmount:
          type: number
          format: double
        totalMarketValue:
          type: number
          format: double
        payoutSchedule:
          type: string
        revenuePayoutBasedOn:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        isForecast:
          type: boolean
        isBasis:
          type: boolean
      xml:
        name: RevenuePayoutDto
      type: object
    OAS.WebApi.DTO.SimpleEntityCheckedDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isChecked:
          type: boolean
      xml:
        name: SimpleEntityCheckedDto
      type: object
    OAS.WebApi.DTO.Billing.RevenuePayoutDetailDto:
      properties:
        id:
          type: integer
          format: int32
        revenuePayoutId:
          type: integer
          format: int32
        tier:
          type: string
        feeAmount:
          type: number
          format: double
        riaPayout:
          type: number
          format: double
        riaAmount:
          type: number
          format: double
        advisorPayout:
          type: number
          format: double
        advisorAmount:
          type: number
          format: double
      xml:
        name: RevenuePayoutDetailDto
      type: object
    OAS.WebApi.DTO.Billing.RevenuePayoutPaymentDto:
      properties:
        id:
          type: integer
          format: int32
        revenuePayoutId:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        totalFeeRemaining:
          type: number
          format: double
        collectedRIAAmount:
          type: number
          format: double
        unCollectedRIAAmount:
          type: number
          format: double
        collectedAdvisorAmount:
          type: number
          format: double
        unCollectedAdvisorAmount:
          type: number
          format: double
        adjustmentAmount:
          type: number
          format: double
        note:
          type: string
        reportId:
          type: integer
          format: int32
      xml:
        name: RevenuePayoutPaymentDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
