openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Hidden Levers API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/HiddenLevers
paths:
  /v1/Integrations/HiddenLevers/Astro/RepManaged:
    post:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_AstroRepManagedPortfolioAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest'
        required: true
      summary: Orion risk intelligence astro rep managed portfolio async
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/Client:
    post:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_PostV1IntegrationsHiddenLeversClient
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
        required: true
      summary: Orion risk intelligence post V1 integrations hidden levers client
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/Client/{key}:
    put:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_UpdateClientAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversClientDto'
        required: true
      summary: Orion risk intelligence update client async
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/ClientRiskScore/{key}:
    put:
      tags:
      - Integrations/HiddenLevers
      summary: Update the clients Risk Score In client Suitability
      operationId: OrionRiskIntelligence_UpdateClientRiskScore
      parameters:
      - name: key
        in: path
        description: The ID of the Orion Client.
        required: true
        schema:
          type: integer
          format: int32
      - name: riskscore
        in: query
        description: Clients risk score
        required: true
        schema:
          type: number
          format: double
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
  /v1/Integrations/HiddenLevers/CreateClient:
    put:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_CreateClientAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.CreateClient.CreateClientRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.CreateClient.CreateClientRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.CreateClient.CreateClientRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.CreateClient.CreateClientRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.CreateClient.CreateClientRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.CreateClient.CreateClientRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.CreateClient.CreateClientRequest'
        required: true
      summary: Orion risk intelligence create client async
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/ElementNewHousehold:
    post:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_HiddenLeversInsertElementProposalAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversNewProposal'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversNewProposal'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversNewProposal'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversNewProposal'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversNewProposal'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversNewProposal'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.HiddenLeversNewProposal'
        required: true
      summary: Orion risk intelligence hidden levers insert element proposal async
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/GetSurveyResults:
    get:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_GetSurveyResultsAsync
      parameters:
      - name: clientId
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Orion risk intelligence get survey results async
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/Iframe/RiskProfile:
    get:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_GetRiskProfileURL
      parameters:
      - name: clientId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: accountid
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Orion risk intelligence get risk profile URL
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/Iframe/StressTest:
    get:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_GetStressTestURL
      parameters:
      - name: clientId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: accountid
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Orion risk intelligence get stress test URL
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/ProposalPayload:
    get:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_GetProposalPayloadAsync
      parameters:
      - name: clientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Orion risk intelligence get proposal payload async
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/RiskProfile:
    post:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_GetRiskProfileAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Response'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Response'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Response'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Response'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Request'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Request'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Request'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Request'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Request'
        required: true
      summary: Orion risk intelligence get risk profile async
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/RiskRewardScores:
    get:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_GetRiskRewardScoresAsync
      parameters:
      - name: clientId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.RiskRewardScoresDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.RiskRewardScoresDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.RiskRewardScoresDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.RiskRewardScoresDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.RiskRewardScoresDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.RiskRewardScoresDto'
      security:
      - Authorization: []
      summary: Orion risk intelligence get risk reward scores async
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/SSOPayload:
    get:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_GetSSOPayloadAsync
      parameters:
      - name: clientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: redtailUserKey
        in: query
        required: false
        schema:
          type: string
      - name: isStandaloneFirm
        in: query
        required: false
        schema:
          type: boolean
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Orion risk intelligence get SSO payload async
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/StressTest:
    post:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_StressTestAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.StressTest.StressTestV3Request'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.StressTest.StressTestV3Request'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.StressTest.StressTestV3Request'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.StressTest.StressTestV3Request'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.StressTest.StressTestV3Request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.StressTest.StressTestV3Request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.StressTest.StressTestV3Request'
        required: true
      summary: Orion risk intelligence stress test async
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/StressTest/Account/{accountId}:
    get:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_StressTestByAccountIdAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Orion risk intelligence stress test by account id async
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/StressTest/Client/{clientId}:
    get:
      tags:
      - Integrations/HiddenLevers
      operationId: OrionRiskIntelligence_StressTestByClientIdAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Orion risk intelligence stress test by client id async
      x-summary-source: derived
  /v1/Integrations/HiddenLevers/SyncData/Portfolios:
    get:
      tags:
      - Integrations/HiddenLevers
      summary: Gets a simple list of assets, with specific data for the HiddenLevers data…
      operationId: OrionRiskIntelligence_GetSimpleAsync
      parameters:
      - name: hasValue
        in: query
        description: Optional. When provided will only return assets that have value (true).
        required: false
        schema:
          type: boolean
      - name: registrationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integration.HiddenLevers.PortfolioSyncAssetDto'
                xml:
                  name: PortfolioSyncAssetDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integration.HiddenLevers.PortfolioSyncAssetDto'
                xml:
                  name: PortfolioSyncAssetDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integration.HiddenLevers.PortfolioSyncAssetDto'
                xml:
                  name: PortfolioSyncAssetDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integration.HiddenLevers.PortfolioSyncAssetDto'
                xml:
                  name: PortfolioSyncAssetDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integration.HiddenLevers.PortfolioSyncAssetDto'
                xml:
                  name: PortfolioSyncAssetDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integration.HiddenLevers.PortfolioSyncAssetDto'
                xml:
                  name: PortfolioSyncAssetDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.FeeAnalysis:
      properties:
        totalPctFee:
          type: number
          format: double
        aumFee:
          type: number
          format: double
        expenseRatio:
          type: number
          format: double
        name:
          type: string
        currency:
          type: string
      xml:
        name: FeeAnalysis
      type: object
    OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Capitalgains:
      properties:
        shortGain:
          type: number
          format: float
        longGain:
          type: integer
          format: int32
        maxCapitalGains1:
          type: integer
          format: int32
        maxCapitalGains2:
          type: integer
          format: int32
        maxCapitalGains3:
          type: integer
          format: int32
      xml:
        name: Capitalgains
      type: object
    OAT.Integrations.HiddenLevers.Dto.CreateClient.CreateClientRequest:
      properties:
        name:
          type: string
        extClientId:
          type: string
        source:
          type: string
      xml:
        name: CreateClientRequest
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.Basic:
      properties:
        pct:
          type: number
          format: double
        ticker:
          type: string
        quantity:
          type: number
          format: double
        price:
          type: number
          format: double
        name:
          type: string
      xml:
        name: Basic
      type: object
    OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest:
      properties:
        caller:
          type: string
        clientName:
          type: string
        accountName:
          type: string
        repName:
          type: string
        repEmail:
          type: string
        data:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Data'
      xml:
        name: RepManagedRequest
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.Timeframe:
      properties:
        endDate:
          type: string
          format: date-time
        timeString:
          type: string
        startDate:
          type: string
          format: date-time
      xml:
        name: Timeframe
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileRequestProfileDto:
      properties:
        jsonPositions:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileRequestPositionDto'
          xml:
            name: RiskProfileRequestPositionDto
            wrapped: true
          type: array
      xml:
        name: RiskProfileRequestProfileDto
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.Detailed:
      properties:
        pct:
          type: number
          format: double
        ticker:
          type: string
        quantity:
          type: number
          format: double
        price:
          type: number
          format: double
        name:
          type: string
      xml:
        name: Detailed
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiCreditBreakdown:
      properties:
        AAA:
          type: number
          format: double
        AA:
          type: number
          format: double
        A:
          type: number
          format: double
        BBB:
          type: number
          format: double
        BB:
          type: number
          format: double
        B:
          type: number
          format: double
        Below B / Unrated:
          type: number
          format: double
      xml:
        name: FiCreditBreakdown
      type: object
    OAT.Integrations.HiddenLevers.Dto.StressTest.StressTestRequestPortfolioDto:
      properties:
        jsonPositions:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.StressTest.StressTestREquestPositionDto'
          xml:
            name: StressTestREquestPositionDto
            wrapped: true
          type: array
      xml:
        name: StressTestRequestPortfolioDto
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.Correlation:
      properties:
        correlation:
          type: number
          format: double
        ticker1:
          type: string
        pvalue:
          type: number
          format: double
        ticker2:
          type: string
        name2:
          type: string
        name1:
          type: string
      xml:
        name: Correlation
      type: object
    OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Sector:
      properties:
        id:
          type: string
        name:
          type: string
        penalty:
          type: integer
          format: int32
        minimumValue:
          type: integer
          format: int32
        maximumValue:
          type: integer
          format: int32
        industries:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Industry'
          xml:
            name: Industry
            wrapped: true
          type: array
        active:
          type: string
        minWeight:
          type: integer
          format: int32
        warning:
          type: boolean
        maxWeight:
          type: integer
          format: int32
      xml:
        name: Sector
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.Benchmark:
      properties:
        expectedReturn:
          type: number
          format: double
        expectedReturn5Yr:
          type: number
          format: double
        liquidity:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.Liquidity'
        strategyFee:
          type: number
          format: double
        usePctAllocation:
          type: string
        timeframe:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.Timeframe'
        portStartDate:
          type: string
          format: date-time
        jsonPositions:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.JsonPosition'
          xml:
            name: JsonPosition
            wrapped: true
          type: array
        id:
          type: string
        value:
          type: number
          format: double
        feeAnalysis:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.FeeAnalysis'
        timeframesp500Beta:
          type: number
          format: double
        pvh:
          items:
            type: object
          type: array
        leversToWatch:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.LeversToWatch'
          xml:
            name: LeversToWatch
            wrapped: true
          type: array
        riskMeasures:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskMeasures'
        isTickerWrapper:
          type: string
        mddstart:
          type: string
          format: date-time
        worstScenarioImpact:
          type: number
          format: double
        excludedSymbols:
          items:
            type: object
          type: array
        assetType:
          type: string
        mpt:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.Mpt'
        industryid:
          type: string
        name:
          type: string
        pctLiquid:
          type: number
          format: double
        famaFactors:
          items:
            type: object
          type: array
        analyzableValue:
          type: number
          format: double
        assetClasses:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.AssetClasses'
        mddend:
          type: string
          format: date-time
      xml:
        name: Benchmark
      type: object
    OAS.WebApi.Domains.Integrations.RiskRewardScoresDto:
      properties:
        downsidePerformance:
          type: number
          format: double
        upsidePerformance:
          type: number
          format: double
        potentialDownside:
          readOnly: true
          type: number
          format: double
        expectedReturn5yr:
          readOnly: true
          type: number
          format: double
        riskScore:
          type: number
          format: double
        aum:
          type: number
          format: double
      xml:
        name: RiskRewardScoresDto
      type: object
    OAT.Integrations.HiddenLevers.Dto.StressTest.StressTestV3Request:
      properties:
        allocationType:
          type: string
          enum:
          - dollar
          - qty
          - pct
        portfolio:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.StressTest.StressTestRequestPortfolioDto'
        scenarioIds:
          items:
            type: integer
            format: int32
          type: array
        firmId:
          type: string
        userId:
          type: string
        firmNames:
          items:
            type: string
          type: array
      xml:
        name: StressTestV3Request
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.Industry:
      properties:
        pct:
          type: number
          format: double
        ticker:
          type: string
        quantity:
          type: number
          format: double
        price:
          type: number
          format: double
        name:
          type: string
      xml:
        name: Industry
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiSectorBreakdown:
      properties:
        Government:
          type: number
          format: double
        Cash Equivalent:
          type: number
          format: double
        Corporate:
          type: number
          format: double
        Securitized:
          type: number
          format: double
        Other:
          type: number
          format: double
        Municipal:
          type: number
          format: double
      xml:
        name: FiSectorBreakdown
      type: object
    OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Taxlot:
      properties:
        purchaseDate:
          type: string
        quantity:
          type: number
          format: float
        purchaseAmt:
          type: number
          format: float
      xml:
        name: Taxlot
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileRequestPositionDto:
      properties:
        ticker:
          type: string
        quantity:
          type: number
          format: double
      xml:
        name: RiskProfileRequestPositionDto
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiMaturityBreakdown:
      properties:
        Intermediate:
          type: number
          format: double
        Long:
          type: number
          format: double
        Less than 1 Year:
          type: number
          format: double
        Short:
          type: number
          format: double
      xml:
        name: FiMaturityBreakdown
      type: object
    OAS.DataModel.Integration.HiddenLevers.PortfolioSyncAssetDto:
      properties:
        shares:
          type: number
          format: double
        price:
          type: number
          format: double
        value:
          type: number
          format: double
        productId:
          type: integer
          format: int32
        ticker:
          type: string
        assetClass:
          type: string
        isCustodialCash:
          type: boolean
        accountId:
          type: integer
          format: int32
        name:
          type: string
        id:
          type: integer
          format: int32
        isin:
          type: string
        productType:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
        productSubTypeId:
          type: integer
          format: int32
        productSubTypeName:
          type: string
      xml:
        name: PortfolioSyncAssetDto
      type: object
    OAS.WebApi.Domains.Integrations.HiddenLeversNewProposal:
      properties:
        externalId:
          type: integer
          format: int32
        proposalName:
          type: string
        repId:
          type: integer
          format: int32
        investmentAmount:
          type: number
          format: double
      xml:
        name: HiddenLeversNewProposal
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Response:
      properties:
        portfolio:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.Portfolio'
        benchmark:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.Benchmark'
        correlations:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.Correlation'
          xml:
            name: Correlation
            wrapped: true
          type: array
      xml:
        name: RiskProfileV3Response
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.AssetClasses:
      properties:
        detailed:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.Detailed'
          xml:
            name: Detailed
            wrapped: true
          type: array
        industry:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.Industry'
          xml:
            name: Industry
            wrapped: true
          type: array
        basic:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.Basic'
          xml:
            name: Basic
            wrapped: true
          type: array
      xml:
        name: AssetClasses
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiCountry:
      properties:
        country:
          type: string
        value:
          type: number
          format: double
      xml:
        name: FiCountry
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.SectorBreakdown:
      properties:
        Utilities:
          type: number
          format: double
        Energy:
          type: number
          format: double
        Consumer Staples:
          type: number
          format: double
        Technology:
          type: number
          format: double
        Real Estate:
          type: number
          format: double
        Materials:
          type: number
          format: double
        Financials:
          type: number
          format: double
        Communications:
          type: number
          format: double
        Healthcare:
          type: number
          format: double
        Industrials:
          type: number
          format: double
        Consumer Discretionary:
          type: number
          format: double
      xml:
        name: SectorBreakdown
      type: object
    OAS.WebApi.Domains.Integrations.HiddenLeversClientDto:
      properties:
        id:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        representativeId:
          type: integer
          format: int32
        riskScore:
          type: number
          format: double
        proposalPdf:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
      xml:
        name: HiddenLeversClientDto
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.StyleRawBreakdown:
      properties:
        large-blend:
          type: number
          format: double
        mid-blend:
          type: number
          format: double
        small-blend:
          type: number
          format: double
        large-value:
          type: number
          format: double
        mid-value:
          type: number
          format: double
        small-value:
          type: number
          format: double
        large-growth:
          type: number
          format: double
        mid-growth:
          type: number
          format: double
        small-growth:
          type: number
          format: double
      xml:
        name: StyleRawBreakdown
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.Mpt:
      properties:
        styleRawBreakdown:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.StyleRawBreakdown'
        avgCreditRating:
          type: string
        fiCountries:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiCountry'
          xml:
            name: FiCountry
            wrapped: true
          type: array
        fiCouponDetails:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiCouponDetails'
        fiMaturityBreakdown:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiMaturityBreakdown'
        fiSectorDetails:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiSectorDetails'
        fiRegions:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiRegions'
        sectorBreakdown:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.SectorBreakdown'
        avgCreditQuality:
          type: number
          format: double
        econBreakdown:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.EconBreakdown'
        fiCreditBreakdown:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiCreditBreakdown'
        regionBreakdown:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RegionBreakdown'
        avgWeightedCoupon:
          type: number
          format: double
        avgMaturity:
          type: number
          format: double
        mktCapBreakdown:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.MktCapBreakdown'
        styleBoxBreakdown:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.StyleBoxBreakdown'
        fiMaturityDetails:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiMaturityDetails'
        fiSectorBreakdown:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiSectorBreakdown'
      xml:
        name: Mpt
      type: object
    OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Data:
      properties:
        portfolio:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Portfolio'
        securityRestrictions:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Securityrestriction'
          xml:
            name: Securityrestriction
            wrapped: true
          type: array
        sectors:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Sector'
          xml:
            name: Sector
            wrapped: true
          type: array
        esgRestrictions:
          items:
            type: string
          type: array
        capitalGains:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Capitalgains'
        strategyName:
          type: string
      xml:
        name: Data
      type: object
    OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Jsonposition:
      properties:
        quantity:
          type: integer
          format: int32
        ticker:
          type: string
        taxlots:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Taxlot'
          xml:
            name: Taxlot
            wrapped: true
          type: array
      xml:
        name: Jsonposition
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.Portfolio:
      properties:
        ccrScore:
          type: number
          format: double
        expectedReturn:
          type: number
          format: double
        expectedReturn5Yr:
          type: number
          format: double
        liquidity:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.Liquidity'
        strategyFee:
          type: number
          format: double
        usePctAllocation:
          type: string
        timeframe:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.Timeframe'
        portStartDate:
          type: string
          format: date-time
        jsonPositions:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.JsonPosition'
          xml:
            name: JsonPosition
            wrapped: true
          type: array
        value:
          type: number
          format: double
        averageYield:
          type: number
          format: double
        feeAnalysis:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.FeeAnalysis'
        timeframesp500Beta:
          type: number
          format: double
        pvh:
          items:
            type: object
          type: array
        leversToWatch:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.LeversToWatch'
          xml:
            name: LeversToWatch
            wrapped: true
          type: array
        riskMeasures:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskMeasures'
        mddstart:
          type: string
          format: date-time
        worstScenarioImpact:
          type: number
          format: double
        excludedSymbols:
          items:
            type: object
          type: array
        averageDuration:
          type: number
          format: double
        mpt:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.Mpt'
        pctLiquid:
          type: number
          format: double
        famaFactors:
          items:
            type: object
          type: array
        analyzableValue:
          type: number
          format: double
        assetClasses:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.AssetClasses'
        mddend:
          type: string
          format: date-time
      xml:
        name: Portfolio
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.MktCapBreakdown:
      properties:
        small:
          type: number
          format: double
        large:
          type: number
          format: double
        mid:
          type: number
          format: double
      xml:
        name: MktCapBreakdown
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskMeasures:
      properties:
        aumfee:
          type: string
        sharperatio:
          type: string
        annualizedReturn:
          type: string
        totalReturn:
          type: string
        yield:
          type: string
        expenseRatio:
          type: string
        volatility:
          type: string
        mdd:
          type: string
        sortinoRatio:
          type: string
      xml:
        name: RiskMeasures
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.LeversToWatch:
      properties:
        operatingMargin:
          type: number
          format: double
        priceToEarnings:
          type: number
          format: double
        volatility:
          type: number
          format: double
        type:
          type: string
        bookValuePerShare:
          type: number
          format: double
        revenue:
          type: number
          format: double
        price:
          type: number
          format: double
        marketCap:
          type: number
          format: double
        impact:
          type: number
          format: double
        eps:
          type: number
          format: double
        mdd:
          type: number
          format: double
        tags:
          type: string
        unit:
          type: string
        cashPerShare:
          type: number
          format: double
        name:
          type: string
        payoutRatio:
          type: number
          format: double
        debt:
          type: number
          format: double
        monthAgoValue:
          type: number
          format: double
        range:
          type: number
          format: double
        industry:
          type: string
        priceStartDate:
          type: string
          format: date-time
        pegRatio:
          type: number
          format: double
        yield:
          type: number
          format: double
        profitMargin:
          type: number
          format: double
        sharesOutstanding:
          type: number
          format: double
        value:
          type: number
          format: double
        ticker:
          type: string
        portfolioImpact:
          type: number
          format: double
        yearAgoValue:
          type: number
          format: double
        avgVolume:
          type: number
          format: double
        returnOnAssets:
          type: number
          format: double
        trueYield:
          type: number
          format: double
        debtToEquity:
          type: number
          format: double
        jsonInfo:
          type: string
        priceToSales:
          type: number
          format: double
        returnOnEquity:
          type: number
          format: double
        priceToBook:
          type: number
          format: double
        leverid:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        impact2yr:
          type: number
          format: double
        pricedate:
          type: string
          format: date-time
        stderror:
          type: number
          format: double
        leverdesc:
          type: string
        levername:
          type: string
        mddstart:
          type: string
          format: date-time
        mddend:
          type: string
          format: date-time
        tickerid:
          type: integer
          format: int32
        industryid:
          type: integer
          format: int32
        52wkChange:
          type: number
          format: double
        locationid:
          type: integer
          format: int32
        litype:
          type: string
        orionProductId:
          type: integer
          format: int32
        mgrStartDate:
          type: string
          format: date-time
        expenseRatio:
          type: number
          format: double
        duration:
          type: number
          format: double
      xml:
        name: LeversToWatch
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.EconBreakdown:
      properties:
        US Stock:
          type: number
          format: double
        International Developed Markets:
          type: number
          format: double
        Emerging Markets:
          type: number
          format: double
      xml:
        name: EconBreakdown
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.JsonPosition:
      properties:
        pricedatemap:
          type: string
        industry:
          type: string
        liquidity:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.Liquidity'
        volatility:
          type: number
          format: double
        type:
          type: string
        firstHistory:
          type: string
          format: date-time
        indDesc:
          type: string
        price:
          type: number
          format: double
        yield:
          type: number
          format: double
        lastGoodPrice:
          type: number
          format: double
        pctAllocation:
          type: number
          format: double
        marketCap:
          type: number
          format: double
        ticker:
          type: string
        mgrStartDate:
          type: string
        quantity:
          type: number
          format: double
        pricedate:
          type: string
        mddstart:
          type: string
        trueYield:
          type: number
          format: double
        tradedcurrencyid:
          type: integer
          format: int32
        expenseRatio:
          type: number
          format: double
        name:
          type: string
        orionProductId:
          type: integer
          format: int32
        mddend:
          type: string
        monthAgoValue:
          type: number
          format: double
        range:
          type: number
          format: double
        leverid:
          type: integer
          format: int32
        originalTicker:
          type: string
        duration:
          type: number
          format: double
        value:
          type: number
          format: double
        impact2yr:
          type: number
          format: double
        yearAgoValue:
          type: number
          format: double
        stderror:
          type: number
          format: double
        impact:
          type: number
          format: double
        unit:
          type: string
        leverdesc:
          type: string
        levername:
          type: string
        litype:
          type: string
        bookValuePerShare:
          type: number
          format: double
      xml:
        name: JsonPosition
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiRegions:
      properties:
        None:
          type: number
          format: double
        Middle East + Africa:
          type: number
          format: double
        Europe:
          type: number
          format: double
        Supranational/Other:
          type: number
          format: double
        North America:
          type: number
          format: double
        Asia + Pacific:
          type: number
          format: double
        Latin America:
          type: number
          format: double
      xml:
        name: FiRegions
      type: object
    OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Industry:
      properties:
        id:
          type: string
        name:
          type: string
        penalty:
          type: integer
          format: int32
        minimumValue:
          type: number
          format: float
        maximumValue:
          type: number
          format: float
        sectorId:
          type: string
      xml:
        name: Industry
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileV3Request:
      properties:
        allocationType:
          type: string
          enum:
          - dollar
          - qty
          - pct
        portfolio:
          $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.RiskProfile.RiskProfileRequestProfileDto'
        duration:
          type: string
          enum:
          - _all
          - _10yr
          - _5yr
          - _3yr
          - _2yr
          - _1yr
          - _ytd
          - _6mth
          - _3mth
          - _1mth
          - _1wk
        options:
          items:
            type: string
          type: array
      xml:
        name: RiskProfileV3Request
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAT.Integrations.HiddenLevers.Dto.StressTest.StressTestREquestPositionDto:
      properties:
        ticker:
          type: string
        quantity:
          type: number
          format: double
      xml:
        name: StressTestREquestPositionDto
      type: object
    OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Securityrestriction:
      properties:
        name:
          type: string
        ticker:
          type: string
        restrictionType:
          type: string
        minWeight:
          type: number
          format: float
        maxWeight:
          type: number
          format: float
      xml:
        name: Securityrestriction
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiCouponDetails:
      properties:
        0%:
          type: number
          format: double
        0-4%:
          type: number
          format: double
        4-6%:
          type: number
          format: double
        6-8%:
          type: number
          format: double
        8-10%:
          type: number
          format: double
        10-12%:
          type: number
          format: double
        Over 12%:
          type: number
          format: double
      xml:
        name: FiCouponDetails
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.RegionBreakdown:
      properties:
        Middle East + Africa:
          type: number
          format: double
        Europe:
          type: number
          format: double
        North America:
          type: number
          format: double
        Asia + Pacific:
          type: number
          format: double
        Latin America:
          type: number
          format: double
      xml:
        name: RegionBreakdown
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.Liquidity:
      properties:
        5y:
          type: number
          format: double
        3y:
          type: number
          format: double
        now:
          type: number
          format: double
        1y:
          type: number
          format: double
        3m:
          type: number
          format: double
        10y:
          type: number
          format: double
      xml:
        name: Liquidity
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.StyleBoxBreakdown:
      properties:
        Blend:
          type: number
          format: double
        Growth:
          type: number
          format: double
        Value:
          type: number
          format: double
      xml:
        name: StyleBoxBreakdown
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiSectorDetails:
      properties:
        Non-Agency MBS:
          type: number
          format: double
        Cash Equivalent:
          type: number
          format: double
        Corporate Bond:
          type: number
          format: double
        Municipal:
          type: number
          format: double
        Convertible:
          type: number
          format: double
        Commercial MBS:
          type: number
          format: double
        Bank Loan:
          type: number
          format: double
        Agency MBS:
          type: number
          format: double
        Asset-Backed:
          type: number
          format: double
        US Treasury:
          type: number
          format: double
        Foreign Govt:
          type: number
          format: double
        Other:
          type: number
          format: double
        TIPS:
          type: number
          format: double
      xml:
        name: FiSectorDetails
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAT.Integrations.HiddenLevers.Dto.RiskProfile.FiMaturityDetails:
      properties:
        <1 Yr:
          type: number
          format: double
        1-3 Yrs:
          type: number
          format: double
        3-5 Yrs:
          type: number
          format: double
        5-7 Yrs:
          type: number
          format: double
        7-10 Yrs:
          type: number
          format: double
        10-15 Yrs:
          type: number
          format: double
        15-20 Yrs:
          type: number
          format: double
        20-30 Yrs:
          type: number
          format: double
        30+ Yrs:
          type: number
          format: double
      xml:
        name: FiMaturityDetails
      type: object
    OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Portfolio:
      properties:
        jsonPositions:
          items:
            $ref: '#/components/schemas/OAT.Integrations.HiddenLevers.Dto.Portfolio_Rep_Managed.RepManagedRequest.Jsonposition'
          xml:
            name: Jsonposition
            wrapped: true
          type: array
      xml:
        name: Portfolio
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
