openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Queues API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/Queues
paths:
  /v1/Trading/Queues:
    get:
      tags:
      - Trading/Queues
      summary: Get all trade queues
      operationId: TradeQueues_GetAllItemsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: autoTradeType
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - RegistrationRebalance
          - SleeveRebalance
          - ContributionAllocation
          - TransferInRebalance
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - Complete
          - Pending
          - Failed
          - Disabled
          - Duplicate
          - Processing
          - Manual
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - ContributionAllocation
          - TransferIn
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeQueueDto'
                xml:
                  name: TradeQueueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeQueueDto'
                xml:
                  name: TradeQueueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeQueueDto'
                xml:
                  name: TradeQueueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeQueueDto'
                xml:
                  name: TradeQueueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeQueueDto'
                xml:
                  name: TradeQueueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeQueueDto'
                xml:
                  name: TradeQueueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Queues/Action/HoldUntil:
    put:
      tags:
      - Trading/Queues
      operationId: TradeQueues_ActionHoldUntil
      parameters:
      - name: setDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Trade queues action hold until
      x-summary-source: derived
  /v1/Trading/Queues/Action/Rebalance/{registrationId}:
    put:
      tags:
      - Trading/Queues
      summary: Rebalance trade queue item and returns the trades created
      operationId: TradeQueues_RebalanceTradeQueueItemAsync
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Trading/Queues/Action/Reschedule:
    put:
      tags:
      - Trading/Queues
      operationId: TradeQueues_ActionReschedule
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Trade queues action reschedule
      x-summary-source: derived
  /v1/Trading/Queues/Action/Status/{newStatus}:
    put:
      tags:
      - Trading/Queues
      operationId: TradeQueues_ActionStatusChange
      parameters:
      - name: newStatus
        in: path
        required: true
        schema:
          type: string
          enum:
          - Complete
          - Pending
          - Failed
          - Disabled
          - Duplicate
          - Processing
          - Manual
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Trade queues action status change
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Trading.TradeQueueDto:
      properties:
        id:
          type: integer
          format: int32
        statusIcon:
          readOnly: true
          type: string
        status:
          type: string
          enum:
          - Complete
          - Pending
          - Failed
          - Disabled
          - Duplicate
          - Processing
          - Manual
        registrationId:
          type: integer
          format: int32
        accountName:
          type: string
        accountNumber:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        sleeveDescription:
          type: string
        triggerEvent:
          type: string
        holdUntil:
          type: string
          format: date-time
        currentValue:
          type: number
          format: double
        tradedDate:
          type: string
          format: date-time
        autoTradeType:
          type: string
          enum:
          - None
          - RegistrationRebalance
          - SleeveRebalance
          - ContributionAllocation
          - TransferInRebalance
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        unitBalanceScale:
          type: integer
          format: int32
        priority:
          type: integer
          format: int32
        notes:
          type: string
        tradeRequestInstanceId:
          type: integer
          format: int32
        tradeDefinition:
          type: string
        accountType:
          type: string
      xml:
        name: TradeQueueDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
