openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Upload Formats API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/UploadFormats
paths:
  /v1/Confirm/UploadFormats:
    get:
      tags:
      - Confirm/UploadFormats
      summary: Gets a list of Upload Formats that the logged in user has access to
      operationId: UploadFormats_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UploadFormatDto'
                xml:
                  name: UploadFormatDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UploadFormatDto'
                xml:
                  name: UploadFormatDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UploadFormatDto'
                xml:
                  name: UploadFormatDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UploadFormatDto'
                xml:
                  name: UploadFormatDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UploadFormatDto'
                xml:
                  name: UploadFormatDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UploadFormatDto'
                xml:
                  name: UploadFormatDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/UploadFormats/{key}:
    get:
      tags:
      - Confirm/UploadFormats
      summary: Gets the Upload Format that has the provided key.
      operationId: UploadFormats_GetByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UploadFormatDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UploadFormatDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UploadFormatDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UploadFormatDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UploadFormatDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UploadFormatDto'
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Confirm.UploadFormatDto:
      properties:
        id:
          type: integer
          format: int32
        formatName:
          type: string
        className:
          type: string
        formatType:
          type: string
          enum:
          - Undefined
          - FixAllocation
          - FeeFile
          - TradeFile
          - NameFile
          - TaxFiles
        minUploadTime:
          type: integer
          format: int32
      xml:
        name: UploadFormatDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
