openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Validate Import API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/ValidateImport
paths:
  /v1/Billing/ValidateImport/Account/ReferralSchedules:
    post:
      tags:
      - Billing/ValidateImport
      operationId: ValidateImportAccountReferralSchedules_ImportAccountReferralSchedulesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountVerboseValidationDto'
                xml:
                  name: AccountVerboseValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountVerboseValidationDto'
                xml:
                  name: AccountVerboseValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountVerboseValidationDto'
                xml:
                  name: AccountVerboseValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountVerboseValidationDto'
                xml:
                  name: AccountVerboseValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Validate import account referral schedules import account referral schedules…
      x-summary-source: derived
  /v1/Billing/ValidateImport/FeeHierarchy:
    post:
      tags:
      - Billing/ValidateImport
      summary: import the excel into a list of objects we can use
      operationId: BillingValidateImportFeeHierarchy_ImportFeeHierarchyAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto'
                xml:
                  name: FeeHierarchyValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto'
                xml:
                  name: FeeHierarchyValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto'
                xml:
                  name: FeeHierarchyValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto'
                xml:
                  name: FeeHierarchyValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/Billing/ValidateImport/FeeHierarchy/Import:
    put:
      tags:
      - Billing/ValidateImport
      summary: import the processed data into tblFeeHierarchy. This only does an insert
      operationId: BillingValidateImportFeeHierarchy_ImportHierarchyAssignmentsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto'
                xml:
                  name: FeeHierarchyValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto'
                xml:
                  name: FeeHierarchyValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto'
                xml:
                  name: FeeHierarchyValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto'
                xml:
                  name: FeeHierarchyValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto'
              xml:
                name: FeeHierarchyValidationDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto'
              xml:
                name: FeeHierarchyValidationDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto'
              xml:
                name: FeeHierarchyValidationDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto'
              xml:
                name: FeeHierarchyValidationDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto'
              xml:
                name: FeeHierarchyValidationDto
                wrapped: true
              type: array
        description: list of FeeHierarchyValidationDto
        required: true
  /v1/Billing/ValidateImport/FeeHierarchy/Templates/Csv:
    get:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportFeeHierarchy_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing validate import fee hierarchy get csv template
      x-summary-source: derived
  /v1/Billing/ValidateImport/FeeHierarchy/Templates/Xls:
    get:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportFeeHierarchy_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing validate import fee hierarchy get xls template
      x-summary-source: derived
  /v1/Billing/ValidateImport/FeeHierarchy/Templates/Xlsx:
    get:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportFeeHierarchy_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing validate import fee hierarchy get xlsx template
      x-summary-source: derived
  /v1/Billing/ValidateImport/PartialExclusion:
    post:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportPartialExclusion_ImportPayForAccountAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
                xml:
                  name: PartialExclusionValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
                xml:
                  name: PartialExclusionValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
                xml:
                  name: PartialExclusionValidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
                xml:
                  name: PartialExclusionValidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
                xml:
                  name: PartialExclusionValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
                xml:
                  name: PartialExclusionValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Billing validate import partial exclusion import pay for account async
      x-summary-source: derived
  /v1/Billing/ValidateImport/PartialExclusion/Import:
    put:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportPartialExclusion_ImportExclusionsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
                xml:
                  name: PartialExclusionValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
                xml:
                  name: PartialExclusionValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
                xml:
                  name: PartialExclusionValidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
                xml:
                  name: PartialExclusionValidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
                xml:
                  name: PartialExclusionValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
                xml:
                  name: PartialExclusionValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
              xml:
                name: PartialExclusionValidationDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
              xml:
                name: PartialExclusionValidationDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
              xml:
                name: PartialExclusionValidationDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
              xml:
                name: PartialExclusionValidationDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
              xml:
                name: PartialExclusionValidationDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
              xml:
                name: PartialExclusionValidationDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PartialExclusionValidationDto'
              xml:
                name: PartialExclusionValidationDto
                wrapped: true
              type: array
        required: true
      summary: Billing validate import partial exclusion import exclusions async
      x-summary-source: derived
  /v1/Billing/ValidateImport/PartialExclusion/Templates/Csv:
    get:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportPartialExclusion_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing validate import partial exclusion get csv template
      x-summary-source: derived
  /v1/Billing/ValidateImport/PartialExclusion/Templates/Xls:
    get:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportPartialExclusion_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing validate import partial exclusion get xls template
      x-summary-source: derived
  /v1/Billing/ValidateImport/PartialExclusion/Templates/Xlsx:
    get:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportPartialExclusion_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing validate import partial exclusion get xlsx template
      x-summary-source: derived
  /v1/Billing/ValidateImport/PayForAccounts:
    post:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportPayForAccounts_ImportPayForAccountAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayForAccountValidationDto'
                xml:
                  name: PayForAccountValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayForAccountValidationDto'
                xml:
                  name: PayForAccountValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayForAccountValidationDto'
                xml:
                  name: PayForAccountValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayForAccountValidationDto'
                xml:
                  name: PayForAccountValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Billing validate import pay for accounts import pay for account async
      x-summary-source: derived
  /v1/Billing/ValidateImport/PayForAccounts/Templates/Csv:
    get:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportPayForAccounts_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing validate import pay for accounts get csv template
      x-summary-source: derived
  /v1/Billing/ValidateImport/PayForAccounts/Templates/Xls:
    get:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportPayForAccounts_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing validate import pay for accounts get xls template
      x-summary-source: derived
  /v1/Billing/ValidateImport/PayForAccounts/Templates/Xlsx:
    get:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportPayForAccounts_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing validate import pay for accounts get xlsx template
      x-summary-source: derived
  /v1/Billing/ValidateImport/RelatedHouseholds:
    post:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportRelatedHouseholds_ImportRelatedHouseholdsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RelatedHouseholdValidationDto'
                xml:
                  name: RelatedHouseholdValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RelatedHouseholdValidationDto'
                xml:
                  name: RelatedHouseholdValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RelatedHouseholdValidationDto'
                xml:
                  name: RelatedHouseholdValidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RelatedHouseholdValidationDto'
                xml:
                  name: RelatedHouseholdValidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RelatedHouseholdValidationDto'
                xml:
                  name: RelatedHouseholdValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RelatedHouseholdValidationDto'
                xml:
                  name: RelatedHouseholdValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Billing validate import related households import related households async
      x-summary-source: derived
  /v1/Billing/ValidateImport/RelatedHouseholds/Templates/Csv:
    get:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportRelatedHouseholds_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing validate import related households get csv template
      x-summary-source: derived
  /v1/Billing/ValidateImport/RelatedHouseholds/Templates/Xls:
    get:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportRelatedHouseholds_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing validate import related households get xls template
      x-summary-source: derived
  /v1/Billing/ValidateImport/RelatedHouseholds/Templates/Xlsx:
    get:
      tags:
      - Billing/ValidateImport
      operationId: BillingValidateImportRelatedHouseholds_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing validate import related households get xlsx template
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Billing.BillFinancialPlanningFeeDto:
      properties:
        payMethodId:
          type: integer
          format: int32
        feeScheduleId:
          type: integer
          format: int32
        masterPayoutScheduleId:
          type: integer
          format: int32
        billStyle:
          type: string
          enum:
          - Advance
          - Arrears
        billFrequency:
          type: string
          enum:
          - Undefined
          - Monthly
          - Quarterly
          - Triannual
          - Semiannually
          - Annually
          - AtMaturity
        startDate:
          type: string
          format: date-time
        cycleMonth:
          type: integer
          format: int32
        paidByAccountNumber:
          type: integer
          format: int32
        planningFeeAmount:
          type: number
          format: double
      xml:
        name: BillFinancialPlanningFeeDto
      type: object
    OAS.WebApi.DTO.Portfolio.AccountTaxRateDto:
      properties:
        id:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
        shortTermTaxRate:
          type: number
          format: double
        longTermTaxRate:
          type: number
          format: double
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: AccountTaxRateDto
      type: object
    OAS.WebApi.DTO.Trading.ModelItemFullDto:
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        productName:
          type: string
        productClass:
          type: string
        ticker:
          type: string
        targetPercent:
          type: number
          format: double
        itemTol:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        itemTolUpper:
          type: number
          format: double
        itemTolLower:
          type: number
          format: double
        oub:
          type: number
          format: double
        modelAggId:
          type: integer
          format: int32
        productRiskScore:
          type: integer
          format: int32
      xml:
        name: ModelItemFullDto
      type: object
    OAS.WebApi.DTO.Portfolio.BillRelatedClientDto:
      properties:
        id:
          type: integer
          format: int32
        billClientId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        isActive:
          type: boolean
      xml:
        name: BillRelatedClientDto
      type: object
    OAS.WebApi.DTO.Trading.CustomAllocationsDetailDto:
      properties:
        modelAggId:
          type: integer
          format: int32
        items:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelItemFullDto'
          xml:
            name: ModelItemFullDto
            wrapped: true
          type: array
      xml:
        name: CustomAllocationsDetailDto
      type: object
    OAS.WebApi.DTO.Integrations.Astro.AstroAccountTaxSchedulesDto:
      properties:
        accountId:
          type: integer
          format: int32
        year:
          type: integer
          format: int32
        annualCapGain:
          type: number
          format: double
        q1Percent:
          type: number
          format: double
        q2Percent:
          type: number
          format: double
        q3Percent:
          type: number
          format: double
        q4Percent:
          type: number
          format: double
      xml:
        name: AstroAccountTaxSchedulesDto
      type: object
    OAS.WebApi.DTO.Billing.FeeHierarchyValidationDto:
      properties:
        isValid:
          type: boolean
        validationMessage:
          type: string
        warningMessage:
          type: string
        level:
          description: these are normally nested details in the feeHierarchyDto object
          type: string
          enum:
          - BrokerDealer
          - RIA
          - Representative
          - Plan401k
          - Platform
          - Client
          - Registration
          - SubAdvisor
          - AggregateModel
          - Account
          - Global
        billEntityId:
          type: integer
          format: int32
        billScheduleId:
          type: integer
          format: int32
        status:
          type: boolean
        name:
          description: Name of the fee hierarchy
          type: string
        entityId:
          description: Entity ID
          type: integer
          format: int32
        entity:
          description: Entity type
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        custodianId:
          description: Custodian ID
          type: integer
          format: int32
        billProductGroupId:
          description: Bill Product Group ID
          type: integer
          format: int32
        feeHierarchyDetails:
          description: List of fee hierarchies for the entity/custodian combination
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyDetail'
          xml:
            name: FeeHierarchyDetail
            wrapped: true
          type: array
      xml:
        name: FeeHierarchyValidationDto
      type: object
    OAS.WebApi.DTO.Billing.PayForAccountValidationDto:
      properties:
        isValid:
          type: boolean
        validationMessage:
          type: string
        warningMessage:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        number:
          type: string
        isDataSharingEntity:
          type: boolean
        isAstroEnabled:
          type: boolean
        billing:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBillingDto'
        portfolio:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountPortfolioDto'
        modelingInfo:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountModelingInfoDto'
        notes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NoteDto'
          xml:
            name: NoteDto
            wrapped: true
          type: array
        documents:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DocumentDto'
          xml:
            name: DocumentDto
            wrapped: true
          type: array
        compliance:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ComplianceDto'
        systematics:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SystematicDto'
          xml:
            name: SystematicDto
            wrapped: true
          type: array
        accountManagers:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountManagerDto'
          xml:
            name: AccountManagerDto
            wrapped: true
          type: array
        recurringAdjustments:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BillRecurrentAdjustmentDto'
          xml:
            name: BillRecurrentAdjustmentDto
            wrapped: true
          type: array
        generalAccounts:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.GeneralAccountDto'
          xml:
            name: GeneralAccountDto
            wrapped: true
          type: array
        referralSchedules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.AccountReferralDto'
          xml:
            name: AccountReferralDto
            wrapped: true
          type: array
        billAccountSchedules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BillAccountScheduleDto'
          xml:
            name: BillAccountScheduleDto
            wrapped: true
          type: array
        userDefinedFields:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
        entityOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
        targetAllocations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TargetAllocationDto'
          xml:
            name: TargetAllocationDto
            wrapped: true
          type: array
        productEquivalents:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEquivalentDto'
          xml:
            name: ProductEquivalentDto
            wrapped: true
          type: array
        sma:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountSmaDto'
        bondTrade:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountBondTradeDto'
        compositeExclusions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CompositeAccountExcludeDto'
          xml:
            name: CompositeAccountExcludeDto
            wrapped: true
          type: array
        futureCashflows:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountFutureCashflowDto'
          xml:
            name: AccountFutureCashflowDto
            wrapped: true
          type: array
        growthRates:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountGrowthRateDto'
          xml:
            name: AccountGrowthRateDto
            wrapped: true
          type: array
        goals:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountGoalDto'
          xml:
            name: AccountGoalDto
            wrapped: true
          type: array
        suitability:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountSuitabilityDto'
        permissibleAggregateModels:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
          xml:
            name: SimpleAggregateModel
            wrapped: true
          type: array
        astroTaxSchedules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Astro.AstroAccountTaxSchedulesDto'
          xml:
            name: AstroAccountTaxSchedulesDto
            wrapped: true
          type: array
        astroAccount:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Astro.AstroAccountDto'
        taxRates:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountTaxRateDto'
          xml:
            name: AccountTaxRateDto
            wrapped: true
          type: array
        additionalClients:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ClientAdditionalAccountDto'
          xml:
            name: ClientAdditionalAccountDto
            wrapped: true
          type: array
      xml:
        name: PayForAccountValidationDto
      type: object
    OAS.WebApi.DTO.Portfolio.AccountModelingInfoDto:
      properties:
        modelGroupNumber:
          type: string
        isOriginalSMCAccount:
          type: boolean
        isTradingBlocked:
          type: boolean
        isRegistrationDoNotTrade:
          type: boolean
        tradingInstructions:
          type: string
        downloadSource:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        isRebalance:
          type: boolean
        isOutsideModel:
          type: boolean
        minimumCashBalance:
          type: number
          format: double
        minimumCashBalanceType:
          type: string
          enum:
          - Dollars
          - Percent
        replenishMinimumCash:
          type: boolean
        fundList:
          type: string
        autoRebalanceFrequency:
          type: string
          enum:
          - None
          - Monthly
          - Quarterly
          - Semiannual
          - Annual
        autoRebalanceMonth:
          type: integer
          format: int32
        autoRebalanceDay:
          type: integer
          format: int32
        dollarModelId:
          type: integer
          format: int32
        dollarModelAmount:
          type: number
          format: double
        expireMinCash:
          type: number
          format: double
        expireMinCashType:
          type: string
          enum:
          - Dollars
          - Percent
        expireMinCashDate:
          type: string
          format: date-time
        aggregateModel:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
        isSleeveAccount:
          type: boolean
        customAllocations:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CustomAllocationsDto'
      xml:
        name: AccountModelingInfoDto
      type: object
    OAS.WebApi.DTO.Portfolio.ClientRepAdditionalDto:
      properties:
        appendOnly:
          type: boolean
        details:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ClientRepAdditionalDetailDto'
          xml:
            name: ClientRepAdditionalDetailDto
            wrapped: true
          type: array
      xml:
        name: ClientRepAdditionalDto
      type: object
    OAS.WebApi.DTO.Portfolio.ClientBillingDto:
      properties:
        billClientId:
          type: integer
          format: int32
        statusType:
          type: string
          enum:
          - ReadyToBill
          - Hold
          - PendingReview
        masterPayoutScheduleId:
          type: integer
          format: int32
        feeScheduleID:
          type: integer
          format: int32
        relatedClients:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BillRelatedClientDto'
          xml:
            name: BillRelatedClientDto
            wrapped: true
          type: array
      xml:
        name: ClientBillingDto
      type: object
    OAS.WebApi.DTO.Billing.BillAccountEntityPayeeDto:
      properties:
        billEntityId:
          type: integer
          format: int32
        payeeId:
          type: integer
          format: int32
        payout:
          type: string
        readOnly:
          type: boolean
      xml:
        name: BillAccountEntityPayeeDto
      type: object
    OAS.WebApi.DTO.Trading.AccountBondTradeDto:
      properties:
        accountBondTradeId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        excludeUntilDate:
          type: string
          format: date-time
        excludeUntilNotes:
          type: string
        shortTermBondPercent:
          type: number
          format: double
        intermediateTermBondPercent:
          type: number
          format: double
        equityPercent:
          type: number
          format: double
        bondPercent:
          type: number
          format: double
        cashPercent:
          type: number
          format: double
        excludeBondsFromRebalance:
          type: boolean
        excludeEquitiesFromRebalance:
          type: boolean
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: AccountBondTradeDto
      type: object
    OAS.WebApi.DTO.Billing.PartialExclusionValidationDto:
      properties:
        isValid:
          type: boolean
        validationMessage:
          type: string
        warningMessage:
          type: string
        id:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        registrationName:
          type: string
        lastName:
          type: string
        fundFamily:
          type: string
        accountNumber:
          type: string
        productName:
          type: string
        value:
          type: number
          format: double
        isFeeExcluded:
          type: boolean
        isPayingFee:
          type: boolean
        active:
          type: boolean
        ticker:
          type: string
        assetClass:
          type: string
        excludeAmount:
          type: number
          format: double
        excludeAmountType:
          type: string
          enum:
          - Percent
          - Dollars
          - Shares
        excludePercentOf:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        billAssetId:
          type: integer
          format: int32
        excludeEndDate:
          type: string
          format: date-time
        excludeStartDate:
          type: string
          format: date-time
        businessLine:
          type: string
        representativeName:
          type: string
        representativeNumber:
          type: string
        cycleMonth:
          type: integer
          format: int32
        fundFamilyId:
          type: integer
          format: int32
        excludeFromMargin:
          type: boolean
        feeBillExclusionMode:
          type: string
          enum:
          - 'No'
          - YesAll
          - SelectBillEntities
        excludedBillEntities:
          type: string
        productId:
          type: integer
          format: int32
      xml:
        name: PartialExclusionValidationDto
      type: object
    OAS.WebApi.DTO.Portfolio.AdditionalAccountDto:
      properties:
        accountId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        registration:
          type: string
        accountNumber:
          type: string
        type:
          type: integer
          format: int32
        typeName:
          type: string
        fundFamily:
          type: integer
          format: int32
        fundFamilyName:
          type: string
        custodian:
          type: integer
          format: int32
        custodianName:
          type: string
        managementStyle:
          type: integer
          format: int32
        managementStyleName:
          type: string
        model:
          type: integer
          format: int32
        modelName:
          type: string
        weight:
          type: number
          format: double
      xml:
        name: AdditionalAccountDto
      type: object
    OAS.WebApi.DTO.Billing.BillAccountScheduleSecurityClassSimpleDto:
      properties:
        securityClassId:
          type: integer
          format: int32
        securityClassName:
          type: string
        securityClassificationMethodId:
          type: integer
          format: int32
        securityClassificationMethodName:
          type: string
      xml:
        name: BillAccountScheduleSecurityClassSimpleDto
      type: object
    OAS.WebApi.DTO.Portfolio.ComplianceDto:
      properties:
        sloas:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountSloaDto'
          xml:
            name: AccountSloaDto
            wrapped: true
          type: array
        advCustodyTypeId:
          type: integer
          format: int32
        is13FReportable:
          type: boolean
        isAdvReportable:
          type: boolean
        isAuaReportable:
          type: boolean
        isDiscretionary:
          type: boolean
        isWrapManaged:
          type: boolean
        isWrapSponsored:
          type: boolean
      xml:
        name: ComplianceDto
      type: object
    OAS.WebApi.DTO.Billing.BillEntityDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        isActive:
          type: boolean
        isPayableEntity:
          type: boolean
        isUserAdded:
          type: boolean
        payeeId:
          type: integer
          format: int32
        isApplyToAstro:
          type: boolean
        excludeFromRefundCalculations:
          description: When null (JSON omitted), updates do not change the persisted value—used when the OC split for this UI is off.
          type: boolean
        separateOnFeeFile:
          description: When the Split Fee File by Bill Entity billing feature flag is off, updates do not change the persisted value.
          type: boolean
        collectFromId:
          type: integer
          format: int32
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createDate:
          type: string
          format: date-time
        createdBy:
          type: string
        billEntityReportAsId:
          type: integer
          format: int32
      xml:
        name: BillEntityDto
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
    OAS.WebApi.DTO.Portfolio.ClientPortfolioGroupDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        portfolioType:
          type: string
          enum:
          - Composite
          - Reporting
          - Trading
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        eclipsePortfolioId:
          type: integer
          format: int32
        accounts:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AdditionalAccountDto'
          xml:
            name: AdditionalAccountDto
            wrapped: true
          type: array
        registrationIds:
          items:
            type: integer
            format: int32
          type: array
        repId:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        modelAggId:
          type: integer
          format: int32
        platformId:
          type: integer
          format: int32
        planId:
          type: integer
          format: int32
        fundFamilyId:
          type: integer
          format: int32
        stockRange:
          type: integer
          format: int32
        riskTolerance:
          type: integer
          format: int32
        riskBudgetRange:
          type: integer
          format: int32
      xml:
        name: ClientPortfolioGroupDto
      type: object
    OAS.WebApi.DTO.Portfolio.AdditionalRepresentativeDto:
      properties:
        repId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        repTitleId:
          type: integer
          format: int32
        simpleRep:
          $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
        repTitle:
          type: string
        canDelete:
          type: boolean
        numberOfHouseholds:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: AdditionalRepresentativeDto
      type: object
    OAS.WebApi.DTO.Trading.ModelAggDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isSystemMaintained:
          type: boolean
        accountNumberSuffix:
          type: string
        keepAlways:
          type: boolean
        accountCount:
          type: integer
          format: int32
        value:
          type: number
          format: double
        sortOrder:
          type: integer
          format: int32
        color:
          type: string
        eclipseFirmId:
          type: integer
          format: int32
        eclipseFirmIds_csv:
          type: string
        modelTags:
          readOnly: true
          type: string
        tags:
          items:
            type: string
          type: array
        eclipseModelId:
          type: integer
          format: int32
        minimumInvestmentAmount:
          type: number
          format: double
        billFeeSchedule:
          type: integer
          format: int32
        payoutSchedule:
          type: integer
          format: int32
        createdBy:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        entityId:
          type: integer
          format: int32
        entityEnum:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        include:
          type: boolean
        owned:
          type: boolean
        canMaintain:
          type: boolean
        modelAggTypeId:
          type: integer
          format: int32
        modelAggType:
          type: string
        riskScore:
          type: number
          format: double
        proposalEnabled:
          type: boolean
        advisoryWorldModel:
          type: boolean
        hasManagerFactSheet:
          type: boolean
        subAdvisorId:
          type: integer
          format: int32
        subAdvisorName:
          type: string
        containsCommunityModel:
          type: boolean
        communityModelId:
          type: integer
          format: int64
        modelAssetType:
          type: string
        modelRiskCategory:
          type: string
        modelAssetClass:
          type: string
        modelStrategyType:
          type: string
        taxManaged:
          type: boolean
        isSociallyResponsible:
          type: boolean
        morningstarId:
          type: string
        isAstroEnabled:
          type: boolean
        syncToAstro:
          type: boolean
        details:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDetailDto'
          xml:
            name: ModelAggDetailDto
            wrapped: true
          type: array
        hasSMAModel:
          type: boolean
        strategistId:
          type: integer
          format: int32
        worstReturn:
          type: number
          format: double
        averageReturn:
          type: number
          format: double
        bestReturn:
          type: number
          format: double
        associatedModelAggId:
          type: integer
          format: int32
        astroTemplate:
          type: string
        portfolioOverview:
          type: string
        portfolioManagementTeam:
          type: string
        excludeRebalanceSleeve:
          description: 'If true, then sleeved accounts assigned to this model agg will be excluded from portfolio level rebalances.

            This field is intentionally not mapped in the API POST/PUT save, it is only meant to be synced from Eclipse.'
          type: boolean
        excludeFromComposites:
          type: boolean
        eclipseModelType:
          type: string
          enum:
          - Normal
          - Unmanaged
          - SelfDirected
          - SMA
          - Optimizer
        investmentObjectiveId:
          type: integer
          format: int32
        researchedStatus:
          type: string
      xml:
        name: ModelAggDto
      type: object
    OAS.WebApi.DTO.Portfolio.ClientCreditCardSimpleDto:
      properties:
        ccNum:
          type: string
        ccType:
          type: string
        ccToken:
          type: string
        ccIsValid:
          type: boolean
      xml:
        name: ClientCreditCardSimpleDto
      type: object
    OAS.WebApi.DTO.Billing.AccountReferralDto:
      properties:
        id:
          type: integer
          format: int32
        billEntityId:
          type: integer
          format: int32
        payee:
          type: integer
          format: int32
        startDate:
          type: string
          format: date-time
        completeDate:
          type: string
          format: date-time
        accountName:
          type: string
        accountId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        referralPayoutId:
          type: integer
          format: int32
      xml:
        name: AccountReferralDto
      type: object
    OAS.WebApi.DTO.Portfolio.AccountSloaDto:
      properties:
        id:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        sloaDate:
          type: string
          format: date-time
        thirdParty:
          type: string
        isAffiliated:
          type: boolean
        distributionType:
          type: string
          enum:
          - Wire
          - Journal
          - EFT
          - Check
          - Other
        isActive:
          type: boolean
        notes:
          type: string
      xml:
        name: AccountSloaDto
      type: object
    OAS.WebApi.DTO.Portfolio.AccountManagerDto:
      properties:
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
      xml:
        name: AccountManagerDto
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDto
      type: object
    OAS.WebApi.DTO.Portfolio.SystematicDto:
      properties:
        id:
          type: integer
          format: int32
        isActive:
          type: boolean
        isDoubleCheck:
          type: boolean
        type:
          type: integer
          format: int32
        doubleCheckBy:
          type: string
        doubleCheckDate:
          type: string
          format: date-time
        swpAmount:
          type: number
          format: double
        isProrated:
          type: boolean
        isCashFundingIgnored:
          type: boolean
        frequency:
          type: string
          enum:
          - Monthly
          - Quarterly
          - Semiannually
          - Annually
        cycleMonth:
          type: integer
          format: int32
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        inActiveDate:
          type: string
          format: date-time
        transactionDay:
          type: integer
          format: int32
        custodialSWPDate:
          type: integer
          format: int32
        taxesWithheld:
          type: number
          format: double
        stateTax:
          type: number
          format: double
        distributionCode:
          type: integer
          format: int32
        notes:
          type: string
        source:
          type: integer
          format: int32
        dataEntryMethod:
          type: integer
          format: int32
        howTransfered:
          type: integer
          format: int32
        bankName:
          type: string
        bankAddress:
          type: string
        abaNumber:
          type: string
        bankAccountNumber:
          type: string
        lifeType:
          type: integer
          format: int32
        beneficiaryName:
          type: string
        beneficiaryDoB:
          type: string
          format: date-time
        beneficiarySSN:
          type: string
        reason:
          type: string
        isSpouse:
          type: boolean
        isTaxWithType:
          type: string
          enum:
          - Undefined
          - Dollar
          - Percent
          - Unknown
          - None
        isRecalc:
          type: boolean
        isAutoRmd:
          type: boolean
        nextDate:
          type: string
          format: date-time
        importKey:
          type: string
        custodialSystematicId:
          type: string
      xml:
        name: SystematicDto
      type: object
    OAS.WebApi.DTO.Integrations.Astro.AstroAssetDto:
      properties:
        assetId:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        productName:
          type: string
        source:
          type: string
        restrictionType:
          type: string
          enum:
          - None
          - DoNotBuy
          - DoNotSell
          - DoNotTrade
          - SellAllShares
          - BringWeightTo
          - Percent
        isCustodialCash:
          type: boolean
        minPercentWeight:
          type: number
          format: double
        maxPercentWeight:
          type: number
          format: double
        ticker:
          type: string
        shares:
          type: number
          format: double
        allocation:
          type: number
          format: double
      xml:
        name: AstroAssetDto
      type: object
    OAS.WebApi.DTO.Portfolio.AccountGoalDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        amount:
          type: number
          format: double
      xml:
        name: AccountGoalDto
      type: object
    OAS.WebApi.DTO.Integrations.Astro.AstroSleeveDto:
      properties:
        id:
          type: integer
          format: int32
        type:
          type: string
        number:
          type: string
        useCustodialRestrictions:
          type: boolean
        restrictionStatus:
          type: string
          enum:
          - None
          - Exists
          - Same
      xml:
        name: AstroSleeveDto
      type: object
    OAS.WebApi.DTO.Trading.CustomAllocationsDto:
      properties:
        allocation:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CustomAllocationsDetailDto'
        newMoney:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CustomAllocationsDetailDto'
      xml:
        name: CustomAllocationsDto
      type: object
    OAS.WebApi.DTO.Portfolio.HouseholdMemberDto:
      properties:
        id:
          type: integer
          format: int32
        type:
          type: string
        globalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        salutation:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        fullName:
          type: string
        homePhone:
          type: string
        homePhoneExt:
          type: string
        fax:
          type: string
        faxExt:
          type: string
        pager:
          type: string
        pagerExt:
          type: string
        mobilePhone:
          type: string
        businessPhone:
          type: string
        businessPhoneExt:
          type: string
        otherPhone:
          type: string
        otherPhoneExt:
          type: string
        email:
          type: string
        ssN_TaxID:
          type: string
        gender:
          type: string
        dob:
          type: string
          format: date-time
        webAddress:
          type: string
        additionalAddresses:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.HouseholdMemberAdditionalAddressDto'
          xml:
            name: HouseholdMemberAdditionalAddressDto
            wrapped: true
          type: array
      xml:
        name: HouseholdMemberDto
      type: object
    OAS.WebApi.DTO.Portfolio.ClientAssetExclusionDto:
      properties:
        id:
          type: integer
          format: int32
        exclusionType:
          type: integer
          format: int32
        exclusionValue:
          type: integer
          format: int32
        isExcluded:
          type: boolean
        securityClassificationMethodId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: ClientAssetExclusionDto
      type: object
    OAS.WebApi.DTO.Integrations.Astro.IndustryDto:
      properties:
        id:
          type: string
        name:
          type: string
        penalty:
          type: number
          format: double
        minimumValue:
          type: number
          format: double
        maximumValue:
          type: number
          format: double
        sectorId:
          type: string
      xml:
        name: IndustryDto
      type: object
    OAS.WebApi.DTO.Interface.AdditionalColumnDefinition:
      properties:
        key:
          type: string
        value:
          type: string
      xml:
        name: AdditionalColumnDefinition
      type: object
    OAS.WebApi.DTO.Portfolio.GeneralAccountDto:
      properties:
        id:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
[...]
