openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Download Format API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/DownloadFormat
paths:
  /v1/Confirm/DownloadFormat/DownloadSubFormatSchedulerDefault/{formatId}:
    get:
      tags:
      - Confirm/DownloadFormat
      summary: Gets the Download Format Source Default that has the provided key.
      description: 'Sample Request

        GET /Confirm/DownloadFormat/DownloadSubFormatSchedulerDefault/14

        [

        {

        "downloadFormatId": 14,

        "downloadFormatSubTypeId": 66,

        "isAltSchedule": true,

        "notificationGroup": null,

        "notifyOnSuccess": false,

        "active": false,

        "priorityJob": false,

        "interval": "Minute",

        "frequency": 1,

        "offset": 1,

        "offsetInterval": "Minute",

        "startTime": "1900-01-01T00:10:00-06:00",

        "endTime": "1900-01-01T00:20:00-06:00",

        "runDays": "Weekends",

        "businessDayOfMonth": "Tuesday",

        "schedulerTypeName": "FixedIntervalScheduler",

        "filePath": "myFilePath.json",

        "folderPath": "my/Folder/Path",

        "searchPattern": "*.*",

        "searchOption": "TopDirectoryOnly",

        "importFiles": true,

        "applyPriceAndSecurity": true,

        "verifyPriceAndSecurity": true,

        "useThreading": false,

        "numberOfThreads": 1,

        "sizeOfBatch": 0,

        "useAlternateFilePattern": false,

        "expectedNumberOfFiles": 0,

        "parentJobID": 0,

        "editedDate": null,

        "editedBy": null,

        "createdDate": null,

        "createdBy": null,

        "isCostBasis": false

        },

        {

        "downloadFormatId": 14,

        "downloadFormatSubTypeId": 101,

        "isAltSchedule": true,

        "notificationGroup": null,

        "notifyOnSuccess": false,

        "active": true,

        "priorityJob": true,

        "interval": "Hour",

        "frequency": 1,

        "offset": 3,

        "offsetInterval": "Week",

        "startTime": "1900-01-01T00:10:00-06:00",

        "endTime": "1900-01-01T00:20:00-06:00",

        "runDays": "Tuesday",

        "businessDayOfMonth": "Tuesday",

        "schedulerTypeName": "FixedIntervalScheduler",

        "filePath": "myFilePath.json",

        "folderPath": "my/Folder/Path",

        "searchPattern": "*.*",

        "searchOption": "AllDirectories",

        "importFiles": true,

        "applyPriceAndSecurity": true,

        "verifyPriceAndSecurity": true,

        "useThreading": false,

        "numberOfThreads": 1,

        "sizeOfBatch": 1,

        "useAlternateFilePattern": false,

        "expectedNumberOfFiles": 500,

        "parentJobID": 1,

        "editedDate": null,

        "editedBy": null,

        "createdDate": null,

        "createdBy": null,

        "isCostBasis": false

        }

        ]'
      operationId: DownloadSubFormatSchedulerDefault_GetAllDownloadSubFormatSchedulerDefaultsByDownloadFormatIdAsync
      parameters:
      - name: formatId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The cancellation token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSubFormatSchedulerDefaultDto'
                xml:
                  name: DownloadSubFormatSchedulerDefaultDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSubFormatSchedulerDefaultDto'
                xml:
                  name: DownloadSubFormatSchedulerDefaultDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSubFormatSchedulerDefaultDto'
                xml:
                  name: DownloadSubFormatSchedulerDefaultDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSubFormatSchedulerDefaultDto'
                xml:
                  name: DownloadSubFormatSchedulerDefaultDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSubFormatSchedulerDefaultDto'
                xml:
                  name: DownloadSubFormatSchedulerDefaultDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSubFormatSchedulerDefaultDto'
                xml:
                  name: DownloadSubFormatSchedulerDefaultDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/DownloadFormat/DownloadSubFormatSchedulerDefault/BulkUpdate:
    post:
      tags:
      - Confirm/DownloadFormat
      summary: Updates all Scheduler Default SubFormats
      description: 'Sample Request

        Post /Confirm/DownloadFormatSourceDefault/BulkUpdate

        {

        [{"downloadFormatId":14,"downloadFormatSubTypeId":66,"isAltSchedule":true,"notificationGroup":null,"notifyOnSuccess":false,"active":false,"priorityJob":false,"interval":"Minute","frequency":1,"offset":1,"offsetInterval":"Minute","startTime":"1900-01-01T00:10:00-06:00","endTime":"1900-01-01T00:20:00-06:00","runDays":"Weekends","businessDayOfMonth":"Tuesday","schedulerTypeName":"FixedIntervalScheduler","filePath":"myFilePath.json","folderPath":"my/Folder/Path","searchPattern":"*.*","searchOption":"TopDirectoryOnly","importFiles":true,"applyPriceAndSecurity":true,"verifyPriceAndSecurity":true,"useThreading":false,"numberOfThreads":1,"sizeOfBatch":0,"useAlternateFilePattern":false,"expectedNumberOfFiles":0,"parentJobID":0,"editedDate":null,"editedBy":null,"createdDate":null,"createdBy":null,"isCostBasis":false,"isFromDB":true},{"downloadFormatId":14,"downloadFormatSubTypeId":101,"isAltSchedule":true,"notificationGroup":null,"notifyOnSuccess":false,"active":true,"priorityJob":true,"interval":"Hour","frequency":1,"offset":3,"offsetInterval":"Week","startTime":"1900-01-01T00:10:00-06:00","endTime":"1900-01-01T00:20:00-06:00","runDays":"Tuesday","businessDayOfMonth":"Tuesday","schedulerTypeName":"FixedIntervalScheduler","filePath":"myFilePath.json","folderPath":"my/Folder/Path","searchPattern":"*.*","searchOption":"AllDirectories","importFiles":true,"applyPriceAndSecurity":true,"verifyPriceAndSecurity":true,"useThreading":false,"numberOfThreads":1,"sizeOfBatch":1,"useAlternateFilePattern":false,"expectedNumberOfFiles":500,"parentJobID":1,"editedDate":null,"editedBy":null,"createdDate":null,"createdBy":null,"isCostBasis":false,"isFromDB":true},{ "downloadFormatId":14,"downloadFormatSubTypeId":0,"isCostBasis":false,"isAltSchedule":false,"notificationGroup":null,"notifyOnSuccess":false,"active":false,"priorityJob":false,"interval":"Day","frequency":1,"offset":0,"offsetInterval":"Day","startTime":"2000-01-01 00:00:00.000","endTime":"2000-01-01 23:59:00.000","runDays":"Everyday","businessDayofMonth":null,"schedulerTypeName":"FixedIntervalScheduler","filePath":null,"folderPath":null,"searchPattern":null,"searchOption":"TopDirectoryOnly","importFiles":true,"applyPriceAndSecurity":true,"verifyPriceAndSecurity":true,"numberOfThreads":4,"sizeOfBatch":20000,"useAlternateFilePattern":false,"expectedNumberOfFiles":0,"parentJobID":null,"isFromDB":true}]

        }'
      operationId: DownloadSubFormatSchedulerDefault_BulkUpdateDownloadSubFormatSchedulerDefaultsAsync
      parameters:
      - name: token
        in: header
        description: The cancellation token
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSubFormatSchedulerDefaultDto'
              xml:
                name: DownloadSubFormatSchedulerDefaultDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSubFormatSchedulerDefaultDto'
              xml:
                name: DownloadSubFormatSchedulerDefaultDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSubFormatSchedulerDefaultDto'
              xml:
                name: DownloadSubFormatSchedulerDefaultDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSubFormatSchedulerDefaultDto'
              xml:
                name: DownloadSubFormatSchedulerDefaultDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSubFormatSchedulerDefaultDto'
              xml:
                name: DownloadSubFormatSchedulerDefaultDto
                wrapped: true
              type: array
        description: The collection of data we should update the subformats to
        required: true
  /v1/Confirm/DownloadFormat/DownloadSubFormatSchedulerDefault/DeleteCostBasisRows:
    post:
      tags:
      - Confirm/DownloadFormat
      summary: Deletes rows from DownloadSubFormatSchedulerDefaults based on the input…
      description: 'Sample Request

        POST /Confirm/DownloadFormat/DownloadSubFormatSchedulerDefault/DeleteCostBasisRows

        {

        [{"downloadFormatId":14,"downloadFormatSubTypeId":0,"isCostBasis":true},{"downloadFormatId":14,"downloadFormatSubTypeId":101,"isCostBasis":true}]

        }'
      operationId: DownloadSubFormatSchedulerDefault_RemoveCostBasisDownloadSubFormatSchedulerDefaultsByKeyAsync
      parameters:
      - name: token
        in: header
        description: The cancellation token
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.DownloadSubFormatSchedulerDefaultKey'
              xml:
                name: DownloadSubFormatSchedulerDefaultKey
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.DownloadSubFormatSchedulerDefaultKey'
              xml:
                name: DownloadSubFormatSchedulerDefaultKey
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.DownloadSubFormatSchedulerDefaultKey'
              xml:
                name: DownloadSubFormatSchedulerDefaultKey
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.DownloadSubFormatSchedulerDefaultKey'
              xml:
                name: DownloadSubFormatSchedulerDefaultKey
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.DownloadSubFormatSchedulerDefaultKey'
              xml:
                name: DownloadSubFormatSchedulerDefaultKey
                wrapped: true
              type: array
        description: The data we should delete
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Confirm.DownloadSubFormatSchedulerDefaultDto:
      properties:
        downloadFormatId:
          type: integer
          format: int32
        downloadFormatSubTypeId:
          type: integer
          format: int32
        isAltSchedule:
          type: boolean
        notificationGroup:
          type: integer
          format: int32
        notifyOnSuccess:
          type: boolean
        active:
          type: boolean
        priorityJob:
          type: boolean
        interval:
          type: string
          enum:
          - Minute
          - Hour
          - Day
          - Week
          - Month
          - Quarter
          - Year
        frequency:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        offsetInterval:
          type: string
          enum:
          - Minute
          - Hour
          - Day
          - Week
          - Month
          - Quarter
          - Year
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        runDays:
          type: string
          enum:
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          - Sunday
          - Everyday
          - Weekdays
          - Weekends
          - TuesdayToSaturday
        businessDayOfMonth:
          type: string
        schedulerTypeName:
          type: string
        filePath:
          type: string
        folderPath:
          type: string
        searchPattern:
          type: string
        searchOption:
          type: string
          enum:
          - TopDirectoryOnly
          - AllDirectories
        importFiles:
          type: boolean
        applyPriceAndSecurity:
          type: boolean
        applyName:
          type: boolean
        applyPosition:
          type: boolean
        applyTransaction:
          type: boolean
        applyDividend:
          type: boolean
        applyCorpAction:
          type: boolean
        applyTranDetail:
          type: boolean
        applyGeneric:
          type: boolean
        applyCostBasis:
          type: boolean
        applyBeneficiary:
          type: boolean
        applySystematic:
          type: boolean
        applyRMD:
          type: boolean
        applyBanking:
          type: boolean
        useThreading:
          type: boolean
        numberOfThreads:
          type: integer
          format: int32
        sizeOfBatch:
          type: integer
          format: int32
        useAlternateFilePattern:
          type: boolean
        expectedNumberOfFiles:
          type: integer
          format: int32
        parentJobID:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        isCostBasis:
          type: boolean
        addToFetchJobScheduleID:
          type: string
      xml:
        name: DownloadSubFormatSchedulerDefaultDto
      type: object
    OAS.DataModel.Confirm.DownloadSubFormatSchedulerDefaultKey:
      properties:
        downloadFormatId:
          type: integer
          format: int32
        downloadFormatSubTypeId:
          type: integer
          format: int32
        isCostBasis:
          type: boolean
      xml:
        name: DownloadSubFormatSchedulerDefaultKey
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
