openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Query Studio/Natural Language API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: QueryStudio/NaturalLanguage
paths:
  /v1/QueryStudio/NaturalLanguage/AWS/CustomFields:
    post:
      tags:
      - QueryStudio/NaturalLanguage
      operationId: QueryTagNaturalLanguage_UploadCustomFieldsS3BucketAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Query tag natural language upload custom fields S3 bucket async
      x-summary-source: derived
  /v1/QueryStudio/NaturalLanguage/AWS/KnowledgeBase/Sync:
    post:
      tags:
      - QueryStudio/NaturalLanguage
      operationId: QueryTagNaturalLanguage_StartKnowledgeBaseSyncJobAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Query tag natural language start knowledge base sync job async
      x-summary-source: derived
  /v1/QueryStudio/NaturalLanguage/AWS/KnowledgeBase/SyncStatus/{jobId}:
    post:
      tags:
      - QueryStudio/NaturalLanguage
      operationId: QueryTagNaturalLanguage_PostV1QueryStudioNaturalLanguageAWSKnowledgeBaseSyncStatusByJobId
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Query tag natural language post V1 query studio natural language AWS knowledge…
      x-summary-source: derived
  /v1/QueryStudio/NaturalLanguage/AWS/QueryTags:
    post:
      tags:
      - QueryStudio/NaturalLanguage
      operationId: QueryTagNaturalLanguage_UploadQueryTagsS3BucketAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Query tag natural language upload query tags S3 bucket async
      x-summary-source: derived
  /v1/QueryStudio/NaturalLanguage/AWS/QueryTags/Source/{sourceId}:
    post:
      tags:
      - QueryStudio/NaturalLanguage
      operationId: QueryTagNaturalLanguage_PostV1QueryStudioNaturalLanguageAWSQueryTagsSourceBySourceId
      parameters:
      - name: sourceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Query tag natural language post V1 query studio natural language AWS query tags…
      x-summary-source: derived
  /v1/QueryStudio/NaturalLanguage/QueryTags:
    post:
      tags:
      - QueryStudio/NaturalLanguage
      operationId: QueryTagNaturalLanguage_GetQueryTagsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.NaturalLanguage.AwsQueryTagChatMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.NaturalLanguage.AwsQueryTagChatMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.NaturalLanguage.AwsQueryTagChatMessage'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.NaturalLanguage.AwsQueryTagChatMessage'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.NaturalLanguage.AwsQueryTagChatMessage'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.NaturalLanguage.AwsQueryTagChatMessage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.NaturalLanguage.AwsQueryTagChatMessage'
        required: true
      summary: Query tag natural language get query tags async
      x-summary-source: derived
components:
  schemas:
    OAS.DataProcess.QueryStudio.NaturalLanguage.AwsQueryTagChatMessage:
      properties:
        prompt:
          type: string
        firmId:
          readOnly: true
          type: integer
          format: int32
        conversationHistories:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.NaturalLanguage.AIChatMessage'
          xml:
            name: AIChatMessage
            wrapped: true
          type: array
      xml:
        name: AwsQueryTagChatMessage
      type: object
    OAS.DataProcess.QueryStudio.NaturalLanguage.AIChatMessage:
      properties:
        role:
          type: string
        text:
          type: string
      xml:
        name: AIChatMessage
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
