openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Adjustment Types API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/AdjustmentTypes
paths:
  /v1/Billing/AdjustmentTypes:
    get:
      tags:
      - Billing/AdjustmentTypes
      operationId: BillingAdjustmentTypes_GetAdjustmentType
      parameters:
      - name: isPayable
        in: query
        required: false
        schema:
          type: boolean
      - name: isPayableAffect
        in: query
        required: false
        schema:
          type: boolean
      - name: isDebit
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
                xml:
                  name: BillAdjustmentTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
                xml:
                  name: BillAdjustmentTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
                xml:
                  name: BillAdjustmentTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
                xml:
                  name: BillAdjustmentTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
                xml:
                  name: BillAdjustmentTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
                xml:
                  name: BillAdjustmentTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Billing adjustment types get adjustment type
      x-summary-source: derived
    post:
      tags:
      - Billing/AdjustmentTypes
      operationId: BillingAdjustmentTypes_CreateAdjustmentTypeAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
        required: true
      summary: Billing adjustment types create adjustment type async
      x-summary-source: derived
  /v1/Billing/AdjustmentTypes/{key}:
    get:
      tags:
      - Billing/AdjustmentTypes
      operationId: BillingAdjustmentTypes_GetAdjustmentTypesByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
      security:
      - Authorization: []
      summary: Billing adjustment types get adjustment types by key
      x-summary-source: derived
    put:
      tags:
      - Billing/AdjustmentTypes
      operationId: BillingAdjustmentTypes_UpdateAdjustmentTypeAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto'
        required: true
      summary: Billing adjustment types update adjustment type async
      x-summary-source: derived
    delete:
      tags:
      - Billing/AdjustmentTypes
      operationId: BillingAdjustmentTypes_DeleteAdjustmentTypeAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing adjustment types delete adjustment type async
      x-summary-source: derived
  /v1/Billing/AdjustmentTypes/DeleteMany:
    post:
      tags:
      - Billing/AdjustmentTypes
      operationId: BillingAdjustmentTypes_DeleteAdjustmentTypesAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Billing adjustment types delete adjustment types async
      x-summary-source: derived
  /v1/Billing/AdjustmentTypes/History/{key}:
    get:
      tags:
      - Billing/AdjustmentTypes
      operationId: BillingAdjustmentTypes_GetAdjustmentTypeHistoryByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeHistoryDto'
                xml:
                  name: BillAdjustmentTypeHistoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeHistoryDto'
                xml:
                  name: BillAdjustmentTypeHistoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeHistoryDto'
                xml:
                  name: BillAdjustmentTypeHistoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeHistoryDto'
                xml:
                  name: BillAdjustmentTypeHistoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeHistoryDto'
                xml:
                  name: BillAdjustmentTypeHistoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAdjustmentTypeHistoryDto'
                xml:
                  name: BillAdjustmentTypeHistoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Billing adjustment types get adjustment type history by key
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Billing.BillAdjustmentTypeHistoryDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        isDebit:
          type: boolean
        isPayableAffect:
          type: boolean
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
      xml:
        name: BillAdjustmentTypeHistoryDto
      type: object
    OAS.WebApi.DTO.Billing.BillAdjustmentTypeDto:
      properties:
        id:
          type: integer
          format: int32
        isPayable:
          type: boolean
        adjustmentType:
          type: string
        isDebit:
          type: boolean
        transactionType:
          type: string
        name:
          type: string
        feeFileGroup:
          type: integer
          format: int32
        isPayableAffect:
          type: boolean
        isNet:
          type: boolean
        isExcludedEU:
          type: boolean
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
      xml:
        name: BillAdjustmentTypeDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
