openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Salesforce Sync API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/SalesforceSync
paths:
  /v1/Integrations/SalesforceSync/Setup:
    get:
      tags:
      - Integrations/SalesforceSync
      operationId: SalesforceSync_GetSetupsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce sync get setups async
      x-summary-source: derived
    post:
      tags:
      - Integrations/SalesforceSync
      operationId: SalesforceSync_PostSetupsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesForce.SfSyncPostDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesForce.SfSyncPostDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesForce.SfSyncPostDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesForce.SfSyncPostDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesForce.SfSyncPostDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesForce.SfSyncPostDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesForce.SfSyncPostDto'
        required: true
      summary: Salesforce sync post setups async
      x-summary-source: derived
  /v1/Integrations/SalesforceSync/Setup/{id}:
    delete:
      tags:
      - Integrations/SalesforceSync
      operationId: SalesforceSync_DeleteSetupsAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce sync delete setups async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.Code.Integrations.SalesForce.SfSyncPostDto:
      properties:
        id:
          type: integer
          format: int32
        repId:
          type: integer
          format: int32
        orgId:
          type: string
        userName:
          type: string
        password:
          type: string
        serviceURL:
          type: string
      xml:
        name: SfSyncPostDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
