openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Logging API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility - Logging
paths:
  /v1/Utility/Logging/{eventName}:
    post:
      tags:
      - Utility - Logging
      summary: Used to log custom users information
      operationId: Utility_LogCustomInfo
      parameters:
      - name: eventName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: object
          application/json:
            schema:
              type: object
          text/json:
            schema:
              type: object
          application/xml:
            schema:
              type: object
          text/xml:
            schema:
              type: object
          application/x-www-form-urlencoded:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        required: true
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
