openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Convex Rebalance Account API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/ConvexRebalanceAccount
paths:
  /v1/Trading/ConvexRebalanceAccount:
    get:
      tags:
      - Trading/ConvexRebalanceAccount
      operationId: ConvexRebalanceAccount_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Convex rebalance account get
      x-summary-source: derived
  /v1/Trading/ConvexRebalanceAccount/{key}:
    get:
      tags:
      - Trading/ConvexRebalanceAccount
      operationId: ConvexRebalanceAccount_GetByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Convex rebalance account get by key
      x-summary-source: derived
    put:
      tags:
      - Trading/ConvexRebalanceAccount
      operationId: ConvexRebalanceAccount_UpdateEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
                xml:
                  name: ConvexRebalanceAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto'
        required: true
      summary: Convex rebalance account update entity
      x-summary-source: derived
  /v1/Trading/ConvexRebalanceAccount/CalculateAccount:
    post:
      tags:
      - Trading/ConvexRebalanceAccount
      summary: Convex rebalance for account
      operationId: ConvexRebalanceAccount_ConvexRecalculateAccounts
      parameters:
      - name: key
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: recalcHistory
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDto:
      properties:
        id:
          type: integer
          format: int32
        accountCode:
          type: string
        initialValue:
          type: number
          format: double
        initialFloor:
          type: number
          format: double
        currentFloor:
          type: number
          format: double
        currentRisk:
          type: number
          format: double
        lastUpdate:
          type: string
          format: date-time
        useConvexRebalance:
          type: boolean
        continuumNumber:
          type: string
        registrationName:
          type: string
        planner:
          type: string
        branchId:
          type: string
        tradingInstr:
          type: string
        accountValue:
          type: number
          format: double
        cushionPercent:
          type: number
          format: double
        modelAggIdSelection:
          type: integer
          format: int32
        modelAggIdAssigned:
          type: integer
          format: int32
        modelAggSelection:
          type: string
        modelAggAssigned:
          type: string
        drawdown:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDrawdownDto'
          xml:
            name: ConvexRebalanceAccountDrawdownDto
            wrapped: true
          type: array
        message:
          readOnly: true
          type: string
      xml:
        name: ConvexRebalanceAccountDto
      type: object
    OAS.WebApi.DTO.Trading.ConvexRebalanceAccountDrawdownDto:
      properties:
        accountId:
          type: integer
          format: int32
        effectiveDate:
          type: string
          format: date-time
        factor:
          type: number
          format: double
        maxRiskPercent:
          type: integer
          format: int32
      xml:
        name: ConvexRebalanceAccountDrawdownDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
