openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Global/Fund Families API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Global/FundFamilies
paths:
  /v1/Global/FundFamilies:
    get:
      tags:
      - Global/FundFamilies
      summary: Gets a list of fund families that the logged in user has access to
      operationId: GlobalFundFamilies_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
                xml:
                  name: FundFamilyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
                xml:
                  name: FundFamilyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
                xml:
                  name: FundFamilyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
                xml:
                  name: FundFamilyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/FundFamilies/{key}:
    get:
      tags:
      - Global/FundFamilies
      summary: Gets the fund families that has the provided key.
      operationId: GlobalFundFamilies_GetByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
      security:
      - Authorization: []
  /v1/Global/FundFamilies/Simple:
    get:
      tags:
      - Global/FundFamilies
      summary: Gets a simple list of fund families that the logged in user has access to
      operationId: GlobalFundFamilies_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/FundFamilies/Simple/Search:
    get:
      tags:
      - Global/FundFamilies
      summary: Gets a simple list of fund families that the logged in user has access to where…
      operationId: GlobalFundFamilies_GetFundFamilySearch
      parameters:
      - name: search
        in: query
        description: Partial fund family name to search for.
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: 'Optional. Default: null. The maximum number of products to return. If null returns all.'
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: 'Optional. Default: 0. Defines number of items to skip.'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/FundFamilies/Simple/Search/{search}:
    get:
      tags:
      - Global/FundFamilies
      summary: Gets a simple list of fund families that the logged in user has access to where…
      operationId: GlobalFundFamilies_GetV1GlobalFundFamiliesSimpleSearchBySearch
      parameters:
      - name: search
        in: path
        description: Partial fund family name to search for.
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: 'Optional. Default: null. The maximum number of products to return. If null returns all.'
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: 'Optional. Default: 0. Defines number of items to skip.'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/FundFamilies/Update:
    put:
      tags:
      - Global/FundFamilies
      summary: Update fund family
      operationId: GlobalFundFamilies_UpdateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.FundFamilyEntityOptionDto:
      properties:
        entityId:
          type: integer
          format: int32
        userDefineDefinitionId:
          type: integer
          format: int32
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        name:
          type: string
        code:
          type: string
        securityCode:
          type: string
        definition:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDefinitionDto'
      xml:
        name: FundFamilyEntityOptionDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Portfolio.FundFamilyDefinitionDto:
      properties:
        id:
          type: integer
          format: int32
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        description:
          type: string
        mask:
          type: string
        defaultValue:
          type: string
        sequence:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        category:
          type: string
        customObject:
          type: string
        controlProperties:
          type: string
        securityCode:
          type: string
        isTimeSensitive:
          type: boolean
        options:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyOptionDto'
          xml:
            name: FundFamilyOptionDto
            wrapped: true
          type: array
      xml:
        name: FundFamilyDefinitionDto
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDto
      type: object
    OAS.WebApi.DTO.Portfolio.FundFamilyOptionDto:
      properties:
        id:
          type: integer
          format: int32
        userDefineDefinitionId:
          type: integer
          format: int32
        listValue:
          type: string
        isDefault:
          type: boolean
        sequence:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: FundFamilyOptionDto
      type: object
    OAS.WebApi.DTO.Portfolio.CustodianTradeFileFormatDto:
      properties:
        id:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        fundFamilyId:
          type: integer
          format: int32
        registrationTypeId:
          type: integer
          format: int32
        platformId:
          type: integer
          format: int32
        trExFmtId:
          type: integer
          format: int32
        tPlusDays:
          type: integer
          format: int32
        isNAAllowed:
          type: boolean
        trExFmtEndResultId:
          type: integer
          format: int32
      xml:
        name: CustodianTradeFileFormatDto
      type: object
    OAS.WebApi.DTO.Portfolio.FundFamilyDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        editedDate:
          type: string
          format: date-time
        createdBy:
          type: string
        isActive:
          type: boolean
        isAnnuity:
          type: boolean
        unitScale:
          type: integer
          format: int32
        priceScale:
          type: integer
          format: int32
        isShareClassSensitive:
          type: boolean
        isAcctNumUnique:
          type: boolean
        isDefault:
          type: boolean
        isCreateDistribution:
          type: boolean
        sungardBrokerId:
          type: integer
          format: int32
        custComplexes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustComplexDto'
          xml:
            name: CustComplexDto
            wrapped: true
          type: array
        custodianTradeFileFormats:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianTradeFileFormatDto'
          xml:
            name: CustodianTradeFileFormatDto
            wrapped: true
          type: array
        userDefinedFields:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
        entityOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyEntityOptionDto'
          xml:
            name: FundFamilyEntityOptionDto
            wrapped: true
          type: array
      xml:
        name: FundFamilyDto
      type: object
    OAS.WebApi.DTO.Portfolio.CustComplexDto:
      properties:
        id:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        custodianName:
          type: string
        isDefault:
          type: boolean
        fundFamilyId:
          type: integer
          format: int32
        fundFamilyName:
          type: string
        collectFormatId:
          type: integer
          format: int32
        collectFormatName:
          type: string
        collectMethodName:
          type: string
        collectMethodId:
          type: integer
          format: int32
        newAcctFormatId:
          type: integer
          format: int32
        chkReqFormatId:
          type: integer
          format: int32
        swdFormatId:
          type: integer
          format: int32
      xml:
        name: CustComplexDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
