openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Clever Dome API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/CleverDome
paths:
  /v1/Integrations/CleverDome/Configuration:
    get:
      tags:
      - Integrations/CleverDome
      summary: Retrieves CleverDome Integration details
      operationId: CleverDome_GetConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/CleverDome
      summary: Saves CleverDome integration settings
      operationId: CleverDome_UpdateConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto'
        required: true
  /v1/Integrations/CleverDome/Configuration/Test:
    get:
      tags:
      - Integrations/CleverDome
      summary: Checks to see if CleverDome integration has been setup for this database
      operationId: CleverDome_CheckConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.Domains.Integrations.CleverDomeController.IntegrationConfigDto:
      properties:
        cleverDomeUsername:
          type: string
      xml:
        name: IntegrationConfigDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
