openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Report Builder/Sections API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: ReportBuilder/Sections
paths:
  /v1/ReportBuilder/Sections:
    get:
      tags:
      - ReportBuilder/Sections
      summary: Gets a list of report builder sections that the logged in user has access to
      operationId: Sections_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/ReportBuilder/Sections/{key}:
    get:
      tags:
      - ReportBuilder/Sections
      summary: Gets the report builder section that has the provided key.
      operationId: Sections_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
      security:
      - Authorization: []
  /v1/ReportBuilder/Sections/{key}/Image:
    get:
      tags:
      - ReportBuilder/Sections
      summary: Gets the image of the report builder section that has the provided key…
      operationId: Sections_GetImage
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/ReportBuilder/Sections/Landscape:
    get:
      tags:
      - ReportBuilder/Sections
      summary: Gets a list of report builder sections that are landscape oriented
      operationId: Sections_GetLandscape
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/ReportBuilder/Sections/Landscape/Grouped:
    get:
      tags:
      - ReportBuilder/Sections
      summary: Gets a list of report builder sections that are landscape oriented grouped by…
      operationId: Sections_GetLandscapeGrouped
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionCategoryDto'
                xml:
                  name: ReportSectionCategoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionCategoryDto'
                xml:
                  name: ReportSectionCategoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionCategoryDto'
                xml:
                  name: ReportSectionCategoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionCategoryDto'
                xml:
                  name: ReportSectionCategoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionCategoryDto'
                xml:
                  name: ReportSectionCategoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionCategoryDto'
                xml:
                  name: ReportSectionCategoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/ReportBuilder/Sections/Parameters:
    get:
      tags:
      - ReportBuilder/Sections
      summary: Gets a dictionary of all the parameters used in all sections that the logged in…
      operationId: Sections_GetParameter
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ReportSectionOptionDto'
                  xml:
                    name: ReportSectionOptionDto
                    wrapped: true
                  type: array
                type: object
            application/json:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ReportSectionOptionDto'
                  xml:
                    name: ReportSectionOptionDto
                    wrapped: true
                  type: array
                type: object
            text/json:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ReportSectionOptionDto'
                  xml:
                    name: ReportSectionOptionDto
                    wrapped: true
                  type: array
                type: object
            multipart/form-data:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ReportSectionOptionDto'
                  xml:
                    name: ReportSectionOptionDto
                    wrapped: true
                  type: array
                type: object
      security:
      - Authorization: []
  /v1/ReportBuilder/Sections/Portrait:
    get:
      tags:
      - ReportBuilder/Sections
      summary: Gets a list of report builder sections that are portrait oriented
      operationId: Sections_GetPortrait
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/ReportBuilder/Sections/Portrait/Grouped:
    get:
      tags:
      - ReportBuilder/Sections
      summary: Gets a list of report builder sections that are portrait oriented grouped by…
      operationId: Sections_GetPortraitGrouped
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionCategoryDto'
                xml:
                  name: ReportSectionCategoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionCategoryDto'
                xml:
                  name: ReportSectionCategoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionCategoryDto'
                xml:
                  name: ReportSectionCategoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionCategoryDto'
                xml:
                  name: ReportSectionCategoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionCategoryDto'
                xml:
                  name: ReportSectionCategoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionCategoryDto'
                xml:
                  name: ReportSectionCategoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.ReportAdministration.ReportSectionParameterDto:
      properties:
        id:
          type: integer
          format: int32
        displayName:
          type: string
        value:
          type: string
      xml:
        name: ReportSectionParameterDto
      type: object
    OAS.WebApi.DTO.Reporting.RunReport.ReportSectionOptionDto:
      properties:
        category:
          type: string
        childParameter:
          type: string
        name:
          type: string
        value:
          type: string
        display:
          type: string
        order:
          type: integer
          format: int32
        description:
          type: string
        input:
          type: string
        options:
          type: object
      xml:
        name: ReportSectionOptionDto
      type: object
    OAS.WebApi.DTO.ReportAdministration.ReportSectionDto:
      properties:
        id:
          type: integer
          format: int32
        displayName:
          type: string
        description:
          type: string
        width:
          type: string
          enum:
          - PortraitFull
          - LandscapeFull
          - LandscapeHalf
        templateType:
          type: string
          enum:
          - All
          - Standard
          - FooterImage
          - Disclaimer
          - WiderLogo
          - HeaderSlim
        parameters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionParameterDto'
          xml:
            name: ReportSectionParameterDto
            wrapped: true
          type: array
        createdDate:
          type: string
          format: date-time
      xml:
        name: ReportSectionDto
      type: object
    OAS.WebApi.DTO.ReportAdministration.ReportSectionCategoryDto:
      properties:
        category:
          type: string
        reportSections:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
          xml:
            name: ReportSectionDto
            wrapped: true
          type: array
      xml:
        name: ReportSectionCategoryDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
