openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Homepage/Portfolio Tree API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Homepage/PortfolioTree
paths:
  /v1/Homepage/PortfolioTree:
    get:
      tags:
      - Homepage/PortfolioTree
      summary: Get a List of Assets with properties that can be used to show allocation by…
      operationId: Dashboard_GetPortfolioTreeAllocationAsync
      parameters:
      - name: asOfDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: cancellationToken
        in: header
        required: true
      - name: clientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: displayName
        in: query
        required: false
        schema:
          type: string
      - name: showAccountNumberCharacters
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Homepage/PortfolioTree/PortfolioGroup:
    get:
      tags:
      - Homepage/PortfolioTree
      summary: Get a List of Assets with properties that can be used to show allocation by…
      operationId: Dashboard_GetPortfolioTreePortfolioGroups
      parameters:
      - name: asOfDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: clientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
