openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Cancellation Fee Adj Default API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/CancellationFeeAdjDefault
paths:
  /v1/Billing/CancellationFeeAdjDefault:
    get:
      tags:
      - Billing/CancellationFeeAdjDefault
      operationId: CancellationFeeAdjDefault_GetCancellationFeeAdjDefaults
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
                xml:
                  name: CancellationFeeAdjustmentDefaultDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
                xml:
                  name: CancellationFeeAdjustmentDefaultDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
                xml:
                  name: CancellationFeeAdjustmentDefaultDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
                xml:
                  name: CancellationFeeAdjustmentDefaultDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
                xml:
                  name: CancellationFeeAdjustmentDefaultDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
                xml:
                  name: CancellationFeeAdjustmentDefaultDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Cancellation fee adj default get cancellation fee adj defaults
      x-summary-source: derived
    post:
      tags:
      - Billing/CancellationFeeAdjDefault
      operationId: CancellationFeeAdjDefault_CreateCancellationFeeAdjDefaultAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
        required: true
      summary: Cancellation fee adj default create cancellation fee adj default async
      x-summary-source: derived
  /v1/Billing/CancellationFeeAdjDefault/{key}:
    get:
      tags:
      - Billing/CancellationFeeAdjDefault
      operationId: CancellationFeeAdjDefault_GetCancellationFeeAdjDefaultsByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
      security:
      - Authorization: []
      summary: Cancellation fee adj default get cancellation fee adj defaults by key async
      x-summary-source: derived
    put:
      tags:
      - Billing/CancellationFeeAdjDefault
      operationId: CancellationFeeAdjDefault_UpdateCancellationFeeAdjDefaultAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto'
        required: true
      summary: Cancellation fee adj default update cancellation fee adj default async
      x-summary-source: derived
    delete:
      tags:
      - Billing/CancellationFeeAdjDefault
      operationId: CancellationFeeAdjDefault_DeleteCancellationFeeAdjDefaultAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Cancellation fee adj default delete cancellation fee adj default async
      x-summary-source: derived
  /v1/Billing/CancellationFeeAdjDefault/DeleteMany:
    put:
      tags:
      - Billing/CancellationFeeAdjDefault
      operationId: CancellationFeeAdjDefault_DeleteManyCancellationFeeAdjDefaultAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Cancellation fee adj default delete many cancellation fee adj default async
      x-summary-source: derived
  /v1/Billing/CancellationFeeAdjDefault/History/{key}:
    get:
      tags:
      - Billing/CancellationFeeAdjDefault
      operationId: CancellationFeeAdjDefault_GetAdjustmentTypeHistoryByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultHistoryDto'
                xml:
                  name: CancellationFeeAdjustmentDefaultHistoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultHistoryDto'
                xml:
                  name: CancellationFeeAdjustmentDefaultHistoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultHistoryDto'
                xml:
                  name: CancellationFeeAdjustmentDefaultHistoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultHistoryDto'
                xml:
                  name: CancellationFeeAdjustmentDefaultHistoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultHistoryDto'
                xml:
                  name: CancellationFeeAdjustmentDefaultHistoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultHistoryDto'
                xml:
                  name: CancellationFeeAdjustmentDefaultHistoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Cancellation fee adj default get adjustment type history by key
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultHistoryDto:
      properties:
        id:
          type: integer
          format: int32
        qualified:
          type: boolean
        custodianName:
          type: string
        adjustmentTypeDisplay:
          type: string
        amount:
          type: integer
          format: int32
        entityName:
          type: string
        disbursementMethod:
          type: string
        isOvernightFee:
          type: boolean
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
      xml:
        name: CancellationFeeAdjustmentDefaultHistoryDto
      type: object
    OAS.WebApi.DTO.Billing.CancellationFeeAdjustmentDefaultDto:
      properties:
        id:
          type: integer
          format: int32
        qualified:
          type: boolean
        custodian:
          type: string
        adjustmentType:
          type: string
        amount:
          type: number
          format: double
        responsibleEntity:
          type: string
        disbursementMethod:
          type: string
        isOvernightFee:
          type: boolean
        custodianId:
          type: integer
          format: int32
        responsibleEntityId:
          type: integer
          format: int32
        adjustmentTypeId:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
      xml:
        name: CancellationFeeAdjustmentDefaultDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
