openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Query Studio/Query Tag Sources API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: QueryStudio/QueryTagSources
paths:
  /v1/QueryStudio/QueryTagSources:
    get:
      tags:
      - QueryStudio/QueryTagSources
      operationId: QueryTagSource_GetQueryTagSourcesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.QueryStudio.QueryTagSource'
                xml:
                  name: QueryTagSource
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.QueryStudio.QueryTagSource'
                xml:
                  name: QueryTagSource
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.QueryStudio.QueryTagSource'
                xml:
                  name: QueryTagSource
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.QueryStudio.QueryTagSource'
                xml:
                  name: QueryTagSource
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Query tag source get query tag sources async
      x-summary-source: derived
    put:
      tags:
      - QueryStudio/QueryTagSources
      operationId: QueryTagSource_UpdateQueryTagSourceAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
        required: true
      summary: Query tag source update query tag source async
      x-summary-source: derived
    post:
      tags:
      - QueryStudio/QueryTagSources
      operationId: QueryTagSource_CreateQueryTagSourceAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
        required: true
      summary: Query tag source create query tag source async
      x-summary-source: derived
  /v1/QueryStudio/QueryTagSources/{id}:
    get:
      tags:
      - QueryStudio/QueryTagSources
      operationId: QueryTagSource_GetQueryTagSourceAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto'
      security:
      - Authorization: []
      summary: Query tag source get query tag source async
      x-summary-source: derived
    delete:
      tags:
      - QueryStudio/QueryTagSources
      operationId: QueryTagSource_DeleteQueryTagSourceAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Query tag source delete query tag source async
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.QueryStudio.QueryTag:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        label:
          type: string
        description:
          type: string
        tagDataType:
          type: string
          enum:
          - Int
          - Float
          - Bit
          - DateTime
          - Varchar
          - Money
          - Decimal
          - Object
          - Date
          - TimeUTC
        queryTagSourceId:
          type: integer
          format: int32
        keywords:
          type: string
        category:
          type: string
        isActive:
          type: boolean
        isNullable:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        isDefaultTagForEntityEnum:
          type: boolean
        selectExpression:
          type: string
        queryTagSource:
          $ref: '#/components/schemas/OAS.DataModel.QueryStudio.QueryTagSource'
      xml:
        name: QueryTag
      type: object
    OAS.DataModel.QueryStudio.QueryTagSource:
      properties:
        id:
          type: integer
          format: int32
        sourceName:
          type: string
        sourceType:
          type: string
          enum:
          - Table
          - RB3
          - TVF
          - CustomField
          - EntityOption
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        entityEnum:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        queryTags:
          items:
            $ref: '#/components/schemas/OAS.DataModel.QueryStudio.QueryTag'
          xml:
            name: QueryTag
            wrapped: true
          type: array
        parameters:
          items:
            $ref: '#/components/schemas/OAS.DataModel.QueryStudio.QueryStudioSourceParameter'
          xml:
            name: QueryStudioSourceParameter
            wrapped: true
          type: array
      xml:
        name: QueryTagSource
      type: object
    OAS.DataModel.QueryStudio.QueryStudioSourceParameter:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        displayName:
          type: string
        dataType:
          type: string
          enum:
          - Int
          - Float
          - Bit
          - DateTime
          - Varchar
          - Money
          - Decimal
          - Object
          - Date
          - TimeUTC
        parameterOrder:
          type: integer
          format: int32
        defaultValue:
          type: string
      xml:
        name: QueryStudioSourceParameter
      type: object
    OAS.WebApi.DTO.QueryStudio.QueryTagSourceDto:
      properties:
        id:
          type: integer
          format: int32
        sourceName:
          type: string
        sourceType:
          type: string
          enum:
          - Table
          - RB3
          - TVF
          - CustomField
          - EntityOption
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        entityEnum:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityEnumId:
          type: integer
          format: int32
      xml:
        name: QueryTagSourceDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
