openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Payables By Rep API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/PayablesByRep
paths:
  /v1/Billing/PayablesByRep:
    post:
      tags:
      - Billing/PayablesByRep
      summary: Generate payable data by reps
      operationId: Billing_GeneratePayablesByRepAsync
      parameters:
      - name: token
        in: header
        required: true
      responses:
        '200':
          description: A list of report blob IDs for the generated reports
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
        '400':
          description: "Validation error:\n            You cannot generate audit files on mock and regular instances at the same time."
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostAuditDataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostAuditDataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostAuditDataDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostAuditDataDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostAuditDataDto'
        description: Filter data for the reports to generate
        required: true
components:
  schemas:
    OAS.DataModel.Billing.PostAuditEntity:
      properties:
        entity:
          type: string
          enum:
          - FundFamily
          - Custodian
          - BusinessLine
        ids:
          items:
            type: integer
            format: int32
          type: array
        selected:
          type: boolean
      xml:
        name: PostAuditEntity
      type: object
    OAS.WebApi.DTO.Billing.PostAuditDataDto:
      properties:
        billData:
          description: UNUSED
          type: boolean
        payableSummary:
          description: UNUSED
          type: boolean
        billingAudit:
          description: UNUSED
          type: boolean
        startDate:
          description: Start date of the bill instance date range to filter on
          type: string
          format: date-time
        endDate:
          description: End date of the bill instance date range to filter on
          type: string
          format: date-time
        billInstanceIds:
          description: A comma-separated list of bill instance IDs to include
          type: string
        entityList:
          description: List of payable entities to filter the accounts on
          items:
            $ref: '#/components/schemas/OAS.DataModel.Billing.PostAuditEntity'
          xml:
            name: PostAuditEntity
            wrapped: true
          type: array
      xml:
        name: PostAuditDataDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
