openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Notifications API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/Notifications
paths:
  /v1/Reporting/Notifications:
    get:
      tags:
      - Reporting/Notifications
      operationId: ReportingNotifications_GetForDestination
      parameters:
      - name: destination
        in: query
        required: false
        schema:
          type: string
          enum:
          - ClientPortal
          - OrionApp
          - Email
          - Rss
          - AdvisorMail
          - Zapier
          - NotificationInbox
          - SMSText
          - MobilePush
      - name: state
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Created
            - Processed
            - Viewed
            - Archived
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationDto'
                xml:
                  name: NotificationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationDto'
                xml:
                  name: NotificationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationDto'
                xml:
                  name: NotificationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationDto'
                xml:
                  name: NotificationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationDto'
                xml:
                  name: NotificationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationDto'
                xml:
                  name: NotificationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Reporting notifications get for destination
      x-summary-source: derived
  /v1/Reporting/Notifications/{key}:
    get:
      tags:
      - Reporting/Notifications
      summary: Gets the notification that has the provided key.
      operationId: ReportingNotifications_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationDto'
      security:
      - Authorization: []
  /v1/Reporting/Notifications/Action/UpdateState:
    put:
      tags:
      - Reporting/Notifications
      operationId: ReportingNotifications_UpdateState
      parameters:
      - name: state
        in: query
        required: true
        schema:
          type: string
          enum:
          - Created
          - Processed
          - Viewed
          - Archived
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Reporting notifications update state
      x-summary-source: derived
  /v1/Reporting/Notifications/Destinations:
    get:
      tags:
      - Reporting/Notifications
      summary: Get all notification destinations by notification type
      operationId: NotificationDestinations_GetAllItems
      parameters:
      - name: notificationTypeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Notifications/SubscriptionWithDestination:
    get:
      tags:
      - Reporting/Notifications
      summary: Get all notification subscriptions
      operationId: NotificationSubscriptionWithDestinations_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
                xml:
                  name: NotificationSubscriptionWithDestinationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
                xml:
                  name: NotificationSubscriptionWithDestinationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
                xml:
                  name: NotificationSubscriptionWithDestinationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
                xml:
                  name: NotificationSubscriptionWithDestinationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Reporting/Notifications
      summary: Create new notification subscription
      operationId: NotificationSubscriptionWithDestinations_CreateItem
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
        required: true
  /v1/Reporting/Notifications/SubscriptionWithDestination/{key}:
    get:
      tags:
      - Reporting/Notifications
      summary: Get notification subscription by key
      operationId: NotificationSubscriptionWithDestinations_GetItemByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/Notifications
      summary: Update notification subscription
      operationId: NotificationSubscriptionWithDestinations_UpdateItem
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto'
        required: true
    delete:
      tags:
      - Reporting/Notifications
      summary: Delete notification subscription
      operationId: NotificationSubscriptionWithDestinations_DeleteItem
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Notifications/SubscriptionWithDestination/NotificationSubscriptions:
    get:
      tags:
      - Reporting/Notifications
      summary: Flattens notification type and destinations to easily assign enabled…
      operationId: NotificationSubscriptionWithDestinations_UserSubscriptions
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
                xml:
                  name: NotificationSubscriptionsForUserDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
                xml:
                  name: NotificationSubscriptionsForUserDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
                xml:
                  name: NotificationSubscriptionsForUserDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
                xml:
                  name: NotificationSubscriptionsForUserDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
                xml:
                  name: NotificationSubscriptionsForUserDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
                xml:
                  name: NotificationSubscriptionsForUserDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/Notifications
      operationId: NotificationSubscriptionWithDestinations_UserSubscriptionsUpdate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
                xml:
                  name: NotificationSubscriptionsForUserDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
                xml:
                  name: NotificationSubscriptionsForUserDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
                xml:
                  name: NotificationSubscriptionsForUserDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
                xml:
                  name: NotificationSubscriptionsForUserDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
                xml:
                  name: NotificationSubscriptionsForUserDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
                xml:
                  name: NotificationSubscriptionsForUserDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
              xml:
                name: NotificationSubscriptionsForUserDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
              xml:
                name: NotificationSubscriptionsForUserDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
              xml:
                name: NotificationSubscriptionsForUserDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
              xml:
                name: NotificationSubscriptionsForUserDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
              xml:
                name: NotificationSubscriptionsForUserDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
              xml:
                name: NotificationSubscriptionsForUserDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto'
              xml:
                name: NotificationSubscriptionsForUserDto
                wrapped: true
              type: array
        required: true
      summary: Notification subscription with destinations user subscriptions update
      x-summary-source: derived
  /v1/Reporting/Notifications/SummaryCount:
    get:
      tags:
      - Reporting/Notifications
      operationId: ReportingNotifications_GetSummaryCount
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationCountSummaryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationCountSummaryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationCountSummaryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationCountSummaryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationCountSummaryDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationCountSummaryDto'
      security:
      - Authorization: []
      summary: Reporting notifications get summary count
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionWithDestinationDto:
      properties:
        id:
          type: integer
          format: int32
        notificationDestinationId:
          type: integer
          format: int32
        destinations:
          additionalProperties:
            type: boolean
          type: object
        notificationDestination:
          type: string
          enum:
          - ClientPortal
          - OrionApp
          - Email
          - Rss
          - AdvisorMail
          - Zapier
          - NotificationInbox
          - SMSText
          - MobilePush
        userOwnerId:
          type: integer
          format: int32
        groupType:
          type: string
          enum:
          - Me
          - User
          - AllHouseholds
          - AllReps
          - AllAdvisors
          - ServiceTeam
          - CustomGroup
          - AllUsers
          - AllAdministrators
        isActive:
          type: boolean
        alClientId:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        userName:
          type: string
        notificationGroupId:
          type: integer
          format: int32
        notificationGroup:
          type: string
        destinationSettings:
          type: string
        notificationType:
          type: string
        notificationTypeId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: NotificationSubscriptionWithDestinationDto
      type: object
    OAS.WebApi.DTO.Reporting.Notification.NotificationSubscriptionsForUserDto:
      properties:
        notificationTypeId:
          type: integer
          format: int32
        type:
          type: string
        destinations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.UserDestinationDto'
          xml:
            name: UserDestinationDto
            wrapped: true
          type: array
        schedule:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationSchedule'
        category:
          type: string
      xml:
        name: NotificationSubscriptionsForUserDto
      type: object
    OAS.WebApi.DTO.Reporting.Notification.NotificationCountSummaryDto:
      properties:
        unreadInboxNotifications:
          type: integer
          format: int32
        lastUpdate:
          type: string
          format: date-time
      xml:
        name: NotificationCountSummaryDto
      type: object
    OAS.WebApi.DTO.Reporting.Notification.MonthsOfYearBool:
      properties:
        january:
          type: boolean
        february:
          type: boolean
        march:
          type: boolean
        april:
          type: boolean
        may:
          type: boolean
        june:
          type: boolean
        july:
          type: boolean
        august:
          type: boolean
        september:
          type: boolean
        october:
          type: boolean
        november:
          type: boolean
        december:
          type: boolean
        toEnumArray:
          items:
            type: string
            enum:
            - None
            - January
            - February
            - March
            - April
            - May
            - June
            - July
            - August
            - September
            - October
            - November
            - December
          readOnly: true
          xml:
            name: Months
            wrapped: true
          type: array
      xml:
        name: MonthsOfYearBool
      type: object
    OAS.WebApi.DTO.Reporting.Notification.NotificationDto:
      properties:
        body:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        data:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        notificationTypeId:
          type: integer
          format: int32
        preview:
          type: string
        subject:
          type: string
        tags:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        notificationLevel:
          type: string
          enum:
          - Error
          - Warning
          - Information
        state:
          type: string
          enum:
          - Created
          - Processed
          - Viewed
          - Archived
        notificationTypeCode:
          type: string
        url:
          type: string
        app:
          type: string
      xml:
        name: NotificationDto
      type: object
    OAS.WebApi.DTO.Reporting.Notification.DaysOfWeekBool:
      properties:
        monday:
          type: boolean
        tuesday:
          type: boolean
        wednesday:
          type: boolean
        thursday:
          type: boolean
        friday:
          type: boolean
        saturday:
          type: boolean
        sunday:
          type: boolean
        toEnumArray:
          items:
            type: string
            enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
          readOnly: true
          type: array
      xml:
        name: DaysOfWeekBool
      type: object
    OAS.WebApi.DTO.Reporting.Notification.UserDestinationDto:
      properties:
        notificationDestinationId:
          type: integer
          format: int32
        destinationName:
          type: string
          enum:
          - ClientPortal
          - OrionApp
          - Email
          - Rss
          - AdvisorMail
          - Zapier
          - NotificationInbox
          - SMSText
          - MobilePush
        enabled:
          type: boolean
        notificationSubscriptionId:
          type: integer
          format: int32
      xml:
        name: UserDestinationDto
      type: object
    OAS.WebApi.DTO.Reporting.Notification.NotificationSchedule:
      properties:
        frequency:
          type: string
          enum:
          - Daily
          - Weekly
          - Monthly
          - Once
        weekly:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.DaysOfWeekBool'
        monthly:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.MonthsOfYearBool'
        dayOfMonth:
          type: integer
          format: int32
        timeOfDay:
          type: string
      xml:
        name: NotificationSchedule
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
