openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Security Classification API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/SecurityClassification
paths:
  /v1/Portfolio/SecurityClassification/Global/Assignments:
    post:
      tags:
      - Portfolio/SecurityClassification
      summary: Retrieves global security class assignment records
      description: 'Sample Request

        POST Portfolio/SecurityClassificatio/Global/Assignments

        [{

        "RequestId": 1,

        "SecurityClassificationMethodId": 231,

        "ProductIds": [1,20120,12615]

        }]'
      operationId: SecurityClassificationAssignmentGlobal_GetListAsync
      parameters:
      - name: cancellationToken
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentResponseDto'
                xml:
                  name: SecurityClassificationGlobalAssignmentResponseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentResponseDto'
                xml:
                  name: SecurityClassificationGlobalAssignmentResponseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentResponseDto'
                xml:
                  name: SecurityClassificationGlobalAssignmentResponseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentResponseDto'
                xml:
                  name: SecurityClassificationGlobalAssignmentResponseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentResponseDto'
                xml:
                  name: SecurityClassificationGlobalAssignmentResponseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentResponseDto'
                xml:
                  name: SecurityClassificationGlobalAssignmentResponseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentRequestDto'
              xml:
                name: SecurityClassificationGlobalAssignmentRequestDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentRequestDto'
              xml:
                name: SecurityClassificationGlobalAssignmentRequestDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentRequestDto'
              xml:
                name: SecurityClassificationGlobalAssignmentRequestDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentRequestDto'
              xml:
                name: SecurityClassificationGlobalAssignmentRequestDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentRequestDto'
              xml:
                name: SecurityClassificationGlobalAssignmentRequestDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentRequestDto'
              xml:
                name: SecurityClassificationGlobalAssignmentRequestDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentRequestDto'
              xml:
                name: SecurityClassificationGlobalAssignmentRequestDto
                wrapped: true
              type: array
        description: SecurityClassificationGlobalAssignmentRequestDto[]
        required: true
  /v1/Portfolio/SecurityClassification/Global/Assignments/{globalMethodId}:
    post:
      tags:
      - Portfolio/SecurityClassification
      summary: Retrieves global security class assignment records by download symbol for a…
      description: 'Sample Request

        POST /Portfolio/SecurityClassification/Global/Assignments/58

        ["dia","msft"]'
      operationId: SecurityClassificationAssignmentGlobal_GetListBySymbolAsync
      parameters:
      - name: globalMethodId
        in: path
        description: Global security classification method id.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentBySymbolResponseDto'
                xml:
                  name: SecurityClassificationGlobalAssignmentBySymbolResponseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentBySymbolResponseDto'
                xml:
                  name: SecurityClassificationGlobalAssignmentBySymbolResponseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentBySymbolResponseDto'
                xml:
                  name: SecurityClassificationGlobalAssignmentBySymbolResponseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentBySymbolResponseDto'
                xml:
                  name: SecurityClassificationGlobalAssignmentBySymbolResponseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentBySymbolResponseDto'
                xml:
                  name: SecurityClassificationGlobalAssignmentBySymbolResponseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationGlobalAssignmentBySymbolResponseDto'
                xml:
                  name: SecurityClassificationGlobalAssignmentBySymbolResponseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/xml:
            schema:
              items:
                type: string
              type: array
          text/xml:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        description: Download symbols.
        required: true
  /v1/Portfolio/SecurityClassification/Global/Derivations:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Gets a list of Global Security Class Derivations.
      description: 'Sample Request

        GET /Portfolio/SecurityClassification/Global/Derivations?$top=1000&$skip=0&baseSecurityClassIds=1&baseSecurityClassIds=2&classificationMethodIds=4'
      operationId: DerivationsGlobal_GetAllAsync
      parameters:
      - name: manipulator
        in: header
        description: Projection Manipulator
        required: true
      - name: cancellationToken
        in: header
        description: Cancellation Token
        required: true
      - name: baseSecurityClassIds
        in: query
        description: 'Optional: List of Security Class Base Ids'
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: classificationMethodIds
        in: query
        description: 'Optional: List of Classification Method Ids'
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: derivedSecurityClassIds
        in: query
        description: 'Optional: List of Derived Security Class Ids'
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
                xml:
                  name: DerivationGlobalDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
                xml:
                  name: DerivationGlobalDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
                xml:
                  name: DerivationGlobalDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
                xml:
                  name: DerivationGlobalDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
                xml:
                  name: DerivationGlobalDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
                xml:
                  name: DerivationGlobalDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/SecurityClassification
      summary: Creates a Global Security Class Derivation
      description: 'Sample Request

        POST /Portfolio/SecurityClassification/Global/Derivations'
      operationId: DerivationsGlobal_CreateAsync
      parameters:
      - name: cancellationToken
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
        description: DerivationGlobalDto
        required: true
  ? /v1/Portfolio/SecurityClassification/Global/Derivations/{securityClassificationMethodId}/{baseSecurityClassId}/{derivedSecurityClassId}
  : get:
      tags:
      - Portfolio/SecurityClassification
      summary: Gets a single Global Security Class Derivation
      description: 'Sample Request

        GET /Portfolio/SecurityClassification/Global/Derivations/1/2/3'
      operationId: DerivationsGlobal_GetByKeyAsync
      parameters:
      - name: securityClassificationMethodId
        in: path
        description: SecurityClassificationMethodId
        required: true
        schema:
          type: integer
          format: int32
      - name: baseSecurityClassId
        in: path
        description: BaseSecurityClassId
        required: true
        schema:
          type: integer
          format: int32
      - name: derivedSecurityClassId
        in: path
        description: DerivedSecurityClassId
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.DerivationGlobalDto'
      security:
      - Authorization: []
    delete:
      tags:
      - Portfolio/SecurityClassification
      summary: Delete a Global Security Class Derivation
      description: 'Sample Request

        DELETE /Portfolio/SecurityClassification/Global/Derivations/1/2/3'
      operationId: DerivationsGlobal_DeleteAsync
      parameters:
      - name: securityClassificationMethodId
        in: path
        description: SecurityClassificationMethodId
        required: true
        schema:
          type: integer
          format: int32
      - name: baseSecurityClassId
        in: path
        description: BaseSecurityClassId
        required: true
        schema:
          type: integer
          format: int32
      - name: derivedSecurityClassId
        in: path
        description: DerivedSecurityClassId
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/MethodAlClients:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Gets a list of Security classification method AlClients global records.
      description: 'Sample Request

        GET /Portfolio/SecurityClassification/Global/MethodAlClients?$top=1000&$skip=0'
      operationId: MethodAlClientsGlobal_GetAllAsync
      parameters:
      - name: manipulator
        in: header
        required: true
      - name: cancellationToken
        in: header
        required: true
      - name: clientIds
        in: query
        description: List of AlClientIds to filter by
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: securityClassificationMethodIds
        in: query
        description: List of Method Global IDs to filter by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
                xml:
                  name: MethodAlClientGlobalDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
                xml:
                  name: MethodAlClientGlobalDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
                xml:
                  name: MethodAlClientGlobalDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
                xml:
                  name: MethodAlClientGlobalDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
                xml:
                  name: MethodAlClientGlobalDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
                xml:
                  name: MethodAlClientGlobalDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/SecurityClassification
      summary: Creates a new Security classification method alclient global
      description: 'Sample Request

        POST /Portfolio/SecurityClassification/Global/MethodAlClients'
      operationId: MethodAlClientsGlobal_CreateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
        description: The MethodAlClientGlobalDto object.
        required: true
  /v1/Portfolio/SecurityClassification/Global/MethodAlClients/{alClientId}/{methodGlobalId}:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Gets a Security classification method AlClients global record.
      description: 'Sample Request

        GET /Portfolio/SecurityClassification/Global/MethodAlClients/{alClientId:int}/{methodGlobalId:int}'
      operationId: MethodAlClientsGlobal_GetOneAsync
      parameters:
      - name: alClientId
        in: path
        description: AlClient ID
        required: true
        schema:
          type: integer
          format: int32
      - name: methodGlobalId
        in: path
        description: Method Global ID
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    delete:
      tags:
      - Portfolio/SecurityClassification
      summary: Deletes a Security classification method global by ID
      description: 'Sample Request

        DELETE /Portfolio/SecurityClassification/Global/MethodAlClients/1/1'
      operationId: MethodAlClientsGlobal_DeleteAsync
      parameters:
      - name: alClientId
        in: path
        description: The AlClient id.
        required: true
        schema:
          type: integer
          format: int32
      - name: methodGlobalId
        in: path
        description: The Method Global id.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
        '400':
          description: Failed
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/MethodAlClients/{methodGlobalId}:
    put:
      tags:
      - Portfolio/SecurityClassification
      summary: Adds/Updates/Deletes AlClient access for a Security Classification Method
      description: 'Sample Request

        PUT /Portfolio/SecurityClassification/Global/MethodAlClients/1'
      operationId: MethodAlClientsGlobal_UpdateByMethodGlobalIdAsync
      parameters:
      - name: methodGlobalId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
        '400':
          description: Failed
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
              xml:
                name: MethodAlClientGlobalDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
              xml:
                name: MethodAlClientGlobalDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
              xml:
                name: MethodAlClientGlobalDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
              xml:
                name: MethodAlClientGlobalDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
              xml:
                name: MethodAlClientGlobalDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
              xml:
                name: MethodAlClientGlobalDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodAlClientGlobalDto'
              xml:
                name: MethodAlClientGlobalDto
                wrapped: true
              type: array
        required: true
  /v1/Portfolio/SecurityClassification/Global/MethodRuleDataset:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Returns the method rule data sets for global security classification rule…
      operationId: MethodRuleDataset_GetAllAsync
      parameters:
      - name: cancellationToken
        in: header
        description: Cancellation token
        required: true
      - name: classificationMethodId
        in: query
        description: Optional classification method ID to filter out circular dependencies
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleDataSetDto'
                xml:
                  name: MethodRuleDataSetDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleDataSetDto'
                xml:
                  name: MethodRuleDataSetDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleDataSetDto'
                xml:
                  name: MethodRuleDataSetDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleDataSetDto'
                xml:
                  name: MethodRuleDataSetDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleDataSetDto'
                xml:
                  name: MethodRuleDataSetDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleDataSetDto'
                xml:
                  name: MethodRuleDataSetDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/Methods:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Gets a list of Security classification method global data.
      description: 'Sample Request

        GET /Portfolio/SecurityClassification/Global/Methods?$top=1000&$skip=0'
      operationId: MethodsGlobal_GetAll
      parameters:
      - name: manipulator
        in: header
        required: true
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
                xml:
                  name: MethodGlobalDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
                xml:
                  name: MethodGlobalDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
                xml:
                  name: MethodGlobalDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
                xml:
                  name: MethodGlobalDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
                xml:
                  name: MethodGlobalDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
                xml:
                  name: MethodGlobalDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/SecurityClassification
      summary: Creates a new Security classification method global
      description: 'Sample Request

        POST /Portfolio/SecurityClassification/Global/Methods'
      operationId: MethodsGlobal_CreateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
        description: The MethodGlobalDto object.
        required: true
  /v1/Portfolio/SecurityClassification/Global/Methods/{classificationMethodId}/MethodRules:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Get a list of Security Classification Method Rules by Method ID
      description: 'Sample Request

        GET /Portfolio/SecurityClassification/Global/Method/1/MethodRules?$top=1000&$skip=0'
      operationId: MethodsGlobal_MethodRulesByMethodIdAsync
      parameters:
      - name: classificationMethodId
        in: path
        description: The classification method ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: manipulator
        in: header
        description: The projection manipulator for the query.
        required: true
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      - name: securityClassIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: Success. Returns the list of security classification method rules
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
                xml:
                  name: MethodRuleGlobalDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
                xml:
                  name: MethodRuleGlobalDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
                xml:
                  name: MethodRuleGlobalDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
                xml:
                  name: MethodRuleGlobalDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
                xml:
                  name: MethodRuleGlobalDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
                xml:
                  name: MethodRuleGlobalDto
                  wrapped: true
                type: array
        '400':
          description: If the request is invalid.
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/SecurityClassification
      summary: Bulk add/edit/deletes Security Classification Method Rules record by…
      description: 'Sample Request

        PUT /Portfolio/SecurityClassification/Global/Method/33/MethodRules'
      operationId: MethodsGlobal_VerboseUpdateMethodRuleAsync
      parameters:
      - name: classificationMethodId
        in: path
        description: The classification method ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: Success.
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
        '400':
          description: If the request is invalid.
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
        description: Security Classification Method Rules.
        required: true
    post:
      tags:
      - Portfolio/SecurityClassification
      summary: Create a Security Classification Method Rules record by Classification Method ID
      description: 'Sample Request

        POST /Portfolio/SecurityClassification/Global/Method/33/MethodRules'
      operationId: MethodsGlobal_CreateMethodRuleAync
      parameters:
      - name: classificationMethodId
        in: path
        description: The classification method ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: Success. Returns the created security classification method rule
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
        '400':
          description: If the request is invalid.
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
        required: true
  /v1/Portfolio/SecurityClassification/Global/Methods/{classificationMethodId}/MethodRules/{runOrder}:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Get a Security Classification Method Rules record by run order id
      description: 'Sample Request

        GET /Portfolio/SecurityClassification/Global/Method/33/MethodRules/1'
      operationId: MethodsGlobal_GetMethodRuleByKeyAsync
      parameters:
      - name: classificationMethodId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: runOrder
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: Success. Returns the list of security classification method rules
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
        '400':
          description: If the request is invalid.
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/SecurityClassification
      summary: Updates a Security Classification Method Rules record by Classification Method…
      description: 'Sample Request

        PUT /Portfolio/SecurityClassification/Global/Method/33/MethodRules/1'
      operationId: MethodsGlobal_UpdateMethodRuleAsync
      parameters:
      - name: classificationMethodId
        in: path
        description: The classification method ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: runOrder
        in: path
        description: The run order id.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: Success. Returns the updated security classification method rule
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
        '400':
          description: If the request is invalid.
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
        required: true
    delete:
      tags:
      - Portfolio/SecurityClassification
      summary: Deletes a Security Classification Method Rules record by Classification Method…
      description: 'Sample Request

        DELETE /Portfolio/SecurityClassification/Global/Method/33/MethodRules/3'
      operationId: MethodsGlobal_DeleteMethodRuleAsync
      parameters:
      - name: classificationMethodId
        in: path
        description: The classification method ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: runOrder
        in: path
        description: The run order id.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: Success.
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
        '400':
          description: If the request is invalid.
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/Methods/{classificationMethodId}/MethodRules/Preview/{impactedProducts}:
    post:
      tags:
      - Portfolio/SecurityClassification
      operationId: MethodsGlobal_PreviewMethodRulesAsync
      parameters:
      - name: classificationMethodId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      - name: impactedProducts
        in: path
        required: true
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodRuleGlobalDto'
              xml:
                name: MethodRuleGlobalDto
                wrapped: true
              type: array
        required: true
      summary: Methods global preview method rules async
      x-summary-source: derived
  /v1/Portfolio/SecurityClassification/Global/Methods/{key}:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Gets Security classification method global for a single record by key
      description: 'Sample Request

        GET /Portfolio/SecurityClassification/Global/Methods/1'
      operationId: MethodsGlobal_GetByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/SecurityClassification
      summary: Updates a new Security classification method global
      description: 'Sample Request

        PUT /Portfolio/SecurityClassification/Global/Methods/1'
      operationId: MethodsGlobal_UpdateAsync
      parameters:
      - name: key
        in: path
        description: The Method Global id.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
        description: The MethodGlobalDto object.
        required: true
    delete:
      tags:
      - Portfolio/SecurityClassification
      summary: Deletes a Security classification method global by ID
      description: 'Sample Request

        DELETE /Portfolio/SecurityClassification/Global/Methods/1'
      operationId: MethodsGlobal_DeleteAsync
      parameters:
      - name: key
        in: path
        description: The Method Global id.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
        '400':
          description: Failed
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/Methods/Actions/GlobalRecalculation/{key}:
    post:
      tags:
      - Portfolio/SecurityClassification
      summary: Methods global global recalculation
      operationId: MethodsGlobal_GlobalRecalculation
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Portfolio/SecurityClassification/Global/Methods/ListForLocal:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Gets a list of Security classification method global data for local use.
      description: 'Sample Request

        GET /Portfolio/SecurityClassification/Global/Methods/ListForLocal'
      operationId: MethodsGlobal_ListForLocalAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
                xml:
                  name: MethodGlobalDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
                xml:
                  name: MethodGlobalDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
                xml:
                  name: MethodGlobalDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
                xml:
                  name: MethodGlobalDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
                xml:
                  name: MethodGlobalDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.MethodGlobalDto'
                xml:
                  name: MethodGlobalDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/Methods/Simple:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Gets a list of Security classification method global simple data
      description: 'Sample Request

        GET /Portfolio/SecurityClassification/Global/Methods/Simple?searchText=morning&$top=1000&$skip=0'
      operationId: MethodsGlobal_GetSimpleAsync
      parameters:
      - name: manipulator
        in: header
        required: true
      - name: cancellationToken
        in: header
        required: true
      - name: searchText
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/Methods/Verbose/{key}:
    get:
      tags:
      - Portfolio/SecurityClassification
      operationId: MethodsGlobal_GetVerboseByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - MethodGlobal
            - SecurityClassesGlobal
            - DerivationsGlobal
            - MethodRulesGlobal
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.ClassificationMethodGlobalVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.ClassificationMethodGlobalVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.ClassificationMethodGlobalVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.ClassificationMethodGlobalVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.ClassificationMethodGlobalVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.ClassificationMethodGlobalVerboseDto'
      security:
      - Authorization: []
      summary: Methods global get verbose by key async
      x-summary-source: derived
    put:
      tags:
      - Portfolio/SecurityClassification
      summary: Updates a verbose Security classification method global
      description: 'Sample Request

        PUT /Portfolio/SecurityClassification/Global/Methods/Verbose'
      operationId: MethodsGlobal_UpdateVerboseAsync
      parameters:
      - name: key
        in: path
        description: Security classification method global ID
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.ClassificationMethodGlobalVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.ClassificationMethodGlobalVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.ClassificationMethodGlobalVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.ClassificationMethodGlobalVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.ClassificationMethodGlobalVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.ClassificationMethodGlobalVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.ClassificationMethodGlobalVerboseDto'
        description: Security classification method global
        required: true
  /v1/Portfolio/SecurityClassification/Global/Products:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Retrieves all Security Classification Product Globals based on the provided…
      description: 'Sample Requests

        Get All - GET /Portfolio/SecurityClassification/Global/Products

        By Security Class Ids - GET /Portfolio/SecurityClassification/Global/Products?securityClassIds=28&securityClassIds=27

        By Classification Methods - GET /Portfolio/SecurityClassification/Global/Products?classificationMethodIds=8&classificationMethodIds=9

        By Product Ids - GET /Portfolio/SecurityClassification/Global/Products?productIds=20120&productIds=9

        Entity Session - GET /Portfolio/SecurityClassification/Global/Products?entitySessionId=-2146875255'
      operationId: SecurityClassificationsProductsGlobal_GetAllAsync
      parameters:
      - name: manipulator
        in: header
        required: true
      - name: cancellationToken
        in: header
        description: Token to cancel the operation.
        required: true
      - name: securityClassIds
        in: query
        description: Optional list of Security Class IDs to filter by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: classificationMethodIds
        in: query
        description: Optional list of Classification Method IDs to filter by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: productIds
        in: query
        description: Optional list of Product IDs to filter by.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: entitySessionId
        in: query
        description: Optional Entity Session ID to filter by.
        required: false
        schema:
          type: integer
          format: int32
      - name: productFilter
        in: query
        description: Optional product filter (e.g. CurrentlyOwnedProducts, HasEverOwnedProducts).
        required: false
        schema:
          type: string
          enum:
          - None
          - LocalProducts
          - CurrentlyOwnedProducts
          - HasEverOwnedProducts
          - MissingRiskCategories
          - MissingAssetClasses
          - Top1000BySubType
      - name: view
        in: query
        required: false
        schema:
          type: string
          enum:
          - CurrentlyOwnedAssigned
          - CurrentlyOwnedInherited
          - CurrentlyOwnedAssignedToDefault
          - CurrentlyOwnedAll
          - EverOwnedAssigned
          - EverOwnedInherited
          - EverOwnedAssignedToDefault
          - EverOwnedAll
          - AllAssignedProducts
          - CustomList
          - Top1000BySubType
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
                xml:
                  name: SecurityClassificationProductGlobalDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
                xml:
                  name: SecurityClassificationProductGlobalDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
                xml:
                  name: SecurityClassificationProductGlobalDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
                xml:
                  name: SecurityClassificationProductGlobalDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/Products/{classificationMethodId}:
    put:
      tags:
      - Portfolio/SecurityClassification
      summary: Updates or inserts Security Classification Product Globals
      description: 'Sample Request

        PUT /Portfolio/SecurityClassification/Global/Products/8/20120

        [

        {

        "securityClassId": 23,

        "securityClassificationMethodId": 8,

        "productId": 20120,

        "classificationWeight": 0.125,

        "isManual": true

        },

        {

        "securityClassId": 25,

        "securityClassificationMethodId": 8,

        "productId": 20120,

        "classificationWeight": 0.875,

        "isManual": true

        }

        ]'
      operationId: SecurityClassificationsProductsGlobal_UpsertByMethodAsync
      parameters:
      - name: classificationMethodId
        in: path
        description: The ID of the Classification Method.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: Token to cancel the operation.
        required: true
      - name: persistedPayload
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
              xml:
                name: SecurityClassificationProductGlobalDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
              xml:
                name: SecurityClassificationProductGlobalDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
              xml:
                name: SecurityClassificationProductGlobalDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
              xml:
                name: SecurityClassificationProductGlobalDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
              xml:
                name: SecurityClassificationProductGlobalDto
                wrapped: true
              type: array
        description: The list of DTOs to upsert.
        required: true
    delete:
      tags:
      - Portfolio/SecurityClassification
      summary: Deletes all weightings for a specific Classification Method
      description: 'Sample Request

        DELETE /Portfolio/SecurityClassification/Global/Products/8'
      operationId: SecurityClassificationsProductsGlobal_DeleteAllAsync
      parameters:
      - name: classificationMethodId
        in: path
        description: The ID of the Classification Method.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: Token to cancel the operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/Products/{classificationMethodId}/{productId}:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Retrieves the weightings for a specific Classification Method and Product
      description: 'Sample Request

        GET /Portfolio/SecurityClassification/Global/Products/8/20120'
      operationId: SecurityClassificationsProductsGlobal_GetWeightingsAsync
      parameters:
      - name: classificationMethodId
        in: path
        description: The ID of the Classification Method.
        required: true
        schema:
          type: integer
          format: int32
      - name: productId
        in: path
        description: The ID of the Product.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: Token to cancel the operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/SecurityClassification
      summary: Updates or inserts Security Classification Product Globals
      description: 'Sample Request

        PUT /Portfolio/SecurityClassification/Global/Products/8/20120

        [

        {

        "securityClassId": 23,

        "securityClassificationMethodId": 8,

        "productId": 20120,

        "classificationWeight": 0.125,

        "isManual": true

        },

        {

        "securityClassId": 25,

        "securityClassificationMethodId": 8,

        "productId": 20120,

        "classificationWeight": 0.875,

        "isManual": true

        }

        ]'
      operationId: SecurityClassificationsProductsGlobal_UpsertByMethodProductAsync
      parameters:
      - name: classificationMethodId
        in: path
        description: The ID of the Classification Method.
        required: true
        schema:
          type: integer
          format: int32
      - name: productId
        in: path
        description: The ID of the Product.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: Token to cancel the operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
              xml:
                name: SecurityClassificationProductGlobalDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
              xml:
                name: SecurityClassificationProductGlobalDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
              xml:
                name: SecurityClassificationProductGlobalDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
              xml:
                name: SecurityClassificationProductGlobalDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassificationProductGlobalDto'
              xml:
                name: SecurityClassificationProductGlobalDto
                wrapped: true
              type: array
        description: The list of DTOs to upsert.
        required: true
    delete:
      tags:
      - Portfolio/SecurityClassification
      summary: Deletes all weightings for a specific Classification Method and Product
      description: 'Sample Request

        DELETE /Portfolio/SecurityClassification/Global/Products/8/20120'
      operationId: SecurityClassificationsProductsGlobal_DeleteOneAsync
      parameters:
      - name: classificationMethodId
        in: path
        description: The ID of the Classification Method.
        required: true
        schema:
          type: integer
          format: int32
      - name: productId
        in: path
        description: The ID of the Product.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: Token to cancel the operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/Products/{classificationMethodId}/AssignedCount:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Gets the count of assigned products for a classification method
      operationId: SecurityClassificationsProductsGlobal_GetAssignedCountAsync
      parameters:
      - name: classificationMethodId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/Products/Import/Filter/{classificationMethodId}:
    post:
      tags:
      - Portfolio/SecurityClassification
      summary: Allows uploading a list of products to be custom filtered by product ID or…
      operationId: SecurityClassificationsProductsGlobal_CustomFilterProductsAsync
      parameters:
      - name: classificationMethodId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
        description: File containing either Product ID or Download Symbol column
        required: true
  /v1/Portfolio/SecurityClassification/Global/Products/Import/Upload/{classificationMethodId}:
    post:
      tags:
      - Portfolio/SecurityClassification
      summary: Allows uploading a list of products to be assigned to a classification method
      operationId: SecurityClassificationsProductsGlobal_UploadProductsAsync
      parameters:
      - name: classificationMethodId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
        description: File containing either Product ID or Download Symbol column
        required: true
  /v1/Portfolio/SecurityClassification/Global/Products/View/{view}/Session:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Gets an entity session ID for views that require server-side product list…
      operationId: SecurityClassificationsProductsGlobal_GetViewSessionAsync
      parameters:
      - name: view
        in: path
        description: The view type (e.g. Top1000BySubType)
        required: true
        schema:
          type: string
          enum:
          - CurrentlyOwnedAssigned
          - CurrentlyOwnedInherited
          - CurrentlyOwnedAssignedToDefault
          - CurrentlyOwnedAll
          - EverOwnedAssigned
          - EverOwnedInherited
          - EverOwnedAssignedToDefault
          - EverOwnedAll
          - AllAssignedProducts
          - CustomList
          - Top1000BySubType
      - name: token
        in: header
        description: Cancellation token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/SecurityClasses:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Gets a list of Security classification Security Class Data.
      description: 'Sample Request

        GET /Portfolio/SecurityClassification/Global/SecurityClasses?$top=1000&$skip=0'
      operationId: SecurityClassesGlobal_GetListAsync
      parameters:
      - name: manipulator
        in: header
        description: The projection manipulator for the query.
        required: true
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      - name: ids
        in: query
        description: Optional. A list of security class IDs to filter the results.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: securityClassificationMethodIds
        in: query
        description: Optional. A list of security classification method IDs to filter the results.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: Success. Returns the list of security classification security class data.
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassGlobalDto'
                xml:
                  name: SecurityClassGlobalDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassGlobalDto'
                xml:
                  name: SecurityClassGlobalDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassGlobalDto'
                xml:
                  name: SecurityClassGlobalDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassGlobalDto'
                xml:
                  name: SecurityClassGlobalDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassGlobalDto'
                xml:
                  name: SecurityClassGlobalDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassGlobalDto'
                xml:
                  name: SecurityClassGlobalDto
                  wrapped: true
                type: array
        '400':
          description: If the request is invalid.
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/SecurityClasses/{key}:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Gets a Security classification Security Class by ID
      description: 'The Security Class Global ID

        Sample Request

        GET /Portfolio/SecurityClassification/Global/SecurityClasses/1'
      operationId: SecurityClassesGlobal_GetByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: Success. Returns the security classification security class data for the specified ID.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassGlobalDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassGlobalDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassGlobalDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassGlobalDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassGlobalDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SecurityClassification.SecurityClassGlobalDto'
        '400':
          description: If the request is invalid.
        '404':
          description: If the security class with the specified ID is not found.
      security:
      - Authorization: []
    delete:
      tags:
      - Portfolio/SecurityClassification
      summary: Deletes a GLobal Security Class by ID
      description: 'Sample Request

        DELETE /Portfolio/SecurityClassification/Global/SecurityClasses/1'
      operationId: SecurityClassesGlobal_DeleteAsync
      parameters:
      - name: key
        in: path
        description: The Global Security Class ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
        '400':
          description: Failed
      security:
      - Authorization: []
  /v1/Portfolio/SecurityClassification/Global/SecurityClasses/{key}/AssociatedRecordCounts:
    get:
      tags:
      - Portfolio/SecurityClassification
      summary: Get's a summary of associated record counts for a GLobal Security Class by ID
      description: 'The Security Class Global ID

        Sample Request

        GET /Portfolio/SecurityClassification/Global/SecurityClasses/1/AssociatedRecordCounts'
      operationId: SecurityClassesGlobal_GetAssociationCountsAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
[...]
