openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Docusign API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Docusign
paths:
  /v1/Integrations/Docusign/DeleteDocusignLogin:
    delete:
      tags:
      - Integrations/Docusign
      summary: Uses callback code to get IntegrationInfo for DocuSign
      operationId: Docusign_Delete
      parameters:
      - name: appLinkDtlId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Docusign/GetEnvelope:
    get:
      tags:
      - Integrations/Docusign
      summary: Get Account information
      operationId: Docusign_GetEnvelope
      parameters:
      - name: accountId
        in: query
        required: true
        schema:
          type: string
      - name: envelopeId
        in: query
        required: true
        schema:
          type: string
      - name: base_uri
        in: query
        required: true
        schema:
          type: string
      - name: appLinkDtlId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.Envelope'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.Envelope'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.Envelope'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.Envelope'
      security:
      - Authorization: []
  /v1/Integrations/Docusign/GetToken:
    get:
      tags:
      - Integrations/Docusign
      summary: Uses callback code to get IntegrationInfo for DocuSign
      operationId: Docusign_GetToken
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: appLinkDtl
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: level
        in: query
        required: false
        schema:
          type: string
          enum:
          - System
          - Firm
          - User
          - UserProfile
          - Client
          - Custodian
          - Rep
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
      security:
      - Authorization: []
  /v1/Integrations/Docusign/GetUserInfo:
    get:
      tags:
      - Integrations/Docusign
      summary: Exchanges refresh token for new access token
      operationId: Docusign_GetUserInfo
      parameters:
      - name: appLinkDtlId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.LoginAccountContainer'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.LoginAccountContainer'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.LoginAccountContainer'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.LoginAccountContainer'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.LoginAccountContainer'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.LoginAccountContainer'
      security:
      - Authorization: []
  /v1/Integrations/Docusign/Logins:
    get:
      tags:
      - Integrations/Docusign
      summary: Get the Account logins for the user
      operationId: Docusign_GetLogins
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
                xml:
                  name: DocusignAppLinkDtlDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
                xml:
                  name: DocusignAppLinkDtlDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
                xml:
                  name: DocusignAppLinkDtlDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
                xml:
                  name: DocusignAppLinkDtlDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
                xml:
                  name: DocusignAppLinkDtlDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
                xml:
                  name: DocusignAppLinkDtlDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Docusign/Redirect:
    get:
      tags:
      - Integrations/Docusign
      summary: Uses DocuSign to add new account
      operationId: Docusign_GetRedirectUrl
      parameters:
      - name: authorization
        in: query
        required: true
        schema:
          type: string
      - name: state
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Docusign/RefreshToken:
    get:
      tags:
      - Integrations/Docusign
      summary: Exchanges refresh token for new access token
      operationId: Docusign_UseRefreshToken
      parameters:
      - name: appLinkDtlId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto'
      security:
      - Authorization: []
  /v1/Integrations/Docusign/SaveEnvelope:
    post:
      tags:
      - Integrations/Docusign
      summary: Uses callback code to get IntegrationInfo for DocuSign
      operationId: Docusign_SaveEnvelope
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Docusign.DocusignEnvelope'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Docusign.DocusignEnvelope'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Docusign.DocusignEnvelope'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Docusign.DocusignEnvelope'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Docusign.DocusignEnvelope'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Docusign.DocusignEnvelope'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Docusign.DocusignEnvelope'
        required: true
  /v1/Integrations/Docusign/SaveIntegrationInfo:
    put:
      tags:
      - Integrations/Docusign
      summary: Uses callback code to get IntegrationInfo for DocuSign
      operationId: Docusign_SaveIntegrationInfo
      parameters:
      - name: level
        in: query
        required: true
        schema:
          type: string
          enum:
          - System
          - Firm
          - User
          - UserProfile
          - Client
          - Custodian
          - Rep
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
        required: true
  /v1/Integrations/Docusign/Sign/Selfservice:
    post:
      tags:
      - Integrations/Docusign
      operationId: Docusign_SelfServiceAsync
      parameters:
      - name: accountId
        in: query
        required: true
        schema:
          type: string
      - name: baseUri
        in: query
        required: true
        schema:
          type: string
      - name: appLinkDtlId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.EnvelopeResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.EnvelopeResult'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.EnvelopeResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.EnvelopeResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.EnvelopeResult'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.EnvelopeResult'
      security:
      - Authorization: []
      summary: Docusign self service async
      x-summary-source: derived
components:
  schemas:
    OAT.Integrations.DocuSign.Models.EnvelopeResult:
      properties:
        ErrorCode:
          type: integer
          format: int32
        Message:
          type: string
        ResultData:
          type: string
      xml:
        name: EnvelopeResult
      type: object
    OAT.Integrations.DocuSign.Models.Envelope:
      properties:
        envelopeId:
          type: string
        status:
          type: string
        documentsUri:
          type: string
        recipientsUri:
          type: string
        attachmentsUri:
          type: string
        envelopeUri:
          type: string
        createdDateTime:
          type: string
          format: date-time
        statusDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
        initialSentDateTime:
          type: string
          format: date-time
        sentDateTime:
          type: string
          format: date-time
        statusChangedDateTime:
          type: string
          format: date-time
      xml:
        name: Envelope
      type: object
    OAT.Integrations.DocuSign.Models.LoginAccountContainer:
      properties:
        sub:
          type: string
        name:
          type: string
        given_name:
          type: string
        family_name:
          type: string
        created:
          type: string
          format: date-time
        email:
          type: string
        accounts:
          items:
            $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.LoginAccount'
          xml:
            name: LoginAccount
            wrapped: true
          type: array
      xml:
        name: LoginAccountContainer
      type: object
    OAS.DataModel.Integration.Docusign.DocusignEnvelope:
      required:
      - id
      - auditedDate
      properties:
        id:
          type: integer
          format: int32
        envelopeID:
          type: string
          maxLength: 200
          minLength: 0
        entityId:
          type: integer
          format: int32
        entityEnum:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        status:
          type: string
          maxLength: 20
          minLength: 0
        sentDate:
          type: string
          format: date-time
        completedDate:
          type: string
          format: date-time
        receivedJson:
          type: string
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: DocusignEnvelope
      type: object
    OAT.Integrations.DocuSign.Models.IntegrationInfo:
      properties:
        environmentUrl:
          type: string
        name:
          type: string
        access_token:
          type: string
        token_type:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: string
        soboFlag:
          type: boolean
        redirect_uri:
          type: string
        secret:
          type: string
        integratorKey:
          readOnly: true
          type: string
      xml:
        name: IntegrationInfo
      type: object
    OAT.Integrations.DocuSign.Models.LoginAccount:
      properties:
        account_id:
          type: string
        is_default:
          type: boolean
        account_name:
          type: string
        base_uri:
          type: string
      xml:
        name: LoginAccount
      type: object
    OAS.WebApi.DTO.Integrations.Docusign.DocusignAppLinkDtlDto:
      properties:
        appLinkDtl:
          type: integer
          format: int32
        info:
          $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.IntegrationInfo'
        level:
          type: string
          enum:
          - System
          - Firm
          - User
          - UserProfile
          - Client
          - Custodian
          - Rep
        refreshTokenExpired:
          type: boolean
      xml:
        name: DocusignAppLinkDtlDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
