openapi: 3.2.0
info:
  version: V1
  title: Orion Connect File Import/Upload API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: FileImport/Upload
paths:
  /v1/FileImport/Upload:
    post:
      tags:
      - FileImport/Upload
      summary: This endpoint is no longer supported. Please use FileImport/Upload/New instead
      operationId: FileImport_SetupUploadSessionAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                example: 00000000-0000-0000-0000-000000000000
                type: string
                format: uuid
            application/json:
              schema:
                example: 00000000-0000-0000-0000-000000000000
                type: string
                format: uuid
            text/json:
              schema:
                example: 00000000-0000-0000-0000-000000000000
                type: string
                format: uuid
            application/xml:
              schema:
                example: 00000000-0000-0000-0000-000000000000
                type: string
                format: uuid
            text/xml:
              schema:
                example: 00000000-0000-0000-0000-000000000000
                type: string
                format: uuid
            multipart/form-data:
              schema:
                example: 00000000-0000-0000-0000-000000000000
                type: string
                format: uuid
      deprecated: true
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
        required: true
  /v1/FileImport/Upload/{sessionId}:
    post:
      tags:
      - FileImport/Upload
      summary: This is no longer supported.
      operationId: FileImport_UploadFileForSessionAsync
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDto'
      deprecated: true
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportUploadDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportUploadDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportUploadDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportUploadDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportUploadDto'
        required: true
  /v1/FileImport/Upload/{sessionId}/Log:
    get:
      tags:
      - FileImport/Upload
      summary: This is no longer supported.
      operationId: FileImport_GetUploadLogForSessionAsync
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      deprecated: true
      security:
      - Authorization: []
  /v1/FileImport/Upload/File:
    post:
      tags:
      - FileImport/Upload
      operationId: FileImport_UploadFileForSessionNewAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportSettingUploadDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportSettingUploadDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportSettingUploadDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportSettingUploadDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportSettingUploadDto'
        required: true
      summary: File import upload file for session new async
      x-summary-source: derived
  /v1/FileImport/Upload/GenerateLog:
    post:
      tags:
      - FileImport/Upload
      operationId: FileImport_GenerateUploadLogForSessionAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDownloadLogsRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDownloadLogsRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDownloadLogsRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDownloadLogsRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDownloadLogsRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDownloadLogsRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDownloadLogsRequestDto'
        required: true
      summary: File import generate upload log for session async
      x-summary-source: derived
  /v1/FileImport/Upload/New:
    post:
      tags:
      - FileImport/Upload
      operationId: FileImport_SetupUploadSessionNewAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportSettingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportSettingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportSettingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportSettingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportSettingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportSettingDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportRequestDto'
        required: true
      summary: File import setup upload session new async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Utility.FileImportRequestDto:
      required:
      - blobDescription
      - blobText
      - fileExtension
      - fileType
      properties:
        fileNameConvention:
          type: string
        method:
          type: string
          enum:
          - Only Import Existing Files
          - Import All Overwriting Existing
          - Import All Skip Exising
        sendEmail:
          type: boolean
        ignoreDash:
          type: boolean
        ignoreLeadingZero:
          type: boolean
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        blobDescription:
          type: string
          maxLength: 200
          minLength: 0
        blobText:
          type: string
        fileExtension:
          type: string
        fileType:
          type: string
        postLevel:
          type: string
          enum:
          - Client
          - Registration
          - Account
        createdDate:
          type: string
          format: date-time
        totalNumberOfFile:
          type: integer
          format: int32
        instanceName:
          type: string
        fileImportInstanceId:
          type: integer
          format: int32
      xml:
        name: FileImportRequestDto
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.WebApi.DTO.Utility.FileImportDto:
      properties:
        pkBlob:
          type: integer
          format: int32
        fkParent:
          type: integer
          format: int32
        fileName:
          type: string
        blobDesc:
          type: string
        blobText:
          type: string
        emailsSent:
          type: integer
          format: int32
        invalidEmail:
          type: integer
          format: int32
        message:
          type: string
      xml:
        name: FileImportDto
      type: object
    OAS.WebApi.DTO.Utility.FileImportUploadDto:
      required:
      - file
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
      xml:
        name: FileImportUploadDto
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAS.WebApi.DTO.Utility.FileImportSettingDto:
      required:
      - blobDescription
      - blobText
      - fileExtension
      - fileType
      properties:
        sessionId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        fileNameConvention:
          type: string
        method:
          type: string
          enum:
          - Only Import Existing Files
          - Import All Overwriting Existing
          - Import All Skip Exising
        sendEmail:
          type: boolean
        ignoreDash:
          type: boolean
        ignoreLeadingZero:
          type: boolean
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        blobDescription:
          type: string
          maxLength: 200
          minLength: 0
        blobText:
          type: string
        fileExtension:
          type: string
        fileType:
          type: string
        postLevel:
          type: string
          enum:
          - Client
          - Registration
          - Account
        createdDate:
          type: string
          format: date-time
        totalNumberOfFile:
          type: integer
          format: int32
        instanceName:
          type: string
        fileImportInstanceId:
          type: integer
          format: int32
      xml:
        name: FileImportSettingDto
      type: object
    OAS.WebApi.DTO.Utility.FileImportSettingUploadDto:
      required:
      - file
      - blobDescription
      - blobText
      - fileExtension
      - fileType
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
        sessionId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        fileNameConvention:
          type: string
        method:
          type: string
          enum:
          - Only Import Existing Files
          - Import All Overwriting Existing
          - Import All Skip Exising
        sendEmail:
          type: boolean
        ignoreDash:
          type: boolean
        ignoreLeadingZero:
          type: boolean
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        blobDescription:
          type: string
          maxLength: 200
          minLength: 0
        blobText:
          type: string
        fileExtension:
          type: string
        fileType:
          type: string
        postLevel:
          type: string
          enum:
          - Client
          - Registration
          - Account
        createdDate:
          type: string
          format: date-time
        totalNumberOfFile:
          type: integer
          format: int32
        instanceName:
          type: string
        fileImportInstanceId:
          type: integer
          format: int32
      xml:
        name: FileImportSettingUploadDto
      type: object
    OAS.WebApi.DTO.Utility.FileImportDownloadLogsRequestDto:
      properties:
        files:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportDto'
          xml:
            name: FileImportDto
            wrapped: true
          type: array
        settings:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportSettingDto'
      xml:
        name: FileImportDownloadLogsRequestDto
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
