openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/DPL API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/DPL
paths:
  /v1/Integrations/DPL/AcceptTos:
    post:
      tags:
      - Integrations/DPL
      operationId: Dpl_UpdateTosStatusAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dpl update tos status async
      x-summary-source: derived
  /v1/Integrations/DPL/IsEnabled:
    get:
      tags:
      - Integrations/DPL
      operationId: Dpl_IsDplEnabledAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dpl is dpl enabled async
      x-summary-source: derived
  /v1/Integrations/DPL/TosStatus:
    get:
      tags:
      - Integrations/DPL
      operationId: Dpl_GetTosStatusAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dpl get tos status async
      x-summary-source: derived
  /v1/Integrations/DPL/WidgetConfig:
    get:
      tags:
      - Integrations/DPL
      operationId: Dpl_GetWidgetConfigAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dpl get widget config async
      x-summary-source: derived
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
