openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Model Aggs API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/ModelAggs
paths:
  /v1/Trading/ModelAggs:
    get:
      tags:
      - Trading/ModelAggs
      summary: Gets a list of model aggs that the logged in user has access to.
      operationId: ModelAggs_GetAsync
      parameters:
      - name: accountId
        in: query
        description: Limits the results to only model aggs that are permitted for this account.
        required: false
        schema:
          type: integer
          format: int32
      - name: subAdvisorId
        in: query
        description: If limiting by accountId allows you to also limit as though the account were under the provided subadvisor.
        required: false
        schema:
          type: integer
          format: int32
      - name: registrationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: excludeSelfDirected
        in: query
        description: 'Optional. Default: false. When true, self-directed aggregate models are not returned.'
        required: false
        schema:
          type: boolean
          default: false
      - name: modelType
        in: query
        description: 'Optional. Default: null. If provided, only model aggs that contain at least one model of the provided type will be returned.'
        required: false
        schema:
          type: string
      - name: modelAggType
        in: query
        required: false
        schema:
          type: string
      - name: canMaintainOnly
        in: query
        description: 'Optional. Default: false.   If true, only model aggs the current user can edit are returned.'
        required: false
        schema:
          type: boolean
          default: false
      - name: withOrders
        in: query
        description: Optional.  When provided (true) will return model aggs with orders or when provided (false) will return without orders.
        required: false
        schema:
          type: boolean
      - name: forUser
        in: query
        description: Optionl.  When provided (true) will return the model aggs owned and visable to the User.
        required: false
        schema:
          type: boolean
      - name: representativeId
        in: query
        description: 'Optional.  Default: null.  When there is value, only  the model aggs that the representativeIds'
        required: false
        schema:
          type: integer
          format: int32
      - name: isUsed
        in: query
        description: Optional. When provided will only return model aggs that are used (true) or aren't used (false).
        required: false
        schema:
          type: boolean
      - name: isProposalEnabled
        in: query
        required: false
        schema:
          type: boolean
      - name: isAdvisoryWorldModel
        in: query
        required: false
        schema:
          type: boolean
      - name: riskRange
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - OneToTwenty
          - TwentyoneToForty
          - FortyoneToSixty
          - SixtyoneToEighty
          - EightyoneToOneHundred
          - All
          default: 0
      - name: getAllModelsForAllSubAdvisors
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: allModelsActive
        in: query
        description: Optional. Will default to true and only bring back modelaggs where all models are active.
        required: false
        schema:
          type: boolean
          default: true
      - name: includeCommunityModels
        in: query
        description: 'Optional.  Default: null No Community Models will be returned.  When the value is true, all model aggs, including community models will be returned.'
        required: false
        schema:
          type: boolean
          default: true
      - name: onlyCommunityModels
        in: query
        description: 'Optional. Default: false will return all models. When value is true, will only show Community Models'
        required: false
        schema:
          type: boolean
          default: false
      - name: onlyAstroModels
        in: query
        description: 'Optional. Default: null will return all models. When value is true, will only show Astro Models'
        required: false
        schema:
          type: boolean
      - name: custodian
        in: query
        description: Optional. Default null - filtered model aggregates by associated account custodian
        required: false
        schema:
          type: string
      - name: fundFamily
        in: query
        description: Optional. Default null - filtered model aggregates by associated account fund family
        required: false
        schema:
          type: string
      - name: eclipseModelId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - WithDetails
          - ModelAggLight
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
                xml:
                  name: ModelAggDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
                xml:
                  name: ModelAggDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
                xml:
                  name: ModelAggDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
                xml:
                  name: ModelAggDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
                xml:
                  name: ModelAggDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
                xml:
                  name: ModelAggDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_CreateEntityAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
        required: true
      summary: Model aggs create entity async
      x-summary-source: derived
  /v1/Trading/ModelAggs/{key}:
    get:
      tags:
      - Trading/ModelAggs
      summary: Gets the model agg that has the provided key.
      operationId: ModelAggs_GetByKeyAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: returnStyle
        in: query
        description: Indicates if the response should include details or not.  Default is WithDetails.  WithDetails is much slower, but includes the assigned accounts and Approved Entitites.
        required: false
        schema:
          type: string
          enum:
          - Standard
          - WithDetails
          - ModelAggLight
          default: 1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
      security:
      - Authorization: []
    put:
      tags:
      - Trading/ModelAggs
      summary: Updates the billFeeSchedule for the model aggregate
      operationId: ModelAggs_UpdateAggregateModelAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto'
        description: ModelAggWithDetails
        required: true
    delete:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_DeleteAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Model aggs delete async
      x-summary-source: derived
  /v1/Trading/ModelAggs/{key}/{accountId}/Allocations:
    get:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_GetAllocationsForAccount
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Model aggs get allocations for account
      x-summary-source: derived
  /v1/Trading/ModelAggs/{key}/Accounts:
    get:
      tags:
      - Trading/ModelAggs
      summary: Returns standard account object for a ModelAggregate Id
      operationId: ModelAggs_GetV1TradingModelAggsByKeyAccounts
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: manipulator
        in: header
        required: true
      - name: key
        in: path
        description: ModelAggId
        required: true
        schema:
          type: integer
          format: int32
      - name: isActive
        in: query
        description: Optional.  If False, all accounts are returned, if true, only active true accounts are returned.
        required: false
        schema:
          type: boolean
      - name: isManaged
        in: query
        description: Optional. If included, accounts are filtered to managed parameter.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
                xml:
                  name: AccountBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
                xml:
                  name: AccountBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
                xml:
                  name: AccountBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
                xml:
                  name: AccountBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
                xml:
                  name: AccountBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
                xml:
                  name: AccountBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/ModelAggs/{key}/Allocations:
    get:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_GetAllocationsForAggregateModel
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: includeRiskScore
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Model aggs get allocations for aggregate model
      x-summary-source: derived
  /v1/Trading/ModelAggs/{key}/AssignedBenchmarks:
    get:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_GetAssignedBenchmarks
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BenchmarkDto'
                xml:
                  name: BenchmarkDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BenchmarkDto'
                xml:
                  name: BenchmarkDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BenchmarkDto'
                xml:
                  name: BenchmarkDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BenchmarkDto'
                xml:
                  name: BenchmarkDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BenchmarkDto'
                xml:
                  name: BenchmarkDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BenchmarkDto'
                xml:
                  name: BenchmarkDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Model aggs get assigned benchmarks
      x-summary-source: derived
  /v1/Trading/ModelAggs/{key}/CanMaintain:
    get:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_CanMaintain
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AggregateModelCanMaintainDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AggregateModelCanMaintainDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AggregateModelCanMaintainDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AggregateModelCanMaintainDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AggregateModelCanMaintainDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AggregateModelCanMaintainDto'
      security:
      - Authorization: []
      summary: Model aggs can maintain
      x-summary-source: derived
  /v1/Trading/ModelAggs/AggTypes:
    get:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_GetModelAggModelAggTypes
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                type: array
      security:
      - Authorization: []
      summary: Model aggs get model agg model agg types
      x-summary-source: derived
  /v1/Trading/ModelAggs/ByModel/{modelId}:
    get:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_GetByModelId
      parameters:
      - name: modelId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDto'
      security:
      - Authorization: []
      summary: Model aggs get by model id
      x-summary-source: derived
  /v1/Trading/ModelAggs/Element:
    get:
      tags:
      - Trading/ModelAggs
      summary: Gets a list of model aggs that the logged in user has access to.
      operationId: ModelAggs_GetModelAggsForElement
      parameters:
      - name: accountId
        in: query
        description: Limits the results to only model aggs that are permitted for this account.
        required: false
        schema:
          type: integer
          format: int32
      - name: subAdvisorId
        in: query
        description: If limiting by accountId allows you to also limit as though the account were under the provided subadvisor.
        required: false
        schema:
          type: integer
          format: int32
      - name: registrationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: excludeSelfDirected
        in: query
        description: 'Optional. Default: false. When true, self-directed aggregate models are not returned.'
        required: false
        schema:
          type: boolean
          default: false
      - name: modelType
        in: query
        description: 'Optional. Default: null. If provided, only model aggs that contain at least one model of the provided type will be returned.'
        required: false
        schema:
          type: string
      - name: modelAggType
        in: query
        required: false
        schema:
          type: string
      - name: canMaintainOnly
        in: query
        description: 'Optional. Default: false.   If true, only model aggs the current user can edit are returned.'
        required: false
        schema:
          type: boolean
          default: false
      - name: withOrders
        in: query
        description: Optional.  When provided (true) will return model aggs with orders or when provided (false) will return without orders.
        required: false
        schema:
          type: boolean
      - name: forUser
        in: query
        description: Optionl.  When provided (true) will return the model aggs owned and visable to the User.
        required: false
        schema:
          type: boolean
      - name: representativeId
        in: query
        description: 'Optional.  Default: null.  When there is value, only  the model aggs that the representativeIds'
        required: false
        schema:
          type: integer
          format: int32
      - name: isUsed
        in: query
        description: Optional. When provided will only return model aggs that are used (true) or aren't used (false).
        required: false
        schema:
          type: boolean
      - name: isProposalEnabled
        in: query
        required: false
        schema:
          type: boolean
      - name: isAdvisoryWorldModel
        in: query
        required: false
        schema:
          type: boolean
      - name: riskRange
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - OneToTwenty
          - TwentyoneToForty
          - FortyoneToSixty
          - SixtyoneToEighty
          - EightyoneToOneHundred
          - All
          default: 0
      - name: getAllModelsForAllSubAdvisors
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: allModelsActive
        in: query
        description: Optional. Will default to true and only bring back modelaggs where all models are active.
        required: false
        schema:
          type: boolean
          default: true
      - name: includeCommunityModels
        in: query
        description: 'Optional.  Default: null No Community Models will be returned.  When the value is true, all model aggs, including community models will be returned.'
        required: false
        schema:
          type: boolean
          default: true
      - name: onlyCommunityModels
        in: query
        description: 'Optional. Default: false will return all models. When value is true, will only show Community Models'
        required: false
        schema:
          type: boolean
          default: false
      - name: onlyAstroModels
        in: query
        description: 'Optional. Default: null will return all models. When value is true, will only show Astro Models'
        required: false
        schema:
          type: boolean
      - name: custodian
        in: query
        description: Optional. Default null - filtered model aggregates by associated account custodian
        required: false
        schema:
          type: string
      - name: fundFamily
        in: query
        description: Optional. Default null - filtered model aggregates by associated account fund family
        required: false
        schema:
          type: string
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Trading/ModelAggs/FindByAllocation:
    put:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_FindByAllocation
      parameters:
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - WithDetails
          - ModelAggLight
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: object
                type: array
            application/json:
              schema:
                items:
                  type: object
                type: array
            text/json:
              schema:
                items:
                  type: object
                type: array
            application/xml:
              schema:
                items:
                  type: object
                type: array
            text/xml:
              schema:
                items:
                  type: object
                type: array
            multipart/form-data:
              schema:
                items:
                  type: object
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelAggsController.SimpleModelAggregation'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelAggsController.SimpleModelAggregation'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelAggsController.SimpleModelAggregation'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelAggsController.SimpleModelAggregation'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelAggsController.SimpleModelAggregation'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelAggsController.SimpleModelAggregation'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelAggsController.SimpleModelAggregation'
        required: true
      summary: Model aggs find by allocation
      x-summary-source: derived
  /v1/Trading/ModelAggs/Limited:
    get:
      tags:
      - Trading/ModelAggs
      summary: Gets a list of model aggs with few fields that the logged in user has access to.
      operationId: ModelAggs_GetLimited
      parameters:
      - name: accountId
        in: query
        description: Limits the results to only model aggs that are permitted for this account.
        required: false
        schema:
          type: integer
          format: int32
      - name: subAdvisorId
        in: query
        description: If limiting by accountId allows you to also limit as though the account were under the provided subadvisor.
        required: false
        schema:
          type: integer
          format: int32
      - name: registrationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: modelAggType
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.LimitedAggregateModel'
                xml:
                  name: LimitedAggregateModel
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.LimitedAggregateModel'
                xml:
                  name: LimitedAggregateModel
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.LimitedAggregateModel'
                xml:
                  name: LimitedAggregateModel
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.LimitedAggregateModel'
                xml:
                  name: LimitedAggregateModel
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.LimitedAggregateModel'
                xml:
                  name: LimitedAggregateModel
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.LimitedAggregateModel'
                xml:
                  name: LimitedAggregateModel
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/ModelAggs/List:
    post:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_GetListById
      parameters:
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - WithDetails
          - ModelAggLight
          default: 1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: object
                type: array
            application/json:
              schema:
                items:
                  type: object
                type: array
            text/json:
              schema:
                items:
                  type: object
                type: array
            application/xml:
              schema:
                items:
                  type: object
                type: array
            text/xml:
              schema:
                items:
                  type: object
                type: array
            multipart/form-data:
              schema:
                items:
                  type: object
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Model aggs get list by id
      x-summary-source: derived
  /v1/Trading/ModelAggs/List/Id:
    post:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_PostV1TradingModelAggsListId
      parameters:
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - WithDetails
          - ModelAggLight
          default: 1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: object
                type: array
            application/json:
              schema:
                items:
                  type: object
                type: array
            text/json:
              schema:
                items:
                  type: object
                type: array
            application/xml:
              schema:
                items:
                  type: object
                type: array
            text/xml:
              schema:
                items:
                  type: object
                type: array
            multipart/form-data:
              schema:
                items:
                  type: object
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Model aggs post V1 trading model aggs list id
      x-summary-source: derived
  /v1/Trading/ModelAggs/MapEclipseModelsToModelAggs:
    post:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_MapEclipseModelIds
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.Eclipse.EclipseModelMappingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.Eclipse.EclipseModelMappingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.Eclipse.EclipseModelMappingDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.Eclipse.EclipseModelMappingDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.Eclipse.EclipseModelMappingDto'
        required: true
      summary: Model aggs map eclipse model ids
      x-summary-source: derived
  /v1/Trading/ModelAggs/Reporting:
    put:
      tags:
      - Trading/ModelAggs
      summary: Updates the focus point reporting table for the model aggregate
      operationId: ModelAggsReporting_UpdateModelAggsReportingAsync
      parameters:
      - name: cancellationToken
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
        description: ModelAggReportingDto
        required: true
    post:
      tags:
      - Trading/ModelAggs
      summary: Creates a focus point reporting table for the model aggregate
      operationId: ModelAggsReporting_CreateModelAggsReportingAsync
      parameters:
      - name: cancellationToken
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
        description: ModelAggReportingDto
        required: true
  /v1/Trading/ModelAggs/Reporting/{key}:
    get:
      tags:
      - Trading/ModelAggs
      summary: Gets the model agg reporting records based on the model agg key
      operationId: ModelAggsReporting_GetByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired model agg.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ModelAggsReporting.FocusPointReportingDto'
      security:
      - Authorization: []
  /v1/Trading/ModelAggs/RequestEclipseModelCreation:
    post:
      tags:
      - Trading/ModelAggs
      summary: Finds all qualifying AggregateModels (have not already been created in Eclipse)…
      operationId: ModelAggs_RequestEclipseModelCreationAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: "The list of modelAgg IDs being requested to have Eclipse\n            models created for"
        required: true
  /v1/Trading/ModelAggs/Search:
    get:
      tags:
      - Trading/ModelAggs
      summary: Model aggs search
      operationId: ModelAggs_Search
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: modelAggType
        in: query
        required: false
        schema:
          type: string
      - name: activeOnly
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: isAdvisoryWorldModel
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: accountId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Trading/ModelAggs/Search/{search}:
    get:
      tags:
      - Trading/ModelAggs
      summary: Model aggs get V1 trading model aggs search by search
      operationId: ModelAggs_GetV1TradingModelAggsSearchBySearch
      parameters:
      - name: search
        in: path
        required: true
        schema:
          type: string
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: modelAggType
        in: query
        required: false
        schema:
          type: string
      - name: activeOnly
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: isAdvisoryWorldModel
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: accountId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Trading/ModelAggs/Simple:
    get:
      tags:
      - Trading/ModelAggs
      summary: Gets a simple list of model aggs that the logged in user has access to
      operationId: ModelAggs_GetSimple
      parameters:
      - name: accountId
        in: query
        description: Limits the results to only model aggs that are permitted for this account.
        required: false
        schema:
          type: integer
          format: int32
      - name: subAdvisorId
        in: query
        description: If limiting by accountId allows you to also limit as though the account were under the provided subadvisor.
        required: false
        schema:
          type: integer
          format: int32
      - name: registrationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: excludeSelfDirected
        in: query
        description: 'Optional. Default: false. When true, self-directed aggregate models are not returned.'
        required: false
        schema:
          type: boolean
          default: false
      - name: modelType
        in: query
        description: 'Optional. Default: null. If provided, only model aggs that contain at least one model of the provided type will be returned.'
        required: false
        schema:
          type: string
      - name: modelAggType
        in: query
        required: false
        schema:
          type: string
      - name: canMaintainOnly
        in: query
        description: 'Optional. Default: false.   If true, only model aggs the current user can edit are returned.'
        required: false
        schema:
          type: boolean
          default: false
      - name: withOrders
        in: query
        description: Optional.  When provided (true) will return model aggs with orders or when provided (false) will return without orders.
        required: false
        schema:
          type: boolean
      - name: forUser
        in: query
        description: Optionl.  When provided (true) will return the model aggs owned and visable to the User.
        required: false
        schema:
          type: boolean
      - name: representativeId
        in: query
        description: 'Optional.  Default: null.  When there is value, only  the model aggs that the representativeIds'
        required: false
        schema:
          type: integer
          format: int32
      - name: isUsed
        in: query
        description: Optional. When provided will only return model aggs that are used (true) or aren't used (false).
        required: false
        schema:
          type: boolean
      - name: isProposalEnabled
        in: query
        required: false
        schema:
          type: boolean
      - name: isAdvisoryWorldModel
        in: query
        required: false
        schema:
          type: boolean
      - name: riskRange
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - OneToTwenty
          - TwentyoneToForty
          - FortyoneToSixty
          - SixtyoneToEighty
          - EightyoneToOneHundred
          - All
          default: 0
      - name: getAllModelsForAllSubAdvisors
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: allModelsActive
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: includeCommunityModels
        in: query
        description: 'Optional.  Default: null No Community Models will be returned.  When the value is true, all model aggs, including community models will be returned.'
        required: false
        schema:
          type: boolean
          default: true
      - name: onlyCommunityModels
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: onlyAstroModels
        in: query
        description: 'Optional. Default: null will return all models. When value is true, will only show Astro Models'
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/ModelAggs/Simple/ByCommunityModelId/{communityModelId}:
    get:
      tags:
      - Trading/ModelAggs
      summary: Get the model agg for the community model id that is provided
      operationId: ModelAggs_GetModelAggregateByCommunityModelId
      parameters:
      - name: communityModelId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
      security:
      - Authorization: []
  /v1/Trading/ModelAggs/Simple/ByCommunityModelId/{communityModelId}/{eclipseFirmId}:
    get:
      tags:
      - Trading/ModelAggs
      summary: Get the model agg for the community model id that is provided
      operationId: ModelAggs_GetModelAggregateByCommunityModelIdAsync
      parameters:
      - name: communityModelId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: eclipseFirmId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
      security:
      - Authorization: []
  /v1/Trading/ModelAggs/Simple/List:
    post:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_GetSimpleListById
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
                xml:
                  name: SimpleAggregateModel
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
                xml:
                  name: SimpleAggregateModel
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
                xml:
                  name: SimpleAggregateModel
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
                xml:
                  name: SimpleAggregateModel
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
                xml:
                  name: SimpleAggregateModel
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
                xml:
                  name: SimpleAggregateModel
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Model aggs get simple list by id
      x-summary-source: derived
  /v1/Trading/ModelAggs/Simple/List/Id:
    post:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_PostV1TradingModelAggsSimpleListId
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
                xml:
                  name: SimpleAggregateModel
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
                xml:
                  name: SimpleAggregateModel
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
                xml:
                  name: SimpleAggregateModel
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
                xml:
                  name: SimpleAggregateModel
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
                xml:
                  name: SimpleAggregateModel
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleAggregateModel'
                xml:
                  name: SimpleAggregateModel
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Model aggs post V1 trading model aggs simple list id
      x-summary-source: derived
  /v1/Trading/ModelAggs/Simple/Name:
    get:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_GetSimpleByName
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
      security:
      - Authorization: []
      summary: Model aggs get simple by name
      x-summary-source: derived
  /v1/Trading/ModelAggs/Simple/Name/List:
    get:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_GetSimpleListByName
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Model aggs get simple list by name
      x-summary-source: derived
  /v1/Trading/ModelAggs/Types:
    get:
      tags:
      - Trading/ModelAggs
      operationId: ModelAggs_GetModelAggModelTypes
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                type: array
      security:
      - Authorization: []
      summary: Model aggs get model agg model types
      x-summary-source: derived
components:
  schemas:
    OAS.DataProcess.DTO.Integration.Eclipse.EclipseModelMappingDto:
      properties:
        createdModelAggsInEclipse:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.Eclipse.EclipseModelOrionConnectModelAggMapping'
          xml:
            name: EclipseModelOrionConnectModelAggMapping
            wrapped: true
          type: array
        eclipseFirmId:
          type: integer
          format: int32
      xml:
        name: EclipseModelMappingDto
      type: object
    OAS.WebApi.DTO.Trading.ModelAggWithDetailsDto:
      properties:
        createdDate:
          type: string
          format: date-time
        entities:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggEntityDto'
          xml:
            name: ModelAggEntityDto
            wrapped: true
          type: array
        accounts:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggAccountFullDto'
          xml:
            name: ModelAggAccountFullDto
            wrapped: true
          type: array
        items:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelItemFullDto'
          xml:
            name: ModelItemFullDto
            wrapped: true
          type: array
        productTypes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggProductTypeDto'
          xml:
            name: ModelAggProductTypeDto
            wrapped: true
          type: array
        id:
          type: integer
          format: int32
        name:
          type: string
        isSystemMaintained:
          type: boolean
        accountNumberSuffix:
          type: string
        keepAlways:
          type: boolean
        accountCount:
          type: integer
          format: int32
        value:
          type: number
          format: double
        sortOrder:
          type: integer
          format: int32
        color:
          type: string
        eclipseFirmId:
          type: integer
          format: int32
        eclipseFirmIds_csv:
          type: string
        modelTags:
          readOnly: true
          type: string
        tags:
          items:
            type: string
          type: array
        eclipseModelId:
          type: integer
          format: int32
        minimumInvestmentAmount:
          type: number
          format: double
        billFeeSchedule:
          type: integer
          format: int32
        payoutSchedule:
          type: integer
          format: int32
        createdBy:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        entityId:
          type: integer
          format: int32
        entityEnum:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        include:
          type: boolean
        owned:
          type: boolean
        canMaintain:
          type: boolean
        modelAggTypeId:
          type: integer
          format: int32
        modelAggType:
          type: string
        riskScore:
          type: number
          format: double
        proposalEnabled:
          type: boolean
        advisoryWorldModel:
          type: boolean
        hasManagerFactSheet:
          type: boolean
        subAdvisorId:
          type: integer
          format: int32
        subAdvisorName:
          type: string
        containsCommunityModel:
          type: boolean
        communityModelId:
          type: integer
          format: int64
        modelAssetType:
          type: string
        modelRiskCategory:
          type: string
        modelAssetClass:
          type: string
        modelStrategyType:
          type: string
        taxManaged:
          type: boolean
        isSociallyResponsible:
          type: boolean
        morningstarId:
          type: string
        isAstroEnabled:
          type: boolean
        syncToAstro:
          type: boolean
        details:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggDetailDto'
          xml:
            name: ModelAggDetailDto
            wrapped: true
          type: array
        hasSMAModel:
          type: boolean
        strategistId:
          type: integer
          format: int32
        worstReturn:
          type: number
          format: double
        averageReturn:
          type: number
          format: double
        bestReturn:
          type: number
          format: double
        associatedModelAggId:
          type: integer
          format: int32
        astroTemplate:
          type: string
        portfolioOverview:
          type: string
        portfolioManagementTeam:
          type: string
        excludeRebalanceSleeve:
          description: 'If true, then sleeved accounts assigned to this model agg will be excluded from portfolio level rebalances.

            This field is intentionally not mapped in the API POST/PUT save, it is only meant to be synced from Eclipse.'
          type: boolean
        excludeFromComposites:
          type: boolean
        eclipseModelType:
          type: string
          enum:
          - Normal
          - Unmanaged
          - SelfDirected
          - SMA
          - Optimizer
        investmentObjectiveId:
          type: integer
          format: int32
        researchedStatus:
          type: string
      xml:
        name: ModelAggWithDetailsDto
      type: object
    OAS.WebApi.DTO.Trading.ModelAggProductTypeDto:
      properties:
        productTypeId:
          type: integer
          format: int32
      xml:
        name: ModelAggProductTypeDto
      type: object
    OAS.WebApi.DTO.Trading.ModelItemFullDto:
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        productName:
          type: string
        productClass:
          type: string
        ticker:
          type: string
        targetPercent:
          type: number
          format: double
        itemTol:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        itemTolUpper:
          type: number
          format: double
        itemTolLower:
          type: number
          format: double
        oub:
          type: number
          format: double
        modelAggId:
          type: integer
          format: int32
        productRiskScore:
          type: integer
          format: int32
      xml:
        name: ModelItemFullDto
      type: object
    OAS.WebApi.DTO.Trading.CurrentAccountModelDto:
      properties:
        currentPercent:
          type: number
          format: double
        currentValue:
          type: number
          format: double
        currentShares:
          type: number
          format: double
        productCategoryName:
          type: string
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        productName:
          type: string
        productClass:
          type: string
        ticker:
          type: string
        targetPercent:
          type: number
          format: double
        itemTol:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        itemTolUpper:
          type: number
          format: double
        itemTolLower:
          type: number
          format: double
        oub:
          type: number
          format: double
        modelAggId:
          type: integer
          format: int32
        productRiskScore:
          type: integer
          format: int32
      xml:
        name: CurrentAccountModelDto
      type: object
    OAS.WebApi.DTO.Trading.ModelAggAccountFullDto:
      properties:
        accountId:
          type: integer
          format: int32
        accountName:
          type: string
        accountNumber:
          type: string
        canDelete:
          type: boolean
        lastRebalanced:
          type: string
          format: date-time
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        value:
          type: number
          format: double
        isActive:
          type: boolean
      xml:
        name: ModelAggAccountFullDto
      type: object
    OAS.WebApi.Domains.Trading.ModelAggsController.SimpleModelAggregation:
      properties:
        details:
          items:
            $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelAggsController.WeightedModel'
          xml:
            name: WeightedModel
            wrapped: true
          type: array
      xml:
        name: SimpleModelAggregation
      type: object
    OAS.WebApi.DTO.Trading.ModelAggDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isSystemMaintained:
          type: boolean
        accountNumberSuffix:
          type: string
        keepAlways:
          type: boolean
        accountCount:
          type: integer
          format: int32
        value:
          type: number
          format: double
        sortOrder:
          type: integer
          format: int32
        color:
          type: string
        eclipseFirmId:
          type: integer
          format: int32
        eclipseFirmIds_csv:
          type: string
        modelTags:
          readOnly: true
          type: string
        tags:
          items:
            type: string
          type: array
        eclipseModelId:
          type: integer
          format: int32
        minimumInvestmentAmount:
          type: number
          format: double
        billFeeSchedule:
          type: integer
          format: int32
        payoutSchedule:
          type: integer
          format: int32
        createdBy:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        entityId:
          type: integer
          format: int32
        entityEnum:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        include:
          type: boolean
        owned:
          type: boolean
        canMaintain:
          type: boolean
        modelAggTypeId:
          type: integer
          format: int32
        modelAggType:
          type: string
        riskScore:
          type: number
          format: double
        proposalEnabled:
          type: boolean
        advisoryWorldModel:
          type: boolean
        hasManagerFactSheet:
          type: boolean
        subAdvisorId:
          type: integer
          format: int32
        subAdvisorName:
          type: string
        containsCommunityModel:
          type: boolean
        communityModelId:
          type: integer
          format: int64
        modelAssetType:
[...]
