openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Plans API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/Plans
paths:
  /v1/Portfolio/Plans:
    get:
      tags:
      - Portfolio/Plans
      summary: Gets a list of plans that the logged in user has access to
      operationId: Plans_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Plans/{key}:
    get:
      tags:
      - Portfolio/Plans
      summary: Gets the plan that has the provided key.
      operationId: Plans_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
      security:
      - Authorization: []
  /v1/Portfolio/Plans/{planId}/Participants:
    post:
      tags:
      - Portfolio/Plans
      operationId: Plans_CreateParticipantAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: planId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ParticipantAccountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ParticipantAccountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ParticipantAccountDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ParticipantAccountDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ParticipantAccountDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ParticipantAccountDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
        required: true
      summary: Plans create participant async
      x-summary-source: derived
  /v1/Portfolio/Plans/{planId}/Participants/Validate:
    post:
      tags:
      - Portfolio/Plans
      operationId: Plans_ValidateParticipantAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: planId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantValidationResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantValidationResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantValidationResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantValidationResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantValidationResultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantValidationResultDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto'
        required: true
      summary: Plans validate participant async
      x-summary-source: derived
  /v1/Portfolio/Plans/{planId}/Sponsor/SSNTaxId:
    put:
      tags:
      - Portfolio/Plans
      summary: Update plan summary tax id
      operationId: Plans_UpdatePlanSummarySSNTaxId
      parameters:
      - name: planId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
        required: true
  /v1/Portfolio/Plans/Qualified/{registrationTypeId}:
    get:
      tags:
      - Portfolio/Plans
      summary: Gets a simple list of qualified plans that the logged in user has access to
      operationId: Plans_GetQualified
      parameters:
      - name: registrationTypeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimplePlan'
                xml:
                  name: SimplePlan
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimplePlan'
                xml:
                  name: SimplePlan
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimplePlan'
                xml:
                  name: SimplePlan
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimplePlan'
                xml:
                  name: SimplePlan
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimplePlan'
                xml:
                  name: SimplePlan
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimplePlan'
                xml:
                  name: SimplePlan
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Plans/Search:
    get:
      tags:
      - Portfolio/Plans
      summary: Gets a list of plans that the logged in user has access to where the plan name…
      operationId: Plans_GetSearch
      parameters:
      - name: search
        in: query
        description: Partial plan name to search for.
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: 'Optional. Default: null. The maximum number of plans to return. If null returns all.'
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: 'Optional. Default: 0. Defines number of items to skip.'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Plans/Search/{search}:
    get:
      tags:
      - Portfolio/Plans
      summary: Gets a list of plans that the logged in user has access to where the plan name…
      operationId: Plans_GetV1PortfolioPlansSearchBySearch
      parameters:
      - name: search
        in: path
        description: Partial plan name to search for.
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: 'Optional. Default: null. The maximum number of plans to return. If null returns all.'
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: 'Optional. Default: 0. Defines number of items to skip.'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanDto'
                xml:
                  name: PlanDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Plans/Simple:
    get:
      tags:
      - Portfolio/Plans
      summary: Gets a simple list of plans that the logged in user has access to
      operationId: Plans_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimplePlan'
                xml:
                  name: SimplePlan
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimplePlan'
                xml:
                  name: SimplePlan
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimplePlan'
                xml:
                  name: SimplePlan
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimplePlan'
                xml:
                  name: SimplePlan
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimplePlan'
                xml:
                  name: SimplePlan
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimplePlan'
                xml:
                  name: SimplePlan
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Plans/Verbose:
    get:
      tags:
      - Portfolio/Plans
      operationId: Plans_GetVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Personal
            - Sponsor
            - Platforms
            - Participants
            - Fees
            - Representatives
            - Notes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Plans get verbose
      x-summary-source: derived
    put:
      tags:
      - Portfolio/Plans
      summary: Update a list of plan summary
      operationId: Plans_UpdateVerbosePlans
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
              xml:
                name: PlanVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
              xml:
                name: PlanVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
              xml:
                name: PlanVerboseDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
              xml:
                name: PlanVerboseDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
              xml:
                name: PlanVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
              xml:
                name: PlanVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
              xml:
                name: PlanVerboseDto
                wrapped: true
              type: array
        required: true
    post:
      tags:
      - Portfolio/Plans
      summary: Create a plan
      operationId: Plans_CreateVerbosePlan
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
        required: true
  /v1/Portfolio/Plans/Verbose/{key}:
    get:
      tags:
      - Portfolio/Plans
      operationId: Plans_GetVerboseByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Personal
            - Sponsor
            - Platforms
            - Participants
            - Fees
            - Representatives
            - Notes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
      security:
      - Authorization: []
      summary: Plans get verbose by key
      x-summary-source: derived
    put:
      tags:
      - Portfolio/Plans
      summary: Update plan summary
      operationId: Plans_UpdateVerbosePlan
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
        required: true
    delete:
      tags:
      - Portfolio/Plans
      summary: Used to delete an existing plan. Upon successful deletion a 204 will be returned
      operationId: Plans_DeleteAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/Plans/Verbose/List:
    post:
      tags:
      - Portfolio/Plans
      operationId: Plans_GetVerboseListById
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Personal
            - Sponsor
            - Platforms
            - Participants
            - Fees
            - Representatives
            - Notes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Plans get verbose list by id
      x-summary-source: derived
  /v1/Portfolio/Plans/Verbose/List/Id:
    post:
      tags:
      - Portfolio/Plans
      operationId: Plans_PostV1PortfolioPlansVerboseListId
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Personal
            - Sponsor
            - Platforms
            - Participants
            - Fees
            - Representatives
            - Notes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
                xml:
                  name: PlanVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Plans post V1 portfolio plans verbose list id
      x-summary-source: derived
  /v1/Portfolio/Plans/Verbose/New:
    get:
      tags:
      - Portfolio/Plans
      operationId: Plans_GetNewVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Personal
            - Sponsor
            - Platforms
            - Participants
            - Fees
            - Representatives
            - Notes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanVerboseDto'
      security:
      - Authorization: []
      summary: Plans get new verbose
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.PlanParticipantAddDto:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        ssn:
          type: string
        dateOfBirth:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        phone:
          type: string
        email:
          type: string
        platformId:
          type: integer
          format: int32
        businessLineId:
          type: integer
          format: int32
        isLifestyleOption:
          type: boolean
        autoPopulate:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAutoPopulateDto'
      xml:
        name: PlanParticipantAddDto
      type: object
    OAS.WebApi.DTO.Portfolio.PlanFeeDto:
      properties:
        id:
          type: integer
          format: int32
        party:
          type: string
        feePercent:
          type: number
          format: double
      xml:
        name: PlanFeeDto
      type: object
    OAS.WebApi.DTO.Portfolio.PlanPersonalDto:
      properties:
        city:
          type: string
        state:
          type: string
        email:
          type: string
        salutation:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        zip:
          type: string
        homePhone:
          type: string
        homePhoneExt:
          type: string
        fax:
          type: string
        faxExt:
          type: string
        pager:
          type: string
        pagerExt:
          type: string
        mobilePhone:
          type: string
        businessPhone:
          type: string
        businessPhoneExt:
          type: string
        otherPhone:
          type: string
        otherPhoneExt:
          type: string
        company:
          type: string
        jobTitle:
          type: string
        ssN_TaxID:
          type: string
        gender:
          type: string
        dob:
          type: string
          format: date-time
        webAddress:
          type: string
      xml:
        name: PlanPersonalDto
      type: object
    OAS.WebApi.DTO.Portfolio.ParticipantAccountDto:
      properties:
        accountId:
          type: integer
          format: int32
        householdId:
          type: integer
          format: int32
        householdName:
          type: string
        accountNumber:
          type: string
        currValue:
          type: number
          format: double
        fundFamilyName:
          type: string
        managementStyleName:
          type: string
        houseHoldEmail:
          type: string
        isActive:
          type: boolean
        riskBudget:
          type: integer
          format: int32
        isLifestyleOption:
          type: boolean
      xml:
        name: ParticipantAccountDto
      type: object
    OAS.WebApi.DTO.Portfolio.PlanParticipantAutoPopulateDto:
      properties:
        accountNumber:
          type: string
        riskBudget:
          type: integer
          format: int32
        riskTolerance:
          type: integer
          format: int32
        returnObjective:
          type: string
        investmentObjective:
          type: string
        timeHorizon:
          type: string
        stockPercent:
          type: string
        modelId:
          type: integer
          format: int32
        modelName:
          type: string
        platformId:
          type: integer
          format: int32
        managementStyleName:
          type: string
      xml:
        name: PlanParticipantAutoPopulateDto
      type: object
    OAS.WebApi.DTO.Portfolio.PlanPlatformDto:
      properties:
        id:
          type: integer
          format: int32
        platformId:
          type: integer
          format: int32
        platformName:
          type: string
        feePercent:
          type: number
          format: double
        feeScheduleId:
          type: integer
          format: int32
        feeScheduleName:
          type: string
      xml:
        name: PlanPlatformDto
      type: object
    OAS.WebApi.DTO.Portfolio.PlanSponsorDto:
      properties:
        planSponsor:
          type: string
        city:
          type: string
        state:
          type: string
        email:
          type: string
        salutation:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        zip:
          type: string
        homePhone:
          type: string
        homePhoneExt:
          type: string
        fax:
          type: string
        faxExt:
          type: string
        pager:
          type: string
        pagerExt:
          type: string
        mobilePhone:
          type: string
        businessPhone:
          type: string
        businessPhoneExt:
          type: string
        otherPhone:
          type: string
        otherPhoneExt:
          type: string
        company:
          type: string
        jobTitle:
          type: string
        ssN_TaxID:
          type: string
        gender:
          type: string
        dob:
          type: string
          format: date-time
        webAddress:
          type: string
        syncAddress:
          type: boolean
      xml:
        name: PlanSponsorDto
      type: object
    OAS.WebApi.DTO.Portfolio.PlanParticipantValidationResultDto:
      properties:
        isValid:
          type: boolean
        message:
          type: string
        warningMessage:
          type: string
        autoPopulate:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantAutoPopulateDto'
        fieldErrors:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanParticipantFieldErrorDto'
          xml:
            name: PlanParticipantFieldErrorDto
            wrapped: true
          type: array
      xml:
        name: PlanParticipantValidationResultDto
      type: object
    OAS.WebApi.DTO.Portfolio.PlanVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        portfolio:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanPortfolioDto'
        personal:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanPersonalDto'
        sponsor:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanSponsorDto'
        participants:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ParticipantAccountDto'
          xml:
            name: ParticipantAccountDto
            wrapped: true
          type: array
        fees:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanFeeDto'
          xml:
            name: PlanFeeDto
            wrapped: true
          type: array
        platforms:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlanPlatformDto'
          xml:
            name: PlanPlatformDto
            wrapped: true
          type: array
        representatives:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRepresentative'
          xml:
            name: SimpleRepresentative
            wrapped: true
          type: array
        notes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NoteDto'
          xml:
            name: NoteDto
            wrapped: true
          type: array
      xml:
        name: PlanVerboseDto
      type: object
    OAS.WebApi.DTO.Portfolio.PlanDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        status:
          type: string
        value:
          type: number
          format: double
        representativeName:
          type: string
        representativeId:
          type: integer
          format: int32
        planNumber:
          type: string
        trustee:
          type: string
        participantsCount:
          type: integer
          format: int32
        planAdministrator:
          type: string
        custodianName:
          type: string
        registrationType:
          type: string
        shareClassId:
          type: integer
          format: int32
        wholesalerName:
          type: string
        registrationTypeId:
          type: integer
          format: int32
        planAdministrationId:
          type: integer
          format: int32
        planAdministrationNumber:
          type: string
        planSponsor:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        isCustodianNotified:
          type: boolean
        isFundWindow:
          type: boolean
        notes:
          type: string
        syncAddress:
          type: boolean
        planState:
          type: string
        planCustodialAccountNumber:
          type: string
      xml:
        name: PlanDto
      type: object
    OAS.DataModel.Portfolio.SimpleRepresentative:
      properties:
        isActive:
          type: boolean
        number:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleRepresentative
      type: object
    OAS.WebApi.DTO.Portfolio.UpdateSsnDto:
      properties:
        ssn:
          type: string
        reason:
          type: string
      xml:
        name: UpdateSsnDto
      type: object
    OAS.DataModel.Portfolio.SimplePlan:
      properties:
        registrationTypeId:
          type: integer
          format: int32
        registrationType:
          type: string
        planNumber:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimplePlan
      type: object
    OAS.WebApi.DTO.Portfolio.NoteDto:
      properties:
        id:
          type: integer
          format: int32
        text:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        category:
          type: string
        isWebVisible:
          type: boolean
        isSystemGenerated:
          type: boolean
      xml:
        name: NoteDto
      type: object
    OAS.WebApi.DTO.Portfolio.PlanPortfolioDto:
      properties:
        planName:
          type: string
        status:
          type: string
        value:
          type: number
          format: double
        isFundWindow:
          type: boolean
        planNumber:
          type: string
        trustee:
          type: string
        planAdministratorId:
          type: integer
          format: int32
        notes:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        shareClassId:
          type: integer
          format: int32
        registrationTypeId:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        planCustodialAccountNumber:
          type: string
      xml:
        name: PlanPortfolioDto
      type: object
    OAS.WebApi.DTO.Portfolio.PlanParticipantFieldErrorDto:
      properties:
        field:
          type: string
        message:
          type: string
      xml:
        name: PlanParticipantFieldErrorDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
