openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Plaid API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Plaid
paths:
  /v1/Integrations/Plaid/Accounts:
    get:
      tags:
      - Integrations/Plaid
      summary: Get Accounts for an item
      description: 'Sample Request

        GET /Integrations/Plaid/Accounts

        {

        "itemID":"ABCD74M35rbR1fEKaElMr3bswmEQeAZVGuvRwbLR"

        }'
      operationId: Plaid_AccountsAsync
      parameters:
      - name: itemID
        in: query
        description: The item you want to get accounts of
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Plaid/Accounts/{clientId}:
    get:
      tags:
      - Integrations/Plaid
      summary: Get Plaid Accounts that are not assigned an Account Number. For use with UI
      description: 'Sample Request

        GET /Integrations/Plaid/Accounts/3'
      operationId: Plaid_GetPlaidAccountByUser
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleStringKeyEntity'
                xml:
                  name: SimpleStringKeyEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleStringKeyEntity'
                xml:
                  name: SimpleStringKeyEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleStringKeyEntity'
                xml:
                  name: SimpleStringKeyEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleStringKeyEntity'
                xml:
                  name: SimpleStringKeyEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleStringKeyEntity'
                xml:
                  name: SimpleStringKeyEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleStringKeyEntity'
                xml:
                  name: SimpleStringKeyEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Plaid/AccountsBalance:
    get:
      tags:
      - Integrations/Plaid
      summary: Get Accounts Balance
      description: 'Sample Request

        GET /Integrations/Plaid/AccountsBalance

        {

        "itemID":"ABCD74M35rbR1fEKaElMr3bswmEQeAZVGuvRwbLR"

        }'
      operationId: Plaid_AccountsBalanceAsync
      parameters:
      - name: itemID
        in: query
        description: the itemID for which you want to get the accounts balance of
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Plaid/Auth:
    get:
      tags:
      - Integrations/Plaid
      summary: Get Auth Status
      description: 'Sample Request

        GET /Integrations/Plaid/Auth

        {

        "itemID":"ABCD74M35rbR1fEKaElMr3bswmEQeAZVGuvRwbLR"

        }'
      operationId: Plaid_Auth
      parameters:
      - name: itemID
        in: query
        description: The item you want to get authentication of
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Plaid/Configuration:
    get:
      tags:
      - Integrations/Plaid
      summary: Retrieves Plaid Integration details
      operationId: Plaid_GetConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Plaid
      summary: Saves Plaid integration settings
      operationId: Plaid_UpdateConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Plaid.IntegrationConfig'
        required: true
  /v1/Integrations/Plaid/DeleteItem:
    delete:
      tags:
      - Integrations/Plaid
      summary: Delete an Item given Plaid Item ID
      description: 'Sample Request

        DELETE /Integrations/Plaid/DeleteItem

        {

        "itemID":"ABCD74M35rbR1fEKaElMr3bswmEQeAZVGuvRwbLR"

        }'
      operationId: Plaid_DeleteItem
      parameters:
      - name: itemID
        in: query
        description: the item you want to delete
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Plaid/GetAllCategories:
    get:
      tags:
      - Integrations/Plaid
      summary: Get all Categories data from Plaid.
      description: 'Sample Request

        GET /Integrations/Plaid/GetAllCategories'
      operationId: Plaid_Categories
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Plaid/GetAllData:
    get:
      tags:
      - Integrations/Plaid
      summary: Get all Items data for particular access token.
      description: 'Sample Request

        GET /Integrations/Plaid/GetAllData

        {

        "itemID":"ABCD74M35rbR1fEKaElMr3bswmEQeAZVGuvRwbLR"

        }

        or

        GET /Integrations/Plaid/GetAllData

        {

        "itemID":"ABCD74M35rbR1fEKaElMr3bswmEQeAZVGuvRwbLR",

        "startDate" :2020/09/01

        }'
      operationId: Plaid_GetAllDataAsync
      parameters:
      - name: itemID
        in: query
        description: the item you want to get all data of
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        description: start data you want to begin with optional
        required: false
        schema:
          type: string
          format: date-time
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Plaid/GetAllInstitutions:
    get:
      tags:
      - Integrations/Plaid
      summary: Get All Institutions
      description: 'Sample Request

        GET /Integrations/Plaid/GetAllInstitutions

        or

        GET /Integrations/Plaid/GetAllInstitutions?nameOnly=true'
      operationId: Plaid_GetAllInstitutionsAsync
      parameters:
      - name: nameOnly
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Plaid/GetAllPlaidItemsForUser:
    get:
      tags:
      - Integrations/Plaid
      summary: Get All Plaid Items user can see
      description: 'Sample Request

        GET /Integrations/Plaid/GetAllPlaidItemsForUser

        {

        }

        or

        GET /Integrations/Plaid/GetAllPlaidItemsForUser?nameOnly=true'
      operationId: Plaid_GetAllPlaidItemsForUserAsync
      parameters:
      - name: nameOnly
        in: query
        description: only return name
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Classes.PlaidItemForUser'
                xml:
                  name: PlaidItemForUser
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Classes.PlaidItemForUser'
                xml:
                  name: PlaidItemForUser
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Classes.PlaidItemForUser'
                xml:
                  name: PlaidItemForUser
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Classes.PlaidItemForUser'
                xml:
                  name: PlaidItemForUser
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Classes.PlaidItemForUser'
                xml:
                  name: PlaidItemForUser
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Classes.PlaidItemForUser'
                xml:
                  name: PlaidItemForUser
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Plaid/GetInstitutionByID:
    get:
      tags:
      - Integrations/Plaid
      summary: Get Institution By ID
      description: 'Sample Request

        GET /Integrations/Plaid/GetInstitutionByID?institutionId=ins_1'
      operationId: Plaid_GetInstitutionByIDAsync
      parameters:
      - name: institutionId
        in: query
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Plaid/GetInstitutionByName:
    get:
      tags:
      - Integrations/Plaid
      summary: Get Institution By Name
      description: 'Sample Request

        GET /Integrations/Plaid/GetInstitutionByName?institutionName=Bank of America'
      operationId: Plaid_GetInstitutionByNameAsync
      parameters:
      - name: institutionName
        in: query
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution'
                xml:
                  name: Institution
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Plaid/ItemRefresh:
    get:
      tags:
      - Integrations/Plaid
      summary: Get Item Refresh
      description: 'Sample Request

        GET /Integrations/Plaid/ItemRefresh

        {

        "itemID":"ABCD74M35rbR1fEKaElMr3bswmEQeAZVGuvRwbLR"

        }'
      operationId: Plaid_ItemRefreshAsync
      parameters:
      - name: itemID
        in: query
        description: the item you want to refresh of
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Plaid/Items:
    get:
      tags:
      - Integrations/Plaid
      summary: This is responsible for create a new item from a given public token
      description: 'Sample Request

        GET /Integrations/Plaid/Items

        {

        "publicToken":"public-sandbox-a9c421e4-de6c-4fce-ab89-82588e593c99",

        "isInform":false

        }

        GET /Integrations/Plaid/Items

        {

        "publicToken":"public-sandbox-a9c421e4-de6c-4fce-ab89-82588e593c99",

        "isInform":false,

        "OtherInfoJSON":"stored inform for Success"

        }'
      operationId: Plaid_CreateNewItemAsync
      parameters:
      - name: publicToken
        in: query
        description: the public token
        required: true
        schema:
          type: string
      - name: isInform
        in: query
        description: is this used for inform or not
        required: true
        schema:
          type: boolean
      - name: otherInfoJSON
        in: query
        description: other info JSON (optional)
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Plaid/LinkTokens:
    get:
      tags:
      - Integrations/Plaid
      summary: This operation creates a link token for a new connection or updates an existing…
      description: 'Sample Request

        GET /Integrations/Plaid/LinkTokens

        {

        "appName":"Advizer",

        "isInform":false

        }

        or

        GET /Integrations/Plaid/LinkTokens

        {

        "appName":"Advizer",

        "isInform":false,

        "authOnly":true,

        "householdID":"op_householdID"

        }

        or

        GET /Integrations/Plaid/LinkTokens

        {

        "appName":"Advizer",

        "isInform":false,

        "itemID":"ABCD74M35rbR1fEKaElMr3bswmEQeAZVGuvRwbLR",

        "householdID":"op_householdID"

        }

        or

        GET /Integrations/Plaid/LinkTokens

        {

        "appName":"Advizer",

        "isInform":false,

        "householdID":"op_householdID"

        }

        or

        GET /Integrations/Plaid/LinkTokens

        {

        "appName":"Advizer",

        "isInform":false,

        "householdID":"op_householdID",

        "clientUserId":"12345",

        "dateOfBirth":2020-01-01,

        "emailAddress":test%40orion.com,

        "emailAddressVerifiedTime":2020-01-01T00:00:00Z,

        "legalName":"integrationTest",

        "phoneNumber":%2B16175551212,

        "phoneNumberVerifiedTime":2020-01-01T00:00:00Z,

        "ssn":123-12-1234,

        "languageCode":en,

        "countryCodes":US,

        "depositoryAccountFilter":checking,

        "creditAccountFilter":credit card,

        "loanAccountFilter":auto,

        "investmentAccountFilter":all,

        "otherAccountfilter":"unknown"

        }'
      operationId: Plaid_CreateLinkTokenAsync
      parameters:
      - name: appName
        in: query
        description: app name is your application name.
        required: true
        schema:
          type: string
      - name: isInform
        in: query
        description: is this used for inform or not
        required: true
        schema:
          type: boolean
      - name: itemID
        in: query
        description: optional itemID
        required: false
        schema:
          type: string
          default: ''
      - name: authOnly
        in: query
        description: optional authOnly (default to false)
        required: false
        schema:
          type: boolean
          default: false
      - name: householdID
        in: query
        description: The household id to be used to replace the default correlation id.
        required: false
        schema:
          type: string
      - name: languageCode
        in: query
        description: 'optional Default en; Possibles: English en, French fr, Spanish es, Dutch nl, German de'
        required: false
        schema:
          type: string
      - name: redirectUri
        in: query
        description: optional
        required: false
        schema:
          type: string
          default: ''
      - name: cancellationToken
        in: header
        required: false
      - name: user.clientUserId
        in: query
        required: false
        schema:
          type: string
      - name: user.legalName
        in: query
        required: false
        schema:
          type: string
      - name: user.phoneNumber
        in: query
        required: false
        schema:
          type: string
      - name: user.phoneNumberVerifiedTime
        in: query
        required: false
        schema:
          type: string
      - name: user.emailAddress
        in: query
        required: false
        schema:
          type: string
      - name: user.emailAddressVerifiedTime
        in: query
        required: false
        schema:
          type: string
      - name: user.ssn
        in: query
        required: false
        schema:
          type: string
      - name: user.dateOfBirth
        in: query
        required: false
        schema:
          type: string
      - name: accountFilters.countryCodes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: accountFilters.depositoryAccountFilter
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: accountFilters.creditAccountFilter
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: accountFilters.loanAccountFilter
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: accountFilters.investmentAccountFilter
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: accountFilters.otherAccountFilter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Plaid/OtherInfo:
    get:
      tags:
      - Integrations/Plaid
      summary: Get other info JSON
      description: 'Sample Request

        GET /Integrations/Plaid/OtherInfo

        {

        "itemID":"ABCD74M35rbR1fEKaElMr3bswmEQeAZVGuvRwbLR"

        }'
      operationId: Plaid_GetOtherInfoAsync
      parameters:
      - name: itemID
        in: query
        description: The itemID for which you want to get other information JSON
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Plaid
      summary: Store other info JSON
      description: 'Sample Request

        PUT /Integrations/Plaid/OtherInfo

        {

        "itemID":"ABCD74M35rbR1fEKaElMr3bswmEQeAZVGuvRwbLR",

        "otherInfoJSON":{

        AppName:"abcd",

        RedirectURI:"abfdfddfg",

        ItemID:"asfv"

        }'
      operationId: Plaid_StoreOtherInfoAsync
      parameters:
      - name: itemID
        in: query
        description: The itemID for which you want to store the JSON
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: object
          application/json:
            schema:
              type: object
          text/json:
            schema:
              type: object
          application/xml:
            schema:
              type: object
          text/xml:
            schema:
              type: object
          application/x-www-form-urlencoded:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        description: The JSON object you want to store
        required: true
  /v1/Integrations/Plaid/Processor:
    get:
      tags:
      - Integrations/Plaid
      summary: Used to create a token suitable for sending to one of Plaid's partners to…
      description: 'Sample Request

        GET /Integrations/Plaid/Processor

        {

        "itemID":"ZN7ezPXewbT8kJWbXk3NSqzJNzWj7QigJPMzE"

        "accountID":"ZN7ezPXewbT8kJWbXk3NSqzJNzWj7QigJPMzE"

        "processor":"apex_clearing"

        }'
      operationId: Plaid_GetProcessorTokenAsync
      parameters:
      - name: itemID
        in: query
        required: true
        schema:
          type: string
      - name: accountID
        in: query
        required: true
        schema:
          type: string
      - name: processor
        in: query
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Plaid/SaveItem:
    put:
      tags:
      - Integrations/Plaid
      summary: Save Accounts accessToken for item
      description: 'Sample Request

        PUT /Integrations/Plaid/SaveItem?itemID=ABCD74M35rbR1fEKaElMr3bswmEQeAZVGuvRwbLR accessToken=access-sandbox-a9c421e4-de6c-4fce-ab89-82588e593c99 isInform=false'
      operationId: Plaid_SaveItemAsync
      parameters:
      - name: itemID
        in: query
        description: The item you save
        required: true
        schema:
          type: string
      - name: accessToken
        in: query
        description: The access you save
        required: true
        schema:
          type: string
      - name: isInform
        in: query
        description: is this used for inform or not
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
  /v1/Integrations/Plaid/Status:
    get:
      tags:
      - Integrations/Plaid
      summary: Get Item Status
      description: 'Sample Request

        GET /Integrations/Plaid/Status

        {

        "itemID":"ABCD74M35rbR1fEKaElMr3bswmEQeAZVGuvRwbLR"

        }'
      operationId: Plaid_ItemStatusAsync
      parameters:
      - name: itemID
        in: query
        description: the item you want to status of
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  schemas:
    OAT.Integrations.Plaid.IntegrationConfig:
      properties:
        secret:
          type: string
        clientID:
          type: string
        plaidEnvironment:
          type: string
      xml:
        name: IntegrationConfig
      type: object
    OAT.Integrations.Plaid.Plaid.NET.Entity.StatusUpdate:
      properties:
        last_successful_update:
          type: string
        last_failed_update:
          type: string
      xml:
        name: StatusUpdate
      type: object
    OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution.Credential:
      properties:
        label:
          type: string
        name:
          type: string
        type:
          type: string
      xml:
        name: Credential
      type: object
    OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution:
      properties:
        institution_id:
          type: string
        name:
          type: string
        has_mfa:
          type: boolean
        mfa:
          items:
            type: string
          type: array
        credentials:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Plaid.Acklann.Plaid.Entity.Institution.Credential'
          xml:
            name: Credential
            wrapped: true
          type: array
        products:
          items:
            type: string
          type: array
      xml:
        name: Institution
      type: object
    OAT.Integrations.Plaid.Classes.PlaidItemForUser:
      properties:
        IsInform:
          type: boolean
        PlaidItemID:
          type: string
        status:
          $ref: '#/components/schemas/OAT.Integrations.Plaid.Plaid.NET.Entity.PlaidStatus'
        Error:
          type: string
        InstitutionId:
          type: string
        name:
          type: string
        has_mfa:
          type: boolean
        mfa:
          items:
            type: string
          type: array
        credentials:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Plaid.Classes.PlaidItemForUser.Credential'
          xml:
            name: Credential
            wrapped: true
          type: array
        products:
          items:
            type: string
          type: array
      xml:
        name: PlaidItemForUser
      type: object
    OAT.Integrations.Plaid.Plaid.NET.Entity.WebHookUpdate:
      properties:
        code_sent:
          type: string
        sent_at:
          type: string
      xml:
        name: WebHookUpdate
      type: object
    OAS.DataModel.SimpleStringKeyEntity:
      properties:
        id:
          type: string
        name:
          type: string
      xml:
        name: SimpleStringKeyEntity
      type: object
    OAT.Integrations.Plaid.Plaid.NET.Entity.PlaidStatus:
      properties:
        investments:
          $ref: '#/components/schemas/OAT.Integrations.Plaid.Plaid.NET.Entity.StatusUpdate'
        transactions:
          $ref: '#/components/schemas/OAT.Integrations.Plaid.Plaid.NET.Entity.StatusUpdate'
        last_webhook:
          $ref: '#/components/schemas/OAT.Integrations.Plaid.Plaid.NET.Entity.WebHookUpdate'
      xml:
        name: PlaidStatus
      type: object
    OAT.Integrations.Plaid.Classes.PlaidItemForUser.Credential:
      properties:
        label:
          type: string
        name:
          type: string
        type:
          type: string
      xml:
        name: Credential
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
