openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Akoya API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Akoya
paths:
  /v1/Integrations/Akoya/App:
    post:
      tags:
      - Integrations/Akoya
      operationId: AkoyaApp_RegisterApplicationAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Akoya app register application async
      x-summary-source: derived
  /v1/Integrations/Akoya/Configuration:
    get:
      tags:
      - Integrations/Akoya
      summary: Retrieves Akoya Integration details
      description: 'Sample Request

        GET /Integrations/Akoya/GetConfiguration

        {

        }'
      operationId: Akoya_GetConfigurationAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Akoya
      summary: Saves Akoya integration settings
      description: 'Sample Request

        PUT /Integrations/Configuration

        {

        "secret": "string",

        "clientId": "string"

        }'
      operationId: Akoya_UpdateConfigurationAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Akoya.DataModel.IntegrationConfig'
        description: configuration values
        required: true
  /v1/Integrations/Akoya/DeleteAndRevokeTokens:
    post:
      tags:
      - Integrations/Akoya
      operationId: Akoya_RevokeAndDeleteTokensAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/xml:
            schema:
              items:
                type: string
              type: array
          text/xml:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        required: true
      summary: Akoya revoke and delete tokens async
      x-summary-source: derived
  /v1/Integrations/Akoya/EditToken:
    get:
      tags:
      - Integrations/Akoya
      summary: Edit Akoya Token
      description: 'Sample Request

        GET /Integrations/Akoya/EditToken

        {

        "akoyaTokenId":5

        "tokenname":"test"

        }'
      operationId: Akoya_EditTokenAsync
      parameters:
      - name: akoyaTokenId
        in: query
        description: akoya token id
        required: true
        schema:
          type: integer
          format: int32
      - name: tokenname
        in: query
        description: token name
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Akoya/GetAkoya:
    get:
      tags:
      - Integrations/Akoya
      summary: Akoya - Financial Institution Dumb endpoint
      description: 'Sample Request

        GET /Integrations/Akoya/GetAkoya

        {

        }'
      operationId: Akoya_GetAkoyaAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Akoya/GetAkoyaImage:
    get:
      tags:
      - Integrations/Akoya
      summary: Call this with financialInstitution currently supported are these three…
      description: 'Sample Request

        GET /Integrations/Akoya/GetAkoyaImageAsync?financialInstitution=mikomo

        {

        }'
      operationId: Akoya_GetAkoyaImageAsync
      parameters:
      - name: financialInstitution
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                format: byte
            application/json:
              schema:
                type: string
                format: byte
            text/json:
              schema:
                type: string
                format: byte
            application/xml:
              schema:
                type: string
                format: byte
            text/xml:
              schema:
                type: string
                format: byte
            multipart/form-data:
              schema:
                type: string
                format: byte
      security:
      - Authorization: []
  /v1/Integrations/Akoya/GetAkoyaLinkedAccounts:
    get:
      tags:
      - Integrations/Akoya
      summary: Get Akoya Linked Accounts pass in get settings
      description: 'Sample Request

        GET /Integrations/Akoya/GetAkoyaLinkedAccounts

        {

        }'
      operationId: Akoya_GetAkoyaLinkedAccountsAsync
      parameters:
      - name: ct
        in: header
        description: Cancel Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Settings.CustomSettingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Settings.CustomSettingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Settings.CustomSettingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Settings.CustomSettingDto'
      security:
      - Authorization: []
  /v1/Integrations/Akoya/GetAkoyaToken:
    get:
      tags:
      - Integrations/Akoya
      summary: Get Akoya Token
      description: 'Sample Request

        GET /Integrations/Akoya/GetAkoyaToken

        {

        "householdid":5

        }'
      operationId: Akoya_GetAkoyaTokenAsync
      parameters:
      - name: householdid
        in: query
        description: householdID
        required: false
        schema:
          type: integer
          format: int32
      - name: credentialId
        in: query
        required: false
        schema:
          type: string
      - name: tokenId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.AkoyaUserDetail'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.AkoyaUserDetail'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.AkoyaUserDetail'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.AkoyaUserDetail'
      security:
      - Authorization: []
  /v1/Integrations/Akoya/GetToken:
    get:
      tags:
      - Integrations/Akoya
      summary: Used to get token from Akoya
      description: 'Sample Request

        GET /Integrations/Akoya/GetToken

        {

        "code":"test",

        "connector":"mikomo"

        }'
      operationId: Akoya_GetTokenAsync
      parameters:
      - name: code
        in: query
        description: Code param
        required: true
        schema:
          type: string
      - name: connector
        in: query
        required: true
        schema:
          type: string
      - name: opToken
        in: query
        required: false
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.AkoyaUserDtl'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.AkoyaUserDtl'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.AkoyaUserDtl'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.AkoyaUserDtl'
      security:
      - Authorization: []
  /v1/Integrations/Akoya/Institution:
    put:
      tags:
      - Integrations/Akoya
      summary: Updates the institution and options asynchronous
      description: 'Sample Request

        PUT /Integrations/Akoya/Institution

        {

        "id": 1,

        "fiName": "Fidelity",

        "fiId": "fidelity",

        "isExcluded": 0,

        "alClientList": ''''

        }'
      operationId: Akoya_UpdateInstitutionAndOptionsAsync
      parameters:
      - name: ct
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
        description: The dto.
        required: true
  /v1/Integrations/Akoya/Institution/AlClient/Ids:
    get:
      tags:
      - Integrations/Akoya
      summary: Gets available databases by comma separatedList query string param
      description: 'Sample Request

        GET /Integrations/Akoya/Institution/AlClient/Ids?alClientIds=1,2,3,4

        {

        }'
      operationId: Akoya_GetDatabasesByCommaSeparatedListAsync
      parameters:
      - name: alClientIds
        in: query
        description: a comma separated list of alclient ids.
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Akoya/Institution/AlClient/Search:
    get:
      tags:
      - Integrations/Akoya
      summary: Gets available databases by search text
      description: 'Sample Request

        GET /Integrations/Akoya/Institution/AlClient/Search?searchText=abc

        {

        }'
      operationId: Akoya_GetDatabasesBySearchTextAsync
      parameters:
      - name: searchText
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Akoya/Institutions:
    get:
      tags:
      - Integrations/Akoya
      summary: Get list of all the institutions
      description: 'Sample Request

        GET /Integrations/Akoya/Institutions

        {

        }'
      operationId: Akoya_GetInstitutionsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
                xml:
                  name: AkoyaInstitutionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
                xml:
                  name: AkoyaInstitutionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
                xml:
                  name: AkoyaInstitutionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
                xml:
                  name: AkoyaInstitutionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
                xml:
                  name: AkoyaInstitutionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto'
                xml:
                  name: AkoyaInstitutionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Akoya/Legacy/Institution:
    get:
      tags:
      - Integrations/Akoya
      summary: Returns all institutions with Image
      description: 'GET

        /Integrations/Akoya/Legacy/Institution'
      operationId: Akoya_GetAkoyaInstitutionsForLegacyClientPortalAsync
      parameters:
      - name: ct
        in: header
        description: Cancellation token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Akoya/Redirect:
    get:
      tags:
      - Integrations/Akoya
      summary: Redirects the caller to a URL to authenticate with Akoya
      description: 'Sample Request

        GET /Integrations/Akoya/GetRedirectUrl

        {

        "Authorization":"ABCDE1223",

        "t","2324432232",

        "connector":"mikomo"

        }'
      operationId: Akoya_GetRedirectUrlAsync
      parameters:
      - name: Authorization
        in: query
        description: The Orion access token for the user making the redirection request.
        required: true
        schema:
          type: string
      - name: t
        in: query
        description: The Orion access token for the user making the redirection request.
        required: true
        schema:
          type: string
      - name: connector
        in: query
        description: connector value to pass in
        required: true
        schema:
          type: string
      - name: opToken
        in: query
        required: false
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Akoya/RefreshAkoyaToken:
    get:
      tags:
      - Integrations/Akoya
      summary: Refresh Akoya Token
      description: 'Sample Request

        GET /Integrations/Akoya/RefreshAkoyaToken

        {

        "AkoyaTokenID":5

        }'
      operationId: Akoya_AkoyaAccessRefreshtokenAsync
      parameters:
      - name: AkoyaTokenId
        in: query
        description: akoya token ID
        required: true
        schema:
          type: integer
          format: int32
      - name: householdid
        in: query
        description: householdID
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.AkoyaUser'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.AkoyaUser'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.AkoyaUser'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Akoya.AkoyaUser'
      security:
      - Authorization: []
  /v1/Integrations/Akoya/Revoke:
    get:
      tags:
      - Integrations/Akoya
      summary: Revoke Token
      description: 'Sample Request

        GET /Integrations/Akoya/Revoke

        {

        "householdid":5

        }'
      operationId: Akoya_RevokeTokenAsync
      parameters:
      - name: householdid
        in: query
        description: householdID
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Akoya/Revoke/{institution}:
    get:
      tags:
      - Integrations/Akoya
      summary: Revoke Akoya Refresh Token
      description: 'Sample Request

        GET /Integrations/Akoya/Revoke/5

        {

        "akoyaTokenId":5

        }'
      operationId: Akoya_GetV1IntegrationsAkoyaRevokeByInstitution
      parameters:
      - name: akoyaTokenId
        in: query
        description: akoya token id
        required: true
        schema:
          type: integer
          format: int32
      - name: householdid
        in: query
        description: householdID
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: ct
        in: header
        required: false
      - name: institution
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Akoya/SetAkoyaLinkedAccounts:
    put:
      tags:
      - Integrations/Akoya
      summary: Set Akoya Linked Accounts pass in set settings
      description: 'Sample Request

        Put /Integrations/Akoya/SetAkoyaLinkedAccounts

        {

        {

        "value": "[{\"id\":\"fidelity\",\"name\":\"Fidelity\",\"image\":\"sss.jpg\"},

        {\"id\":\"mikomo\",\"name\":\"Mikomo\",\"image\":\"ttt.jpg\"},

        {\"id\":\"transamerica\",\"name\":\"Transamerica\",\"image\":\"abcdef.jpg\"}]"


        }'
      operationId: Akoya_SetAkoyaLinkedAccountAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Settings.CustomSettingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Settings.CustomSettingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Settings.CustomSettingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Settings.CustomSettingDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Settings.CustomSettingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Settings.CustomSettingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Settings.CustomSettingDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Settings.CustomSettingDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Settings.CustomSettingDto'
        required: true
  /v1/Integrations/Akoya/Token/Household:
    put:
      tags:
      - Integrations/Akoya
      summary: Updates the ClientId/HouseholdId on an akoya token
      description: 'Sample Request

        PUT /Integrations/Akoya/Token/Household

        {

        "householdid":5,

        "credentialId": "",

        "token": "BearerTokenValue"

        }'
      operationId: Akoya_UpdateAkoyaTokenHouseholdAsync
      parameters:
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Akoya.AkoyaUser'
                xml:
                  name: AkoyaUser
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Akoya.AkoyaUser'
                xml:
                  name: AkoyaUser
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Akoya.AkoyaUser'
                xml:
                  name: AkoyaUser
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.Akoya.AkoyaUser'
                xml:
                  name: AkoyaUser
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AkoyaHouseholdUpdateRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AkoyaHouseholdUpdateRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AkoyaHouseholdUpdateRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AkoyaHouseholdUpdateRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AkoyaHouseholdUpdateRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AkoyaHouseholdUpdateRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AkoyaHouseholdUpdateRequestDto'
        description: The request object seen above
        required: true
components:
  schemas:
    OAT.Integrations.Akoya.AkoyaUserDetail:
      properties:
        user:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Akoya.AkoyaUser'
          xml:
            name: AkoyaUser
            wrapped: true
          type: array
        appLinkDetailId:
          type: integer
          format: int32
      xml:
        name: AkoyaUserDetail
      type: object
    OAS.DataProcess.Settings.CustomSettingDto:
      properties:
        promptName:
          type: string
        category:
          type: string
        displayName:
          type: string
        description:
          type: string
        value:
          type: string
        optionLevel:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        type:
          type: string
        displayOrder:
          type: integer
          format: int32
        options:
          additionalProperties:
            type: string
          type: object
        canEdit:
          type: boolean
        allowedEntities:
          items:
            type: string
            enum:
            - Undefined
            - Payee
            - BrokerDealer
            - Wholesaler
            - Representative
            - Client
            - Registration
            - Account
            - Asset
            - Product
            - Transaction
            - Distribution
            - FundFamily
            - Personal
            - PayoutSchedule
            - FeeSchedule
            - Platform
            - RIA
            - Custodian
            - Journal
            - SWP
            - Other
            - NASD
            - CashFunding
            - Bill
            - BillInstance
            - BillMasterPayout
            - Model
            - NewAccountClient
            - NewAccountReg
            - DownloadExclusion
            - Price
            - UserDefinedFields
            - NewAcctUserDef
            - ManagersMessage
            - IndexEntry
            - PerformanceFee
            - PerformancePayout
            - NewAccountAsset
            - Owner
            - Administrator
            - OutsideClient
            - SubAdvisor
            - ModelRange
            - FaxCover
            - Fax
            - OneTimeDistribution
            - WebLogin
            - Plan401k
            - BillAccountItem
            - ThirdPartyAdministrator
            - CrmContact
            - Participant
            - PlanSponsor
            - CRMEmailList
            - ThirdParty
            - WorkflowItem
            - WorkflowAction
            - ServiceAccount
            - EntityOption
            - HouseholdMember
            - DownloadSymbol
            - IndexBlend
            - NABenefit
            - AggregateModel
            - CompositeRange
            - RepAccountManager
            - ScriptsScrubs
            - ServiceAccountBrokerDealer
            - BusinessLine
            - Blob
            - AssetClass
            - ServiceAccountLite
            - NewAcctUserDefDtl
            - Branch
            - AssetLevelStrategy
            - Report
            - DataQueries
            - PriceUnUsed
            - ModelItem
            - AssetCategory
            - RiskCategory
            - PlatformRange
            - Dividend
            - RegistrationType
            - CustodianCommon
            - RepState
            - QpeDashboard
            - ReportBatch
            - ModelGroup
            - ShareClass
            - DownloadFile
            - User
            - DynamicGrouping
            - ProductType
            - ProductSubType
            - InvestmentObjective
            - PortfolioGroup
            - OrionRealizedLot
            - OrionUnrealizedLot
            - CustodianRealizedLot
            - CustodianUnrealizedLot
            - AssetCategoryParent
            - TaxType
            - AuditRequest
            - AuditRequestLetter
            - ManagedUnmanaged
            - AuditRowAttachment
            - InformPolicy
            - InformAnswerAttachment
            - UserDetail
            - BillPayMethod
            - ModelInclusion
            - CommunityModel
            - EclipseModel
            - Global
            - ClientCategory
            - Taxability
            - Qualified
            - TaxID
            - BondState
            - ProductTaxability
            - TargetAllocation
            - RIATable
            - ProductRegion
            - ProductPropertyType
            - ProductManagerAip
            - MoodyRating
            - SPRating
            - BondMaturityYear
            - InterestRate
            - RegistrationTaxType
            - MaturityPeriod
            - NewHousehold
            - BillPayoutDashboardPayment
            - OptionLevel
            - MarginAgreement
            - PrimeBrokerage
            - InformHistoricalDocument
            - SleeveStrategyAggregate
            - MorningstarSector
            - BillEntity
            - SleeveStrategy
            - MorningstarGeography
            - GenericProspect
            - BillEntityType
            - AdditionalRep
            - BillPayoutReport
            - ProductSubHolding
            - DownloadSource
            - ModelVsActual
            - ProductVintageYear
            - EclipsePortfolio
            - Country
            - Currency
            - SecurityClassification1
            - SecurityClassification2
            - SecurityClassification3
            - SecurityClassification4
            - SecurityClassification5
            - SecurityClassification6
            - SecurityClassification7
            - SecurityClassification8
            - SecurityClassification9
            - SecurityClassification10
            - SecurityClassification11
            - SecurityClassification12
            - SecurityClassification13
            - SecurityClassification14
            - SecurityClassification15
            - SecurityClassification16
            - SecurityClassification17
            - SecurityClassification18
            - SecurityClassification19
            - SecurityClassification20
            - SecurityClassification21
            - SecurityClassification22
            - SecurityClassification23
            - SecurityClassification24
            - SecurityClassification25
            - DownloadRecord
            - CustomGrouping
            - Cotenant
            - AllocatedUnrealizedCostBasis
            - AllocatedRealizedCostBasis
          xml:
            name: Entity
            wrapped: true
          type: array
        customAppSetting:
          type: string
          enum:
          - Global
          - ClientPortal
          - RepPortal
          - Element
      xml:
        name: CustomSettingDto
      type: object
    OAS.DataProcess.DTO.Integration.AkoyaUserDtl:
      properties:
        credentialId:
          type: string
        akoya_token_id:
          type: integer
          format: int32
        token_name:
          type: string
        id_token:
          type: string
        expires_in:
          type: integer
          format: int32
        token_type:
          type: string
        scope:
          type: string
        refresh_token:
          type: string
        expires_datetime:
          type: string
          format: date-time
        clientId:
          type: integer
          format: int32
        FinancialInstitution:
          type: string
        old_refresh_tokens:
          additionalProperties:
            type: string
          type: object
        authorization_date:
          type: string
          format: date-time
      xml:
        name: AkoyaUserDtl
      type: object
    OAS.WebApi.DTO.Authorization.ALClientDto:
      properties:
        id:
          type: integer
          format: int32
        clientName:
          type: string
        selected:
          type: boolean
        lockDown:
          type: string
          enum:
          - None
          - Billing
        ops:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
        guid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
      xml:
        name: ALClientDto
      type: object
    OAT.Integrations.Akoya.AkoyaUser:
      properties:
        akoya_token_id:
          type: integer
          format: int32
        token_name:
          type: string
        id_token:
          type: string
        expires_in:
          type: integer
          format: int32
        token_type:
          type: string
        scope:
          type: string
        refresh_token:
          type: string
        expires_datetime:
          type: string
          format: date-time
        clientId:
          type: integer
          format: int32
        FinancialInstitution:
          type: string
        old_refresh_tokens:
          additionalProperties:
            type: string
          type: object
        authorization_date:
          type: string
          format: date-time
      xml:
        name: AkoyaUser
      type: object
    OAS.WebApi.DTO.Security.AlClientOpsDto:
      properties:
        id:
          type: integer
          format: int32
        clientName:
          type: string
        isFullOps:
          type: boolean
        isBilling:
          type: boolean
        isComposites:
          type: boolean
        isStatements:
          type: boolean
        isTrading:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        databaseName:
          type: string
        serverName:
          type: string
      xml:
        name: AlClientOpsDto
      type: object
    OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaInstitutionDto:
      properties:
        id:
          type: integer
          format: int32
        fiId:
          type: string
        fiName:
          type: string
        isExcluded:
          type: boolean
        alClientList:
          type: string
        logo:
          type: string
        logoType:
          type: string
        institutionOptionJSON:
          type: string
      xml:
        name: AkoyaInstitutionDto
      type: object
    OAT.Integrations.Akoya.DataModel.IntegrationConfig:
      properties:
        secret:
          type: string
        clientId:
          type: string
      xml:
        name: IntegrationConfig
      type: object
    OAS.WebApi.DTO.Confirm.AkoyaHouseholdUpdateRequestDto:
      properties:
        householdId:
          type: integer
          format: int32
        credentialIds:
          items:
            type: string
          type: array
        token:
          type: string
      xml:
        name: AkoyaHouseholdUpdateRequestDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
