openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Genders API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/Genders
paths:
  /v1/Portfolio/Genders:
    get:
      tags:
      - Portfolio/Genders
      summary: Gets a simple list of genders that the logged in user has access to
      operationId: Genders_GetGenders
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Portfolio.Gender'
                xml:
                  name: Gender
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Portfolio.Gender'
                xml:
                  name: Gender
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Portfolio.Gender'
                xml:
                  name: Gender
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Portfolio.Gender'
                xml:
                  name: Gender
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Portfolio.Gender'
                xml:
                  name: Gender
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Portfolio.Gender'
                xml:
                  name: Gender
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Genders/Simple:
    get:
      tags:
      - Portfolio/Genders
      summary: Gets a simple list of genders that the logged in user has access to
      operationId: Genders_GetV1PortfolioGendersSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Portfolio.Gender'
                xml:
                  name: Gender
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Portfolio.Gender'
                xml:
                  name: Gender
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Portfolio.Gender'
                xml:
                  name: Gender
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Portfolio.Gender'
                xml:
                  name: Gender
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Portfolio.Gender'
                xml:
                  name: Gender
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Portfolio.Gender'
                xml:
                  name: Gender
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.Domains.Portfolio.Gender:
      properties:
        abbreviation:
          type: string
        name:
          type: string
      xml:
        name: Gender
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
