openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Report Group API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/ReportGroup
paths:
  /v1/Portfolio/ReportGroup/Clients:
    post:
      tags:
      - Portfolio/ReportGroup
      summary: Used to create a new report group client.
      operationId: ReportGroupClients_CreateReportGroupClient
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
        required: true
  /v1/Portfolio/ReportGroup/Clients/{key}:
    get:
      tags:
      - Portfolio/ReportGroup
      summary: Gets the report group clients that has the provided key.
      operationId: ReportGroupClients_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/ReportGroup
      summary: Used to update an existing report group client.
      operationId: ReportGroupClients_UpdateReportGroupClient
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto'
        required: true
    delete:
      tags:
      - Portfolio/ReportGroup
      summary: Used to delete an existing report group client.
      operationId: ReportGroupClients_DeleteReportGroupClient
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/ReportGroup/Clients/Simple:
    get:
      tags:
      - Portfolio/ReportGroup
      summary: Gets a list of report group clients (clients that either have no accounts…
      operationId: ReportGroupClients_Get
      parameters:
      - name: hasAdditionalAccounts
        in: query
        description: 'Optional.  Default: true. When True, only households that have additional acocunts are returned.  When False, All Households are returned.'
        required: false
        schema:
          type: boolean
          default: true
      - name: hasValue
        in: query
        description: Optional. When provided will only return clients that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientDto'
                xml:
                  name: ReportGroupClientDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientDto'
                xml:
                  name: ReportGroupClientDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientDto'
                xml:
                  name: ReportGroupClientDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientDto'
                xml:
                  name: ReportGroupClientDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientDto'
                xml:
                  name: ReportGroupClientDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientDto'
                xml:
                  name: ReportGroupClientDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.SimpleAccountWithValueWeighted:
      properties:
        weight:
          type: number
          format: double
        value:
          type: number
          format: double
        number:
          type: string
        managementStyle:
          type: string
        isActive:
          type: boolean
        clientId:
          type: integer
          format: int32
        custodian:
          type: string
        registrationId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleAccountWithValueWeighted
      type: object
    OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        email:
          type: string
        state:
          type: string
        numAccounts:
          type: integer
          format: int32
        value:
          type: number
          format: double
        reportName:
          type: string
        isActualHH:
          type: boolean
        deliveryMethod:
          type: string
      xml:
        name: ReportGroupClientDto
      type: object
    OAS.WebApi.DTO.Portfolio.ReportGroup.ReportGroupClientFullDto:
      properties:
        id:
          type: integer
          format: int32
        representativeId:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        name:
          type: string
        email:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        value:
          type: number
          format: double
        reportName:
          type: string
        isActualHH:
          type: boolean
        deliveryMethodId:
          type: integer
          format: int32
        additionalAccounts:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValueWeighted'
          xml:
            name: SimpleAccountWithValueWeighted
            wrapped: true
          type: array
      xml:
        name: ReportGroupClientFullDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
