openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Biz Equity API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/BizEquity
paths:
  /v1/Integrations/BizEquity/Action/SAML:
    get:
      tags:
      - Integrations/BizEquity
      operationId: BizEquity_StartSSOAsync
      parameters:
      - name: entity
        in: query
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
          default: 4
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Biz equity start SSO async
      x-summary-source: derived
  /v1/Integrations/BizEquity/Actions/Remove:
    post:
      tags:
      - Integrations/BizEquity
      summary: Removes the AssetMap integration for the current firm
      description: The user must have the necessary privileges to remove the integration.
      operationId: BizEquity_RemoveServiceAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Integrations/BizEquity/Actions/Setup:
    post:
      tags:
      - Integrations/BizEquity
      summary: Adds the AssetMap integration for the current firm
      operationId: BizEquity_SetupService
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
        required: true
  /v1/Integrations/BizEquity/BizUser:
    get:
      tags:
      - Integrations/BizEquity
      operationId: BizEquity_GetV1IntegrationsBizEquityBizUser
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
      security:
      - Authorization: []
      summary: Biz equity get V1 integrations biz equity biz user
      x-summary-source: derived
    put:
      tags:
      - Integrations/BizEquity
      operationId: BizEquity_BizUser
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.BizEquity.BizEquitySubDomain'
        required: true
      summary: Biz equity biz user
      x-summary-source: derived
  /v1/Integrations/BizEquity/Redirect:
    get:
      tags:
      - Integrations/BizEquity
      operationId: BizEquity_GetRedirectUrl
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Biz equity get redirect url
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.Integration.BizEquity.BizEquitySubDomain:
      properties:
        subDomain:
          type: string
        affiliationId:
          type: string
      xml:
        name: BizEquitySubDomain
      type: object
    OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto:
      properties:
        key:
          type: integer
          format: int32
        productName:
          type: string
        termsAccepted:
          type: boolean
      xml:
        name: IntegrationSetupRequestDto
      type: object
    OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto:
      properties:
        partnerAppId:
          description: The unique ID of the partner app.
          type: integer
          format: int32
        productName:
          description: The unique name of the partner app product.
          type: string
      xml:
        name: BasicIntegrationConfigDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
