openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Sign Offs API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/SignOffs
paths:
  /v1/Confirm/SignOffs:
    get:
      tags:
      - Confirm/SignOffs
      summary: Gets a list of Sign Off that the logged in user has access to.
      operationId: SignOffs_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SignOffDto'
                xml:
                  name: SignOffDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SignOffDto'
                xml:
                  name: SignOffDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SignOffDto'
                xml:
                  name: SignOffDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SignOffDto'
                xml:
                  name: SignOffDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SignOffDto'
                xml:
                  name: SignOffDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SignOffDto'
                xml:
                  name: SignOffDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/SignOffs/{key}:
    get:
      tags:
      - Confirm/SignOffs
      summary: Gets the Sign Off that has the provided key.
      operationId: SignOffs_GetByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SignOffDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SignOffDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SignOffDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SignOffDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SignOffDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SignOffDto'
      security:
      - Authorization: []
  /v1/Confirm/SignOffs/Action/SignOff:
    put:
      tags:
      - Confirm/SignOffs
      operationId: SignOffs_SignOff
      parameters:
      - name: note
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Sign offs sign off
      x-summary-source: derived
  /v1/Confirm/SignOffs/Simple:
    get:
      tags:
      - Confirm/SignOffs
      summary: Gets a simple list of Sign Off that the logged in user has access to
      operationId: SignOffs_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Confirm.SignOffDto:
      properties:
        id:
          type: integer
          format: int32
        type:
          type: string
          enum:
          - NotConfirmed
          - NotConfirmedFile
          - MissingFile
          - AssetCompareFile
          - ExclusionsCommon
          - ExclusionsLocal
          - ExclusionsManual
          - SignOffItem
        description:
          type: string
        recordEntryDate:
          type: string
          format: date-time
        recordId:
          type: integer
          format: int32
        userSignOffId:
          type: integer
          format: int32
        signOffDate:
          type: string
          format: date-time
        notes:
          type: string
        recordType:
          type: string
          enum:
          - Name
          - Position
          - Transaction
          - Price
          - Dividend
          - Product
          - NotImported
          - Header
          - Security
          - CorpAction
          - TranDetail
          - Generic
          - CostBasis
          - Beneficiary
          - StoredPerformance
          - Systematic
          - RMD
          - Banking
      xml:
        name: SignOffDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
