openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Custom Imports API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/CustomImports
paths:
  /v1/Confirm/CustomImports:
    get:
      tags:
      - Confirm/CustomImports
      summary: Gets a list of custom imports that the logged in user has access to
      operationId: CustomImports_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportDto'
                xml:
                  name: CustomImportDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportDto'
                xml:
                  name: CustomImportDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportDto'
                xml:
                  name: CustomImportDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportDto'
                xml:
                  name: CustomImportDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportDto'
                xml:
                  name: CustomImportDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportDto'
                xml:
                  name: CustomImportDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/CustomImports/{key}:
    get:
      tags:
      - Confirm/CustomImports
      summary: Gets the custom import that has the provided key.
      operationId: CustomImports_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportDto'
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Confirm.CustomImportDto:
      properties:
        id:
          type: integer
          format: int32
        importName:
          type: string
        importDesc:
          type: string
      xml:
        name: CustomImportDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
