openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Account Custodial Info API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/AccountCustodialInfo
paths:
  /v1/Portfolio/AccountCustodialInfo:
    get:
      tags:
      - Portfolio/AccountCustodialInfo
      summary: Gets the records of changes between the received Custodian Name File…
      operationId: AccountCustodialInfo_Get
      parameters:
      - name: ct
        in: header
        required: true
      - name: accountId
        in: query
        description: 'Optional. Default: null. If provided returns only the records associated with the provided account id'
        required: false
        schema:
          type: integer
          format: int32
      - name: householdId
        in: query
        description: 'Optional. Default: null. If provided returns only the records associated with the provided household id'
        required: false
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: 'Optional. Default: null. If provided returns only the records that have been acted on after the provided date'
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: 'Optional. Default: null. If provided returns only the records that have been acted on before the provided date'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCustodialInfoChangeDto'
                xml:
                  name: AccountCustodialInfoChangeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCustodialInfoChangeDto'
                xml:
                  name: AccountCustodialInfoChangeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCustodialInfoChangeDto'
                xml:
                  name: AccountCustodialInfoChangeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCustodialInfoChangeDto'
                xml:
                  name: AccountCustodialInfoChangeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCustodialInfoChangeDto'
                xml:
                  name: AccountCustodialInfoChangeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCustodialInfoChangeDto'
                xml:
                  name: AccountCustodialInfoChangeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/AccountCustodialInfo
      summary: Apply changes based on the ChangeStatus for the AccountId and FieldName for the…
      operationId: AccountCustodialInfo_UpdateEntitiesToStateAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: object
          application/json:
            schema:
              type: object
          text/json:
            schema:
              type: object
          application/x-www-form-urlencoded:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        description: List of the Changes to be processed
        required: true
  /v1/Portfolio/AccountCustodialInfo/Active:
    get:
      tags:
      - Portfolio/AccountCustodialInfo
      summary: Gets the records of changes between the received Custodian Name File…
      operationId: AccountCustodialInfo_GetActive
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCustodialInfoChangeDto'
                xml:
                  name: AccountCustodialInfoChangeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCustodialInfoChangeDto'
                xml:
                  name: AccountCustodialInfoChangeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCustodialInfoChangeDto'
                xml:
                  name: AccountCustodialInfoChangeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCustodialInfoChangeDto'
                xml:
                  name: AccountCustodialInfoChangeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCustodialInfoChangeDto'
                xml:
                  name: AccountCustodialInfoChangeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCustodialInfoChangeDto'
                xml:
                  name: AccountCustodialInfoChangeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.AccountCustodialInfoChangeDto:
      properties:
        accountId:
          type: integer
          format: int32
        changeStatus:
          type: string
        fieldName:
          type: string
        fieldLevel:
          type: string
        custodialInfo:
          type: string
        householdInfo:
          type: string
        householdId:
          type: integer
          format: int32
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        effectiveDate:
          type: string
          format: date-time
        accountCode:
          type: string
        householdName:
          type: string
        regName:
          type: string
        repName:
          type: string
        repCode:
          type: string
        custodian:
          type: string
        fundFamily:
          type: string
      xml:
        name: AccountCustodialInfoChangeDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
