openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Compliance/Bcc API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Compliance/Bcc
paths:
  /v1/Compliance/Bcc/Accounts:
    get:
      tags:
      - Compliance/Bcc
      operationId: Bcc_GetAccountsAsync
      parameters:
      - name: sources
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Unknown
            - Quovo
            - Retirement
            - OrionConnect
            - Plaid
            - ByAll
      - name: openOnly
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformAccountForBccDto'
                xml:
                  name: InformAccountForBccDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformAccountForBccDto'
                xml:
                  name: InformAccountForBccDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformAccountForBccDto'
                xml:
                  name: InformAccountForBccDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformAccountForBccDto'
                xml:
                  name: InformAccountForBccDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformAccountForBccDto'
                xml:
                  name: InformAccountForBccDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformAccountForBccDto'
                xml:
                  name: InformAccountForBccDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Bcc get accounts async
      x-summary-source: derived
  /v1/Compliance/Bcc/Consultants:
    get:
      tags:
      - Compliance/Bcc
      summary: Gets a list of consultants
      description: GET /Compliance/Bcc/Consultants
      operationId: Bcc_GetConsultantsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Compliance/Bcc/Consultants/Email:
    post:
      tags:
      - Compliance/Bcc
      summary: Sends consultants emails
      description: 'POST /Compliance/Bcc/Consultants/Email

        {

        "name": "Abc User",

        "email" "abc@testcompany.com",

        "company" "Test Company",

        "consultantIds": [123],

        "comment" : "Test Comment"

        }'
      operationId: Bcc_SendConsultantsEmailAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.NotifyConsultantsModel'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.NotifyConsultantsModel'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.NotifyConsultantsModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.NotifyConsultantsModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.NotifyConsultantsModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.NotifyConsultantsModel'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.NotifyConsultantsModel'
        required: true
  /v1/Compliance/Bcc/Holdings:
    get:
      tags:
      - Compliance/Bcc
      operationId: Bcc_GetHoldingsAsync
      parameters:
      - name: isActiveAccessPerson
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: startAsOfDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endAsOfDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: startEditDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endEditDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformHoldingForBccDto'
                xml:
                  name: InformHoldingForBccDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformHoldingForBccDto'
                xml:
                  name: InformHoldingForBccDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformHoldingForBccDto'
                xml:
                  name: InformHoldingForBccDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformHoldingForBccDto'
                xml:
                  name: InformHoldingForBccDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformHoldingForBccDto'
                xml:
                  name: InformHoldingForBccDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformHoldingForBccDto'
                xml:
                  name: InformHoldingForBccDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Bcc get holdings async
      x-summary-source: derived
  /v1/Compliance/Bcc/Households/Representatives:
    post:
      tags:
      - Compliance/Bcc
      operationId: Bcc_GetRepresentativesAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.GetRepresentativesModel'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.GetRepresentativesModel'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.GetRepresentativesModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.GetRepresentativesModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.GetRepresentativesModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.GetRepresentativesModel'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Compliance.GetRepresentativesModel'
        required: true
      summary: Bcc get representatives async
      x-summary-source: derived
  /v1/Compliance/Bcc/Integration/Redirect:
    get:
      tags:
      - Compliance/Bcc
      summary: Redirects a user to a page in the OC web application
      description: GET /Compliance/Bcc/Integration/Redirect
      operationId: Bcc_RedirectAsync
      parameters:
      - name: p
        in: query
        description: The page to redirect to.
        required: true
        schema:
          type: string
      - name: ct
        in: header
        description: A token used to cancel the current process.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Compliance/Bcc/Platforms/Simple:
    get:
      tags:
      - Compliance/Bcc
      summary: Gets a simple list of platforms that the logged in user has access to
      operationId: Bcc_GetSimple
      parameters:
      - name: isActive
        in: query
        description: Optional. When provided will only return platforms that are active (true) or aren't active (false).
        required: false
        schema:
          type: boolean
      - name: riaId
        in: query
        description: Optional. When provided will only return platforms that are associated to accounts under this riaId.
        required: false
        schema:
          type: integer
          format: int32
      - name: brokerDealerId
        in: query
        description: Optional. When provided will only return platforms that are associated to accounts under this brokerDealerId.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Compliance/Bcc/Transactions:
    get:
      tags:
      - Compliance/Bcc
      operationId: Bcc_GetTransactionsAsync
      parameters:
      - name: isActiveAccessPerson
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: startTransDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endTransDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: startEditDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endEditDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformTransactionForBccDto'
                xml:
                  name: InformTransactionForBccDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformTransactionForBccDto'
                xml:
                  name: InformTransactionForBccDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformTransactionForBccDto'
                xml:
                  name: InformTransactionForBccDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformTransactionForBccDto'
                xml:
                  name: InformTransactionForBccDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformTransactionForBccDto'
                xml:
                  name: InformTransactionForBccDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformTransactionForBccDto'
                xml:
                  name: InformTransactionForBccDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Bcc get transactions async
      x-summary-source: derived
  /v1/Compliance/Bcc/Users:
    get:
      tags:
      - Compliance/Bcc
      operationId: Bcc_GetUsersAsync
      parameters:
      - name: isActiveAccessPerson
        in: query
        required: false
        schema:
          type: boolean
      - name: isActiveOcUser
        in: query
        required: false
        schema:
          type: boolean
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformUserForBccDto'
                xml:
                  name: InformUserForBccDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformUserForBccDto'
                xml:
                  name: InformUserForBccDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformUserForBccDto'
                xml:
                  name: InformUserForBccDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformUserForBccDto'
                xml:
                  name: InformUserForBccDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformUserForBccDto'
                xml:
                  name: InformUserForBccDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformUserForBccDto'
                xml:
                  name: InformUserForBccDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Bcc get users async
      x-summary-source: derived
  /v1/Compliance/Bcc/UsersByRiaOrBrokerDealer:
    get:
      tags:
      - Compliance/Bcc
      summary: BCC needs search results of users who are associated with an RIA or…
      operationId: Bcc_GetUsersByRiaOrBrokerDealer
      parameters:
      - name: userid
        in: query
        required: false
        schema:
          type: string
      - name: email
        in: query
        required: false
        schema:
          type: string
      - name: lastname
        in: query
        required: false
        schema:
          type: string
      - name: firstname
        in: query
        required: false
        schema:
          type: string
      - name: riaId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: brokerDealerId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Compliance.InformAccountForBccDto:
      properties:
        informBrokerageAccountId:
          type: integer
          format: int32
        accessPersonId:
          type: integer
          format: int32
        informUserId:
          type: integer
          format: int32
        vendorAccountCode:
          type: string
        accountNumber:
          type: string
        institutionName:
          type: string
        recordSource:
          type: string
          enum:
          - Unknown
          - Quovo
          - Retirement
          - OrionConnect
          - Plaid
          - ByAll
        isActive:
          type: boolean
      xml:
        name: InformAccountForBccDto
      type: object
    OAS.WebApi.DTO.Compliance.InformHoldingForBccDto:
      properties:
        transactionId:
          type: integer
          format: int32
        accessPersonId:
          type: integer
          format: int32
        informBrokerageAccountId:
          type: integer
          format: int32
        price:
          type: number
          format: double
        quantity:
          type: number
          format: double
        holdingAmount:
          type: number
          format: double
        asOfDate:
          type: string
          format: date-time
        productId:
          type: integer
          format: int32
        productType:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
        sourceProductType:
          type: string
        productName:
          type: string
        cusip:
          type: string
        ticker:
          type: string
      xml:
        name: InformHoldingForBccDto
      type: object
    OAS.DataModel.Compliance.GetRepresentativesModel.FundModel:
      properties:
        alertId:
          type: integer
          format: int32
        ticker:
          type: string
        custodian:
          type: string
      xml:
        name: FundModel
      type: object
    OAS.DataModel.Compliance.GetRepresentativesModel:
      properties:
        funds:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Compliance.GetRepresentativesModel.FundModel'
          xml:
            name: FundModel
            wrapped: true
          type: array
      xml:
        name: GetRepresentativesModel
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Compliance.InformUserForBccDto:
      properties:
        userId:
          type: integer
          format: int32
        userDtlId:
          type: integer
          format: int32
        informUserId:
          type: integer
          format: int32
        accessPersonId:
          type: integer
          format: int32
        loginUserId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        isActiveUser:
          type: boolean
        isActiveAccessPerson:
          type: boolean
      xml:
        name: InformUserForBccDto
      type: object
    OAS.WebApi.DTO.Compliance.InformTransactionForBccDto:
      properties:
        transactionId:
          type: integer
          format: int32
        accessPersonId:
          type: integer
          format: int32
        informBrokerageAccountId:
          type: integer
          format: int32
        price:
          type: number
          format: double
        quantity:
          type: number
          format: double
        transactionAmount:
          type: number
          format: double
        transDate:
          type: string
          format: date-time
        productName:
          type: string
        sourceCusip:
          type: string
        sourceTicker:
          type: string
        transTypeId:
          type: integer
          format: int32
        transactionTypeName:
          type: string
        accountNumber:
          type: string
      xml:
        name: InformTransactionForBccDto
      type: object
    OAS.DataModel.Compliance.NotifyConsultantsModel:
      properties:
        name:
          type: string
        email:
          type: string
        company:
          type: string
        consultantIds:
          items:
            type: integer
            format: int32
          type: array
        comment:
          type: string
      xml:
        name: NotifyConsultantsModel
      type: object
    OAS.WebApi.DTO.Security.UserInfoDetailsDto:
      properties:
        profiles:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Security.ProfileDto'
          xml:
            name: ProfileDto
            wrapped: true
          type: array
        password:
          type: string
        isSecureExchangeRecipient:
          type: boolean
        partnerAppId:
          type: integer
          format: int32
        twoFactor:
          type: boolean
        errorMessage:
          type: string
        id:
          type: integer
          format: int32
        userId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        isActive:
          type: boolean
        activeDate:
          type: string
          format: date-time
        inactiveDate:
          type: string
          format: date-time
        lastLogin:
          type: string
          format: date-time
        lastPasswordChange:
          type: string
          format: date-time
        isReset:
          type: boolean
        mobilePhone:
          type: string
        businessPhone:
          type: string
        businessPhoneExtension:
          type: string
        company:
          type: string
        jobTitle:
          type: string
        entityName:
          type: string
        contactType:
          type: string
          enum:
          - NotApproved
          - Approved
          - MainContact
          - NoLongerWithFirm
        createdDate:
          type: string
          format: date-time
      xml:
        name: UserInfoDetailsDto
      type: object
    OAS.WebApi.DTO.Security.ProfileDto:
      properties:
        id:
          type: integer
          format: int32
        loginEntityId:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        advisorName:
          type: string
        entityName:
          type: string
        roleId:
          type: integer
          format: int32
        isUserDefault:
          type: boolean
        alClientId:
          type: integer
          format: int32
        roleName:
          type: string
        isInCurrentDb:
          type: boolean
      xml:
        name: ProfileDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
