openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Custodians API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/Custodians
paths:
  /v1/Portfolio/Custodians:
    get:
      tags:
      - Portfolio/Custodians
      summary: Gets a list of custodians that the logged in user has access to
      operationId: Custodians_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianDto'
                xml:
                  name: CustodianDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianDto'
                xml:
                  name: CustodianDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianDto'
                xml:
                  name: CustodianDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianDto'
                xml:
                  name: CustodianDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianDto'
                xml:
                  name: CustodianDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianDto'
                xml:
                  name: CustodianDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Custodians/{key}:
    get:
      tags:
      - Portfolio/Custodians
      summary: Gets the custodian that has the provided key.
      operationId: Custodians_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianDto'
      security:
      - Authorization: []
  /v1/Portfolio/Custodians/{key}/Accounts:
    get:
      tags:
      - Portfolio/Custodians
      summary: Gets a list of accounts that fall below the custodian with the specified key…
      operationId: Custodians_GetAccountsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Custodians/{key}/Accounts/Value:
    get:
      tags:
      - Portfolio/Custodians
      summary: Gets a simple list of accounts (including aum for today) that fall below the…
      operationId: Custodians_GetAccountsValue
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: hasValue
        in: query
        description: Optional. When provided will only return accounts that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Custodians/{key}/Accounts/Value/{asOfDate}:
    get:
      tags:
      - Portfolio/Custodians
      summary: Gets a simple list of accounts (including aum for the end of the date…
      operationId: Custodians_GetAccountsValueAsOfDate
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      - name: hasValue
        in: query
        description: Optional. When provided will only return accounts that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Custodians/CheckCutoffTimes:
    put:
      tags:
      - Portfolio/Custodians
      summary: Compares the current time to the custodian cutoff time in the entity options…
      operationId: Custodians_CheckCutoffTimesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianCutOffError'
                xml:
                  name: CustodianCutOffError
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianCutOffError'
                xml:
                  name: CustodianCutOffError
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianCutOffError'
                xml:
                  name: CustodianCutOffError
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianCutOffError'
                xml:
                  name: CustodianCutOffError
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianCutOffError'
                xml:
                  name: CustodianCutOffError
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianCutOffError'
                xml:
                  name: CustodianCutOffError
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: Key of the desired custodians to check.
        required: true
  /v1/Portfolio/Custodians/global:
    get:
      tags:
      - Portfolio/Custodians
      operationId: Custodians_GetGlobalCustodians
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodians get global custodians
      x-summary-source: derived
  /v1/Portfolio/Custodians/Simple:
    get:
      tags:
      - Portfolio/Custodians
      summary: Gets a simple list of custodians that the logged in user has access to
      operationId: Custodians_GetSimple
      parameters:
      - name: hasValue
        in: query
        description: Optional. When provided will only return clients that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      - name: fixEnabled
        in: query
        description: 'Optional. Default: false. If True, returns only custodians that are Fix Enabled'
        required: false
        schema:
          type: boolean
          default: false
      - name: productType
        in: query
        description: Required when fixEnabled = true. Used to find product type specific FIX information.
        required: false
        schema:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
      - name: fix44
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: billInstanceId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: includeMasterAccountNumber
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Custodians/Simple/Search:
    get:
      tags:
      - Portfolio/Custodians
      summary: Search for specific custodians
      operationId: Custodians_GetSimpleCustodianSearchAsync
      parameters:
      - name: search
        in: query
        description: Search criteria
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: Top
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: Skip
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: cancellationToken
        in: header
        description: Cancellation Token
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Custodians/Simple/Search/{search}:
    get:
      tags:
      - Portfolio/Custodians
      summary: Search for specific custodians
      operationId: Custodians_GetV1PortfolioCustodiansSimpleSearchBySearch
      parameters:
      - name: search
        in: path
        description: Search criteria
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: Top
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: Skip
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: cancellationToken
        in: header
        description: Cancellation Token
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleCustodian'
                xml:
                  name: SimpleCustodian
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Custodians/Value:
    get:
      tags:
      - Portfolio/Custodians
      summary: Gets a simple list of custodians (including aum for today) that the logged in…
      operationId: Custodians_GetValue
      parameters:
      - name: hasValue
        in: query
        description: Optional. When provided will only return custodians that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Custodians/Value/{asOfDate}:
    get:
      tags:
      - Portfolio/Custodians
      summary: Gets a simple list of custodians (including aum for the end of the date…
      operationId: Custodians_GetValueAsOfDate
      parameters:
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      - name: hasValue
        in: query
        description: Optional. When provided will only return custodians that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Custodians/Verbose:
    get:
      tags:
      - Portfolio/Custodians
      operationId: Custodians_GetVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - FixTradingSettings
            - Algorithms
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Custodians get verbose
      x-summary-source: derived
    put:
      tags:
      - Portfolio/Custodians
      operationId: Custodians_UpdateVerboseCustodiansAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
              xml:
                name: CustodianVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
              xml:
                name: CustodianVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
              xml:
                name: CustodianVerboseDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
              xml:
                name: CustodianVerboseDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
              xml:
                name: CustodianVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
              xml:
                name: CustodianVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
              xml:
                name: CustodianVerboseDto
                wrapped: true
              type: array
        required: true
      summary: Custodians update verbose custodians async
      x-summary-source: derived
    post:
      tags:
      - Portfolio/Custodians
      summary: Create a custodian
      operationId: Custodians_CreateVerboseCustodian
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
        required: true
  /v1/Portfolio/Custodians/Verbose/{key}:
    get:
      tags:
      - Portfolio/Custodians
      operationId: Custodians_GetVerboseByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - FixTradingSettings
            - Algorithms
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
      security:
      - Authorization: []
      summary: Custodians get verbose by key
      x-summary-source: derived
    put:
      tags:
      - Portfolio/Custodians
      operationId: Custodians_UpdateVerboseCustodianAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      - name: allowNullCustodian
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
        required: true
      summary: Custodians update verbose custodian async
      x-summary-source: derived
    delete:
      tags:
      - Portfolio/Custodians
      summary: Used to delete an existing custodian.
      operationId: Custodians_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/Custodians/Verbose/List:
    post:
      tags:
      - Portfolio/Custodians
      operationId: Custodians_GetVerboseListById
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - FixTradingSettings
            - Algorithms
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Custodians get verbose list by id
      x-summary-source: derived
  /v1/Portfolio/Custodians/Verbose/List/Id:
    post:
      tags:
      - Portfolio/Custodians
      operationId: Custodians_PostV1PortfolioCustodiansVerboseListId
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - FixTradingSettings
            - Algorithms
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
                xml:
                  name: CustodianVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Custodians post V1 portfolio custodians verbose list id
      x-summary-source: derived
  /v1/Portfolio/Custodians/Verbose/New:
    get:
      tags:
      - Portfolio/Custodians
      operationId: Custodians_GetNewVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - FixTradingSettings
            - Algorithms
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianVerboseDto'
      security:
      - Authorization: []
      summary: Custodians get new verbose
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue:
      properties:
        value:
          type: number
          format: double
        number:
          type: string
        managementStyle:
          type: string
        isActive:
          type: boolean
        clientId:
          type: integer
          format: int32
        custodian:
          type: string
        registrationId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleAccountWithValue
      type: object
    OAS.WebApi.DTO.Portfolio.CustodianPortfolioDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        code:
          type: string
        sweepLevel:
          type: string
          enum:
          - Invalid
          - Registration
          - Account
        isDirect:
          type: boolean
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        custodialAccountNum:
          type: string
        canSweepFeesToCustAcct:
          type: boolean
        feeReqSrc:
          type: string
          enum:
          - Invalid
          - HighValueFund
          - CashAccount
          - ProRata
        isDefault:
          type: boolean
        isCreateDistribution:
          type: boolean
        custTaxID:
          type: string
        masterAccountNumber:
          type: string
        sweepProductClassId:
          type: integer
          format: int32
        isQpeTransExcluded:
          type: boolean
        isUsingEquityBlockTrades:
          type: boolean
        is2PartTrading:
          type: boolean
        isUseB50Setup:
          type: boolean
        canTransmitAfterHours:
          type: boolean
        isSupermarket:
          type: boolean
        isManual:
          type: boolean
        allowManualOrderAllocate:
          type: boolean
        manualOrderAllocationClOrdId:
          type: string
        dtcNum:
          type: string
        directTrading:
          type: string
          enum:
          - None
          - Tda
        communitiesDirectTrading:
          type: string
        downloadsCostBasis:
          type: boolean
        fixUploadTargetId:
          type: integer
          format: int32
        brokerCommission:
          type: number
          format: double
        aggregateSleeves:
          type: boolean
        minCashBalance:
          type: number
          format: double
        replenishMinCash:
          type: boolean
        shareTradeThreshold:
          type: number
          format: double
        email:
          type: string
        city:
          type: string
        state:
          type: string
        salutation:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        zip:
          type: string
        fax:
          type: string
        faxExt:
          type: string
        mobilePhone:
          type: string
        businessPhone:
          type: string
        businessPhoneExt:
          type: string
        otherPhone:
          type: string
        otherPhoneExt:
          type: string
        company:
          type: string
        jobTitle:
          type: string
        webAddress:
          type: string
        custodianCommonIdList:
          type: string
        custodianGlobalId:
          type: integer
          format: int32
        globalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
      xml:
        name: CustodianPortfolioDto
      type: object
    OAS.WebApi.DTO.Portfolio.AccountDto:
      properties:
        isActive:
          type: boolean
        custodian:
          type: string
        custodianCode:
          type: string
        managementStyle:
          type: string
        currentValue:
          type: number
          format: double
        fundFamily:
          type: string
        accountStartValue:
          type: number
          format: double
        createdDate:
          type: string
          format: date-time
        isManaged:
          type: boolean
        isSweepAccount:
          type: boolean
        isSleeveAccount:
          type: boolean
        sleeveType:
          type: string
          enum:
          - Normal sleeve
          - Custodial account
          - Contribution sleeve
          - Distribution sleeve
          - Unmanaged sleeve
        isAdvReportable:
          type: boolean
        is13FReportable:
          type: boolean
        isAuaReportable:
          type: boolean
        advCustodyTypeId:
          type: integer
          format: int32
        custodialRepCode:
          type: string
        brokerDealer:
          type: string
        importKey:
          type: string
        outsideId:
          type: string
        secondaryAccountNumber:
          type: string
        managementStyleId:
          type: integer
          format: int32
        fundFamilyId:
          type: integer
          format: int32
        accountHistoryId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        shareClass:
          type: string
        shareClassId:
          type: integer
          format: int32
        subAdvisorId:
          type: integer
          format: int32
        provider:
          type: string
        plan:
          type: integer
          format: int32
        planName:
          type: string
        modelGroupNumber:
          type: string
        isOriginalSMCAccount:
          type: boolean
        isTradingBlocked:
          type: boolean
        tradingInstructions:
          type: string
        downloadSource:
          type: string
        businessLine:
          type: string
        createdBy:
          type: string
        accountStartDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        accountStatusId:
          type: integer
          format: int32
        accountStatus:
          type: string
        accountStatusDescription:
          type: string
        feeScheduleId:
          type: integer
          format: int32
        feeSchedule:
          type: string
        masterPayoutScheduleId:
          type: integer
          format: int32
        masterPayoutSchedule:
          type: string
        billFrequency:
          type: string
          enum:
          - Undefined
          - Monthly
          - Quarterly
          - Triannual
          - Semiannually
          - Annually
          - AtMaturity
        representative:
          type: string
        representativeNumber:
          type: string
        representativeId:
          type: integer
          format: int32
        household:
          type: string
        cancelDate:
          type: string
          format: date-time
        riskBudget:
          type: integer
          format: int32
        modelAggId:
          type: integer
          format: int32
        billPayMethod:
          type: string
        acceptsList:
          type: boolean
        billStartDate:
          type: string
          format: date-time
        missingInfoFromView:
          type: string
        sweepAssetId:
          type: integer
          format: int32
        includeInAggregate:
          type: boolean
        isDiscretionary:
          type: boolean
        cashBalance:
          type: number
          format: double
        sleeveStrategy:
          type: string
        isQualified:
          type: boolean
        riskScore:
          type: number
          format: double
        isWrapManaged:
          type: boolean
        isWrapSponsored:
          type: boolean
        lastName:
          type: string
        nickname:
          type: string
        isPositionOnlyRecon:
          type: boolean
        eclipseFirmId:
          type: integer
          format: int32
        isUnfunded:
          type: boolean
        isBundled:
          type: boolean
        isExcludedFromFirmAssets:
          type: boolean
        annuityIncomeValue:
          type: number
          format: double
        currentRiskScore:
          type: integer
          format: int32
        targetRiskScore:
          type: integer
          format: int32
        riskScoreAsOfDate:
          type: string
          format: date-time
        riskScoreProvider:
          description: The source of {OAS.WebApi.DTO.Portfolio.AccountDto.TargetRiskScore}{OAS.WebApi.DTO.Portfolio.AccountDto.CurrentRiskScore} and {OAS.WebApi.DTO.Portfolio.AccountDto.RiskScoreAsOfDate}
          type: string
        riskTol:
          type: integer
          format: int32
        tieredFeePriority:
          type: integer
          format: int32
        additionalColumns:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Interface.AdditionalColumnDefinition'
          xml:
            name: AdditionalColumnDefinition
            wrapped: true
          type: array
        isOps:
          type: boolean
        lastPositionDate:
          type: string
          format: date-time
        inBalance:
          type: boolean
        lastReconciledEffectiveDate:
          type: string
          format: date-time
        clientGlobalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        registrationGlobalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        id:
          type: integer
          format: int32
        name:
          type: string
        number:
          type: string
        modelName:
          type: string
        subAdvisor:
          type: string
        accountType:
          type: string
        isDataSharingEntity:
          type: boolean
      xml:
        name: AccountDto
      type: object
    OAS.WebApi.DTO.Portfolio.CustodianAlgorithmDto:
      properties:
        custodianId:
          type: integer
          format: int32
        tag:
          type: string
        algorithmCode:
          type: string
      xml:
        name: CustodianAlgorithmDto
      type: object
    OAS.WebApi.DTO.Portfolio.CustodianDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        code:
          type: string
        sweepLevel:
          type: string
          enum:
          - Invalid
          - Registration
          - Account
        isDirect:
          type: boolean
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        custodialAccountNum:
          type: string
        canSweepFeesToCustAcct:
          type: boolean
        feeReqSrc:
          type: string
          enum:
          - Invalid
          - HighValueFund
          - CashAccount
          - ProRata
        isDefault:
          type: boolean
        isCreateDistribution:
          type: boolean
        custTaxID:
          type: string
        masterAccountNumber:
          type: string
        sweepProductClassId:
          type: integer
          format: int32
        isQpeTransExcluded:
          type: boolean
        isUsingEquityBlockTrades:
          type: boolean
        is2PartTrading:
          type: boolean
        isUseB50Setup:
          type: boolean
        canTransmitAfterHours:
          type: boolean
        isSupermarket:
          type: boolean
        isManual:
          type: boolean
        allowManualOrderAllocate:
          type: boolean
        manualOrderAllocationClOrdId:
          type: string
        dtcNum:
          type: string
        directTrading:
          type: string
          enum:
          - None
          - Tda
        communitiesDirectTrading:
          type: string
        downloadsCostBasis:
          type: boolean
        fixUploadTargetId:
          type: integer
          format: int32
        brokerCommission:
          type: number
          format: double
        aggregateSleeves:
          type: boolean
        minCashBalance:
          type: number
          format: double
        replenishMinCash:
          type: boolean
        shareTradeThreshold:
          type: number
          format: double
        custodianCommonIdList:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        entityName:
          type: string
        email:
          type: string
        city:
          type: string
        state:
          type: string
        salutation:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        zip:
          type: string
        fax:
          type: string
        faxExt:
          type: string
        mobilePhone:
          type: string
        businessPhone:
          type: string
        businessPhoneExt:
          type: string
        otherPhone:
          type: string
        otherPhoneExt:
          type: string
        company:
          type: string
        jobTitle:
          type: string
        webAddress:
          type: string
        custodianGlobalId:
          type: integer
          format: int32
        custodianFixTradeSettings:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianFixDto'
          xml:
            name: CustodianFixDto
            wrapped: true
          type: array
      xml:
        name: CustodianDto
      type: object
    OAS.WebApi.DTO.Portfolio.CustodianVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        portfolio:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianPortfolioDto'
        entityOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
        fixTradingSettings:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianFixDto'
          xml:
            name: CustodianFixDto
            wrapped: true
          type: array
        algorithms:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianAlgorithmDto'
          xml:
            name: CustodianAlgorithmDto
            wrapped: true
          type: array
      xml:
        name: CustodianVerboseDto
      type: object
    OAS.DataModel.Portfolio.SimpleCustodian:
      properties:
        trustType:
          type: string
          enum:
          - None
          - CTC
          - EAS
        code:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleCustodian
      type: object
    OAS.WebApi.DTO.Interface.AdditionalColumnDefinition:
      properties:
        key:
          type: string
        value:
          type: string
      xml:
        name: AdditionalColumnDefinition
      type: object
    OAS.WebApi.DTO.Portfolio.CustodianCutOffError:
      properties:
        custodian:
          type: string
        errorMessage:
          type: string
      xml:
        name: CustodianCutOffError
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDto
      type: object
    OAS.WebApi.DTO.Portfolio.CustodianFixDto:
      properties:
        custodianId:
          type: integer
          format: int32
        productType:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
        fixVersion:
          type: string
        fixRouting:
          type: string
        blockMethod:
          type: string
          enum:
          - Default
          - FixEft
          - OneToOne
        fkTRInterface:
          type: integer
          format: int32
      xml:
        name: CustodianFixDto
      type: object
    OAS.WebApi.DTO.Simple.SimpleValueDto:
      properties:
        value:
          type: number
          format: double
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleValueDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
