openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Search API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/Search
paths:
  /v1/Utility/Search/AllDatabases:
    get:
      tags:
      - Utility/Search
      summary: Get results that match provided criteria
      operationId: AllDatabaseSearches_Get
      parameters:
      - name: brokerDealerId
        in: query
        description: 'Optional. Default: null. Broker Dealer Id.'
        required: false
        schema:
          type: integer
          format: int32
      - name: repId
        in: query
        description: 'Optional. Default: null. Representative Id.'
        required: false
        schema:
          type: integer
          format: int32
      - name: clientId
        in: query
        description: 'Optional. Default: null. Client ID.'
        required: false
        schema:
          type: integer
          format: int32
      - name: clientFirstName
        in: query
        description: 'Optional. Default: null. Client first name.'
        required: false
        schema:
          type: string
      - name: clientLastName
        in: query
        description: 'Optional. Default: null. Client last name.'
        required: false
        schema:
          type: string
      - name: accountId
        in: query
        description: 'Optional. Default: null. Account ID.'
        required: false
        schema:
          type: integer
          format: int32
      - name: accountNumber
        in: query
        description: 'Optional. Default: null. Account number.'
        required: false
        schema:
          type: string
      - name: registrationId
        in: query
        description: 'Optional. Default: null. Registration ID.'
        required: false
        schema:
          type: integer
          format: int32
      - name: registrationTypeId
        in: query
        description: 'Optional. Default: null. Registration type ID.'
        required: false
        schema:
          type: integer
          format: int32
      - name: subAdvisorId
        in: query
        description: 'Optional. Default: null. SubAdvisor Id.'
        required: false
        schema:
          type: integer
          format: int32
      - name: clientSsnOrTaxId
        in: query
        description: 'Optional. Default: null. Client SSN or Tax Id.'
        required: false
        schema:
          type: string
      - name: repLastName
        in: query
        description: 'Optional. Default: null. Representative last name.'
        required: false
        schema:
          type: string
      - name: repFirstName
        in: query
        description: 'Optional. Default: null. Representative first name.'
        required: false
        schema:
          type: string
      - name: repNo
        in: query
        description: 'Optional. Default: null. Representative number.'
        required: false
        schema:
          type: string
      - name: registrationLastName
        in: query
        description: 'Optional. Default: null. Registration last name.'
        required: false
        schema:
          type: string
      - name: registrationFirstName
        in: query
        description: 'Optional. Default: null. Registration first name.'
        required: false
        schema:
          type: string
      - name: registrationSsnOrTaxId
        in: query
        description: 'Optional. Default: null. Registration SSN or Tax Id.'
        required: false
        schema:
          type: string
      - name: outsideId
        in: query
        description: 'Optional. Default: null. Outside Id.'
        required: false
        schema:
          type: string
      - name: isActive
        in: query
        description: 'Optional. Default: null. Accout IsActive status.'
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.AllDatabaseSearchDto'
                xml:
                  name: AllDatabaseSearchDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.AllDatabaseSearchDto'
                xml:
                  name: AllDatabaseSearchDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.AllDatabaseSearchDto'
                xml:
                  name: AllDatabaseSearchDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.AllDatabaseSearchDto'
                xml:
                  name: AllDatabaseSearchDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.AllDatabaseSearchDto'
                xml:
                  name: AllDatabaseSearchDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.AllDatabaseSearchDto'
                xml:
                  name: AllDatabaseSearchDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Utility/Search/AllDatabases/Count:
    get:
      tags:
      - Utility/Search
      summary: Get count of results that match provided criteria
      operationId: AllDatabaseSearches_Count
      parameters:
      - name: brokerDealerId
        in: query
        description: 'Optional. Default: null. Broker Dealer Id.'
        required: false
        schema:
          type: integer
          format: int32
      - name: repId
        in: query
        description: 'Optional. Default: null. Representative Id.'
        required: false
        schema:
          type: integer
          format: int32
      - name: clientId
        in: query
        description: 'Optional. Default: null. Client ID.'
        required: false
        schema:
          type: integer
          format: int32
      - name: clientFirstName
        in: query
        description: 'Optional. Default: null. Client first name.'
        required: false
        schema:
          type: string
      - name: clientLastName
        in: query
        description: 'Optional. Default: null. Client last name.'
        required: false
        schema:
          type: string
      - name: accountId
        in: query
        description: 'Optional. Default: null. Account ID.'
        required: false
        schema:
          type: integer
          format: int32
      - name: accountNumber
        in: query
        description: 'Optional. Default: null. Account number.'
        required: false
        schema:
          type: string
      - name: registrationId
        in: query
        description: 'Optional. Default: null. Registration ID.'
        required: false
        schema:
          type: integer
          format: int32
      - name: registrationTypeId
        in: query
        description: 'Optional. Default: null. Registration type ID.'
        required: false
        schema:
          type: integer
          format: int32
      - name: subAdvisorId
        in: query
        description: 'Optional. Default: null. SubAdvisor Id.'
        required: false
        schema:
          type: integer
          format: int32
      - name: clientSsnOrTaxId
        in: query
        description: 'Optional. Default: null. Client SSN or Tax Id.'
        required: false
        schema:
          type: string
      - name: repLastName
        in: query
        description: 'Optional. Default: null. Representative last name.'
        required: false
        schema:
          type: string
      - name: repFirstName
        in: query
        description: 'Optional. Default: null. Representative first name.'
        required: false
        schema:
          type: string
      - name: repNo
        in: query
        description: 'Optional. Default: null. Representative number.'
        required: false
        schema:
          type: string
      - name: registrationLastName
        in: query
        description: 'Optional. Default: null. Registration last name.'
        required: false
        schema:
          type: string
      - name: registrationFirstName
        in: query
        description: 'Optional. Default: null. Registration first name.'
        required: false
        schema:
          type: string
      - name: registrationSsnOrTaxId
        in: query
        description: 'Optional. Default: null. Registration SSN or Tax Id.'
        required: false
        schema:
          type: string
      - name: outsideId
        in: query
        description: 'Optional. Default: null. Outside Id.'
        required: false
        schema:
          type: string
      - name: isActive
        in: query
        description: 'Optional. Default: null. Accout IsActive status.'
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Utility.AllDatabaseSearchDto:
      properties:
        databaseName:
          type: string
        brokerDealerId:
          type: integer
          format: int32
        repId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        accountType:
          type: string
        subAdvisorId:
          type: integer
          format: int32
        householdLName:
          type: string
        householdFName:
          type: string
        householdSSN_TaxID:
          type: string
        repLName:
          type: string
        repFName:
          type: string
        repNo:
          type: string
        registrationLName:
          type: string
        registrationFName:
          type: string
        registrationSSN_TaxID:
          type: string
        acctCode:
          type: string
        outsideId:
          type: string
        isActive:
          type: boolean
        alClientId:
          type: integer
          format: int32
      xml:
        name: AllDatabaseSearchDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
