openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Results API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/Results
paths:
  /v1/Confirm/Results:
    get:
      tags:
      - Confirm/Results
      summary: Get all Confirm Group Data Query Results
      operationId: ConfirmGroupDataQueryResultsAccess_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
                xml:
                  name: ConfirmGroupDataQueryResultDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
                xml:
                  name: ConfirmGroupDataQueryResultDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
                xml:
                  name: ConfirmGroupDataQueryResultDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
                xml:
                  name: ConfirmGroupDataQueryResultDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
                xml:
                  name: ConfirmGroupDataQueryResultDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
                xml:
                  name: ConfirmGroupDataQueryResultDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/Results
      summary: Adds a new Confirm Group Data Query Result to the database
      operationId: ConfirmGroupDataQueryResultsAccess_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
        required: true
  /v1/Confirm/Results/{key}:
    get:
      tags:
      - Confirm/Results
      summary: Gets the Confirm Group Data Query Result that has the provided key.
      operationId: ConfirmGroupDataQueryResultsAccess_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/Results
      summary: Updates the Confirm Group Data Query Result that has the provided key.
      operationId: ConfirmGroupDataQueryResultsAccess_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired update object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.ConfirmGroupDataQueryResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.ConfirmGroupDataQueryResult'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.ConfirmGroupDataQueryResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.ConfirmGroupDataQueryResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.ConfirmGroupDataQueryResult'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.ConfirmGroupDataQueryResult'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto'
        description: Confirm Group Data Query Result object to update
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryResultDto:
      properties:
        id:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        confirmGroupId:
          type: integer
          format: int32
        customReportId:
          type: integer
          format: int32
        resultCount:
          type: integer
          format: int32
        exceptionCount:
          type: integer
          format: int32
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        advisorBlobId:
          type: integer
          format: int32
      xml:
        name: ConfirmGroupDataQueryResultDto
      type: object
    OAS.DataModel.Confirm.ConfirmGroupDataQueryResult:
      required:
      - id
      - alClientId
      - confirmGroupId
      - customReportId
      - resultCount
      - exceptionCount
      - auditedDate
      - advisorBlobId
      properties:
        id:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        confirmGroupId:
          type: integer
          format: int32
        customReportId:
          type: integer
          format: int32
        resultCount:
          type: integer
          format: int32
        exceptionCount:
          type: integer
          format: int32
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        advisorBlobId:
          type: integer
          format: int32
      xml:
        name: ConfirmGroupDataQueryResult
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
