openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Scope API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/Scope
paths:
  /v1/Reporting/Scope:
    post:
      tags:
      - Reporting/Scope
      summary: Used to create a reporting scope
      operationId: Scope_CreateScopeAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.ScopeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.ScopeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.ScopeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.ScopeDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.ScopeSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.ScopeSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.ScopeSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.ScopeSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.ScopeSettingsDto'
        required: true
components:
  schemas:
    OAS.DataModel.Reporting.Interfaces.IMakeDateRange:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeDateRange
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeActivityOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeActivityOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeBillingOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeBillingOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeTradingOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeTradingOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IReturnStyle:
      properties:
        frequency:
          readOnly: true
          type: string
          enum:
          - Summary
          - Annually
          - Quarterly
          - Monthly
          - Weekly
          - Daily
          - Automatic
        basedOn:
          readOnly: true
          type: string
          enum:
          - Calendar
          - RollingForward
          - RollingBackward
        breakBehavior:
          readOnly: true
          type: string
          enum:
          - AllowPartialPeriods
          - PartialPeriodsWithBreakPoints
          - FullPeriodsOnly
        cumulative:
          readOnly: true
          type: boolean
        cumulativeBasedOn:
          readOnly: true
          type: string
          enum:
          - ForwardFromStartDate
          - BackwardFromEndDate
        context:
          readOnly: true
          type: string
          enum:
          - Self
          - Parent
      xml:
        name: IReturnStyle
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeComparisonOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeComparisonOption
      type: object
    OAS.WebApi.DTO.Reporting.Calculate.CalculateBase:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        id:
          type: string
        contextChange:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Engine.ContextChange'
      xml:
        name: CalculateBase
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeCostBasisOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeCostBasisOption
      type: object
    OAS.WebApi.DTO.Reporting.Calculate.ScopeDto:
      properties:
        sessionId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        asOfDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        dataLastUpdated:
          type: string
          format: date-time
        calculations:
          items:
            $ref: '#/components/schemas/OAS.DataAccess.Domains.Reporting.DataEngine.IGotCalculated'
          xml:
            name: IGotCalculated
            wrapped: true
          type: array
      xml:
        name: ScopeDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeMaturityPeriodOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeMaturityPeriodOption
      type: object
    OAS.DataModel.Reporting.Calculation.IMakeCalculationOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeCalculationOption
      type: object
    OAT.Utilities.Date.IDate:
      properties:
        date:
          readOnly: true
          type: string
          format: date-time
        year:
          readOnly: true
          type: integer
          format: int32
        month:
          readOnly: true
          type: integer
          format: int32
        day:
          readOnly: true
          type: integer
          format: int32
      xml:
        name: IDate
      type: object
    OAS.WebApi.DTO.Reporting.Calculate.ScopeFeatureFlagsDto:
      properties:
        dynamicBenchmarkProcessType:
          type: string
          enum:
          - Cloud
          - LocalService
        forceAssetGroupingIntraDayPerformance:
          type: boolean
        activityProcessType:
          type: string
          enum:
          - Cloud
          - LocalService
        costBasisProcessType:
          type: string
          enum:
          - Old
          - Cloud
          - LocalService
        morningstarLevel2Assignment:
          type: boolean
        localPriceCutOverDate:
          type: string
          format: date-time
        noScope:
          type: boolean
        ensureAssetsUpdated:
          type: boolean
        storeReportDataCompressed:
          type: boolean
        showEInModelNames:
          type: boolean
        performanceProcessType:
          type: string
          enum:
          - Cloud
          - LocalService
        forceNonSummaryPerformanceToUseTwr:
          type: boolean
        forceNetOfFeesPerformance:
          type: boolean
        costBasisStoredSource:
          type: string
          enum:
          - Orion
          - Custodian
        tradingWithParentGrouping:
          type: boolean
        useGlobalSettingsUniqueIds:
          type: boolean
        showEquations:
          type: boolean
        isReportCompare:
          type: boolean
        useBenchmarksInAccountChangeHistory:
          type: boolean
        benchmarkAssignmentOverride:
          type: string
        useAsOfDateForAdvizr:
          type: boolean
        accountNumbersToShow:
          type: integer
          format: int32
        useBatchSettingsBulkCopy:
          type: boolean
        showExcludedFromRebalance:
          type: boolean
        useInMemoryForModelVsActual:
          type: boolean
        useNewLineChartRenderer:
          type: boolean
        useNewScatterPlotChartRenderer:
          type: boolean
        useInMemoryIncomeCalculation:
          type: boolean
        useModelAllocationHistory:
          type: boolean
        useDisclaimerShadowDom:
          type: boolean
      xml:
        name: ScopeFeatureFlagsDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakePerformanceOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakePerformanceOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeAttributionOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeAttributionOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeTaxOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeTaxOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeIncomeOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeIncomeOption
      type: object
    OAS.WebApi.DTO.Reporting.Envision.AccountManagementOverride:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isManaged:
          type: boolean
        isIncluded:
          type: boolean
      xml:
        name: AccountManagementOverride
      type: object
    OAS.DataAccess.Domains.Reporting.DataEngine.IGotCalculated:
      properties:
        id:
          type: string
        type:
          readOnly: true
          type: string
      xml:
        name: IGotCalculated
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeTransactionOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeTransactionOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeProjectedIncomeOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeProjectedIncomeOption
      type: object
    OAS.WebApi.DTO.Reporting.Calculate.ScopeSettingsDto:
      properties:
        workloadContext:
          description: The value used here will be stamped onto the report engine's datadog traces. If not provided a value will be dirived from the calculations being requested.
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityIds:
          items:
            type: integer
            format: int32
          type: array
        prospectId:
          type: string
        asOfDate:
          type: string
          format: date-time
        clientPerformanceInclude:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
        unmanagedInclusionOverride:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
        accountManagementOverrides:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.AccountManagementOverride'
          xml:
            name: AccountManagementOverride
            wrapped: true
          type: array
        flags:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.ScopeFeatureFlagsDto'
        calculations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.CalculateBase'
          xml:
            name: CalculateBase
            wrapped: true
          type: array
        useSmaSettings:
          type: boolean
      xml:
        name: ScopeSettingsDto
      type: object
    OAS.DataModel.Reporting.Engine.ContextChange:
      properties:
        activityOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeActivityOption'
        billingOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeBillingOption'
        calculationOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculation.IMakeCalculationOption'
        comparisonOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeComparisonOption'
        costBasisOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeCostBasisOption'
        dateRange:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeDateRange'
        incomeOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeIncomeOption'
        maturityPeriodOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeMaturityPeriodOption'
        performanceOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakePerformanceOption'
        projectedIncomeOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeProjectedIncomeOption'
        statisticalOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeStatisticalOption'
        taxOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeTaxOption'
        tradingOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeTradingOption'
        transactionOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeTransactionOption'
        attributionOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeAttributionOption'
        activityOptionId:
          type: integer
          format: int32
        billingOptionId:
          type: integer
          format: int32
        calculationOptionId:
          type: integer
          format: int32
        comparisonOptionId:
          type: integer
          format: int32
        costBasisOptionId:
          type: integer
          format: int32
        dateRangeId:
          type: integer
          format: int32
        incomeOptionId:
          type: integer
          format: int32
        maturityPeriodOptionId:
          type: integer
          format: int32
        performanceOptionId:
          type: integer
          format: int32
        projectedIncomeOptionId:
          type: integer
          format: int32
        promptOptionId:
          type: integer
          format: int32
        reportCategoryId:
          type: integer
          format: int32
        statisticalOptionId:
          type: integer
          format: int32
        taxOptionId:
          type: integer
          format: int32
        tradingOptionId:
          type: integer
          format: int32
        transactionOptionId:
          type: integer
          format: int32
        attributionId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IReturnStyle'
        percentFormat:
          type: string
        dollarFormat:
          type: string
        decimalFormat:
          type: string
        numericFormat:
          type: string
        quickDate:
          type: string
          enum:
          - Day
          - WTD
          - MTD
          - QTD
          - YTD
          - OneYear
          - TwoYear
          - ThreeYear
          - FourYear
          - FiveYear
          - SixYear
          - SevenYear
          - EightYear
          - NineYear
          - TenYear
          - PreviousOneYear
          - PreviousTwoYear
          - PreviousThreeYear
          - PreviousFourYear
          - PreviousFiveYear
          - PreviousSixYear
          - PreviousSevenYear
          - PreviousEightYear
          - PreviousNineYear
          - PreviousTenYear
          - Inception
          - HoldingPeriod
          - AIPLedger
        globalsSynced:
          type: boolean
        useSmaSetting:
          type: boolean
      xml:
        name: ContextChange
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeStatisticalOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeStatisticalOption
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
