openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Validate Import API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/ValidateImport
paths:
  /v1/Trading/ValidateImport/Distributions:
    post:
      tags:
      - Trading/ValidateImport
      summary: Takes an xlsx, xls, or csv file as multipart content.
      operationId: ValidateImportDistribution_AccountValidationForDistribution
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.DistributionValidationDto'
                xml:
                  name: DistributionValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.DistributionValidationDto'
                xml:
                  name: DistributionValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.DistributionValidationDto'
                xml:
                  name: DistributionValidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.DistributionValidationDto'
                xml:
                  name: DistributionValidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.DistributionValidationDto'
                xml:
                  name: DistributionValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.DistributionValidationDto'
                xml:
                  name: DistributionValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/Trading/ValidateImport/FeeAndLoanDistribution:
    post:
      tags:
      - Trading/ValidateImport
      summary: Takes an xlsx, xls, or csv file as multipart content.
      operationId: ValidateImportFeeAndLoanDistribution_ValidationForFeeAndLoanDistributionAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Trading.ValidateImport.FeeAndLoanDistributionValidationDto'
                xml:
                  name: FeeAndLoanDistributionValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Trading.ValidateImport.FeeAndLoanDistributionValidationDto'
                xml:
                  name: FeeAndLoanDistributionValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Trading.ValidateImport.FeeAndLoanDistributionValidationDto'
                xml:
                  name: FeeAndLoanDistributionValidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Trading.ValidateImport.FeeAndLoanDistributionValidationDto'
                xml:
                  name: FeeAndLoanDistributionValidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Trading.ValidateImport.FeeAndLoanDistributionValidationDto'
                xml:
                  name: FeeAndLoanDistributionValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Trading.ValidateImport.FeeAndLoanDistributionValidationDto'
                xml:
                  name: FeeAndLoanDistributionValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/Trading/ValidateImport/FeeAndLoanDistribution/Import:
    post:
      tags:
      - Trading/ValidateImport
      operationId: ValidateImportFeeAndLoanDistribution_ImportFeeAndLoanDistributionsAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Trading.ValidateImport.FeeAndLoanDistributionValidationDto'
              xml:
                name: FeeAndLoanDistributionValidationDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Trading.ValidateImport.FeeAndLoanDistributionValidationDto'
              xml:
                name: FeeAndLoanDistributionValidationDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Trading.ValidateImport.FeeAndLoanDistributionValidationDto'
              xml:
                name: FeeAndLoanDistributionValidationDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Trading.ValidateImport.FeeAndLoanDistributionValidationDto'
              xml:
                name: FeeAndLoanDistributionValidationDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Trading.ValidateImport.FeeAndLoanDistributionValidationDto'
              xml:
                name: FeeAndLoanDistributionValidationDto
                wrapped: true
              type: array
        required: true
      summary: Validate import fee and loan distribution import fee and loan distributions…
      x-summary-source: derived
  /v1/Trading/ValidateImport/Orders:
    post:
      tags:
      - Trading/ValidateImport
      summary: Takes an xlsx, xls, or csv file as multipart content.
      operationId: TradingValidateImportOrders_OrderPostAsMultipartStreamAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
                xml:
                  name: ValidateOrderDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
                xml:
                  name: ValidateOrderDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
                xml:
                  name: ValidateOrderDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
                xml:
                  name: ValidateOrderDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
                xml:
                  name: ValidateOrderDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
                xml:
                  name: ValidateOrderDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrdersFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrdersFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrdersFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrdersFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrdersFileImportDto'
        required: true
  /v1/Trading/ValidateImport/Orders/List:
    post:
      tags:
      - Trading/ValidateImport
      summary: Takes a list of accounts.
      operationId: TradingValidateImportOrders_OrdersPostAsContent
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
                xml:
                  name: ValidateOrderDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
                xml:
                  name: ValidateOrderDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
                xml:
                  name: ValidateOrderDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
                xml:
                  name: ValidateOrderDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
                xml:
                  name: ValidateOrderDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
                xml:
                  name: ValidateOrderDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
        required: true
  /v1/Trading/ValidateImport/Orders/Templates/Csv:
    get:
      tags:
      - Trading/ValidateImport
      operationId: TradingValidateImportOrders_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Trading validate import orders get csv template
      x-summary-source: derived
  /v1/Trading/ValidateImport/Orders/Templates/Xls:
    get:
      tags:
      - Trading/ValidateImport
      operationId: TradingValidateImportOrders_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Trading validate import orders get xls template
      x-summary-source: derived
  /v1/Trading/ValidateImport/Orders/Templates/Xlsx:
    get:
      tags:
      - Trading/ValidateImport
      operationId: TradingValidateImportOrders_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Trading validate import orders get xlsx template
      x-summary-source: derived
  /v1/Trading/ValidateImport/Sleeve/Registrations/ValidateImport/Sleeve/Registration:
    post:
      tags:
      - Trading/ValidateImport
      summary: Import Sleeves
      operationId: ValidateImportSleeveRegistrations_ImportSleeveRegistrations
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
                xml:
                  name: RegistrationSleeveFullValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
                xml:
                  name: RegistrationSleeveFullValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
                xml:
                  name: RegistrationSleeveFullValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
                xml:
                  name: RegistrationSleeveFullValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/Trading/ValidateImport/Sleeve/Registrations/ValidateImport/Sleeve/Registration/HistoricalSleeveImport:
    post:
      tags:
      - Trading/ValidateImport
      summary: Import historical Sleeves
      operationId: ValidateImportSleeveRegistrations_HistoricalSleeveImport
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
                xml:
                  name: RegistrationSleeveFullValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
                xml:
                  name: RegistrationSleeveFullValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
                xml:
                  name: RegistrationSleeveFullValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
                xml:
                  name: RegistrationSleeveFullValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/Trading/ValidateImport/Sleeve/Registrations/WithoutProcess:
    post:
      tags:
      - Trading/ValidateImport
      summary: Import registration sleeve changes without processing account sleeves
      operationId: ValidateImportSleeveRegistrations_ImportSleeveRegistrationsWithoutProcessAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveValidationDto'
                xml:
                  name: RegistrationSleeveValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveValidationDto'
                xml:
                  name: RegistrationSleeveValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveValidationDto'
                xml:
                  name: RegistrationSleeveValidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveValidationDto'
                xml:
                  name: RegistrationSleeveValidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveValidationDto'
                xml:
                  name: RegistrationSleeveValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveValidationDto'
                xml:
                  name: RegistrationSleeveValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/Trading/ValidateImport/SleeveStrategy/Registrations/Import/Batch:
    post:
      tags:
      - Trading/ValidateImport
      summary: Used to assign Sleeve Strategy Aggregates to Registrations in bulk with import
      operationId: ValidateImportAssignSleeveStrategies_ProcessSleeveRegistrationsImportAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
              xml:
                name: RegistrationCheckDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
              xml:
                name: RegistrationCheckDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
              xml:
                name: RegistrationCheckDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
              xml:
                name: RegistrationCheckDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
              xml:
                name: RegistrationCheckDto
                wrapped: true
              type: array
        required: true
  /v1/Trading/ValidateImport/SleeveStrategy/Registrations/Validate:
    post:
      tags:
      - Trading/ValidateImport
      summary: Validates import file for processing
      operationId: ValidateImportAssignSleeveStrategies_ValidateAssignSleeveStrategiesImportAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
                xml:
                  name: RegistrationCheckDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
                xml:
                  name: RegistrationCheckDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
                xml:
                  name: RegistrationCheckDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
                xml:
                  name: RegistrationCheckDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
                xml:
                  name: RegistrationCheckDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
                xml:
                  name: RegistrationCheckDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/Trading/ValidateImport/Strategy:
    post:
      tags:
      - Trading/ValidateImport
      summary: Takes an xlsx, xls, or csv file as multipart content.
      operationId: ValidateImportStrategy_StrategyImportValidationAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
                xml:
                  name: ValidateStrategiesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
                xml:
                  name: ValidateStrategiesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
                xml:
                  name: ValidateStrategiesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
                xml:
                  name: ValidateStrategiesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
                xml:
                  name: ValidateStrategiesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
                xml:
                  name: ValidateStrategiesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/Trading/ValidateImport/Strategy/ProcessImport:
    post:
      tags:
      - Trading/ValidateImport
      summary: The method runs a buld insert to a temp table from the import file then runs a…
      operationId: ValidateImportStrategy_ProcessStrategyImport
      parameters:
      - name: removeCustomizations
        in: query
        required: true
        schema:
          type: boolean
      - name: ct
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
        description: The list of strategies for the import.
        required: true
  /v1/Trading/ValidateImport/Strategy/Revalidate:
    post:
      tags:
      - Trading/ValidateImport
      summary: Takes a List ValidateStrategiesDto.
      operationId: ValidateImportStrategy_StrategyDtoValidationAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
                xml:
                  name: ValidateStrategiesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
                xml:
                  name: ValidateStrategiesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
                xml:
                  name: ValidateStrategiesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
                xml:
                  name: ValidateStrategiesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
                xml:
                  name: ValidateStrategiesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
                xml:
                  name: ValidateStrategiesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategiesDto'
              xml:
                name: ValidateStrategiesDto
                wrapped: true
              type: array
        required: true
  /v1/Trading/ValidateImport/StrategyAggregate:
    post:
      tags:
      - Trading/ValidateImport
      summary: Takes an xlsx, xls, or csv file as multipart content.
      operationId: ValidateImportStrategyAggregate_StrategyImportValidationAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
                xml:
                  name: ValidateStrategyAggregatesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
                xml:
                  name: ValidateStrategyAggregatesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
                xml:
                  name: ValidateStrategyAggregatesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
                xml:
                  name: ValidateStrategyAggregatesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
                xml:
                  name: ValidateStrategyAggregatesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
                xml:
                  name: ValidateStrategyAggregatesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/Trading/ValidateImport/StrategyAggregate/ProcessImport:
    post:
      tags:
      - Trading/ValidateImport
      summary: The method runs a buld insert to a temp table from the import file then runs a…
      operationId: ValidateImportStrategyAggregate_ProcessStrategyImport
      parameters:
      - name: removeCustomizations
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
        description: The list of strategies for the import.
        required: true
  /v1/Trading/ValidateImport/StrategyAggregate/Revalidate:
    post:
      tags:
      - Trading/ValidateImport
      summary: Takes a List ValidateStrategyAggregatesDto.
      operationId: ValidateImportStrategyAggregate_StrategyDtoValidationAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
                xml:
                  name: ValidateStrategyAggregatesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
                xml:
                  name: ValidateStrategyAggregatesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
                xml:
                  name: ValidateStrategyAggregatesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
                xml:
                  name: ValidateStrategyAggregatesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
                xml:
                  name: ValidateStrategyAggregatesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
                xml:
                  name: ValidateStrategyAggregatesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto'
              xml:
                name: ValidateStrategyAggregatesDto
                wrapped: true
              type: array
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Trading.ModelItemFullDto:
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        productName:
          type: string
        productClass:
          type: string
        ticker:
          type: string
        targetPercent:
          type: number
          format: double
        itemTol:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        itemTolUpper:
          type: number
          format: double
        itemTolLower:
          type: number
          format: double
        oub:
          type: number
          format: double
        modelAggId:
          type: integer
          format: int32
        productRiskScore:
          type: integer
          format: int32
      xml:
        name: ModelItemFullDto
      type: object
    OAS.WebApi.DTO.ValidateImport.ValidateOrderDto:
      properties:
        accountId:
          type: integer
          format: int32
        accountNumber:
          type: string
        action:
          type: string
        ticker:
          type: string
        dollars:
          type: number
          format: double
        shares:
          type: number
          format: double
        percent:
          type: number
          format: double
        productId:
          type: integer
          format: int32
        message:
          type: string
        tradeType:
          type: string
          enum:
          - Undefined
          - Shares
          - Dollars
          - Percent
        navPrice:
          type: number
          format: double
        side:
          type: string
        amount:
          type: number
          format: double
        exchangeTicker:
          type: string
        exchangeProductId:
          type: integer
          format: int32
        cashTradeAmount:
          type: number
          format: double
        cashValuePostTrade:
          type: number
          format: double
        isValid:
          type: boolean
        validationMessage:
          type: string
        warningMessage:
          type: string
      xml:
        name: ValidateOrderDto
      type: object
    OAS.WebApi.DTO.Trading.SleeveNormalAcctBillingDto:
      properties:
        billFeeScheduleId:
          type: integer
          format: int32
        billFeeScheduleName:
          type: string
        billMasterPayoutScheduleId:
          type: integer
          format: int32
        billMasterPayoutScheduleName:
          type: string
        recurringAdjustments:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BillRecurrentAdjustmentDto'
          xml:
            name: BillRecurrentAdjustmentDto
            wrapped: true
          type: array
      xml:
        name: SleeveNormalAcctBillingDto
      type: object
    OAS.WebApi.DTO.Trading.SleeveCustodialAcctBillingDto:
      properties:
        billFeeScheduleId:
          type: integer
          format: int32
        billFeeScheduleName:
          type: string
        billMasterPayoutScheduleId:
          type: integer
          format: int32
        billMasterPayoutScheduleName:
          type: string
        recurringAdjustments:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BillRecurrentAdjustmentDto'
          xml:
            name: BillRecurrentAdjustmentDto
            wrapped: true
          type: array
      xml:
        name: SleeveCustodialAcctBillingDto
      type: object
    OAS.WebApi.DTO.Trading.AggregateModelSubstituteDto:
      properties:
        sleeveStrategyDetailId:
          type: integer
          format: int32
        sleeveStrategyId:
          type: integer
          format: int32
        aggregateModelId:
          type: integer
          format: int32
        modelAggName:
          type: string
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        isSubstitute:
          type: boolean
      xml:
        name: AggregateModelSubstituteDto
      type: object
    OAS.WebApi.DTO.Trading.AccountSleeveProcessDto:
      properties:
        modelAllocations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelItemFullDto'
          xml:
            name: ModelItemFullDto
            wrapped: true
          type: array
        sweepAssetId:
          type: integer
          format: int32
        custodialBilling:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveCustodialAcctBillingDto'
        sleeveBilling:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveNormalAcctBillingDto'
        minimumCash:
          type: number
          format: double
        replenishMinCash:
          type: boolean
        substitutes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AggregateModelSubstituteDto'
          xml:
            name: AggregateModelSubstituteDto
            wrapped: true
          type: array
        hasSMAModel:
          type: boolean
        modelAggType:
          type: string
          enum:
          - Normal
          - CustomIndex
          - SelfDirected
        minimumInvestmentAmount:
          type: number
          format: double
        createdFromOciProcess:
          type: boolean
        accountId:
          type: integer
          format: int32
        sleeveDescription:
          type: string
        targetAllocation:
          type: number
          format: double
        currentAllocation:
          type: number
          format: double
        currentValue:
          type: number
          format: double
        contributionAllocation:
          type: number
          format: double
        distributionAllocation:
          type: number
          format: double
        corporateActionAllocation:
          type: number
          format: double
        toleranceUpper:
          type: number
          format: double
        toleranceLower:
          type: number
          format: double
        sleeveType:
          type: string
          enum:
          - Normal sleeve
          - Custodial account
          - Contribution sleeve
          - Distribution sleeve
          - Unmanaged sleeve
        modelAgg:
          type: string
        managementStyle:
          type: string
        subAdvisor:
          type: string
        modelType:
          type: string
        registrationId:
          type: integer
          format: int32
        subAdvisorId:
          type: integer
          format: int32
        modelAggId:
          type: integer
          format: int32
        managementStyleId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        targetBalanceType:
          type: string
          enum:
          - Dollars
          - Percent
        doNotTrade:
          type: boolean
        riskScore:
          type: number
          format: double
        regValue:
          type: number
          format: double
        isCustomized:
          type: boolean
        sleeveStrategyDetailId:
          type: integer
          format: int32
        sleeveStrategyId:
          type: integer
          format: int32
        sleeveStrategy:
          type: string
        sleeveStrategyToleranceUpper:
          type: number
          format: double
        sleeveStrategyToleranceLower:
          type: number
          format: double
        modelAggExcludeRebalanceSleeve:
          type: boolean
        businessLine:
          type: string
        unitBalanceScale:
          type: string
        assets:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
          xml:
            name: AssetDto
            wrapped: true
          type: array
        categoryAllocations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveAssetCategoryAllocationsDto'
          readOnly: true
          xml:
            name: AccountSleeveAssetCategoryAllocationsDto
            wrapped: true
          type: array
      xml:
        name: AccountSleeveProcessDto
      type: object
    OAS.WebApi.DTO.Trading.RegistrationSleeveValidationDto:
      properties:
        registrationId:
          type: integer
          format: int32
        isDoNotTrade:
          type: boolean
        isValid:
          type: boolean
        validationMessage:
          type: string
      xml:
        name: RegistrationSleeveValidationDto
      type: object
    OAS.WebApi.DTO.ValidateImport.ValidateOrdersFileImportDto:
      properties:
        assetValues:
          type: string
          enum:
          - Current
          - Pending
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
          description: the imported file
      xml:
        name: ValidateOrdersFileImportDto
      type: object
    OAS.WebApi.DTO.IdNameResolver:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: IdNameResolver
      type: object
    OAS.WebApi.DTO.Trading.ValidateStrategyAggregatesDto:
      properties:
        strategyAggregateId:
          type: string
        name:
          type: string
        contributionAllocationMethod:
          type: string
        distributionAllocationMethod:
          type: string
        autoRebalFreq:
          type: string
        autoRebalMonth:
          type: string
        autoRebalDay:
          type: string
        entityId:
          type: string
        entity:
          type: string
        eclipseFirmId:
          type: string
        strategyAggregateDetailId:
          type: string
        strategyId:
          $ref: '#/components/schemas/OAS.WebApi.DTO.IdNameResolver'
        target:
          type: string
        contributionAllocation:
          type: string
        distributionAllocation:
          type: string
        toleranceUpper:
          type: string
        toleranceLower:
          type: string
        isValid:
          type: boolean
        validationMessage:
          type: string
        warningMessage:
          type: string
        sleeveType:
          type: string
        modelAggId:
          $ref: '#/components/schemas/OAS.WebApi.DTO.IdNameResolver'
        platformId:
          $ref: '#/components/schemas/OAS.WebApi.DTO.IdNameResolver'
        strategyAggregateSpecialDetailId:
          type: string
      xml:
        name: ValidateStrategyAggregatesDto
      type: object
    OAS.WebApi.DTO.Trading.DistributionValidationDto:
      properties:
        accountId:
          type: integer
          format: int32
        accountNumber:
          type: string
        amount:
          type: number
          format: double
        regId:
          type: integer
          format: int32
        isValid:
          type: boolean
        validationMessage:
          type: string
      xml:
        name: DistributionValidationDto
      type: object
    OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto:
      properties:
        isValid:
          type: boolean
        validationMessage:
          type: string
        rebalanceType:
          type: string
          enum:
          - None
          - RegistrationRebalance
          - SleeveRebalance
          - ContributionAllocation
          - TransferInRebalance
        accountSleeves:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveProcessDto'
          xml:
            name: AccountSleeveProcessDto
            wrapped: true
          type: array
        custodialBilling:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveCustodialAcctBillingDto'
        sleeveBilling:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveNormalAcctBillingDto'
        excludedAssets:
          items:
            type: integer
            format: int32
          type: array
        includedAssets:
          items:
            type: integer
            format: int32
          type: array
        deletedSleeveTargets:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.DeletedSleeveTargetDto'
          xml:
            name: DeletedSleeveTargetDto
            wrapped: true
          type: array
        clientId:
          type: integer
          format: int32
        isPendingAccount:
          type: boolean
        registrationId:
          type: integer
          format: int32
        sleeveStrategyAggId:
          type: integer
          format: int32
        sleeveStrategyId:
          type: integer
          format: int32
        isActive:
          type: boolean
        isDoNotTrade:
          type: boolean
        custodialAccountNumber:
          type: string
        asOfDate:
          type: string
          format: date-time
        eclipseFirmId:
          type: integer
          format: int32
        tolerancePercent:
          type: number
          format: double
        aggregateRiskScore:
          type: number
          format: double
        registrationRiskTolerance:
          type: integer
          format: int32
        contributionAllocationMethod:
          type: string
          enum:
          - UseAssigned
          - UseTarget
          - UseOUB
          - UseCurrent
        distributionAllocationMethod:
          type: string
          enum:
          - UseAssigned
          - UseTarget
          - UseOUB
          - UseCurrent
        corporateActionAllocationMethod:
          type: string
          enum:
          - UseAssigned
          - UseTarget
          - UseOUB
          - UseCurrent
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        autoRebalFrequency:
          type: string
          enum:
          - None
          - Monthly
          - Quarterly
          - Semiannual
          - Annual
        autoRebalMonth:
          type: integer
          format: int32
        autoRebalDay:
          type: integer
          format: int32
        mandate:
          type: boolean
        needsUpdate:
          type: boolean
        needsUpdateReason:
          type: string
      xml:
        name: RegistrationSleeveFullValidationDto
      type: object
    OAS.DataProcess.DTO.Trading.ValidateImport.FeeAndLoanDistributionValidationDto:
      properties:
        uploadType:
          type: string
        description:
          type: string
        accountId:
          type: integer
          format: int32
        accountNumber:
          type: string
        amount:
          type: number
          format: double
        productId:
          type: integer
          format: int32
        cusip:
          type: string
        ticker:
          type: string
        isValid:
          type: boolean
        validationMessage:
          type: string
      xml:
        name: FeeAndLoanDistributionValidationDto
      type: object
    OAS.WebApi.DTO.Trading.ValidateStrategiesDto:
      properties:
        strategyId:
          type: string
        name:
          type: string
        contributionAllocationMethod:
          type: string
        distributionAllocationMethod:
          type: string
        autoRebalFreq:
          type: string
        autoRebalMonth:
          type: string
        autoRebalDay:
          type: string
        entityId:
          type: string
        entity:
          type: string
        tolerancePercent:
          type: string
        strategyDetailId:
          type: string
        sleeveType:
          type: string
        modelAggId:
          $ref: '#/components/schemas/OAS.WebApi.DTO.IdNameResolver'
        platformId:
          $ref: '#/components/schemas/OAS.WebApi.DTO.IdNameResolver'
        subAdvisorId:
          $ref: '#/components/schemas/OAS.WebApi.DTO.IdNameResolver'
        targetAllocation:
          type: string
        contributionAllocation:
          type: string
        distributionAllocation:
          type: string
        toleranceUpper:
          type: string
        toleranceLower:
          type: string
        autoTradeTypes:
          type: string
        doNotTrade:
          type: string
        substituteDetailId:
          type: string
        substituteId:
          $ref: '#/components/schemas/OAS.WebApi.DTO.IdNameResolver'
        assetLevelAllowed:
          type: string
        assetLevelIds:
          type: string
        isValid:
          type: boolean
        validationMessage:
          type: string
        warningMessage:
          type: string
      xml:
        name: ValidateStrategiesDto
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
    OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto:
      description: import file DTO for validating imports
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
          description: the imported file
      xml:
        name: ValidateFileImportDto
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.WebApi.DTO.Trading.DeletedSleeveTargetDto:
      properties:
        accountId:
          type: integer
          format: int32
        deletedModelId:
          type: integer
          format: int32
        targetModelId:
          type: integer
          format: int32
      xml:
        name: DeletedSleeveTargetDto
      type: object
    OAS.WebApi.DTO.Portfolio.AssetDto:
      properties:
        costBasis:
          type: number
          format: double
        name:
          type: string
        accountNumber:
          type: string
        ticker:
          type: string
        currentShares:
          type: number
          format: double
        currentValue:
          type: number
          format: double
        currentPrice:
          type: number
          format: double
        isManaged:
          type: boolean
        assetClass:
          type: string
        productCategory:
          type: string
        productCategoryAbbreviation:
          type: string
        isCustodialCash:
          type: boolean
        secondaryAccountNumber:
          type: string
        cusip:
          type: string
        productId:
          type: integer
          format: int32
        assetLevelStrategyId:
          type: integer
          format: int32
        assetLevelStrategy:
          type: string
        status:
          type: integer
          format: int32
        isStrategyOverride:
          type: boolean
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        accountId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        isActive:
          type: boolean
        downloadSymbol:
          type: integer
          format: int32
        accountType:
          type: string
        fundFamily:
          type: string
        custodian:
          type: string
        asOfDate:
          type: string
          format: date-time
        registrationName:
          type: string
        managementStyle:
          type: string
        sleeveType:
          type: string
          enum:
          - Normal sleeve
          - Custodial account
          - Contribution sleeve
          - Distribution sleeve
          - Unmanaged sleeve
        productType:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
        productSubType:
          type: string
        isGlobalExcluded:
          type: boolean
        isFeeExcluded:
          type: boolean
        excludeAmountType:
          type: string
          enum:
          - Percent
          - Dollars
          - Shares
        excludeAmount:
          type: number
          format: double
        excludePercentOf:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        excludeFromMargin:
          type: boolean
        isRebalance:
          type: boolean
        isAdvisorOnly:
          type: boolean
        isAdvReportable:
          type: boolean
        is13FReportable:
          type: boolean
        mscsFundAccountNumber:
          type: string
        lastReconDate:
          type: string
          format: date-time
        isOrionVision:
          type: boolean
        assetPercentOfAccount:
          type: number
          format: double
        householdName:
          type: string
        riskCategory:
          type: string
        modelName:
          type: string
        registrationType:
          type: string
        accountStatusId:
          type: integer
          format: int32
        isin:
          type: string
        id:
          type: integer
          format: int32
        isDataSharingEntity:
          type: boolean
      xml:
        name: AssetDto
      type: object
    OAS.WebApi.DTO.Trading.RegistrationCheckDto:
      description: A DTO used to inform the front-end of any issues pertaining to a given Registration.
      properties:
        promptToSplit:
          description: 'If <see langword="true" />, causes the front-end to prompt the user

            "Would you like to create separate registrations for each account so it can be sleeved?"'
          type: boolean
        message:
          description: The message to display to the user relating to the error or warning.
          type: string
        id:
          description: The ID of the Registration being validated.
          type: integer
          format: int32
        regName:
          description: The name of the Registration being validated.
          type: string
        isError:
          description: When set to <see langword="true" />, the user is not able to process the sleeves.
          type: boolean
        isWarning:
          type: boolean
        alwaysLoadSleeves:
          description: 'When {OAS.WebApi.DTO.Trading.RegistrationCheckDto.AlwaysLoadSleeves} and {OAS.WebApi.DTO.Trading.RegistrationCheckDto.IsError} are both <see langword="true" /> the

            front-end should always load any sleeves associated with the Registration.'
          type: boolean
        sleeveStrategyAggId:
          description: The ID of the Sleeve Strategy Agg being assigned to the Registration.
          type: integer
          format: int32
        sleeveStrategyAggName:
          description: The name of the Sleeve Strategy Agg being assigned to the Registration.
          type: string
      xml:
        name: RegistrationCheckDto
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAS.WebApi.DTO.Trading.AccountSleeveAssetCategoryAllocationsDto:
      properties:
        category:
          type: string
        value:
          type: number
          format: double
        percent:
          type: number
          format: double
      xml:
        name: AccountSleeveAssetCategoryAllocationsDto
      type: object
    OAS.WebApi.DTO.Portfolio.BillRecurrentAdjustmentDto:
      properties:
        id:
          type: integer
          format: int32
        annualAmount:
          type: number
          format: double
        type:
          type: integer
          format: int32
        schedule:
          type: integer
          format: int32
        adjustmentType:
          type: integer
          format: int32
        responsibleEntity:
          type: integer
          format: int32
        endDate:
          type: string
          format: date-time
        startDate:
          type: string
          format: date-time
      xml:
        name: BillRecurrentAdjustmentDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
