openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Security/Partner App Advisors API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Security/PartnerAppAdvisors
paths:
  /v1/Security/PartnerAppAdvisors:
    post:
      tags:
      - Security/PartnerAppAdvisors
      summary: Create a partner app advisor
      operationId: PartnerAppAdvisors_CreateAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
        required: true
  /v1/Security/PartnerAppAdvisors/{key}:
    put:
      tags:
      - Security/PartnerAppAdvisors
      operationId: PartnerAppAdvisors_UpdateAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
        required: true
      summary: Partner app advisors update async
      x-summary-source: derived
  /v1/Security/PartnerAppAdvisors/PartnerApps/{partnerAppId}/AlClients/{alClientId}:
    get:
      tags:
      - Security/PartnerAppAdvisors
      summary: Gets the partner app advisor of a partner app and alclient
      operationId: PartnerAppAdvisors_GetByPartnerAppIdAndAlClientId
      parameters:
      - name: partnerAppId
        in: path
        description: The partnerAppId.
        required: true
        schema:
          type: integer
          format: int32
      - name: alClientId
        in: path
        description: The alClientId.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
      security:
      - Authorization: []
  /v1/Security/PartnerAppAdvisors/PartnerApps/Clients/{partnerAppId}:
    get:
      tags:
      - Security/PartnerAppAdvisors
      summary: List all clients a partner is allowed to access
      operationId: PartnerAppAdvisors_GetClientAccessByPartnerIdAsync
      parameters:
      - name: partnerAppId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Security/PartnerAppAdvisors/PartnerApps/Partners/{alClientId}:
    get:
      tags:
      - Security/PartnerAppAdvisors
      operationId: PartnerAppAdvisors_GetPartnerAccessByAlCientIdAsync
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Partner app advisors get partner access by al cient id async
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.Security.PartnerAppAdvisor:
      properties:
        id:
          type: integer
          format: int32
        partnerAppId:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        serviceCredentials:
          type: string
          maxLength: 8000
          minLength: 0
        acceptedTOS:
          type: boolean
        acceptedTOSUserId:
          type: string
        created:
          type: string
          format: date-time
      xml:
        name: PartnerAppAdvisor
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
