openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Custodian Un Realized API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/CustodianUnRealized
paths:
  /v1/Portfolio/CustodianUnRealized:
    get:
      tags:
      - Portfolio/CustodianUnRealized
      summary: TODO
      operationId: CustodianUnrealized_GetListFiltered
      parameters:
      - name: entity
        in: query
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      - name: entityId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: accountId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: downloadFormatId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: downloadSourceId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: auditType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - CustodialRealizedSharesDoNotMatch
            - CustodialRealizedMissing
            - CustodialUnrealizedMissing
            - CustodialRealizedUnknownAcquiredDate
            - CustodialUnrealizedUnknownAcquiredDate
            - CustodialRealizedUnknownCostBasis
            - CustodialUnrealizedUnknownCostBasis
            - OrionUnknownCostBasis
            - MoneyMarketProducts
            - OrionMissingCostBasis
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: asOfDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: hasErrors
        in: query
        required: false
        schema:
          type: boolean
      - name: assetHasErrors
        in: query
        required: false
        schema:
          type: boolean
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - WithErrors
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
                xml:
                  name: CustodianUnrealizedDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
                xml:
                  name: CustodianUnrealizedDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
                xml:
                  name: CustodianUnrealizedDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
                xml:
                  name: CustodianUnrealizedDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
                xml:
                  name: CustodianUnrealizedDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
                xml:
                  name: CustodianUnrealizedDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/CustodianUnRealized
      operationId: CustodianUnrealized_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
        required: true
      summary: Custodian unrealized create entity
      x-summary-source: derived
  /v1/Portfolio/CustodianUnRealized/{key}:
    get:
      tags:
      - Portfolio/CustodianUnRealized
      summary: Gets the custodian unrealized lot that has the provided key.
      operationId: CustodianUnrealized_GetByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - WithErrors
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/CustodianUnRealized
      operationId: CustodianUnrealized_UpdateEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto'
        required: true
      summary: Custodian unrealized update entity
      x-summary-source: derived
  /v1/Portfolio/CustodianUnRealized/Action/Delete:
    put:
      tags:
      - Portfolio/CustodianUnRealized
      operationId: CustodianUnrealized_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Custodian unrealized action delete
      x-summary-source: derived
  /v1/Portfolio/CustodianUnRealized/Verbose:
    get:
      tags:
      - Portfolio/CustodianUnRealized
      operationId: CustodianUnrealized_GetVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - AdditionalInformation
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
                xml:
                  name: CustodianUnrealizedVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
                xml:
                  name: CustodianUnrealizedVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
                xml:
                  name: CustodianUnrealizedVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
                xml:
                  name: CustodianUnrealizedVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
                xml:
                  name: CustodianUnrealizedVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
                xml:
                  name: CustodianUnrealizedVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Custodian unrealized get verbose
      x-summary-source: derived
    post:
      tags:
      - Portfolio/CustodianUnRealized
      operationId: CustodianUnrealized_CreateVerboseCustodianUnrealized
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
        required: true
      summary: Custodian unrealized create verbose custodian unrealized
      x-summary-source: derived
  /v1/Portfolio/CustodianUnRealized/Verbose/{key}:
    get:
      tags:
      - Portfolio/CustodianUnRealized
      operationId: CustodianUnrealized_GetVerboseByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - AdditionalInformation
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
      security:
      - Authorization: []
      summary: Custodian unrealized get verbose by key
      x-summary-source: derived
    put:
      tags:
      - Portfolio/CustodianUnRealized
      operationId: CustodianUnrealized_UpdateVerboseCustodianUnrealized
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto'
        required: true
      summary: Custodian unrealized update verbose custodian unrealized
      x-summary-source: derived
    delete:
      tags:
      - Portfolio/CustodianUnRealized
      summary: Used to delete an existing Custodian Unrealized.
      operationId: CustodianUnrealized_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedAdditionalInformationDto:
      properties:
        isLongTerm:
          type: boolean
        inheritedDate:
          type: string
          format: date-time
        giftedDate:
          type: string
          format: date-time
        auditedBy:
          type: string
        auditedDate:
          type: string
          format: date-time
      xml:
        name: CustodianUnrealizedAdditionalInformationDto
      type: object
    OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedPortfolioDto:
      properties:
        assetId:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
        longTermCost:
          type: number
          format: double
        shortTermCost:
          type: number
          format: double
        longTermUnits:
          type: number
          format: double
        shortTermUnits:
          type: number
          format: double
        acquiredDate:
          type: string
          format: date-time
        amortizationAmt:
          type: number
          format: double
        holdPeriodDate:
          type: string
          format: date-time
        isLongTerm:
          type: boolean
        isInherited:
          type: boolean
        isUnknown:
          type: boolean
        isVarious:
          type: boolean
        source:
          type: integer
          format: int32
        custodianRecordID:
          type: string
      xml:
        name: CustodianUnrealizedPortfolioDto
      type: object
    OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedDto:
      properties:
        assetId:
          type: integer
          format: int32
        productName:
          type: string
        asOfDate:
          type: string
          format: date-time
        longTermCost:
          type: number
          format: double
        shortTermCost:
          type: number
          format: double
        source:
          type: integer
          format: int32
        longTermUnits:
          type: number
          format: double
        shortTermUnits:
          type: number
          format: double
        acquiredDate:
          type: string
          format: date-time
        amortizationAmt:
          type: number
          format: double
        id:
          type: integer
          format: int32
        holdPeriodDate:
          type: string
          format: date-time
        isLongTerm:
          type: boolean
        isInherited:
          type: boolean
        isUnknown:
          type: boolean
        isVarious:
          type: boolean
        clientId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        registrationName:
          type: string
        accountId:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        accountNumber:
          type: string
        productTicker:
          type: string
        householdName:
          type: string
        registrationType:
          type: string
        isQualified:
          type: boolean
        representative:
          type: string
        representativeNumber:
          type: string
        custodian:
          type: string
        accountCreatedDate:
          type: string
          format: date-time
        custodianRecordID:
          type: string
        editedDate:
          type: string
          format: date-time
        costBasisMethod:
          type: integer
          format: int32
      xml:
        name: CustodianUnrealizedDto
      type: object
    OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        portfolio:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedPortfolioDto'
        additionalInformation:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.CustodianUnrealizedAdditionalInformationDto'
      xml:
        name: CustodianUnrealizedVerboseDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
