openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Aggregator API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Aggregator
paths:
  /v1/Aggregator:
    get:
      tags:
      - Aggregator
      summary: Gets a list of all aggregators
      description: 'Sample Request

        GET /Aggregator'
      operationId: ConfirmAggregator_GetAggregators
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AggregatorDto'
                xml:
                  name: AggregatorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AggregatorDto'
                xml:
                  name: AggregatorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AggregatorDto'
                xml:
                  name: AggregatorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AggregatorDto'
                xml:
                  name: AggregatorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AggregatorDto'
                xml:
                  name: AggregatorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AggregatorDto'
                xml:
                  name: AggregatorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Confirm.AggregatorDto:
      properties:
        aggregatorID:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: AggregatorDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
