openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Quantum API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Quantum
paths:
  /v1/Integrations/Quantum/Jobs:
    get:
      tags:
      - Integrations/Quantum
      summary: Retrieves list of quantum print jobs
      operationId: Quantum_GetJobs
      parameters:
      - name: currentDatabaseOnly
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
                xml:
                  name: QuantumJobDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
                xml:
                  name: QuantumJobDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
                xml:
                  name: QuantumJobDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
                xml:
                  name: QuantumJobDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
                xml:
                  name: QuantumJobDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
                xml:
                  name: QuantumJobDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Quantum
      operationId: Quantum_UpdateCreateJobs
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
                xml:
                  name: QuantumJobDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
                xml:
                  name: QuantumJobDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
                xml:
                  name: QuantumJobDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
                xml:
                  name: QuantumJobDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
                xml:
                  name: QuantumJobDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
                xml:
                  name: QuantumJobDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
              xml:
                name: QuantumJobDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
              xml:
                name: QuantumJobDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
              xml:
                name: QuantumJobDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
              xml:
                name: QuantumJobDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
              xml:
                name: QuantumJobDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
              xml:
                name: QuantumJobDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto'
              xml:
                name: QuantumJobDto
                wrapped: true
              type: array
        required: true
      summary: Quantum update create jobs
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Integrations.Quantum.QuantumJobDto:
      properties:
        id:
          type: integer
          format: int32
        fileName:
          type: string
        advisorNumber:
          type: integer
          format: int32
        dateReceived:
          type: string
          format: date-time
        status:
          type: string
        lastUpdate:
          type: string
          format: date-time
      xml:
        name: QuantumJobDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
