openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Recon Job Statuses API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/ReconJobStatuses
paths:
  /v1/Confirm/ReconJobStatuses:
    get:
      tags:
      - Confirm/ReconJobStatuses
      summary: Returns a list of recon job statuses
      operationId: ReconJobStatuses_Get
      parameters:
      - name: startDate
        in: query
        description: 'Optional. Default: null. If provided returns only recon job statuses with a process start date greater than date provided.'
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        description: 'Optional. Default: null. If provided returns only recon job statuses with a process start date less than date provided.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ReconJobStatusDto'
                xml:
                  name: ReconJobStatusDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ReconJobStatusDto'
                xml:
                  name: ReconJobStatusDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ReconJobStatusDto'
                xml:
                  name: ReconJobStatusDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ReconJobStatusDto'
                xml:
                  name: ReconJobStatusDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ReconJobStatusDto'
                xml:
                  name: ReconJobStatusDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ReconJobStatusDto'
                xml:
                  name: ReconJobStatusDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Confirm.Recon.ReconJobStatusDto:
      properties:
        id:
          type: integer
          format: int64
        processName:
          type: string
        jobName:
          type: string
        processStartDate:
          type: string
          format: date-time
        processEndDate:
          type: string
          format: date-time
        runTimeInSeconds:
          type: integer
          format: int32
        processStatus:
          type: string
        rowsInsertTarget:
          type: integer
          format: int64
        rowsInsertTargetError:
          type: integer
          format: int64
        errorCode:
          type: integer
          format: int32
        errorDescription:
          type: string
        jobSettings:
          type: string
      xml:
        name: ReconJobStatusDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
