openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Redtail API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Redtail
paths:
  /v1/Integrations/Redtail/Action/ConnectUser:
    put:
      tags:
      - Integrations/Redtail
      summary: Connects a Redtail user to an Orion user, enabling or disabling automatic 2-way…
      operationId: Redtail_ConnectUserAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Redtail.UserConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Redtail.UserConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Redtail.UserConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Redtail.UserConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Redtail.UserConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Redtail.UserConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Redtail.UserConfig'
        required: true
  /v1/Integrations/Redtail/Actions/Remove:
    post:
      tags:
      - Integrations/Redtail
      summary: Disconnects the integration for the firm
      operationId: Redtail_RemoveServiceAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Integrations/Redtail/Actions/Setup:
    post:
      tags:
      - Integrations/Redtail
      summary: Connects the integration for the firm
      operationId: Redtail_SetupServiceAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
        description: The parameters required to setup the partner app.
        required: true
  /v1/Integrations/Redtail/Configuration:
    get:
      tags:
      - Integrations/Redtail
      summary: Retrieves Redtail Integration details
      description: 'Note that the firm-level configuration for Redtail Integration is used to flag the firm

        database for automated data transfers, as well as storing data for the email template to assign reps

        to Redtail users.'
      operationId: Redtail_GetFirmConfigurationAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Redtail
      summary: Saves Redtail integration settings
      description: 'Note that the firm-level configuration for Redtail Integration is used to flag the firm

        database for automated data transfers, as well as storing data for the email template to assign reps

        to Redtail users.'
      operationId: Redtail_UpdateFirmConfigurationAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig'
        required: true
  /v1/Integrations/Redtail/SSO:
    get:
      tags:
      - Integrations/Redtail
      operationId: Redtail_SsoAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Redtail sso async
      x-summary-source: derived
components:
  schemas:
    OAS.DataProcess.DTO.Integrations.Redtail.FirmConfig:
      properties:
        emailAddresses:
          items:
            type: string
          type: array
        orionFirmId:
          type: integer
          format: int32
        redtailFirmId:
          type: integer
          format: int32
        reps:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.RepEntry'
          xml:
            name: RepEntry
            wrapped: true
          type: array
        users:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.RedtailUser'
          xml:
            name: RedtailUser
            wrapped: true
          type: array
        partnerAppId:
          description: The unique ID of the partner app.
          type: integer
          format: int32
        productName:
          description: The unique name of the partner app product.
          type: string
      xml:
        name: FirmConfig
      type: object
    OAS.DataProcess.DTO.Integrations.Redtail.RedtailUser:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        repIds:
          items:
            type: integer
            format: int32
          type: array
        reps:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.DTO.Integrations.Redtail.RepEntry'
          xml:
            name: RepEntry
            wrapped: true
          type: array
      xml:
        name: RedtailUser
      type: object
    OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto:
      properties:
        key:
          type: integer
          format: int32
        productName:
          type: string
        termsAccepted:
          type: boolean
      xml:
        name: IntegrationSetupRequestDto
      type: object
    OAT.Integrations.Redtail.UserConfig:
      properties:
        userKey:
          type: string
        syncEnabled:
          type: boolean
        contactUpdatedId:
          type: integer
          format: int32
      xml:
        name: UserConfig
      type: object
    OAS.DataProcess.DTO.Integrations.Redtail.RepEntry:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        name:
          type: string
        repId:
          type: integer
          format: int32
      xml:
        name: RepEntry
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
