openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Custodian Dashboard API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/CustodianDashboard
paths:
  /v1/Integrations/CustodianDashboard/Account/{accountId}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_GetInitAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard get init async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/AccountBalance/Account/{accountId}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_GetAccountBalanceAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard get account balance async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/Alerts/Account/{accountId}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_GetAlertsAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard get alerts async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/Alerts/Account/{accountId}/{alertId}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_GetAlertDetailsAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: alertId
        in: path
        required: true
        schema:
          type: string
      - name: masterAccountNumber
        in: query
        required: false
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard get alert details async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/Auth/Account/{accountId}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_GetAuthAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard get auth async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/costbasis/positions/Account/{accountId}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_GetCostbasisPositionAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard get costbasis position async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/costbasis/transactions/Account/{accountId}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_GetCostbasisTransactionsAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard get costbasis transactions async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/Documents/Account/{accountId}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_GetDocumentsAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard get documents async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/Documents/Account/{accountId}/DocumentType/{documentType}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_DownloadDocumentAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: documentType
        in: path
        required: true
        schema:
          type: string
      - name: documentId
        in: query
        required: true
        schema:
          type: string
      - name: documentName
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard download document async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/Positions/Account/{accountId}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_GetPositionsAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard get positions async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/RefreshToken:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_RefreshTokenAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard refresh token async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/SI/AccountId/{accountId}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_StandInstructAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: masterAccount
        in: query
        required: false
        schema:
          type: string
      - name: account
        in: query
        required: false
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard stand instruct async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/SI/Details/AccountId/{accountId}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_StandInstructDetsAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: masterAccount
        in: query
        required: false
        schema:
          type: string
      - name: account
        in: query
        required: false
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard stand instruct dets async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/SI/Details/ByDetailId/{detailId}/master/{masterAccount}/account/{account}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_StandInstructByIdAsync
      parameters:
      - name: detailId
        in: path
        required: true
        schema:
          type: string
      - name: masterAccount
        in: path
        required: true
        schema:
          type: string
      - name: account
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard stand instruct by id async
      x-summary-source: derived
  /v1/Integrations/CustodianDashboard/Transactions/Account/{accountId}:
    get:
      tags:
      - Integrations/CustodianDashboard
      operationId: CustodianDashboard_GetTransactionsAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian dashboard get transactions async
      x-summary-source: derived
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
