openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Process Manager API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/ProcessManager
paths:
  /v1/Reporting/ProcessManager/ActionTypes:
    get:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_GetActionTypes
      parameters:
      - name: typeId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Process managers get action types
      x-summary-source: derived
  /v1/Reporting/ProcessManager/Dashboard:
    get:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_GetAllDashboardsOfType
      parameters:
      - name: workflowTypeId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerSimpleDto'
                xml:
                  name: ProcessManagerSimpleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerSimpleDto'
                xml:
                  name: ProcessManagerSimpleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerSimpleDto'
                xml:
                  name: ProcessManagerSimpleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerSimpleDto'
                xml:
                  name: ProcessManagerSimpleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerSimpleDto'
                xml:
                  name: ProcessManagerSimpleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerSimpleDto'
                xml:
                  name: ProcessManagerSimpleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Process managers get all dashboards of type
      x-summary-source: derived
    post:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_CreateNewDashboardAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
        required: true
      summary: Process managers create new dashboard async
      x-summary-source: derived
  /v1/Reporting/ProcessManager/Dashboard/{key}:
    get:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_GetDashboardAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
      security:
      - Authorization: []
      summary: Process managers get dashboard async
      x-summary-source: derived
    put:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_UpdateWorkflowAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
        required: true
      summary: Process managers update workflow async
      x-summary-source: derived
    delete:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Process managers delete
      x-summary-source: derived
  /v1/Reporting/ProcessManager/Dashboard/{key}/Action/Lockdown:
    put:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_LockdownDashboardAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessManagerDto'
      security:
      - Authorization: []
      summary: Process managers lockdown dashboard async
      x-summary-source: derived
  /v1/Reporting/ProcessManager/Dashboard/{key}/WorkflowAction/{workflowActionId}/Action/SignOff:
    put:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_Signoff
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: workflowActionId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto'
      security:
      - Authorization: []
      summary: Process managers signoff
      x-summary-source: derived
  /v1/Reporting/ProcessManager/Dashboard/{key}/WorkflowAction/{workflowActionId}/Action/SignOff/Lock:
    put:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_LockSignoff
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: workflowActionId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: isLocked
        in: query
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto'
      security:
      - Authorization: []
      summary: Process managers lock signoff
      x-summary-source: derived
  /v1/Reporting/ProcessManager/Dashboard/{key}/WorkflowAction/{workflowActionId}/Action/SignOff/Revoke:
    put:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_RewokeSignoff
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: workflowActionId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto'
      security:
      - Authorization: []
      summary: Process managers rewoke signoff
      x-summary-source: derived
  /v1/Reporting/ProcessManager/Dashboard/tasks:
    get:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_GetDashboardTasksAsync
      parameters:
      - name: period
        in: query
        required: true
        schema:
          type: string
          enum:
          - Quarterly
          - Monthly
          - TriAnnually
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Process managers get dashboard tasks async
      x-summary-source: derived
  /v1/Reporting/ProcessManager/Phases:
    get:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_GetPhases
      parameters:
      - name: typeId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Process managers get phases
      x-summary-source: derived
  /v1/Reporting/ProcessManager/Types:
    get:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_GetTypes
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Process managers get types
      x-summary-source: derived
  /v1/Reporting/ProcessManager/Workflows:
    get:
      tags:
      - Reporting/ProcessManager
      operationId: ProcessManagers_GetWorkflows
      parameters:
      - name: typeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.WorkflowItemDto'
                xml:
                  name: WorkflowItemDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.WorkflowItemDto'
                xml:
                  name: WorkflowItemDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.WorkflowItemDto'
                xml:
                  name: WorkflowItemDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.WorkflowItemDto'
                xml:
                  name: WorkflowItemDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.WorkflowItemDto'
                xml:
                  name: WorkflowItemDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.WorkflowItemDto'
                xml:
                  name: WorkflowItemDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Process managers get workflows
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Reporting.Qpe.WorkflowItemDto:
      properties:
        id:
          type: integer
          format: int32
        itemDesc:
          type: string
        actions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.WorkflowActionDto'
          xml:
            name: WorkflowActionDto
            wrapped: true
          type: array
      xml:
        name: WorkflowItemDto
      type: object
    OAS.DataProcess.DTO.Reporting.ProcessWorkflowPhaseDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        tasks:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto'
          xml:
            name: ProcessWorkflowDetailsDto
            wrapped: true
          type: array
      xml:
        name: ProcessWorkflowPhaseDto
      type: object
    OAS.DataProcess.DTO.Reporting.ProcessWorkflowDetailsDto:
      properties:
        workflowActionId:
          type: integer
          format: int32
        name:
          type: string
        typeId:
          type: integer
          format: int32
        type:
          type: string
        canSignOff:
          type: boolean
        signedOffDate:
          type: string
          format: date-time
        signedOffBy:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        data:
          type: object
        redirectUrl:
          type: string
        taskOffsetInDays:
          type: integer
          format: int32
        lockdownOption:
          type: string
          enum:
          - NoEffect
          - Prerequisite
          - EnabledOnLockdown
        couldBeAlteredByUser:
          type: boolean
        actionSequence:
          type: integer
          format: int32
        phaseSequence:
          type: integer
          format: int32
      xml:
        name: ProcessWorkflowDetailsDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Reporting.Qpe.WorkflowActionDto:
      properties:
        id:
          type: integer
          format: int32
        actionDesc:
          type: string
        completedDate:
          type: string
          format: date-time
        actionComment:
          type: string
        runnableClass:
          type: string
      xml:
        name: WorkflowActionDto
      type: object
    OAS.DataProcess.DTO.Reporting.ProcessManagerDto:
      properties:
        reviewTasks:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.DTO.Reporting.ProcessWorkflowPhaseDto'
          xml:
            name: ProcessWorkflowPhaseDto
            wrapped: true
          type: array
        completedPercent:
          type: number
          format: double
        id:
          type: integer
          format: int32
        typeId:
          type: integer
          format: int32
        title:
          type: string
        period:
          type: string
          enum:
          - Quarterly
          - Monthly
          - TriAnnually
        startDate:
          type: string
          format: date-time
        targetDate:
          type: string
          format: date-time
        signedOffBy:
          type: string
        signedOffDate:
          type: string
          format: date-time
        workflowItemId:
          type: integer
          format: int32
        isLockedDown:
          type: boolean
        isLegacy:
          type: boolean
        friendlyName:
          readOnly: true
          type: string
      xml:
        name: ProcessManagerDto
      type: object
    OAS.DataProcess.DTO.Reporting.ProcessManagerSimpleDto:
      properties:
        completedPercent:
          type: number
          format: double
        id:
          type: integer
          format: int32
        typeId:
          type: integer
          format: int32
        title:
          type: string
        period:
          type: string
          enum:
          - Quarterly
          - Monthly
          - TriAnnually
        startDate:
          type: string
          format: date-time
        targetDate:
          type: string
          format: date-time
        signedOffBy:
          type: string
        signedOffDate:
          type: string
          format: date-time
        workflowItemId:
          type: integer
          format: int32
        isLockedDown:
          type: boolean
        isLegacy:
          type: boolean
        friendlyName:
          readOnly: true
          type: string
      xml:
        name: ProcessManagerSimpleDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
