openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Sale Move API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/SaleMove
paths:
  /v1/Integrations/SaleMove/Cobrowse/{externalId}/Launch:
    get:
      tags:
      - Integrations/SaleMove
      summary: Method to redirect to Cobrowse session
      operationId: SaleMove_GetCobrowseLaunchRedirectUrlAsync
      parameters:
      - name: externalId
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/SaleMove/Cobrowse/{externalId}/Online:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GetVisitorOnlineAsync
      parameters:
      - name: externalId
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
      summary: Sale move get visitor online async
      x-summary-source: derived
  /v1/Integrations/SaleMove/Cobrowse/HasPrivilege:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_HasPrivilegeAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move has privilege async
      x-summary-source: derived
  /v1/Integrations/SaleMove/Cobrowse/Operator:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GetOperatorAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move get operator async
      x-summary-source: derived
    post:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_CreateOperator
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Glia.DTOs.OperatorPasswordDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Glia.DTOs.OperatorPasswordDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Glia.DTOs.OperatorPasswordDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Glia.DTOs.OperatorPasswordDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Glia.DTOs.OperatorPasswordDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Glia.DTOs.OperatorPasswordDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Glia.DTOs.OperatorPasswordDto'
        required: true
      summary: Sale move create operator
      x-summary-source: derived
  /v1/Integrations/SaleMove/Cobrowse/Rep:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_HasRepPrivilegeAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move has rep privilege async
      x-summary-source: derived
  /v1/Integrations/SaleMove/Cobrowse/SiteId:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GetSiteIdAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                example: 00000000-0000-0000-0000-000000000000
                type: string
                format: uuid
            application/json:
              schema:
                example: 00000000-0000-0000-0000-000000000000
                type: string
                format: uuid
            text/json:
              schema:
                example: 00000000-0000-0000-0000-000000000000
                type: string
                format: uuid
            application/xml:
              schema:
                example: 00000000-0000-0000-0000-000000000000
                type: string
                format: uuid
            text/xml:
              schema:
                example: 00000000-0000-0000-0000-000000000000
                type: string
                format: uuid
            multipart/form-data:
              schema:
                example: 00000000-0000-0000-0000-000000000000
                type: string
                format: uuid
      security:
      - Authorization: []
      summary: Sale move get site id async
      x-summary-source: derived
  /v1/Integrations/SaleMove/GliaRepChatSupport:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GliaRepChatSupportAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move glia rep chat support async
      x-summary-source: derived
  /v1/Integrations/SaleMove/GliaServiceTeam:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GetGliaService
      parameters:
      - name: serviceTeamId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move get glia service
      x-summary-source: derived
  /v1/Integrations/SaleMove/GliaServiceTeam/Add:
    post:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GliaServiceTeamAddAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
        required: true
      summary: Sale move glia service team add async
      x-summary-source: derived
  /v1/Integrations/SaleMove/GliaServiceTeam/Delete/{serviceTeamId}:
    delete:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GliaServiceTeamDeleteAsync
      parameters:
      - name: serviceTeamId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move glia service team delete async
      x-summary-source: derived
  /v1/Integrations/SaleMove/GliaServiceTeam/Update/{serviceTeamId}:
    put:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GliaServiceTeamUpdateAsync
      parameters:
      - name: serviceTeamId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.GliaServiceDto'
        required: true
      summary: Sale move glia service team update async
      x-summary-source: derived
  /v1/Integrations/SaleMove/Operator/{userId}:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GetOperatorFromUserIdAsync
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: alClientId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move get operator from user id async
      x-summary-source: derived
  /v1/Integrations/SaleMove/Operator/{userId}/Firm/{alClientId}:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GetOperatorFromUserIdAndAlClientIdAsync
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move get operator from user id and al client id async
      x-summary-source: derived
  /v1/Integrations/SaleMove/OrionSiteId:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GetOrionSiteIdAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move get orion site id async
      x-summary-source: derived
  /v1/Integrations/SaleMove/Premier:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GetPremierStatusAsync
      parameters:
      - name: alClientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move get premier status async
      x-summary-source: derived
  /v1/Integrations/SaleMove/PremierQueues:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_CheckPremierQueues
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move check premier queues
      x-summary-source: derived
  /v1/Integrations/SaleMove/Queues:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GetQueuesAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move get queues async
      x-summary-source: derived
  /v1/Integrations/SaleMove/SiteId/{alClientId}:
    get:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_GetSiteIdByAlClientIdAsync
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move get site id by al client id async
      x-summary-source: derived
    post:
      tags:
      - Integrations/SaleMove
      operationId: SaleMove_NewIdAsync
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sale move new id async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Security.GliaServiceDto:
      properties:
        team:
          type: string
        emailAddress:
          type: string
        phone:
          type: string
        chatUrl:
          type: string
        chatSecurityCode:
          type: string
        chatRouteIntendedRecipient:
          type: string
      xml:
        name: GliaServiceDto
      type: object
    OAT.Integrations.Glia.DTOs.OperatorPasswordDto:
      properties:
        password:
          type: string
      xml:
        name: OperatorPasswordDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
