openapi: 3.2.0
info:
  version: V1
  title: Orion Connect File Import/Instance API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: FileImport/Instance
paths:
  /v1/FileImport/Instance/{instanceId}:
    delete:
      tags:
      - FileImport/Instance
      summary: Delete the file import instance records. Does not delete the blobs
      operationId: FileImportInstance_DeleteFileImportInstanceAsync
      parameters:
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/FileImport/Instance/{instanceId}/Files:
    get:
      tags:
      - FileImport/Instance
      summary: Given an instance id, return a list of associated documents
      operationId: FileImportInstance_GetFileImportInstanceBlobs
      parameters:
      - name: instanceId
        in: path
        description: from uri, the instance id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobViewStatusDto'
                xml:
                  name: BlobViewStatusDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobViewStatusDto'
                xml:
                  name: BlobViewStatusDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobViewStatusDto'
                xml:
                  name: BlobViewStatusDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobViewStatusDto'
                xml:
                  name: BlobViewStatusDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobViewStatusDto'
                xml:
                  name: BlobViewStatusDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobViewStatusDto'
                xml:
                  name: BlobViewStatusDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/FileImport/Instance/Files/UpdateViewStatus:
    post:
      tags:
      - FileImport/Instance
      summary: Update the status for the files to make them hidden or viewable to clients
      operationId: FileImportInstance_UpdateViewStatus
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobViewStatusDto'
              xml:
                name: BlobViewStatusDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobViewStatusDto'
              xml:
                name: BlobViewStatusDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobViewStatusDto'
              xml:
                name: BlobViewStatusDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobViewStatusDto'
              xml:
                name: BlobViewStatusDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobViewStatusDto'
              xml:
                name: BlobViewStatusDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobViewStatusDto'
              xml:
                name: BlobViewStatusDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobViewStatusDto'
              xml:
                name: BlobViewStatusDto
                wrapped: true
              type: array
        description: list of files we want to change view status
        required: true
  /v1/FileImport/Instance/List:
    get:
      tags:
      - FileImport/Instance
      summary: Get list of all file import instances
      operationId: FileImportInstance_GetFileImportInstances
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportInstanceDto'
                xml:
                  name: FileImportInstanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportInstanceDto'
                xml:
                  name: FileImportInstanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportInstanceDto'
                xml:
                  name: FileImportInstanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportInstanceDto'
                xml:
                  name: FileImportInstanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportInstanceDto'
                xml:
                  name: FileImportInstanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.FileImportInstanceDto'
                xml:
                  name: FileImportInstanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.BlobViewStatusDto:
      properties:
        isViewable:
          type: boolean
        blobTextChecksum:
          type: string
          format: byte
        isViewableAdvisor:
          type: boolean
        isViewableRep:
          type: boolean
        createdDate:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        openWith:
          type: string
        fileName:
          type: string
        blobDesc:
          type: string
        blobText:
          type: string
        category:
          type: string
        isZip:
          type: boolean
      xml:
        name: BlobViewStatusDto
      type: object
    OAS.WebApi.DTO.Portfolio.BlobBaseDto:
      properties:
        createdDate:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        openWith:
          type: string
        fileName:
          type: string
        blobDesc:
          type: string
        blobText:
          type: string
        category:
          type: string
        isZip:
          type: boolean
      xml:
        name: BlobBaseDto
      type: object
    OAS.WebApi.DTO.Utility.FileImportInstanceDto:
      properties:
        id:
          type: integer
          format: int32
        uiguid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        name:
          type: string
        createdDate:
          type: string
          format: date-time
        fileCount:
          type: integer
          format: int32
      xml:
        name: FileImportInstanceDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
