openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Platform Types API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/PlatformTypes
paths:
  /v1/Portfolio/PlatformTypes:
    get:
      tags:
      - Portfolio/PlatformTypes
      summary: Gets a list of platform typess that the logged in user has access to
      operationId: PlatformTypes_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformTypeDto'
                xml:
                  name: PlatformTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformTypeDto'
                xml:
                  name: PlatformTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformTypeDto'
                xml:
                  name: PlatformTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformTypeDto'
                xml:
                  name: PlatformTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformTypeDto'
                xml:
                  name: PlatformTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformTypeDto'
                xml:
                  name: PlatformTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/PlatformTypes/Simple:
    get:
      tags:
      - Portfolio/PlatformTypes
      operationId: PlatformTypes_GetSimpleAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Platform types get simple all
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.PlatformTypeDto:
      properties:
        id:
          type: integer
          format: int32
        type:
          type: string
      xml:
        name: PlatformTypeDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
