openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Performance/Batch API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Performance/Batch
paths:
  /v1/Performance/Batch:
    get:
      tags:
      - Performance/Batch
      summary: Gets a list of performance Batches that the logged in user has access to
      operationId: PerformanceBatch_GetAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchDto'
                xml:
                  name: PerformanceBatchDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchDto'
                xml:
                  name: PerformanceBatchDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchDto'
                xml:
                  name: PerformanceBatchDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchDto'
                xml:
                  name: PerformanceBatchDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchDto'
                xml:
                  name: PerformanceBatchDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchDto'
                xml:
                  name: PerformanceBatchDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Performance/Batch/{key}:
    get:
      tags:
      - Performance/Batch
      summary: Gets the performance Batches with the provided key.
      operationId: PerformanceBatch_GetByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchDto'
      security:
      - Authorization: []
    delete:
      tags:
      - Performance/Batch
      summary: Deletes a performance Batch
      operationId: PerformanceBatch_DeletePerformanceBatch
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Performance/Batch/{performanceBatchId}/Details:
    post:
      tags:
      - Performance/Batch
      summary: Gets a list of details for the provided performance batch id that the logged in…
      operationId: PerformanceBatchEntities_GetAllPivottedByTimeframeAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: performanceBatchId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailDto'
                xml:
                  name: PerformanceBatchEntityDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailDto'
                xml:
                  name: PerformanceBatchEntityDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailDto'
                xml:
                  name: PerformanceBatchEntityDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailDto'
                xml:
                  name: PerformanceBatchEntityDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Performance/Batch/{performanceBatchId}/Details/ByEntities:
    post:
      tags:
      - Performance/Batch
      summary: Gets a list of details for the provided performance batch id that the logged in…
      operationId: PerformanceBatchEntities_GetDetailsByEntitiesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: performanceBatchId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDto'
                xml:
                  name: PerformanceBatchEntityDetailPivotDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDto'
                xml:
                  name: PerformanceBatchEntityDetailPivotDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDto'
                xml:
                  name: PerformanceBatchEntityDetailPivotDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDto'
                xml:
                  name: PerformanceBatchEntityDetailPivotDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDto'
                xml:
                  name: PerformanceBatchEntityDetailPivotDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDto'
                xml:
                  name: PerformanceBatchEntityDetailPivotDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Performance/Batch/{performanceBatchId}/Entities:
    get:
      tags:
      - Performance/Batch
      summary: Gets a list of entities for the provided performance batch id that the logged…
      operationId: PerformanceBatchEntities_GetAllAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: performanceBatchId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDto'
                xml:
                  name: PerformanceBatchEntityDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDto'
                xml:
                  name: PerformanceBatchEntityDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDto'
                xml:
                  name: PerformanceBatchEntityDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDto'
                xml:
                  name: PerformanceBatchEntityDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDto'
                xml:
                  name: PerformanceBatchEntityDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDto'
                xml:
                  name: PerformanceBatchEntityDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Performance/Batch/{performanceBatchId}/Entities/Action/Generate:
    post:
      tags:
      - Performance/Batch
      summary: Used generate the performance data of the batch
      operationId: PerformanceBatchEntities_GenerateComparisonsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: performanceBatchId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: Optional. If provided only the items included will be updated. If omitted all items in the batch will be updated.
        required: true
    delete:
      tags:
      - Performance/Batch
      summary: Used to stop batch generation
      operationId: PerformanceBatchEntities_CancelGenerateComparisonsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: performanceBatchId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Performance/Batch/{performanceBatchId}/Entities/Action/Reset:
    post:
      tags:
      - Performance/Batch
      summary: Used to reset some of the entities in the performance batch
      operationId: PerformanceBatchEntities_ResetEntityAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: performanceBatchId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: Only the items included will be reset. If omitted an error will be returned.
        required: true
  /v1/Performance/Batch/{sourcePerformanceBatchId}/Details/Compare:
    post:
      tags:
      - Performance/Batch
      summary: Compare Two Batches
      operationId: PerformanceBatchEntities_CompareBatchesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: sourcePerformanceBatchId
        in: path
        description: Source Batch ID to base comparison off of
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/System.ValueTupleOfOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDataAndOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotData'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/System.ValueTupleOfOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDataAndOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotData'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/System.ValueTupleOfOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDataAndOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotData'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/System.ValueTupleOfOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDataAndOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotData'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/System.ValueTupleOfOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDataAndOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotData'
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/System.ValueTupleOfOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDataAndOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotData'
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: integer
              format: int32
          application/json:
            schema:
              type: integer
              format: int32
          text/json:
            schema:
              type: integer
              format: int32
          application/xml:
            schema:
              type: integer
              format: int32
          text/xml:
            schema:
              type: integer
              format: int32
          application/x-www-form-urlencoded:
            schema:
              type: integer
              format: int32
          multipart/form-data:
            schema:
              type: integer
              format: int32
        description: Batch ID for compare batch
        required: true
  /v1/Performance/Batch/Action/ConcurrentEntityExecutionInfo:
    get:
      tags:
      - Performance/Batch
      operationId: PerformanceBatch_GetConcurrentEntityExecutionInfo
      parameters:
      - name: clear
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Caching.IDistributedSemaphoreInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Caching.IDistributedSemaphoreInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Caching.IDistributedSemaphoreInfo'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Caching.IDistributedSemaphoreInfo'
      security:
      - Authorization: []
      summary: Performance batch get concurrent entity execution info
      x-summary-source: derived
  /v1/Performance/Batch/Action/RefreshConcurrentEntityExecutionLimit:
    post:
      tags:
      - Performance/Batch
      operationId: PerformanceBatch_RefreshConcurrentEntityExecutionLimit
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      summary: Performance batch refresh concurrent entity execution limit
      x-summary-source: derived
  /v1/Performance/Batch/Verbose:
    get:
      tags:
      - Performance/Batch
      operationId: PerformanceBatchVerbose_GetVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - General
            - Options
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
                xml:
                  name: PerformanceBatchVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
                xml:
                  name: PerformanceBatchVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
                xml:
                  name: PerformanceBatchVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
                xml:
                  name: PerformanceBatchVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
                xml:
                  name: PerformanceBatchVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
                xml:
                  name: PerformanceBatchVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Performance batch verbose get verbose
      x-summary-source: derived
    post:
      tags:
      - Performance/Batch
      summary: Create new Performance Batch
      operationId: PerformanceBatchVerbose_CreateVerboseBatchAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: beginGeneration
        in: query
        description: 'Default: false. When true the batch generation will be started after batch has been successfully created. Generation will not be started if batch was not successfully created.'
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
        required: true
  /v1/Performance/Batch/Verbose/{key}:
    get:
      tags:
      - Performance/Batch
      operationId: PerformanceBatchVerbose_GetVerboseByKeyAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - General
            - Options
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
      security:
      - Authorization: []
      summary: Performance batch verbose get verbose by key async
      x-summary-source: derived
  /v1/Performance/Batch/Verbose/{key}/Description:
    put:
      tags:
      - Performance/Batch
      summary: Batch Description for Performance Batch
      description: ''
      operationId: PerformanceBatchVerbose_UpdateBatchDescriptionAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: The Performance Batch id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: string
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/xml:
            schema:
              type: string
          text/xml:
            schema:
              type: string
          application/x-www-form-urlencoded:
            schema:
              type: string
          multipart/form-data:
            schema:
              type: string
        required: true
  /v1/Performance/Batch/Verbose/{performanceBatchId}/Copy:
    post:
      tags:
      - Performance/Batch
      summary: Create a Copy of a Performance Batch for Compare Purposes
      operationId: PerformanceBatchVerbose_CopyPerformanceBatchAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: performanceBatchId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
  /v1/Performance/Batch/Verbose/GroupingOptions:
    get:
      tags:
      - Performance/Batch
      summary: Linked security classification groupings for Batch Performance (same data as…
      operationId: PerformanceBatchVerbose_GetSecurityClassificationGroupingOptionsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Reporting.Envision.CalculationGroupingOption'
                xml:
                  name: CalculationGroupingOption
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Reporting.Envision.CalculationGroupingOption'
                xml:
                  name: CalculationGroupingOption
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Reporting.Envision.CalculationGroupingOption'
                xml:
                  name: CalculationGroupingOption
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Reporting.Envision.CalculationGroupingOption'
                xml:
                  name: CalculationGroupingOption
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Performance/Batch/Verbose/New:
    get:
      tags:
      - Performance/Batch
      operationId: PerformanceBatchVerbose_GetNewVerboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto'
      security:
      - Authorization: []
      summary: Performance batch verbose get new verbose async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Performance.PerformanceBatchVerboseGroupingDto:
      properties:
        grouping:
          type: string
          enum:
          - Self
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - FundFamily
          - Platform
          - Custodian
          - AggregateModel
          - DynamicGrouping
          - AssetClass
          - AssetLevelStrategy
          - AssetCategory
          - RiskCategory
          - AccountType
          - RegistrationTaxType
          - ProductType
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - ProductVintageYear
          - ProductSubType
          - AssetCategoryParent
          - PortfolioGroup
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - MaturityPeriod
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - MorningstarGeography
          - BillEntityType
          - ProductSubHolding
          - Country
          - Currency
          - CustomGrouping
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - Prospect
          - Transaction
          - Comparison
          - CostBasisLot
          - ModelInclusion
          - ContextChanges
          - ActivityOptions
          - DateRanges
          - Time
          - Bill
          - Beneficiary
          - Trustee
          - Systematic
          - BillTier
          - BillAdjustment
          - FeeSchedules
          - BillCashflow
          - ModelVsActual
          - BillAssetLevel
          - HouseholdMember
          - CustomIndexing
          - ProspectAccount
          - CustomIndexingScenario
          - ProspectAssetClass
          - ProspectAssetCategory
          - CustomIndexingPreference
          - ProspectMandate
          - ProspectComparisonAssetClass
          - ProspectComparisonAssetCategory
          - ProspectComparisonHolding
          - ProspectHolding
          - ProspectModelAgg
          - ProspectAccountStressTestsGrouped
          - ProspectAccountStressTestScenario
          - ProspectComparisonStressTestsGrouped
          - ProspectComparisonStressTestScenario
          - ProspectStressTestsGrouped
          - ProspectStressTestScenario
          - ProspectAccountCorrelation
          - ProspectComparisonAccountCorrelation
          - ProspectCorrelation
          - ProspectOrionPlanningCurrentGoal
          - ProspectOrionPlanningProposedGoal
          - ProspectOrionPlanningCurrentGoalResults
          - ProspectOrionPlanningProposedGoalResults
          - ProspectOrionPlanningCurrentGoalStepsResults
          - ProspectOrionPlanningProposedGoalStepsResults
          - ProspectHoldingSectorResults
          - ProspectHoldingGeographyResults
          - ProspectAccountHoldingSectorResults
          - ProspectAccountHoldingGeographyResults
          - ProspectComparisonAccountHoldingSectorResults
          - ProspectComparisonAccountHoldingGeographyResults
          - ProspectOrionPlanningNetWorth
          - ProspectSelfDirectedResults
          - ProspectSelfDirectedAssetClass
          - ProspectSelfDirectedAssetCategory
          - ProspectHouseholdMembers
          - ProspectStrategist
          - ProspectWeightedAssetClass
          - ProspectAccountWeightedAssetClass
          - BillingRelatedAccounts
          - ProspectAccountBlendedFactSheet
          - CustomIndexingBuys
          - CustomIndexingSells
          - ProspectBlendedAssetClasses
          - ProspectBlendedAssetCategories
          - ProspectOrionPlanningCurrentNetWorthAssetClasses
          - ProspectOrionPlanningProposedNetWorthAssetClasses
          - ProspectOrionPlanningNetWorthAsset
          - ProspectOrionPlanningCurrentNetWorthAssetCategories
          - ProspectOrionPlanningProposedNetWorthAssetCategories
          - ProspectOrionPlanningCurrentAssetCategories
          - ProspectOrionPlanningProposedAssetCategories
          - ProspectOrionPlanningCurrentAssetClasses
          - ProspectOrionPlanningProposedAssetClasses
          - ProspectComparisonHouseholdManualAccounts
          - AdHocGrouping
        groupings:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseGroupingDto'
          xml:
            name: PerformanceBatchVerboseGroupingDto
            wrapped: true
          type: array
      xml:
        name: PerformanceBatchVerboseGroupingDto
      type: object
    OAS.WebApi.DTO.Performance.PerformanceBatchVerboseReadOnlyOptionsDto:
      properties:
        localPriceCutOverDate:
          type: string
          format: date-time
        dividendAccrualStartDate:
          type: string
          format: date-time
        allowDividendAccrual:
          type: boolean
        dailyInterestAccrual:
          $ref: '#/components/schemas/OAS.DataModel.Settings.DailyInterestAccrualEntityOptionValue'
        feeAccrual:
          $ref: '#/components/schemas/OAS.DataModel.Settings.FeeAccrualEntityOptionValue'
        forceAssetGroupingIntraday:
          type: boolean
      xml:
        name: PerformanceBatchVerboseReadOnlyOptionsDto
      type: object
    OAS.WebApi.DTO.Performance.PerformanceBatchVerboseGeneralDto:
      properties:
        runForEntity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        description:
          type: string
        showBenchmarks:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedBy:
          type: string
      xml:
        name: PerformanceBatchVerboseGeneralDto
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationPerformanceOptionDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        calculationMethod:
          type: string
          enum:
          - TWR
          - Simple
          - IRR
        includeAccruedInterest:
          type: boolean
        calcGrossOfFees:
          type: boolean
        calcFirstDayPerformance:
          type: boolean
        calcIntraDayPerformance:
          type: boolean
        annualize:
          type: boolean
        annualizeIncludeDaysWithoutValue:
          type: boolean
        flipSignForShort:
          type: boolean
        suppressMixedRanges:
          type: boolean
        suppressMixedAssetLevelGroups:
          type: boolean
        includeAIPLedger:
          type: boolean
        calcAfterTax:
          type: boolean
        intradayCalculationMethod:
          type: string
          enum:
          - Standard
          - Enhanced
          - MarginEnhanced
      xml:
        name: VerboseCalculationPerformanceOptionDto
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        displayName:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        dataMustExistOnRangeStartDate:
          type: boolean
        dataMustExistOnRangeEndDate:
          type: boolean
        allowStartDateAdjustment:
          type: boolean
        startDateMethod:
          type: string
          enum:
          - Inception
          - HoldingPeriod
          - AIPLedger
      xml:
        name: VerboseCalculationDateRangeDto
      type: object
    OAT.Utilities.Date.IDate:
      properties:
        date:
          readOnly: true
          type: string
          format: date-time
        year:
          readOnly: true
          type: integer
          format: int32
        month:
          readOnly: true
          type: integer
          format: int32
        day:
          readOnly: true
          type: integer
          format: int32
      xml:
        name: IDate
      type: object
    OAS.WebApi.DTO.Interface.AdditionalColumnDefinition:
      properties:
        key:
          type: string
        value:
          type: string
      xml:
        name: AdditionalColumnDefinition
      type: object
    OAS.Caching.IDistributedSemaphoreInfo:
      properties:
        name:
          readOnly: true
          type: string
        limit:
          readOnly: true
          type: integer
          format: int32
        maxLockTime:
          readOnly: true
          type: string
        locksGiven:
          readOnly: true
          type: integer
          format: int32
        locks:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: IDistributedSemaphoreInfo
      type: object
    OAS.WebApi.DTO.Performance.PerformanceBatchDto:
      properties:
        id:
          type: integer
          format: int32
        batchName:
          type: string
        runForEntity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        description:
          type: string
        auditedDate:
          type: string
          format: date-time
        auditedBy:
          type: string
        hangfireJobId:
          type: string
      xml:
        name: PerformanceBatchDto
      type: object
    OAS.DataModel.Settings.DailyInterestAccrualEntityOptionValue:
      required:
      - enabled
      - dailyReturnThreshold
      - maxDays
      properties:
        enabled:
          type: boolean
        startDate:
          type: string
          format: date-time
        dailyReturnThreshold:
          type: number
          format: double
        maxDays:
          type: integer
          format: int32
      xml:
        name: DailyInterestAccrualEntityOptionValue
      type: object
    OAS.WebApi.DTO.Performance.PerformanceBatchVerboseOptionsDto:
      properties:
        performanceOptions:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationPerformanceOptionDto'
        afterTaxActivityOptionId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        afterTaxActivityOptionName:
          type: string
        dynamicGroupingId:
          type: integer
          format: int32
        entitySelectionMethod:
          type: string
          enum:
          - Manual
          - DynamicGroup
          - CustomReport
          - All
          - Active
          - ActiveWithValue
          - BillInstance
        accountInclusion:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
        entityIds:
          items:
            type: integer
            format: int32
          type: array
        unmanagedInclusionOverride:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
        dateRanges:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeDto'
          xml:
            name: VerboseCalculationDateRangeDto
            wrapped: true
          type: array
        filters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseFilterDto'
          xml:
            name: PerformanceBatchVerboseFilterDto
            wrapped: true
          type: array
        groupings:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseGroupingDto'
          xml:
            name: PerformanceBatchVerboseGroupingDto
            wrapped: true
          type: array
        readOnlyOptions:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseReadOnlyOptionsDto'
      xml:
        name: PerformanceBatchVerboseOptionsDto
      type: object
    OAS.WebApi.DTO.Performance.PerformanceBatchVerboseFilterDto:
      properties:
        filterBy:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        ids:
          items:
            type: integer
            format: int32
          type: array
      xml:
        name: PerformanceBatchVerboseFilterDto
      type: object
    OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotData:
      properties:
        performanceBatchEntityDetailId:
          type: integer
          format: int32
        timeframe:
          type: string
        beginningMarketValue:
          type: number
          format: double
        endingMarketValue:
          type: number
          format: double
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        performance:
          type: number
          format: double
        benchmarkName:
          type: string
        entityPath:
          type: string
      xml:
        name: PerformanceBatchEntityDetailPivotData
      type: object
    OAS.WebApi.DTO.Performance.PerformanceBatchVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        batchName:
          type: string
        general:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseGeneralDto'
        options:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchVerboseOptionsDto'
      xml:
        name: PerformanceBatchVerboseDto
      type: object
    OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailDto:
      properties:
        id:
          type: integer
          format: int32
        performanceBatchId:
          type: integer
          format: int32
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        groupId:
          type: integer
          format: int32
        groupEntityId:
          type: integer
          format: int32
        groupEntityName:
          type: string
        groupEntityEnum:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        benchmarkId:
          type: integer
          format: int32
        benchmarkName:
          type: string
        timeframe:
          type: string
        startDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        endDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        beginningMarketValue:
          type: number
          format: double
        endingMarketValue:
          type: number
          format: double
        performance:
          type: number
          format: double
        entityPath:
          type: string
      xml:
        name: PerformanceBatchEntityDetailDto
      type: object
    OAS.DataModel.Settings.FeeAccrualEntityOptionValue:
      required:
      - enabled
      - impactThreshold
      - maxDays
      properties:
        enabled:
          type: boolean
        startDate:
          type: string
          format: date-time
        impactThreshold:
          type: number
          format: double
        maxDays:
          type: integer
          format: int32
      xml:
        name: FeeAccrualEntityOptionValue
      type: object
    OAS.WebApi.DTO.Performance.PerformanceBatchEntityDto:
      properties:
        runForEntity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        generationStatus:
          type: string
          enum:
          - NotGenerated
          - Errored
          - Generated
          - PendingGeneration
          - DoNotGenerate
        errorText:
          type: string
      xml:
        name: PerformanceBatchEntityDto
      type: object
    OAS.DataAccess.Domains.Reporting.Envision.CalculationGroupingOption:
      properties:
        options:
          items:
            type: string
            enum:
            - ReportCategory
            - DateRange
            - Performance
            - Comparison
            - Activity
            - Income
            - Trading
            - Size
            - Statistical
            - Billing
            - CostBasis
            - Calculation
            - Prompt
            - Sma
            - MaturityPeriod
            - LimitMethod
            - WeightedBenchmarkGrouping
            - TaxInceptionType
            - CostPerShareMethod
            - MaskString
          xml:
            name: PlaceholderOptionType
            wrapped: true
          type: array
        additionalOptions:
          items:
            type: string
            enum:
            - ReportCategory
            - DateRange
            - Performance
            - Comparison
            - Activity
            - Income
            - Trading
            - Size
            - Statistical
            - Billing
            - CostBasis
            - Calculation
            - Prompt
            - Sma
            - MaturityPeriod
            - LimitMethod
            - WeightedBenchmarkGrouping
            - TaxInceptionType
            - CostPerShareMethod
            - MaskString
          xml:
            name: PlaceholderOptionType
            wrapped: true
          type: array
        optionLists:
          items:
            type: string
            enum:
            - ReportCategory
            - DateRange
            - Performance
            - Comparison
            - Activity
            - Income
            - Trading
            - Size
            - Statistical
            - Billing
            - CostBasis
            - Calculation
            - Prompt
            - Sma
            - MaturityPeriod
            - LimitMethod
            - WeightedBenchmarkGrouping
            - TaxInceptionType
            - CostPerShareMethod
            - MaskString
          xml:
            name: PlaceholderOptionType
            wrapped: true
          type: array
        allowedEntityType:
          items:
            type: string
            enum:
            - AssetBased
            - Prospect
            - SecurityClassification
          xml:
            name: PlaceholderEntityType
            wrapped: true
          type: array
        grouping:
          readOnly: true
          type: string
          enum:
          - Self
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - FundFamily
          - Platform
          - Custodian
          - AggregateModel
          - DynamicGrouping
          - AssetClass
          - AssetLevelStrategy
          - AssetCategory
          - RiskCategory
          - AccountType
          - RegistrationTaxType
          - ProductType
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - ProductVintageYear
          - ProductSubType
          - AssetCategoryParent
          - PortfolioGroup
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - MaturityPeriod
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - MorningstarGeography
          - BillEntityType
          - ProductSubHolding
          - Country
          - Currency
          - CustomGrouping
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - Prospect
          - Transaction
          - Comparison
          - CostBasisLot
          - ModelInclusion
          - ContextChanges
          - ActivityOptions
          - DateRanges
          - Time
          - Bill
          - Beneficiary
          - Trustee
          - Systematic
          - BillTier
          - BillAdjustment
          - FeeSchedules
          - BillCashflow
          - ModelVsActual
          - BillAssetLevel
          - HouseholdMember
          - CustomIndexing
          - ProspectAccount
          - CustomIndexingScenario
          - ProspectAssetClass
          - ProspectAssetCategory
          - CustomIndexingPreference
          - ProspectMandate
          - ProspectComparisonAssetClass
          - ProspectComparisonAssetCategory
          - ProspectComparisonHolding
          - ProspectHolding
          - ProspectModelAgg
          - ProspectAccountStressTestsGrouped
          - ProspectAccountStressTestScenario
          - ProspectComparisonStressTestsGrouped
          - ProspectComparisonStressTestScenario
          - ProspectStressTestsGrouped
          - ProspectStressTestScenario
          - ProspectAccountCorrelation
          - ProspectComparisonAccountCorrelation
          - ProspectCorrelation
          - ProspectOrionPlanningCurrentGoal
          - ProspectOrionPlanningProposedGoal
          - ProspectOrionPlanningCurrentGoalResults
          - ProspectOrionPlanningProposedGoalResults
          - ProspectOrionPlanningCurrentGoalStepsResults
          - ProspectOrionPlanningProposedGoalStepsResults
          - ProspectHoldingSectorResults
          - ProspectHoldingGeographyResults
          - ProspectAccountHoldingSectorResults
          - ProspectAccountHoldingGeographyResults
          - ProspectComparisonAccountHoldingSectorResults
          - ProspectComparisonAccountHoldingGeographyResults
          - ProspectOrionPlanningNetWorth
          - ProspectSelfDirectedResults
          - ProspectSelfDirectedAssetClass
          - ProspectSelfDirectedAssetCategory
          - ProspectHouseholdMembers
          - ProspectStrategist
          - ProspectWeightedAssetClass
          - ProspectAccountWeightedAssetClass
          - BillingRelatedAccounts
          - ProspectAccountBlendedFactSheet
          - CustomIndexingBuys
          - CustomIndexingSells
          - ProspectBlendedAssetClasses
          - ProspectBlendedAssetCategories
          - ProspectOrionPlanningCurrentNetWorthAssetClasses
          - ProspectOrionPlanningProposedNetWorthAssetClasses
          - ProspectOrionPlanningNetWorthAsset
          - ProspectOrionPlanningCurrentNetWorthAssetCategories
          - ProspectOrionPlanningProposedNetWorthAssetCategories
          - ProspectOrionPlanningCurrentAssetCategories
          - ProspectOrionPlanningProposedAssetCategories
          - ProspectOrionPlanningCurrentAssetClasses
          - ProspectOrionPlanningProposedAssetClasses
          - ProspectComparisonHouseholdManualAccounts
          - AdHocGrouping
        value:
          readOnly: true
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
          enum:
          - Account
          - Activity
          - Alternatives
          - Asset
          - Benchmark
          - Billing
          - CostBasis
          - CustomIndexing
          - DateTime
          - Firm
          - Household
          - Product
          - Prospect
          - Registration
          - TargetAllocation
          - Trading
          - Other
          - Blended
        isAssetBased:
          readOnly: true
          type: boolean
      xml:
        name: CalculationGroupingOption
      type: object
    OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDto:
      properties:
        performanceBatchId:
          type: integer
          format: int32
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        groupId:
          type: integer
          format: int32
        groupEntityId:
          type: integer
          format: int32
        groupEntityName:
          type: string
        groupEntityEnum:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        benchmarkId:
          type: integer
          format: int32
        benchmarkName:
          readOnly: true
          type: string
        additionalColumns:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Interface.AdditionalColumnDefinition'
          readOnly: true
          xml:
            name: AdditionalColumnDefinition
            wrapped: true
          type: array
        ids:
          items:
            type: integer
            format: int32
          readOnly: true
          type: array
        entityPath:
          readOnly: true
          type: string
      xml:
        name: PerformanceBatchEntityDetailPivotDto
      type: object
    ? System.ValueTupleOfOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotDataAndOAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotData
    : properties:
        item1:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotData'
        item2:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceBatchEntityDetailPivotData'
      xml:
        name: ValueTuple`2
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
