openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Onboarding API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Onboarding
paths:
  /v1/Integrations/Onboarding/ConversionSources:
    get:
      tags:
      - Integrations/Onboarding
      summary: Get all ConversionSources
      operationId: ConversionSources_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
                xml:
                  name: ConversionSourceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
                xml:
                  name: ConversionSourceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
                xml:
                  name: ConversionSourceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
                xml:
                  name: ConversionSourceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
                xml:
                  name: ConversionSourceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
                xml:
                  name: ConversionSourceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/Onboarding
      summary: Adds a new ConversionSource to the database
      operationId: ConversionSources_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
        description: ConversionSource object to create
        required: true
  /v1/Integrations/Onboarding/ConversionSources/{key}:
    get:
      tags:
      - Integrations/Onboarding
      summary: Gets the ConversionSource that has the provided key.
      operationId: ConversionSources_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Onboarding
      summary: Updates the ConversionSource that has the provided key.
      operationId: ConversionSources_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired update object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
        description: ConversionSource object to update
        required: true
  /v1/Integrations/Onboarding/ConversionSources/checkprogress:
    post:
      tags:
      - Integrations/Onboarding
      operationId: ConversionSources_checkProgress
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int64
            application/json:
              schema:
                type: integer
                format: int64
            text/json:
              schema:
                type: integer
                format: int64
            application/xml:
              schema:
                type: integer
                format: int64
            text/xml:
              schema:
                type: integer
                format: int64
            multipart/form-data:
              schema:
                type: integer
                format: int64
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.FileDataDTO'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.FileDataDTO'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.FileDataDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.FileDataDTO'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.FileDataDTO'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.FileDataDTO'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.FileDataDTO'
        required: true
      summary: Conversion sources check progress
      x-summary-source: derived
  /v1/Integrations/Onboarding/ConversionSources/chunkCreate:
    post:
      tags:
      - Integrations/Onboarding
      operationId: ConversionSources_mergeFilesAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ChunkDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ChunkDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ChunkDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ChunkDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ChunkDto'
        required: true
      summary: Conversion sources merge files async
      x-summary-source: derived
  /v1/Integrations/Onboarding/ConversionSources/Types:
    get:
      tags:
      - Integrations/Onboarding
      summary: Get all ConversionTypes
      operationId: ConversionSources_GetAllConversionTypes
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionTypeDto'
                xml:
                  name: ConversionTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionTypeDto'
                xml:
                  name: ConversionTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionTypeDto'
                xml:
                  name: ConversionTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionTypeDto'
                xml:
                  name: ConversionTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionTypeDto'
                xml:
                  name: ConversionTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Onboarding.ConversionTypeDto'
                xml:
                  name: ConversionTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Integrations.Onboarding.ChunkDto:
      properties:
        _chunkSize:
          type: integer
          format: int32
        _currentChunkSize:
          type: integer
          format: int32
        _chunkNumber:
          type: integer
          format: int32
        _totalSize:
          type: integer
          format: int32
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
        conversionSourceId:
          type: integer
          format: int32
      xml:
        name: ChunkDto
      type: object
    OAS.WebApi.DTO.Integrations.Onboarding.FileDataDTO:
      properties:
        name:
          type: string
        size:
          type: integer
          format: int64
        conversionSourceId:
          type: integer
          format: int32
      xml:
        name: FileDataDTO
      type: object
    OAS.WebApi.DTO.Integrations.Onboarding.ConversionTypeDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        fileMask:
          type: string
      xml:
        name: ConversionTypeDto
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.WebApi.DTO.Integrations.Onboarding.ConversionSourceDto:
      properties:
        id:
          type: integer
          format: int32
        conversionTypeId:
          type: integer
          format: int32
        conversionStatusId:
          type: integer
          format: int32
        description:
          type: string
        clientHistId:
          type: integer
          format: int32
        notes:
          type: string
        setLocalPriceCutover:
          type: boolean
        ibpNumber:
          type: integer
          format: int32
        programmerAssigned:
          type: string
        internalData:
          type: boolean
        type:
          type: string
        status:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
      xml:
        name: ConversionSourceDto
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
