openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Bill Asset Item API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/BillAssetItem
paths:
  /v1/Billing/BillAssetItem/{key}:
    get:
      tags:
      - Billing/BillAssetItem
      operationId: BillAssetItem_GetBillAssetItemByBillAccountItemKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAssetItemDto'
                xml:
                  name: BillAssetItemDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAssetItemDto'
                xml:
                  name: BillAssetItemDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAssetItemDto'
                xml:
                  name: BillAssetItemDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAssetItemDto'
                xml:
                  name: BillAssetItemDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAssetItemDto'
                xml:
                  name: BillAssetItemDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillAssetItemDto'
                xml:
                  name: BillAssetItemDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Bill asset item get bill asset item by bill account item key
      x-summary-source: derived
  /v1/Billing/BillAssetItem/{key}/export:
    get:
      tags:
      - Billing/BillAssetItem
      operationId: BillAssetItem_toExcelFile
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Bill asset item to excel file
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Billing.BillAssetItemDto:
      properties:
        id:
          type: integer
          format: int32
        fkBillAccountItem:
          type: integer
          format: int32
        fkAsset:
          type: integer
          format: int32
        cPricePerShare:
          type: number
          format: double
        cBillMktvalue:
          type: number
          format: double
        cFeeAmount:
          type: number
          format: double
        dtEditDate:
          type: string
          format: date-time
        sEditedBy:
          type: string
        dtCreateDate:
          type: string
          format: date-time
        sCreatedBy:
          type: string
        billShares:
          type: number
          format: double
        transDate:
          type: string
          format: date-time
        assetProportion:
          type: number
          format: double
        tieredVal:
          type: number
          format: double
        fkTransaction:
          type: integer
          format: int32
        fkBillInstance:
          type: integer
          format: int32
        accruedInterest:
          type: number
          format: double
        assetAccountNumber:
          type: string
        productName:
          type: string
      xml:
        name: BillAssetItemDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
