openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Payees API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/Payees
paths:
  /v1/Billing/Payees:
    get:
      tags:
      - Billing/Payees
      summary: Get list of payees in DB
      operationId: Payees_GetPayeeList
      parameters:
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      - name: isCreate
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayeeDto'
                xml:
                  name: SimplePayeeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayeeDto'
                xml:
                  name: SimplePayeeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayeeDto'
                xml:
                  name: SimplePayeeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayeeDto'
                xml:
                  name: SimplePayeeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayeeDto'
                xml:
                  name: SimplePayeeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayeeDto'
                xml:
                  name: SimplePayeeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Billing/Payees
      operationId: Payees_CreateAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
        required: true
      summary: Payees create async
      x-summary-source: derived
  /v1/Billing/Payees/{key}:
    get:
      tags:
      - Billing/Payees
      operationId: Payees_GetEntityByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
      security:
      - Authorization: []
      summary: Payees get entity by key async
      x-summary-source: derived
    put:
      tags:
      - Billing/Payees
      operationId: Payees_UpdateAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
        required: true
      summary: Payees update async
      x-summary-source: derived
    delete:
      tags:
      - Billing/Payees
      operationId: Payees_DeletePayeeAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Payees delete payee async
      x-summary-source: derived
  /v1/Billing/Payees/{key}/Documents:
    get:
      tags:
      - Billing/Payees
      operationId: Payees_GetBlobs
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - CrmDocuments
            - Payable
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Payees get blobs
      x-summary-source: derived
  /v1/Billing/Payees/{key}/Documents/{fileId}:
    get:
      tags:
      - Billing/Payees
      summary: Gets a file for the payee with the specified key and the file with the…
      operationId: Payees_GetBlobDto
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        description: Key of the file to be returned.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
      security:
      - Authorization: []
  /v1/Billing/Payees/{key}/Documents/{fileId}/Download:
    get:
      tags:
      - Billing/Payees
      summary: Gets the raw data of the specific file with the blobId provided which is…
      operationId: Payees_GetBlobFile
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        description: Key of the file to be downloaded.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Billing/Payees/{key}/SSNTaxId:
    put:
      tags:
      - Billing/Payees
      operationId: Payees_UpdateSSNTaxId
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
        required: true
      summary: Payees update SSN tax id
      x-summary-source: derived
  /v1/Billing/Payees/List:
    get:
      tags:
      - Billing/Payees
      summary: Get list of payees in DB
      operationId: Payees_Get
      parameters:
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
                xml:
                  name: PayeeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
                xml:
                  name: PayeeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
                xml:
                  name: PayeeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
                xml:
                  name: PayeeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
                xml:
                  name: PayeeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayeeDto'
                xml:
                  name: PayeeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Payees/Search:
    get:
      tags:
      - Billing/Payees
      operationId: Payees_GetSearch
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Payees get search
      x-summary-source: derived
  /v1/Billing/Payees/Search/{search}:
    get:
      tags:
      - Billing/Payees
      operationId: Payees_GetV1BillingPayeesSearchBySearch
      parameters:
      - name: search
        in: path
        required: true
        schema:
          type: string
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Payees get V1 billing payees search by search
      x-summary-source: derived
  /v1/Billing/Payees/Simple:
    get:
      tags:
      - Billing/Payees
      operationId: Payees_GetSimpleAll
      parameters:
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Payees get simple all
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Billing.PayeeDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        personalId:
          type: integer
          format: int32
        first:
          type: string
        last:
          type: string
        ssN_TaxID:
          type: string
        oldAutoId:
          type: integer
          format: int32
        oldPayeeCode:
          type: string
        isActive:
          type: boolean
        isUserAdded:
          type: boolean
        email:
          type: string
        city:
          type: string
        state:
          type: string
        salutation:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        zip:
          type: string
        fax:
          type: string
        faxExt:
          type: string
        mobilePhone:
          type: string
        businessPhone:
          type: string
        businessPhoneExt:
          type: string
        otherPhone:
          type: string
        otherPhoneExt:
          type: string
        company:
          type: string
        jobTitle:
          type: string
        webAddress:
          type: string
      xml:
        name: PayeeDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Portfolio.UpdateSsnDto:
      properties:
        ssn:
          type: string
        reason:
          type: string
      xml:
        name: UpdateSsnDto
      type: object
    OAS.WebApi.DTO.Portfolio.BlobBaseDto:
      properties:
        createdDate:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        openWith:
          type: string
        fileName:
          type: string
        blobDesc:
          type: string
        blobText:
          type: string
        category:
          type: string
        isZip:
          type: boolean
      xml:
        name: BlobBaseDto
      type: object
    OAS.WebApi.DTO.Billing.SimplePayeeDto:
      properties:
        personalId:
          type: integer
          format: int32
        personalLastName:
          type: string
        personalFirstName:
          type: string
        oldAutoId:
          type: integer
          format: int32
        oldPayeeCode:
          type: string
        isActive:
          type: boolean
        isUserAdded:
          type: boolean
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimplePayeeDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
