openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Validate Import/Accounts API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: ValidateImport/Accounts
paths:
  /v1/ValidateImport/Accounts:
    post:
      tags:
      - ValidateImport/Accounts
      summary: Takes an xlsx, xls, or csv file as multipart content.
      operationId: ValidateImportAccounts_AccountPostAsMultipartStream
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/ValidateImport/Accounts/Contributions:
    post:
      tags:
      - ValidateImport/Accounts
      summary: Takes an xlsx, xls, or csv file as multipart content.
      operationId: ValidateImportAccounts_AccountWithContributionPostAsMultipartStream
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountContributionDto'
                xml:
                  name: AccountContributionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountContributionDto'
                xml:
                  name: AccountContributionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountContributionDto'
                xml:
                  name: AccountContributionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountContributionDto'
                xml:
                  name: AccountContributionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountContributionDto'
                xml:
                  name: AccountContributionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountContributionDto'
                xml:
                  name: AccountContributionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/ValidateImport/Accounts/List:
    post:
      tags:
      - ValidateImport/Accounts
      summary: Takes a list of accounts.
      operationId: ValidateImportAccounts_AccountPostAsContent
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
              xml:
                name: AccountDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
              xml:
                name: AccountDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
              xml:
                name: AccountDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
              xml:
                name: AccountDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
              xml:
                name: AccountDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
              xml:
                name: AccountDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.AccountDto'
              xml:
                name: AccountDto
                wrapped: true
              type: array
        required: true
  /v1/ValidateImport/Accounts/PostPayments:
    post:
      tags:
      - ValidateImport/Accounts
      summary: Takes a list of accounts.
      operationId: ValidateImportAccounts_AccountsForPostPaymentsAsync
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/ValidateImport/Accounts/TransactionsImport:
    post:
      tags:
      - ValidateImport/Accounts
      summary: Takes an xlsx, xls, or csv file as multipart content.
      operationId: ValidateImportAccounts_TransactionsPostAsMultipartStream
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillTransactionDto'
                xml:
                  name: BillTransactionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillTransactionDto'
                xml:
                  name: BillTransactionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillTransactionDto'
                xml:
                  name: BillTransactionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillTransactionDto'
                xml:
                  name: BillTransactionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillTransactionDto'
                xml:
                  name: BillTransactionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillTransactionDto'
                xml:
                  name: BillTransactionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
components:
  schemas:
    OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto:
      description: import file DTO for validating imports
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
          description: the imported file
      xml:
        name: ValidateFileImportDto
      type: object
    OAS.WebApi.DTO.ValidateImport.AccountContributionDto:
      properties:
        contributionCodeId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        number:
          type: string
        amount:
          type: number
          format: double
        isValid:
          type: boolean
        message:
          type: string
      xml:
        name: AccountContributionDto
      type: object
    OAS.WebApi.DTO.Billing.BillTransactionDto:
      properties:
        id:
          type: integer
          format: int32
        registrationName:
          type: string
        accountId:
          type: integer
          format: int32
        accountNumber:
          type: string
        brokerDealerName:
          type: string
        representativeName:
          type: string
        representativeNumber:
          type: string
        productName:
          type: string
        transactionDate:
          type: string
          format: date-time
        transactionTime:
          type: string
          format: date-time
        transactionAmount:
          type: number
          format: double
        isFeeExcluded:
          type: boolean
        isCashFlow:
          type: boolean
        isNMReady:
          type: boolean
        isBilled:
          type: boolean
        billedDate:
          type: string
          format: date-time
        isAdvanceBilled:
          type: boolean
        transactionDescription:
          type: string
        managementStyle:
          type: string
        fundFamily:
          type: string
        cycleMonth:
          type: integer
          format: int32
        billStyle:
          type: string
          enum:
          - Advance
          - Arrears
        valuationMethod:
          type: string
          enum:
          - PeriodEndingValue
          - AvgDailyBalance
          - AvgMonthlyBalance
        clientId:
          type: integer
          format: int32
        feeSchedule:
          type: string
        startDate:
          type: string
          format: date-time
        billStartDate:
          type: string
          format: date-time
        notes:
          type: string
        businessLine:
          type: string
        billFrequency:
          type: string
          enum:
          - Undefined
          - Monthly
          - Quarterly
          - Triannual
          - Semiannually
          - Annually
          - AtMaturity
        outsideId:
          type: string
        accountCreatedDate:
          type: string
          format: date-time
        subAdvisor:
          type: string
        productId:
          type: integer
          format: int32
        ticker:
          type: string
        performanceFeeBreak:
          type: boolean
        householdName:
          type: string
      xml:
        name: BillTransactionDto
      type: object
    OAS.WebApi.DTO.Billing.PostPaymentsDto:
      properties:
        statusIcon:
          readOnly: true
          type: string
        id:
          type: integer
          format: int32
        reason:
          type: string
        clientName:
          type: string
        accountId:
          type: integer
          format: int32
        active:
          type: boolean
        registrationName:
          type: string
        managementStyle:
          type: string
        fundFamilyName:
          type: string
        custodian:
          type: string
        accountNumber:
          type: string
        billDate:
          type: string
          format: date-time
        billType:
          type: string
        balanceDue:
          type: number
          format: double
        amountToPost:
          type: number
          format: double
        registrationCode:
          type: string
        paymentDate:
          type: string
          format: date-time
        paidByAccountNumber:
          type: string
        payMethod:
          type: string
        billId:
          type: integer
          format: int32
        billTypeId:
          type: integer
          format: int32
        receivableId:
          type: string
        feeScheduleName:
          type: string
        lastName:
          type: string
        firstName:
          type: string
        repName:
          type: string
        note:
          type: string
        householdId:
          type: integer
          format: int32
        billInstanceId:
          type: integer
          format: int32
      xml:
        name: PostPaymentsDto
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
    OAS.WebApi.DTO.ValidateImport.AccountDto:
      properties:
        id:
          type: integer
          format: int32
        number:
          type: string
        amount:
          type: number
          format: double
        isValid:
          type: boolean
        message:
          type: string
      xml:
        name: AccountDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
