openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Security/Roles API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Security/Roles
paths:
  /v1/Security/Roles:
    get:
      tags:
      - Security/Roles
      operationId: Roles_GetRoles
      parameters:
      - name: loginEntityId
        in: query
        required: false
        schema:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
      - name: excludeLoginEntityId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - BrokerDealer
            - Wholesaler
            - Representative
            - Client
            - RIA
            - Administrator
            - SubAdvisor
            - ThirdPartyAdministrator
            - Custodian
            - PlanSponsor
            - ThirdParty
            - ServiceAccount
            - Participant
            - RepAccountManager
            - Payee
            - RIATable
            - Cotenant
      - name: id
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Roles get roles
      x-summary-source: derived
    put:
      tags:
      - Security/Roles
      summary: Roles update roles
      operationId: Roles_UpdateRoles
      parameters:
      - name: dtos
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
    post:
      tags:
      - Security/Roles
      summary: Roles add role
      operationId: Roles_AddRole
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
        required: true
      x-summary-source: derived
  /v1/Security/Roles/{key}:
    get:
      tags:
      - Security/Roles
      summary: Roles get role by key
      operationId: Roles_GetRoleByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
      security:
      - Authorization: []
      x-summary-source: derived
    put:
      tags:
      - Security/Roles
      summary: Roles update role
      operationId: Roles_UpdateRole
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
        required: true
      x-summary-source: derived
    delete:
      tags:
      - Security/Roles
      summary: Roles delete role
      operationId: Roles_DeleteRole
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Security/Roles/{key}/Action/AssignUsers:
    put:
      tags:
      - Security/Roles
      operationId: Roles_AssignUsersAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Roles assign users async
      x-summary-source: derived
  /v1/Security/Roles/{key}/Users:
    get:
      tags:
      - Security/Roles
      summary: Roles get users for role
      operationId: Roles_GetUsersForRole
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleUserProfileDto'
                xml:
                  name: RoleUserProfileDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleUserProfileDto'
                xml:
                  name: RoleUserProfileDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleUserProfileDto'
                xml:
                  name: RoleUserProfileDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleUserProfileDto'
                xml:
                  name: RoleUserProfileDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleUserProfileDto'
                xml:
                  name: RoleUserProfileDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleUserProfileDto'
                xml:
                  name: RoleUserProfileDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Security/Roles/{loginEntityId}/{name}:
    get:
      tags:
      - Security/Roles
      summary: Roles get role by login entity and name
      operationId: Roles_GetRoleByLoginEntityAndName
      parameters:
      - name: loginEntityId
        in: path
        required: true
        schema:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Security/Roles/AvailableDashboards:
    get:
      tags:
      - Security/Roles
      summary: Roles get available dashboards
      operationId: Roles_GetAvailableDashboards
      parameters:
      - name: isPortfolioView
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Security/Roles/Simple:
    get:
      tags:
      - Security/Roles
      summary: Roles get simple
      operationId: Roles_GetSimple
      parameters:
      - name: includeGlobalRoles
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Security/Roles/Update:
    put:
      tags:
      - Security/Roles
      summary: Updates Roles and details using list of updated roles.
      operationId: Roles_UpdateRolesFromBody
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDto'
                xml:
                  name: RoleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
              xml:
                name: RoleDetailsDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
              xml:
                name: RoleDetailsDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
              xml:
                name: RoleDetailsDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
              xml:
                name: RoleDetailsDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
              xml:
                name: RoleDetailsDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
              xml:
                name: RoleDetailsDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RoleDetailsDto'
              xml:
                name: RoleDetailsDto
                wrapped: true
              type: array
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Security.RoleDetailsDto:
      properties:
        canEdit:
          type: boolean
        privileges:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Security.RolePrivilegeDto'
          xml:
            name: RolePrivilegeDto
            wrapped: true
          type: array
        defaultDashboardId:
          type: integer
          format: int32
        dashboards:
          items:
            $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
          xml:
            name: SimpleEntity
            wrapped: true
          type: array
        defaultPVDashboardId:
          type: integer
          format: int32
        pvDashboards:
          items:
            $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
          xml:
            name: SimpleEntity
            wrapped: true
          type: array
        id:
          type: integer
          format: int32
        clientName:
          type: string
        name:
          type: string
        loginEntityId:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        isGlobal:
          type: boolean
        loginEntityDescription:
          type: string
        tokenLife:
          type: number
          format: double
        assignedProfiles:
          type: integer
          format: int32
      xml:
        name: RoleDetailsDto
      type: object
    OAS.WebApi.DTO.Security.RoleDto:
      properties:
        id:
          type: integer
          format: int32
        clientName:
          type: string
        name:
          type: string
        loginEntityId:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        isGlobal:
          type: boolean
        loginEntityDescription:
          type: string
        tokenLife:
          type: number
          format: double
        assignedProfiles:
          type: integer
          format: int32
      xml:
        name: RoleDto
      type: object
    OAS.WebApi.DTO.Security.RoleUserProfileDto:
      properties:
        profileId:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        loginUserId:
          type: string
        loginEntityName:
          type: string
      xml:
        name: RoleUserProfileDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Security.RolePrivilegeDto:
      properties:
        id:
          type: integer
          format: int32
        categoryId:
          type: integer
          format: int32
        categoryName:
          type: string
        availableAccessType:
          type: string
          enum:
          - None
          - Read
          - Edit
          - Delete
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum:
          - Unknown
          - Apps
          - Records
          - Actions
          - Advanced
          - Applinks
          - FeatureFlags
        code:
          type: string
        readIsGranted:
          type: boolean
        editIsGranted:
          type: boolean
        deleteIsGranted:
          type: boolean
      xml:
        name: RolePrivilegeDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
