openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Excel API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/Excel
paths:
  /v1/Utility/Excel:
    post:
      tags:
      - Utility/Excel
      summary: Converts the provided IWorkbook to an excel file
      operationId: Excel_MakeExcelFileAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Utility.Excel.IWorkbook'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Utility.Excel.IWorkbook'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Utility.Excel.IWorkbook'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Utility.Excel.IWorkbook'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Utility.Excel.IWorkbook'
        required: true
  /v1/Utility/Excel/Run/{filename}:
    get:
      tags:
      - Utility/Excel
      summary: Used to download a previously generated Excel Export
      operationId: Excel_RunReportAsync
      parameters:
      - name: filename
        in: path
        description: The filename provided by the generate endpoint.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  schemas:
    OAS.DataProcess.Utility.Excel.IWorkbook:
      properties:
        name:
          readOnly: true
          type: string
        sheets:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Utility.Excel.ISheet'
          readOnly: true
          xml:
            name: ISheet
            wrapped: true
          type: array
        type:
          readOnly: true
          type: string
      xml:
        name: IWorkbook
      type: object
    OAS.DataProcess.Utility.Excel.ISheet:
      properties:
        name:
          readOnly: true
          type: string
        data:
          readOnly: true
          type: object
        type:
          readOnly: true
          type: string
      xml:
        name: ISheet
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
