openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Model Agg Types API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/ModelAggTypes
paths:
  /v1/Trading/ModelAggTypes:
    get:
      tags:
      - Trading/ModelAggTypes
      operationId: AggregateModelType_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggTypeDto'
                xml:
                  name: ModelAggTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggTypeDto'
                xml:
                  name: ModelAggTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggTypeDto'
                xml:
                  name: ModelAggTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggTypeDto'
                xml:
                  name: ModelAggTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggTypeDto'
                xml:
                  name: ModelAggTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAggTypeDto'
                xml:
                  name: ModelAggTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Aggregate model type get
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Trading.ModelAggTypeDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: ModelAggTypeDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
