openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Risk Category Auto Assign Override…
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/RiskCategoryAutoAssignOverride
paths:
  /v1/Portfolio/RiskCategoryAutoAssignOverride:
    get:
      tags:
      - Portfolio/RiskCategoryAutoAssignOverride
      summary: Gets a list of Risk Category Auto Assign Overrides that the logged in user has…
      operationId: RiskCategoryAutoAssignOverride_Get
      parameters:
      - name: providerId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: providerAssigned
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/RiskCategoryAutoAssignOverride
      summary: Risk category auto assign override upsert
      operationId: RiskCategoryAutoAssignOverride_Upsert
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
              xml:
                name: RiskCategoryAutoAssignOverrideDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
              xml:
                name: RiskCategoryAutoAssignOverrideDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
              xml:
                name: RiskCategoryAutoAssignOverrideDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
              xml:
                name: RiskCategoryAutoAssignOverrideDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
              xml:
                name: RiskCategoryAutoAssignOverrideDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
              xml:
                name: RiskCategoryAutoAssignOverrideDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
              xml:
                name: RiskCategoryAutoAssignOverrideDto
                wrapped: true
              type: array
        required: true
      x-summary-source: derived
  /v1/Portfolio/RiskCategoryAutoAssignOverride/{providerId}/{abbreviation}:
    get:
      tags:
      - Portfolio/RiskCategoryAutoAssignOverride
      summary: Gets the Risk Category Auto Assign Override that has the provided key.
      operationId: RiskCategoryAutoAssignOverride_GetEntityByKey
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: abbreviation
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
      security:
      - Authorization: []
  /v1/Portfolio/RiskCategoryAutoAssignOverride/List:
    post:
      tags:
      - Portfolio/RiskCategoryAutoAssignOverride
      summary: Gets the product classe Auto Assign Overrides for the provided keys
      operationId: RiskCategoryAutoAssignOverride_GetListById
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideKeyDto'
              xml:
                name: RiskCategoryAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideKeyDto'
              xml:
                name: RiskCategoryAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideKeyDto'
              xml:
                name: RiskCategoryAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideKeyDto'
              xml:
                name: RiskCategoryAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideKeyDto'
              xml:
                name: RiskCategoryAutoAssignOverrideKeyDto
                wrapped: true
              type: array
        required: true
  /v1/Portfolio/RiskCategoryAutoAssignOverride/List/Id:
    post:
      tags:
      - Portfolio/RiskCategoryAutoAssignOverride
      summary: Gets the product classe Auto Assign Overrides for the provided keys
      operationId: RiskCategoryAutoAssignOverride_PostV1PortfolioRiskCategoryAutoAssignOverrideListId
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto'
                xml:
                  name: RiskCategoryAutoAssignOverrideDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideKeyDto'
              xml:
                name: RiskCategoryAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideKeyDto'
              xml:
                name: RiskCategoryAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideKeyDto'
              xml:
                name: RiskCategoryAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideKeyDto'
              xml:
                name: RiskCategoryAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideKeyDto'
              xml:
                name: RiskCategoryAutoAssignOverrideKeyDto
                wrapped: true
              type: array
        required: true
  /v1/Portfolio/RiskCategoryAutoAssignOverride/RiskCategory/Simple:
    get:
      tags:
      - Portfolio/RiskCategoryAutoAssignOverride
      operationId: RiskCategoryAutoAssignOverride_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Risk category auto assign override get simple
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideKeyDto:
      properties:
        productDescriptionProviderId:
          type: integer
          format: int32
        abbreviation:
          type: string
      xml:
        name: RiskCategoryAutoAssignOverrideKeyDto
      type: object
    OAS.WebApi.DTO.Portfolio.RiskCategoryAutoAssignOverrideDto:
      properties:
        productDescriptionProviderId:
          type: integer
          format: int32
        providerName:
          type: string
        abbreviation:
          type: string
        riskDescription:
          type: string
        hasMultipleDescriptions:
          type: boolean
        riskCategoryAutoAssignOverrideId:
          type: integer
          format: int32
        riskCategoryId:
          type: integer
          format: int32
        providerAssigned:
          type: boolean
      xml:
        name: RiskCategoryAutoAssignOverrideDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
