openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Pay Methods API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/PayMethods
paths:
  /v1/Billing/PayMethods:
    get:
      tags:
      - Billing/PayMethods
      operationId: Billing_GetBillPayMethods
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayMethodDto'
                xml:
                  name: SimplePayMethodDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayMethodDto'
                xml:
                  name: SimplePayMethodDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayMethodDto'
                xml:
                  name: SimplePayMethodDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayMethodDto'
                xml:
                  name: SimplePayMethodDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayMethodDto'
                xml:
                  name: SimplePayMethodDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayMethodDto'
                xml:
                  name: SimplePayMethodDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Billing get bill pay methods
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Billing.SimplePayMethodDto:
      properties:
        description:
          type: string
        isVisible:
          type: boolean
        includeInBusinessMetrics:
          type: boolean
        isDownloading:
          type: boolean
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimplePayMethodDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
