openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Authorization/Databases API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Authorization/Databases
paths:
  /v1/Authorization/Databases:
    get:
      tags:
      - Authorization/Databases
      summary: Gets a list of databases the logged in user has access to.
      operationId: Authorization_GetAvailableDatabases
      parameters:
      - name: resetCache
        in: query
        description: 'Optional. Default: false. The result is cached for fifteen minutes. To force the cache to refresh call with resetCache = true.'
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
                xml:
                  name: ALClientDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Security.AlClientOpsDto:
      properties:
        id:
          type: integer
          format: int32
        clientName:
          type: string
        isFullOps:
          type: boolean
        isBilling:
          type: boolean
        isComposites:
          type: boolean
        isStatements:
          type: boolean
        isTrading:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        databaseName:
          type: string
        serverName:
          type: string
      xml:
        name: AlClientOpsDto
      type: object
    OAS.WebApi.DTO.Authorization.ALClientDto:
      properties:
        id:
          type: integer
          format: int32
        clientName:
          type: string
        selected:
          type: boolean
        lockDown:
          type: string
          enum:
          - None
          - Billing
        ops:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
        guid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
      xml:
        name: ALClientDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
