openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Client Box Folder API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/ClientBoxFolder
paths:
  /v1/Integrations/ClientBoxFolder:
    put:
      tags:
      - Integrations/ClientBoxFolder
      summary: Set or clear Box folder ID for a client.
      operationId: ClientBoxFolder_SetClientBoxFolderAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderSetRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderSetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderSetRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderSetRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderSetRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderSetRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderSetRequest'
        description: Client ID and Box folder ID
        required: true
  /v1/Integrations/ClientBoxFolder/{clientId}:
    get:
      tags:
      - Integrations/ClientBoxFolder
      summary: Get Box folder ID configuration for a client
      operationId: ClientBoxFolder_GetClientBoxFolderAsync
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/ClientBoxFolder/Bulk:
    post:
      tags:
      - Integrations/ClientBoxFolder
      summary: Bulk import Box folder IDs for multiple clients
      operationId: ClientBoxFolder_BulkSetClientBoxFoldersAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderSetRequest'
              xml:
                name: ClientBoxFolderSetRequest
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderSetRequest'
              xml:
                name: ClientBoxFolderSetRequest
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderSetRequest'
              xml:
                name: ClientBoxFolderSetRequest
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderSetRequest'
              xml:
                name: ClientBoxFolderSetRequest
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderSetRequest'
              xml:
                name: ClientBoxFolderSetRequest
                wrapped: true
              type: array
        description: Array of client ID and Box folder ID pairs
        required: true
  /v1/Integrations/ClientBoxFolder/Validate:
    post:
      tags:
      - Integrations/ClientBoxFolder
      summary: Validate a Box folder ID and return its path or error
      operationId: ClientBoxFolder_ValidateBoxFolderAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderValidateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderValidateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderValidateRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderValidateRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderValidateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderValidateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ClientBoxFolderValidateRequest'
        description: Box folder ID to validate
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Integrations.ClientBoxFolderValidateRequest:
      required:
      - boxFolderId
      properties:
        boxFolderId:
          type: string
          maxLength: 255
          minLength: 0
      xml:
        name: ClientBoxFolderValidateRequest
      type: object
    OAS.WebApi.DTO.Integrations.ClientBoxFolderSetRequest:
      required:
      - clientId
      properties:
        clientId:
          type: integer
          format: int32
        boxFolderId:
          type: string
          maxLength: 255
          minLength: 0
      xml:
        name: ClientBoxFolderSetRequest
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
