openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Global/Corporate Actions API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Global/CorporateActions
paths:
  /v1/Global/CorporateActions:
    get:
      tags:
      - Global/CorporateActions
      summary: Gets a list of corporate actions that the logged in user has access to.
      operationId: GlobalCorporateActions_Get
      parameters:
      - name: productId
        in: query
        description: Optional. Default null. Product Id of the desired return object.
        required: false
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: Optional. Default null. If provided, returns any corporate action with an effectiveDate on or after the date.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. Default null. If provided, returns any corporate action with an effectiveDate on or before the date.
        required: false
        schema:
          type: string
          format: date-time
      - name: corpActionId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
                xml:
                  name: CorporateActionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
                xml:
                  name: CorporateActionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
                xml:
                  name: CorporateActionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
                xml:
                  name: CorporateActionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
                xml:
                  name: CorporateActionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
                xml:
                  name: CorporateActionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Global/CorporateActions
      summary: Used to bulk update a list of existing corporate actions
      operationId: GlobalCorporateActions_UpdateCorporateActionsAsync
      parameters:
      - name: cancellationToken
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
                xml:
                  name: CorporateActionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
                xml:
                  name: CorporateActionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
                xml:
                  name: CorporateActionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
                xml:
                  name: CorporateActionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
                xml:
                  name: CorporateActionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
                xml:
                  name: CorporateActionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
              xml:
                name: CorporateActionDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
              xml:
                name: CorporateActionDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
              xml:
                name: CorporateActionDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
              xml:
                name: CorporateActionDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
              xml:
                name: CorporateActionDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
              xml:
                name: CorporateActionDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
              xml:
                name: CorporateActionDto
                wrapped: true
              type: array
        description: List of CorporateActionDto to update.
        required: true
    post:
      tags:
      - Global/CorporateActions
      summary: Used to create a new corporate action.
      operationId: GlobalCorporateActions_CreateCorporateActionsAsync
      parameters:
      - name: cancellationToken
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
        description: CorporateActionDto to create
        required: true
  /v1/Global/CorporateActions/{key}:
    get:
      tags:
      - Global/CorporateActions
      summary: Gets the corporate action that has the provided key.
      operationId: GlobalCorporateActions_GetByKeyAsync
      parameters:
      - name: key
        in: path
        description: Primary key of the desired CorporateAction.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
      security:
      - Authorization: []
    put:
      tags:
      - Global/CorporateActions
      summary: Used to update an existing corporate action.
      operationId: GlobalCorporateActions_UpdateCorporateActionAsync
      parameters:
      - name: key
        in: path
        description: Primary Key of the CorporateAction to compare against.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
        description: CorporateActionDto to update
        required: true
    delete:
      tags:
      - Global/CorporateActions
      summary: Used to delete an existing corporate action.
      operationId: GlobalCorporateActions_DeleteCorporateActionAsync
      parameters:
      - name: key
        in: path
        description: Primary Key of the CorporateAction.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Global/CorporateActions/Action/Delete:
    put:
      tags:
      - Global/CorporateActions
      operationId: GlobalCorporateActions_ActionDeleteAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Global corporate actions action delete async
      x-summary-source: derived
  /v1/Global/CorporateActions/Processing:
    get:
      tags:
      - Global/CorporateActions
      summary: Gets Corporate Action Processing Records
      operationId: GlobalCorporateActions_GetCorporateActionsProcessing
      parameters:
      - name: corporateActionId
        in: query
        description: Optional. Default null.  Get the extensions for a specific corporate action.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
                xml:
                  name: CorporateActionProcessingDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
                xml:
                  name: CorporateActionProcessingDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
                xml:
                  name: CorporateActionProcessingDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
                xml:
                  name: CorporateActionProcessingDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
                xml:
                  name: CorporateActionProcessingDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
                xml:
                  name: CorporateActionProcessingDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/CorporateActions/Processing/{key}:
    get:
      tags:
      - Global/CorporateActions
      summary: Gets Corporate Action Processing Record
      operationId: GlobalCorporateActions_GetCorporateActionProcessingByKey
      parameters:
      - name: key
        in: path
        description: Primary Key of the CorpActionProcessing record.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
      security:
      - Authorization: []
  /v1/Global/CorporateActions/Search:
    get:
      tags:
      - Global/CorporateActions
      summary: Returns a list of Corporate Actions filtered by name
      operationId: GlobalCorporateActions_Search
      parameters:
      - name: search
        in: query
        description: Used to filter by the name of the CorporateAction
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/CorporateActions/Search/{search}:
    get:
      tags:
      - Global/CorporateActions
      summary: Returns a list of Corporate Actions filtered by name
      operationId: GlobalCorporateActions_GetV1GlobalCorporateActionsSearchBySearch
      parameters:
      - name: search
        in: path
        description: Used to filter by the name of the CorporateAction
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/CorporateActions/Verbose:
    get:
      tags:
      - Global/CorporateActions
      operationId: GlobalCorporateActions_GetVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Processes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Global corporate actions get verbose
      x-summary-source: derived
    put:
      tags:
      - Global/CorporateActions
      summary: Used to bulk update a list of existing CorporateActions
      operationId: GlobalCorporateActions_UpdateManyVerboseCorpActionsAsync
      parameters:
      - name: cancellationToken
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
              xml:
                name: CorporateActionVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
              xml:
                name: CorporateActionVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
              xml:
                name: CorporateActionVerboseDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
              xml:
                name: CorporateActionVerboseDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
              xml:
                name: CorporateActionVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
              xml:
                name: CorporateActionVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
              xml:
                name: CorporateActionVerboseDto
                wrapped: true
              type: array
        description: List of CorporateActionVerboseDto to update
        required: true
    post:
      tags:
      - Global/CorporateActions
      summary: Create a new corporate action
      operationId: GlobalCorporateActions_CreateVerboseClientAsync
      parameters:
      - name: cancellationToken
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
        description: CorporateActionVerboseDto to create
        required: true
  /v1/Global/CorporateActions/Verbose/{key}:
    get:
      tags:
      - Global/CorporateActions
      operationId: GlobalCorporateActions_GetVerboseByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Processes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
      security:
      - Authorization: []
      summary: Global corporate actions get verbose by key async
      x-summary-source: derived
    put:
      tags:
      - Global/CorporateActions
      summary: Used to update an existing CorporateAction
      operationId: GlobalCorporateActions_UpdateVerboseCorpActionAsync
      parameters:
      - name: key
        in: path
        description: Primary Key of the CorporateAction to update for validation
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
        description: CorporateActionVerboseDto to update
        required: true
  /v1/Global/CorporateActions/Verbose/List:
    post:
      tags:
      - Global/CorporateActions
      operationId: GlobalCorporateActions_GetVerboseListById
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Processes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Global corporate actions get verbose list by id
      x-summary-source: derived
  /v1/Global/CorporateActions/Verbose/List/Id:
    post:
      tags:
      - Global/CorporateActions
      operationId: GlobalCorporateActions_PostV1GlobalCorporateActionsVerboseListId
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Processes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
                xml:
                  name: CorporateActionVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Global corporate actions post V1 global corporate actions verbose list id
      x-summary-source: derived
  /v1/Global/CorporateActions/Verbose/New:
    get:
      tags:
      - Global/CorporateActions
      operationId: GlobalCorporateActions_GetNewVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Processes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto'
      security:
      - Authorization: []
      summary: Global corporate actions get new verbose
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto:
      properties:
        id:
          type: integer
          format: int32
        corpActionId:
          type: integer
          format: int32
        corpActionName:
          type: string
        corpActionProcessingTypeId:
          type: integer
          format: int32
        corpActionProcessingTypeName:
          type: string
        processStatus:
          type: string
          enum:
          - New
          - Approved
          - CreatePendings
          - Processing
          - InProcess
          - Complete
          - Cancelled
          - RecalculateUnits
          - NotProcessed
          - MoveCostBasis
        mergeOutRatio:
          type: number
          format: double
        roundingType:
          type: string
          enum:
          - Normal
          - Up
          - Down
          - Nearest
          - NoRounding
        expectedClose:
          type: string
          format: date-time
        isHeld:
          type: boolean
        isVerified:
          type: boolean
        isBeginningOfDay:
          type: boolean
        navPrice:
          type: number
          format: double
        newProductName:
          type: string
        newCusip:
          type: string
        newTicker:
          type: string
      xml:
        name: CorporateActionProcessingDto
      type: object
    OAS.WebApi.DTO.Portfolio.CorporateActionDto:
      properties:
        id:
          type: integer
          format: int32
        statusIcon:
          type: string
          enum:
          - Pending
          - Complete
          - Cancelled
        productId:
          type: integer
          format: int32
        productName:
          type: string
        entryDate:
          type: string
          format: date-time
        remarks:
          type: string
        notifyType:
          type: string
        notifyTypeUpdate:
          type: string
        recordStatus:
          type: string
        numOptions:
          type: integer
          format: int32
        securityType:
          type: string
        effectiveDate:
          type: string
          format: date-time
        cusip:
          type: string
        oldCusip:
          type: string
        ticker:
          type: string
        name:
          type: string
        oldName:
          type: string
        expireDate:
          type: string
          format: date-time
        cash:
          type: number
          format: double
        cashCode:
          type: string
        stateCode:
          type: string
        tenderAgent:
          type: string
        infoAgent:
          type: string
        maturityDate:
          type: string
          format: date-time
        rate1:
          type: number
          format: double
        rateCode:
          type: string
        rate2:
          type: number
          format: double
        voluntaryMandatory:
          type: string
        dtc:
          type: string
        prorationRate:
          type: string
        prorationDate:
          type: string
          format: date-time
        note:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        textNo:
          type: integer
          format: int32
        dealNo:
          type: integer
          format: int32
        costBasisFactor:
          type: number
          format: double
        textNoUpdate:
          type: integer
          format: int32
        fairMarketValue:
          type: number
          format: double
        fairMarketValueOut:
          type: number
          format: double
        moreInfoUrl:
          type: string
      xml:
        name: CorporateActionDto
      type: object
    OAS.WebApi.DTO.Portfolio.CorporateActionVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        portfolio:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CorporateActionDto'
        processes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
          xml:
            name: CorporateActionProcessingDto
            wrapped: true
          type: array
      xml:
        name: CorporateActionVerboseDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
