openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Global/Service Team Members API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Global/ServiceTeamMembers
paths:
  /v1/Global/ServiceTeamMembers:
    get:
      tags:
      - Global/ServiceTeamMembers
      summary: Returns a list of ervice team members
      operationId: GlobalServiceTeamMembers_GetAll
      parameters:
      - name: userManagerId
        in: query
        description: 'Optional. Default: null. If provided returns service team members asigned the manager.'
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
                xml:
                  name: ServiceTeamMemberDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
                xml:
                  name: ServiceTeamMemberDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
                xml:
                  name: ServiceTeamMemberDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
                xml:
                  name: ServiceTeamMemberDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
                xml:
                  name: ServiceTeamMemberDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
                xml:
                  name: ServiceTeamMemberDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Global/ServiceTeamMembers
      summary: Create Service Team Member
      operationId: GlobalServiceTeamMembers_CreateServiceTeamMemberAsync
      parameters:
      - name: ct
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
        required: true
  /v1/Global/ServiceTeamMembers/{key}:
    get:
      tags:
      - Global/ServiceTeamMembers
      summary: Gets the Service Team Member that has the provided key.
      operationId: GlobalServiceTeamMembers_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
      security:
      - Authorization: []
    put:
      tags:
      - Global/ServiceTeamMembers
      summary: Update the Service Team Member
      operationId: GlobalServiceTeamMembers_UpdateEntityAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto'
        required: true
    delete:
      tags:
      - Global/ServiceTeamMembers
      summary: Delete the Service Team Member
      operationId: GlobalServiceTeamMembers_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Global/ServiceTeamMembers/Action/Delete:
    put:
      tags:
      - Global/ServiceTeamMembers
      operationId: GlobalServiceTeamMembers_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Global service team members action delete
      x-summary-source: derived
  /v1/Global/ServiceTeamMembers/AllAnalystDatabaseAssignments:
    get:
      tags:
      - Global/ServiceTeamMembers
      summary: Gets all of the Analyst Database Assignments
      description: 'Sample Request

        GET /Global/ServiceTeamMembers/AllAnalystDatabaseAssignments'
      operationId: GlobalServiceTeamMembers_GetAllServiceTeamMemberAlClientsAsync
      parameters:
      - name: ct
        in: header
        description: Cancellation Token of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberAlClientDto'
                xml:
                  name: ServiceTeamMemberAlClientDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberAlClientDto'
                xml:
                  name: ServiceTeamMemberAlClientDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberAlClientDto'
                xml:
                  name: ServiceTeamMemberAlClientDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberAlClientDto'
                xml:
                  name: ServiceTeamMemberAlClientDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberAlClientDto'
                xml:
                  name: ServiceTeamMemberAlClientDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamMemberAlClientDto'
                xml:
                  name: ServiceTeamMemberAlClientDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/ServiceTeamMembers/UserManagers:
    get:
      tags:
      - Global/ServiceTeamMembers
      summary: Get User Managers for Service Team Member
      operationId: GlobalServiceTeamMembers_GetUserManagers
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.SimpleServiceTeamMemberUserManagerDto'
                xml:
                  name: SimpleServiceTeamMemberUserManagerDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.SimpleServiceTeamMemberUserManagerDto'
                xml:
                  name: SimpleServiceTeamMemberUserManagerDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.SimpleServiceTeamMemberUserManagerDto'
                xml:
                  name: SimpleServiceTeamMemberUserManagerDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.SimpleServiceTeamMemberUserManagerDto'
                xml:
                  name: SimpleServiceTeamMemberUserManagerDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.SimpleServiceTeamMemberUserManagerDto'
                xml:
                  name: SimpleServiceTeamMemberUserManagerDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.SimpleServiceTeamMemberUserManagerDto'
                xml:
                  name: SimpleServiceTeamMemberUserManagerDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Authorization.ServiceTeamMemberDto:
      properties:
        id:
          type: integer
          format: int32
        serviceTeamId:
          type: integer
          format: int32
        serviceTeam:
          type: string
        userId:
          type: integer
          format: int32
        userName:
          type: string
        isAnalyst:
          type: boolean
        isAccountManager:
          type: boolean
        userManagerId:
          type: integer
          format: int32
        userManagerName:
          type: string
        alClients:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ALClientDto'
          xml:
            name: ALClientDto
            wrapped: true
          type: array
      xml:
        name: ServiceTeamMemberDto
      type: object
    OAS.WebApi.DTO.Authorization.ALClientDto:
      properties:
        id:
          type: integer
          format: int32
        clientName:
          type: string
        selected:
          type: boolean
        lockDown:
          type: string
          enum:
          - None
          - Billing
        ops:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
        guid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
      xml:
        name: ALClientDto
      type: object
    OAS.WebApi.DTO.Authorization.SimpleServiceTeamMemberUserManagerDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleServiceTeamMemberUserManagerDto
      type: object
    OAS.WebApi.DTO.Security.AlClientOpsDto:
      properties:
        id:
          type: integer
          format: int32
        clientName:
          type: string
        isFullOps:
          type: boolean
        isBilling:
          type: boolean
        isComposites:
          type: boolean
        isStatements:
          type: boolean
        isTrading:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        databaseName:
          type: string
        serverName:
          type: string
      xml:
        name: AlClientOpsDto
      type: object
    OAS.WebApi.DTO.Authorization.ServiceTeamMemberAlClientDto:
      properties:
        serviceTeamMemberId:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        databaseName:
          type: string
        userName:
          type: string
        userId:
          type: integer
          format: int32
      xml:
        name: ServiceTeamMemberAlClientDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
