openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Custodial Integrator API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/CustodialIntegrator
paths:
  /v1/Integrations/CustodialIntegrator/AkoyaAccounts:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Get all AkoyaAccounts
      operationId: AkoyaAccounts_GetAllItems
      parameters:
      - name: clientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
                xml:
                  name: AkoyaAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
                xml:
                  name: AkoyaAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
                xml:
                  name: AkoyaAccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
                xml:
                  name: AkoyaAccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
                xml:
                  name: AkoyaAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
                xml:
                  name: AkoyaAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/CustodialIntegrator/AkoyaAccounts/{key}:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Gets the AkoyaAccount that has the provided key.
      operationId: AkoyaAccounts_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/CustodialIntegrator
      summary: Updates the AkoyaAccount that has the provided key.
      operationId: AkoyaAccounts_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired update object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaAccountDto'
        description: AkoyaAccount object to update
        required: true
  /v1/Integrations/CustodialIntegrator/AkoyaAccounts/Logs:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Gets Account Logs from the database.
      operationId: AkoyaAccounts_GetLogs
      parameters:
      - name: akoyaAccountId
        in: query
        description: the akoya Account id
        required: false
        schema:
          type: string
      - name: startDate
        in: query
        description: start date to use for filtering start date range
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: end date to use for filter end date range
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaLogDto'
                xml:
                  name: AkoyaLogDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaLogDto'
                xml:
                  name: AkoyaLogDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaLogDto'
                xml:
                  name: AkoyaLogDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaLogDto'
                xml:
                  name: AkoyaLogDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaLogDto'
                xml:
                  name: AkoyaLogDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaLogDto'
                xml:
                  name: AkoyaLogDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/CustodialIntegrator/AkoyaAccounts/Simple:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Gets Akoya Accounts simple object
      operationId: AkoyaAccounts_GetSimpleEntities
      parameters:
      - name: clientId
        in: query
        description: House Hold ID
        required: false
        schema:
          type: integer
          format: int32
      - name: isLinked
        in: query
        description: determines whether to return unlinked akoya accounts
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleStringKeyEntity'
                xml:
                  name: SimpleStringKeyEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleStringKeyEntity'
                xml:
                  name: SimpleStringKeyEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleStringKeyEntity'
                xml:
                  name: SimpleStringKeyEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleStringKeyEntity'
                xml:
                  name: SimpleStringKeyEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleStringKeyEntity'
                xml:
                  name: SimpleStringKeyEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleStringKeyEntity'
                xml:
                  name: SimpleStringKeyEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/CustodialIntegrator/AkoyaGlobalSymbols:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Get all AkoyaGlobalSymbols
      operationId: AkoyaGlobalSymbol_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
                xml:
                  name: AkoyaGlobalSymbolDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
                xml:
                  name: AkoyaGlobalSymbolDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
                xml:
                  name: AkoyaGlobalSymbolDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
                xml:
                  name: AkoyaGlobalSymbolDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
                xml:
                  name: AkoyaGlobalSymbolDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
                xml:
                  name: AkoyaGlobalSymbolDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/CustodialIntegrator
      operationId: AkoyaGlobalSymbol_UpsertAkoyaGlobalSymbolsAsync
      parameters:
      - name: token
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
        required: true
      summary: Akoya global symbol upsert akoya global symbols async
      x-summary-source: derived
  /v1/Integrations/CustodialIntegrator/AkoyaGlobalSymbols/Delete:
    post:
      tags:
      - Integrations/CustodialIntegrator
      operationId: AkoyaGlobalSymbol_DeleteAkoyaGlobalSymbolsAsync
      parameters:
      - name: token
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
                xml:
                  name: AkoyaGlobalSymbolDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
                xml:
                  name: AkoyaGlobalSymbolDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
                xml:
                  name: AkoyaGlobalSymbolDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
                xml:
                  name: AkoyaGlobalSymbolDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
                xml:
                  name: AkoyaGlobalSymbolDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
                xml:
                  name: AkoyaGlobalSymbolDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
              xml:
                name: AkoyaGlobalSymbolDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
              xml:
                name: AkoyaGlobalSymbolDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
              xml:
                name: AkoyaGlobalSymbolDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
              xml:
                name: AkoyaGlobalSymbolDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
              xml:
                name: AkoyaGlobalSymbolDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
              xml:
                name: AkoyaGlobalSymbolDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.AkoyaGlobalSymbolDto'
              xml:
                name: AkoyaGlobalSymbolDto
                wrapped: true
              type: array
        required: true
      summary: Akoya global symbol delete akoya global symbols async
      x-summary-source: derived
  /v1/Integrations/CustodialIntegrator/AkoyaGlobalSymbols/Institutions:
    get:
      tags:
      - Integrations/CustodialIntegrator
      operationId: AkoyaGlobalSymbol_GetAllInstitutions
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integration.CustodialIntegrator.AkoyaInstitution'
                xml:
                  name: AkoyaInstitution
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integration.CustodialIntegrator.AkoyaInstitution'
                xml:
                  name: AkoyaInstitution
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integration.CustodialIntegrator.AkoyaInstitution'
                xml:
                  name: AkoyaInstitution
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integration.CustodialIntegrator.AkoyaInstitution'
                xml:
                  name: AkoyaInstitution
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integration.CustodialIntegrator.AkoyaInstitution'
                xml:
                  name: AkoyaInstitution
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integration.CustodialIntegrator.AkoyaInstitution'
                xml:
                  name: AkoyaInstitution
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Akoya global symbol get all institutions
      x-summary-source: derived
  /v1/Integrations/CustodialIntegrator/ByAllAccounts:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Get all ByAllAccounts
      operationId: CustodialIntegratorByAllAccounts_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
                xml:
                  name: ByAllAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
                xml:
                  name: ByAllAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
                xml:
                  name: ByAllAccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
                xml:
                  name: ByAllAccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
                xml:
                  name: ByAllAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
                xml:
                  name: ByAllAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/CustodialIntegrator
      summary: Adds a new ByAllAccount to the database
      operationId: CustodialIntegratorByAllAccounts_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
        description: ByAllAccount object to update
        required: true
  /v1/Integrations/CustodialIntegrator/ByAllAccounts/{key}:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Gets the ByAllAccount that has the provided key.
      operationId: CustodialIntegratorByAllAccounts_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/CustodialIntegrator
      summary: Updates the ByAllAccount that has the provided key.
      operationId: CustodialIntegratorByAllAccounts_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired update object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
        description: ByAllAccount object to update
        required: true
  /v1/Integrations/CustodialIntegrator/ByAllAccounts/Action/Backdate:
    put:
      tags:
      - Integrations/CustodialIntegrator
      summary: Backdates a list of ByAllAccounts to the specified date
      operationId: CustodialIntegratorByAllAccounts_ActionBackdateAccounts
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
                xml:
                  name: ByAllAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
                xml:
                  name: ByAllAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
                xml:
                  name: ByAllAccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
                xml:
                  name: ByAllAccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
                xml:
                  name: ByAllAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllAccountDto'
                xml:
                  name: ByAllAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodialIntegrator.BackdateByAllAccountDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodialIntegrator.BackdateByAllAccountDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodialIntegrator.BackdateByAllAccountDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodialIntegrator.BackdateByAllAccountDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodialIntegrator.BackdateByAllAccountDto'
        description: Composed of a list of ByAllAccount objects to backdate and a start date.
        required: true
  /v1/Integrations/CustodialIntegrator/ByAllAccounts/Action/Delete:
    put:
      tags:
      - Integrations/CustodialIntegrator
      operationId: CustodialIntegratorByAllAccounts_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Custodial integrator by all accounts action delete
      x-summary-source: derived
  /v1/Integrations/CustodialIntegrator/ByAllGlobalSymbols:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Get all ByAllGlobalSymbols
      operationId: ByAllGlobalSymbols_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
                xml:
                  name: ByAllGlobalSymbolDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
                xml:
                  name: ByAllGlobalSymbolDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
                xml:
                  name: ByAllGlobalSymbolDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
                xml:
                  name: ByAllGlobalSymbolDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
                xml:
                  name: ByAllGlobalSymbolDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
                xml:
                  name: ByAllGlobalSymbolDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/CustodialIntegrator
      summary: Adds a new ByAllGlobalSymbol to the database
      operationId: ByAllGlobalSymbols_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
        description: ByAllGlobalSymbol object to update
        required: true
  /v1/Integrations/CustodialIntegrator/ByAllGlobalSymbols/{key}:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Gets the ByAllGlobalSymbol that has the provided key.
      operationId: ByAllGlobalSymbols_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/CustodialIntegrator
      summary: Updates the ByAllGlobalSymbol that has the provided key.
      operationId: ByAllGlobalSymbols_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired update object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllGlobalSymbolDto'
        description: ByAllGlobalSymbol object to update
        required: true
  /v1/Integrations/CustodialIntegrator/ByAllGlobalSymbols/Action/Delete:
    put:
      tags:
      - Integrations/CustodialIntegrator
      operationId: ByAllGlobalSymbols_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: By all global symbols action delete
      x-summary-source: derived
  /v1/Integrations/CustodialIntegrator/ByAllLocalSymbols:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Get all ByAllLocalSymbols
      operationId: ByAllLocalSymbols_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
                xml:
                  name: ByAllLocalSymbolDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
                xml:
                  name: ByAllLocalSymbolDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
                xml:
                  name: ByAllLocalSymbolDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
                xml:
                  name: ByAllLocalSymbolDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
                xml:
                  name: ByAllLocalSymbolDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
                xml:
                  name: ByAllLocalSymbolDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/CustodialIntegrator
      summary: Adds a new ByAllLocalSymbol to the database
      operationId: ByAllLocalSymbols_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
        description: ByAllLocalSymbol object to update
        required: true
  /v1/Integrations/CustodialIntegrator/ByAllLocalSymbols/{key}:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Gets the ByAllLocalSymbol that has the provided key.
      operationId: ByAllLocalSymbols_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/CustodialIntegrator
      summary: Updates the ByAllLocalSymbol that has the provided key.
      operationId: ByAllLocalSymbols_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired update object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllLocalSymbolDto'
        description: ByAllLocalSymbol object to update
        required: true
  /v1/Integrations/CustodialIntegrator/ByAllLocalSymbols/Action/Delete:
    put:
      tags:
      - Integrations/CustodialIntegrator
      operationId: ByAllLocalSymbols_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: By all local symbols action delete
      x-summary-source: derived
  /v1/Integrations/CustodialIntegrator/ByAllNoteMappings:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Get all ByAllByAllNoteMappings
      operationId: ByAllNoteMappings_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
                xml:
                  name: ByAllNoteMappingDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
                xml:
                  name: ByAllNoteMappingDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
                xml:
                  name: ByAllNoteMappingDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
                xml:
                  name: ByAllNoteMappingDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
                xml:
                  name: ByAllNoteMappingDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
                xml:
                  name: ByAllNoteMappingDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/CustodialIntegrator
      summary: Adds a new ByAllNoteMapping to the database
      operationId: ByAllNoteMappings_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
        description: ByAllNoteMapping object to update
        required: true
  /v1/Integrations/CustodialIntegrator/ByAllNoteMappings/{key}:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Gets the ByAllNoteMapping that has the provided key.
      operationId: ByAllNoteMappings_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/CustodialIntegrator
      summary: Updates the ByAllNoteMapping that has the provided key.
      operationId: ByAllNoteMappings_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired update object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllNoteMappingDto'
        description: ByAllNoteMapping object to update
        required: true
  /v1/Integrations/CustodialIntegrator/ByAllNoteMappings/Action/Delete:
    put:
      tags:
      - Integrations/CustodialIntegrator
      operationId: ByAllNoteMappings_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: By all note mappings action delete
      x-summary-source: derived
  /v1/Integrations/CustodialIntegrator/ByAllOffsetSymbol:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Get all Offset Symbols
      operationId: ByAllOffsetSymbol_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
                xml:
                  name: ByAllOffsetSymbolDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
                xml:
                  name: ByAllOffsetSymbolDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
                xml:
                  name: ByAllOffsetSymbolDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
                xml:
                  name: ByAllOffsetSymbolDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
                xml:
                  name: ByAllOffsetSymbolDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
                xml:
                  name: ByAllOffsetSymbolDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/CustodialIntegrator
      summary: Create new Offset Symbol
      operationId: ByAllOffsetSymbol_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
        description: ByAllOffsetSymbolMapping object ot update
        required: true
  /v1/Integrations/CustodialIntegrator/ByAllOffsetSymbol/{key}:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Get Offset Symbol by key
      operationId: ByAllOffsetSymbol_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desir4ed return object
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/CustodialIntegrator
      summary: Update Offset Symbol by key
      operationId: ByAllOffsetSymbol_UpdateEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllOffsetSymbolDto'
        required: true
  /v1/Integrations/CustodialIntegrator/ByAllOffsetSymbol/Action/Delete:
    put:
      tags:
      - Integrations/CustodialIntegrator
      operationId: ByAllOffsetSymbol_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: By all offset symbol action delete
      x-summary-source: derived
  /v1/Integrations/CustodialIntegrator/ByAllTreatments:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Get all ByAllTreatments
      operationId: ByAllTreatments_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
                xml:
                  name: ByAllTreatmentDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
                xml:
                  name: ByAllTreatmentDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
                xml:
                  name: ByAllTreatmentDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
                xml:
                  name: ByAllTreatmentDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
                xml:
                  name: ByAllTreatmentDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
                xml:
                  name: ByAllTreatmentDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/CustodialIntegrator
      summary: Adds a new ByAllTreatment to the database
      operationId: ByAllTreatments_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
        description: ByAllTreatment object to update
        required: true
  /v1/Integrations/CustodialIntegrator/ByAllTreatments/{key}:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Gets the ByAllTreatment that has the provided key.
      operationId: ByAllTreatments_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/CustodialIntegrator
      summary: Updates the ByAllTreatment that has the provided key.
      operationId: ByAllTreatments_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired update object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentDto'
        description: ByAllTreatment object to update
        required: true
  /v1/Integrations/CustodialIntegrator/ByAllTreatments/Action/Delete:
    put:
      tags:
      - Integrations/CustodialIntegrator
      operationId: ByAllTreatments_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: By all treatments action delete
      x-summary-source: derived
  /v1/Integrations/CustodialIntegrator/ByAllTreatmentTypes:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Get all ByAllTreatmentTypes
      operationId: ByAllTreatmentTypes_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentTypeDto'
                xml:
                  name: ByAllTreatmentTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentTypeDto'
                xml:
                  name: ByAllTreatmentTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentTypeDto'
                xml:
                  name: ByAllTreatmentTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentTypeDto'
                xml:
                  name: ByAllTreatmentTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentTypeDto'
                xml:
                  name: ByAllTreatmentTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.ByAllTreatmentTypeDto'
                xml:
                  name: ByAllTreatmentTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/CustodialIntegrator/PlaidAccounts:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Gets all of the Plaid accounts
      operationId: PlaidAccount_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.PlaidAccountDto'
                xml:
                  name: PlaidAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.PlaidAccountDto'
                xml:
                  name: PlaidAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.PlaidAccountDto'
                xml:
                  name: PlaidAccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.PlaidAccountDto'
                xml:
                  name: PlaidAccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.PlaidAccountDto'
                xml:
                  name: PlaidAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.PlaidAccountDto'
                xml:
                  name: PlaidAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/CustodialIntegrator/PlaidAccounts/{key}:
    get:
      tags:
      - Integrations/CustodialIntegrator
      summary: Gets the PlaidAccount that has the provided key.
      operationId: PlaidAccount_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.PlaidAccountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.CustodialIntegrator.PlaidAccountDto'
            text/json:
              schema:
[...]
