openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Blogging/Newsfeed API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Blogging/Newsfeed
paths:
  /v1/Blogging/Newsfeed:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets all Newsfeed objects for user
      operationId: Newsfeed_GetAllAsync
      parameters:
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      - name: startDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: clientId
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
      security:
      - Authorization: []
  /v1/Blogging/Newsfeed/Admin:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets all Newsfeed objects for user
      operationId: NewsfeedAdmin_GetAll
      parameters:
      - name: feedType
        in: query
        description: News feed type, Optional. Default:null
        required: false
        schema:
          type: string
          enum:
          - Post
          - Rss
          - Notification
          - Statement
          - Webinar
          - AdvisorMaterial
      - name: allCurrent
        in: query
        description: Returns all feeds active and published, Optional. Default:false
        required: false
        schema:
          type: boolean
          default: false
      - name: feedStatus
        in: query
        description: Optional, ignored if allCurrent is true. Default:null
        required: false
        schema:
          type: string
          enum:
          - Inactive
          - Active
          - Draft
          - Scheduled
          - Published
          - EBN
          - Statement
      - name: audienceType
        in: query
        required: false
        schema:
          type: string
          enum:
          - Clients
          - Reps
          default: 1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
                xml:
                  name: NewsfeedDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
                xml:
                  name: NewsfeedDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
                xml:
                  name: NewsfeedDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
                xml:
                  name: NewsfeedDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Blogging/Newsfeed
      summary: Adds a new News feed item to the database
      operationId: NewsfeedAdmin_CreateNewsfeedAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
        required: true
  /v1/Blogging/Newsfeed/Admin/{key}:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets Newsfeed by key
      operationId: NewsfeedAdmin_GetItemByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
      security:
      - Authorization: []
    put:
      tags:
      - Blogging/Newsfeed
      summary: Update News feed
      operationId: NewsfeedAdmin_UpdateNewsfeedAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
        required: true
  /v1/Blogging/Newsfeed/Admin/Action/Active:
    put:
      tags:
      - Blogging/Newsfeed
      operationId: NewsfeedAdmin_ActionStatus
      parameters:
      - name: isActive
        in: query
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Newsfeed admin action status
      x-summary-source: derived
  /v1/Blogging/Newsfeed/Admin/Action/Delete:
    put:
      tags:
      - Blogging/Newsfeed
      operationId: NewsfeedAdmin_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Newsfeed admin action delete
      x-summary-source: derived
  /v1/Blogging/Newsfeed/Admin/AdvisorMaterial:
    post:
      tags:
      - Blogging/Newsfeed
      summary: Creates News feed advisor material.Special endpoint to flatten the object for…
      operationId: NewsfeedAdmin_CreateAdvisorMaterialNewsfeedAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedAdvisorMaterialDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedAdvisorMaterialDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedAdvisorMaterialDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedAdvisorMaterialDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedAdvisorMaterialDto'
        required: true
  /v1/Blogging/Newsfeed/Admin/AdvisorMaterial/{key}:
    put:
      tags:
      - Blogging/Newsfeed
      summary: Update News feed advisor material.Special endpoint to flatten the object for…
      operationId: NewsfeedAdmin_UpdateAdvisorMaterialNewsfeedAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedAdvisorMaterialDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedAdvisorMaterialDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedAdvisorMaterialDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedAdvisorMaterialDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedAdvisorMaterialDto'
        required: true
  /v1/Blogging/Newsfeed/Admin/AdvisorMaterial/File/{blobId}/download:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Newsfeed admin download advisor material file async
      operationId: NewsfeedAdmin_DownloadAdvisorMaterialFileAsync
      parameters:
      - name: blobId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Blogging/Newsfeed/Admin/AdvisorMaterial/File/{newsfeedId}:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Newsfeed admin get advisor material file async
      operationId: NewsfeedAdmin_GetAdvisorMaterialFileAsync
      parameters:
      - name: newsfeedId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.AdvisorBlob'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.AdvisorBlob'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.AdvisorBlob'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.AdvisorBlob'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.AdvisorBlob'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.AdvisorBlob'
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Blogging/Newsfeed/Admin/GetAllAdvisorPosts/{feedType}/{categoryId}/{subCategoryId}:
    get:
      tags:
      - Blogging/Newsfeed
      operationId: NewsfeedAdmin_GetAllAdvisorPosts
      parameters:
      - name: feedType
        in: path
        required: true
        schema:
          type: string
          enum:
          - Post
          - Rss
          - Notification
          - Statement
          - Webinar
          - AdvisorMaterial
          default: 6
      - name: categoryId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: subCategoryId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
                xml:
                  name: NewsfeedDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
                xml:
                  name: NewsfeedDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
                xml:
                  name: NewsfeedDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
                xml:
                  name: NewsfeedDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Newsfeed admin get all advisor posts
      x-summary-source: derived
  /v1/Blogging/Newsfeed/Admin/Grid/Post:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets Newsfeed of type Post for grid display
      operationId: NewsfeedAdmin_GetGridPost
      parameters:
      - name: includeEBN
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: includeStatements
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: audienceType
        in: query
        required: false
        schema:
          type: string
          enum:
          - Clients
          - Reps
          default: 1
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedPostGridDto'
                xml:
                  name: NewsfeedPostGridDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedPostGridDto'
                xml:
                  name: NewsfeedPostGridDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedPostGridDto'
                xml:
                  name: NewsfeedPostGridDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedPostGridDto'
                xml:
                  name: NewsfeedPostGridDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedPostGridDto'
                xml:
                  name: NewsfeedPostGridDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedPostGridDto'
                xml:
                  name: NewsfeedPostGridDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Blogging/Newsfeed/Admin/Grid/Rss:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets Newsfeed of type RSS for grid display
      operationId: NewsfeedAdmin_GetGridRss
      parameters:
      - name: audienceType
        in: query
        required: false
        schema:
          type: string
          enum:
          - Clients
          - Reps
          default: 1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedRssGridDto'
                xml:
                  name: NewsfeedRssGridDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedRssGridDto'
                xml:
                  name: NewsfeedRssGridDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedRssGridDto'
                xml:
                  name: NewsfeedRssGridDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedRssGridDto'
                xml:
                  name: NewsfeedRssGridDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedRssGridDto'
                xml:
                  name: NewsfeedRssGridDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedRssGridDto'
                xml:
                  name: NewsfeedRssGridDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Blogging/Newsfeed/Admin/New:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets all blog objects for user
      operationId: NewsfeedAdmin_GetNew
      parameters:
      - name: feedType
        in: query
        description: News feed type will default to Post if not entered.
        required: false
        schema:
          type: string
          enum:
          - Post
          - Rss
          - Notification
          - Statement
          - Webinar
          - AdvisorMaterial
          default: 1
      - name: audienceType
        in: query
        description: News feed audience type will default to Clients if not entered.
        required: false
        schema:
          type: string
          enum:
          - Clients
          - Reps
          default: 1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedDto'
      security:
      - Authorization: []
  /v1/Blogging/Newsfeed/AdvisorMaterial:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets Newsfeed of type AdvisorMaterial for user display
      operationId: Newsfeed_GetAdvisorMaterialAsync
      parameters:
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      - name: startDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: repId
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
      security:
      - Authorization: []
  /v1/Blogging/Newsfeed/AdvisorMaterial/View:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets the viewable advisor material
      operationId: Newsfeed_GetViewableAdvisorMaterial
      parameters:
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      - name: fileId
        in: query
        description: The file identifier.
        required: true
        schema:
          type: integer
          format: int32
      - name: repId
        in: query
        description: The rep identifier.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Blogging/Newsfeed/Notification:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets Newsfeed of type Notification
      operationId: Newsfeed_GetNotificationAsync
      parameters:
      - name: token
        in: header
        description: The token.
        required: true
      - name: startDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: clientId
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
      security:
      - Authorization: []
  /v1/Blogging/Newsfeed/Notification/View:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets view of the Notification that was sent
      operationId: Newsfeed_GetViewableNotificationAsync
      parameters:
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      - name: instanceId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: clientId
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Blogging/Newsfeed/Post:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets Newsfeed of type Post
      operationId: Newsfeed_GetPostAsync
      parameters:
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      - name: startDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: clientId
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: integer
          format: int32
      - name: repId
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
      security:
      - Authorization: []
  /v1/Blogging/Newsfeed/Rss:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets Newsfeed of type RSS for user display
      operationId: Newsfeed_GetRssAsync
      parameters:
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      - name: startDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: clientId
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: integer
          format: int32
      - name: repId
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
      security:
      - Authorization: []
  /v1/Blogging/Newsfeed/Statement:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets Newsfeed of type Statement
      operationId: Newsfeed_GetStatementAsync
      parameters:
      - name: token
        in: header
        description: The token.
        required: true
      - name: startDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: clientId
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
      security:
      - Authorization: []
  /v1/Blogging/Newsfeed/Statement/View:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets the viewable statement
      operationId: Newsfeed_GetViewableStatement
      parameters:
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      - name: fileId
        in: query
        description: The file identifier.
        required: true
        schema:
          type: integer
          format: int32
      - name: clientId
        in: query
        description: The client identifier.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Blogging/Newsfeed/Summary:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets counts of all Newsfeed types
      operationId: Newsfeed_GetSummaryAsync
      parameters:
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      - name: clientId
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedTypeCountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedTypeCountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedTypeCountDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedTypeCountDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedTypeCountDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedTypeCountDto'
      security:
      - Authorization: []
  /v1/Blogging/Newsfeed/Webinar:
    get:
      tags:
      - Blogging/Newsfeed
      summary: Gets Newsfeed of type Webinar for user display
      operationId: Newsfeed_GetWebinarAsync
      parameters:
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      - name: startDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: string
          format: date-time
      - name: repId
        in: query
        description: Optional. Default:null
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto'
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Blogging.NewsfeedContentDto:
      properties:
        caption:
          type: string
        contentText:
          type: string
        url:
          type: string
        blobId:
          type: integer
          format: int32
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
        fileName:
          type: string
      xml:
        name: NewsfeedContentDto
      type: object
    OAS.WebApi.DTO.Blogging.NewsFeedTypeCountDto:
      properties:
        isEnabled:
          readOnly: true
          type: boolean
        posts:
          type: integer
          format: int32
        rssFeeds:
          type: integer
          format: int32
        clientStatements:
          type: integer
          format: int32
        notifications:
          type: integer
          format: int32
      xml:
        name: NewsFeedTypeCountDto
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.DataModel.Portfolio.AdvisorBlob:
      required:
      - id
      - isZip
      - uniqueID
      properties:
        id:
          type: integer
          format: int32
        openWith:
          type: string
          maxLength: 200
          minLength: 0
        fileName:
          type: string
          maxLength: 100
          minLength: 0
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
        createdDate:
          type: string
          format: date-time
        rowVersion:
          type: string
          format: byte
        blobDesc:
          type: string
          maxLength: 200
          minLength: 0
        blobText:
          type: string
        isZip:
          type: boolean
        fileNETidmId:
          type: string
          maxLength: 9
          minLength: 0
        filePath:
          type: string
          maxLength: 500
          minLength: 0
        eFileLocation:
          type: string
          enum:
          - Undefined
          - Database
          - FileServer
          - AmazonS3
          - HttpGet
          - RedtailIms
          - Communities
        rootPath:
          type: string
          maxLength: 100
          minLength: 0
        uniqueID:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
      xml:
        name: AdvisorBlob
      type: object
    OAS.WebApi.DTO.Blogging.NewsfeedAdvisorMaterialDto:
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
        caption:
          type: string
        url:
          type: string
        feedStatus:
          type: string
          enum:
          - Inactive
          - Active
          - Draft
          - Scheduled
          - Published
          - EBN
          - Statement
        audienceType:
          type: string
          enum:
          - Clients
          - Reps
        audienceFacing:
          type: string
        publishDate:
          type: string
          format: date-time
        createdBy:
          type: string
        categoryId:
          type: integer
          format: int32
        feedTypeId:
          type: integer
          format: int32
        subCategoryId:
          type: integer
          format: int32
        isInclusive:
          type: boolean
        blobId:
          type: integer
          format: int32
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
        fileName:
          type: string
        brokerDealerIds:
          type: string
        contextText:
          type: string
      xml:
        name: NewsfeedAdvisorMaterialDto
      type: object
    OAS.WebApi.DTO.Blogging.NewsfeedViewDto:
      properties:
        id:
          type: string
        title:
          type: string
        feedStatus:
          type: string
          enum:
          - Inactive
          - Active
          - Draft
          - Scheduled
          - Published
          - EBN
          - Statement
        feedType:
          type: string
          enum:
          - Post
          - Rss
          - Notification
          - Statement
          - Webinar
          - AdvisorMaterial
        caption:
          type: string
        contentText:
          type: string
        url:
          type: string
        publishDate:
          type: string
          format: date-time
        fileName:
          type: string
      xml:
        name: NewsfeedViewDto
      type: object
    OAS.WebApi.DTO.Blogging.NewsfeedPostGridDto:
      properties:
        id:
          type: string
        title:
          type: string
        feedStatus:
          type: string
          enum:
          - Inactive
          - Active
          - Draft
          - Scheduled
          - Published
          - EBN
          - Statement
        audienceSummary:
          type: string
        publishDate:
          type: string
          format: date-time
        createdBy:
          type: string
      xml:
        name: NewsfeedPostGridDto
      type: object
    OAS.DataModel.Portfolio.SimpleClient:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        entityName:
          type: string
        isActive:
          type: boolean
        repCode:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleClient
      type: object
    OAS.WebApi.DTO.Blogging.NewsfeedRssGridDto:
      properties:
        id:
          type: integer
          format: int32
        isActive:
          type: boolean
        title:
          type: string
        url:
          type: string
        createdBy:
          type: string
      xml:
        name: NewsfeedRssGridDto
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAS.WebApi.DTO.Blogging.NewsfeedAudienceDto:
      properties:
        includeAllClients:
          type: boolean
        clients:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
          xml:
            name: SimpleClient
            wrapped: true
          type: array
        isInclusive:
          type: boolean
        brokerDealerIds:
          items:
            type: integer
            format: int32
          type: array
        audienceFacing:
          type: string
      xml:
        name: NewsfeedAudienceDto
      type: object
    OAS.WebApi.DTO.Blogging.NewsFeedCompilationDto:
      properties:
        compilation:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedViewDto'
          xml:
            name: NewsfeedViewDto
            wrapped: true
          type: array
        previousPublishDate:
          type: string
          format: date-time
      xml:
        name: NewsFeedCompilationDto
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
    OAS.WebApi.DTO.Blogging.NewsfeedDto:
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
        feedStatus:
          type: string
          enum:
          - Inactive
          - Active
          - Draft
          - Scheduled
          - Published
          - EBN
          - Statement
        feedType:
          type: string
          enum:
          - Post
          - Rss
          - Notification
          - Statement
          - Webinar
          - AdvisorMaterial
        audienceType:
          type: string
          enum:
          - Clients
          - Reps
        audience:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedAudienceDto'
        content:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.NewsfeedContentDto'
        publishDate:
          type: string
          format: date-time
        createdBy:
          type: string
        categoryId:
          type: integer
          format: int32
        subCategoryId:
          type: integer
          format: int32
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
      xml:
        name: NewsfeedDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
