openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Date Expressions API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/DateExpressions
paths:
  /v1/Utility/DateExpressions:
    post:
      tags:
      - Utility/DateExpressions
      operationId: Utility_ResolveDateExpressions
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DateExpressionResultDto'
                xml:
                  name: DateExpressionResultDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DateExpressionResultDto'
                xml:
                  name: DateExpressionResultDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DateExpressionResultDto'
                xml:
                  name: DateExpressionResultDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DateExpressionResultDto'
                xml:
                  name: DateExpressionResultDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DateExpressionResultDto'
                xml:
                  name: DateExpressionResultDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DateExpressionResultDto'
                xml:
                  name: DateExpressionResultDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/xml:
            schema:
              items:
                type: string
              type: array
          text/xml:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        required: true
      summary: Utility resolve date expressions
      x-summary-source: derived
  /v1/Utility/DateExpressions/{asOfDate}:
    post:
      tags:
      - Utility/DateExpressions
      operationId: Utility_PostV1UtilityDateExpressionsByAsOfDate
      parameters:
      - name: asOfDate
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DateExpressionResultDto'
                xml:
                  name: DateExpressionResultDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DateExpressionResultDto'
                xml:
                  name: DateExpressionResultDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DateExpressionResultDto'
                xml:
                  name: DateExpressionResultDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DateExpressionResultDto'
                xml:
                  name: DateExpressionResultDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DateExpressionResultDto'
                xml:
                  name: DateExpressionResultDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DateExpressionResultDto'
                xml:
                  name: DateExpressionResultDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/xml:
            schema:
              items:
                type: string
              type: array
          text/xml:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        required: true
      summary: Utility post V1 utility date expressions by as of date
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Utility.DateExpressionResultDto:
      properties:
        date:
          type: string
        expression:
          type: string
        isValid:
          type: boolean
      xml:
        name: DateExpressionResultDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
