openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Security/Login Entities API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Security/LoginEntities
paths:
  /v1/Security/LoginEntities:
    get:
      tags:
      - Security/LoginEntities
      operationId: LoginEntities_GetLoginEntities
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: object
                type: array
            application/json:
              schema:
                items:
                  type: object
                type: array
            text/json:
              schema:
                items:
                  type: object
                type: array
            application/xml:
              schema:
                items:
                  type: object
                type: array
            text/xml:
              schema:
                items:
                  type: object
                type: array
            multipart/form-data:
              schema:
                items:
                  type: object
                type: array
      security:
      - Authorization: []
      summary: Login entities get login entities
      x-summary-source: derived
  /v1/Security/LoginEntities/UserCanUpdate:
    get:
      tags:
      - Security/LoginEntities
      operationId: LoginEntities_GetLoginEntitiesUpdatableByUser
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: object
                type: array
            application/json:
              schema:
                items:
                  type: object
                type: array
            text/json:
              schema:
                items:
                  type: object
                type: array
            application/xml:
              schema:
                items:
                  type: object
                type: array
            text/xml:
              schema:
                items:
                  type: object
                type: array
            multipart/form-data:
              schema:
                items:
                  type: object
                type: array
      security:
      - Authorization: []
      summary: Login entities get login entities updatable by user
      x-summary-source: derived
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
