openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Dashboards/Cards API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Dashboards/Cards
paths:
  /v1/Dashboards/Cards/Card:
    get:
      tags:
      - Dashboards/Cards
      summary: Retrieve card by card type and name
      operationId: Cards_GetCardByNameAsync
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      - name: cardType
        in: query
        required: true
        schema:
          type: string
          enum:
          - None
          - Homepage
          - View
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Dashboards/Cards/Settings:
    put:
      tags:
      - Dashboards/Cards
      summary: Cards update card settings async
      operationId: Cards_UpdateCardSettingsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingSaveDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingSaveDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingSaveDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingSaveDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingSaveDto'
        required: true
      x-summary-source: derived
  /v1/Dashboards/Cards/Simple:
    get:
      tags:
      - Dashboards/Cards
      summary: Cards get cards simple async
      operationId: Cards_GetCardsSimpleAsync
      parameters:
      - name: cardType
        in: query
        required: true
        schema:
          type: string
          enum:
          - None
          - Homepage
          - View
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.HomepageDashboard.CardSettingDto:
      properties:
        displayName:
          type: string
        promptType:
          type: integer
          format: int32
        selectedValue:
          type: string
        code:
          type: string
        dataType:
          type: string
        availableValues:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.AvailableValueDto'
          xml:
            name: AvailableValueDto
            wrapped: true
          type: array
        valuesSource:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.ValuesSourceDto'
        option:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardsettingOptionDto'
        hidden:
          type: boolean
        settings:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingDto'
          xml:
            name: CardSettingDto
            wrapped: true
          type: array
        category:
          type: string
        dragSortEnabled:
          type: boolean
        useDefaultIfHidden:
          type: boolean
        isThreeDotMenu:
          type: boolean
        cardEventType:
          type: integer
          format: int32
        mappings:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardMappingDto'
        listEditor:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.ListEditorConfigDto'
        listEditorMenuTargetCode:
          type: string
        maxOptionsAllowed:
          type: integer
          format: int32
      xml:
        name: CardSettingDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.BucketMappingDto:
      properties:
        name:
          type: string
        id:
          type: integer
          format: int32
        includedValues:
          type: string
      xml:
        name: BucketMappingDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.SliderOptionDto:
      properties:
        min:
          type: integer
          format: int32
        max:
          type: integer
          format: int32
        dimension:
          type: integer
          format: int32
      xml:
        name: SliderOptionDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.CardSettingSaveDto:
      required:
      - cardId
      - name
      - size
      properties:
        dashboardCardId:
          type: integer
          format: int32
        cardId:
          type: integer
          format: int32
        name:
          type: string
        size:
          type: integer
          format: int32
        setting:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingDto'
          xml:
            name: CardSettingDto
            wrapped: true
          type: array
      xml:
        name: CardSettingSaveDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.ListEditorConfigDto:
      description: Declarative list editor UI config stored on card settings JSON (listEditor).
      properties:
        mode:
          type: string
        labelField:
          type: string
        valueField:
          type: string
        readOnlyFields:
          items:
            type: string
          type: array
        maxItems:
          type: integer
          format: int32
        minItems:
          type: integer
          format: int32
        allowAdd:
          type: boolean
        allowRemove:
          type: boolean
        allowReorder:
          type: boolean
        emptyMessage:
          type: string
        persistStrategy:
          type: string
      xml:
        name: ListEditorConfigDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.InputOption:
      properties:
        min:
          type: integer
          format: int32
        max:
          type: integer
          format: int32
      xml:
        name: InputOption
      type: object
    OAS.WebApi.DTO.HomepageDashboard.AvailableValueDto:
      properties:
        displayName:
          type: string
        value:
          type: string
        sortOrder:
          type: integer
          format: int32
        bucketValue:
          type: string
        isHidden:
          type: boolean
        dataText:
          type: string
        cssClass:
          type: string
        setting:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingDto'
      xml:
        name: AvailableValueDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.CardsettingOptionDto:
      properties:
        inputOption:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.InputOption'
        sliderOption:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.SliderOptionDto'
      xml:
        name: CardsettingOptionDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.CardMappingDto:
      properties:
        type:
          type: string
        text:
          type: string
        originalAvailableValues:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.AvailableValueDto'
          xml:
            name: AvailableValueDto
            wrapped: true
          type: array
        buckets:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.BucketMappingDto'
          xml:
            name: BucketMappingDto
            wrapped: true
          type: array
      xml:
        name: CardMappingDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.ValuesSourceDto:
      properties:
        endpoint:
          type: string
        labelField:
          type: string
        valueField:
          type: string
      xml:
        name: ValuesSourceDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
