openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Compliance/Inform Email API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Compliance/InformEmail
paths:
  /v1/Compliance/InformEmail/Template/{key}:
    put:
      tags:
      - Compliance/InformEmail
      summary: Endpoint to update custom values on template
      operationId: InformEmailTemplate_UpdateEmailTemplateAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
        required: true
  /v1/Compliance/InformEmail/Templates:
    get:
      tags:
      - Compliance/InformEmail
      summary: Endpoint to return list of Inform Email Templates
      operationId: InformEmailTemplate_GetInformEmailTemplates
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
                xml:
                  name: InformEmailTemplateDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
                xml:
                  name: InformEmailTemplateDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
                xml:
                  name: InformEmailTemplateDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
                xml:
                  name: InformEmailTemplateDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
                xml:
                  name: InformEmailTemplateDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto'
                xml:
                  name: InformEmailTemplateDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Compliance/InformEmail/TestEmail:
    post:
      tags:
      - Compliance/InformEmail
      summary: Endpoint to send test email
      operationId: InformEmailTemplate_SendTestEmail
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Utilities.Email.EmailResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Utilities.Email.EmailResult'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Utilities.Email.EmailResult'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Utilities.Email.EmailResult'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformTestEmailDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformTestEmailDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformTestEmailDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformTestEmailDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformTestEmailDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformTestEmailDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Inform.InformTestEmailDto'
        required: true
components:
  schemas:
    OAT.Utilities.Email.EmailResult:
      properties:
        success:
          type: boolean
        emailException:
          type: object
      xml:
        name: EmailResult
      type: object
    OAS.WebApi.DTO.Compliance.Inform.InformTestEmailDto:
      properties:
        emailTemplate:
          type: string
        emailAddressTo:
          type: string
        useCustomTemplate:
          type: boolean
      xml:
        name: InformTestEmailDto
      type: object
    OAS.WebApi.DTO.Compliance.Inform.InformEmailTemplateDto:
      properties:
        id:
          type: integer
          format: int32
        templateName:
          type: string
        emailSubject:
          type: string
        emailBody:
          type: string
        useCustomTemplate:
          type: boolean
        customSubject:
          type: string
        customBody:
          type: string
      xml:
        name: InformEmailTemplateDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
