openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Theoretical/Inflation Rates API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Theoretical/InflationRates
paths:
  /v1/Theoretical/InflationRates:
    get:
      tags:
      - Theoretical/InflationRates
      summary: Gets a list of inflation rates that the logged in user has access to.
      operationId: InflationRates_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
                xml:
                  name: InflationRateDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
                xml:
                  name: InflationRateDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
                xml:
                  name: InflationRateDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
                xml:
                  name: InflationRateDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
                xml:
                  name: InflationRateDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
                xml:
                  name: InflationRateDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Theoretical/InflationRates
      summary: Used to create a new business line.
      operationId: InflationRates_Create
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
        required: true
  /v1/Theoretical/InflationRates/{key}:
    get:
      tags:
      - Theoretical/InflationRates
      summary: Gets the business line that has the provided key.
      operationId: InflationRates_GetByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
      security:
      - Authorization: []
    put:
      tags:
      - Theoretical/InflationRates
      summary: Used to update an existing business line.
      operationId: InflationRates_Update
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Theoretical.InflationRateDto'
        required: true
    delete:
      tags:
      - Theoretical/InflationRates
      summary: Used to delete an existing business line.
      operationId: InflationRates_Delete
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Theoretical.InflationRateDto:
      properties:
        asOfDate:
          type: string
          format: date-time
        annualInflationRate:
          type: number
          format: double
      xml:
        name: InflationRateDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
