openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Product Classes API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/ProductClasses
paths:
  /v1/Portfolio/ProductClasses:
    get:
      tags:
      - Portfolio/ProductClasses
      summary: Gets a list of product classes that the logged in user has access to
      operationId: ProductClasses_Get
      parameters:
      - name: filter
        in: query
        description: Filter product classes by those that are used by assets.
        required: false
        schema:
          type: string
          enum:
          - All
          - Used
          - HasValue
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassDto'
                xml:
                  name: ProductClassDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassDto'
                xml:
                  name: ProductClassDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassDto'
                xml:
                  name: ProductClassDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassDto'
                xml:
                  name: ProductClassDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassDto'
                xml:
                  name: ProductClassDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassDto'
                xml:
                  name: ProductClassDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/ProductClasses/{key}:
    get:
      tags:
      - Portfolio/ProductClasses
      summary: Gets the product class that has the provided key.
      operationId: ProductClasses_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassDto'
      security:
      - Authorization: []
  /v1/Portfolio/ProductClasses/{key}/Simple:
    get:
      tags:
      - Portfolio/ProductClasses
      summary: Gets the simple product class that has the provided key.
      operationId: ProductClasses_GetSimpleByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
      security:
      - Authorization: []
  /v1/Portfolio/ProductClasses/Action/EstablishColors:
    put:
      tags:
      - Portfolio/ProductClasses
      summary: Generates a random color for every product class that has no color.
      operationId: ProductClasses_ActionEstablishColors
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/ProductClasses/Reset:
    put:
      tags:
      - Portfolio/ProductClasses
      operationId: ProductClasses_ResetAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Product classes reset async
      x-summary-source: derived
  /v1/Portfolio/ProductClasses/Simple:
    get:
      tags:
      - Portfolio/ProductClasses
      summary: Gets a simple list of productClasses that the logged in user has access to
      operationId: ProductClasses_GetSimple
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
          enum:
          - All
          - Used
          - HasValue
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/ProductClasses/Simple/Search:
    get:
      tags:
      - Portfolio/ProductClasses
      summary: Gets a simple list of portfolio classes by the search criteria
      operationId: ProductClasses_GetSimpleSearch
      parameters:
      - name: search
        in: query
        description: Product Class Id, Description or Name
        required: true
        schema:
          type: string
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleProductClass'
                xml:
                  name: SimpleProductClass
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleProductClass'
                xml:
                  name: SimpleProductClass
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleProductClass'
                xml:
                  name: SimpleProductClass
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleProductClass'
                xml:
                  name: SimpleProductClass
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleProductClass'
                xml:
                  name: SimpleProductClass
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleProductClass'
                xml:
                  name: SimpleProductClass
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/ProductClasses/Simple/Search/{search}:
    get:
      tags:
      - Portfolio/ProductClasses
      summary: Gets a simple list of portfolio classes by the search criteria
      operationId: ProductClasses_GetV1PortfolioProductClassesSimpleSearchBySearch
      parameters:
      - name: search
        in: path
        description: Product Class Id, Description or Name
        required: true
        schema:
          type: string
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleProductClass'
                xml:
                  name: SimpleProductClass
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleProductClass'
                xml:
                  name: SimpleProductClass
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleProductClass'
                xml:
                  name: SimpleProductClass
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleProductClass'
                xml:
                  name: SimpleProductClass
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleProductClass'
                xml:
                  name: SimpleProductClass
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleProductClass'
                xml:
                  name: SimpleProductClass
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/ProductClasses/Verbose:
    get:
      tags:
      - Portfolio/ProductClasses
      operationId: ProductClasses_GetVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Product classes get verbose
      x-summary-source: derived
    put:
      tags:
      - Portfolio/ProductClasses
      operationId: ProductClasses_UpdateVerboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
              xml:
                name: ProductClassVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
              xml:
                name: ProductClassVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
              xml:
                name: ProductClassVerboseDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
              xml:
                name: ProductClassVerboseDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
              xml:
                name: ProductClassVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
              xml:
                name: ProductClassVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
              xml:
                name: ProductClassVerboseDto
                wrapped: true
              type: array
        required: true
      summary: Product classes update verbose async
      x-summary-source: derived
    post:
      tags:
      - Portfolio/ProductClasses
      summary: Create a product class
      operationId: ProductClasses_CreateVerbose
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
        required: true
  /v1/Portfolio/ProductClasses/Verbose/{key}:
    get:
      tags:
      - Portfolio/ProductClasses
      operationId: ProductClasses_GetVerboseByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
      security:
      - Authorization: []
      summary: Product classes get verbose by key
      x-summary-source: derived
    put:
      tags:
      - Portfolio/ProductClasses
      operationId: ProductClasses_PutV1PortfolioProductClassesVerboseByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
        required: true
      summary: Product classes put V1 portfolio product classes verbose by key
      x-summary-source: derived
    delete:
      tags:
      - Portfolio/ProductClasses
      summary: Used to delete an existing product class.
      operationId: ProductClasses_DeleteAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: reassignKey
        in: query
        description: "Optional. If provided, will reassociate any products associated to the product class to be deleted to this other product class.\n            Will also uncheck auto-assign for thos products"
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/ProductClasses/Verbose/CanDelete/{key}:
    get:
      tags:
      - Portfolio/ProductClasses
      summary: Gets a list of errors if a delete was attempted on the product class
      operationId: ProductClasses_CanDelete
      parameters:
      - name: key
        in: path
        description: ID of the product class to check
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Validation.IValidationError'
                xml:
                  name: IValidationError
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Validation.IValidationError'
                xml:
                  name: IValidationError
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Validation.IValidationError'
                xml:
                  name: IValidationError
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Validation.IValidationError'
                xml:
                  name: IValidationError
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/ProductClasses/Verbose/List:
    post:
      tags:
      - Portfolio/ProductClasses
      operationId: ProductClasses_GetVerboseListById
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Product classes get verbose list by id
      x-summary-source: derived
  /v1/Portfolio/ProductClasses/Verbose/List/Id:
    post:
      tags:
      - Portfolio/ProductClasses
      operationId: ProductClasses_PostV1PortfolioProductClassesVerboseListId
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
                xml:
                  name: ProductClassVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Product classes post V1 portfolio product classes verbose list id
      x-summary-source: derived
  /v1/Portfolio/ProductClasses/Verbose/New:
    get:
      tags:
      - Portfolio/ProductClasses
      operationId: ProductClasses_GetNewVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto'
      security:
      - Authorization: []
      summary: Product classes get new verbose
      x-summary-source: derived
  /v1/Portfolio/ProductClasses/Weighted:
    get:
      tags:
      - Portfolio/ProductClasses
      summary: Gets a list of weighted asset classes that the logged in user has access to
      operationId: ProductClassesWeighted_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/ProductClasses
      summary: Mass update product classes weights
      operationId: ProductClassesWeighted_UpdateProductClassWeights
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
              xml:
                name: ProductClassWeightedDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
              xml:
                name: ProductClassWeightedDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
              xml:
                name: ProductClassWeightedDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
              xml:
                name: ProductClassWeightedDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
              xml:
                name: ProductClassWeightedDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
              xml:
                name: ProductClassWeightedDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
              xml:
                name: ProductClassWeightedDto
                wrapped: true
              type: array
        required: true
    post:
      tags:
      - Portfolio/ProductClasses
      summary: Create weighted product classes
      operationId: ProductClassesWeighted_CreateProductClassWeighted
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
        required: true
  /v1/Portfolio/ProductClasses/Weighted/{key}:
    get:
      tags:
      - Portfolio/ProductClasses
      summary: Gets a list of weighted asset classes that the logged in user has access to
      operationId: ProductClassesWeighted_GetByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/ProductClasses
      summary: Update weighted product classes
      operationId: ProductClassesWeighted_UpdateProductClassWeight
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
        required: true
    delete:
      tags:
      - Portfolio/ProductClasses
      summary: Delete product class weight
      operationId: ProductClassesWeighted_DeleteItem
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/ProductClasses/Weighted/Products/{productId}:
    get:
      tags:
      - Portfolio/ProductClasses
      summary: Get all weighted asset classes by product
      operationId: ProductClassesWeighted_GetProductClassesWeighted
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
      security:
      - Authorization: []
  /v1/Portfolio/ProductClasses/Weighted/Products/{productId}/Representative/{representativeId}:
    get:
      tags:
      - Portfolio/ProductClasses
      summary: Get all weighted asset classes by product and representative
      operationId: ProductClassesWeighted_GetProductClassWeight
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: representativeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto:
      properties:
        id:
          type: integer
          format: int32
        representativeId:
          type: integer
          format: int32
        representativeName:
          type: string
        productId:
          type: integer
          format: int32
        details:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDetailDto'
          xml:
            name: ProductClassWeightedDetailDto
            wrapped: true
          type: array
      xml:
        name: ProductClassWeightedDto
      type: object
    OAS.WebApi.DTO.Portfolio.ProductClassPortfolioDto:
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        subCategory:
          type: string
        isDefault:
          type: boolean
        riskScore:
          type: number
          format: double
        color:
          type: string
        classLevel:
          type: integer
          format: int32
        sortOrder1:
          type: integer
          format: int32
        sortOrder2:
          type: integer
          format: int32
        productCategoryId:
          type: integer
          format: int32
        externalId:
          type: string
        importKey:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        productDescriptionProviderId:
          type: integer
          format: int32
        productDescriptionProviderName:
          type: string
        rebalancePriority:
          type: integer
          format: int32
        rebalanceSellPriority:
          type: integer
          format: int32
        symbol:
          type: string
      xml:
        name: ProductClassPortfolioDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Portfolio.ProductClassDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        category:
          type: string
        categoryAbbreviation:
          type: string
        subCategory:
          type: string
        isDefault:
          type: boolean
        riskScore:
          type: number
          format: double
        color:
          type: string
        classLevel:
          type: integer
          format: int32
        sortOrder1:
          type: integer
          format: int32
        sortOrder2:
          type: integer
          format: int32
        productCategoryId:
          type: integer
          format: int32
        externalId:
          type: string
        importKey:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        productDescriptionProviderId:
          type: integer
          format: int32
        productDescriptionProviderName:
          type: string
        rebalancePriority:
          type: integer
          format: int32
        rebalanceSellPriority:
          type: integer
          format: int32
        symbol:
          type: string
        value:
          type: number
          format: double
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: ProductClassDto
      type: object
    OAS.Validation.IValidationError:
      properties:
        propertyName:
          readOnly: true
          type: string
        errorMessage:
          readOnly: true
          type: string
      xml:
        name: IValidationError
      type: object
    OAS.WebApi.DTO.Portfolio.ProductClassVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        portfolio:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassPortfolioDto'
        entityOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
      xml:
        name: ProductClassVerboseDto
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDto
      type: object
    OAS.WebApi.DTO.Portfolio.ProductClassWeightedDetailDto:
      properties:
        productClassId:
          type: integer
          format: int32
        className:
          type: string
        weight:
          type: number
          format: double
      xml:
        name: ProductClassWeightedDetailDto
      type: object
    OAS.DataModel.Portfolio.SimpleProductClass:
      properties:
        productClassId:
          type: integer
          format: int32
        description:
          type: string
        category:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleProductClass
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
