openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Rollups/Rollup Compares API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Rollups/RollupCompares
paths:
  /v1/Rollups/RollupCompares:
    get:
      tags:
      - Rollups/RollupCompares
      operationId: RollupCompare_GetRollupComparesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
                xml:
                  name: RollupCompareDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
                xml:
                  name: RollupCompareDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
                xml:
                  name: RollupCompareDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
                xml:
                  name: RollupCompareDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
                xml:
                  name: RollupCompareDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
                xml:
                  name: RollupCompareDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Rollup compare get rollup compares async
      x-summary-source: derived
    put:
      tags:
      - Rollups/RollupCompares
      operationId: RollupCompare_UpdateRollupCompareAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
        required: true
      summary: Rollup compare update rollup compare async
      x-summary-source: derived
    post:
      tags:
      - Rollups/RollupCompares
      operationId: RollupCompare_CreateRollupCompareAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
        required: true
      summary: Rollup compare create rollup compare async
      x-summary-source: derived
  /v1/Rollups/RollupCompares/{rollupCompareId}:
    get:
      tags:
      - Rollups/RollupCompares
      operationId: RollupCompare_GetRollupCompareAsync
      parameters:
      - name: rollupCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Rollups.RollupCompareDto'
      security:
      - Authorization: []
      summary: Rollup compare get rollup compare async
      x-summary-source: derived
    delete:
      tags:
      - Rollups/RollupCompares
      operationId: RollupCompare_DeleteRollupCompareAsync
      parameters:
      - name: rollupCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Rollup compare delete rollup compare async
      x-summary-source: derived
  /v1/Rollups/RollupCompares/{rollupCompareId}/AssetValueChangeDifferences:
    get:
      tags:
      - Rollups/RollupCompares
      operationId: RollupCompare_GetRollupCompareAssetValueChangeDifferencesAsync
      parameters:
      - name: rollupCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueChangeDifference'
                xml:
                  name: RollupCompareAssetValueChangeDifference
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueChangeDifference'
                xml:
                  name: RollupCompareAssetValueChangeDifference
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueChangeDifference'
                xml:
                  name: RollupCompareAssetValueChangeDifference
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueChangeDifference'
                xml:
                  name: RollupCompareAssetValueChangeDifference
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueChangeDifference'
                xml:
                  name: RollupCompareAssetValueChangeDifference
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueChangeDifference'
                xml:
                  name: RollupCompareAssetValueChangeDifference
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Rollup compare get rollup compare asset value change differences async
      x-summary-source: derived
  /v1/Rollups/RollupCompares/{rollupCompareId}/AssetValueDifferences:
    get:
      tags:
      - Rollups/RollupCompares
      operationId: RollupCompare_GetRollupCompareAssetValueDifferencesAsync
      parameters:
      - name: rollupCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueDifference'
                xml:
                  name: RollupCompareAssetValueDifference
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueDifference'
                xml:
                  name: RollupCompareAssetValueDifference
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueDifference'
                xml:
                  name: RollupCompareAssetValueDifference
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueDifference'
                xml:
                  name: RollupCompareAssetValueDifference
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueDifference'
                xml:
                  name: RollupCompareAssetValueDifference
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueDifference'
                xml:
                  name: RollupCompareAssetValueDifference
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Rollup compare get rollup compare asset value differences async
      x-summary-source: derived
  /v1/Rollups/RollupCompares/CheckPending:
    post:
      tags:
      - Rollups/RollupCompares
      operationId: RollupCompare_CheckPendingComparesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Rollup compare check pending compares async
      x-summary-source: derived
  /v1/Rollups/RollupCompares/Differences/AssetValueChangeDifferences/{rollupCompareId}:
    get:
      tags:
      - Rollups/RollupCompares
      operationId: RollupCompareDifferences_GetAssetValueChangeDifferencesAsync
      parameters:
      - name: rollupCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueChangeDifference'
                xml:
                  name: RollupCompareAssetValueChangeDifference
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueChangeDifference'
                xml:
                  name: RollupCompareAssetValueChangeDifference
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueChangeDifference'
                xml:
                  name: RollupCompareAssetValueChangeDifference
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueChangeDifference'
                xml:
                  name: RollupCompareAssetValueChangeDifference
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueChangeDifference'
                xml:
                  name: RollupCompareAssetValueChangeDifference
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueChangeDifference'
                xml:
                  name: RollupCompareAssetValueChangeDifference
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Rollup compare differences get asset value change differences async
      x-summary-source: derived
  /v1/Rollups/RollupCompares/Differences/AssetValueDifferences/{rollupCompareId}:
    get:
      tags:
      - Rollups/RollupCompares
      operationId: RollupCompareDifferences_GetAssetValueDifferencesAsync
      parameters:
      - name: rollupCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueDifference'
                xml:
                  name: RollupCompareAssetValueDifference
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueDifference'
                xml:
                  name: RollupCompareAssetValueDifference
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueDifference'
                xml:
                  name: RollupCompareAssetValueDifference
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueDifference'
                xml:
                  name: RollupCompareAssetValueDifference
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueDifference'
                xml:
                  name: RollupCompareAssetValueDifference
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Rollups.RollupCompareAssetValueDifference'
                xml:
                  name: RollupCompareAssetValueDifference
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Rollup compare differences get asset value differences async
      x-summary-source: derived
  /v1/Rollups/RollupCompares/Differences/UpdateNotes/{rollupCompareId}:
    post:
      tags:
      - Rollups/RollupCompares
      operationId: RollupCompareDifferences_UpdateDifferenceNotesAsync
      parameters:
      - name: rollupCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: note
        in: query
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Rollup compare differences update difference notes async
      x-summary-source: derived
  /v1/Rollups/RollupCompares/Process/{rollupCompareId}:
    post:
      tags:
      - Rollups/RollupCompares
      operationId: RollupCompare_ProcessRollupCompareAsync
      parameters:
      - name: rollupCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Rollup compare process rollup compare async
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.Rollups.RollupCompareAssetValueDifference:
      properties:
        priorUnitBalance:
          type: number
          format: double
        priorNavPrice:
          type: number
          format: double
        currentUnitBalance:
          type: number
          format: double
        currentNavPrice:
          type: number
          format: double
        unitBalanceDifference:
          type: number
          format: double
        navPriceDifference:
          type: number
          format: double
        id:
          type: integer
          format: int32
        rollupCompareId:
          type: integer
          format: int32
        assetId:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
        notes:
          type: string
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: RollupCompareAssetValueDifference
      type: object
    OAS.DataModel.Rollups.RollupCompareAssetValueChangeDifference:
      properties:
        priorStartValue:
          type: number
          format: double
        priorValueChange:
          type: number
          format: double
        priorFeeAmount:
          type: number
          format: double
        priorStartAccruedInt:
          type: number
          format: double
        priorAccruedIntChange:
          type: number
          format: double
        priorIsCashFlowDate:
          type: boolean
        priorPositiveCashFlowAmount:
          type: number
          format: double
        priorNegativeCashFlowAmount:
          type: number
          format: double
        priorStartDividend:
          type: number
          format: double
        priorDividendChange:
          type: number
          format: double
        currentStartValue:
          type: number
          format: double
        currentValueChange:
          type: number
          format: double
        currentFeeAmount:
          type: number
          format: double
        currentStartAccruedInt:
          type: number
          format: double
        currentAccruedIntChange:
          type: number
          format: double
        currentIsCashFlowDate:
          type: boolean
        currentPositiveCashFlowAmount:
          type: number
          format: double
        currentNegativeCashFlowAmount:
          type: number
          format: double
        currentStartDividend:
          type: number
          format: double
        currentDividendChange:
          type: number
          format: double
        startValueDifference:
          type: number
          format: double
        valueChangeDifference:
          type: number
          format: double
        feeAmountDifference:
          type: number
          format: double
        startAccruedIntDifference:
          type: number
          format: double
        accruedIntChangeDifference:
          type: number
          format: double
        positiveCashFlowAmountDifference:
          type: number
          format: double
        negativeCashFlowAmountDifference:
          type: number
          format: double
        startDividendDifference:
          type: number
          format: double
        dividendChangeDifference:
          type: number
          format: double
        id:
          type: integer
          format: int32
        rollupCompareId:
          type: integer
          format: int32
        assetId:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
        notes:
          type: string
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: RollupCompareAssetValueChangeDifference
      type: object
    OAS.WebApi.DTO.Rollups.RollupCompareDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        rollupType:
          type: integer
          format: int32
        splitFlagName:
          type: string
        notes:
          type: string
        allAssets:
          type: boolean
        assetIds:
          type: string
        productIds:
          type: string
        pricingDates:
          type: string
        poApproval:
          type: boolean
        qaApproval:
          type: boolean
        status:
          type: integer
          format: int32
        assetsPendingRollupCount:
          type: integer
          format: int32
        auditedDate:
          type: string
          format: date-time
        auditedBy:
          type: string
      xml:
        name: RollupCompareDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
