openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Rules API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/Rules
paths:
  /v1/Confirm/Rules:
    get:
      tags:
      - Confirm/Rules
      summary: Gets all of the rules.
      operationId: Rules_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
                xml:
                  name: RulesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
                xml:
                  name: RulesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
                xml:
                  name: RulesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
                xml:
                  name: RulesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
                xml:
                  name: RulesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
                xml:
                  name: RulesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/Rules
      summary: Create new Rule
      operationId: Rules_CreateRule
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
        required: true
  /v1/Confirm/Rules/{key}:
    get:
      tags:
      - Confirm/Rules
      summary: Get Rule by key
      operationId: Rules_GetByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/Rules
      summary: Update Rule
      operationId: Rules_UpdateRule
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.RulesDto'
        required: true
    delete:
      tags:
      - Confirm/Rules
      operationId: Rules_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Rules delete
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Confirm.Recon.RulesDto:
      properties:
        id:
          type: integer
          format: int32
        syncType:
          type: string
          enum:
          - Daily
          - Weekly
          - Exclusion
          - Price
        syncTypeId:
          type: integer
          format: int32
        numDaysAnalyst:
          type: integer
          format: int32
        numDaysManager:
          type: integer
          format: int32
        statusType:
          type: string
          enum:
          - Unknown
          - Error
        statusTypeId:
          type: integer
          format: int32
        statusTypeDescription:
          type: string
        notificationInbox:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: RulesDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
