openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Required Minimum Distribution API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/RequiredMinimumDistribution
paths:
  /v1/Reporting/RequiredMinimumDistribution/Accounts:
    get:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_GetRmdAccountCalculationsAsync
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
          enum:
          - OffTrack
          - OnTrack
          - RmdSatisfied
      - name: clientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
                xml:
                  name: RmdDashboardBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
                xml:
                  name: RmdDashboardBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
                xml:
                  name: RmdDashboardBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
                xml:
                  name: RmdDashboardBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
                xml:
                  name: RmdDashboardBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
                xml:
                  name: RmdDashboardBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Required minimum distribution get rmd account calculations async
      x-summary-source: derived
  /v1/Reporting/RequiredMinimumDistribution/Accounts/{accountId}/notes:
    put:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_UpdateRmdAccountRMDNotesAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: string
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/xml:
            schema:
              type: string
          text/xml:
            schema:
              type: string
          application/x-www-form-urlencoded:
            schema:
              type: string
          multipart/form-data:
            schema:
              type: string
        required: true
      summary: Required minimum distribution update rmd account RMD notes async
      x-summary-source: derived
  /v1/Reporting/RequiredMinimumDistribution/Accounts/{accountId}/RmdAmountOverride:
    put:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_UpdateRmdAccountRmdAmountOverrideAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: value
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
      security:
      - Authorization: []
      summary: Required minimum distribution update rmd account rmd amount override async
      x-summary-source: derived
  /v1/Reporting/RequiredMinimumDistribution/Accounts/{accountId}/satisfied/{isSatisfied}:
    put:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_UpdateRmdAccountIsSatisfiedAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: isSatisfied
        in: path
        required: true
        schema:
          type: boolean
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
      security:
      - Authorization: []
      summary: Required minimum distribution update rmd account is satisfied async
      x-summary-source: derived
  /v1/Reporting/RequiredMinimumDistribution/Accounts/{accountId}/YearEnd:
    put:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_UpdateRmdAccountYearEndValueAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: value
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
      security:
      - Authorization: []
      summary: Required minimum distribution update rmd account year end value async
      x-summary-source: derived
  /v1/Reporting/RequiredMinimumDistribution/Accounts/Custom:
    get:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_GetRmdAccountCustomFieldsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.RequiredMinimumDistribution.CustomFieldColumn'
                xml:
                  name: CustomFieldColumn
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.RequiredMinimumDistribution.CustomFieldColumn'
                xml:
                  name: CustomFieldColumn
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.RequiredMinimumDistribution.CustomFieldColumn'
                xml:
                  name: CustomFieldColumn
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.RequiredMinimumDistribution.CustomFieldColumn'
                xml:
                  name: CustomFieldColumn
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.RequiredMinimumDistribution.CustomFieldColumn'
                xml:
                  name: CustomFieldColumn
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.RequiredMinimumDistribution.CustomFieldColumn'
                xml:
                  name: CustomFieldColumn
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Required minimum distribution get rmd account custom fields async
      x-summary-source: derived
  /v1/Reporting/RequiredMinimumDistribution/Action/RunSchwabRmd:
    post:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_RunSchwabRmdDataRetrievalProcess
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Required minimum distribution run schwab rmd data retrieval process
      x-summary-source: derived
  /v1/Reporting/RequiredMinimumDistribution/Calculate:
    post:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_CalculateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: includeZeroValue
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Reporting.RequiredMinimumDistribution.RmdDetail'
                xml:
                  name: RmdDetail
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Reporting.RequiredMinimumDistribution.RmdDetail'
                xml:
                  name: RmdDetail
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Reporting.RequiredMinimumDistribution.RmdDetail'
                xml:
                  name: RmdDetail
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Reporting.RequiredMinimumDistribution.RmdDetail'
                xml:
                  name: RmdDetail
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Required minimum distribution calculate async
      x-summary-source: derived
  /v1/Reporting/RequiredMinimumDistribution/CalculateAccountsSave:
    post:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_CalculateAccountsSaveAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: includeZeroValue
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Required minimum distribution calculate accounts save async
      x-summary-source: derived
  /v1/Reporting/RequiredMinimumDistribution/CalculateRegistrationsSave:
    post:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_CalculateRegistrationsSaveAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: includeZeroValue
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Required minimum distribution calculate registrations save async
      x-summary-source: derived
  /v1/Reporting/RequiredMinimumDistribution/Registrations:
    get:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_GetRmdRegistrationCalculationsAsync
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
          enum:
          - OffTrack
          - OnTrack
          - RmdSatisfied
      - name: clientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
                xml:
                  name: RmdDashboardBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
                xml:
                  name: RmdDashboardBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
                xml:
                  name: RmdDashboardBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
                xml:
                  name: RmdDashboardBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
                xml:
                  name: RmdDashboardBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
                xml:
                  name: RmdDashboardBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Required minimum distribution get rmd registration calculations async
      x-summary-source: derived
  /v1/Reporting/RequiredMinimumDistribution/Registrations/{registrationId}/notes:
    put:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_UpdateRmdRegistrationRMDNotesAsync
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: string
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/xml:
            schema:
              type: string
          text/xml:
            schema:
              type: string
          application/x-www-form-urlencoded:
            schema:
              type: string
          multipart/form-data:
            schema:
              type: string
        required: true
      summary: Required minimum distribution update rmd registration RMD notes async
      x-summary-source: derived
  /v1/Reporting/RequiredMinimumDistribution/Registrations/{registrationId}/satisfied/{isSatisfied}:
    put:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_UpdateRmdRegistrationIsSatisfiedAsync
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: isSatisfied
        in: path
        required: true
        schema:
          type: boolean
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto'
      security:
      - Authorization: []
      summary: Required minimum distribution update rmd registration is satisfied async
      x-summary-source: derived
  /v1/Reporting/RequiredMinimumDistribution/RmdCalculationCounts:
    get:
      tags:
      - Reporting/RequiredMinimumDistribution
      operationId: RequiredMinimumDistribution_GetRmdCalculationCountsAsync
      parameters:
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                additionalProperties:
                  type: object
                type: object
            application/json:
              schema:
                additionalProperties:
                  type: object
                type: object
            text/json:
              schema:
                additionalProperties:
                  type: object
                type: object
            multipart/form-data:
              schema:
                additionalProperties:
                  type: object
                type: object
      security:
      - Authorization: []
      summary: Required minimum distribution get rmd calculation counts async
      x-summary-source: derived
components:
  schemas:
    OAS.DataAccess.Domains.Reporting.RequiredMinimumDistribution.RmdDetail:
      properties:
        accountId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        ssn:
          type: string
        registrationType:
          type: integer
          format: int32
        excludeFromRmdAggregation:
          type: boolean
        rmdAmount:
          type: number
          format: double
        mtdTotal:
          type: number
          format: double
        qtdTotal:
          type: number
          format: double
        ytdTotal:
          type: number
          format: double
        endOfPreviousYearAccountValue:
          type: number
          format: double
        calculatedEndOfPreviousYearAccountValue:
          type: number
          format: double
        endOfPreviousYearAccountValueIsCalculated:
          type: boolean
        amtRemaining:
          type: number
          format: double
        investorAge:
          type: number
          format: double
        primaryBeneficiaryName:
          type: string
        primaryBeneficiaryAge:
          type: number
          format: double
        primaryBeneficiaryRelation:
          type: string
        remainingWithdrawls:
          type: number
          format: double
        onTrack:
          type: boolean
        rmdEligible:
          type: boolean
        irsTable:
          type: string
          enum:
          - SingleLife
          - JointLifeAndLastSurvivor
          - UniformLife
        factor:
          type: number
          format: double
        rmdSatisfied:
          type: boolean
        rmdSatisfiedIsCalculated:
          type: boolean
        isCustodial:
          type: boolean
        factorType:
          type: integer
          format: int32
        recalculated:
          type: boolean
        secureActRule:
          type: integer
          format: int32
        noData:
          type: boolean
        source:
          type: string
        asOfDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        includeCustodialAccount:
          type: boolean
        custodialAccountNumber:
          type: string
        rmdOriginalAmount:
          type: number
          format: double
      xml:
        name: RmdDetail
      type: object
    OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardBaseDto:
      properties:
        accountId:
          type: integer
          format: int32
        accountOnTrack:
          type: boolean
        registrationOnTrack:
          type: boolean
        representativeId:
          type: integer
          format: int32
        representativeName:
          type: string
        clientId:
          type: integer
          format: int32
        clientName:
          type: string
        registrationId:
          type: integer
          format: int32
        registrationLastName:
          type: string
        registrationName:
          type: string
        registrationSsn:
          type: string
        registrationDeceasedSsn:
          type: string
        accountType:
          type: string
        number:
          type: string
        rmdAmount:
          type: number
          format: double
        rmdOriginalAmount:
          type: number
          format: double
        endOfPreviousYearAccountValue:
          type: number
          format: double
        calculatedEndOfPreviousYearAccountValue:
          type: number
          format: double
        endOfPreviousYearAccountValueIsCalculated:
          type: boolean
        investorAge:
          type: number
          format: double
        investorAgeText:
          readOnly: true
          type: string
        dateOfBirth:
          type: string
        dateOfDeath:
          type: string
          format: date-time
        distributionAmountYtd:
          type: number
          format: double
        source:
          type: string
        isCustodial:
          type: boolean
        isEdbTenYearOverride:
          type: boolean
        isNonPersonBeneficiary:
          type: boolean
        isEligibleDesignatedBeneficiary:
          type: boolean
        moneyMarketValue:
          type: number
          format: double
        isSoleBeneficiary:
          type: boolean
        rmdSatisfiedStatus:
          type: string
          enum:
          - RmdNotSatisfied
          - RmdSatisfied
          - ManuallySatisfied
          - RmdSatisfiedByBuffer
        rmdRemaining:
          readOnly: true
          type: number
          format: double
        _rmdRemaining:
          type: number
          format: double
        rmdRemainingGroup:
          readOnly: true
          type: number
          format: double
        _rmdRemainingGroup:
          type: number
          format: double
        rmdRemainingGroupApplied:
          readOnly: true
          type: number
          format: double
        _rmdRemainingGroupApplied:
          type: number
          format: double
        isActive:
          type: boolean
        rmdSatisfiedOverview:
          readOnly: true
          type: string
        rmdRuleApplied:
          readOnly: true
          type: string
        rmdSecureActRule:
          type: string
          enum:
          - IraSpouseBeneficiary10YearsYounger
          - IraTraditional
          - Unknown
          - DecedentPreSecureAct
          - SpouseDecedentDiedBeforeRBD
          - SpouseDecedentDiedAfterRBDYounger
          - SpouseDecedentDiedAfterRBDOlder
          - NonSpouseDecedentDiedBeforeRBD
          - NonSpouseDecedentDiedAfterRBDYounger
          - NonSpouseDecedentDiedAfterRBDOlder
          - MinorYoungerThan31
          - MinorNotYoungerThan31
          - NotEligibleDesignatedBeneficiaryDeathBeforeRbd
          - NonPersonDecedentDiedBeforeRBD
          - NonPersonDecedentDiedAfterRBD
          - ForcedEDBDiedBeforeRBD0To10Younger
          - ForcedEDBDiedAfterRBD0To10Younger
          - TenYearOverride
          - NonEdbDeathAfter2020
          - TenYearOverrideDeathBeforeRbd
          - TenYearOverrideDeathAfterRbd
          - NotEligibleDesignatedBeneficiaryDeathAfterRbd
          - SpouseAsSoleBeneficieryButNotReachedRmdAge73
          - SpouseAsSoleBeneficieryButNotReachedRmdAge75
          - NonInitialInheritorBira
          - PreSecureActNonSpouseDecedentDiedAfterRbd
        rmdSatisfied:
          type: boolean
        manualRmdSatisfied:
          type: boolean
        primaryBeneficiaryName:
          type: string
        primaryBeneficiaryAge:
          type: number
          format: double
        primaryBeneficiaryAgeText:
          readOnly: true
          type: string
        primaryBeneficiaryRelation:
          type: string
        irsTable:
          type: string
        factor:
          type: number
          format: double
        spouseIsPrimaryBeneAndMoreThan10YrsDiff:
          readOnly: true
          type: boolean
        sweepCash:
          type: number
          format: double
        accountNotes:
          type: string
        rmdNotes:
          type: string
        custodianName:
          type: string
        clientAddressLine1:
          type: string
        clientAddressLine2:
          type: string
        clientAddressLine3:
          type: string
        clientCity:
          type: string
        clientState:
          type: string
        clientZip:
          type: string
        regRmdSatisfied:
          type: boolean
        outsideId:
          type: string
        custodialAccountNumber:
          type: string
        accountNumbers:
          type: string
        yearOverrides:
          items:
            $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardYearOverridesDto'
          xml:
            name: RmdDashboardYearOverridesDto
            wrapped: true
          type: array
      xml:
        name: RmdDashboardBaseDto
      type: object
    OAT.Utilities.Date.IDate:
      properties:
        date:
          readOnly: true
          type: string
          format: date-time
        year:
          readOnly: true
          type: integer
          format: int32
        month:
          readOnly: true
          type: integer
          format: int32
        day:
          readOnly: true
          type: integer
          format: int32
      xml:
        name: IDate
      type: object
    OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardYearOverrideColumnAuditDto:
      properties:
        editedBy:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedDate:
          type: string
          format: date-time
      xml:
        name: RmdDashboardYearOverrideColumnAuditDto
      type: object
    OAS.DataProcess.Reporting.RequiredMinimumDistribution.CustomFieldColumn:
      properties:
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        headerName:
          type: string
        fieldName:
          type: string
        value:
          type: string
        type:
          type: string
      xml:
        name: CustomFieldColumn
      type: object
    OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardYearOverridesDto:
      properties:
        year:
          type: integer
          format: int32
        value:
          type: number
          format: double
        valueAudit:
          $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardYearOverrideColumnAuditDto'
        isSatisfied:
          type: boolean
        isSatisfiedAudit:
          $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardYearOverrideColumnAuditDto'
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        rmdNotes:
          type: string
        rmdNotesAudit:
          $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardYearOverrideColumnAuditDto'
        overrideRmdAmount:
          type: number
          format: double
        overrideRmdAmountAudit:
          $ref: '#/components/schemas/OAS.DataAccess.Reporting.RequiredMinimumDistribution.RmdDashboardYearOverrideColumnAuditDto'
      xml:
        name: RmdDashboardYearOverridesDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
