openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Settings/Web Acknowledgements API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Settings/WebAcknowledgements
paths:
  /v1/Settings/WebAcknowledgements:
    get:
      tags:
      - Settings/WebAcknowledgements
      summary: Gets all webAcknowledgement objects for user
      operationId: WebAcknowledgements_GetAll
      parameters:
      - name: entity
        in: query
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
                xml:
                  name: WebAcknowledgementDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
                xml:
                  name: WebAcknowledgementDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
                xml:
                  name: WebAcknowledgementDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
                xml:
                  name: WebAcknowledgementDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
                xml:
                  name: WebAcknowledgementDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
                xml:
                  name: WebAcknowledgementDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Settings/WebAcknowledgements
      summary: Mass update webAcknowledgements
      operationId: WebAcknowledgements_UpdateItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
                xml:
                  name: WebAcknowledgementDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
                xml:
                  name: WebAcknowledgementDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
                xml:
                  name: WebAcknowledgementDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
                xml:
                  name: WebAcknowledgementDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
                xml:
                  name: WebAcknowledgementDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
                xml:
                  name: WebAcknowledgementDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
              xml:
                name: WebAcknowledgementDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
              xml:
                name: WebAcknowledgementDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
              xml:
                name: WebAcknowledgementDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
              xml:
                name: WebAcknowledgementDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
              xml:
                name: WebAcknowledgementDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
              xml:
                name: WebAcknowledgementDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
              xml:
                name: WebAcknowledgementDto
                wrapped: true
              type: array
        required: true
    post:
      tags:
      - Settings/WebAcknowledgements
      summary: Create a new webAcknowledgement
      operationId: WebAcknowledgements_CreateWebAcknowledgement
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
        required: true
  /v1/Settings/WebAcknowledgements/{key}:
    get:
      tags:
      - Settings/WebAcknowledgements
      summary: Gets webAcknowledgement by key
      operationId: WebAcknowledgements_GetItemByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
      security:
      - Authorization: []
    put:
      tags:
      - Settings/WebAcknowledgements
      summary: Update one webAcknowledgement
      operationId: WebAcknowledgements_UpdateWebAcknowledgement
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementDto'
        required: true
    delete:
      tags:
      - Settings/WebAcknowledgements
      summary: Delete a webAcknowledgement
      operationId: WebAcknowledgements_DeleteItem
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Settings/WebAcknowledgements/{key}/Respond:
    post:
      tags:
      - Settings/WebAcknowledgements
      summary: Log a response for this user for the given webAcknowledgement
      operationId: WebAcknowledgements_RespondToWebAcknowledgement
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: response
        in: query
        required: true
        schema:
          type: string
          enum:
          - None
          - Accept
          - Decline
          - Later
      - name: input
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Settings/WebAcknowledgements/{key}/Responses:
    get:
      tags:
      - Settings/WebAcknowledgements
      summary: Gets webAcknowledgement responses by key
      operationId: WebAcknowledgements_GetResponsesForItem
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: entity
        in: query
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementResponseDto'
                xml:
                  name: WebAcknowledgementResponseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementResponseDto'
                xml:
                  name: WebAcknowledgementResponseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementResponseDto'
                xml:
                  name: WebAcknowledgementResponseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementResponseDto'
                xml:
                  name: WebAcknowledgementResponseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementResponseDto'
                xml:
                  name: WebAcknowledgementResponseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.WebAcknowledgementResponseDto'
                xml:
                  name: WebAcknowledgementResponseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Settings.WebAcknowledgementResponseDto:
      properties:
        userId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        response:
          type: string
          enum:
          - None
          - Accept
          - Decline
          - Later
        responseDate:
          type: string
          format: date-time
        input:
          type: string
      xml:
        name: WebAcknowledgementResponseDto
      type: object
    OAS.WebApi.DTO.Settings.WebAcknowledgementDto:
      properties:
        id:
          type: integer
          format: int32
        isActive:
          type: boolean
        acknowledgementType:
          type: string
          enum:
          - Disclaimer
          - Notification
        displayOrder:
          type: integer
          format: int32
        title:
          type: string
        userControlPath:
          type: string
        acknowledgementText:
          type: string
        acceptText:
          type: string
        rejectText:
          type: string
        rejectMessage:
          type: string
        acceptNavigateUrl:
          type: string
        buttonSet:
          type: string
          enum:
          - None
          - Confirm
          - AcceptDecline
          - AcceptDeclineLater
        yesButtonText:
          type: string
        noButtonText:
          type: string
        expiresOn:
          type: string
          format: date-time
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        inputPrompt:
          type: string
        entities:
          items:
            type: string
            enum:
            - Undefined
            - Payee
            - BrokerDealer
            - Wholesaler
            - Representative
            - Client
            - Registration
            - Account
            - Asset
            - Product
            - Transaction
            - Distribution
            - FundFamily
            - Personal
            - PayoutSchedule
            - FeeSchedule
            - Platform
            - RIA
            - Custodian
            - Journal
            - SWP
            - Other
            - NASD
            - CashFunding
            - Bill
            - BillInstance
            - BillMasterPayout
            - Model
            - NewAccountClient
            - NewAccountReg
            - DownloadExclusion
            - Price
            - UserDefinedFields
            - NewAcctUserDef
            - ManagersMessage
            - IndexEntry
            - PerformanceFee
            - PerformancePayout
            - NewAccountAsset
            - Owner
            - Administrator
            - OutsideClient
            - SubAdvisor
            - ModelRange
            - FaxCover
            - Fax
            - OneTimeDistribution
            - WebLogin
            - Plan401k
            - BillAccountItem
            - ThirdPartyAdministrator
            - CrmContact
            - Participant
            - PlanSponsor
            - CRMEmailList
            - ThirdParty
            - WorkflowItem
            - WorkflowAction
            - ServiceAccount
            - EntityOption
            - HouseholdMember
            - DownloadSymbol
            - IndexBlend
            - NABenefit
            - AggregateModel
            - CompositeRange
            - RepAccountManager
            - ScriptsScrubs
            - ServiceAccountBrokerDealer
            - BusinessLine
            - Blob
            - AssetClass
            - ServiceAccountLite
            - NewAcctUserDefDtl
            - Branch
            - AssetLevelStrategy
            - Report
            - DataQueries
            - PriceUnUsed
            - ModelItem
            - AssetCategory
            - RiskCategory
            - PlatformRange
            - Dividend
            - RegistrationType
            - CustodianCommon
            - RepState
            - QpeDashboard
            - ReportBatch
            - ModelGroup
            - ShareClass
            - DownloadFile
            - User
            - DynamicGrouping
            - ProductType
            - ProductSubType
            - InvestmentObjective
            - PortfolioGroup
            - OrionRealizedLot
            - OrionUnrealizedLot
            - CustodianRealizedLot
            - CustodianUnrealizedLot
            - AssetCategoryParent
            - TaxType
            - AuditRequest
            - AuditRequestLetter
            - ManagedUnmanaged
            - AuditRowAttachment
            - InformPolicy
            - InformAnswerAttachment
            - UserDetail
            - BillPayMethod
            - ModelInclusion
            - CommunityModel
            - EclipseModel
            - Global
            - ClientCategory
            - Taxability
            - Qualified
            - TaxID
            - BondState
            - ProductTaxability
            - TargetAllocation
            - RIATable
            - ProductRegion
            - ProductPropertyType
            - ProductManagerAip
            - MoodyRating
            - SPRating
            - BondMaturityYear
            - InterestRate
            - RegistrationTaxType
            - MaturityPeriod
            - NewHousehold
            - BillPayoutDashboardPayment
            - OptionLevel
            - MarginAgreement
            - PrimeBrokerage
            - InformHistoricalDocument
            - SleeveStrategyAggregate
            - MorningstarSector
            - BillEntity
            - SleeveStrategy
            - MorningstarGeography
            - GenericProspect
            - BillEntityType
            - AdditionalRep
            - BillPayoutReport
            - ProductSubHolding
            - DownloadSource
            - ModelVsActual
            - ProductVintageYear
            - EclipsePortfolio
            - Country
            - Currency
            - SecurityClassification1
            - SecurityClassification2
            - SecurityClassification3
            - SecurityClassification4
            - SecurityClassification5
            - SecurityClassification6
            - SecurityClassification7
            - SecurityClassification8
            - SecurityClassification9
            - SecurityClassification10
            - SecurityClassification11
            - SecurityClassification12
            - SecurityClassification13
            - SecurityClassification14
            - SecurityClassification15
            - SecurityClassification16
            - SecurityClassification17
            - SecurityClassification18
            - SecurityClassification19
            - SecurityClassification20
            - SecurityClassification21
            - SecurityClassification22
            - SecurityClassification23
            - SecurityClassification24
            - SecurityClassification25
            - DownloadRecord
            - CustomGrouping
            - Cotenant
            - AllocatedUnrealizedCostBasis
            - AllocatedRealizedCostBasis
          xml:
            name: Entity
            wrapped: true
          type: array
      xml:
        name: WebAcknowledgementDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
