openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Element API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Element
paths:
  /v1/Integrations/Element/AccountId/{accountId}:
    get:
      tags:
      - Integrations/Element
      operationId: Element_GetAccountIdAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Element get account id async
      x-summary-source: derived
  /v1/Integrations/Element/household/{householdId}/workflows:
    get:
      tags:
      - Integrations/Element
      operationId: Element_GetHouseholdWorkflowsAsync
      parameters:
      - name: householdId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: workflowCode
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Element get household workflows async
      x-summary-source: derived
  /v1/Integrations/Element/RiskToleranceQuestionnaire/email/{clientId}/{registrationId}:
    get:
      tags:
      - Integrations/Element
      operationId: Element_GetRtqEmailAddressAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellation
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Element get rtq email address async
      x-summary-source: derived
  /v1/Integrations/Element/RiskToleranceQuestionnaire/Retake:
    post:
      tags:
      - Integrations/Element
      operationId: Element_RetakeRiskToleranceQuestionnaireAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Element.Interfaces.RiskToleranceQuestionnaireRetakeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Element.Interfaces.RiskToleranceQuestionnaireRetakeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Element.Interfaces.RiskToleranceQuestionnaireRetakeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Element.Interfaces.RiskToleranceQuestionnaireRetakeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Element.Interfaces.RiskToleranceQuestionnaireRetakeDto'
        required: true
      summary: Element retake risk tolerance questionnaire async
      x-summary-source: derived
  /v1/Integrations/Element/SSO/BrinkerInstance:
    get:
      tags:
      - Integrations/Element
      operationId: Element_SSO_Brinker_InstanceAsync
      parameters:
      - name: cancellation
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Element SSO brinker instance async
      x-summary-source: derived
  /v1/Integrations/Element/SSO/OPSInstance:
    get:
      tags:
      - Integrations/Element
      operationId: Element_SSO_OPS_InstanceAsync
      parameters:
      - name: cancellation
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Element SSO OPS instance async
      x-summary-source: derived
  /v1/Integrations/Element/SSO/Prospects:
    get:
      tags:
      - Integrations/Element
      operationId: Element_SSOProspectsAsync
      parameters:
      - name: cancellation
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Element SSO prospects async
      x-summary-source: derived
  /v1/Integrations/Element/SSO/TownsquareInstance:
    get:
      tags:
      - Integrations/Element
      operationId: Element_SSO_Townsquare_InstanceAsync
      parameters:
      - name: cancellation
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Element SSO townsquare instance async
      x-summary-source: derived
  /v1/Integrations/Element/UseSFCommunities:
    get:
      tags:
      - Integrations/Element
      operationId: Element_UseSFCommunitiesAsync
      parameters:
      - name: cancellation
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Element use SF communities async
      x-summary-source: derived
components:
  schemas:
    OAS.Integrations.Element.Interfaces.RiskToleranceQuestionnaireRetakeDto:
      properties:
        clientSigners:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Element.Interfaces.ClientSigner'
          xml:
            name: ClientSigner
            wrapped: true
          type: array
        entityId:
          type: integer
          format: int32
        entityType:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        oasToken:
          type: string
      xml:
        name: RiskToleranceQuestionnaireRetakeDto
      type: object
    OAS.Integrations.Element.Interfaces.ClientSigner:
      properties:
        email:
          type: string
        name:
          type: string
      xml:
        name: ClientSigner
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
