openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Process API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/Process
paths:
  /v1/Utility/Process/Actions:
    get:
      tags:
      - Utility/Process
      operationId: ProcessActivities_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
                xml:
                  name: ProcessActivityDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
                xml:
                  name: ProcessActivityDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
                xml:
                  name: ProcessActivityDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
                xml:
                  name: ProcessActivityDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
                xml:
                  name: ProcessActivityDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
                xml:
                  name: ProcessActivityDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Process activities get
      x-summary-source: derived
    post:
      tags:
      - Utility/Process
      summary: Adds a new Corporate Action Extension to the database
      operationId: ProcessActivities_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
        required: true
  /v1/Utility/Process/Actions/{key}:
    get:
      tags:
      - Utility/Process
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: ProcessActivities_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessActivityDto'
      security:
      - Authorization: []
    put:
      tags:
      - Utility/Process
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: ProcessActivities_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
        required: true
    delete:
      tags:
      - Utility/Process
      operationId: ProcessActivities_DeleteEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Process activities delete entity
      x-summary-source: derived
  /v1/Utility/Process/Assignments:
    get:
      tags:
      - Utility/Process
      summary: Get all Corporate Action Processes The return is limited to pages of 10000.
      operationId: ProcessAssignments_Get
      parameters:
      - name: userId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
                xml:
                  name: ProcessAssignmentDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
                xml:
                  name: ProcessAssignmentDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
                xml:
                  name: ProcessAssignmentDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
                xml:
                  name: ProcessAssignmentDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Utility/Process
      summary: Add new task
      operationId: ProcessAssignments_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
        required: true
  /v1/Utility/Process/Assignments/{key}:
    get:
      tags:
      - Utility/Process
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: ProcessAssignments_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
      security:
      - Authorization: []
    put:
      tags:
      - Utility/Process
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: ProcessAssignments_UpdateEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessAssignment'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessAssignment'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessAssignment'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessAssignment'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessAssignment'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessAssignment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessAssignment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessAssignment'
        description: Key of the desired return object.
        required: true
    delete:
      tags:
      - Utility/Process
      operationId: ProcessAssignments_DeleteEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Process assignments delete entity
      x-summary-source: derived
  /v1/Utility/Process/Definitions:
    get:
      tags:
      - Utility/Process
      operationId: ProcessDefinitions_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
                xml:
                  name: ProcessDefinitionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
                xml:
                  name: ProcessDefinitionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
                xml:
                  name: ProcessDefinitionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
                xml:
                  name: ProcessDefinitionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
                xml:
                  name: ProcessDefinitionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
                xml:
                  name: ProcessDefinitionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Process definitions get
      x-summary-source: derived
    post:
      tags:
      - Utility/Process
      summary: Adds a new Corporate Action Extension to the database
      operationId: ProcessDefinitions_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
        required: true
  /v1/Utility/Process/Definitions/{key}:
    get:
      tags:
      - Utility/Process
      operationId: ProcessDefinitions_GeEntityByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
      security:
      - Authorization: []
      summary: Process definitions ge entity by key
      x-summary-source: derived
    put:
      tags:
      - Utility/Process
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: ProcessDefinitions_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto'
        required: true
    delete:
      tags:
      - Utility/Process
      operationId: ProcessDefinitions_DeleteEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Process definitions delete entity
      x-summary-source: derived
  /v1/Utility/Process/Definitions/{key}/Detail:
    get:
      tags:
      - Utility/Process
      operationId: ProcessDefinitions_GeEntityByKeyDetail
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDetailDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDetailDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDetailDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDetailDto'
      security:
      - Authorization: []
      summary: Process definitions ge entity by key detail
      x-summary-source: derived
  /v1/Utility/Process/Elements:
    get:
      tags:
      - Utility/Process
      summary: Get all Corporate Action Processes The return is limited to pages of 10000.
      operationId: ProcessElements_Get
      parameters:
      - name: definitionId
        in: query
        description: Optional.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
                xml:
                  name: ProcessElementDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
                xml:
                  name: ProcessElementDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
                xml:
                  name: ProcessElementDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
                xml:
                  name: ProcessElementDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Utility/Process
      summary: Add new task
      operationId: ProcessElements_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
        required: true
  /v1/Utility/Process/Elements/{key}:
    get:
      tags:
      - Utility/Process
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: ProcessElements_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
      security:
      - Authorization: []
    put:
      tags:
      - Utility/Process
      summary: Process elements update entity
      operationId: ProcessElements_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
        required: true
      x-summary-source: derived
    delete:
      tags:
      - Utility/Process
      operationId: ProcessElements_DeleteEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Process elements delete entity
      x-summary-source: derived
  /v1/Utility/Process/Elements/{key}/Descendants:
    get:
      tags:
      - Utility/Process
      operationId: ProcessElements_GetEntityDescendantsByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
                xml:
                  name: ProcessElementDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
                xml:
                  name: ProcessElementDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
                xml:
                  name: ProcessElementDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
                xml:
                  name: ProcessElementDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Process elements get entity descendants by key
      x-summary-source: derived
  /v1/Utility/Process/Events:
    get:
      tags:
      - Utility/Process
      summary: Get all Corporate Action Processes The return is limited to pages of 10000.
      operationId: ProcessEvents_Get
      parameters:
      - name: elementId
        in: query
        description: Optional.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
                xml:
                  name: ProcessEventDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
                xml:
                  name: ProcessEventDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
                xml:
                  name: ProcessEventDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
                xml:
                  name: ProcessEventDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Utility/Process
      summary: Add new task
      operationId: ProcessEvents_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
        required: true
  /v1/Utility/Process/Events/{key}:
    get:
      tags:
      - Utility/Process
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: ProcessEvents_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
      security:
      - Authorization: []
    put:
      tags:
      - Utility/Process
      summary: Process events update entity
      operationId: ProcessEvents_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
        required: true
      x-summary-source: derived
    delete:
      tags:
      - Utility/Process
      operationId: ProcessEvents_DeleteEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Process events delete entity
      x-summary-source: derived
  /v1/Utility/Process/Fields:
    post:
      tags:
      - Utility/Process
      summary: Add new task
      operationId: ProcessFields_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
        required: true
  /v1/Utility/Process/Fields/{key}:
    get:
      tags:
      - Utility/Process
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: ProcessFields_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessFieldDto'
      security:
      - Authorization: []
    put:
      tags:
      - Utility/Process
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: ProcessFields_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessField'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessField'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessField'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessField'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessField'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessField'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessField'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessField'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessField'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessField'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessField'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessField'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessField'
        required: true
    delete:
      tags:
      - Utility/Process
      operationId: ProcessFields_DeleteEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Process fields delete entity
      x-summary-source: derived
  /v1/Utility/Process/Instances:
    get:
      tags:
      - Utility/Process
      operationId: ProcessInstances_GetEntities
      parameters:
      - name: typeId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDetailDto'
                xml:
                  name: ProcessInstanceDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDetailDto'
                xml:
                  name: ProcessInstanceDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDetailDto'
                xml:
                  name: ProcessInstanceDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDetailDto'
                xml:
                  name: ProcessInstanceDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Process instances get entities
      x-summary-source: derived
    post:
      tags:
      - Utility/Process
      operationId: ProcessInstances_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDto'
        required: true
      summary: Process instances create entity
      x-summary-source: derived
  /v1/Utility/Process/Instances/{key}:
    get:
      tags:
      - Utility/Process
      operationId: ProcessInstances_GetEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDetailDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDetailDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDetailDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessInstanceDetailDto'
      security:
      - Authorization: []
      summary: Process instances get entity
      x-summary-source: derived
    delete:
      tags:
      - Utility/Process
      operationId: ProcessInstances_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Process instances delete
      x-summary-source: derived
  /v1/Utility/Process/Participants:
    get:
      tags:
      - Utility/Process
      operationId: ProcessParticipants_Get
      parameters:
      - name: definitionId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: instanceId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
                xml:
                  name: ProcessParticipantDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
                xml:
                  name: ProcessParticipantDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
                xml:
                  name: ProcessParticipantDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
                xml:
                  name: ProcessParticipantDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Process participants get
      x-summary-source: derived
    post:
      tags:
      - Utility/Process
      summary: Add new task
      operationId: ProcessParticipants_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
        required: true
  /v1/Utility/Process/Participants/{key}:
    get:
      tags:
      - Utility/Process
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: ProcessParticipants_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
      security:
      - Authorization: []
    put:
      tags:
      - Utility/Process
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: ProcessParticipants_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessParticipant'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessParticipant'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessParticipant'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessParticipant'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessParticipant'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessParticipant'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessParticipant'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessParticipant'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessParticipant'
        required: true
    delete:
      tags:
      - Utility/Process
      operationId: ProcessParticipants_DeleteEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Process participants delete entity
      x-summary-source: derived
  /v1/Utility/Process/Tasks:
    get:
      tags:
      - Utility/Process
      summary: Get all Corporate Action Processes The return is limited to pages of 10000.
      operationId: ProcessTasks_Get
      parameters:
      - name: instanceId
        in: query
        description: Optional.
        required: false
        schema:
          type: integer
          format: int32
      - name: definitionId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
                xml:
                  name: ProcessTaskDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
                xml:
                  name: ProcessTaskDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
                xml:
                  name: ProcessTaskDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
                xml:
                  name: ProcessTaskDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Utility/Process
      summary: Add new task
      operationId: ProcessTasks_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
        required: true
  /v1/Utility/Process/Tasks/{key}:
    get:
      tags:
      - Utility/Process
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: ProcessTasks_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessTaskDto'
      security:
      - Authorization: []
    put:
      tags:
      - Utility/Process
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: ProcessTasks_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessTask'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessTask'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessTask'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessTask'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessTask'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessTask'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessTask'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessTask'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessTask'
        required: true
    delete:
      tags:
      - Utility/Process
      operationId: ProcessTasks_DeleteEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Process tasks delete entity
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDto:
      properties:
        id:
          type: integer
          format: int32
        rootElementId:
          type: integer
          format: int32
        name:
          type: string
        urlName:
          type: string
        description:
          type: string
        processName:
          type: string
        taskName:
          type: string
        canUnassignTask:
          type: boolean
        canReassignTask:
          type: boolean
        allowTaskCategories:
          type: boolean
        allowDeptCategories:
          type: boolean
        allowTaskStatuses:
          type: boolean
        allowAssignTasks:
          type: boolean
        allowMultipleTasks:
          type: boolean
        allowMultipleTaskAssignments:
          type: boolean
        emailOwnerOnChange:
          type: boolean
        dontEmailIfOwnerIsAssigned:
          type: boolean
        autoAssignUsers:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: ProcessDefinitionDto
      type: object
    OAS.DataModel.Homepage.RoleSharedDashboard:
      properties:
        id:
          type: integer
          format: int32
        roleId:
          type: integer
          format: int32
        homepageDashboardId:
          type: integer
          format: int32
        role:
          $ref: '#/components/schemas/OAS.DataModel.Security.Role'
        dashboard:
          $ref: '#/components/schemas/OAS.DataModel.Homepage.HomepageDashboard'
      xml:
        name: RoleSharedDashboard
      type: object
    OAS.DataModel.Security.UserLogin:
      required:
      - id
      - userId
      - loginDate
      - failed
      - failType
      properties:
        id:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        loginDate:
          type: string
          format: date-time
        failed:
          type: boolean
        failType:
          type: string
          enum:
          - Success
          - IncorrectPassword
          - LockedOut
          - PasswordEpired
          - InactiveUser
          - TwoFactorChallenge
        clientIp:
          type: string
        providedUserId:
          type: string
        correlationId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        compromisedPwd:
          type: boolean
        source:
          type: string
          enum:
          - Engage
          - OrionPlanning
          - OrionConnect
          - LegacyClientPortal
          - LegacyMobileApp
          - LegacyLoginPage
          - ApiTester
          - AuthService
          - Element
          - PartnerApp
          - LoginActivityImportEndpoint
          - LoginActivityEndpoint
          - spimUserLoginAdd
          - Unknown
          - OrionPlanningWeb
          - OrionPlanningMobile
      xml:
        name: UserLogin
      type: object
    OAS.DataModel.Security.AlClientOps:
      required:
      - id
      - isFullOps
      - isBilling
      - isTrading
      - isStatements
      - isComposites
      - auditedDate
      properties:
        id:
          type: integer
          format: int32
        isFullOps:
          type: boolean
        isBilling:
          type: boolean
        isTrading:
          type: boolean
        isStatements:
          type: boolean
        isComposites:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: AlClientOps
      type: object
    OAS.DataModel.Reporting.Envision.ReportInfo:
      properties:
        reportId:
          type: integer
          format: int32
        guid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        createdBy:
          type: string
          format: byte
        createdByDisplay:
          type: string
        createdDate:
          type: string
          format: date-time
        deletedBy:
          type: string
          format: byte
        deletedByDisplay:
          type: string
        deletedDate:
          type: string
          format: date-time
      xml:
        name: ReportInfo
      type: object
    OAS.WebApi.DTO.Utility.Process.ProcessInstanceDto:
      properties:
        id:
          type: integer
          format: int32
        definitionId:
          type: integer
          format: int32
        startDate:
          type: string
          format: date-time
        targetDate:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
        completeDate:
          type: string
          format: date-time
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        assignees:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessAssignmentDto'
          xml:
            name: ProcessAssignmentDto
            wrapped: true
          type: array
      xml:
        name: ProcessInstanceDto
      type: object
    OAS.DataModel.Reporting.Envision.AlClientDefaultCoverPage:
      required:
      - alClientId
      - paperOrientation
      - reportId
      properties:
        alClientId:
          type: integer
          format: int32
        paperOrientation:
          type: string
          enum:
          - Portrait
          - Landscape
        reportId:
          type: integer
          format: int32
        coverPage:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Envision.ReportCoverPage'
      xml:
        name: AlClientDefaultCoverPage
      type: object
    OAS.DataModel.Reporting.Scrubs.ScrubGroupName:
      required:
      - id
      - groupName
      properties:
        id:
          type: integer
          format: int32
        groupName:
          type: string
          maxLength: 50
          minLength: 0
        scrubs:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Scrub'
          xml:
            name: Scrub
            wrapped: true
          type: array
      xml:
        name: ScrubGroupName
      type: object
    OAS.DataModel.Security.UserFingerprint:
      required:
      - id
      - userId
      - fingerprint
      - expirationDate
      - issuedDate
      properties:
        id:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        fingerprint:
          type: string
          maxLength: 255
          minLength: 0
        expirationDate:
          type: string
          format: date-time
        issuedDate:
          type: string
          format: date-time
      xml:
        name: UserFingerprint
      type: object
    OAS.DataModel.Security.ServiceTeamMember:
      required:
      - id
      - serviceTeamId
      - userId
      - isAnalyst
      - isAccountManager
      properties:
        id:
          type: integer
          format: int32
        serviceTeamId:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        isAnalyst:
          type: boolean
        isAccountManager:
          type: boolean
        userManagerId:
          type: integer
          format: int32
        serviceTeam:
          $ref: '#/components/schemas/OAS.DataModel.Security.ServiceTeam'
        user:
          $ref: '#/components/schemas/OAS.DataModel.Security.User'
        userManager:
          $ref: '#/components/schemas/OAS.DataModel.Security.User'
        alClients:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Security.ServiceTeamMemberAlClient'
          xml:
            name: ServiceTeamMemberAlClient
            wrapped: true
          type: array
      xml:
        name: ServiceTeamMember
      type: object
    OAS.DataModel.Utility.Process.ProcessEvent:
      properties:
        id:
          type: integer
          format: int32
        elementId:
          type: integer
          format: int32
        catchEventId:
          type: integer
          format: int32
        name:
          type: string
        position:
          type: string
          enum:
          - Start
          - Intermediate
          - End
        type:
          type: string
          enum:
          - Generic
          - Message
          - Timer
          - Conditional
          - Signal
          - Multiple
          - MultipleParallel
          - Escalation
          - Error
          - Compensation
          - Link
          - Cancel
          - Terminate
        element:
          $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessElement'
        catchEvent:
          $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessEvent'
        throwEvents:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessEvent'
          xml:
            name: ProcessEvent
            wrapped: true
          type: array
      xml:
        name: ProcessEvent
      type: object
    OAS.DataModel.Reporting.Custom.CustomReportScheduleResult:
      required:
      - id
      - customReportScheduleId
      - resultData
      - createdBy
      - createdDate
      - editedBy
      - editedDate
      properties:
        id:
          type: integer
          format: int32
        customReportScheduleId:
          type: integer
          format: int32
        resultData:
          type: string
          format: byte
        createdBy:
          type: string
          maxLength: 50
          minLength: 0
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 50
          minLength: 0
        editedDate:
          type: string
          format: date-time
        fileFormat:
          type: string
          enum:
          - Csv
          - Xls
          - Xlsx
          - Psv
        fileNameOnRun:
          type: string
        schedule:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Custom.CustomReportSchedule'
      xml:
        name: CustomReportScheduleResult
      type: object
    OAS.DataModel.Reporting.Custom.CustomReportAlClient:
      required:
      - id
      - customReportId
      - alClientId
      - reportDescription
      properties:
        id:
          type: integer
          format: int32
        customReportId:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        reportDescription:
          type: string
          maxLength: 1000
          minLength: 0
      xml:
        name: CustomReportAlClient
      type: object
    OAS.DataModel.Security.UserDetailIntegration:
      required:
      - id
      - userDetailId
      - integrationType
      - integrationInfo
      properties:
        id:
          type: integer
          format: int32
        userDetailId:
          type: integer
          format: int32
        integrationType:
          type: string
          enum:
          - Undefined
          - Salesforce
          - Orion
          - OrionWeb
          - Redtail
          - Junxure
          - WebApi
          - eMoney
          - inStream
          - trxRebalance
          - RiskAlyze
          - AssetLock
        integrationInfo:
          type: string
          maxLength: 1000
          minLength: 0
      xml:
        name: UserDetailIntegration
      type: object
    OAS.DataModel.ComplexTypes.Address:
      properties:
        line1:
          type: string
          maxLength: 255
          minLength: 0
        line2:
          type: string
          maxLength: 255
          minLength: 0
        line3:
          type: string
          maxLength: 255
          minLength: 0
        city:
          type: string
          maxLength: 30
          minLength: 0
        state:
          type: string
          maxLength: 2
          minLength: 0
        zip:
          type: string
          maxLength: 10
          minLength: 0
      xml:
        name: Address
      type: object
    OAS.DataModel.Security.PrivilegeAllowEntityHistory:
      required:
      - id
      - privilegeHistory
      - loginEntityHistory
      - accessType
      - changeType
      properties:
        id:
          type: integer
          format: int32
        privilegeHistory:
          type: integer
          format: int32
        loginEntityHistory:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        accessType:
          type: string
          enum:
          - None
          - Read
          - Edit
          - Delete
        auditedBy:
          type: string
          format: byte
        auditedDate:
          type: string
          format: date-time
        auditedByDisplayName:
          type: string
        changeType:
          type: string
          maxLength: 1
          minLength: 0
      xml:
        name: PrivilegeAllowEntityHistory
      type: object
    OAS.DataModel.Utility.Process.ProcessTask:
      required:
      - id
      - processActivityId
      - instanceId
      - assignmentId
      - startDate
      - auditedDate
      properties:
        id:
          type: integer
          format: int32
        processActivityId:
          type: integer
          format: int32
        instanceId:
          type: integer
          format: int32
        assignmentId:
          type: integer
          format: int32
        startDate:
          type: string
          format: date-time
        targetDate:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
        completeDate:
          type: string
          format: date-time
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        elementActivity:
          $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessElementActivity'
        instance:
          $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessInstance'
        assignee:
          $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessAssignment'
      xml:
        name: ProcessTask
      type: object
    OAS.DataModel.Utility.Process.ProcessElementActivity:
      required:
      - elementId
      properties:
        elementId:
          type: integer
          format: int32
        activityId:
          type: integer
          format: int32
        activity:
          $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessActivity'
      xml:
        name: ProcessElementActivity
      type: object
    OAS.DataModel.Confirm.DownloadFormatNoteMapping:
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
        downloadFormatId:
          type: integer
          format: int32
        downloadFormatSubtypeId:
          type: integer
          format: int32
        fileTranCode:
          type: string
          maxLength: 50
          minLength: 0
        searchFor:
          type: string
          maxLength: 50
          minLength: 0
        translateTo:
          type: string
          maxLength: 50
          minLength: 0
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
      xml:
        name: DownloadFormatNoteMapping
      type: object
    OAS.DataModel.ComplexTypes.FullPhoneNumber:
      properties:
        extension:
          type: string
          maxLength: 10
          minLength: 0
        hasValue:
          readOnly: true
          type: boolean
        number:
          type: string
          maxLength: 15
          minLength: 0
      xml:
        name: FullPhoneNumber
      type: object
    OAS.WebApi.DTO.Security.UserProfileDto:
      properties:
        entity:
          type: string
        userName:
          type: string
        loginUserId:
          type: string
        databaseCount:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        userDetailId:
          type: integer
          format: int32
        roleId:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        alClientName:
          type: string
        alClientGuid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        alClientLockType:
          type: integer
          format: int32
        instanceName:
          readOnly: true
          type: string
        userGuid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phoneNumber:
          type: string
        twoFactor:
          type: boolean
        daysUntilPasswordExpires:
          type: integer
          format: int32
        rights:
          additionalProperties:
            type: boolean
          type: object
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        parentEntityId:
          type: integer
          format: int32
        parentEntity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        masterGroup:
          type: string
        advisorNumber:
          type: string
        passwordInfo:
          $ref: '#/components/schemas/OAS.DataModel.Authentication.PasswordInfo'
        isOps:
          type: boolean
      xml:
        name: UserProfileDto
      type: object
    OAS.DataModel.Security.UserLastLogin:
      required:
      - userId
      properties:
        userId:
          type: integer
          format: int32
        lastLogin:
          type: string
          format: date-time
      xml:
        name: UserLastLogin
      type: object
    OAS.DataModel.Reporting.Custom.CustomReportNote:
      required:
      - id
      - customReportId
      - alClientId
      properties:
        id:
          type: integer
          format: int32
        customReportId:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        note:
          type: string
        auditedByDisplay:
          type: string
        auditedBy:
          type: string
          format: byte
        auditedDate:
          type: string
          format: date-time
        rowData_c:
          type: string
          format: byte
        customReport:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Custom.CustomReport'
        database:
          $ref: '#/components/schemas/OAS.DataModel.Security.AlClient'
      xml:
        name: CustomReportNote
      type: object
    OAS.WebApi.DTO.Utility.Process.ProcessDefinitionDetailDto:
      properties:
        participants:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessParticipantDto'
          xml:
            name: ProcessParticipantDto
            wrapped: true
          type: array
        elements:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessElementDto'
          xml:
            name: ProcessElementDto
            wrapped: true
          type: array
        events:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.Process.ProcessEventDto'
          xml:
            name: ProcessEventDto
            wrapped: true
          type: array
        id:
          type: integer
          format: int32
        rootElementId:
          type: integer
          format: int32
        name:
          type: string
        urlName:
          type: string
        description:
          type: string
        processName:
          type: string
        taskName:
          type: string
        canUnassignTask:
          type: boolean
        canReassignTask:
          type: boolean
        allowTaskCategories:
          type: boolean
        allowDeptCategories:
          type: boolean
        allowTaskStatuses:
          type: boolean
        allowAssignTasks:
          type: boolean
        allowMultipleTasks:
          type: boolean
        allowMultipleTaskAssignments:
          type: boolean
        emailOwnerOnChange:
          type: boolean
        dontEmailIfOwnerIsAssigned:
          type: boolean
        autoAssignUsers:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: ProcessDefinitionDetailDto
      type: object
    OAS.DataModel.Confirm.DownloadFormatSubType:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        downloadFormatId:
          type: integer
          format: int32
        downloadFormatConfigJSON:
          type: string
        costBasisType:
          type: string
          enum:
          - None
          - Unrealized
          - Realized
          - Both
      xml:
        name: DownloadFormatSubType
      type: object
    OAS.DataModel.Confirm.DownloadFormatSymbolMapping:
      properties:
        downloadFormatId:
          type: integer
          format: int32
        fileSymbol:
          type: string
          maxLength: 50
          minLength: 0
        newSymbol:
          type: string
          maxLength: 50
          minLength: 0
        downloadFormatSubtypeId:
          type: integer
          format: int32
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
      xml:
        name: DownloadFormatSymbolMapping
      type: object
    OAS.DataModel.Security.UserDetailAccess:
      required:
      - userDetailId
      - accessibleUserDetailId
      - alClientId
      properties:
        userDetailId:
          type: integer
          format: int32
        accessibleUserDetailId:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        userDetail:
          $ref: '#/components/schemas/OAS.DataModel.Security.UserDetail'
      xml:
        name: UserDetailAccess
      type: object
    OAS.DataModel.Utility.Process.ProcessAssignment:
      required:
      - id
      - participantId
      - instanceId
      - userId
      - isOwner
      - auditedDate
      properties:
        id:
          type: integer
          format: int32
        participantId:
          type: integer
          format: int32
        instanceId:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        isOwner:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        user:
          $ref: '#/components/schemas/OAS.DataModel.Security.User'
        instance:
          $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessInstance'
        tasks:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessTask'
          xml:
            name: ProcessTask
            wrapped: true
          type: array
      xml:
        name: ProcessAssignment
      type: object
    OAS.DataModel.Utility.Process.ProcessDefinition:
      required:
      - id
      - rootElementId
      - name
      - urlName
      - description
      - canUnassignTask
      - canReassignTask
      - allowTaskCategories
      - allowDeptCategories
      - allowTaskStatuses
      - allowAssignTasks
      - allowMultipleTasks
      - allowMultipleTaskAssignments
      - emailOwnerOnChange
      - dontEmailIfOwnerIsAssigned
      - autoAssignUsers
      - auditedDate
      properties:
        id:
          type: integer
          format: int32
        rootElementId:
          type: integer
          format: int32
        name:
          type: string
          maxLength: 100
          minLength: 0
        urlName:
          type: string
          maxLength: 100
          minLength: 0
        description:
          type: string
          maxLength: 2500
          minLength: 0
        canUnassignTask:
          type: boolean
        canReassignTask:
          type: boolean
        allowTaskCategories:
          type: boolean
        allowDeptCategories:
          type: boolean
        allowTaskStatuses:
          type: boolean
        allowAssignTasks:
          type: boolean
        allowMultipleTasks:
          type: boolean
        allowMultipleTaskAssignments:
          type: boolean
        emailOwnerOnChange:
          type: boolean
        dontEmailIfOwnerIsAssigned:
          type: boolean
        autoAssignUsers:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        rootElement:
          $ref: '#/components/schemas/OAS.DataModel.Utility.Process.ProcessElement'
      xml:
        name: ProcessDefinition
      type: object
    OAS.DataModel.Confirm.DownloadFormatTransactionSymbolMapping:
      properties:
        id:
          type: integer
          format: int32
        downloadFormatId:
          type: integer
          format: int32
        downloadFormatSubtypeId:
          type: integer
          format: int32
        downloadSymbol:
          type: string
          maxLength: 50
          minLength: 0
        newSymbol:
          type: string
          maxLength: 50
          minLength: 0
        note:
          type: string
          maxLength: 1000
          minLength: 0
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
      xml:
        name: DownloadFormatTransactionSymbolMapping
      type: object
    OAS.DataModel.Reporting.Custom.CustomReportImport:
      required:
      - customReportId
      - importTypeId
      - isInternalOnly
      properties:
        customReportId:
          type: integer
          format: int32
        importTypeId:
          type: integer
          format: int32
        isInternalOnly:
[...]
