openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Global Trade Count API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/GlobalTradeCount
paths:
  /v1/Trading/GlobalTradeCount:
    post:
      tags:
      - Trading/GlobalTradeCount
      summary: Returns the number of global trades the logged in user has access to for the…
      operationId: Trading_PostGetGlobalTradeCount
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.Dto.GlobalTradeCountRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.Dto.GlobalTradeCountRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.Dto.GlobalTradeCountRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.Dto.GlobalTradeCountRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.Dto.GlobalTradeCountRequest'
        required: true
components:
  schemas:
    OAS.WebApi.Domains.Trading.Dto.GlobalTradeCountRequest:
      properties:
        fundFamilyId:
          type: integer
          format: int32
        sellProductId:
          type: integer
          format: int32
        managementStyleList:
          items:
            type: integer
            format: int32
          type: array
        modelAggList:
          items:
            type: integer
            format: int32
          type: array
        accountList:
          items:
            type: integer
            format: int32
          type: array
      xml:
        name: GlobalTradeCountRequest
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
