openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Portal Task API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/PortalTask
paths:
  /v1/Reporting/PortalTask:
    get:
      tags:
      - Reporting/PortalTask
      operationId: PortalTask_GetAll
      parameters:
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Accepted
            - Completed
            - Confirmed
            - Closed
            - Declined
            - InProcess
            - New
            - Pending
            - Rejected
            - UnAssigned
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
                xml:
                  name: PortalTaskDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
                xml:
                  name: PortalTaskDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
                xml:
                  name: PortalTaskDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
                xml:
                  name: PortalTaskDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
                xml:
                  name: PortalTaskDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
                xml:
                  name: PortalTaskDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Portal task get all
      x-summary-source: derived
    put:
      tags:
      - Reporting/PortalTask
      operationId: PortalTask_UpdatePortalTasks
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
                xml:
                  name: PortalTaskDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
                xml:
                  name: PortalTaskDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
                xml:
                  name: PortalTaskDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
                xml:
                  name: PortalTaskDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
                xml:
                  name: PortalTaskDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
                xml:
                  name: PortalTaskDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
              xml:
                name: PortalTaskDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
              xml:
                name: PortalTaskDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
              xml:
                name: PortalTaskDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
              xml:
                name: PortalTaskDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
              xml:
                name: PortalTaskDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
              xml:
                name: PortalTaskDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
              xml:
                name: PortalTaskDto
                wrapped: true
              type: array
        required: true
      summary: Portal task update portal tasks
      x-summary-source: derived
    post:
      tags:
      - Reporting/PortalTask
      operationId: PortalTask_CreateItem
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
        required: true
      summary: Portal task create item
      x-summary-source: derived
  /v1/Reporting/PortalTask/{key}:
    get:
      tags:
      - Reporting/PortalTask
      summary: Gets the portal task with the provided key.
      operationId: PortalTask_GetItemByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/PortalTask
      operationId: PortalTask_UpdatePortalTask
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto'
        required: true
      summary: Portal task update portal task
      x-summary-source: derived
    delete:
      tags:
      - Reporting/PortalTask
      operationId: PortalTask_DeletePortalTask
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portal task delete portal task
      x-summary-source: derived
  /v1/Reporting/PortalTask/EStatementEmail:
    post:
      tags:
      - Reporting/PortalTask
      operationId: PortalTask_EmailToClient
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PortalTaskController.EStatementDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PortalTaskController.EStatementDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PortalTaskController.EStatementDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PortalTaskController.EStatementDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PortalTaskController.EStatementDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PortalTaskController.EStatementDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.PortalTaskController.EStatementDto'
        required: true
      summary: Portal task email to client
      x-summary-source: derived
  /v1/Reporting/PortalTask/Simple:
    get:
      tags:
      - Reporting/PortalTask
      summary: Gets a simple list of portal tasks that the logged in user has access to
      operationId: PortalTask_GetAllSimpleEntities
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: object
                type: array
            application/json:
              schema:
                items:
                  type: object
                type: array
            text/json:
              schema:
                items:
                  type: object
                type: array
            application/xml:
              schema:
                items:
                  type: object
                type: array
            text/xml:
              schema:
                items:
                  type: object
                type: array
            multipart/form-data:
              schema:
                items:
                  type: object
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Reporting.UserTasks.PortalTaskDto:
      properties:
        id:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        clientName:
          type: string
        status:
          type: string
          enum:
          - None
          - Accepted
          - Completed
          - Confirmed
          - Closed
          - Declined
          - InProcess
          - New
          - Pending
          - Rejected
          - UnAssigned
        title:
          type: string
        body:
          type: string
        dueDate:
          type: string
          format: date-time
        publicNotes:
          type: string
        advisorNotes:
          type: string
        assignedTo:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: PortalTaskDto
      type: object
    OAS.WebApi.Domains.Reporting.PortalTaskController.EStatementDto:
      properties:
        email:
          type: string
        subject:
          type: string
        body:
          type: string
        isHtml:
          type: boolean
        isMethodChange:
          type: boolean
      xml:
        name: EStatementDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
