openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Missing Price Syncs API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/MissingPriceSyncs
paths:
  /v1/Confirm/MissingPriceSyncs:
    get:
      tags:
      - Confirm/MissingPriceSyncs
      summary: Returns a list of recon job statuses
      operationId: MissingPriceSyncs_Get
      parameters:
      - name: startDate
        in: query
        description: 'Optional. Default: null. If provided returns only recon job statuses with a process start date greater than date provided.'
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        description: 'Optional. Default: null. If provided returns only recon job statuses with a process start date less than date provided.'
        required: false
        schema:
          type: string
      - name: userTeamOnly
        in: query
        description: 'Optional. Default: false  If provided, the return will be limited to just the admin''s service team.'
        required: false
        schema:
          type: boolean
          default: false
      - name: serviceTeamId
        in: query
        description: 'Optional. Default: null  If provided, the return will be limited to the service team Id given.'
        required: false
        schema:
          type: integer
          format: int32
      - name: serviceTeamUserManagerId
        in: query
        description: 'Optional. Default: null  If provided, the return will be limited to the service teams assigned the the given Id.'
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/MissingPriceSyncs/{key}:
    get:
      tags:
      - Confirm/MissingPriceSyncs
      summary: Get MissingPriceSyncs by key
      operationId: MissingPriceSyncs_GetByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
      security:
      - Authorization: []
  /v1/Confirm/MissingPriceSyncs/Action/PriceNote:
    put:
      tags:
      - Confirm/MissingPriceSyncs
      summary: Update Price Notes
      operationId: MissingPriceSyncs_UpdatePriceNoteAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncPriceNoteDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncPriceNoteDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncPriceNoteDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncPriceNoteDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncPriceNoteDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncPriceNoteDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncPriceNoteDto'
        required: true
  /v1/Confirm/MissingPriceSyncs/Action/SignOff:
    put:
      tags:
      - Confirm/MissingPriceSyncs
      summary: Sign off MissingPriceSyncs
      operationId: MissingPriceSyncs_SyncSignOffAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto'
                xml:
                  name: MissingPriceSyncDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncDto:
      properties:
        statusIcon:
          readOnly: true
          type: string
        id:
          type: integer
          format: int64
        syncBeginDate:
          type: string
          format: date-time
        syncEndDate:
          type: string
          format: date-time
        productId:
          type: integer
          format: int32
        productName:
          type: string
        priceStatus:
          type: string
        units:
          type: integer
          format: int32
        priceDate:
          type: string
          format: date-time
        navPrice:
          type: number
          format: double
        priceNotes:
          type: string
        syncSignOffId:
          type: integer
          format: int64
        ruleId:
          type: integer
          format: int32
        lastAlertDate:
          type: string
          format: date-time
        clientName:
          type: string
        serviceTeamName:
          type: string
        analystLoginUserId:
          type: string
        managerLoginUserId:
          type: string
        syncSignOffDisplay:
          type: string
        managerSyncSignOffDisplay:
          type: string
        syncSignOffNote:
          type: string
        managerSyncSignOffNote:
          type: string
        cusip:
          type: string
        ticker:
          type: string
      xml:
        name: MissingPriceSyncDto
      type: object
    OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto:
      properties:
        syncIds:
          items:
            type: integer
            format: int64
          type: array
        syncType:
          type: string
          enum:
          - Daily
          - Weekly
          - Exclusion
          - Price
        managerSignOff:
          type: boolean
        syncNote:
          type: string
        priceNote:
          type: string
      xml:
        name: SyncSignOffsDto
      type: object
    OAS.WebApi.DTO.Confirm.Recon.MissingPriceSyncPriceNoteDto:
      properties:
        syncIds:
          items:
            type: integer
            format: int64
          type: array
        priceNote:
          type: string
      xml:
        name: MissingPriceSyncPriceNoteDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
