openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Cheetah API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Cheetah
paths:
  /v1/Integrations/Cheetah/Configuration:
    get:
      tags:
      - Integrations/Cheetah
      summary: Retrieves Cheetah Integration details
      operationId: Cheetah_GetConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Cheetah
      summary: Saves Cheetah integration settings
      operationId: Cheetah_UpdateConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig'
        required: true
components:
  schemas:
    OAS.DataProcess.Confirmation.Services.Cheetah.IntegrationConfig:
      properties:
        UserName:
          type: string
        Password:
          type: string
        ApiKey:
          type: string
        BaseAddress:
          type: string
      xml:
        name: IntegrationConfig
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
