openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Download Text Modification API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/DownloadTextModification
paths:
  /v1/Confirm/DownloadTextModification:
    get:
      tags:
      - Confirm/DownloadTextModification
      operationId: DownloadTextModification_GetAllAsync
      parameters:
      - name: downloadFormatId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        required: true
      - name: formatSubTypeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: recordType
        in: query
        required: false
        schema:
          type: string
          enum:
          - Name
          - Position
          - Transaction
          - Price
          - Dividend
          - Product
          - NotImported
          - Header
          - Security
          - CorpAction
          - TranDetail
          - Generic
          - CostBasis
          - Beneficiary
          - StoredPerformance
          - Systematic
          - RMD
          - Banking
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
                xml:
                  name: DownloadTextModificationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
                xml:
                  name: DownloadTextModificationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
                xml:
                  name: DownloadTextModificationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
                xml:
                  name: DownloadTextModificationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
                xml:
                  name: DownloadTextModificationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
                xml:
                  name: DownloadTextModificationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Download text modification get all async
      x-summary-source: derived
    put:
      tags:
      - Confirm/DownloadTextModification
      summary: Updates the asynchronous
      description: 'Sample Request

        PUT v1/Confirm/DownloadTextModification

        [

        {

        "id": 108,

        "downloadFormatId": 166,

        "downloadFormatSubtype": null,

        "modificationType": "Proper",

        "externalText": "UNITED STATES TREAS ",

        "newText": "US Treasury Test",

        "recordType": "Security",

        "runOrder": 555

        },

        {

        "id": 107,

        "downloadFormatId": 166,

        "downloadFormatSubtype": null,

        "modificationType":"Proper",

        "externalText": "UNITED STATES TREAS ",

        "newText": "US Treasury Test",

        "recordType": "Security",

        "runOrder": 555

        },

        {

        "id": 106,

        "downloadFormatId": 166,

        "downloadFormatSubtype": null,

        "modificationType": "Proper",

        "externalText": "UNITED STATES TREAS ",

        "newText": "US Treasury Test",

        "recordType": "Security",

        "runOrder": 555

        },

        {

        "id": 105,

        "downloadFormatId": 166,

        "downloadFormatSubtype": null,

        "modificationType": "Proper",

        "externalText": "UNITED STATES TREAS ",

        "newText": "US Treasury Test",

        "recordType": "Security",

        "runOrder": 555

        }

        ]'
      operationId: DownloadTextModification_UpdateAsync
      parameters:
      - name: downloadFormatId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The token.
        required: true
      - name: formatSubTypeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: recordType
        in: query
        required: false
        schema:
          type: string
          enum:
          - Name
          - Position
          - Transaction
          - Price
          - Dividend
          - Product
          - NotImported
          - Header
          - Security
          - CorpAction
          - TranDetail
          - Generic
          - CostBasis
          - Beneficiary
          - StoredPerformance
          - Systematic
          - RMD
          - Banking
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
                xml:
                  name: DownloadTextModificationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
                xml:
                  name: DownloadTextModificationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
                xml:
                  name: DownloadTextModificationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
                xml:
                  name: DownloadTextModificationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
                xml:
                  name: DownloadTextModificationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
                xml:
                  name: DownloadTextModificationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
              xml:
                name: DownloadTextModificationDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
              xml:
                name: DownloadTextModificationDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
              xml:
                name: DownloadTextModificationDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
              xml:
                name: DownloadTextModificationDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
              xml:
                name: DownloadTextModificationDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
              xml:
                name: DownloadTextModificationDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
              xml:
                name: DownloadTextModificationDto
                wrapped: true
              type: array
        description: The dtos.
        required: true
    post:
      tags:
      - Confirm/DownloadTextModification
      summary: Adds the asynchronous
      description: 'Sample Request

        POST v1/Confirm/DownloadTextModification

        {

        "downloadFormatId": 166,

        "downloadFormatSubtype": null,

        "modificationType": "Proper",

        "externalText": "UNITED STATES TREAS ",

        "newText": "US Treasury ",

        "recordType": "Security",

        "runOrder": 666,

        "downloadFormatName": "FidelitySingle"

        }'
      operationId: DownloadTextModification_AddAsync
      parameters:
      - name: token
        in: header
        description: The token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadTextModificationDto'
        description: The dto.
        required: true
  /v1/Confirm/DownloadTextModification/ManipulationTypes:
    get:
      tags:
      - Confirm/DownloadTextModification
      summary: Gets all but SmartProper, 3
      description: 'Sample Request

        GET /Confirm/ManipulationTypes'
      operationId: DownloadTextModification_GetAllModificationTypes
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                  enum:
                  - FindAndReplace
                  - Proper
                  - SmartProper
                  - Remove
                  - RemoveTextAfterText
                  - RemovingLeadingZeroes
                  - DateFormatting
                xml:
                  name: TextManipulationType
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  type: string
                  enum:
                  - FindAndReplace
                  - Proper
                  - SmartProper
                  - Remove
                  - RemoveTextAfterText
                  - RemovingLeadingZeroes
                  - DateFormatting
                xml:
                  name: TextManipulationType
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  type: string
                  enum:
                  - FindAndReplace
                  - Proper
                  - SmartProper
                  - Remove
                  - RemoveTextAfterText
                  - RemovingLeadingZeroes
                  - DateFormatting
                xml:
                  name: TextManipulationType
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  type: string
                  enum:
                  - FindAndReplace
                  - Proper
                  - SmartProper
                  - Remove
                  - RemoveTextAfterText
                  - RemovingLeadingZeroes
                  - DateFormatting
                xml:
                  name: TextManipulationType
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  type: string
                  enum:
                  - FindAndReplace
                  - Proper
                  - SmartProper
                  - Remove
                  - RemoveTextAfterText
                  - RemovingLeadingZeroes
                  - DateFormatting
                xml:
                  name: TextManipulationType
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                  enum:
                  - FindAndReplace
                  - Proper
                  - SmartProper
                  - Remove
                  - RemoveTextAfterText
                  - RemovingLeadingZeroes
                  - DateFormatting
                xml:
                  name: TextManipulationType
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Confirm.DownloadTextModificationDto:
      required:
      - id
      - downloadFormatId
      - modificationType
      - recordType
      - runOrder
      properties:
        id:
          type: integer
          format: int32
        downloadFormatId:
          type: integer
          format: int32
        downloadFormatSubtypeId:
          type: integer
          format: int32
        modificationType:
          type: string
          enum:
          - FindAndReplace
          - Proper
          - SmartProper
          - Remove
          - RemoveTextAfterText
          - RemovingLeadingZeroes
          - DateFormatting
        externalText:
          type: string
        newText:
          type: string
        recordType:
          type: string
          enum:
          - Name
          - Position
          - Transaction
          - Price
          - Dividend
          - Product
          - NotImported
          - Header
          - Security
          - CorpAction
          - TranDetail
          - Generic
          - CostBasis
          - Beneficiary
          - StoredPerformance
          - Systematic
          - RMD
          - Banking
        runOrder:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        downloadFormatName:
          type: string
        downloadFormatSubTypeName:
          type: string
      xml:
        name: DownloadTextModificationDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
