openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Blogging/Blogs API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Blogging/Blogs
paths:
  /v1/Blogging/Blogs:
    get:
      tags:
      - Blogging/Blogs
      summary: Gets all blog objects for user
      operationId: Blogs_GetAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Blogging/Blogs
      summary: Mass update blogs
      operationId: Blogs_UpdateItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
              xml:
                name: BlogDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
              xml:
                name: BlogDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
              xml:
                name: BlogDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
              xml:
                name: BlogDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
              xml:
                name: BlogDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
              xml:
                name: BlogDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
              xml:
                name: BlogDto
                wrapped: true
              type: array
        required: true
    post:
      tags:
      - Blogging/Blogs
      summary: Create a new blog
      operationId: Blogs_CreateBlog
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
        required: true
  /v1/Blogging/Blogs/{key}:
    get:
      tags:
      - Blogging/Blogs
      summary: Gets blog by key
      operationId: Blogs_GetItemByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
      security:
      - Authorization: []
    put:
      tags:
      - Blogging/Blogs
      summary: Update one blog
      operationId: Blogs_UpdateBlog
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
        required: true
    delete:
      tags:
      - Blogging/Blogs
      summary: Delete a blog
      operationId: Blogs_DeleteItem
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Blogging/Blogs/Simple:
    get:
      tags:
      - Blogging/Blogs
      operationId: Blogs_GetSimpleEntities
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Blogging.BlogDto'
                xml:
                  name: BlogDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Blogs get simple entities
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Blogging.BlogDto:
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
        caption:
          type: string
        body:
          type: string
        publishDate:
          type: string
          format: date-time
        expiredDate:
          type: string
          format: date-time
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      xml:
        name: BlogDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
