openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Contribution Code Exts API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/ContributionCodeExts
paths:
  /v1/Trading/ContributionCodeExts:
    get:
      tags:
      - Trading/ContributionCodeExts
      summary: Gets a list of contribution codes extensions that the logged in user has access…
      operationId: ContributionCodes_GetContributionCodeExts
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.ContributionCodeExt'
                xml:
                  name: ContributionCodeExt
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.ContributionCodeExt'
                xml:
                  name: ContributionCodeExt
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.ContributionCodeExt'
                xml:
                  name: ContributionCodeExt
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.ContributionCodeExt'
                xml:
                  name: ContributionCodeExt
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.ContributionCodeExt'
                xml:
                  name: ContributionCodeExt
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.ContributionCodeExt'
                xml:
                  name: ContributionCodeExt
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/ContributionCodeExts/Simple:
    get:
      tags:
      - Trading/ContributionCodeExts
      summary: Gets a simple list of contribution code extensions that the logged in user has…
      operationId: ContributionCodes_GetContributionCodeExtsSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.DataModel.Trading.ContributionCodeExt:
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
        displayValue:
          type: string
          maxLength: 100
          minLength: 0
        code:
          type: string
        purchaseType:
          type: string
        purchaseSubType:
          type: string
        isPriorYear:
          type: boolean
        isIRA:
          type: boolean
      xml:
        name: ContributionCodeExt
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
