openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Security/Firm Contacts API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Security/FirmContacts
paths:
  /v1/Security/FirmContacts:
    get:
      tags:
      - Security/FirmContacts
      operationId: FirmContact_GetAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.FirmContactDto'
                xml:
                  name: FirmContactDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.FirmContactDto'
                xml:
                  name: FirmContactDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.FirmContactDto'
                xml:
                  name: FirmContactDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.FirmContactDto'
                xml:
                  name: FirmContactDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.FirmContactDto'
                xml:
                  name: FirmContactDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.FirmContactDto'
                xml:
                  name: FirmContactDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Firm contact get async
      x-summary-source: derived
    post:
      tags:
      - Security/FirmContacts
      operationId: FirmContact_UpdateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.FirmContactDto'
              xml:
                name: FirmContactDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.FirmContactDto'
              xml:
                name: FirmContactDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.FirmContactDto'
              xml:
                name: FirmContactDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.FirmContactDto'
              xml:
                name: FirmContactDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.FirmContactDto'
              xml:
                name: FirmContactDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.FirmContactDto'
              xml:
                name: FirmContactDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.FirmContactDto'
              xml:
                name: FirmContactDto
                wrapped: true
              type: array
        required: true
      summary: Firm contact update async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Security.FirmContactDto:
      properties:
        id:
          type: integer
          format: int32
        authorizedSigner:
          type: boolean
        vendorContact:
          type: boolean
        technicalContact:
          type: boolean
        legalContact:
          type: boolean
        complianceOfficer:
          type: boolean
        email:
          type: string
        name:
          type: string
        operation:
          type: string
          enum:
          - Delete
          - Modify
          - Create
      xml:
        name: FirmContactDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
