openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Time Horizons API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/TimeHorizons
paths:
  /v1/Portfolio/TimeHorizons:
    get:
      tags:
      - Portfolio/TimeHorizons
      operationId: TimeHorizons_GetAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
                xml:
                  name: TimeHorizon
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
                xml:
                  name: TimeHorizon
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
                xml:
                  name: TimeHorizon
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
                xml:
                  name: TimeHorizon
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
                xml:
                  name: TimeHorizon
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
                xml:
                  name: TimeHorizon
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Time horizons get all
      x-summary-source: derived
    put:
      tags:
      - Portfolio/TimeHorizons
      operationId: TimeHorizons_UpdateHorizons
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
                xml:
                  name: TimeHorizon
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
                xml:
                  name: TimeHorizon
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
                xml:
                  name: TimeHorizon
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
                xml:
                  name: TimeHorizon
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
                xml:
                  name: TimeHorizon
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
                xml:
                  name: TimeHorizon
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
              xml:
                name: TimeHorizon
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
              xml:
                name: TimeHorizon
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
              xml:
                name: TimeHorizon
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
              xml:
                name: TimeHorizon
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.TimeHorizon'
              xml:
                name: TimeHorizon
                wrapped: true
              type: array
        required: true
      summary: Time horizons update horizons
      x-summary-source: derived
  /v1/Portfolio/TimeHorizons/Simple:
    get:
      tags:
      - Portfolio/TimeHorizons
      summary: Method to get all time horizons
      operationId: TimeHorizons_GetAllSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.DataModel.Portfolio.TimeHorizon:
      required:
      - id
      - description
      - seqNo
      properties:
        id:
          type: integer
          format: int32
        description:
          type: string
          maxLength: 25
          minLength: 0
        seqNo:
          type: integer
          format: int32
      xml:
        name: TimeHorizon
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
