openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Investment Objectives API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/InvestmentObjectives
paths:
  /v1/Portfolio/InvestmentObjectives:
    get:
      tags:
      - Portfolio/InvestmentObjectives
      operationId: InvestmentObjectives_GetAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
                xml:
                  name: InvestmentObjectiveDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
                xml:
                  name: InvestmentObjectiveDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
                xml:
                  name: InvestmentObjectiveDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
                xml:
                  name: InvestmentObjectiveDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
                xml:
                  name: InvestmentObjectiveDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
                xml:
                  name: InvestmentObjectiveDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Investment objectives get all
      x-summary-source: derived
    put:
      tags:
      - Portfolio/InvestmentObjectives
      operationId: InvestmentObjectives_UpdateObjectives
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
                xml:
                  name: InvestmentObjectiveDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
                xml:
                  name: InvestmentObjectiveDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
                xml:
                  name: InvestmentObjectiveDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
                xml:
                  name: InvestmentObjectiveDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
                xml:
                  name: InvestmentObjectiveDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
                xml:
                  name: InvestmentObjectiveDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
              xml:
                name: InvestmentObjectiveDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
              xml:
                name: InvestmentObjectiveDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
              xml:
                name: InvestmentObjectiveDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
              xml:
                name: InvestmentObjectiveDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto'
              xml:
                name: InvestmentObjectiveDto
                wrapped: true
              type: array
        required: true
      summary: Investment objectives update objectives
      x-summary-source: derived
  /v1/Portfolio/InvestmentObjectives/{key}:
    delete:
      tags:
      - Portfolio/InvestmentObjectives
      operationId: InvestmentObjectives_DeleteObjective
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Investment objectives delete objective
      x-summary-source: derived
  /v1/Portfolio/InvestmentObjectives/Simple:
    get:
      tags:
      - Portfolio/InvestmentObjectives
      summary: Method to get all investment objectives
      operationId: InvestmentObjectives_GetAllSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/InvestmentObjectives/Verbose:
    get:
      tags:
      - Portfolio/InvestmentObjectives
      operationId: InvestmentObjectives_GetVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - General
            - HypotheticalMonthlyPerformanceValue
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Investment objectives get verbose
      x-summary-source: derived
    put:
      tags:
      - Portfolio/InvestmentObjectives
      summary: Update multiple Investment Objectives
      operationId: InvestmentObjectives_UpdateVerboseInvestmentObjectives
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
              xml:
                name: InvestmentObjectiveVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
              xml:
                name: InvestmentObjectiveVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
              xml:
                name: InvestmentObjectiveVerboseDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
              xml:
                name: InvestmentObjectiveVerboseDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
              xml:
                name: InvestmentObjectiveVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
              xml:
                name: InvestmentObjectiveVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
              xml:
                name: InvestmentObjectiveVerboseDto
                wrapped: true
              type: array
        required: true
    post:
      tags:
      - Portfolio/InvestmentObjectives
      summary: Create new investment objectives
      operationId: InvestmentObjectives_CreateVerboseInvestmentObjective
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
        required: true
  /v1/Portfolio/InvestmentObjectives/Verbose/{key}:
    get:
      tags:
      - Portfolio/InvestmentObjectives
      operationId: InvestmentObjectives_GetVerboseByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - General
            - HypotheticalMonthlyPerformanceValue
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
      security:
      - Authorization: []
      summary: Investment objectives get verbose by key
      x-summary-source: derived
    put:
      tags:
      - Portfolio/InvestmentObjectives
      operationId: InvestmentObjectives_UpdateVerboseInvestmentObjective
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
        required: true
      summary: Investment objectives update verbose investment objective
      x-summary-source: derived
  /v1/Portfolio/InvestmentObjectives/Verbose/New:
    get:
      tags:
      - Portfolio/InvestmentObjectives
      operationId: InvestmentObjectives_GetNewVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - General
            - HypotheticalMonthlyPerformanceValue
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
      security:
      - Authorization: []
      summary: Investment objectives get new verbose
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.InvestmentObjectiveHypotheticalMonthlyPerformanceValueDto:
      properties:
        month:
          type: integer
          format: int32
        percentile5:
          type: number
          format: double
        percentile50:
          type: number
          format: double
        percentile95:
          type: number
          format: double
      xml:
        name: InvestmentObjectiveHypotheticalMonthlyPerformanceValueDto
      type: object
    OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        description:
          type: string
        general:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveGeneralDto'
        hypotheticalMonthlyPerformanceValues:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveHypotheticalMonthlyPerformanceValueDto'
          xml:
            name: InvestmentObjectiveHypotheticalMonthlyPerformanceValueDto
            wrapped: true
          type: array
      xml:
        name: InvestmentObjectiveVerboseDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Portfolio.InvestmentObjectiveGeneralDto:
      properties:
        id:
          type: integer
          format: int32
        description:
          type: string
        sequenceNumber:
          type: integer
          format: int32
      xml:
        name: InvestmentObjectiveGeneralDto
      type: object
    OAS.WebApi.DTO.Portfolio.InvestmentObjectiveDto:
      properties:
        id:
          type: integer
          format: int32
        description:
          type: string
        sequenceNumber:
          type: integer
          format: int32
        riskRangeLow:
          type: integer
          format: int32
        riskRangeHigh:
          type: integer
          format: int32
        driftRangeLow:
          type: integer
          format: int32
        driftRangeHigh:
          type: integer
          format: int32
        detail:
          type: string
      xml:
        name: InvestmentObjectiveDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
