openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Envision API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/Envision
paths:
  /v1/Reporting/Envision/CoverPages:
    get:
      tags:
      - Reporting/Envision
      operationId: EnvisionCoverPage_GetCoverPagesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: canEdit
        in: query
        required: false
        schema:
          type: boolean
      - name: canDelete
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageDto'
                xml:
                  name: ReportCoverPageDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageDto'
                xml:
                  name: ReportCoverPageDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageDto'
                xml:
                  name: ReportCoverPageDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageDto'
                xml:
                  name: ReportCoverPageDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageDto'
                xml:
                  name: ReportCoverPageDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageDto'
                xml:
                  name: ReportCoverPageDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Envision cover page get cover pages async
      x-summary-source: derived
  /v1/Reporting/Envision/CoverPages/{key}:
    get:
      tags:
      - Reporting/Envision
      operationId: EnvisionCoverPage_GetByKeyAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageDto'
      security:
      - Authorization: []
      summary: Envision cover page get by key async
      x-summary-source: derived
  /v1/Reporting/Envision/CoverPages/Simple:
    get:
      tags:
      - Reporting/Envision
      summary: Gets a simple list of reports that the logged in user has access to
      operationId: EnvisionCoverPage_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityWithOrientationOfSystem.Guid'
                xml:
                  name: SimpleEntityWithOrientation`1
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityWithOrientationOfSystem.Guid'
                xml:
                  name: SimpleEntityWithOrientation`1
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityWithOrientationOfSystem.Guid'
                xml:
                  name: SimpleEntityWithOrientation`1
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityWithOrientationOfSystem.Guid'
                xml:
                  name: SimpleEntityWithOrientation`1
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityWithOrientationOfSystem.Guid'
                xml:
                  name: SimpleEntityWithOrientation`1
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityWithOrientationOfSystem.Guid'
                xml:
                  name: SimpleEntityWithOrientation`1
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/Envision/CoverPages/Verbose:
    get:
      tags:
      - Reporting/Envision
      operationId: EnvisionCoverPage_GetVerboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: expand
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schema
            - AdditionalOptions
            - DatabaseGroupAccessRules
            - DatabaseAccessRules
            - LoginAccessRules
            - RoleAccessRules
            - UserAccessRules
            - All
      - name: canEdit
        in: query
        required: false
        schema:
          type: boolean
      - name: canDelete
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
                xml:
                  name: ReportCoverPageVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
                xml:
                  name: ReportCoverPageVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
                xml:
                  name: ReportCoverPageVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
                xml:
                  name: ReportCoverPageVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
                xml:
                  name: ReportCoverPageVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
                xml:
                  name: ReportCoverPageVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Envision cover page get verbose async
      x-summary-source: derived
    post:
      tags:
      - Reporting/Envision
      operationId: EnvisionCoverPage_CreateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
        required: true
      summary: Envision cover page create async
      x-summary-source: derived
  /v1/Reporting/Envision/CoverPages/Verbose/{key}:
    get:
      tags:
      - Reporting/Envision
      operationId: EnvisionCoverPage_GetV1ReportingEnvisionCoverPagesVerboseByKey
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schema
            - AdditionalOptions
            - DatabaseGroupAccessRules
            - DatabaseAccessRules
            - LoginAccessRules
            - RoleAccessRules
            - UserAccessRules
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
      security:
      - Authorization: []
      summary: Envision cover page get V1 reporting envision cover pages verbose by key
      x-summary-source: derived
    put:
      tags:
      - Reporting/Envision
      operationId: EnvisionCoverPage_UpdateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
        required: true
      summary: Envision cover page update async
      x-summary-source: derived
    delete:
      tags:
      - Reporting/Envision
      operationId: EnvisionCoverPage_DeleteAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Envision cover page delete async
      x-summary-source: derived
  /v1/Reporting/Envision/CoverPages/Verbose/New:
    get:
      tags:
      - Reporting/Envision
      summary: Envision cover page get new verbose async
      operationId: EnvisionCoverPage_GetNewVerboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportCoverPageVerboseDto'
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Reporting/Envision/ExcelReports:
    get:
      tags:
      - Reporting/Envision
      operationId: EnvisionExcelReports_GetExcelReportsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: canEdit
        in: query
        required: false
        schema:
          type: boolean
      - name: canDelete
        in: query
        required: false
        schema:
          type: boolean
      - name: type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Custom
            - Excel
            - All
      - name: favoritesOnly
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.DataQueryBaseDto'
                xml:
                  name: DataQueryBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.DataQueryBaseDto'
                xml:
                  name: DataQueryBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.DataQueryBaseDto'
                xml:
                  name: DataQueryBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.DataQueryBaseDto'
                xml:
                  name: DataQueryBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.DataQueryBaseDto'
                xml:
                  name: DataQueryBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.DataQueryBaseDto'
                xml:
                  name: DataQueryBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Envision excel reports get excel reports async
      x-summary-source: derived
  /v1/Reporting/Envision/ExcelReports/{key}:
    get:
      tags:
      - Reporting/Envision
      summary: Get excel report by Id
      operationId: EnvisionExcelReports_GetByKeyAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportDto'
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReports/{key}/Favorite:
    put:
      tags:
      - Reporting/Envision
      operationId: EnvisionExcelReports_UpdateFavoriteAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportDto'
      security:
      - Authorization: []
      summary: Envision excel reports update favorite async
      x-summary-source: derived
  /v1/Reporting/Envision/ExcelReports/{key}/Generate:
    post:
      tags:
      - Reporting/Envision
      summary: Generate
      operationId: EnvisionExcelReportsGenerate_GenerateReportAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
        required: true
  /v1/Reporting/Envision/ExcelReports/{key}/Generate/csv:
    post:
      tags:
      - Reporting/Envision
      summary: Used to generate a custom report csv with the provided parameters.
      operationId: EnvisionExcelReportsGenerate_GenerateReportCsvAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
        description: The custom report with paramaters to run.
        required: true
  /v1/Reporting/Envision/ExcelReports/{key}/Generate/SlickGrid:
    post:
      tags:
      - Reporting/Envision
      summary: Generates the result of the custom report, using the parameters passed in
      operationId: EnvisionExcelReportsGenerate_GenerateReportSlickGridAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
        description: The custom report with paramaters to run.
        required: true
  /v1/Reporting/Envision/ExcelReports/{key}/Generate/SlickGrid/{cacheKey}:
    get:
      tags:
      - Reporting/Envision
      summary: Retrieve the previously generated slick grid result
      operationId: EnvisionExcelReportsGenerate_GetDataQueryTableByReportId
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: cacheKey
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReports/{key}/Generate/Table:
    post:
      tags:
      - Reporting/Envision
      summary: Generates the result of the custom report, using the parameters passed in
      operationId: EnvisionExcelReportsGenerate_GenerateReportDataTableAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
        description: The custom report with paramaters to run.
        required: true
  /v1/Reporting/Envision/ExcelReports/{key}/Generate/xlsx:
    post:
      tags:
      - Reporting/Envision
      summary: Used to generate a custom report xlsx with the provided parameters.
      operationId: EnvisionExcelReportsGenerate_GenerateReportXlsxAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
        description: The custom report with paramaters to run.
        required: true
  /v1/Reporting/Envision/ExcelReports/{key}/Parameters:
    get:
      tags:
      - Reporting/Envision
      summary: Gets the custom report that has the provided key.
      operationId: EnvisionExcelReportsGenerate_GetFullByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportFullDto'
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReports/{key}/Run/{filename}:
    get:
      tags:
      - Reporting/Envision
      summary: Used to download a previously generated custom report
      operationId: EnvisionExcelReportsGenerate_RunReportAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: filename
        in: path
        description: The filename provided by the generate endpoint.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReports/Categories:
    get:
      tags:
      - Reporting/Envision
      operationId: EnvisionExcelReports_GetQueryCategoriesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                type: array
      security:
      - Authorization: []
      summary: Envision excel reports get query categories async
      x-summary-source: derived
  /v1/Reporting/Envision/ExcelReports/Simple:
    get:
      tags:
      - Reporting/Envision
      summary: Gets a simple list of excel reports that the logged in user has access to
      operationId: EnvisionExcelReports_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityOfSystem.Guid'
                xml:
                  name: SimpleEntity`1
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityOfSystem.Guid'
                xml:
                  name: SimpleEntity`1
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityOfSystem.Guid'
                xml:
                  name: SimpleEntity`1
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityOfSystem.Guid'
                xml:
                  name: SimpleEntity`1
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityOfSystem.Guid'
                xml:
                  name: SimpleEntity`1
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityOfSystem.Guid'
                xml:
                  name: SimpleEntity`1
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReports/Verbose:
    get:
      tags:
      - Reporting/Envision
      operationId: EnvisionExcelReportsVerbose_GetVerboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: expand
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schema
            - RequiredOptions
            - AdditionalOptions
            - DatabaseGroupAccessRules
            - DatabaseAccessRules
            - LoginAccessRules
            - RoleAccessRules
            - UserAccessRules
            - All
      - name: canEdit
        in: query
        required: false
        schema:
          type: boolean
      - name: canDelete
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
                xml:
                  name: ExcelReportVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
                xml:
                  name: ExcelReportVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
                xml:
                  name: ExcelReportVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
                xml:
                  name: ExcelReportVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Envision excel reports verbose get verbose async
      x-summary-source: derived
    post:
      tags:
      - Reporting/Envision
      operationId: EnvisionExcelReportsVerbose_CreateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
        required: true
      summary: Envision excel reports verbose create async
      x-summary-source: derived
  /v1/Reporting/Envision/ExcelReports/Verbose/{key}:
    get:
      tags:
      - Reporting/Envision
      operationId: EnvisionExcelReportsVerbose_GetV1ReportingEnvisionExcelReportsVerboseByKey
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schema
            - RequiredOptions
            - AdditionalOptions
            - DatabaseGroupAccessRules
            - DatabaseAccessRules
            - LoginAccessRules
            - RoleAccessRules
            - UserAccessRules
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
      security:
      - Authorization: []
      summary: Envision excel reports verbose get V1 reporting envision excel reports verbose…
      x-summary-source: derived
    put:
      tags:
      - Reporting/Envision
      operationId: EnvisionExcelReportsVerbose_UpdateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
        required: true
      summary: Envision excel reports verbose update async
      x-summary-source: derived
    delete:
      tags:
      - Reporting/Envision
      operationId: EnvisionExcelReportsVerbose_DeleteAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Envision excel reports verbose delete async
      x-summary-source: derived
  /v1/Reporting/Envision/ExcelReports/Verbose/New:
    get:
      tags:
      - Reporting/Envision
      summary: Creates a blank verbose report that will be used as a starting template to…
      operationId: EnvisionExcelReportsVerbose_GetNewVerboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportVerboseDto'
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReportSchedules:
    get:
      tags:
      - Reporting/Envision
      summary: Get all excel report schedules
      operationId: EnvisionExcelReportSchedules_GetAllItems
      parameters:
      - name: isActive
        in: query
        description: 'Optional. Default: null. If provided only active (true) or inactive (false) schedules are returned.'
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
                xml:
                  name: ExcelReportScheduleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
                xml:
                  name: ExcelReportScheduleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
                xml:
                  name: ExcelReportScheduleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
                xml:
                  name: ExcelReportScheduleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
                xml:
                  name: ExcelReportScheduleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
                xml:
                  name: ExcelReportScheduleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Reporting/Envision
      summary: Create new schedule
      operationId: EnvisionExcelReportSchedules_CreateItemAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
        required: true
  /v1/Reporting/Envision/ExcelReportSchedules/{key}:
    get:
      tags:
      - Reporting/Envision
      summary: Get excel report schedule by key
      operationId: EnvisionExcelReportSchedules_GetItemByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/Envision
      summary: Update schedule
      operationId: EnvisionExcelReportSchedules_UpdateItemAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
        required: true
    delete:
      tags:
      - Reporting/Envision
      summary: Delete schedule
      operationId: EnvisionExcelReportSchedules_DeleteItem
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReportSchedules/{key}/Download/csv/{resultId}:
    get:
      tags:
      - Reporting/Envision
      summary: Get data query results as Csv
      operationId: EnvisionExcelReportSchedules_DownloadReportCsvAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: resultId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReportSchedules/{key}/Download/psv/{resultId}:
    get:
      tags:
      - Reporting/Envision
      summary: Get data query results as pipe-delimited
      operationId: EnvisionExcelReportSchedules_DownloadReportPsvAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: resultId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReportSchedules/{key}/Download/xls/{resultId}:
    get:
      tags:
      - Reporting/Envision
      summary: Get data query results as data Xls
      operationId: EnvisionExcelReportSchedules_DownloadReportXlsAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: resultId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReportSchedules/{key}/Download/xlsx/{resultId}:
    get:
      tags:
      - Reporting/Envision
      summary: Get data query results as Xlsx
      operationId: EnvisionExcelReportSchedules_DownloadReportXlsxAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: resultId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReportSchedules/{key}/Generate/SlickGrid/{resultId}:
    get:
      tags:
      - Reporting/Envision
      summary: Get data query results as slick grid
      operationId: EnvisionExcelReportSchedules_GenerateReportSlickGrid
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: resultId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReportSchedules/{key}/Generate/Table/{resultId}:
    get:
      tags:
      - Reporting/Envision
      summary: Get data query results as data table
      operationId: EnvisionExcelReportSchedules_GenerateReportDataTable
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: resultId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReportSchedules/{key}/Run/{filename}:
    get:
      tags:
      - Reporting/Envision
      summary: Used to download a scheduled generated excel report
      operationId: EnvisionExcelReportSchedules_RunReportAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
          format: uuid
      - name: filename
        in: path
        description: The filename provided by the generate endpoint.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Envision/ExcelReportSchedules/New:
    get:
      tags:
      - Reporting/Envision
      summary: Returns a new schedule object
      operationId: EnvisionExcelReportSchedules_GetNewItem
      parameters:
      - name: frequencyType
        in: query
        required: true
        schema:
          type: string
          enum:
          - Daily
          - Weekly
          - Monthly
          - Once
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ExcelReportScheduleDto'
      security:
      - Authorization: []
  /v1/Reporting/Envision/Fragments:
    get:
      tags:
      - Reporting/Envision
      summary: List all report fragments accessible by current user
      operationId: EnvisionFragments_GetFragmentsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: canEdit
        in: query
        required: false
        schema:
          type: boolean
      - name: canDelete
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentDto'
                xml:
                  name: FragmentDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentDto'
                xml:
                  name: FragmentDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentDto'
                xml:
                  name: FragmentDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentDto'
                xml:
                  name: FragmentDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentDto'
                xml:
                  name: FragmentDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentDto'
                xml:
                  name: FragmentDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/Envision/Fragments/{fragmentId}:
    get:
      tags:
      - Reporting/Envision
      summary: Get report fragment by Id
      operationId: EnvisionFragments_GetFragmentAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: fragmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentDto'
      security:
      - Authorization: []
  /v1/Reporting/Envision/Fragments/Categories:
    get:
      tags:
      - Reporting/Envision
      summary: List all report fragment categories accessible by current user
      operationId: EnvisionFragments_GetCategoriesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                type: array
      security:
      - Authorization: []
  /v1/Reporting/Envision/Fragments/FragmentReportCount/{fragmentId}:
    get:
      tags:
      - Reporting/Envision
      summary: Get the count if subreport to parent reports
      operationId: EnvisionFragments_GetFragmentReportCountAsync
      parameters:
      - name: fragmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
  /v1/Reporting/Envision/Fragments/Simple:
    get:
      tags:
      - Reporting/Envision
      summary: Gets a simple list of report fragments that the logged in user has access to
      operationId: EnvisionFragments_GetSimpleFragementsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: category
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityWithDescriptionOfSystem.Guid'
                xml:
                  name: SimpleEntityWithDescription`1
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityWithDescriptionOfSystem.Guid'
                xml:
                  name: SimpleEntityWithDescription`1
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityWithDescriptionOfSystem.Guid'
                xml:
                  name: SimpleEntityWithDescription`1
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityWithDescriptionOfSystem.Guid'
                xml:
                  name: SimpleEntityWithDescription`1
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityWithDescriptionOfSystem.Guid'
                xml:
                  name: SimpleEntityWithDescription`1
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntityWithDescriptionOfSystem.Guid'
                xml:
                  name: SimpleEntityWithDescription`1
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/Envision/Fragments/Verbose:
    get:
      tags:
      - Reporting/Envision
      operationId: EnvisionFragmentsVerbose_GetVerboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schema
            - ConfigurationData
            - RequiredOptions
            - AdditionalOptions
            - ReferencedOptions
            - DatabaseGroupAccessRules
            - DatabaseAccessRules
            - LoginAccessRules
            - RoleAccessRules
            - UserAccessRules
            - RepresentativeAccessRules
            - RepresentativesClientsAccessRules
            - ClientAccessRules
            - BrokerDealerAccessRules
            - BrokerDealersRepresentativesAccessRules
            - All
            - AllOptions
            - AllAccessRules
      - name: canEdit
        in: query
        required: false
        schema:
          type: boolean
      - name: canDelete
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
                xml:
                  name: FragmentVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
                xml:
                  name: FragmentVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
                xml:
                  name: FragmentVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
                xml:
                  name: FragmentVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
                xml:
                  name: FragmentVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
                xml:
                  name: FragmentVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Envision fragments verbose get verbose async
      x-summary-source: derived
    put:
      tags:
      - Reporting/Envision
      operationId: EnvisionFragmentsVerbose_UpdateVerboseFragmentsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
                xml:
                  name: FragmentVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
                xml:
                  name: FragmentVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
                xml:
                  name: FragmentVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
                xml:
                  name: FragmentVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
                xml:
                  name: FragmentVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
                xml:
                  name: FragmentVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
              xml:
                name: FragmentVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
              xml:
                name: FragmentVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
              xml:
                name: FragmentVerboseDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
              xml:
                name: FragmentVerboseDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
              xml:
                name: FragmentVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
              xml:
                name: FragmentVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
              xml:
                name: FragmentVerboseDto
                wrapped: true
              type: array
        required: true
      summary: Envision fragments verbose update verbose fragments async
      x-summary-source: derived
    post:
      tags:
      - Reporting/Envision
      summary: Create new report
      operationId: EnvisionFragmentsVerbose_CreateVerboseFragmentAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
        required: true
  /v1/Reporting/Envision/Fragments/Verbose/{fragmentId}:
    get:
      tags:
      - Reporting/Envision
      operationId: EnvisionFragmentsVerbose_GetVerboseFragmentAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: fragmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schema
            - ConfigurationData
            - RequiredOptions
            - AdditionalOptions
            - ReferencedOptions
            - DatabaseGroupAccessRules
            - DatabaseAccessRules
            - LoginAccessRules
            - RoleAccessRules
            - UserAccessRules
            - RepresentativeAccessRules
            - RepresentativesClientsAccessRules
            - ClientAccessRules
            - BrokerDealerAccessRules
            - BrokerDealersRepresentativesAccessRules
            - All
            - AllOptions
            - AllAccessRules
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
      security:
      - Authorization: []
      summary: Envision fragments verbose get verbose fragment async
      x-summary-source: derived
    put:
      tags:
      - Reporting/Envision
      operationId: EnvisionFragmentsVerbose_UpdateVerboseReportAsync
      parameters:
      - name: fragmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
        required: true
      summary: Envision fragments verbose update verbose report async
      x-summary-source: derived
    delete:
      tags:
      - Reporting/Envision
      operationId: EnvisionFragmentsVerbose_DeleteVerboseReportAsync
      parameters:
      - name: fragmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Envision fragments verbose delete verbose report async
      x-summary-source: derived
  /v1/Reporting/Envision/Fragments/Verbose/Edit/{fragmentId}:
    get:
      tags:
      - Reporting/Envision
      operationId: EnvisionFragmentsVerbose_GetVerboseFragmentForEditAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: fragmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schema
            - ConfigurationData
            - RequiredOptions
            - AdditionalOptions
            - ReferencedOptions
            - DatabaseGroupAccessRules
            - DatabaseAccessRules
            - LoginAccessRules
            - RoleAccessRules
            - UserAccessRules
            - RepresentativeAccessRules
            - RepresentativesClientsAccessRules
            - ClientAccessRules
            - BrokerDealerAccessRules
            - BrokerDealersRepresentativesAccessRules
            - All
            - AllOptions
            - AllAccessRules
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
      security:
      - Authorization: []
      summary: Envision fragments verbose get verbose fragment for edit async
      x-summary-source: derived
  /v1/Reporting/Envision/Fragments/Verbose/Edit/New:
    get:
      tags:
      - Reporting/Envision
      operationId: EnvisionFragmentsVerbose_GetNewEditVerboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
      security:
      - Authorization: []
      summary: Envision fragments verbose get new edit verbose async
      x-summary-source: derived
  /v1/Reporting/Envision/Fragments/Verbose/New:
    get:
      tags:
      - Reporting/Envision
      operationId: EnvisionFragmentsVerbose_GetNewVerboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.FragmentVerboseDto'
      security:
      - Authorization: []
      summary: Envision fragments verbose get new verbose async
      x-summary-source: derived
  /v1/Reporting/Envision/GroupingOptions:
    get:
      tags:
      - Reporting/Envision
      operationId: Envision_GetGroupingOptionsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Reporting.Envision.CalculationGroupingOption'
                xml:
                  name: CalculationGroupingOption
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Reporting.Envision.CalculationGroupingOption'
                xml:
                  name: CalculationGroupingOption
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Reporting.Envision.CalculationGroupingOption'
                xml:
                  name: CalculationGroupingOption
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Reporting.Envision.CalculationGroupingOption'
                xml:
                  name: CalculationGroupingOption
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Envision get grouping options async
      x-summary-source: derived
  /v1/Reporting/Envision/PlaceholderHeirarchy:
    get:
      tags:
      - Reporting/Envision
      operationId: Envision_GetPlaceholderHeirarchyAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.Engine.ContextTagResult'
                xml:
                  name: ContextTagResult
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.Engine.ContextTagResult'
                xml:
                  name: ContextTagResult
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.Engine.ContextTagResult'
                xml:
                  name: ContextTagResult
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.Engine.ContextTagResult'
                xml:
                  name: ContextTagResult
                  wrapped: true
                type: array
      security:
[...]
