openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Homepage/Dashboards API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Homepage/Dashboards
paths:
  /v1/Homepage/Dashboards:
    get:
      tags:
      - Homepage/Dashboards
      operationId: Dashboard_GetDashboardByNameAsync
      parameters:
      - name: dashboardName
        in: query
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dashboard get dashboard by name async
      x-summary-source: derived
    post:
      tags:
      - Homepage/Dashboards
      operationId: Dashboard_CreateDashboardAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
        required: true
      summary: Dashboard create dashboard async
      x-summary-source: derived
  /v1/Homepage/Dashboards/{dashboardId}:
    put:
      tags:
      - Homepage/Dashboards
      summary: Dashboard update dashboard async
      operationId: Dashboard_UpdateDashboardAsync
      parameters:
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
        required: true
      x-summary-source: derived
  /v1/Homepage/Dashboards/{dashboardId}/Cards/{cardId}:
    post:
      tags:
      - Homepage/Dashboards
      operationId: Dashboard_AddCardToDashboardAsync
      parameters:
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cardId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.AddCardDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.AddCardDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.AddCardDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.AddCardDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.AddCardDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.AddCardDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.AddCardDto'
        required: true
      summary: Dashboard add card to dashboard async
      x-summary-source: derived
  /v1/Homepage/Dashboards/{dashboardId}/DashboardCards/{dashboardCardId}:
    delete:
      tags:
      - Homepage/Dashboards
      summary: Remove card from dashboard
      operationId: Dashboard_RemoveCardFromDashboardAsync
      parameters:
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: dashboardCardId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Homepage/Dashboards/{dashboardId}/DashboardCards/{dashboardCardId}/Clone:
    post:
      tags:
      - Homepage/Dashboards
      summary: Clone existing card within the dashboard
      operationId: Dashboard_CloneAndAddCardToDashboardAsync
      parameters:
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: dashboardCardId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Homepage/Dashboards/{id}:
    get:
      tags:
      - Homepage/Dashboards
      summary: Dashboard get dashboard for login async
      operationId: Dashboard_GetDashboardForLoginAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
    delete:
      tags:
      - Homepage/Dashboards
      operationId: Dashboard_DeleteAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dashboard delete async
      x-summary-source: derived
  /v1/Homepage/Dashboards/{id}/ForDeletion:
    get:
      tags:
      - Homepage/Dashboards
      operationId: Dashboard_GetSharedDefaultForDeletionAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dashboard get shared default for deletion async
      x-summary-source: derived
  /v1/Homepage/Dashboards/Cards/{id}:
    get:
      tags:
      - Homepage/Dashboards
      summary: Dashboard get card async
      operationId: Dashboard_GetCardAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
    put:
      tags:
      - Homepage/Dashboards
      summary: Dashboard update card async
      operationId: Dashboard_UpdateCardAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardDto'
        required: true
      x-summary-source: derived
  /v1/Homepage/Dashboards/DataSources:
    post:
      tags:
      - Homepage/Dashboards
      summary: Dashboard create data source
      operationId: Dashboard_CreateDataSource
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.DataSourceDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.DataSourceDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.DataSourceDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.DataSourceDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.DataSourceDto'
        required: true
      x-summary-source: derived
  /v1/Homepage/Dashboards/DataSources/{key}:
    get:
      tags:
      - Homepage/Dashboards
      summary: Dashboard get data source
      operationId: Dashboard_GetDataSource
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
    put:
      tags:
      - Homepage/Dashboards
      summary: Dashboard update data source
      operationId: Dashboard_UpdateDataSource
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.DataSourceDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.DataSourceDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.DataSourceDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.DataSourceDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.DataSourceDto'
        required: true
      x-summary-source: derived
    delete:
      tags:
      - Homepage/Dashboards
      summary: Dashboard delete data source
      operationId: Dashboard_DeleteDataSource
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Homepage/Dashboards/PortfolioView/SearchHistories:
    get:
      tags:
      - Homepage/Dashboards
      operationId: Dashboard_GetPortfolioViewSearchHistoriesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult'
                xml:
                  name: PortfolioViewSearchHistoryResult
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult'
                xml:
                  name: PortfolioViewSearchHistoryResult
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult'
                xml:
                  name: PortfolioViewSearchHistoryResult
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult'
                xml:
                  name: PortfolioViewSearchHistoryResult
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult'
                xml:
                  name: PortfolioViewSearchHistoryResult
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult'
                xml:
                  name: PortfolioViewSearchHistoryResult
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Dashboard get portfolio view search histories async
      x-summary-source: derived
    post:
      tags:
      - Homepage/Dashboards
      operationId: Dashboard_UpdatePortfolioViewSearchHistoriesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult'
        required: true
      summary: Dashboard update portfolio view search histories async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.HomepageDashboard.CardSettingDto:
      properties:
        displayName:
          type: string
        promptType:
          type: integer
          format: int32
        selectedValue:
          type: string
        code:
          type: string
        dataType:
          type: string
        availableValues:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.AvailableValueDto'
          xml:
            name: AvailableValueDto
            wrapped: true
          type: array
        valuesSource:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.ValuesSourceDto'
        option:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardsettingOptionDto'
        hidden:
          type: boolean
        settings:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingDto'
          xml:
            name: CardSettingDto
            wrapped: true
          type: array
        category:
          type: string
        dragSortEnabled:
          type: boolean
        useDefaultIfHidden:
          type: boolean
        isThreeDotMenu:
          type: boolean
        cardEventType:
          type: integer
          format: int32
        mappings:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardMappingDto'
        listEditor:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.ListEditorConfigDto'
        listEditorMenuTargetCode:
          type: string
        maxOptionsAllowed:
          type: integer
          format: int32
      xml:
        name: CardSettingDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto:
      properties:
        parentDashboardId:
          type: integer
          format: int32
        roles:
          items:
            type: integer
            format: int32
          type: array
        isShared:
          type: boolean
        isVisible:
          type: boolean
        isDefault:
          type: boolean
        isGlobal:
          type: boolean
        isPortfolioView:
          type: boolean
        userId:
          type: integer
          format: int32
        dashboardType:
          type: string
          enum:
          - Homepage
          - View
          - Tool
        id:
          type: integer
          format: int32
        dashboardName:
          type: string
        createdDate:
          type: string
          format: date-time
      xml:
        name: UserHomepageDashboardWithRoleDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.AddCardDto:
      properties:
        name:
          type: string
        setting:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingDto'
          xml:
            name: CardSettingDto
            wrapped: true
          type: array
      xml:
        name: AddCardDto
      type: object
    OAS.DataModel.Homepage.PortfolioViewSearchHistoryResult:
      properties:
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        name:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        entityName:
          type: string
        isActive:
          type: boolean
        dateSearched:
          type: string
          format: date-time
        accountNumber:
          type: string
      xml:
        name: PortfolioViewSearchHistoryResult
      type: object
    OAS.WebApi.DTO.HomepageDashboard.BucketMappingDto:
      properties:
        name:
          type: string
        id:
          type: integer
          format: int32
        includedValues:
          type: string
      xml:
        name: BucketMappingDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.ParameterDto:
      properties:
        name:
          type: string
        value:
          type: string
        displayName:
          type: string
        options:
          type: string
        code:
          type: string
      xml:
        name: ParameterDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.SliderOptionDto:
      properties:
        min:
          type: integer
          format: int32
        max:
          type: integer
          format: int32
        dimension:
          type: integer
          format: int32
      xml:
        name: SliderOptionDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.ListEditorConfigDto:
      description: Declarative list editor UI config stored on card settings JSON (listEditor).
      properties:
        mode:
          type: string
        labelField:
          type: string
        valueField:
          type: string
        readOnlyFields:
          items:
            type: string
          type: array
        maxItems:
          type: integer
          format: int32
        minItems:
          type: integer
          format: int32
        allowAdd:
          type: boolean
        allowRemove:
          type: boolean
        allowReorder:
          type: boolean
        emptyMessage:
          type: string
        persistStrategy:
          type: string
      xml:
        name: ListEditorConfigDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isDefault:
          type: boolean
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        isGlobal:
          type: boolean
        parentDashboardId:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        isShared:
          type: boolean
        dashboardType:
          type: string
          enum:
          - Homepage
          - View
          - Tool
        cards:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardDto'
          xml:
            name: CardDto
            wrapped: true
          type: array
      xml:
        name: HomepageDashboardDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.ComponentDto:
      properties:
        id:
          type: integer
          format: int32
        parentComponentId:
          type: integer
          format: int32
        dataSourceId:
          type: integer
          format: int32
        title:
          type: string
        type:
          type: string
          enum:
          - Text
          - Header
          - Footer
          - Table
          - Chart
          - BigNumber
          - Hr
          - Grid
          - ComponentButtonList
          - ActionSteps
          - SchwabStatus
          - RiskProfile
          - ComponentIFrame
          - Message
          - Gauge
          - ThreeDRiskProfile
          - BeFi20
          - MgpInsurancePolicy
          - SimpleGroupingTable
          - MgpPlanSummary
          - ImageDisplay
          - QueryStudioResultsGrid
        setting:
          type: object
        sort:
          type: integer
          format: int32
        dataSource:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.DataSource'
        components:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.ComponentDto'
          xml:
            name: ComponentDto
            wrapped: true
          type: array
      xml:
        name: ComponentDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.InputOption:
      properties:
        min:
          type: integer
          format: int32
        max:
          type: integer
          format: int32
      xml:
        name: InputOption
      type: object
    OAS.WebApi.DTO.HomepageDashboard.AvailableValueDto:
      properties:
        displayName:
          type: string
        value:
          type: string
        sortOrder:
          type: integer
          format: int32
        bucketValue:
          type: string
        isHidden:
          type: boolean
        dataText:
          type: string
        cssClass:
          type: string
        setting:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingDto'
      xml:
        name: AvailableValueDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.DataSourceDto:
      required:
      - connector
      - setting
      properties:
        id:
          type: integer
          format: int32
        text:
          type: string
        description:
          type: string
        privilegeId:
          type: integer
          format: int32
        connector:
          type: string
          enum:
          - DB
          - RestApi
          - DirectRestApi
          - Eclipse
          - RB3
          - AWSPOC
        type:
          type: string
          enum:
          - External
          - Internal
        setting:
          type: object
      xml:
        name: DataSourceDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.CardsettingOptionDto:
      properties:
        inputOption:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.InputOption'
        sliderOption:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.SliderOptionDto'
      xml:
        name: CardsettingOptionDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.CardMappingDto:
      properties:
        type:
          type: string
        text:
          type: string
        originalAvailableValues:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.AvailableValueDto'
          xml:
            name: AvailableValueDto
            wrapped: true
          type: array
        buckets:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.BucketMappingDto'
          xml:
            name: BucketMappingDto
            wrapped: true
          type: array
      xml:
        name: CardMappingDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.DataSource:
      properties:
        id:
          type: integer
          format: int32
        text:
          type: string
        description:
          type: string
        privilegeId:
          type: integer
          format: int32
        hasAccess:
          type: boolean
        connector:
          type: string
          enum:
          - DB
          - RestApi
          - DirectRestApi
          - Eclipse
          - RB3
          - AWSPOC
        type:
          type: string
          enum:
          - External
          - Internal
        configurationJson:
          type: string
        parameters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.ParameterDto'
          xml:
            name: ParameterDto
            wrapped: true
          type: array
      xml:
        name: DataSource
      type: object
    OAS.WebApi.DTO.HomepageDashboard.ValuesSourceDto:
      properties:
        endpoint:
          type: string
        labelField:
          type: string
        valueField:
          type: string
      xml:
        name: ValuesSourceDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.CardDto:
      properties:
        dashboardCardId:
          type: integer
          format: int32
        isGlobal:
          type: boolean
        position:
          type: integer
          format: int32
        isVisible:
          type: boolean
        hideIfRestricted:
          type: boolean
        setting:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingDto'
          xml:
            name: CardSettingDto
            wrapped: true
          type: array
        components:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.ComponentDto'
          xml:
            name: ComponentDto
            wrapped: true
          type: array
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        size:
          type: integer
          format: int32
        category:
          type: string
          enum:
          - General
          - Billing
          - Compliance
          - Data
          - Reporting
          - Trading
          - Performance
          - Query
          - NewAccountCenter
          - ReconcilliationStatus
          - QuarterEndDashboard
          - Trends
          - Eclipse
          - Custodian
          - Integrations
          - Allocation
          - Activity
          - TargetAllocation
          - Alternatives
          - GainLoss
          - Income
          - Planning
          - CustomIndexing
          - IFrame
        icon:
          type: string
      xml:
        name: CardDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
