openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Corporate Action API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/CorporateAction
paths:
  /v1/Confirm/CorporateAction/Processing:
    get:
      tags:
      - Confirm/CorporateAction
      summary: Get all Corporate Action Processes The return is limited to pages of 10000.
      operationId: CorporateActionProcessing_Get
      parameters:
      - name: corpActionId
        in: query
        description: Optional. Default null. Return Processes which belong to a particular Corporate Action by PK
        required: false
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: Optional. Default null. Return Processes which have an EffectiveDate on or after this
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. Default null. Return Processes which have an EffectiveDate on or before this
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
                xml:
                  name: CorporateActionProcessingDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
                xml:
                  name: CorporateActionProcessingDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
                xml:
                  name: CorporateActionProcessingDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
                xml:
                  name: CorporateActionProcessingDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
                xml:
                  name: CorporateActionProcessingDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
                xml:
                  name: CorporateActionProcessingDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/CorporateAction
      summary: Adds a new Corporate Action Extension to the database
      operationId: CorporateActionProcessing_CreateEntityAsync
      parameters:
      - name: cancellationToken
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
        description: CorporateActionProcessingDto to create
        required: true
  /v1/Confirm/CorporateAction/Processing/{key}:
    get:
      tags:
      - Confirm/CorporateAction
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: CorporateActionProcessing_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Primary Key of the CorpActionProcessing record.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/CorporateAction
      summary: TO BE REMOVED Updates the desired CorpActionProcessing record.
      operationId: CorporateActionProcessing_UpdateEntityAsync
      parameters:
      - name: key
        in: path
        description: Primary key of the desired record to update.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
        description: CorpActionProcessing record to update
        required: true
    delete:
      tags:
      - Confirm/CorporateAction
      summary: Deletes the CorpActionProcessing record.
      operationId: CorporateActionProcessing_DeleteEntityByKey
      parameters:
      - name: key
        in: path
        description: Primary Key of the CorpActionProcessing record.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Confirm/CorporateAction/Processing/{key}/Action/ProcessTask:
    put:
      tags:
      - Confirm/CorporateAction
      summary: Perform a Corporate Action task
      operationId: CorporateActionProcessing_ActionProcessTaskAsync
      parameters:
      - name: cancellationToken
        in: header
        description: CancellationToken of the request
        required: true
      - name: key
        in: path
        description: CorpActionProcessingId key of the object on which to perform the task.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTaskDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTaskDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTaskDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTaskDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTaskDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTaskDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTaskDto'
        description: The task to perform and details needed to perform the task, if necessary.
        required: true
  /v1/Confirm/CorporateAction/Processing/Detail:
    get:
      tags:
      - Confirm/CorporateAction
      summary: Get all Corporate Action Processes, including Corporate Action Details The…
      operationId: CorporateActionProcessing_GetDetail
      parameters:
      - name: corpActionId
        in: query
        description: Optional. Default null. Return Processes which belong to a particular Corporate Action by PK
        required: false
        schema:
          type: integer
          format: int32
      - name: corpActionProcessingId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: Optional. Default null. Return Processes which have an EffectiveDate on or after this
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. Default null. Return Processes which have an EffectiveDate on or before this
        required: false
        schema:
          type: string
          format: date-time
      - name: skipDates
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
                xml:
                  name: CorporateActionProcessingDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
                xml:
                  name: CorporateActionProcessingDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
                xml:
                  name: CorporateActionProcessingDetailDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
                xml:
                  name: CorporateActionProcessingDetailDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
                xml:
                  name: CorporateActionProcessingDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
                xml:
                  name: CorporateActionProcessingDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/CorporateAction/Processing/Detail/{key}:
    put:
      tags:
      - Confirm/CorporateAction
      summary: Updates the desired CorpActionProcessing record.
      operationId: CorporateActionProcessing_UpdateEntityDetailAsync
      parameters:
      - name: key
        in: path
        description: Primary key of the CorpActionProcessing to update.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
        description: CorpActionProcessing record to update
        required: true
  /v1/Confirm/CorporateAction/Processing/Status:
    get:
      tags:
      - Confirm/CorporateAction
      summary: Checks task status of each database
      operationId: CorporateActionProcessing_GetProcessingQueueStatus
      parameters:
      - name: processingIds
        in: query
        description: Optional. Filters by a list of Corporate Action Processing Ids.
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: incompleteOnly
        in: query
        description: Optional. Default True. Include only incomplete task by databases.
        required: false
        schema:
          type: boolean
          default: true
      - name: alClientId
        in: query
        description: Optional. Default 0. Filter to for a given AlClientId.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusDto'
                xml:
                  name: CorpActionProcessingStatusDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusDto'
                xml:
                  name: CorpActionProcessingStatusDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusDto'
                xml:
                  name: CorpActionProcessingStatusDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusDto'
                xml:
                  name: CorpActionProcessingStatusDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusDto'
                xml:
                  name: CorpActionProcessingStatusDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusDto'
                xml:
                  name: CorpActionProcessingStatusDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/CorporateAction/Processing/Status/Counts:
    get:
      tags:
      - Confirm/CorporateAction
      summary: Returns a count of all Complete, Pending, Skipped Processing Tasks
      operationId: CorporateActionProcessing_GetProcessingQueueStatusCounts
      parameters:
      - name: processingIds
        in: query
        description: Optional. List of Corporate Action Processing Ids.
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: incompleteOnly
        in: query
        description: Optional. Default false. Include only incomplete task by databases.
        required: false
        schema:
          type: boolean
          default: false
      - name: alClientId
        in: query
        description: Optional. Default 0. Filter for a given AlClientId.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusCountsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusCountsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusCountsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusCountsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusCountsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusCountsDto'
      security:
      - Authorization: []
  /v1/Confirm/CorporateAction/ProcessingType:
    get:
      tags:
      - Confirm/CorporateAction
      summary: Get all Corporate Action Processing Types The return is limited to pages of…
      operationId: CorporateActionProcessingType_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
                xml:
                  name: CorpActionProcessingTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
                xml:
                  name: CorpActionProcessingTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
                xml:
                  name: CorpActionProcessingTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
                xml:
                  name: CorpActionProcessingTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
                xml:
                  name: CorpActionProcessingTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
                xml:
                  name: CorpActionProcessingTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/CorporateAction
      summary: This endpoint has been deprecated.
      operationId: CorporateActionProcessingType_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
        description: Details of the object to create.
        required: true
  /v1/Confirm/CorporateAction/ProcessingType/{key}:
    get:
      tags:
      - Confirm/CorporateAction
      summary: Gets the Corporate Action Extension that has the provided key.
      operationId: CorporateActionProcessingType_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Primary Key of the CorpActionProcessingType.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/CorporateAction
      summary: This endpoint has been deprecated.
      operationId: CorporateActionProcessingType_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the object to update.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessingType'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessingType'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessingType'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessingType'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessingType'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessingType'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessingType'
        description: Details of the object to update.
        required: true
  /v1/Confirm/CorporateAction/TaskQueueSkipped:
    get:
      tags:
      - Confirm/CorporateAction
      summary: Get all Corporate Action Task Queue Skipped The return is limited to pages of…
      operationId: CorporateActionTaskQueueSkipped_Get
      parameters:
      - name: corpActionProcessingId
        in: query
        description: Optional. Default null. Return Processes which belong to a particular Corporate Action Process by PK
        required: false
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: Optional. *NOT USED*
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. *NOT USED*
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
                xml:
                  name: CorpActionTaskQueueSkippedDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
                xml:
                  name: CorpActionTaskQueueSkippedDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
                xml:
                  name: CorpActionTaskQueueSkippedDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
                xml:
                  name: CorpActionTaskQueueSkippedDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
                xml:
                  name: CorpActionTaskQueueSkippedDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
                xml:
                  name: CorpActionTaskQueueSkippedDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/CorporateAction
      summary: Adds a new Corporate Action Task Queue Skipped record to the database
      operationId: CorporateActionTaskQueueSkipped_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
        description: CorpActionTaskQueueSkippedDto to create
        required: true
  /v1/Confirm/CorporateAction/TaskQueueSkipped/{key}:
    get:
      tags:
      - Confirm/CorporateAction
      summary: Get Corporate Action Task Queue Skipped by key
      operationId: CorporateActionTaskQueueSkipped_GetItemByKey
      parameters:
      - name: key
        in: path
        description: Primary Key of the CorpActionTaskQueueSkipped
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/CorporateAction
      summary: Updates a Corporate Action Task Queue Skipped record
      operationId: CorporateActionTaskQueueSkipped_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Primary Key ID of the CorpActionTaskQueueSkippedDto to validate
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto'
        description: CorpActionTaskQueueSkippedDto to create
        required: true
  /v1/Confirm/CorporateAction/Transactions/V2:
    get:
      tags:
      - Confirm/CorporateAction
      operationId: CorporateActionTransactions_GetTransactionsAsync
      parameters:
      - name: alClientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: corporateActionId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: processingIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: tradeStatuses
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: productIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: startRange
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endRange
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
                xml:
                  name: CorpActionTransactionV2Dto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
                xml:
                  name: CorpActionTransactionV2Dto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
                xml:
                  name: CorpActionTransactionV2Dto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
                xml:
                  name: CorpActionTransactionV2Dto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
                xml:
                  name: CorpActionTransactionV2Dto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
                xml:
                  name: CorpActionTransactionV2Dto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Corporate action transactions get transactions async
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.Portfolio.ProductALClient:
      required:
      - productId
      - alClientId
      properties:
        productId:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
      xml:
        name: ProductALClient
      type: object
    OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTaskDto:
      properties:
        corpActionProcessingId:
          type: integer
          format: int32
        corpActionProcessingTaskType:
          type: string
          enum:
          - ApproveCorpAction
          - DisregardCorpAction
          - CreateTransactions
          - SetBackToNew
          - UpdateDate
          - UpdatePriceAmounts
          - Cancel
          - RecalculateTransactions
          - RemoveUncoveredPendings
          - CopyProcessingRecord
          - BodConversion
          - NameChange
          - CusipChange
        effectiveDate:
          type: string
          format: date-time
        navPrice:
          type: number
          format: double
      xml:
        name: CorpActionProcessingTaskDto
      type: object
    OAS.DataModel.Portfolio.CorporateAction:
      required:
      - id
      - createdBy
      - createdDate
      - editedBy
      - editedDate
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        entryDate:
          type: string
          format: date-time
        remarks:
          type: string
          maxLength: 50
          minLength: 0
        notifyType:
          type: string
          maxLength: 1
          minLength: 0
        notifyTypeUpdate:
          type: string
          maxLength: 1
          minLength: 0
        recordStatus:
          type: string
          maxLength: 1
          minLength: 0
        numOptions:
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 0
        securityType:
          type: string
          maxLength: 1
          minLength: 0
        effectiveDate:
          type: string
          format: date-time
        cusip:
          type: string
        oldCusip:
          type: string
        ticker:
          type: string
        name:
          type: string
          maxLength: 50
          minLength: 0
        oldName:
          type: string
          maxLength: 50
          minLength: 0
        expireDate:
          type: string
          format: date-time
        cash:
          type: number
          format: double
        cashCode:
          type: string
          maxLength: 1
          minLength: 0
        stateCode:
          type: string
          maxLength: 2
          minLength: 0
        tenderAgent:
          type: string
          maxLength: 4
          minLength: 0
        infoAgent:
          type: string
          maxLength: 4
          minLength: 0
        maturityDate:
          type: string
          format: date-time
        rate1:
          type: number
          format: double
        rateCode:
          type: string
          maxLength: 1
          minLength: 0
        rate2:
          type: number
          format: double
        voluntaryMandatory:
          type: string
          maxLength: 1
          minLength: 0
        dtc:
          type: string
          maxLength: 1
          minLength: 0
        prorationRate:
          type: string
          maxLength: 20
          minLength: 0
        prorationDate:
          type: string
          format: date-time
        note:
          type: string
          maxLength: 3000
          minLength: 0
        createdBy:
          type: string
          maxLength: 40
          minLength: 0
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 40
          minLength: 0
        editedDate:
          type: string
          format: date-time
        textNo:
          type: integer
          format: int32
        dealNo:
          type: integer
          format: int32
        costBasisFactor:
          type: number
          format: double
        textNoUpdate:
          type: integer
          format: int32
        fairMarketValue:
          type: number
          format: double
        moreInfoUrl:
          type: string
          maxLength: 2000
          minLength: 0
        product:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductGlobal'
        processes:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
          xml:
            name: CorpActionProcessing
            wrapped: true
          type: array
      xml:
        name: CorporateAction
      type: object
    OAS.DataModel.Portfolio.SubHolding:
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          maxLength: 150
          minLength: 0
        subHoldingDates:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.SubHoldingDate'
          xml:
            name: SubHoldingDate
            wrapped: true
          type: array
      xml:
        name: SubHolding
      type: object
    OAS.DataModel.ComplexTypes.PhoneNumber:
      properties:
        number:
          type: string
          maxLength: 15
          minLength: 0
        hasValue:
          readOnly: true
          type: boolean
      xml:
        name: PhoneNumber
      type: object
    OAS.DataModel.Portfolio.ProductDescriptionProviderFlat:
      required:
      - productId
      properties:
        productId:
          type: integer
          format: int32
        orionSub:
          type: string
          maxLength: 50
          minLength: 0
        orionCat:
          type: string
          maxLength: 50
          minLength: 0
        morningstarSector:
          type: string
          maxLength: 255
          minLength: 0
        morningstarGroup:
          type: string
          maxLength: 255
          minLength: 0
        morningstarIndustry:
          type: string
          maxLength: 255
          minLength: 0
        morningstarStyle:
          type: string
          maxLength: 255
          minLength: 0
        morningstarCategoryCode:
          type: string
          maxLength: 50
          minLength: 0
        morningstarCategory:
          type: string
          maxLength: 255
          minLength: 0
        lipperIOBClass:
          type: string
          maxLength: 50
          minLength: 0
        lipperIOBDescription:
          type: string
          maxLength: 255
          minLength: 0
        lipperIOBCategory:
          type: string
          maxLength: 50
          minLength: 0
        lipperClass:
          type: string
          maxLength: 50
          minLength: 0
        lipperClassDescription:
          type: string
          maxLength: 255
          minLength: 0
        lipperClassCategory:
          type: string
          maxLength: 50
          minLength: 0
        valueLineAbbrev:
          type: string
          maxLength: 50
          minLength: 0
        valueLineDesc:
          type: string
          maxLength: 255
          minLength: 0
      xml:
        name: ProductDescriptionProviderFlat
      type: object
    OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDto:
      properties:
        id:
          type: integer
          format: int32
        corpActionId:
          type: integer
          format: int32
        corpActionName:
          type: string
        corpActionProcessingTypeId:
          type: integer
          format: int32
        corpActionProcessingTypeName:
          type: string
        processStatus:
          type: string
          enum:
          - New
          - Approved
          - CreatePendings
          - Processing
          - InProcess
          - Complete
          - Cancelled
          - RecalculateUnits
          - NotProcessed
          - MoveCostBasis
        mergeOutRatio:
          type: number
          format: double
        roundingType:
          type: string
          enum:
          - Normal
          - Up
          - Down
          - Nearest
          - NoRounding
        expectedClose:
          type: string
          format: date-time
        isHeld:
          type: boolean
        isVerified:
          type: boolean
        isBeginningOfDay:
          type: boolean
        navPrice:
          type: number
          format: double
        newProductName:
          type: string
        newCusip:
          type: string
        newTicker:
          type: string
      xml:
        name: CorporateActionProcessingDto
      type: object
    OAS.DataModel.Portfolio.SubHoldingDate:
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
        subHoldingId:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
        subHoldingAllocs:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.SubHoldingAlloc'
          xml:
            name: SubHoldingAlloc
            wrapped: true
          type: array
      xml:
        name: SubHoldingDate
      type: object
    OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusCountsDto:
      properties:
        complete:
          type: integer
          format: int32
        pending:
          type: integer
          format: int32
        skipped:
          type: integer
          format: int32
      xml:
        name: CorpActionProcessingStatusCountsDto
      type: object
    OAS.DataModel.Portfolio.ProductSubType:
      required:
      - id
      - productType
      - isAlternative
      properties:
        id:
          type: integer
          format: int32
        productType:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
        productSubTypeName:
          type: string
          maxLength: 50
          minLength: 0
        isAlternative:
          type: boolean
      xml:
        name: ProductSubType
      type: object
    OAS.DataModel.Portfolio.ProductGICSMapping:
      required:
      - id
      - sectorCode
      - sectorDescription
      - industryGroupCode
      - industryGroupDescription
      - industryCode
      - industryDescription
      - subIndustryCode
      - subIndustryDescription
      properties:
        id:
          type: integer
          format: int32
        sectorCode:
          type: integer
          format: int32
        sectorDescription:
          type: string
          maxLength: 60
          minLength: 0
        industryGroupCode:
          type: integer
          format: int32
        industryGroupDescription:
          type: string
          maxLength: 60
          minLength: 0
        industryCode:
          type: integer
          format: int32
        industryDescription:
          type: string
          maxLength: 60
          minLength: 0
        subIndustryCode:
          type: integer
          format: int32
        subIndustryDescription:
          type: string
          maxLength: 60
          minLength: 0
      xml:
        name: ProductGICSMapping
      type: object
    OAS.DataModel.Portfolio.PersonalGlobal:
      required:
      - id
      - lastName
      - entityName
      - entity
      - isUSResident
      properties:
        id:
          type: integer
          format: int32
        firstName:
          type: string
          maxLength: 30
          minLength: 0
        lastName:
          type: string
          maxLength: 255
          minLength: 0
        entityName:
          type: string
          maxLength: 255
          minLength: 0
        address:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.Address'
        homePhone:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.FullPhoneNumber'
        businessPhone:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.FullPhoneNumber'
        mobilePhone:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.PhoneNumber'
        fax:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.FullPhoneNumber'
        otherPhone:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.FullPhoneNumber'
        pager:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.FullPhoneNumber'
        email:
          type: string
          maxLength: 200
          minLength: 0
        webAddress:
          type: string
          maxLength: 255
          minLength: 0
        salutation:
          type: string
          maxLength: 50
          minLength: 0
        ssN_TaxID:
          type: string
          maxLength: 15
          minLength: 0
        deceasedSSN_TaxID:
          type: string
          maxLength: 15
          minLength: 0
        dob:
          type: string
          maxLength: 20
          minLength: 0
        birthDate:
          readOnly: true
          type: string
          format: date-time
        isSmoker:
          type: boolean
        gender:
          type: string
          maxLength: 1
          minLength: 0
        marital:
          type: string
          maxLength: 50
          minLength: 0
        prefix:
          type: string
          maxLength: 50
          minLength: 0
        suffix:
          type: string
          maxLength: 50
          minLength: 0
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        audit:
          $ref: '#/components/schemas/OAT.DataModel.ComplexTypes.BasicAuditNullNull'
        personalDesc:
          type: string
          maxLength: 50
          minLength: 0
        isActive:
          type: boolean
        jobTitle:
          type: string
          maxLength: 200
          minLength: 0
        isBlockedPersonOverride:
          type: boolean
        isUSCitizen:
          type: boolean
        company:
          type: string
          maxLength: 255
          minLength: 0
        twitterUsername:
          type: string
          maxLength: 50
          minLength: 0
        facebookUrl:
          type: string
          maxLength: 8000
          minLength: 0
        blobPhotoId:
          type: integer
          format: int32
        reportName:
          type: string
          maxLength: 255
          minLength: 0
        isUSResident:
          type: boolean
        country:
          type: string
          maxLength: 150
          minLength: 0
        isMobileVerified:
          type: boolean
      xml:
        name: PersonalGlobal
      type: object
    OAS.DataModel.Portfolio.PreferredRate:
      required:
      - id
      - productId
      - isFixedRate
      - isConvertible
      - isVotingRights
      - isCallable
      - isCumulative
      - isParticipating
      - isInDefault
      - createdBy
      - createdDate
      - editedBy
      - editedDate
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        dividendRate:
          type: number
          format: double
        frequency:
          type: integer
          format: int32
        parValue:
          type: number
          format: double
        isFixedRate:
          type: boolean
        isConvertible:
          type: boolean
        isVotingRights:
          type: boolean
        isCallable:
          type: boolean
        isCumulative:
          type: boolean
        isParticipating:
          type: boolean
        isInDefault:
          type: boolean
        createdBy:
          type: string
          maxLength: 40
          minLength: 0
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 40
          minLength: 0
        editedDate:
          type: string
          format: date-time
      xml:
        name: PreferredRate
      type: object
    OAS.DataModel.Portfolio.BondRate:
      required:
      - id
      - productId
      - datedDate
      - couponRate
      - maturityDate
      - isFederallyTaxable
      - isStateTaxable
      - isVariableRate
      - isInDefault
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        datedDate:
          type: string
          format: date-time
        couponRate:
          type: number
          format: double
        maturityDate:
          type: string
          format: date-time
        alternateMaturityDate:
          type: string
          format: date-time
        parValue:
          type: number
          format: double
        paymentFrequency:
          type: string
          enum:
          - AtMaturity
          - Monthly
          - BiMonthly
          - Quarterly
          - Triannually
          - Semiannually
          - Annually
          - Biennially
        isCompounding:
          type: boolean
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 20
          minLength: 0
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 20
          minLength: 0
        issueDate:
          type: string
          format: date-time
        interestAccrualDate:
          type: string
          format: date-time
        isFederallyTaxable:
          type: boolean
        isStateTaxable:
          type: boolean
        stateId:
          type: integer
          format: int32
        dayCount:
          type: string
          enum:
          - ThirtyThreeSixty
          - ActualActual
          - ActualThreeSixtyFive
          - ActualThreeSixty
          - ActualActualIsda
        isVariableRate:
          type: boolean
        isInDefault:
          type: boolean
        callDate:
          type: string
          format: date-time
        callPrice:
          type: number
          format: double
        initialCouponDate:
          type: string
          format: date-time
        isOID:
          type: boolean
        isAMT:
          type: boolean
        inDefaultDate:
          type: string
          format: date-time
        state:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.State'
      xml:
        name: BondRate
      type: object
    OAS.DataModel.Confirm.CorpAction.CorpActionTaskType:
      required:
      - id
      - statusChangeOnly
      properties:
        id:
          type: integer
          format: int32
        taskDescription:
          type: string
          maxLength: 50
          minLength: 0
        statusChangeOnly:
          type: boolean
      xml:
        name: CorpActionTaskType
      type: object
    OAS.WebApi.DTO.Confirm.CorpAction.CorporateActionProcessingDetailDto:
      properties:
        id:
          type: integer
          format: int32
        corpActionId:
          type: integer
          format: int32
        corpActionProcessingTypeId:
          type: integer
          format: int32
        corpActionProcessingTypeName:
          type: string
        processStatus:
          type: string
          enum:
          - New
          - Approved
          - CreatePendings
          - Processing
          - InProcess
          - Complete
          - Cancelled
          - RecalculateUnits
          - NotProcessed
          - MoveCostBasis
        mergeOutRatio:
          type: number
          format: double
        roundingType:
          type: string
          enum:
          - Normal
          - Up
          - Down
          - Nearest
          - NoRounding
        expectedClose:
          type: string
          format: date-time
        isHeld:
          type: boolean
        isVerified:
          type: boolean
        isBeginningOfDay:
          type: boolean
        navPrice:
          type: number
          format: double
        productId:
          type: integer
          format: int32
        productName:
          type: string
        entryDate:
          type: string
          format: date-time
        remarks:
          type: string
        notifyType:
          type: string
        notifyTypeUpdate:
          type: string
        recordStatus:
          type: string
        numOptions:
          type: integer
          format: int32
        securityType:
          type: string
        effectiveDate:
          type: string
          format: date-time
        cusip:
          type: string
        oldCusip:
          type: string
        ticker:
          type: string
        name:
          type: string
        oldName:
          type: string
        expireDate:
          type: string
          format: date-time
        cash:
          type: number
          format: double
        cashCode:
          type: string
        stateCode:
          type: string
        tenderAgent:
          type: string
        infoAgent:
          type: string
        maturityDate:
          type: string
          format: date-time
        rate1:
          type: number
          format: double
        rateCode:
          type: string
        rate2:
          type: number
          format: double
        voluntaryMandatory:
          type: string
        dtc:
          type: string
        prorationRate:
          type: string
        prorationDate:
          type: string
          format: date-time
        note:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        textNo:
          type: integer
          format: int32
        dealNo:
          type: integer
          format: int32
        costBasisFactor:
          type: number
          format: double
        textNoUpdate:
          type: integer
          format: int32
        fairMarketValue:
          type: number
          format: double
        fairMarketValueOut:
          type: number
          format: double
        newProductName:
          type: string
        newCusip:
          type: string
        newTicker:
          type: string
      xml:
        name: CorporateActionProcessingDetailDto
      type: object
    OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingTypeDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        notes:
          type: string
      xml:
        name: CorpActionProcessingTypeDto
      type: object
    OAS.DataModel.Portfolio.State:
      required:
      - id
      - abbreviation
      - hamptonEligible
      properties:
        id:
          type: integer
          format: int32
        abbreviation:
          type: string
          maxLength: 2
          minLength: 0
        fullName:
          type: string
          maxLength: 30
          minLength: 0
        teamNo:
          type: integer
          format: int32
        forDomestic:
          type: string
          maxLength: 2
          minLength: 0
        hamptonEligible:
          type: boolean
      xml:
        name: State
      type: object
    OAS.DataModel.Portfolio.PriceCurrent:
      required:
      - custodianCommonId
      - productId
      - priceDate
      - navPrice
      - isValidated
      properties:
        custodianCommonId:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        priceDate:
          type: string
          format: date-time
        navPrice:
          type: number
          format: double
        isValidated:
          type: boolean
      xml:
        name: PriceCurrent
      type: object
    OAS.DataModel.Portfolio.DownloadSymbol:
      required:
      - id
      - symbol
      properties:
        id:
          type: integer
          format: int32
        symbol:
          type: string
          maxLength: 50
          minLength: 0
        productId:
          type: integer
          format: int32
        isNASDAQPlatformSymbol:
          type: boolean
        audits:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.DownloadSymbolHistory'
          xml:
            name: DownloadSymbolHistory
            wrapped: true
          type: array
      xml:
        name: DownloadSymbol
      type: object
    OAS.DataModel.Portfolio.ProductRiskScoreCurrent:
      properties:
        productPk:
          type: integer
          format: int32
        riskScore:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
        riskScoreMethod:
          type: string
      xml:
        name: ProductRiskScoreCurrent
      type: object
    OAS.WebApi.DTO.Confirm.CorpAction.CorpActionProcessingStatusDto:
      properties:
        id:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        corporateActionId:
          type: integer
          format: int32
        corporateActionProcessingId:
          type: integer
          format: int32
        databaseName:
          type: string
        serverName:
          type: string
        productId:
          type: integer
          format: int32
        productName:
          type: string
        ticker:
          type: string
        processingType:
          type: string
        effectiveDate:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - New
          - Approved
          - CreatePendings
          - Processing
          - InProcess
          - Complete
          - Cancelled
          - RecalculateUnits
          - NotProcessed
          - MoveCostBasis
        corporateActionTaskType:
          type: string
        corporateActionTaskQueueStatus:
          type: string
          enum:
          - Unknown
          - Pending
          - Skipped
          - Complete
        corporateActionTaskQueueId:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        corporateActionStatus:
          type: string
        mergeOutRatio:
          type: number
          format: double
        roundingType:
          type: string
          enum:
          - Normal
          - Up
          - Down
          - Nearest
          - NoRounding
        expectedClose:
          type: string
          format: date-time
        isHeld:
          type: boolean
        isVerified:
          type: boolean
        isBeginingOfDate:
          type: boolean
        navPrice:
          type: number
          format: double
        auditedDate:
          type: string
          format: date-time
        auditedBy:
          type: string
        skippedTask:
          type: boolean
        remarks:
          type: string
        recordStatus:
          type: string
        entryDate:
          type: string
          format: date-time
        recordDate:
          type: string
          format: date-time
        rate1:
          type: number
          format: double
        rate2:
          type: number
          format: double
        cash:
          type: number
          format: double
        payDate:
          type: string
          format: date-time
        note:
          type: string
        productType:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
      xml:
        name: CorpActionProcessingStatusDto
      type: object
    OAT.DataModel.ComplexTypes.BasicAuditNullNull:
      properties:
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
      xml:
        name: BasicAuditNullNull
      type: object
    OAS.DataModel.ComplexTypes.Address:
      properties:
        line1:
          type: string
          maxLength: 255
          minLength: 0
        line2:
          type: string
          maxLength: 255
          minLength: 0
        line3:
          type: string
          maxLength: 255
          minLength: 0
        city:
          type: string
          maxLength: 30
          minLength: 0
        state:
          type: string
          maxLength: 2
          minLength: 0
        zip:
          type: string
          maxLength: 10
          minLength: 0
      xml:
        name: Address
      type: object
    OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTaskQueueSkippedDto:
      properties:
        id:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        corpActionProcessingId:
          type: integer
          format: int32
        corpActionTaskQueueStartId:
          type: integer
          format: int32
        corpActionTaskQueueEndId:
          type: integer
          format: int32
        comment:
          type: string
      xml:
        name: CorpActionTaskQueueSkippedDto
      type: object
    OAS.DataModel.Portfolio.FundFamilyGlobal:
      required:
      - id
      - personalId
      - isAnnuity
      - isCanBeDownLoad
      - isActive
      properties:
        id:
          type: integer
          format: int32
        personalId:
          type: integer
          format: int32
        isAnnuity:
          type: boolean
        isCanBeDownLoad:
          type: boolean
        oldGroup:
          type: string
          maxLength: 5
          minLength: 0
        oldFFId:
          type: integer
          format: int32
        persContactId:
          type: integer
          format: int32
        persOverNTId:
          type: integer
          format: int32
        speedDial:
          type: string
          maxLength: 10
          minLength: 0
        tradeInstr:
          type: string
          maxLength: 255
          minLength: 0
        isActive:
          type: boolean
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 20
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 20
          minLength: 0
        timestamp:
          type: string
          format: byte
        vendor:
          type: string
          maxLength: 50
          minLength: 0
        status:
          type: string
          maxLength: 50
          minLength: 0
        restrictionNotes:
          type: string
          maxLength: 500
          minLength: 0
        reregistrationNotes:
          type: string
          maxLength: 500
          minLength: 0
        cstOperationHours:
          type: string
          maxLength: 20
          minLength: 0
        isPhoneTrade:
          type: boolean
        isFaxTrade:
          type: boolean
        isUploadTrade:
          type: boolean
        isConfirmPhone:
          type: boolean
        isConfirmInternet:
          type: boolean
        isConfirmFundServ:
          type: boolean
        isConfirmAps:
          type: boolean
        isConfirmOther:
          type: boolean
        confirmNotes:
          type: string
          maxLength: 500
          minLength: 0
        downloadMethod:
          type: string
          maxLength: 10
          minLength: 0
        downloadNotes:
          type: string
          maxLength: 500
          minLength: 0
        custFundServe:
          type: string
          maxLength: 20
          minLength: 0
        directFundServe:
          type: string
          maxLength: 20
          minLength: 0
        trader:
          type: string
          maxLength: 20
          minLength: 0
        unitBalanceScale:
          type: integer
          format: int32
        priceScale:
          type: integer
          format: int32
        isAcctNumUnique:
          type: boolean
        isNetworkingEligible:
          type: boolean
        isShareClassSensitive:
          type: boolean
        sungardBrokerId:
          type: integer
          format: int32
        personal:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.PersonalGlobal'
      xml:
        name: FundFamilyGlobal
      type: object
    OAS.DataModel.Portfolio.ShareClass:
      required:
      - id
      - class
      properties:
        id:
          type: integer
          format: int32
        class:
          type: string
          maxLength: 10
          minLength: 0
        description:
          type: string
          maxLength: 255
          minLength: 0
        oldFundId:
          type: integer
          format: int32
        loadType:
          type: string
          maxLength: 1
          minLength: 0
        isDefault:
          type: boolean
      xml:
        name: ShareClass
      type: object
    OAS.DataModel.Portfolio.DownloadSymbolHistory:
      required:
      - downloadSymbolId
      - changeType
      properties:
        id:
          type: integer
          format: int32
        downloadSymbolId:
          type: integer
          format: int32
        changeType:
          type: string
          maxLength: 1
          minLength: 0
        auditedByDisplay:
          type: string
        auditedDate:
          type: string
          format: date-time
      xml:
        name: DownloadSymbolHistory
      type: object
    OAS.DataModel.ComplexTypes.FullPhoneNumber:
      properties:
        extension:
          type: string
          maxLength: 10
          minLength: 0
        hasValue:
          readOnly: true
          type: boolean
        number:
          type: string
          maxLength: 15
          minLength: 0
      xml:
        name: FullPhoneNumber
      type: object
    OAS.DataModel.Portfolio.ProductGlobalAdditionalInfo:
      required:
      - productId
      properties:
        productId:
          type: integer
          format: int32
        currentOrionPrice:
          type: number
          format: double
        currentOrionPriceDate:
          type: string
          format: date-time
      xml:
        name: ProductGlobalAdditionalInfo
      type: object
    OAS.DataModel.Integration.FinMason.ProductRiskScoreExt:
      required:
      - productId
      - asOfDate
      - riskScore
      properties:
        productId:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
        riskScore:
          type: integer
          format: int32
        productStdDev1Yr:
          type: number
          format: double
        productStdDev3Yr:
          type: number
          format: double
        productStdDev5Yr:
          type: number
          format: double
        productStdDev10Yr:
          type: number
          format: double
        covarianceProductBench1Yr:
          type: number
          format: double
        covarianceProductBench3Yr:
          type: number
          format: double
        covarianceProductBench5Yr:
          type: number
          format: double
        covarianceProductBench10Yr:
          type: number
          format: double
        relativeRisk1Yr:
          type: number
          format: double
        relativeRisk3Yr:
          type: number
          format: double
        relativeRisk5Yr:
          type: number
          format: double
        relativeRisk10Yr:
          type: number
          format: double
        beta1Yr:
          type: number
          format: double
        beta3Yr:
          type: number
          format: double
        beta5Yr:
          type: number
          format: double
        beta10Yr:
          type: number
          format: double
        benchmarkStdDev1Yr:
          type: number
          format: double
        benchmarkStdDev3Yr:
          type: number
          format: double
        benchmarkStdDev5Yr:
          type: number
          format: double
        benchmarkStdDev10Yr:
          type: number
          format: double
        clusterCorrelation1Yr:
          type: number
          format: double
        clusterCorrelation3Yr:
          type: number
          format: double
        clusterCorrelation5Yr:
          type: number
          format: double
        clusterCorrelation10Yr:
          type: number
          format: double
      xml:
        name: ProductRiskScoreExt
      type: object
    OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto:
      properties:
        id:
          readOnly: true
          type: string
        dbName:
          type: string
        transactionId:
          type: integer
          format: int32
        corpActionId:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        productName:
          type: string
        processingType:
          type: string
        accountId:
          type: integer
          format: int32
        assetId:
          type: integer
          format: int32
        transDate:
          type: string
          format: date-time
        transType:
          type: string
        amount:
          type: number
          format: double
        units:
          type: number
          format: double
        price:
          type: number
          format: double
        tradeStatus:
          type: string
          enum:
          - Complete
          - Pending
          - Rejected
          - Reversed
          - Inactive
          - PendingCorpAction
          - FutureAip
        custodian:
          type: string
        transSubType:
          type: string
        isProcessing:
          type: boolean
        processingId:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        transTypeId:
          type: integer
          format: int32
        transSubTypeId:
          type: integer
          format: int32
        notes:
          type: string
        accountNumber:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        isCil:
          type: boolean
        custodianId:
          type: integer
          format: int32
      xml:
        name: CorpActionTransactionV2Dto
      type: object
    OAS.DataModel.Confirm.CorpAction.CorpActionTaskQueue:
      required:
      - id
      - corpActionProcessingId
      - corpActionTaskTypeId
      properties:
        id:
          type: integer
          format: int32
        corpActionProcessingId:
          type: integer
          format: int32
        corpActionTaskTypeId:
          type: integer
          format: int32
        processing:
          $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessing'
        taskType:
          $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionTaskType'
      xml:
        name: CorpActionTaskQueue
      type: object
    OAS.DataModel.Portfolio.ProductGlobal:
      required:
      - createdDate
      - estimatedDividendFrequency
      - id
      - ticker
      - isActive
      - shareClassId
      - defaultPrice
      - tradesPerDay
      - repurchaseBlockDays
      - is144A
      - isDerivative
      - includeByDefault
      - allowIncomeOverride
      - excludeFromCB
      properties:
        createdDate:
          type: string
          format: date-time
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 50
          minLength: 0
        oldRecID:
          type: string
          maxLength: 10
          minLength: 0
        oldLRecID:
          type: string
          maxLength: 10
          minLength: 0
        productSubTypeId:
          type: integer
          format: int32
        estimatedDividendFrequency:
          type: number
          format: double
        id:
          type: integer
          format: int32
        fundFamilyId:
          type: integer
          format: int32
        ticker:
          type: string
          maxLength: 50
          minLength: 0
        cusip:
          type: string
          maxLength: 50
          minLength: 0
        isin:
          type: string
          maxLength: 50
          minLength: 0
        isActive:
          type: boolean
        productName:
          type: string
          maxLength: 150
          minLength: 0
        rowVersion:
          type: string
          format: byte
        importDate:
          type: string
          format: date-time
        shareClassId:
          type: integer
          format: int32
        apcCode:
          type: string
          maxLength: 20
          minLength: 0
        micropalCode:
          type: string
          maxLength: 20
          minLength: 0
        defaultPrice:
          type: number
          format: double
        convSchSells:
          type: boolean
        productType:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
        fundNumber:
          type: string
          maxLength: 20
          minLength: 0
        isUsePriceTime:
          type: boolean
        tradeCutoffTime:
          type: string
          format: date-time
        estimateReportTime:
          type: string
          format: date-time
        estimateInterval:
          type: integer
          format: int32
        shortTermTradeFeeDays:
          type: integer
          format: int32
        shortTermTradeFeePercent:
          type: number
          format: double
        tradesPerDay:
          type: integer
          format: int32
        repurchaseBlockDays:
          type: integer
          format: int32
        is144A:
          type: boolean
        productParentId:
          type: integer
          format: int32
        priceStatus:
          type: string
          enum:
          - Normal
          - Default
          - Manual
          - ReceivedMoreThan1Day
          - InfrequentPricing
          - SecurityIsWorthless
          - IndeterminableValue
          - NotActiveProduct
        subHoldingId:
          type: integer
          format: int32
        strikePrice:
          type: number
          format: double
        expirationDate:
          type: string
          format: date-time
        optionLotSize:
          type: integer
          format: int32
        isDerivative:
          type: boolean
        includeByDefault:
          type: boolean
        allowIncomeOverride:
          type: boolean
        isDividendSuspended:
          type: boolean
        excludeFromCB:
          type: boolean
        isMLP:
          type: boolean
        isIntervalFund:
          type: boolean
        inceptionDate:
          type: string
          format: date-time
        shortTermDiscountObligation:
          type: boolean
        subType:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductSubType'
        fundFamily:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.FundFamilyGlobal'
        shareClass:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.ShareClass'
        subHolding:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.SubHolding'
        bondRates:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.BondRate'
          xml:
            name: BondRate
            wrapped: true
          type: array
        downloadSymbols:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.DownloadSymbol'
          xml:
            name: DownloadSymbol
            wrapped: true
          type: array
        fundFamilyProducts:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.FundFamilyProduct'
          xml:
            name: FundFamilyProduct
            wrapped: true
          type: array
        parentProduct:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductGlobal'
        childProducts:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductGlobal'
          xml:
            name: ProductGlobal
            wrapped: true
          type: array
        preferredRates:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.PreferredRate'
          xml:
            name: PreferredRate
            wrapped: true
          type: array
        currentPrices:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.PriceCurrent'
          xml:
            name: PriceCurrent
            wrapped: true
          type: array
        descriptionProviderDetail:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductDescriptionProviderFlat'
        productUsages:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductUsage'
          xml:
            name: ProductUsage
            wrapped: true
          type: array
        alClients:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductALClient'
          xml:
            name: ProductALClient
            wrapped: true
          type: array
        gicsMapping:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductGICSMapping'
        productRiskScores:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Integration.FinMason.ProductRiskScore'
          xml:
            name: ProductRiskScore
            wrapped: true
          type: array
        currentProductRiskScore:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductRiskScoreCurrent'
          xml:
            name: ProductRiskScoreCurrent
            wrapped: true
          type: array
        info:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductGlobalAdditionalInfo'
        portfolioAnalyses:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Performance.PortfolioAnalysis'
          xml:
            name: PortfolioAnalysis
            wrapped: true
          type: array
      xml:
        name: ProductGlobal
      type: object
    OAS.DataModel.Confirm.CorpAction.CorpActionProcessing:
      required:
      - id
      - corpActionId
      - corpActionProcessingTypeId
      - processStatus
      - roundingType
      - isHeld
      - isVerified
      properties:
        id:
          type: integer
          format: int32
        corpActionId:
          type: integer
          format: int32
        corpActionProcessingTypeId:
          type: integer
          format: int32
        processStatus:
          type: string
          enum:
          - New
          - Approved
          - CreatePendings
          - Processing
          - InProcess
          - Complete
          - Cancelled
          - RecalculateUnits
          - NotProcessed
          - MoveCostBasis
        mergeOutRatio:
          type: number
          format: double
          maximum: 1.0
          minimum: 0.0
        roundingType:
          type: string
          enum:
          - Normal
          - Up
          - Down
          - Nearest
          - NoRounding
        expectedClose:
          type: string
          format: date-time
        isHeld:
          type: boolean
        isVerified:
          type: boolean
        isBeginningOfDay:
          type: boolean
        navPrice:
          type: number
          format: double
        newProductName:
          type: string
        newCusip:
          type: string
        newTicker:
          type: string
        processingType:
          $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionProcessingType'
        corporateAction:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.CorporateAction'
        corpActionTaskQueues:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Confirm.CorpAction.CorpActionTaskQueue'
          xml:
            name: CorpActionTaskQueue
            wrapped: true
          type: array
      xml:
        name: CorpActionProcessing
      type: object
    OAS.DataModel.Confirm.CorpAction.CorpActionProcessingType:
      required:
      - id
      - name
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          maxLength: 50
          minLength: 0
        notes:
          type: string
          maxLength: 255
          minLength: 0
      xml:
        name: CorpActionProcessingType
      type: object
    OAS.DataModel.Performance.PortfolioAnalysis:
      required:
      - id
      - productId
      - productIndex
      - alClientId
      - whenCalculated
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        productIndex:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        whenCalculated:
          type: string
          format: date-time
        standardDeviation:
          type: number
          format: double
        beta:
          type: number
          format: double
[...]
