openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Homepage/Portfolio Views API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Homepage/PortfolioViews
paths:
  /v1/Homepage/PortfolioViews:
    post:
      tags:
      - Homepage/PortfolioViews
      operationId: Dashboard_CreatePortfolioViewAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto'
        required: true
      summary: Dashboard create portfolio view async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardWithRoleDto:
      properties:
        parentDashboardId:
          type: integer
          format: int32
        roles:
          items:
            type: integer
            format: int32
          type: array
        isShared:
          type: boolean
        isVisible:
          type: boolean
        isDefault:
          type: boolean
        isGlobal:
          type: boolean
        isPortfolioView:
          type: boolean
        userId:
          type: integer
          format: int32
        dashboardType:
          type: string
          enum:
          - Homepage
          - View
          - Tool
        id:
          type: integer
          format: int32
        dashboardName:
          type: string
        createdDate:
          type: string
          format: date-time
      xml:
        name: UserHomepageDashboardWithRoleDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
