openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Account Cancellation Subjects API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/AccountCancellationSubjects
paths:
  /v1/Portfolio/AccountCancellationSubjects:
    get:
      tags:
      - Portfolio/AccountCancellationSubjects
      summary: Gets a simple list of account cancellation types that the logged in user has…
      operationId: AccountCancellationSubjects_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto'
                xml:
                  name: AccountCancellationSubjectsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto'
                xml:
                  name: AccountCancellationSubjectsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto'
                xml:
                  name: AccountCancellationSubjectsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto'
                xml:
                  name: AccountCancellationSubjectsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto'
                xml:
                  name: AccountCancellationSubjectsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto'
                xml:
                  name: AccountCancellationSubjectsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/AccountCancellationSubjects
      summary: Used to create a new account cancellation type.
      operationId: AccountCancellationSubjects_Create
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.AccountCancellationSubjects'
                xml:
                  name: AccountCancellationSubjects
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.AccountCancellationSubjects'
                xml:
                  name: AccountCancellationSubjects
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.AccountCancellationSubjects'
                xml:
                  name: AccountCancellationSubjects
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.AccountCancellationSubjects'
                xml:
                  name: AccountCancellationSubjects
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.AccountCancellationSubjects'
                xml:
                  name: AccountCancellationSubjects
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.AccountCancellationSubjects'
                xml:
                  name: AccountCancellationSubjects
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto'
              xml:
                name: AccountCancellationSubjectsDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto'
              xml:
                name: AccountCancellationSubjectsDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto'
              xml:
                name: AccountCancellationSubjectsDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto'
              xml:
                name: AccountCancellationSubjectsDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto'
              xml:
                name: AccountCancellationSubjectsDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto'
              xml:
                name: AccountCancellationSubjectsDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto'
              xml:
                name: AccountCancellationSubjectsDto
                wrapped: true
              type: array
        required: true
components:
  schemas:
    OAS.DataModel.Portfolio.AccountCancellationSubjects:
      required:
      - id
      - cancellationSubject
      properties:
        id:
          type: integer
          format: int32
        cancellationSubject:
          type: string
          maxLength: 255
          minLength: 0
      xml:
        name: AccountCancellationSubjects
      type: object
    OAS.WebApi.DTO.Portfolio.AccountCancellationSubjectsDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: AccountCancellationSubjectsDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
