openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Bill Schedule Element Restrictions API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/BillScheduleElementRestrictions
paths:
  /v1/Billing/BillScheduleElementRestrictions:
    get:
      tags:
      - Billing/BillScheduleElementRestrictions
      summary: Returns a list of broker dealer fees
      operationId: BillScheduleElementBrokerDealerRestrictions_Get
      parameters:
      - name: brokerDealerId
        in: query
        description: Optional broker dealer ID to find.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
                xml:
                  name: BillScheduleElementBrokerDealerRestrictionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
                xml:
                  name: BillScheduleElementBrokerDealerRestrictionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
                xml:
                  name: BillScheduleElementBrokerDealerRestrictionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
                xml:
                  name: BillScheduleElementBrokerDealerRestrictionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
                xml:
                  name: BillScheduleElementBrokerDealerRestrictionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
                xml:
                  name: BillScheduleElementBrokerDealerRestrictionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Billing/BillScheduleElementRestrictions
      summary: Accepts a Broker Dealers Fee Restriction and writes it into the table
      operationId: BillScheduleElementBrokerDealerRestrictions_AddEntity
      parameters:
      - name: ct
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
        description: The BillScheduleElementBrokerDealerRestrictionDto to add.
        required: true
  /v1/Billing/BillScheduleElementRestrictions/Action/Delete:
    put:
      tags:
      - Billing/BillScheduleElementRestrictions
      summary: Deletes a list of Broker Dealers Fee Restrictions
      operationId: BillScheduleElementBrokerDealerRestrictions_DeleteEntities
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
              xml:
                name: BillScheduleElementBrokerDealerRestrictionDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
              xml:
                name: BillScheduleElementBrokerDealerRestrictionDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
              xml:
                name: BillScheduleElementBrokerDealerRestrictionDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
              xml:
                name: BillScheduleElementBrokerDealerRestrictionDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
              xml:
                name: BillScheduleElementBrokerDealerRestrictionDto
                wrapped: true
              type: array
        description: The list of BillScheduleElementBrokerDealerRestrictionDto to delete.
        required: true
  /v1/Billing/BillScheduleElementRestrictions/list:
    put:
      tags:
      - Billing/BillScheduleElementRestrictions
      summary: Accepts a list of Broker Dealers Fee Restrictions and writes them into the table
      operationId: BillScheduleElementBrokerDealerRestrictions_AddEntityList
      parameters:
      - name: ct
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
                xml:
                  name: BillScheduleElementBrokerDealerRestrictionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
                xml:
                  name: BillScheduleElementBrokerDealerRestrictionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
                xml:
                  name: BillScheduleElementBrokerDealerRestrictionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
                xml:
                  name: BillScheduleElementBrokerDealerRestrictionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
                xml:
                  name: BillScheduleElementBrokerDealerRestrictionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
                xml:
                  name: BillScheduleElementBrokerDealerRestrictionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
              xml:
                name: BillScheduleElementBrokerDealerRestrictionDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
              xml:
                name: BillScheduleElementBrokerDealerRestrictionDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
              xml:
                name: BillScheduleElementBrokerDealerRestrictionDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
              xml:
                name: BillScheduleElementBrokerDealerRestrictionDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto'
              xml:
                name: BillScheduleElementBrokerDealerRestrictionDto
                wrapped: true
              type: array
        description: The list of BillScheduleElementBrokerDealerRestrictionDto to add.
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Billing.BillScheduleElementBrokerDealerRestrictionDto:
      properties:
        brokerDealerId:
          type: integer
          format: int32
        billScheduleId:
          type: integer
          format: int32
      xml:
        name: BillScheduleElementBrokerDealerRestrictionDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
