openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Sleeve Strategy Risk Type API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/SleeveStrategyRiskType
paths:
  /v1/Trading/SleeveStrategyRiskType:
    get:
      tags:
      - Trading/SleeveStrategyRiskType
      summary: Returns all Sleeve Strategy Risk Types
      operationId: SleeveStrategyRiskType_Get
      parameters:
      - name: includeAllocations
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: onlyPtModels
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ptModelsNotSetUp
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
                xml:
                  name: SleeveStrategyRiskTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
                xml:
                  name: SleeveStrategyRiskTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
                xml:
                  name: SleeveStrategyRiskTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
                xml:
                  name: SleeveStrategyRiskTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
                xml:
                  name: SleeveStrategyRiskTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
                xml:
                  name: SleeveStrategyRiskTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Trading/SleeveStrategyRiskType
      summary: Update list of Sleeve Strategy Risk Types
      operationId: SleeveStrategyRiskType_UpdateListRiskTypes
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
                xml:
                  name: SleeveStrategyRiskTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
                xml:
                  name: SleeveStrategyRiskTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
                xml:
                  name: SleeveStrategyRiskTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
                xml:
                  name: SleeveStrategyRiskTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
                xml:
                  name: SleeveStrategyRiskTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
                xml:
                  name: SleeveStrategyRiskTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
              xml:
                name: SleeveStrategyRiskTypeDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
              xml:
                name: SleeveStrategyRiskTypeDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
              xml:
                name: SleeveStrategyRiskTypeDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
              xml:
                name: SleeveStrategyRiskTypeDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
              xml:
                name: SleeveStrategyRiskTypeDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
              xml:
                name: SleeveStrategyRiskTypeDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
              xml:
                name: SleeveStrategyRiskTypeDto
                wrapped: true
              type: array
        required: true
  /v1/Trading/SleeveStrategyRiskType/{key}:
    get:
      tags:
      - Trading/SleeveStrategyRiskType
      summary: Returns Sleeve Strategy Risk Types by key
      operationId: SleeveStrategyRiskType_GetByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: includeAllocations
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
      security:
      - Authorization: []
    put:
      tags:
      - Trading/SleeveStrategyRiskType
      summary: Update list of Sleeve Strategy Risk Types
      operationId: SleeveStrategyRiskType_UpdateRiskType
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto'
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        lowerLimit:
          type: number
          format: double
        upperLimit:
          type: number
          format: double
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        isPtModel:
          type: boolean
        riskTypeAllocations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeAllocationDto'
          xml:
            name: SleeveStrategyRiskTypeAllocationDto
            wrapped: true
          type: array
      xml:
        name: SleeveStrategyRiskTypeDto
      type: object
    OAS.WebApi.DTO.Trading.SleeveStrategyRiskTypeAllocationDto:
      properties:
        sleeveStrategyRiskTypeId:
          type: integer
          format: int32
        modelAggTypeId:
          type: integer
          format: int32
        modelAggTypeName:
          type: string
        allocation:
          type: number
          format: double
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: SleeveStrategyRiskTypeAllocationDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
