openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Post Audit Files API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/PostAuditFiles
paths:
  /v1/Billing/PostAuditFiles:
    post:
      tags:
      - Billing/PostAuditFiles
      summary: Generate data queries for billing
      operationId: Billing_GenerateBillingAuditFilesAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostAuditDataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostAuditDataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostAuditDataDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostAuditDataDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostAuditDataDto'
        required: true
components:
  schemas:
    OAS.DataModel.Billing.PostAuditEntity:
      properties:
        entity:
          type: string
          enum:
          - FundFamily
          - Custodian
          - BusinessLine
        ids:
          items:
            type: integer
            format: int32
          type: array
        selected:
          type: boolean
      xml:
        name: PostAuditEntity
      type: object
    OAS.WebApi.DTO.Billing.PostAuditDataDto:
      properties:
        billData:
          description: UNUSED
          type: boolean
        payableSummary:
          description: UNUSED
          type: boolean
        billingAudit:
          description: UNUSED
          type: boolean
        startDate:
          description: Start date of the bill instance date range to filter on
          type: string
          format: date-time
        endDate:
          description: End date of the bill instance date range to filter on
          type: string
          format: date-time
        billInstanceIds:
          description: A comma-separated list of bill instance IDs to include
          type: string
        entityList:
          description: List of payable entities to filter the accounts on
          items:
            $ref: '#/components/schemas/OAS.DataModel.Billing.PostAuditEntity'
          xml:
            name: PostAuditEntity
            wrapped: true
          type: array
      xml:
        name: PostAuditDataDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
