openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Tax Error API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/TaxError
paths:
  /v1/Confirm/TaxError:
    get:
      tags:
      - Confirm/TaxError
      summary: Gets the Tax Errors
      operationId: TaxError_GetAllAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.TaxErrorPortfolioDto'
                xml:
                  name: TaxErrorPortfolioDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.TaxErrorPortfolioDto'
                xml:
                  name: TaxErrorPortfolioDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.TaxErrorPortfolioDto'
                xml:
                  name: TaxErrorPortfolioDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.TaxErrorPortfolioDto'
                xml:
                  name: TaxErrorPortfolioDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.TaxErrorPortfolioDto'
                xml:
                  name: TaxErrorPortfolioDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.TaxErrorPortfolioDto'
                xml:
                  name: TaxErrorPortfolioDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/TaxError/Realized/{key}/AcquiredDate:
    put:
      tags:
      - Confirm/TaxError
      summary: Updates A Realized AssetCostBasis's AcquiredDate
      operationId: TaxError_UpdateRealizedAcquiredDateAsync
      parameters:
      - name: key
        in: path
        description: The CostodianRealizedId from tblAssetCostBasis.pkAssetCostBasis
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: the cancellation token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: string
              format: date-time
          application/json:
            schema:
              type: string
              format: date-time
          text/json:
            schema:
              type: string
              format: date-time
          application/xml:
            schema:
              type: string
              format: date-time
          text/xml:
            schema:
              type: string
              format: date-time
          application/x-www-form-urlencoded:
            schema:
              type: string
              format: date-time
          multipart/form-data:
            schema:
              type: string
              format: date-time
        description: The Acquired Date to update to
        required: true
  /v1/Confirm/TaxError/Realized/{key}/CostAmt:
    put:
      tags:
      - Confirm/TaxError
      summary: Updates A Realized AssetCostBasis's Cost Amount
      operationId: TaxError_UpdateRealizedCostAmountAsync
      parameters:
      - name: key
        in: path
        description: The CostodianRealizedId from tblAssetCostBasis.pkAssetCostBasis
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: the cancellation token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: number
              format: double
          application/json:
            schema:
              type: number
              format: double
          text/json:
            schema:
              type: number
              format: double
          application/xml:
            schema:
              type: number
              format: double
          text/xml:
            schema:
              type: number
              format: double
          application/x-www-form-urlencoded:
            schema:
              type: number
              format: double
          multipart/form-data:
            schema:
              type: number
              format: double
        description: The amount to update to
        required: true
  /v1/Confirm/TaxError/Realized/Filter:
    get:
      tags:
      - Confirm/TaxError
      summary: Get Realized Errors
      operationId: TaxError_GetRealizedErrorsAsync
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: entityEnum
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: entityId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: auditType
        in: query
        required: false
        schema:
          type: string
      - name: entitySession
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Confirm/TaxError/Unrealized/{key}/AcquiredDate:
    put:
      tags:
      - Confirm/TaxError
      summary: Updates an unrealized AssetCostCustodian's AcquiredDate
      operationId: TaxError_UpdateUnrealizedAcquiredDateAsync
      parameters:
      - name: key
        in: path
        description: The Unrealized AssetCostCostodianID from tblAssetCostCustodian.pkAssetCostCustodian
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: the cancellation token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: string
              format: date-time
          application/json:
            schema:
              type: string
              format: date-time
          text/json:
            schema:
              type: string
              format: date-time
          application/xml:
            schema:
              type: string
              format: date-time
          text/xml:
            schema:
              type: string
              format: date-time
          application/x-www-form-urlencoded:
            schema:
              type: string
              format: date-time
          multipart/form-data:
            schema:
              type: string
              format: date-time
        description: The Acquired Date to update to
        required: true
  /v1/Confirm/TaxError/Unrealized/{key}/CostAmt:
    put:
      tags:
      - Confirm/TaxError
      summary: Updates an unrealized AssetCostCustodian's CostAmount based on existing units…
      operationId: TaxError_UpdateUnrealizedCostAmountAsync
      parameters:
      - name: key
        in: path
        description: The Unrealized AssetCostCostodianID from tblAssetCostCustodian.pkAssetCostCustodian
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: the cancellation token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: number
              format: double
          application/json:
            schema:
              type: number
              format: double
          text/json:
            schema:
              type: number
              format: double
          application/xml:
            schema:
              type: number
              format: double
          text/xml:
            schema:
              type: number
              format: double
          application/x-www-form-urlencoded:
            schema:
              type: number
              format: double
          multipart/form-data:
            schema:
              type: number
              format: double
        description: the cost amount to update to
        required: true
  /v1/Confirm/TaxError/Unrealized/Filter:
    get:
      tags:
      - Confirm/TaxError
      summary: Get Unrealized Errors
      operationId: TaxError_GetFilteredAsync
      parameters:
      - name: asOfDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: entityEnum
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: entityId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: auditType
        in: query
        required: false
        schema:
          type: string
      - name: entitySession
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.TaxErrorPortfolioDto'
                xml:
                  name: TaxErrorPortfolioDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.TaxErrorPortfolioDto'
                xml:
                  name: TaxErrorPortfolioDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.TaxErrorPortfolioDto'
                xml:
                  name: TaxErrorPortfolioDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.TaxErrorPortfolioDto'
                xml:
                  name: TaxErrorPortfolioDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.TaxErrorPortfolioDto'
                xml:
                  name: TaxErrorPortfolioDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.TaxErrorPortfolioDto'
                xml:
                  name: TaxErrorPortfolioDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/TaxError/UpdateReviewed/List:
    post:
      tags:
      - Confirm/TaxError
      summary: Gets the Tax Errors
      operationId: TaxError_UpdateReviewedValueAsync
      parameters:
      - name: reviewValue
        in: query
        required: true
        schema:
          type: boolean
      - name: cancellationToken
        in: header
        required: false
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.CostBasis.TaxErrorPortfolioDto:
      properties:
        id:
          type: integer
          format: int32
        errorMessage:
          type: string
        accountNumber:
          type: string
        assetId:
          type: integer
          format: int32
        ticker:
          type: string
        productName:
          type: string
        acquiredDate:
          type: string
          format: date-time
        longTermCost:
          type: number
          format: double
        shortTermCost:
          type: number
          format: double
        longTermUnits:
          type: number
          format: double
        shortTermUnits:
          type: number
          format: double
        custodian:
          type: string
        reviewed:
          type: boolean
        lotEditedDate:
          type: string
          format: date-time
        accountId:
          type: integer
          format: int32
        amortizedCost:
          type: number
          format: double
        auditTypeId:
          type: integer
          format: int32
        costUnits:
          type: number
          format: double
        custodianRecordId:
          type: string
        downloadSourceId:
          type: integer
          format: int32
        downloadFormatId:
          type: integer
          format: int32
        expectedUnits:
          type: number
          format: double
        householdId:
          type: integer
          format: int32
        householdName:
          type: string
        longTerm:
          type: boolean
        productId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        registrationType:
          type: string
        qualified:
          type: boolean
        registrationName:
          type: string
        representativeNumber:
          type: integer
          format: int32
        resolutionMessage:
          type: string
        assetCostCustodianId:
          type: integer
          format: int32
      xml:
        name: TaxErrorPortfolioDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
