openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Activity API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/Activity
paths:
  /v1/Reporting/Activity/{entity}/{entityId}/Value:
    get:
      tags:
      - Reporting/Activity
      summary: Method to get value for the entity specified
      operationId: Activity_GetValueByKeyAsync
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: includeCash
        in: query
        description: 'Optional. Default: false. When true the cash value will be returned along with the client value.'
        required: false
        schema:
          type: boolean
          default: false
      - name: clientPerformanceInclude
        in: query
        description: 'Optional. Default: Default. When set only accounts/registrations that have value/are active will be returned.'
        required: false
        schema:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
      - name: includeBondAccrual
        in: query
        description: 'Optional. Default: Default. Determines if bond accrual will be included in the values. If not specified the database''s default setting will be used.'
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Activity/{entity}/{entityId}/Value/{asOfDate}:
    get:
      tags:
      - Reporting/Activity
      summary: Method to get value for the entity specified
      operationId: Activity_GetValueAsOfDateByKeyAsync
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      - name: includeCash
        in: query
        description: 'Optional. Default: false. When true the cash value will be returned along with the client value.'
        required: false
        schema:
          type: boolean
          default: false
      - name: clientPerformanceInclude
        in: query
        description: 'Optional. Default: Default. When set only accounts/registrations that have value/are active will be returned.'
        required: false
        schema:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
      - name: includeBondAccrual
        in: query
        description: 'Optional. Default: Default. Determines if bond accrual will be included in the values. If not specified the database''s default setting will be used.'
        required: false
        schema:
          type: boolean
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Activity/CostBasis:
    get:
      tags:
      - Reporting/Activity
      summary: Returns aggregated cost basis information for each asset in the requested…
      operationId: Activity_GetCostBasisForAssetsAsync
      parameters:
      - name: entity
        in: query
        description: Entity to run for (Household, Registration, Account, Asset)
        required: true
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      - name: entityId
        in: query
        description: Entity Id
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: query
        description: As Of Date for the costbasis calculation (use todays date for current.)
        required: true
        schema:
          type: string
          format: date-time
      - name: reportType
        in: query
        description: Optional.  Default is Unrealized.  You can request "Realized" or "Unrealized"
        required: false
        schema:
          type: string
          enum:
          - Realized
          - Unrealized
          - RealizedAndUnrealized
          default: 1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.CostBasis.CostBasisPayload'
                xml:
                  name: CostBasisPayload
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.CostBasis.CostBasisPayload'
                xml:
                  name: CostBasisPayload
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.CostBasis.CostBasisPayload'
                xml:
                  name: CostBasisPayload
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.CostBasis.CostBasisPayload'
                xml:
                  name: CostBasisPayload
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.CostBasis.CostBasisPayload'
                xml:
                  name: CostBasisPayload
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.CostBasis.CostBasisPayload'
                xml:
                  name: CostBasisPayload
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/Activity/DrillDownSummary:
    post:
      tags:
      - Reporting/Activity
      summary: Used to return a drill down summary of activity.
      operationId: Activity_GetActivityDrillDownSummaryAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivityBase'
                xml:
                  name: DrillDownSummaryActivityBase
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivityBase'
                xml:
                  name: DrillDownSummaryActivityBase
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivityBase'
                xml:
                  name: DrillDownSummaryActivityBase
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivityBase'
                xml:
                  name: DrillDownSummaryActivityBase
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivityBase'
                xml:
                  name: DrillDownSummaryActivityBase
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivityBase'
                xml:
                  name: DrillDownSummaryActivityBase
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivitySettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivitySettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivitySettingsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivitySettingsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivitySettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivitySettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivitySettingsDto'
        required: true
  /v1/Reporting/Activity/EstimatedIncome:
    post:
      tags:
      - Reporting/Activity
      summary: Method to retrieve estimated income yields and other values for the provided…
      operationId: Activity_GetIncomeDataAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeDto'
                xml:
                  name: EstimatedIncomeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeDto'
                xml:
                  name: EstimatedIncomeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeDto'
                xml:
                  name: EstimatedIncomeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeDto'
                xml:
                  name: EstimatedIncomeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeDto'
                xml:
                  name: EstimatedIncomeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeDto'
                xml:
                  name: EstimatedIncomeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
        description: Object containing the specifications we need for this request, including entity level and ID, entity groupings, and the end date.
        required: true
  /v1/Reporting/Activity/FixedIncome:
    post:
      tags:
      - Reporting/Activity
      summary: Method to retrieve fixed income yields and other values for the provided entity
      operationId: Activity_GetFixedIncomeDataAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeSummaryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeSummaryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeSummaryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeSummaryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeSummaryDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeSummaryDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
        description: Object containing the specifications we need for this request, including entity level and ID, entity groupings, and the end date.
        required: true
  /v1/Reporting/Activity/FixedIncome/Detail:
    post:
      tags:
      - Reporting/Activity
      summary: Method to retrieve fixed income yields and other values for the provided…
      operationId: Activity_GetFixedIncomeDetailedDataAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDetailSummaryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDetailSummaryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDetailSummaryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDetailSummaryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDetailSummaryDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDetailSummaryDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeSettingsDto'
        description: Object containing the specifications we need for this request, including entity level and ID, entity groupings, and the end date.
        required: true
  /v1/Reporting/Activity/Holdings:
    post:
      tags:
      - Reporting/Activity
      summary: Returns holding (asset level) data for a specified "run for entity" grouped by…
      operationId: Activity_GetHoldingsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase'
                xml:
                  name: HoldingsReturnDtoBase
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase'
                xml:
                  name: HoldingsReturnDtoBase
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase'
                xml:
                  name: HoldingsReturnDtoBase
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase'
                xml:
                  name: HoldingsReturnDtoBase
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase'
                xml:
                  name: HoldingsReturnDtoBase
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase'
                xml:
                  name: HoldingsReturnDtoBase
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
        required: true
  /v1/Reporting/Activity/Holdings/Unmanaged:
    post:
      tags:
      - Reporting/Activity
      summary: Returns unmanaged holding (asset level) data for a specified "run for entity"…
      operationId: Activity_GetUnmanagedHoldingsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase'
                xml:
                  name: HoldingsReturnDtoBase
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase'
                xml:
                  name: HoldingsReturnDtoBase
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase'
                xml:
                  name: HoldingsReturnDtoBase
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase'
                xml:
                  name: HoldingsReturnDtoBase
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase'
                xml:
                  name: HoldingsReturnDtoBase
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase'
                xml:
                  name: HoldingsReturnDtoBase
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto'
        required: true
  /v1/Reporting/Activity/TargetAndActual:
    post:
      tags:
      - Reporting/Activity
      summary: Used to return the comparison of Actual allocations to the target allocation…
      operationId: Activity_GetTargetAndActualAllocationInformationAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.TargetAndActualAllocationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.TargetAndActualAllocationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.TargetAndActualAllocationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.TargetAndActualAllocationDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.TargetAndActualAllocationSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.TargetAndActualAllocationSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.TargetAndActualAllocationSettingsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.TargetAndActualAllocationSettingsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.TargetAndActualAllocationSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.TargetAndActualAllocationSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.TargetAndActualAllocationSettingsDto'
        description: Object containing the three items we need for this request; entity type and entity ID of the object to evaluate (household, registration, account, or portfolio group), and the as-of date to return data by.
        required: true
  /v1/Reporting/Activity/TransactionBreakdown:
    post:
      tags:
      - Reporting/Activity
      summary: Used to verbosely return activity.
      operationId: Activity_GetTransactionBreakdownActivityAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivityDto'
                xml:
                  name: SimpleTransactionBreakdownActivityDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivityDto'
                xml:
                  name: SimpleTransactionBreakdownActivityDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivityDto'
                xml:
                  name: SimpleTransactionBreakdownActivityDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivityDto'
                xml:
                  name: SimpleTransactionBreakdownActivityDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivityDto'
                xml:
                  name: SimpleTransactionBreakdownActivityDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivityDto'
                xml:
                  name: SimpleTransactionBreakdownActivityDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivitySettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivitySettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivitySettingsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivitySettingsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivitySettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivitySettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivitySettingsDto'
        description: "An object used to set many different parameters for activity calculation.\n            \t\tEntity: Defines what entity/entities to return activity for.\n             \n            \t\tEntityIds: Defines the specific ids of the entities to return activity for.\n             \n            \t\tStartDate: Optional. The start of the range to report.\n            \t\t\n            \t\tEndDate: Optional. Default: Today. The end of the range to report."
        required: true
  /v1/Reporting/Activity/Verbose:
    post:
      tags:
      - Reporting/Activity
      summary: Used to verbosely return activity.
      operationId: Activity_GetActivityVerboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.ActivityPortfolio'
                xml:
                  name: ActivityPortfolio
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.ActivityPortfolio'
                xml:
                  name: ActivityPortfolio
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.ActivityPortfolio'
                xml:
                  name: ActivityPortfolio
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.ActivityPortfolio'
                xml:
                  name: ActivityPortfolio
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.ActivityPortfolio'
                xml:
                  name: ActivityPortfolio
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.ActivityPortfolio'
                xml:
                  name: ActivityPortfolio
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseActivitySettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseActivitySettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseActivitySettingsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseActivitySettingsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseActivitySettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseActivitySettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseActivitySettingsDto'
        description: "An object used to set many different parameters for activity calculation.\n            \t\tEntity: Defines what entity/entities to return activity for.\n             \n            \t\tEntityIds: Defines the specific ids of the entities to return activity for.\n             \n            \t\tGroupings: Defines how the assets are grouped for the activity return. Can be set to any of the follow: \n            \t\t\tClient, Registration, Account, Asset, AssetClass, ProductType, MgmntStyle, RiskCategory, AssetCategory, or AssetLevelStrategy.\n            \n            \t\tStartDate: Optional. The start of the range to report.\n            \t\t\n            \t\tEndDate: Optional. Default: Today. The end of the range to report.\n            \t\t\n            \t\tReturnStyle:\n            \t\tOptional. Default: 1 Activity Summary\n            \t\t1 = Activity Summary\n            \t\t2 = Activity Daily\n            \t\t4 = Activity Transaction Breakdown\n            \t\t\n            \t\tInterval:\n            \t\tOptional. Default: \"A\" Automatic. Options are:\n            \t\t\"A\" Automatic\n            \t\t\"M\" Monthly\n            \t\t\"W\" Weekly\n            \t\t\"D\" Daily\n            \t\t\n            \t\tPeriods:\n            \t\tOptional. Bitwise parameter for requesting commonly used date ranges.\n            \t\t1 = MTD\n            \t\t2 = QTD\n            \t\t4 = YTD\n            \t\t8 = 1yr\n            \t\t16 = 3yr\n            \t\t32 = 5yr\n            \t\t64 = 10yr\n            \t\t128 = inception\n            \t\t256 = day\n            \t\t\n            \t\tCalendarYears: Optional. List of calendar years for which activity should be calculated."
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Reporting.VerboseActivitySettingsDto:
      properties:
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityIds:
          items:
            type: integer
            format: int32
          type: array
        groupings:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.AdvancedActivityGrouping'
          xml:
            name: AdvancedActivityGrouping
            wrapped: true
          type: array
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        activitySummaryCategory:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
        unmanagedActivitySummaryCategory:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
        activitySummaryDetail:
          type: string
          enum:
          - BeginningMarketValue
          - BeginningBondAccrual
          - EndingMarketValue
          - EndingBondAccrual
          - Contributions
          - Distributions
          - NetDividendsInterestGainsWithdrawn
          - MiscellaneousCharges
          - AdvisoryFeesPaid
          - DividendsAndInterest
          - DividendInterestReinvested
          - ExchangeIn
          - ExchangeOut
          - MergeIn
          - MergeOut
          - JournalIn
          - JournalOut
          - InitialMergeIn
          - InitialContributions
          - TransfersInOut
          - ExchangeInOut
        returnStyle:
          type: string
          enum:
          - ActivitySummary
          - ActivityDaily
          - ActivityTransactionBreakdown
          - AssetGroupAssignment
        periods:
          type: string
          enum:
          - None
          - Day
          - MTD
          - QTD
          - YTD
          - OneYear
          - ThreeYear
          - FiveYear
          - TenYear
          - Inception
          - AllDates
        dailyFactorLimiter:
          type: string
          enum:
          - None
          - Day
          - MTD
          - QTD
          - YTD
          - OneYear
          - ThreeYear
          - FiveYear
          - TenYear
          - Inception
          - AllDates
        calendarYears:
          items:
            type: integer
            format: int32
          type: array
        previousYears:
          items:
            type: integer
            format: int32
          type: array
        interval:
          type: string
        useZeroInceptionValue:
          type: boolean
        clientPerformanceInclude:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
      xml:
        name: VerboseActivitySettingsDto
      type: object
    OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivityBase:
      properties:
        gainLossPercent:
          type: number
          format: double
        shortTermGainLoss:
          type: number
          format: double
        longTermGainLoss:
          type: number
          format: double
        acquiredDate:
          type: string
        grouping:
          type: string
          enum:
          - Undefined
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - AssetClass
          - ProductType
          - Platform
          - RiskCategory
          - Product
          - IndexBlend
          - AssetCategory
          - AssetLevelStrategy
          - AggregateModel
          - AccountType
          - PortfolioGroup
        groupEntityId:
          type: integer
          format: int32
        name:
          type: string
        color:
          type: string
        sortOrder:
          type: integer
          format: int32
        value:
          type: number
          format: double
        percentageOfEntity:
          type: number
          format: double
        percentageOfGroup:
          type: number
          format: double
        costBasis:
          type: number
          format: double
        totalGainLoss:
          type: number
          format: double
      xml:
        name: DrillDownSummaryActivityBase
      type: object
    OAS.WebApi.DTO.Reporting.Activity.ActivityDetail:
      properties:
        pkGroup:
          type: integer
          format: int32
        fkReportCategory:
          type: string
          enum:
          - Unmanaged
          - Performance
          - NotPerformance
          - ActivitySummary
          - NotActivitySummary
          - Allocation
          - NotAllocation
          - PortfolioDetail
          - NotPortfolioDetail
          - TaxDetail
          - NotTaxDetail
        fkActivitySummaryType:
          type: string
          enum:
          - BeginningMarketValue
          - BeginningBondAccrual
          - EndingMarketValue
          - EndingBondAccrual
          - Contributions
          - Distributions
          - NetDividendsInterestGainsWithdrawn
          - MiscellaneousCharges
          - AdvisoryFeesPaid
          - DividendsAndInterest
          - DividendInterestReinvested
          - ExchangeIn
          - ExchangeOut
          - MergeIn
          - MergeOut
          - JournalIn
          - JournalOut
          - InitialMergeIn
          - InitialContributions
          - TransfersInOut
          - ExchangeInOut
        asOfDate:
          type: string
          format: date-time
        value:
          type: number
          format: double
      xml:
        name: ActivityDetail
      type: object
    OAS.WebApi.DTO.Reporting.Activity.HoldingsSettingsDto:
      properties:
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        grouping:
          type: string
          enum:
          - Undefined
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - AssetClass
          - ProductType
          - Platform
          - RiskCategory
          - Product
          - IndexBlend
          - AssetCategory
          - AssetLevelStrategy
          - AggregateModel
          - AccountType
          - PortfolioGroup
        asOfDate:
          type: string
          format: date-time
        includeCostBasis:
          type: boolean
        includeUnitBalance:
          type: boolean
        includePrice:
          type: boolean
        includeBondAccrual:
          type: boolean
        clientPerformanceInclude:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
        useZeroInceptionValue:
          type: boolean
        unmanagedInclusionOverride:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
        returnAssets:
          type: boolean
        reportCategory:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
        accountNumberToShow:
          type: integer
          format: int32
        forUnmanaged:
          type: boolean
      xml:
        name: HoldingsSettingsDto
      type: object
    OAS.WebApi.DTO.Reporting.Activity.TargetAndActualAllocationEntityDto:
      properties:
        name:
          type: string
        entityId:
          type: integer
          format: int32
        color:
          type: string
        valueActual:
          type: number
          format: double
        valueTarget:
          type: number
          format: double
        valueVariance:
          type: number
          format: double
        percentageActual:
          type: number
          format: double
        percentageTarget:
          type: number
          format: double
        percentageVariance:
          type: number
          format: double
        targetAllocationMinimumRange:
          type: number
          format: double
        targetAllocationMaximumRange:
          type: number
          format: double
      xml:
        name: TargetAndActualAllocationEntityDto
      type: object
    OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivityDto:
      properties:
        fkActivitySummaryType:
          type: string
          enum:
          - BeginningMarketValue
          - BeginningBondAccrual
          - EndingMarketValue
          - EndingBondAccrual
          - Contributions
          - Distributions
          - NetDividendsInterestGainsWithdrawn
          - MiscellaneousCharges
          - AdvisoryFeesPaid
          - DividendsAndInterest
          - DividendInterestReinvested
          - ExchangeIn
          - ExchangeOut
          - MergeIn
          - MergeOut
          - JournalIn
          - JournalOut
          - InitialMergeIn
          - InitialContributions
          - TransfersInOut
          - ExchangeInOut
        activitySummaryTypeName:
          type: string
          enum:
          - BeginningMarketValue
          - BeginningBondAccrual
          - EndingMarketValue
          - EndingBondAccrual
          - Contributions
          - Distributions
          - NetDividendsInterestGainsWithdrawn
          - MiscellaneousCharges
          - AdvisoryFeesPaid
          - DividendsAndInterest
          - DividendInterestReinvested
          - ExchangeIn
          - ExchangeOut
          - MergeIn
          - MergeOut
          - JournalIn
          - JournalOut
          - InitialMergeIn
          - InitialContributions
          - TransfersInOut
          - ExchangeInOut
        value:
          type: number
          format: double
        transactions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownDto'
          xml:
            name: SimpleTransactionBreakdownDto
            wrapped: true
          type: array
      xml:
        name: SimpleTransactionBreakdownActivityDto
      type: object
    OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        color:
          type: string
        sortOrder:
          type: integer
          format: int32
        value:
          type: number
          format: double
        costBasis:
          type: number
          format: double
        totalGainLoss:
          type: number
          format: double
        percentageOfEntity:
          type: number
          format: double
        inceptionDate:
          type: string
        percentageOfGroup:
          type: number
          format: double
        assets:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.HoldingsReturnDtoBase'
          xml:
            name: HoldingsReturnDtoBase
            wrapped: true
          type: array
      xml:
        name: HoldingsReturnDtoBase
      type: object
    OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDistributionDto:
      properties:
        category:
          type: string
        amount:
          type: number
          format: double
      xml:
        name: FixedIncomeDistributionDto
      type: object
    OAS.WebApi.DTO.Reporting.Activity.AdvancedActivityGrouping:
      properties:
        grouping:
          type: string
          enum:
          - Undefined
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - AssetClass
          - ProductType
          - Platform
          - RiskCategory
          - Product
          - IndexBlend
          - AssetCategory
          - AssetLevelStrategy
          - AggregateModel
          - AccountType
          - PortfolioGroup
        activitySummaryCategory:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
        activitySummaryDetail:
          type: string
          enum:
          - BeginningMarketValue
          - BeginningBondAccrual
          - EndingMarketValue
          - EndingBondAccrual
          - Contributions
          - Distributions
          - NetDividendsInterestGainsWithdrawn
          - MiscellaneousCharges
          - AdvisoryFeesPaid
          - DividendsAndInterest
          - DividendInterestReinvested
          - ExchangeIn
          - ExchangeOut
          - MergeIn
          - MergeOut
          - JournalIn
          - JournalOut
          - InitialMergeIn
          - InitialContributions
          - TransfersInOut
          - ExchangeInOut
        returnStyle:
          type: string
          enum:
          - ActivitySummary
          - ActivityDaily
          - ActivityTransactionBreakdown
          - AssetGroupAssignment
        periods:
          type: string
          enum:
          - None
          - Day
          - MTD
          - QTD
          - YTD
          - OneYear
          - ThreeYear
          - FiveYear
          - TenYear
          - Inception
          - AllDates
        calendarYears:
          items:
            type: integer
            format: int32
          type: array
        previousYears:
          items:
            type: integer
            format: int32
          type: array
        groupings:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.AdvancedActivityGrouping'
          xml:
            name: AdvancedActivityGrouping
            wrapped: true
          type: array
      xml:
        name: AdvancedActivityGrouping
      type: object
    OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownActivitySettingsDto:
      properties:
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        activitySummaryDetail:
          type: string
          enum:
          - BeginningMarketValue
          - BeginningBondAccrual
          - EndingMarketValue
          - EndingBondAccrual
          - Contributions
          - Distributions
          - NetDividendsInterestGainsWithdrawn
          - MiscellaneousCharges
          - AdvisoryFeesPaid
          - DividendsAndInterest
          - DividendInterestReinvested
          - ExchangeIn
          - ExchangeOut
          - MergeIn
          - MergeOut
          - JournalIn
          - JournalOut
          - InitialMergeIn
          - InitialContributions
          - TransfersInOut
          - ExchangeInOut
        clientPerformanceInclude:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
        excludeCashSweepTransactions:
          type: boolean
        useZeroInceptionValue:
          type: boolean
        accountNumbersToShow:
          type: integer
          format: int32
        reportCategory:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
        accountsInclusionOverride:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.AccountManagementOverride'
          xml:
            name: AccountManagementOverride
            wrapped: true
          type: array
      xml:
        name: SimpleTransactionBreakdownActivitySettingsDto
      type: object
    OAS.WebApi.DTO.Reporting.Activity.TargetAndActualAllocationSettingsDto:
      properties:
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
      xml:
        name: TargetAndActualAllocationSettingsDto
      type: object
    OAS.WebApi.DTO.Reporting.Activity.ActivityAssetGroupAssignment:
      properties:
        pkGroup:
          type: integer
          format: int32
        fkAsset:
          type: integer
          format: int32
        performance:
          type: boolean
        activitySummary:
          type: boolean
        allocation:
          type: boolean
        portfolioDetail:
          type: boolean
        taxDetail:
          type: boolean
      xml:
        name: ActivityAssetGroupAssignment
      type: object
    OAS.WebApi.DTO.Reporting.Activity.FixedIncomeSummaryDto:
      properties:
        fixedIncome:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDto'
          xml:
            name: FixedIncomeDto
            wrapped: true
          type: array
        maturityDistribution:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDistributionDto'
          xml:
            name: FixedIncomeDistributionDto
            wrapped: true
          type: array
        couponDistribution:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDistributionDto'
          xml:
            name: FixedIncomeDistributionDto
            wrapped: true
          type: array
      xml:
        name: FixedIncomeSummaryDto
      type: object
    OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDetailSummaryDto:
      properties:
        fixedIncome:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDto'
          xml:
            name: FixedIncomeDto
            wrapped: true
          type: array
        maturityDistribution:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDistributionDto'
          xml:
            name: FixedIncomeDistributionDto
            wrapped: true
          type: array
        couponDistribution:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDistributionDto'
          xml:
            name: FixedIncomeDistributionDto
            wrapped: true
          type: array
        yieldOnCost:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDistributionDto'
          xml:
            name: FixedIncomeDistributionDto
            wrapped: true
          type: array
        currentYield:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDistributionDto'
          xml:
            name: FixedIncomeDistributionDto
            wrapped: true
          type: array
        yieldToWorst:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDistributionDto'
          xml:
            name: FixedIncomeDistributionDto
            wrapped: true
          type: array
        estimatedAnnualIncome:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDistributionDto'
          xml:
            name: FixedIncomeDistributionDto
            wrapped: true
          type: array
        yieldToNextCall:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDistributionDto'
          xml:
            name: FixedIncomeDistributionDto
            wrapped: true
          type: array
        yieldToMaturity:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDistributionDto'
          xml:
            name: FixedIncomeDistributionDto
            wrapped: true
          type: array
      xml:
        name: FixedIncomeDetailSummaryDto
      type: object
    OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDto:
      properties:
        grouping:
          type: string
          enum:
          - Undefined
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - AssetClass
          - ProductType
          - Platform
          - RiskCategory
          - Product
          - IndexBlend
          - AssetCategory
          - AssetLevelStrategy
          - AggregateModel
          - AccountType
          - PortfolioGroup
        groupEntityId:
          type: integer
          format: int32
        name:
          type: string
        color:
          type: string
        sortOrder:
          type: integer
          format: int32
        marketEndValue:
          type: number
          format: double
        accruedInterest:
          type: number
          format: double
        totalEndValue:
          type: number
          format: double
        maturityDate:
          type: string
          format: date-time
        couponRate:
          type: number
          format: double
        yieldOnCost:
          type: number
          format: double
        currentYield:
          type: number
          format: double
        yieldToWorst:
          type: number
          format: double
        yieldToNextCall:
          type: number
          format: double
        yieldToMaturityCost:
          type: number
          format: double
        estimatedAnnualIncome:
          type: number
          format: double
        maturityAmount:
          type: number
          format: double
        children:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.FixedIncomeDto'
          xml:
            name: FixedIncomeDto
            wrapped: true
          type: array
      xml:
        name: FixedIncomeDto
      type: object
    OAS.WebApi.DTO.Reporting.Activity.ActivitySummary:
      properties:
        pkGroup:
          type: integer
          format: int32
        fkReportCategory:
          type: string
          enum:
          - Unmanaged
          - Performance
          - NotPerformance
          - ActivitySummary
          - NotActivitySummary
          - Allocation
          - NotAllocation
          - PortfolioDetail
          - NotPortfolioDetail
          - TaxDetail
          - NotTaxDetail
        pkDateRange:
          type: integer
          format: int32
        dateRangeName:
          type: string
        fkActivitySummaryType:
          type: string
          enum:
          - BeginningMarketValue
          - BeginningBondAccrual
          - EndingMarketValue
          - EndingBondAccrual
          - Contributions
          - Distributions
          - NetDividendsInterestGainsWithdrawn
          - MiscellaneousCharges
          - AdvisoryFeesPaid
          - DividendsAndInterest
          - DividendInterestReinvested
          - ExchangeIn
          - ExchangeOut
          - MergeIn
          - MergeOut
          - JournalIn
          - JournalOut
          - InitialMergeIn
          - InitialContributions
          - TransfersInOut
          - ExchangeInOut
        value:
          type: number
          format: double
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
      xml:
        name: ActivitySummary
      type: object
    OAS.WebApi.DTO.Reporting.Activity.ActivityAssetDateGroupAssignment:
      properties:
        pkGroup:
          type: integer
          format: int32
        fkAsset:
          type: integer
          format: int32
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        weight:
          type: number
          format: double
      xml:
        name: ActivityAssetDateGroupAssignment
      type: object
    OAS.WebApi.DTO.Reporting.SimpleTransactionBreakdownDto:
      properties:
        asOfDate:
          type: string
          format: date-time
        pkTransaction:
          type: integer
          format: int32
        productName:
          type: string
        ticker:
          type: string
        custodianName:
          type: string
        accountNumber:
          type: string
        maskedAccountNumber:
          type: string
        value:
          type: number
          format: double
        advisorNotes:
          type: string
        fundFamily:
          type: string
        transactionType:
          type: string
        noUnits:
          type: number
          format: double
        navPrice:
          type: number
          format: double
      xml:
        name: SimpleTransactionBreakdownDto
      type: object
    OAS.WebApi.DTO.Reporting.Activity.ActivityTransactionBreakdown:
      properties:
        pkGroup:
          type: integer
          format: int32
        fkReportCategory:
          type: string
          enum:
          - Unmanaged
          - Performance
          - NotPerformance
          - ActivitySummary
          - NotActivitySummary
          - Allocation
          - NotAllocation
          - PortfolioDetail
          - NotPortfolioDetail
          - TaxDetail
          - NotTaxDetail
        fkActivitySummaryType:
          type: string
          enum:
          - BeginningMarketValue
          - BeginningBondAccrual
          - EndingMarketValue
          - EndingBondAccrual
          - Contributions
          - Distributions
          - NetDividendsInterestGainsWithdrawn
          - MiscellaneousCharges
          - AdvisoryFeesPaid
          - DividendsAndInterest
          - DividendInterestReinvested
          - ExchangeIn
          - ExchangeOut
          - MergeIn
          - MergeOut
          - JournalIn
          - JournalOut
          - InitialMergeIn
          - InitialContributions
          - TransfersInOut
          - ExchangeInOut
        asOfDate:
          type: string
          format: date-time
        pkTransaction:
          type: integer
          format: int32
        value:
          type: number
          format: double
      xml:
        name: ActivityTransactionBreakdown
      type: object
    OAS.WebApi.DTO.Reporting.Envision.AccountManagementOverride:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isManaged:
          type: boolean
        isIncluded:
          type: boolean
      xml:
        name: AccountManagementOverride
      type: object
    OAS.WebApi.DTO.Reporting.Activity.DrillDownSummaryActivitySettingsDto:
      properties:
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        groupings:
          items:
            type: string
            enum:
            - Undefined
            - Representative
            - Client
            - Registration
            - Account
            - Asset
            - AssetClass
            - ProductType
            - Platform
            - RiskCategory
            - Product
            - IndexBlend
            - AssetCategory
            - AssetLevelStrategy
            - AggregateModel
            - AccountType
            - PortfolioGroup
          xml:
            name: ReportGrouping
            wrapped: true
          type: array
        asOfDate:
          type: string
          format: date-time
        includeCostBasis:
          type: boolean
        includeUnitBalance:
          type: boolean
        includeBondAccrual:
          type: boolean
        showZeroValueAssets:
          type: boolean
        clientPerformanceInclude:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
        useZeroInceptionValue:
          type: boolean
        reportCategory:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
      xml:
        name: DrillDownSummaryActivitySettingsDto
      type: object
    OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeDto:
      properties:
        grouping:
          type: string
          enum:
          - Undefined
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - AssetClass
          - ProductType
          - Platform
          - RiskCategory
          - Product
          - IndexBlend
          - AssetCategory
          - AssetLevelStrategy
          - AggregateModel
          - AccountType
          - PortfolioGroup
        groupEntityId:
          type: integer
          format: int32
        name:
          type: string
        color:
          type: string
        sortOrder:
          type: integer
          format: int32
        marketEndValue:
          type: number
          format: double
        yieldOnCost:
          type: number
          format: double
        currentYield:
          type: number
          format: double
        estimatedAnnualIncome:
          type: number
          format: double
        allocationPercentage:
          type: number
          format: double
        children:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Activity.EstimatedIncomeDto'
          xml:
            name: EstimatedIncomeDto
            wrapped: true
          type: array
      xml:
        name: EstimatedIncomeDto
      type: object
    OAS.WebApi.DTO.Reporting.CostBasis.CostBasisPayload:
      properties:
[...]
