openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Post Payments API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/PostPayments
paths:
  /v1/Billing/PostPayments:
    get:
      tags:
      - Billing/PostPayments
      summary: Get list of payments so that they can be unposted
      operationId: PostPayments_GetPostedPayments
      parameters:
      - name: billPayMethod
        in: query
        description: Optional.
        required: false
        schema:
          type: integer
          format: int32
      - name: paymentNumber
        in: query
        description: Optional.
        required: false
        schema:
          type: string
      - name: batchNumber
        in: query
        description: Optional.
        required: false
        schema:
          type: string
      - name: createdDate
        in: query
        description: Optional.
        required: false
        schema:
          type: string
          format: date-time
      - name: postedDate
        in: query
        description: Optional.
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillPaymentDto'
                xml:
                  name: BillPaymentDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillPaymentDto'
                xml:
                  name: BillPaymentDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillPaymentDto'
                xml:
                  name: BillPaymentDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillPaymentDto'
                xml:
                  name: BillPaymentDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillPaymentDto'
                xml:
                  name: BillPaymentDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillPaymentDto'
                xml:
                  name: BillPaymentDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Billing/PostPayments
      summary: Generate post payments for billing
      operationId: PostPayments_PostPaymentsAsync
      parameters:
      - name: batchNumber
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      - name: isImport
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
        required: true
  /v1/Billing/PostPayments/accounts:
    get:
      tags:
      - Billing/PostPayments
      summary: Get all bill payments for accounts
      description: 'Sample Request

        Get v1/Billing/PostPayments/account?endDate=6/1/2024&fundFamilyId=-1&startDate=6/1/2024'
      operationId: PostPayments_GetBillPaymentByAccountAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: startDate
        in: query
        description: Start Date
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: End Date
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/PostPayments/BillInstance/{key}:
    get:
      tags:
      - Billing/PostPayments
      summary: Get all bill payments by bill instance id
      description: 'Sample Request

        Get v1/Billing/PostPayments/billInstance/5518'
      operationId: PostPayments_GetBillPaymentForBillInstanceAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: key
        in: path
        description: Bill Instance Id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/PostPayments/BillPayments:
    get:
      tags:
      - Billing/PostPayments
      summary: Get list of unpaid bills
      operationId: PostPayments_GetBillPayments
      parameters:
      - name: ct
        in: header
        required: true
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: clientId
        in: query
        description: Optional. If provided only items related to the provided client will be returned.
        required: false
        schema:
          type: integer
          format: int32
      - name: fundFamilyId
        in: query
        description: Optional. If provided only items related to the provided fund family will be returned.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/PostPayments/CustodianAndDate:
    get:
      tags:
      - Billing/PostPayments
      summary: Get Post Payments
      description: 'Sample Request

        GET v1/Billing/PostPayments/CustodianAndDate?endDate=03/31/2024&custodianId=-1&startDate=01/01/2024'
      operationId: PostPayments_GetCustodianAndDateAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: startDate
        in: query
        description: Start date
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: End date
        required: false
        schema:
          type: string
          format: date-time
      - name: custodianId
        in: query
        description: Custodian Id
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/PostPayments/FFandDate:
    get:
      tags:
      - Billing/PostPayments
      summary: Get list of unpaid bills by client
      operationId: PostPayments_GetV1BillingPostPaymentsFFandDate
      parameters:
      - name: ct
        in: header
        required: true
      - name: startDate
        in: query
        description: Start Date
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: End Date
        required: false
        schema:
          type: string
          format: date-time
      - name: fundFamilyId
        in: query
        description: Fund Family Id
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/PostPayments/FFandDate/Grid:
    get:
      tags:
      - Billing/PostPayments
      summary: Get list of unpaid bills by client
      operationId: PostPayments_GetBillPaymentForFFandDateAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: startDate
        in: query
        description: Start Date
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: End Date
        required: false
        schema:
          type: string
          format: date-time
      - name: fundFamilyId
        in: query
        description: Fund Family Id
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/PostPayments/HHAndDate:
    get:
      tags:
      - Billing/PostPayments
      summary: Get list of unpaid bills by client
      operationId: PostPayments_GetBillPaymentForHHandDateAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: clientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/PostPayments/ImportAndDate:
    post:
      tags:
      - Billing/PostPayments
      summary: Takes an xlsx, xls, or csv file as multipart content.
      description: 'Sample Request

        POST v1/Billing/PostPayments/ImportAndDate

        {

        "file": binary,

        "startDate": "2024-03-01",

        "endDate": "2024-06-28",

        "columnName": "AccountId"

        }'
      operationId: PostPayments_GetBillPaymentByFileandDateAsync
      parameters:
      - name: token
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsByFileDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsByFileDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsByFileDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsByFileDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingFileUploadDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingFileUploadDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingFileUploadDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingFileUploadDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingFileUploadDto'
        required: true
  /v1/Billing/PostPayments/IsPostingPayments:
    get:
      tags:
      - Billing/PostPayments
      summary: Check if there is an existing Post Payments batch in progress
      operationId: PostPayments_IsPostingPayments
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Billing/PostPayments/PostPaymentBatch/{key}/Action/Rerun:
    put:
      tags:
      - Billing/PostPayments
      operationId: PostPayments_RerunPostPaymentsBatchAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
      summary: Post payments rerun post payments batch async
      x-summary-source: derived
  /v1/Billing/PostPayments/Status:
    get:
      tags:
      - Billing/PostPayments
      operationId: PostPayments_GetBatchStatusAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentBatchDto'
                xml:
                  name: PostPaymentBatchDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentBatchDto'
                xml:
                  name: PostPaymentBatchDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentBatchDto'
                xml:
                  name: PostPaymentBatchDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentBatchDto'
                xml:
                  name: PostPaymentBatchDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentBatchDto'
                xml:
                  name: PostPaymentBatchDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentBatchDto'
                xml:
                  name: PostPaymentBatchDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Post payments get batch status async
      x-summary-source: derived
  /v1/Billing/PostPayments/Status/{batchId}:
    post:
      tags:
      - Billing/PostPayments
      summary: Retries processing of a post payment batch
      description: 'Sample Request

        POST v1/Billing/PostedPayments/Status/19'
      operationId: PostPayments_RetryBatchProcess
      parameters:
      - name: ct
        in: header
        description: Cancellation token for async operations
        required: true
      - name: batchId
        in: path
        description: ID of the batch to retry processing
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
  /v1/Billing/PostPayments/UpdateAmountToPost/{id}:
    put:
      tags:
      - Billing/PostPayments
      summary: Echo without an update. Slickgrid insists, but can we do this another way?
      operationId: PostPayments_UpdateBillPaymentForHHandDate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: object
          application/json:
            schema:
              type: object
          text/json:
            schema:
              type: object
          application/xml:
            schema:
              type: object
          text/xml:
            schema:
              type: object
          application/x-www-form-urlencoded:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        required: true
  /v1/Billing/PostPayments/WriteOffBills:
    post:
      tags:
      - Billing/PostPayments
      summary: Write off Bills
      description: 'POST v1/Billing/PostPayments/WriteOffBills?paymentFrom=2

        {

        [

        {

        "id":1234 ,

        "reason":null,

        "clientName":"ClientFirst ClientLast",

        "accountId":12345,

        "registrationName":"Reg Name",

        "managementStyle":"Self-Directed",

        "fundFamilyName":"Schwab",

        "custodian":"Schwab (TDA)",

        "accountNumber":"9876543",

        "billDate":"2021-08-16",

        "billType":"Renewal",

        "balanceDue":19.99,

        "amountToPost":19.99,

        "registrationCode":"CUST",

        "paymentDate":"2021-08-20T05:00:00.000Z",

        "paidByAccountNumber":null,

        "payMethod":"Direct",

        "billId":123456,

        "billTypeId":1,

        "receivableId":"1234567",

        "feeScheduleName":"UnAssigned",

        "lastName":"Last Name",

        "firstName":"First Name",

        "repName":"RepFirst RepLast",

        "note":null,

        "householdId":1234,

        "billInstanceId":123

        }

        ]

        }'
      operationId: PostPayments_WriteOffBillsAsync
      parameters:
      - name: paymentFrom
        in: query
        description: Optional.
        required: true
        schema:
          type: string
          enum:
          - Household
          - Account
      - name: batchNumber
        in: query
        required: false
        schema:
          type: string
      - name: cancellation
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
        description: Bill data to write off
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Billing.PostPaymentsDto:
      properties:
        statusIcon:
          readOnly: true
          type: string
        id:
          type: integer
          format: int32
        reason:
          type: string
        clientName:
          type: string
        accountId:
          type: integer
          format: int32
        active:
          type: boolean
        registrationName:
          type: string
        managementStyle:
          type: string
        fundFamilyName:
          type: string
        custodian:
          type: string
        accountNumber:
          type: string
        billDate:
          type: string
          format: date-time
        billType:
          type: string
        balanceDue:
          type: number
          format: double
        amountToPost:
          type: number
          format: double
        registrationCode:
          type: string
        paymentDate:
          type: string
          format: date-time
        paidByAccountNumber:
          type: string
        payMethod:
          type: string
        billId:
          type: integer
          format: int32
        billTypeId:
          type: integer
          format: int32
        receivableId:
          type: string
        feeScheduleName:
          type: string
        lastName:
          type: string
        firstName:
          type: string
        repName:
          type: string
        note:
          type: string
        householdId:
          type: integer
          format: int32
        billInstanceId:
          type: integer
          format: int32
      xml:
        name: PostPaymentsDto
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.WebApi.DTO.Billing.BillingFileUploadDto:
      properties:
        columnName:
          type: string
          enum:
          - HouseholdId
          - AccountId
          - AccountNumber
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
          description: the imported file
      xml:
        name: BillingFileUploadDto
      type: object
    OAS.WebApi.DTO.Billing.BillPaymentDto:
      properties:
        id:
          type: integer
          format: int32
        billPayMethod:
          type: integer
          format: int32
        paymentNumber:
          type: string
        batchNumber:
          type: string
        checkAmt:
          type: number
          format: double
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        postedDate:
          type: string
          format: date-time
        transOrigin:
          type: string
        balance:
          type: number
          format: double
        oldReceivableID:
          type: integer
          format: int32
        timestamp:
          type: string
          format: byte
      xml:
        name: BillPaymentDto
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAS.WebApi.DTO.Billing.PostPaymentBatchDto:
      properties:
        id:
          type: integer
          format: int32
        batchNumber:
          type: string
        amount:
          type: number
          format: double
        processStatus:
          type: string
          enum:
          - Errored
          - Queued
          - Processing
          - Complete
        completedCount:
          type: integer
          format: int32
        recordCount:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        batchType:
          type: string
          enum:
          - PostPayments
          - WriteOffs
        processStatusNote:
          type: string
      xml:
        name: PostPaymentBatchDto
      type: object
    OAS.WebApi.DTO.Billing.PostPaymentsByFileDto:
      properties:
        missingSearchValues:
          type: string
        postPayments:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
          xml:
            name: PostPaymentsDto
            wrapped: true
          type: array
      xml:
        name: PostPaymentsByFileDto
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
