openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Settings/User Options API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Settings/UserOptions
paths:
  /v1/Settings/UserOptions:
    get:
      tags:
      - Settings/UserOptions
      summary: Gets a list of user options that the logged in user has access to.
      operationId: UserOptions_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
                xml:
                  name: UserOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
                xml:
                  name: UserOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
                xml:
                  name: UserOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
                xml:
                  name: UserOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
                xml:
                  name: UserOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
                xml:
                  name: UserOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/UserOptions/{optionname}:
    get:
      tags:
      - Settings/UserOptions
      summary: Gets the user option that has the provided name.
      operationId: UserOptions_GetByOptionName
      parameters:
      - name: optionname
        in: path
        description: Name of the option to return.
        required: true
        schema:
          type: string
      - name: defaultValue
        in: query
        description: Optional. Default null. If provided will be used to fill in the value property of the object if one does not already exist.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
      security:
      - Authorization: []
    post:
      tags:
      - Settings/UserOptions
      operationId: UserOptions_UpsertEntity
      parameters:
      - name: optionname
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserOptionDto'
        required: true
      summary: User options upsert entity
      x-summary-source: derived
    delete:
      tags:
      - Settings/UserOptions
      operationId: UserOptions_Delete
      parameters:
      - name: optionname
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: User options delete
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Settings.UserOptionDto:
      properties:
        id:
          type: integer
          format: int32
        optionName:
          type: string
        value:
          type: string
      xml:
        name: UserOptionDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
