openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Update Notes API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/UpdateNotes
paths:
  /v1/Billing/UpdateNotes:
    post:
      tags:
      - Billing/UpdateNotes
      summary: Create new confirm overview notes
      operationId: BillPayment_CreateNewItemsAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: notes
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
                xml:
                  name: PostPaymentsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PostPaymentsDto'
              xml:
                name: PostPaymentsDto
                wrapped: true
              type: array
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Billing.PostPaymentsDto:
      properties:
        statusIcon:
          readOnly: true
          type: string
        id:
          type: integer
          format: int32
        reason:
          type: string
        clientName:
          type: string
        accountId:
          type: integer
          format: int32
        active:
          type: boolean
        registrationName:
          type: string
        managementStyle:
          type: string
        fundFamilyName:
          type: string
        custodian:
          type: string
        accountNumber:
          type: string
        billDate:
          type: string
          format: date-time
        billType:
          type: string
        balanceDue:
          type: number
          format: double
        amountToPost:
          type: number
          format: double
        registrationCode:
          type: string
        paymentDate:
          type: string
          format: date-time
        paidByAccountNumber:
          type: string
        payMethod:
          type: string
        billId:
          type: integer
          format: int32
        billTypeId:
          type: integer
          format: int32
        receivableId:
          type: string
        feeScheduleName:
          type: string
        lastName:
          type: string
        firstName:
          type: string
        repName:
          type: string
        note:
          type: string
        householdId:
          type: integer
          format: int32
        billInstanceId:
          type: integer
          format: int32
      xml:
        name: PostPaymentsDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
