openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Performance/Attribution Assignment API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Performance/AttributionAssignment
paths:
  /v1/Performance/AttributionAssignment/EntityLevel/{entityLevel}:
    get:
      tags:
      - Performance/AttributionAssignment
      summary: Gets a list of attribution assignments that the logged in user has access to
      operationId: AttributionAssignment_GetAttributionAssignmentsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: entityLevel
        in: path
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
                xml:
                  name: AttributionAssignmentDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
                xml:
                  name: AttributionAssignmentDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
                xml:
                  name: AttributionAssignmentDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
                xml:
                  name: AttributionAssignmentDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
                xml:
                  name: AttributionAssignmentDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
                xml:
                  name: AttributionAssignmentDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Performance/AttributionAssignment
      summary: Update assigned attributions by entity level
      operationId: AttributionAssignment_UpdateAssignmentsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: entityLevel
        in: path
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
                xml:
                  name: AttributionAssignmentDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
                xml:
                  name: AttributionAssignmentDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
                xml:
                  name: AttributionAssignmentDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
                xml:
                  name: AttributionAssignmentDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
                xml:
                  name: AttributionAssignmentDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
                xml:
                  name: AttributionAssignmentDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
              xml:
                name: AttributionAssignmentDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
              xml:
                name: AttributionAssignmentDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
              xml:
                name: AttributionAssignmentDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
              xml:
                name: AttributionAssignmentDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionAssignmentDto'
              xml:
                name: AttributionAssignmentDto
                wrapped: true
              type: array
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Performance.AttributionAssignmentDto:
      properties:
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        attributionAssetCategoryUserDataId:
          type: integer
          format: int32
        attributionAssetCategoryId:
          type: integer
          format: int32
        attributionAssetClassId:
          type: integer
          format: int32
        attributionAssetClassUserDataId:
          type: integer
          format: int32
      xml:
        name: AttributionAssignmentDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
