openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Performance/Stored Performance Import API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Performance/StoredPerformanceImport
paths:
  /v1/Performance/StoredPerformanceImport:
    get:
      tags:
      - Performance/StoredPerformanceImport
      operationId: StoredPerformanceImports_GetStoredPerformanceImportsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
                xml:
                  name: StoredPerformanceImportVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
                xml:
                  name: StoredPerformanceImportVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
                xml:
                  name: StoredPerformanceImportVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
                xml:
                  name: StoredPerformanceImportVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
                xml:
                  name: StoredPerformanceImportVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
                xml:
                  name: StoredPerformanceImportVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Stored performance imports get stored performance imports async
      x-summary-source: derived
    post:
      tags:
      - Performance/StoredPerformanceImport
      operationId: StoredPerformanceImports_CreateStoredPerformanceImportAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
        required: true
      summary: Stored performance imports create stored performance import async
      x-summary-source: derived
  /v1/Performance/StoredPerformanceImport/{key}:
    get:
      tags:
      - Performance/StoredPerformanceImport
      operationId: StoredPerformanceImports_GetStoredPerformanceImportAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
      security:
      - Authorization: []
      summary: Stored performance imports get stored performance import async
      x-summary-source: derived
    put:
      tags:
      - Performance/StoredPerformanceImport
      operationId: StoredPerformanceImports_UpdateStoredPerformanceImportAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
        required: true
      summary: Stored performance imports update stored performance import async
      x-summary-source: derived
    delete:
      tags:
      - Performance/StoredPerformanceImport
      operationId: StoredPerformanceImports_DeleteStoredPerformanceImportAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Stored performance imports delete stored performance import async
      x-summary-source: derived
  /v1/Performance/StoredPerformanceImport/Entities:
    put:
      tags:
      - Performance/StoredPerformanceImport
      operationId: StoredPerformanceImportEntity_UpdateStoredPerformanceImportEntitiesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
                xml:
                  name: StoredPerformanceImportEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
                xml:
                  name: StoredPerformanceImportEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
                xml:
                  name: StoredPerformanceImportEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
                xml:
                  name: StoredPerformanceImportEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
                xml:
                  name: StoredPerformanceImportEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
                xml:
                  name: StoredPerformanceImportEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
              xml:
                name: StoredPerformanceImportEntity
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
              xml:
                name: StoredPerformanceImportEntity
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
              xml:
                name: StoredPerformanceImportEntity
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
              xml:
                name: StoredPerformanceImportEntity
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
              xml:
                name: StoredPerformanceImportEntity
                wrapped: true
              type: array
        required: true
      summary: Stored performance import entity update stored performance import entities async
      x-summary-source: derived
  /v1/Performance/StoredPerformanceImport/Entities/Actions/GenerationStatus/Reset:
    post:
      tags:
      - Performance/StoredPerformanceImport
      operationId: StoredPerformanceImportEntity_ResetGenerationStatusAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Stored performance import entity reset generation status async
      x-summary-source: derived
  /v1/Performance/StoredPerformanceImport/Entities/Actions/GenerationStatus/Reset/All/{storedPerformanceImportId}:
    post:
      tags:
      - Performance/StoredPerformanceImport
      operationId: StoredPerformanceImportEntity_PostV1PerformanceStoredPerformanceImportEntitiesActionsGenerationStatusResetAllByStoredPerformanceImportId
      parameters:
      - name: storedPerformanceImportId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Stored performance import entity post V1 performance stored performance import…
      x-summary-source: derived
  /v1/Performance/StoredPerformanceImport/Entities/Actions/Notes/Update:
    post:
      tags:
      - Performance/StoredPerformanceImport
      operationId: StoredPerformanceImportEntity_UpdateNotesAsync
      parameters:
      - name: notes
        in: query
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Stored performance import entity update notes async
      x-summary-source: derived
  /v1/Performance/StoredPerformanceImport/Entities/ByStoredPerformanceImportEntityID/{storedPerformanceImportEntityId}:
    get:
      tags:
      - Performance/StoredPerformanceImport
      operationId: StoredPerformanceImportEntity_GetStoredPerformanceImportEntityAsync
      parameters:
      - name: storedPerformanceImportEntityId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
      security:
      - Authorization: []
      summary: Stored performance import entity get stored performance import entity async
      x-summary-source: derived
  /v1/Performance/StoredPerformanceImport/Entities/ByStoredPerformanceImportID/{storedPerformanceImportId}:
    get:
      tags:
      - Performance/StoredPerformanceImport
      operationId: StoredPerformanceImportEntity_GetStoredPerformanceImportEntitiesAsync
      parameters:
      - name: storedPerformanceImportId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
                xml:
                  name: StoredPerformanceImportEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
                xml:
                  name: StoredPerformanceImportEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
                xml:
                  name: StoredPerformanceImportEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
                xml:
                  name: StoredPerformanceImportEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
                xml:
                  name: StoredPerformanceImportEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Performance.StoredPerformanceImportEntity'
                xml:
                  name: StoredPerformanceImportEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Stored performance import entity get stored performance import entities async
      x-summary-source: derived
  /v1/Performance/StoredPerformanceImport/GetDataTable:
    post:
      tags:
      - Performance/StoredPerformanceImport
      operationId: StoredPerformanceImports_GetImportFileAsDataTableAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto'
        required: true
      summary: Stored performance imports get import file as data table async
      x-summary-source: derived
  /v1/Performance/StoredPerformanceImport/Upload:
    post:
      tags:
      - Performance/StoredPerformanceImport
      operationId: StoredPerformanceImports_UploadStoredPerformanceImportFileAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportFileDto'
        required: true
      summary: Stored performance imports upload stored performance import file async
      x-summary-source: derived
components:
  schemas:
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportFileDto:
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
        delimiter:
          type: string
      xml:
        name: StoredPerformanceImportFileDto
      type: object
    OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceColumnMapping:
      properties:
        columnName:
          type: string
        columnType:
          type: string
          enum:
          - AccountNumber
          - StartDate
          - EndDate
          - StartValue
          - EndValue
          - Contributions
          - Distributions
          - Cashflows
          - FeeAmount
          - GrossPerformance
          - NetPerformance
          - AccountId
      xml:
        name: StoredPerformanceColumnMapping
      type: object
    OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseOptionsDto:
      properties:
        s3FileName:
          type: string
        columnMappings:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceColumnMapping'
          xml:
            name: StoredPerformanceColumnMapping
            wrapped: true
          type: array
        addDayToStartDate:
          type: boolean
      xml:
        name: StoredPerformanceImportVerboseOptionsDto
      type: object
    OAS.DataModel.Performance.StoredPerformanceImportEntity:
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
        storedPerformanceImportId:
          type: integer
          format: int32
        accountNumber:
          type: string
          maxLength: 50
          minLength: 0
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        generationStatus:
          type: string
          enum:
          - NotGenerated
          - Errored
          - Generated
          - PendingGeneration
          - DoNotGenerate
        notes:
          type: string
          maxLength: 1000
          minLength: 0
        errorMessage:
          type: string
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: StoredPerformanceImportEntity
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        importName:
          type: string
        notes:
          type: string
        importOptions:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.StoredPerformance.StoredPerformanceImportVerboseOptionsDto'
        fileStatus:
          type: string
          enum:
          - FileNotLoaded
          - FileLoading
          - FileLoaded
          - Error
        hangfireJobId:
          type: string
        auditedDate:
          type: string
          format: date-time
        auditedBy:
          type: string
      xml:
        name: StoredPerformanceImportVerboseDto
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
