openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Pend Accounts API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/PendAccounts
paths:
  /v1/Trading/PendAccounts:
    get:
      tags:
      - Trading/PendAccounts
      summary: Gets a list of pend accounts that the logged in user has access to.
      operationId: PendAccounts_Get
      parameters:
      - name: tradeDate
        in: query
        description: 'Optional. Default: null.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Trading/PendAccounts
      operationId: PendAccounts_CreatePendAccounts
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
              xml:
                name: PendAccountDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
              xml:
                name: PendAccountDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
              xml:
                name: PendAccountDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
              xml:
                name: PendAccountDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
              xml:
                name: PendAccountDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
              xml:
                name: PendAccountDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
              xml:
                name: PendAccountDto
                wrapped: true
              type: array
        required: true
      summary: Pend accounts create pend accounts
      x-summary-source: derived
    post:
      tags:
      - Trading/PendAccounts
      operationId: PendAccounts_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
        required: true
      summary: Pend accounts create entity
      x-summary-source: derived
  /v1/Trading/PendAccounts/{key}:
    get:
      tags:
      - Trading/PendAccounts
      summary: Gets the pend account that has the provided key.
      operationId: PendAccounts_GetEntityByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
      security:
      - Authorization: []
  /v1/Trading/PendAccounts/Action/Delete:
    put:
      tags:
      - Trading/PendAccounts
      operationId: PendAccounts_Delete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Pend accounts delete
      x-summary-source: derived
  /v1/Trading/PendAccounts/List:
    post:
      tags:
      - Trading/PendAccounts
      operationId: PendAccounts_GetListById
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Pend accounts get list by id
      x-summary-source: derived
  /v1/Trading/PendAccounts/List/Id:
    post:
      tags:
      - Trading/PendAccounts
      operationId: PendAccounts_PostV1TradingPendAccountsListId
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.PendAccountDto'
                xml:
                  name: PendAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Pend accounts post V1 trading pend accounts list id
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Trading.PendAccountDto:
      properties:
        id:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        accountNumber:
          type: string
        tradeDate:
          type: string
          format: date-time
      xml:
        name: PendAccountDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
