openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Settings/User Defined Fields API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Settings/UserDefinedFields
paths:
  /v1/Settings/UserDefinedFields/{entity}:
    put:
      tags:
      - Settings/UserDefinedFields
      summary: Updates the provided user defined fields
      operationId: EntityUserDefinedFields_UpdateEntityOptions
      parameters:
      - name: entity
        in: path
        description: The kind of entity being updated.
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
        description: The options to update.
        required: true
  /v1/Settings/UserDefinedFields/{entity}/{entityId}:
    get:
      tags:
      - Settings/UserDefinedFields
      summary: Gets a list of user defined options that the logged in user has access to
      operationId: EntityUserDefinedFields_Get
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      - name: entityId
        in: path
        description: The id of the entity to return options for.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/UserDefinedFields/{entity}/{entityId}/{key}:
    get:
      tags:
      - Settings/UserDefinedFields
      summary: Gets the user defined fields that has the provided key.
      operationId: EntityUserDefinedFields_GetV1SettingsUserDefinedFieldsByEntityByEntityIdByKey
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      - name: entityId
        in: path
        description: The id of the entity to return options for.
        required: true
        schema:
          type: integer
          format: int32
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
  /v1/Settings/UserDefinedFields/{entity}/{entityId}/Categories:
    get:
      tags:
      - Settings/UserDefinedFields
      summary: Gets the list categories for the database user defined options
      operationId: EntityUserDefinedFields_GetCategories
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      - name: entityId
        in: path
        description: The id of the entity to return options for.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                type: array
      security:
      - Authorization: []
  /v1/Settings/UserDefinedFields/{entity}/{entityId}/Categories/{category}:
    get:
      tags:
      - Settings/UserDefinedFields
      summary: Gets the list of user defined options that have the provided category
      operationId: EntityUserDefinedFields_GetByCategory
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      - name: entityId
        in: path
        description: The id of the entity to return options for.
        required: true
        schema:
          type: integer
          format: int32
      - name: category
        in: path
        description: Category of the desired return objects.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/UserDefinedFields/{entity}/{entityId}/Code/{code}:
    get:
      tags:
      - Settings/UserDefinedFields
      summary: Gets the user defined fields that has the provided code.
      operationId: EntityUserDefinedFields_GetByCode
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      - name: entityId
        in: path
        description: The id of the entity to return options for.
        required: true
        schema:
          type: integer
          format: int32
      - name: code
        in: path
        description: Code of the desired return object.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
  /v1/Settings/UserDefinedFields/{entity}/{entityId}/Name/{name}:
    get:
      tags:
      - Settings/UserDefinedFields
      summary: Gets the user defined fields that has the provided name.
      operationId: EntityUserDefinedFields_GetByName
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      - name: entityId
        in: path
        description: The id of the entity to return options for.
        required: true
        schema:
          type: integer
          format: int32
      - name: name
        in: path
        description: Name of the desired return object.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
  /v1/Settings/UserDefinedFields/{entity}/Code/{code}:
    get:
      tags:
      - Settings/UserDefinedFields
      summary: Gets a list of user defined options that the logged in user has access to
      operationId: EntityUserDefinedFields_GetAssignedByCode
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      - name: code
        in: path
        description: Any user defined fields that has the code provided will be returned.
        required: true
        schema:
          type: string
      - name: showAssigned
        in: query
        description: Optional. If provided will only return user defined options with values that are assigned or are not assigned.
        required: false
        schema:
          type: boolean
      - name: includeName
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Settings/UserDefinedFields
      summary: Updates the provided user defined fields
      operationId: EntityUserDefinedFields_UpdateEntityOption
      parameters:
      - name: entity
        in: path
        description: The kind of entity being updated.
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      - name: code
        in: path
        description: The code for the option to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
        description: The option to update.
        required: true
  /v1/Settings/UserDefinedFields/{entity}/Name/{name}:
    get:
      tags:
      - Settings/UserDefinedFields
      summary: Gets a list of user defined options that the logged in user has access to
      operationId: EntityUserDefinedFields_GetAssignedByName
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      - name: name
        in: path
        description: Any user defined fields that has the name provided will be returned.
        required: true
        schema:
          type: string
      - name: showAssigned
        in: query
        description: Optional. If provided will only return user defined options with values that are assigned or are not assigned.
        required: false
        schema:
          type: boolean
      - name: includeName
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Settings/UserDefinedFields
      summary: Creates provided user defined fields
      operationId: EntityUserDefinedFields_CreateEntityOptionDefinition
      parameters:
      - name: entity
        in: path
        description: The kind of entity being created.
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      - name: name
        in: path
        description: The name for the option to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
        description: The option to create.
        required: true
  /v1/Settings/UserDefinedFields/Definitions/{entity}:
    get:
      tags:
      - Settings/UserDefinedFields
      summary: Get all definitions for specified entity type
      operationId: EntityUserDefinedFieldDefinitions_GetByAllItems
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
                xml:
                  name: UserDefinedDefinitionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
                xml:
                  name: UserDefinedDefinitionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
                xml:
                  name: UserDefinedDefinitionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
                xml:
                  name: UserDefinedDefinitionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
                xml:
                  name: UserDefinedDefinitionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
                xml:
                  name: UserDefinedDefinitionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Settings/UserDefinedFields
      summary: Creates provided user defined field definition
      operationId: EntityUserDefinedFieldDefinitions_CreateEntityOptionDefinition
      parameters:
      - name: entity
        in: path
        description: The kind of entity being created.
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
        description: The option to create.
        required: true
  /v1/Settings/UserDefinedFields/Definitions/{entity}/Code/{code}:
    get:
      tags:
      - Settings/UserDefinedFields
      summary: Get definition for specified entity type and code
      operationId: EntityUserDefinedFieldDefinitions_GetByCode
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
      security:
      - Authorization: []
    put:
      tags:
      - Settings/UserDefinedFields
      summary: Update definition
      operationId: EntityUserDefinedFieldDefinitions_UpdateOption
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto'
        required: true
    delete:
      tags:
      - Settings/UserDefinedFields
      summary: Delete definition
      operationId: EntityUserDefinedFieldDefinitions_DeleteByCodeAsync
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      - name: code
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Settings/UserDefinedFields/List:
    get:
      tags:
      - Settings/UserDefinedFields
      summary: Lists the available user defined fields levels
      operationId: EntityUserDefinedFields_GetEntityLevels
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/UserDefinedFields/List/Code/{code}:
    get:
      tags:
      - Settings/UserDefinedFields
      summary: Lists the available user defined fields levels for the user defined fields with…
      operationId: EntityUserDefinedFields_GetEntityLevelsForCode
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      - name: canEdit
        in: query
        description: 'Optional. Default: null. If provided only the levels this user can edit (true) or can''t edit (false) are returned.'
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/UserDefinedFields/List/Name/{name}:
    get:
      tags:
      - Settings/UserDefinedFields
      summary: Lists the available user defined fields levels for the user defined fields with…
      operationId: EntityUserDefinedFields_GetEntityLevelsForName
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: canEdit
        in: query
        description: 'Optional. Default: null. If provided only the levels this user can edit (true) or can''t edit (false) are returned.'
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto'
                xml:
                  name: UserDefinedFieldLevelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Settings.UserDefinedDefinitionDto:
      properties:
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        description:
          type: string
        defaultValue:
          type: string
        sequence:
          type: integer
          format: int32
        code:
          type: string
        category:
          type: string
        customObject:
          type: string
        controlProperties:
          type: string
        securityCode:
          type: string
        isTimeSensitive:
          type: boolean
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        pageCodes:
          items:
            type: string
          type: array
        options:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.UserDefineOptionDto'
          xml:
            name: UserDefineOptionDto
            wrapped: true
          type: array
      xml:
        name: UserDefinedDefinitionDto
      type: object
    OAS.WebApi.DTO.Settings.UserDefinedFieldLevelDto:
      properties:
        routeName:
          type: string
        displayName:
          type: string
        entity:
          type: string
          enum:
          - BrokerDealers
          - Wholesalers
          - Representatives
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Products
          - FundFamilies
          - ModelRanges
          - PortfolioGroups
      xml:
        name: UserDefinedFieldLevelDto
      type: object
    OAS.WebApi.DTO.Settings.UserDefineOptionDto:
      properties:
        isDefault:
          type: boolean
        listValue:
          type: string
        sequence:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: UserDefineOptionDto
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
