openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Global/States Municipal Bond Tax API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Global/StatesMunicipalBondTax
paths:
  /v1/Global/StatesMunicipalBondTax:
    get:
      tags:
      - Global/StatesMunicipalBondTax
      summary: Gets a list of StateMunicipalBondTax that the logged in user has access to.
      operationId: GlobalStatesMunicipalBondTax_Get
      parameters:
      - name: addressStateId
        in: query
        description: Optional. Default:Null.  If provided then only objects with provided Address State Id will be returned.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
                xml:
                  name: StateMunicipalBondTaxDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
                xml:
                  name: StateMunicipalBondTaxDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
                xml:
                  name: StateMunicipalBondTaxDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
                xml:
                  name: StateMunicipalBondTaxDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
                xml:
                  name: StateMunicipalBondTaxDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
                xml:
                  name: StateMunicipalBondTaxDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/StatesMunicipalBondTax/{addressStateId}/{issueStateId}:
    get:
      tags:
      - Global/StatesMunicipalBondTax
      summary: Gets the StatesMunicipalBondTax that has the provided Address State Id and…
      operationId: GlobalStatesMunicipalBondTax_GetByKey
      parameters:
      - name: addressStateId
        in: path
        description: The addressee's State Id
        required: true
        schema:
          type: integer
          format: int32
      - name: issueStateId
        in: path
        description: State Id from which the bond was issued
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
      security:
      - Authorization: []
    put:
      tags:
      - Global/StatesMunicipalBondTax
      summary: Used to update a Stat eMunicipal Bond Tax.
      operationId: GlobalStatesMunicipalBondTax_Update
      parameters:
      - name: addressStateId
        in: path
        description: The addressee's State Id
        required: true
        schema:
          type: integer
          format: int32
      - name: issueStateId
        in: path
        description: State Id from which the bond was issued
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto'
        required: true
  /v1/Global/StatesMunicipalBondTax/Action/MakeTaxable:
    put:
      tags:
      - Global/StatesMunicipalBondTax
      operationId: GlobalStatesMunicipalBondTax_ActionMakeTaxable
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
                xml:
                  name: StateMunicipalBondTaxKeyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
                xml:
                  name: StateMunicipalBondTaxKeyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
                xml:
                  name: StateMunicipalBondTaxKeyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
                xml:
                  name: StateMunicipalBondTaxKeyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
                xml:
                  name: StateMunicipalBondTaxKeyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
                xml:
                  name: StateMunicipalBondTaxKeyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
        required: true
      summary: Global states municipal bond tax action make taxable
      x-summary-source: derived
  /v1/Global/StatesMunicipalBondTax/Action/MakeTaxExempt:
    put:
      tags:
      - Global/StatesMunicipalBondTax
      operationId: GlobalStatesMunicipalBondTax_ActionMakeTaxExempt
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
                xml:
                  name: StateMunicipalBondTaxKeyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
                xml:
                  name: StateMunicipalBondTaxKeyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
                xml:
                  name: StateMunicipalBondTaxKeyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
                xml:
                  name: StateMunicipalBondTaxKeyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
                xml:
                  name: StateMunicipalBondTaxKeyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
                xml:
                  name: StateMunicipalBondTaxKeyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto'
              xml:
                name: StateMunicipalBondTaxKeyDto
                wrapped: true
              type: array
        required: true
      summary: Global states municipal bond tax action make tax exempt
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxDto:
      properties:
        addressStateName:
          type: string
        issueStateName:
          type: string
        taxable:
          type: boolean
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        addressStateId:
          type: integer
          format: int32
        issueStateId:
          type: integer
          format: int32
      xml:
        name: StateMunicipalBondTaxDto
      type: object
    OAS.WebApi.DTO.Portfolio.StateMunicipalBondTaxKeyDto:
      properties:
        addressStateId:
          type: integer
          format: int32
        issueStateId:
          type: integer
          format: int32
      xml:
        name: StateMunicipalBondTaxKeyDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
