openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Risk Categories API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/RiskCategories
paths:
  /v1/Portfolio/RiskCategories:
    get:
      tags:
      - Portfolio/RiskCategories
      summary: Gets a list of risk categories that the logged in user has access to
      operationId: RiskCategories_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
                xml:
                  name: RiskCategoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
                xml:
                  name: RiskCategoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
                xml:
                  name: RiskCategoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
                xml:
                  name: RiskCategoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
                xml:
                  name: RiskCategoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
                xml:
                  name: RiskCategoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/RiskCategories/{key}:
    get:
      tags:
      - Portfolio/RiskCategories
      summary: Gets the risk category that has the provided key.
      operationId: RiskCategories_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
      security:
      - Authorization: []
  /v1/Portfolio/RiskCategories/Action/EstablishColors:
    put:
      tags:
      - Portfolio/RiskCategories
      summary: Generates a random color for every risk category that has no color.
      operationId: RiskCategories_ActionEstablishColors
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/RiskCategories/Exclusions:
    get:
      tags:
      - Portfolio/RiskCategories
      summary: Gets a list of risk categories that the logged in user has access to
      operationId: RiskCategories_GetExcluded
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
                xml:
                  name: RiskCategoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
                xml:
                  name: RiskCategoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
                xml:
                  name: RiskCategoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
                xml:
                  name: RiskCategoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
                xml:
                  name: RiskCategoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryDto'
                xml:
                  name: RiskCategoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/RiskCategories/Simple:
    get:
      tags:
      - Portfolio/RiskCategories
      summary: Gets a simple list of riskCategories that the logged in user has access to
      operationId: RiskCategories_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/RiskCategories/Simple/Search:
    get:
      tags:
      - Portfolio/RiskCategories
      summary: Gets a simple list of risk categories by the search criteria
      operationId: RiskCategories_GetSimpleSearch
      parameters:
      - name: search
        in: query
        description: Risk Category Id, Abbrev or Full Name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRiskCategory'
                xml:
                  name: SimpleRiskCategory
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRiskCategory'
                xml:
                  name: SimpleRiskCategory
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRiskCategory'
                xml:
                  name: SimpleRiskCategory
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRiskCategory'
                xml:
                  name: SimpleRiskCategory
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRiskCategory'
                xml:
                  name: SimpleRiskCategory
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRiskCategory'
                xml:
                  name: SimpleRiskCategory
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/RiskCategories/Simple/Search/{search}:
    get:
      tags:
      - Portfolio/RiskCategories
      summary: Gets a simple list of risk categories by the search criteria
      operationId: RiskCategories_GetV1PortfolioRiskCategoriesSimpleSearchBySearch
      parameters:
      - name: search
        in: path
        description: Risk Category Id, Abbrev or Full Name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRiskCategory'
                xml:
                  name: SimpleRiskCategory
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRiskCategory'
                xml:
                  name: SimpleRiskCategory
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRiskCategory'
                xml:
                  name: SimpleRiskCategory
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRiskCategory'
                xml:
                  name: SimpleRiskCategory
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRiskCategory'
                xml:
                  name: SimpleRiskCategory
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRiskCategory'
                xml:
                  name: SimpleRiskCategory
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/RiskCategories/Value:
    get:
      tags:
      - Portfolio/RiskCategories
      summary: Gets a simple list of risk categories with most rescently cached value that the…
      operationId: RiskCategories_GetValue
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/RiskCategories/Verbose:
    get:
      tags:
      - Portfolio/RiskCategories
      operationId: RiskCategories_GetVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Risk categories get verbose
      x-summary-source: derived
    put:
      tags:
      - Portfolio/RiskCategories
      operationId: RiskCategories_UpdateVerboseRiskCategoriesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
              xml:
                name: RiskCategoryVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
              xml:
                name: RiskCategoryVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
              xml:
                name: RiskCategoryVerboseDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
              xml:
                name: RiskCategoryVerboseDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
              xml:
                name: RiskCategoryVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
              xml:
                name: RiskCategoryVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
              xml:
                name: RiskCategoryVerboseDto
                wrapped: true
              type: array
        required: true
      summary: Risk categories update verbose risk categories async
      x-summary-source: derived
    post:
      tags:
      - Portfolio/RiskCategories
      summary: Create a risk category
      operationId: RiskCategories_CreateVerbose
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
        required: true
  /v1/Portfolio/RiskCategories/Verbose/{key}:
    get:
      tags:
      - Portfolio/RiskCategories
      operationId: RiskCategories_GetVerboseByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
      security:
      - Authorization: []
      summary: Risk categories get verbose by key
      x-summary-source: derived
    put:
      tags:
      - Portfolio/RiskCategories
      operationId: RiskCategories_UpdateVerboseRiskCategoryAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
        required: true
      summary: Risk categories update verbose risk category async
      x-summary-source: derived
    delete:
      tags:
      - Portfolio/RiskCategories
      summary: Used to delete an existing risk category.
      operationId: RiskCategories_DeleteAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: reassignKey
        in: query
        description: Optional. If provided, will reassociate any products associated to the risk category to be deleted to this other risk category.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/RiskCategories/Verbose/CanDelete/{key}:
    get:
      tags:
      - Portfolio/RiskCategories
      summary: Gets a list of errors if a delete was attempted on the risk category
      operationId: RiskCategories_CanDelete
      parameters:
      - name: key
        in: path
        description: ID of the risk category to check
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Validation.IValidationError'
                xml:
                  name: IValidationError
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Validation.IValidationError'
                xml:
                  name: IValidationError
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Validation.IValidationError'
                xml:
                  name: IValidationError
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Validation.IValidationError'
                xml:
                  name: IValidationError
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/RiskCategories/Verbose/List:
    post:
      tags:
      - Portfolio/RiskCategories
      operationId: RiskCategories_GetVerboseListById
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Risk categories get verbose list by id
      x-summary-source: derived
  /v1/Portfolio/RiskCategories/Verbose/List/Id:
    post:
      tags:
      - Portfolio/RiskCategories
      operationId: RiskCategories_PostV1PortfolioRiskCategoriesVerboseListId
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
                xml:
                  name: RiskCategoryVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Risk categories post V1 portfolio risk categories verbose list id
      x-summary-source: derived
  /v1/Portfolio/RiskCategories/Verbose/New:
    get:
      tags:
      - Portfolio/RiskCategories
      operationId: RiskCategories_GetNewVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - EntityOptions
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto'
      security:
      - Authorization: []
      summary: Risk categories get new verbose
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.RiskCategoryDto:
      properties:
        id:
          type: integer
          format: int32
        abbreviation:
          type: string
        fullName:
          type: string
        color:
          type: string
        symbol:
          type: string
        rank:
          type: integer
          format: int32
        productDescriptionProviderId:
          type: integer
          format: int32
        productDescriptionProvider:
          type: string
        value:
          type: number
          format: double
        isCategoryExcluded:
          type: boolean
      xml:
        name: RiskCategoryDto
      type: object
    OAS.WebApi.DTO.Portfolio.RiskCategoryVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        portfolio:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RiskCategoryPortfolioDto'
        entityOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
      xml:
        name: RiskCategoryVerboseDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.Validation.IValidationError:
      properties:
        propertyName:
          readOnly: true
          type: string
        errorMessage:
          readOnly: true
          type: string
      xml:
        name: IValidationError
      type: object
    OAS.DataModel.Portfolio.SimpleRiskCategory:
      properties:
        RiskCategoryId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        riskAbbrev:
          type: string
        riskFullName:
          type: string
        name:
          type: string
      xml:
        name: SimpleRiskCategory
      type: object
    OAS.WebApi.DTO.Portfolio.RiskCategoryPortfolioDto:
      properties:
        abbreviation:
          type: string
        fullName:
          type: string
        color:
          type: string
        symbol:
          type: string
        rank:
          type: integer
          format: int32
        productDescriptionProviderId:
          type: integer
          format: int32
        productDescriptionProviderName:
          type: string
        value:
          type: number
          format: double
        isCategoryExcluded:
          type: boolean
      xml:
        name: RiskCategoryPortfolioDto
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDto
      type: object
    OAS.WebApi.DTO.Simple.SimpleValueDto:
      properties:
        value:
          type: number
          format: double
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleValueDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
