openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/File Exports API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/FileExports
paths:
  /v1/Confirm/FileExports:
    get:
      tags:
      - Confirm/FileExports
      operationId: FileExport_GetAllFileExportsAsync
      parameters:
      - name: token
        in: header
        required: true
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.FileExportDto'
                xml:
                  name: FileExportDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.FileExportDto'
                xml:
                  name: FileExportDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.FileExportDto'
                xml:
                  name: FileExportDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.FileExportDto'
                xml:
                  name: FileExportDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.FileExportDto'
                xml:
                  name: FileExportDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.FileExportDto'
                xml:
                  name: FileExportDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: File export get all file exports async
      x-summary-source: derived
  /v1/Confirm/FileExports/{fileId}/Send:
    post:
      tags:
      - Confirm/FileExports
      summary: Transmits a Matrix B50 file export to its configured upload target, matching…
      description: 'Sample Request

        POST /Confirm/FileExports/123/Send'
      operationId: FileExport_SendFileAsync
      parameters:
      - name: fileId
        in: path
        description: The File Id (tblDwnldPrepFile.pkDPFile) of the Matrix B50 file to send.
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.FileExportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.FileExportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.FileExportDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.FileExportDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.FileExportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.FileExportDto'
      security:
      - Authorization: []
  /v1/Confirm/FileExports/DownloadFile:
    get:
      tags:
      - Confirm/FileExports
      summary: Gets the file by identifier
      description: 'Sample Request

        GET /Confirm/FileExport/DownloadFile?blobFileId=123'
      operationId: FileExport_GetFileByIdAsync
      parameters:
      - name: blobFileId
        in: query
        description: The BLOB file identifier.
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Confirm.FileExportDto:
      properties:
        transmissionId:
          type: integer
          format: int32
        fileId:
          type: integer
          format: int32
        fileType:
          type: string
        fileName:
          type: string
        createdDate:
          type: string
          format: date-time
        dateSent:
          type: string
          format: date-time
        status:
          type: string
        blobFileId:
          type: integer
          format: int32
      xml:
        name: FileExportDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
