openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Referral Payouts API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/ReferralPayouts
paths:
  /v1/Billing/ReferralPayouts:
    get:
      tags:
      - Billing/ReferralPayouts
      summary: Get a list of Referral Payouts that the logged in user has access to see.
      operationId: ReferralPayouts_GetAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
                xml:
                  name: ReferralPayoutDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
                xml:
                  name: ReferralPayoutDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
                xml:
                  name: ReferralPayoutDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
                xml:
                  name: ReferralPayoutDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
                xml:
                  name: ReferralPayoutDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
                xml:
                  name: ReferralPayoutDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Billing/ReferralPayouts
      operationId: ReferralPayouts_CreateEntityAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
        required: true
      summary: Referral payouts create entity async
      x-summary-source: derived
  /v1/Billing/ReferralPayouts/{key}:
    get:
      tags:
      - Billing/ReferralPayouts
      summary: Gets the Referral Payouts that has the provided key.
      operationId: ReferralPayouts_GetByPayoutIdAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
      security:
      - Authorization: []
    put:
      tags:
      - Billing/ReferralPayouts
      operationId: ReferralPayouts_UpdateEntityAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPayoutDto'
        required: true
      summary: Referral payouts update entity async
      x-summary-source: derived
    delete:
      tags:
      - Billing/ReferralPayouts
      operationId: ReferralPayouts_DeleteItemAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Referral payouts delete item async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Billing.ReferralPayoutDto:
      properties:
        id:
          type: integer
          format: int32
        payoutName:
          type: string
        payoutType:
          type: string
          enum:
          - Perpetual
          - Tiers
          - OneTime
        amountType:
          type: string
          enum:
          - Percent
          - Dollars
          - Shares
        payoutFrequency:
          type: string
          enum:
          - Quarterly
          - Annually
        amounts:
          type: string
        accountReferralCount:
          type: integer
          format: int32
        accountReferrals:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.AccountReferralDto'
          xml:
            name: AccountReferralDto
            wrapped: true
          type: array
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: ReferralPayoutDto
      type: object
    OAS.WebApi.DTO.Billing.AccountReferralDto:
      properties:
        id:
          type: integer
          format: int32
        billEntityId:
          type: integer
          format: int32
        payee:
          type: integer
          format: int32
        startDate:
          type: string
          format: date-time
        completeDate:
          type: string
          format: date-time
        accountName:
          type: string
        accountId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        referralPayoutId:
          type: integer
          format: int32
      xml:
        name: AccountReferralDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
