openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Custom Import Files API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/CustomImportFiles
paths:
  /v1/Confirm/CustomImportFiles:
    get:
      tags:
      - Confirm/CustomImportFiles
      summary: Gets a list of custom import files that the logged in user has access to
      operationId: CustomImportFiles_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/CustomImportFiles/{key}:
    get:
      tags:
      - Confirm/CustomImportFiles
      summary: Gets the custom import file that has the provided key.
      operationId: CustomImportFiles_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
      security:
      - Authorization: []
  /v1/Confirm/CustomImportFiles/History:
    get:
      tags:
      - Confirm/CustomImportFiles
      summary: Gets a list of custom import files that the logged in user has access to that…
      operationId: CustomImportFiles_GetHistory
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/CustomImportFiles/Processing:
    get:
      tags:
      - Confirm/CustomImportFiles
      summary: Gets a list of custom import files that the logged in user has access to that…
      operationId: CustomImportFiles_GetProcessing
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CustomImportFileDto'
                xml:
                  name: CustomImportFileDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Confirm.CustomImportFileDto:
      properties:
        id:
          type: integer
          format: int32
        customImportId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        newCount:
          type: integer
          format: int32
        updateCount:
          type: integer
          format: int32
        errorCount:
          type: integer
          format: int32
        importStatus:
          type: string
          enum:
          - None
          - Uploaded
          - Verifing
          - Verified
          - Applying
          - Applied
      xml:
        name: CustomImportFileDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
