openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Recon API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/Recon
paths:
  /v1/Confirm/Recon/AgentActionReview:
    get:
      tags:
      - Confirm/Recon
      operationId: AgentActionReview_GetAsync
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: groupId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: alClientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Agent action review get async
      x-summary-source: derived
  /v1/Confirm/Recon/AgentActionReview/Action/RefreshData:
    put:
      tags:
      - Confirm/Recon
      operationId: AgentActionReview_RefreshDataAsync
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: groupId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: alClientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Agent action review refresh data async
      x-summary-source: derived
  /v1/Confirm/Recon/AgentActionReview/Action/RefreshDatabaseData:
    put:
      tags:
      - Confirm/Recon
      operationId: AgentActionReview_RefreshDataByDatabaseAsync
      parameters:
      - name: alClientId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Agent action review refresh data by database async
      x-summary-source: derived
  /v1/Confirm/Recon/AgentActionReview/UnmappedTransTypes:
    get:
      tags:
      - Confirm/Recon
      operationId: AgentActionReview_GetUnmappedTransTypesAsync
      parameters:
      - name: alClientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Agent action review get unmapped trans types async
      x-summary-source: derived
  /v1/Confirm/Recon/AgentActionReview/UnmappedTransTypes/CreateImport:
    post:
      tags:
      - Confirm/Recon
      operationId: AgentActionReview_CreateUnmappedTransTypeImportAsync
      parameters:
      - name: fileTranCode
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportCommonDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportCommonDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportCommonDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportCommonDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportCommonDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportCommonDto'
      security:
      - Authorization: []
      summary: Agent action review create unmapped trans type import async
      x-summary-source: derived
  /v1/Confirm/Recon/AgentActionReview/UnmappedTransTypes/Details:
    get:
      tags:
      - Confirm/Recon
      operationId: AgentActionReview_GetUnmappedTransTypeDetailsAsync
      parameters:
      - name: fileTranCode
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Agent action review get unmapped trans type details async
      x-summary-source: derived
  /v1/Confirm/Recon/AgentActionReview/UnmappedTransTypes/Map:
    post:
      tags:
      - Confirm/Recon
      operationId: AgentActionReview_ConfirmUnmappedTransTypeMappingAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UnmappedTransTypeConfirmMappingRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UnmappedTransTypeConfirmMappingRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UnmappedTransTypeConfirmMappingRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UnmappedTransTypeConfirmMappingRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UnmappedTransTypeConfirmMappingRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UnmappedTransTypeConfirmMappingRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UnmappedTransTypeConfirmMappingRequestDto'
        required: true
      summary: Agent action review confirm unmapped trans type mapping async
      x-summary-source: derived
  /v1/Confirm/Recon/SignOff:
    get:
      tags:
      - Confirm/Recon
      summary: Gets a list of recon sign off records from spocDownloadSourceSignOff_Fetch
      operationId: ReconSignOff_GetAsync
      parameters:
      - name: startDate
        in: query
        description: 'Optional. Default: current day.'
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: 'Optional. Default: current day.'
        required: false
        schema:
          type: string
          format: date-time
      - name: formatId
        in: query
        description: Optional. Filter by download format.
        required: false
        schema:
          type: integer
          format: int32
      - name: groupId
        in: query
        description: Optional. Filter by confirm group.
        required: false
        schema:
          type: integer
          format: int32
      - name: alClientId
        in: query
        description: Optional. Filter by client.
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/Recon
      summary: Inserts new rows into tblDownloadSourceSignOff for each distinct (client…
      operationId: ReconSignOff_PostAsync
      parameters:
      - name: fileDateStart
        in: query
        description: Optional. Start of file date range for metrics. When omitted, defaults the same way as GET startDate.
        required: true
        schema:
          type: string
          format: date-time
      - name: fileDateEnd
        in: query
        description: Optional. End of file date range for metrics. When omitted, defaults the same way as GET endDate.
        required: true
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        description: Cancellation token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ReconSignOffCreateRequestDto'
              xml:
                name: ReconSignOffCreateRequestDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ReconSignOffCreateRequestDto'
              xml:
                name: ReconSignOffCreateRequestDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ReconSignOffCreateRequestDto'
              xml:
                name: ReconSignOffCreateRequestDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ReconSignOffCreateRequestDto'
              xml:
                name: ReconSignOffCreateRequestDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ReconSignOffCreateRequestDto'
              xml:
                name: ReconSignOffCreateRequestDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ReconSignOffCreateRequestDto'
              xml:
                name: ReconSignOffCreateRequestDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ReconSignOffCreateRequestDto'
              xml:
                name: ReconSignOffCreateRequestDto
                wrapped: true
              type: array
        description: 'Body array of ReconSignOffCreateRequestDto: AlClientId, SourceId, optional Notes.'
        required: true
    delete:
      tags:
      - Confirm/Recon
      summary: Clears ReconSignOffBy and ReconSignOffDate on tblDownloadSourceSignOff for the…
      operationId: ReconSignOff_DeleteAsync
      parameters:
      - name: ct
        in: header
        description: Cancellation token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int64
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int64
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int64
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int64
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int64
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int64
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int64
              type: array
        description: Primary keys of sign-off rows to clear. When null or empty, no work is performed and the result is OK.
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Utility.ImportCommonDto:
      properties:
        id:
          type: integer
          format: int32
        importTypeId:
          type: integer
          format: int32
        importName:
          type: string
        originalFileName:
          type: string
        numberOfDatasets:
          type: integer
          format: int32
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        canDelete:
          type: boolean
      xml:
        name: ImportCommonDto
      type: object
    OAS.WebApi.DTO.Confirm.UnmappedTransTypeConfirmMappingRequestDto:
      properties:
        fileTranCode:
          type: string
        mappings:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.UnmappedTransTypeConfirmMappingItemDto'
          xml:
            name: UnmappedTransTypeConfirmMappingItemDto
            wrapped: true
          type: array
      xml:
        name: UnmappedTransTypeConfirmMappingRequestDto
      type: object
    OAS.WebApi.DTO.Confirm.Recon.ReconSignOffCreateRequestDto:
      properties:
        alClientId:
          type: integer
          format: int32
        sourceId:
          type: integer
          format: int32
        notes:
          type: string
      xml:
        name: ReconSignOffCreateRequestDto
      type: object
    OAS.WebApi.DTO.Confirm.UnmappedTransTypeConfirmMappingItemDto:
      properties:
        transTypeId:
          type: integer
          format: int32
        noteMappingChoice:
          type: string
        searchFor:
          type: string
        translateTo:
          type: string
      xml:
        name: UnmappedTransTypeConfirmMappingItemDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
