openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Notification Groups API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/NotificationGroups
paths:
  /v1/Reporting/NotificationGroups:
    get:
      tags:
      - Reporting/NotificationGroups
      operationId: ReportingNotificationGroups_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupDto'
                xml:
                  name: NotificationGroupDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupDto'
                xml:
                  name: NotificationGroupDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupDto'
                xml:
                  name: NotificationGroupDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupDto'
                xml:
                  name: NotificationGroupDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupDto'
                xml:
                  name: NotificationGroupDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupDto'
                xml:
                  name: NotificationGroupDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Reporting notification groups get
      x-summary-source: derived
    post:
      tags:
      - Reporting/NotificationGroups
      operationId: ReportingNotificationGroups_CreateNewGroup
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
        required: true
      summary: Reporting notification groups create new group
      x-summary-source: derived
  /v1/Reporting/NotificationGroups/{key}:
    get:
      tags:
      - Reporting/NotificationGroups
      operationId: ReportingNotificationGroups_GetGroupByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
      security:
      - Authorization: []
      summary: Reporting notification groups get group by key
      x-summary-source: derived
    put:
      tags:
      - Reporting/NotificationGroups
      operationId: ReportingNotificationGroups_UpdateEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto'
        required: true
      summary: Reporting notification groups update entity
      x-summary-source: derived
    delete:
      tags:
      - Reporting/NotificationGroups
      summary: Used to delete an existing notification group.
      operationId: ReportingNotificationGroups_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/NotificationGroups/AvailableUsers:
    get:
      tags:
      - Reporting/NotificationGroups
      summary: Returns a list of user profiles for the specified UserType that the currently…
      operationId: ReportingNotificationGroups_GetAvailableUsers
      parameters:
      - name: userType
        in: query
        description: The users returned are for this entity..
        required: true
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserDetailDto'
                xml:
                  name: UserDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserDetailDto'
                xml:
                  name: UserDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserDetailDto'
                xml:
                  name: UserDetailDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserDetailDto'
                xml:
                  name: UserDetailDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserDetailDto'
                xml:
                  name: UserDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserDetailDto'
                xml:
                  name: UserDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/NotificationGroups/Simple:
    get:
      tags:
      - Reporting/NotificationGroups
      summary: Gets a simple list of notification groups that the logged in user has access to
      operationId: ReportingNotificationGroups_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/NotificationGroups/UserTypes:
    get:
      tags:
      - Reporting/NotificationGroups
      summary: Returns User Types that the currently logged in user is allowed to setup…
      operationId: ReportingNotificationGroups_GetUserTypes
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                  enum:
                  - Undefined
                  - Payee
                  - BrokerDealer
                  - Wholesaler
                  - Representative
                  - Client
                  - Registration
                  - Account
                  - Asset
                  - Product
                  - Transaction
                  - Distribution
                  - FundFamily
                  - Personal
                  - PayoutSchedule
                  - FeeSchedule
                  - Platform
                  - RIA
                  - Custodian
                  - Journal
                  - SWP
                  - Other
                  - NASD
                  - CashFunding
                  - Bill
                  - BillInstance
                  - BillMasterPayout
                  - Model
                  - NewAccountClient
                  - NewAccountReg
                  - DownloadExclusion
                  - Price
                  - UserDefinedFields
                  - NewAcctUserDef
                  - ManagersMessage
                  - IndexEntry
                  - PerformanceFee
                  - PerformancePayout
                  - NewAccountAsset
                  - Owner
                  - Administrator
                  - OutsideClient
                  - SubAdvisor
                  - ModelRange
                  - FaxCover
                  - Fax
                  - OneTimeDistribution
                  - WebLogin
                  - Plan401k
                  - BillAccountItem
                  - ThirdPartyAdministrator
                  - CrmContact
                  - Participant
                  - PlanSponsor
                  - CRMEmailList
                  - ThirdParty
                  - WorkflowItem
                  - WorkflowAction
                  - ServiceAccount
                  - EntityOption
                  - HouseholdMember
                  - DownloadSymbol
                  - IndexBlend
                  - NABenefit
                  - AggregateModel
                  - CompositeRange
                  - RepAccountManager
                  - ScriptsScrubs
                  - ServiceAccountBrokerDealer
                  - BusinessLine
                  - Blob
                  - AssetClass
                  - ServiceAccountLite
                  - NewAcctUserDefDtl
                  - Branch
                  - AssetLevelStrategy
                  - Report
                  - DataQueries
                  - PriceUnUsed
                  - ModelItem
                  - AssetCategory
                  - RiskCategory
                  - PlatformRange
                  - Dividend
                  - RegistrationType
                  - CustodianCommon
                  - RepState
                  - QpeDashboard
                  - ReportBatch
                  - ModelGroup
                  - ShareClass
                  - DownloadFile
                  - User
                  - DynamicGrouping
                  - ProductType
                  - ProductSubType
                  - InvestmentObjective
                  - PortfolioGroup
                  - OrionRealizedLot
                  - OrionUnrealizedLot
                  - CustodianRealizedLot
                  - CustodianUnrealizedLot
                  - AssetCategoryParent
                  - TaxType
                  - AuditRequest
                  - AuditRequestLetter
                  - ManagedUnmanaged
                  - AuditRowAttachment
                  - InformPolicy
                  - InformAnswerAttachment
                  - UserDetail
                  - BillPayMethod
                  - ModelInclusion
                  - CommunityModel
                  - EclipseModel
                  - Global
                  - ClientCategory
                  - Taxability
                  - Qualified
                  - TaxID
                  - BondState
                  - ProductTaxability
                  - TargetAllocation
                  - RIATable
                  - ProductRegion
                  - ProductPropertyType
                  - ProductManagerAip
                  - MoodyRating
                  - SPRating
                  - BondMaturityYear
                  - InterestRate
                  - RegistrationTaxType
                  - MaturityPeriod
                  - NewHousehold
                  - BillPayoutDashboardPayment
                  - OptionLevel
                  - MarginAgreement
                  - PrimeBrokerage
                  - InformHistoricalDocument
                  - SleeveStrategyAggregate
                  - MorningstarSector
                  - BillEntity
                  - SleeveStrategy
                  - MorningstarGeography
                  - GenericProspect
                  - BillEntityType
                  - AdditionalRep
                  - BillPayoutReport
                  - ProductSubHolding
                  - DownloadSource
                  - ModelVsActual
                  - ProductVintageYear
                  - EclipsePortfolio
                  - Country
                  - Currency
                  - SecurityClassification1
                  - SecurityClassification2
                  - SecurityClassification3
                  - SecurityClassification4
                  - SecurityClassification5
                  - SecurityClassification6
                  - SecurityClassification7
                  - SecurityClassification8
                  - SecurityClassification9
                  - SecurityClassification10
                  - SecurityClassification11
                  - SecurityClassification12
                  - SecurityClassification13
                  - SecurityClassification14
                  - SecurityClassification15
                  - SecurityClassification16
                  - SecurityClassification17
                  - SecurityClassification18
                  - SecurityClassification19
                  - SecurityClassification20
                  - SecurityClassification21
                  - SecurityClassification22
                  - SecurityClassification23
                  - SecurityClassification24
                  - SecurityClassification25
                  - DownloadRecord
                  - CustomGrouping
                  - Cotenant
                  - AllocatedUnrealizedCostBasis
                  - AllocatedRealizedCostBasis
                xml:
                  name: Entity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  type: string
                  enum:
                  - Undefined
                  - Payee
                  - BrokerDealer
                  - Wholesaler
                  - Representative
                  - Client
                  - Registration
                  - Account
                  - Asset
                  - Product
                  - Transaction
                  - Distribution
                  - FundFamily
                  - Personal
                  - PayoutSchedule
                  - FeeSchedule
                  - Platform
                  - RIA
                  - Custodian
                  - Journal
                  - SWP
                  - Other
                  - NASD
                  - CashFunding
                  - Bill
                  - BillInstance
                  - BillMasterPayout
                  - Model
                  - NewAccountClient
                  - NewAccountReg
                  - DownloadExclusion
                  - Price
                  - UserDefinedFields
                  - NewAcctUserDef
                  - ManagersMessage
                  - IndexEntry
                  - PerformanceFee
                  - PerformancePayout
                  - NewAccountAsset
                  - Owner
                  - Administrator
                  - OutsideClient
                  - SubAdvisor
                  - ModelRange
                  - FaxCover
                  - Fax
                  - OneTimeDistribution
                  - WebLogin
                  - Plan401k
                  - BillAccountItem
                  - ThirdPartyAdministrator
                  - CrmContact
                  - Participant
                  - PlanSponsor
                  - CRMEmailList
                  - ThirdParty
                  - WorkflowItem
                  - WorkflowAction
                  - ServiceAccount
                  - EntityOption
                  - HouseholdMember
                  - DownloadSymbol
                  - IndexBlend
                  - NABenefit
                  - AggregateModel
                  - CompositeRange
                  - RepAccountManager
                  - ScriptsScrubs
                  - ServiceAccountBrokerDealer
                  - BusinessLine
                  - Blob
                  - AssetClass
                  - ServiceAccountLite
                  - NewAcctUserDefDtl
                  - Branch
                  - AssetLevelStrategy
                  - Report
                  - DataQueries
                  - PriceUnUsed
                  - ModelItem
                  - AssetCategory
                  - RiskCategory
                  - PlatformRange
                  - Dividend
                  - RegistrationType
                  - CustodianCommon
                  - RepState
                  - QpeDashboard
                  - ReportBatch
                  - ModelGroup
                  - ShareClass
                  - DownloadFile
                  - User
                  - DynamicGrouping
                  - ProductType
                  - ProductSubType
                  - InvestmentObjective
                  - PortfolioGroup
                  - OrionRealizedLot
                  - OrionUnrealizedLot
                  - CustodianRealizedLot
                  - CustodianUnrealizedLot
                  - AssetCategoryParent
                  - TaxType
                  - AuditRequest
                  - AuditRequestLetter
                  - ManagedUnmanaged
                  - AuditRowAttachment
                  - InformPolicy
                  - InformAnswerAttachment
                  - UserDetail
                  - BillPayMethod
                  - ModelInclusion
                  - CommunityModel
                  - EclipseModel
                  - Global
                  - ClientCategory
                  - Taxability
                  - Qualified
                  - TaxID
                  - BondState
                  - ProductTaxability
                  - TargetAllocation
                  - RIATable
                  - ProductRegion
                  - ProductPropertyType
                  - ProductManagerAip
                  - MoodyRating
                  - SPRating
                  - BondMaturityYear
                  - InterestRate
                  - RegistrationTaxType
                  - MaturityPeriod
                  - NewHousehold
                  - BillPayoutDashboardPayment
                  - OptionLevel
                  - MarginAgreement
                  - PrimeBrokerage
                  - InformHistoricalDocument
                  - SleeveStrategyAggregate
                  - MorningstarSector
                  - BillEntity
                  - SleeveStrategy
                  - MorningstarGeography
                  - GenericProspect
                  - BillEntityType
                  - AdditionalRep
                  - BillPayoutReport
                  - ProductSubHolding
                  - DownloadSource
                  - ModelVsActual
                  - ProductVintageYear
                  - EclipsePortfolio
                  - Country
                  - Currency
                  - SecurityClassification1
                  - SecurityClassification2
                  - SecurityClassification3
                  - SecurityClassification4
                  - SecurityClassification5
                  - SecurityClassification6
                  - SecurityClassification7
                  - SecurityClassification8
                  - SecurityClassification9
                  - SecurityClassification10
                  - SecurityClassification11
                  - SecurityClassification12
                  - SecurityClassification13
                  - SecurityClassification14
                  - SecurityClassification15
                  - SecurityClassification16
                  - SecurityClassification17
                  - SecurityClassification18
                  - SecurityClassification19
                  - SecurityClassification20
                  - SecurityClassification21
                  - SecurityClassification22
                  - SecurityClassification23
                  - SecurityClassification24
                  - SecurityClassification25
                  - DownloadRecord
                  - CustomGrouping
                  - Cotenant
                  - AllocatedUnrealizedCostBasis
                  - AllocatedRealizedCostBasis
                xml:
                  name: Entity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  type: string
                  enum:
                  - Undefined
                  - Payee
                  - BrokerDealer
                  - Wholesaler
                  - Representative
                  - Client
                  - Registration
                  - Account
                  - Asset
                  - Product
                  - Transaction
                  - Distribution
                  - FundFamily
                  - Personal
                  - PayoutSchedule
                  - FeeSchedule
                  - Platform
                  - RIA
                  - Custodian
                  - Journal
                  - SWP
                  - Other
                  - NASD
                  - CashFunding
                  - Bill
                  - BillInstance
                  - BillMasterPayout
                  - Model
                  - NewAccountClient
                  - NewAccountReg
                  - DownloadExclusion
                  - Price
                  - UserDefinedFields
                  - NewAcctUserDef
                  - ManagersMessage
                  - IndexEntry
                  - PerformanceFee
                  - PerformancePayout
                  - NewAccountAsset
                  - Owner
                  - Administrator
                  - OutsideClient
                  - SubAdvisor
                  - ModelRange
                  - FaxCover
                  - Fax
                  - OneTimeDistribution
                  - WebLogin
                  - Plan401k
                  - BillAccountItem
                  - ThirdPartyAdministrator
                  - CrmContact
                  - Participant
                  - PlanSponsor
                  - CRMEmailList
                  - ThirdParty
                  - WorkflowItem
                  - WorkflowAction
                  - ServiceAccount
                  - EntityOption
                  - HouseholdMember
                  - DownloadSymbol
                  - IndexBlend
                  - NABenefit
                  - AggregateModel
                  - CompositeRange
                  - RepAccountManager
                  - ScriptsScrubs
                  - ServiceAccountBrokerDealer
                  - BusinessLine
                  - Blob
                  - AssetClass
                  - ServiceAccountLite
                  - NewAcctUserDefDtl
                  - Branch
                  - AssetLevelStrategy
                  - Report
                  - DataQueries
                  - PriceUnUsed
                  - ModelItem
                  - AssetCategory
                  - RiskCategory
                  - PlatformRange
                  - Dividend
                  - RegistrationType
                  - CustodianCommon
                  - RepState
                  - QpeDashboard
                  - ReportBatch
                  - ModelGroup
                  - ShareClass
                  - DownloadFile
                  - User
                  - DynamicGrouping
                  - ProductType
                  - ProductSubType
                  - InvestmentObjective
                  - PortfolioGroup
                  - OrionRealizedLot
                  - OrionUnrealizedLot
                  - CustodianRealizedLot
                  - CustodianUnrealizedLot
                  - AssetCategoryParent
                  - TaxType
                  - AuditRequest
                  - AuditRequestLetter
                  - ManagedUnmanaged
                  - AuditRowAttachment
                  - InformPolicy
                  - InformAnswerAttachment
                  - UserDetail
                  - BillPayMethod
                  - ModelInclusion
                  - CommunityModel
                  - EclipseModel
                  - Global
                  - ClientCategory
                  - Taxability
                  - Qualified
                  - TaxID
                  - BondState
                  - ProductTaxability
                  - TargetAllocation
                  - RIATable
                  - ProductRegion
                  - ProductPropertyType
                  - ProductManagerAip
                  - MoodyRating
                  - SPRating
                  - BondMaturityYear
                  - InterestRate
                  - RegistrationTaxType
                  - MaturityPeriod
                  - NewHousehold
                  - BillPayoutDashboardPayment
                  - OptionLevel
                  - MarginAgreement
                  - PrimeBrokerage
                  - InformHistoricalDocument
                  - SleeveStrategyAggregate
                  - MorningstarSector
                  - BillEntity
                  - SleeveStrategy
                  - MorningstarGeography
                  - GenericProspect
                  - BillEntityType
                  - AdditionalRep
                  - BillPayoutReport
                  - ProductSubHolding
                  - DownloadSource
                  - ModelVsActual
                  - ProductVintageYear
                  - EclipsePortfolio
                  - Country
                  - Currency
                  - SecurityClassification1
                  - SecurityClassification2
                  - SecurityClassification3
                  - SecurityClassification4
                  - SecurityClassification5
                  - SecurityClassification6
                  - SecurityClassification7
                  - SecurityClassification8
                  - SecurityClassification9
                  - SecurityClassification10
                  - SecurityClassification11
                  - SecurityClassification12
                  - SecurityClassification13
                  - SecurityClassification14
                  - SecurityClassification15
                  - SecurityClassification16
                  - SecurityClassification17
                  - SecurityClassification18
                  - SecurityClassification19
                  - SecurityClassification20
                  - SecurityClassification21
                  - SecurityClassification22
                  - SecurityClassification23
                  - SecurityClassification24
                  - SecurityClassification25
                  - DownloadRecord
                  - CustomGrouping
                  - Cotenant
                  - AllocatedUnrealizedCostBasis
                  - AllocatedRealizedCostBasis
                xml:
                  name: Entity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  type: string
                  enum:
                  - Undefined
                  - Payee
                  - BrokerDealer
                  - Wholesaler
                  - Representative
                  - Client
                  - Registration
                  - Account
                  - Asset
                  - Product
                  - Transaction
                  - Distribution
                  - FundFamily
                  - Personal
                  - PayoutSchedule
                  - FeeSchedule
                  - Platform
                  - RIA
                  - Custodian
                  - Journal
                  - SWP
                  - Other
                  - NASD
                  - CashFunding
                  - Bill
                  - BillInstance
                  - BillMasterPayout
                  - Model
                  - NewAccountClient
                  - NewAccountReg
                  - DownloadExclusion
                  - Price
                  - UserDefinedFields
                  - NewAcctUserDef
                  - ManagersMessage
                  - IndexEntry
                  - PerformanceFee
                  - PerformancePayout
                  - NewAccountAsset
                  - Owner
                  - Administrator
                  - OutsideClient
                  - SubAdvisor
                  - ModelRange
                  - FaxCover
                  - Fax
                  - OneTimeDistribution
                  - WebLogin
                  - Plan401k
                  - BillAccountItem
                  - ThirdPartyAdministrator
                  - CrmContact
                  - Participant
                  - PlanSponsor
                  - CRMEmailList
                  - ThirdParty
                  - WorkflowItem
                  - WorkflowAction
                  - ServiceAccount
                  - EntityOption
                  - HouseholdMember
                  - DownloadSymbol
                  - IndexBlend
                  - NABenefit
                  - AggregateModel
                  - CompositeRange
                  - RepAccountManager
                  - ScriptsScrubs
                  - ServiceAccountBrokerDealer
                  - BusinessLine
                  - Blob
                  - AssetClass
                  - ServiceAccountLite
                  - NewAcctUserDefDtl
                  - Branch
                  - AssetLevelStrategy
                  - Report
                  - DataQueries
                  - PriceUnUsed
                  - ModelItem
                  - AssetCategory
                  - RiskCategory
                  - PlatformRange
                  - Dividend
                  - RegistrationType
                  - CustodianCommon
                  - RepState
                  - QpeDashboard
                  - ReportBatch
                  - ModelGroup
                  - ShareClass
                  - DownloadFile
                  - User
                  - DynamicGrouping
                  - ProductType
                  - ProductSubType
                  - InvestmentObjective
                  - PortfolioGroup
                  - OrionRealizedLot
                  - OrionUnrealizedLot
                  - CustodianRealizedLot
                  - CustodianUnrealizedLot
                  - AssetCategoryParent
                  - TaxType
                  - AuditRequest
                  - AuditRequestLetter
                  - ManagedUnmanaged
                  - AuditRowAttachment
                  - InformPolicy
                  - InformAnswerAttachment
                  - UserDetail
                  - BillPayMethod
                  - ModelInclusion
                  - CommunityModel
                  - EclipseModel
                  - Global
                  - ClientCategory
                  - Taxability
                  - Qualified
                  - TaxID
                  - BondState
                  - ProductTaxability
                  - TargetAllocation
                  - RIATable
                  - ProductRegion
                  - ProductPropertyType
                  - ProductManagerAip
                  - MoodyRating
                  - SPRating
                  - BondMaturityYear
                  - InterestRate
                  - RegistrationTaxType
                  - MaturityPeriod
                  - NewHousehold
                  - BillPayoutDashboardPayment
                  - OptionLevel
                  - MarginAgreement
                  - PrimeBrokerage
                  - InformHistoricalDocument
                  - SleeveStrategyAggregate
                  - MorningstarSector
                  - BillEntity
                  - SleeveStrategy
                  - MorningstarGeography
                  - GenericProspect
                  - BillEntityType
                  - AdditionalRep
                  - BillPayoutReport
                  - ProductSubHolding
                  - DownloadSource
                  - ModelVsActual
                  - ProductVintageYear
                  - EclipsePortfolio
                  - Country
                  - Currency
                  - SecurityClassification1
                  - SecurityClassification2
                  - SecurityClassification3
                  - SecurityClassification4
                  - SecurityClassification5
                  - SecurityClassification6
                  - SecurityClassification7
                  - SecurityClassification8
                  - SecurityClassification9
                  - SecurityClassification10
                  - SecurityClassification11
                  - SecurityClassification12
                  - SecurityClassification13
                  - SecurityClassification14
                  - SecurityClassification15
                  - SecurityClassification16
                  - SecurityClassification17
                  - SecurityClassification18
                  - SecurityClassification19
                  - SecurityClassification20
                  - SecurityClassification21
                  - SecurityClassification22
                  - SecurityClassification23
                  - SecurityClassification24
                  - SecurityClassification25
                  - DownloadRecord
                  - CustomGrouping
                  - Cotenant
                  - AllocatedUnrealizedCostBasis
                  - AllocatedRealizedCostBasis
                xml:
                  name: Entity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  type: string
                  enum:
                  - Undefined
                  - Payee
                  - BrokerDealer
                  - Wholesaler
                  - Representative
                  - Client
                  - Registration
                  - Account
                  - Asset
                  - Product
                  - Transaction
                  - Distribution
                  - FundFamily
                  - Personal
                  - PayoutSchedule
                  - FeeSchedule
                  - Platform
                  - RIA
                  - Custodian
                  - Journal
                  - SWP
                  - Other
                  - NASD
                  - CashFunding
                  - Bill
                  - BillInstance
                  - BillMasterPayout
                  - Model
                  - NewAccountClient
                  - NewAccountReg
                  - DownloadExclusion
                  - Price
                  - UserDefinedFields
                  - NewAcctUserDef
                  - ManagersMessage
                  - IndexEntry
                  - PerformanceFee
                  - PerformancePayout
                  - NewAccountAsset
                  - Owner
                  - Administrator
                  - OutsideClient
                  - SubAdvisor
                  - ModelRange
                  - FaxCover
                  - Fax
                  - OneTimeDistribution
                  - WebLogin
                  - Plan401k
                  - BillAccountItem
                  - ThirdPartyAdministrator
                  - CrmContact
                  - Participant
                  - PlanSponsor
                  - CRMEmailList
                  - ThirdParty
                  - WorkflowItem
                  - WorkflowAction
                  - ServiceAccount
                  - EntityOption
                  - HouseholdMember
                  - DownloadSymbol
                  - IndexBlend
                  - NABenefit
                  - AggregateModel
                  - CompositeRange
                  - RepAccountManager
                  - ScriptsScrubs
                  - ServiceAccountBrokerDealer
                  - BusinessLine
                  - Blob
                  - AssetClass
                  - ServiceAccountLite
                  - NewAcctUserDefDtl
                  - Branch
                  - AssetLevelStrategy
                  - Report
                  - DataQueries
                  - PriceUnUsed
                  - ModelItem
                  - AssetCategory
                  - RiskCategory
                  - PlatformRange
                  - Dividend
                  - RegistrationType
                  - CustodianCommon
                  - RepState
                  - QpeDashboard
                  - ReportBatch
                  - ModelGroup
                  - ShareClass
                  - DownloadFile
                  - User
                  - DynamicGrouping
                  - ProductType
                  - ProductSubType
                  - InvestmentObjective
                  - PortfolioGroup
                  - OrionRealizedLot
                  - OrionUnrealizedLot
                  - CustodianRealizedLot
                  - CustodianUnrealizedLot
                  - AssetCategoryParent
                  - TaxType
                  - AuditRequest
                  - AuditRequestLetter
                  - ManagedUnmanaged
                  - AuditRowAttachment
                  - InformPolicy
                  - InformAnswerAttachment
                  - UserDetail
                  - BillPayMethod
                  - ModelInclusion
                  - CommunityModel
                  - EclipseModel
                  - Global
                  - ClientCategory
                  - Taxability
                  - Qualified
                  - TaxID
                  - BondState
                  - ProductTaxability
                  - TargetAllocation
                  - RIATable
                  - ProductRegion
                  - ProductPropertyType
                  - ProductManagerAip
                  - MoodyRating
                  - SPRating
                  - BondMaturityYear
                  - InterestRate
                  - RegistrationTaxType
                  - MaturityPeriod
                  - NewHousehold
                  - BillPayoutDashboardPayment
                  - OptionLevel
                  - MarginAgreement
                  - PrimeBrokerage
                  - InformHistoricalDocument
                  - SleeveStrategyAggregate
                  - MorningstarSector
                  - BillEntity
                  - SleeveStrategy
                  - MorningstarGeography
                  - GenericProspect
                  - BillEntityType
                  - AdditionalRep
                  - BillPayoutReport
                  - ProductSubHolding
                  - DownloadSource
                  - ModelVsActual
                  - ProductVintageYear
                  - EclipsePortfolio
                  - Country
                  - Currency
                  - SecurityClassification1
                  - SecurityClassification2
                  - SecurityClassification3
                  - SecurityClassification4
                  - SecurityClassification5
                  - SecurityClassification6
                  - SecurityClassification7
                  - SecurityClassification8
                  - SecurityClassification9
                  - SecurityClassification10
                  - SecurityClassification11
                  - SecurityClassification12
                  - SecurityClassification13
                  - SecurityClassification14
                  - SecurityClassification15
                  - SecurityClassification16
                  - SecurityClassification17
                  - SecurityClassification18
                  - SecurityClassification19
                  - SecurityClassification20
                  - SecurityClassification21
                  - SecurityClassification22
                  - SecurityClassification23
                  - SecurityClassification24
                  - SecurityClassification25
                  - DownloadRecord
                  - CustomGrouping
                  - Cotenant
                  - AllocatedUnrealizedCostBasis
                  - AllocatedRealizedCostBasis
                xml:
                  name: Entity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                  enum:
                  - Undefined
                  - Payee
                  - BrokerDealer
                  - Wholesaler
                  - Representative
                  - Client
                  - Registration
                  - Account
                  - Asset
                  - Product
                  - Transaction
                  - Distribution
                  - FundFamily
                  - Personal
                  - PayoutSchedule
                  - FeeSchedule
                  - Platform
                  - RIA
                  - Custodian
                  - Journal
                  - SWP
                  - Other
                  - NASD
                  - CashFunding
                  - Bill
                  - BillInstance
                  - BillMasterPayout
                  - Model
                  - NewAccountClient
                  - NewAccountReg
                  - DownloadExclusion
                  - Price
                  - UserDefinedFields
                  - NewAcctUserDef
                  - ManagersMessage
                  - IndexEntry
                  - PerformanceFee
                  - PerformancePayout
                  - NewAccountAsset
                  - Owner
                  - Administrator
                  - OutsideClient
                  - SubAdvisor
                  - ModelRange
                  - FaxCover
                  - Fax
                  - OneTimeDistribution
                  - WebLogin
                  - Plan401k
                  - BillAccountItem
                  - ThirdPartyAdministrator
                  - CrmContact
                  - Participant
                  - PlanSponsor
                  - CRMEmailList
                  - ThirdParty
                  - WorkflowItem
                  - WorkflowAction
                  - ServiceAccount
                  - EntityOption
                  - HouseholdMember
                  - DownloadSymbol
                  - IndexBlend
                  - NABenefit
                  - AggregateModel
                  - CompositeRange
                  - RepAccountManager
                  - ScriptsScrubs
                  - ServiceAccountBrokerDealer
                  - BusinessLine
                  - Blob
                  - AssetClass
                  - ServiceAccountLite
                  - NewAcctUserDefDtl
                  - Branch
                  - AssetLevelStrategy
                  - Report
                  - DataQueries
                  - PriceUnUsed
                  - ModelItem
                  - AssetCategory
                  - RiskCategory
                  - PlatformRange
                  - Dividend
                  - RegistrationType
                  - CustodianCommon
                  - RepState
                  - QpeDashboard
                  - ReportBatch
                  - ModelGroup
                  - ShareClass
                  - DownloadFile
                  - User
                  - DynamicGrouping
                  - ProductType
                  - ProductSubType
                  - InvestmentObjective
                  - PortfolioGroup
                  - OrionRealizedLot
                  - OrionUnrealizedLot
                  - CustodianRealizedLot
                  - CustodianUnrealizedLot
                  - AssetCategoryParent
                  - TaxType
                  - AuditRequest
                  - AuditRequestLetter
                  - ManagedUnmanaged
                  - AuditRowAttachment
                  - InformPolicy
                  - InformAnswerAttachment
                  - UserDetail
                  - BillPayMethod
                  - ModelInclusion
                  - CommunityModel
                  - EclipseModel
                  - Global
                  - ClientCategory
                  - Taxability
                  - Qualified
                  - TaxID
                  - BondState
                  - ProductTaxability
                  - TargetAllocation
                  - RIATable
                  - ProductRegion
                  - ProductPropertyType
                  - ProductManagerAip
                  - MoodyRating
                  - SPRating
                  - BondMaturityYear
                  - InterestRate
                  - RegistrationTaxType
                  - MaturityPeriod
                  - NewHousehold
                  - BillPayoutDashboardPayment
                  - OptionLevel
                  - MarginAgreement
                  - PrimeBrokerage
                  - InformHistoricalDocument
                  - SleeveStrategyAggregate
                  - MorningstarSector
                  - BillEntity
                  - SleeveStrategy
                  - MorningstarGeography
                  - GenericProspect
                  - BillEntityType
                  - AdditionalRep
                  - BillPayoutReport
                  - ProductSubHolding
                  - DownloadSource
                  - ModelVsActual
                  - ProductVintageYear
                  - EclipsePortfolio
                  - Country
                  - Currency
                  - SecurityClassification1
                  - SecurityClassification2
                  - SecurityClassification3
                  - SecurityClassification4
                  - SecurityClassification5
                  - SecurityClassification6
                  - SecurityClassification7
                  - SecurityClassification8
                  - SecurityClassification9
                  - SecurityClassification10
                  - SecurityClassification11
                  - SecurityClassification12
                  - SecurityClassification13
                  - SecurityClassification14
                  - SecurityClassification15
                  - SecurityClassification16
                  - SecurityClassification17
                  - SecurityClassification18
                  - SecurityClassification19
                  - SecurityClassification20
                  - SecurityClassification21
                  - SecurityClassification22
                  - SecurityClassification23
                  - SecurityClassification24
                  - SecurityClassification25
                  - DownloadRecord
                  - CustomGrouping
                  - Cotenant
                  - AllocatedUnrealizedCostBasis
                  - AllocatedRealizedCostBasis
                xml:
                  name: Entity
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Security.UserDetailDto:
      properties:
        userName:
          type: string
        loginUserId:
          type: string
        userId:
          type: integer
          format: int32
        contactType:
          type: string
          enum:
          - NotApproved
          - Approved
          - MainContact
          - NoLongerWithFirm
        userDetailId:
          type: integer
          format: int32
        selected:
          type: boolean
        userGuid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
      xml:
        name: UserDetailDto
      type: object
    OAS.WebApi.DTO.Reporting.Notification.NotificationGroupFullDto:
      properties:
        members:
          items:
            type: integer
            format: int32
          type: array
        id:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        name:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: NotificationGroupFullDto
      type: object
    OAS.WebApi.DTO.Reporting.Notification.NotificationGroupDto:
      properties:
        id:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        name:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: NotificationGroupDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
