openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Compliance/Disclose API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Compliance/Disclose
paths:
  /v1/Compliance/Disclose/{type}/{asOfDate}:
    post:
      tags:
      - Compliance/Disclose
      summary: Populate ADV/AUM Tiles by type on Disclose Dashboard
      description: 'POST /Compliance/Disclose/ByClientCategory/8-8-2023

        [{

        "label": "RIA",

        "selected": ["test"],

        "entity": 17,

        "searchText": null,

        "hideSection": false,

        "exclude": false

        }]'
      operationId: Disclose_GetAdvAumByTypeAsync
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - None
          - Domestic
          - Discretionary
          - Custodian
          - ByAssetCategory
          - ByClientCategory
          - WrapManaged
          - AdvAum
          - Filing13F
          - FormReport13F
          - AuaAum
          - AuaProducts
          - AdvSloa
          - AdvCustody
          - AuaCustodian
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
          format: date-time
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: restrictDatabaseSelectionWhenImpersonating
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
  /v1/Compliance/Disclose/{type}/{asOfDate}/Detail:
    post:
      tags:
      - Compliance/Disclose
      summary: Detail Result by Type
      description: 'POST /Compliance/Disclose/ByCustodian/8-8-2023/Detail

        [{

        "label": "RIA",

        "selected": ["test"],

        "entity": 17,

        "searchText": null,

        "hideSection": false,

        "exclude": false

        }]'
      operationId: Disclose_GetDetailAsync
      parameters:
      - name: type
        in: path
        description: DiscloseAdvTypeEnum
        required: true
        schema:
          type: string
          enum:
          - None
          - Domestic
          - Discretionary
          - Custodian
          - ByAssetCategory
          - ByClientCategory
          - WrapManaged
          - AdvAum
          - Filing13F
          - FormReport13F
          - AuaAum
          - AuaProducts
          - AdvSloa
          - AdvCustody
          - AuaCustodian
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
  /v1/Compliance/Disclose/{type}/{asOfDate}/Detail/{cacheKey}:
    get:
      tags:
      - Compliance/Disclose
      summary: Retrieve the previously generated slick grid result
      description: GET /Compliance/Disclose/ByClientCategory/8-8-2023/Detail/{cacheKey:guid}
      operationId: Disclose_GetV1ComplianceDiscloseByTypeByAsOfDateDetailByCacheKey
      parameters:
      - name: type
        in: path
        description: DiscloseAdvTypeEnum
        required: true
        schema:
          type: string
          enum:
          - None
          - Domestic
          - Discretionary
          - Custodian
          - ByAssetCategory
          - ByClientCategory
          - WrapManaged
          - AdvAum
          - Filing13F
          - FormReport13F
          - AuaAum
          - AuaProducts
          - AdvSloa
          - AdvCustody
          - AuaCustodian
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
      - name: cacheKey
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Compliance/Disclose/13f/FormReportSummary/{asOfDate}:
    post:
      tags:
      - Compliance/Disclose
      summary: Gets the 13f summary report asynchronous
      description: 'POST /Compliance/Disclose/13f/FormReportSummary/8-8-2023

        [{

        "label": "RIA",

        "selected": ["test"],

        "entity": 17,

        "searchText": null,

        "hideSection": false,

        "exclude": false

        }]'
      operationId: Disclose_Get13FSummaryReportTileAsync
      parameters:
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
          format: date-time
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Disclose13FSummaryReportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Disclose13FSummaryReportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Disclose13FSummaryReportDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Disclose13FSummaryReportDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Disclose13FSummaryReportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Disclose13FSummaryReportDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
  /v1/Compliance/Disclose/13f/InformationSummary/{asOfDate}:
    post:
      tags:
      - Compliance/Disclose
      summary: Populate the 13F Filing Requirements Tile
      description: 'POST /Compliance/Disclose/13f/InformationSummary/8-8-2023

        [{

        "label": "RIA",

        "selected": ["test"],

        "entity": 17,

        "searchText": null,

        "hideSection": false,

        "exclude": false

        }]'
      operationId: Disclose_GetAsync
      parameters:
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
          format: date-time
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Disclose13FDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Disclose13FDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Disclose13FDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Disclose13FDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Disclose13FDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.Disclose13FDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
  /v1/Compliance/Disclose/AdvCategories/AssetCategories:
    get:
      tags:
      - Compliance/Disclose
      operationId: Disclose_GetAdvAssetCategories
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AdvAssetCategoryDto'
                xml:
                  name: AdvAssetCategoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AdvAssetCategoryDto'
                xml:
                  name: AdvAssetCategoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AdvAssetCategoryDto'
                xml:
                  name: AdvAssetCategoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AdvAssetCategoryDto'
                xml:
                  name: AdvAssetCategoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AdvAssetCategoryDto'
                xml:
                  name: AdvAssetCategoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AdvAssetCategoryDto'
                xml:
                  name: AdvAssetCategoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Disclose get adv asset categories
      x-summary-source: derived
  /v1/Compliance/Disclose/AdvCategories/ClientCategories:
    get:
      tags:
      - Compliance/Disclose
      operationId: Disclose_GetAdvClientCategories
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AdvClientCategoryDto'
                xml:
                  name: AdvClientCategoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AdvClientCategoryDto'
                xml:
                  name: AdvClientCategoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AdvClientCategoryDto'
                xml:
                  name: AdvClientCategoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AdvClientCategoryDto'
                xml:
                  name: AdvClientCategoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AdvClientCategoryDto'
                xml:
                  name: AdvClientCategoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AdvClientCategoryDto'
                xml:
                  name: AdvClientCategoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Disclose get adv client categories
      x-summary-source: derived
  /v1/Compliance/Disclose/AdvCategories/ResetAdvAssetCategories:
    put:
      tags:
      - Compliance/Disclose
      operationId: Disclose_UpdateAdvAssetCategoriesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Disclose update adv asset categories async
      x-summary-source: derived
  /v1/Compliance/Disclose/ADVConsolidated/Detail/{asOfDate}:
    post:
      tags:
      - Compliance/Disclose
      summary: Populate ADV Consolidated Tile on Disclose Dashboard
      description: 'POST /Compliance/Disclose/ADVConsolidated/Detail/8-8-2023?resetCache=true

        [{

        "label": "RIA",

        "selected": ["test"],

        "entity": 17,

        "searchText": null,

        "hideSection": false,

        "exclude": false

        }]'
      operationId: Disclose_GetADVConsolidatedAsync
      parameters:
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
          format: date-time
      - name: resetCache
        in: query
        description: Bool to determine if to reset ADV Cache
        required: true
        schema:
          type: boolean
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Compliance.ADVConsolidatedDetailDto'
                xml:
                  name: ADVConsolidatedDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Compliance.ADVConsolidatedDetailDto'
                xml:
                  name: ADVConsolidatedDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Compliance.ADVConsolidatedDetailDto'
                xml:
                  name: ADVConsolidatedDetailDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Compliance.ADVConsolidatedDetailDto'
                xml:
                  name: ADVConsolidatedDetailDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Compliance.ADVConsolidatedDetailDto'
                xml:
                  name: ADVConsolidatedDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.DTO.Compliance.ADVConsolidatedDetailDto'
                xml:
                  name: ADVConsolidatedDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
  /v1/Compliance/Disclose/AdvCustody/{asOfDate}:
    post:
      tags:
      - Compliance/Disclose
      summary: Gets Adv Custody Tile data
      description: 'POST /Compliance/Disclose/AdvCustody/8-8-2023

        [{

        "label": "RIA",

        "selected": ["test"],

        "entity": 17,

        "searchText": null,

        "hideSection": false,

        "exclude": false

        }]'
      operationId: Disclose_GetAdvCustodyAsync
      parameters:
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
          format: date-time
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: restrictDatabaseSelectionWhenImpersonating
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvCustodyDto'
                xml:
                  name: DiscloseAdvCustodyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvCustodyDto'
                xml:
                  name: DiscloseAdvCustodyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvCustodyDto'
                xml:
                  name: DiscloseAdvCustodyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvCustodyDto'
                xml:
                  name: DiscloseAdvCustodyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvCustodyDto'
                xml:
                  name: DiscloseAdvCustodyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvCustodyDto'
                xml:
                  name: DiscloseAdvCustodyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
  /v1/Compliance/Disclose/AdvCustodyTypes:
    get:
      tags:
      - Compliance/Disclose
      summary: Gets Custody Types for Adv
      description: GET /Compliance/Disclose/AdvCustodyTypes
      operationId: Disclose_GetAdvCustodyTypesAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Compliance/Disclose/AdvSloa/{asOfDate}:
    post:
      tags:
      - Compliance/Disclose
      summary: Gets Adv Sloa Tile data
      description: 'POST /Compliance/Disclose/AdvSloa/8-8-2023

        [{

        "label": "RIA",

        "selected": ["test"],

        "entity": 17,

        "searchText": null,

        "hideSection": false,

        "exclude": false

        }]'
      operationId: Disclose_GetAdvSloaAsync
      parameters:
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
          format: date-time
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: restrictDatabaseSelectionWhenImpersonating
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvSloaDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvSloaDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvSloaDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvSloaDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvSloaDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvSloaDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
  /v1/Compliance/Disclose/AUA/{asOfDate}:
    post:
      tags:
      - Compliance/Disclose
      summary: Populate ADV AUM Tile on Disclose Dashboard
      description: 'POST /Compliance/Disclose/AUA/8-8-2023

        [{

        "label": "RIA",

        "selected": ["test"],

        "entity": 17,

        "searchText": null,

        "hideSection": false,

        "exclude": false

        }]'
      operationId: Disclose_GetAuaAsync
      parameters:
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
          format: date-time
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAuaAumDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAuaAumDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAuaAumDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAuaAumDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAuaAumDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAuaAumDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
  /v1/Compliance/Disclose/AUAProducts/{asOfDate}:
    post:
      tags:
      - Compliance/Disclose
      summary: Populate AUA Products Tile on Disclose Dashboard
      description: 'POST /Compliance/Disclose/AUAProducts/8-8-2023

        [{

        "label": "RIA",

        "selected": ["test"],

        "entity": 17,

        "searchText": null,

        "hideSection": false,

        "exclude": false

        }]'
      operationId: Disclose_GetAuaProductsAsync
      parameters:
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
          format: date-time
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAuaProductDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAuaProductDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAuaProductDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAuaProductDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAuaProductDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAuaProductDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
  /v1/Compliance/Disclose/AUM/{asOfDate}:
    post:
      tags:
      - Compliance/Disclose
      summary: Populate ADV AUM Tile on Disclose Dashboard
      description: 'POST /Compliance/Disclose/AUM/8-8-2023

        [{

        "label": "RIA",

        "selected": ["test"],

        "entity": 17,

        "searchText": null,

        "hideSection": false,

        "exclude": false

        }]'
      operationId: Disclose_GetAumAsync
      parameters:
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
          format: date-time
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: restrictDatabaseSelectionWhenImpersonating
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvAumDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvAumDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvAumDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvAumDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvAumDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DiscloseAdvAumDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
  /v1/Compliance/Disclose/Detail/{type}:
    put:
      tags:
      - Compliance/Disclose
      summary: Update Account Status
      description: 'PUT /Compliance/Disclose/Detail/AuaAum

        {

        "AlClientId": 493,

        "Ids": [1, 2],

        "Field": "Test",

        "Value": "Value Test",

        "AsOfDate": "8-8-2023"

        }'
      operationId: Disclose_MassUpdateValuesAsync
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - None
          - Domestic
          - Discretionary
          - Custodian
          - ByAssetCategory
          - ByClientCategory
          - WrapManaged
          - AdvAum
          - Filing13F
          - FormReport13F
          - AuaAum
          - AuaProducts
          - AdvSloa
          - AdvCustody
          - AuaCustodian
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.DiscloseController.AdvDetailUpdateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.DiscloseController.AdvDetailUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.DiscloseController.AdvDetailUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.DiscloseController.AdvDetailUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.DiscloseController.AdvDetailUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.DiscloseController.AdvDetailUpdateDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.DiscloseController.AdvDetailUpdateDto'
        required: true
  /v1/Compliance/Disclose/Discretionary/{asOfDate}:
    post:
      tags:
      - Compliance/Disclose
      summary: Populate ADV Discretionary Tile on Disclose Dashboard
      description: 'POST /Compliance/Disclose/Discretionary/8-8-2023

        [{

        "label": "RIA",

        "selected": ["test"],

        "entity": 17,

        "searchText": null,

        "hideSection": false,

        "exclude": false

        }]'
      operationId: Disclose_GetAdvDiscretionaryAsync
      parameters:
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
          format: date-time
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: restrictDatabaseSelectionWhenImpersonating
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
  /v1/Compliance/Disclose/Domestic/{asOfDate}:
    post:
      tags:
      - Compliance/Disclose
      summary: Populate ADV Domestic vs Foreign Tile on Disclose Dashboard
      description: 'POST /Compliance/Disclose/Domestic/8-8-2023

        [{

        "label": "RIA",

        "selected": ["test"],

        "entity": 17,

        "searchText": null,

        "hideSection": false,

        "exclude": false

        }]'
      operationId: Disclose_GetAdvDomesticAsync
      parameters:
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
          format: date-time
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: restrictDatabaseSelectionWhenImpersonating
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
  /v1/Compliance/Disclose/FormReport13F/{asOfDate}/XML:
    post:
      tags:
      - Compliance/Disclose
      summary: 13F Reporting XML Output
      description: POST /Compliance/Disclose/FormReport13F/8-8-2023/XML
      operationId: Disclose_Get13fXml
      parameters:
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
  /v1/Compliance/Disclose/NeedEmployeeHouseholdsBanner:
    get:
      tags:
      - Compliance/Disclose
      summary: Checks if user has access to Employee Households
      description: GET /Compliance/Disclose/NeedEmployeeHouseholdsBanner
      operationId: Disclose_NeedEmployeeHouseholdsBanner
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Compliance/Disclose/UserAdvFilters:
    post:
      tags:
      - Compliance/Disclose
      summary: Update Adv or Aua Filter Settings from Compliance
      description: 'POST /Compliance/Disclose/UserAdvFilters

        [{

        "Entity": 16,

        "Exclude": false

        "HideSelection": false,

        "SearchText": null,

        "Selected": ["Aggressive"],

        "SelectedDatabases": []

        }]'
      operationId: Disclose_SaveUserAdvFiltersAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: object
          application/json:
            schema:
              type: object
          text/json:
            schema:
              type: object
          application/xml:
            schema:
              type: object
          text/xml:
            schema:
              type: object
          application/x-www-form-urlencoded:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        required: true
  /v1/Compliance/Disclose/WrapManaged/{asOfDate}:
    post:
      tags:
      - Compliance/Disclose
      summary: Populate ADV Wrap Managed Tile on Disclose Dashboard
      description: 'POST /Compliance/Disclose/WrapManaged/8-8-2023

        [{

        "label": "RIA",

        "selected": ["test"],

        "entity": 17,

        "searchText": null,

        "hideSection": false,

        "exclude": false

        }]'
      operationId: Disclose_GetAdvWrapManagedAsync
      parameters:
      - name: asOfDate
        in: path
        description: Used to filter data by a specific date
        required: true
        schema:
          type: string
          format: date-time
      - name: isSubClient
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: restrictDatabaseSelectionWhenImpersonating
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto'
                xml:
                  name: DisclosDashboardEntityDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        description: Various additional filters with toggles for exclude/include
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Compliance.DiscloseAuaProductDto:
      properties:
        products:
          type: integer
          format: int32
        assets:
          type: integer
          format: int32
      xml:
        name: DiscloseAuaProductDto
      type: object
    OAS.DataProcess.DTO.Compliance.ADVConsolidatedDetailDto:
      properties:
        databaseId:
          type: integer
          format: int32
        database:
          type: string
        asOfDate:
          type: string
          format: date-time
        pkClient:
          type: integer
          format: int32
        clientName:
          type: string
        pkRegistration:
          type: integer
          format: int32
        registrationName:
          type: string
        pkAccount:
          type: integer
          format: int32
        isActive:
          type: boolean
        isSleeveAccount:
          type: boolean
        sma:
          type: boolean
        fkRep:
          type: integer
          format: int32
        representative:
          type: string
        fkPlatform:
          type: integer
          format: int32
        managementStyle:
          type: string
        fkRia:
          type: integer
          format: int32
        ria:
          type: string
        fkCustodian:
          type: integer
          format: int32
        custodian:
          type: string
        fkClientCat:
          type: integer
          format: int32
        clientCategory:
          type: string
        fkRegistrationType:
          type: integer
          format: int32
        registrationType:
          type: string
        fkBrokerDealer:
          type: integer
          format: int32
        brokerDealer:
          type: string
        fkSubAdvisor:
          type: integer
          format: int32
        subAdvisor:
          type: string
        fkBusinessLine:
          type: integer
          format: int32
        businessLine:
          type: string
        fkAdvCustodyType:
          type: integer
          format: int32
        custodyTypeName:
          type: string
        fkModelAgg:
          type: integer
          format: int32
        aggregationName:
          type: string
        discretionary:
          type: string
        accountStatus:
          type: string
        isAdvReportable:
          type: boolean
        isWrapManaged:
          type: boolean
        isWrapSponsored:
          type: boolean
        aum:
          type: number
          format: double
        smA_AUM:
          type: number
          format: double
        accruedInterest:
          type: number
          format: double
        advClientCategory:
          type: string
        generatedAt:
          type: string
          format: date-time
      xml:
        name: ADVConsolidatedDetailDto
      type: object
    OAS.WebApi.DTO.Compliance.Disclose13FDto:
      properties:
        equityValue:
          type: number
          format: double
        productListUpdate:
          type: string
          format: date-time
      xml:
        name: Disclose13FDto
      type: object
    OAS.WebApi.DTO.Compliance.ComplianceFilterDto:
      properties:
        label:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        selected:
          items:
            type: object
          type: array
        selectedIds:
          items:
            type: integer
            format: int32
          type: array
        hideSection:
          type: boolean
        exclude:
          type: boolean
      xml:
        name: ComplianceFilterDto
      type: object
    OAS.WebApi.DTO.Compliance.DiscloseAuaAumDto:
      properties:
        aum:
          type: number
          format: double
        accounts:
          type: integer
          format: int32
        registrations:
          type: integer
          format: int32
        clients:
          type: integer
          format: int32
      xml:
        name: DiscloseAuaAumDto
      type: object
    OAS.WebApi.DTO.Compliance.AdvClientCategoryDto:
      properties:
        id:
          type: integer
          format: int32
        description:
          type: string
      xml:
        name: AdvClientCategoryDto
      type: object
    OAS.WebApi.DTO.Compliance.AdvAssetCategoryDto:
      properties:
        id:
          type: integer
          format: int32
        description:
          type: string
      xml:
        name: AdvAssetCategoryDto
      type: object
    OAS.WebApi.DTO.Compliance.DisclosDashboardEntityDto:
      properties:
        label:
          type: string
        aum:
          type: number
          format: double
        count:
          type: integer
          format: int32
        percentage:
          type: number
          format: double
      xml:
        name: DisclosDashboardEntityDto
      type: object
    OAS.WebApi.Domains.Compliance.DiscloseController.AdvDetailUpdateDto:
      properties:
        alClientId:
          type: integer
          format: int32
        ids:
          items:
            type: integer
            format: int32
          type: array
        field:
          type: string
        value:
          type: string
        asOfDate:
          type: string
          format: date-time
      xml:
        name: AdvDetailUpdateDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Compliance.DiscloseAdvAumDto:
      properties:
        aum:
          type: number
          format: double
        smaAum:
          type: number
          format: double
        accounts:
          type: integer
          format: int32
        registrations:
          type: integer
          format: int32
        clients:
          type: integer
          format: int32
      xml:
        name: DiscloseAdvAumDto
      type: object
    OAS.WebApi.DTO.Compliance.Disclose13FSummaryReportDto:
      properties:
        tableMarketValue:
          type: number
          format: double
        tableEntryTotal:
          type: integer
          format: int32
      xml:
        name: Disclose13FSummaryReportDto
      type: object
    OAS.WebApi.DTO.Compliance.DiscloseAdvSloaDto:
      properties:
        aum:
          type: number
          format: double
        totalActiveSloas:
          type: integer
          format: int32
        numberOfHouseholds:
          type: integer
          format: int32
        numberOfAccounts:
          type: integer
          format: int32
      xml:
        name: DiscloseAdvSloaDto
      type: object
    OAS.WebApi.DTO.Compliance.DiscloseAdvCustodyDto:
      properties:
        custodyTypeId:
          type: integer
          format: int32
        label:
          type: string
        totalAccounts:
          type: integer
          format: int32
        households:
          type: integer
          format: int32
        custodyDollars:
          type: number
          format: double
      xml:
        name: DiscloseAdvCustodyDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
