openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Workflow Process Instances API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/WorkflowProcessInstances
paths:
  /v1/Utility/WorkflowProcessInstances:
    get:
      tags:
      - Utility/WorkflowProcessInstances
      summary: Gets a list of WWorkflow Process Instance that the logged in user has access to
      operationId: WorkflowProcessInstances_Get
      parameters:
      - name: processTypeId
        in: query
        description: Optional.  When provided will only return Workflow Process Types that have the provided Type Id. Overrides processTypeCode.
        required: false
        schema:
          type: integer
          format: int32
      - name: processTypeCode
        in: query
        description: Optional.  When provided will only return Workflow Process Types that have the provided Type Code. Overridden by processTypeId.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDto'
                xml:
                  name: WorkflowProcessInstanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDto'
                xml:
                  name: WorkflowProcessInstanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDto'
                xml:
                  name: WorkflowProcessInstanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDto'
                xml:
                  name: WorkflowProcessInstanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDto'
                xml:
                  name: WorkflowProcessInstanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDto'
                xml:
                  name: WorkflowProcessInstanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Utility/WorkflowProcessInstances/{key}:
    get:
      tags:
      - Utility/WorkflowProcessInstances
      summary: Gets the Workflow Process Instance that has the provided key.
      operationId: WorkflowProcessInstances_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDto'
      security:
      - Authorization: []
    delete:
      tags:
      - Utility/WorkflowProcessInstances
      operationId: WorkflowProcessInstances_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Workflow process instances delete
      x-summary-source: derived
  /v1/Utility/WorkflowProcessInstances/{templetId}:
    put:
      tags:
      - Utility/WorkflowProcessInstances
      summary: Gets the Workflow Process Instance that has the provided key.
      operationId: WorkflowProcessInstances_CreateNewInstance
      parameters:
      - name: templetId
        in: path
        description: Templet Id to base the new instance on
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
  /v1/Utility/WorkflowProcessInstances/Dashboard:
    get:
      tags:
      - Utility/WorkflowProcessInstances
      summary: Gets a list of WWorkflow Process Instance that the logged in user has access to
      operationId: WorkflowProcessInstances_GetDashboard
      parameters:
      - name: processTypeId
        in: query
        description: Optional.  When provided will only return Workflow Process Types that have the provided Type Id. Overrides processTypeCode.
        required: false
        schema:
          type: integer
          format: int32
      - name: processTypeCode
        in: query
        description: Optional.  When provided will only return Workflow Process Types that have the provided Type Code. Overridden by processTypeId.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDashboardDto'
                xml:
                  name: WorkflowProcessInstanceDashboardDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDashboardDto'
                xml:
                  name: WorkflowProcessInstanceDashboardDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDashboardDto'
                xml:
                  name: WorkflowProcessInstanceDashboardDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDashboardDto'
                xml:
                  name: WorkflowProcessInstanceDashboardDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDashboardDto'
                xml:
                  name: WorkflowProcessInstanceDashboardDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDashboardDto'
                xml:
                  name: WorkflowProcessInstanceDashboardDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDto:
      properties:
        id:
          type: integer
          format: int32
        instanceName:
          type: string
      xml:
        name: WorkflowProcessInstanceDto
      type: object
    OAS.WebApi.DTO.Utility.WorkflowProcessInstanceDashboardDto:
      properties:
        id:
          type: integer
          format: int32
        instanceName:
          type: string
        waitingOn:
          type: string
        lastUpdate:
          type: string
          format: date-time
        percentComplete:
          type: number
          format: double
      xml:
        name: WorkflowProcessInstanceDashboardDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
