openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Fee Collection API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/FeeCollection
paths:
  /v1/Billing/FeeCollection/{id}:
    delete:
      tags:
      - Billing/FeeCollection
      operationId: FeeCollection_DeleteFeeCollectionInstanceAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      summary: Fee collection delete fee collection instance async
      x-summary-source: derived
  /v1/Billing/FeeCollection/{id}/Action/BluePay:
    post:
      tags:
      - Billing/FeeCollection
      summary: Sent payment information to bluepay
      description: 'Sample Request

        POST 123/Action/BluePay

        [

        1123,

        1145

        ]'
      operationId: FeeCollection_SendPaymentsToBluePayAsync
      parameters:
      - name: id
        in: path
        description: The fee collection instance id
        required: true
        schema:
          type: integer
          format: int32
      - name: processType
        in: query
        description: How the information will be processed
        required: false
        schema:
          type: string
          enum:
          - None
          - FeeFile
          - Check
          - CreditCard
          - ACH
          - Special
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of payment ids
        required: true
  /v1/Billing/FeeCollection/{id}/Action/FeeFiles:
    post:
      tags:
      - Billing/FeeCollection
      operationId: FeeCollection_GenerateFeeFilesAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      summary: Fee collection generate fee files async
      x-summary-source: derived
  /v1/Billing/FeeCollection/{id}/Action/Payments:
    post:
      tags:
      - Billing/FeeCollection
      summary: Fee collection post payments async
      operationId: FeeCollection_PostPaymentsAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      x-summary-source: derived
  /v1/Billing/FeeCollection/{id}/Action/Refresh:
    post:
      tags:
      - Billing/FeeCollection
      operationId: FeeCollection_UpdateInstanceDetailsAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      summary: Fee collection update instance details async
      x-summary-source: derived
  /v1/Billing/FeeCollection/{id}/Details:
    get:
      tags:
      - Billing/FeeCollection
      operationId: FeeCollection_GetDetails
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: payType
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - FeeFile
          - Check
          - CreditCard
          - ACH
          - Special
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - NotSent
          - Sent
          - Paid
          - Error
          - ValidationRequired
          - Rollback
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailDto'
                xml:
                  name: BillFeeCollectDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailDto'
                xml:
                  name: BillFeeCollectDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailDto'
                xml:
                  name: BillFeeCollectDetailDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailDto'
                xml:
                  name: BillFeeCollectDetailDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailDto'
                xml:
                  name: BillFeeCollectDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailDto'
                xml:
                  name: BillFeeCollectDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Fee collection get details
      x-summary-source: derived
  /v1/Billing/FeeCollection/{id}/Details/Counts:
    get:
      tags:
      - Billing/FeeCollection
      operationId: FeeCollection_GetCounts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailCountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailCountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailCountDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailCountDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailCountDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailCountDto'
      security:
      - Authorization: []
      summary: Fee collection get counts
      x-summary-source: derived
  /v1/Billing/FeeCollection/{id}/Details/PayMethod/Counts:
    get:
      tags:
      - Billing/FeeCollection
      operationId: FeeCollection_GetPaymethodCounts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - NotSent
          - Sent
          - Paid
          - Error
          - ValidationRequired
          - Rollback
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailPaymentCountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailPaymentCountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailPaymentCountDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailPaymentCountDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailPaymentCountDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectDetailPaymentCountDto'
      security:
      - Authorization: []
      summary: Fee collection get paymethod counts
      x-summary-source: derived
  /v1/Billing/FeeCollection/Instance:
    post:
      tags:
      - Billing/FeeCollection
      operationId: FeeCollection_CreateInstanceAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectInstanceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectInstanceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectInstanceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectInstanceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectInstanceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectInstanceDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectGeneratorDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectGeneratorDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectGeneratorDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectGeneratorDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectGeneratorDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectGeneratorDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectGeneratorDto'
        required: true
      summary: Fee collection create instance async
      x-summary-source: derived
  /v1/Billing/FeeCollection/Instances:
    get:
      tags:
      - Billing/FeeCollection
      summary: Returns fee collection instance list
      description: 'Sample Request

        GET /Billing/FeeCollection/Instances

        Sample Response

        [

        {

        "id": 2,

        "description": "test",

        "createdDate": "2023-05-23",

        "createdBy": "angelika.lagera",

        "startDate": "2023-05-01",

        "endDate": "2023-05-23"

        }

        ]'
      operationId: FeeCollection_GetInstances
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectInstanceDto'
                xml:
                  name: BillFeeCollectInstanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectInstanceDto'
                xml:
                  name: BillFeeCollectInstanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectInstanceDto'
                xml:
                  name: BillFeeCollectInstanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectInstanceDto'
                xml:
                  name: BillFeeCollectInstanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectInstanceDto'
                xml:
                  name: BillFeeCollectInstanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillFeeCollectInstanceDto'
                xml:
                  name: BillFeeCollectInstanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Billing.BillFeeCollectDetailDto:
      properties:
        id:
          type: integer
          format: int32
        billFeeCollectInstanceId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        clientName:
          type: string
        initialAmount:
          type: number
          format: double
        balanceDue:
          type: number
          format: double
        status:
          type: string
          enum:
          - NotSent
          - Sent
          - Paid
          - Error
          - ValidationRequired
          - Rollback
        error:
          type: string
        billPayType:
          type: string
          enum:
          - FeeFile
          - Indirect
          - Check
          - ACH
          - NonManaged
          - CreditCard
          - Special
          - NoFee
        personalClientName:
          type: string
        custodianCode:
          type: string
        fundName:
          type: string
      xml:
        name: BillFeeCollectDetailDto
      type: object
    OAS.WebApi.DTO.Billing.BillFeeCollectGeneratorDto:
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        description:
          type: string
        databases:
          items:
            type: integer
            format: int32
          type: array
        custodians:
          items:
            type: integer
            format: int32
          type: array
        fundFamilies:
          items:
            type: integer
            format: int32
          type: array
        isFinancialPlanningFee:
          type: boolean
      xml:
        name: BillFeeCollectGeneratorDto
      type: object
    OAS.WebApi.DTO.Billing.BillFeeCollectDetailCountDto:
      properties:
        consolidatedFeeCollectionTotal:
          type: integer
          format: int32
        consolidatedFeeCollectionSent:
          type: integer
          format: int32
        consolidatedFeeCollectionNotSent:
          type: integer
          format: int32
        consolidatedFeeCollectionPaid:
          type: integer
          format: int32
        consolidatedFeeCollectionErrored:
          type: integer
          format: int32
        consolidatedFeeCollectionValidation:
          type: integer
          format: int32
      xml:
        name: BillFeeCollectDetailCountDto
      type: object
    OAS.WebApi.DTO.Billing.BillFeeCollectDetailPaymentCountDto:
      properties:
        consolidatedFeeFileTotal:
          type: integer
          format: int32
        consolidatedCreditCardTotal:
          type: integer
          format: int32
        consolidatedCheckPayTotal:
          type: integer
          format: int32
        consolidatedACHTotal:
          type: integer
          format: int32
        consolidateSpecialTotal:
          type: integer
          format: int32
      xml:
        name: BillFeeCollectDetailPaymentCountDto
      type: object
    OAS.WebApi.DTO.Billing.BillFeeCollectInstanceDto:
      properties:
        id:
          type: integer
          format: int32
        description:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
      xml:
        name: BillFeeCollectInstanceDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
