openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Performance/Attribution Details API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Performance/AttributionDetails
paths:
  /v1/Performance/AttributionDetails:
    get:
      tags:
      - Performance/AttributionDetails
      summary: Gets a list of attribution details that the logged in user has access to
      operationId: AttributionDetails_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailDto'
                xml:
                  name: AttributionDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailDto'
                xml:
                  name: AttributionDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailDto'
                xml:
                  name: AttributionDetailDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailDto'
                xml:
                  name: AttributionDetailDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailDto'
                xml:
                  name: AttributionDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailDto'
                xml:
                  name: AttributionDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Performance/AttributionDetails
      summary: Used to create a new attribution detail
      operationId: AttributionDetails_CreateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
        required: true
  /v1/Performance/AttributionDetails/{key}:
    get:
      tags:
      - Performance/AttributionDetails
      summary: Gets the attribution detail that has the provided key.
      operationId: AttributionDetails_GetByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
      security:
      - Authorization: []
    put:
      tags:
      - Performance/AttributionDetails
      summary: Used to update an existing attribution detail.
      operationId: AttributionDetails_UpdateAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
        required: true
    delete:
      tags:
      - Performance/AttributionDetails
      summary: Used to delete an existing attribution detail.
      operationId: AttributionDetails_DeleteAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Performance/AttributionDetails/Benchmark/{key}:
    get:
      tags:
      - Performance/AttributionDetails
      summary: Gets the attribution detail that has the provided benchmark key.
      operationId: AttributionDetails_GetByBenchmarkKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
  /v1/Performance/AttributionDetails/New:
    get:
      tags:
      - Performance/AttributionDetails
      summary: Gets the attribution detail that has the provided key.
      operationId: AttributionDetails_GetNewVerbose
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailFullDto'
      security:
      - Authorization: []
  /v1/Performance/AttributionDetails/Simple:
    get:
      tags:
      - Performance/AttributionDetails
      summary: Gets a simple list of attribution details that the logged in user has access to
      operationId: AttributionDetails_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Performance.AttributionDetailTimeframeDto:
      properties:
        id:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
        allocations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailAllocationDto'
          xml:
            name: AttributionDetailAllocationDto
            wrapped: true
          type: array
      xml:
        name: AttributionDetailTimeframeDto
      type: object
    OAS.WebApi.DTO.Performance.AttributionDetailFullDto:
      properties:
        timeframes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.AttributionDetailTimeframeDto'
          xml:
            name: AttributionDetailTimeframeDto
            wrapped: true
          type: array
        id:
          type: integer
          format: int32
        name:
          type: string
        groupingSelection:
          type: string
          enum:
          - AssetClass
          - AssetCategory
        auditedBy:
          type: string
        auditedDate:
          type: string
          format: date-time
      xml:
        name: AttributionDetailFullDto
      type: object
    OAS.WebApi.DTO.Portfolio.BenchmarkDto:
      properties:
        id:
          type: integer
          format: int32
        type:
          type: string
        key:
          readOnly: true
          type: string
        name:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: BenchmarkDto
      type: object
    OAS.WebApi.DTO.Performance.AttributionDetailAllocationDto:
      properties:
        id:
          type: integer
          format: int32
        entityId:
          type: integer
          format: int32
        entityType:
          type: string
          enum:
          - AssetClass
          - AssetCategory
        entityName:
          type: string
        weight:
          type: number
          format: double
        benchmark:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BenchmarkDto'
      xml:
        name: AttributionDetailAllocationDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Performance.AttributionDetailDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        groupingSelection:
          type: string
          enum:
          - AssetClass
          - AssetCategory
        auditedBy:
          type: string
        auditedDate:
          type: string
          format: date-time
      xml:
        name: AttributionDetailDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
