openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Rep Exp Trading/{entity} API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: RepExpTrading/{entity}
paths:
  /v1/RepExpTrading/{entity}/{entityId}/PortfolioCompare/ModelDeviation:
    post:
      tags:
      - RepExpTrading/{entity}
      operationId: PortfolioCompareModelDeviation_CalculateModelDeviationAsync
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      - name: entityId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: scenarioType
        in: query
        required: true
        schema:
          type: string
          enum:
          - Rebalance
          - ChangeAllocation
          - RaiseCash
          - DepositCash
      - name: isSleeved
        in: query
        required: true
        schema:
          type: boolean
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.CompareToolModelDeviationRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.CompareToolModelDeviationRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.CompareToolModelDeviationRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.CompareToolModelDeviationRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.CompareToolModelDeviationRequestDto'
        required: true
      summary: Portfolio compare model deviation calculate model deviation async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Trading.ModelItemFullDto:
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        productName:
          type: string
        productClass:
          type: string
        ticker:
          type: string
        targetPercent:
          type: number
          format: double
        itemTol:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        itemTolUpper:
          type: number
          format: double
        itemTolLower:
          type: number
          format: double
        oub:
          type: number
          format: double
        modelAggId:
          type: integer
          format: int32
        productRiskScore:
          type: integer
          format: int32
      xml:
        name: ModelItemFullDto
      type: object
    OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.Rebalance.Response.Trade:
      properties:
        ocSecurityId:
          type: integer
          format: int32
        securityName:
          type: string
        category:
          type: string
        assetClass:
          type: string
        securitySymbol:
          type: string
        securityId:
          type: integer
          format: int32
        portfolioId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        orionConnectAccountId:
          type: integer
          format: int32
        accountNumber:
          type: string
        custodianId:
          type: integer
          format: int32
        modelId:
          type: integer
          format: int32
        positionId:
          type: integer
          format: int32
        advisorId:
          type: integer
          format: int32
        shares:
          type: number
          format: double
        orderPercent:
          type: number
          format: double
        pricePerUnit:
          type: number
          format: double
        tradeAmount:
          type: number
          format: double
        action:
          type: string
        accountType:
          type: string
        securityType:
          type: string
        moneyMarketTrade:
          type: boolean
        isAutoAllocate:
          type: boolean
        isMacTrade:
          type: boolean
        isSMATrade:
          type: boolean
        isEnabled:
          type: boolean
        isDiscardedTrade:
          type: boolean
        isCloseAsset:
          type: boolean
        isTransactionFeeIncluded:
          type: boolean
        isContainingPartialShares:
          type: boolean
        cashValuePostTrade:
          type: number
          format: double
        tradePercentageOfAccount:
          type: number
          format: double
        reinvestDividends:
          type: boolean
        reinvestCapitalGains:
          type: boolean
        reinvestLongTermGains:
          type: boolean
        reinvestShortTermGains:
          type: boolean
        transactionFee:
          type: number
          format: double
        redemptionFee:
          type: number
          format: double
        tradingInstruction:
          type: string
        minTradeAmount:
          type: number
          format: double
        gainLoss:
          $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.GainLossDto'
        sellTradeLots:
          items:
            $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.SellTradeLotsDto'
          xml:
            name: SellTradeLotsDto
            wrapped: true
          type: array
        isSmaTradeable:
          type: string
        rebalanceLevel:
          type: string
        vspInfo:
          type: boolean
        vspDate:
          type: string
          format: date-time
        vspPrice:
          type: number
          format: double
        sellSharesThreshold:
          type: number
          format: double
        tradeTypeId:
          type: integer
          format: int32
        tradeType:
          type: string
        washUnits:
          type: number
          format: double
        washAmount:
          type: number
          format: double
        daysUntilLongTerm:
          type: integer
          format: int32
        tradeOrderMessages:
          items:
            $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.TradeOrderMessageDto'
          xml:
            name: TradeOrderMessageDto
            wrapped: true
          type: array
      xml:
        name: Trade
      type: object
    OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.Rebalance.Response.UnassignedPosition:
      properties:
        ocSecurityId:
          type: integer
          format: int32
        securityName:
          type: string
        category:
          type: string
        assetClass:
          type: string
        accountId:
          type: integer
          format: int32
        positionId:
          type: integer
          format: int32
        holdingAnalyticsId:
          type: integer
          format: int32
        securityStatus:
          type: string
        orionConnectAccountId:
          type: integer
          format: int32
        accountNumber:
          type: string
        securityId:
          type: integer
          format: int32
        marketValue:
          type: number
          format: double
        quantity:
          type: number
          format: double
        originalMarketValue:
          type: number
          format: double
        originalQuantity:
          type: number
          format: double
        currentPercent:
          type: number
          format: double
        postPercent:
          type: number
          format: double
        securitySymbol:
          type: string
        securityPrice:
          type: number
          format: double
        securityType:
          type: string
        isPositionDisallow:
          type: boolean
        accountType:
          type: string
        isCustidialCash:
          type: boolean
        isFixedIncomeTrading:
          type: boolean
      xml:
        name: UnassignedPosition
      type: object
    OAT.Eclipse.Compare.Core.Dtos.GainLossDto:
      properties:
        overallGain:
          type: number
          format: double
        overallLoss:
          type: number
          format: double
        shortTermGain:
          type: number
          format: double
        longTermGain:
          type: number
          format: double
        shortTermLoss:
          type: number
          format: double
        longTermLoss:
          type: number
          format: double
        aggregatedGainLoss:
          type: number
          format: double
      xml:
        name: GainLossDto
      type: object
    OAS.WebApi.DTO.Trading.AccountSleeveMinimalDto:
      properties:
        accountId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        targetAllocation:
          type: number
          format: double
        currentAllocation:
          type: number
          format: double
        currentValue:
          type: number
          format: double
        contributionAllocation:
          type: number
          format: double
        distributionAllocation:
          type: number
          format: double
        toleranceLower:
          type: number
          format: double
        toleranceUpper:
          type: number
          format: double
        modelAgg:
          type: string
        modelAggId:
          type: integer
          format: int32
        modelAggType:
          type: string
          enum:
          - Normal
          - CustomIndex
          - SelfDirected
        modelAggMinimumInvestmentAmount:
          type: number
          format: double
        subAdvisor:
          type: string
        subAdvisorId:
          type: integer
          format: int32
        doNotTrade:
          type: boolean
        modelAggExcludeRebalanceSleeve:
          description: 'Whether the sleeve''s model aggregate is excluded from portfolio rebalance.

            Read-only signal used to force and lock {OAS.WebApi.DTO.Trading.AccountSleeveMinimalDto.DoNotTrade}; the stored value

            remains on the account sleeve.'
          type: boolean
        sleeveStrategyDetailId:
          type: integer
          format: int32
        sleeveStrategy:
          type: string
        sleeveStrategyId:
          type: integer
          format: int32
        sleeveStrategyToleranceLower:
          type: number
          format: double
        sleeveStrategyToleranceUpper:
          type: number
          format: double
        riskScore:
          type: number
          format: double
        modelAllocations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelItemFullDto'
          xml:
            name: ModelItemFullDto
            wrapped: true
          type: array
        assets:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
          xml:
            name: AssetDto
            wrapped: true
          type: array
        defaultSleeve:
          type: boolean
        name:
          type: string
        sleeveType:
          type: string
          enum:
          - Normal sleeve
          - Custodial account
          - Contribution sleeve
          - Distribution sleeve
          - Unmanaged sleeve
        guid:
          type: string
        autoRebalanceSelfDirected:
          type: boolean
        deductFeesFromProductId:
          type: integer
          format: int32
        managementStyle:
          type: string
        managementStyleId:
          type: integer
          format: int32
        deleted:
          type: boolean
        isCustomized:
          type: boolean
      xml:
        name: AccountSleeveMinimalDto
      type: object
    OAT.Eclipse.Compare.Core.Dtos.AccountsDetailDto:
      properties:
        id:
          type: integer
          format: int32
        amount:
          type: number
          format: double
        setAsideCashAmount:
          type: number
          format: double
      xml:
        name: AccountsDetailDto
      type: object
    OAT.Eclipse.Compare.Core.Dtos.SellTradeLotsDto:
      properties:
        taxlotAnalyticsId:
          type: integer
          format: int32
        taxlotId:
          type: integer
          format: int32
        dateAcquired:
          type: string
        amountTraded:
          type: number
          format: double
        taxlotNote:
          type: string
        acquiredPrice:
          type: number
          format: double
        quantity:
          type: number
          format: double
        redemptionFee:
          type: number
          format: double
        taxlotTypeId:
          type: integer
          format: int32
        isEligibleForNormalRedemptionFee:
          type: boolean
        isEligibleForCustodialRedemptionFee:
          type: boolean
        originalTaxlotQuantity:
          type: number
          format: double
        gainLoss:
          $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.GainLossDto'
      xml:
        name: SellTradeLotsDto
      type: object
    OAT.Eclipse.Compare.Core.Dtos.FilterDto:
      properties:
        minimumTradeAmountType:
          type: string
        minimumTradeAmount:
          type: number
          format: double
        allowWashSales:
          type: boolean
        allowShortTermGains:
          type: string
        roundEquityRollup:
          type: boolean
        priorityRanking:
          type: string
        method:
          type: string
        raiseOrSpendFullAmount:
          type: boolean
        isSetAsideCash:
          type: boolean
        rebalanceType:
          type: string
        abilityToStopSalesWithRedemptionFeePenalties:
          type: boolean
        overrideStopTradesWithinXNumberOfDaysOfGoingFromSTGToLTG:
          type: boolean
        stopTradesWithinXNumberOfDaysFromStgToLtg:
          type: integer
          format: int32
        overrideBuyMinimumTransactionAmountFalse:
          type: boolean
        buyMinimumTransactionAmountType:
          type: string
        buyMinimumTransactionAmount:
          type: number
          format: double
        overrideSellMinimumTransactionAmount:
          type: boolean
        sellMinimumTransactionAmountType:
          type: string
        sellMinimumTransactionAmount:
          type: number
          format: double
        overrideBuyMaximumTransactionAmount:
          type: number
          format: double
        buyMaximumTransactionAmountType:
          type: string
        buyMaximumTransactionAmount:
          type: number
          format: double
        overrideSellMaximumTransactionAmount:
          type: boolean
        sellMaximumTransactionAmountType:
          type: string
        sellMaximumTransactionAmount:
          type: number
          format: double
        overrideMinimumInitialBuyTransactionAmount:
          type: boolean
        minimumInitialBuyTransactionAmount:
          type: number
          format: double
        overrideTransactionCostLimit:
          type: boolean
        transactionCostLimit:
          type: number
          format: double
        tacticalRebalanceDoNotSellUnAssignedSecurities:
          type: boolean
        tacticalRebalanceDoNotRebalanceCash:
          type: boolean
        maximumCapitalGainsAllowed:
          type: string
        maxGainAmount:
          type: number
          format: double
        maxGainAmountType:
          type: string
        includeYTDGainLoss:
          type: boolean
        tacticalRebalanceSecurities:
          items:
            type: string
          type: array
        tacticalRebalanceCashProtection:
          type: string
        journalAllExcessCashNeeded:
          type: boolean
        protectSetAsideCashInContributionSleeve:
          type: boolean
        accountIds:
          items:
            type: integer
            format: int32
          type: array
        focusedRebalanceType:
          type: string
        sleeveContributionOrDistributionMethod:
          type: string
        spendCashToolCashProtection:
          type: string
        tradeTolerancePercent:
          type: number
          format: double
        rebalanceTarget:
          type: string
        sleevePortfolioRebalanceTarget:
          type: string
        sleeveTradeTolerancePercent:
          type: number
          format: double
        sleevePortfolioRebalanceLevel:
          type: string
        individualSleeveRebalanceMethod:
          type: string
        liquidateEquivalents:
          type: boolean
        liquidateGroupEquivalents:
          type: boolean
        sleevePortfolioMinCashThreshold:
          type: number
          format: double
        raiseCashIncludeTargetCash:
          type: boolean
        liquidateUnassignedSecurities:
          type: boolean
        rebalanceLevelSetting:
          type: string
        taxSensitivitySetting:
          type: string
        maxShortTermGainAmount:
          type: number
          format: double
        maxShortTermGainAmountType:
          type: string
      xml:
        name: FilterDto
      type: object
    OAT.Eclipse.Compare.Core.Dtos.RebalancerSessionDataDto:
      required:
      - correlationId
      - rebalanceType
      - type
      properties:
        correlationId:
          type: string
        tradeInstanceId:
          type: integer
          format: int32
        ocRequestTime:
          type: string
          format: date-time
        v2UploadRequestTimeToS3:
          type: string
          format: date-time
        firmId:
          type: integer
          format: int32
        modelId:
          type: integer
          format: int32
        tradeOutputFilePath:
          type: string
        success:
          type: boolean
        message:
          type: string
        rebalanceType:
          type: integer
          format: int32
        type:
          type: integer
          format: int32
        fetchData:
          type: boolean
        portfolioId:
          type: integer
          format: int32
        generateTradeLog:
          type: boolean
        cashMethod:
          type: integer
          format: int32
        sleeveAccountMethod:
          type: integer
          format: int32
        sleevePortfolioRebalanceLevel:
          type: integer
          format: int32
        accountsDetail:
          items:
            $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.AccountsDetailDto'
          xml:
            name: AccountsDetailDto
            wrapped: true
          type: array
        useDefaultPreferences:
          type: boolean
        taxSensitivity:
          $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.TaxSensitivityDto'
        filter:
          $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.FilterDto'
        rebalancerTradeLogFilePath:
          type: string
        sleeveAccountIds:
          items:
            type: integer
            format: int32
          type: array
        focusedRebalanceType:
          type: integer
          format: int32
        tradeToolSelectionId:
          type: integer
          format: int32
        tradeInstanceType:
          type: integer
          format: int32
        tradeInstanceSubType:
          type: integer
          format: int32
      xml:
        name: RebalancerSessionDataDto
      type: object
    OAT.Eclipse.Compare.Core.Dtos.TaxSensitivityDto:
      properties:
        id:
          type: integer
          format: int32
        value:
          type: string
        indicatorValue:
          type: string
        optionName:
          type: string
        preferenceDefaultValue:
          type: string
        defaultValue:
          type: string
        relatedType:
          type: integer
          format: int32
        relatedTypeId:
          type: integer
          format: int32
        prefOrder:
          type: integer
          format: int32
      xml:
        name: TaxSensitivityDto
      type: object
    OAT.Eclipse.Compare.Core.Dtos.SecurityHoldingDistributionAnalyticDto:
      properties:
        accountId:
          type: integer
          format: int32
        accountType:
          type: string
        currentAmount:
          type: number
          format: double
        currentPer:
          type: number
          format: double
        postAmount:
          type: number
          format: double
        postPer:
          type: number
          format: double
        currentQuantity:
          type: number
          format: double
        postQuantity:
          type: number
          format: double
        equivalenceLevel:
          type: string
      xml:
        name: SecurityHoldingDistributionAnalyticDto
      type: object
    OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.Rebalance.Response.ModelTargetAnalytics:
      properties:
        ocSecurityId:
          type: integer
          format: int32
        securityId:
          type: integer
          format: int32
        securityName:
          type: string
        category:
          type: string
        assetClass:
          type: string
        equivalenceAnalytics:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.Rebalance.Response.EquivalenceAnalytics'
          xml:
            name: EquivalenceAnalytics
            wrapped: true
          type: array
        nodeId:
          type: integer
          format: int32
        nodeName:
          type: string
        securitySymbol:
          type: string
        nodeIdType:
          type: string
        portfolioId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        parentModelDetailId:
          type: integer
          format: int32
        isSMANode:
          type: boolean
        isMacSecurity:
          type: boolean
        isDoNotBuySellDueToMacRules:
          type: boolean
        effectiveTargetPercentage:
          type: number
          format: double
        effectiveTargetAmount:
          type: number
          format: double
        lowerModelTolerancePercent:
          type: number
          format: double
        lowerModelToleranceAmount:
          type: number
          format: double
        upperModelTolerancePercent:
          type: number
          format: double
        upperModelToleranceAmount:
          type: number
          format: double
        aggregatedPostAmount:
          type: number
          format: double
        aggregatedPostPer:
          type: number
          format: double
        aggregatedCurrentAmount:
          type: number
          format: double
        aggregatedCurrentPer:
          type: number
          format: double
        postAmount:
          type: number
          format: double
        postPer:
          type: number
          format: double
        currentAmount:
          type: number
          format: double
        currentPer:
          type: number
          format: double
        macWeightPercentage:
          type: number
          format: double
        assetMACWeightingName:
          type: string
        isExcluded:
          type: boolean
        postQuantity:
          type: number
          format: double
        currentQuantity:
          type: number
          format: double
        cashEffectivePercent:
          type: number
          format: double
        locationAlternateAnalytics:
          items:
            $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.LocationAlternateAnalyticsDto'
          xml:
            name: LocationAlternateAnalyticsDto
            wrapped: true
          type: array
        securityHoldingDistributionAnalytics:
          items:
            $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.SecurityHoldingDistributionAnalyticDto'
          xml:
            name: SecurityHoldingDistributionAnalyticDto
            wrapped: true
          type: array
      xml:
        name: ModelTargetAnalytics
      type: object
    OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.Rebalance.Response.EquivalenceAnalytics:
      properties:
        securityId:
          type: integer
          format: int32
        securitySymbol:
          type: string
        ocSecurityId:
          type: integer
          format: int32
        securityName:
          type: string
        category:
          type: string
        assetClass:
          type: string
        rebalModelTargetValueId:
          type: integer
          format: int32
        equivalentSecurityId:
          type: integer
          format: int32
        equivalentSymbol:
          type: string
        postAmount:
          type: number
          format: double
        postPer:
          type: number
          format: double
        currentAmount:
          type: number
          format: double
        currentPer:
          type: number
          format: double
        postQuantity:
          type: number
          format: double
        currentQuantity:
          type: number
          format: double
        securityHoldingDistributionAnalytics:
          items:
            $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.SecurityHoldingDistributionAnalyticDto'
          xml:
            name: SecurityHoldingDistributionAnalyticDto
            wrapped: true
          type: array
      xml:
        name: EquivalenceAnalytics
      type: object
    OAT.Eclipse.Compare.Core.Dtos.AccountAnalyticsValueDto:
      properties:
        accountId:
          type: integer
          format: int32
        orionConnectAccountId:
          type: integer
          format: int32
        cashNeedAmount:
          type: number
          format: double
        cashNeedPercent:
          type: number
          format: double
        targetReserveCash:
          type: number
          format: double
        actualReserveCash:
          type: number
          format: double
        targetReserveCashPV:
          type: number
          format: double
        targetSetAsideCash:
          type: number
          format: double
        actualSetAsideCash:
          type: number
          format: double
        setAsideMinCashAmount:
          type: number
          format: double
        setAsideMaxCashAmount:
          type: number
          format: double
        cashTargetDollar:
          type: number
          format: double
        cashTargetPercent:
          type: number
          format: double
        cashValue:
          type: number
          format: double
        cashPercent:
          type: number
          format: double
        pendingValue:
          type: number
          format: double
        pendingValuePercent:
          type: number
          format: double
        pendingCashValue:
          type: number
          format: double
        pendingCashPercentage:
          type: number
          format: double
        accountManagedValue:
          type: number
          format: double
        targetCash:
          type: number
          format: double
        LowTargetBalanceIn$:
          type: number
          format: double
        LowTradeTargetBalanceIn$:
          type: number
          format: double
        UpperTargetBalanceIn$:
          type: number
          format: double
        UppperTradeTargetBalanceIn$:
          type: number
          format: double
        ReserveCashBillingAccount$:
          type: number
          format: double
        sleeveTargetPercent:
          type: number
          format: double
        sleeveLowerTolerancePercent:
          type: number
          format: double
        sleeveUpperTolerancePercent:
          type: number
          format: double
        sleeveTargetDollar:
          type: number
          format: double
        sleeveLowerToleranceDollar:
          type: number
          format: double
        sleeveUpperToleranceDollar:
          type: number
          format: double
        sleeveLowerTradeToleranceDollar:
          type: number
          format: double
        sleeveUpperTradeToleranceDollar:
          type: number
          format: double
        sleeveStatus:
          type: string
      xml:
        name: AccountAnalyticsValueDto
      type: object
    OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.Rebalance.Response.RebalanceResponseDto:
      properties:
        trades:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.Rebalance.Response.Trade'
          xml:
            name: Trade
            wrapped: true
          type: array
        modelTargetAnalytics:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.Rebalance.Response.ModelTargetAnalytics'
          xml:
            name: ModelTargetAnalytics
            wrapped: true
          type: array
        unassignedPositions:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.Rebalance.Response.UnassignedPosition'
          xml:
            name: UnassignedPosition
            wrapped: true
          type: array
        updatedRebalanceType:
          type: string
          enum:
          - PartialLocationOptimization
          - FullLocationOptimization
          - StandardRebalance
          - FocusedRebalance
          - RaiseCash
          - SpendCash
          - CashNeed
          - Analytics
          - FullRebalance
          - FullSleeveRebalance
          - SellRebalance
          - SellRebalanceOversell
          - SellFullRebalance
          - ProRata
          - SellRebalanceTaxSensitive
          - SellRebalanceBestTolerance
          - Current
        sessionData:
          $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.RebalancerSessionDataDto'
        accountAnalyticsValues:
          items:
            $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.AccountAnalyticsValueDto'
          xml:
            name: AccountAnalyticsValueDto
            wrapped: true
          type: array
        portfolioAnalyticsValues:
          $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.PortfolioAnalyticsValueDto'
      xml:
        name: RebalanceResponseDto
      type: object
    OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.CompareToolModelDeviationRequestDto:
      properties:
        accountSleeves:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveMinimalDto'
          xml:
            name: AccountSleeveMinimalDto
            wrapped: true
          type: array
        rebalanceData:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Trading.RepExpTrading.CompareTool.DTO.Rebalance.Response.RebalanceResponseDto'
          xml:
            name: RebalanceResponseDto
            wrapped: true
          type: array
      xml:
        name: CompareToolModelDeviationRequestDto
      type: object
    OAT.Eclipse.Compare.Core.Dtos.TradeOrderMessageDto:
      properties:
        tradeOrderMessageId:
          type: integer
          format: int32
        tradeOrderMessage:
          type: string
        messageArguments:
          items:
            type: string
          type: array
        tradeMessageString:
          type: string
      xml:
        name: TradeOrderMessageDto
      type: object
    OAT.Eclipse.Compare.Core.Dtos.LocationAlternateAnalyticsDto:
      properties:
        rebalModelTargetValueId:
          type: integer
          format: int32
        accountTypeId:
          type: integer
          format: int32
        accountType:
          type: string
        custodianId:
          type: integer
          format: int32
        parentSecurityId:
          type: integer
          format: int32
        locationAlternativeId:
          type: integer
          format: int32
        postAmount:
          type: number
          format: double
        postPer:
          type: number
          format: double
        currentAmount:
          type: number
          format: double
        currentPer:
          type: number
          format: double
        isDoNotBuySellDueToMacRules:
          type: boolean
        postQuantity:
          type: number
          format: double
        currentQuantity:
          type: number
          format: double
        securityHoldingDistributionAnalytics:
          items:
            $ref: '#/components/schemas/OAT.Eclipse.Compare.Core.Dtos.SecurityHoldingDistributionAnalyticDto'
          xml:
            name: SecurityHoldingDistributionAnalyticDto
            wrapped: true
          type: array
      xml:
        name: LocationAlternateAnalyticsDto
      type: object
    OAS.WebApi.DTO.Portfolio.AssetDto:
      properties:
        costBasis:
          type: number
          format: double
        name:
          type: string
        accountNumber:
          type: string
        ticker:
          type: string
        currentShares:
          type: number
          format: double
        currentValue:
          type: number
          format: double
        currentPrice:
          type: number
          format: double
        isManaged:
          type: boolean
        assetClass:
          type: string
        productCategory:
          type: string
        productCategoryAbbreviation:
          type: string
        isCustodialCash:
          type: boolean
        secondaryAccountNumber:
          type: string
        cusip:
          type: string
        productId:
          type: integer
          format: int32
        assetLevelStrategyId:
          type: integer
          format: int32
        assetLevelStrategy:
          type: string
        status:
          type: integer
          format: int32
        isStrategyOverride:
          type: boolean
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        accountId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        isActive:
          type: boolean
        downloadSymbol:
          type: integer
          format: int32
        accountType:
          type: string
        fundFamily:
          type: string
        custodian:
          type: string
        asOfDate:
          type: string
          format: date-time
        registrationName:
          type: string
        managementStyle:
          type: string
        sleeveType:
          type: string
          enum:
          - Normal sleeve
          - Custodial account
          - Contribution sleeve
          - Distribution sleeve
          - Unmanaged sleeve
        productType:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
        productSubType:
          type: string
        isGlobalExcluded:
          type: boolean
        isFeeExcluded:
          type: boolean
        excludeAmountType:
          type: string
          enum:
          - Percent
          - Dollars
          - Shares
        excludeAmount:
          type: number
          format: double
        excludePercentOf:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        excludeFromMargin:
          type: boolean
        isRebalance:
          type: boolean
        isAdvisorOnly:
          type: boolean
        isAdvReportable:
          type: boolean
        is13FReportable:
          type: boolean
        mscsFundAccountNumber:
          type: string
        lastReconDate:
          type: string
          format: date-time
        isOrionVision:
          type: boolean
        assetPercentOfAccount:
          type: number
          format: double
        householdName:
          type: string
        riskCategory:
          type: string
        modelName:
          type: string
        registrationType:
          type: string
        accountStatusId:
          type: integer
          format: int32
        isin:
          type: string
        id:
          type: integer
          format: int32
        isDataSharingEntity:
          type: boolean
      xml:
        name: AssetDto
      type: object
    OAT.Eclipse.Compare.Core.Dtos.PortfolioAnalyticsValueDto:
      properties:
        portfolioId:
          type: integer
          format: int32
        levelOneBuyAmountIn$:
          type: number
          format: double
        portfolioWorthTarget:
          type: number
          format: double
        percentDeviation:
          type: number
          format: double
        cashNeedAmount:
          type: number
          format: double
        cashNeedPercent:
          type: number
          format: double
        targetReserveCash:
          type: number
          format: double
        actualReserveCash:
          type: number
          format: double
        cashTargetDollar:
          type: number
          format: double
        cashTargetPercent:
          type: number
          format: double
        cashValue:
          type: number
          format: double
        cashPercent:
          type: number
          format: double
        pendingValue:
          type: number
          format: double
        pendingValuePercent:
          type: number
          format: double
        pendingCashValue:
          type: number
          format: double
        pendingCashPercentage:
          type: number
          format: double
        outOfTolerance:
          type: boolean
        outOfBalance:
          type: boolean
        modelOUTOfTolerance:
          type: boolean
        cashOutOfTolerance:
          type: boolean
      xml:
        name: PortfolioAnalyticsValueDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
