openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Compliance/Dashboard API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Compliance/Dashboard
paths:
  /v1/Compliance/Dashboard/Inform:
    get:
      tags:
      - Compliance/Dashboard
      summary: Populate the Inform Widget on the Compliance Dashboard
      operationId: CompassDashboard_GetCompassInform
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardInformDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardInformDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardInformDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardInformDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardInformDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardInformDto'
      security:
      - Authorization: []
  /v1/Compliance/Dashboard/OpenAudits:
    post:
      tags:
      - Compliance/Dashboard
      summary: Populate the Verify Widget on the Compliance Dashboard
      operationId: CompassDashboard_GetOpenAuditsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardWidgetDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardWidgetDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardWidgetDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardWidgetDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardWidgetDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardWidgetDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        required: true
  /v1/Compliance/Dashboard/OpenLexisNexis:
    post:
      tags:
      - Compliance/Dashboard
      summary: Populate the Verify Widget on the Compliance Dashboard
      operationId: CompassDashboard_GetLexisNexisAsync
      parameters:
      - name: token
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardVerifyDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardVerifyDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardVerifyDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardVerifyDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardVerifyDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardVerifyDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        required: true
  /v1/Compliance/Dashboard/OpenTests:
    post:
      tags:
      - Compliance/Dashboard
      summary: Populate Supervise on the Compliance Dashboard
      operationId: CompassDashboard_GetOpenTestsAsync
      parameters:
      - name: token
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardTestsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardTestsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardTestsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardTestsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardTestsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.CompassDashboardTestsDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Compliance.CompassDashboardInformDto:
      properties:
        exceptions:
          type: integer
          format: int32
        value:
          type: integer
          format: int64
      xml:
        name: CompassDashboardInformDto
      type: object
    OAS.WebApi.DTO.Compliance.ComplianceFilterDto:
      properties:
        label:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        selected:
          items:
            type: object
          type: array
        selectedIds:
          items:
            type: integer
            format: int32
          type: array
        hideSection:
          type: boolean
        exclude:
          type: boolean
      xml:
        name: ComplianceFilterDto
      type: object
    OAS.WebApi.DTO.Compliance.CompassDashboardWidgetDto:
      properties:
        value:
          type: integer
          format: int64
      xml:
        name: CompassDashboardWidgetDto
      type: object
    OAS.WebApi.DTO.Compliance.CompassDashboardTestsDto:
      properties:
        dailyAlerts:
          type: integer
          format: int32
        value:
          type: integer
          format: int64
      xml:
        name: CompassDashboardTestsDto
      type: object
    OAS.WebApi.DTO.Compliance.CompassDashboardVerifyDto:
      properties:
        lastRunDate:
          type: string
          format: date-time
        value:
          type: integer
          format: int64
      xml:
        name: CompassDashboardVerifyDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
