openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Execution Logs API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/ExecutionLogs
paths:
  /v1/Trading/ExecutionLogs/{asOfDate}:
    get:
      tags:
      - Trading/ExecutionLogs
      operationId: TradeExecutionLogs_GetTradeExecutionLogs
      parameters:
      - name: asOfDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Trade execution logs get trade execution logs
      x-summary-source: derived
  /v1/Trading/ExecutionLogs/Schedules/{asOfDate}:
    get:
      tags:
      - Trading/ExecutionLogs
      operationId: TradeExecutionLogSchedules_GetScheduledJobs
      parameters:
      - name: asOfDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Trade execution log schedules get scheduled jobs
      x-summary-source: derived
  /v1/Trading/ExecutionLogs/Schedules/Action/QueueStatus:
    put:
      tags:
      - Trading/ExecutionLogs
      operationId: TradeExecutionLogSchedules_UpdateScheduledJobs
      parameters:
      - name: status
        in: query
        required: true
        schema:
          type: string
          enum:
          - Unknown
          - Scheduled
          - Processing
          - Success
          - Failed
          - Rescheduled
          - Hold
          - Resume
          - Delete
          - Fail
          - RunNow
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Trade execution log schedules update scheduled jobs
      x-summary-source: derived
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
