openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Public/Request Forgot Password API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Public/RequestForgotPassword
paths:
  /v1/Public/RequestForgotPassword/{key}:
    post:
      tags:
      - Public/RequestForgotPassword
      summary: Posts a request that the user has forgotten their password
      operationId: Public_PostRequestForgotPassword
      parameters:
      - name: key
        in: path
        description: The username or email of the user who forgot their password.
        required: true
        schema:
          type: string
      - name: urlId
        in: query
        description: The id for the url to be provided in the user's email message.  If not provided, it will just send a code to the user
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
