openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Account Statuses API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/AccountStatuses
paths:
  /v1/Portfolio/AccountStatuses:
    get:
      tags:
      - Portfolio/AccountStatuses
      summary: Get all account statuses
      operationId: AccountStatuses_GetAll
      parameters:
      - name: displayAll
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountStatusDto'
                xml:
                  name: SimpleAccountStatusDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountStatusDto'
                xml:
                  name: SimpleAccountStatusDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountStatusDto'
                xml:
                  name: SimpleAccountStatusDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountStatusDto'
                xml:
                  name: SimpleAccountStatusDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountStatusDto'
                xml:
                  name: SimpleAccountStatusDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountStatusDto'
                xml:
                  name: SimpleAccountStatusDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.SimpleAccountStatusDto:
      properties:
        description:
          type: string
        isVisible:
          type: boolean
        includeInBusinessMetrics:
          type: boolean
        isDownloading:
          type: boolean
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleAccountStatusDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
