openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Schwab Batch API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/SchwabBatch
paths:
  /v1/Integrations/SchwabBatch/Beneficiaries:
    get:
      tags:
      - Integrations/SchwabBatch
      operationId: SchwabBatch_GetBeneficiariesAsync
      parameters:
      - name: batchId
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Schwab batch get beneficiaries async
      x-summary-source: derived
  /v1/Integrations/SchwabBatch/GetRmdEnrollment:
    get:
      tags:
      - Integrations/SchwabBatch
      operationId: SchwabBatch_GetRmdEnrollmentAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Schwab batch get rmd enrollment async
      x-summary-source: derived
  /v1/Integrations/SchwabBatch/RMD:
    get:
      tags:
      - Integrations/SchwabBatch
      operationId: SchwabBatch_GetRMDAsucnAsync
      parameters:
      - name: batchId
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Schwab batch get RMD asucn async
      x-summary-source: derived
  /v1/Integrations/SchwabBatch/RmdEnroll:
    get:
      tags:
      - Integrations/SchwabBatch
      operationId: SchwabBatch_RmdEnrollAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Schwab batch rmd enroll async
      x-summary-source: derived
  /v1/Integrations/SchwabBatch/RmdUnEnroll:
    get:
      tags:
      - Integrations/SchwabBatch
      operationId: SchwabBatch_RmdUnEnrollAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Schwab batch rmd un enroll async
      x-summary-source: derived
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
