openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Settings/Entity Options API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Settings/EntityOptions
paths:
  /v1/Settings/EntityOptions/{entity}:
    put:
      tags:
      - Settings/EntityOptions
      operationId: EntityEntityOptions_UpdateEntityOptionsAsync
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
              xml:
                name: EntityOptionDto
                wrapped: true
              type: array
        required: true
      summary: Entity entity options update entity options async
      x-summary-source: derived
  /v1/Settings/EntityOptions/{entity}/{entityId}:
    get:
      tags:
      - Settings/EntityOptions
      summary: Gets a list of entity options that the logged in user has access to
      operationId: EntityEntityOptions_GetAsync
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        description: The id of the entity to return options for.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/EntityOptions/{entity}/{entityId}/{code}/Value:
    get:
      tags:
      - Settings/EntityOptions
      summary: Simple Only gets the entity setting value and type, no other properties
      operationId: EntityEntityOptions_GetEntityOptionValueAsync
      parameters:
      - name: entity
        in: path
        description: The level of entity to retrieve (ex. Database, Representative, Client etc.)
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        description: The ID for the selected entity level (use 0 for database)
        required: true
        schema:
          type: integer
          format: int32
      - name: code
        in: path
        description: The Unique Option Code.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
      security:
      - Authorization: []
    put:
      tags:
      - Settings/EntityOptions
      summary: Simple - Only updates the entity setting value
      operationId: EntityEntityOptions_UpdateEntityOptionValueAsync
      parameters:
      - name: entity
        in: path
        description: The level of entity to retrieve (ex. Database, Representative, Client etc.)
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        description: The ID for the selected entity level (use 0 for database)
        required: true
        schema:
          type: integer
          format: int32
      - name: code
        in: path
        description: The Unique Option Code.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionValueDto'
        description: The new value to be updated.
        required: true
  /v1/Settings/EntityOptions/{entity}/{entityId}/{userDefineDefinitionId}:
    get:
      tags:
      - Settings/EntityOptions
      summary: Gets the entity option that has the provided key.
      operationId: EntityEntityOptions_GetV1SettingsEntityOptionsByEntityByEntityIdByUserDefineDefinitionId
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        description: The id of the entity to return options for.
        required: true
        schema:
          type: integer
          format: int32
      - name: userDefineDefinitionId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
    delete:
      tags:
      - Settings/EntityOptions
      summary: Deletes the user established value for the provided entity option
      operationId: EntityEntityOptions_DeleteAsync
      parameters:
      - name: entity
        in: path
        description: The kind of entity.
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        description: The id of the entity.
        required: true
        schema:
          type: integer
          format: int32
      - name: userDefineDefinitionId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
  /v1/Settings/EntityOptions/{entity}/{entityId}/Categories:
    get:
      tags:
      - Settings/EntityOptions
      summary: Gets the list categories for the database entity options
      operationId: EntityEntityOptions_GetCategoriesAsync
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        description: The id of the entity to return options for.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                type: array
      security:
      - Authorization: []
  /v1/Settings/EntityOptions/{entity}/{entityId}/Categories/{category}:
    get:
      tags:
      - Settings/EntityOptions
      summary: Gets the list of entity options that have the provided category
      operationId: EntityEntityOptions_GetByCategoryAsync
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        description: The id of the entity to return options for.
        required: true
        schema:
          type: integer
          format: int32
      - name: category
        in: path
        description: Category of the desired return objects.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/EntityOptions/{entity}/{entityId}/Code/{code}:
    get:
      tags:
      - Settings/EntityOptions
      summary: Gets the entity option that has the provided code.
      operationId: EntityEntityOptions_GetByCodeAsync
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        description: The id of the entity to return options for.
        required: true
        schema:
          type: integer
          format: int32
      - name: code
        in: path
        description: Code of the desired return object.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
    delete:
      tags:
      - Settings/EntityOptions
      summary: Deletes the user established value for the provided entity option
      operationId: EntityEntityOptions_DeleteByCodeAsync
      parameters:
      - name: entity
        in: path
        description: The kind of entity.
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        description: The id of the entity.
        required: true
        schema:
          type: integer
          format: int32
      - name: code
        in: path
        description: The code of the entity option.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
  /v1/Settings/EntityOptions/{entity}/{entityId}/Codes:
    post:
      tags:
      - Settings/EntityOptions
      operationId: EntityEntityOptions_GetByCodeListAsync
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/xml:
            schema:
              items:
                type: string
              type: array
          text/xml:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        required: true
      summary: Entity entity options get by code list async
      x-summary-source: derived
  /v1/Settings/EntityOptions/{entity}/{entityId}/Name/{name}:
    get:
      tags:
      - Settings/EntityOptions
      summary: Gets the entity option that has the provided name.
      operationId: EntityEntityOptions_GetByNameAsync
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        description: The id of the entity to return options for.
        required: true
        schema:
          type: integer
          format: int32
      - name: name
        in: path
        description: Name of the desired return object.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
    delete:
      tags:
      - Settings/EntityOptions
      summary: Deletes the user established value for the provided entity option
      operationId: EntityEntityOptions_DeleteByNameAsync
      parameters:
      - name: entity
        in: path
        description: The kind of entity.
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: entityId
        in: path
        description: The id of the entity.
        required: true
        schema:
          type: integer
          format: int32
      - name: name
        in: path
        description: Name of the desired return object.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
  /v1/Settings/EntityOptions/{entity}/Code/{code}:
    get:
      tags:
      - Settings/EntityOptions
      summary: Gets a list of entity options that the logged in user has access to
      operationId: EntityEntityOptions_GetAssignedByCodeAsync
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: code
        in: path
        description: Any entity option that has the code provided will be returned.
        required: true
        schema:
          type: string
      - name: showAssigned
        in: query
        description: Optional. If provided will only return entity options with values that are assigned or are not assigned.
        required: false
        schema:
          type: boolean
      - name: includeName
        in: query
        description: 'Optional. Default: true.'
        required: false
        schema:
          type: boolean
          default: true
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Settings/EntityOptions
      summary: Updates the provided entity option
      operationId: EntityEntityOptions_UpdateEntityOptionAsync
      parameters:
      - name: entity
        in: path
        description: The kind of entity being updated.
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: code
        in: path
        description: The code for the option to update.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
        description: The option to update.
        required: true
  /v1/Settings/EntityOptions/{entity}/Name/{name}:
    get:
      tags:
      - Settings/EntityOptions
      summary: Gets a list of entity options that the logged in user has access to
      operationId: EntityEntityOptions_GetAssignedByNameAsync
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: name
        in: path
        description: Any entity option that has the name provided will be returned.
        required: true
        schema:
          type: string
      - name: showAssigned
        in: query
        description: Optional. If provided will only return entity options with values that are assigned or are not assigned.
        required: false
        schema:
          type: boolean
      - name: includeName
        in: query
        description: 'Optional. Default: true.'
        required: false
        schema:
          type: boolean
          default: true
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/EntityOptions/Definitions/{entity}:
    get:
      tags:
      - Settings/EntityOptions
      summary: Gets a list of entity option definitions.
      operationId: EntityEntityOptions_GetDefinitionsAsync
      parameters:
      - name: entity
        in: path
        description: The kind of entity to return options for.
        required: true
        schema:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDefinitionDto'
                xml:
                  name: EntityOptionDefinitionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDefinitionDto'
                xml:
                  name: EntityOptionDefinitionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDefinitionDto'
                xml:
                  name: EntityOptionDefinitionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDefinitionDto'
                xml:
                  name: EntityOptionDefinitionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDefinitionDto'
                xml:
                  name: EntityOptionDefinitionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDefinitionDto'
                xml:
                  name: EntityOptionDefinitionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/EntityOptions/List:
    get:
      tags:
      - Settings/EntityOptions
      summary: Lists the available entity option levels
      operationId: EntityEntityOptions_GetEntityLevelsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/EntityOptions/List/Code/{code}:
    get:
      tags:
      - Settings/EntityOptions
      summary: Lists the available entity option levels for the entity option with the code…
      operationId: EntityEntityOptions_GetEntityLevelsForCodeAsync
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      - name: canEdit
        in: query
        description: 'Optional. Default: null. If provided only the levels this user can edit (true) or can''t edit (false) are returned.'
        required: false
        schema:
          type: boolean
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/EntityOptions/List/Name/{name}:
    get:
      tags:
      - Settings/EntityOptions
      summary: Lists the available entity option levels for the entity option with the name…
      operationId: EntityEntityOptions_GetEntityLevelsForNameAsync
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: canEdit
        in: query
        description: 'Optional. Default: null. If provided only the levels this user can edit (true) or can''t edit (false) are returned.'
        required: false
        schema:
          type: boolean
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionLevelDto'
                xml:
                  name: EntityOptionLevelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Settings.EntityOptionDefinitionDto:
      properties:
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDefinitionDto
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionValueDto:
      properties:
        input:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        value:
          type: string
      xml:
        name: EntityOptionValueDto
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionLevelDto:
      properties:
        routeName:
          type: string
        displayName:
          type: string
        entity:
          type: string
          enum:
          - RiskCategories
          - BrokerDealers
          - Representatives
          - AssetClasses
          - AssetCategories
          - Platforms
          - Models
          - AggregateModels
          - IndexBlends
          - FundFamilies
          - Database
          - Custodians
          - Clients
          - Registrations
          - Accounts
          - Assets
          - Transactions
          - Product
          - PortfolioGroups
          - SleeveStrategyAggregates
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
      xml:
        name: EntityOptionLevelDto
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
