openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Quik API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Quik
paths:
  /v1/Integrations/Quik/Accounts/{accountId}/Forms/Viewer:
    post:
      tags:
      - Integrations/Quik
      summary: Returns the HTML Forms Viewer Page
      operationId: Quik_GetFormsViewer
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: docAcctId
        in: query
        required: false
        schema:
          type: string
      - name: docBaseUri
        in: query
        required: false
        schema:
          type: string
      - name: appLinkDtl
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: quikIntegrationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
        required: true
  /v1/Integrations/Quik/Advisors/{alClientId}/Accounts/{accountId}/Forms/Viewer/Submit:
    post:
      tags:
      - Integrations/Quik
      summary: Accepts the Form Post from the Quik Viewer
      operationId: Quik_SubmitCallbackFromViewer
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.QuikController.QuikResponseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.QuikController.QuikResponseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.QuikController.QuikResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.QuikController.QuikResponseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.QuikController.QuikResponseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.QuikController.QuikResponseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: object
          application/json:
            schema:
              type: object
          text/json:
            schema:
              type: object
          application/xml:
            schema:
              type: object
          text/xml:
            schema:
              type: object
          application/x-www-form-urlencoded:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        required: true
  /v1/Integrations/Quik/Advisors/{alClientId}/Entity/{entityId}/EntityEnum/{entityEnum}/Forms/Viewer/DocuSign:
    post:
      tags:
      - Integrations/Quik
      summary: Accepts the Form Post from the Quik Viewer providing the DocuSign Envelope Id
      operationId: Quik_DocuSignCallbackFromViewer
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: entityId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: entityEnum
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.QuikController.QuikResponseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.QuikController.QuikResponseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.QuikController.QuikResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.QuikController.QuikResponseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.QuikController.QuikResponseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.QuikController.QuikResponseDto'
      security:
      - Authorization: []
  /v1/Integrations/Quik/Advisors/{alClientId}/Entity/{entityId}/EntityEnum/{entityEnum}/Forms/Viewer/Save:
    post:
      tags:
      - Integrations/Quik
      summary: Accepts the Form Post from the Quik Viewer and saves the POST for later…
      operationId: Quik_SaveCallbackFromViewer
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: entityId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: entityEnum
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
  /v1/Integrations/Quik/Configuration:
    get:
      tags:
      - Integrations/Quik
      summary: Retrieves Quik Integration details
      operationId: Quik_GetConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Quik
      summary: Saves Quik integration settings
      operationId: Quik_SaveConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
        required: true
    post:
      tags:
      - Integrations/Quik
      summary: Saves Quik integration settings
      operationId: Quik_PostV1IntegrationsQuikConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
        required: true
    delete:
      tags:
      - Integrations/Quik
      summary: Deletes Quik integration settings
      operationId: Quik_DeleteConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
      security:
      - Authorization: []
  /v1/Integrations/Quik/Configuration/Default:
    get:
      tags:
      - Integrations/Quik
      summary: Retrieves Quik Integration details
      operationId: Quik_GetDefaultConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
      security:
      - Authorization: []
  /v1/Integrations/Quik/Configuration/Test:
    get:
      tags:
      - Integrations/Quik
      summary: Checks to see if Quik integration has been setup for this database
      operationId: Quik_CheckConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
      security:
      - Authorization: []
  /v1/Integrations/Quik/Dealers:
    get:
      tags:
      - Integrations/Quik
      summary: Returns a list of all dealers
      operationId: Quik_GetDealers
      parameters:
      - name: assignedOnly
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
                xml:
                  name: Dealer
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
                xml:
                  name: Dealer
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
                xml:
                  name: Dealer
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
                xml:
                  name: Dealer
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
                xml:
                  name: Dealer
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
                xml:
                  name: Dealer
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/Quik
      summary: Saves a list of available form owners ( dealers ) for a customer
      operationId: Quik_SaveDealers
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
                xml:
                  name: Dealer
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
                xml:
                  name: Dealer
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
                xml:
                  name: Dealer
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
                xml:
                  name: Dealer
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
                xml:
                  name: Dealer
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
                xml:
                  name: Dealer
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
              xml:
                name: Dealer
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
              xml:
                name: Dealer
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
              xml:
                name: Dealer
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
              xml:
                name: Dealer
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
              xml:
                name: Dealer
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
              xml:
                name: Dealer
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Dealer'
              xml:
                name: Dealer
                wrapped: true
              type: array
        description: The list of available dealers to save, with chosen dealers marked Selected = true.
        required: true
  /v1/Integrations/Quik/Dealers/Accounts/{accountId}:
    get:
      tags:
      - Integrations/Quik
      summary: Returns a comma seperated list of dealers ( form owners ) for an account
      operationId: Quik_GetDealerIdCsvForAccount
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
  /v1/Integrations/Quik/DocuSign/Envelopes/Accounts/{accountId}:
    get:
      tags:
      - Integrations/Quik
      summary: Returns a DocuSign envelopes for an acccount
      operationId: Quik_GetDocuSignEnvelopes
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.QuikIntegration'
                xml:
                  name: QuikIntegration
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.QuikIntegration'
                xml:
                  name: QuikIntegration
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.QuikIntegration'
                xml:
                  name: QuikIntegration
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.QuikIntegration'
                xml:
                  name: QuikIntegration
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.QuikIntegration'
                xml:
                  name: QuikIntegration
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.QuikIntegration'
                xml:
                  name: QuikIntegration
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Quik/DocuSign/Envelopes/Entity/{entityId}/EntityEnum/{entityEnum}:
    get:
      tags:
      - Integrations/Quik
      summary: Returns a DocuSign envelope with status for an entityId and EntityEnum
      operationId: Quik_GetDocuSignEnvelope
      parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: entityEnum
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.Envelope'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.Envelope'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.Envelope'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.DocuSign.Models.Envelope'
      security:
      - Authorization: []
  /v1/Integrations/Quik/DocuSign/Token:
    post:
      tags:
      - Integrations/Quik
      summary: Returns a DocuSign OAuth Token
      operationId: Quik_GetDocuSignOAuthToken
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.IntegrationConfig'
        required: true
  /v1/Integrations/Quik/FormData/{quikIntegrationId}/Accounts/{accountId}/Forms/Viewer:
    post:
      tags:
      - Integrations/Quik
      summary: Returns the HTML Forms Viewer Page
      operationId: Quik_PostV1IntegrationsQuikFormDataByQuikIntegrationIdAccountsByAccountIdFormsViewer
      parameters:
      - name: quikIntegrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: docAcctId
        in: query
        required: false
        schema:
          type: string
      - name: docBaseUri
        in: query
        required: false
        schema:
          type: string
      - name: appLinkDtl
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
        required: true
  /v1/Integrations/Quik/FormData/Accounts/{accountId}:
    get:
      tags:
      - Integrations/Quik
      summary: Returns a FormData for an acccount
      operationId: Quik_GetFormData
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.QuikIntegration'
                xml:
                  name: QuikIntegration
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.QuikIntegration'
                xml:
                  name: QuikIntegration
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.QuikIntegration'
                xml:
                  name: QuikIntegration
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.QuikIntegration'
                xml:
                  name: QuikIntegration
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.QuikIntegration'
                xml:
                  name: QuikIntegration
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.QuikIntegration'
                xml:
                  name: QuikIntegration
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Quik/FormGroups:
    get:
      tags:
      - Integrations/Quik
      operationId: Quik_GetFormGroups
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
                xml:
                  name: FormGroup
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
                xml:
                  name: FormGroup
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
                xml:
                  name: FormGroup
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
                xml:
                  name: FormGroup
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Quik get form groups
      x-summary-source: derived
    put:
      tags:
      - Integrations/Quik
      operationId: Quik_PostFormGroup
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
        required: true
      summary: Quik post form group
      x-summary-source: derived
    post:
      tags:
      - Integrations/Quik
      operationId: Quik_PostV1IntegrationsQuikFormGroups
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
        required: true
      summary: Quik post V1 integrations quik form groups
      x-summary-source: derived
  /v1/Integrations/Quik/FormGroups/{formGroupId}:
    get:
      tags:
      - Integrations/Quik
      operationId: Quik_GetFormGroup
      parameters:
      - name: formGroupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
      security:
      - Authorization: []
      summary: Quik get form group
      x-summary-source: derived
    delete:
      tags:
      - Integrations/Quik
      operationId: Quik_PostFormsToFormGroup
      parameters:
      - name: formGroupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Quik post forms to form group
      x-summary-source: derived
  /v1/Integrations/Quik/FormGroups/{formGroupId}/Entity/{entityId}/EntityEnum/{entityEnum}/Forms/Viewer:
    post:
      tags:
      - Integrations/Quik
      summary: Returns the Url of the Viewer Page
      operationId: Quik_GetFormsViewerUrl
      parameters:
      - name: formGroupId
        in: path
        description: FormGroupId
        required: true
        schema:
          type: integer
          format: int32
      - name: entityId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: entityEnum
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: docAcctId
        in: query
        required: false
        schema:
          type: string
      - name: docBaseUri
        in: query
        required: false
        schema:
          type: string
      - name: appLinkDtl
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              additionalProperties:
                type: string
              type: object
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
          text/json:
            schema:
              additionalProperties:
                type: string
              type: object
          application/x-www-form-urlencoded:
            schema:
              additionalProperties:
                type: string
              type: object
          multipart/form-data:
            schema:
              additionalProperties:
                type: string
              type: object
        required: true
  /v1/Integrations/Quik/FormGroups/{formGroupId}/Forms:
    post:
      tags:
      - Integrations/Quik
      operationId: Quik_PostV1IntegrationsQuikFormGroupsByFormGroupIdForms
      parameters:
      - name: formGroupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
              xml:
                name: Form
                wrapped: true
              type: array
        required: true
      summary: Quik post V1 integrations quik form groups by form group id forms
      x-summary-source: derived
  /v1/Integrations/Quik/FormGroups/Accounts/{accountId}:
    get:
      tags:
      - Integrations/Quik
      operationId: Quik_GetFormGroupsByAcccount
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
                xml:
                  name: FormGroup
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
                xml:
                  name: FormGroup
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
                xml:
                  name: FormGroup
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
                xml:
                  name: FormGroup
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Quik get form groups by acccount
      x-summary-source: derived
  /v1/Integrations/Quik/FormGroups/Name/{name}:
    get:
      tags:
      - Integrations/Quik
      operationId: Quik_GetFormGroupByName
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
      security:
      - Authorization: []
      summary: Quik get form group by name
      x-summary-source: derived
  /v1/Integrations/Quik/FormGroups/Search:
    get:
      tags:
      - Integrations/Quik
      operationId: Quik_GetFormGroupsSearch
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
                xml:
                  name: FormGroup
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
                xml:
                  name: FormGroup
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
                xml:
                  name: FormGroup
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.FormGroup'
                xml:
                  name: FormGroup
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Quik get form groups search
      x-summary-source: derived
  /v1/Integrations/Quik/Forms/Custodians/{custodianCode}:
    get:
      tags:
      - Integrations/Quik
      summary: Returns a list of forms available from Quik for the passed in custodian
      operationId: Quik_GetFormsForCustodian
      parameters:
      - name: custodianCode
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Quik/Forms/Dealers:
    get:
      tags:
      - Integrations/Quik
      summary: Returns a list of forms available from Quik for the passed in custodian
      operationId: Quik_GetFormsForDealerCsv
      parameters:
      - name: dealerIdCsv
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Quik/Forms/FormData/{quikIntegrationId}:
    get:
      tags:
      - Integrations/Quik
      summary: Returns a list of forms available from Quik for the passed in custodian
      operationId: Quik_GetFormsByIntegrationId
      parameters:
      - name: quikIntegrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
      security:
      - Authorization: []
    delete:
      tags:
      - Integrations/Quik
      operationId: Quik_DeleteSavedForm
      parameters:
      - name: quikIntegrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Quik delete saved form
      x-summary-source: derived
  /v1/Integrations/Quik/Forms/PreviewUrl:
    post:
      tags:
      - Integrations/Quik
      summary: Sets the preview link on the Form object
      operationId: Quik_SetFormPreviewUrl
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
        required: true
  /v1/Integrations/Quik/Forms/Search:
    get:
      tags:
      - Integrations/Quik
      summary: Returns a list of forms available from Quik for the passed in search criterial…
      operationId: Quik_GetFormsSearch
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: dealerIdCsv
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
                xml:
                  name: Form
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Quik/Reps/{repId}/NewAccounts:
    get:
      tags:
      - Integrations/Quik
      operationId: Quik_GetNewAccountsWithStatusByRep
      parameters:
      - name: repId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.QuikNewAccount'
                xml:
                  name: QuikNewAccount
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.QuikNewAccount'
                xml:
                  name: QuikNewAccount
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.QuikNewAccount'
                xml:
                  name: QuikNewAccount
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.QuikNewAccount'
                xml:
                  name: QuikNewAccount
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.QuikNewAccount'
                xml:
                  name: QuikNewAccount
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.QuikNewAccount'
                xml:
                  name: QuikNewAccount
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Quik get new accounts with status by rep
      x-summary-source: derived
  /v1/Integrations/Quik/User:
    get:
      tags:
      - Integrations/Quik
      summary: Returns the user for the logged in entity
      operationId: Quik_GetUser
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
      security:
      - Authorization: []
  /v1/Integrations/Quik/Users:
    get:
      tags:
      - Integrations/Quik
      summary: Returns a list of users for the customer
      operationId: Quik_GetUsers
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
                xml:
                  name: CustomerUser
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
                xml:
                  name: CustomerUser
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
                xml:
                  name: CustomerUser
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
                xml:
                  name: CustomerUser
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
                xml:
                  name: CustomerUser
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
                xml:
                  name: CustomerUser
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/Quik
      summary: Adds or Updates a list of users for the customer
      operationId: Quik_SaveUsers
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
                xml:
                  name: CustomerUser
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
                xml:
                  name: CustomerUser
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
                xml:
                  name: CustomerUser
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
                xml:
                  name: CustomerUser
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
                xml:
                  name: CustomerUser
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
                xml:
                  name: CustomerUser
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
              xml:
                name: CustomerUser
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
              xml:
                name: CustomerUser
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
              xml:
                name: CustomerUser
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
              xml:
                name: CustomerUser
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
              xml:
                name: CustomerUser
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
              xml:
                name: CustomerUser
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.CustomerUser'
              xml:
                name: CustomerUser
                wrapped: true
              type: array
        required: true
components:
  schemas:
    OAS.DataModel.Integrations.Quik.CustomerUser:
      properties:
        customerId:
          type: integer
          format: int32
        customerUserId:
          type: string
        userId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        licenseStatusId:
          type: integer
          format: int32
        expirationDate:
          type: string
          format: date-time
        userDetailId:
          type: integer
          format: int32
      xml:
        name: CustomerUser
      type: object
    OAT.Integrations.DocuSign.Models.Envelope:
      properties:
        envelopeId:
          type: string
        status:
          type: string
        documentsUri:
          type: string
        recipientsUri:
          type: string
        attachmentsUri:
          type: string
        envelopeUri:
          type: string
        createdDateTime:
          type: string
          format: date-time
        statusDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
        initialSentDateTime:
          type: string
          format: date-time
        sentDateTime:
          type: string
          format: date-time
        statusChangedDateTime:
          type: string
          format: date-time
      xml:
        name: Envelope
      type: object
    OAS.DataModel.Integrations.Quik.Form:
      properties:
        formId:
          type: integer
          format: int32
        dealerId:
          type: integer
          format: int32
        dealerName:
          type: string
        formName:
          type: string
        formDescription:
          type: string
        publishDate:
          type: string
        revisionDate:
          type: string
        formPreviewUrl:
          type: string
      xml:
        name: Form
      type: object
    OAS.DataModel.Integrations.Quik.IntegrationConfig:
      properties:
        appLinkId:
          type: integer
          format: int32
        customerId:
          type: string
        customerIdInt:
          readOnly: true
          type: integer
          format: int32
        username:
          type: string
        password:
          type: string
        userId:
          type: integer
          format: int32
        licenseId:
          type: integer
          format: int32
        docuSignIntegratorKey:
          type: string
        docuSignApiDomain:
          type: string
        docuSignUserId:
          type: string
        docuSignPassword:
          type: string
        docuSignOAuthToken:
          type: string
        docuSignAccountId:
          type: string
        tokenEndpoint:
          readOnly: true
          type: string
        restBaseUri:
          readOnly: true
          type: string
        docuSignDomain:
          readOnly: true
          type: string
      xml:
        name: IntegrationConfig
      type: object
    OAS.WebApi.Domains.Integrations.QuikController.QuikResponseDto:
      properties:
        StatusCode:
          type: string
        StatusMessage:
          type: string
      xml:
        name: QuikResponseDto
      type: object
    OAS.DataModel.Integrations.Quik.Associations:
      properties:
        custodianIds:
          items:
            type: integer
            format: int32
          type: array
        accountTypeIds:
          items:
            type: integer
            format: int32
          type: array
        fundFamilyIds:
          items:
            type: integer
            format: int32
          type: array
        brokerDealerIds:
          items:
            type: integer
            format: int32
          type: array
        platformIds:
          items:
            type: integer
            format: int32
          type: array
        feeScheduleIds:
          items:
            type: integer
            format: int32
          type: array
        subAdvisorIds:
          items:
            type: integer
            format: int32
          type: array
      xml:
        name: Associations
      type: object
    OAS.DataModel.Integrations.Quik.Dealer:
      properties:
        dealerId:
          type: integer
          format: int32
        dealerTypeId:
          type: integer
          format: int32
        dealerTypeName:
          type: string
        dealerName:
          type: string
        selected:
          type: boolean
      xml:
        name: Dealer
      type: object
    OAS.DataModel.Integrations.Quik.QuikNewAccount:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        accountTypeName:
          type: string
        custodianName:
          type: string
        platformName:
          type: string
        paperworkStatus:
          type: string
        createdDate:
          type: string
          format: date-time
        signatureStatus:
          type: string
      xml:
        name: QuikNewAccount
      type: object
    OAS.DataModel.Integrations.QuikIntegration:
      required:
      - id
      - entityId
      - entity
      - editedDate
      - editedBy
      - createdDate
      - createdBy
      properties:
        id:
          type: integer
          format: int32
        entityId:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        formData:
          type: string
        docuSignEnvelopeId:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 50
          minLength: 0
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 50
          minLength: 0
      xml:
        name: QuikIntegration
      type: object
    OAS.DataModel.Integrations.Quik.FormGroup:
      properties:
        formGroupId:
          type: integer
          format: int32
        formGroupName:
          type: string
        description:
          type: string
        isGlobal:
          type: boolean
        userDetailId:
          type: integer
          format: int32
        forms:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Form'
          xml:
            name: Form
            wrapped: true
          type: array
        associations:
          $ref: '#/components/schemas/OAS.DataModel.Integrations.Quik.Associations'
      xml:
        name: FormGroup
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
