openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Query Studio/Queries API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: QueryStudio/Queries
paths:
  /v1/QueryStudio/Queries:
    get:
      tags:
      - QueryStudio/Queries
      operationId: Queries_GetQueriesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
                xml:
                  name: QueryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
                xml:
                  name: QueryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
                xml:
                  name: QueryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
                xml:
                  name: QueryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Queries get queries async
      x-summary-source: derived
    put:
      tags:
      - QueryStudio/Queries
      operationId: Queries_UpdateQueryAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
        required: true
      summary: Queries update query async
      x-summary-source: derived
    post:
      tags:
      - QueryStudio/Queries
      operationId: Queries_CreateQueryAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
        required: true
      summary: Queries create query async
      x-summary-source: derived
  /v1/QueryStudio/Queries/{id}/AccessRules:
    get:
      tags:
      - QueryStudio/Queries
      operationId: Queries_GetAccessRulesAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto'
      security:
      - Authorization: []
      summary: Queries get access rules async
      x-summary-source: derived
    put:
      tags:
      - QueryStudio/Queries
      operationId: Queries_UpdateAccessRulesAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto'
        required: true
      summary: Queries update access rules async
      x-summary-source: derived
  /v1/QueryStudio/Queries/{queryId}:
    get:
      tags:
      - QueryStudio/Queries
      operationId: Queries_GetQueryAsync
      parameters:
      - name: queryId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
      security:
      - Authorization: []
      summary: Queries get query async
      x-summary-source: derived
    delete:
      tags:
      - QueryStudio/Queries
      operationId: Queries_DeleteQueryAsync
      parameters:
      - name: queryId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Queries delete query async
      x-summary-source: derived
  /v1/QueryStudio/Queries/{queryId}/Export:
    post:
      tags:
      - QueryStudio/Queries
      operationId: Queries_RunQueryToFileAsync
      parameters:
      - name: queryId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.QueryGenerate.QueryStudioQueryExportOptions'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.QueryGenerate.QueryStudioQueryExportOptions'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.QueryGenerate.QueryStudioQueryExportOptions'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.QueryGenerate.QueryStudioQueryExportOptions'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.QueryGenerate.QueryStudioQueryExportOptions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.QueryGenerate.QueryStudioQueryExportOptions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.QueryGenerate.QueryStudioQueryExportOptions'
        required: true
      summary: Queries run query to file async
      x-summary-source: derived
  /v1/QueryStudio/Queries/Download/{filename}:
    get:
      tags:
      - QueryStudio/Queries
      operationId: Queries_DownloadFileAsync
      parameters:
      - name: filename
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Queries download file async
      x-summary-source: derived
  /v1/QueryStudio/Queries/Preview:
    post:
      tags:
      - QueryStudio/Queries
      operationId: Queries_RunPreviewQueryAsync
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
        required: true
      summary: Queries run preview query async
      x-summary-source: derived
  /v1/QueryStudio/Queries/Run:
    post:
      tags:
      - QueryStudio/Queries
      operationId: Queries_RunQueryAsync
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryDto'
        required: true
      summary: Queries run query async
      x-summary-source: derived
  /v1/QueryStudio/Queries/Search:
    get:
      tags:
      - QueryStudio/Queries
      operationId: Queries_SearchAsync
      parameters:
      - name: searchQuery
        in: query
        required: true
        schema:
          type: string
      - name: maxResults
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Queries search async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.QueryStudio.QueryTagOptionsDto:
      properties:
        columnName:
          type: string
        dateFormat:
          type: string
        decimalPlaces:
          type: integer
          format: int32
        formatAsCurrency:
          type: boolean
        useNegativeParenthesis:
          type: boolean
        useThousandsSeparator:
          type: boolean
        scope:
          additionalProperties:
            type: object
          type: object
        sourceParameters:
          additionalProperties:
            type: object
          type: object
      xml:
        name: QueryTagOptionsDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeDateRange:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeDateRange
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeActivityOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeActivityOption
      type: object
    OAS.WebApi.DTO.QueryStudio.QueryParameterDto:
      properties:
        name:
          type: string
        dataType:
          type: string
        value:
          type: object
      xml:
        name: QueryParameterDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeBillingOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeBillingOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeTradingOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeTradingOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IReturnStyle:
      properties:
        frequency:
          readOnly: true
          type: string
          enum:
          - Summary
          - Annually
          - Quarterly
          - Monthly
          - Weekly
          - Daily
          - Automatic
        basedOn:
          readOnly: true
          type: string
          enum:
          - Calendar
          - RollingForward
          - RollingBackward
        breakBehavior:
          readOnly: true
          type: string
          enum:
          - AllowPartialPeriods
          - PartialPeriodsWithBreakPoints
          - FullPeriodsOnly
        cumulative:
          readOnly: true
          type: boolean
        cumulativeBasedOn:
          readOnly: true
          type: string
          enum:
          - ForwardFromStartDate
          - BackwardFromEndDate
        context:
          readOnly: true
          type: string
          enum:
          - Self
          - Parent
      xml:
        name: IReturnStyle
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportRoleAccessRuleDto:
      properties:
        roleId:
          type: integer
          format: int32
        name:
          type: string
        canRun:
          type: boolean
        canEdit:
          type: boolean
        canDelete:
          type: boolean
      xml:
        name: ReportRoleAccessRuleDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeComparisonOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeComparisonOption
      type: object
    OAS.WebApi.DTO.Reporting.Calculate.CalculateBase:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        id:
          type: string
        contextChange:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Engine.ContextChange'
      xml:
        name: CalculateBase
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeCostBasisOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeCostBasisOption
      type: object
    OAS.DataProcess.QueryStudio.AccessRules.QueryAccessRuleDto:
      properties:
        id:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        queryId:
          type: integer
          format: int32
        representativeAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportRepresentativeAccessRuleDto'
          xml:
            name: ReportRepresentativeAccessRuleDto
            wrapped: true
          type: array
        databaseAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportDatabaseAccessRuleDto'
          xml:
            name: ReportDatabaseAccessRuleDto
            wrapped: true
          type: array
        loginAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportLoginAccessRuleDto'
          xml:
            name: ReportLoginAccessRuleDto
            wrapped: true
          type: array
        databaseGroupAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportDatabaseGroupAccessRuleDto'
          xml:
            name: ReportDatabaseGroupAccessRuleDto
            wrapped: true
          type: array
        userAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportUserAccessRuleDto'
          xml:
            name: ReportUserAccessRuleDto
            wrapped: true
          type: array
        roleAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportRoleAccessRuleDto'
          xml:
            name: ReportRoleAccessRuleDto
            wrapped: true
          type: array
        canEdit:
          type: boolean
        canDelete:
          type: boolean
      xml:
        name: QueryAccessRuleDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeMaturityPeriodOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeMaturityPeriodOption
      type: object
    OAS.DataModel.Reporting.Calculation.IMakeCalculationOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeCalculationOption
      type: object
    OAS.WebApi.DTO.QueryStudio.QueryTagDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        label:
          type: string
        description:
          type: string
        tagDataType:
          type: integer
          format: int32
        sourceName:
          type: string
        sourceType:
          type: integer
          format: int32
        keywords:
          type: string
        category:
          type: string
        isActive:
          type: boolean
        isNullable:
          type: boolean
        options:
          $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagOptionsDto'
        sourceParameters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.SourceParameterDto'
          xml:
            name: SourceParameterDto
            wrapped: true
          type: array
        guid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        auditedBy:
          type: string
        auditedDate:
          type: string
          format: date-time
        entityEnum:
          type: integer
          format: int32
        isDefaultTagForEntityEnum:
          type: boolean
        selectExpression:
          type: string
        isScope:
          readOnly: true
          type: boolean
      xml:
        name: QueryTagDto
      type: object
    OAS.WebApi.DTO.QueryStudio.QuerySortDto:
      properties:
        queryTagGuid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        isAscending:
          type: boolean
      xml:
        name: QuerySortDto
      type: object
    OAS.WebApi.DTO.QueryStudio.FilterGroupDto:
      properties:
        logicalOperator:
          type: string
        children:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.FilterNodeDto'
          xml:
            name: FilterNodeDto
            wrapped: true
          type: array
      xml:
        name: FilterGroupDto
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportDatabaseGroupAccessRuleDto:
      properties:
        databaseGroupId:
          type: integer
          format: int32
        loginEntityId:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        name:
          type: string
        canRun:
          type: boolean
        canEdit:
          type: boolean
      xml:
        name: ReportDatabaseGroupAccessRuleDto
      type: object
    OAS.WebApi.DTO.QueryStudio.SourceParameterDto:
      properties:
        name:
          type: string
        displayName:
          type: string
        dataType:
          type: integer
          format: int32
        parameterOrder:
          type: integer
          format: int32
        defaultValue:
          type: string
      xml:
        name: SourceParameterDto
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportDatabaseAccessRuleDto:
      properties:
        alClientId:
          type: integer
          format: int32
        loginEntityId:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        name:
          type: string
        canRun:
          type: boolean
        canEdit:
          type: boolean
      xml:
        name: ReportDatabaseAccessRuleDto
      type: object
    OAS.WebApi.DTO.Reporting.Calculate.ScopeFeatureFlagsDto:
      properties:
        dynamicBenchmarkProcessType:
          type: string
          enum:
          - Cloud
          - LocalService
        forceAssetGroupingIntraDayPerformance:
          type: boolean
        activityProcessType:
          type: string
          enum:
          - Cloud
          - LocalService
        costBasisProcessType:
          type: string
          enum:
          - Old
          - Cloud
          - LocalService
        morningstarLevel2Assignment:
          type: boolean
        localPriceCutOverDate:
          type: string
          format: date-time
        noScope:
          type: boolean
        ensureAssetsUpdated:
          type: boolean
        storeReportDataCompressed:
          type: boolean
        showEInModelNames:
          type: boolean
        performanceProcessType:
          type: string
          enum:
          - Cloud
          - LocalService
        forceNonSummaryPerformanceToUseTwr:
          type: boolean
        forceNetOfFeesPerformance:
          type: boolean
        costBasisStoredSource:
          type: string
          enum:
          - Orion
          - Custodian
        tradingWithParentGrouping:
          type: boolean
        useGlobalSettingsUniqueIds:
          type: boolean
        showEquations:
          type: boolean
        isReportCompare:
          type: boolean
        useBenchmarksInAccountChangeHistory:
          type: boolean
        benchmarkAssignmentOverride:
          type: string
        useAsOfDateForAdvizr:
          type: boolean
        accountNumbersToShow:
          type: integer
          format: int32
        useBatchSettingsBulkCopy:
          type: boolean
        showExcludedFromRebalance:
          type: boolean
        useInMemoryForModelVsActual:
          type: boolean
        useNewLineChartRenderer:
          type: boolean
        useNewScatterPlotChartRenderer:
          type: boolean
        useInMemoryIncomeCalculation:
          type: boolean
        useModelAllocationHistory:
          type: boolean
        useDisclaimerShadowDom:
          type: boolean
      xml:
        name: ScopeFeatureFlagsDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakePerformanceOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakePerformanceOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeAttributionOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeAttributionOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeTaxOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeTaxOption
      type: object
    OAS.WebApi.DTO.QueryStudio.QueryDto:
      properties:
        id:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        legacyQueryId:
          type: integer
          format: int32
        queryTags:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryTagDto'
          xml:
            name: QueryTagDto
            wrapped: true
          type: array
        filters:
          $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.FilterGroupDto'
        parameters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryParameterDto'
          xml:
            name: QueryParameterDto
            wrapped: true
          type: array
        sorting:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QuerySortDto'
          xml:
            name: QuerySortDto
            wrapped: true
          type: array
        scopeSettings:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.ScopeSettingsDto'
        auditedBy:
          type: string
        auditedDate:
          type: string
          format: date-time
        queryId:
          type: integer
          format: int32
        canRun:
          type: boolean
        canDelete:
          type: boolean
        canEdit:
          type: boolean
      xml:
        name: QueryDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeIncomeOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeIncomeOption
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportUserAccessRuleDto:
      properties:
        userId:
          type: integer
          format: int32
        name:
          type: string
        canRun:
          type: boolean
        canEdit:
          type: boolean
        canDelete:
          type: boolean
      xml:
        name: ReportUserAccessRuleDto
      type: object
    OAS.WebApi.DTO.Reporting.Envision.AccountManagementOverride:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isManaged:
          type: boolean
        isIncluded:
          type: boolean
      xml:
        name: AccountManagementOverride
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportLoginAccessRuleDto:
      properties:
        loginEntityId:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        canRun:
          type: boolean
      xml:
        name: ReportLoginAccessRuleDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeTransactionOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeTransactionOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeProjectedIncomeOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeProjectedIncomeOption
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportRepresentativeAccessRuleDto:
      properties:
        representativeId:
          type: integer
          format: int32
        name:
          type: string
        canRun:
          type: boolean
      xml:
        name: ReportRepresentativeAccessRuleDto
      type: object
    OAS.WebApi.DTO.Reporting.Calculate.ScopeSettingsDto:
      properties:
        workloadContext:
          description: The value used here will be stamped onto the report engine's datadog traces. If not provided a value will be dirived from the calculations being requested.
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityIds:
          items:
            type: integer
            format: int32
          type: array
        prospectId:
          type: string
        asOfDate:
          type: string
          format: date-time
        clientPerformanceInclude:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
        unmanagedInclusionOverride:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
        accountManagementOverrides:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.AccountManagementOverride'
          xml:
            name: AccountManagementOverride
            wrapped: true
          type: array
        flags:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.ScopeFeatureFlagsDto'
        calculations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Calculate.CalculateBase'
          xml:
            name: CalculateBase
            wrapped: true
          type: array
        useSmaSettings:
          type: boolean
      xml:
        name: ScopeSettingsDto
      type: object
    OAS.DataModel.Reporting.Engine.ContextChange:
      properties:
        activityOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeActivityOption'
        billingOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeBillingOption'
        calculationOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculation.IMakeCalculationOption'
        comparisonOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeComparisonOption'
        costBasisOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeCostBasisOption'
        dateRange:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeDateRange'
        incomeOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeIncomeOption'
        maturityPeriodOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeMaturityPeriodOption'
        performanceOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakePerformanceOption'
        projectedIncomeOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeProjectedIncomeOption'
        statisticalOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeStatisticalOption'
        taxOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeTaxOption'
        tradingOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeTradingOption'
        transactionOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeTransactionOption'
        attributionOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeAttributionOption'
        activityOptionId:
          type: integer
          format: int32
        billingOptionId:
          type: integer
          format: int32
        calculationOptionId:
          type: integer
          format: int32
        comparisonOptionId:
          type: integer
          format: int32
        costBasisOptionId:
          type: integer
          format: int32
        dateRangeId:
          type: integer
          format: int32
        incomeOptionId:
          type: integer
          format: int32
        maturityPeriodOptionId:
          type: integer
          format: int32
        performanceOptionId:
          type: integer
          format: int32
        projectedIncomeOptionId:
          type: integer
          format: int32
        promptOptionId:
          type: integer
          format: int32
        reportCategoryId:
          type: integer
          format: int32
        statisticalOptionId:
          type: integer
          format: int32
        taxOptionId:
          type: integer
          format: int32
        tradingOptionId:
          type: integer
          format: int32
        transactionOptionId:
          type: integer
          format: int32
        attributionId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IReturnStyle'
        percentFormat:
          type: string
        dollarFormat:
          type: string
        decimalFormat:
          type: string
        numericFormat:
          type: string
        quickDate:
          type: string
          enum:
          - Day
          - WTD
          - MTD
          - QTD
          - YTD
          - OneYear
          - TwoYear
          - ThreeYear
          - FourYear
          - FiveYear
          - SixYear
          - SevenYear
          - EightYear
          - NineYear
          - TenYear
          - PreviousOneYear
          - PreviousTwoYear
          - PreviousThreeYear
          - PreviousFourYear
          - PreviousFiveYear
          - PreviousSixYear
          - PreviousSevenYear
          - PreviousEightYear
          - PreviousNineYear
          - PreviousTenYear
          - Inception
          - HoldingPeriod
          - AIPLedger
        globalsSynced:
          type: boolean
        useSmaSetting:
          type: boolean
      xml:
        name: ContextChange
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeStatisticalOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeStatisticalOption
      type: object
    OAS.WebApi.DTO.QueryStudio.FilterNodeDto:
      properties:
        columnId:
          type: integer
          format: int32
        operator:
          type: string
          enum:
          - Equals
          - DoesNotEqual
          - Contains
          - DoesNotContain
          - StartsWith
          - EndsWith
          - IsEmpty
          - IsNotEmpty
          - GreaterThan
          - GreaterThanOrEqualTo
          - LessThan
          - LessThanOrEqualTo
          - Between
          - In
          - NotIn
        values:
          items:
            type: object
          type: array
        logicalOperator:
          type: string
        children:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.FilterNodeDto'
          xml:
            name: FilterNodeDto
            wrapped: true
          type: array
        isGroup:
          readOnly: true
          type: boolean
      xml:
        name: FilterNodeDto
      type: object
    OAS.DataProcess.QueryStudio.QueryGenerate.QueryStudioQueryExportOptions:
      properties:
        limit:
          type: integer
          format: int32
        exportType:
          type: string
          enum:
          - DataTable
          - Xlsx
          - Xls
          - Csv
          - Psv
          - Json
        destination:
          type: string
          enum:
          - DirectDownload
          - CloudStorage
          - ReportInbox
          - FileTransfer
        parameters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.QueryStudio.QueryParameterDto'
          xml:
            name: QueryParameterDto
            wrapped: true
          type: array
      xml:
        name: QueryStudioQueryExportOptions
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
