openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Homepage/Roles API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Homepage/Roles
paths:
  /v1/Homepage/Roles/Dashboards/Simple:
    get:
      tags:
      - Homepage/Roles
      operationId: Dashboard_GetRoleDashboardsSimpleAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dashboard get role dashboards simple async
      x-summary-source: derived
  /v1/Homepage/Roles/PortfolioView/Simple:
    get:
      tags:
      - Homepage/Roles
      operationId: Dashboard_GetRolePortfolioViewsSimpleAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dashboard get role portfolio views simple async
      x-summary-source: derived
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
