openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Mobile/Clients API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Mobile/Clients
paths:
  /v1/Mobile/Clients/{key}/Accounts/Menu:
    post:
      tags:
      - Mobile/Clients
      summary: Gets the account menu for the specified if one exists.
      operationId: MobileClients_GetAccountsMenuAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.AccountsMenuReturnDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.AccountsMenuReturnDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.AccountsMenuReturnDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.AccountsMenuReturnDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.AccountsMenuReturnDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.AccountsMenuReturnDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.AccountsMenuSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.AccountsMenuSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.AccountsMenuSettingsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.AccountsMenuSettingsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.AccountsMenuSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.AccountsMenuSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.AccountsMenuSettingsDto'
        required: true
  /v1/Mobile/Clients/{key}/Allocation:
    get:
      tags:
      - Mobile/Clients
      summary: Gets the allocation groups of the client with the specified key.
      operationId: MobileClients_GetAllocation
      parameters:
      - name: key
        in: path
        description: Key of the client that the account belongs to.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: query
        description: 'Optional. Default: today. Defines the date that the values should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Mobile/Clients/{key}/AumOverTime:
    get:
      tags:
      - Mobile/Clients
      summary: Gets a list of Aum data representative of the last year for the client with the…
      operationId: MobileClients_GetAumOverTimeAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: 'Optional. Default: 1 year ago. Defines the first date that should be returned.'
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: 'Optional. Default: today. Defines the last date that should be returned.'
        required: false
        schema:
          type: string
          format: date-time
      - name: interval
        in: query
        description: "Optional. Default: \"A\" Automatic. Options are:\n               \"A\" Automatic\n               \"M\" Monthly\n               \"W\" Weekly\n               \"D\" Daily"
        required: false
        schema:
          type: string
          default: A
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Mobile/Clients/{key}/Rep:
    get:
      tags:
      - Mobile/Clients
      summary: Gets a the representative assigned to the client with the specified key, which…
      operationId: MobileClients_GetRepByClientId
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.RepresentativeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.RepresentativeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.RepresentativeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.RepresentativeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.RepresentativeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.RepresentativeDto'
      security:
      - Authorization: []
  /v1/Mobile/Clients/{key}/Rep/Photo:
    get:
      tags:
      - Mobile/Clients
      summary: Gets the representative's photo if one exists.
      operationId: MobileClients_GetRepPhotoByClientId
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Mobile/Clients/{key}/Representative:
    get:
      tags:
      - Mobile/Clients
      summary: Gets a the representative assigned to the client with the specified key, which…
      operationId: MobileClients_GetV1MobileClientsByKeyRepresentative
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.RepresentativeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.RepresentativeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.RepresentativeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.RepresentativeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.RepresentativeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.RepresentativeDto'
      security:
      - Authorization: []
  /v1/Mobile/Clients/{key}/Representative/Photo:
    get:
      tags:
      - Mobile/Clients
      summary: Gets the representative's photo if one exists.
      operationId: MobileClients_GetV1MobileClientsByKeyRepresentativePhoto
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Mobile/Clients/{key}/Snapshot:
    get:
      tags:
      - Mobile/Clients
      summary: Gets a list of accounts that fall below the client with the specified key…
      operationId: MobileClients_GetSnapshotClient
      parameters:
      - name: key
        in: path
        description: Key of the client that the accounts belong to.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: query
        description: 'Optional. Default: today. Defines the date that the values should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Mobile/Clients/{key}/Snapshot/{groupId}/Assets:
    get:
      tags:
      - Mobile/Clients
      summary: Gets a list of assets that fall within the account with the specified key…
      operationId: MobileClients_GetSnapshotClientAssetsAsync
      parameters:
      - name: key
        in: path
        description: Key of the client that the account belongs to.
        required: true
        schema:
          type: integer
          format: int32
      - name: groupId
        in: path
        description: Key of the account which assets will be returned from.
        required: true
        schema:
          type: integer
          format: int32
      - name: showZeroValueAssets
        in: query
        description: If true all assets applicable assets are shown. If false, only asset with value are shown.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto'
                xml:
                  name: PortfolioGroupValuesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Mobile/Clients/First:
    get:
      tags:
      - Mobile/Clients
      summary: Gets the first client that the logged in user has access to that has value…
      operationId: MobileClients_GetClientFirst
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
      security:
      - Authorization: []
  /v1/Mobile/Clients/Search:
    get:
      tags:
      - Mobile/Clients
      summary: Gets a simple list of clients that are active and have value that the logged in…
      operationId: MobileClients_GetClientSearch
      parameters:
      - name: search
        in: query
        description: Partial client name to search for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Mobile/Clients/Search/{search}:
    get:
      tags:
      - Mobile/Clients
      summary: Gets a simple list of clients that are active and have value that the logged in…
      operationId: MobileClients_GetV1MobileClientsSearchBySearch
      parameters:
      - name: search
        in: path
        description: Partial client name to search for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Mobile.UnmanagedAccountsMenuDto:
      properties:
        accountId:
          type: integer
          format: int32
        name:
          type: string
        value:
          type: number
          format: double
        maskedAccountNumber:
          type: string
        managementStyle:
          type: string
        modelName:
          type: string
        subAdvisor:
          type: string
        riskBudget:
          type: integer
          format: int32
      xml:
        name: UnmanagedAccountsMenuDto
      type: object
    OAS.WebApi.DTO.Mobile.PortfolioGroupValuesDto:
      properties:
        id:
          type: integer
          format: int32
        grouping:
          type: integer
          format: int32
        name:
          type: string
        asOfDate:
          readOnly: true
          type: string
        value:
          type: number
          format: double
        percent:
          type: number
          format: double
        color:
          type: string
      xml:
        name: PortfolioGroupValuesDto
      type: object
    OAS.DataModel.Portfolio.SimpleClient:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        entityName:
          type: string
        isActive:
          type: boolean
        repCode:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleClient
      type: object
    OAS.WebApi.DTO.Mobile.AccountsMenuReturnDto:
      properties:
        managed:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.ManagedAccountsMenuDto'
          xml:
            name: ManagedAccountsMenuDto
            wrapped: true
          type: array
        unmanaged:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Mobile.UnmanagedAccountsMenuDto'
          xml:
            name: UnmanagedAccountsMenuDto
            wrapped: true
          type: array
      xml:
        name: AccountsMenuReturnDto
      type: object
    OAS.WebApi.DTO.Mobile.AccountsMenuSettingsDto:
      properties:
        asOfDate:
          type: string
          format: date-time
        includeBondAccrual:
          type: boolean
        clientPerformanceInclude:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
        includeUnmanaged:
          type: boolean
      xml:
        name: AccountsMenuSettingsDto
      type: object
    OAS.WebApi.DTO.Mobile.RepresentativeDto:
      properties:
        id:
          type: integer
          format: int32
        repNo:
          type: string
        fullName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        phoneNumber:
          type: string
        email:
          type: string
        company:
          type: string
        mobilePhoneNumber:
          type: string
        faxNumber:
          type: string
        photo:
          type: string
          format: byte
      xml:
        name: RepresentativeDto
      type: object
    OAS.WebApi.DTO.Mobile.ManagedAccountsMenuDto:
      properties:
        accountType:
          type: string
        custodian:
          type: string
        custodialAccountNumber:
          type: string
        registrationId:
          type: integer
          format: int32
        unmanagedSetting:
          type: string
        isManaged:
          type: boolean
        accountId:
          type: integer
          format: int32
        name:
          type: string
        value:
          type: number
          format: double
        maskedAccountNumber:
          type: string
        managementStyle:
          type: string
        modelName:
          type: string
        subAdvisor:
          type: string
        riskBudget:
          type: integer
          format: int32
      xml:
        name: ManagedAccountsMenuDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
