openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Client Statuses API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/ClientStatuses
paths:
  /v1/Billing/ClientStatuses/Simple:
    get:
      tags:
      - Billing/ClientStatuses
      summary: Get all billing client statuses
      operationId: BillClientStatuses_GetAllSimpleEntities
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleBillClientStatus'
                xml:
                  name: SimpleBillClientStatus
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleBillClientStatus'
                xml:
                  name: SimpleBillClientStatus
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleBillClientStatus'
                xml:
                  name: SimpleBillClientStatus
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleBillClientStatus'
                xml:
                  name: SimpleBillClientStatus
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleBillClientStatus'
                xml:
                  name: SimpleBillClientStatus
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleBillClientStatus'
                xml:
                  name: SimpleBillClientStatus
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Billing.SimpleBillClientStatus:
      properties:
        description:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleBillClientStatus
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
