openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Fund Performance API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/FundPerformance
paths:
  /v1/Reporting/FundPerformance/GeminiFund:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gemini funds get funds
      operationId: GeminiFunds_GetFunds
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
                xml:
                  name: GeminiFundDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
                xml:
                  name: GeminiFundDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
                xml:
                  name: GeminiFundDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
                xml:
                  name: GeminiFundDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
                xml:
                  name: GeminiFundDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
                xml:
                  name: GeminiFundDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
    post:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_CreateNewFund
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
        required: true
      summary: Gemini funds create new fund
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/{key}:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gets the fund that has the provided key.
      operationId: GeminiFunds_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_UpdateFund
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDto'
        required: true
      summary: Gemini funds update fund
      x-summary-source: derived
    delete:
      tags:
      - Reporting/FundPerformance
      summary: Gemini funds delete
      operationId: GeminiFunds_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/BackLoad:
    post:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_CreateNewLoad
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
        required: true
      summary: Gemini funds create new load
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/BackLoad/{key}/{forYear}/{effectiveDate}:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gets the fund that has the provided key.
      operationId: GeminiFunds_GetFundBackLoadByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
      - name: forYear
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: effectiveDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_UpdateBackLoad
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      - name: forYear
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: effectiveDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadDto'
        required: true
      summary: Gemini funds update back load
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/BackLoad/Action/Delete:
    put:
      tags:
      - Reporting/FundPerformance
      summary: Deletes every gemini fund backload provided in the list of ids
      operationId: GeminiFunds_BackLoadActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadKeyDto'
                xml:
                  name: GeminiFundBackLoadKeyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadKeyDto'
                xml:
                  name: GeminiFundBackLoadKeyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadKeyDto'
                xml:
                  name: GeminiFundBackLoadKeyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadKeyDto'
                xml:
                  name: GeminiFundBackLoadKeyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadKeyDto'
                xml:
                  name: GeminiFundBackLoadKeyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadKeyDto'
                xml:
                  name: GeminiFundBackLoadKeyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadKeyDto'
              xml:
                name: GeminiFundBackLoadKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadKeyDto'
              xml:
                name: GeminiFundBackLoadKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadKeyDto'
              xml:
                name: GeminiFundBackLoadKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadKeyDto'
              xml:
                name: GeminiFundBackLoadKeyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadKeyDto'
              xml:
                name: GeminiFundBackLoadKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadKeyDto'
              xml:
                name: GeminiFundBackLoadKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundBackLoadKeyDto'
              xml:
                name: GeminiFundBackLoadKeyDto
                wrapped: true
              type: array
        description: The list ids to delete.
        required: true
  /v1/Reporting/FundPerformance/GeminiFund/Data:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gets the fund data that has the provided key.
      operationId: GeminiFunds_GetData
      parameters:
      - name: fundKey
        in: query
        required: false
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
                xml:
                  name: GeminiFundDataDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
                xml:
                  name: GeminiFundDataDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
                xml:
                  name: GeminiFundDataDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
                xml:
                  name: GeminiFundDataDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
                xml:
                  name: GeminiFundDataDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
                xml:
                  name: GeminiFundDataDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_CreateNewData
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
        required: true
      summary: Gemini funds create new data
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/Data/{key}/{rateDate}:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gets the fund data that has the provided key.
      operationId: GeminiFunds_GetFundDataByKeyAndDate
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
      - name: rateDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_UpdateFundData
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      - name: rateDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataDto'
        required: true
      summary: Gemini funds update fund data
      x-summary-source: derived
    delete:
      tags:
      - Reporting/FundPerformance
      summary: Gemini funds delete fund data
      operationId: GeminiFunds_DeleteFundData
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      - name: rateDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/Data/Action/Delete:
    put:
      tags:
      - Reporting/FundPerformance
      summary: Deletes every gemini fund data provided in the list of ids
      operationId: GeminiFunds_DataActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
                xml:
                  name: GeminiFundDataKeyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
                xml:
                  name: GeminiFundDataKeyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
                xml:
                  name: GeminiFundDataKeyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
                xml:
                  name: GeminiFundDataKeyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
                xml:
                  name: GeminiFundDataKeyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
                xml:
                  name: GeminiFundDataKeyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
        description: The list of fund data to delete.
        required: true
  /v1/Reporting/FundPerformance/GeminiFund/Div:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gets the fund div that has the provided key.
      operationId: GeminiFunds_GetFundDivs
      parameters:
      - name: fundKey
        in: query
        required: false
        schema:
          type: string
      - name: divYear
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 2000
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
                xml:
                  name: GeminiFundDivDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
                xml:
                  name: GeminiFundDivDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
                xml:
                  name: GeminiFundDivDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
                xml:
                  name: GeminiFundDivDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
                xml:
                  name: GeminiFundDivDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
                xml:
                  name: GeminiFundDivDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_CreateNewDiv
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
        required: true
      summary: Gemini funds create new div
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/Div/{key}/{divYear}:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gets the fund that has the provided key.
      operationId: GeminiFunds_GetFundDivByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
      - name: divYear
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_PutV1ReportingFundPerformanceGeminiFundDivByKeyByDivYear
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      - name: divYear
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDto'
        required: true
      summary: Gemini funds put V1 reporting fund performance gemini fund div by key by div…
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/Div/Action/Delete:
    put:
      tags:
      - Reporting/FundPerformance
      summary: Deletes every fund backload provided in the list of ids
      operationId: GeminiFunds_DivActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivKeyDto'
                xml:
                  name: GeminiFundDivKeyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivKeyDto'
                xml:
                  name: GeminiFundDivKeyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivKeyDto'
                xml:
                  name: GeminiFundDivKeyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivKeyDto'
                xml:
                  name: GeminiFundDivKeyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivKeyDto'
                xml:
                  name: GeminiFundDivKeyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivKeyDto'
                xml:
                  name: GeminiFundDivKeyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivKeyDto'
              xml:
                name: GeminiFundDivKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivKeyDto'
              xml:
                name: GeminiFundDivKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivKeyDto'
              xml:
                name: GeminiFundDivKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivKeyDto'
              xml:
                name: GeminiFundDivKeyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivKeyDto'
              xml:
                name: GeminiFundDivKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivKeyDto'
              xml:
                name: GeminiFundDivKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivKeyDto'
              xml:
                name: GeminiFundDivKeyDto
                wrapped: true
              type: array
        description: The list of backload ids to delete.
        required: true
  /v1/Reporting/FundPerformance/GeminiFund/DivDetail:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gets the fund data that has the provided key.
      operationId: GeminiFunds_GetDivData
      parameters:
      - name: fundKey
        in: query
        required: false
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
                xml:
                  name: GeminiFundDivDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
                xml:
                  name: GeminiFundDivDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
                xml:
                  name: GeminiFundDivDetailDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
                xml:
                  name: GeminiFundDivDetailDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
                xml:
                  name: GeminiFundDivDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
                xml:
                  name: GeminiFundDivDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_CreateNewDivDetail
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
        required: true
      summary: Gemini funds create new div detail
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/DivDetail/{key}/{rateDate}:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gets the fund that has the provided key.
      operationId: GeminiFunds_GetFundDivDetailByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
      - name: rateDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_UpdateDivDetail
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      - name: rateDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDivDetailDto'
        required: true
      summary: Gemini funds update div detail
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/DivDetail/Action/Delete:
    put:
      tags:
      - Reporting/FundPerformance
      summary: Deletes every gemini fund backload provided in the list of ids
      operationId: GeminiFunds_DivDetailActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
                xml:
                  name: GeminiFundDataKeyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
                xml:
                  name: GeminiFundDataKeyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
                xml:
                  name: GeminiFundDataKeyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
                xml:
                  name: GeminiFundDataKeyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
                xml:
                  name: GeminiFundDataKeyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
                xml:
                  name: GeminiFundDataKeyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundDataKeyDto'
              xml:
                name: GeminiFundDataKeyDto
                wrapped: true
              type: array
        description: The list ids to delete.
        required: true
  /v1/Reporting/FundPerformance/GeminiFund/FrontLoad:
    post:
      tags:
      - Reporting/FundPerformance
      summary: Create new front load record
      operationId: GeminiFunds_CreateFrontLoad
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
        description: Dto object.
        required: true
  /v1/Reporting/FundPerformance/GeminiFund/FrontLoad/{key}/{effectiveDate}/{starting}:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gets the fund that has the provided key.
      operationId: GeminiFunds_GetFundFrontLoadByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
      - name: effectiveDate
        in: path
        description: effectiveDate of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      - name: starting
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/FundPerformance
      summary: Update the front load record that has the provided key
      operationId: GeminiFunds_UpdateFrontLoad
      parameters:
      - name: key
        in: path
        description: FundKey of the front load to delete.
        required: true
        schema:
          type: string
      - name: effectiveDate
        in: path
        description: F of the front load to delete.
        required: true
        schema:
          type: string
          format: date-time
      - name: starting
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadDto'
        description: Key of the desired return object.
        required: true
  /v1/Reporting/FundPerformance/GeminiFund/FrontLoad/Action/Delete:
    put:
      tags:
      - Reporting/FundPerformance
      summary: Deletes front load records provided the list of keys
      operationId: GeminiFunds_FrontLoadBatchDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadKeyDto'
                xml:
                  name: GeminiFundFrontLoadKeyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadKeyDto'
                xml:
                  name: GeminiFundFrontLoadKeyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadKeyDto'
                xml:
                  name: GeminiFundFrontLoadKeyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadKeyDto'
                xml:
                  name: GeminiFundFrontLoadKeyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadKeyDto'
                xml:
                  name: GeminiFundFrontLoadKeyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadKeyDto'
                xml:
                  name: GeminiFundFrontLoadKeyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadKeyDto'
              xml:
                name: GeminiFundFrontLoadKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadKeyDto'
              xml:
                name: GeminiFundFrontLoadKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadKeyDto'
              xml:
                name: GeminiFundFrontLoadKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadKeyDto'
              xml:
                name: GeminiFundFrontLoadKeyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadKeyDto'
              xml:
                name: GeminiFundFrontLoadKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadKeyDto'
              xml:
                name: GeminiFundFrontLoadKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundFrontLoadKeyDto'
              xml:
                name: GeminiFundFrontLoadKeyDto
                wrapped: true
              type: array
        description: The list keys to delete.
        required: true
  /v1/Reporting/FundPerformance/GeminiFund/GeminiImport:
    post:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_ImportAccountReferralSchedules
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Gemini funds import account referral schedules
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/Inception/{key}:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Get the inception date of fund that has the provided key.
      operationId: GeminiFunds_GetFundInception
      parameters:
      - name: key
        in: path
        description: Key of the desired return object
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundInceptionDto'
                xml:
                  name: GeminiFundInceptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundInceptionDto'
                xml:
                  name: GeminiFundInceptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundInceptionDto'
                xml:
                  name: GeminiFundInceptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundInceptionDto'
                xml:
                  name: GeminiFundInceptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundInceptionDto'
                xml:
                  name: GeminiFundInceptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundInceptionDto'
                xml:
                  name: GeminiFundInceptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/FundPerformance/GeminiFund/Index:
    post:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_CreateIndex
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
        required: true
      summary: Gemini funds create index
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/Index/{key}:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gets the index that has the provided key.
      operationId: GeminiFunds_GetIndex
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexDto'
      security:
      - Authorization: []
  /v1/Reporting/FundPerformance/GeminiFund/Index/{key}/Links:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gets the fund that has the provided key.
      operationId: GeminiFunds_GetFundIndexByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
                xml:
                  name: GeminiFundIndexLinkDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
                xml:
                  name: GeminiFundIndexLinkDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
                xml:
                  name: GeminiFundIndexLinkDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
                xml:
                  name: GeminiFundIndexLinkDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
                xml:
                  name: GeminiFundIndexLinkDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
                xml:
                  name: GeminiFundIndexLinkDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/FundPerformance/GeminiFund/Index/Simple/Search:
    get:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_GetSimpleIndexSearch
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Portfolio.SimpleStringKeyEntityIndex'
                xml:
                  name: SimpleStringKeyEntityIndex
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Portfolio.SimpleStringKeyEntityIndex'
                xml:
                  name: SimpleStringKeyEntityIndex
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Portfolio.SimpleStringKeyEntityIndex'
                xml:
                  name: SimpleStringKeyEntityIndex
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Portfolio.SimpleStringKeyEntityIndex'
                xml:
                  name: SimpleStringKeyEntityIndex
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Portfolio.SimpleStringKeyEntityIndex'
                xml:
                  name: SimpleStringKeyEntityIndex
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Portfolio.SimpleStringKeyEntityIndex'
                xml:
                  name: SimpleStringKeyEntityIndex
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Gemini funds get simple index search
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/Index/Simple/Search/{search}:
    get:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_GetV1ReportingFundPerformanceGeminiFundIndexSimpleSearchBySearch
      parameters:
      - name: search
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Portfolio.SimpleStringKeyEntityIndex'
                xml:
                  name: SimpleStringKeyEntityIndex
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Portfolio.SimpleStringKeyEntityIndex'
                xml:
                  name: SimpleStringKeyEntityIndex
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Portfolio.SimpleStringKeyEntityIndex'
                xml:
                  name: SimpleStringKeyEntityIndex
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Portfolio.SimpleStringKeyEntityIndex'
                xml:
                  name: SimpleStringKeyEntityIndex
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Portfolio.SimpleStringKeyEntityIndex'
                xml:
                  name: SimpleStringKeyEntityIndex
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataAccess.Domains.Portfolio.SimpleStringKeyEntityIndex'
                xml:
                  name: SimpleStringKeyEntityIndex
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Gemini funds get V1 reporting fund performance gemini fund index simple search…
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/IndexLink:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gets the fund div that has the provided key.
      operationId: GeminiFunds_GetFundIndexLinks
      parameters:
      - name: fundKey
        in: query
        required: true
        schema:
          type: string
      - name: indexNumber
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
                xml:
                  name: GeminiFundIndexLinkDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
                xml:
                  name: GeminiFundIndexLinkDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
                xml:
                  name: GeminiFundIndexLinkDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
                xml:
                  name: GeminiFundIndexLinkDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
                xml:
                  name: GeminiFundIndexLinkDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
                xml:
                  name: GeminiFundIndexLinkDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_CreateIndexLink
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
        required: true
      summary: Gemini funds create index link
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/IndexLink/{key}/{indexNumber}:
    get:
      tags:
      - Reporting/FundPerformance
      summary: Gets the fund that has the provided key.
      operationId: GeminiFunds_GetFundIndexLinkByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: string
      - name: indexNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/FundPerformance
      operationId: GeminiFunds_UpdateIndexLink
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      - name: indexNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkDto'
        required: true
      summary: Gemini funds update index link
      x-summary-source: derived
  /v1/Reporting/FundPerformance/GeminiFund/IndexLink/Action/Delete:
    put:
      tags:
      - Reporting/FundPerformance
      summary: Deletes every fund backload provided in the list of ids
      operationId: GeminiFunds_IndexLinkActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkKeyDto'
                xml:
                  name: GeminiFundIndexLinkKeyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkKeyDto'
                xml:
                  name: GeminiFundIndexLinkKeyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkKeyDto'
                xml:
                  name: GeminiFundIndexLinkKeyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkKeyDto'
                xml:
                  name: GeminiFundIndexLinkKeyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkKeyDto'
                xml:
                  name: GeminiFundIndexLinkKeyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkKeyDto'
                xml:
                  name: GeminiFundIndexLinkKeyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkKeyDto'
              xml:
                name: GeminiFundIndexLinkKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkKeyDto'
              xml:
                name: GeminiFundIndexLinkKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkKeyDto'
              xml:
                name: GeminiFundIndexLinkKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.FundPerformance.GeminiFundIndexLinkKeyDto'
[...]
