openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Report Builder/Themes API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: ReportBuilder/Themes
paths:
  /v1/ReportBuilder/Themes:
    get:
      tags:
      - ReportBuilder/Themes
      summary: Gets a list of report builder themes that the logged in user has access to
      operationId: Themes_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: object
                type: array
            application/json:
              schema:
                items:
                  type: object
                type: array
            text/json:
              schema:
                items:
                  type: object
                type: array
            application/xml:
              schema:
                items:
                  type: object
                type: array
            text/xml:
              schema:
                items:
                  type: object
                type: array
            multipart/form-data:
              schema:
                items:
                  type: object
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - ReportBuilder/Themes
      operationId: Themes_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: object
          application/json:
            schema:
              type: object
          text/json:
            schema:
              type: object
          application/xml:
            schema:
              type: object
          text/xml:
            schema:
              type: object
          application/x-www-form-urlencoded:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        required: true
      summary: Themes create entity
      x-summary-source: derived
  /v1/ReportBuilder/Themes/{key}:
    get:
      tags:
      - ReportBuilder/Themes
      summary: Gets the report builder theme that has the provided key.
      operationId: Themes_GetV1ReportBuilderThemesByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    put:
      tags:
      - ReportBuilder/Themes
      operationId: Themes_UpdateEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: object
          application/json:
            schema:
              type: object
          text/json:
            schema:
              type: object
          application/xml:
            schema:
              type: object
          text/xml:
            schema:
              type: object
          application/x-www-form-urlencoded:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        required: true
      summary: Themes update entity
      x-summary-source: derived
    delete:
      tags:
      - ReportBuilder/Themes
      operationId: Themes_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Themes delete
      x-summary-source: derived
  /v1/ReportBuilder/Themes/Default:
    get:
      tags:
      - ReportBuilder/Themes
      summary: Gets the default report builder theme that has the provided key
      operationId: Themes_GetDefault
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/ReportBuilder/Themes/Simple:
    get:
      tags:
      - ReportBuilder/Themes
      summary: Gets a simple list of report builder themes that the logged in user has access…
      operationId: Themes_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.ReportAdministration.SimpleReportBuilderTheme'
                xml:
                  name: SimpleReportBuilderTheme
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.ReportAdministration.SimpleReportBuilderTheme'
                xml:
                  name: SimpleReportBuilderTheme
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.ReportAdministration.SimpleReportBuilderTheme'
                xml:
                  name: SimpleReportBuilderTheme
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.ReportAdministration.SimpleReportBuilderTheme'
                xml:
                  name: SimpleReportBuilderTheme
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.ReportAdministration.SimpleReportBuilderTheme'
                xml:
                  name: SimpleReportBuilderTheme
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.ReportAdministration.SimpleReportBuilderTheme'
                xml:
                  name: SimpleReportBuilderTheme
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/ReportBuilder/Themes/Simple/{key}:
    get:
      tags:
      - ReportBuilder/Themes
      summary: Gets the simple report builder theme that has the provided key.
      operationId: Themes_GetV1ReportBuilderThemesSimpleByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.ReportAdministration.SimpleReportBuilderTheme'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.ReportAdministration.SimpleReportBuilderTheme'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.ReportAdministration.SimpleReportBuilderTheme'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.ReportAdministration.SimpleReportBuilderTheme'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.ReportAdministration.SimpleReportBuilderTheme'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.ReportAdministration.SimpleReportBuilderTheme'
      security:
      - Authorization: []
components:
  schemas:
    OAS.DataModel.ReportAdministration.SimpleReportBuilderTheme:
      properties:
        owner:
          type: string
        isActive:
          type: boolean
        isRepEnabled:
          type: boolean
        canEdit:
          type: boolean
        isDefault:
          type: boolean
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleReportBuilderTheme
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
