openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Element API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/Element
paths:
  /v1/Portfolio/Element/NewAccount/{newAccountId}/NewAccountNewPortfolio:
    post:
      tags:
      - Portfolio/Element
      operationId: NewAccounts_CreateNewAccountNewPortfolioAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: newAccountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: New accounts create new account new portfolio async
      x-summary-source: derived
  /v1/Portfolio/Element/NewAccount/{newAccountId}/NewAccountRegistration:
    post:
      tags:
      - Portfolio/Element
      operationId: NewAccounts_CreateNewAccountRegistrationAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: newAccountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: New accounts create new account registration async
      x-summary-source: derived
  /v1/Portfolio/Element/NewHousehold/{newHouseholdId}/blob:
    post:
      tags:
      - Portfolio/Element
      operationId: NewHouseholds_AddBlob
      parameters:
      - name: newHouseholdId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewHouseholdFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewHouseholdFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewHouseholdFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewHouseholdFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewHouseholdFileDto'
        required: true
      summary: New households add blob
      x-summary-source: derived
  /v1/Portfolio/Element/NewHousehold/{newHouseholdId}/blob/{blobId}:
    get:
      tags:
      - Portfolio/Element
      operationId: NewHouseholds_GetBlob
      parameters:
      - name: newHouseholdId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: blobId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: New households get blob
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.NewHouseholdFileDto:
      required:
      - entity
      properties:
        entity:
          readOnly: true
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
        openWith:
          type: string
        blobDesc:
          type: string
        category:
          type: string
        blobType:
          type: string
          enum:
          - CrmDocuments
      xml:
        name: NewHouseholdFileDto
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
