openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Bill Compare Dashboard API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/BillCompareDashboard
paths:
  /v1/Billing/BillCompareDashboard/BillTypes:
    get:
      tags:
      - Billing/BillCompareDashboard
      summary: Get Bill Compare Instances for comparision
      operationId: BillCompareDashboard_GetBillCompareInstances
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareTypeDto'
                xml:
                  name: BillCompareTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareTypeDto'
                xml:
                  name: BillCompareTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareTypeDto'
                xml:
                  name: BillCompareTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareTypeDto'
                xml:
                  name: BillCompareTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareTypeDto'
                xml:
                  name: BillCompareTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareTypeDto'
                xml:
                  name: BillCompareTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/BillCompareDashboard/Note:
    post:
      tags:
      - Billing/BillCompareDashboard
      summary: Create new bill compare note
      operationId: BillCompareDashboard_CreateNoteAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
        description: BillCompareNote form fields.
        required: true
  /v1/Billing/BillCompareDashboard/Note/{key}:
    get:
      tags:
      - Billing/BillCompareDashboard
      summary: Gets the note that has the provided key.
      operationId: BillCompareDashboard_GetNoteByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
      security:
      - Authorization: []
    put:
      tags:
      - Billing/BillCompareDashboard
      summary: Update the note that has the provided key
      operationId: BillCompareDashboard_UpdateNoteAsync
      parameters:
      - name: key
        in: path
        description: Id of the note to delete.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
        description: Key of the desired return object.
        required: true
    delete:
      tags:
      - Billing/BillCompareDashboard
      summary: Deletes note record provided the key
      operationId: BillCompareDashboard_DeleteNoteAsync
      parameters:
      - name: key
        in: path
        description: Id of the note to delete.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Billing/BillCompareDashboard/Note/New:
    get:
      tags:
      - Billing/BillCompareDashboard
      summary: Gets the notes that match with provided filters
      operationId: BillCompareDashboard_GetNewNote
      parameters:
      - name: accountId
        in: query
        description: Filter by AccountId.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: compareFromOfDate
        in: query
        description: Filter by Bills As of Date
        required: false
        schema:
          type: string
      - name: isMockCompareFrom
        in: query
        description: Bill Type to Compare
        required: false
        schema:
          type: boolean
          default: false
      - name: compareToOfDate
        in: query
        description: Filter by Bills As of Date to compare to
        required: false
        schema:
          type: string
      - name: isMockCompareTo
        in: query
        description: Bill Type to Compare to
        required: false
        schema:
          type: boolean
          default: false
      - name: filterValue
        in: query
        description: Filter value
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: frequency
        in: query
        description: Bill frequency
        required: false
        schema:
          type: integer
          format: int32
          default: 3
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
      security:
      - Authorization: []
  /v1/Billing/BillCompareDashboard/Notes:
    get:
      tags:
      - Billing/BillCompareDashboard
      summary: Gets the notes that match with provided filters
      operationId: BillCompareDashboard_GetNotesAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: accountId
        in: query
        description: Filter by AccountId.
        required: false
        schema:
          type: integer
          format: int32
      - name: compareFromOfDate
        in: query
        description: Filter by Bills As of Date
        required: false
        schema:
          type: string
          format: date-time
      - name: isMockCompareFrom
        in: query
        description: Bill Type to Compare
        required: false
        schema:
          type: boolean
      - name: compareToOfDate
        in: query
        description: Filter by Bills As of Date to compare to
        required: false
        schema:
          type: string
          format: date-time
      - name: isMockCompareTo
        in: query
        description: Bill Type to Compare to
        required: false
        schema:
          type: boolean
      - name: filterValue
        in: query
        description: Filter value
        required: false
        schema:
          type: integer
          format: int32
      - name: frequency
        in: query
        description: Bill frequency
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
                xml:
                  name: BillCompareNoteDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
                xml:
                  name: BillCompareNoteDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
                xml:
                  name: BillCompareNoteDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
                xml:
                  name: BillCompareNoteDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
                xml:
                  name: BillCompareNoteDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillCompareNoteDto'
                xml:
                  name: BillCompareNoteDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/BillCompareDashboard/Results:
    get:
      tags:
      - Billing/BillCompareDashboard
      summary: Get Bill Compare results
      operationId: BillCompareDashboard_GetBillCompareDashboard
      parameters:
      - name: asOfDateCompare
        in: query
        description: Filter by Bills As of Date
        required: false
        schema:
          type: string
      - name: isMockBillCompare
        in: query
        description: Bill Type to Compare
        required: false
        schema:
          type: boolean
          default: false
      - name: asOfDateCompareTo
        in: query
        description: Filter by Bills As of Date to compare to
        required: false
        schema:
          type: string
      - name: isMockBillCompareTo
        in: query
        description: Bill Type to Compare to
        required: false
        schema:
          type: boolean
          default: false
      - name: frequency
        in: query
        description: Bill frequency
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Monthly
          - Quarterly
          - Triannual
          - Semiannually
          - Annually
          - AtMaturity
          default: 3
      - name: filterValue
        in: query
        description: Filter value
        required: false
        schema:
          type: string
          enum:
          - FeeScheduleChange
          - InactivePreviouslyActive
          - NewAccounts
          - CashFlows
          - AdjustmentsApplied
          - RelatedHHAggregation
          - AccountAggregation
          - Cancellations
          - Others
          default: 0
      - name: includeApprovedNotes
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.BillCompareDashboard'
                xml:
                  name: BillCompareDashboard
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.BillCompareDashboard'
                xml:
                  name: BillCompareDashboard
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.BillCompareDashboard'
                xml:
                  name: BillCompareDashboard
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.BillCompareDashboard'
                xml:
                  name: BillCompareDashboard
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.BillCompareDashboard'
                xml:
                  name: BillCompareDashboard
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.BillCompareDashboard'
                xml:
                  name: BillCompareDashboard
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/BillCompareDashboard/SummaryCount:
    get:
      tags:
      - Billing/BillCompareDashboard
      summary: Get summary for Bill Compare Dashboard
      operationId: BillCompareDashboard_GetBillCompareSummaryCounts
      parameters:
      - name: asOfDateCompare
        in: query
        description: Filter by Bills As of Date
        required: false
        schema:
          type: string
      - name: isMockBillCompare
        in: query
        description: Bill Type to Compare
        required: false
        schema:
          type: boolean
          default: false
      - name: asOfDateCompareTo
        in: query
        description: Filter by Bills As of Date to compare to
        required: false
        schema:
          type: string
      - name: isMockBillCompareTo
        in: query
        description: Bill Type to Compare to
        required: false
        schema:
          type: boolean
          default: false
      - name: frequency
        in: query
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Monthly
          - Quarterly
          - Triannual
          - Semiannually
          - Annually
          - AtMaturity
          default: 3
      - name: includeApprovedNotes
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.BillCompareDashboardCounts'
                xml:
                  name: BillCompareDashboardCounts
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.BillCompareDashboardCounts'
                xml:
                  name: BillCompareDashboardCounts
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.BillCompareDashboardCounts'
                xml:
                  name: BillCompareDashboardCounts
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.BillCompareDashboardCounts'
                xml:
                  name: BillCompareDashboardCounts
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.BillCompareDashboardCounts'
                xml:
                  name: BillCompareDashboardCounts
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.BillCompareDashboardCounts'
                xml:
                  name: BillCompareDashboardCounts
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.DataModel.Billing.BillCompareDashboardCounts:
      properties:
        isScheduleChangedCount:
          type: integer
          format: int32
        isPreviousActiveCount:
          type: integer
          format: int32
        isNewAccountCount:
          type: integer
          format: int32
        isCashFlowCount:
          type: integer
          format: int32
        isAdjustmentsAppliedCount:
          type: integer
          format: int32
        isAggregationChangedCount:
          type: integer
          format: int32
        isCancellationCount:
          type: integer
          format: int32
        others:
          type: integer
          format: int32
      xml:
        name: BillCompareDashboardCounts
      type: object
    OAS.WebApi.DTO.Billing.BillCompareNoteDto:
      properties:
        id:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        compareFromOfDate:
          type: string
          format: date-time
        isMockCompareFrom:
          type: boolean
        compareToOfDate:
          type: string
          format: date-time
        isMockCompareTo:
          type: boolean
        filterValue:
          type: integer
          format: int32
        notes:
          type: string
        isApproved:
          type: boolean
        frequency:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: BillCompareNoteDto
      type: object
    OAS.WebApi.DTO.Billing.BillCompareTypeDto:
      properties:
        type:
          type: string
        asOfDate:
          type: string
          format: date-time
        isMockBill:
          type: boolean
        frequency:
          type: integer
          format: int32
      xml:
        name: BillCompareTypeDto
      type: object
    OAS.DataModel.Billing.BillCompareDashboard:
      properties:
        accountID:
          type: integer
          format: int32
        acctCode:
          type: string
        isApproved:
          type: boolean
      xml:
        name: BillCompareDashboard
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
