openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Global/Download Symbols API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Global/DownloadSymbols
paths:
  /v1/Global/DownloadSymbols/{key}:
    get:
      tags:
      - Global/DownloadSymbols
      summary: Gets the download symbol that has the provided key.
      operationId: GlobalDownloadSymbols_GetByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
      security:
      - Authorization: []
  /v1/Global/DownloadSymbols/Full/Product:
    get:
      tags:
      - Global/DownloadSymbols
      summary: Gets the full download symbol records for a given product ID
      description: 'Sample Request

        GET /v1/Global/DownloadSymbols/Full/Product/1'
      operationId: GlobalDownloadSymbols_GetAllFullForProduct
      parameters:
      - name: productId
        in: query
        description: Product ID to filter by
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
                xml:
                  name: DownloadSymbolFullDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
                xml:
                  name: DownloadSymbolFullDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
                xml:
                  name: DownloadSymbolFullDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
                xml:
                  name: DownloadSymbolFullDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
                xml:
                  name: DownloadSymbolFullDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
                xml:
                  name: DownloadSymbolFullDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/DownloadSymbols/Full/Product/{productId}:
    get:
      tags:
      - Global/DownloadSymbols
      summary: Gets the full download symbol records for a given product ID
      description: 'Sample Request

        GET /v1/Global/DownloadSymbols/Full/Product/1'
      operationId: GlobalDownloadSymbols_GetV1GlobalDownloadSymbolsFullProductByProductId
      parameters:
      - name: productId
        in: path
        description: Product ID to filter by
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
                xml:
                  name: DownloadSymbolFullDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
                xml:
                  name: DownloadSymbolFullDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
                xml:
                  name: DownloadSymbolFullDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
                xml:
                  name: DownloadSymbolFullDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
                xml:
                  name: DownloadSymbolFullDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto'
                xml:
                  name: DownloadSymbolFullDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/DownloadSymbols/Product:
    get:
      tags:
      - Global/DownloadSymbols
      summary: Get all download symbols for the product
      operationId: GlobalDownloadSymbols_GetAllForProduct
      parameters:
      - name: productId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolSimpleDto'
                xml:
                  name: DownloadSymbolSimpleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolSimpleDto'
                xml:
                  name: DownloadSymbolSimpleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolSimpleDto'
                xml:
                  name: DownloadSymbolSimpleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolSimpleDto'
                xml:
                  name: DownloadSymbolSimpleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolSimpleDto'
                xml:
                  name: DownloadSymbolSimpleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolSimpleDto'
                xml:
                  name: DownloadSymbolSimpleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Global/DownloadSymbols/Product/{productId}:
    get:
      tags:
      - Global/DownloadSymbols
      summary: Get all download symbols for the product
      operationId: GlobalDownloadSymbols_GetV1GlobalDownloadSymbolsProductByProductId
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolSimpleDto'
                xml:
                  name: DownloadSymbolSimpleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolSimpleDto'
                xml:
                  name: DownloadSymbolSimpleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolSimpleDto'
                xml:
                  name: DownloadSymbolSimpleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolSimpleDto'
                xml:
                  name: DownloadSymbolSimpleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolSimpleDto'
                xml:
                  name: DownloadSymbolSimpleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSymbolSimpleDto'
                xml:
                  name: DownloadSymbolSimpleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.DownloadSymbolSimpleDto:
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        symbol:
          type: string
        isNASDAQPlatformSymbol:
          type: boolean
      xml:
        name: DownloadSymbolSimpleDto
      type: object
    OAS.WebApi.DTO.Portfolio.DownloadSymbolFullDto:
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        symbol:
          type: string
        isNASDAQPlatformSymbol:
          type: boolean
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
      xml:
        name: DownloadSymbolFullDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
