openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Blue Pay API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/BluePay
paths:
  /v1/Integrations/BluePay/{key}:
    delete:
      tags:
      - Integrations/BluePay
      summary: Used to save Credit Card information to Blue Pay
      operationId: BluePay_DeleteCreditCard
      parameters:
      - name: key
        in: path
        description: The ClientId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/BluePay/{key}/StoreACHInfo:
    post:
      tags:
      - Integrations/BluePay
      summary: Used to save ACH information to Blue Pay
      operationId: BluePay_StoreACHInfo
      parameters:
      - name: key
        in: path
        description: The ClientId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
        description: ACH information that will be saved to BluePay.
        required: true
  /v1/Integrations/BluePay/{key}/StoreCreditCard:
    post:
      tags:
      - Integrations/BluePay
      summary: Used to save Credit Card information to Blue Pay
      operationId: BluePay_StoreCreditCard
      parameters:
      - name: key
        in: path
        description: The ClientId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto'
        description: Credit Card information that will be saved to BluePay.
        required: true
  /v1/Integrations/BluePay/Configuration:
    get:
      tags:
      - Integrations/BluePay
      summary: Retrieves Bluepay Integration details
      operationId: BluePay_GetConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/BluePay
      summary: Saves BluePay integration settings
      operationId: BluePay_UpdateConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BluePay.IntegrationConfig'
        required: true
  /v1/Integrations/BluePay/Notify:
    post:
      tags:
      - Integrations/BluePay
      summary: Notification from Bluepay that data has been processed
      description: 'Sample Request

        GET /Notify'
      operationId: BluePay_ProcessBluePayBatchResponseAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/BluePay/NotifyTest:
    post:
      tags:
      - Integrations/BluePay
      summary: Notification for testing fake BluePay messages
      description: 'Sample Request

        GET /NotifyTest'
      operationId: BluePay_ProcessBluePayBatchResponseTestAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBatchResponseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBatchResponseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBatchResponseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBatchResponseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBatchResponseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBatchResponseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BluePay.BluePayBatchResponseDto'
        required: true
components:
  schemas:
    OAT.Integrations.BluePay.IntegrationConfig:
      properties:
        mode:
          type: string
        accountId:
          type: string
        secretKey:
          type: string
      xml:
        name: IntegrationConfig
      type: object
    OAS.WebApi.DTO.Integrations.BluePay.BluePayBatchResponseDto:
      properties:
        trans_id:
          type: string
        name2:
          type: string
        message:
          type: string
        merchdata:
          type: string
        source_id:
          type: string
        master_id:
          type: string
        amount:
          type: string
        custom_id1:
          type: string
        custom_id2:
          type: string
        trans_status:
          type: string
        trans_type:
          type: string
        origin:
          type: string
        processor_id:
          type: string
        email:
          type: string
        company_name:
          type: string
        fancy_status:
          type: string
        country:
          type: string
        vehicle_rental_data:
          type: string
        dba_name:
          type: string
        f_void:
          type: string
        invoice_id:
          type: string
        user_id:
          type: string
        addr2:
          type: string
        mid:
          type: string
        bP_STAMP:
          type: string
        name1:
          type: string
        bank_name:
          type: string
        tpS_HASH_TYPE:
          type: string
        lodging_data:
          type: string
        bluepay_blurb:
          type: string
        mode:
          type: string
        payment_type:
          type: string
        f_card_present:
          type: string
        auth_code:
          type: string
        bP_STAMP_DEF:
          type: string
        issue_date:
          type: string
        card_country:
          type: string
        cvv2_result:
          type: string
        card_account:
          type: string
        card_expire:
          type: string
        addr1:
          type: string
        city:
          type: string
        order_id:
          type: string
        zip:
          type: string
        processor_type:
          type: string
        doc_type:
          type: string
        level_3_data:
          type: string
        rebill_id:
          type: string
        memo:
          type: string
        cvv2_status:
          type: string
        account_name:
          type: string
        state:
          type: string
        avs_result:
          type: string
        card_type:
          type: string
        phone:
          type: string
        account_id:
          type: string
      xml:
        name: BluePayBatchResponseDto
      type: object
    OAS.WebApi.DTO.Integrations.BluePay.BluePayBillingInfoDto:
      properties:
        ccFirstNameOnCard:
          type: string
        ccLastNameOnCard:
          type: string
        ccAddress1:
          type: string
        ccAddress2:
          type: string
        ccCity:
          type: string
        ccState:
          type: string
        ccZip:
          type: string
        ccCountry:
          type: string
        ccPhone:
          type: string
        ccEmail:
          type: string
        ccNumber:
          type: string
        ccExpiration:
          type: string
        cvv2:
          type: string
        ccType:
          type: string
        achRoutingNum:
          type: string
        achAccountNum:
          type: string
        achAccountType:
          type: string
        achDocType:
          type: string
        message:
          type: string
      xml:
        name: BluePayBillingInfoDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
