openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Report Templates API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/ReportTemplates
paths:
  /v1/Reporting/ReportTemplates:
    get:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplates_GetReportTemplatesAsync
      parameters:
      - name: canEdit
        in: query
        required: false
        schema:
          type: boolean
      - name: canDelete
        in: query
        required: false
        schema:
          type: boolean
      - name: isStandardTemplate
        in: query
        required: false
        schema:
          type: boolean
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report templates get report templates async
      x-summary-source: derived
  /v1/Reporting/ReportTemplates/{reportTemplateId}:
    get:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplates_GetReportTemplateAsync
      parameters:
      - name: reportTemplateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report templates get report template async
      x-summary-source: derived
  /v1/Reporting/ReportTemplates/{reportTemplateId}/Favorite:
    put:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplates_UpdateFavoriteAsync
      parameters:
      - name: reportTemplateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report templates update favorite async
      x-summary-source: derived
  /v1/Reporting/ReportTemplates/{reportTemplateId}/HasThumbnail:
    get:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplates_HasThumbnailAsync
      parameters:
      - name: reportTemplateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report templates has thumbnail async
      x-summary-source: derived
  /v1/Reporting/ReportTemplates/{reportTemplateId}/Outline:
    get:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplates_GetReportTemplateOutlineAsync
      parameters:
      - name: reportTemplateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report templates get report template outline async
      x-summary-source: derived
  /v1/Reporting/ReportTemplates/{reportTemplateId}/Thumbnail:
    get:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplates_GetTemplateThumbnailAsync
      parameters:
      - name: reportTemplateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report templates get template thumbnail async
      x-summary-source: derived
    delete:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplates_DeleteTemplateThumbnailAsync
      parameters:
      - name: reportTemplateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report templates delete template thumbnail async
      x-summary-source: derived
  /v1/Reporting/ReportTemplates/{reportTemplateId}/Thumbnail/Upload:
    post:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplates_UploadThumbnailAsync
      parameters:
      - name: reportTemplateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportThumbnailFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportThumbnailFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportThumbnailFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportThumbnailFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportThumbnailFileDto'
        required: true
      summary: Report templates upload thumbnail async
      x-summary-source: derived
  /v1/Reporting/ReportTemplates/Categories:
    get:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplates_GetCategoriesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report templates get categories async
      x-summary-source: derived
  /v1/Reporting/ReportTemplates/Verbose:
    get:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplatesVerbose_GetVerboseTemplatesAsync
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schema
            - RequiredOptions
            - AdditionalOptions
            - DatabaseGroupAccessRules
            - DatabaseAccessRules
            - LoginAccessRules
            - RoleAccessRules
            - UserAccessRules
            - All
            - AllOptions
            - AllAccessRules
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report templates verbose get verbose templates async
      x-summary-source: derived
    post:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplatesVerbose_CreateReportTemplateAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
        required: true
      summary: Report templates verbose create report template async
      x-summary-source: derived
  /v1/Reporting/ReportTemplates/Verbose/{key}:
    get:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplatesVerbose_GetVerboseTemplateAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schema
            - RequiredOptions
            - AdditionalOptions
            - DatabaseGroupAccessRules
            - DatabaseAccessRules
            - LoginAccessRules
            - RoleAccessRules
            - UserAccessRules
            - All
            - AllOptions
            - AllAccessRules
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report templates verbose get verbose template async
      x-summary-source: derived
    put:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplatesVerbose_UpdateReportTemplateAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
        required: true
      summary: Report templates verbose update report template async
      x-summary-source: derived
    delete:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplatesVerbose_DeleteReportTemplateAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report templates verbose delete report template async
      x-summary-source: derived
  /v1/Reporting/ReportTemplates/Verbose/{key}/Actions/Clone:
    post:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplatesVerbose_CloneReportTemplateAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cloneIntoNonStandard
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report templates verbose clone report template async
      x-summary-source: derived
  /v1/Reporting/ReportTemplates/Verbose/New:
    get:
      tags:
      - Reporting/ReportTemplates
      operationId: ReportTemplatesVerbose_GetNewVerboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: useGlobals
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto'
      security:
      - Authorization: []
      summary: Report templates verbose get new verbose async
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.Reporting.Interfaces.IMakeDateRange:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeDateRange
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportSchemaDto:
      properties:
        contextChange:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Engine.ContextChange'
        firstHeader:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.ControlBase'
        header:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.ControlBase'
        body:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.ControlBase'
        footer:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.ControlBase'
        overlay:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.ControlBase'
      xml:
        name: ReportSchemaDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeActivityOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeActivityOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeBillingOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeBillingOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeTradingOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeTradingOption
      type: object
    OAS.DataProcess.Reporting.ReportTemplates.ReportThumbnailFileDto:
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
      xml:
        name: ReportThumbnailFileDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IReturnStyle:
      properties:
        frequency:
          readOnly: true
          type: string
          enum:
          - Summary
          - Annually
          - Quarterly
          - Monthly
          - Weekly
          - Daily
          - Automatic
        basedOn:
          readOnly: true
          type: string
          enum:
          - Calendar
          - RollingForward
          - RollingBackward
        breakBehavior:
          readOnly: true
          type: string
          enum:
          - AllowPartialPeriods
          - PartialPeriodsWithBreakPoints
          - FullPeriodsOnly
        cumulative:
          readOnly: true
          type: boolean
        cumulativeBasedOn:
          readOnly: true
          type: string
          enum:
          - ForwardFromStartDate
          - BackwardFromEndDate
        context:
          readOnly: true
          type: string
          enum:
          - Self
          - Parent
      xml:
        name: IReturnStyle
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportRoleAccessRuleDto:
      properties:
        roleId:
          type: integer
          format: int32
        name:
          type: string
        canRun:
          type: boolean
        canEdit:
          type: boolean
        canDelete:
          type: boolean
      xml:
        name: ReportRoleAccessRuleDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeComparisonOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeComparisonOption
      type: object
    OAS.DataProcess.Reporting.ReportTemplates.ReportTemplatePortfolioDto:
      properties:
        category:
          type: string
        name:
          type: string
        description:
          type: string
        isStandardTemplate:
          type: boolean
        hasThumbnail:
          type: boolean
        canEdit:
          type: boolean
        canDelete:
          type: boolean
        auditedBy:
          type: string
        auditedDate:
          type: string
          format: date-time
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
      xml:
        name: ReportTemplatePortfolioDto
      type: object
    OAS.DataModel.Reporting.ReportOption:
      required:
      - id
      - $type
      properties:
        id:
          type: string
        $type:
          readOnly: true
          type: string
        optionGuid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        optionId:
          type: integer
          format: int32
        isDisabled:
          type: boolean
        isGlobal:
          type: boolean
        isIgnored:
          type: boolean
        name:
          type: string
        useInception:
          type: boolean
        prompt:
          type: string
          enum:
          - Never
          - Always
      xml:
        name: ReportOption
      type: object
    OAS.DataModel.Reporting.ControlBase:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        id:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        width:
          type: string
      xml:
        name: ControlBase
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeCostBasisOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeCostBasisOption
      type: object
    OAS.DataProcess.Reporting.ReportTemplates.ReportTemplateVerboseDto:
      properties:
        id:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        name:
          type: string
        portfolio:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportTemplates.ReportTemplatePortfolioDto'
        schema:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportSchemaDto'
        requiredOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.ReportOption'
          xml:
            name: ReportOption
            wrapped: true
          type: array
        additionalOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.ReportOptionCategory'
          xml:
            name: ReportOptionCategory
            wrapped: true
          type: array
        loginAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportLoginAccessRuleDto'
          xml:
            name: ReportLoginAccessRuleDto
            wrapped: true
          type: array
        databaseGroupAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportDatabaseGroupAccessRuleDto'
          xml:
            name: ReportDatabaseGroupAccessRuleDto
            wrapped: true
          type: array
        databaseAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportDatabaseAccessRuleDto'
          xml:
            name: ReportDatabaseAccessRuleDto
            wrapped: true
          type: array
        roleAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportRoleAccessRuleDto'
          xml:
            name: ReportRoleAccessRuleDto
            wrapped: true
          type: array
        userAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportUserAccessRuleDto'
          xml:
            name: ReportUserAccessRuleDto
            wrapped: true
          type: array
      xml:
        name: ReportTemplateVerboseDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeMaturityPeriodOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeMaturityPeriodOption
      type: object
    OAS.DataModel.Reporting.Calculation.IMakeCalculationOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeCalculationOption
      type: object
    OAS.DataModel.Reporting.ReportOptionCategory:
      required:
      - category
      - options
      properties:
        category:
          type: string
        options:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.ReportOption'
          xml:
            name: ReportOption
            wrapped: true
          type: array
      xml:
        name: ReportOptionCategory
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportDatabaseAccessRuleDto:
      properties:
        alClientId:
          type: integer
          format: int32
        loginEntityId:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        name:
          type: string
        canRun:
          type: boolean
        canEdit:
          type: boolean
      xml:
        name: ReportDatabaseAccessRuleDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakePerformanceOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakePerformanceOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeAttributionOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeAttributionOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeTaxOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeTaxOption
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeIncomeOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeIncomeOption
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportUserAccessRuleDto:
      properties:
        userId:
          type: integer
          format: int32
        name:
          type: string
        canRun:
          type: boolean
        canEdit:
          type: boolean
        canDelete:
          type: boolean
      xml:
        name: ReportUserAccessRuleDto
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportLoginAccessRuleDto:
      properties:
        loginEntityId:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        canRun:
          type: boolean
      xml:
        name: ReportLoginAccessRuleDto
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeTransactionOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeTransactionOption
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeProjectedIncomeOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeProjectedIncomeOption
      type: object
    OAS.DataModel.Reporting.Engine.ContextChange:
      properties:
        activityOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeActivityOption'
        billingOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeBillingOption'
        calculationOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculation.IMakeCalculationOption'
        comparisonOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeComparisonOption'
        costBasisOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeCostBasisOption'
        dateRange:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeDateRange'
        incomeOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeIncomeOption'
        maturityPeriodOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeMaturityPeriodOption'
        performanceOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakePerformanceOption'
        projectedIncomeOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeProjectedIncomeOption'
        statisticalOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeStatisticalOption'
        taxOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeTaxOption'
        tradingOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeTradingOption'
        transactionOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeTransactionOption'
        attributionOption:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IMakeAttributionOption'
        activityOptionId:
          type: integer
          format: int32
        billingOptionId:
          type: integer
          format: int32
        calculationOptionId:
          type: integer
          format: int32
        comparisonOptionId:
          type: integer
          format: int32
        costBasisOptionId:
          type: integer
          format: int32
        dateRangeId:
          type: integer
          format: int32
        incomeOptionId:
          type: integer
          format: int32
        maturityPeriodOptionId:
          type: integer
          format: int32
        performanceOptionId:
          type: integer
          format: int32
        projectedIncomeOptionId:
          type: integer
          format: int32
        promptOptionId:
          type: integer
          format: int32
        reportCategoryId:
          type: integer
          format: int32
        statisticalOptionId:
          type: integer
          format: int32
        taxOptionId:
          type: integer
          format: int32
        tradingOptionId:
          type: integer
          format: int32
        transactionOptionId:
          type: integer
          format: int32
        attributionId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IReturnStyle'
        percentFormat:
          type: string
        dollarFormat:
          type: string
        decimalFormat:
          type: string
        numericFormat:
          type: string
        quickDate:
          type: string
          enum:
          - Day
          - WTD
          - MTD
          - QTD
          - YTD
          - OneYear
          - TwoYear
          - ThreeYear
          - FourYear
          - FiveYear
          - SixYear
          - SevenYear
          - EightYear
          - NineYear
          - TenYear
          - PreviousOneYear
          - PreviousTwoYear
          - PreviousThreeYear
          - PreviousFourYear
          - PreviousFiveYear
          - PreviousSixYear
          - PreviousSevenYear
          - PreviousEightYear
          - PreviousNineYear
          - PreviousTenYear
          - Inception
          - HoldingPeriod
          - AIPLedger
        globalsSynced:
          type: boolean
        useSmaSetting:
          type: boolean
      xml:
        name: ContextChange
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAS.DataModel.Reporting.Interfaces.IMakeStatisticalOption:
      properties:
        type:
          readOnly: true
          type: string
      xml:
        name: IMakeStatisticalOption
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportDatabaseGroupAccessRuleDto:
      properties:
        databaseGroupId:
          type: integer
          format: int32
        loginEntityId:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        name:
          type: string
        canRun:
          type: boolean
        canEdit:
          type: boolean
      xml:
        name: ReportDatabaseGroupAccessRuleDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
