openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Referral Payments API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/ReferralPayments
paths:
  /v1/Billing/ReferralPayments:
    get:
      tags:
      - Billing/ReferralPayments
      summary: Get a list of referral payments that the logged in user has access to see.
      operationId: ReferralPayments_GetAllReferralPayments
      parameters:
      - name: batchId
        in: query
        description: 'Optional. Default: null. If provided only payments for the batchId specified will be returned.'
        required: false
        schema:
          type: integer
          format: int32
      - name: payeeId
        in: query
        description: 'Optional. Default: null. If provided only payments for the payeeId specified will be returned.'
        required: false
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: 'Optional. Default: null. If provided only payments created on or after the date specified will be returned.'
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: 'Optional. Default: null. If provided only payments created on or before the date specified will be returned.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentDto'
                xml:
                  name: ReferralPaymentDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentDto'
                xml:
                  name: ReferralPaymentDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentDto'
                xml:
                  name: ReferralPaymentDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentDto'
                xml:
                  name: ReferralPaymentDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentDto'
                xml:
                  name: ReferralPaymentDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentDto'
                xml:
                  name: ReferralPaymentDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/ReferralPayments/Action/CalculateBatch:
    put:
      tags:
      - Billing/ReferralPayments
      summary: Routine that calculates Referral payments and creates a new Referral Batch
      operationId: ReferralPayments_ActionTransfer
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto'
        description: Batch Information
        required: true
  /v1/Billing/ReferralPayments/Batch:
    get:
      tags:
      - Billing/ReferralPayments
      summary: Get all batches
      operationId: ReferralPayments_GetAllBatches
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto'
                xml:
                  name: ReferralPaymentBatchDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto'
                xml:
                  name: ReferralPaymentBatchDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto'
                xml:
                  name: ReferralPaymentBatchDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto'
                xml:
                  name: ReferralPaymentBatchDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto'
                xml:
                  name: ReferralPaymentBatchDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto'
                xml:
                  name: ReferralPaymentBatchDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/ReferralPayments/Batch/{key}:
    get:
      tags:
      - Billing/ReferralPayments
      summary: Get batch by id
      operationId: ReferralPayments_GetBatchById
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentBatchFullDto'
      security:
      - Authorization: []
  /v1/Billing/ReferralPayments/Counts:
    get:
      tags:
      - Billing/ReferralPayments
      summary: Get counts for the UI
      operationId: ReferralPayments_GetCounts
      parameters:
      - name: batchId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: payeeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Billing/ReferralPayments/Delete:
    post:
      tags:
      - Billing/ReferralPayments
      operationId: ReferralPayments_DeletePaymentsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Referral payments delete payments async
      x-summary-source: derived
  /v1/Billing/ReferralPayments/Payee:
    get:
      tags:
      - Billing/ReferralPayments
      summary: Get list of payees with referral payments
      operationId: ReferralPayments_GetAllPayees
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayeeDto'
                xml:
                  name: SimplePayeeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayeeDto'
                xml:
                  name: SimplePayeeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayeeDto'
                xml:
                  name: SimplePayeeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayeeDto'
                xml:
                  name: SimplePayeeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayeeDto'
                xml:
                  name: SimplePayeeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimplePayeeDto'
                xml:
                  name: SimplePayeeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Billing.ReferralPaymentBatchDto:
      properties:
        id:
          type: integer
          format: int32
        batchName:
          type: string
        dateRangeStart:
          type: string
          format: date-time
        dateRangeEnd:
          type: string
          format: date-time
        billPeriodStartDate:
          type: string
          format: date-time
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: ReferralPaymentBatchDto
      type: object
    OAS.WebApi.DTO.Billing.ReferralPaymentFullDto:
      properties:
        accountId:
          type: integer
          format: int32
        payeeFiratName:
          type: string
        payeeLastName:
          type: string
        id:
          type: integer
          format: int32
        batchName:
          type: string
        custodian:
          type: string
        accountName:
          type: string
        accountNumber:
          type: string
        payeeName:
          type: string
        paymentAmount:
          type: number
          format: double
        feeAmount:
          type: number
          format: double
        transactionDate:
          type: string
          format: date-time
        tierYear:
          type: integer
          format: int32
        batchDateRangeStart:
          type: string
          format: date-time
        batchDateRangeEnd:
          type: string
          format: date-time
        batchId:
          type: integer
          format: int32
        accountReferralId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        payeeEmail:
          type: string
        payeePhoneNumber:
          type: string
        batchBillPeriodStart:
          type: string
          format: date-time
        payeeId:
          type: integer
          format: int32
      xml:
        name: ReferralPaymentFullDto
      type: object
    OAS.WebApi.DTO.Billing.ReferralPaymentBatchFullDto:
      properties:
        referralPayments:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.ReferralPaymentFullDto'
          xml:
            name: ReferralPaymentFullDto
            wrapped: true
          type: array
        id:
          type: integer
          format: int32
        batchName:
          type: string
        dateRangeStart:
          type: string
          format: date-time
        dateRangeEnd:
          type: string
          format: date-time
        billPeriodStartDate:
          type: string
          format: date-time
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: ReferralPaymentBatchFullDto
      type: object
    OAS.WebApi.DTO.Billing.ReferralPaymentDto:
      properties:
        payeeFiratName:
          type: string
        payeeLastName:
          type: string
        id:
          type: integer
          format: int32
        batchName:
          type: string
        custodian:
          type: string
        accountName:
          type: string
        accountNumber:
          type: string
        payeeName:
          type: string
        paymentAmount:
          type: number
          format: double
        feeAmount:
          type: number
          format: double
        transactionDate:
          type: string
          format: date-time
        tierYear:
          type: integer
          format: int32
        batchDateRangeStart:
          type: string
          format: date-time
        batchDateRangeEnd:
          type: string
          format: date-time
        batchId:
          type: integer
          format: int32
        accountReferralId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        payeeEmail:
          type: string
        payeePhoneNumber:
          type: string
        batchBillPeriodStart:
          type: string
          format: date-time
        payeeId:
          type: integer
          format: int32
      xml:
        name: ReferralPaymentDto
      type: object
    OAS.WebApi.DTO.Billing.SimplePayeeDto:
      properties:
        personalId:
          type: integer
          format: int32
        personalLastName:
          type: string
        personalFirstName:
          type: string
        oldAutoId:
          type: integer
          format: int32
        oldPayeeCode:
          type: string
        isActive:
          type: boolean
        isUserAdded:
          type: boolean
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimplePayeeDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
