openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Report Inbox API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/ReportInbox
paths:
  /v1/Reporting/ReportInbox:
    get:
      tags:
      - Reporting/ReportInbox
      summary: Gets a list of report inboxs that the logged in user has access to
      operationId: ReportInbox_GetAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.ReportInboxDto'
                xml:
                  name: ReportInboxDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.ReportInboxDto'
                xml:
                  name: ReportInboxDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.ReportInboxDto'
                xml:
                  name: ReportInboxDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.ReportInboxDto'
                xml:
                  name: ReportInboxDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.ReportInboxDto'
                xml:
                  name: ReportInboxDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.ReportInboxDto'
                xml:
                  name: ReportInboxDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/ReportInbox/{key}:
    get:
      tags:
      - Reporting/ReportInbox
      summary: Gets the report inbox with the provided key.
      operationId: ReportInbox_GetItemByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.ReportInboxDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.ReportInboxDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.ReportInboxDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.ReportInboxDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.ReportInboxDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.ReportInboxDto'
      security:
      - Authorization: []
    delete:
      tags:
      - Reporting/ReportInbox
      operationId: ReportInbox_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report inbox delete
      x-summary-source: derived
  /v1/Reporting/ReportInbox/{key}/Download:
    get:
      tags:
      - Reporting/ReportInbox
      summary: Used to download a file from report inbox
      operationId: ReportInbox_DownloadReportInbox
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Reporting.ReportInboxDto:
      properties:
        id:
          type: integer
          format: int32
        openWith:
          type: string
        fileName:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        description:
          type: string
      xml:
        name: ReportInboxDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
