openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Report Builder/Cover Pages API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: ReportBuilder/CoverPages
paths:
  /v1/ReportBuilder/CoverPages:
    get:
      tags:
      - ReportBuilder/CoverPages
      operationId: CoverPages_GetCoverPages
      parameters:
      - name: width
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - PortraitFull
            - LandscapeFull
            - LandscapeHalf
      - name: templateType
        in: query
        required: false
        schema:
          type: string
          enum:
          - All
          - Standard
          - FooterImage
          - Disclaimer
          - WiderLogo
          - HeaderSlim
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Cover pages get cover pages
      x-summary-source: derived
  /v1/ReportBuilder/CoverPages/{key}:
    get:
      tags:
      - ReportBuilder/CoverPages
      summary: Gets the cover page that has the provided key.
      operationId: CoverPages_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
      security:
      - Authorization: []
  /v1/ReportBuilder/CoverPages/{key}/Image:
    get:
      tags:
      - ReportBuilder/CoverPages
      summary: Gets the image of the cover page that has the provided key formatted as an…
      operationId: CoverPages_GetImage
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/ReportBuilder/CoverPages/Landscape:
    get:
      tags:
      - ReportBuilder/CoverPages
      summary: Gets a list of cover pages that are landscape oriented
      operationId: CoverPages_GetLandscapeCoverPages
      parameters:
      - name: templateType
        in: query
        required: false
        schema:
          type: string
          enum:
          - All
          - Standard
          - FooterImage
          - Disclaimer
          - WiderLogo
          - HeaderSlim
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/ReportBuilder/CoverPages/Portrait:
    get:
      tags:
      - ReportBuilder/CoverPages
      summary: Gets a list of cover pages that are portrait oriented
      operationId: CoverPages_GetPortraitCoverPages
      parameters:
      - name: templateType
        in: query
        required: false
        schema:
          type: string
          enum:
          - All
          - Standard
          - FooterImage
          - Disclaimer
          - WiderLogo
          - HeaderSlim
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
                xml:
                  name: ReportSectionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.ReportAdministration.ReportSectionParameterDto:
      properties:
        id:
          type: integer
          format: int32
        displayName:
          type: string
        value:
          type: string
      xml:
        name: ReportSectionParameterDto
      type: object
    OAS.WebApi.DTO.ReportAdministration.ReportSectionDto:
      properties:
        id:
          type: integer
          format: int32
        displayName:
          type: string
        description:
          type: string
        width:
          type: string
          enum:
          - PortraitFull
          - LandscapeFull
          - LandscapeHalf
        templateType:
          type: string
          enum:
          - All
          - Standard
          - FooterImage
          - Disclaimer
          - WiderLogo
          - HeaderSlim
        parameters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionParameterDto'
          xml:
            name: ReportSectionParameterDto
            wrapped: true
          type: array
        createdDate:
          type: string
          format: date-time
      xml:
        name: ReportSectionDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
