openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Subscription Center API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/SubscriptionCenter
paths:
  /v1/Utility/SubscriptionCenter/Setup:
    post:
      tags:
      - Utility/SubscriptionCenter
      operationId: SubscriptionCenter_SetupDatabaseUserAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
        required: true
      summary: Subscription center setup database user async
      x-summary-source: derived
  /v1/Utility/SubscriptionCenter/Setup/Retry/{id}:
    post:
      tags:
      - Utility/SubscriptionCenter
      operationId: SubscriptionCenter_RetrySetupAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Subscription center retry setup async
      x-summary-source: derived
  /v1/Utility/SubscriptionCenter/User:
    get:
      tags:
      - Utility/SubscriptionCenter
      operationId: SubscriptionCenter_GetDatabaseUserAsync
      parameters:
      - name: userGuid
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: firmId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Subscription center get database user async
      x-summary-source: derived
    post:
      tags:
      - Utility/SubscriptionCenter
      operationId: SubscriptionCenter_CreateDatabaseUserAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto'
        required: true
      summary: Subscription center create database user async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserInfoDto:
      properties:
        isDatabaseOwner:
          type: boolean
        userId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        company:
          type: string
        businessPhone:
          type: string
        businessPhoneExtension:
          type: string
      xml:
        name: SubscriptionCenterUserInfoDto
      type: object
    OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserRequestDto:
      properties:
        subscriptionIds:
          items:
            type: string
          type: array
        masterFirmGlobalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        firmGlobalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        firmName:
          type: string
        userGlobalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        userInfo:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.SubscriptionCenter.SubscriptionCenterUserInfoDto'
      xml:
        name: SubscriptionCenterUserRequestDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
