openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Configuration API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Configuration
paths:
  /v1/Integrations/Configuration/{app}/Client:
    get:
      tags:
      - Integrations/Configuration
      summary: Returns the integration information for the specified ClientId
      operationId: Configuration_Client
      parameters:
      - name: app
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Configuration
      operationId: Configuration_UpdateClientConfig
      parameters:
      - name: app
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
        required: true
      summary: Configuration update client config
      x-summary-source: derived
  /v1/Integrations/Configuration/{app}/Firm:
    get:
      tags:
      - Integrations/Configuration
      summary: Returns the integration information for the current Firm the user is logged…
      operationId: Configuration_Firm
      parameters:
      - name: app
        in: path
        description: App Code, supplied by Orion
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Configuration
      summary: Updates the Firm level integration Information
      operationId: Configuration_UpdateFirmConfig
      parameters:
      - name: app
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
        required: true
  /v1/Integrations/Configuration/{app}/Profile:
    get:
      tags:
      - Integrations/Configuration
      summary: Returns the integraton information for the Profile.
      operationId: Configuration_Profile
      parameters:
      - name: app
        in: path
        description: App Code, supplied by Orion
        required: true
        schema:
          type: string
      - name: userDetailId
        in: query
        description: Optional.  When omitted, the currently logged in profile (userDetailId) is used.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Configuration
      operationId: Configuration_UpdateProfileConfig
      parameters:
      - name: app
        in: path
        required: true
        schema:
          type: string
      - name: userDetailId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
        required: true
      summary: Configuration update profile config
      x-summary-source: derived
  /v1/Integrations/Configuration/{app}/System:
    get:
      tags:
      - Integrations/Configuration
      summary: Returns integration information at a System Level (system level = all orion…
      operationId: Configuration_System
      parameters:
      - name: app
        in: path
        description: App Code, supplied by Orion
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Configuration
      summary: Updates the config information for the System Level
      operationId: Configuration_UpdateSystemConfig
      parameters:
      - name: app
        in: path
        description: App Code, supplied by Orion
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
        description: Configuration object
        required: true
  /v1/Integrations/Configuration/{app}/User:
    get:
      tags:
      - Integrations/Configuration
      summary: Returns integration information for the currently logged in user (if…
      operationId: Configuration_GetUser
      parameters:
      - name: app
        in: path
        description: App Code, supplied by Orion
        required: true
        schema:
          type: string
      - name: userId
        in: query
        description: Optional.  When used, the integration information is returned for this userId, When omitted, the currently logged in user is used.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Configuration
      summary: Updates the integration information for the User
      operationId: Configuration_UpdateUserConfig
      parameters:
      - name: app
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto'
        required: true
  /v1/Integrations/Configuration/Maintenance/BackfillExternalIds:
    post:
      tags:
      - Integrations/Configuration
      summary: Admin-only maintenance endpoint to backfill encryption for existing…
      operationId: Configuration_BackfillExternalIds
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ExternalIdEncryptionBackfillRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ExternalIdEncryptionBackfillRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ExternalIdEncryptionBackfillRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ExternalIdEncryptionBackfillRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ExternalIdEncryptionBackfillRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ExternalIdEncryptionBackfillRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.ExternalIdEncryptionBackfillRequestDto'
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Integrations.IntegrationConfigurationDto:
      properties:
        id:
          type: integer
          format: int32
        integrationInfo:
          type: string
        level:
          type: string
          enum:
          - System
          - Firm
          - User
          - UserProfile
          - Client
          - Custodian
          - Rep
      xml:
        name: IntegrationConfigurationDto
      type: object
    OAS.WebApi.DTO.Integrations.ExternalIdEncryptionBackfillRequestDto:
      properties:
        appCode:
          type: string
        level:
          type: string
          enum:
          - System
          - Firm
          - User
          - UserProfile
          - Client
          - Custodian
          - Rep
        dryRun:
          type: boolean
        maxRows:
          type: integer
          format: int32
        allFirms:
          type: boolean
        alClientIds:
          items:
            type: integer
            format: int32
          type: array
      xml:
        name: ExternalIdEncryptionBackfillRequestDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
