openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Download Process API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/DownloadProcess
paths:
  /v1/Confirm/DownloadProcess/{typeId}:
    get:
      tags:
      - Confirm/DownloadProcess
      summary: Gets the list of download processes for the supplied download process type.
      operationId: DownloadProcess_GetDownloadProcessesByTypeAsync
      parameters:
      - name: typeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Confirm/DownloadProcess/AutoScrubAdHocBatch:
    get:
      tags:
      - Confirm/DownloadProcess
      summary: Gets all ad-hoc AutoScrub batches
      operationId: DownloadProcessAutoScrubAdHocBatch_GetAutoScrubAdHocBatchesAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/DownloadProcess
      summary: Creates an ad-hoc AutoScrub batch in AddingTransactionsToQueue status and…
      operationId: DownloadProcessAutoScrubAdHocBatch_CreateAutoScrubAdHocBatchAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchCreateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchCreateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchCreateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchCreateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchCreateDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchCreateDto'
        required: true
  /v1/Confirm/DownloadProcess/AutoScrubAdHocBatch/{id}:
    get:
      tags:
      - Confirm/DownloadProcess
      summary: Gets an ad-hoc AutoScrub batch by id
      operationId: DownloadProcessAutoScrubAdHocBatch_GetAutoScrubAdHocBatchByIdAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/DownloadProcess
      summary: Cancels an ad-hoc AutoScrub batch
      operationId: DownloadProcessAutoScrubAdHocBatch_UpdateAutoScrubAdHocBatchAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchUpdateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchUpdateDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchUpdateDto'
        required: true
  /v1/Confirm/DownloadProcess/AutoScrubAdHocBatch/Action/Start/{id}:
    put:
      tags:
      - Confirm/DownloadProcess
      summary: Starts processing an ad-hoc AutoScrub batch via Hangfire
      operationId: DownloadProcessAutoScrubAdHocBatch_StartAutoScrubAdHocBatchAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Confirm/DownloadProcess/Configuration/{typeId}:
    get:
      tags:
      - Confirm/DownloadProcess
      summary: Gets all download process configurations (with their ALClient lists) for the…
      operationId: DownloadProcess_GetConfigurationByTypeAsync
      parameters:
      - name: typeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/DownloadProcess
      summary: Replaces all download process configurations (and their ALClient lists) for the…
      operationId: DownloadProcess_SaveConfigurationByTypeAsync
      parameters:
      - name: typeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationDto'
              xml:
                name: DownloadProcessConfigurationDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationDto'
              xml:
                name: DownloadProcessConfigurationDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationDto'
              xml:
                name: DownloadProcessConfigurationDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationDto'
              xml:
                name: DownloadProcessConfigurationDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationDto'
              xml:
                name: DownloadProcessConfigurationDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationDto'
              xml:
                name: DownloadProcessConfigurationDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationDto'
              xml:
                name: DownloadProcessConfigurationDto
                wrapped: true
              type: array
        required: true
  /v1/Confirm/DownloadProcess/ConfigurationAdHoc/{typeId}:
    get:
      tags:
      - Confirm/DownloadProcess
      summary: Gets all ad-hoc download process configurations for the supplied download…
      operationId: DownloadProcess_GetConfigurationAdHocByTypeAsync
      parameters:
      - name: typeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/DownloadProcess
      summary: Replaces all ad-hoc download process configurations for the supplied download…
      operationId: DownloadProcess_SaveConfigurationAdHocByTypeAsync
      parameters:
      - name: typeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationAdHocDto'
              xml:
                name: DownloadProcessConfigurationAdHocDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationAdHocDto'
              xml:
                name: DownloadProcessConfigurationAdHocDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationAdHocDto'
              xml:
                name: DownloadProcessConfigurationAdHocDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationAdHocDto'
              xml:
                name: DownloadProcessConfigurationAdHocDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationAdHocDto'
              xml:
                name: DownloadProcessConfigurationAdHocDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationAdHocDto'
              xml:
                name: DownloadProcessConfigurationAdHocDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationAdHocDto'
              xml:
                name: DownloadProcessConfigurationAdHocDto
                wrapped: true
              type: array
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationAdHocDto:
      properties:
        id:
          type: integer
          format: int32
        downloadProcessTypeId:
          type: integer
          format: int32
        runOrder:
          type: integer
          format: int32
        isActive:
          type: boolean
        downloadProcessId:
          type: integer
          format: int32
        processName:
          type: string
        configJSON:
          type: string
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: DownloadProcessConfigurationAdHocDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadProcessConfigurationDto:
      properties:
        id:
          type: integer
          format: int32
        downloadProcessTypeId:
          type: integer
          format: int32
        runOrder:
          type: integer
          format: int32
        isActive:
          type: boolean
        downloadProcessId:
          type: integer
          format: int32
        processName:
          type: string
        includeType:
          type: boolean
        configJSON:
          type: string
        alClientIds:
          items:
            type: integer
            format: int32
          type: array
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: DownloadProcessConfigurationDto
      type: object
    OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchUpdateDto:
      properties:
        batchStatus:
          type: string
          enum:
          - Pending
          - AddingTransactionsToQueue
          - Processing
          - Complete
          - Cancelled
          - Error
      xml:
        name: AutoScrubAdHocBatchUpdateDto
      type: object
    OAS.WebApi.DTO.Confirm.AutoScrubAdHocBatchCreateDto:
      required:
      - batchName
      properties:
        batchName:
          type: string
          maxLength: 255
          minLength: 1
        downloadProcessConfigurationListJson:
          type: string
        repList:
          type: string
        accountList:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
      xml:
        name: AutoScrubAdHocBatchCreateDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
