openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/AL Client Ops API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/ALClientOps
paths:
  /v1/Portfolio/ALClientOps:
    get:
      tags:
      - Portfolio/ALClientOps
      summary: Gets all Client OPS
      operationId: AlClientOps_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
                xml:
                  name: AlClientOpsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
                xml:
                  name: AlClientOpsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
                xml:
                  name: AlClientOpsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
                xml:
                  name: AlClientOpsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
                xml:
                  name: AlClientOpsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
                xml:
                  name: AlClientOpsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/ALClientOps
      summary: Update multiple clients OPS
      operationId: AlClientOps_UpdateClientsAsync
      parameters:
      - name: ct
        in: header
        description: Cancellation token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
                xml:
                  name: AlClientOpsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
                xml:
                  name: AlClientOpsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
                xml:
                  name: AlClientOpsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
                xml:
                  name: AlClientOpsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
                xml:
                  name: AlClientOpsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
                xml:
                  name: AlClientOpsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
              xml:
                name: AlClientOpsDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
              xml:
                name: AlClientOpsDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
              xml:
                name: AlClientOpsDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
              xml:
                name: AlClientOpsDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
              xml:
                name: AlClientOpsDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
              xml:
                name: AlClientOpsDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
              xml:
                name: AlClientOpsDto
                wrapped: true
              type: array
        description: List of OPS clients to be updated
        required: true
    post:
      tags:
      - Portfolio/ALClientOps
      summary: Create a new OPS record cor a client
      operationId: AlClientOps_CreateEntityAsync
      parameters:
      - name: ct
        in: header
        description: Cancellation Token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
        description: OPS object to be saved for client.
        required: true
  /v1/Portfolio/ALClientOps/{key}:
    get:
      tags:
      - Portfolio/ALClientOps
      summary: Gets Client OPS by key passed in
      operationId: AlClientOps_GetByKeyAsync
      parameters:
      - name: key
        in: path
        description: ID of the client to get OPS for.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: Cancellation token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/ALClientOps
      summary: Update an OPS for a client
      operationId: AlClientOps_UpdateAsync
      parameters:
      - name: key
        in: path
        description: ID of the Client to update.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.AlClientOpsDto'
        required: true
    delete:
      tags:
      - Portfolio/ALClientOps
      summary: Delete an OPS for a client
      operationId: AlClientOps_DeleteAsync
      parameters:
      - name: key
        in: path
        description: ID of the client to delete the OPS for.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/ALClientOps/Action/Delete:
    put:
      tags:
      - Portfolio/ALClientOps
      summary: Deletes multiple clients OPS. Returns a list of deleted items
      operationId: AlClientOps_DeleteClientsAsync
      parameters:
      - name: ct
        in: header
        description: Cancellation token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of OPS client ids to be deleted
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Security.AlClientOpsDto:
      properties:
        id:
          type: integer
          format: int32
        clientName:
          type: string
        isFullOps:
          type: boolean
        isBilling:
          type: boolean
        isComposites:
          type: boolean
        isStatements:
          type: boolean
        isTrading:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        databaseName:
          type: string
        serverName:
          type: string
      xml:
        name: AlClientOpsDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
