openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Index Blends API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/IndexBlends
paths:
  /v1/Portfolio/IndexBlends:
    get:
      tags:
      - Portfolio/IndexBlends
      summary: Gets a list of index blends that the logged in user has access to
      operationId: IndexBlends_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendDto'
                xml:
                  name: IndexBlendDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendDto'
                xml:
                  name: IndexBlendDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendDto'
                xml:
                  name: IndexBlendDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendDto'
                xml:
                  name: IndexBlendDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendDto'
                xml:
                  name: IndexBlendDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendDto'
                xml:
                  name: IndexBlendDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/IndexBlends
      summary: Used to create a new index blend
      operationId: IndexBlends_Create
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
        required: true
  /v1/Portfolio/IndexBlends/{key}:
    get:
      tags:
      - Portfolio/IndexBlends
      summary: Gets the index blend that has the provided key.
      operationId: IndexBlends_GetByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/IndexBlends
      summary: Used to update an existing index blend.
      operationId: IndexBlends_UpdateAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendFullDto'
        required: true
    delete:
      tags:
      - Portfolio/IndexBlends
      summary: Used to delete an existing index blend.
      operationId: IndexBlends_DeleteAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/IndexBlends/{key}/DateRanges:
    get:
      tags:
      - Portfolio/IndexBlends
      operationId: IndexBlends_GetDateRangesByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IndexBlendDetailDateRange'
                xml:
                  name: IndexBlendDetailDateRange
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IndexBlendDetailDateRange'
                xml:
                  name: IndexBlendDetailDateRange
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IndexBlendDetailDateRange'
                xml:
                  name: IndexBlendDetailDateRange
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IndexBlendDetailDateRange'
                xml:
                  name: IndexBlendDetailDateRange
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IndexBlendDetailDateRange'
                xml:
                  name: IndexBlendDetailDateRange
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IndexBlendDetailDateRange'
                xml:
                  name: IndexBlendDetailDateRange
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Index blends get date ranges by key
      x-summary-source: derived
  /v1/Portfolio/IndexBlends/{key}/Intervals:
    get:
      tags:
      - Portfolio/IndexBlends
      operationId: IndexBlends_GetIntervalsByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Index blends get intervals by key
      x-summary-source: derived
  /v1/Portfolio/IndexBlends/Simple:
    get:
      tags:
      - Portfolio/IndexBlends
      summary: Gets a simple list of index blends that the logged in user has access to
      operationId: IndexBlends_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.IndexBlendDynamicDetailDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        product:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Search.SearchProductDto'
      xml:
        name: IndexBlendDynamicDetailDto
      type: object
    OAS.WebApi.DTO.Search.SearchProductDto:
      properties:
        ticker:
          type: string
        productId:
          type: integer
          format: int32
        productName:
          type: string
        productType:
          type: integer
          format: int32
        productTypeName:
          type: string
        price:
          type: number
          format: double
        shareClass:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.ShareClass'
        externalId:
          type: integer
          format: int32
        productRiskScore:
          type: integer
          format: int32
        productClass:
          type: string
        productCategory:
          type: string
        riskScore:
          type: integer
          format: int32
      xml:
        name: SearchProductDto
      type: object
    OAS.WebApi.DTO.Portfolio.IndexBlendTimeframeDto:
      properties:
        id:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
        target:
          type: number
          format: double
        allocations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendAllocationDto'
          xml:
            name: IndexBlendAllocationDto
            wrapped: true
          type: array
      xml:
        name: IndexBlendTimeframeDto
      type: object
    OAS.WebApi.DTO.Portfolio.IndexBlendAllocationDto:
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        ticker:
          type: string
        productName:
          type: string
        weight:
          type: number
          format: double
      xml:
        name: IndexBlendAllocationDto
      type: object
    OAS.WebApi.DTO.Portfolio.IndexBlendDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        interval:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        assetClassId:
          type: integer
          format: int32
        assetClassName:
          type: string
        color:
          type: string
        dynamicType:
          type: string
          enum:
          - None
          - AssetClass
          - AssetCategory
          - ManagementStyle
          - AggregateModel
          - RiskCategory
      xml:
        name: IndexBlendDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.DataModel.Portfolio.ShareClass:
      required:
      - id
      - class
      properties:
        id:
          type: integer
          format: int32
        class:
          type: string
          maxLength: 10
          minLength: 0
        description:
          type: string
          maxLength: 255
          minLength: 0
        oldFundId:
          type: integer
          format: int32
        loadType:
          type: string
          maxLength: 1
          minLength: 0
        isDefault:
          type: boolean
      xml:
        name: ShareClass
      type: object
    OAS.DataModel.Portfolio.SimpleRepresentative:
      properties:
        isActive:
          type: boolean
        number:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleRepresentative
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDto
      type: object
    OAS.DataModel.Portfolio.IndexBlendDetailDateRange:
      properties:
        key:
          type: string
        value:
          type: string
      xml:
        name: IndexBlendDetailDateRange
      type: object
    OAS.WebApi.DTO.Portfolio.IndexBlendFullDto:
      properties:
        represenativesExcludedByDefault:
          type: boolean
        timeFrames:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendTimeframeDto'
          xml:
            name: IndexBlendTimeframeDto
            wrapped: true
          type: array
        entityOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
        representatives:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleRepresentative'
          xml:
            name: SimpleRepresentative
            wrapped: true
          type: array
        dynamicDetails:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.IndexBlendDynamicDetailDto'
          xml:
            name: IndexBlendDynamicDetailDto
            wrapped: true
          type: array
        id:
          type: integer
          format: int32
        name:
          type: string
        interval:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        assetClassId:
          type: integer
          format: int32
        assetClassName:
          type: string
        color:
          type: string
        dynamicType:
          type: string
          enum:
          - None
          - AssetClass
          - AssetCategory
          - ManagementStyle
          - AggregateModel
          - RiskCategory
      xml:
        name: IndexBlendFullDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
