openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Eclipse API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Eclipse
paths:
  /v1/Integrations/Eclipse/Accounts/{accountId}/Holdings:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get holdings by account
      operationId: IntegrationsEclipse_GetHoldingsByAccount
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseHolding'
                xml:
                  name: EclipseHolding
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseHolding'
                xml:
                  name: EclipseHolding
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseHolding'
                xml:
                  name: EclipseHolding
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseHolding'
                xml:
                  name: EclipseHolding
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseHolding'
                xml:
                  name: EclipseHolding
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseHolding'
                xml:
                  name: EclipseHolding
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/Accounts/External/{externalAccountId}:
    get:
      tags:
      - Integrations/Eclipse
      summary: Return the Eclipse account based on OC account and firm ids
      operationId: IntegrationsEclipse_GetEclipseAccountByExternalId
      parameters:
      - name: externalAccountId
        in: path
        description: Orion Connect Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseAccountResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseAccountResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseAccountResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseAccountResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseAccountResponse'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseAccountResponse'
      security:
      - Authorization: []
  /v1/Integrations/Eclipse/Actions/InitiateV2ImportOnEclipse:
    post:
      tags:
      - Integrations/Eclipse
      summary: Initiates the Import Process on EclipseV2
      operationId: IntegrationsEclipse_InitiateV2ImportOnEclipse
      parameters:
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseInitV2ImportOnEclipseRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseInitV2ImportOnEclipseRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseInitV2ImportOnEclipseRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseInitV2ImportOnEclipseRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseInitV2ImportOnEclipseRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseInitV2ImportOnEclipseRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseInitV2ImportOnEclipseRequest'
        description: Object containing the Eclipse Firm ID and a boolean representing whether the extract type is "Full".  The Correlation ID will be auto-generated.
        required: true
  /v1/Integrations/Eclipse/Actions/StartExtract:
    post:
      tags:
      - Integrations/Eclipse
      summary: This was the endpoint for starting the V1 Import process.
      operationId: IntegrationsEclipse_StartExtract
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Eclipse/Actions/StartExtractV2:
    post:
      tags:
      - Integrations/Eclipse
      summary: Starts the Eclipse extract, which notifies eclipse the extract is starting…
      operationId: IntegrationsEclipse_StartExtractV2
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseExtractRequestV2'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseExtractRequestV2'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseExtractRequestV2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseExtractRequestV2'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.EclipseExtractRequestV2'
        description: Object containing the eclipse FirmID to run the extract for (ex 1000), a uri for the destination, and session key if initiated by eclipse.
        required: true
  /v1/Integrations/Eclipse/Actions/UpdateSleevePortfolio/{regId}/{firmId}:
    put:
      tags:
      - Integrations/Eclipse
      summary: Sync sleeve changes from Orion to Eclipse
      operationId: IntegrationsEclipse_UpdateSleevePortfolio
      parameters:
      - name: regId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: firmId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.SleevedAccounts'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.SleevedAccounts'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.SleevedAccounts'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.SleevedAccounts'
      security:
      - Authorization: []
  /v1/Integrations/Eclipse/ClientPortal/{accountId}/CashInfo:
    get:
      tags:
      - Integrations/Eclipse
      summary: Get cash info for an account from eclipse given an orion account id
      operationId: EclipseClientPortal_GetCashInfoForAccount
      parameters:
      - name: accountId
        in: path
        description: orion account id
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseAccountTradeInfoDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseAccountTradeInfoDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseAccountTradeInfoDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseAccountTradeInfoDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseAccountTradeInfoDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseAccountTradeInfoDto'
      security:
      - Authorization: []
  /v1/Integrations/Eclipse/ClientPortal/Account/{accountId}/TradedToday:
    get:
      tags:
      - Integrations/Eclipse
      summary: Get all the current trade orders from eclipse
      operationId: EclipseClientPortal_GetAccountHasTradesForToday
      parameters:
      - name: accountId
        in: path
        description: account id from orion connect
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Integrations/Eclipse/ClientPortal/Allocations/{accountId}/{modelAggId}:
    get:
      tags:
      - Integrations/Eclipse
      summary: Get model allocations
      operationId: EclipseClientPortal_GetModelAllocations
      parameters:
      - name: accountId
        in: path
        description: int
        required: true
        schema:
          type: integer
          format: int32
      - name: modelAggId
        in: path
        description: int
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CurrentAccountModelDto'
                xml:
                  name: CurrentAccountModelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Eclipse/ClientPortal/DeleteTradeInstance:
    put:
      tags:
      - Integrations/Eclipse
      summary: Client portal originally used TradeRequestInstancesController, ActionDisable().
      operationId: EclipseClientPortal_DisableTradeInstances
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Integrations/Eclipse/ClientPortal/GenerateTrades:
    post:
      tags:
      - Integrations/Eclipse
      summary: Generates trades of any type based on the instructions in the tradeDefinition…
      operationId: EclipseClientPortal_GenerateClientPortalTrades
      parameters:
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
                xml:
                  name: EclipseTradeOrder
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
                xml:
                  name: EclipseTradeOrder
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
                xml:
                  name: EclipseTradeOrder
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
                xml:
                  name: EclipseTradeOrder
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
                xml:
                  name: EclipseTradeOrder
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
                xml:
                  name: EclipseTradeOrder
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTrade'
              xml:
                name: EclipseTrade
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTrade'
              xml:
                name: EclipseTrade
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTrade'
              xml:
                name: EclipseTrade
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTrade'
              xml:
                name: EclipseTrade
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTrade'
              xml:
                name: EclipseTrade
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTrade'
              xml:
                name: EclipseTrade
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTrade'
              xml:
                name: EclipseTrade
                wrapped: true
              type: array
        description: list of eclipsetrade objects
        required: true
  /v1/Integrations/Eclipse/ClientPortal/Rebalance/{portfolioId}:
    post:
      tags:
      - Integrations/Eclipse
      summary: Rebalance the portfolio. With TOM, it rebalances by account thru client portal
      operationId: EclipseClientPortal_RebalanceAccount
      parameters:
      - name: accountId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: CancellationToken
        required: true
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
  /v1/Integrations/Eclipse/ClientPortal/ValidateTrades:
    post:
      tags:
      - Integrations/Eclipse
      summary: Validate trades against eclipse v2 /api/v2/TradeOrder/Trades/Action/Validate
      operationId: EclipseClientPortal_ValidateTrades
      parameters:
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeValidateResponse'
                xml:
                  name: EclipseTradeValidateResponse
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeValidateResponse'
                xml:
                  name: EclipseTradeValidateResponse
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeValidateResponse'
                xml:
                  name: EclipseTradeValidateResponse
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeValidateResponse'
                xml:
                  name: EclipseTradeValidateResponse
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeValidateResponse'
                xml:
                  name: EclipseTradeValidateResponse
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeValidateResponse'
                xml:
                  name: EclipseTradeValidateResponse
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateOrderDto'
              xml:
                name: ValidateOrderDto
                wrapped: true
              type: array
        required: true
  /v1/Integrations/Eclipse/CreateOrders:
    post:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse create orders from eclipse
      operationId: IntegrationsEclipse_CreateOrdersFromEclipse
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.Trades'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.Trades'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.Trades'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.Trades'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.Trades'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.Trades'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.Trades'
        required: true
      x-summary-source: derived
  /v1/Integrations/Eclipse/CreatePendingTransactions:
    post:
      tags:
      - Integrations/Eclipse
      summary: Create pending transactions from orders that were created in Eclipse
      operationId: IntegrationsEclipse_CreatePendingTransactionsFromEclipse
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PendingTransactions'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PendingTransactions'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PendingTransactions'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PendingTransactions'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PendingTransactions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PendingTransactions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PendingTransactions'
        description: Order data
        required: true
  /v1/Integrations/Eclipse/DeleteTransactions:
    post:
      tags:
      - Integrations/Eclipse
      summary: Delete transactions that are linked to orders deleted in Eclipse
      operationId: IntegrationsEclipse_DeleteTransactionsFromEclipse
      parameters:
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfSystem.Int32'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfSystem.Int32'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfSystem.Int32'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfSystem.Int32'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfSystem.Int32'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfSystem.Int32'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfSystem.Int32'
        description: Order data
        required: true
  /v1/Integrations/Eclipse/Firms:
    get:
      tags:
      - Integrations/Eclipse
      summary: Returns all the Eclipse firms in AdviosrLynx
      operationId: IntegrationsEclipse_GetFirmsFromEclipse
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmDto'
                xml:
                  name: EclipseFirmDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmDto'
                xml:
                  name: EclipseFirmDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmDto'
                xml:
                  name: EclipseFirmDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmDto'
                xml:
                  name: EclipseFirmDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmDto'
                xml:
                  name: EclipseFirmDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmDto'
                xml:
                  name: EclipseFirmDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/Eclipse
      summary: Creates new Eclipse Firm in the OAS Database
      operationId: IntegrationsEclipse_CreateEclipseFirm
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
        required: true
  /v1/Integrations/Eclipse/Firms/{key}:
    get:
      tags:
      - Integrations/Eclipse
      summary: Returns all the Eclipse Firm AlClient information in AdviosrLynx
      operationId: IntegrationsEclipse_GetFirmsAlClient
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Eclipse
      summary: Edit Eclipse Firm and Eclipse Firm AlClient
      operationId: IntegrationsEclipse_UpdateEclipseFirmAlClient
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.EclipseFirmWithAlClientDto'
        required: true
    delete:
      tags:
      - Integrations/Eclipse
      summary: Deletes the existing Sleeve Strategy
      operationId: IntegrationsEclipse_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Eclipse/Firms/ByAlClientId/{key}:
    get:
      tags:
      - Integrations/Eclipse
      summary: Returns all the Eclipse Firm AlClient information in AdviosrLynx
      operationId: IntegrationsEclipse_GetFirmsByAlClientId
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Interface.IEclipseFirmWithAlClients'
                xml:
                  name: IEclipseFirmWithAlClients
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Interface.IEclipseFirmWithAlClients'
                xml:
                  name: IEclipseFirmWithAlClients
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Interface.IEclipseFirmWithAlClients'
                xml:
                  name: IEclipseFirmWithAlClients
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Interface.IEclipseFirmWithAlClients'
                xml:
                  name: IEclipseFirmWithAlClients
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Eclipse/Firms/DefaultByAlClientId/{key}:
    get:
      tags:
      - Integrations/Eclipse
      operationId: IntegrationsEclipse_GetDefaultEclipseFirmByAlClientId
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      summary: Integrations eclipse get default eclipse firm by al client id
      x-summary-source: derived
  /v1/Integrations/Eclipse/Firms/SetDefaultEclipseFirmForAlClient:
    post:
      tags:
      - Integrations/Eclipse
      operationId: IntegrationsEclipse_SetDefaultEclipseFirmForAlClientAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.MyEclipseSetupDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.MyEclipseSetupDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.MyEclipseSetupDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.MyEclipseSetupDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.MyEclipseSetupDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.MyEclipseSetupDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Eclipse.MyEclipseSetupDto'
        required: true
      summary: Integrations eclipse set default eclipse firm for al client async
      x-summary-source: derived
  /v1/Integrations/Eclipse/Households/{clientId}/Portfolios:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get porfolios by client id
      operationId: IntegrationsEclipse_GetPorfoliosByClientId
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolio'
                xml:
                  name: EclipsePortfolio
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolio'
                xml:
                  name: EclipsePortfolio
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolio'
                xml:
                  name: EclipsePortfolio
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolio'
                xml:
                  name: EclipsePortfolio
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolio'
                xml:
                  name: EclipsePortfolio
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolio'
                xml:
                  name: EclipsePortfolio
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/Households/{clientId}/TradeOrder/Instances:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get trade order instances for household
      operationId: IntegrationsEclipse_GetTradeOrderInstancesForHousehold
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/Instances/{instanceId}/UpdateStatus:
    post:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse update instance status
      operationId: IntegrationsEclipse_UpdateInstanceStatus
      parameters:
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: isEnabled
        in: query
        required: true
        schema:
          type: boolean
      - name: ct
        in: header
        required: true
      - name: isDeleted
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/ModelAssignment:
    post:
      tags:
      - Integrations/Eclipse
      summary: Update model assignment for accounts, and sets/update portfolio allocation…
      operationId: IntegrationsEclipse_ModelAssignmentFromEclipse
      parameters:
      - name: ct
        in: header
        description: CancellationToken for async
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.ModelAssignment'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.ModelAssignment'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.ModelAssignment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.ModelAssignment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.ModelAssignment'
        description: Model assignment data.
        required: true
  /v1/Integrations/Eclipse/Models/{modelId}:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get model
      operationId: IntegrationsEclipse_GetModel
      parameters:
      - name: modelId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModel'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModel'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModel'
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/Models/{modelId}/Allocations:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get allocations for model
      operationId: IntegrationsEclipse_GetAllocationsForModel
      parameters:
      - name: modelId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModelAllocation'
                xml:
                  name: EclipseModelAllocation
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModelAllocation'
                xml:
                  name: EclipseModelAllocation
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModelAllocation'
                xml:
                  name: EclipseModelAllocation
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModelAllocation'
                xml:
                  name: EclipseModelAllocation
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModelAllocation'
                xml:
                  name: EclipseModelAllocation
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModelAllocation'
                xml:
                  name: EclipseModelAllocation
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/Models/{modelId}/Portfolios/{portfolioId}:
    post:
      tags:
      - Integrations/Eclipse
      operationId: IntegrationsEclipse_AssignModelToPortfolio
      parameters:
      - name: modelId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: portfolioId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
      summary: Integrations eclipse assign model to portfolio
      x-summary-source: derived
    delete:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse un assign model from portfolio
      operationId: IntegrationsEclipse_UnAssignModelFromPortfolio
      parameters:
      - name: modelId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: portfolioId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/Models/Search:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get models
      operationId: IntegrationsEclipse_GetModels
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModel'
                xml:
                  name: EclipseModel
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModel'
                xml:
                  name: EclipseModel
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModel'
                xml:
                  name: EclipseModel
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseModel'
                xml:
                  name: EclipseModel
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/ModelUpdate:
    post:
      tags:
      - Integrations/Eclipse
      summary: Create, Update, Delete sync of Models from Eclipse to Orion
      operationId: IntegrationsEclipse_ModelUpdateFromEclipse
      parameters:
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.ModelEdit'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.ModelEdit'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.ModelEdit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.ModelEdit'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.ModelEdit'
        description: Model data
        required: true
  /v1/Integrations/Eclipse/Portfolio/CustodialInformation:
    get:
      tags:
      - Integrations/Eclipse
      summary: Returns information about the accounts and or sleeves associated to the account.
      operationId: IntegrationsEclipse_GetCustodialInformation
      parameters:
      - name: accountNumber
        in: query
        description: The custodial account number.
        required: true
        schema:
          type: string
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseCustodianInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseCustodianInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseCustodianInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseCustodianInfo'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseCustodianInfo'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseCustodianInfo'
      security:
      - Authorization: []
  /v1/Integrations/Eclipse/Portfolio/Portfolios/Update:
    put:
      tags:
      - Integrations/Eclipse
      summary: Updates the portfolio trade blocked field
      operationId: IntegrationsEclipse_UpdatePortfolioAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseAccountToUpdatePortfolio'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseAccountToUpdatePortfolio'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseAccountToUpdatePortfolio'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseAccountToUpdatePortfolio'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseAccountToUpdatePortfolio'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseAccountToUpdatePortfolio'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseAccountToUpdatePortfolio'
        description: The object passed containing accountId and tradeBlocked.  AccountId passed to find the portfolio.  True or false whether the portfolio is trade blocked.
        required: true
  /v1/Integrations/Eclipse/PortfolioAssignment:
    post:
      tags:
      - Integrations/Eclipse
      operationId: IntegrationsEclipse_PortfolioAssignmentFromEclipse
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PortfolioAssignment'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PortfolioAssignment'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PortfolioAssignment'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PortfolioAssignment'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PortfolioAssignment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PortfolioAssignment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.PortfolioAssignment'
        required: true
      summary: Integrations eclipse portfolio assignment from eclipse
      x-summary-source: derived
  /v1/Integrations/Eclipse/PortfolioAssignment/InitiateSync:
    post:
      tags:
      - Integrations/Eclipse
      operationId: IntegrationsEclipse_InitiatePortfolioAssignmentSync
      parameters:
      - name: eclipseFirmId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Integrations eclipse initiate portfolio assignment sync
      x-summary-source: derived
  /v1/Integrations/Eclipse/Portfolios:
    post:
      tags:
      - Integrations/Eclipse
      operationId: EclipsePortfolios_GetEclipsePortfolioIdAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: useServiceAccount
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Eclipse portfolios get eclipse portfolio id async
      x-summary-source: derived
  /v1/Integrations/Eclipse/Portfolios/{entity}/{entityId}:
    get:
      tags:
      - Integrations/Eclipse
      operationId: EclipsePortfolios_GetEclipsePortfoliosByEntityAsync
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      - name: entityId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Eclipse portfolios get eclipse portfolios by entity async
      x-summary-source: derived
  /v1/Integrations/Eclipse/Portfolios/{portfolioId}:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get porfolio by id
      operationId: IntegrationsEclipse_GetPorfolioById
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolio'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolio'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolio'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolio'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolio'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolio'
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/Portfolios/{portfolioId}/Allocations:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get allocations for portfolio
      operationId: IntegrationsEclipse_GetAllocationsForPortfolio
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolioAllocation'
                xml:
                  name: EclipsePortfolioAllocation
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolioAllocation'
                xml:
                  name: EclipsePortfolioAllocation
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolioAllocation'
                xml:
                  name: EclipsePortfolioAllocation
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolioAllocation'
                xml:
                  name: EclipsePortfolioAllocation
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolioAllocation'
                xml:
                  name: EclipsePortfolioAllocation
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePortfolioAllocation'
                xml:
                  name: EclipsePortfolioAllocation
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/Portfolios/{portfolioId}/Holdings:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get holdings by portfolio
      operationId: IntegrationsEclipse_GetHoldingsByPortfolio
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseHolding'
                xml:
                  name: EclipseHolding
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseHolding'
                xml:
                  name: EclipseHolding
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseHolding'
                xml:
                  name: EclipseHolding
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseHolding'
                xml:
                  name: EclipseHolding
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseHolding'
                xml:
                  name: EclipseHolding
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseHolding'
                xml:
                  name: EclipseHolding
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/Portfolios/{portfolioId}/Pending/Model:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get pending model for portfolio
      operationId: IntegrationsEclipse_GetPendingModelForPortfolio
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePendingModel'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePendingModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePendingModel'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePendingModel'
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/Portfolios/{portfolioId}/Rebalance:
    post:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse rebalance portfolio
      operationId: IntegrationsEclipse_RebalancePortfolio
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSettings'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSettings'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSettings'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSettings'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSettings'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSettings'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSettings'
        required: true
      x-summary-source: derived
  /v1/Integrations/Eclipse/Portfolios/{portfolioId}/V2Allocations:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get allocations for portfolio V2
      operationId: IntegrationsEclipse_GetAllocationsForPortfolioV2
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Models.EclipseV2PortfolioAllocationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Models.EclipseV2PortfolioAllocationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Models.EclipseV2PortfolioAllocationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Models.EclipseV2PortfolioAllocationDto'
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/Portfolios/ByOrionAccount/Rebalance:
    post:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse rebalance by orion accounts
      operationId: IntegrationsEclipse_RebalanceByOrionAccounts
      parameters:
      - name: ct
        in: header
        required: true
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
                xml:
                  name: EclipseTradeOrder
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
                xml:
                  name: EclipseTradeOrder
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
                xml:
                  name: EclipseTradeOrder
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
                xml:
                  name: EclipseTradeOrder
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
                xml:
                  name: EclipseTradeOrder
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
                xml:
                  name: EclipseTradeOrder
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: A list of Orion Account Ids to run rebalances on
        required: true
      x-summary-source: derived
  /v1/Integrations/Eclipse/Privileges:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get privileges
      operationId: IntegrationsEclipse_GetPrivileges
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePrivilege'
                xml:
                  name: EclipsePrivilege
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePrivilege'
                xml:
                  name: EclipsePrivilege
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePrivilege'
                xml:
                  name: EclipsePrivilege
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePrivilege'
                xml:
                  name: EclipsePrivilege
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePrivilege'
                xml:
                  name: EclipsePrivilege
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipsePrivilege'
                xml:
                  name: EclipsePrivilege
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/Securities/Search:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get securities
      operationId: IntegrationsEclipse_GetSecurities
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSecurity'
                xml:
                  name: EclipseSecurity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSecurity'
                xml:
                  name: EclipseSecurity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSecurity'
                xml:
                  name: EclipseSecurity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSecurity'
                xml:
                  name: EclipseSecurity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSecurity'
                xml:
                  name: EclipseSecurity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSecurity'
                xml:
                  name: EclipseSecurity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/Securities/Search/{resultsCount}:
    get:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse get V1 integrations eclipse securities search by results…
      operationId: IntegrationsEclipse_GetV1IntegrationsEclipseSecuritiesSearchByResultsCount
      parameters:
      - name: resultsCount
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSecurity'
                xml:
                  name: EclipseSecurity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSecurity'
                xml:
                  name: EclipseSecurity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSecurity'
                xml:
                  name: EclipseSecurity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSecurity'
                xml:
                  name: EclipseSecurity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSecurity'
                xml:
                  name: EclipseSecurity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseSecurity'
                xml:
                  name: EclipseSecurity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Eclipse/TradeAnalysisReports:
    post:
      tags:
      - Integrations/Eclipse
      operationId: IntegrationsEclipse_ReverseSyncTradeAnalysisReports
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.TradeAnalysisReport'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.TradeAnalysisReport'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.TradeAnalysisReport'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.TradeAnalysisReport'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.TradeAnalysisReport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.TradeAnalysisReport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Eclipse.Lambda.Model.EclipseSyncMessageListOfOAS.Eclipse.Lambda.Model.TradeAnalysisReport'
        required: true
      summary: Integrations eclipse reverse sync trade analysis reports
      x-summary-source: derived
  /v1/Integrations/Eclipse/TradeOrder/Distributions:
    post:
      tags:
      - Integrations/Eclipse
      summary: Integrations eclipse generate distribution trade
      operationId: IntegrationsEclipse_GenerateDistributionTrade
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseDistributionTrade'
          application/json:
            schema:
[...]
