openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Performance/Compare API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Performance/Compare
paths:
  /v1/Performance/Compare:
    get:
      tags:
      - Performance/Compare
      summary: Gets a list of performance compares that the logged in user has access to
      operationId: PerformanceCompare_GetAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
                xml:
                  name: PerformanceCompareDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
                xml:
                  name: PerformanceCompareDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
                xml:
                  name: PerformanceCompareDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
                xml:
                  name: PerformanceCompareDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
                xml:
                  name: PerformanceCompareDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
                xml:
                  name: PerformanceCompareDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Performance/Compare
      summary: Used to create a new performance compare.
      operationId: PerformanceCompare_CreateNewCompareAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: beginGeneration
        in: query
        description: 'Default: false. When true the compare generation will be started after compare has been successfully created. Generation will not be started if compare was not successfully created.'
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareFullDto'
        required: true
  /v1/Performance/Compare/{key}:
    get:
      tags:
      - Performance/Compare
      summary: Gets the performance compares with the provided key.
      operationId: PerformanceCompare_GetByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDto'
      security:
      - Authorization: []
    delete:
      tags:
      - Performance/Compare
      summary: Deletes a performance compare
      operationId: PerformanceCompare_DeletePerformanceCompare
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Performance/Compare/{performanceCompareId}/Details:
    get:
      tags:
      - Performance/Compare
      operationId: PerformanceCompareDetails_GetAll
      parameters:
      - name: performanceCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: calculationStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - NotCalculated
            - Errored
            - Calculated
            - PendingCalculation
            - WillNotBeCalculated
      - name: entityId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailFullDto'
                xml:
                  name: PerformanceCompareDetailFullDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailFullDto'
                xml:
                  name: PerformanceCompareDetailFullDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailFullDto'
                xml:
                  name: PerformanceCompareDetailFullDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailFullDto'
                xml:
                  name: PerformanceCompareDetailFullDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailFullDto'
                xml:
                  name: PerformanceCompareDetailFullDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailFullDto'
                xml:
                  name: PerformanceCompareDetailFullDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Performance compare details get all
      x-summary-source: derived
  /v1/Performance/Compare/{performanceCompareId}/Details/{key}:
    get:
      tags:
      - Performance/Compare
      summary: Gets the performance compare detail with the provided key.
      operationId: PerformanceCompareDetails_GetByKey
      parameters:
      - name: performanceCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailFullDto'
      security:
      - Authorization: []
  /v1/Performance/Compare/{performanceCompareId}/Details/Action/ChangeActionStatus:
    post:
      tags:
      - Performance/Compare
      summary: Used to change the action status of the details in the performance comparison
      operationId: PerformanceCompareDetails_ChangeActionStatus
      parameters:
      - name: performanceCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: actionStatus
        in: query
        required: false
        schema:
          type: string
          enum:
          - NotComplete
          - Complete
          - AdvisorResearch
          - OrionResearch
          - NoAction
          - Addressed
      - name: note
        in: query
        description: Optional. If provided the note will be associated to all items provided as an admin only note.
        required: false
        schema:
          type: string
      - name: advisorNote
        in: query
        description: Optional. If provided the note will be associated to all items provided as an advisor visible note.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: Only the items included will be updated. If omitted an error will be returned.
        required: true
  /v1/Performance/Compare/{performanceCompareId}/Details/Action/Generate:
    post:
      tags:
      - Performance/Compare
      summary: Used to update the system generate info for some or all of the details.
      operationId: PerformanceCompareDetails_GenerateComparisonsAsync
      parameters:
      - name: performanceCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: Optional. If provided only the items included will be updated. If omitted all items in the compare will be updated.
        required: true
    delete:
      tags:
      - Performance/Compare
      summary: Used to stop comparison generation
      operationId: PerformanceCompareDetails_CancelGenerateComparisonsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: performanceCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Performance/Compare/{performanceCompareId}/Details/Action/Reset:
    post:
      tags:
      - Performance/Compare
      summary: Used to reset some of the details in the performance comparison
      operationId: PerformanceCompareDetails_ResetEntityAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: performanceCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: Only the items included will be reset. If omitted an error will be returned.
        required: true
  /v1/Performance/Compare/{performanceCompareId}/Details/Notes:
    post:
      tags:
      - Performance/Compare
      summary: Gets the notes for the performance compare detail records provided
      operationId: PerformanceCompareDetails_GetNotes
      parameters:
      - name: performanceCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareNoteDto'
                xml:
                  name: PerformanceCompareNoteDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareNoteDto'
                xml:
                  name: PerformanceCompareNoteDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareNoteDto'
                xml:
                  name: PerformanceCompareNoteDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareNoteDto'
                xml:
                  name: PerformanceCompareNoteDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareNoteDto'
                xml:
                  name: PerformanceCompareNoteDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareNoteDto'
                xml:
                  name: PerformanceCompareNoteDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Performance/Compare/{performanceCompareId}/Details/Timeframe:
    get:
      tags:
      - Performance/Compare
      operationId: PerformanceCompareDetails_GetAllPivottedByTimeframe
      parameters:
      - name: performanceCompareId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: calculationStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - NotCalculated
            - Errored
            - Calculated
            - PendingCalculation
            - WillNotBeCalculated
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailPivotDto'
                xml:
                  name: PerformanceCompareDetailPivotDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailPivotDto'
                xml:
                  name: PerformanceCompareDetailPivotDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailPivotDto'
                xml:
                  name: PerformanceCompareDetailPivotDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailPivotDto'
                xml:
                  name: PerformanceCompareDetailPivotDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailPivotDto'
                xml:
                  name: PerformanceCompareDetailPivotDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailPivotDto'
                xml:
                  name: PerformanceCompareDetailPivotDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Performance compare details get all pivotted by timeframe
      x-summary-source: derived
  /v1/Performance/Compare/ValidateImport/Details:
    post:
      tags:
      - Performance/Compare
      summary: Takes an xlsx, xls, or csv file as multipart content.
      operationId: PerformanceCompareValidateDetails_PostAsMultipartStreamAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: daysAddedToStartDate
        in: query
        description: 'Optional. Default: 0. The value provided will be added to the start date of the provided data.'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: performanceCompareId
        in: query
        description: 'Optional. Default: null. If provided instead of the valid data being returned it will be automatically added to the performance comparison provided. Invalid records will be returned.'
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.ValidatePerformanceCompareDetailDto'
                xml:
                  name: ValidatePerformanceCompareDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.ValidatePerformanceCompareDetailDto'
                xml:
                  name: ValidatePerformanceCompareDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.ValidatePerformanceCompareDetailDto'
                xml:
                  name: ValidatePerformanceCompareDetailDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.ValidatePerformanceCompareDetailDto'
                xml:
                  name: ValidatePerformanceCompareDetailDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.ValidatePerformanceCompareDetailDto'
                xml:
                  name: ValidatePerformanceCompareDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.ValidatePerformanceCompareDetailDto'
                xml:
                  name: ValidatePerformanceCompareDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/Performance/Compare/ValidateImport/Details/Templates/Csv:
    get:
      tags:
      - Performance/Compare
      operationId: PerformanceCompareValidateDetails_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Performance compare validate details get csv template
      x-summary-source: derived
  /v1/Performance/Compare/ValidateImport/Details/Templates/Xls:
    get:
      tags:
      - Performance/Compare
      operationId: PerformanceCompareValidateDetails_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Performance compare validate details get xls template
      x-summary-source: derived
  /v1/Performance/Compare/ValidateImport/Details/Templates/Xlsx:
    get:
      tags:
      - Performance/Compare
      operationId: PerformanceCompareValidateDetails_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Performance compare validate details get xlsx template
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Performance.PerformanceCompareFullDto:
      properties:
        details:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Performance.PerformanceCompareDetailDto'
          xml:
            name: PerformanceCompareDetailDto
            wrapped: true
          type: array
        id:
          type: integer
          format: int32
        name:
          type: string
        calcMethod:
          type: string
          enum:
          - TWR
          - Simple
          - IRR
        auditedBy:
          type: string
        auditedDate:
          type: string
          format: date-time
        isLockedDown:
          type: boolean
        haveTimeframes:
          type: boolean
      xml:
        name: PerformanceCompareFullDto
      type: object
    OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto:
      description: import file DTO for validating imports
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
          description: the imported file
      xml:
        name: ValidateFileImportDto
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.WebApi.DTO.Interface.AdditionalColumnDefinition:
      properties:
        key:
          type: string
        value:
          type: string
      xml:
        name: AdditionalColumnDefinition
      type: object
    OAS.WebApi.DTO.Performance.PerformanceCompareNoteDto:
      properties:
        performanceCompareId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        isAdvisorVisible:
          type: boolean
        note:
          type: string
      xml:
        name: PerformanceCompareNoteDto
      type: object
    OAS.WebApi.DTO.Performance.PerformanceCompareDetailPivotDto:
      properties:
        performanceCompareId:
          type: integer
          format: int32
        entityId:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        additionalColumns:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Interface.AdditionalColumnDefinition'
          readOnly: true
          xml:
            name: AdditionalColumnDefinition
            wrapped: true
          type: array
        actionStatus:
          readOnly: true
          type: string
          enum:
          - NotComplete
          - Complete
          - AdvisorResearch
          - OrionResearch
          - NoAction
          - Addressed
        ids:
          items:
            type: integer
            format: int32
          readOnly: true
          type: array
        noteCount:
          readOnly: true
          type: integer
          format: int32
      xml:
        name: PerformanceCompareDetailPivotDto
      type: object
    OAS.WebApi.DTO.Performance.PerformanceCompareDetailFullDto:
      properties:
        systemStartValue:
          type: number
          format: double
        systemValueChange:
          type: number
          format: double
        systemEndingValue:
          type: number
          format: double
        systemPositiveCashflowAmount:
          type: number
          format: double
        systemNegativeCashflowAmount:
          type: number
          format: double
        systemCashflowAmount:
          type: number
          format: double
        systemEndingDividendAccrualAmount:
          type: number
          format: double
        systemEndingBondAccrualAmount:
          type: number
          format: double
        systemGrossPerformance:
          type: number
          format: double
        systemNetPerformance:
          type: number
          format: double
        calculationStatus:
          type: string
          enum:
          - NotCalculated
          - Errored
          - Calculated
          - PendingCalculation
          - WillNotBeCalculated
        calculationDate:
          type: string
          format: date-time
        errorText:
          type: string
        actionStatus:
          type: string
          enum:
          - NotComplete
          - Complete
          - AdvisorResearch
          - OrionResearch
          - NoAction
          - Addressed
        noteCount:
          type: integer
          format: int32
        compareStartValue:
          readOnly: true
          type: number
          format: double
        compareEndingValue:
          readOnly: true
          type: number
          format: double
        compareGrossPerformance:
          readOnly: true
          type: number
          format: double
        compareNetPerformance:
          readOnly: true
          type: number
          format: double
        cashflowPercentStart:
          readOnly: true
          type: number
          format: double
        cashflowPercentEnd:
          readOnly: true
          type: number
          format: double
        performanceCompareId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        entityId:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        timeframe:
          type: string
        startValue:
          type: number
          format: double
        valueChange:
          type: number
          format: double
        endingValue:
          type: number
          format: double
        positiveCashflowAmount:
          type: number
          format: double
        negativeCashflowAmount:
          type: number
          format: double
        cashflowAmount:
          type: number
          format: double
        endingDividendAccrualAmount:
          type: number
          format: double
        endingBondAccrualAmount:
          type: number
          format: double
        grossPerformance:
          type: number
          format: double
        netPerformance:
          type: number
          format: double
      xml:
        name: PerformanceCompareDetailFullDto
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAS.WebApi.DTO.Performance.PerformanceCompareDetailDto:
      properties:
        performanceCompareId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        entityId:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        timeframe:
          type: string
        startValue:
          type: number
          format: double
        valueChange:
          type: number
          format: double
        endingValue:
          type: number
          format: double
        positiveCashflowAmount:
          type: number
          format: double
        negativeCashflowAmount:
          type: number
          format: double
        cashflowAmount:
          type: number
          format: double
        endingDividendAccrualAmount:
          type: number
          format: double
        endingBondAccrualAmount:
          type: number
          format: double
        grossPerformance:
          type: number
          format: double
        netPerformance:
          type: number
          format: double
      xml:
        name: PerformanceCompareDetailDto
      type: object
    OAS.WebApi.DTO.Performance.PerformanceCompareDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        calcMethod:
          type: string
          enum:
          - TWR
          - Simple
          - IRR
        auditedBy:
          type: string
        auditedDate:
          type: string
          format: date-time
        isLockedDown:
          type: boolean
        haveTimeframes:
          type: boolean
      xml:
        name: PerformanceCompareDto
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
    OAS.WebApi.DTO.Performance.ValidatePerformanceCompareDetailDto:
      properties:
        isValid:
          type: boolean
        validationMessage:
          type: string
        warningMessage:
          type: string
        performanceCompareId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        entityId:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        timeframe:
          type: string
        startValue:
          type: number
          format: double
        valueChange:
          type: number
          format: double
        endingValue:
          type: number
          format: double
        positiveCashflowAmount:
          type: number
          format: double
        negativeCashflowAmount:
          type: number
          format: double
        cashflowAmount:
          type: number
          format: double
        endingDividendAccrualAmount:
          type: number
          format: double
        endingBondAccrualAmount:
          type: number
          format: double
        grossPerformance:
          type: number
          format: double
        netPerformance:
          type: number
          format: double
      xml:
        name: ValidatePerformanceCompareDetailDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
