openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Personalized Portfolio API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/PersonalizedPortfolio
paths:
  /v1/Billing/PersonalizedPortfolio/UpdateRegistration:
    post:
      tags:
      - Billing/PersonalizedPortfolio
      summary: Allows updating fee and payout schedule for all accounts in a registration
      operationId: PersonalizedPortfolio_UpdateRegistrations
      parameters:
      - name: registrationId
        in: query
        description: the registration that will be updated, required
        required: true
        schema:
          type: integer
          format: int32
      - name: payoutId
        in: query
        description: new payout id for accounts
        required: true
        schema:
          type: integer
          format: int32
      - name: feeScheduleId
        in: query
        description: new fee schedule id for accounts
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: when changes take effect
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: 'when changes roll back to original: not required'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
