openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Scrub Schedules API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/ScrubSchedules
paths:
  /v1/Reporting/ScrubSchedules:
    get:
      tags:
      - Reporting/ScrubSchedules
      summary: Gets a list of scrub schedule that the logged in user has access to.
      operationId: ScrubSchedules_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
                xml:
                  name: ScrubScheduleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
                xml:
                  name: ScrubScheduleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
                xml:
                  name: ScrubScheduleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
                xml:
                  name: ScrubScheduleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
                xml:
                  name: ScrubScheduleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
                xml:
                  name: ScrubScheduleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Reporting/ScrubSchedules
      summary: Used to create a new scrub schedule.
      operationId: ScrubSchedules_Create
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
        required: true
  /v1/Reporting/ScrubSchedules/{key}:
    get:
      tags:
      - Reporting/ScrubSchedules
      summary: Gets the scrub schedule that has the provided key.
      operationId: ScrubSchedules_GetByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/ScrubSchedules
      summary: Used to update an existing Scrub Schedule.
      operationId: ScrubSchedules_Update
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto'
        required: true
    delete:
      tags:
      - Reporting/ScrubSchedules
      summary: Used to delete an existing Scrub Schedule.
      operationId: ScrubSchedules_Delete
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/ScrubSchedules/Simple:
    get:
      tags:
      - Reporting/ScrubSchedules
      summary: Gets a simple list of scrub schedule that the logged in user has access to
      operationId: ScrubSchedules_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Reporting.Custom.CustomReportPromptFullDto:
      properties:
        customReportId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        code:
          type: string
        prompt:
          type: string
        promptDescription:
          type: string
        promptType:
          type: string
          enum:
          - None
          - Text
          - Numeric
          - Date
          - Dynamic Group
        defaultValue:
          type: string
        isPromptUser:
          type: boolean
        sortOrder:
          type: integer
          format: int32
      xml:
        name: CustomReportPromptFullDto
      type: object
    OAS.WebApi.DTO.Reporting.RunReport.ScrubScheduleDto:
      properties:
        id:
          type: integer
          format: int32
        scrubScheduleName:
          type: string
        alClientId:
          type: integer
          format: int32
        scrubId:
          type: integer
          format: int32
        frequency:
          type: integer
          format: int32
        startDate:
          type: string
          format: date-time
        lastRunDate:
          type: string
          format: date-time
        notes:
          type: string
        isActive:
          type: boolean
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        prompts:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportPromptFullDto'
          xml:
            name: CustomReportPromptFullDto
            wrapped: true
          type: array
      xml:
        name: ScrubScheduleDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
