openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Database Groups API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/DatabaseGroups
paths:
  /v1/Utility/DatabaseGroups:
    get:
      tags:
      - Utility/DatabaseGroups
      operationId: DatabaseGroups_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
                xml:
                  name: DatabaseGroupDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
                xml:
                  name: DatabaseGroupDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
                xml:
                  name: DatabaseGroupDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
                xml:
                  name: DatabaseGroupDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
                xml:
                  name: DatabaseGroupDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
                xml:
                  name: DatabaseGroupDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Database groups get
      x-summary-source: derived
    post:
      tags:
      - Utility/DatabaseGroups
      summary: Creates a new Database Group record, and returns the new record in the location…
      operationId: DatabaseGroups_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
        description: Database Group
        required: true
  /v1/Utility/DatabaseGroups/{key}:
    get:
      tags:
      - Utility/DatabaseGroups
      summary: Gets the Database Group that has the provided key.
      operationId: DatabaseGroups_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
      security:
      - Authorization: []
    put:
      tags:
      - Utility/DatabaseGroups
      summary: Updates an existing Database Group record
      operationId: DatabaseGroups_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Database Group Id to update
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DatabaseGroupDto'
        description: New Database Group values
        required: true
    delete:
      tags:
      - Utility/DatabaseGroups
      operationId: DatabaseGroups_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Database groups delete
      x-summary-source: derived
  /v1/Utility/DatabaseGroups/Simple:
    get:
      tags:
      - Utility/DatabaseGroups
      summary: Returns a simple Id/Name for all Database Group records
      operationId: DatabaseGroups_GetSimpleAll
      parameters:
      - name: isPrivate
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Utility.DatabaseGroupDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isPrivate:
          type: boolean
        auditedBy:
          type: string
        auditedDate:
          type: string
          format: date-time
        userId:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        alClientId:
          type: integer
          format: int32
        alClientName:
          type: string
        databases:
          items:
            $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
          xml:
            name: SimpleEntity
            wrapped: true
          type: array
      xml:
        name: DatabaseGroupDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
