openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Transactions API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/Transactions
paths:
  /v1/Portfolio/Transactions:
    get:
      tags:
      - Portfolio/Transactions
      operationId: Transactions_GetAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - Complete
          - Pending
          - Rejected
          - Reversed
          - Inactive
          - PendingCorpAction
          - FutureAip
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: transTypeId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: clientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: registrationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: accountId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: assetId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: transactionId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: hasErrors
        in: query
        required: false
        schema:
          type: boolean
      - name: auditType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - CustodialRealizedSharesDoNotMatch
            - CustodialRealizedMissing
            - CustodialUnrealizedMissing
            - CustodialRealizedUnknownAcquiredDate
            - CustodialUnrealizedUnknownAcquiredDate
            - CustodialRealizedUnknownCostBasis
            - CustodialUnrealizedUnknownCostBasis
            - OrionUnknownCostBasis
            - MoneyMarketProducts
            - OrionMissingCostBasis
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - WithErrors
          - Alternative
          default: 0
      - name: editedStartDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: editedEndDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: pageQueryId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: alternativeOnly
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: orionVisionPending
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Transactions get async
      x-summary-source: derived
    put:
      tags:
      - Portfolio/Transactions
      summary: Simple dto update
      operationId: Transactions_UpdateTransactionsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
              xml:
                name: TransactionDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
              xml:
                name: TransactionDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
              xml:
                name: TransactionDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
              xml:
                name: TransactionDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
              xml:
                name: TransactionDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
              xml:
                name: TransactionDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
              xml:
                name: TransactionDto
                wrapped: true
              type: array
        required: true
  /v1/Portfolio/Transactions/{key}:
    get:
      tags:
      - Portfolio/Transactions
      summary: Gets the transaction that has the provided key.
      operationId: Transactions_GetByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - WithErrors
          - Alternative
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/Transactions
      summary: Simple dto update
      operationId: Transactions_UpdateTransactionAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: alternativeOnly
        in: query
        description: 'Optional.  Default: false.'
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionDto'
        required: true
  /v1/Portfolio/Transactions/{key}/Action/MoveToAsset/{assetId}:
    put:
      tags:
      - Portfolio/Transactions
      summary: Move transaction to different asset
      operationId: Transactions_MoveRegistrationAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: assetId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
      security:
      - Authorization: []
  /v1/Portfolio/Transactions/{key}/UserDefinedFields:
    get:
      tags:
      - Portfolio/Transactions
      operationId: Transactions_GetUserDefinedFields
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: entities
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - BrokerDealers
            - Wholesalers
            - Representatives
            - Clients
            - Registrations
            - Accounts
            - Assets
            - Transactions
            - Products
            - FundFamilies
            - ModelRanges
            - PortfolioGroups
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Transactions get user defined fields
      x-summary-source: derived
  /v1/Portfolio/Transactions/Action/DAZLOverride:
    put:
      tags:
      - Portfolio/Transactions
      operationId: Transactions_ActionTransactionDAZLOverride
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Transactions action transaction DAZL override
      x-summary-source: derived
  /v1/Portfolio/Transactions/Action/Delete:
    put:
      tags:
      - Portfolio/Transactions
      operationId: Transactions_ActionDeleteAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Transactions action delete async
      x-summary-source: derived
  /v1/Portfolio/Transactions/Action/Delete/{key}:
    put:
      tags:
      - Portfolio/Transactions
      summary: Delete the transaction provided
      operationId: Transactions_ActionDeleteEntityAsync
      parameters:
      - name: key
        in: path
        description: The transaction key to delete.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
  /v1/Portfolio/Transactions/Action/Delete/Eclipse:
    put:
      tags:
      - Portfolio/Transactions
      operationId: Transactions_ActionDeleteTransactionsFromEclipseAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Transactions action delete transactions from eclipse async
      x-summary-source: derived
  /v1/Portfolio/Transactions/Alternative:
    post:
      tags:
      - Portfolio/Transactions
      summary: Upsert a single alternative transaction
      operationId: Transactions_UpsertTransactionActivityAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
        required: true
  /v1/Portfolio/Transactions/Alternative/Action/StatusChange/{status}:
    put:
      tags:
      - Portfolio/Transactions
      operationId: Transactions_AlternativeActionStatusChange
      parameters:
      - name: status
        in: path
        required: true
        schema:
          type: string
          enum:
          - Complete
          - Pending
          - Rejected
          - Reversed
          - Inactive
          - PendingCorpAction
          - FutureAip
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Transactions alternative action status change
      x-summary-source: derived
  /v1/Portfolio/Transactions/Alternative/List:
    post:
      tags:
      - Portfolio/Transactions
      summary: Upsert many transaction activities
      operationId: Transactions_UpsertTransactionActivitiesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
                xml:
                  name: TransactionAlternativeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
              xml:
                name: TransactionAlternativeDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
              xml:
                name: TransactionAlternativeDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
              xml:
                name: TransactionAlternativeDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
              xml:
                name: TransactionAlternativeDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
              xml:
                name: TransactionAlternativeDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
              xml:
                name: TransactionAlternativeDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionAlternativeDto'
              xml:
                name: TransactionAlternativeDto
                wrapped: true
              type: array
        required: true
  /v1/Portfolio/Transactions/CorporateAction/List:
    put:
      tags:
      - Portfolio/Transactions
      summary: Update multiple transactions associated with a Corporate Action
      operationId: Transactions_UpdateCorporateActionTransactionsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
                xml:
                  name: CorpActionTransactionV2Dto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
                xml:
                  name: CorpActionTransactionV2Dto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
                xml:
                  name: CorpActionTransactionV2Dto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
                xml:
                  name: CorpActionTransactionV2Dto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
                xml:
                  name: CorpActionTransactionV2Dto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
                xml:
                  name: CorpActionTransactionV2Dto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
              xml:
                name: CorpActionTransactionV2Dto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
              xml:
                name: CorpActionTransactionV2Dto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
              xml:
                name: CorpActionTransactionV2Dto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
              xml:
                name: CorpActionTransactionV2Dto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto'
              xml:
                name: CorpActionTransactionV2Dto
                wrapped: true
              type: array
        description: corporate action transactions to update
        required: true
  /v1/Portfolio/Transactions/List:
    post:
      tags:
      - Portfolio/Transactions
      summary: Gets a list of transactions that match one of the keys in the provided list
      operationId: Transactions_GetListById
      parameters:
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - WithErrors
          - Alternative
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of keys of the desired return objects.
        required: true
  /v1/Portfolio/Transactions/List/Id:
    post:
      tags:
      - Portfolio/Transactions
      summary: Gets a list of transactions that match one of the keys in the provided list
      operationId: Transactions_PostV1PortfolioTransactionsListId
      parameters:
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - WithErrors
          - Alternative
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBaseDto'
                xml:
                  name: TransactionBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of keys of the desired return objects.
        required: true
  /v1/Portfolio/Transactions/Simple/Search:
    get:
      tags:
      - Portfolio/Transactions
      operationId: Transactions_Search
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionSimpleDto'
                xml:
                  name: TransactionSimpleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionSimpleDto'
                xml:
                  name: TransactionSimpleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionSimpleDto'
                xml:
                  name: TransactionSimpleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionSimpleDto'
                xml:
                  name: TransactionSimpleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionSimpleDto'
                xml:
                  name: TransactionSimpleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionSimpleDto'
                xml:
                  name: TransactionSimpleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Transactions search
      x-summary-source: derived
  /v1/Portfolio/Transactions/ValidationForUnsleeving/{key}:
    get:
      tags:
      - Portfolio/Transactions
      summary: Unsleeving Process validation.
      operationId: Transactions_ValidationForUnsleeving
      parameters:
      - name: key
        in: path
        description: RegistrationId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Portfolio/Transactions/Verbose:
    get:
      tags:
      - Portfolio/Transactions
      operationId: Transactions_GetVerbose
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - Complete
          - Pending
          - Rejected
          - Reversed
          - Inactive
          - PendingCorpAction
          - FutureAip
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: transTypeId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Billing
            - Portfolio
            - CostBasis
            - AdditionalInformation
            - UserDefinedFields
            - EntityOptions
            - Alternative
            - TransactionFee
            - All
      - name: assetId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Transactions get verbose
      x-summary-source: derived
    put:
      tags:
      - Portfolio/Transactions
      summary: Update multiple transactions
      operationId: Transactions_UpdateVerboseTransactionsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
        required: true
    post:
      tags:
      - Portfolio/Transactions
      summary: Create transaction
      operationId: Transactions_CreateVerboseTransactionAsync
      parameters:
      - name: createOffset
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
        required: true
  /v1/Portfolio/Transactions/Verbose/{key}:
    get:
      tags:
      - Portfolio/Transactions
      operationId: Transactions_GetVerboseByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Billing
            - Portfolio
            - CostBasis
            - AdditionalInformation
            - UserDefinedFields
            - EntityOptions
            - Alternative
            - TransactionFee
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
      security:
      - Authorization: []
      summary: Transactions get verbose by key async
      x-summary-source: derived
    put:
      tags:
      - Portfolio/Transactions
      summary: Update single transaction
      operationId: Transactions_UpdateVerboseTransactionAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: reverseOffset
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
        required: true
  /v1/Portfolio/Transactions/Verbose/Alternative:
    post:
      tags:
      - Portfolio/Transactions
      summary: Upsert a single alternative transaction and possible activity children
      operationId: Transactions_UpsertVerboseTransactionActivity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
        required: true
  /v1/Portfolio/Transactions/Verbose/Alternative/List:
    post:
      tags:
      - Portfolio/Transactions
      summary: Upsert many alternative transaction and their possible activity children
      operationId: Transactions_UpsertVerboseTransactionActivities
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
        required: true
  /v1/Portfolio/Transactions/Verbose/List:
    post:
      tags:
      - Portfolio/Transactions
      operationId: Transactions_GetVerboseListById
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Billing
            - Portfolio
            - CostBasis
            - AdditionalInformation
            - UserDefinedFields
            - EntityOptions
            - Alternative
            - TransactionFee
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Transactions get verbose list by id
      x-summary-source: derived
  /v1/Portfolio/Transactions/Verbose/List/Id:
    post:
      tags:
      - Portfolio/Transactions
      operationId: Transactions_PostV1PortfolioTransactionsVerboseListId
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Billing
            - Portfolio
            - CostBasis
            - AdditionalInformation
            - UserDefinedFields
            - EntityOptions
            - Alternative
            - TransactionFee
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Transactions post V1 portfolio transactions verbose list id
      x-summary-source: derived
  /v1/Portfolio/Transactions/Verbose/New:
    get:
      tags:
      - Portfolio/Transactions
      operationId: Transactions_GetNewVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Billing
            - Portfolio
            - CostBasis
            - AdditionalInformation
            - UserDefinedFields
            - EntityOptions
            - Alternative
            - TransactionFee
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
      security:
      - Authorization: []
      summary: Transactions get new verbose
      x-summary-source: derived
    post:
      tags:
      - Portfolio/Transactions
      summary: Create transactions
      operationId: Transactions_CreateVerboseTransactionsAsync
      parameters:
      - name: createOffset
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
                xml:
                  name: TransactionVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseDto'
              xml:
                name: TransactionVerboseDto
                wrapped: true
              type: array
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Confirm.CorpAction.CorpActionTransactionV2Dto:
      properties:
        id:
          readOnly: true
          type: string
        dbName:
          type: string
        transactionId:
          type: integer
          format: int32
        corpActionId:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        productName:
          type: string
        processingType:
          type: string
        accountId:
          type: integer
          format: int32
        assetId:
          type: integer
          format: int32
        transDate:
          type: string
          format: date-time
        transType:
          type: string
        amount:
          type: number
          format: double
        units:
          type: number
          format: double
        price:
          type: number
          format: double
        tradeStatus:
          type: string
          enum:
          - Complete
          - Pending
          - Rejected
          - Reversed
          - Inactive
          - PendingCorpAction
          - FutureAip
        custodian:
          type: string
        transSubType:
          type: string
        isProcessing:
          type: boolean
        processingId:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        transTypeId:
          type: integer
          format: int32
        transSubTypeId:
          type: integer
          format: int32
        notes:
          type: string
        accountNumber:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        isCil:
          type: boolean
        custodianId:
          type: integer
          format: int32
      xml:
        name: CorpActionTransactionV2Dto
      type: object
    OAS.WebApi.DTO.Portfolio.TransactionPortfolioDto:
      properties:
        productId:
          type: integer
          format: int32
        productName:
          type: string
        ticker:
          type: string
        transDate:
          type: string
          format: date-time
        transTime:
          type: string
          format: date-time
        transAmount:
          type: number
          format: double
        navPrice:
          type: number
          format: double
        noUnits:
          type: number
          format: double
        assetId:
          type: integer
          format: int32
        status:
          type: string
          enum:
          - Complete
          - Pending
          - Rejected
          - Reversed
          - Inactive
          - PendingCorpAction
          - FutureAip
        transactionDescription:
          type: string
        notes:
          type: string
        transTypeId:
          type: integer
          format: int32
        transactionSubTypeId:
          type: integer
          format: int32
        transactionSubTypeName:
          type: string
        contributionCodeId:
          type: integer
          format: int32
        distributionCodeId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        accountNumber:
          type: string
        managementStyle:
          type: string
        payee:
          type: integer
          format: int32
        advisorNotes:
          type: string
        state:
          type: string
        settleDate:
          type: string
          format: date-time
        tradeReferenceNumber:
          type: string
        transactionLinkCode:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        registrationId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        typeCode:
          type: string
        typeSource:
          type: string
        signField:
          type: string
        eclipseOrderId:
          type: integer
          format: int32
        performanceFeeBreak:
          type: boolean
        financialType:
          type: string
          enum:
          - None
          - Contribution
          - Distribution
          - Exchange
          - DivReinvest
          - MgmntFees
          - DivCash
          - MiscFees
          - Journal
          - Merges
        fileTranCode:
          type: string
      xml:
        name: TransactionPortfolioDto
      type: object
    OAS.WebApi.DTO.Portfolio.TransactionVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        isDataSharingEntity:
          type: boolean
        portfolio:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionPortfolioDto'
        billing:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionBillingDto'
        costBasis:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasisDto'
          xml:
            name: CostBasisDto
            wrapped: true
          type: array
        additionalInformation:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PortfolioTransactionAdditionalInformationDto'
        alternative:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionVerboseAlternativeDto'
        userDefinedFields:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
        entityOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
        transactionFee:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TransactionFeeDto'
          xml:
            name: TransactionFeeDto
            wrapped: true
          type: array
      xml:
        name: TransactionVerboseDto
      type: object
    OAS.WebApi.DTO.Portfolio.CostBasisDto:
      properties:
        id:
          type: integer
          format: int32
        costDate:
          type: string
          format: date-time
        holdingPeriodDate:
          type: string
          format: date-time
        costUnits:
          type: number
          format: double
        costPrice:
          type: number
          format: double
        costTotal:
          type: number
          format: double
        costNotes:
          type: string
        transTypeId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: CostBasisDto
      type: object
    OAS.WebApi.DTO.Portfolio.TransactionVerboseAlternativeDto:
      properties:
        impactsCommitment:
          type: boolean
        impactsCapitalBalance:
          type: boolean
        originalCost:
          type: number
          format: double
        originalCostDate:
          type: string
          format: date-time
        equityFundingType:
          type: string
        equityFundingTypeId:
          type: integer
          format: int32
        equityActivityType:
          type: string
        equityActivityTypeId:
          type: integer
          format: int32
        productTransactionId:
          type: integer
          format: int32
        cashDate:
          type: string
          format: date-time
        isParent:
          type: boolean
      xml:
        name: TransactionVerboseAlternativeDto
      type: object
    OAS.WebApi.DTO.Portfolio.TransactionDto:
      properties:
        id:
          type: integer
          format: int32
        transDate:
          type: string
          format: date-time
        transactionDescription:
          type: string
        productName:
          type: string
        ticker:
          type: string
        transAmount:
          type: number
          format: double
        noUnits:
          type: number
          format: double
        navPrice:
          type: number
          format: double
        accountNumber:
          type: string
        status:
          type: string
          enum:
          - Complete
          - Pending
          - Rejected
          - Reversed
          - Inactive
          - PendingCorpAction
          - FutureAip
        fileTranCode:
          type: string
        type:
          type: string
        transTime:
          type: string
          format: date-time
        assetId:
          type: integer
          format: int32
        assetStatusId:
          type: integer
          format: int32
        cusip:
          type: string
        notes:
          type: string
        transTypeId:
          type: integer
          format: int32
        transactionSubTypeId:
          type: integer
          format: int32
        transactionSubTypeName:
          type: string
        transactionSubTypeDescription:
          type: string
        contributionCodeId:
          type: integer
          format: int32
        contributionCodeName:
          type: string
        distributionCodeId:
          type: integer
          format: int32
        distributionCodeName:
          type: string
        accountId:
          type: integer
          format: int32
        accountStatusId:
          type: integer
          format: int32
        managementStyle:
          type: string
        payee:
          type: integer
          format: int32
        advisorNotes:
          type: string
        state:
          type: string
        settleDate:
          type: string
          format: date-time
        tradeReferenceNumber:
          type: string
        transactionLinkCode:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        registrationId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        typeCode:
          type: string
        brokerCode:
          type: string
        accountType:
          type: string
        fundFamily:
          type: string
        custodian:
          type: string
        count:
          type: integer
          format: int32
        registrationName:
          type: string
        unitBalance:
          type: number
          format: double
        productId:
          type: integer
          format: int32
        performanceFeeBreak:
          type: boolean
        financialType:
          type: string
          enum:
          - None
          - Contribution
          - Distribution
          - Exchange
          - DivReinvest
          - MgmntFees
          - DivCash
          - MiscFees
          - Journal
          - Merges
      xml:
        name: TransactionDto
      type: object
    OAS.WebApi.DTO.Portfolio.TransactionSimpleDto:
      properties:
        transDate:
          type: string
          format: date-time
        productName:
          type: string
        ticker:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: TransactionSimpleDto
      type: object
    OAS.WebApi.DTO.Portfolio.TransactionFeeDto:
      properties:
        id:
          type: integer
          format: int32
        transactionFeeTypeId:
          type: integer
          format: int32
        feeAmount:
          type: number
          format: double
        fileFeeDescription:
          type: string
        feeType:
          type: string
      xml:
        name: TransactionFeeDto
      type: object
    OAS.WebApi.DTO.Portfolio.PortfolioTransactionAdditionalInformationDto:
      properties:
        yieldToMaturity:
          type: number
          format: double
        isOID:
          type: boolean
        tradeRequestId:
          type: integer
          format: int32
        commIndicator:
          type: integer
          format: int32
        orderType:
          type: integer
          format: int32
        marketCode:
          type: integer
          format: int32
        blotterCode:
          type: integer
          format: int32
        distIndicator:
          type: integer
          format: int32
        revenueType:
          type: integer
          format: int32
        spreadStraddle:
          type: integer
          format: int32
        brokerCode:
          type: string
        includeAsRmdDistribution:
          type: boolean
        includeAsRmdDistributionIsSystemMaintained:
          type: boolean
        divExDate:
          type: string
          format: date-time
        oidInterest:
          type: number
          format: double
      xml:
        name: PortfolioTransactionAdditionalInformationDto
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
[...]
