openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Assets API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/Assets
paths:
  /v1/Portfolio/Assets:
    get:
      tags:
      - Portfolio/Assets
      operationId: Assets_GetAsync
      parameters:
      - name: clientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: registrationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: accountId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: productId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: assetId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: includeCostBasis
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: hasValue
        in: query
        required: false
        schema:
          type: boolean
      - name: editedStartDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: editedEndDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: alternativeOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: custodianName
        in: query
        required: false
        schema:
          type: string
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Alternative
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBaseDto'
                xml:
                  name: AssetBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBaseDto'
                xml:
                  name: AssetBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBaseDto'
                xml:
                  name: AssetBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBaseDto'
                xml:
                  name: AssetBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBaseDto'
                xml:
                  name: AssetBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBaseDto'
                xml:
                  name: AssetBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Assets get async
      x-summary-source: derived
  /v1/Portfolio/Assets/{key}:
    get:
      tags:
      - Portfolio/Assets
      summary: Gets the asset that has the provided key.
      operationId: Assets_GetByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: query
        description: The asset value returned is as of the end of this date.
        required: false
        schema:
          type: string
          format: date-time
      - name: includeCostBasis
        in: query
        description: Optional bool.  Default is false.  When true, the Cost Basis property will be populated.  This requires extra calculation which will reduce performance when true.
        required: false
        schema:
          type: boolean
          default: false
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Alternative
          default: 0
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBaseDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/Assets
      summary: Simple dto update
      operationId: Assets_UpdateAssetAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
        required: true
  /v1/Portfolio/Assets/{key}/Action/MoveToAccount/{accountId}:
    put:
      tags:
      - Portfolio/Assets
      summary: Move asset to different account
      operationId: Assets_MoveAssetAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
      security:
      - Authorization: []
  /v1/Portfolio/Assets/{key}/Price:
    get:
      tags:
      - Portfolio/Assets
      operationId: Assets_GetPrice
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RealtimePriceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RealtimePriceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RealtimePriceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RealtimePriceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RealtimePriceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RealtimePriceDto'
      security:
      - Authorization: []
      summary: Assets get price
      x-summary-source: derived
  /v1/Portfolio/Assets/{key}/Price/{asOfDate}:
    get:
      tags:
      - Portfolio/Assets
      operationId: Assets_GetV1PortfolioAssetsByKeyPriceByAsOfDate
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RealtimePriceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RealtimePriceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RealtimePriceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RealtimePriceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RealtimePriceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RealtimePriceDto'
      security:
      - Authorization: []
      summary: Assets get V1 portfolio assets by key price by as of date
      x-summary-source: derived
  /v1/Portfolio/Assets/{key}/Prices/Historical:
    get:
      tags:
      - Portfolio/Assets
      summary: Gets the price history of an asset
      operationId: Assets_GetAssetPriceHistoryAsync
      parameters:
      - name: key
        in: path
        description: The asset ID
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: Optional. The start of the range for the price date.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. The end of the range for the price date.
        required: false
        schema:
          type: string
          format: date-time
      - name: returnAdjustedPrices
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetPriceDto'
                xml:
                  name: AssetPriceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetPriceDto'
                xml:
                  name: AssetPriceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetPriceDto'
                xml:
                  name: AssetPriceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetPriceDto'
                xml:
                  name: AssetPriceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Assets/{key}/Transactions:
    get:
      tags:
      - Portfolio/Assets
      operationId: Assets_GetTransactions
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: transTypeId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradingTransactionDto'
                xml:
                  name: TradingTransactionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradingTransactionDto'
                xml:
                  name: TradingTransactionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradingTransactionDto'
                xml:
                  name: TradingTransactionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradingTransactionDto'
                xml:
                  name: TradingTransactionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradingTransactionDto'
                xml:
                  name: TradingTransactionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradingTransactionDto'
                xml:
                  name: TradingTransactionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Assets get transactions
      x-summary-source: derived
  /v1/Portfolio/Assets/{key}/Value:
    get:
      tags:
      - Portfolio/Assets
      summary: Gets the simple assets (including aum for the end of today) that has the…
      operationId: Assets_GetValueByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
      security:
      - Authorization: []
  /v1/Portfolio/Assets/{key}/Value/{asOfDate}:
    get:
      tags:
      - Portfolio/Assets
      summary: Gets the simple assets (including aum for the end of the date specified) that…
      operationId: Assets_GetValueAsOfDateByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
      security:
      - Authorization: []
  /v1/Portfolio/Assets/{prodId}/BuyOptionShares:
    post:
      tags:
      - Portfolio/Assets
      operationId: Assets_GetBuyOptionShares
      parameters:
      - name: prodId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.BuyOptionSharesDto'
                xml:
                  name: BuyOptionSharesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.BuyOptionSharesDto'
                xml:
                  name: BuyOptionSharesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.BuyOptionSharesDto'
                xml:
                  name: BuyOptionSharesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.BuyOptionSharesDto'
                xml:
                  name: BuyOptionSharesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.BuyOptionSharesDto'
                xml:
                  name: BuyOptionSharesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.BuyOptionSharesDto'
                xml:
                  name: BuyOptionSharesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Assets get buy option shares
      x-summary-source: derived
  /v1/Portfolio/Assets/{prodId}/SellOptionShares:
    post:
      tags:
      - Portfolio/Assets
      operationId: Assets_GetSellOptionShares
      parameters:
      - name: prodId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SellOptionSharesDto'
                xml:
                  name: SellOptionSharesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SellOptionSharesDto'
                xml:
                  name: SellOptionSharesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SellOptionSharesDto'
                xml:
                  name: SellOptionSharesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SellOptionSharesDto'
                xml:
                  name: SellOptionSharesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SellOptionSharesDto'
                xml:
                  name: SellOptionSharesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SellOptionSharesDto'
                xml:
                  name: SellOptionSharesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Assets get sell option shares
      x-summary-source: derived
  /v1/Portfolio/Assets/Action/Delete:
    put:
      tags:
      - Portfolio/Assets
      summary: Deletes every asset provided in the list of ids
      operationId: Assets_ActionDeleteAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: The list of asset to delete.
        required: true
  /v1/Portfolio/Assets/Action/RemoveHistorical:
    put:
      tags:
      - Portfolio/Assets
      summary: Remove the _Hist for every asset provided in the list of ids
      operationId: Assets_RemoveHistoricalAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: The list of asset to delete.
        required: true
  /v1/Portfolio/Assets/Alternative:
    get:
      tags:
      - Portfolio/Assets
      summary: Gets a list of alternative assets The return is not limited to pages.
      description: 'Sample Request

        GET /Portfolio/Assets/Alternative?assetId=1

        [

        {

        "value": 123,

        "accountNumber": "ACCOUNTNUMBER",

        "ticker": "THE_TICKER",

        "currentShares": 123,

        "currentPrice": 1,

        "isManaged": true,

        "assetClass": "Alternative",

        "productCategory": "Alternative",

        "productCategoryAbbreviation": "E",

        "isCustodialCash": false,

        "secondaryAccountNumber": null,

        "assetLevelStrategyId": null,

        "assetLevelStrategy": null,

        "status": 3,

        "isStrategyOverride": false,

        "createdBy": "created@by.com",

        "createdDate": "22023-07-18T07:46:19.28-05:00",

        "editedBy": "edited@by.com",

        "editedDate": "2023-07-18T10:44:24-05:00",

        "registrationId": 5,

        "clientId": 4,

        "isActive": true,

        "downloadSymbol": 123,

        "accountType": "Non-Profit",

        "fundFamily": "Fund family",

        "custodian": "Custodian Name",

        "asOfDate": "2023-07-18",

        "managementStyle": "Managed Account",

        "productType": "Miscellaneous",

        "productSubType": "Limited Partnership",

        "isGlobalExcluded": false,

        "isFeeExcluded": false,

        "excludeAmountType": null,

        "excludeAmount": 0,

        "excludePercentOf": null,

        "isRebalance": false,

        "isAdvisorOnly": true,

        "isAdvReportable": true,

        "is13FReportable": true,

        "mscsFundAccountNumber": null,

        "lastReconDate": null,

        "isOrionVision": null,

        "assetPercentOfAccount": 100,

        "name": "Name of Product",

        "registrationName": "Name on Registration",

        "accountId": 3,

        "currentValue": 123,

        "valuation": 123,

        "committedCapital": 123,

        "committedCapitalDate": "2023-07-18",

        "contributedCapital": 123,

        "distribution": 123,

        "unfundedCommitmentAdjustment": null,

        "unfundedCommitmentAmount": 0,

        "costBasis": null,

        "productId": 1,

        "recallableDistribution": null,

        "upcomingCapitalCallDate": null,

        "upcomingCapitalCallAmount": null,

        "upcomingCapitalCallAmountType": null,

        "upcomingDistributionDate": null,

        "upcomingDistributionAmount": null,

        "upcomingDistributionAmountType": null,

        "managerName": null,

        "lastValuationDate": "2023-07-18T00:00:00-06:00",

        "accountSweepAssetProductName": "Sweep Asset",

        "accountSweepAssetValueAsOf": null,

        "id": 1

        }

        ]'
      operationId: Assets_GetAlternativeAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: clientId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: registrationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: accountId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: productId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: assetId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: includeCostBasis
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetAlternativeDto'
                xml:
                  name: AssetAlternativeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetAlternativeDto'
                xml:
                  name: AssetAlternativeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetAlternativeDto'
                xml:
                  name: AssetAlternativeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetAlternativeDto'
                xml:
                  name: AssetAlternativeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetAlternativeDto'
                xml:
                  name: AssetAlternativeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetAlternativeDto'
                xml:
                  name: AssetAlternativeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Assets/AssetExclusion/{key}:
    get:
      tags:
      - Portfolio/Assets
      operationId: Assets_GetAssetExclusion
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBillingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBillingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBillingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBillingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBillingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBillingDto'
      security:
      - Authorization: []
      summary: Assets get asset exclusion
      x-summary-source: derived
  /v1/Portfolio/Assets/Historical:
    get:
      tags:
      - Portfolio/Assets
      summary: Gets any assets where the account number ends with _hist
      operationId: Assets_GetHistoricalAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Assets/List:
    post:
      tags:
      - Portfolio/Assets
      summary: Returns a list of Assets that are found for the list of Id's posted in the…
      operationId: Assets_GetListByIdAsync
      parameters:
      - name: includeCostBasis
        in: query
        description: Optional bool.  Default is false.  When true, the Cost Basis property will be populated.  This requires extra calculation which will reduce performance when true.
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: Array of Asset ID's
        required: true
  /v1/Portfolio/Assets/List/AccountId:
    post:
      tags:
      - Portfolio/Assets
      summary: Returns a list of Assets that are found for the list of AccountId's posted in…
      operationId: Assets_GetListByAccountIdAsync
      parameters:
      - name: includeCostBasis
        in: query
        description: Optional bool.  Default is false.  When true, the Cost Basis property will be populated.  This requires extra calculation which will reduce performance when true.
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: Array of Account ID's
        required: true
  /v1/Portfolio/Assets/List/Id:
    post:
      tags:
      - Portfolio/Assets
      summary: Returns a list of Assets that are found for the list of Id's posted in the…
      operationId: Assets_PostV1PortfolioAssetsListId
      parameters:
      - name: includeCostBasis
        in: query
        description: Optional bool.  Default is false.  When true, the Cost Basis property will be populated.  This requires extra calculation which will reduce performance when true.
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: Array of Asset ID's
        required: true
  /v1/Portfolio/Assets/ListCounts:
    post:
      tags:
      - Portfolio/Assets
      operationId: Assets_GetListCountById
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Assets get list count by id
      x-summary-source: derived
  /v1/Portfolio/Assets/Simple:
    get:
      tags:
      - Portfolio/Assets
      summary: Gets a simple list of assets for a given portfolio
      operationId: Assets_GetSimple
      parameters:
      - name: hasValue
        in: query
        description: Optional. When provided will only return assets that have value (true).
        required: false
        schema:
          type: boolean
      - name: registrationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Assets/Simple/Search:
    get:
      tags:
      - Portfolio/Assets
      summary: Gets a simple list of assets by the search criteria
      operationId: Assets_GetAssetSearchAsync
      parameters:
      - name: search
        in: query
        description: Asset Id
        required: true
        schema:
          type: string
      - name: clientId
        in: query
        description: 'Optional. Default: null. Returns only matching asset for the client Id provided'
        required: false
        schema:
          type: integer
          format: int32
      - name: accountId
        in: query
        description: 'Optional. Default: null. Returns only matching asset for the account Id provided'
        required: false
        schema:
          type: integer
          format: int32
      - name: top
        in: query
        description: 'Optional. Default: null. The maximum number of products to return. If null returns all.'
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: 'Optional. Default: 0. Defines number of items to skip.'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetDto'
                xml:
                  name: SimpleAssetDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetDto'
                xml:
                  name: SimpleAssetDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetDto'
                xml:
                  name: SimpleAssetDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetDto'
                xml:
                  name: SimpleAssetDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetDto'
                xml:
                  name: SimpleAssetDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetDto'
                xml:
                  name: SimpleAssetDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Assets/Simple/Search/{search}:
    get:
      tags:
      - Portfolio/Assets
      summary: Gets a simple list of assets by the search criteria
      operationId: Assets_GetV1PortfolioAssetsSimpleSearchBySearch
      parameters:
      - name: search
        in: path
        description: Asset Id
        required: true
        schema:
          type: string
      - name: clientId
        in: query
        description: 'Optional. Default: null. Returns only matching asset for the client Id provided'
        required: false
        schema:
          type: integer
          format: int32
      - name: accountId
        in: query
        description: 'Optional. Default: null. Returns only matching asset for the account Id provided'
        required: false
        schema:
          type: integer
          format: int32
      - name: top
        in: query
        description: 'Optional. Default: null. The maximum number of products to return. If null returns all.'
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: 'Optional. Default: 0. Defines number of items to skip.'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetDto'
                xml:
                  name: SimpleAssetDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetDto'
                xml:
                  name: SimpleAssetDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetDto'
                xml:
                  name: SimpleAssetDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetDto'
                xml:
                  name: SimpleAssetDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetDto'
                xml:
                  name: SimpleAssetDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetDto'
                xml:
                  name: SimpleAssetDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Assets/Value:
    get:
      tags:
      - Portfolio/Assets
      summary: Gets a simple list of assets (including aum for today) that the logged in user…
      operationId: Assets_GetValue
      parameters:
      - name: editedStartDate
        in: query
        description: Optional. When provided only records that were edited after the date provided will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: editedEndDate
        in: query
        description: Optional. When provided only records that were edited before the date provided will be returned.
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Assets/Value/{asOfDate}:
    get:
      tags:
      - Portfolio/Assets
      summary: Gets a simple list of assets (including aum for the end of the date specified)…
      operationId: Assets_GetValueAsOfDate
      parameters:
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      - name: editedStartDate
        in: query
        description: Optional. When provided only records that were edited after the date provided will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: editedEndDate
        in: query
        description: Optional. When provided only records that were edited before the date provided will be returned.
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Assets/Value/{asOfDate}/List:
    post:
      tags:
      - Portfolio/Assets
      summary: Gets a simple list of assets that match one of the keys in the provided list
      operationId: Assets_GetValueAsOfDateListById
      parameters:
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of keys of the desired return objects.
        required: true
  /v1/Portfolio/Assets/Value/{asOfDate}/List/Id:
    post:
      tags:
      - Portfolio/Assets
      summary: Gets a simple list of assets that match one of the keys in the provided list
      operationId: Assets_PostV1PortfolioAssetsValueByAsOfDateListId
      parameters:
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of keys of the desired return objects.
        required: true
  /v1/Portfolio/Assets/Value/List:
    post:
      tags:
      - Portfolio/Assets
      summary: Gets a simple list of assets that match one of the keys in the provided list
      operationId: Assets_GetValueListById
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of keys of the desired return objects.
        required: true
  /v1/Portfolio/Assets/Value/List/Id:
    post:
      tags:
      - Portfolio/Assets
      summary: Gets a simple list of assets that match one of the keys in the provided list
      operationId: Assets_PostV1PortfolioAssetsValueListId
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAsset2WithValueDto'
                xml:
                  name: SimpleAsset2WithValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of keys of the desired return objects.
        required: true
  /v1/Portfolio/Assets/Verbose:
    get:
      tags:
      - Portfolio/Assets
      operationId: Assets_GetVerbose
      parameters:
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Billing
            - Portfolio
            - StepUps
            - Bifurcates
            - CostBasisHistories
            - CostBasisLots
            - UserDefinedFields
            - EntityOptions
            - UserDefinedTimeFields
            - AssetValuations
            - Commitments
            - AlternativeSchedules
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Assets get verbose
      x-summary-source: derived
    put:
      tags:
      - Portfolio/Assets
      summary: Update multiple assets
      operationId: Assets_UpdateVerboseAssetsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
              xml:
                name: AssetVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
              xml:
                name: AssetVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
              xml:
                name: AssetVerboseDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
              xml:
                name: AssetVerboseDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
              xml:
                name: AssetVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
              xml:
                name: AssetVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
              xml:
                name: AssetVerboseDto
                wrapped: true
              type: array
        required: true
    post:
      tags:
      - Portfolio/Assets
      summary: Create asset
      operationId: Assets_CreateVerboseAssetAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
        required: true
  /v1/Portfolio/Assets/Verbose/{key}:
    get:
      tags:
      - Portfolio/Assets
      operationId: Assets_GetVerboseByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Billing
            - Portfolio
            - StepUps
            - Bifurcates
            - CostBasisHistories
            - CostBasisLots
            - UserDefinedFields
            - EntityOptions
            - UserDefinedTimeFields
            - AssetValuations
            - Commitments
            - AlternativeSchedules
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
      security:
      - Authorization: []
      summary: Assets get verbose by key async
      x-summary-source: derived
    put:
      tags:
      - Portfolio/Assets
      summary: Update single asset
      operationId: Assets_UpdateVerboseAssetAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
        required: true
  /v1/Portfolio/Assets/Verbose/ByProduct/{key}:
    get:
      tags:
      - Portfolio/Assets
      operationId: Assets_GetAssetsWithSameProductId
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Billing
            - Portfolio
            - StepUps
            - Bifurcates
            - CostBasisHistories
            - CostBasisLots
            - UserDefinedFields
            - EntityOptions
            - UserDefinedTimeFields
            - AssetValuations
            - Commitments
            - AlternativeSchedules
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetVerboseDto'
                xml:
                  name: AssetVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Assets get assets with same product id
      x-summary-source: derived
  /v1/Portfolio/Assets/Verbose/CopyHistoricalData:
    get:
      tags:
      - Portfolio/Assets
      operationId: Assets_CopyHistoricalData
      parameters:
      - name: assetCopyHistoricalData.assetIdToEdit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: assetCopyHistoricalData.assetIdToCopy
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: assetCopyHistoricalData.percentage
        in: query
        required: false
        schema:
          type: number
          format: double
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
                xml:
                  name: CommitmentLedgerDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
                xml:
                  name: CommitmentLedgerDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
                xml:
                  name: CommitmentLedgerDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
                xml:
                  name: CommitmentLedgerDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
                xml:
                  name: CommitmentLedgerDto
                  wrapped: true
                type: array
[...]
