openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/TRX API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/TRX
paths:
  /v1/Integrations/TRX/Action/Schedule:
    put:
      tags:
      - Integrations/TRX
      summary: Schedule TRX Export
      operationId: Trx_ScheduleTrxExportAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
  /v1/Integrations/TRX/Configuration:
    get:
      tags:
      - Integrations/TRX
      summary: Retrieves trx Integration details
      operationId: Trx_GetConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/TRX
      summary: Saves trx integration settings
      operationId: Trx_UpdateConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto'
        required: true
  /v1/Integrations/TRX/Configuration/Test:
    get:
      tags:
      - Integrations/TRX
      summary: Checks to see if trx integration has been setup for this database
      operationId: Trx_CheckConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/TRX/ModelComplianceClass/{key}:
    get:
      tags:
      - Integrations/TRX
      summary: Get asset category from TRX
      operationId: Trx_GetModelComplianceClass
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TrxController.TrxHouseholdGroupDto'
                xml:
                  name: TrxHouseholdGroupDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TrxController.TrxHouseholdGroupDto'
                xml:
                  name: TrxHouseholdGroupDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TrxController.TrxHouseholdGroupDto'
                xml:
                  name: TrxHouseholdGroupDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TrxController.TrxHouseholdGroupDto'
                xml:
                  name: TrxHouseholdGroupDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TrxController.TrxHouseholdGroupDto'
                xml:
                  name: TrxHouseholdGroupDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TrxController.TrxHouseholdGroupDto'
                xml:
                  name: TrxHouseholdGroupDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/TRX/ModelComplianceSubClass/{key}:
    get:
      tags:
      - Integrations/TRX
      summary: Get asset class from TRX
      operationId: Trx_GetModelComplianceSubClass
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TrxController.TrxHouseholdGroupDto'
                xml:
                  name: TrxHouseholdGroupDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TrxController.TrxHouseholdGroupDto'
                xml:
                  name: TrxHouseholdGroupDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TrxController.TrxHouseholdGroupDto'
                xml:
                  name: TrxHouseholdGroupDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TrxController.TrxHouseholdGroupDto'
                xml:
                  name: TrxHouseholdGroupDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TrxController.TrxHouseholdGroupDto'
                xml:
                  name: TrxHouseholdGroupDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.TrxController.TrxHouseholdGroupDto'
                xml:
                  name: TrxHouseholdGroupDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Trading.ModelToleranceDto:
      properties:
        groupName:
          type: string
        groupDescription:
          type: string
        groupKey:
          type: integer
          format: int32
        groupEntity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        lowerTolerance:
          type: number
          format: double
        upperTolerance:
          type: number
          format: double
        targetPercent:
          type: number
          format: double
        targetValue:
          type: number
          format: double
        actualPercent:
          type: number
          format: double
        actualValue:
          type: number
          format: double
        actualShares:
          type: number
          format: double
        actualCash:
          type: number
          format: double
        excluded:
          type: boolean
        postTradePercent:
          type: number
          format: double
        postTradeShares:
          type: number
          format: double
        postTradeCash:
          type: number
          format: double
        targetShares:
          type: number
          format: double
        postTradeValue:
          type: number
          format: double
        minCashBalance:
          type: number
          format: double
        minCashBalanceType:
          type: string
          enum:
          - Dollars
          - Percent
        inTolerance:
          readOnly: true
          type: boolean
      xml:
        name: ModelToleranceDto
      type: object
    OAS.WebApi.Domains.Integrations.TrxController.TrxHouseholdGroupDto:
      properties:
        householdId:
          type: string
        householdDescription:
          type: string
        items:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelToleranceDto'
          xml:
            name: ModelToleranceDto
            wrapped: true
          type: array
      xml:
        name: TrxHouseholdGroupDto
      type: object
    OAS.WebApi.Domains.Integrations.TRXIntegrationConfigDto:
      properties:
        orionUserId:
          type: string
        orionPassword:
          type: string
      xml:
        name: TRXIntegrationConfigDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
