openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Import Type API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/ImportType
paths:
  /v1/Utility/ImportType:
    get:
      tags:
      - Utility/ImportType
      summary: Gets a list of ImportTypes available for the Custom Import process
      description: 'Sample Request

        GET /Utility/ImportType

        OR

        GET /Utility/ImportType?importTypeId=1

        OR

        GET /Utility/ImportType?multiDB=false

        OR

        GET /Utility/ImportType?importTypeId=1&multiDB=false'
      operationId: ImportType_GetImportTypesAsync
      parameters:
      - name: importTypeId
        in: query
        description: 'Optional. Default: null. If provided, returns only the ImportType with the provided Id'
        required: false
        schema:
          type: integer
          format: int32
      - name: multiDB
        in: query
        description: 'Optional. Default: false. If provided, returns only ImportTypes valid for MultiDatabase Imports'
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeBaseInfoDto'
                xml:
                  name: ImportTypeBaseInfoDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeBaseInfoDto'
                xml:
                  name: ImportTypeBaseInfoDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeBaseInfoDto'
                xml:
                  name: ImportTypeBaseInfoDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeBaseInfoDto'
                xml:
                  name: ImportTypeBaseInfoDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeBaseInfoDto'
                xml:
                  name: ImportTypeBaseInfoDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeBaseInfoDto'
                xml:
                  name: ImportTypeBaseInfoDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Utility/ImportType/{key}:
    get:
      tags:
      - Utility/ImportType
      summary: Gets the ImportType for the Custom Process, including Column definitions and…
      operationId: ImportType_GetImportTypeAsync
      parameters:
      - name: key
        in: path
        description: Key of the ImportType to return
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      - name: multiDB
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeDto'
      security:
      - Authorization: []
  /v1/Utility/ImportType/{name}:
    get:
      tags:
      - Utility/ImportType
      operationId: ImportType_GetImportTypeByNameAsync
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeDto'
      security:
      - Authorization: []
      summary: Import type get import type by name async
      x-summary-source: derived
  /v1/Utility/ImportType/All:
    get:
      tags:
      - Utility/ImportType
      summary: Gets all import types in the system
      operationId: ImportType_GetAllImportTypesAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeBaseInfoDto'
                xml:
                  name: ImportTypeBaseInfoDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeBaseInfoDto'
                xml:
                  name: ImportTypeBaseInfoDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeBaseInfoDto'
                xml:
                  name: ImportTypeBaseInfoDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeBaseInfoDto'
                xml:
                  name: ImportTypeBaseInfoDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeBaseInfoDto'
                xml:
                  name: ImportTypeBaseInfoDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeBaseInfoDto'
                xml:
                  name: ImportTypeBaseInfoDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Utility/ImportType/UpdateConfigJson/{key}:
    post:
      tags:
      - Utility/ImportType
      summary: This is for the modification of the import types.
      operationId: ImportType_UpdateImportTypeResultSetStructureAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ImportTypeDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: object
          application/json:
            schema:
              type: object
          text/json:
            schema:
              type: object
          application/x-www-form-urlencoded:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Utility.ImportTypeBaseInfoDto:
      properties:
        id:
          type: integer
          format: int32
        importTypeName:
          type: string
        importTypeDescription:
          type: string
        privilegeId:
          type: integer
          format: int32
        tags:
          type: string
        importTypeReverseId:
          type: integer
          format: int32
        storedProcedure:
          type: string
        requiredFields:
          type: string
      xml:
        name: ImportTypeBaseInfoDto
      type: object
    OAS.WebApi.DTO.Utility.ImportTypeDto:
      properties:
        config:
          type: object
        canReverseImport:
          type: boolean
        id:
          type: integer
          format: int32
        importTypeName:
          type: string
        importTypeDescription:
          type: string
        privilegeId:
          type: integer
          format: int32
        tags:
          type: string
        importTypeReverseId:
          type: integer
          format: int32
        storedProcedure:
          type: string
        requiredFields:
          type: string
      xml:
        name: ImportTypeDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
