openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Orion Element API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/OrionElement
paths:
  /v1/Integrations/OrionElement/AssetFactSheet/{modelId}:
    get:
      tags:
      - Integrations/OrionElement
      summary: Get the manager fact sheet from v2 communities
      operationId: OrionElement_AssetFactSheetAsync
      parameters:
      - name: modelId
        in: path
        description: key for the desired model aggregate fact sheet.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/OrionElement/BlendedAssetFactSheet/{id}:
    get:
      tags:
      - Integrations/OrionElement
      summary: Get the manager fact sheet from v2 communities
      operationId: OrionElement_BlendedAssetFactSheetAsync
      parameters:
      - name: id
        in: path
        description: key for the desired strategy fact sheet.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
