openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Compares API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/Compares
paths:
  /v1/Reporting/Compares/Batch:
    post:
      tags:
      - Reporting/Compares
      operationId: ReportingCompares_CreateComparesRun
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
        required: true
      summary: Reporting compares create compares run
      x-summary-source: derived
  /v1/Reporting/Compares/BatchExcelReport:
    post:
      tags:
      - Reporting/Compares
      operationId: ReportingCompares_CreateExcelReportComparesRun
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto'
        required: true
      summary: Reporting compares create excel report compares run
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.JsonConverter.ReportFeatureOverriderDto:
      properties:
        dynamicBenchmarkProcessType:
          type: string
          enum:
          - Cloud
          - LocalService
        forceAssetGroupingIntraDayPerformance:
          type: boolean
        activityProcessType:
          type: string
          enum:
          - Cloud
          - LocalService
        costBasisProcessType:
          type: string
          enum:
          - Old
          - Cloud
          - LocalService
        useMultiThreadedGroupInfo:
          type: boolean
        morningstarLevel2Assignment:
          type: boolean
        localPriceCutOverDate:
          type: string
          format: date-time
        noScope:
          type: boolean
        ensureAssetsUpdated:
          type: boolean
        storeReportDataCompressed:
          type: boolean
        showEInModelNames:
          type: boolean
        performanceProcessType:
          type: string
          enum:
          - Cloud
          - LocalService
        forceNonSummaryPerformanceToUseTwr:
          type: boolean
        forceNetOfFeesPerformance:
          type: boolean
        costBasisStoredSource:
          type: string
          enum:
          - Orion
          - Custodian
        useGlobalSettingsUniqueIds:
          type: boolean
        showEquations:
          type: boolean
        isReportCompare:
          type: boolean
        tradingWithParentGrouping:
          type: boolean
        useBenchmarksInAccountChangeHistory:
          type: boolean
        benchmarkAssignmentOverride:
          type: string
        useAsOfDateForAdvizr:
          type: boolean
        accountNumbersToShow:
          type: integer
          format: int32
        useBatchSettingsBulkCopy:
          type: boolean
        showExcludedFromRebalance:
          type: boolean
        useInMemoryForModelVsActual:
          type: boolean
        useNewLineChartRenderer:
          type: boolean
        useNewScatterPlotChartRenderer:
          type: boolean
        useInMemoryIncomeCalculation:
          type: boolean
        useModelAllocationHistory:
          type: boolean
        useDisclaimerShadowDom:
          type: boolean
      xml:
        name: ReportFeatureOverriderDto
      type: object
    OAS.DataModel.Reporting.Compares.ReportDataCompareBatchDto:
      properties:
        runAFlags:
          $ref: '#/components/schemas/OAS.DataModel.JsonConverter.ReportFeatureOverriderDto'
        runBFlags:
          $ref: '#/components/schemas/OAS.DataModel.JsonConverter.ReportFeatureOverriderDto'
        alClientsToRunFor:
          items:
            type: integer
            format: int32
          type: array
        numberOfHouseHoldsToRunFor:
          type: integer
          format: int32
        numberOfReportsToRunFor:
          type: integer
          format: int32
        reportIdsToRunFor:
          items:
            example: 00000000-0000-0000-0000-000000000000
            type: string
            format: uuid
          type: array
        addVersions:
          type: boolean
        workerLimit:
          type: integer
          format: int32
        description:
          type: string
      xml:
        name: ReportDataCompareBatchDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
