openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/BI API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/BI
paths:
  /v1/Reporting/BI/AccountHistory:
    get:
      tags:
      - Reporting/BI
      operationId: BI_AccountHistory
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAccountHistory'
                xml:
                  name: BIAccountHistory
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAccountHistory'
                xml:
                  name: BIAccountHistory
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAccountHistory'
                xml:
                  name: BIAccountHistory
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAccountHistory'
                xml:
                  name: BIAccountHistory
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAccountHistory'
                xml:
                  name: BIAccountHistory
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAccountHistory'
                xml:
                  name: BIAccountHistory
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: BI account history
      x-summary-source: derived
  /v1/Reporting/BI/AccountTable:
    get:
      tags:
      - Reporting/BI
      operationId: BI_AccountTable
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAccountDto'
                xml:
                  name: BIAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAccountDto'
                xml:
                  name: BIAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAccountDto'
                xml:
                  name: BIAccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAccountDto'
                xml:
                  name: BIAccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAccountDto'
                xml:
                  name: BIAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAccountDto'
                xml:
                  name: BIAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: BI account table
      x-summary-source: derived
  /v1/Reporting/BI/AssetTable:
    get:
      tags:
      - Reporting/BI
      operationId: BI_AssetTable
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAssetDto'
                xml:
                  name: BIAssetDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAssetDto'
                xml:
                  name: BIAssetDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAssetDto'
                xml:
                  name: BIAssetDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAssetDto'
                xml:
                  name: BIAssetDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAssetDto'
                xml:
                  name: BIAssetDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIAssetDto'
                xml:
                  name: BIAssetDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: BI asset table
      x-summary-source: derived
  /v1/Reporting/BI/HouseholdTable:
    get:
      tags:
      - Reporting/BI
      operationId: BI_HouseholdTable
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIHouseholdDto'
                xml:
                  name: BIHouseholdDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIHouseholdDto'
                xml:
                  name: BIHouseholdDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIHouseholdDto'
                xml:
                  name: BIHouseholdDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIHouseholdDto'
                xml:
                  name: BIHouseholdDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIHouseholdDto'
                xml:
                  name: BIHouseholdDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIHouseholdDto'
                xml:
                  name: BIHouseholdDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: BI household table
      x-summary-source: derived
  /v1/Reporting/BI/Performance:
    get:
      tags:
      - Reporting/BI
      operationId: BI_GetPerformanceAsync
      parameters:
      - name: groupEntity
        in: query
        required: true
        schema:
          type: string
          enum:
          - Undefined
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - AssetClass
          - ProductType
          - Platform
          - RiskCategory
          - Product
          - IndexBlend
          - AssetCategory
          - AssetLevelStrategy
          - AggregateModel
          - AccountType
          - PortfolioGroup
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceDto'
                xml:
                  name: BIPerformanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceDto'
                xml:
                  name: BIPerformanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceDto'
                xml:
                  name: BIPerformanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceDto'
                xml:
                  name: BIPerformanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceDto'
                xml:
                  name: BIPerformanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIPerformanceDto'
                xml:
                  name: BIPerformanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: BI get performance async
      x-summary-source: derived
  /v1/Reporting/BI/ProductHistory:
    get:
      tags:
      - Reporting/BI
      operationId: BI_GetProductHistory
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIProductHistory'
                xml:
                  name: BIProductHistory
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIProductHistory'
                xml:
                  name: BIProductHistory
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIProductHistory'
                xml:
                  name: BIProductHistory
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIProductHistory'
                xml:
                  name: BIProductHistory
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIProductHistory'
                xml:
                  name: BIProductHistory
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIProductHistory'
                xml:
                  name: BIProductHistory
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: BI get product history
      x-summary-source: derived
  /v1/Reporting/BI/ProductTable:
    get:
      tags:
      - Reporting/BI
      operationId: BI_ProuctTable
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIProductDto'
                xml:
                  name: BIProductDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIProductDto'
                xml:
                  name: BIProductDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIProductDto'
                xml:
                  name: BIProductDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIProductDto'
                xml:
                  name: BIProductDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIProductDto'
                xml:
                  name: BIProductDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIProductDto'
                xml:
                  name: BIProductDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: BI prouct table
      x-summary-source: derived
  /v1/Reporting/BI/RepTable:
    get:
      tags:
      - Reporting/BI
      operationId: BI_RepTable
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIRepDto'
                xml:
                  name: BIRepDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIRepDto'
                xml:
                  name: BIRepDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIRepDto'
                xml:
                  name: BIRepDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIRepDto'
                xml:
                  name: BIRepDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIRepDto'
                xml:
                  name: BIRepDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.BIController.BIRepDto'
                xml:
                  name: BIRepDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: BI rep table
      x-summary-source: derived
  /v1/Reporting/BI/SisenseBaseAddress:
    get:
      tags:
      - Reporting/BI
      operationId: BI_SisenseBaseAddress
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: BI sisense base address
      x-summary-source: derived
  /v1/Reporting/BI/SisenseSSO:
    get:
      tags:
      - Reporting/BI
      operationId: BI_SisenseSSOAsync
      parameters:
      - name: dashboardId
        in: query
        required: false
        schema:
          type: string
      - name: returnTo
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: BI sisense SSO async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.Domains.Reporting.BIController.BIAccountDto:
      properties:
        accountId:
          type: integer
          format: int32
        accountNumber:
          type: string
        accountType:
          type: string
        active:
          type: boolean
        custodian:
          type: string
        fundName:
          type: string
        householdId:
          type: integer
          format: int32
        managed:
          type: boolean
        managementStyle:
          type: string
        registrationId:
          type: integer
          format: int32
        registrationName:
          type: string
        taxable:
          type: boolean
        birthDate:
          readOnly: true
          type: string
          format: date-time
        age:
          readOnly: true
          type: integer
          format: int32
      xml:
        name: BIAccountDto
      type: object
    OAS.WebApi.Domains.Reporting.BIController.BIHouseholdDto:
      properties:
        active:
          type: boolean
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        city:
          type: string
        email:
          type: string
        householdId:
          type: integer
          format: int32
        householdName:
          type: string
        repId:
          type: integer
          format: int32
        state:
          type: string
        zip:
          type: string
      xml:
        name: BIHouseholdDto
      type: object
    OAS.WebApi.Domains.Reporting.BIController.BIRepDto:
      properties:
        businessPhone:
          type: string
        email:
          type: string
        repId:
          type: integer
          format: int32
        repName:
          type: string
        repNo:
          type: string
      xml:
        name: BIRepDto
      type: object
    OAS.WebApi.Domains.Reporting.BIController.BIPerformanceDto:
      properties:
        entityId:
          type: integer
          format: int32
        entityEnum:
          type: integer
          format: int32
        parentId:
          type: integer
          format: int32
        groupName:
          type: string
        marketValue:
          type: number
          format: double
        day:
          type: number
          format: double
        mtd:
          type: number
          format: double
        qtd:
          type: number
          format: double
        ytd:
          type: number
          format: double
        oneYear:
          type: number
          format: double
        threeYear:
          type: number
          format: double
        fiveYear:
          type: number
          format: double
        tenYear:
          type: number
          format: double
        inception:
          type: number
          format: double
      xml:
        name: BIPerformanceDto
      type: object
    OAS.WebApi.Domains.Reporting.BIController.BIProductDto:
      properties:
        assetClass:
          type: string
        cusip:
          type: string
        productId:
          type: integer
          format: int32
        productName:
          type: string
        riskCategory:
          type: string
        ticker:
          type: string
        productType:
          readOnly: true
          type: string
        category:
          type: string
      xml:
        name: BIProductDto
      type: object
    OAS.WebApi.Domains.Reporting.BIController.BIAssetDto:
      properties:
        accountId:
          type: integer
          format: int32
        accountNumber:
          type: string
        assetId:
          type: integer
          format: int32
        assetValue:
          type: number
          format: double
        assetValue_1YR:
          type: number
          format: double
        assetValue_3YR:
          type: number
          format: double
        assetValue_5YR:
          type: number
          format: double
        assetValue_StatOfYear:
          type: number
          format: double
        managed:
          type: boolean
        price:
          type: number
          format: double
        priceDate:
          type: string
          format: date-time
        productId:
          type: integer
          format: int32
        unitBalance:
          type: number
          format: double
      xml:
        name: BIAssetDto
      type: object
    OAS.WebApi.Domains.Reporting.BIController.BIAccountHistory:
      properties:
        aum:
          type: number
          format: double
        accountId:
          type: integer
          format: int32
        closedAccountCount:
          type: number
          format: double
        closedAccountValue:
          type: number
          format: double
        feePercent:
          type: number
          format: double
        mergeIn:
          type: number
          format: double
        mergeOut:
          type: number
          format: double
        openedAccountCount:
          type: number
          format: double
        openedAccountValue:
          type: number
          format: double
        previousAUM:
          type: number
          format: double
        revenue:
          type: number
          format: double
        transferIn:
          type: number
          format: double
        transferOut:
          type: number
          format: double
        distributions:
          readOnly: true
          type: number
          format: double
        contributions:
          readOnly: true
          type: number
          format: double
        date:
          type: string
          format: date-time
        marketValueIncrease:
          readOnly: true
          type: number
          format: double
        marketValueDecrease:
          readOnly: true
          type: number
          format: double
        marketValueIncreaseDecrease:
          readOnly: true
          type: number
          format: double
      xml:
        name: BIAccountHistory
      type: object
    OAS.WebApi.Domains.Reporting.BIController.BIProductHistory:
      properties:
        aum:
          type: number
          format: double
        productId:
          type: integer
          format: int32
        date:
          type: string
          format: date-time
      xml:
        name: BIProductHistory
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
