openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Risk Alyze API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/RiskAlyze
paths:
  /v1/Integrations/RiskAlyze/Accounts/{key}:
    put:
      tags:
      - Integrations/RiskAlyze
      operationId: RiskAlyze_AccountRiskScoreUpdate
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: riskScore
        in: query
        required: true
        schema:
          type: number
          format: double
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Risk alyze account risk score update
      x-summary-source: derived
  /v1/Integrations/RiskAlyze/AccountUpsert:
    put:
      tags:
      - Integrations/RiskAlyze
      operationId: RiskAlyze_AccountUpsertAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskAlyzeAccountUpsertDto'
              xml:
                name: RiskAlyzeAccountUpsertDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskAlyzeAccountUpsertDto'
              xml:
                name: RiskAlyzeAccountUpsertDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskAlyzeAccountUpsertDto'
              xml:
                name: RiskAlyzeAccountUpsertDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskAlyzeAccountUpsertDto'
              xml:
                name: RiskAlyzeAccountUpsertDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskAlyzeAccountUpsertDto'
              xml:
                name: RiskAlyzeAccountUpsertDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskAlyzeAccountUpsertDto'
              xml:
                name: RiskAlyzeAccountUpsertDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskAlyzeAccountUpsertDto'
              xml:
                name: RiskAlyzeAccountUpsertDto
                wrapped: true
              type: array
        required: true
      summary: Risk alyze account upsert async
      x-summary-source: derived
  /v1/Integrations/RiskAlyze/Allocations:
    post:
      tags:
      - Integrations/RiskAlyze
      summary: The endpoint is to get Nitrogen scores as the user is building out a model for…
      operationId: RiskAlyze_GetScoreForAllocationsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.TickerAllocationsDto'
              xml:
                name: TickerAllocationsDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.TickerAllocationsDto'
              xml:
                name: TickerAllocationsDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.TickerAllocationsDto'
              xml:
                name: TickerAllocationsDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.TickerAllocationsDto'
              xml:
                name: TickerAllocationsDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.TickerAllocationsDto'
              xml:
                name: TickerAllocationsDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.TickerAllocationsDto'
              xml:
                name: TickerAllocationsDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.TickerAllocationsDto'
              xml:
                name: TickerAllocationsDto
                wrapped: true
              type: array
        description: The combination of Ticker and Amount that will be used to determine the score.
        required: true
  /v1/Integrations/RiskAlyze/Clients:
    get:
      tags:
      - Integrations/RiskAlyze
      summary: Gets all Clients from Nitrogen
      operationId: RiskAlyze_GetAllClientsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
                xml:
                  name: Client
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
                xml:
                  name: Client
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
                xml:
                  name: Client
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
                xml:
                  name: Client
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
                xml:
                  name: Client
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
                xml:
                  name: Client
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/RiskAlyze/Clients/{key}:
    get:
      tags:
      - Integrations/RiskAlyze
      summary: Gets a Client from Nitrogen
      operationId: RiskAlyze_GetClientInfoAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: imageSize
        in: query
        description: 'Optional. Valid values are: 60, 90, 180, 360, or 1000'
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/RiskAlyze
      summary: Updates the risk score for a Nitrogen Client
      operationId: RiskAlyze_ClientRiskScoreUpdateAsync
      parameters:
      - name: key
        in: path
        description: The unique ID of the Client.
        required: true
        schema:
          type: integer
          format: int32
      - name: riskScore
        in: query
        description: The risk score.
        required: true
        schema:
          type: number
          format: double
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Client'
      security:
      - Authorization: []
  /v1/Integrations/RiskAlyze/Clients/{key}/Analysis:
    get:
      tags:
      - Integrations/RiskAlyze
      summary: Gets a Client and associated analysis data from Nitrogen
      operationId: RiskAlyze_GetClientAnalysisAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: imageSize
        in: query
        description: 'Optional. Valid values are: 60, 90, 180, 360, or 1000'
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskalyzeAnalysisDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskalyzeAnalysisDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskalyzeAnalysisDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskalyzeAnalysisDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskalyzeAnalysisDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskalyzeAnalysisDto'
      security:
      - Authorization: []
  /v1/Integrations/RiskAlyze/Clients/{key}/Token:
    get:
      tags:
      - Integrations/RiskAlyze
      summary: Gets the token for a Client from Nitrogen
      operationId: RiskAlyze_GetClientTokenAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/RiskAlyze/Clients/ImplementProposed:
    post:
      tags:
      - Integrations/RiskAlyze
      summary: Calls out to Nitrogen with the currently logged in user sso, and Implements the…
      operationId: RiskAlyze_ImplementProposedAsync
      parameters:
      - name: riskAlyzeClientId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/RiskAlyze/Clients/ProposalRedirect:
    get:
      tags:
      - Integrations/RiskAlyze
      summary: Checks for an existing client based on integration mappings, and updates or…
      operationId: RiskAlyze_CreateOrUpdateClientAsync
      parameters:
      - name: accountId
        in: query
        description: Orion AccountId to base the new Nitrogen client on.
        required: false
        schema:
          type: integer
          format: int32
      - name: clientId
        in: query
        description: Orion HHId to base the new Nitrogen client on.If Launched from HH level of Portfolio Audit
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/RiskAlyze/Configuration:
    get:
      tags:
      - Integrations/RiskAlyze
      summary: Returns configuration settings for Nitrogen integration
      operationId: RiskAlyze_GetConfigurationAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/RiskAlyze
      summary: Updates Nitrogen configuration information
      operationId: RiskAlyze_UpdateConfigurationAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
        required: true
  /v1/Integrations/RiskAlyze/GetToken:
    get:
      tags:
      - Integrations/RiskAlyze
      summary: Used to get token from Nitrogen
      operationId: RiskAlyze_GetTokenAsync
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/RiskAlyze/Redirect:
    get:
      tags:
      - Integrations/RiskAlyze
      summary: Used to automatically redirect the user's browser to Nitrogen's OAuth page
      operationId: RiskAlyze_GetRedirectUrlAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/RiskAlyze/Remove:
    post:
      tags:
      - Integrations/RiskAlyze
      summary: Removes Nitrogen integration from the current user's firm
      description: The user must have Admin or Advisor privileges to remove the integration.
      operationId: RiskAlyze_RemoveServiceAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Integrations/RiskAlyze/Representatives/{key}/DefaultSchedules:
    get:
      tags:
      - Integrations/RiskAlyze
      summary: Get list of default fee schedules for the representative
      operationId: RiskAlyze_GetDefaultSchedulesForRepAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: platformId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleDto'
                xml:
                  name: BillScheduleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleDto'
                xml:
                  name: BillScheduleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleDto'
                xml:
                  name: BillScheduleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleDto'
                xml:
                  name: BillScheduleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleDto'
                xml:
                  name: BillScheduleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillScheduleDto'
                xml:
                  name: BillScheduleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/RiskAlyze/Response:
    post:
      tags:
      - Integrations/RiskAlyze
      operationId: RiskAlyze_OAuthResponseAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: object
          application/json:
            schema:
              type: object
          text/json:
            schema:
              type: object
          application/xml:
            schema:
              type: object
          text/xml:
            schema:
              type: object
          application/x-www-form-urlencoded:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        required: true
      summary: Risk alyze OAuth response async
      x-summary-source: derived
  /v1/Integrations/RiskAlyze/RetirementRedirect:
    get:
      tags:
      - Integrations/RiskAlyze
      operationId: RiskAlyze_GetRetirementRedirectUrlAsync
      parameters:
      - name: clientId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Risk alyze get retirement redirect url async
      x-summary-source: derived
  /v1/Integrations/RiskAlyze/Setup:
    post:
      tags:
      - Integrations/RiskAlyze
      summary: Sets up the Nitrogen integration for an advisory firm
      description: The user must have Admin or Advisor privileges to setup the integration.
      operationId: RiskAlyze_SetupServiceAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.IntegrationInfo'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
        description: An {OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto} defining the integration.
        required: true
  /v1/Integrations/RiskAlyze/StoredUserToken:
    get:
      tags:
      - Integrations/RiskAlyze
      summary: Returns configuration settings for Nitrogen integration
      operationId: RiskAlyze_GetUserTokenAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskAlyze.RiskAlyzeUser'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskAlyze.RiskAlyzeUser'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskAlyze.RiskAlyzeUser'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskAlyze.RiskAlyzeUser'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskAlyze.RiskAlyzeUser'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskAlyze.RiskAlyzeUser'
      security:
      - Authorization: []
components:
  schemas:
    OAS.Integrations.RiskAlyze.Classes.Account:
      properties:
        id:
          type: integer
          format: int32
        portfolio_id:
          type: integer
          format: int32
        asset_manager_id:
          type: object
        custodian_id:
          type: object
        type_id:
          type: object
        name:
          type: string
        total:
          type: number
          format: double
        status:
          type: string
        type:
          type: string
        order:
          type: object
        analysis:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Analysis'
        messages:
          items:
            type: object
          type: array
        created:
          type: string
        updated:
          type: object
        synced:
          type: object
        settings:
          type: object
        external_config:
          type: object
        integrations:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.AccountIntegration'
          xml:
            name: AccountIntegration
            wrapped: true
          type: array
        tracked_model_id:
          type: object
        is_autopilot_enabled:
          type: integer
          format: int32
        trading_status:
          type: string
        allocations:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Allocation'
          xml:
            name: Allocation
            wrapped: true
          type: array
        allocations_excluded:
          items:
            type: object
          type: array
      xml:
        name: Account
      type: object
    OAS.Integrations.RiskAlyze.Dto.AnalysisDto:
      properties:
        riskNumber:
          type: number
          format: double
        riskScoreImage:
          type: string
          format: byte
        riskScoreImageUri:
          type: string
        best:
          type: number
          format: double
        worst:
          type: number
          format: double
      xml:
        name: AnalysisDto
      type: object
    OAS.Integrations.RiskAlyze.Classes.AccountIntegration:
      properties:
        client_ex_api_link_id:
          type: string
        custodial_account_number:
          type: string
        custodian_id:
          type: integer
          format: int32
        custodian_slug:
          type: string
        ex_account_id:
          type: string
        service:
          type: string
      xml:
        name: AccountIntegration
      type: object
    OAS.Integrations.RiskAlyze.Classes.Integration:
      properties:
        id:
          type: string
        client_id:
          type: string
        type:
          type: string
        ex_id_1:
          type: string
        ex_id_2:
          type: string
        timestamp:
          type: string
          format: date-time
      xml:
        name: Integration
      type: object
    OAS.Integrations.RiskAlyze.Dto.RiskAlyzeAccountUpsertDto.Security:
      properties:
        ticker:
          type: string
        longname:
          type: string
        type:
          type: string
      xml:
        name: Security
      type: object
    OAS.Integrations.RiskAlyze.Classes.Allocation:
      properties:
        id:
          type: integer
          format: int32
        account_id:
          type: integer
          format: int32
        portfolio_id:
          type: integer
          format: int32
        sec_id:
          type: integer
          format: int64
        order:
          type: object
        analysis:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Analysis'
        settings:
          type: object
        data:
          type: object
        rank:
          type: integer
          format: int32
        hash:
          type: object
        price:
          type: number
          format: double
        shares:
          type: number
          format: double
        amount:
          type: number
          format: double
        value_as_of_date:
          type: object
        is_locked_for_trading:
          type: integer
          format: int32
        security:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Security'
      xml:
        name: Allocation
      type: object
    OAS.WebApi.DTO.Billing.BillScheduleDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        schedule:
          type: string
          enum:
          - Undefined
          - Fee
          - Payout
          - BDOverride
          - Remainder
          - PerformanceFee
          - PerformancePayout
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        type:
          type: string
        basis:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        minFeeAcctValueThreshold:
          type: number
          format: double
        minimumFee:
          type: number
          format: double
        howBilled:
          type: integer
          format: int32
        billEntityId:
          type: integer
          format: int32
        billEntityName:
          type: string
        billEntityDescription:
          type: string
        showInFeeCalculator:
          type: boolean
        isActive:
          type: boolean
        isPayoutCreditOffset:
          type: boolean
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
      xml:
        name: BillScheduleDto
      type: object
    OAS.Integrations.RiskAlyze.Classes.Standard:
      properties:
        order:
          type: integer
          format: int32
        label:
          type: string
        description:
          type: string
        default_allocations:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.DefaultAllocations'
          xml:
            name: DefaultAllocations
            wrapped: true
          type: array
        permissions:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Permissions'
      xml:
        name: Standard
      type: object
    OAS.Integrations.RiskAlyze.Classes.DataModel:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        type:
          type: string
        market:
          type: number
          format: double
        interest:
          type: number
          format: double
        risk_number:
          type: integer
          format: int32
      xml:
        name: DataModel
      type: object
    OAS.Integrations.RiskAlyze.Classes.AssetClass:
      properties:
        bonds:
          type: number
          format: double
        stocks:
          type: number
          format: double
        cash:
          type: number
          format: double
        other:
          type: number
          format: double
        unavailable:
          type: number
          format: double
      xml:
        name: AssetClass
      type: object
    OAS.Integrations.RiskAlyze.Dto.RiskalyzeAllocationDto:
      properties:
        riskalyzeAllocationId:
          type: integer
          format: int32
        longName:
          type: string
        shortName:
          type: string
        type:
          type: string
        amount:
          type: number
          format: double
        allocationPercent:
          type: number
          format: double
        analysis:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.AnalysisDto'
      xml:
        name: RiskalyzeAllocationDto
      type: object
    OAS.Integrations.RiskAlyze.Dto.RiskalyzeAnalysisDto:
      properties:
        clientId:
          type: integer
          format: int32
        riskalyzeClientId:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        status:
          type: string
        created:
          type: string
          format: date-time
        riskNumber:
          type: number
          format: double
        currentPortfolio:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskalyzePortfolioDto'
        proposedPortfolio:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskalyzePortfolioDto'
        questionnaire:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.QuestionnaireDto'
      xml:
        name: RiskalyzeAnalysisDto
      type: object
    OAS.Integrations.RiskAlyze.Classes.Sma:
      properties:
        order:
          type: integer
          format: int32
        label:
          type: string
        description:
          type: string
        default_allocations:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.DefaultAllocations'
          xml:
            name: DefaultAllocations
            wrapped: true
          type: array
        permissions:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Permissions'
      xml:
        name: Sma
      type: object
    OAS.Integrations.RiskAlyze.Dto.RiskAlyzeAccountUpsertDto:
      properties:
        riskAlyzeId:
          type: string
        orionAccountId:
          type: integer
          format: int32
        modelAggId:
          type: integer
          format: int32
        riskBudget:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        repId:
          type: integer
          format: int32
        sessionAuthToken:
          type: string
        custodian:
          type: string
        allocations:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskAlyzeAccountUpsertDto.Allocation'
          xml:
            name: Allocation
            wrapped: true
          type: array
      xml:
        name: RiskAlyzeAccountUpsertDto
      type: object
    OAS.Integrations.RiskAlyze.Dto.QuestionnaireDto:
      properties:
        riskalyzeQuestionnaireId:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        birthYear:
          type: string
        retirementAge:
          type: string
        retirementYear:
          type: string
        timeStamp:
          type: string
          format: date-time
        riskNumber:
          type: number
          format: double
        riskScoreImage:
          type: string
          format: byte
        riskScoreImageUri:
          type: string
      xml:
        name: QuestionnaireDto
      type: object
    OAS.Integrations.RiskAlyze.Classes.DefaultAllocations:
      properties:
        sec_id:
          type: integer
          format: int32
        security:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Security'
      xml:
        name: DefaultAllocations
      type: object
    OAS.Integrations.RiskAlyze.Classes.Heatmap:
      properties:
        diversified_risk:
          type: number
          format: double
        risk:
          type: number
          format: double
        reward:
          type: number
          format: double
      xml:
        name: Heatmap
      type: object
    OAS.Integrations.RiskAlyze.Dto.RiskalyzeAccountDto:
      properties:
        riskalyzeAccountId:
          type: integer
          format: int32
        name:
          type: string
        status:
          type: string
        type:
          type: string
        total:
          type: number
          format: double
        allocationPercent:
          type: number
          format: double
        analysis:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.AnalysisDto'
        allocations:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskalyzeAllocationDto'
          xml:
            name: RiskalyzeAllocationDto
            wrapped: true
          type: array
      xml:
        name: RiskalyzeAccountDto
      type: object
    OAS.Integrations.RiskAlyze.Classes.Va:
      properties:
        order:
          type: integer
          format: int32
        label:
          type: string
        description:
          type: string
        default_allocations:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.DefaultAllocations'
          xml:
            name: DefaultAllocations
            wrapped: true
          type: array
        permissions:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Permissions'
      xml:
        name: Va
      type: object
    OAS.Integrations.RiskAlyze.Classes.Config:
      properties:
        account_types:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.AccountTypes'
        lists:
          type: object
        model_default_total:
          type: integer
          format: int32
      xml:
        name: Config
      type: object
    OAS.Integrations.RiskAlyze.Classes.RiskMetric:
      properties:
        type:
          type: string
        value:
          type: integer
          format: int32
      xml:
        name: RiskMetric
      type: object
    OAS.Integrations.RiskAlyze.Classes.Analysis:
      properties:
        return:
          type: number
          format: double
        ttm_dividend:
          type: number
          format: double
        annual_fee:
          type: number
          format: double
        advisory_fee:
          type: number
          format: double
        stdev:
          type: number
          format: double
        risk_number:
          type: number
          format: double
        risk_metric:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.RiskMetric'
        worst:
          type: number
          format: double
        best:
          type: number
          format: double
        stresstests:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.StressTest'
          xml:
            name: StressTest
            wrapped: true
          type: array
        categories:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Categories'
        heatmap:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Heatmap'
        alloclog_id:
          type: integer
          format: int32
        x_RiskScoreImage:
          type: string
          format: byte
        x_RiskScoreImageUri:
          type: string
      xml:
        name: Analysis
      type: object
    OAS.Integrations.RiskAlyze.Classes.Questionnaire:
      properties:
        id:
          type: integer
          format: int32
        user_id:
          type: string
        client_id:
          type: string
        advisor_id:
          type: string
        fname:
          type: string
        lname:
          type: string
        ai:
          type: string
        financial_status:
          type: string
        financial_goals:
          type: string
        archived:
          type: string
        sent:
          type: string
        sent_timestamp:
          type: string
          format: date-time
        timestamp:
          type: string
          format: date-time
        completed:
          type: string
        deleted:
          type: string
        rq4_simple:
          type: string
        birth_year:
          type: string
        retirement_age:
          type: string
        retirement_year:
          type: string
        risk_number:
          type: number
          format: double
        x_RiskScoreImage:
          type: string
          format: byte
        x_RiskScoreImageUri:
          type: string
      xml:
        name: Questionnaire
      type: object
    OAS.Integrations.RiskAlyze.Classes.PortfolioPermissions:
      properties:
        read:
          type: integer
          format: int32
        write:
          type: integer
          format: int32
        delete:
          type: integer
          format: int32
      xml:
        name: PortfolioPermissions
      type: object
    OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto:
      properties:
        key:
          type: integer
          format: int32
        productName:
          type: string
        termsAccepted:
          type: boolean
      xml:
        name: IntegrationSetupRequestDto
      type: object
    OAS.Integrations.RiskAlyze.IntegrationInfo:
      properties:
        client_secret:
          type: string
        client_id:
          type: string
        orionUid:
          type: string
        orionPwd:
          type: string
        redirect_uri:
          type: string
        repId:
          type: string
      xml:
        name: IntegrationInfo
      type: object
    OAS.Integrations.RiskAlyze.Classes.Security:
      properties:
        shortname:
          type: string
        longname:
          type: string
        type:
          type: string
      xml:
        name: Security
      type: object
    OAS.Integrations.RiskAlyze.Dto.TickerAllocationsDto:
      properties:
        ticker:
          type: string
        allocation:
          type: number
          format: double
      xml:
        name: TickerAllocationsDto
      type: object
    OAS.Integrations.RiskAlyze.Classes.Categories:
      properties:
        asset_class:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.AssetClass'
      xml:
        name: Categories
      type: object
    OAS.Integrations.RiskAlyze.Classes.AccountTypes:
      properties:
        standard:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Standard'
        sma:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Sma'
        uma:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Uma'
        va:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Va'
      xml:
        name: AccountTypes
      type: object
    OAS.Integrations.RiskAlyze.Classes.StressTest:
      properties:
        slug:
          type: string
        return:
          type: number
          format: double
        stdev:
          type: number
          format: double
        risk_number:
          type: integer
          format: int32
      xml:
        name: StressTest
      type: object
    OAS.Integrations.RiskAlyze.Dto.RiskalyzePortfolioDto:
      properties:
        riskalyzePortfolioId:
          type: integer
          format: int32
        name:
          type: string
        status:
          type: string
        type:
          type: string
        total:
          type: integer
          format: int32
        analysis:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.AnalysisDto'
        riskScoreImage:
          type: string
          format: byte
        accounts:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskalyzeAccountDto'
          xml:
            name: RiskalyzeAccountDto
            wrapped: true
          type: array
      xml:
        name: RiskalyzePortfolioDto
      type: object
    OAS.Integrations.RiskAlyze.Classes.Permissions:
      properties:
        change_type:
          type: integer
          format: int32
        allocation_details:
          type: integer
          format: int32
        settings:
          type: integer
          format: int32
        optimizer:
          type: integer
          format: int32
        add:
          type: integer
          format: int32
        remove:
          type: integer
          format: int32
        delete:
          type: integer
          format: int32
        entry_type:
          items:
            type: string
          type: array
      xml:
        name: Permissions
      type: object
    OAS.Integrations.RiskAlyze.Classes.Uma:
      properties:
        order:
          type: integer
          format: int32
        label:
          type: string
        description:
          type: string
        default_allocations:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.DefaultAllocations'
          xml:
            name: DefaultAllocations
            wrapped: true
          type: array
        permissions:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Permissions'
      xml:
        name: Uma
      type: object
    OAS.Integrations.RiskAlyze.Classes.Portfolio:
      properties:
        id:
          type: integer
          format: int32
        user_id:
          type: string
        client_id:
          type: integer
          format: int32
        name:
          type: string
        total:
          type: integer
          format: int32
        analysis:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Analysis'
        status:
          type: string
        type:
          type: string
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        analyzed:
          type: string
          format: date-time
        data_model:
          type: integer
          format: int32
        deleted:
          type: integer
          format: int32
        editable:
          type: integer
          format: int32
        data_models:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.DataModel'
          xml:
            name: DataModel
            wrapped: true
          type: array
        is_dirty:
          type: integer
          format: int32
        accounts:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Account'
          xml:
            name: Account
            wrapped: true
          type: array
        config:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Config'
        permissions:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.PortfolioPermissions'
        result:
          type: string
      xml:
        name: Portfolio
      type: object
    OAS.Integrations.RiskAlyze.Dto.RiskAlyzeAccountUpsertDto.Allocation:
      properties:
        id:
          type: integer
          format: int32
        security:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Dto.RiskAlyzeAccountUpsertDto.Security'
          xml:
            name: Security
            wrapped: true
          type: array
        amount:
          type: integer
          format: int32
      xml:
        name: Allocation
      type: object
    OAS.DataModel.Integration.RiskAlyze.RiskAlyzeUser:
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
          format: int32
        token_type:
          type: string
        scope:
          type: string
        refresh_token:
          type: string
        deadRefreshToken:
          type: boolean
        errorMessage:
          type: string
        tokenExpiresIn:
          readOnly: true
          type: string
          format: date-time
      xml:
        name: RiskAlyzeUser
      type: object
    OAS.Integrations.RiskAlyze.Classes.Client:
      properties:
        id:
          type: integer
          format: int32
        client_id:
          type: integer
          format: int32
        client_user_id:
          type: string
        advisor_user_id:
          type: string
        fname:
          type: string
        lname:
          type: string
        risk_number:
          type: number
          format: double
        photo_path:
          type: string
        phone:
          type: string
        status:
          type: string
        created:
          type: string
          format: date-time
        email:
          type: string
        integrations:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Integration'
          xml:
            name: Integration
            wrapped: true
          type: array
        extras:
          $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Extras'
        latest_current_portfolio:
          type: integer
          format: int32
        latest_proposed_portfolio:
          type: integer
          format: int32
        questionnaires:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Questionnaire'
          xml:
            name: Questionnaire
            wrapped: true
          type: array
        portfolios:
          items:
            $ref: '#/components/schemas/OAS.Integrations.RiskAlyze.Classes.Portfolio'
          xml:
            name: Portfolio
            wrapped: true
          type: array
        x_RiskScoreImage:
          type: string
          format: byte
        x_RiskScoreImageUri:
          type: string
      xml:
        name: Client
      type: object
    OAS.Integrations.RiskAlyze.Classes.Extras:
      properties:
        type:
          type: string
        database_id:
          type: integer
          format: int32
        contact_id:
          type: integer
          format: int32
      xml:
        name: Extras
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
