openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Advizr API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Advizr
paths:
  /v1/Integrations/Advizr/Action/SAML:
    get:
      tags:
      - Integrations/Advizr
      operationId: Advizr_StartSSOAsync
      parameters:
      - name: householdId
        in: query
        required: false
        schema:
          type: string
      - name: frameAncestor
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: useOrionPlanningHouseholdId
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: navigateToDecumulation
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: householdGlobalID
        in: query
        required: false
        schema:
          type: string
      - name: contactGlobalID
        in: query
        required: false
        schema:
          type: string
      - name: accountGlobalID
        in: query
        required: false
        schema:
          type: string
      - name: formCollectionID
        in: query
        required: false
        schema:
          type: string
      - name: clientWorkflowType
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: redtailUserKey
        in: query
        required: false
        schema:
          type: string
      - name: isStandaloneFirm
        in: query
        required: false
        schema:
          type: boolean
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Advizr start SSO async
      x-summary-source: derived
  /v1/Integrations/Advizr/Actions/Remove:
    post:
      tags:
      - Integrations/Advizr
      summary: Removes the Schwab integration for the current user
      description: The user must have the necessary privileges to remove the integration.
      operationId: Advizr_RemoveServiceAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Advizr/Actions/Setup:
    post:
      tags:
      - Integrations/Advizr
      operationId: Advizr_SetupServiceAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
        required: true
      summary: Advizr setup service async
      x-summary-source: derived
  /v1/Integrations/Advizr/ApexAccount:
    get:
      tags:
      - Integrations/Advizr
      operationId: Advizr_GetApexAccountAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Advizr get apex account async
      x-summary-source: derived
    post:
      tags:
      - Integrations/Advizr
      operationId: Advizr_PostApexAccountAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
        required: true
      summary: Advizr post apex account async
      x-summary-source: derived
  /v1/Integrations/Advizr/ApexAccounts:
    post:
      tags:
      - Integrations/Advizr
      operationId: Advizr_PostApexAccountsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
              xml:
                name: ApexAccountOpeningDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
              xml:
                name: ApexAccountOpeningDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
              xml:
                name: ApexAccountOpeningDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
              xml:
                name: ApexAccountOpeningDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
              xml:
                name: ApexAccountOpeningDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
              xml:
                name: ApexAccountOpeningDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
              xml:
                name: ApexAccountOpeningDto
                wrapped: true
              type: array
        required: true
      summary: Advizr post apex accounts async
      x-summary-source: derived
  /v1/Integrations/Advizr/FinancialPlan/{clientId}/3DRiskProfile:
    get:
      tags:
      - Integrations/Advizr
      operationId: Advizr_Get3DRiskProfileAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Advizr get3 DRisk profile async
      x-summary-source: derived
  /v1/Integrations/Advizr/FinancialPlan/{clientId}/ActionSteps:
    get:
      tags:
      - Integrations/Advizr
      operationId: Advizr_GetActionStepsAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Advizr get action steps async
      x-summary-source: derived
  /v1/Integrations/Advizr/FinancialPlan/{clientId}/BeFi20:
    get:
      tags:
      - Integrations/Advizr
      operationId: Advizr_GetBeFi20Async
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Advizr get be fi20 async
      x-summary-source: derived
  /v1/Integrations/Advizr/FinancialPlan/{clientId}/ProbabilityOfSuccess/{planType}:
    get:
      tags:
      - Integrations/Advizr
      summary: Returns the monte carlo result for the current or proposed financial plan
      operationId: Advizr_GetProbOfSuccessAsync
      parameters:
      - name: planType
        in: path
        description: Required.Current or proposed
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        description: Orion Client Id
        required: true
        schema:
          type: integer
          format: int32
      - name: planId
        in: query
        description: optional.Proposed Financial Plan Id
        required: false
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Advizr/FinancialPlan/{clientId}/ProtectLiveDream:
    get:
      tags:
      - Integrations/Advizr
      summary: Returns the protect, live, dream for a household
      operationId: Advizr_GetProtectLiveDreamAsync
      parameters:
      - name: clientId
        in: path
        description: Orion Household Id
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Advizr/FinancialPlan/{clientId}/RetirementAssets/{planType}:
    get:
      tags:
      - Integrations/Advizr
      summary: Returns the retirement assets chart data for the current or proposed financial…
      operationId: Advizr_GetRetirementAssetsAsync
      parameters:
      - name: clientId
        in: path
        description: Orion Household Id
        required: true
        schema:
          type: integer
          format: int32
      - name: planType
        in: path
        description: 'Financial Plan Type: ''current'' or ''proposed'''
        required: true
        schema:
          type: string
      - name: planId
        in: query
        description: optional. Proposed Financial Plan Id
        required: false
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Advizr/FinancialPlan/{clientId}/suggestions:
    get:
      tags:
      - Integrations/Advizr
      operationId: Advizr_GetSuggestionsAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Advizr get suggestions async
      x-summary-source: derived
  /v1/Integrations/Advizr/FinancialPlan/{clientId}/Summary/{planType}:
    get:
      tags:
      - Integrations/Advizr
      summary: Returns the plan summary goals for the current or proposed financial plan
      operationId: Advizr_GetSummaryAsync
      parameters:
      - name: clientId
        in: path
        description: Orion Household Id
        required: true
        schema:
          type: integer
          format: int32
      - name: planType
        in: path
        description: 'Financial Plan Type: ''current'' or ''proposed'''
        required: true
        schema:
          type: string
      - name: planId
        in: query
        description: optional. Proposed Financial Plan Id
        required: false
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Advizr/FinancialPlan/Decumulation:
    post:
      tags:
      - Integrations/Advizr
      summary: Returns the protect, live, dream for a household
      operationId: Advizr_CreateDecumulationAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.CreateDecumulationRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.CreateDecumulationRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.CreateDecumulationRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.CreateDecumulationRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.CreateDecumulationRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.CreateDecumulationRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.CreateDecumulationRequestDto'
        required: true
  /v1/Integrations/Advizr/GetConfig:
    get:
      tags:
      - Integrations/Advizr
      operationId: Advizr_GetConfigAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Advizr.OrionPlanningSAML'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Advizr.OrionPlanningSAML'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Advizr.OrionPlanningSAML'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Advizr.OrionPlanningSAML'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Advizr.OrionPlanningSAML'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Advizr.OrionPlanningSAML'
      security:
      - Authorization: []
      summary: Advizr get config async
      x-summary-source: derived
  /v1/Integrations/Advizr/NetWorth/{clientId}:
    get:
      tags:
      - Integrations/Advizr
      summary: List all net worth data for a client
      operationId: Advizr_GetNetWorthAsync
      parameters:
      - name: clientId
        in: path
        description: Required.Orion Client Id
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Advizr/Onboarding/AllFirms:
    get:
      tags:
      - Integrations/Advizr
      summary: Lists all on-boarded firms that meet the specified search criteria
      operationId: Advizr_GetAllFirmsAsync
      parameters:
      - name: startDate
        in: query
        description: Optional.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional.
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Advizr/Onboarding/Firm:
    get:
      tags:
      - Integrations/Advizr
      summary: Returns the on-boarded organization of the specified external firm id
      operationId: Advizr_GetFirmAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Advizr/Onboarding/Firm/Advisors:
    get:
      tags:
      - Integrations/Advizr
      summary: Lists all on-boarded advisors of the specified external firm id
      operationId: Advizr_GetFirmAdvisorsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Advizr/Onboarding/Firm/Households:
    get:
      tags:
      - Integrations/Advizr
      summary: Lists all on-boarded households of the specified external firm id
      operationId: Advizr_GetFirmHouseholdsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Advizr/Onboarding/Goals/{householdId}:
    get:
      tags:
      - Integrations/Advizr
      operationId: Advizr_GetGoalsAsync
      parameters:
      - name: householdId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Advizr get goals async
      x-summary-source: derived
  /v1/Integrations/Advizr/Onboarding/Households:
    get:
      tags:
      - Integrations/Advizr
      summary: Returns households for logged in user (id)
      operationId: Advizr_GetHouseholdsByRepIdAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Advizr/Onboarding/OrionPlanningNewHouseholdId:
    post:
      tags:
      - Integrations/Advizr
      operationId: Advizr_GetOrionPlanningHouseholdIdAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.OrionPlanningNewHousehold'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.OrionPlanningNewHousehold'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.OrionPlanningNewHousehold'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.OrionPlanningNewHousehold'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.OrionPlanningNewHousehold'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.OrionPlanningNewHousehold'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.OrionPlanningNewHousehold'
        required: true
      summary: Advizr get orion planning household id async
      x-summary-source: derived
  /v1/Integrations/Advizr/Onboarding/PlaidAccounts/{clientId}:
    get:
      tags:
      - Integrations/Advizr
      summary: Returns all Advizr Plaid Accounts
      operationId: Advizr_GetPlaidAccountsAsync
      parameters:
      - name: clientId
        in: path
        description: Orion Planning Household Id
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Advizr/Onboarding/RTQ/{advizrHouseholdId}/Ally/{alliedHouseholdId}:
    get:
      tags:
      - Integrations/Advizr
      summary: Returns all Advizr Risk Tolerance Questionaire
      operationId: Advizr_GetRiskQuestionnaireAsync
      parameters:
      - name: alliedHouseholdId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: advizrHouseholdId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Advizr/PersonalFinanceTemplates:
    get:
      tags:
      - Integrations/Advizr
      operationId: Advizr_GetPersonalFinanceTemplatesAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Advizr get personal finance templates async
      x-summary-source: derived
  /v1/Integrations/Advizr/ProbabilityOfSuccess:
    post:
      tags:
      - Integrations/Advizr
      operationId: Advizr_ProbabilityOfSuccessAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Advizr probability of success async
      x-summary-source: derived
  /v1/Integrations/Advizr/SendEmail:
    post:
      tags:
      - Integrations/Advizr
      summary: 'This is only invoked from the FE if TOS is unchecked REF: advizrWizard.js…'
      operationId: Advizr_SendEmailtoLegalAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
components:
  schemas:
    OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto:
      properties:
        OrionDatabaseId:
          type: integer
          format: int32
        OrionHouseholdId:
          type: integer
          format: int32
        ApexCorrespondentCode:
          type: string
        ApexBranch:
          type: string
        ApexRepCode:
          type: string
        ApexAccountRequestId:
          type: string
        ApexAccountType:
          type: string
        ApexCustomerType:
          type: string
        ApexIraType:
          type: string
        ApexAccountNumber:
          type: string
        ApexAccountStatus:
          type: string
        RetirementAccountBeneficiaries:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.RetirementAccountBeneficiary'
          xml:
            name: RetirementAccountBeneficiary
            wrapped: true
          type: array
        Household:
          $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexProspectClient'
      xml:
        name: ApexAccountOpeningDto
      type: object
    OAS.Integrations.Advizr.OrionPlanningSAML:
      properties:
        urL_BASE:
          type: string
        issuer:
          type: string
        cerT_PATH:
          type: string
        oP_ENCRYPT_CERT_PATH:
          type: string
        uri:
          type: string
      xml:
        name: OrionPlanningSAML
      type: object
    OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto:
      properties:
        key:
          type: integer
          format: int32
        productName:
          type: string
        termsAccepted:
          type: boolean
      xml:
        name: IntegrationSetupRequestDto
      type: object
    OAS.DataModel.Integration.Advizr.RedtailHousehold:
      properties:
        userId:
          type: integer
          format: int32
        databaseId:
          type: integer
          format: int32
        userKey:
          type: string
        headOfFamilyContactId:
          type: integer
          format: int32
      xml:
        name: RedtailHousehold
      type: object
    OAS.DataModel.Integration.Advizr.OrionPlanningAddress:
      properties:
        state:
          type: string
      xml:
        name: OrionPlanningAddress
      type: object
    OAS.DataProcess.Integrations.Apex.DTOs.ApexProspectClient:
      properties:
        RepId:
          type: integer
          format: int32
        ModelId:
          type: integer
          format: int32
        FirstName:
          type: string
        LastName:
          type: string
        Phone:
          type: string
        Address:
          type: string
        City:
          type: string
        Country:
          type: string
        State:
          type: string
        ZipCode:
          type: string
        DateOfBirth:
          type: string
        Email:
          type: string
        SSN:
          type: string
        JobTitle:
          type: string
      xml:
        name: ApexProspectClient
      type: object
    OAS.DataModel.Integration.Advizr.AssetAllocationDto:
      properties:
        assetClass:
          type: string
        currentValue:
          type: integer
          format: int32
      xml:
        name: AssetAllocationDto
      type: object
    OAS.DataModel.Integration.Advizr.OrionPlanningUser:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          type: string
      xml:
        name: OrionPlanningUser
      type: object
    OAS.DataModel.Integration.Advizr.OrionPlanningNewHousehold:
      properties:
        orionFirmId:
          type: string
        orionRepLoginUserId:
          type: string
        orionRepresentativeId:
          type: integer
          format: int32
        emailAddress:
          type: string
        orionConnectHousehold:
          type: string
        globalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        sendInvite:
          type: boolean
        primary:
          $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.OrionPlanningUser'
        spouse:
          $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.OrionPlanningUser'
        address:
          $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.OrionPlanningAddress'
        redtail:
          $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.RedtailHousehold'
      xml:
        name: OrionPlanningNewHousehold
      type: object
    OAS.DataModel.Integration.Advizr.CreateDecumulationRequestDto:
      properties:
        orionPlanningHouseholdId:
          type: integer
          format: int32
        name:
          type: string
        accountType:
          type: string
        currentValue:
          type: number
          format: double
        assets:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Integration.Advizr.AssetAllocationDto'
          xml:
            name: AssetAllocationDto
            wrapped: true
          type: array
      xml:
        name: CreateDecumulationRequestDto
      type: object
    OAS.DataProcess.Integrations.Apex.DTOs.RetirementAccountBeneficiary:
      properties:
        GivenName:
          type: string
        FamilyName:
          type: string
        DateOfBirth:
          type: string
          format: date-time
        BeneficiaryType:
          type: string
        Relationship:
          type: string
        SocialSecurityNumber:
          type: string
        SharePercent:
          type: integer
          format: int64
      xml:
        name: RetirementAccountBeneficiary
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
