openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Instream API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Instream
paths:
  /v1/Integrations/Instream/Clients/{key}/Plans:
    get:
      tags:
      - Integrations/Instream
      operationId: Instream_GetPlansAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
                xml:
                  name: InstreamPlanDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
                xml:
                  name: InstreamPlanDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
                xml:
                  name: InstreamPlanDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
                xml:
                  name: InstreamPlanDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
                xml:
                  name: InstreamPlanDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
                xml:
                  name: InstreamPlanDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Instream get plans async
      x-summary-source: derived
  /v1/Integrations/Instream/Clients/{key}/Plans/{planId}:
    get:
      tags:
      - Integrations/Instream
      operationId: Instream_GetPlanDetailAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: planId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
      security:
      - Authorization: []
      summary: Instream get plan detail async
      x-summary-source: derived
  /v1/Integrations/Instream/Clients/{key}/Plans/{planId}/MatrixSummary:
    get:
      tags:
      - Integrations/Instream
      operationId: Instream_GetMatrixSummaryAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: planId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanMatrixDto'
                xml:
                  name: InstreamPlanMatrixDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanMatrixDto'
                xml:
                  name: InstreamPlanMatrixDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanMatrixDto'
                xml:
                  name: InstreamPlanMatrixDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanMatrixDto'
                xml:
                  name: InstreamPlanMatrixDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanMatrixDto'
                xml:
                  name: InstreamPlanMatrixDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanMatrixDto'
                xml:
                  name: InstreamPlanMatrixDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Instream get matrix summary async
      x-summary-source: derived
  /v1/Integrations/Instream/Clients/{key}/Plans/Primary:
    get:
      tags:
      - Integrations/Instream
      operationId: Instream_GetPrimaryPlanAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
      security:
      - Authorization: []
      summary: Instream get primary plan async
      x-summary-source: derived
  /v1/Integrations/Instream/Clients/{key}/Plans/StaticContent:
    get:
      tags:
      - Integrations/Instream
      operationId: Instream_GetStaticContentAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamStaticContentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamStaticContentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamStaticContentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamStaticContentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamStaticContentDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamStaticContentDto'
      security:
      - Authorization: []
      summary: Instream get static content async
      x-summary-source: derived
  /v1/Integrations/Instream/Clients/{key}/Plans/Summary:
    get:
      tags:
      - Integrations/Instream
      operationId: Instream_GetPlanSummaryAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: planId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamClientReportOverviewDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamClientReportOverviewDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamClientReportOverviewDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamClientReportOverviewDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamClientReportOverviewDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamClientReportOverviewDto'
      security:
      - Authorization: []
      summary: Instream get plan summary async
      x-summary-source: derived
  /v1/Integrations/Instream/Clients/{key}/Profile:
    get:
      tags:
      - Integrations/Instream
      operationId: Instream_GetProfileAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamProfileDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamProfileDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamProfileDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamProfileDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamProfileDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamProfileDto'
      security:
      - Authorization: []
      summary: Instream get profile async
      x-summary-source: derived
  /v1/Integrations/Instream/Clients/{key}/Token:
    get:
      tags:
      - Integrations/Instream
      operationId: Instream_GetClientTokenAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: resetcache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.InstreamAuthenticationTokenDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.InstreamAuthenticationTokenDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.InstreamAuthenticationTokenDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.InstreamAuthenticationTokenDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.InstreamAuthenticationTokenDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Instream.InstreamAuthenticationTokenDto'
      security:
      - Authorization: []
      summary: Instream get client token async
      x-summary-source: derived
components:
  schemas:
    OAS.Integrations.Instream.Dto.InstreamGoalCategoriesDto:
      properties:
        educationGoals:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamGoalDto'
          xml:
            name: InstreamGoalDto
            wrapped: true
          type: array
        legacyGoals:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamGoalDto'
          xml:
            name: InstreamGoalDto
            wrapped: true
          type: array
        lifestyleGoals:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamGoalDto'
          xml:
            name: InstreamGoalDto
            wrapped: true
          type: array
        retirementGoals:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamGoalDto'
          xml:
            name: InstreamGoalDto
            wrapped: true
          type: array
      xml:
        name: InstreamGoalCategoriesDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamPlanMatrixDto:
      properties:
        matrixId:
          type: integer
          format: int32
        planId:
          type: integer
          format: int32
        name:
          type: string
        rowVariable:
          type: string
        columnVariable:
          type: string
        planMatrixCell:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanMatrixCellDto'
          xml:
            name: InstreamPlanMatrixCellDto
            wrapped: true
          type: array
        calculationRequired:
          type: boolean
      xml:
        name: InstreamPlanMatrixDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamIncomeDetailsDto:
      properties:
        payrollView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanIncomeDto'
          xml:
            name: InstreamPlanIncomeDto
            wrapped: true
          type: array
        socialsecurityView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanIncomeDto'
          xml:
            name: InstreamPlanIncomeDto
            wrapped: true
          type: array
        pensionView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanIncomeDto'
          xml:
            name: InstreamPlanIncomeDto
            wrapped: true
          type: array
        businessView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanIncomeDto'
          xml:
            name: InstreamPlanIncomeDto
            wrapped: true
          type: array
        otherView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanIncomeDto'
          xml:
            name: InstreamPlanIncomeDto
            wrapped: true
          type: array
        totalsListView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTotalsListViewDto'
          xml:
            name: InstreamTotalsListViewDto
            wrapped: true
          type: array
      xml:
        name: InstreamIncomeDetailsDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamPbaPlanObjectiveDto:
      properties:
        pbaPlanObjectiveId:
          type: integer
          format: int32
        annualAmountNeeded:
          type: number
          format: double
        startYear:
          type: integer
          format: int64
        endYear:
          type: integer
          format: int64
        growthRate:
          type: number
          format: double
        objectiveType:
          type: string
        objectiveName:
          type: string
        yob:
          type: integer
          format: int32
      xml:
        name: InstreamPbaPlanObjectiveDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamNetworthDetailDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        amount:
          type: number
          format: double
        appliesToType:
          type: integer
          format: int32
        appliesTo:
          type: integer
          format: int32
      xml:
        name: InstreamNetworthDetailDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamIncomeTaxClassification:
      properties:
        id:
          type: integer
          format: int32
        incomeId:
          type: integer
          format: int32
        incomeCategory:
          type: string
        percentageAllocated:
          type: number
          format: double
        amount:
          type: number
          format: double
      xml:
        name: InstreamIncomeTaxClassification
      type: object
    OAS.Integrations.Instream.Dto.EquityTable:
      properties:
        equity:
          type: string
        source:
          type: string
        notes:
          type: string
      xml:
        name: EquityTable
      type: object
    OAS.Integrations.Instream.Dto.InstreamAdvisorDto:
      properties:
        advisorId:
          type: integer
          format: int32
        dob:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        personId:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
      xml:
        name: InstreamAdvisorDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamPlanTrackingDto:
      properties:
        planTrackingId:
          type: integer
          format: int32
        enabled:
          type: boolean
        thresholdLow:
          type: number
          format: double
        thresholdHigh:
          type: number
          format: double
        alertEvent:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamAlertEventDto'
      xml:
        name: InstreamPlanTrackingDto
      type: object
    OAS.Integrations.Instream.Dto.AlternativesTable:
      properties:
        alternatives:
          type: string
        source:
          type: string
        notes:
          type: string
      xml:
        name: AlternativesTable
      type: object
    OAS.Integrations.Instream.Dto.InstreamEmailAddressDto:
      properties:
        emailAddressId:
          type: integer
          format: int32
        emailAddress:
          type: string
        emailAddressType:
          type: string
        note:
          type: string
        preferred:
          type: boolean
        objectScope:
          type: string
      xml:
        name: InstreamEmailAddressDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamTotalsListViewDto:
      properties:
        categoryName:
          type: string
        todayDollars:
          type: number
          format: double
        futureDollars:
          type: number
          format: double
        todayDollarsPostDist:
          type: number
          format: double
        futureDollarsPostDist:
          type: number
          format: double
      xml:
        name: InstreamTotalsListViewDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamObjectivesDetailsDto:
      properties:
        retView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPbaPlanObjectiveDto'
          xml:
            name: InstreamPbaPlanObjectiveDto
            wrapped: true
          type: array
        eduView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPbaPlanObjectiveDto'
          xml:
            name: InstreamPbaPlanObjectiveDto
            wrapped: true
          type: array
        legView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPbaPlanObjectiveDto'
          xml:
            name: InstreamPbaPlanObjectiveDto
            wrapped: true
          type: array
        lifestyleView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPbaPlanObjectiveDto'
          xml:
            name: InstreamPbaPlanObjectiveDto
            wrapped: true
          type: array
        insuranceView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPbaPlanObjectiveDto'
          xml:
            name: InstreamPbaPlanObjectiveDto
            wrapped: true
          type: array
        totalsListView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTotalsListViewDto'
          xml:
            name: InstreamTotalsListViewDto
            wrapped: true
          type: array
      xml:
        name: InstreamObjectivesDetailsDto
      type: object
    OAS.Integrations.Instream.Dto.FixedIncomeTable:
      properties:
        fixed income:
          type: string
        source:
          type: string
        notes:
          type: string
      xml:
        name: FixedIncomeTable
      type: object
    OAS.Integrations.Instream.Dto.InstreamTaxListView:
      properties:
        savingsName:
          type: string
        savingsType:
          type: string
        inflationRate:
          type: number
          format: double
        startYear:
          type: integer
          format: int32
        endYear:
          type: integer
          format: int32
        annualAmount:
          type: number
          format: double
        planSavingsId:
          type: integer
          format: int32
        yob:
          type: integer
          format: int32
      xml:
        name: InstreamTaxListView
      type: object
    OAS.Integrations.Instream.Dto.InstreamSummaryObjectViewDto:
      properties:
        taxFreeAccount:
          type: number
          format: double
        taxdeferredAccount:
          type: number
          format: double
        taxableAccount:
          type: number
          format: double
        taxFreeCostBasis:
          type: number
          format: double
        taxdeferredCostBasis:
          type: number
          format: double
        taxableCostBasis:
          type: number
          format: double
        sumAccount:
          type: number
          format: double
        sumCostBasis:
          type: number
          format: double
      xml:
        name: InstreamSummaryObjectViewDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamPlanSharingDto:
      properties:
        planSharingId:
          type: integer
          format: int32
        orionEnabled:
          type: boolean
        clientPortalEnabled:
          type: boolean
        sharedOnDate:
          type: integer
          format: int64
      xml:
        name: InstreamPlanSharingDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamPortfolioDetailsDto:
      properties:
        taxFreeView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTaxViewDto'
          xml:
            name: InstreamTaxViewDto
            wrapped: true
          type: array
        taxDeferredView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTaxViewDto'
          xml:
            name: InstreamTaxViewDto
            wrapped: true
          type: array
        taxableView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTaxViewDto'
          xml:
            name: InstreamTaxViewDto
            wrapped: true
          type: array
        pbaAccountTaxCategoryView:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamSummaryObjectViewDto'
      xml:
        name: InstreamPortfolioDetailsDto
      type: object
    OAS.Integrations.Instream.Dto.TaxTable:
      properties:
        type:
          type: string
        rate:
          type: string
      xml:
        name: TaxTable
      type: object
    OAS.Integrations.Instream.Dto.InstreamIncomeDto:
      properties:
        annualAmount:
          type: number
          format: double
        appliesTo:
          type: integer
          format: int32
        appliesToType:
          type: string
        clientId:
          type: integer
          format: int32
        description:
          type: string
        endYear:
          type: integer
          format: int32
        includedInTaxCalc:
          type: boolean
        incomeId:
          type: integer
          format: int32
        incomeName:
          type: string
        incomeTaxClassificationList:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamIncomeTaxClassification'
          xml:
            name: InstreamIncomeTaxClassification
            wrapped: true
          type: array
        incomeType:
          type: string
          enum:
          - PAYROLL
          - SOCIAL_SECURITY
          - PENSION
          - BUSINESS
          - OTHER
        incomeTypeOtherValue:
          type: string
        inflationRate:
          type: number
          format: double
        isIncludedInTaxCalc:
          type: boolean
        needChange:
          type: boolean
        notes:
          items:
            type: string
          type: array
        objectScope:
          type: string
        passive:
          type: boolean
        relativeEndDateNum:
          type: integer
          format: int32
        relativeEndDateType:
          type: integer
          format: int32
        relativeStartDateNum:
          type: integer
          format: int32
        relativeStartDateType:
          type: integer
          format: int32
        startYear:
          type: integer
          format: int32
        usedInPlans:
          items:
            type: string
          type: array
      xml:
        name: InstreamIncomeDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamAddressDto:
      properties:
        addressId:
          type: integer
          format: int32
        addressLine:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        postalCode:
          type: string
        notes:
          type: string
        objectScope:
          type: string
      xml:
        name: InstreamAddressDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamSavingsDetailsDto:
      properties:
        taxFreeListView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTaxListView'
          xml:
            name: InstreamTaxListView
            wrapped: true
          type: array
        taxableListView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTaxListView'
          xml:
            name: InstreamTaxListView
            wrapped: true
          type: array
        taxDeferredListView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTaxListView'
          xml:
            name: InstreamTaxListView
            wrapped: true
          type: array
        totalsListView:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTotalsListViewDto'
          xml:
            name: InstreamTotalsListViewDto
            wrapped: true
          type: array
      xml:
        name: InstreamSavingsDetailsDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamMedianDistributionDto:
      properties:
        year:
          type: integer
          format: int32
        value:
          type: number
          format: double
      xml:
        name: InstreamMedianDistributionDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamCommunityContactDto:
      properties:
        addresses:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamAddressDto'
          xml:
            name: InstreamAddressDto
            wrapped: true
          type: array
        appliesTo:
          type: integer
          format: int32
        appliesToType:
          type: string
        clientId:
          type: integer
          format: int32
        emailAddresses:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamEmailAddressDto'
          xml:
            name: InstreamEmailAddressDto
            wrapped: true
          type: array
        firstName:
          type: string
        lastName:
          type: string
        contactId:
          type: integer
          format: int32
        contactType:
          type: string
        contactTypeOtherValue:
          type: string
        dob:
          type: string
        gender:
          type: string
        peopleId:
          type: integer
          format: int32
        phoneNumbers:
          type: string
        relationshipId:
          type: integer
          format: int32
        relationshipType:
          type: string
      xml:
        name: InstreamCommunityContactDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamPrintoutViewDto:
      properties:
        estateObj:
          type: number
          format: double
        optValue:
          type: number
          format: double
        pessValue:
          type: number
          format: double
        medianValue:
          type: number
          format: double
        futureOptValue:
          type: number
          format: double
        futurePessValue:
          type: number
          format: double
        futureMedianValue:
          type: number
          format: double
      xml:
        name: InstreamPrintoutViewDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamAccountDto:
      properties:
        accountContributions:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamAccountContribution'
          xml:
            name: InstreamAccountContribution
            wrapped: true
          type: array
        accountCustodian:
          type: string
        accountCustodianOtherValue:
          type: string
        accountId:
          type: integer
          format: int32
        accountName:
          type: string
        accountType:
          type: string
        accountTypeOtherValue:
          type: string
        appliesTo:
          type: integer
          format: int32
        appliesToType:
          type: string
        clientId:
          type: integer
          format: int32
        costBasis:
          type: number
          format: double
        currentValue:
          type: number
          format: double
        currentValueLastUpdated:
          type: string
        custodianAccountNum:
          type: string
        custodianURL:
          type: string
        managedStatus:
          type: string
          enum:
          - MANAGED
          - FULL_CUSTODY
          - NOT_MANAGED
        managedBy:
          type: string
        managedUserName:
          type: string
        managedPassword:
          type: string
        notes:
          items:
            type: string
          type: array
        taxType:
          type: string
          enum:
          - TAXABLE
          - TAX_DEFERRED
          - TAX_EXEMPT
        usedInPlans:
          items:
            type: string
          type: array
        objectScope:
          type: string
      xml:
        name: InstreamAccountDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamPlanRules:
      properties:
        planRulesId:
          type: integer
          format: int32
        planId:
          type: integer
          format: int32
        title:
          type: string
        inflationAdjustmentOn:
          type: boolean
        distributionInflationCapOn:
          type: boolean
        floorOn:
          type: boolean
        ceilingOn:
          type: boolean
        maxDistributionOn:
          type: boolean
        minDistributionOn:
          type: boolean
        portfolioReturnDistributionFreezeOn:
          type: boolean
        maxInflationAdjustmentPercent:
          type: number
          format: double
        floorAmount:
          type: number
          format: double
        ceilingAmount:
          type: number
          format: double
        maxPercentOfPortfolio:
          type: number
          format: double
        maxPercentOfPortfolioAdjustment:
          type: number
          format: double
        minPercentOfPortfolio:
          type: number
          format: double
        minPercentOfPortfolioAdjustment:
          type: number
          format: double
        minPortfolioReturnPercent:
          type: number
          format: double
        maxContributionAmount:
          type: number
          format: double
        startDate:
          type: integer
          format: int64
        endDate:
          type: integer
          format: int64
      xml:
        name: InstreamPlanRules
      type: object
    OAS.Integrations.Instream.Dto.InstreamProfileDto:
      properties:
        advisorDetails:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamAdvisorDto'
        clientAdvisorsList:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPersonDto'
          xml:
            name: InstreamPersonDto
            wrapped: true
          type: array
        clientDetails:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamClientDto'
        communityContacts:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPersonDto'
          xml:
            name: InstreamPersonDto
            wrapped: true
          type: array
      xml:
        name: InstreamProfileDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamNetworthDetailsDto:
      properties:
        netWorthAccounts:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamNetworthDetailDto'
          xml:
            name: InstreamNetworthDetailDto
            wrapped: true
          type: array
        netWorthProperties:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamNetworthDetailDto'
          xml:
            name: InstreamNetworthDetailDto
            wrapped: true
          type: array
        netWorthInsurance:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamNetworthDetailDto'
          xml:
            name: InstreamNetworthDetailDto
            wrapped: true
          type: array
        netWorthLiabilityLoan:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamNetworthDetailDto'
          xml:
            name: InstreamNetworthDetailDto
            wrapped: true
          type: array
        netWorthSummaryLiabilityExpense:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamNetworthDetailDto'
          xml:
            name: InstreamNetworthDetailDto
            wrapped: true
          type: array
        totalAssets:
          type: number
          format: double
        totalLiabilities:
          type: number
          format: double
        totalNetWorth:
          type: number
          format: double
      xml:
        name: InstreamNetworthDetailsDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamMagnitudeOfFailureYearDto:
      properties:
        successProb:
          type: number
          format: double
        optValue:
          type: integer
          format: int32
        pessValue:
          type: integer
          format: int32
        medianValue:
          type: integer
          format: int32
        optAge:
          type: integer
          format: int32
        pessAge:
          type: integer
          format: int32
        medianAge:
          type: integer
          format: int32
        totalFailure:
          type: number
          format: double
        probabilityCalculated:
          type: boolean
      xml:
        name: InstreamMagnitudeOfFailureYearDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamPlanMatrixCellDto:
      properties:
        matrixCellId:
          type: integer
          format: int32
        matrixId:
          type: integer
          format: int32
        cellLocation:
          type: string
        probability:
          type: string
        percentileValue:
          type: number
          format: double
        percentileValueFuture:
          type: number
          format: double
        planMatrixCellInfo:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanMatrixCellInfoDto'
          xml:
            name: InstreamPlanMatrixCellInfoDto
            wrapped: true
          type: array
      xml:
        name: InstreamPlanMatrixCellDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamTaxPeriodDto:
      properties:
        taxPeriodId:
          type: integer
          format: int32
        planId:
          type: integer
          format: int32
        title:
          type: string
        taxPeriodType:
          type: string
        taxRate:
          type: number
          format: double
        startYear:
          type: integer
          format: int64
        endYear:
          type: integer
          format: int64
        relativeStartDateType:
          type: string
        relativeEndDateType:
          type: string
        relativeStartDateNum:
          type: integer
          format: int32
        relativeEndDateNum:
          type: integer
          format: int32
      xml:
        name: InstreamTaxPeriodDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamTaxCategoriesDto:
      properties:
        incomeTaxPeriods:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTaxPeriodDto'
          xml:
            name: InstreamTaxPeriodDto
            wrapped: true
          type: array
        capitalGainsTaxPeriods:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTaxPeriodDto'
          xml:
            name: InstreamTaxPeriodDto
            wrapped: true
          type: array
        stateTaxPeriods:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTaxPeriodDto'
          xml:
            name: InstreamTaxPeriodDto
            wrapped: true
          type: array
      xml:
        name: InstreamTaxCategoriesDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamAssumptionsDto:
      properties:
        inflationPeriods:
          type: integer
          format: int32
        clientDOB:
          type: string
        coClientDOB:
          type: string
        clientRetirementAge:
          type: integer
          format: int32
        clientLifeExpectancy:
          type: integer
          format: int32
        coClientlifeExpectancy:
          type: integer
          format: int32
        firstYearOfSimulation:
          type: integer
          format: int32
        targetTerminalNetWorth:
          type: integer
          format: int32
        inflationRate:
          type: number
          format: double
        discountRate:
          type: number
          format: double
        percentileLow:
          type: number
          format: double
        percentileMedian:
          type: number
          format: double
        percentileHigh:
          type: number
          format: double
        cashflowPercentile:
          type: number
          format: double
      xml:
        name: InstreamAssumptionsDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamNotificationDto:
      properties:
        id:
          type: integer
          format: int32
        description:
          type: string
        date:
          type: integer
          format: int64
        author:
          type: string
        type:
          type: string
      xml:
        name: InstreamNotificationDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamStatisticsDto:
      properties:
        planType:
          type: string
        portfolioDetails:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPortfolioDetailsDto'
        objectivesDetails:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamObjectivesDetailsDto'
        distributionView:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamDistributionViewDto'
        incomeDetailsList:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamIncomeDetailsDto'
        savingsDetailsList:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamSavingsDetailsDto'
        printoutView:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPrintoutViewDto'
        magnitudeOfFailureYear:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamMagnitudeOfFailureYearDto'
        magnitudeOfFailureEPV:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamMagnitudeOfFailureEPVDto'
        assumptions:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamAssumptionsDto'
        cashFlowList:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamCashFlowDto'
          xml:
            name: InstreamCashFlowDto
            wrapped: true
          type: array
        networthDetails:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamNetworthDetailsDto'
        wealthOverTime:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamWealthOverTimeDto'
          xml:
            name: InstreamWealthOverTimeDto
            wrapped: true
          type: array
        taxGlidePathMedian:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTaxGlidePathMedianDto'
          xml:
            name: InstreamTaxGlidePathMedianDto
            wrapped: true
          type: array
      xml:
        name: InstreamStatisticsDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamMagnitudeOfFailureEPVDto:
      properties:
        successProb:
          type: number
          format: double
        optValue:
          type: number
          format: double
        pessValue:
          type: number
          format: double
        medianValue:
          type: number
          format: double
        optValueFuture:
          type: number
          format: double
        pessValueFuture:
          type: number
          format: double
        medianValueFuture:
          type: number
          format: double
        totalFailure:
          type: number
          format: double
        probabilityCalculated:
          type: boolean
      xml:
        name: InstreamMagnitudeOfFailureEPVDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamPercentileAndEpvDto:
      properties:
        percentileValue:
          type: number
          format: double
        futureEPVForPercentile:
          type: number
          format: double
        epvforPercentile:
          type: number
          format: double
      xml:
        name: InstreamPercentileAndEpvDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamStaticContentDto:
      properties:
        capitalMarketAssumptions:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.CapitalMarketAssumptions'
      xml:
        name: InstreamStaticContentDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamClientDto:
      properties:
        addresses:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamAddressDto'
          xml:
            name: InstreamAddressDto
            wrapped: true
          type: array
        clientId:
          type: integer
          format: int32
        dob:
          type: string
        dod:
          type: string
        dor:
          type: string
        emailAddresses:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamEmailAddressDto'
          xml:
            name: InstreamEmailAddressDto
            wrapped: true
          type: array
        firstName:
          type: string
        lastName:
          type: string
        familyMembers:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPersonDto'
          xml:
            name: InstreamPersonDto
            wrapped: true
          type: array
        householdId:
          type: integer
          format: int32
        phoneNumbers:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPhoneNumberDto'
          xml:
            name: InstreamPhoneNumberDto
            wrapped: true
          type: array
        communityContacts:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamCommunityContactDto'
          xml:
            name: InstreamCommunityContactDto
            wrapped: true
          type: array
      xml:
        name: InstreamClientDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamAlertEventDto:
      properties:
        alertEventId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        alertEventName:
          type: string
        alertEventMessage:
          type: string
        alertEventType:
          type: string
        alertEventStartDate:
          type: integer
          format: int64
        alertEventFrequency:
          type: string
        alertEventPriority:
          type: string
        alertEventStatus:
          type: string
        alertEventReminderTimeQty:
          type: integer
          format: int32
        alertEventReminderTimeUnit:
          type: integer
          format: int32
      xml:
        name: InstreamAlertEventDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamAssetDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        classification:
          type: string
        location:
          type: string
        sortOrder:
          type: integer
          format: int32
        returnRate:
          type: number
          format: double
        standardDeviation:
          type: number
          format: double
        dividendRate:
          type: number
          format: double
        ordinaryDividendRate:
          type: number
          format: double
        historicalAnnualizedReturn:
          type: number
          format: double
        allocatedWeight:
          type: number
          format: double
      xml:
        name: InstreamAssetDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamWealthOverTimeDto:
      properties:
        percentileAndEpvList:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPercentileAndEpvDto'
          xml:
            name: InstreamPercentileAndEpvDto
            wrapped: true
          type: array
        year:
          type: integer
          format: int32
      xml:
        name: InstreamWealthOverTimeDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamInflationPeriodDto:
      properties:
        inflationPeriodId:
          type: integer
          format: int32
        planId:
          type: integer
          format: int32
        title:
          type: string
        inflationRate:
          type: number
          format: double
        standardDeviation:
          type: number
          format: double
        startYear:
          type: integer
          format: int64
        endYear:
          type: integer
          format: int64
      xml:
        name: InstreamInflationPeriodDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamPlanDto:
      properties:
        glidePathId:
          type: integer
          format: int32
        isTaxGlidePathIncluded:
          type: boolean
        simulationCount:
          type: integer
          format: int32
        expectedProbability:
          type: number
          format: double
        safeSavingsRate:
          type: number
          format: double
        goalLists:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamGoalCategoriesDto'
        distribution:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamDistributionDto'
        incomeList:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamIncomeDto'
          xml:
            name: InstreamIncomeDto
            wrapped: true
          type: array
        accountList:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamAccountDto'
          xml:
            name: InstreamAccountDto
            wrapped: true
          type: array
        allocationPeriods:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamAllocationDto'
          xml:
            name: InstreamAllocationDto
            wrapped: true
          type: array
        taxPeriodLists:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamTaxCategoriesDto'
        inflationPeriods:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamInflationPeriodDto'
          xml:
            name: InstreamInflationPeriodDto
            wrapped: true
          type: array
        notifications:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamNotificationDto'
          xml:
            name: InstreamNotificationDto
            wrapped: true
          type: array
        planMatrices:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanMatrixDto'
          xml:
            name: InstreamPlanMatrixDto
            wrapped: true
          type: array
        planRules:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanRules'
        planTracking:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanTrackingDto'
        planSharing:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanSharingDto'
        calculationRequired:
          type: boolean
        lastCalculatedDate:
          type: integer
          format: int64
        lastUpdateDate:
          type: integer
          format: int64
        statistics:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamStatisticsDto'
        probabilityCalculated:
          type: boolean
        planId:
          type: integer
          format: int32
        planName:
          type: string
        isPrimary:
          type: boolean
      xml:
        name: InstreamPlanDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamAccountContribution:
      properties:
        accountId:
          type: integer
          format: int32
        accountName:
          type: string
        contributionId:
          type: integer
          format: int32
        description:
          type: string
        annualAmount:
          type: number
          format: double
        startYear:
          type: integer
          format: int32
        endYear:
          type: integer
          format: int32
        inflationRate:
          type: number
          format: double
        relativeStartDateType:
          type: integer
          format: int32
        relativeEndDateType:
          type: integer
          format: int32
        relativeStartDateNum:
          type: integer
          format: int32
        relativeEndDateNum:
          type: integer
          format: int32
        needChange:
          type: boolean
      xml:
        name: InstreamAccountContribution
      type: object
    OAS.Integrations.Instream.Dto.InstreamPlanMatrixCellInfoDto:
      properties:
        matrixCellId:
          type: integer
          format: int32
        typeName:
          type: string
        typeId:
          type: integer
          format: int32
        typeValue:
          type: integer
          format: int32
        equityLevel:
          type: number
          format: double
      xml:
        name: InstreamPlanMatrixCellInfoDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamClientReportOverviewDto:
      properties:
        profile:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamProfileDto'
        plans:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPlanDto'
          xml:
            name: InstreamPlanDto
            wrapped: true
          type: array
        staticContent:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamStaticContentDto'
      xml:
        name: InstreamClientReportOverviewDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamPlanIncomeDto:
      properties:
        incomeName:
          type: string
        planIncomeId:
          type: integer
          format: int32
        inflationRate:
          type: number
          format: double
        startYear:
          type: integer
          format: int32
        endYear:
          type: integer
          format: int32
        appliesTo:
          type: integer
          format: int32
        appliesToType:
          type: integer
          format: int32
        incomeType:
          type: string
        annualAmount:
          type: number
          format: double
        yob:
          type: integer
          format: int32
      xml:
        name: InstreamPlanIncomeDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamAllocationModelDto:
      properties:
        allocationModelId:
          type: integer
          format: int32
        allocationModelName:
          type: string
        objectScope:
          type: string
        assets:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamAssetDto'
          xml:
            name: InstreamAssetDto
            wrapped: true
          type: array
        returnRate:
          type: number
          format: double
        risk:
          type: number
          format: double
        annualizedReturn:
          type: number
          format: double
        historicalAnnualizedReturn:
          type: number
          format: double
        expenseRatio:
          type: number
          format: double
        customValues:
          type: boolean
        customReturnRate:
          type: number
          format: double
        customRisk:
          type: number
          format: double
        customAnnualizedReturn:
          type: number
          format: double
        taxDrag:
          type: number
          format: double
        createdDate:
          type: integer
          format: int64
        lastUpdateDate:
          type: integer
          format: int64
        createdBy:
          type: string
        lastUpdatedBy:
          type: string
      xml:
        name: InstreamAllocationModelDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamPersonDto:
      properties:
        peopleId:
          type: integer
          format: int32
        relationshipId:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        dob:
          type: string
        gender:
          type: string
        appliesTo:
          type: integer
          format: int32
        appliesToType:
          type: string
        relationshipType:
          type: string
        addresses:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamAddressDto'
          xml:
            name: InstreamAddressDto
            wrapped: true
          type: array
        phoneNumbers:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamPhoneNumberDto'
          xml:
            name: InstreamPhoneNumberDto
            wrapped: true
          type: array
      xml:
        name: InstreamPersonDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamTaxViewDto:
      properties:
        accountType:
          type: string
        accountName:
          type: string
        planAccountId:
          type: integer
          format: int32
        currentValue:
          type: number
          format: double
        accountNumber:
          type: string
        costBasis:
          type: number
          format: double
        percentIncl:
          type: number
          format: double
      xml:
        name: InstreamTaxViewDto
      type: object
    OAS.Integrations.Instream.Dto.CapitalMarketAssumptions:
      properties:
        header:
          type: string
        body:
          type: string
        equityTable:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.EquityTable'
          xml:
            name: EquityTable
            wrapped: true
          type: array
        alternativesTable:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.AlternativesTable'
          xml:
            name: AlternativesTable
            wrapped: true
          type: array
        fixedIncomeTable:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.FixedIncomeTable'
          xml:
            name: FixedIncomeTable
            wrapped: true
          type: array
        notes:
          type: string
        taxTable:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.TaxTable'
          xml:
            name: TaxTable
            wrapped: true
          type: array
        disclosure:
          type: string
      xml:
        name: CapitalMarketAssumptions
      type: object
    OAS.Integrations.Instream.Dto.InstreamTaxGlidePathMedianDto:
      properties:
        year:
          type: integer
          format: int32
        clientAge:
          type: integer
          format: int32
        coClientAge:
          type: integer
          format: int32
        adgustedGrossIncome:
          type: number
          format: double
        topMarginalRate:
          type: number
          format: double
        effectiveRate:
          type: number
          format: double
      xml:
        name: InstreamTaxGlidePathMedianDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamCashFlowDto:
      properties:
        year:
          type: integer
          format: int32
        beginningPortfolioValue:
          type: number
          format: double
        totalContributions:
          type: number
          format: double
        totalTaxFreeContributions:
          type: number
          format: double
        totalTaxDeferedContributions:
          type: number
          format: double
        totalTaxableContributions:
          type: number
          format: double
        grossTaxableDistributions:
          type: number
          format: double
        grossQualifiedDistributions:
          type: number
          format: double
        taxFreeDistributions:
          type: number
          format: double
        capitalGainsTaxes:
          type: number
          format: double
        incomeTaxes:
          type: number
          format: double
        returnAfterDrag:
          type: number
          format: double
        grossTaxDeferredDistributions:
          type: number
          format: double
        taxExemptDistributions:
          type: number
          format: double
        totalDistributions:
          type: number
          format: double
        totalCapitalGainsTaxes:
          type: number
          format: double
        totalIncometaxes:
          type: number
          format: double
        expectedNetReturn:
          type: number
          format: double
        netChange:
          type: number
          format: double
        endingPortfolioValue:
          type: number
          format: double
        percentileValueForEndingValue:
          type: number
          format: double
        totalNetGoals:
          type: number
          format: double
        totalNetIncome:
          type: number
          format: double
        totalNeed:
          type: number
          format: double
        inflationRate:
          type: number
          format: double
        endingTotalValue:
          type: number
          format: double
        percentileForEndingValue:
          type: number
          format: double
        taxableGrossPension:
          type: number
          format: double
        effectiveTaxRate:
          type: number
          format: double
        totalTaxableWithdrawals:
          type: number
          format: double
        totalTaxDeferredWithdrawals:
          type: number
          format: double
        totalTaxFreeWithdrawals:
          type: number
          format: double
      xml:
        name: InstreamCashFlowDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamGoalDto:
      properties:
        goalId:
          type: integer
          format: int32
        goalType:
          type: string
          enum:
          - RETIREMENT
          - EDUCATION
          - LIFESTYLE
          - LEGACY
        clientId:
          type: integer
          format: int32
        objectScope:
          type: string
        title:
          type: string
        description:
          type: string
        annualAmount:
          type: number
          format: double
        inflationRate:
          type: number
          format: double
        startYear:
          type: integer
          format: int32
        endYear:
          type: integer
          format: int32
        appliesTo:
          type: integer
          format: int32
        appliesToType:
          type: string
        notes:
          items:
            type: string
          type: array
        relativeStartDateType:
          type: integer
          format: int32
        relativeEndDateType:
          type: integer
          format: int32
        relativeStartDateNum:
          type: integer
          format: int32
        relativeEndDateNum:
          type: integer
          format: int32
        needChange:
          type: boolean
      xml:
        name: InstreamGoalDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamPhoneNumberDto:
      properties:
        phoneNumberId:
          type: integer
          format: int32
        phoneNumber:
          type: string
        phoneNumberType:
          type: string
        preferred:
          type: boolean
        note:
          type: string
      xml:
        name: InstreamPhoneNumberDto
      type: object
    OAS.Integrations.Instream.InstreamAuthenticationTokenDto:
      properties:
        token:
          type: string
        expiresIn:
          type: integer
          format: int32
        isBam:
          type: boolean
      xml:
        name: InstreamAuthenticationTokenDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamAllocationDto:
      properties:
        allocationPeriodId:
          type: integer
          format: int32
        createdDate:
          type: integer
          format: int64
        lastUpdateDate:
          type: integer
          format: int64
        createdBy:
          type: string
        lastUpdatedBy:
          type: string
        planId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        title:
          type: string
        relativeStartDateType:
          type: string
        relativeEndDateType:
          type: string
        relativeStartDateNum:
          type: integer
          format: int32
        relativeEndDateNum:
          type: integer
          format: int32
        startYear:
          type: integer
          format: int32
        endYear:
          type: integer
          format: int32
        allocationModel:
          $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamAllocationModelDto'
        isPortfolio:
          type: boolean
        isPortfolioModelDeleted:
          type: boolean
        isCustomPortfolio:
          type: boolean
        customReturnRate:
          type: number
          format: double
        customRisk:
          type: number
          format: double
        customAnnualizedReturn:
          type: number
          format: double
      xml:
        name: InstreamAllocationDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamDistributionViewDto:
      properties:
        planDistributionId:
          type: integer
          format: int32
        startYear:
          type: integer
          format: int64
        endYear:
          type: integer
          format: int64
        annualAmount:
          type: number
          format: double
        desiredProbability:
          type: number
          format: double
        medianDistribution:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Instream.Dto.InstreamMedianDistributionDto'
          xml:
            name: InstreamMedianDistributionDto
            wrapped: true
          type: array
        portfolioReturnFreeze:
          type: boolean
        inflationCap:
          type: boolean
        inflationAdjustment:
          type: boolean
        maximumDistributionPercent:
          type: boolean
        minimumDistributionPercent:
          type: boolean
        floor:
          type: boolean
        ceiling:
          type: boolean
        maximumContribution:
          type: boolean
        badInvestmentReturn:
          type: number
          format: double
        maximumInflationRate:
          type: number
          format: double
        maximumDistribution:
          type: number
          format: double
        maximumDistributionAdjustment:
          type: number
          format: double
        minimumDistribution:
          type: number
          format: double
        minimumDistributionAdjustment:
          type: number
          format: double
        floorAmount:
          type: number
          format: double
        ceilingAmount:
          type: number
          format: double
        distribution10Range:
          type: number
          format: double
        distribution50Range:
          type: number
          format: double
        distribution90Range:
          type: number
          format: double
        maximumContributionAmount:
          type: number
          format: double
        contributionPer:
          type: number
          format: double
      xml:
        name: InstreamDistributionViewDto
      type: object
    OAS.Integrations.Instream.Dto.InstreamDistributionDto:
      properties:
        distributionId:
          type: integer
          format: int32
        planId:
          type: integer
          format: int32
        appliesTo:
          type: string
        appliesToType:
          type: string
        title:
          type: string
        description:
          type: string
        startYear:
          type: integer
          format: int64
        endYear:
          type: integer
          format: int64
        annualAmount:
          type: number
          format: double
      xml:
        name: InstreamDistributionDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
