openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Security/Formatters API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Security/Formatters
paths:
  /v1/Security/Formatters:
    get:
      tags:
      - Security/Formatters
      summary: Gets a list of formatters the api accepts
      operationId: Endpoints_GetFormatters
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                type: array
      security:
      - Authorization: []
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
