openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Download Map API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/DownloadMap
paths:
  /v1/Confirm/DownloadMap/{key}:
    put:
      tags:
      - Confirm/DownloadMap
      summary: Update download mapping
      operationId: Confirm_UpdateDownloadMapAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
        required: true
    delete:
      tags:
      - Confirm/DownloadMap
      summary: Delete a mapping
      operationId: Confirm_DeletedownloadMapAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Confirm/DownloadMap/Account/{key}:
    get:
      tags:
      - Confirm/DownloadMap
      summary: Get all mappings using the download source of an account
      operationId: Confirm_GetDownloadMapAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
                xml:
                  name: LocalDownloadMapDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
                xml:
                  name: LocalDownloadMapDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
                xml:
                  name: LocalDownloadMapDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
                xml:
                  name: LocalDownloadMapDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
                xml:
                  name: LocalDownloadMapDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
                xml:
                  name: LocalDownloadMapDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/DownloadMap
      summary: Create new mapping based on the download source of the account
      operationId: Confirm_CreateDownloadMapAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
        required: true
  /v1/Confirm/DownloadMap/Common:
    get:
      tags:
      - Confirm/DownloadMap
      operationId: DownloadMapCommon_Get
      parameters:
      - name: downloadFormatId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: tableName
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
                xml:
                  name: DownloadMapDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
                xml:
                  name: DownloadMapDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
                xml:
                  name: DownloadMapDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
                xml:
                  name: DownloadMapDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
                xml:
                  name: DownloadMapDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
                xml:
                  name: DownloadMapDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Download map common get
      x-summary-source: derived
    post:
      tags:
      - Confirm/DownloadMap
      summary: Adds a new common download map to the database
      operationId: DownloadMapCommon_CreateEntityAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
        required: true
  /v1/Confirm/DownloadMap/Common/{key}:
    get:
      tags:
      - Confirm/DownloadMap
      summary: Gets the common download map that has the provided key.
      operationId: DownloadMapCommon_GetEntityByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/DownloadMap
      summary: Updates the common download map that has the provided key.
      operationId: DownloadMapCommon_UpdateEntityAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
        required: true
    delete:
      tags:
      - Confirm/DownloadMap
      summary: Used to delete an existing common download map.
      operationId: DownloadMapCommon_DeleteAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Confirm/DownloadMap/Firm:
    get:
      tags:
      - Confirm/DownloadMap
      operationId: DownloadMapFirm_GetAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Download map firm get async
      x-summary-source: derived
    post:
      tags:
      - Confirm/DownloadMap
      operationId: DownloadMapFirm_UpsertAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Confirm.DownloadMapALClientDto'
              xml:
                name: DownloadMapALClientDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Confirm.DownloadMapALClientDto'
              xml:
                name: DownloadMapALClientDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Confirm.DownloadMapALClientDto'
              xml:
                name: DownloadMapALClientDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Confirm.DownloadMapALClientDto'
              xml:
                name: DownloadMapALClientDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Confirm.DownloadMapALClientDto'
              xml:
                name: DownloadMapALClientDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Confirm.DownloadMapALClientDto'
              xml:
                name: DownloadMapALClientDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Confirm.DownloadMapALClientDto'
              xml:
                name: DownloadMapALClientDto
                wrapped: true
              type: array
        required: true
      summary: Download map firm upsert async
      x-summary-source: derived
  /v1/Confirm/DownloadMap/List:
    put:
      tags:
      - Confirm/DownloadMap
      summary: Update a list of mappings
      operationId: Confirm_UpdateDownloadMapsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
              xml:
                name: LocalDownloadMapDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
              xml:
                name: LocalDownloadMapDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
              xml:
                name: LocalDownloadMapDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
              xml:
                name: LocalDownloadMapDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
              xml:
                name: LocalDownloadMapDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
              xml:
                name: LocalDownloadMapDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.LocalDownloadMapDto'
              xml:
                name: LocalDownloadMapDto
                wrapped: true
              type: array
        required: true
  /v1/Confirm/DownloadMap/Local:
    get:
      tags:
      - Confirm/DownloadMap
      summary: Get all local download maps The return is limited to pages of 50000.
      operationId: DownloadMapLocal_Get
      parameters:
      - name: downloadFormatId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: downloadSourceId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: tableName
        in: query
        required: false
        schema:
          type: string
      - name: includeUnassigned
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
                xml:
                  name: DownloadMapDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
                xml:
                  name: DownloadMapDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
                xml:
                  name: DownloadMapDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
                xml:
                  name: DownloadMapDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
                xml:
                  name: DownloadMapDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
                xml:
                  name: DownloadMapDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/DownloadMap
      summary: Adds a new local download map to the database
      description: 'Sample Request

        Post /Confirm/DownloadMap/common

        {

        downloadFormat: "TDAmeritradeGeneric"

        downloadFormatId: 59

        downloadFormatSubTypeId: 0

        downloadSourceId: null

        externalCode: "11"

        mappingLevel: "Common - Sub-Format"

        orionKey: 41

        tableName: "TransactionType"

        }'
      operationId: DownloadMapLocal_CreateEntityAsync
      parameters:
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
        description: The dto.
        required: true
  /v1/Confirm/DownloadMap/Local/{key}:
    get:
      tags:
      - Confirm/DownloadMap
      summary: Gets the local download map that has the provided key.
      description: 'Sample Request

        GET /Confirm/DownloadMap/Local/1'
      operationId: DownloadMapLocal_GetEntityByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/DownloadMap
      summary: Updates the local download map that has the provided key.
      operationId: DownloadMapLocal_UpdateEntityAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapDto'
        required: true
    delete:
      tags:
      - Confirm/DownloadMap
      summary: Used to delete an existing local download map.
      operationId: DownloadMapLocal_DeleteAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Confirm/DownloadMap/Tables:
    get:
      tags:
      - Confirm/DownloadMap
      summary: Get a list of orion tables used in download mappings
      operationId: Confirm_GetDownloadMapTablesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapTableDto'
                xml:
                  name: DownloadMapTableDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapTableDto'
                xml:
                  name: DownloadMapTableDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapTableDto'
                xml:
                  name: DownloadMapTableDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapTableDto'
                xml:
                  name: DownloadMapTableDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapTableDto'
                xml:
                  name: DownloadMapTableDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadMapTableDto'
                xml:
                  name: DownloadMapTableDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/DownloadMap/Tables/{tableName}:
    get:
      tags:
      - Confirm/DownloadMap
      summary: Get available options for the specified table
      operationId: Confirm_GetDownloadMapTableValues
      parameters:
      - name: tableName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Confirm.DownloadMapDto:
      properties:
        id:
          type: integer
          format: int32
        tableName:
          type: string
        downloadFormatId:
          type: integer
          format: int32
        downloadFormat:
          type: string
        downloadFormatSubTypeId:
          type: integer
          format: int32
        downloadFormatSubType:
          type: string
        externalCode:
          type: string
        orionKey:
          type: integer
          format: int32
        orionKeyDescription:
          type: string
        mappingLevel:
          type: string
        downloadSourceId:
          type: integer
          format: int32
        downloadSource:
          type: string
        isCommon:
          type: boolean
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
      xml:
        name: DownloadMapDto
      type: object
    OAS.WebApi.DTO.Confirm.LocalDownloadMapDto:
      required:
      - orionKey
      - tableName
      - externalCode
      properties:
        id:
          type: integer
          format: int32
        orionKey:
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        orionName:
          type: string
        tableName:
          type: string
          maxLength: 50
          minLength: 1
        externalCode:
          type: string
          maxLength: 50
          minLength: 1
      xml:
        name: LocalDownloadMapDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadMapTableDto:
      properties:
        name:
          type: string
      xml:
        name: DownloadMapTableDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.Domains.Confirm.DownloadMapALClientDto:
      properties:
        downloadSourceName:
          type: string
        downloadSourceId:
          type: integer
          format: int32
        firmParseCode:
          type: string
        clientName:
          type: string
        alClientId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        auditedDate:
          type: string
          format: date-time
        auditedBy:
          type: string
      xml:
        name: DownloadMapALClientDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
