openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Settings/Views API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Settings/Views
paths:
  /v1/Settings/Views/{pageCode}:
    post:
      tags:
      - Settings/Views
      summary: Views create view async
      operationId: Views_CreateViewAsync
      parameters:
      - name: pageCode
        in: path
        description: The page code of the view to be returned.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      - name: applyShared
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
        required: true
      x-summary-source: derived
  /v1/Settings/Views/{pageCode}/{gridType}:
    get:
      tags:
      - Settings/Views
      summary: Gets a list of views that the logged in user has access to for this controller
      operationId: Views_GetViewsAsync
      parameters:
      - name: pageCode
        in: path
        description: The page code of the view to be returned.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      - name: gridType
        in: path
        required: true
        schema:
          type: string
          enum:
          - SlickGrid
          - AgGrid
          default: 0
      - name: applyShared
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Settings/Views/{pageCode}/{key}:
    get:
      tags:
      - Settings/Views
      summary: Gets the view that has the provided key.
      operationId: Views_GetViewAsync
      parameters:
      - name: pageCode
        in: path
        description: The page code of the view to be returned.
        required: true
        schema:
          type: string
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      - name: applyShared
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    put:
      tags:
      - Settings/Views
      summary: Views update view async
      operationId: Views_UpdateViewAsync
      parameters:
      - name: pageCode
        in: path
        description: The page code of the view to be returned.
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      - name: applyShared
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
        required: true
      x-summary-source: derived
    delete:
      tags:
      - Settings/Views
      summary: Views delete view async
      operationId: Views_DeleteViewAsync
      parameters:
      - name: pageCode
        in: path
        description: The page code of the view to be returned.
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Settings/Views/{pageCode}/{key}/Actions/RemoveAsDefault:
    put:
      tags:
      - Settings/Views
      operationId: Views_RemoveAsDefaultViewAsync
      parameters:
      - name: pageCode
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
        required: true
      summary: Views remove as default view async
      x-summary-source: derived
  /v1/Settings/Views/{pageCode}/{key}/Actions/SetDefault:
    put:
      tags:
      - Settings/Views
      summary: Views update as default view async
      operationId: Views_UpdateAsDefaultViewAsync
      parameters:
      - name: pageCode
        in: path
        description: The page code of the view to be returned.
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
        required: true
      x-summary-source: derived
  /v1/Settings/Views/{pageCode}/AgGrid/Convert:
    post:
      tags:
      - Settings/Views
      operationId: Views_ConvertViewsAsync
      parameters:
      - name: pageCode
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
              xml:
                name: PageViewDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
              xml:
                name: PageViewDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
              xml:
                name: PageViewDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
              xml:
                name: PageViewDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewDto'
              xml:
                name: PageViewDto
                wrapped: true
              type: array
        required: true
      summary: Views convert views async
      x-summary-source: derived
  /v1/Settings/Views/PageCodes/{entity}/Simple:
    get:
      tags:
      - Settings/Views
      operationId: Views_GetViewsForEntity
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Settings.PageCodeEntityDto'
                xml:
                  name: PageCodeEntityDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Settings.PageCodeEntityDto'
                xml:
                  name: PageCodeEntityDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Settings.PageCodeEntityDto'
                xml:
                  name: PageCodeEntityDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Settings.PageCodeEntityDto'
                xml:
                  name: PageCodeEntityDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Settings.PageCodeEntityDto'
                xml:
                  name: PageCodeEntityDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Settings.PageCodeEntityDto'
                xml:
                  name: PageCodeEntityDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Views get views for entity
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Code.AgGrid.Models.FilterParams:
      properties:
        filterOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Code.AgGrid.Models.FilterOptions'
          xml:
            name: FilterOptions
            wrapped: true
          type: array
      xml:
        name: FilterParams
      type: object
    OAS.WebApi.DTO.Settings.PageViewDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        pageCode:
          type: string
        filterType:
          type: string
          enum:
          - All
          - Any
        isPrivate:
          type: boolean
        canEdit:
          type: boolean
        isUserDefault:
          type: boolean
        gridType:
          type: string
          enum:
          - SlickGrid
          - AgGrid
        agGrid:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Code.AgGrid.Models.AgGridPageView'
        slickGridColumnDefs:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Code.SlickGridColumnDef'
          xml:
            name: SlickGridColumnDef
            wrapped: true
          type: array
        filters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewFilterDto'
          xml:
            name: PageViewFilterDto
            wrapped: true
          type: array
        groups:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewGroupDto'
          xml:
            name: PageViewGroupDto
            wrapped: true
          type: array
        sorts:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.PageViewSortDto'
          xml:
            name: PageViewSortDto
            wrapped: true
          type: array
        dynamicGroupingInfo:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.DynamicGroupingInfo'
      xml:
        name: PageViewDto
      type: object
    OAS.WebApi.DTO.Code.SlickGridColumnDef:
      properties:
        id:
          type: string
        name:
          type: string
        field:
          type: string
        behavior:
          type: string
        cssClass:
          type: string
        headerCssClass:
          type: string
        width:
          type: integer
          format: int32
        resizable:
          type: boolean
        selectable:
          type: boolean
        visible:
          type: boolean
        required:
          type: boolean
        formatter:
          type: string
        precision:
          type: integer
          format: int32
        editor:
          type: string
        editorKeyField:
          type: string
        massEditor:
          type: string
        editorOptions:
          type: string
        editorUrl:
          type: string
        editorIncludeBlank:
          type: boolean
        conditionType:
          type: string
        sortOrder:
          type: integer
          format: int32
        enableEdit:
          type: string
        groupTotalsFormatter:
          type: string
        conditions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Code.SlickGridColumnConditions'
          xml:
            name: SlickGridColumnConditions
            wrapped: true
          type: array
      xml:
        name: SlickGridColumnDef
      type: object
    OAS.WebApi.DTO.Settings.PageViewFilterDto:
      properties:
        name:
          type: string
        value:
          type: string
        key:
          type: string
        include:
          type: boolean
      xml:
        name: PageViewFilterDto
      type: object
    OAS.WebApi.DTO.Code.AgGrid.Models.SortState:
      properties:
        colId:
          type: string
        sort:
          type: string
      xml:
        name: SortState
      type: object
    OAS.WebApi.DTO.Code.SlickGridColumnConditions:
      properties:
        name:
          type: string
        value:
          type: string
        select1:
          items:
            type: string
          type: array
      xml:
        name: SlickGridColumnConditions
      type: object
    OAS.WebApi.DTO.Code.AgGrid.Models.AgGridPageView:
      properties:
        colState:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Code.AgGrid.Models.ColState'
          xml:
            name: ColState
            wrapped: true
          type: array
        sortState:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Code.AgGrid.Models.SortState'
          xml:
            name: SortState
            wrapped: true
          type: array
        filterState:
          type: object
      xml:
        name: AgGridPageView
      type: object
    OAS.WebApi.DTO.Settings.PageViewGroupDto:
      properties:
        getter:
          type: string
        formatter:
          type: string
        collapsed:
          type: boolean
        comparer:
          type: string
        enabled:
          type: boolean
        name:
          type: string
        aggregators:
          items:
            type: string
          type: array
        aggregateCollapsed:
          type: boolean
      xml:
        name: PageViewGroupDto
      type: object
    OAS.WebApi.DTO.Settings.PageViewSortDto:
      properties:
        columnId:
          type: string
        field:
          type: string
        sortAsc:
          type: boolean
      xml:
        name: PageViewSortDto
      type: object
    OAS.WebApi.DTO.Code.AgGrid.Models.ColState:
      properties:
        colId:
          type: string
        width:
          type: integer
          format: int32
        hide:
          type: boolean
        pinned:
          type: string
        sort:
          type: string
        sortIndex:
          type: integer
          format: int32
        aggFunc:
          type: string
        rowGroup:
          type: boolean
        rowGroupIndex:
          type: integer
          format: int32
        pivot:
          type: boolean
        pivotIndex:
          type: integer
          format: int32
        flex:
          type: integer
          format: int32
        field:
          type: string
        headerName:
          type: string
        conditionType:
          type: string
        filterParams:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Code.AgGrid.Models.FilterParams'
      xml:
        name: ColState
      type: object
    OAS.WebApi.DTO.Code.AgGrid.Models.FilterOptions:
      properties:
        displayKey:
          type: string
        displayName:
          type: string
        testFunction:
          type: string
        hideFilterInput:
          readOnly: true
          type: boolean
      xml:
        name: FilterOptions
      type: object
    OAS.WebApi.Domains.Settings.PageCodeEntityDto:
      properties:
        displayName:
          type: string
        pageCodeName:
          type: string
      xml:
        name: PageCodeEntityDto
      type: object
    OAS.WebApi.DTO.Settings.DynamicGroupingInfo:
      properties:
        reporting:
          type: boolean
        trading:
          type: boolean
        repProfileAssignment:
          type: boolean
        compass:
          type: boolean
      xml:
        name: DynamicGroupingInfo
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
