openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Paperwork API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Paperwork
paths:
  /v1/Integrations/Paperwork/Accounts/{accountId}/Forms:
    get:
      tags:
      - Integrations/Paperwork
      summary: Returns a list of forms available for the specified account.
      operationId: Paperwork_GetFormsForAccount
      parameters:
      - name: accountId
        in: path
        description: The id of the account to returns forms for the specified account.
        required: true
        schema:
          type: integer
          format: int32
      - name: paperworkSource
        in: query
        required: false
        schema:
          type: string
          enum:
          - LaserApp
          - AdvisoryWorld
          - Firm
          - Quik
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Paperwork/Forms/{key}:
    get:
      tags:
      - Integrations/Paperwork
      summary: Gets the form that has the provided key.
      operationId: Paperwork_GetFormByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Paperwork
      operationId: Paperwork_UpdateForm
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto'
        required: true
      summary: Paperwork update form
      x-summary-source: derived
  /v1/Integrations/Paperwork/Forms/Mapped:
    get:
      tags:
      - Integrations/Paperwork
      summary: Returns a list of forms available for the specified criteria.
      operationId: Paperwork_GetFormsMapped
      parameters:
      - name: custodianId
        in: query
        description: Optional.  When included, returns forms assigned to this custodian.
        required: false
        schema:
          type: integer
          format: int32
      - name: brokerDealerId
        in: query
        description: Optional.  When included, returns forms assigned to this broker dealer.
        required: false
        schema:
          type: integer
          format: int32
      - name: platformId
        in: query
        description: Optional.  When included, returns forms assigned to this mgmt style (platform).
        required: false
        schema:
          type: integer
          format: int32
      - name: fundFamilyId
        in: query
        description: Optional.  When included, returns forms assigned to this fund family.
        required: false
        schema:
          type: integer
          format: int32
      - name: regTypeId
        in: query
        description: Optional.  When included, returns forms assigned to this reg type (Account Type).
        required: false
        schema:
          type: integer
          format: int32
      - name: repId
        in: query
        description: Optional.  When included, returns forms assigned to this Representative.
        required: false
        schema:
          type: integer
          format: int32
      - name: subAdvisorId
        in: query
        description: Optional.  When included, returns forms assigned to this Sub Advisor.
        required: false
        schema:
          type: integer
          format: int32
      - name: fundSource
        in: query
        description: Optional.  When included, returns forms assigned to this Fund Source.  (For example, Rollover, transfer, wire, check)
        required: false
        schema:
          type: string
          enum:
          - Rollover
          - Transfer
          - ACHWIRE
          - CashCheck
      - name: formType
        in: query
        description: Optional.  When included, returns forms assigned to this formType {OAS.DataModel.Integrations.FormType}.
        required: false
        schema:
          type: string
          enum:
          - NewAccount
          - Distribution
      - name: paperworkSource
        in: query
        description: Optional.  When included, returns forms related to the specified source..
        required: false
        schema:
          type: string
          enum:
          - LaserApp
          - AdvisoryWorld
          - Firm
          - Quik
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Paperwork/Forms/Search:
    get:
      tags:
      - Integrations/Paperwork
      summary: Searches the forms libarary for documents titled with the specified text
      operationId: Paperwork_GetFormSearch
      parameters:
      - name: search
        in: query
        description: Search String
        required: true
        schema:
          type: string
      - name: paperworkSource
        in: query
        description: Paperwork Source
        required: false
        schema:
          type: string
          enum:
          - LaserApp
          - AdvisoryWorld
          - Firm
          - Quik
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Paperwork/Forms/Search/{search}:
    get:
      tags:
      - Integrations/Paperwork
      summary: Searches the forms libarary for documents titled with the specified text
      operationId: Paperwork_GetV1IntegrationsPaperworkFormsSearchBySearch
      parameters:
      - name: search
        in: path
        description: Search String
        required: true
        schema:
          type: string
      - name: paperworkSource
        in: query
        description: Paperwork Source
        required: false
        schema:
          type: string
          enum:
          - LaserApp
          - AdvisoryWorld
          - Firm
          - Quik
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto'
                xml:
                  name: FormRecordDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.Paperwork.FormSelectionDto:
      properties:
        id:
          type: integer
          format: int32
        custodian:
          type: string
        custodianId:
          type: integer
          format: int32
        brokerDealer:
          type: string
        brokerDealerId:
          type: integer
          format: int32
        managementStyle:
          type: string
        platformId:
          type: integer
          format: int32
        fundFamily:
          type: string
        fundFamilyId:
          type: integer
          format: int32
        accountType:
          type: string
        registrationTypeId:
          type: integer
          format: int32
        representative:
          type: string
        representativeId:
          type: integer
          format: int32
        subAdvisor:
          type: string
        subAdvisorId:
          type: integer
          format: int32
        sourceOfFunds:
          type: string
          enum:
          - Rollover
          - Transfer
          - ACHWIRE
          - CashCheck
        formType:
          type: string
          enum:
          - NewAccount
          - Distribution
        feeScheduleId:
          type: integer
          format: int32
        feeSchedule:
          type: string
      xml:
        name: FormSelectionDto
      type: object
    OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordFullDto:
      properties:
        selections:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.Paperwork.FormSelectionDto'
          xml:
            name: FormSelectionDto
            wrapped: true
          type: array
        id:
          type: integer
          format: int32
        guid:
          type: string
        title:
          type: string
        majorVersion:
          type: integer
          format: int32
        minorVersion:
          type: integer
          format: int32
        cDate:
          type: string
          format: date-time
        rDate:
          type: string
          format: date-time
        pages:
          type: integer
          format: int32
        isRequired:
          type: boolean
        paperworkSource:
          type: string
          enum:
          - LaserApp
          - AdvisoryWorld
          - Firm
          - Quik
      xml:
        name: FormRecordFullDto
      type: object
    OAS.WebApi.DTO.Portfolio.Paperwork.FormRecordDto:
      properties:
        id:
          type: integer
          format: int32
        guid:
          type: string
        title:
          type: string
        majorVersion:
          type: integer
          format: int32
        minorVersion:
          type: integer
          format: int32
        cDate:
          type: string
          format: date-time
        rDate:
          type: string
          format: date-time
        pages:
          type: integer
          format: int32
        isRequired:
          type: boolean
        paperworkSource:
          type: string
          enum:
          - LaserApp
          - AdvisoryWorld
          - Firm
          - Quik
      xml:
        name: FormRecordDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
