openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Black Rock API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/BlackRock
paths:
  /v1/Integrations/BlackRock/Actions/Remove:
    post:
      tags:
      - Integrations/BlackRock
      summary: Removes the AssetMap integration for the current firm
      description: The user must have the necessary privileges to remove the integration.
      operationId: BlackRock_RemoveServiceAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Integrations/BlackRock/Actions/Setup:
    post:
      tags:
      - Integrations/BlackRock
      summary: Adds the AssetMap integration for the current firm
      operationId: BlackRock_SetupServiceAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
        required: true
  /v1/Integrations/BlackRock/Analyzer/{modelId}:
    get:
      tags:
      - Integrations/BlackRock
      operationId: BlackRock_BlackRockAnalyzerRedirectAsync
      parameters:
      - name: modelId
        in: path
        required: true
        schema:
          type: string
      - name: token
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Black rock black rock analyzer redirect async
      x-summary-source: derived
  /v1/Integrations/BlackRock/AssignModel:
    post:
      tags:
      - Integrations/BlackRock
      summary: Evaluate the ids and assign the community model to the appropriate record
      operationId: BlackRock_AssignModelAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.ModelAssignment'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.ModelAssignment'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.ModelAssignment'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.ModelAssignment'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.ModelAssignment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.ModelAssignment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.ModelAssignment'
        required: true
  /v1/Integrations/BlackRock/CoriIncome:
    post:
      tags:
      - Integrations/BlackRock
      summary: Gets the income from BlackRock iRetire based on inputs.
      operationId: BlackRock_GetCoriIncomeAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncomeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncomeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncomeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncomeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncomeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncomeDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncome'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncome'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncome'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncome'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncome'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncome'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncome'
        description: Parameters used to calculate retirement income.
        required: true
  /v1/Integrations/BlackRock/iRetireSSO:
    get:
      tags:
      - Integrations/BlackRock
      operationId: BlackRock_iRetireSSOAsync
      parameters:
      - name: testEnvironment
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: portfolioId
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: taxestimator
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Black rock i retire SSO async
      x-summary-source: derived
  /v1/Integrations/BlackRock/ModelName:
    post:
      tags:
      - Integrations/BlackRock
      summary: Sets the modelName on the passed in portfolioId
      operationId: BlackRock_SetModelName
      parameters:
      - name: portfolioId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: modelName
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/BlackRock/Redirect:
    get:
      tags:
      - Integrations/BlackRock
      operationId: BlackRock_RedirectToBlackrockAsync
      parameters:
      - name: testEnvironment
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: portfolioId
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: entity
        in: query
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
          default: 0
      - name: entityId
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Black rock redirect to blackrock async
      x-summary-source: derived
components:
  schemas:
    OAT.Integrations.BlackRock.Models.ModelAssignment:
      properties:
        orion_householdId:
          type: integer
          format: int32
        eclipse_portfolioId:
          type: integer
          format: int32
        accountList:
          items:
            type: integer
            format: int32
          type: array
        communityModelId:
          type: integer
          format: int32
      xml:
        name: ModelAssignment
      type: object
    OAT.Integrations.BlackRock.Models.BlackRockCoriIncome:
      properties:
        age:
          type: integer
          format: int32
        retirementAge:
          type: integer
          format: int32
        additionalSavings:
          type: integer
          format: int32
        currentSavings:
          type: integer
          format: int32
        key:
          type: integer
          format: int32
        entity:
          type: integer
          format: int32
        currentIncome:
          type: number
          format: double
        incomeGoal:
          type: integer
          format: int32
      xml:
        name: BlackRockCoriIncome
      type: object
    OAS.WebApi.DTO.Integrations.BasicIntegrationConfigDto:
      properties:
        partnerAppId:
          description: The unique ID of the partner app.
          type: integer
          format: int32
        productName:
          description: The unique name of the partner app product.
          type: string
      xml:
        name: BasicIntegrationConfigDto
      type: object
    OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto:
      properties:
        key:
          type: integer
          format: int32
        productName:
          type: string
        termsAccepted:
          type: boolean
      xml:
        name: IntegrationSetupRequestDto
      type: object
    OAT.Integrations.BlackRock.Models.BlackRockCoriResultDto:
      properties:
        currentIncome:
          type: number
          format: double
        expectedIncome:
          type: number
          format: double
        lowerBoundIncome:
          type: number
          format: double
        upperBoundIncome:
          type: number
          format: double
        lowerBoundIncome1Year:
          type: number
          format: double
        upperBoundIncome1Year:
          type: number
          format: double
        lowerBoundIncomeAge1Year:
          type: number
          format: double
        lowerBoundIncomeSavings1Year:
          type: number
          format: double
      xml:
        name: BlackRockCoriResultDto
      type: object
    OAT.Integrations.BlackRock.Models.BlackRockCoriIncomeDto:
      properties:
        result:
          $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriResultDto'
        request:
          $ref: '#/components/schemas/OAT.Integrations.BlackRock.Models.BlackRockCoriIncome'
      xml:
        name: BlackRockCoriIncomeDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
