openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Advice Works API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/AdviceWorks
paths:
  /v1/Integrations/AdviceWorks/AdvisorId/{orionRepId}:
    get:
      tags:
      - Integrations/AdviceWorks
      operationId: Cetera_CeteraAdvisorIdAsync
      parameters:
      - name: orionRepId
        in: path
        required: true
        schema:
          type: integer
          format: int32
          default: 0
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CeteraController.RepCustomData'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CeteraController.RepCustomData'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CeteraController.RepCustomData'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CeteraController.RepCustomData'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CeteraController.RepCustomData'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Integrations.CeteraController.RepCustomData'
      security:
      - Authorization: []
      summary: Cetera cetera advisor id async
      x-summary-source: derived
  /v1/Integrations/AdviceWorks/GetClientDetail/{clientId}:
    get:
      tags:
      - Integrations/AdviceWorks
      operationId: Cetera_GetV1IntegrationsAdviceWorksGetClientDetailByClientId
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ClientDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ClientDetailsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ClientDetailsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ClientDetailsResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ClientDetailsResponse'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ClientDetailsResponse'
      security:
      - Authorization: []
      summary: Cetera get V1 integrations advice works get client detail by client id
      x-summary-source: derived
  /v1/Integrations/AdviceWorks/GetClientDetailRaw/{clientId}:
    get:
      tags:
      - Integrations/AdviceWorks
      operationId: Cetera_GetClientDetailRawAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Cetera get client detail raw async
      x-summary-source: derived
  /v1/Integrations/AdviceWorks/GetToken:
    get:
      tags:
      - Integrations/AdviceWorks
      operationId: Cetera_GetTokenAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.Token'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.Token'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.Token'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.Token'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.Token'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.Token'
      security:
      - Authorization: []
      summary: Cetera get token async
      x-summary-source: derived
  /v1/Integrations/AdviceWorks/ReserveAccount:
    post:
      tags:
      - Integrations/AdviceWorks
      operationId: Cetera_ReserveAccountAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountResponse'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountResponse'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
        required: true
      summary: Cetera reserve account async
      x-summary-source: derived
  /v1/Integrations/AdviceWorks/ReserveAccountRaw:
    post:
      tags:
      - Integrations/AdviceWorks
      operationId: Cetera_ReserveAccountRawAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountRequest'
        required: true
      summary: Cetera reserve account raw async
      x-summary-source: derived
  /v1/Integrations/AdviceWorks/Search:
    post:
      tags:
      - Integrations/AdviceWorks
      operationId: Cetera_GetClientSearchAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ClientSearchResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ClientSearchResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ClientSearchResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ClientSearchResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ClientSearchResponse'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ClientSearchResponse'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
        required: true
      summary: Cetera get client search async
      x-summary-source: derived
  /v1/Integrations/AdviceWorks/SearchRaw:
    post:
      tags:
      - Integrations/AdviceWorks
      operationId: Cetera_GetClientSearchRawAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.Cetera.ClientSearch'
        required: true
      summary: Cetera get client search raw async
      x-summary-source: derived
components:
  schemas:
    OAT.Integrations.Cetera.DTOs.Account_Data:
      properties:
        reqIntKeySource:
          type: string
        reqUniqueIdTarget:
          type: string
        errorCode:
          type: string
        reqENVTarget:
          type: string
        reqUniqueId:
          type: string
        acctUniqueIdSource:
          type: string
        clientIdTarget:
          type: string
        clientIdTargetclearingFirm:
          type: string
        acctUniqueIdTarget:
          type: string
        acctNumber:
          type: string
        advIDTarget:
          type: string
        brokerDealerFirmCode:
          type: string
        clearingFirm:
          type: string
        resCustomFields:
          type: object
        reqContext:
          type: string
        achId:
          type: string
        wireId:
          type: string
        resDateTime:
          type: string
        messageLevel:
          type: integer
          format: int32
        achVerified:
          type: string
        wireVerified:
          type: string
        acctAction:
          type: string
        tenantNameSource:
          type: string
        errorMessages:
          type: object
        status:
          type: string
        message:
          type: string
        detailsErrorMessage:
          type: object
        errorSource:
          type: object
      xml:
        name: Account_Data
      type: object
    OAT.Integrations.Cetera.DTOs.CS_Phone:
      properties:
        phoneNumber:
          type: string
        type:
          type: string
        isPrimary:
          type: string
        desc:
          type: string
        primaryPriority:
          type: integer
          format: int32
      xml:
        name: CS_Phone
      type: object
    OAT.Integrations.Cetera.DTOs.Experience:
      properties:
        type:
          type: string
        years:
          type: integer
          format: int32
      xml:
        name: Experience
      type: object
    OAT.Integrations.Cetera.DTOs.Affiliation:
      properties:
        stakeholderOfPubliclyTradedCompany:
          type: string
        politician:
          type: string
        politicianCountry:
          type: string
        brokerDealer:
          type: string
        brokerDealerWithCeteraBD:
          type: string
        brokerDealerFirm:
          type: string
        affiliatedWithCeteraBD:
          type: string
        affiliatedFirmName:
          type: string
        affiliatedWithBrokerDealerOrFINRA:
          type: string
        companyAffiliations:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.CompanyAffiliation'
          xml:
            name: CompanyAffiliation
            wrapped: true
          type: array
      xml:
        name: Affiliation
      type: object
    OAT.Integrations.Cetera.DTOs.Acctowner:
      properties:
        clientUniqueIdSource:
          type: integer
          format: int32
        clientIdTarget:
          type: integer
          format: int32
        acctOwnerType:
          type: string
        firstName:
          type: string
        middleName:
          type: string
        lastNameOrEntityName:
          type: string
        countryOfCitizenship:
          type: string
        taxId:
          type: string
        taxIdType:
          type: string
        clientType:
          type: string
        clientSubType:
          type: string
      xml:
        name: Acctowner
      type: object
    OAT.Integrations.Cetera.DTOs.Accountinformation:
      properties:
        acctUniqueIdSource:
          type: integer
          format: int32
        acctAction:
          type: string
        acctUniqueIdTarget:
          type: integer
          format: int32
        acctGroup:
          type: string
        acctType:
          type: string
        acctRetirementType:
          type: string
        acctRetirementTypeCode:
          type: string
        advisoryProgram:
          type: string
        advisorInfo:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Advisorinfo'
        acctOwners:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Acctowner'
          xml:
            name: Acctowner
            wrapped: true
          type: array
      xml:
        name: Accountinformation
      type: object
    OAT.Integrations.Cetera.DTOs.Rep:
      properties:
        repnumberid:
          type: integer
          format: int32
        repnumber:
          type: string
        type:
          type: string
        repcode:
          type: string
        repNumberDescription:
          type: string
        advisors:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Advisor'
          xml:
            name: Advisor
            wrapped: true
          type: array
      xml:
        name: Rep
      type: object
    OAS.WebApi.Domains.Integrations.CeteraController.RepCustomData:
      properties:
        crd:
          type: string
        brokerDealId:
          type: string
      xml:
        name: RepCustomData
      type: object
    OAT.Integrations.Cetera.DTOs.Phone:
      properties:
        phoneNumberId:
          type: integer
          format: int32
        type:
          type: string
        phoneNumber:
          type: string
        status:
          type: string
      xml:
        name: Phone
      type: object
    OAT.Integrations.Cetera.DTOs.Advisor:
      properties:
        advisorId:
          type: integer
          format: int32
        firstname:
          type: string
        middlename:
          type: string
        lastname:
          type: string
        startDate:
          type: string
        crdNumber:
          type: string
        isPrimary:
          type: boolean
        isSplitRep:
          type: boolean
        emails:
          items:
            type: string
          type: array
      xml:
        name: Advisor
      type: object
    OAT.Integrations.Cetera.DTOs.Identification:
      properties:
        identificationType:
          type: string
          enum:
          - ALEN
          - CDLA
          - DRVR
          - GREN
          - INSI
          - MLTY
          - NATL
          - OGVT
          - PASS
          - VISA
          - ArtOfInc
          - GovIssBLic
          - PartAgr
          - TrustDoc
          - LetterTest
          - TINDoc
          - InvestClub
          - ArtOfOrg
          - Other
        idNumber:
          type: string
        issueDate:
          type: string
        expirationDate:
          type: string
        description:
          type: string
        stateOfIssue:
          type: string
        countryOfIssue:
          type: string
        photoIdverified:
          type: boolean
        typeOfIndustry:
          type: string
        typeOfBusiness:
          type: string
      xml:
        name: Identification
      type: object
    OAT.Integrations.Cetera.DTOs.ClientDetailsResponse:
      properties:
        profile:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Profile'
        isMinor:
          type: boolean
        reps:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Rep'
          xml:
            name: Rep
            wrapped: true
          type: array
        mails:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Mail'
          xml:
            name: Mail
            wrapped: true
          type: array
        phones:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Phone'
          xml:
            name: Phone
            wrapped: true
          type: array
        addresses:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Address'
          xml:
            name: Address
            wrapped: true
          type: array
        affiliation:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Affiliation'
        employment:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Employment'
        identification:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Identification'
        financialInformation:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Financialinformation'
        trustedContactInformation:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Trustedcontactinformation'
      xml:
        name: ClientDetailsResponse
      type: object
    OAT.Integrations.Cetera.DTOs.Financialinformation:
      properties:
        annualIncome:
          type: string
        adjustedNetWorth:
          type: string
        liquidNetWorth:
          type: string
        riskTolerance:
          type: string
        investmentObjective:
          type: string
        federalTaxBracket:
          type: string
        otherInvestments:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Otherinvestments'
        investmentExperience:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Investmentexperience'
        hasInvestentmentExperience:
          type: boolean
      xml:
        name: Financialinformation
      type: object
    OAT.Integrations.Cetera.DTOs.ClientSearchResponse:
      properties:
        totalCount:
          type: integer
          format: int32
        page:
          type: integer
          format: int32
        data:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Data'
          xml:
            name: Data
            wrapped: true
          type: array
      xml:
        name: ClientSearchResponse
      type: object
    OAT.Integrations.Cetera.DTOs.Profile:
      properties:
        countryOfCitizenShip:
          type: string
        prefix:
          type: string
        suffix:
          type: string
        citizen:
          type: string
          enum:
          - Y
          - R
          - N
        taxidType:
          type: string
          enum:
          - TaxID
          - SSN
        primaryAdvisor:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.PrimaryAdvisor'
        gender:
          type: string
          enum:
          - MALE
          - FEMALE
          - UNKNOWN
        martialStatus:
          type: string
          enum:
          - SINGLE
          - MARRIED
          - SEPARATED
          - DIVORCED
          - WIDOWED
          - UNKNOWN
        clientType:
          type: string
          enum:
          - PERSON
          - BUSINESS
        isClient:
          type: string
          enum:
          - Y
          - N
        clientSubType:
          type: string
        isMinor:
          type: boolean
        brokerDealer:
          type: string
        firstname:
          type: string
        middleName:
          type: string
        lastName:
          type: string
        clientId:
          type: integer
          format: int32
        brokerDealerId:
          type: integer
          format: int32
        swClientId:
          type: string
        dob:
          type: string
        ssn:
          type: string
        tin:
          type: string
        preferredName:
          type: string
      xml:
        name: Profile
      type: object
    OAT.Integrations.Cetera.DTOs.ReserveAccountData:
      properties:
        reqIntKeySource:
          type: string
        reqENVTarget:
          type: string
        reqAPIVersionTarget:
          type: string
        reqContext:
          type: string
        reqUniqueId:
          type: string
        reqDateTime:
          type: string
        brokerDealerFirmCode:
          type: string
        brokerDealerId:
          type: integer
          format: int32
        clearingFirm:
          type: string
        reqProcessingLevel:
          type: integer
          format: int32
        tenantNameSource:
          type: string
        accountInformation:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Accountinformation'
      xml:
        name: ReserveAccountData
      type: object
    OAT.Integrations.Cetera.DTOs.ReserveAccountRequest:
      properties:
        type:
          type: string
        data:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.ReserveAccountData'
      xml:
        name: ReserveAccountRequest
      type: object
    OAT.Integrations.Cetera.DTOs.ReserveAccountResponse:
      properties:
        hasError:
          type: boolean
        data:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Account_Data'
      xml:
        name: ReserveAccountResponse
      type: object
    OAS.DataModel.Integration.Cetera.Token:
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
          format: int32
        expires_datetime:
          type: string
          format: date-time
      xml:
        name: Token
      type: object
    OAT.Integrations.Cetera.DTOs.Data:
      properties:
        clientId:
          type: integer
          format: int32
        totalInvAssets:
          type: number
          format: float
        firstName:
          type: string
        lastName:
          type: string
        status:
          type: string
        addresses:
          type: object
        phones:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.CS_Phone'
          xml:
            name: CS_Phone
            wrapped: true
          type: array
        email:
          type: string
        repCode:
          type: string
        ssn:
          type: string
      xml:
        name: Data
      type: object
    OAT.Integrations.Cetera.DTOs.Mail:
      properties:
        emailId:
          type: integer
          format: int32
        type:
          type: string
        email:
          type: string
        status:
          type: string
        isClientFacing:
          type: boolean
      xml:
        name: Mail
      type: object
    OAT.Integrations.Cetera.DTOs.Advisorinfo:
      properties:
        repNumber:
          type: string
        clearingFirmRepNumber:
          type: string
        repCode:
          type: string
        advOfficeNumber:
          type: string
        advIDTarget:
          type: string
        advNumberIDTarget:
          type: string
      xml:
        name: Advisorinfo
      type: object
    OAT.Integrations.Cetera.DTOs.Investment:
      properties:
        type:
          type: string
        value:
          type: number
          format: float
        freeText:
          type: string
      xml:
        name: Investment
      type: object
    OAT.Integrations.Cetera.DTOs.Employment:
      properties:
        employmentStatus:
          type: string
        employerName:
          type: string
        occupation:
          type: string
        workPhoneNumber:
          type: string
        extension:
          type: string
        employerAddress:
          $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Employeraddress'
      xml:
        name: Employment
      type: object
    OAT.Integrations.Cetera.DTOs.PrimaryAdvisor:
      properties:
        advisorId:
          type: integer
          format: int32
        firstname:
          type: string
        middlename:
          type: string
        lastname:
          type: string
        crdNumber:
          type: string
        isPrimary:
          type: boolean
        emails:
          items:
            type: string
          type: array
      xml:
        name: PrimaryAdvisor
      type: object
    OAT.Integrations.Cetera.DTOs.Trustedcontactinformation:
      properties:
        trustedContactId:
          type: integer
          format: int32
        isTrustedContactDeclined:
          type: boolean
        firstName:
          type: string
        lastName:
          type: string
        phoneNumber:
          type: string
        otherRelationshipDesc:
          type: string
        relationshipType:
          type: string
      xml:
        name: Trustedcontactinformation
      type: object
    OAT.Integrations.Cetera.DTOs.Address:
      properties:
        addressId:
          type: integer
          format: int32
        addressline1:
          type: string
        addressline2:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        zipcode:
          type: string
        addressType:
          type: string
        isPrimary:
          type: boolean
      xml:
        name: Address
      type: object
    OAT.Integrations.Cetera.DTOs.CompanyAffiliation:
      properties:
        companyName:
          type: string
        tradingSymbol:
          type: string
      xml:
        name: CompanyAffiliation
      type: object
    OAT.Integrations.Cetera.DTOs.Employeraddress:
      properties:
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        zip:
          type: string
      xml:
        name: Employeraddress
      type: object
    OAT.Integrations.Cetera.DTOs.Otherinvestments:
      properties:
        investments:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Investment'
          xml:
            name: Investment
            wrapped: true
          type: array
        clientDeclinedToDisclose:
          type: boolean
      xml:
        name: Otherinvestments
      type: object
    OAS.DataModel.Integration.Cetera.ClientSearch:
      properties:
        name:
          type: string
        orionRepId:
          type: integer
          format: int32
        status:
          type: string
        repCode:
          type: string
        ssn:
          type: string
        dob:
          type: string
        phoneNumber:
          type: string
        sortOrder:
          type: string
        sortBy:
          type: string
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
      xml:
        name: ClientSearch
      type: object
    OAT.Integrations.Cetera.DTOs.Investmentexperience:
      properties:
        experience:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Cetera.DTOs.Experience'
          xml:
            name: Experience
            wrapped: true
          type: array
      xml:
        name: Investmentexperience
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
