openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Representative Changes API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/RepresentativeChanges
paths:
  /v1/Portfolio/RepresentativeChanges/{representativeId}:
    get:
      tags:
      - Portfolio/RepresentativeChanges
      summary: Gets a list of representative changes for specific representative id
      operationId: RepresentativeChanges_GetRepresentativeChangesAsync
      parameters:
      - name: representativeId
        in: path
        description: Required. Representative Id.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: Cancellation token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      deprecated: true
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/RepresentativeChanges
      summary: Updates a list of representative changes for specific representative id
      operationId: RepresentativeChanges_UpdateRepresentativeChangesAsync
      parameters:
      - name: representativeId
        in: path
        description: Required. Representative Id.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: Cancellation token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      deprecated: true
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RepresentativeChangeDto'
              xml:
                name: RepresentativeChangeDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RepresentativeChangeDto'
              xml:
                name: RepresentativeChangeDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RepresentativeChangeDto'
              xml:
                name: RepresentativeChangeDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RepresentativeChangeDto'
              xml:
                name: RepresentativeChangeDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RepresentativeChangeDto'
              xml:
                name: RepresentativeChangeDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RepresentativeChangeDto'
              xml:
                name: RepresentativeChangeDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RepresentativeChangeDto'
              xml:
                name: RepresentativeChangeDto
                wrapped: true
              type: array
        description: Required. List of Rep changes to save
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.RepresentativeChangeSetDto:
      properties:
        entityType:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Rep
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Beneficiary
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QPEDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - Banking
          - RMD
          - Systematic
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - AdditionalRep
          - DownloadSource
          - DownloadRecord
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        oldEntityId:
          type: integer
          format: int32
        newEntityId:
          type: integer
          format: int32
        oldEntityName:
          type: string
        newEntityName:
          type: string
        actionType:
          type: string
          enum:
          - None
          - Inserted
          - Updated
          - Deleted
        isDeleted:
          type: boolean
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: RepresentativeChangeSetDto
      type: object
    OAS.WebApi.DTO.Portfolio.RepresentativeChangeDto:
      properties:
        id:
          type: integer
          format: int32
        representativeId:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
        changes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RepresentativeChangeSetDto'
          xml:
            name: RepresentativeChangeSetDto
            wrapped: true
          type: array
        auditedDate:
          type: string
          format: date-time
        auditedBy:
          type: string
      xml:
        name: RepresentativeChangeDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
