openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Download Sources API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/DownloadSources
paths:
  /v1/Confirm/DownloadSources:
    get:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_GetAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceDto'
                xml:
                  name: DownloadSourceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceDto'
                xml:
                  name: DownloadSourceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceDto'
                xml:
                  name: DownloadSourceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceDto'
                xml:
                  name: DownloadSourceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Download sources get all
      x-summary-source: derived
  /v1/Confirm/DownloadSources/{id}:
    get:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_GetItem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceDto'
      security:
      - Authorization: []
      summary: Download sources get item
      x-summary-source: derived
  /v1/Confirm/DownloadSources/{key}:
    delete:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_DeleteAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Download sources delete async
      x-summary-source: derived
  /v1/Confirm/DownloadSources/Audit:
    get:
      tags:
      - Confirm/DownloadSources
      summary: Retrieves the unencrypted columns from DownloadSourceHistory in order to view…
      operationId: DownloadSourceHistoryReader_GetDownloadSourceHistoryUnencryptedAsync
      parameters:
      - name: fromDate
        in: query
        description: AsOfDate must be greater than or equal to this date
        required: true
        schema:
          type: string
          format: date-time
      - name: downloadFormatIds
        in: query
        description: Inclusive filter for format ids
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
  /v1/Confirm/DownloadSources/List/Delete:
    put:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_PutV1ConfirmDownloadSourcesListDelete
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Download sources put V1 confirm download sources list delete
      x-summary-source: derived
  /v1/Confirm/DownloadSources/Properties:
    get:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_GetProperties
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Download sources get properties
      x-summary-source: derived
  /v1/Confirm/DownloadSources/Recon:
    get:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_GetReconAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: object
                type: array
            application/json:
              schema:
                items:
                  type: object
                type: array
            text/json:
              schema:
                items:
                  type: object
                type: array
            application/xml:
              schema:
                items:
                  type: object
                type: array
            text/xml:
              schema:
                items:
                  type: object
                type: array
            multipart/form-data:
              schema:
                items:
                  type: object
                type: array
      security:
      - Authorization: []
      summary: Download sources get recon all
      x-summary-source: derived
  /v1/Confirm/DownloadSources/Schedules:
    get:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSourceSchedules_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Download source schedules get
      x-summary-source: derived
  /v1/Confirm/DownloadSources/Schedules/Logs/Messages:
    get:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSourceQueueLog_GetMessages
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        required: false
        schema:
          type: string
      - name: downloadSourceId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceQueueLogMessageDto'
                xml:
                  name: DownloadSourceQueueLogMessageDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceQueueLogMessageDto'
                xml:
                  name: DownloadSourceQueueLogMessageDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceQueueLogMessageDto'
                xml:
                  name: DownloadSourceQueueLogMessageDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceQueueLogMessageDto'
                xml:
                  name: DownloadSourceQueueLogMessageDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceQueueLogMessageDto'
                xml:
                  name: DownloadSourceQueueLogMessageDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceQueueLogMessageDto'
                xml:
                  name: DownloadSourceQueueLogMessageDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Download source queue log get messages
      x-summary-source: derived
  /v1/Confirm/DownloadSources/Schedules/RunNow/{key}:
    put:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSourceSchedules_RunScheduleNowAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
      summary: Download source schedules run schedule now async
      x-summary-source: derived
  /v1/Confirm/DownloadSources/Simple:
    get:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_GetSimpleAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Download sources get simple all
      x-summary-source: derived
  /v1/Confirm/DownloadSources/Simple/Active:
    get:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_GetSimpleActiveAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Download sources get simple active all
      x-summary-source: derived
  /v1/Confirm/DownloadSources/Verbose:
    get:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_GetVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schedules
            - Logs
            - Defaults
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Download sources get verbose
      x-summary-source: derived
    put:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_UpdateVerboseListAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
              xml:
                name: DownloadSourceVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
              xml:
                name: DownloadSourceVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
              xml:
                name: DownloadSourceVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
              xml:
                name: DownloadSourceVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
              xml:
                name: DownloadSourceVerboseDto
                wrapped: true
              type: array
        required: true
      summary: Download sources update verbose list async
      x-summary-source: derived
    post:
      tags:
      - Confirm/DownloadSources
      summary: Create Download Source
      operationId: DownloadSources_CreateVerboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
        required: true
  /v1/Confirm/DownloadSources/Verbose/{key}:
    get:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_GetVerboseByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schedules
            - Logs
            - Defaults
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
      security:
      - Authorization: []
      summary: Download sources get verbose by key async
      x-summary-source: derived
    put:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_UpdateVerboseAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
        required: true
      summary: Download sources update verbose async
      x-summary-source: derived
  /v1/Confirm/DownloadSources/Verbose/Duplicate:
    post:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_CheckDuplicateUserIdPasswordAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
        required: true
      summary: Download sources check duplicate user id password async
      x-summary-source: derived
  /v1/Confirm/DownloadSources/Verbose/KeyFile/{key}:
    post:
      tags:
      - Confirm/DownloadSources
      summary: Adds the SFTP key file asynchronous
      description: 'Sample Request

        POST Confirm/DownloadSources/Verbose/KeyFile/1

        {

        file: (binary)

        }'
      operationId: DownloadSources_AddSftpKeyFileAsync
      parameters:
      - name: key
        in: path
        description: The key.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
        description: The file.
        required: true
  /v1/Confirm/DownloadSources/Verbose/List:
    post:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_GetVerboseListById
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schedules
            - Logs
            - Defaults
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Download sources get verbose list by id
      x-summary-source: derived
  /v1/Confirm/DownloadSources/Verbose/List/Id:
    post:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_PostV1ConfirmDownloadSourcesVerboseListId
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schedules
            - Logs
            - Defaults
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
                xml:
                  name: DownloadSourceVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Download sources post V1 confirm download sources verbose list id
      x-summary-source: derived
  /v1/Confirm/DownloadSources/Verbose/New:
    get:
      tags:
      - Confirm/DownloadSources
      operationId: DownloadSources_GetNewVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schedules
            - Logs
            - Defaults
            - All
      - name: downloadFormatId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: subtypeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto'
      security:
      - Authorization: []
      summary: Download sources get new verbose
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Confirm.DownloadSourceDefaultDto:
      properties:
        representativeId:
          type: integer
          format: int32
        riaId:
          type: integer
          format: int32
        fundFamilyId:
          type: integer
          format: int32
        registrationTypeId:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        shareClassId:
          type: integer
          format: int32
        platformId:
          type: integer
          format: int32
        subAdvisorId:
          type: integer
          format: int32
        createSweepAccts:
          type: boolean
        createTradeBlock:
          type: boolean
        notes:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        isDiscretionary:
          type: boolean
        isManaged:
          type: boolean
        modelAggId:
          type: integer
          format: int32
        businessLineId:
          type: integer
          format: int32
        isWrapManaged:
          type: boolean
        isWrapSponsored:
          type: boolean
        isAuaReportable:
          type: boolean
      xml:
        name: DownloadSourceDefaultDto
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.WebApi.DTO.Confirm.SourceFileDto:
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
      xml:
        name: SourceFileDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadSourceQueueLogDto:
      properties:
        id:
          type: integer
          format: int32
        downloadSourceId:
          type: integer
          format: int32
        messages:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceQueueLogMessageDto'
          xml:
            name: DownloadSourceQueueLogMessageDto
            wrapped: true
          type: array
        jobId:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: DownloadSourceQueueLogDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadSourceScheduleDto:
      properties:
        id:
          type: integer
          format: int32
        downloadSourceId:
          type: integer
          format: int32
        time:
          type: string
        skipHolidays:
          type: boolean
        scheduleConfiguration:
          type: string
      xml:
        name: DownloadSourceScheduleDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadSourceDto:
      properties:
        id:
          type: integer
          format: int32
        isActive:
          type: boolean
        downloadDescription:
          type: string
        downloadFormatId:
          type: integer
          format: int32
        downloadFormatSubTypeId:
          type: integer
          format: int32
        downloadFormat:
          type: string
        downloadSourceParentId:
          type: integer
          format: int32
        custodianCommon:
          type: string
        custodianCommonCode:
          type: string
        custodianCommonId:
          type: integer
          format: int32
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        serviceTeamReconId:
          type: integer
          format: int32
        serviceTeamRecon:
          type: string
        serviceTeamMemberId:
          type: integer
          format: int32
        transmitMethod:
          type: string
          enum:
          - Empty
          - None
          - FTP
          - DSTHTTP
          - Network
          - SFTP
          - FTPS
          - HTTPS
          - S3
        note:
          type: string
        registrationBaseNumber:
          type: integer
          format: int32
        url:
          type: string
        userId:
          type: string
        alClientId:
          type: integer
          format: int32
        clientName:
          type: string
        filePattern:
          type: string
        transPercTolerance:
          type: number
          format: double
        transDaysTolerance:
          type: integer
          format: int32
        deleteSourceFile:
          type: boolean
        cashCusip:
          type: string
        allowPriceImport:
          type: boolean
        allowSecondaryAcctCodeMatch:
          type: boolean
        allowAcctCodeMatch:
          type: boolean
        allowNameImport:
          type: boolean
        allowPositionImport:
          type: boolean
        allowTransactionImport:
          type: boolean
        allowSecurityImport:
          type: boolean
        allowCorpActionImport:
          type: boolean
        allowDivImport:
          type: boolean
        allowBankingImport:
          type: boolean
        allowDuplicateAssets:
          type: boolean
        allowProperName:
          type: boolean
        advReportable:
          type: boolean
        thirteenFReportable:
          type: boolean
        underReview:
          type: boolean
        principalAndIncome:
          type: boolean
        autoCreateStartingValues:
          type: boolean
        removeSettleDateTrades:
          type: boolean
        allowRMDImport:
          type: boolean
        allowBeneficiaryImport:
          type: boolean
        allowSystematicImport:
          type: boolean
        patternMatchType:
          type: string
          enum:
          - Included
          - Excluded
        baseAcctLength:
          type: integer
          format: int32
        useReversal:
          type: boolean
        allowTranDetailImport:
          type: boolean
        allowGenericImport:
          type: boolean
        allowCostBasisImport:
          type: boolean
        isAutoHouseholding:
          type: boolean
        isAcctCreation:
          type: boolean
        isUnVerifiedSells:
          type: boolean
        createTransactionInPendingStatus:
          type: boolean
        ignoreRepVerify:
          type: boolean
        doNotUseBulk:
          type: boolean
        altFilePattern:
          type: string
        allowPriceZero:
          type: boolean
        reconTargetTime:
          type: string
          format: date-time
        comparePositionValue:
          type: boolean
        newAccounts:
          type: string
          enum:
          - Default
          - DoNotCreate
          - Create
          - AutoExclude
        runAssetValueComparison:
          type: boolean
        alwaysCreateNewRegistration:
          type: boolean
        allowAcctCodeMatchWOZero:
          type: boolean
        isSourceExclusionCB:
          type: boolean
        isSourceExclusionTran:
          type: boolean
        noOrionPriceCopy:
          type: boolean
        namePercentMatch:
          type: number
          format: double
        positionPercentMatch:
          type: number
          format: double
        transactionPercentMatch:
          type: number
          format: double
        archiveFiles:
          type: boolean
        positionOnlyReconcile:
          type: string
          enum:
          - 'No'
          - 'Yes'
          - EnabledAccountsOnly
          - AIP
          - EnabledAccountsOnlyAIP
          - EnabledAccountsOnlyHAA
          - HAA
        dailyAccrualTolerance:
          type: number
          format: double
        isFixSmallBalance:
          type: boolean
        isDividendTransactionCombination:
          type: boolean
        newAccountCenterSuppression:
          type: boolean
        isOrionEnterpriseEnabled:
          type: boolean
        isSshEnabled:
          type: boolean
        isCreateJobSchedule:
          type: boolean
        nextScheduledRunDate:
          type: string
          format: date-time
        downloadSourceOptionJSON:
          type: string
        hasSftpKey:
          readOnly: true
          type: boolean
        password:
          type: string
        zipPassword:
          type: string
      xml:
        name: DownloadSourceDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Portfolio.DownloadSourceVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        portfolio:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceDto'
        schedules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceScheduleDto'
          xml:
            name: DownloadSourceScheduleDto
            wrapped: true
          type: array
        logs:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceQueueLogDto'
          xml:
            name: DownloadSourceQueueLogDto
            wrapped: true
          type: array
        defaults:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSourceDefaultDto'
      xml:
        name: DownloadSourceVerboseDto
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAS.WebApi.DTO.Confirm.DownloadSourceQueueLogMessageDto:
      properties:
        id:
          type: string
        time:
          type: string
          format: date-time
        message:
          type: string
      xml:
        name: DownloadSourceQueueLogMessageDto
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
