openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Product/Create Products API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Product/CreateProducts
paths:
  /v1/Product/CreateProducts:
    post:
      tags:
      - Product/CreateProducts
      operationId: Product_SyncProductToEclipseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CreateProductRequestDto'
              xml:
                name: CreateProductRequestDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CreateProductRequestDto'
              xml:
                name: CreateProductRequestDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CreateProductRequestDto'
              xml:
                name: CreateProductRequestDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CreateProductRequestDto'
              xml:
                name: CreateProductRequestDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CreateProductRequestDto'
              xml:
                name: CreateProductRequestDto
                wrapped: true
              type: array
        required: true
      summary: Product sync product to eclipse async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Trading.CreateProductRequestDto:
      properties:
        ticker:
          type: string
        name:
          type: string
      xml:
        name: CreateProductRequestDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
