openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Support API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Support
paths:
  /v1/Integrations/Support/IpRestrictions:
    put:
      tags:
      - Integrations/Support
      operationId: Support_UpsertIPRestriction
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
        required: true
      summary: Support upsert IP restriction
      x-summary-source: derived
    post:
      tags:
      - Integrations/Support
      operationId: Support_PostV1IntegrationsSupportIpRestrictions
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.AlClientIpRange'
              xml:
                name: AlClientIpRange
                wrapped: true
              type: array
        required: true
      summary: Support post V1 integrations support ip restrictions
      x-summary-source: derived
  /v1/Integrations/Support/IpRestrictions/{AlClient}:
    get:
      tags:
      - Integrations/Support
      operationId: Support_GetIPRestrictionAsync
      parameters:
      - name: AlClient
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Support get IP restriction async
      x-summary-source: derived
  /v1/Integrations/Support/IpRestrictions/{alClientId}:
    delete:
      tags:
      - Integrations/Support
      operationId: Support_DeleteIPRestriction
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Support delete IP restriction
      x-summary-source: derived
  /v1/Integrations/Support/IsContactUsV2Enabled:
    get:
      tags:
      - Integrations/Support
      operationId: Support_IsContactUsV2EnabledAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Support is contact us V2 enabled async
      x-summary-source: derived
  /v1/Integrations/Support/PartnerApp:
    put:
      tags:
      - Integrations/Support
      operationId: Support_CreatePartnerapp
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
        required: true
      summary: Support create partnerapp
      x-summary-source: derived
    post:
      tags:
      - Integrations/Support
      operationId: Support_PostV1IntegrationsSupportPartnerApp
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
        required: true
      summary: Support post V1 integrations support partner app
      x-summary-source: derived
  /v1/Integrations/Support/PartnerApp/{partnerappId}:
    get:
      tags:
      - Integrations/Support
      operationId: Support_GetPartnerapp
      parameters:
      - name: partnerappId
        in: path
        required: true
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Security.PartnerApp'
      security:
      - Authorization: []
      summary: Support get partnerapp
      x-summary-source: derived
    delete:
      tags:
      - Integrations/Support
      operationId: Support_DeletePartnerapp
      parameters:
      - name: partnerappId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Support delete partnerapp
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.Security.AlClientIpRange:
      required:
      - id
      - alClientId
      - loginEntityId
      - startAddress
      - endAddress
      - isBlacklist
      properties:
        id:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        loginEntityId:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        description:
          type: string
          maxLength: 255
          minLength: 0
        startAddress:
          type: string
          maxLength: 15
          minLength: 0
        endAddress:
          type: string
          maxLength: 15
          minLength: 0
        isBlacklist:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: AlClientIpRange
      type: object
    OAS.DataModel.Security.PartnerAppAdvisor:
      properties:
        id:
          type: integer
          format: int32
        partnerAppId:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        serviceCredentials:
          type: string
          maxLength: 8000
          minLength: 0
        acceptedTOS:
          type: boolean
        acceptedTOSUserId:
          type: string
        created:
          type: string
          format: date-time
      xml:
        name: PartnerAppAdvisor
      type: object
    OAS.DataModel.Security.PartnerAppIpRange:
      required:
      - id
      - partnerAppId
      - startAddress
      - endAddress
      - createdBy
      - createdDate
      - editedBy
      - editedDate
      properties:
        id:
          type: integer
          format: int32
        partnerAppId:
          type: integer
          format: int32
        description:
          type: string
          maxLength: 255
          minLength: 0
        startAddress:
          type: string
          maxLength: 15
          minLength: 0
          pattern: ^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$
        endAddress:
          type: string
          maxLength: 15
          minLength: 0
          pattern: ^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$
        isBlacklist:
          readOnly: true
          type: boolean
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
      xml:
        name: PartnerAppIpRange
      type: object
    OAS.DataModel.Portfolio.CustodianCommon:
      required:
      - id
      - code
      - name
      properties:
        id:
          type: integer
          format: int32
        code:
          type: string
          maxLength: 10
          minLength: 0
        name:
          type: string
          maxLength: 100
          minLength: 0
      xml:
        name: CustodianCommon
      type: object
    OAS.DataModel.Security.PartnerAppCustodianRestriction:
      required:
      - partnerAppId
      - custodianCommonId
      - createdDate
      - createdBy
      - editedDate
      - editedBy
      properties:
        partnerAppId:
          type: integer
          format: int32
        custodianCommonId:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
        custodianCommon:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.CustodianCommon'
      xml:
        name: PartnerAppCustodianRestriction
      type: object
    OAS.DataModel.Security.PartnerAppCustomUrl:
      required:
      - id
      - urlType
      - url
      - indexId
      properties:
        id:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        partnerAppId:
          type: integer
          format: int32
        urlType:
          type: string
          enum:
          - ResetPassword
          - PartnerAppRedirect
        url:
          type: string
        indexId:
          type: integer
          format: int32
      xml:
        name: PartnerAppCustomUrl
      type: object
    OAS.DataModel.Security.PartnerApp:
      required:
      - id
      - partnerName
      - productName
      - enabled
      - useIpRestrictions
      - useCustodianRestrictions
      - clientSecret
      - createdDate
      - createdBy
      - editedDate
      - editedBy
      - defaultRefreshTokenLifetime
      - partnerAppType
      properties:
        id:
          type: integer
          format: int32
        partnerName:
          type: string
          maxLength: 255
          minLength: 0
        productName:
          type: string
          maxLength: 255
          minLength: 0
        productDescription:
          type: string
          maxLength: 2000
          minLength: 0
        enabled:
          type: boolean
        useIpRestrictions:
          type: boolean
        useCustodianRestrictions:
          type: boolean
        clientSecret:
          type: string
          maxLength: 100
          minLength: 0
        contactName:
          type: string
          maxLength: 255
          minLength: 0
        contactPhone:
          type: string
          maxLength: 50
          minLength: 0
        contactEmail:
          type: string
          maxLength: 50
          minLength: 0
        supportName:
          type: string
          maxLength: 255
          minLength: 0
        supportPhone:
          type: string
          maxLength: 50
          minLength: 0
        supportEmail:
          type: string
          maxLength: 50
          minLength: 0
        homePageURL:
          type: string
          maxLength: 255
          minLength: 0
        learnMorePath:
          type: string
          maxLength: 255
          minLength: 0
        productLogo:
          type: string
          format: byte
        termsOfService:
          type: string
          maxLength: 255
          minLength: 0
        securityCode:
          type: string
          maxLength: 25
          minLength: 0
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
        defaultRefreshTokenLifetime:
          type: integer
          format: int32
          maximum: 9000
          minimum: 0
        smallProductLogo:
          type: string
          format: byte
        partnerAppType:
          type: integer
          format: int32
        productShortDescription:
          type: string
          maxLength: 80
          minLength: 0
        connectLevel:
          type: string
          enum:
          - None
          - DevOrTestOnly
          - Testers
          - Administrators
          - Advisors
          - Users
        implementationStatus:
          type: string
          enum:
          - NotImplemented
          - InDevelopment
          - InTesting
          - Implemented
        jobId:
          type: integer
          format: int32
        privilegeId:
          type: integer
          format: int32
        confirmEmailTo:
          type: string
        scopes:
          type: string
        certificateThumbprint:
          type: string
        certificateSerialNumber:
          type: string
        certificateEffectiveDateUtc:
          type: string
          format: date-time
        certificateExpirationUtc:
          type: string
          format: date-time
        samlIssuer:
          type: string
        publicCertificate:
          type: string
        custodianRestrictions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppCustodianRestriction'
          xml:
            name: PartnerAppCustodianRestriction
            wrapped: true
          type: array
        ipRanges:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppIpRange'
          xml:
            name: PartnerAppIpRange
            wrapped: true
          type: array
        urlWhitelist:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
          xml:
            name: PartnerAppUrlWhitelist
            wrapped: true
          type: array
        samlDomains:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppSamlEmailDomain'
          xml:
            name: PartnerAppSamlEmailDomain
            wrapped: true
          type: array
        refreshTokens:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUser'
          xml:
            name: PartnerAppUser
            wrapped: true
          type: array
        advisors:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppAdvisor'
          xml:
            name: PartnerAppAdvisor
            wrapped: true
          type: array
        customUrls:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppCustomUrl'
          xml:
            name: PartnerAppCustomUrl
            wrapped: true
          type: array
      xml:
        name: PartnerApp
      type: object
    OAS.DataModel.Security.PartnerAppSamlEmailDomain:
      required:
      - id
      - partnerAppId
      - emailDomain
      properties:
        id:
          type: integer
          format: int32
        partnerAppId:
          type: integer
          format: int32
        emailDomain:
          type: string
      xml:
        name: PartnerAppSamlEmailDomain
      type: object
    OAS.DataModel.Security.PartnerAppUser:
      required:
      - partnerAppId
      - userId
      - refreshToken
      - expirationDate
      - isRevolked
      properties:
        partnerAppId:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        refreshToken:
          type: string
          maxLength: 100
          minLength: 0
        expirationDate:
          type: string
          format: date-time
        isRevolked:
          type: boolean
      xml:
        name: PartnerAppUser
      type: object
    OAS.DataModel.Security.PartnerAppUrlWhitelist:
      required:
      - id
      - partnerAppId
      - url
      - sslRequired
      properties:
        id:
          type: integer
          format: int32
        partnerAppId:
          type: integer
          format: int32
        url:
          type: string
        sslRequired:
          type: boolean
      xml:
        name: PartnerAppUrlWhitelist
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
