openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Settings/Apps API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Settings/Apps
paths:
  /v1/Settings/Apps:
    get:
      tags:
      - Settings/Apps
      summary: Gets a list of apps that the logged in user has access to.
      operationId: Apps_Get
      parameters:
      - name: hasOptions
        in: query
        description: 'Optional. Default: null. If true return only the apps that have options, when false return only the apps that do not have options.'
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Settings/Apps
      summary: Used to create a new app.
      operationId: Apps_CreateApp
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
        required: true
  /v1/Settings/Apps/{appCode}:
    get:
      tags:
      - Settings/Apps
      summary: Gets the app that has the provided key.
      operationId: Apps_GetV1SettingsAppsByAppCode
      parameters:
      - name: appCode
        in: path
        description: AppCode of the desired return object.
        required: true
        schema:
          type: string
      - name: showAllPages
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
      security:
      - Authorization: []
    put:
      tags:
      - Settings/Apps
      summary: Used to update an existing app.
      operationId: Apps_UpdateApp
      parameters:
      - name: appCode
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppFullDto'
        required: true
    delete:
      tags:
      - Settings/Apps
      summary: Used to delete an existing app. Upon successful deletion a 204 will be returned
      operationId: Apps_DeleteApp
      parameters:
      - name: appCode
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Settings/Apps/{appCode}/Options:
    get:
      tags:
      - Settings/Apps
      summary: Gets all app options for the app with the provided appCode.
      operationId: AppOptions_GetOptions
      parameters:
      - name: appCode
        in: path
        description: AppCode of the desired return object.
        required: true
        schema:
          type: string
      - name: level
        in: query
        description: 'Optional. Default: User. The level to return a value for can be User, Advisor, or Default.'
        required: false
        schema:
          type: string
          enum:
          - User
          - Advisor
          - Default
          default: 102
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
                xml:
                  name: AppOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
                xml:
                  name: AppOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
                xml:
                  name: AppOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
                xml:
                  name: AppOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
                xml:
                  name: AppOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
                xml:
                  name: AppOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Settings/Apps
      summary: Updates an array of AppOptions
      operationId: AppOptions_UpdateList
      parameters:
      - name: appCode
        in: path
        description: Application Code
        required: true
        schema:
          type: string
      - name: level
        in: query
        description: The level the options will be stored (Default, User, or Advisor)
        required: false
        schema:
          type: string
          enum:
          - User
          - Advisor
          - Default
          default: 102
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
                xml:
                  name: AppOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
                xml:
                  name: AppOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
                xml:
                  name: AppOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
                xml:
                  name: AppOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
                xml:
                  name: AppOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
                xml:
                  name: AppOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
              xml:
                name: AppOptionDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
              xml:
                name: AppOptionDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
              xml:
                name: AppOptionDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
              xml:
                name: AppOptionDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
              xml:
                name: AppOptionDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
              xml:
                name: AppOptionDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
              xml:
                name: AppOptionDto
                wrapped: true
              type: array
        description: Body contains the list of options for update.
        required: true
  /v1/Settings/Apps/{appCode}/Options/{optionName}:
    get:
      tags:
      - Settings/Apps
      summary: Gets the app option that has the provided name.
      operationId: AppOptions_GetByOptionName
      parameters:
      - name: appCode
        in: path
        description: The AppCode form tblApp that indicates what application the app option is for.
        required: true
        schema:
          type: string
      - name: optionName
        in: path
        description: Name of the option to return.
        required: true
        schema:
          type: string
      - name: level
        in: query
        description: 'Optional. Default: User. The level to return a value for can be User, Advisor, or Default.'
        required: false
        schema:
          type: string
          enum:
          - User
          - Advisor
          - Default
          default: 102
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
      security:
      - Authorization: []
    put:
      tags:
      - Settings/Apps
      summary: Used to update an existing app option value.
      operationId: AppOptions_Update
      parameters:
      - name: appCode
        in: path
        description: The AppCode form tblApp that indicates what application the app option is for.
        required: true
        schema:
          type: string
      - name: optionName
        in: path
        description: Name of the option to return.
        required: true
        schema:
          type: string
      - name: level
        in: query
        description: 'Optional. Default: User. The level to return a value for can be User or Advisor.'
        required: false
        schema:
          type: string
          enum:
          - User
          - Advisor
          - Default
          default: 102
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
        required: true
    delete:
      tags:
      - Settings/Apps
      summary: Used to delete an existing app option value.
      operationId: AppOptions_Delete
      parameters:
      - name: appCode
        in: path
        required: true
        schema:
          type: string
      - name: optionName
        in: path
        description: Name of the option to return.
        required: true
        schema:
          type: string
      - name: level
        in: query
        description: 'Optional. Default: User. The level to return a value for can be User or Advisor.'
        required: false
        schema:
          type: string
          enum:
          - User
          - Advisor
          - Default
          default: 102
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDto'
      security:
      - Authorization: []
  /v1/Settings/Apps/ContextualLinks:
    get:
      tags:
      - Settings/Apps
      operationId: Apps_GetContextualLinks
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppContextualLinkDto'
                xml:
                  name: AppContextualLinkDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppContextualLinkDto'
                xml:
                  name: AppContextualLinkDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppContextualLinkDto'
                xml:
                  name: AppContextualLinkDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppContextualLinkDto'
                xml:
                  name: AppContextualLinkDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppContextualLinkDto'
                xml:
                  name: AppContextualLinkDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppContextualLinkDto'
                xml:
                  name: AppContextualLinkDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Apps get contextual links
      x-summary-source: derived
  /v1/Settings/Apps/Pages/{search}:
    get:
      tags:
      - Settings/Apps
      operationId: Apps_GetPagesForApp
      parameters:
      - name: search
        in: path
        required: true
        schema:
          type: string
      - name: showAllPages
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: object
                type: array
            application/json:
              schema:
                items:
                  type: object
                type: array
            text/json:
              schema:
                items:
                  type: object
                type: array
            application/xml:
              schema:
                items:
                  type: object
                type: array
            text/xml:
              schema:
                items:
                  type: object
                type: array
            multipart/form-data:
              schema:
                items:
                  type: object
                type: array
      security:
      - Authorization: []
      summary: Apps get pages for app
      x-summary-source: derived
  /v1/Settings/Apps/Search:
    get:
      tags:
      - Settings/Apps
      summary: Gets a list of apps that the logged in user has access to where the app name or…
      operationId: Apps_GetAppSearch
      parameters:
      - name: search
        in: query
        description: Name or tags to search for.
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: 'Optional. Default: null. The maximum number of products to return. If null returns all.'
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: 'Optional. Default: 0. Defines number of items to skip.'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/Apps/Search/{search}:
    get:
      tags:
      - Settings/Apps
      summary: Gets a list of apps that the logged in user has access to where the app name or…
      operationId: Apps_GetV1SettingsAppsSearchBySearch
      parameters:
      - name: search
        in: path
        description: Name or tags to search for.
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: 'Optional. Default: null. The maximum number of products to return. If null returns all.'
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: 'Optional. Default: 0. Defines number of items to skip.'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppDto'
                xml:
                  name: AppDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/Apps/User:
    get:
      tags:
      - Settings/Apps
      operationId: Apps_GetAppForCurrentUser
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: audienceExclusion
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - WorkflowAssistant
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apps get app for current user
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Settings.AppContextualLinkDto:
      properties:
        name:
          type: string
        category:
          type: string
        description:
          type: string
        routeUrl:
          type: string
        parameters:
          type: string
      xml:
        name: AppContextualLinkDto
      type: object
    OAS.WebApi.DTO.Authorization.ServiceTeamDto:
      properties:
        id:
          type: integer
          format: int32
        team:
          type: string
        emailAddress:
          type: string
        phone:
          type: string
        assignedDatabaseCount:
          type: integer
          format: int32
        memberCount:
          type: integer
          format: int32
        teamType:
          type: string
          enum:
          - ServiceTeam
          - ReconTeam
          - ApplicationTeam
          - AlternateApplicationTeam
          - RemovedServiceTeam
        chatUrl:
          type: string
        firmChatRouteId:
          type: string
        chatRouteIntendedRecipient:
          type: string
      xml:
        name: ServiceTeamDto
      type: object
    OAS.WebApi.DTO.Settings.AppOptionDefaultDto:
      properties:
        id:
          type: integer
          format: int32
        parentAppOptionId:
          type: integer
          format: int32
        category:
          type: string
        displayName:
          type: string
        name:
          type: string
        description:
          type: string
        defaultValue:
          type: string
        controlType:
          type: string
        canUserOverride:
          type: boolean
      xml:
        name: AppOptionDefaultDto
      type: object
    OAS.WebApi.DTO.Settings.AppDto:
      properties:
        appCode:
          type: string
        name:
          type: string
        description:
          type: string
        category:
          type: string
        tags:
          type: string
        routeUrl:
          type: string
        securityCode:
          type: string
        imageName:
          type: string
        color:
          type: string
        isActive:
          type: boolean
        ssoType:
          type: string
          enum:
          - None
          - SameTabRedirect
          - Portal
          - FormPost
          - NewTabRedirect
          - AdvisoryWorld
          - ByAllRep
          - Schwab
          - Pershing
          - GoldmanSachs
        userOptionCount:
          description: Indicates the count of options for this App, the User can set.
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
      xml:
        name: AppDto
      type: object
    OAS.WebApi.DTO.Settings.AppFullDto:
      properties:
        appCode:
          type: string
        name:
          type: string
        description:
          type: string
        category:
          type: string
        tags:
          type: string
        routeUrl:
          type: string
        securityCode:
          type: string
        imageName:
          type: string
        color:
          type: string
        isActive:
          type: boolean
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        ssoType:
          type: string
          enum:
          - None
          - SameTabRedirect
          - Portal
          - FormPost
          - NewTabRedirect
          - AdvisoryWorld
          - ByAllRep
          - Schwab
          - Pershing
          - GoldmanSachs
        teamId:
          type: integer
          format: int32
        parameters:
          type: string
        privilegeId:
          type: integer
          format: int32
        audienceExclusion:
          type: string
          enum:
          - None
          - WorkflowAssistant
        teamInfo:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Authorization.ServiceTeamDto'
        options:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppOptionDefaultDto'
          xml:
            name: AppOptionDefaultDto
            wrapped: true
          type: array
        categories:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppCategoryDefaultDto'
          xml:
            name: AppCategoryDefaultDto
            wrapped: true
          type: array
      xml:
        name: AppFullDto
      type: object
    OAS.WebApi.DTO.Settings.AppPageDefaultDto:
      properties:
        id:
          type: integer
          format: int32
        pageCode:
          type: string
        name:
          type: string
        description:
          type: string
        routeUrl:
          type: string
        securityCode:
          type: string
        includeByDefault:
          type: boolean
        parameters:
          type: string
        helpText:
          type: string
        privilegeId:
          type: integer
          format: int32
        sortOrder:
          type: integer
          format: int32
        audienceExclusion:
          type: string
          enum:
          - None
          - WorkflowAssistant
      xml:
        name: AppPageDefaultDto
      type: object
    OAS.WebApi.DTO.Settings.AppOptionDto:
      properties:
        id:
          type: integer
          format: int32
        parentAppOptionId:
          type: integer
          format: int32
        category:
          type: string
        displayName:
          type: string
        name:
          type: string
        description:
          type: string
        value:
          type: string
        controlType:
          type: string
        canUserOverride:
          type: boolean
      xml:
        name: AppOptionDto
      type: object
    OAS.WebApi.DTO.Settings.AppCategoryDefaultDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        iconName:
          type: string
        sortOrder:
          type: integer
          format: int32
        audienceExclusion:
          type: string
          enum:
          - None
          - WorkflowAssistant
        pages:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.AppPageDefaultDto'
          xml:
            name: AppPageDefaultDto
            wrapped: true
          type: array
      xml:
        name: AppCategoryDefaultDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
