openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Compliance/Audit Tests API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Compliance/AuditTests
paths:
  /v1/Compliance/AuditTests/{auditTestResultId}/ResultRows:
    get:
      tags:
      - Compliance/AuditTests
      summary: Get a list of Result Rows by Restult Id
      operationId: AuditTest_GetResultRowsAsync
      parameters:
      - name: auditTestResultId
        in: path
        description: Id of the result set
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Compliance/AuditTests/{AuditTestResultId}/ResultRows/{cacheKey}:
    get:
      tags:
      - Compliance/AuditTests
      summary: Retrieve the previously generated slick grid result
      operationId: AuditTest_GetResultRowsCached
      parameters:
      - name: AuditTestResultId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cacheKey
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Compliance/AuditTests/{testResultId}/DownloadAllAttachments:
    get:
      tags:
      - Compliance/AuditTests
      summary: Download All Attachments for the testResultId
      operationId: AuditTest_DownloadAllAttachments
      parameters:
      - name: testResultId
        in: path
        description: BlobId
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Compliance/AuditTests/{testResultRowId}/DownloadAttachments:
    get:
      tags:
      - Compliance/AuditTests
      summary: Download a single attachment
      operationId: AuditTest_DownloadAttachments
      parameters:
      - name: testResultRowId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Compliance/AuditTests/ActiveSchedule:
    put:
      tags:
      - Compliance/AuditTests
      summary: End a test schedule
      operationId: AuditTest_ActiveScheduleAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
        description: Schedule to be ended
        required: true
  /v1/Compliance/AuditTests/Categories:
    get:
      tags:
      - Compliance/AuditTests
      summary: Get a list of categories Optional Filter Parameters
      operationId: AuditTest_GetCategories
      parameters:
      - name: manage
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
                xml:
                  name: AuditTestCategoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
                xml:
                  name: AuditTestCategoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
                xml:
                  name: AuditTestCategoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
                xml:
                  name: AuditTestCategoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
                xml:
                  name: AuditTestCategoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
                xml:
                  name: AuditTestCategoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Compliance/AuditTests/Category:
    put:
      tags:
      - Compliance/AuditTests
      summary: Update category name item
      operationId: AuditTest_UpdateCategories
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestCategoryDto'
        description: list of categories
        required: true
  /v1/Compliance/AuditTests/Category/{key}:
    delete:
      tags:
      - Compliance/AuditTests
      summary: Delete an test template item
      operationId: AuditTest_DeleteCategory
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
  /v1/Compliance/AuditTests/DefaultSchedule:
    post:
      tags:
      - Compliance/AuditTests
      summary: Create a schedule based on a template
      operationId: AuditTest_AddDefaultScheduleAsync
      parameters:
      - name: templateId
        in: query
        description: The template identifier.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      - name: dbId
        in: query
        description: The database identifier.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
      security:
      - Authorization: []
  /v1/Compliance/AuditTests/EndSchedule:
    put:
      tags:
      - Compliance/AuditTests
      summary: End a test schedule
      operationId: AuditTest_EndScheduleAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
        description: Schedule to be ended
        required: true
  /v1/Compliance/AuditTests/Result/Completed/{isCompleted}:
    put:
      tags:
      - Compliance/AuditTests
      summary: Set Archive Flag on Restult Record
      operationId: AuditTest_Archive
      parameters:
      - name: isCompleted
        in: path
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.AuditTestController.CompletedListDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.AuditTestController.CompletedListDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.AuditTestController.CompletedListDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.AuditTestController.CompletedListDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.AuditTestController.CompletedListDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.AuditTestController.CompletedListDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Compliance.AuditTestController.CompletedListDto'
        required: true
  /v1/Compliance/AuditTests/ResultRow:
    put:
      tags:
      - Compliance/AuditTests
      summary: Update a single Row Details
      operationId: AuditTest_UpdateRowAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
        description: Object to be updated
        required: true
  /v1/Compliance/AuditTests/ResultRow/{auditTestResultRowId}/DeleteAttachment/{blobId}:
    delete:
      tags:
      - Compliance/AuditTests
      summary: Delete a single attachment
      operationId: AuditTest_DeleteItemAttachment
      parameters:
      - name: auditTestResultRowId
        in: path
        description: Audit test restult row id
        required: true
        schema:
          type: integer
          format: int32
      - name: blobId
        in: path
        description: Blob Id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
  /v1/Compliance/AuditTests/ResultRow/{id}:
    get:
      tags:
      - Compliance/AuditTests
      summary: Get a single result record by id
      operationId: AuditTest_GetResultRow
      parameters:
      - name: id
        in: path
        description: Id of the result set
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
      security:
      - Authorization: []
  /v1/Compliance/AuditTests/ResultRow/Action/Update/{reviewed}:
    put:
      tags:
      - Compliance/AuditTests
      operationId: AuditTest_UpdateRows
      parameters:
      - name: reviewed
        in: path
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
                xml:
                  name: AuditTestResultRowDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
                xml:
                  name: AuditTestResultRowDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
                xml:
                  name: AuditTestResultRowDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
                xml:
                  name: AuditTestResultRowDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Audit test update rows
      x-summary-source: derived
  /v1/Compliance/AuditTests/ResultRow/Action/Update/Comment:
    put:
      tags:
      - Compliance/AuditTests
      operationId: AuditTest_PutV1ComplianceAuditTestsResultRowActionUpdateComment
      parameters:
      - name: comment
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Compliance.AuditTestResultRow'
                xml:
                  name: AuditTestResultRow
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Compliance.AuditTestResultRow'
                xml:
                  name: AuditTestResultRow
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Compliance.AuditTestResultRow'
                xml:
                  name: AuditTestResultRow
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Compliance.AuditTestResultRow'
                xml:
                  name: AuditTestResultRow
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Audit test put V1 compliance audit tests result row action update comment
      x-summary-source: derived
  /v1/Compliance/AuditTests/ResultRow/Action/Update/Exception/{isException}:
    put:
      tags:
      - Compliance/AuditTests
      operationId: AuditTest_UpdateRowsAsExceptions
      parameters:
      - name: isException
        in: path
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
                xml:
                  name: AuditTestResultRowDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
                xml:
                  name: AuditTestResultRowDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
                xml:
                  name: AuditTestResultRowDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultRowDto'
                xml:
                  name: AuditTestResultRowDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Audit test update rows as exceptions
      x-summary-source: derived
  /v1/Compliance/AuditTests/ResultRow/CommentHistory/{key}:
    get:
      tags:
      - Compliance/AuditTests
      summary: Get a list of comment history for result row
      operationId: AuditTest_GetResultRowCommentHistory
      parameters:
      - name: key
        in: path
        description: Id of the result set
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Compliance.AuditTestResultCommentHistory'
                xml:
                  name: AuditTestResultCommentHistory
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Compliance.AuditTestResultCommentHistory'
                xml:
                  name: AuditTestResultCommentHistory
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Compliance.AuditTestResultCommentHistory'
                xml:
                  name: AuditTestResultCommentHistory
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Compliance.AuditTestResultCommentHistory'
                xml:
                  name: AuditTestResultCommentHistory
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Compliance.AuditTestResultCommentHistory'
                xml:
                  name: AuditTestResultCommentHistory
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Compliance.AuditTestResultCommentHistory'
                xml:
                  name: AuditTestResultCommentHistory
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Compliance/AuditTests/ResultRow/Exceptions:
    get:
      tags:
      - Compliance/AuditTests
      summary: Gets the exception result rows
      operationId: AuditTest_GetExceptionResultRowsAsync
      parameters:
      - name: token
        in: header
        required: true
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestExceptionResultRowDto'
                xml:
                  name: AuditTestExceptionResultRowDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestExceptionResultRowDto'
                xml:
                  name: AuditTestExceptionResultRowDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestExceptionResultRowDto'
                xml:
                  name: AuditTestExceptionResultRowDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestExceptionResultRowDto'
                xml:
                  name: AuditTestExceptionResultRowDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        required: true
  /v1/Compliance/AuditTests/Results:
    post:
      tags:
      - Compliance/AuditTests
      summary: Populate the Slick Grid Optional Filter Parameters
      operationId: AuditTest_GetAsync
      parameters:
      - name: token
        in: header
        required: true
      - name: completed
        in: query
        required: false
        schema:
          type: boolean
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
                xml:
                  name: AuditTestResultDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
                xml:
                  name: AuditTestResultDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
                xml:
                  name: AuditTestResultDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
                xml:
                  name: AuditTestResultDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
                xml:
                  name: AuditTestResultDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
                xml:
                  name: AuditTestResultDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        required: true
  /v1/Compliance/AuditTests/Results/{auditTestResultId}:
    get:
      tags:
      - Compliance/AuditTests
      summary: Get a single Result for breadcrumb Optional Filter Parameters
      operationId: AuditTest_Get
      parameters:
      - name: auditTestResultId
        in: path
        description: id of results to be returned
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
      security:
      - Authorization: []
    put:
      tags:
      - Compliance/AuditTests
      summary: Update a single result record
      operationId: AuditTest_UpdateResult
      parameters:
      - name: auditTestResultId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
        description: Object to be Updated
        required: true
  /v1/Compliance/AuditTests/RunTest:
    post:
      tags:
      - Compliance/AuditTests
      summary: Update a schedule
      operationId: AuditTest_RunTestAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestResultDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
        description: Object to be added
        required: true
  /v1/Compliance/AuditTests/Schedule:
    put:
      tags:
      - Compliance/AuditTests
      summary: Update a schedule
      operationId: AuditTest_UpdateScheduleAsync
      parameters:
      - name: token
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
        description: Object to be updated
        required: true
    post:
      tags:
      - Compliance/AuditTests
      summary: Update a schedule
      operationId: AuditTest_AddScheduleAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
        description: Object to be added
        required: true
  /v1/Compliance/AuditTests/Schedules:
    post:
      tags:
      - Compliance/AuditTests
      summary: Get a list of schedules
      operationId: AuditTest_GetSchedulesAsync
      parameters:
      - name: isActive
        in: query
        required: true
        schema:
          type: boolean
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
                xml:
                  name: AuditTestScheduleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
                xml:
                  name: AuditTestScheduleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
                xml:
                  name: AuditTestScheduleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
                xml:
                  name: AuditTestScheduleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
                xml:
                  name: AuditTestScheduleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestScheduleDto'
                xml:
                  name: AuditTestScheduleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        required: true
  /v1/Compliance/AuditTests/Template:
    post:
      tags:
      - Compliance/AuditTests
      summary: Create new test template
      operationId: AuditTest_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
        description: Object to be created
        required: true
  /v1/Compliance/AuditTests/Template/{key}:
    get:
      tags:
      - Compliance/AuditTests
      summary: Get a specific template by id
      operationId: AuditTest_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
      security:
      - Authorization: []
    put:
      tags:
      - Compliance/AuditTests
      summary: Update test template
      operationId: AuditTest_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
        description: Object to be updated
        required: true
    delete:
      tags:
      - Compliance/AuditTests
      summary: Delete an test template item
      operationId: AuditTest_ActionDelete
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
  /v1/Compliance/AuditTests/Templates/List:
    post:
      tags:
      - Compliance/AuditTests
      summary: List of all templates
      operationId: AuditTest_GetTemplates
      parameters:
      - name: entity
        in: query
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      - name: categoryId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
                xml:
                  name: AuditTestTemplateDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
                xml:
                  name: AuditTestTemplateDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
                xml:
                  name: AuditTestTemplateDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
                xml:
                  name: AuditTestTemplateDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
                xml:
                  name: AuditTestTemplateDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.AuditTestTemplateDto'
                xml:
                  name: AuditTestTemplateDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ComplianceFilterDto'
              xml:
                name: ComplianceFilterDto
                wrapped: true
              type: array
        required: true
components:
  schemas:
    OAS.DataModel.Portfolio.AccountRmdCalculationSummary:
      required:
      - accountId
      - endOfPreviousYearAccountValue
      - endOfPreviousYearAccountValueIsCalculated
      - calculatedEndOfPreviousYearAccountValue
      - rmdSatisfiedIsCalculated
      properties:
        accountId:
          type: integer
          format: int32
        rmdAmount:
          type: number
          format: double
        rmdOriginalAmount:
          type: number
          format: double
        ytdTotal:
          type: number
          format: double
        endOfPreviousYearAccountValue:
          type: number
          format: double
        endOfPreviousYearAccountValueIsCalculated:
          type: boolean
        calculatedEndOfPreviousYearAccountValue:
          type: number
          format: double
        amountRemaining:
          type: number
          format: double
        amountRemainingGroup:
          type: number
          format: double
        amountRemainingGroupApplied:
          type: number
          format: double
        investorAge:
          type: number
          format: double
        primaryBeneficiaryName:
          type: string
          maxLength: 255
          minLength: 0
        primaryBeneficiaryAge:
          type: number
          format: double
        primaryBeneficiaryRelation:
          type: string
          maxLength: 30
          minLength: 0
        onTrack:
          type: boolean
        rmdEligible:
          type: boolean
        irsTable:
          type: string
          maxLength: 26
          minLength: 0
        factor:
          type: number
          format: double
        rmdSatisfied:
          type: boolean
        rmdSatisfiedIsCalculated:
          type: boolean
        rmdNotes:
          type: string
        recalculated:
          type: boolean
        secureActRule:
          type: string
          enum:
          - IraSpouseBeneficiary10YearsYounger
          - IraTraditional
          - Unknown
          - DecedentPreSecureAct
          - SpouseDecedentDiedBeforeRBD
          - SpouseDecedentDiedAfterRBDYounger
          - SpouseDecedentDiedAfterRBDOlder
          - NonSpouseDecedentDiedBeforeRBD
          - NonSpouseDecedentDiedAfterRBDYounger
          - NonSpouseDecedentDiedAfterRBDOlder
          - MinorYoungerThan31
          - MinorNotYoungerThan31
          - NotEligibleDesignatedBeneficiaryDeathBeforeRbd
          - NonPersonDecedentDiedBeforeRBD
          - NonPersonDecedentDiedAfterRBD
          - ForcedEDBDiedBeforeRBD0To10Younger
          - ForcedEDBDiedAfterRBD0To10Younger
          - TenYearOverride
          - NonEdbDeathAfter2020
          - TenYearOverrideDeathBeforeRbd
          - TenYearOverrideDeathAfterRbd
          - NotEligibleDesignatedBeneficiaryDeathAfterRbd
          - SpouseAsSoleBeneficieryButNotReachedRmdAge73
          - SpouseAsSoleBeneficieryButNotReachedRmdAge75
          - NonInitialInheritorBira
          - PreSecureActNonSpouseDecedentDiedAfterRbd
        source:
          type: string
        isCustodial:
          type: boolean
        custodialAccountNumber:
          type: string
          maxLength: 50
          minLength: 0
        moneyMarketValue:
          type: number
          format: double
        rmdNote:
          type: string
      xml:
        name: AccountRmdCalculationSummary
      type: object
    OAS.DataModel.Portfolio.RegistrationValue:
      required:
      - registrationId
      - asOfDate
      properties:
        registrationId:
          type: integer
          format: int32
        asOfDate:
          type: integer
          format: int32
        value:
          type: number
          format: double
        cashValue:
          type: number
          format: double
      xml:
        name: RegistrationValue
      type: object
    OAS.DataModel.Portfolio.AdditionalContact:
      required:
      - id
      - lastName
      - entityName
      - entityType
      properties:
        id:
          type: integer
          format: int32
        firstName:
          type: string
          maxLength: 30
          minLength: 0
        lastName:
          type: string
          maxLength: 255
          minLength: 0
        entityName:
          type: string
          maxLength: 255
          minLength: 0
        address:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.Address'
        homePhone:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.FullPhoneNumber'
        businessPhone:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.FullPhoneNumber'
        mobilePhone:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.PhoneNumber'
        fax:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.FullPhoneNumber'
        otherPhone:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.FullPhoneNumber'
        pager:
          $ref: '#/components/schemas/OAS.DataModel.ComplexTypes.FullPhoneNumber'
        email:
          type: string
          maxLength: 200
          minLength: 0
        webAddress:
          type: string
          maxLength: 255
          minLength: 0
        salutation:
          type: string
          maxLength: 50
          minLength: 0
        ssN_TaxID:
          type: string
          maxLength: 15
          minLength: 0
        dob:
          type: string
          maxLength: 20
          minLength: 0
        birthDate:
          readOnly: true
          type: string
          format: date-time
        isSmoker:
          type: boolean
        gender:
          type: string
          maxLength: 1
          minLength: 0
        marital:
          type: string
          maxLength: 50
          minLength: 0
        prefix:
          type: string
          maxLength: 50
          minLength: 0
        suffix:
          type: string
          maxLength: 50
          minLength: 0
        entityType:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        audit:
          $ref: '#/components/schemas/OAT.DataModel.ComplexTypes.BasicAuditNullNull'
        parentId:
          type: integer
          format: int32
        personalDesc:
          type: string
          maxLength: 50
          minLength: 0
        isActive:
          type: boolean
        jobTitle:
          type: string
          maxLength: 200
          minLength: 0
        isBlockedPersonOverride:
          type: boolean
        isUSCitizen:
          type: boolean
        company:
          type: string
          maxLength: 255
          minLength: 0
        twitterUsername:
          type: string
          maxLength: 50
          minLength: 0
        facebookUrl:
          type: string
          maxLength: 8000
          minLength: 0
        blobPhotoId:
          type: integer
          format: int32
        reportName:
          type: string
          maxLength: 255
          minLength: 0
      xml:
        name: AdditionalContact
      type: object
    OAS.DataModel.Billing.BillAccountItem:
      required:
      - id
      - billAccountId
      - billStatusId
      - billTypeId
      - calcDate
      - editedDate
      - editedBy
      - createdDate
      - createdBy
      - isValid
      - buildComplete
      - isLocked
      - appliedAdjustment
      - transferMarketValue
      properties:
        id:
          type: integer
          format: int32
        billAccountId:
          type: integer
          format: int32
        billStatusId:
          type: integer
          format: int32
        billTypeId:
          type: integer
          format: int32
        billInstanceId:
          type: integer
          format: int32
        payForAccountId:
          type: integer
          format: int32
        highAssetId:
          type: integer
          format: int32
        initialAmount:
          type: number
          format: double
        balanceDue:
          type: number
          format: double
        calcDate:
          type: string
          format: date-time
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        isValid:
          type: boolean
        totalMarketValue:
          type: number
          format: double
        dailyAccrualPercent:
          type: number
          format: double
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        daysInCycle:
          type: integer
          format: int32
        oldReceivableID:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
        basis:
          type: integer
          format: int32
        aggregateValue:
          type: number
          format: double
        feePercent:
          type: number
          format: double
        error:
          type: string
          maxLength: 200
          minLength: 0
        feeSchedule:
          type: string
          maxLength: 50
          minLength: 0
        buildComplete:
          type: boolean
        isLocked:
          type: boolean
        payForPercent:
          type: number
          format: float
        tempAccountItemId:
          type: integer
          format: int32
        appliedAdjustment:
          type: number
          format: double
        daysInYear:
          type: integer
          format: int32
        billFrequency:
          type: integer
          format: int32
        payMethod:
          type: string
          maxLength: 25
          minLength: 0
        accountStampId:
          type: integer
          format: int32
        flatFee:
          type: number
          format: double
        howBilled:
          type: integer
          format: int32
        lastCollectAttempt:
          type: string
          format: date-time
        payoutAggregateValue:
          type: number
          format: double
        payoutBasis:
          type: integer
          format: int32
        transferMarketValue:
          type: number
          format: double
        indirectLink:
          type: integer
          format: int32
        account:
          $ref: '#/components/schemas/OAS.DataModel.Billing.BillAccount'
        items:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Billing.BillItem'
          xml:
            name: BillItem
            wrapped: true
          type: array
        adjustments:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Billing.BillAccountItemAdjustment'
          xml:
            name: BillAccountItemAdjustment
            wrapped: true
          type: array
        billAssetItems:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Billing.BillAssetItem'
          xml:
            name: BillAssetItem
            wrapped: true
          type: array
        payableItems:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Billing.PayableItem'
          xml:
            name: PayableItem
            wrapped: true
          type: array
        highAsset:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.Asset'
        payForAccount:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.Account'
        billStatus:
          $ref: '#/components/schemas/OAS.DataModel.Billing.BillStatus'
        note:
          type: string
          maxLength: 255
          minLength: 0
      xml:
        name: BillAccountItem
      type: object
    OAS.DataModel.Confirm.Alternative.EquityActivityType:
      required:
      - id
      - description
      properties:
        id:
          type: integer
          format: int32
        transactionSubTypeId:
          type: integer
          format: int32
        description:
          type: string
        impactsCommitmentDefault:
          type: boolean
        impactsCapitalBalanceDefault:
          type: boolean
        transactionSubType:
          $ref: '#/components/schemas/OAS.DataModel.Trading.TransactionSubType'
        capitalBalanceImpact:
          type: integer
          format: int32
        isGlobalDefault:
          type: boolean
        enabledForClient:
          type: boolean
      xml:
        name: EquityActivityType
      type: object
    OAS.DataModel.Portfolio.RepresentativeNote:
      required:
      - id
      - createdDate
      - createdBy
      - systemGenerated
      - isWebVisible
      properties:
        representativeId:
          type: integer
          format: int32
        representative:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.Representative'
        id:
          type: integer
          format: int32
        text:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 50
          minLength: 0
        editedBy:
          type: string
          maxLength: 50
          minLength: 0
        editedDate:
          type: string
          format: date-time
        rowVersion:
          type: string
          format: byte
        category:
          type: string
          maxLength: 25
          minLength: 0
        userOwnerId:
          type: integer
          format: int32
        systemGenerated:
          type: boolean
        isWebVisible:
          type: boolean
        requestFollowup:
          type: boolean
      xml:
        name: RepresentativeNote
      type: object
    OAS.DataModel.Settings.PortfolioGroupUserDefinedField:
      required:
      - entityId
      - userDefineDefinitionId
      - userDefineDataId
      - name
      - code
      - securityCode
      properties:
        entityId:
          type: integer
          format: int32
        userDefineDefinitionId:
          type: integer
          format: int32
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        name:
          type: string
          maxLength: 50
          minLength: 0
        code:
          type: string
          maxLength: 25
          minLength: 0
        securityCode:
          type: string
          maxLength: 40
          minLength: 0
        definition:
          $ref: '#/components/schemas/OAS.DataModel.Settings.UserDefineDefinition'
      xml:
        name: PortfolioGroupUserDefinedField
      type: object
    OAS.DataModel.Portfolio.RepresentativeBlob:
      required:
      - isViewable
      - isViewableAdvisor
      - isViewableRepresentative
      - id
      - isZip
      - uniqueID
      properties:
        representativeId:
          type: integer
          format: int32
        isViewable:
          type: boolean
        isViewableAdvisor:
          type: boolean
        isViewableRepresentative:
          type: boolean
        crmDocuments:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.CrmDocument'
          xml:
            name: CrmDocument
            wrapped: true
          type: array
        representative:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.Representative'
        id:
          type: integer
          format: int32
        openWith:
          type: string
          maxLength: 200
          minLength: 0
        fileName:
          type: string
          maxLength: 100
          minLength: 0
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
        createdDate:
          type: string
          format: date-time
        rowVersion:
          type: string
          format: byte
        blobDesc:
          type: string
          maxLength: 200
          minLength: 0
        blobText:
          type: string
        isZip:
          type: boolean
        fileNETidmId:
          type: string
          maxLength: 9
          minLength: 0
        filePath:
          type: string
          maxLength: 500
          minLength: 0
        eFileLocation:
          type: string
          enum:
          - Undefined
          - Database
          - FileServer
          - AmazonS3
          - HttpGet
          - RedtailIms
          - Communities
        rootPath:
          type: string
          maxLength: 100
          minLength: 0
        uniqueID:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
      xml:
        name: RepresentativeBlob
      type: object
    OAS.DataModel.Trading.TransactionSubType:
      required:
      - id
      - name
      - transTypeCommonId
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          maxLength: 100
          minLength: 0
        description:
          type: string
          maxLength: 255
          minLength: 0
        transTypeCommonId:
          type: integer
          format: int32
      xml:
        name: TransactionSubType
      type: object
    OAS.DataModel.Billing.BillPayMethod:
      required:
      - id
      - payInstruction
      - itemData
      properties:
        id:
          type: integer
          format: int32
        payInstruction:
          type: string
          maxLength: 20
          minLength: 0
        payDescription:
          type: string
          maxLength: 255
          minLength: 0
        itemData:
          type: integer
          format: int32
        invoiceVerbage:
          type: string
          maxLength: 1000
          minLength: 0
        dayOfMonthDue:
          type: integer
          format: int32
        paymentType:
          type: string
          enum:
          - None
          - FeeFile
          - Check
          - CreditCard
          - ACH
          - Special
        uploadTargetId:
          type: integer
          format: int32
      xml:
        name: BillPayMethod
      type: object
    OAS.DataModel.Portfolio.IndexBlendDetail:
      required:
      - id
      - indexBlendId
      - asOfDate
      - productId
      - blendWeight
      properties:
        id:
          type: integer
          format: int32
        indexBlendTimeframeId:
          type: integer
          format: int32
        indexBlendId:
          type: integer
          format: int32
        asOfDate:
          type: string
          format: date-time
        productId:
          type: integer
          format: int32
        blendWeight:
          type: number
          format: double
        product:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductLocal'
        indexBlend:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.IndexBlend'
      xml:
        name: IndexBlendDetail
      type: object
    OAS.DataModel.Portfolio.PriceCurrent:
      required:
      - custodianCommonId
      - productId
      - priceDate
      - navPrice
      - isValidated
      properties:
        custodianCommonId:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        priceDate:
          type: string
          format: date-time
        navPrice:
          type: number
          format: double
        isValidated:
          type: boolean
      xml:
        name: PriceCurrent
      type: object
    OAS.DataModel.Portfolio.DownloadSymbolBySymbolLocal:
      required:
      - symbol
      properties:
        symbol:
          type: string
          maxLength: 50
          minLength: 0
        productId:
          type: integer
          format: int32
        product:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductLocal'
      xml:
        name: DownloadSymbolBySymbolLocal
      type: object
    OAS.DataModel.Portfolio.ClientNote:
      required:
      - id
      - createdDate
      - createdBy
      - systemGenerated
      - isWebVisible
      properties:
        clientId:
          type: integer
          format: int32
        client:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.Client'
        id:
          type: integer
          format: int32
        text:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 50
          minLength: 0
        editedBy:
          type: string
          maxLength: 50
          minLength: 0
        editedDate:
          type: string
          format: date-time
        rowVersion:
          type: string
          format: byte
        category:
          type: string
          maxLength: 25
          minLength: 0
        userOwnerId:
          type: integer
          format: int32
        systemGenerated:
          type: boolean
        isWebVisible:
          type: boolean
        requestFollowup:
          type: boolean
      xml:
        name: ClientNote
      type: object
    OAS.DataModel.ComplexTypes.Address:
      properties:
        line1:
          type: string
          maxLength: 255
          minLength: 0
        line2:
          type: string
          maxLength: 255
          minLength: 0
        line3:
          type: string
          maxLength: 255
          minLength: 0
        city:
          type: string
          maxLength: 30
          minLength: 0
        state:
          type: string
          maxLength: 2
          minLength: 0
        zip:
          type: string
          maxLength: 10
          minLength: 0
      xml:
        name: Address
      type: object
    OAS.DataModel.Billing.BillMasterScheduleDetail:
      required:
      - id
      - billMasterScheduleId
      - billEntityId
      - isRemainder
      - editedDate
      - editedBy
      - createDate
      - createdBy
      properties:
        id:
          type: integer
          format: int32
        billMasterScheduleId:
          type: integer
          format: int32
        billEntityId:
          type: integer
          format: int32
        billScheduleId:
          type: integer
          format: int32
        isRemainder:
          type: boolean
        editedDate:
          type: string
          format: date-time
        editedBy:
[...]
