openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Dashboards API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/Dashboards
paths:
  /v1/Reporting/Dashboards:
    get:
      tags:
      - Reporting/Dashboards
      summary: Dashboards get
      operationId: Dashboards_Get
      parameters:
      - name: dashboardLevel
        in: query
        required: false
        schema:
          type: string
          enum:
          - Portfolio
          - Representative
          - Advisor
      - name: defaultOnly
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
                xml:
                  name: DashboardDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
                xml:
                  name: DashboardDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
                xml:
                  name: DashboardDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
                xml:
                  name: DashboardDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
                xml:
                  name: DashboardDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
                xml:
                  name: DashboardDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
    post:
      tags:
      - Reporting/Dashboards
      operationId: Dashboards_Create
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
        required: true
      summary: Dashboards create
      x-summary-source: derived
  /v1/Reporting/Dashboards/{key}:
    get:
      tags:
      - Reporting/Dashboards
      operationId: Dashboards_GetEntityByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
      security:
      - Authorization: []
      summary: Dashboards get entity by key
      x-summary-source: derived
    put:
      tags:
      - Reporting/Dashboards
      operationId: Dashboards_Update
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
        required: true
      summary: Dashboards update
      x-summary-source: derived
    delete:
      tags:
      - Reporting/Dashboards
      operationId: Dashboards_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dashboards delete
      x-summary-source: derived
  /v1/Reporting/Dashboards/DashboardSystemType/{dashboardSystemType}:
    get:
      tags:
      - Reporting/Dashboards
      summary: Dashboards get by dashboard system type
      operationId: Dashboards_GetByDashboardSystemType
      parameters:
      - name: dashboardSystemType
        in: path
        required: true
        schema:
          type: string
          enum:
          - None
          - Composites
          - Portfolio
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Widgets.DashboardDto'
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Reporting/Dashboards/DashboardSystemType/{dashboardSystemType}/Edit:
    get:
      tags:
      - Reporting/Dashboards
      summary: Dashboards get by dashboard system type2
      operationId: Dashboards_GetByDashboardSystemType2
      parameters:
      - name: dashboardSystemType
        in: path
        required: true
        schema:
          type: string
          enum:
          - None
          - Composites
          - Portfolio
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Reporting.Widgets.DashboardDto:
      properties:
        id:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        name:
          type: string
        widgets:
          type: string
        dashboardLevel:
          type: string
          enum:
          - Portfolio
          - Representative
          - Advisor
        visibilityLevel:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        description:
          type: string
        isDefault:
          type: boolean
        systemType:
          type: string
          enum:
          - None
          - Composites
          - Portfolio
      xml:
        name: DashboardDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
