openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Download Formats API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/DownloadFormats
paths:
  /v1/Confirm/DownloadFormats:
    get:
      tags:
      - Confirm/DownloadFormats
      summary: Gets a list of Download Formats that the logged in user has access to
      operationId: DownloadFormats_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
                xml:
                  name: DownloadFormatDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
                xml:
                  name: DownloadFormatDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
                xml:
                  name: DownloadFormatDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
                xml:
                  name: DownloadFormatDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
                xml:
                  name: DownloadFormatDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
                xml:
                  name: DownloadFormatDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/DownloadFormats
      summary: Creates a new Download Format
      operationId: DownloadFormats_CreateAsync
      parameters:
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
        description: DownloadFormat
        required: true
  /v1/Confirm/DownloadFormats/{key}:
    get:
      tags:
      - Confirm/DownloadFormats
      summary: Gets the Download Format that has the provided key.
      description: 'Sample Request

        GET /Confirm/DownloadFormats/1'
      operationId: DownloadFormats_GetByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/DownloadFormats
      operationId: DownloadFormats_UpdateAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
        required: true
      summary: Download formats update async
      x-summary-source: derived
  /v1/Confirm/DownloadFormats/{key}/Markup:
    get:
      tags:
      - Confirm/DownloadFormats
      summary: Gets the XML from the Download Format that has the provided key.
      operationId: DownloadFormats_GetMarkupByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/DownloadFormats
      summary: Used to update an existing Download Format's XML.
      operationId: DownloadFormats_UpdateMarkupAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto'
        required: true
  /v1/Confirm/DownloadFormats/{key}/Rectype:
    put:
      tags:
      - Confirm/DownloadFormats
      summary: Updates the rectype asynchronous
      operationId: DownloadFormats_UpdateRectypeAsync
      parameters:
      - name: key
        in: path
        description: The key.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      - name: versionCode
        in: query
        required: false
        schema:
          type: string
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatRectypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatRectypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatRectypeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatRectypeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatRectypeDto'
        description: The dto.
        required: true
  /v1/Confirm/DownloadFormats/{key}/Rectype/{versionCode}:
    put:
      tags:
      - Confirm/DownloadFormats
      summary: Updates the rectype asynchronous
      operationId: DownloadFormats_PutV1ConfirmDownloadFormatsByKeyRectypeByVersionCode
      parameters:
      - name: key
        in: path
        description: The key.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      - name: versionCode
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatRectypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatRectypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatRectypeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatRectypeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatRectypeDto'
        description: The dto.
        required: true
  /v1/Confirm/DownloadFormats/{key}/SubTypesSimple:
    get:
      tags:
      - Confirm/DownloadFormats
      summary: Gets a list of download format sub types by format key asynchronous
      description: 'Sample Request

        GET /Confirm/DownloadFormats/1/SubTypesSimple'
      operationId: DownloadFormats_GetDownloadFormatSubTypeByKeyAsync
      parameters:
      - name: key
        in: path
        description: The key of the format.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/DownloadFormats/{key}/SubTypesSimpleWithDefault:
    get:
      tags:
      - Confirm/DownloadFormats
      summary: Gets a list of download format sub types by format key asynchronous including…
      description: 'Sample Request

        GET /Confirm/DownloadFormats/1/SubTypesSimple'
      operationId: DownloadFormats_GetDownloadFormatSubTypeWithDefaultByKeyAsync
      parameters:
      - name: key
        in: path
        description: The key of the format.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        description: The cancellation token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/DownloadFormats/Simple:
    get:
      tags:
      - Confirm/DownloadFormats
      operationId: DownloadFormats_GetSimpleAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Download formats get simple all
      x-summary-source: derived
  /v1/Confirm/DownloadFormats/Verbose:
    get:
      tags:
      - Confirm/DownloadFormats
      operationId: DownloadFormats_GetVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - DownloadFormat
            - DownloadFormatNoteMapping
            - DownloadFormatLocalSecurityMapping
            - DownloadFormatUniqueSymbolMapping
            - DownloadFormatTransactionNoteMapping
            - DownloadFormatSubType
            - DownloadFormatCashOffsetMapping
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
                xml:
                  name: DownloadFormatVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
                xml:
                  name: DownloadFormatVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
                xml:
                  name: DownloadFormatVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
                xml:
                  name: DownloadFormatVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
                xml:
                  name: DownloadFormatVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
                xml:
                  name: DownloadFormatVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Download formats get verbose
      x-summary-source: derived
  /v1/Confirm/DownloadFormats/Verbose/{key}:
    get:
      tags:
      - Confirm/DownloadFormats
      operationId: DownloadFormats_GetVerboseByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - DownloadFormat
            - DownloadFormatNoteMapping
            - DownloadFormatLocalSecurityMapping
            - DownloadFormatUniqueSymbolMapping
            - DownloadFormatTransactionNoteMapping
            - DownloadFormatSubType
            - DownloadFormatCashOffsetMapping
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
      security:
      - Authorization: []
      summary: Download formats get verbose by key async
      x-summary-source: derived
    put:
      tags:
      - Confirm/DownloadFormats
      operationId: DownloadFormats_UpdateVerboseAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto'
        required: true
      summary: Download formats update verbose async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Confirm.DownloadFormatVerboseDto:
      description: The Download Format Verbose DTO
      properties:
        id:
          description: Download Format ID
          type: integer
          format: int32
        downloadFormat:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatDto'
          description: Download Format Properties
        downloadFormatNoteMapping:
          description: The Download Format Mappings for the download format
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatNoteMappingDto'
          xml:
            name: DownloadFormatNoteMappingDto
            wrapped: true
          type: array
        downloadFormatLocalSecurityMappings:
          description: The Download Format Local Security Mappings for the format
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatLocalSecurityMappingDto'
          xml:
            name: DownloadFormatLocalSecurityMappingDto
            wrapped: true
          type: array
        downloadFormatUniqueSymbolMappings:
          description: The Download Format Unique Symbol Mappings for the format
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatUniqueSymbolMappingDto'
          xml:
            name: DownloadFormatUniqueSymbolMappingDto
            wrapped: true
          type: array
        downloadFormatTransactionNoteMappings:
          description: The Download Format Transaction Note Mappings for the format
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatTransactionNoteSymbolMappingDto'
          xml:
            name: DownloadFormatTransactionNoteSymbolMappingDto
            wrapped: true
          type: array
        downloadFormatSubTypes:
          description: The Download Format Subtypes for the format
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSubTypeDto'
          xml:
            name: DownloadFormatSubTypeDto
            wrapped: true
          type: array
        downloadFormatOffsetCashMappings:
          description: The Download Format Offset Cash Mappings for the format
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatOffsetCashMappingDto'
          xml:
            name: DownloadFormatOffsetCashMappingDto
            wrapped: true
          type: array
        processCostBasisTypeEnabled:
          description: When true, cost basis type is stored per format subtype and extended dropdown values are available (OC-16422).
          type: boolean
      xml:
        name: DownloadFormatVerboseDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadFormatDto:
      properties:
        id:
          type: integer
          format: int32
        formatName:
          type: string
        costBasisType:
          type: string
          enum:
          - None
          - Unrealized
          - Realized
          - Both
        formatInformation:
          type: string
        isNonFileFormat:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        downloadFormatConfigJSON:
          type: string
      xml:
        name: DownloadFormatDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadFormatOffsetCashMappingDto:
      description: A Download Format Offset Cash Mapping DTO
      properties:
        externalCode:
          description: Gets or sets the External Code
          type: string
        cashSymbol:
          description: Gets or sets the Cash Symbol
          type: string
        downloadFormatId:
          description: Gets or sets the download format id
          type: integer
          format: int32
        downloadFormatSubtypeId:
          description: Gets or sets the download format subtype id
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
      xml:
        name: DownloadFormatOffsetCashMappingDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadFormatMarkupDto:
      properties:
        id:
          type: integer
          format: int32
        xml:
          type: string
      xml:
        name: DownloadFormatMarkupDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadFormatNoteMappingDto:
      description: A Download Format Note Mapping DTO
      properties:
        id:
          description: Gets or sets the ID
          type: integer
          format: int32
        fileTranCode:
          description: Gets or sets the File Tran Code
          type: string
        searchFor:
          description: Gets or sets the Search For
          type: string
        translateTo:
          description: Gets or sets the Translate To
          type: string
        auditedDate:
          description: Gets or sets the Audited Date (used in Audited Date String)
          type: string
          format: date-time
        auditedByDisplay:
          description: Gets or sets the AuditedByDisplay
          type: string
        downloadFormatId:
          description: Gets or sets the download format id
          type: integer
          format: int32
        downloadFormatSubtypeId:
          description: Gets or sets the download format subtype id
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
      xml:
        name: DownloadFormatNoteMappingDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadFormatLocalSecurityMappingDto:
      description: A Download Format Local Security Mapping DTO
      properties:
        downloadSymbol:
          description: Gets or sets The Download Symbol
          type: string
        localMapping:
          description: Gets or sets the Local Mapping
          type: string
        auditedDateString:
          description: Gets the Audited Date String
          readOnly: true
          type: string
        auditedDate:
          description: Gets or sets the Audited Date (used in Audited Date String)
          type: string
          format: date-time
        auditedByDisplay:
          description: Gets or sets the AuditedByDisplay
          type: string
        downloadFormatId:
          description: Gets or sets the download format id
          type: integer
          format: int32
        downloadFormatSubtypeId:
          description: Gets or sets the download format subtype id
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
      xml:
        name: DownloadFormatLocalSecurityMappingDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadFormatRectypeDto:
      properties:
        recTypeBySectionName:
          additionalProperties:
            type: string
          type: object
      xml:
        name: DownloadFormatRectypeDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Confirm.DownloadFormatUniqueSymbolMappingDto:
      description: Download Format Unique Symbol Mapping DTO
      properties:
        uniqueSymbol:
          description: Gets or sets the Unique Symbol
          type: string
        auditedDateString:
          description: Gets the Audited Date String
          readOnly: true
          type: string
        auditedDate:
          description: Gets or sets the Audited Date (used in Audited Date String)
          type: string
          format: date-time
        auditedByDisplay:
          description: Gets or sets the AuditedByDisplay
          type: string
        downloadFormatId:
          description: Gets or sets the download format id
          type: integer
          format: int32
        downloadFormatSubtypeId:
          description: Gets or sets the download format subtype id
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
      xml:
        name: DownloadFormatUniqueSymbolMappingDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadFormatSubTypeDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        downloadFormatId:
          type: integer
          format: int32
        downloadFormatConfigJSON:
          type: string
        costBasisType:
          type: string
          enum:
          - None
          - Unrealized
          - Realized
          - Both
      xml:
        name: DownloadFormatSubTypeDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadFormatTransactionNoteSymbolMappingDto:
      description: A Download Format Transaction Note Symbol Mapping DTO
      properties:
        id:
          description: The Primary Key for DownloadFormatTransactionNoteSymbolMapping
          type: integer
          format: int32
        downloadSymbol:
          description: The Download Symbol to find
          type: string
        newSymbol:
          description: The new Symbol to replace with
          type: string
        note:
          description: A note field for user notes
          type: string
        auditedDateString:
          description: Gets the Audited Date String
          readOnly: true
          type: string
        auditedDate:
          description: Gets or sets the Audited Date (used in Audited Date String)
          type: string
          format: date-time
        auditedByDisplay:
          description: Gets or sets the AuditedByDisplay
          type: string
        downloadFormatId:
          description: Gets or sets the download format id
          type: integer
          format: int32
        downloadFormatSubtypeId:
          description: Gets or sets the download format subtype id
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
      xml:
        name: DownloadFormatTransactionNoteSymbolMappingDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
