openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Fuse/Users API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Fuse/Users
paths:
  /v1/Fuse/Users/{userIntegrationGuid}/Notifications:
    get:
      tags:
      - Fuse/Users
      operationId: FusePublicNotification_GetNotifications
      parameters:
      - name: userIntegrationGuid
        in: path
        required: true
        schema:
          type: string
      - name: firmId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Unread
            - Read
            - Deleted
      - name: ignoreCallerNotifications
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Fuse public notification get notifications
      x-summary-source: derived
    put:
      tags:
      - Fuse/Users
      operationId: FusePublicNotification_UpsertNotification
      parameters:
      - name: userIntegrationGuid
        in: path
        required: true
        schema:
          type: string
      - name: notificationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
        required: true
      summary: Fuse public notification upsert notification
      x-summary-source: derived
    post:
      tags:
      - Fuse/Users
      operationId: FusePublicNotification_CreateNotification
      parameters:
      - name: userIntegrationGuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
        required: true
      summary: Fuse public notification create notification
      x-summary-source: derived
  /v1/Fuse/Users/{userIntegrationGuid}/Notifications/{notificationId}:
    get:
      tags:
      - Fuse/Users
      operationId: FusePublicNotification_GetNotification
      parameters:
      - name: userIntegrationGuid
        in: path
        required: true
        schema:
          type: string
      - name: notificationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Fuse public notification get notification
      x-summary-source: derived
    put:
      tags:
      - Fuse/Users
      operationId: FusePublicNotification_PutV1FuseUsersByUserIntegrationGuidNotificationsByNotificationId
      parameters:
      - name: userIntegrationGuid
        in: path
        required: true
        schema:
          type: string
      - name: notificationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.NotificationDto'
        required: true
      summary: Fuse public notification put V1 fuse users by user integration guid…
      x-summary-source: derived
  /v1/Fuse/Users/{userIntegrationGuid}/Notifications/Redtail:
    post:
      tags:
      - Fuse/Users
      summary: Creates a notification for a user about a Redtail event for account, activity…
      operationId: FusePublicNotification_RedtailCreate
      parameters:
      - name: userIntegrationGuid
        in: path
        description: "A string containing the unique Guid identifying the\n            user for Redtail 2-way sync notifications."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: object
          application/json:
            schema:
              type: object
          text/json:
            schema:
              type: object
          application/xml:
            schema:
              type: object
          text/xml:
            schema:
              type: object
          application/x-www-form-urlencoded:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        description: The payload from Redtail sent to the webhook.
        required: true
  /v1/Fuse/Users/{userIntegrationGuid}/Notifications/ShareFile:
    post:
      tags:
      - Fuse/Users
      summary: Creates a notification from ShareFile webhook callbacks
      operationId: FusePublicNotification_CreateShareFileNotification
      parameters:
      - name: userIntegrationGuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.CloudStorage.ShareFile.Models.WebhookCallbackBody'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.CloudStorage.ShareFile.Models.WebhookCallbackBody'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.CloudStorage.ShareFile.Models.WebhookCallbackBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.CloudStorage.ShareFile.Models.WebhookCallbackBody'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.CloudStorage.ShareFile.Models.WebhookCallbackBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.CloudStorage.ShareFile.Models.WebhookCallbackBody'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.CloudStorage.ShareFile.Models.WebhookCallbackBody'
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Fuse.NotificationDto:
      description: 'A notification that is pushed to users.


        Can be viewed (Read Only) in a slick grid.'
      properties:
        id:
          type: integer
          format: int32
        firmId:
          type: integer
          format: int32
        partnerUserName:
          type: string
        createdDate:
          type: string
          format: date-time
        subject:
          type: string
        body:
          type: string
        url:
          type: string
        status:
          type: string
          enum:
          - Unread
          - Read
          - Deleted
        partnerAppName:
          type: string
        categoryName:
          type: string
        integrationId:
          type: integer
          format: int32
        actionName:
          type: string
          enum:
          - Undefined
          - Download
          - Link
          - Share
          - DownloadShare
          - LinkToRedtail
        partnerAppId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        commandBody:
          type: string
        clientId:
          type: integer
          format: int32
      xml:
        name: NotificationDto
      type: object
    OAT.CloudStorage.ShareFile.Models.WebhookAccountInfo:
      properties:
        accountId:
          type: string
        subdomain:
          type: string
        appControlPlane:
          type: string
        apiControlPlane:
          type: string
      xml:
        name: WebhookAccountInfo
      type: object
    OAT.CloudStorage.ShareFile.Models.WebHookCallbackEvent:
      properties:
        resourceType:
          type: string
        timestamp:
          type: string
        resource:
          $ref: '#/components/schemas/OAT.CloudStorage.ShareFile.Models.WebhookCallbackResource'
        operationName:
          type: string
      xml:
        name: WebHookCallbackEvent
      type: object
    OAT.CloudStorage.ShareFile.Models.WebhookCallbackResource:
      properties:
        id:
          type: string
        parent:
          $ref: '#/components/schemas/OAT.CloudStorage.ShareFile.Models.WebhookCallbackResource'
      xml:
        name: WebhookCallbackResource
      type: object
    OAT.CloudStorage.ShareFile.Models.WebhookCallbackBody:
      properties:
        webhookSubscriptionId:
          type: string
        accountInfo:
          $ref: '#/components/schemas/OAT.CloudStorage.ShareFile.Models.WebhookAccountInfo'
        event:
          $ref: '#/components/schemas/OAT.CloudStorage.ShareFile.Models.WebHookCallbackEvent'
      xml:
        name: WebhookCallbackBody
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
