openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Fund Families API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/FundFamilies
paths:
  /v1/Portfolio/FundFamilies:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a list of fund families that the logged in user has access to
      operationId: FundFamilies_Get
      parameters:
      - name: isUsed
        in: query
        description: Optional. When provided will only return fund families that are used (true) or are not used (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
                xml:
                  name: FundFamilyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
                xml:
                  name: FundFamilyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
                xml:
                  name: FundFamilyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
                xml:
                  name: FundFamilyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/FundFamilies
      summary: Add fund families to current database
      operationId: FundFamilies_AddFundFamilies
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyWithErrorsDto'
              xml:
                name: FundFamilyWithErrorsDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyWithErrorsDto'
              xml:
                name: FundFamilyWithErrorsDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyWithErrorsDto'
              xml:
                name: FundFamilyWithErrorsDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyWithErrorsDto'
              xml:
                name: FundFamilyWithErrorsDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyWithErrorsDto'
              xml:
                name: FundFamilyWithErrorsDto
                wrapped: true
              type: array
        required: true
    delete:
      tags:
      - Portfolio/FundFamilies
      summary: Remove a collection of fund family from current database
      operationId: FundFamilies_DeleteFundFamilies
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyWithErrorsDto'
              xml:
                name: FundFamilyWithErrorsDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyWithErrorsDto'
              xml:
                name: FundFamilyWithErrorsDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyWithErrorsDto'
              xml:
                name: FundFamilyWithErrorsDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyWithErrorsDto'
              xml:
                name: FundFamilyWithErrorsDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyWithErrorsDto'
              xml:
                name: FundFamilyWithErrorsDto
                wrapped: true
              type: array
        required: true
  /v1/Portfolio/FundFamilies/{key}:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets the fund families that has the provided key.
      operationId: FundFamilies_GetByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
      security:
      - Authorization: []
    delete:
      tags:
      - Portfolio/FundFamilies
      summary: Remove fund family from current database
      operationId: FundFamilies_DeleteByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/{key}/Accounts:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a list of accounts that fall below the fund family with the specified key…
      operationId: FundFamilies_GetAccountsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/{key}/Accounts/Value:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a simple list of accounts (including aum for today) that fall below the…
      operationId: FundFamilies_GetAccountsValue
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: hasValue
        in: query
        description: Optional. When provided will only return accounts that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/{key}/Accounts/Value/{asOfDate}:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a simple list of accounts (including aum for the end of the date…
      operationId: FundFamilies_GetAccountsValueAsOfDate
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      - name: hasValue
        in: query
        description: Optional. When provided will only return accounts that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/{key}/CustodianTradeFileFormats:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a list of custodian trade file formats assigned to the fund family
      operationId: FundFamilies_GetCustodianTradeFileFormats
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.CustodianTradeFileFormat'
                xml:
                  name: CustodianTradeFileFormat
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.CustodianTradeFileFormat'
                xml:
                  name: CustodianTradeFileFormat
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.CustodianTradeFileFormat'
                xml:
                  name: CustodianTradeFileFormat
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.CustodianTradeFileFormat'
                xml:
                  name: CustodianTradeFileFormat
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.CustodianTradeFileFormat'
                xml:
                  name: CustodianTradeFileFormat
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.CustodianTradeFileFormat'
                xml:
                  name: CustodianTradeFileFormat
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/{key}/UserDefinedFields:
    get:
      tags:
      - Portfolio/FundFamilies
      operationId: FundFamilies_GetUserDefinedFields
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: entities
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - BrokerDealers
            - Wholesalers
            - Representatives
            - Clients
            - Registrations
            - Accounts
            - Assets
            - Transactions
            - Products
            - FundFamilies
            - ModelRanges
            - PortfolioGroups
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Fund families get user defined fields
      x-summary-source: derived
  /v1/Portfolio/FundFamilies/CollectFmtSimple:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a simple list of collection formats that the logged in user has access to
      operationId: FundFamilies_GetCollectoFormatSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/CollectMethodSimple:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a simple list of collection formats that the logged in user has access to
      operationId: FundFamilies_CollectMethodSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/Create:
    post:
      tags:
      - Portfolio/FundFamilies
      summary: Saves new FundFamily
      operationId: FundFamilies_CreateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
        required: true
  /v1/Portfolio/FundFamilies/EndResultTradeFormats:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a list of trade formats with end results that the logged in user has…
      operationId: FundFamilies_GetEndResultTradeFormatsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TradeFormatDto'
                xml:
                  name: TradeFormatDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TradeFormatDto'
                xml:
                  name: TradeFormatDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TradeFormatDto'
                xml:
                  name: TradeFormatDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TradeFormatDto'
                xml:
                  name: TradeFormatDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TradeFormatDto'
                xml:
                  name: TradeFormatDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TradeFormatDto'
                xml:
                  name: TradeFormatDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/EndResultTradeFormats/Simple:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a simple list of trade formats with end results that the logged in user…
      operationId: FundFamilies_GetEndResultTradeFormatsSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/Simple:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a simple list of fund families that the logged in user has access to
      operationId: FundFamilies_GetSimple
      parameters:
      - name: isUsed
        in: query
        description: Optional. When provided will only return fund families that are used (true) or are not used (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/Simple/Search:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a simple list of fund families
      description: 'Sample Request

        GET /Simple/Search/{search}'
      operationId: FundFamilies_GetSimpleFundFamilySearchAsync
      parameters:
      - name: search
        in: query
        description: the text to be searched
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/Simple/Search/{search}:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a simple list of fund families
      description: 'Sample Request

        GET /Simple/Search/{search}'
      operationId: FundFamilies_GetV1PortfolioFundFamiliesSimpleSearchBySearch
      parameters:
      - name: search
        in: path
        description: the text to be searched
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/TradeFormats/Simple:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a simple list of trade formats that the logged in user has access to.
      operationId: FundFamilies_GetTradeFormatsSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/Update:
    put:
      tags:
      - Portfolio/FundFamilies
      summary: Update fund family
      operationId: FundFamilies_UpdateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDto'
        required: true
  /v1/Portfolio/FundFamilies/Value:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a simple list of fund families (including aum for today) that the logged…
      operationId: FundFamilies_GetValue
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/FundFamilies/Value/{asOfDate}:
    get:
      tags:
      - Portfolio/FundFamilies
      summary: Gets a simple list of fund families (including aum for the end of the date…
      operationId: FundFamilies_GetValueAsOfDate
      parameters:
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.TradeFormatDto:
      properties:
        tradeFormatId:
          type: integer
          format: int32
        formatDisplayName:
          type: string
        typeData:
          type: string
        type:
          type: string
      xml:
        name: TradeFormatDto
      type: object
    OAS.WebApi.DTO.Portfolio.AccountDto:
      properties:
        isActive:
          type: boolean
        custodian:
          type: string
        custodianCode:
          type: string
        managementStyle:
          type: string
        currentValue:
          type: number
          format: double
        fundFamily:
          type: string
        accountStartValue:
          type: number
          format: double
        createdDate:
          type: string
          format: date-time
        isManaged:
          type: boolean
        isSweepAccount:
          type: boolean
        isSleeveAccount:
          type: boolean
        sleeveType:
          type: string
          enum:
          - Normal sleeve
          - Custodial account
          - Contribution sleeve
          - Distribution sleeve
          - Unmanaged sleeve
        isAdvReportable:
          type: boolean
        is13FReportable:
          type: boolean
        isAuaReportable:
          type: boolean
        advCustodyTypeId:
          type: integer
          format: int32
        custodialRepCode:
          type: string
        brokerDealer:
          type: string
        importKey:
          type: string
        outsideId:
          type: string
        secondaryAccountNumber:
          type: string
        managementStyleId:
          type: integer
          format: int32
        fundFamilyId:
          type: integer
          format: int32
        accountHistoryId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        shareClass:
          type: string
        shareClassId:
          type: integer
          format: int32
        subAdvisorId:
          type: integer
          format: int32
        provider:
          type: string
        plan:
          type: integer
          format: int32
        planName:
          type: string
        modelGroupNumber:
          type: string
        isOriginalSMCAccount:
          type: boolean
        isTradingBlocked:
          type: boolean
        tradingInstructions:
          type: string
        downloadSource:
          type: string
        businessLine:
          type: string
        createdBy:
          type: string
        accountStartDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        accountStatusId:
          type: integer
          format: int32
        accountStatus:
          type: string
        accountStatusDescription:
          type: string
        feeScheduleId:
          type: integer
          format: int32
        feeSchedule:
          type: string
        masterPayoutScheduleId:
          type: integer
          format: int32
        masterPayoutSchedule:
          type: string
        billFrequency:
          type: string
          enum:
          - Undefined
          - Monthly
          - Quarterly
          - Triannual
          - Semiannually
          - Annually
          - AtMaturity
        representative:
          type: string
        representativeNumber:
          type: string
        representativeId:
          type: integer
          format: int32
        household:
          type: string
        cancelDate:
          type: string
          format: date-time
        riskBudget:
          type: integer
          format: int32
        modelAggId:
          type: integer
          format: int32
        billPayMethod:
          type: string
        acceptsList:
          type: boolean
        billStartDate:
          type: string
          format: date-time
        missingInfoFromView:
          type: string
        sweepAssetId:
          type: integer
          format: int32
        includeInAggregate:
          type: boolean
        isDiscretionary:
          type: boolean
        cashBalance:
          type: number
          format: double
        sleeveStrategy:
          type: string
        isQualified:
          type: boolean
        riskScore:
          type: number
          format: double
        isWrapManaged:
          type: boolean
        isWrapSponsored:
          type: boolean
        lastName:
          type: string
        nickname:
          type: string
        isPositionOnlyRecon:
          type: boolean
        eclipseFirmId:
          type: integer
          format: int32
        isUnfunded:
          type: boolean
        isBundled:
          type: boolean
        isExcludedFromFirmAssets:
          type: boolean
        annuityIncomeValue:
          type: number
          format: double
        currentRiskScore:
          type: integer
          format: int32
        targetRiskScore:
          type: integer
          format: int32
        riskScoreAsOfDate:
          type: string
          format: date-time
        riskScoreProvider:
          description: The source of {OAS.WebApi.DTO.Portfolio.AccountDto.TargetRiskScore}{OAS.WebApi.DTO.Portfolio.AccountDto.CurrentRiskScore} and {OAS.WebApi.DTO.Portfolio.AccountDto.RiskScoreAsOfDate}
          type: string
        riskTol:
          type: integer
          format: int32
        tieredFeePriority:
          type: integer
          format: int32
        additionalColumns:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Interface.AdditionalColumnDefinition'
          xml:
            name: AdditionalColumnDefinition
            wrapped: true
          type: array
        isOps:
          type: boolean
        lastPositionDate:
          type: string
          format: date-time
        inBalance:
          type: boolean
        lastReconciledEffectiveDate:
          type: string
          format: date-time
        clientGlobalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        registrationGlobalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        id:
          type: integer
          format: int32
        name:
          type: string
        number:
          type: string
        modelName:
          type: string
        subAdvisor:
          type: string
        accountType:
          type: string
        isDataSharingEntity:
          type: boolean
      xml:
        name: AccountDto
      type: object
    OAS.WebApi.DTO.Portfolio.FundFamilyEntityOptionDto:
      properties:
        entityId:
          type: integer
          format: int32
        userDefineDefinitionId:
          type: integer
          format: int32
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        name:
          type: string
        code:
          type: string
        securityCode:
          type: string
        definition:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyDefinitionDto'
      xml:
        name: FundFamilyEntityOptionDto
      type: object
    OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue:
      properties:
        value:
          type: number
          format: double
        number:
          type: string
        managementStyle:
          type: string
        isActive:
          type: boolean
        clientId:
          type: integer
          format: int32
        custodian:
          type: string
        registrationId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleAccountWithValue
      type: object
    OAS.WebApi.DTO.Interface.AdditionalColumnDefinition:
      properties:
        key:
          type: string
        value:
          type: string
      xml:
        name: AdditionalColumnDefinition
      type: object
    OAS.WebApi.DTO.Portfolio.FundFamilyWithErrorsDto:
      properties:
        status:
          type: string
        errorMessage:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        editedDate:
          type: string
          format: date-time
        createdBy:
          type: string
        isActive:
          type: boolean
        isAnnuity:
          type: boolean
        unitScale:
          type: integer
          format: int32
        priceScale:
          type: integer
          format: int32
        isShareClassSensitive:
          type: boolean
        isAcctNumUnique:
          type: boolean
        isDefault:
          type: boolean
        isCreateDistribution:
          type: boolean
        sungardBrokerId:
          type: integer
          format: int32
        custComplexes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustComplexDto'
          xml:
            name: CustComplexDto
            wrapped: true
          type: array
        custodianTradeFileFormats:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianTradeFileFormatDto'
          xml:
            name: CustodianTradeFileFormatDto
            wrapped: true
          type: array
        userDefinedFields:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
        entityOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyEntityOptionDto'
          xml:
            name: FundFamilyEntityOptionDto
            wrapped: true
          type: array
      xml:
        name: FundFamilyWithErrorsDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.DataModel.Portfolio.CustodianTradeFileFormat:
      properties:
        id:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        fundFamilyId:
          type: integer
          format: int32
        registrationTypeId:
          type: integer
          format: int32
        platformId:
          type: integer
          format: int32
        trExFmtId:
          type: integer
          format: int32
        tPlusDays:
          type: integer
          format: int32
        isNAAllowed:
          type: boolean
        trExFmtEndResultId:
          type: integer
          format: int32
      xml:
        name: CustodianTradeFileFormat
      type: object
    OAS.WebApi.DTO.Portfolio.FundFamilyDefinitionDto:
      properties:
        id:
          type: integer
          format: int32
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        description:
          type: string
        mask:
          type: string
        defaultValue:
          type: string
        sequence:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        category:
          type: string
        customObject:
          type: string
        controlProperties:
          type: string
        securityCode:
          type: string
        isTimeSensitive:
          type: boolean
        options:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyOptionDto'
          xml:
            name: FundFamilyOptionDto
            wrapped: true
          type: array
      xml:
        name: FundFamilyDefinitionDto
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDto
      type: object
    OAS.WebApi.DTO.Portfolio.FundFamilyOptionDto:
      properties:
        id:
          type: integer
          format: int32
        userDefineDefinitionId:
          type: integer
          format: int32
        listValue:
          type: string
        isDefault:
          type: boolean
        sequence:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: FundFamilyOptionDto
      type: object
    OAS.WebApi.DTO.Portfolio.CustodianTradeFileFormatDto:
      properties:
        id:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        fundFamilyId:
          type: integer
          format: int32
        registrationTypeId:
          type: integer
          format: int32
        platformId:
          type: integer
          format: int32
        trExFmtId:
          type: integer
          format: int32
        tPlusDays:
          type: integer
          format: int32
        isNAAllowed:
          type: boolean
        trExFmtEndResultId:
          type: integer
          format: int32
      xml:
        name: CustodianTradeFileFormatDto
      type: object
    OAS.WebApi.DTO.Portfolio.FundFamilyDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        editedDate:
          type: string
          format: date-time
        createdBy:
          type: string
        isActive:
          type: boolean
        isAnnuity:
          type: boolean
        unitScale:
          type: integer
          format: int32
        priceScale:
          type: integer
          format: int32
        isShareClassSensitive:
          type: boolean
        isAcctNumUnique:
          type: boolean
        isDefault:
          type: boolean
        isCreateDistribution:
          type: boolean
        sungardBrokerId:
          type: integer
          format: int32
        custComplexes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustComplexDto'
          xml:
            name: CustComplexDto
            wrapped: true
          type: array
        custodianTradeFileFormats:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CustodianTradeFileFormatDto'
          xml:
            name: CustodianTradeFileFormatDto
            wrapped: true
          type: array
        userDefinedFields:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
        entityOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.FundFamilyEntityOptionDto'
          xml:
            name: FundFamilyEntityOptionDto
            wrapped: true
          type: array
      xml:
        name: FundFamilyDto
      type: object
    OAS.WebApi.DTO.Simple.SimpleValueDto:
      properties:
        value:
          type: number
          format: double
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleValueDto
      type: object
    OAS.WebApi.DTO.Portfolio.CustComplexDto:
      properties:
        id:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        custodianName:
          type: string
        isDefault:
          type: boolean
        fundFamilyId:
          type: integer
          format: int32
        fundFamilyName:
          type: string
        collectFormatId:
          type: integer
          format: int32
        collectFormatName:
          type: string
        collectMethodName:
          type: string
        collectMethodId:
          type: integer
          format: int32
        newAcctFormatId:
          type: integer
          format: int32
        chkReqFormatId:
          type: integer
          format: int32
        swdFormatId:
          type: integer
          format: int32
      xml:
        name: CustComplexDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
