openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Alternative API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/Alternative
paths:
  /v1/Confirm/Alternative/AssetValuation:
    get:
      tags:
      - Confirm/Alternative
      summary: Get all Asset Valuation
      operationId: AssetValuation_Get
      parameters:
      - name: startDate
        in: query
        description: Limits the return to only those Asset Valuations with an AsOfDate greater than provided startDate.
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        description: 'Optional. Default: null. When provided limits the return to only those Asset Valuations with an AsOfDate less than provided endDate.'
        required: false
        schema:
          type: string
      - name: assetId
        in: query
        description: 'Optional. Default: null. When provided limits the return to only those Asset Valuations with provided assetId.'
        required: false
        schema:
          type: integer
          format: int32
      - name: orionVisionPending
        in: query
        description: 'Optional. Default: false. When provided returns only pending orion vision valuations.'
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
                xml:
                  name: AssetValuationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
                xml:
                  name: AssetValuationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
                xml:
                  name: AssetValuationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
                xml:
                  name: AssetValuationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
                xml:
                  name: AssetValuationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
                xml:
                  name: AssetValuationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/Alternative
      summary: Simple dto update
      operationId: AssetValuation_UpdateValuationsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
                xml:
                  name: AssetValuationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
                xml:
                  name: AssetValuationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
                xml:
                  name: AssetValuationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
                xml:
                  name: AssetValuationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
                xml:
                  name: AssetValuationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
                xml:
                  name: AssetValuationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
              xml:
                name: AssetValuationDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
              xml:
                name: AssetValuationDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
              xml:
                name: AssetValuationDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
              xml:
                name: AssetValuationDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
              xml:
                name: AssetValuationDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
              xml:
                name: AssetValuationDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
              xml:
                name: AssetValuationDto
                wrapped: true
              type: array
        required: true
  /v1/Confirm/Alternative/AssetValuation/{assetId}/{asOfDate}:
    put:
      tags:
      - Confirm/Alternative
      summary: Simple dto update
      operationId: AssetValuation_UpdateValuationAsync
      parameters:
      - name: assetId
        in: path
        description: Asset Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: path
        description: As Of Date of the desired return object.
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
        description: An updated AssetValuationDto to save.
        required: true
    delete:
      tags:
      - Confirm/Alternative
      summary: Used to delete an existing asset valuation.
      operationId: AssetValuation_DeleteAssetValuationAsync
      parameters:
      - name: assetId
        in: path
        description: Asset Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: path
        description: As Of Date of the desired return object.
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Confirm/Alternative/AssetValuation/Action/Delete:
    put:
      tags:
      - Confirm/Alternative
      operationId: AssetValuation_ActionDeleteAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationKeyDto'
                xml:
                  name: AssetValuationKeyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationKeyDto'
                xml:
                  name: AssetValuationKeyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationKeyDto'
                xml:
                  name: AssetValuationKeyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationKeyDto'
                xml:
                  name: AssetValuationKeyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationKeyDto'
                xml:
                  name: AssetValuationKeyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationKeyDto'
                xml:
                  name: AssetValuationKeyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationKeyDto'
              xml:
                name: AssetValuationKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationKeyDto'
              xml:
                name: AssetValuationKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationKeyDto'
              xml:
                name: AssetValuationKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationKeyDto'
              xml:
                name: AssetValuationKeyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationKeyDto'
              xml:
                name: AssetValuationKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationKeyDto'
              xml:
                name: AssetValuationKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationKeyDto'
              xml:
                name: AssetValuationKeyDto
                wrapped: true
              type: array
        required: true
      summary: Asset valuation action delete async
      x-summary-source: derived
  /v1/Confirm/Alternative/CommitmentLedger:
    get:
      tags:
      - Confirm/Alternative
      summary: Get all Commitmen tLedger
      operationId: CommitmentLedger_Get
      parameters:
      - name: assetId
        in: query
        description: 'Optional. Default: null. When provided limits the return to only those CommitmentLedgers with provided AssetId.'
        required: false
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: query
        description: 'Optional. Default: null. When provided limits the return to only those CommitmentLedgers with provided date.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
                xml:
                  name: CommitmentLedgerDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
                xml:
                  name: CommitmentLedgerDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
                xml:
                  name: CommitmentLedgerDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
                xml:
                  name: CommitmentLedgerDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
                xml:
                  name: CommitmentLedgerDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
                xml:
                  name: CommitmentLedgerDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/Alternative/CommitmentLedger/{key}:
    get:
      tags:
      - Confirm/Alternative
      summary: Gets the Commitment Ledger that has the provided key.
      operationId: CommitmentLedger_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
      security:
      - Authorization: []
  /v1/Confirm/Alternative/Equity/ActivityTypes:
    get:
      tags:
      - Confirm/Alternative
      summary: Get all Asset Valuation
      operationId: EquityActivityTypes_GetAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.EquityActivityTypeDto'
                xml:
                  name: EquityActivityTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.EquityActivityTypeDto'
                xml:
                  name: EquityActivityTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.EquityActivityTypeDto'
                xml:
                  name: EquityActivityTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.EquityActivityTypeDto'
                xml:
                  name: EquityActivityTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.EquityActivityTypeDto'
                xml:
                  name: EquityActivityTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.EquityActivityTypeDto'
                xml:
                  name: EquityActivityTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/Alternative/Equity/FundingTypes:
    get:
      tags:
      - Confirm/Alternative
      summary: Get all Asset Valuation
      operationId: EquityFundingTypes_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.EquityFundingTypeDto'
                xml:
                  name: EquityFundingTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.EquityFundingTypeDto'
                xml:
                  name: EquityFundingTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.EquityFundingTypeDto'
                xml:
                  name: EquityFundingTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.EquityFundingTypeDto'
                xml:
                  name: EquityFundingTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.EquityFundingTypeDto'
                xml:
                  name: EquityFundingTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.EquityFundingTypeDto'
                xml:
                  name: EquityFundingTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/Alternative/Equity/ValuationStatuses:
    get:
      tags:
      - Confirm/Alternative
      summary: Gets all valuation statuses
      operationId: ValuationStatuses_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ValuationStatusDto'
                xml:
                  name: ValuationStatusDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ValuationStatusDto'
                xml:
                  name: ValuationStatusDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ValuationStatusDto'
                xml:
                  name: ValuationStatusDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ValuationStatusDto'
                xml:
                  name: ValuationStatusDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ValuationStatusDto'
                xml:
                  name: ValuationStatusDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ValuationStatusDto'
                xml:
                  name: ValuationStatusDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/Alternative/ExpectedReturn:
    get:
      tags:
      - Confirm/Alternative
      summary: Get all ExpectedReturn
      operationId: ExpectedReturns_GetAllItems
      parameters:
      - name: productKey
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
                xml:
                  name: ExpectedReturnDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
                xml:
                  name: ExpectedReturnDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
                xml:
                  name: ExpectedReturnDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
                xml:
                  name: ExpectedReturnDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
                xml:
                  name: ExpectedReturnDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
                xml:
                  name: ExpectedReturnDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/Alternative
      summary: Adds a new ExpectedReturn to the database
      operationId: ExpectedReturns_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
        description: Expected Return object to create
        required: true
  /v1/Confirm/Alternative/ExpectedReturn/Products/{productKey}:
    get:
      tags:
      - Confirm/Alternative
      summary: Get all ExpectedReturn
      operationId: ExpectedReturns_GetV1ConfirmAlternativeExpectedReturnProductsByProductKey
      parameters:
      - name: productKey
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
                xml:
                  name: ExpectedReturnDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
                xml:
                  name: ExpectedReturnDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
                xml:
                  name: ExpectedReturnDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
                xml:
                  name: ExpectedReturnDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
                xml:
                  name: ExpectedReturnDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
                xml:
                  name: ExpectedReturnDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/Alternative/ExpectedReturn/Products/{productKey}/DateStart/{startDate}:
    get:
      tags:
      - Confirm/Alternative
      summary: Gets the ExpectedReturn that has the provided key.
      operationId: ExpectedReturns_GetEntityByKey
      parameters:
      - name: productKey
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/Alternative
      summary: Updates the ExpectedReturn that has the provided key.
      operationId: ExpectedReturns_UpdateEntity
      parameters:
      - name: productKey
        in: path
        description: Key of the desired update object.
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto'
        description: ExpectedReturn object to update
        required: true
  /v1/Confirm/Alternative/InvestmentPlatform/AssetHistory/{assetId}:
    get:
      tags:
      - Confirm/Alternative
      summary: Gets Asset Transaction History and Valuation History
      operationId: InvestmentPlatform_GetAssetHistory
      parameters:
      - name: assetId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.InvestmentPlatformAssetHistoryDto'
                xml:
                  name: InvestmentPlatformAssetHistoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.InvestmentPlatformAssetHistoryDto'
                xml:
                  name: InvestmentPlatformAssetHistoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.InvestmentPlatformAssetHistoryDto'
                xml:
                  name: InvestmentPlatformAssetHistoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.InvestmentPlatformAssetHistoryDto'
                xml:
                  name: InvestmentPlatformAssetHistoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.InvestmentPlatformAssetHistoryDto'
                xml:
                  name: InvestmentPlatformAssetHistoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.InvestmentPlatformAssetHistoryDto'
                xml:
                  name: InvestmentPlatformAssetHistoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/Alternative/ProductTransaction:
    get:
      tags:
      - Confirm/Alternative
      summary: Get all Product Transaction
      operationId: ProductTransaction_Get
      parameters:
      - name: productId
        in: query
        description: 'Optional. Default: null. When provided limits the return to only those Product Transactions with provided productId.'
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
                xml:
                  name: ProductTransactionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
                xml:
                  name: ProductTransactionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
                xml:
                  name: ProductTransactionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
                xml:
                  name: ProductTransactionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
                xml:
                  name: ProductTransactionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
                xml:
                  name: ProductTransactionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/Alternative
      summary: Adds a new Product Transaction to the database
      operationId: ProductTransaction_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
        required: true
  /v1/Confirm/Alternative/ProductTransaction/{key}:
    get:
      tags:
      - Confirm/Alternative
      summary: Gets the Product Transaction that has the provided key.
      operationId: ProductTransaction_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/Alternative
      summary: Updates the Product Transaction that has the provided key.
      operationId: ProductTransaction_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired update object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductTransactionDto'
        description: object to update
        required: true
    delete:
      tags:
      - Confirm/Alternative
      summary: Used to delete an existing Product Transaction.
      operationId: ProductTransaction_Delete
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Confirm/Alternative/ProductTransaction/TransactionPreview:
    get:
      tags:
      - Confirm/Alternative
      summary: Get a Preview of Transaction changes
      operationId: ProductTransaction_GetTransactionPreview
      parameters:
      - name: productId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: percent
        in: query
        description: Percent Of Commitment Amount
        required: true
        schema:
          type: number
          format: double
      - name: transactionDate
        in: query
        description: 'Optional. Default: null.'
        required: true
        schema:
          type: string
      - name: alternativeEquityActivityTypeId
        in: query
        description: 'Optional. Default: null.'
        required: false
        schema:
          type: integer
          format: int32
      - name: transactionTypeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.TransactionPreviewDto'
                xml:
                  name: TransactionPreviewDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.TransactionPreviewDto'
                xml:
                  name: TransactionPreviewDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.TransactionPreviewDto'
                xml:
                  name: TransactionPreviewDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.TransactionPreviewDto'
                xml:
                  name: TransactionPreviewDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.TransactionPreviewDto'
                xml:
                  name: TransactionPreviewDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.TransactionPreviewDto'
                xml:
                  name: TransactionPreviewDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/Alternative/ProductValuation:
    get:
      tags:
      - Confirm/Alternative
      summary: Get all Product Valuation
      operationId: ProductValuation_Get
      parameters:
      - name: productId
        in: query
        description: 'Optional. Default: null. When provided limits the return to only those Product Valuations with provided productId.'
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
                xml:
                  name: ProductValuationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
                xml:
                  name: ProductValuationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
                xml:
                  name: ProductValuationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
                xml:
                  name: ProductValuationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
                xml:
                  name: ProductValuationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
                xml:
                  name: ProductValuationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/Alternative
      summary: Adds a new Product Valuation to the database
      description: 'Sample Request

        post /Confirm/Alternative/ProductValuation

        {

        "id": 0,

        "productId": 1166611,

        "valuationDate": "2024-10-31T06:00:00.000Z",

        "changePercent": 0.1,

        "isEstimate": false,

        "notes": "scscscsd",

        "preview": false

        }'
      operationId: ProductValuation_CreateEntityAsync
      parameters:
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: Returns the created product valuation
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
        '400':
          description: If the request is null, has future date, or missing ProductId
        '404':
          description: If the product does not exist or is not an alternative product
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
        description: object to insert
        required: true
  /v1/Confirm/Alternative/ProductValuation/{key}:
    get:
      tags:
      - Confirm/Alternative
      summary: Gets the Product Valuation that has the provided key.
      description: 'Sample Request

        get /Confirm/Alternative/ProductValuation/8798

        Sample Response

        {

        "id": 60,

        "productId": 2047940,

        "ticker": "SAMPLE_TRICKER",

        "productName": "Sample product name",

        "valuationDate": "2019-05-31",

        "changePercent": 0.001800000,

        "isEstimated": true,

        "notes": null,

        "auditedDate": "2019-06-07T06:51:34.1923892-05:00",

        "auditedByDisplay": "sampleData@orion.com"

        }'
      operationId: ProductValuation_GetEntityByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: Returns the requested Product Valuation
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
        '404':
          description: If Product Valuation is not found
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/Alternative
      summary: Updates the Product Valuation that has the provided key.
      description: 'Sample Request

        put /Confirm/Alternative/ProductValuation/89789

        {

        "id": 89789,

        "productId": 1166611,

        "valuationDate": "2024-10-31T06:00:00.000Z",

        "changePercent": 0.1,

        "isEstimate": false,

        "notes": "scscscsd",

        "preview": false

        }'
      operationId: ProductValuation_UpdateEntityAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired update object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: Returns the created product valuation
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
        '400':
          description: If the request is null, has future date, or missing ProductId
        '404':
          description: If the product does not exist or is not an alternative product
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ProductValuationDto'
        description: object to update
        required: true
    delete:
      tags:
      - Confirm/Alternative
      summary: Used to delete an existing Product Valuation.
      description: 'Sample Request

        delete /Confirm/Alternative/ProductValuation/89789'
      operationId: ProductValuation_DeleteAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '204':
          description: Product Valuation successfully deleted
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
        '404':
          description: If Product Valuation is not found
      security:
      - Authorization: []
  /v1/Confirm/Alternative/ProductValuation/ValuationPreview:
    get:
      tags:
      - Confirm/Alternative
      summary: Get a Preview of Valuation changes
      operationId: ProductValuation_GetValuationPreview
      parameters:
      - name: productId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: valuationPercent
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: asOfDate
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ValuationPreviewDto'
                xml:
                  name: ValuationPreviewDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ValuationPreviewDto'
                xml:
                  name: ValuationPreviewDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ValuationPreviewDto'
                xml:
                  name: ValuationPreviewDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ValuationPreviewDto'
                xml:
                  name: ValuationPreviewDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ValuationPreviewDto'
                xml:
                  name: ValuationPreviewDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.ValuationPreviewDto'
                xml:
                  name: ValuationPreviewDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/Alternative/ValidateImport/Assets:
    post:
      tags:
      - Confirm/Alternative
      operationId: AlternativeValidateImportAssets_ImportAlternativeAssetsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetVerboseValidationDto'
                xml:
                  name: AssetVerboseValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetVerboseValidationDto'
                xml:
                  name: AssetVerboseValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetVerboseValidationDto'
                xml:
                  name: AssetVerboseValidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetVerboseValidationDto'
                xml:
                  name: AssetVerboseValidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetVerboseValidationDto'
                xml:
                  name: AssetVerboseValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetVerboseValidationDto'
                xml:
                  name: AssetVerboseValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Alternative validate import assets import alternative assets async
      x-summary-source: derived
  /v1/Confirm/Alternative/ValidateImport/Assets/Templates/Csv:
    get:
      tags:
      - Confirm/Alternative
      operationId: AlternativeValidateImportAssets_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Alternative validate import assets get csv template
      x-summary-source: derived
  /v1/Confirm/Alternative/ValidateImport/Assets/Templates/Xls:
    get:
      tags:
      - Confirm/Alternative
      operationId: AlternativeValidateImportAssets_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Alternative validate import assets get xls template
      x-summary-source: derived
  /v1/Confirm/Alternative/ValidateImport/Assets/Templates/Xlsx:
    get:
      tags:
      - Confirm/Alternative
      operationId: AlternativeValidateImportAssets_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Alternative validate import assets get xlsx template
      x-summary-source: derived
  /v1/Confirm/Alternative/ValidateImport/AssetValuation:
    post:
      tags:
      - Confirm/Alternative
      operationId: AlternativeValidateImportAssetValuation_ImportAssetValuationsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationValidationDto'
                xml:
                  name: AssetValuationValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationValidationDto'
                xml:
                  name: AssetValuationValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationValidationDto'
                xml:
                  name: AssetValuationValidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationValidationDto'
                xml:
                  name: AssetValuationValidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationValidationDto'
                xml:
                  name: AssetValuationValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationValidationDto'
                xml:
                  name: AssetValuationValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Alternative validate import asset valuation import asset valuations async
      x-summary-source: derived
  /v1/Confirm/Alternative/ValidateImport/AssetValuation/Templates/Csv:
    get:
      tags:
      - Confirm/Alternative
      operationId: AlternativeValidateImportAssetValuation_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Alternative validate import asset valuation get csv template
      x-summary-source: derived
  /v1/Confirm/Alternative/ValidateImport/AssetValuation/Templates/Xls:
    get:
      tags:
      - Confirm/Alternative
      operationId: AlternativeValidateImportAssetValuation_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Alternative validate import asset valuation get xls template
      x-summary-source: derived
  /v1/Confirm/Alternative/ValidateImport/AssetValuation/Templates/Xlsx:
    get:
      tags:
      - Confirm/Alternative
      operationId: AlternativeValidateImportAssetValuation_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Alternative validate import asset valuation get xlsx template
      x-summary-source: derived
  /v1/Confirm/Alternative/ValidateImport/AssetValuation/Update:
    post:
      tags:
      - Confirm/Alternative
      operationId: AlternativeValidateImportAssetValuation_UpdateAssetValuationValidationsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationValidationDto'
              xml:
                name: AssetValuationValidationDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationValidationDto'
              xml:
                name: AssetValuationValidationDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationValidationDto'
              xml:
                name: AssetValuationValidationDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationValidationDto'
              xml:
                name: AssetValuationValidationDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationValidationDto'
              xml:
                name: AssetValuationValidationDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationValidationDto'
              xml:
                name: AssetValuationValidationDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationValidationDto'
              xml:
                name: AssetValuationValidationDto
                wrapped: true
              type: array
        required: true
      summary: Alternative validate import asset valuation update asset valuation validations…
      x-summary-source: derived
  /v1/Confirm/Alternative/ValidateImport/Transactions:
    post:
      tags:
      - Confirm/Alternative
      operationId: AlternativeValidateImportTransactions_ImportAlternativeTransactionsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.TransactionAlternativeValidationDto'
                xml:
                  name: TransactionAlternativeValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.TransactionAlternativeValidationDto'
                xml:
                  name: TransactionAlternativeValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.TransactionAlternativeValidationDto'
                xml:
                  name: TransactionAlternativeValidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.TransactionAlternativeValidationDto'
                xml:
                  name: TransactionAlternativeValidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.TransactionAlternativeValidationDto'
                xml:
                  name: TransactionAlternativeValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.TransactionAlternativeValidationDto'
                xml:
                  name: TransactionAlternativeValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Alternative validate import transactions import alternative transactions async
      x-summary-source: derived
  /v1/Confirm/Alternative/ValidateImport/Transactions/Templates/Csv:
    get:
      tags:
      - Confirm/Alternative
      operationId: AlternativeValidateImportTransactions_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Alternative validate import transactions get csv template
      x-summary-source: derived
  /v1/Confirm/Alternative/ValidateImport/Transactions/Templates/Xls:
    get:
      tags:
      - Confirm/Alternative
      operationId: AlternativeValidateImportTransactions_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Alternative validate import transactions get xls template
      x-summary-source: derived
  /v1/Confirm/Alternative/ValidateImport/Transactions/Templates/Xlsx:
    get:
      tags:
      - Confirm/Alternative
      operationId: AlternativeValidateImportTransactions_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Alternative validate import transactions get xlsx template
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Confirm.Alternative.ExpectedReturnDto:
      properties:
        productId:
          type: integer
          format: int32
        startDate:
          type: string
          format: date-time
        high:
          type: number
          format: double
        low:
          type: number
          format: double
        comment:
          type: string
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: ExpectedReturnDto
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionTimeDto:
      properties:
        mostRecent:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionTimeValueDto'
          readOnly: true
        values:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionTimeValueDto'
          xml:
            name: EntityOptionTimeValueDto
            wrapped: true
          type: array
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionTimeDto
      type: object
    OAS.WebApi.DTO.Portfolio.CostBasisHistoryDto:
      properties:
        id:
          type: integer
          format: int32
        acquiredDate:
          type: string
          format: date-time
        sellDate:
          type: string
          format: date-time
        holdingPeriodDate:
          type: string
          format: date-time
        costAmount:
          type: number
          format: double
        numberOfUnits:
          type: number
          format: double
        method:
          type: string
        proceedAmount:
          type: number
          format: double
        importedDate:
          type: string
          format: date-time
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: CostBasisHistoryDto
      type: object
    OAS.WebApi.DTO.Confirm.Alternative.TransactionAlternativeValidationDto:
      properties:
        isValid:
          type: boolean
        validationMessage:
          type: string
        warningMessage:
          type: string
        recordKey:
          type: string
        impactsCommitment:
          type: boolean
        impactsCapitalBalance:
          type: boolean
        originalCost:
          type: number
          format: double
        originalCostDate:
          type: string
          format: date-time
        equityFundingType:
          type: string
        equityFundingTypeId:
          type: integer
          format: int32
        equityActivityType:
          type: string
        equityActivityTypeId:
          type: integer
          format: int32
        costBasis:
          type: number
          format: double
        productTransactionId:
          type: integer
          format: int32
        cashDate:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        transDate:
          type: string
          format: date-time
        transactionDescription:
          type: string
        productName:
          type: string
        ticker:
          type: string
        transAmount:
          type: number
          format: double
        noUnits:
          type: number
          format: double
        navPrice:
          type: number
          format: double
        accountNumber:
          type: string
        status:
          type: string
          enum:
          - Complete
          - Pending
          - Rejected
          - Reversed
          - Inactive
          - PendingCorpAction
          - FutureAip
        fileTranCode:
          type: string
        type:
          type: string
        transTime:
          type: string
          format: date-time
        assetId:
          type: integer
          format: int32
        assetStatusId:
          type: integer
          format: int32
        cusip:
          type: string
        notes:
          type: string
        transTypeId:
          type: integer
          format: int32
        transactionSubTypeId:
          type: integer
          format: int32
        transactionSubTypeName:
          type: string
        transactionSubTypeDescription:
          type: string
        contributionCodeId:
          type: integer
          format: int32
        contributionCodeName:
          type: string
        distributionCodeId:
          type: integer
          format: int32
        distributionCodeName:
          type: string
        accountId:
          type: integer
          format: int32
        accountStatusId:
          type: integer
          format: int32
        managementStyle:
          type: string
        payee:
          type: integer
          format: int32
        advisorNotes:
          type: string
        state:
          type: string
        settleDate:
          type: string
          format: date-time
        tradeReferenceNumber:
          type: string
        transactionLinkCode:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        registrationId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        typeCode:
          type: string
        brokerCode:
          type: string
        accountType:
          type: string
        fundFamily:
          type: string
        custodian:
          type: string
        count:
          type: integer
          format: int32
        registrationName:
          type: string
        unitBalance:
          type: number
          format: double
        productId:
          type: integer
          format: int32
        performanceFeeBreak:
          type: boolean
        financialType:
          type: string
          enum:
          - None
          - Contribution
          - Distribution
          - Exchange
          - DivReinvest
          - MgmntFees
          - DivCash
          - MiscFees
          - Journal
          - Merges
      xml:
        name: TransactionAlternativeValidationDto
      type: object
    OAS.WebApi.DTO.Confirm.Alternative.AssetVerboseValidationDto:
      properties:
        isValid:
          type: boolean
        validationMessage:
          type: string
        warningMessage:
          type: string
        recordKey:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        isDataSharingEntity:
          type: boolean
        portfolio:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetPortfolioDto'
        billing:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetBillingDto'
        stepUps:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.StepUpDto'
          xml:
            name: StepUpDto
            wrapped: true
          type: array
        bifurcates:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BifurcateDto'
          xml:
            name: BifurcateDto
            wrapped: true
          type: array
        costBasisHistories:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasisHistoryDto'
          xml:
            name: CostBasisHistoryDto
            wrapped: true
          type: array
        costBasisLots:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UnrealizedAssetCostDto'
          xml:
            name: UnrealizedAssetCostDto
            wrapped: true
          type: array
        entityOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
        userDefinedFields:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
        userDefinedTimeFields:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionTimeDto'
          xml:
            name: EntityOptionTimeDto
            wrapped: true
          type: array
        assetValuations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.AssetValuationDto'
          xml:
            name: AssetValuationDto
            wrapped: true
          type: array
        commitments:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Alternative.CommitmentLedgerDto'
          xml:
            name: CommitmentLedgerDto
            wrapped: true
          type: array
[...]
