openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Product Description Provider API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/ProductDescriptionProvider
paths:
  /v1/Portfolio/ProductDescriptionProvider/Assignments:
    get:
      tags:
      - Portfolio/ProductDescriptionProvider
      summary: Gets a list of product description provider assignments that the logged in user…
      operationId: ProductDescriptionProviderControllerAssignment_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
                xml:
                  name: ProductDescriptionAssignmentDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
                xml:
                  name: ProductDescriptionAssignmentDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
                xml:
                  name: ProductDescriptionAssignmentDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
                xml:
                  name: ProductDescriptionAssignmentDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/ProductDescriptionProvider
      operationId: ProductDescriptionProviderControllerAssignment_UpdateAssignments
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
                xml:
                  name: ProductDescriptionAssignmentDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
                xml:
                  name: ProductDescriptionAssignmentDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
                xml:
                  name: ProductDescriptionAssignmentDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
                xml:
                  name: ProductDescriptionAssignmentDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
              xml:
                name: ProductDescriptionAssignmentDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
              xml:
                name: ProductDescriptionAssignmentDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
              xml:
                name: ProductDescriptionAssignmentDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
              xml:
                name: ProductDescriptionAssignmentDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
              xml:
                name: ProductDescriptionAssignmentDto
                wrapped: true
              type: array
        required: true
      summary: Product description provider controller assignment update assignments
      x-summary-source: derived
  /v1/Portfolio/ProductDescriptionProvider/Assignments/{key}:
    get:
      tags:
      - Portfolio/ProductDescriptionProvider
      summary: Gets the product description provider assignments for the product type provided
      operationId: ProductDescriptionProviderControllerAssignment_GetByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/ProductDescriptionProvider
      operationId: ProductDescriptionProviderControllerAssignment_UpdateAssignment
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto'
        required: true
      summary: Product description provider controller assignment update assignment
      x-summary-source: derived
  /v1/Portfolio/ProductDescriptionProvider/Assignments/RunAutoAssignments:
    post:
      tags:
      - Portfolio/ProductDescriptionProvider
      operationId: ProductDescriptionProviderControllerAssignment_RunAutoAssignments
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Product description provider controller assignment run auto assignments
      x-summary-source: derived
  /v1/Portfolio/ProductDescriptionProvider/Simple:
    get:
      tags:
      - Portfolio/ProductDescriptionProvider
      operationId: ProductDescriptionProvider_GetSimpleAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Product description provider get simple all
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.ProductDescriptionAssignmentDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
        assignments:
          properties:
            assetClass:
              items:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
              xml:
                name: SimpleEntity
                wrapped: true
              type: array
            riskCategory:
              items:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
              xml:
                name: SimpleEntity
                wrapped: true
              type: array
          type: object
      xml:
        name: ProductDescriptionAssignmentDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
