openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Cetera API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Cetera
paths:
  /v1/Integrations/Cetera/CRDBD:
    get:
      tags:
      - Integrations/Cetera
      operationId: Cetera_GetCRDBDAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Cetera get CRDBD async
      x-summary-source: derived
  /v1/Integrations/Cetera/SFCase:
    get:
      tags:
      - Integrations/Cetera
      operationId: Cetera_GetCeteraSalesforceCaseAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Cetera get cetera salesforce case async
      x-summary-source: derived
    post:
      tags:
      - Integrations/Cetera
      operationId: Cetera_PostCeteraSalesforceCaseAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.CeteraSFCaseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.CeteraSFCaseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.CeteraSFCaseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.CeteraSFCaseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.CeteraSFCaseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.CeteraSFCaseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Cetera.CeteraSFCaseDto'
        required: true
      summary: Cetera post cetera salesforce case async
      x-summary-source: derived
components:
  schemas:
    OAT.Integrations.Cetera.CeteraSFCaseDto:
      properties:
        caseNumber:
          type: string
        ClientAccountNumber:
          type: string
        UserIdentifier:
          type: string
        requestType:
          type: string
        requestSubType:
          type: string
        description:
          type: string
        status:
          readOnly: true
          type: string
        recordType:
          readOnly: true
          type: string
        queue:
          readOnly: true
          type: string
        createdBy:
          readOnly: true
          type: string
        integrationSource:
          readOnly: true
          type: string
        ClientName:
          type: string
        repCode:
          type: string
        email:
          type: string
        files:
          items:
            $ref: '#/components/schemas/OAT.Integrations.Cetera.CeteraSFCaseDtoFile'
          xml:
            name: CeteraSFCaseDtoFile
            wrapped: true
          type: array
      xml:
        name: CeteraSFCaseDto
      type: object
    OAT.Integrations.Cetera.CeteraSFCaseDtoFile:
      properties:
        name:
          type: string
        body:
          type: string
        parentId:
          type: string
        description:
          type: string
      xml:
        name: CeteraSFCaseDtoFile
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
