openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Axos API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Axos
paths:
  /v1/Integrations/Axos/GetToken:
    put:
      tags:
      - Integrations/Axos
      summary: Axos put V1 integrations axos get token
      operationId: Axos_PutV1IntegrationsAxosGetToken
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
        required: true
      x-summary-source: derived
    post:
      tags:
      - Integrations/Axos
      summary: Axos get token async
      operationId: Axos_GetTokenAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosCreds'
        required: true
      x-summary-source: derived
  /v1/Integrations/Axos/RefreshToken:
    get:
      tags:
      - Integrations/Axos
      summary: Axos refresh token async
      operationId: Axos_RefreshTokenAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Axos.Models.AxosToken'
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Axos/Statement/Download:
    get:
      tags:
      - Integrations/Axos
      summary: Axos download statement async
      operationId: Axos_DownloadStatementAsync
      parameters:
      - name: documentid
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Axos/Statements:
    get:
      tags:
      - Integrations/Axos
      summary: Axos get statements async
      operationId: Axos_GetStatementsAsync
      parameters:
      - name: accountNumber
        in: query
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Axos/TaxForm/Download:
    get:
      tags:
      - Integrations/Axos
      summary: Axos download tax forms async
      operationId: Axos_DownloadTaxFormsAsync
      parameters:
      - name: documentid
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Axos/TaxForms:
    get:
      tags:
      - Integrations/Axos
      summary: Axos get tax forms async
      operationId: Axos_GetTaxFormsAsync
      parameters:
      - name: accountNumber
        in: query
        required: true
        schema:
          type: string
      - name: startYear
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: endYear
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
components:
  schemas:
    OAS.Integrations.Axos.Models.AxosToken:
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        scope:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer
          format: int32
        expires_datetime:
          type: string
          format: date-time
      xml:
        name: AxosToken
      type: object
    OAS.Integrations.Axos.Models.AxosCreds:
      properties:
        axosUser:
          type: string
        axosWord:
          type: string
      xml:
        name: AxosCreds
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
