openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Tax Lot Assignments API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/TaxLotAssignments
paths:
  /v1/Portfolio/TaxLotAssignments:
    get:
      tags:
      - Portfolio/TaxLotAssignments
      summary: Get all of the
      operationId: TranTaxLots_GetAllTaxLot
      parameters:
      - name: assetId
        in: query
        description: AssetId of the desired return object.
        required: false
        schema:
          type: integer
          format: int32
      - name: transactionId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/TaxLotAssignments
      operationId: TranTaxLots_UpdateTaxLot
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
        required: true
      summary: Tran tax lots update tax lot
      x-summary-source: derived
    post:
      tags:
      - Portfolio/TaxLotAssignments
      operationId: TranTaxLots_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
              xml:
                name: TranTaxLotDto
                wrapped: true
              type: array
        required: true
      summary: Tran tax lots create entity
      x-summary-source: derived
  /v1/Portfolio/TaxLotAssignments/{key}:
    get:
      tags:
      - Portfolio/TaxLotAssignments
      summary: Gets the TranTaxLot that has the provided key.
      operationId: TranTaxLots_GetTaxLotByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
      security:
      - Authorization: []
    delete:
      tags:
      - Portfolio/TaxLotAssignments
      summary: Deletes the existing TranTaxLot Entry
      operationId: TranTaxLots_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/TaxLotAssignments/{sellTransactionId}/AssetBuyTransactions/{transDate}:
    get:
      tags:
      - Portfolio/TaxLotAssignments
      summary: Gets a list transactions from the range provided for the asset with the…
      operationId: TranTaxLots_GetAssetBuyTransactions
      parameters:
      - name: sellTransactionId
        in: path
        description: Id of the Sell Transaction that is to be matched.
        required: true
        schema:
          type: integer
          format: int32
      - name: transDate
        in: path
        description: TransDate for the sell transaction.  All transaction brought back in this get have to be from before this date.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetTranLotDto'
                xml:
                  name: AssetTranLotDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetTranLotDto'
                xml:
                  name: AssetTranLotDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetTranLotDto'
                xml:
                  name: AssetTranLotDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetTranLotDto'
                xml:
                  name: AssetTranLotDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetTranLotDto'
                xml:
                  name: AssetTranLotDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetTranLotDto'
                xml:
                  name: AssetTranLotDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/TaxLotAssignments/GetCostBasis/{assetId}:
    get:
      tags:
      - Portfolio/TaxLotAssignments
      summary: Gets a list Tax Lots from the range provided for the asset with the specified…
      operationId: TranTaxLots_GetTaxLotByAsset
      parameters:
      - name: assetId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetTaxLotDto'
                xml:
                  name: AssetTaxLotDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetTaxLotDto'
                xml:
                  name: AssetTaxLotDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetTaxLotDto'
                xml:
                  name: AssetTaxLotDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetTaxLotDto'
                xml:
                  name: AssetTaxLotDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetTaxLotDto'
                xml:
                  name: AssetTaxLotDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetTaxLotDto'
                xml:
                  name: AssetTaxLotDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/TaxLotAssignments/List:
    get:
      tags:
      - Portfolio/TaxLotAssignments
      summary: Returns a list of Assets that are found for the list of Id's posted in the…
      operationId: TranTaxLots_GetTaxLotByKeys
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: Keys of the desired return object.
        required: true
  /v1/Portfolio/TaxLotAssignments/List/Id:
    get:
      tags:
      - Portfolio/TaxLotAssignments
      summary: Returns a list of Assets that are found for the list of Id's posted in the…
      operationId: TranTaxLots_GetV1PortfolioTaxLotAssignmentsListId
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TranTaxLotDto'
                xml:
                  name: TranTaxLotDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: Keys of the desired return object.
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.AssetTranLotDto:
      properties:
        pkTransaction:
          type: integer
          format: int32
        transDate:
          type: string
          format: date-time
        noUnits:
          type: number
          format: double
        transAmount:
          type: number
          format: double
        unitCost:
          type: number
          format: double
        description:
          type: string
        unitsRemaining:
          type: number
          format: double
        unitsSold:
          type: number
          format: double
      xml:
        name: AssetTranLotDto
      type: object
    OAS.WebApi.DTO.Portfolio.AssetTaxLotDto:
      properties:
        accountId:
          type: integer
          format: int32
        aquiredDate:
          type: string
        isCash:
          type: boolean
        productId:
          type: integer
          format: int32
        productName:
          type: string
        symbol:
          type: string
        totalCost:
          type: number
          format: double
        units:
          type: number
          format: double
        costBasisPerUnit:
          type: number
          format: double
        cusip:
          type: string
        taxTransType:
          type: string
          enum:
          - Sell
          - Buy
          - WashSale
          - NotUsed
          - MoneyMarket
          - StepUp
          - Spinoff
        transactionId:
          type: integer
          format: int32
        transDate:
          type: string
          format: date-time
      xml:
        name: AssetTaxLotDto
      type: object
    OAS.WebApi.DTO.Portfolio.TranTaxLotDto:
      properties:
        id:
          type: integer
          format: int32
        transactionId:
          type: integer
          format: int32
        tranBuyId:
          type: integer
          format: int32
        noUnits:
          type: number
          format: double
        description:
          type: string
        taxLotType:
          type: string
          enum:
          - None
          - SpecificId
          - LinkedHistory
          - Normal
          - Unrealized
          - StepUp
          - Spinoff
      xml:
        name: TranTaxLotDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
