openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Assistant API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/Assistant
paths:
  /v1/Reporting/Assistant/ControlList:
    get:
      tags:
      - Reporting/Assistant
      operationId: ReportAssistant_GetControlListAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantControlListResponse'
                type: object
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantControlListResponse'
                type: object
            text/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantControlListResponse'
                type: object
            multipart/form-data:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantControlListResponse'
                type: object
      security:
      - Authorization: []
      summary: Report assistant get control list async
      x-summary-source: derived
  /v1/Reporting/Assistant/DataDefinitions/Update/Run:
    post:
      tags:
      - Reporting/Assistant
      operationId: ReportAssistant_RunReportAssistantDataDefinitionsSyncJob
      parameters:
      - name: useLocalService
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Report assistant run report assistant data definitions sync job
      x-summary-source: derived
  /v1/Reporting/Assistant/Index/Update/Run:
    post:
      tags:
      - Reporting/Assistant
      operationId: ReportAssistant_RunReportAssistantReferenceSyncJob
      parameters:
      - name: useLocalService
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Report assistant run report assistant reference sync job
      x-summary-source: derived
  /v1/Reporting/Assistant/prompt:
    post:
      tags:
      - Reporting/Assistant
      operationId: ReportAssistant_SendPromptAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantResponse'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantResponse'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantRequest'
        required: true
      summary: Report assistant send prompt async
      x-summary-source: derived
  /v1/Reporting/Assistant/PromptSystemList:
    get:
      tags:
      - Reporting/Assistant
      operationId: ReportAssistant_PromptSystemListAsync
      parameters:
      - name: code
        in: query
        required: false
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.PromptSystemResponse'
                xml:
                  name: PromptSystemResponse
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.PromptSystemResponse'
                xml:
                  name: PromptSystemResponse
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.PromptSystemResponse'
                xml:
                  name: PromptSystemResponse
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.PromptSystemResponse'
                xml:
                  name: PromptSystemResponse
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Report assistant prompt system list async
      x-summary-source: derived
components:
  schemas:
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantPrompt:
      properties:
        code:
          type: string
        displayName:
          type: string
        prompt:
          type: string
      xml:
        name: ReportAssistantPrompt
      type: object
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.UserContext:
      properties:
        alClientId:
          type: integer
          format: int32
        loginEntityId:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        loginUserId:
          type: string
      xml:
        name: UserContext
      type: object
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.SecondaryIntentStepDto:
      properties:
        request:
          type: string
        controlIntentOutput:
          additionalProperties:
            type: object
          type: object
      xml:
        name: SecondaryIntentStepDto
      type: object
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantResponse:
      properties:
        response:
          type: string
        promptSuggestions:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantPromptResponse'
          xml:
            name: ReportAssistantPromptResponse
            wrapped: true
          type: array
        intentParams:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.UserIntentParams'
        summaryContext:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ConversationSummaryContext'
        primaryIntent:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.RouteUserIntentOutput'
        originalPrompt:
          type: string
        secondaryIntents:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.SecondaryIntentStepDto'
          xml:
            name: SecondaryIntentStepDto
            wrapped: true
          type: array
        cachedReferenceMaterial:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.CachedReferenceMaterial'
      xml:
        name: ReportAssistantResponse
      type: object
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantControlListResponse:
      properties:
        displayName:
          type: string
        defaultSchema:
          type: string
      xml:
        name: ReportAssistantControlListResponse
      type: object
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.AiChatMessage:
      properties:
        role:
          type: string
        text:
          type: string
      xml:
        name: AiChatMessage
      type: object
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.PaginationInfo:
      properties:
        pageNumber:
          type: integer
          format: int32
      xml:
        name: PaginationInfo
      type: object
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantRequest:
      properties:
        editorContext:
          type: string
          enum:
          - Report
          - SubReport
        controlType:
          type: string
        controlId:
          type: string
        json:
          type: string
        userContext:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.UserContext'
        aiChatMessages:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.AiChatMessage'
          xml:
            name: AiChatMessage
            wrapped: true
          type: array
        promptCommand:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantPrompt'
        useLocalService:
          type: boolean
        pageInfo:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.PaginationInfo'
        correlationId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        summaryContext:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ConversationSummaryContext'
        prompt:
          type: string
        resumeFollowup:
          type: boolean
        originalPrompt:
          type: string
        primaryIntent:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.RouteUserIntentOutput'
        secondaryIntents:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.SecondaryIntentStepDto'
          xml:
            name: SecondaryIntentStepDto
            wrapped: true
          type: array
        cachedReferenceMaterial:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.CachedReferenceMaterial'
      xml:
        name: ReportAssistantRequest
      type: object
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ReportAssistantPromptResponse:
      properties:
        promptType:
          type: string
          enum:
          - System
          - Prompt
        promptParams:
          type: string
        sortOrder:
          type: integer
          format: int32
        code:
          type: string
        displayName:
          type: string
        prompt:
          type: string
      xml:
        name: ReportAssistantPromptResponse
      type: object
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.ConversationSummaryContext:
      properties:
        summary:
          type: string
        messageCount:
          type: integer
          format: int32
      xml:
        name: ConversationSummaryContext
      type: object
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.RouteUserIntentOutput:
      properties:
        intent:
          type: string
        confidence:
          type: number
          format: double
        steps:
          items:
            type: string
          type: array
        controlList:
          items:
            type: string
          type: array
        addControlType:
          type: string
        convertToControlType:
          type: string
        referenceControlType:
          type: string
        location:
          type: string
        needsTags:
          type: boolean
        skipGroupingQuery:
          type: boolean
        needsSettings:
          type: boolean
        reason:
          type: string
        followupQuestion:
          type: string
      xml:
        name: RouteUserIntentOutput
      type: object
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.CachedReferenceMaterial:
      properties:
        groupingList:
          type: string
        tagList:
          type: string
        settingsList:
          type: string
      xml:
        name: CachedReferenceMaterial
      type: object
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.PromptSystemResponse:
      properties:
        code:
          type: string
        displayName:
          type: string
        allowedLocations:
          type: integer
          format: int32
        prompt:
          type: string
        promptType:
          type: string
          enum:
          - System
          - Prompt
        promptAction:
          type: string
          enum:
          - Add
          - Edit
          - PromptCommand
          - Dropdown
          - Link
        promptParams:
          type: string
        promptResponse:
          type: string
        promptCodeSuggestions:
          items:
            type: string
          type: array
        properties:
          additionalProperties:
            type: object
          type: object
        invalidValues:
          additionalProperties:
            type: object
          type: object
        sortOrder:
          type: integer
          format: int32
      xml:
        name: PromptSystemResponse
      type: object
    OAS.DataProcess.Reporting.ReportingAi.ReportAssistant.UserIntentParams:
      properties:
        intent:
          type: string
        parentControlId:
          type: string
        addControlLocation:
          type: string
        addControlType:
          type: string
        documentationType:
          type: string
          enum:
          - Full
          - Property
        requests:
          items:
            type: string
          type: array
      xml:
        name: UserIntentParams
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
