openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Interface Setup API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/InterfaceSetup
paths:
  /v1/Reporting/InterfaceSetup:
    get:
      tags:
      - Reporting/InterfaceSetup
      operationId: InterfaceSetup_GetAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeItemDto'
                xml:
                  name: QpeItemDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeItemDto'
                xml:
                  name: QpeItemDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeItemDto'
                xml:
                  name: QpeItemDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeItemDto'
                xml:
                  name: QpeItemDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeItemDto'
                xml:
                  name: QpeItemDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeItemDto'
                xml:
                  name: QpeItemDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Interface setup get all
      x-summary-source: derived
  /v1/Reporting/InterfaceSetup/{key}/DashboardNewsletter:
    get:
      tags:
      - Reporting/InterfaceSetup
      operationId: InterfaceSetup_DownloadNewsletter
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Interface setup download newsletter
      x-summary-source: derived
    post:
      tags:
      - Reporting/InterfaceSetup
      operationId: InterfaceSetup_UploadDashboardNewsletterAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Interface setup upload dashboard newsletter async
      x-summary-source: derived
  /v1/Reporting/InterfaceSetup/{qpeItemId}:
    get:
      tags:
      - Reporting/InterfaceSetup
      operationId: InterfaceSetup_GetItemDetails
      parameters:
      - name: qpeItemId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeItemDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeItemDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeItemDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeItemDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeItemDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeItemDto'
      security:
      - Authorization: []
      summary: Interface setup get item details
      x-summary-source: derived
  /v1/Reporting/InterfaceSetup/{qpeItemId}/Dashboard:
    get:
      tags:
      - Reporting/InterfaceSetup
      summary: Interface setup get dashboard details
      operationId: InterfaceSetup_GetDashboardDetails
      parameters:
      - name: qpeItemId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: storeSnapshotData
        in: query
        description: Determins if data should be stored in the QpeDetailstbl
        required: false
        schema:
          type: boolean
          default: false
      - name: getStoredData
        in: query
        description: Determins if data is retrived in real time or from QpeDashboardDtl table
        required: false
        schema:
          type: boolean
          default: false
      - name: resetCache
        in: query
        description: 'Optional. Default: false. The result is cached for one hour. To force the cache to refresh call with resetCache = true.'
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Reporting/InterfaceSetup/{qpeItemId}/DrillDown:
    get:
      tags:
      - Reporting/InterfaceSetup
      operationId: InterfaceSetup_GetQpeDashboardDtlDrillDown
      parameters:
      - name: qpeItemId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: linkCode
        in: query
        required: true
        schema:
          type: string
          enum:
          - FeeSchFlat
          - FeeSchTiered
          - FeeSchLinear
          - PaySched
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.QpeDashboard.SpimQpeDashboardDtlGetDrillDown'
                xml:
                  name: SpimQpeDashboardDtlGetDrillDown
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.QpeDashboard.SpimQpeDashboardDtlGetDrillDown'
                xml:
                  name: SpimQpeDashboardDtlGetDrillDown
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.QpeDashboard.SpimQpeDashboardDtlGetDrillDown'
                xml:
                  name: SpimQpeDashboardDtlGetDrillDown
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.QpeDashboard.SpimQpeDashboardDtlGetDrillDown'
                xml:
                  name: SpimQpeDashboardDtlGetDrillDown
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.QpeDashboard.SpimQpeDashboardDtlGetDrillDown'
                xml:
                  name: SpimQpeDashboardDtlGetDrillDown
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.QpeDashboard.SpimQpeDashboardDtlGetDrillDown'
                xml:
                  name: SpimQpeDashboardDtlGetDrillDown
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Interface setup get qpe dashboard dtl drill down
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Reporting.Qpe.WorkflowItemDto:
      properties:
        id:
          type: integer
          format: int32
        itemDesc:
          type: string
        actions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.WorkflowActionDto'
          xml:
            name: WorkflowActionDto
            wrapped: true
          type: array
      xml:
        name: WorkflowItemDto
      type: object
    OAS.DataModel.Reporting.QpeDashboard.SpimQpeDashboardDtlGetDrillDown:
      properties:
        scheduleName:
          type: string
        assignedCount:
          type: integer
          format: int32
      xml:
        name: SpimQpeDashboardDtlGetDrillDown
      type: object
    OAS.WebApi.DTO.Reporting.Qpe.QpeItemDto:
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
        period:
          type: string
          enum:
          - Quarterly
          - Monthly
          - TriAnnually
        startDate:
          type: string
          format: date-time
        targetDate:
          type: string
          format: date-time
        signedOffBy:
          type: string
        signedOffDate:
          type: string
          format: date-time
        workflowItemId:
          type: integer
          format: int32
        workflowItem:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.WorkflowItemDto'
        completedPercent:
          type: number
          format: double
        newsletters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeDashboardBlobDto'
          xml:
            name: QpeDashboardBlobDto
            wrapped: true
          type: array
        newsletter:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Qpe.QpeDashboardNewsletterDto'
        isOldStyle:
          type: boolean
        friendlyName:
          readOnly: true
          type: string
      xml:
        name: QpeItemDto
      type: object
    OAS.WebApi.DTO.Reporting.Qpe.WorkflowActionDto:
      properties:
        id:
          type: integer
          format: int32
        actionDesc:
          type: string
        completedDate:
          type: string
          format: date-time
        actionComment:
          type: string
        runnableClass:
          type: string
      xml:
        name: WorkflowActionDto
      type: object
    OAS.WebApi.DTO.Reporting.Qpe.QpeDashboardNewsletterDto:
      properties:
        fileName:
          type: string
      xml:
        name: QpeDashboardNewsletterDto
      type: object
    OAS.WebApi.DTO.Reporting.Qpe.QpeDashboardBlobDto:
      properties:
        id:
          type: integer
          format: int32
        fileName:
          type: string
      xml:
        name: QpeDashboardBlobDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
