openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Download Format Source Default API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/DownloadFormatSourceDefault
paths:
  /v1/Confirm/DownloadFormatSourceDefault:
    get:
      tags:
      - Confirm/DownloadFormatSourceDefault
      summary: Gets a list of Download Format Source Default that the logged in user has…
      description: 'Sample Request

        GET /Confirm/DownloadFormatSourceDefault'
      operationId: DownloadFormatSourceDefault_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/DownloadFormatSourceDefault
      summary: Insert Download Format Source Default
      description: 'Sample Request

        POST /Confirm/DownloadFormatSourceDefault

        {

        "downloadFormatId": 14,

        "downloadDescription": "Under Review - DST",

        "custodianCommonCode": "DST",

        "serviceTeamReconId": 52,

        "serviceTeamMemberId": null,

        "newAccounts": "Don''t Create",

        "reconTargetTime": "2017-06-22T10:00:00-05:00",

        "note": "New test sreeja test",

        "transmitMethod": "DSTHTTP",

        "url": "",

        "filePattern": "*.*",

        "altFilePattern": "",

        "patternMatchType": "Included",

        "zipPassword": "",

        "userId": "***Required***",

        "password": "***Required***",

        "transPercTolerance": 15,

        "transDaysTolerance": 5,

        "cashCusip": null,

        "deleteSourceFile": true,

        "registrationBaseNumber": 0,

        "positionOnlyReconcile": "No",

        "dailyAccrualTolerance": 0,

        "useReversal": true,

        "ignoreRepVerify": false,

        "isAutoHouseholding": true,

        "noOrionPriceCopy": false,

        "newAccountCenterSuppression": false,

        "isFixSmallBalance": false,

        "isDividendTransactionCombination": false,

        "alwaysCreateNewRegistration": false,

        "namePercentMatch": 0,

        "positionPercentMatch": 0,

        "transactionPercentMatch": 0,

        "comparePositionValue": false,

        "runAssetValueComparison": true,

        "isSourceExclusionCB": false,

        "isSourceExclusionTran": true,

        "isUnVerifiedSells": false,

        "allowPriceZero": false,

        "allowAcctCodeMatch": true,

        "allowAcctCodeMatchWOZero": false,

        "allowSecondaryAcctCodeMatch": false,

        "allowPriceImport": false,

        "allowNameImport": true,

        "allowPositionImport": true,

        "allowTransactionImport": true,

        "allowSecurityImport": true,

        "allowCorpActionImport": false,

        "allowDivImport": false,

        "allowBeneficiaryImport": false,

        "allowSystematicImport": null,

        "allowRMDImport": null,

        "allowBankingImport": null,

        "allowTranDetailImport": false,

        "allowGenericImport": false,

        "allowCostBasisImport": false,

        "isActive": true,

        "autoCreateStartingValues": false,

        "archiveFiles": false,

        "underReview": false,

        "isOrionEnterpriseEnabled": false,

        "allowDuplicateAssets": false,

        "allowProperName": false,

        "removeSettleDateTrades": false,

        "principalAndIncome": false,

        "createTransactionInPendingStatus": false,

        "isSshEnabled": false,

        "hasSftpKey": false,

        "editedDate": "2022-06-14T12:05:29.54-05:00",

        "editedBy": "cameron.stoner",

        "createdDate": null,

        "createdBy": null,

        "options": [

        {

        "code": "AutoConfirmUnmatchedPrices",

        "name": "Auto Confirm Unmatched Prices",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": "manualPriceConfirm"

        },

        {

        "code": "COMBINESWEEP",

        "name": "Remove Self-Sweep Activity",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "ProductDailyAccrual",

        "name": "Product Daily Accrual",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "SleeveFileNoExclusion",

        "name": "Sleeve File No Exclusion",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "SPLITPOSITIONROLLUP",

        "name": "Split Position Rollup",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "SweepToFrom",

        "name": "Sweep To From",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseNewPosVerifyApply",

        "name": "Use New Position Verify|Apply",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseNewPriceVerifyApply",

        "name": "Use New Price Verify|Apply",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseNewSecurityMasterVerifyApply",

        "name": "Use New Security Master Verify|Apply",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseNewTransactionVerifyApply",

        "name": "Use New Transaction Verify/Apply",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseTDAllocationToTomForEclipseDB",

        "name": "TD Trade Allocations to TOM for Eclipse DB",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "PRICEROLLUPPRECISION",

        "name": "Price Rollup Precision",

        "type": "number",

        "value": "8",

        "privilegeCode": null

        },

        {

        "code": "emailList",

        "name": "Watcher Email List",

        "type": "textarea",

        "value": "",

        "privilegeCode": null

        }

        ]

        }'
      operationId: DownloadFormatSourceDefault_CreateDownloadSourceDefaultAsync
      parameters:
      - name: token
        in: header
        description: The token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
        description: The dto.
        required: true
  /v1/Confirm/DownloadFormatSourceDefault/{key}:
    get:
      tags:
      - Confirm/DownloadFormatSourceDefault
      summary: Gets the Download Format Source Default that has the provided key.
      description: 'Sample Request

        GET /Confirm/DownloadFormatSourceDefault/14'
      operationId: DownloadFormatSourceDefault_GetByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/DownloadFormatSourceDefault
      summary: Update Download Format Source Default
      description: 'Sample Request

        GET /Confirm/DownloadFormatSourceDefault/14

        {

        Sample Request

        POST /Confirm/DownloadFormatSourceDefault

        {

        "downloadFormatId": 14,

        "downloadDescription": "Under Review - DST",

        "custodianCommonCode": "DST",

        "serviceTeamReconId": 52,

        "serviceTeamMemberId": null,

        "newAccounts": "Don''t Create",

        "reconTargetTime": "2017-06-22T10:00:00-05:00",

        "note": "New test sreeja test",

        "transmitMethod": "DSTHTTP",

        "url": "",

        "filePattern": "*.*",

        "altFilePattern": "",

        "patternMatchType": "Included",

        "zipPassword": "",

        "userId": "***Required***",

        "password": "***Required***",

        "transPercTolerance": 15,

        "transDaysTolerance": 5,

        "cashCusip": null,

        "deleteSourceFile": true,

        "registrationBaseNumber": 0,

        "positionOnlyReconcile": "No",

        "dailyAccrualTolerance": 0,

        "useReversal": true,

        "ignoreRepVerify": false,

        "isAutoHouseholding": true,

        "noOrionPriceCopy": false,

        "newAccountCenterSuppression": false,

        "isFixSmallBalance": false,

        "isDividendTransactionCombination": false,

        "alwaysCreateNewRegistration": false,

        "namePercentMatch": 0,

        "positionPercentMatch": 0,

        "transactionPercentMatch": 0,

        "comparePositionValue": false,

        "runAssetValueComparison": true,

        "isSourceExclusionCB": false,

        "isSourceExclusionTran": true,

        "isUnVerifiedSells": false,

        "allowPriceZero": false,

        "allowAcctCodeMatch": true,

        "allowAcctCodeMatchWOZero": false,

        "allowSecondaryAcctCodeMatch": false,

        "allowPriceImport": false,

        "allowNameImport": true,

        "allowPositionImport": true,

        "allowTransactionImport": true,

        "allowSecurityImport": true,

        "allowCorpActionImport": false,

        "allowDivImport": false,

        "allowBeneficiaryImport": false,

        "allowSystematicImport": null,

        "allowRMDImport": null,

        "allowBankingImport": null,

        "allowTranDetailImport": false,

        "allowGenericImport": false,

        "allowCostBasisImport": false,

        "isActive": true,

        "autoCreateStartingValues": false,

        "archiveFiles": false,

        "underReview": false,

        "isOrionEnterpriseEnabled": false,

        "allowDuplicateAssets": false,

        "allowProperName": false,

        "removeSettleDateTrades": false,

        "principalAndIncome": false,

        "createTransactionInPendingStatus": false,

        "isSshEnabled": false,

        "hasSftpKey": false,

        "editedDate": "2022-06-14T12:05:29.54-05:00",

        "editedBy": "cameron.stoner",

        "createdDate": null,

        "createdBy": null,

        "options": [

        {

        "code": "AutoConfirmUnmatchedPrices",

        "name": "Auto Confirm Unmatched Prices",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": "manualPriceConfirm"

        },

        {

        "code": "COMBINESWEEP",

        "name": "Remove Self-Sweep Activity",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "ProductDailyAccrual",

        "name": "Product Daily Accrual",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "SleeveFileNoExclusion",

        "name": "Sleeve File No Exclusion",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "SPLITPOSITIONROLLUP",

        "name": "Split Position Rollup",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "SweepToFrom",

        "name": "Sweep To From",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseNewPosVerifyApply",

        "name": "Use New Position Verify|Apply",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseNewPriceVerifyApply",

        "name": "Use New Price Verify|Apply",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseNewSecurityMasterVerifyApply",

        "name": "Use New Security Master Verify|Apply",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseNewTransactionVerifyApply",

        "name": "Use New Transaction Verify/Apply",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseTDAllocationToTomForEclipseDB",

        "name": "TD Trade Allocations to TOM for Eclipse DB",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "PRICEROLLUPPRECISION",

        "name": "Price Rollup Precision",

        "type": "number",

        "value": "8",

        "privilegeCode": null

        },

        {

        "code": "emailList",

        "name": "Watcher Email List",

        "type": "textarea",

        "value"…'
      operationId: DownloadFormatSourceDefault_UpdateDownloadFormatSourceDefaultAsync
      parameters:
      - name: key
        in: path
        description: The key.
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The token.
        required: true
      - name: subtypeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
        description: The dto.
        required: true
  /v1/Confirm/DownloadFormatSourceDefault/{key}/{subtypeId}:
    put:
      tags:
      - Confirm/DownloadFormatSourceDefault
      summary: Update Download Format Source Default
      description: 'Sample Request

        GET /Confirm/DownloadFormatSourceDefault/14

        {

        Sample Request

        POST /Confirm/DownloadFormatSourceDefault

        {

        "downloadFormatId": 14,

        "downloadDescription": "Under Review - DST",

        "custodianCommonCode": "DST",

        "serviceTeamReconId": 52,

        "serviceTeamMemberId": null,

        "newAccounts": "Don''t Create",

        "reconTargetTime": "2017-06-22T10:00:00-05:00",

        "note": "New test sreeja test",

        "transmitMethod": "DSTHTTP",

        "url": "",

        "filePattern": "*.*",

        "altFilePattern": "",

        "patternMatchType": "Included",

        "zipPassword": "",

        "userId": "***Required***",

        "password": "***Required***",

        "transPercTolerance": 15,

        "transDaysTolerance": 5,

        "cashCusip": null,

        "deleteSourceFile": true,

        "registrationBaseNumber": 0,

        "positionOnlyReconcile": "No",

        "dailyAccrualTolerance": 0,

        "useReversal": true,

        "ignoreRepVerify": false,

        "isAutoHouseholding": true,

        "noOrionPriceCopy": false,

        "newAccountCenterSuppression": false,

        "isFixSmallBalance": false,

        "isDividendTransactionCombination": false,

        "alwaysCreateNewRegistration": false,

        "namePercentMatch": 0,

        "positionPercentMatch": 0,

        "transactionPercentMatch": 0,

        "comparePositionValue": false,

        "runAssetValueComparison": true,

        "isSourceExclusionCB": false,

        "isSourceExclusionTran": true,

        "isUnVerifiedSells": false,

        "allowPriceZero": false,

        "allowAcctCodeMatch": true,

        "allowAcctCodeMatchWOZero": false,

        "allowSecondaryAcctCodeMatch": false,

        "allowPriceImport": false,

        "allowNameImport": true,

        "allowPositionImport": true,

        "allowTransactionImport": true,

        "allowSecurityImport": true,

        "allowCorpActionImport": false,

        "allowDivImport": false,

        "allowBeneficiaryImport": false,

        "allowSystematicImport": null,

        "allowRMDImport": null,

        "allowBankingImport": null,

        "allowTranDetailImport": false,

        "allowGenericImport": false,

        "allowCostBasisImport": false,

        "isActive": true,

        "autoCreateStartingValues": false,

        "archiveFiles": false,

        "underReview": false,

        "isOrionEnterpriseEnabled": false,

        "allowDuplicateAssets": false,

        "allowProperName": false,

        "removeSettleDateTrades": false,

        "principalAndIncome": false,

        "createTransactionInPendingStatus": false,

        "isSshEnabled": false,

        "hasSftpKey": false,

        "editedDate": "2022-06-14T12:05:29.54-05:00",

        "editedBy": "cameron.stoner",

        "createdDate": null,

        "createdBy": null,

        "options": [

        {

        "code": "AutoConfirmUnmatchedPrices",

        "name": "Auto Confirm Unmatched Prices",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": "manualPriceConfirm"

        },

        {

        "code": "COMBINESWEEP",

        "name": "Remove Self-Sweep Activity",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "ProductDailyAccrual",

        "name": "Product Daily Accrual",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "SleeveFileNoExclusion",

        "name": "Sleeve File No Exclusion",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "SPLITPOSITIONROLLUP",

        "name": "Split Position Rollup",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "SweepToFrom",

        "name": "Sweep To From",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseNewPosVerifyApply",

        "name": "Use New Position Verify|Apply",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseNewPriceVerifyApply",

        "name": "Use New Price Verify|Apply",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseNewSecurityMasterVerifyApply",

        "name": "Use New Security Master Verify|Apply",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseNewTransactionVerifyApply",

        "name": "Use New Transaction Verify/Apply",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "UseTDAllocationToTomForEclipseDB",

        "name": "TD Trade Allocations to TOM for Eclipse DB",

        "type": "checkbox",

        "value": "false",

        "privilegeCode": null

        },

        {

        "code": "PRICEROLLUPPRECISION",

        "name": "Price Rollup Precision",

        "type": "number",

        "value": "8",

        "privilegeCode": null

        },

        {

        "code": "emailList",

        "name": "Watcher Email List",

        "type": "textarea",

        "value"…'
      operationId: DownloadFormatSourceDefault_PutV1ConfirmDownloadFormatSourceDefaultByKeyBySubtypeId
      parameters:
      - name: key
        in: path
        description: The key.
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The token.
        required: true
      - name: subtypeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
        description: The dto.
        required: true
  /v1/Confirm/DownloadFormatSourceDefault/BulkUpdate:
    put:
      tags:
      - Confirm/DownloadFormatSourceDefault
      operationId: DownloadFormatSourceDefault_BulkUpdateDownloadFormatSourceDefaultsAsync
      parameters:
      - name: token
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
              xml:
                name: DownloadFormatSourceDefaultDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
              xml:
                name: DownloadFormatSourceDefaultDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
              xml:
                name: DownloadFormatSourceDefaultDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
              xml:
                name: DownloadFormatSourceDefaultDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
              xml:
                name: DownloadFormatSourceDefaultDto
                wrapped: true
              type: array
        required: true
      summary: Download format source default bulk update download format source defaults async
      x-summary-source: derived
  /v1/Confirm/DownloadFormatSourceDefault/KeyFile/{key}:
    post:
      tags:
      - Confirm/DownloadFormatSourceDefault
      summary: Adds the SFTP key file
      description: 'Sample Request

        POST /Confirm/DownloadFormatSourceDefault/14

        {

        "file": {

        "fileName": "string",

        "mediaType": "string",

        "data": {}

        }

        }'
      operationId: DownloadFormatSourceDefault_AddSftpKeyFileAsync
      parameters:
      - name: key
        in: path
        description: The key.
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The token.
        required: true
      - name: subtypeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
        description: The file.
        required: true
  /v1/Confirm/DownloadFormatSourceDefault/KeyFile/{key}/{subtypeId}:
    post:
      tags:
      - Confirm/DownloadFormatSourceDefault
      summary: Adds the SFTP key file
      description: 'Sample Request

        POST /Confirm/DownloadFormatSourceDefault/14

        {

        "file": {

        "fileName": "string",

        "mediaType": "string",

        "data": {}

        }

        }'
      operationId: DownloadFormatSourceDefault_PostV1ConfirmDownloadFormatSourceDefaultKeyFileByKeyBySubtypeId
      parameters:
      - name: key
        in: path
        description: The key.
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The token.
        required: true
      - name: subtypeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.SourceFileDto'
        description: The file.
        required: true
  /v1/Confirm/DownloadFormatSourceDefault/Subtypes/{formatId}:
    get:
      tags:
      - Confirm/DownloadFormatSourceDefault
      summary: Gets the download format source defaults by format
      description: 'Sample Request

        GET /Confirm/DownloadFormatSourceDefault/Subtypes/-1'
      operationId: DownloadFormatSourceDefault_GetDownloadFormatSourceDefaultsByFormatAsync
      parameters:
      - name: formatId
        in: path
        description: The format identifier.
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto'
                xml:
                  name: DownloadFormatSourceDefaultDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.WebApi.DTO.Confirm.SourceFileDto:
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
      xml:
        name: SourceFileDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadSubFormatSourceScheduleDefaultDto:
      properties:
        id:
          type: integer
          format: int32
        downloadFormatId:
          type: integer
          format: int32
        downloadFormatSubTypeId:
          type: integer
          format: int32
        scheduledTime:
          type: string
        scheduleConfiguration:
          type: string
        active:
          type: boolean
      xml:
        name: DownloadSubFormatSourceScheduleDefaultDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadFormatSourceDefaultDto:
      properties:
        downloadFormatId:
          type: integer
          format: int32
        downloadDescription:
          type: string
        custodianCommonCode:
          type: string
        serviceTeamReconId:
          type: integer
          format: int32
        serviceTeamMemberId:
          type: integer
          format: int32
        newAccounts:
          type: string
          enum:
          - Default
          - DoNotCreate
          - Create
          - AutoExclude
        reconTargetTime:
          type: string
          format: date-time
        note:
          type: string
        transmitMethod:
          type: string
          enum:
          - Empty
          - None
          - FTP
          - DSTHTTP
          - Network
          - SFTP
          - FTPS
          - HTTPS
          - S3
        url:
          type: string
        filePattern:
          type: string
        altFilePattern:
          type: string
        patternMatchType:
          type: string
          enum:
          - Included
          - Excluded
        zipPassword:
          type: string
        userId:
          type: string
        password:
          type: string
        transPercTolerance:
          type: number
          format: double
        transDaysTolerance:
          type: integer
          format: int32
        cashCusip:
          type: string
        deleteSourceFile:
          type: boolean
        registrationBaseNumber:
          type: integer
          format: int32
        positionOnlyReconcile:
          type: string
          enum:
          - 'No'
          - 'Yes'
          - EnabledAccountsOnly
          - AIP
          - EnabledAccountsOnlyAIP
          - EnabledAccountsOnlyHAA
          - HAA
        dailyAccrualTolerance:
          type: number
          format: double
        useReversal:
          type: boolean
        ignoreRepVerify:
          type: boolean
        isAutoHouseholding:
          type: boolean
        noOrionPriceCopy:
          type: boolean
        newAccountCenterSuppression:
          type: boolean
        isFixSmallBalance:
          type: boolean
        isDividendTransactionCombination:
          type: boolean
        alwaysCreateNewRegistration:
          type: boolean
        namePercentMatch:
          type: number
          format: double
        positionPercentMatch:
          type: number
          format: double
        transactionPercentMatch:
          type: number
          format: double
        comparePositionValue:
          type: boolean
        runAssetValueComparison:
          type: boolean
        isSourceExclusionCB:
          type: boolean
        isSourceExclusionTran:
          type: boolean
        isUnVerifiedSells:
          type: boolean
        allowPriceZero:
          type: boolean
        allowAcctCodeMatch:
          type: boolean
        allowAcctCodeMatchWOZero:
          type: boolean
        allowSecondaryAcctCodeMatch:
          type: boolean
        allowPriceImport:
          type: boolean
        allowNameImport:
          type: boolean
        allowPositionImport:
          type: boolean
        allowTransactionImport:
          type: boolean
        allowSecurityImport:
          type: boolean
        allowCorpActionImport:
          type: boolean
        allowDivImport:
          type: boolean
        allowBeneficiaryImport:
          type: boolean
        allowSystematicImport:
          type: boolean
        allowRMDImport:
          type: boolean
        allowBankingImport:
          type: boolean
        allowTranDetailImport:
          type: boolean
        allowGenericImport:
          type: boolean
        allowCostBasisImport:
          type: boolean
        isActive:
          type: boolean
        downloadSourceOptionJSON:
          type: string
        autoCreateStartingValues:
          type: boolean
        archiveFiles:
          type: boolean
        underReview:
          type: boolean
        isOrionEnterpriseEnabled:
          type: boolean
        allowDuplicateAssets:
          type: boolean
        allowProperName:
          type: boolean
        removeSettleDateTrades:
          type: boolean
        principalAndIncome:
          type: boolean
        createTransactionInPendingStatus:
          type: boolean
        hasSftpKey:
          readOnly: true
          type: boolean
        isSshEnabled:
          type: boolean
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        downloadFormatSubTypeId:
          type: integer
          format: int32
        downloadFormatSubTypeName:
          type: string
        schedules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadSubFormatSourceScheduleDefaultDto'
          xml:
            name: DownloadSubFormatSourceScheduleDefaultDto
            wrapped: true
          type: array
      xml:
        name: DownloadFormatSourceDefaultDto
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
