openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/SMS API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/SMS
paths:
  /v1/Utility/SMS/SendPIN:
    post:
      tags:
      - Utility/SMS
      summary: Sends a validation PIN to the specified phone nmber.
      operationId: Sms_SendPINAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: phoneNumber
        in: query
        description: Optional. Pass in the new phone number to save on the user
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Utility/SMS/Test:
    get:
      tags:
      - Utility/SMS
      operationId: Sms_TestAsync
      parameters:
      - name: type
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Sms test async
      x-summary-source: derived
  /v1/Utility/SMS/VerifyPIN:
    post:
      tags:
      - Utility/SMS
      summary: Validates that the User entered PIN matches the PIN sent to the users…
      operationId: Sms_VerifyPINAsync
      parameters:
      - name: pin
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
