openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Settings/Database API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Settings/Database
paths:
  /v1/Settings/Database/EntityOptions:
    get:
      tags:
      - Settings/Database
      operationId: DatabaseEntityOptions_GetAsync
      parameters:
      - name: codeNames
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Database entity options get async
      x-summary-source: derived
  /v1/Settings/Database/EntityOptions/{userDefineDefinitionId}:
    get:
      tags:
      - Settings/Database
      summary: Gets the database entity option that has the provided key.
      operationId: DatabaseEntityOptions_GetV1SettingsDatabaseEntityOptionsByUserDefineDefinitionId
      parameters:
      - name: userDefineDefinitionId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
  /v1/Settings/Database/EntityOptions/Categories:
    get:
      tags:
      - Settings/Database
      summary: Gets the list categories for the database entity options
      operationId: DatabaseEntityOptions_GetCategoriesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                type: array
      security:
      - Authorization: []
  /v1/Settings/Database/EntityOptions/Categories/{category}:
    get:
      tags:
      - Settings/Database
      summary: Gets the list of database entity options that have the provided category
      operationId: DatabaseEntityOptions_GetByCategoryAsync
      parameters:
      - name: category
        in: path
        description: Category of the desired return objects.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Settings/Database/EntityOptions/Code/{code}:
    get:
      tags:
      - Settings/Database
      summary: Gets the database entity option that has the provided code.
      operationId: DatabaseEntityOptions_GetByCodeAsync
      parameters:
      - name: code
        in: path
        description: Code of the desired return object.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
  /v1/Settings/Database/EntityOptions/Name/{name}:
    get:
      tags:
      - Settings/Database
      summary: Gets the database entity option that has the provided name.
      operationId: DatabaseEntityOptions_GetByNameAsync
      parameters:
      - name: name
        in: path
        description: Name of the desired return object.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
