openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Product Class Auto Assign Override…
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/ProductClassAutoAssignOverride
paths:
  /v1/Portfolio/ProductClassAutoAssignOverride:
    get:
      tags:
      - Portfolio/ProductClassAutoAssignOverride
      summary: Gets a list of product class Auto Assign Overrides that the logged in user has…
      operationId: ProductClassAutoAssignOverride_Get
      parameters:
      - name: providerId
        in: query
        description: 'Optional. Default: null. If provided returns only Auto Assign Overrides for the given product description provider Id.'
        required: false
        schema:
          type: integer
          format: int32
      - name: providerAssigned
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/ProductClassAutoAssignOverride
      summary: Product class auto assign override upsert
      operationId: ProductClassAutoAssignOverride_Upsert
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
              xml:
                name: ProductClassAutoAssignOverrideDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
              xml:
                name: ProductClassAutoAssignOverrideDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
              xml:
                name: ProductClassAutoAssignOverrideDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
              xml:
                name: ProductClassAutoAssignOverrideDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
              xml:
                name: ProductClassAutoAssignOverrideDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
              xml:
                name: ProductClassAutoAssignOverrideDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
              xml:
                name: ProductClassAutoAssignOverrideDto
                wrapped: true
              type: array
        required: true
      x-summary-source: derived
  /v1/Portfolio/ProductClassAutoAssignOverride/{providerId}/{abbreviation}:
    get:
      tags:
      - Portfolio/ProductClassAutoAssignOverride
      summary: Gets the product class Auto Assign Override that has the provided key.
      operationId: ProductClassAutoAssignOverride_GetEntityByKey
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: abbreviation
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
      security:
      - Authorization: []
  /v1/Portfolio/ProductClassAutoAssignOverride/List:
    post:
      tags:
      - Portfolio/ProductClassAutoAssignOverride
      summary: Gets the product class Auto Assign Overrides for the provided keys
      operationId: ProductClassAutoAssignOverride_GetListById
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideKeyDto'
              xml:
                name: ProductClassAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideKeyDto'
              xml:
                name: ProductClassAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideKeyDto'
              xml:
                name: ProductClassAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideKeyDto'
              xml:
                name: ProductClassAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideKeyDto'
              xml:
                name: ProductClassAutoAssignOverrideKeyDto
                wrapped: true
              type: array
        required: true
  /v1/Portfolio/ProductClassAutoAssignOverride/List/Id:
    post:
      tags:
      - Portfolio/ProductClassAutoAssignOverride
      summary: Gets the product class Auto Assign Overrides for the provided keys
      operationId: ProductClassAutoAssignOverride_PostV1PortfolioProductClassAutoAssignOverrideListId
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto'
                xml:
                  name: ProductClassAutoAssignOverrideDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideKeyDto'
              xml:
                name: ProductClassAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideKeyDto'
              xml:
                name: ProductClassAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideKeyDto'
              xml:
                name: ProductClassAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideKeyDto'
              xml:
                name: ProductClassAutoAssignOverrideKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideKeyDto'
              xml:
                name: ProductClassAutoAssignOverrideKeyDto
                wrapped: true
              type: array
        required: true
  /v1/Portfolio/ProductClassAutoAssignOverride/ProductClass/Simple:
    get:
      tags:
      - Portfolio/ProductClassAutoAssignOverride
      operationId: ProductClassAutoAssignOverride_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Product class auto assign override get simple
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideDto:
      properties:
        productDescriptionProviderId:
          type: integer
          format: int32
        providerName:
          type: string
        abbreviation:
          type: string
        classDescription:
          type: string
        hasMultipleDescriptions:
          type: boolean
        productClassAutoAssignOverrideId:
          type: integer
          format: int32
        productClassId:
          type: integer
          format: int32
        providerAssigned:
          type: boolean
      xml:
        name: ProductClassAutoAssignOverrideDto
      type: object
    OAS.WebApi.DTO.Portfolio.ProductClassAutoAssignOverrideKeyDto:
      properties:
        productDescriptionProviderId:
          type: integer
          format: int32
        abbreviation:
          type: string
      xml:
        name: ProductClassAutoAssignOverrideKeyDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
