openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Compliance/Archive API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Compliance/Archive
paths:
  /v1/Compliance/Archive:
    get:
      tags:
      - Compliance/Archive
      summary: Gets all report Pdf archive items
      operationId: ReportPdfArchive_GetAllAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
                xml:
                  name: ReportPdfArchiveDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
                xml:
                  name: ReportPdfArchiveDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
                xml:
                  name: ReportPdfArchiveDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
                xml:
                  name: ReportPdfArchiveDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Compliance/Archive
      summary: Gets all reportPdfArchive items
      operationId: ReportPdfArchive_CreateEntityAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
        required: true
  /v1/Compliance/Archive/{key}:
    put:
      tags:
      - Compliance/Archive
      summary: Updates the properties of a {OAS.DataModel.Compliance.ReportPdfArchive} with…
      operationId: ReportPdfArchive_UpdateEntityAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
        required: true
    delete:
      tags:
      - Compliance/Archive
      summary: Used to delete an existing report PDF Archive.
      operationId: ReportPdfArchive_DeleteEntityAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Compliance/Archive/{key}/TestMetaData:
    get:
      tags:
      - Compliance/Archive
      summary: Tests the metadata archive process by generating and directly downloading…
      operationId: ReportPdfArchive_TestMetaDataAsync
      parameters:
      - name: key
        in: path
        description: The ID of the report PDF archive configuration
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: Start date for the metadata query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: End date for the metadata query
        required: true
        schema:
          type: string
          format: date-time
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Compliance/Archive/Test:
    put:
      tags:
      - Compliance/Archive
      summary: Tests the upload target properties for a valid SFTP endpoint and credentials
      operationId: ReportPdfArchive_Test
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto'
        required: true
  /v1/Compliance/Archive/Types:
    get:
      tags:
      - Compliance/Archive
      operationId: ReportPdfArchive_GetTypes
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                properties:
                  custom:
                    type: string
                  lpl:
                    type: string
                  sai:
                    type: string
                type: object
            application/json:
              schema:
                properties:
                  custom:
                    type: string
                  lpl:
                    type: string
                  sai:
                    type: string
                type: object
            text/json:
              schema:
                properties:
                  custom:
                    type: string
                  lpl:
                    type: string
                  sai:
                    type: string
                type: object
            application/xml:
              schema:
                properties:
                  custom:
                    type: string
                  lpl:
                    type: string
                  sai:
                    type: string
                type: object
            text/xml:
              schema:
                properties:
                  custom:
                    type: string
                  lpl:
                    type: string
                  sai:
                    type: string
                type: object
            multipart/form-data:
              schema:
                properties:
                  custom:
                    type: string
                  lpl:
                    type: string
                  sai:
                    type: string
                type: object
      security:
      - Authorization: []
      summary: Report pdf archive get types
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Compliance.ReportPdfArchiveDto:
      properties:
        id:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        description:
          type: string
        enabled:
          type: boolean
        lastCompletedDate:
          type: string
          format: date-time
        lastErrorMessage:
          type: string
        name:
          type: string
        repIdFilter:
          items:
            type: integer
            format: int32
          type: array
        termsAgreedBy:
          type: string
        termsAgreedDate:
          type: string
          format: date-time
        type:
          type: string
          enum:
          - Custom
          - LPL
          - SAI
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        password:
          type: string
          maxLength: 30
          minLength: 0
        uploadTargetId:
          type: integer
          format: int32
        url:
          type: string
          maxLength: 255
          minLength: 0
        username:
          type: string
          maxLength: 30
          minLength: 0
        pgpUserID:
          type: string
          maxLength: 50
          minLength: 0
      xml:
        name: ReportPdfArchiveDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
