openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Groups API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/Groups
paths:
  /v1/Confirm/Groups:
    get:
      tags:
      - Confirm/Groups
      operationId: ConfirmGroups_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
                xml:
                  name: ConfirmGroupDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
                xml:
                  name: ConfirmGroupDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
                xml:
                  name: ConfirmGroupDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
                xml:
                  name: ConfirmGroupDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
                xml:
                  name: ConfirmGroupDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
                xml:
                  name: ConfirmGroupDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Confirm groups get
      x-summary-source: derived
    post:
      tags:
      - Confirm/Groups
      summary: Creates a new confirmgroup record, and returns the new record in the location…
      operationId: ConfirmGroups_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
        description: ConfirmGroup
        required: true
  /v1/Confirm/Groups/{confirmGroupKey}/DataQueries:
    get:
      tags:
      - Confirm/Groups
      operationId: ConfirmGroups_GetDataQueryList
      parameters:
      - name: confirmGroupKey
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Confirm groups get data query list
      x-summary-source: derived
  /v1/Confirm/Groups/{confirmGroupKey}/DataQueries/{reportKey}:
    get:
      tags:
      - Confirm/Groups
      operationId: ConfirmGroups_GetDataQuery
      parameters:
      - name: confirmGroupKey
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: reportKey
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
      security:
      - Authorization: []
      summary: Confirm groups get data query
      x-summary-source: derived
    post:
      tags:
      - Confirm/Groups
      operationId: ConfirmGroups_UpsertDataQuery
      parameters:
      - name: confirmGroupKey
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: reportKey
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
        required: true
      summary: Confirm groups upsert data query
      x-summary-source: derived
    delete:
      tags:
      - Confirm/Groups
      operationId: ConfirmGroups_DeleteConfirmGroupDataQuery
      parameters:
      - name: confirmGroupKey
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: reportKey
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Confirm groups delete confirm group data query
      x-summary-source: derived
  /v1/Confirm/Groups/{confirmGroupKey}/DataQueries/List:
    put:
      tags:
      - Confirm/Groups
      operationId: ConfirmGroups_PutV1ConfirmGroupsByConfirmGroupKeyDataQueriesList
      parameters:
      - name: confirmGroupKey
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
        required: true
      summary: Confirm groups put V1 confirm groups by confirm group key data queries list
      x-summary-source: derived
    post:
      tags:
      - Confirm/Groups
      operationId: ConfirmGroups_PostV1ConfirmGroupsByConfirmGroupKeyDataQueriesList
      parameters:
      - name: confirmGroupKey
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
        required: true
      summary: Confirm groups post V1 confirm groups by confirm group key data queries list
      x-summary-source: derived
  /v1/Confirm/Groups/{key}:
    get:
      tags:
      - Confirm/Groups
      summary: Gets the ConfirmGroup that has the provided key.
      operationId: ConfirmGroups_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/Groups
      summary: Updates an existing confirmgroup record
      operationId: ConfirmGroups_UpdateEntity
      parameters:
      - name: key
        in: path
        description: ConfirmGroup Id to update
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDto'
        description: New Confirm Group values
        required: true
    delete:
      tags:
      - Confirm/Groups
      operationId: ConfirmGroups_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Confirm groups delete
      x-summary-source: derived
  /v1/Confirm/Groups/{key}/Overview:
    get:
      tags:
      - Confirm/Groups
      operationId: ConfirmGroups_GetOverviewAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: cancellationToken
        in: header
        required: true
      - name: suppressInactiveDatabases
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmOverviewDto'
                xml:
                  name: ConfirmOverviewDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmOverviewDto'
                xml:
                  name: ConfirmOverviewDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmOverviewDto'
                xml:
                  name: ConfirmOverviewDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmOverviewDto'
                xml:
                  name: ConfirmOverviewDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmOverviewDto'
                xml:
                  name: ConfirmOverviewDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmOverviewDto'
                xml:
                  name: ConfirmOverviewDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Confirm groups get overview async
      x-summary-source: derived
  /v1/Confirm/Groups/{key}/RefreshData:
    get:
      tags:
      - Confirm/Groups
      operationId: ConfirmGroups_RefreshDataAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmOverviewDto'
                xml:
                  name: ConfirmOverviewDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmOverviewDto'
                xml:
                  name: ConfirmOverviewDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmOverviewDto'
                xml:
                  name: ConfirmOverviewDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmOverviewDto'
                xml:
                  name: ConfirmOverviewDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmOverviewDto'
                xml:
                  name: ConfirmOverviewDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmOverviewDto'
                xml:
                  name: ConfirmOverviewDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Confirm groups refresh data async
      x-summary-source: derived
  /v1/Confirm/Groups/Action/Delete:
    put:
      tags:
      - Confirm/Groups
      operationId: ConfirmGroups_PutV1ConfirmGroupsActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Confirm groups put V1 confirm groups action delete
      x-summary-source: derived
  /v1/Confirm/Groups/DataQueries/List:
    put:
      tags:
      - Confirm/Groups
      operationId: ConfirmGroups_UpsertDataQueryList
      parameters:
      - name: confirmGroupKey
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
        required: true
      summary: Confirm groups upsert data query list
      x-summary-source: derived
    post:
      tags:
      - Confirm/Groups
      operationId: ConfirmGroups_PostV1ConfirmGroupsDataQueriesList
      parameters:
      - name: confirmGroupKey
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
                xml:
                  name: ConfirmGroupDataQueryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
              xml:
                name: ConfirmGroupDataQueryDto
                wrapped: true
              type: array
        required: true
      summary: Confirm groups post V1 confirm groups data queries list
      x-summary-source: derived
  /v1/Confirm/Groups/DataQuery:
    post:
      tags:
      - Confirm/Groups
      summary: Creates a new confirmgroup record, and returns the new record in the location…
      operationId: ConfirmGroups_CreateConfirmGroupDataQuery
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
        description: ConfirmGroup
        required: true
  /v1/Confirm/Groups/Simple:
    get:
      tags:
      - Confirm/Groups
      summary: Returns a simple Id/Name for all Confirm Group records
      operationId: ConfirmGroups_GetSimpleAll
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Confirm.ConfirmGroupDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isPrivate:
          type: boolean
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        userId:
          type: integer
          format: int32
        databases:
          items:
            $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
          xml:
            name: SimpleEntity
            wrapped: true
          type: array
        downloadFormats:
          items:
            $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
          xml:
            name: SimpleEntity
            wrapped: true
          type: array
        recordTypes:
          items:
            $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
          xml:
            name: SimpleEntity
            wrapped: true
          type: array
        scrubGroups:
          items:
            $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
          xml:
            name: SimpleEntity
            wrapped: true
          type: array
        dataQueries:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto'
          xml:
            name: ConfirmGroupDataQueryDto
            wrapped: true
          type: array
      xml:
        name: ConfirmGroupDto
      type: object
    OAS.WebApi.DTO.Reporting.RunReport.RunToDto:
      properties:
        reportFormat:
          type: string
          enum:
          - Xml
          - 'Null'
          - Csv
          - Image
          - PDF
          - Html
          - Html40
          - Html32
          - Mhtml
          - Excel
          - ExcelX
          - HtmlOwc
          - Json
          - CustomImport
        storageType:
          type: string
        provider:
          type: string
        folderPath:
          type: string
        combinationMethod:
          type: string
          enum:
          - None
          - Aggregate
          - Zip
          - Merge
          - MergeSimplex
          - MergeDuplex
          - TarGzip
        userIdList:
          items:
            type: integer
            format: int32
          type: array
        archiveReport:
          type: boolean
        uploadTargetId:
          type: integer
          format: int32
        source:
          type: string
          enum:
          - OnDemandUI
          - OnDemandAPI
          - QueryTester
          - Scheduled
          - AuditRequestOnDemand
          - AuditTestOnDemand
          - AuditTestSchedule
          - SubscriptionNotification
          - ReportBatchSyncDynamicGroupEntities
          - ReconCompleteNotification
          - DashboardDataAuditProcess
          - DashboardDataAuditProcessCountOnly
      xml:
        name: RunToDto
      type: object
    OAS.WebApi.DTO.Confirm.ConfirmGroupDataQueryDto:
      properties:
        confirmGroupId:
          type: integer
          format: int32
        customReportId:
          type: integer
          format: int32
        dataQueryParams:
          type: string
        dataQuery:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
      xml:
        name: ConfirmGroupDataQueryDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Reporting.Custom.CustomReportPromptDto:
      properties:
        id:
          type: integer
          format: int32
        code:
          type: string
        prompt:
          type: string
        promptDescription:
          type: string
        promptType:
          type: string
          enum:
          - None
          - Text
          - Numeric
          - Date
          - Dynamic Group
        defaultValue:
          type: string
        isPromptUser:
          type: boolean
        sortOrder:
          type: integer
          format: int32
      xml:
        name: CustomReportPromptDto
      type: object
    OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto:
      properties:
        runTo:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.RunToDto'
        databaseIdList:
          items:
            type: integer
            format: int32
          type: array
        prompts:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportPromptDto'
          xml:
            name: CustomReportPromptDto
            wrapped: true
          type: array
        importTypeId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        scheduleIsActive:
          type: boolean
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        activeScheduleCount:
          type: integer
          format: int32
        isCustom:
          type: boolean
        isFavorite:
          type: boolean
        scheduleId:
          type: integer
          format: int32
        isLandscape:
          type: boolean
        reportClass:
          type: string
        isInternal:
          type: boolean
        guid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        promptClass:
          type: string
        reportType:
          type: string
          enum:
          - Query
          - CustomImport
          - Scrub
        userOwnerId:
          type: integer
          format: int32
        queryType:
          readOnly: true
          type: string
          enum:
          - None
          - Custom
          - Excel
          - All
        title:
          readOnly: true
          type: string
        isNoteEnabled:
          type: boolean
        isReadOnly:
          type: boolean
        isQuerySmith:
          type: boolean
        category:
          type: string
        name:
          type: string
        description:
          type: string
      xml:
        name: CustomReportFullDto
      type: object
    OAS.WebApi.DTO.Confirm.ConfirmOverviewDto:
      description: ''
      properties:
        id:
          type: integer
          format: int32
        accountStatusIcon:
          readOnly: true
          type: string
        databaseName:
          type: string
        downloadFileId:
          type: integer
          format: int32
        formatName:
          type: string
        recordTypeName:
          type: string
        fileName:
          type: string
        confirmedCount:
          type: integer
          format: int32
        notConfirmedCount:
          type: integer
          format: int32
        excludedCount:
          type: integer
          format: int32
        dataAggOnlyCount:
          type: integer
          format: int32
        unmappedTransTypeCount:
          type: integer
          format: int32
        status:
          type: integer
          format: int32
        isImportComplete:
          type: boolean
        fileStatus:
          type: string
          enum:
          - Created
          - PendingImport
          - StartingImport
          - CreatingRecords
          - RecordsCreated
          - PostImportsStarted
          - ImportFinished
          - ImportFailed
          - InitialVerifyStarted
          - InitialVerifyFinished
          - InitialVerifyFailed
          - InitialApplyStarted
          - InitialApplyFinished
          - InitialApplyFailed
          - ProcessingCompleted
          - ProcessingFailed
        fileStatusInt:
          type: integer
          format: int32
        agentAnalysisStatus:
          type: string
          enum:
          - NA
          - NotStarted
          - Running
          - Complete
        noteCount:
          type: integer
          format: int32
        alClientId:
          type: integer
          format: int32
        downloadSourceId:
          type: integer
          format: int32
        fileDate:
          type: string
          format: date-time
        fileCreated:
          type: string
          format: date-time
        fileCreatedBy:
          type: string
        dateConfirmed:
          type: string
          format: date-time
        downloadSource:
          type: string
        reconTargetTime:
          type: string
          format: date-time
        noteSummary:
          type: string
        refreshStart:
          type: string
          format: date-time
        refreshEnd:
          type: string
          format: date-time
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        serviceTeamRecon:
          type: string
        serviceTeamMember:
          type: string
        signOffBy:
          type: string
        signOffDate:
          type: string
          format: date-time
        signOffByUserId:
          type: integer
          format: int32
        message:
          type: string
        costBasisType:
          type: string
          enum:
          - None
          - Unrealized
          - Realized
          - Both
        advisorNumber:
          type: string
        batchProcessingId:
          type: integer
          format: int32
        isNonFileFormat:
          type: boolean
        hasReconNotes:
          type: boolean
      xml:
        name: ConfirmOverviewDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
