openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Client Categories API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/ClientCategories
paths:
  /v1/Portfolio/ClientCategories:
    get:
      tags:
      - Portfolio/ClientCategories
      summary: Gets a simple list of client categories that the logged in user has access to.
      operationId: ClientCategories_GetCategories
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClientCategory'
                xml:
                  name: SimpleClientCategory
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClientCategory'
                xml:
                  name: SimpleClientCategory
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClientCategory'
                xml:
                  name: SimpleClientCategory
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClientCategory'
                xml:
                  name: SimpleClientCategory
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClientCategory'
                xml:
                  name: SimpleClientCategory
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClientCategory'
                xml:
                  name: SimpleClientCategory
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/ClientCategories/Simple:
    get:
      tags:
      - Portfolio/ClientCategories
      summary: Gets a simple list of client categories that the logged in user has access to.
      operationId: ClientCategories_GetV1PortfolioClientCategoriesSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClientCategory'
                xml:
                  name: SimpleClientCategory
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClientCategory'
                xml:
                  name: SimpleClientCategory
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClientCategory'
                xml:
                  name: SimpleClientCategory
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClientCategory'
                xml:
                  name: SimpleClientCategory
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClientCategory'
                xml:
                  name: SimpleClientCategory
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClientCategory'
                xml:
                  name: SimpleClientCategory
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.DataModel.Portfolio.SimpleClientCategory:
      properties:
        abbreviation:
          type: string
        isDefault:
          type: boolean
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleClientCategory
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
