openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Hierarchy API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/Hierarchy
paths:
  /v1/Billing/Hierarchy:
    put:
      tags:
      - Billing/Hierarchy
      summary: Update a fee hierarchy record
      operationId: FeeHierarchy_UpdateHierarchyAsync
      parameters:
      - name: ct
        in: header
        description: CancellationToken object
        required: true
      responses:
        '200':
          description: A detailed fee hierarchy record.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
        '400':
          description: "Validation error:\n            Fee Hierarchy Method Type is required."
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
        description: Updated detailed fee hierarchy record.
        required: true
    post:
      tags:
      - Billing/Hierarchy
      summary: Create a new fee hierarchy record
      operationId: FeeHierarchy_CreateHierarchyAsync
      parameters:
      - name: ct
        in: header
        description: CancellationToken object
        required: true
      responses:
        '200':
          description: A detailed fee hierarchy record.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
        '400':
          description: "Validation error:\n            Fee Schedule type detected. Please use payout rate.\n            -- OR --\n            Entity is null or zero. Please select a valid entity.\n            -- OR --\n            Cannot Assign Custodian to Account or Registration levels.\n            -- OR --\n            Fee Hierarchy Method Type is required."
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
        description: A detailed fee hierarchy record to create.
        required: true
  /v1/Billing/Hierarchy/BillEntity/Search:
    get:
      tags:
      - Billing/Hierarchy
      summary: Searches fee hierarchy records by bill entity
      operationId: FeeHierarchy_GetBillEntitySearch
      parameters:
      - name: search
        in: query
        description: The bill entity to search for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of simple entities, consisting of the ID and name.
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/BillEntity/Search/{search}:
    get:
      tags:
      - Billing/Hierarchy
      summary: Searches fee hierarchy records by bill entity
      operationId: FeeHierarchy_GetV1BillingHierarchyBillEntitySearchBySearch
      parameters:
      - name: search
        in: path
        description: The bill entity to search for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of simple entities, consisting of the ID and name.
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/Consolidation:
    get:
      tags:
      - Billing/Hierarchy
      summary: Get all fee hierarchy records
      operationId: FeeHierarchy_GetFeeHierarchyConsolidation
      responses:
        '200':
          description: A list of fee hierarchy records.
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/Consolidation/{entity}/Search:
    get:
      tags:
      - Billing/Hierarchy
      summary: Get fee hierarchy records for search criteria
      operationId: FeeHierarchy_GetV1BillingHierarchyConsolidationByEntitySearch
      parameters:
      - name: entity
        in: path
        description: Field to search (Level, Name, Bill Entity, Payout Rate, or Type)
        required: true
        schema:
          type: string
      - name: search
        in: query
        description: Search text.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of detailed fee hierarchy records.
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/Consolidation/{entity}/Search/{search}:
    get:
      tags:
      - Billing/Hierarchy
      summary: Get fee hierarchy records for search criteria
      operationId: FeeHierarchy_GetV1BillingHierarchyConsolidationByEntitySearchBySearch
      parameters:
      - name: entity
        in: path
        description: Field to search (Level, Name, Bill Entity, Payout Rate, or Type)
        required: true
        schema:
          type: string
      - name: search
        in: path
        description: Search text.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of detailed fee hierarchy records.
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/Consolidation/Accounts:
    get:
      tags:
      - Billing/Hierarchy
      summary: Get fee hierarchy account records
      operationId: FeeHierarchy_GetFeeHierarchyAccountsAsync
      parameters:
      - name: ct
        in: header
        description: CancellationToken object
        required: true
      responses:
        '200':
          description: List of fee hierarchy accounts
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationAuditDto'
                xml:
                  name: FeeHierarchyConsolidationAuditDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationAuditDto'
                xml:
                  name: FeeHierarchyConsolidationAuditDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationAuditDto'
                xml:
                  name: FeeHierarchyConsolidationAuditDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationAuditDto'
                xml:
                  name: FeeHierarchyConsolidationAuditDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationAuditDto'
                xml:
                  name: FeeHierarchyConsolidationAuditDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationAuditDto'
                xml:
                  name: FeeHierarchyConsolidationAuditDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/Consolidation/Accounts/Search:
    post:
      tags:
      - Billing/Hierarchy
      summary: Get fee hierarchy account records by search criteria
      operationId: FeeHierarchy_ConsolidationFHAccountSearchAsync
      parameters:
      - name: ct
        in: header
        description: CancellationToken object
        required: true
      - name: take
        in: query
        description: Number of records to retrieve.
        required: true
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: Optional. Number of records to skip.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: List of fee hierarchy accounts
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationAuditDto'
                xml:
                  name: FeeHierarchyConsolidationAuditDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationAuditDto'
                xml:
                  name: FeeHierarchyConsolidationAuditDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationAuditDto'
                xml:
                  name: FeeHierarchyConsolidationAuditDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationAuditDto'
                xml:
                  name: FeeHierarchyConsolidationAuditDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationAuditDto'
                xml:
                  name: FeeHierarchyConsolidationAuditDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationAuditDto'
                xml:
                  name: FeeHierarchyConsolidationAuditDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
        description: An object containing all required filters.
        required: true
  /v1/Billing/Hierarchy/Consolidation/new/Search:
    post:
      tags:
      - Billing/Hierarchy
      summary: Get fee hierarchy records by search criteria
      operationId: FeeHierarchy_ConsolidationForceSearchNew
      responses:
        '200':
          description: List of fee hierarchy records
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEntitySearchItemDto'
              xml:
                name: BillingEntitySearchItemDto
                wrapped: true
              type: array
        description: Object containing all required filters.
        required: true
  /v1/Billing/Hierarchy/Consolidation/Search:
    get:
      tags:
      - Billing/Hierarchy
      summary: Get fee hierarchy records for search criteria
      operationId: FeeHierarchy_ConsolidationForceSearch
      parameters:
      - name: search
        in: query
        description: Search text.
        required: true
        schema:
          type: string
      - name: searchBy
        in: query
        description: Field to search (Level, Name, Bill Entity, Payout Rate, or Type)
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: Optional. Number of records to retrieve.
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: Optional. Number of records to skip.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: List of detailed fee hierarchy records
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/Consolidation/Search/{search}:
    get:
      tags:
      - Billing/Hierarchy
      summary: Get fee hierarchy records for search criteria
      operationId: FeeHierarchy_GetV1BillingHierarchyConsolidationSearchBySearch
      parameters:
      - name: search
        in: path
        description: Search text.
        required: true
        schema:
          type: string
      - name: searchBy
        in: query
        description: Field to search (Level, Name, Bill Entity, Payout Rate, or Type)
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: Optional. Number of records to retrieve.
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: Optional. Number of records to skip.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: List of detailed fee hierarchy records
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyConsolidationDto'
                xml:
                  name: FeeHierarchyConsolidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/Consolidation/Update:
    put:
      tags:
      - Billing/Hierarchy
      summary: Update a fee hierarchy record
      operationId: FeeHierarchy_UpdateHierarchyConsolidationAsync
      parameters:
      - name: ct
        in: header
        description: CancellationToken object
        required: true
      responses:
        '200':
          description: Update successful.
          content:
            text/plain:
              schema:
                type: string
                enum:
                - Continue
                - SwitchingProtocols
                - OK
                - Created
                - Accepted
                - NonAuthoritativeInformation
                - NoContent
                - ResetContent
                - PartialContent
                - MultipleChoices
                - Ambiguous
                - MovedPermanently
                - Moved
                - Found
                - Redirect
                - SeeOther
                - RedirectMethod
                - NotModified
                - UseProxy
                - Unused
                - TemporaryRedirect
                - RedirectKeepVerb
                - BadRequest
                - Unauthorized
                - PaymentRequired
                - Forbidden
                - NotFound
                - MethodNotAllowed
                - NotAcceptable
                - ProxyAuthenticationRequired
                - RequestTimeout
                - Conflict
                - Gone
                - LengthRequired
                - PreconditionFailed
                - RequestEntityTooLarge
                - RequestUriTooLong
                - UnsupportedMediaType
                - RequestedRangeNotSatisfiable
                - ExpectationFailed
                - UpgradeRequired
                - InternalServerError
                - NotImplemented
                - BadGateway
                - ServiceUnavailable
                - GatewayTimeout
                - HttpVersionNotSupported
            application/json:
              schema:
                type: string
                enum:
                - Continue
                - SwitchingProtocols
                - OK
                - Created
                - Accepted
                - NonAuthoritativeInformation
                - NoContent
                - ResetContent
                - PartialContent
                - MultipleChoices
                - Ambiguous
                - MovedPermanently
                - Moved
                - Found
                - Redirect
                - SeeOther
                - RedirectMethod
                - NotModified
                - UseProxy
                - Unused
                - TemporaryRedirect
                - RedirectKeepVerb
                - BadRequest
                - Unauthorized
                - PaymentRequired
                - Forbidden
                - NotFound
                - MethodNotAllowed
                - NotAcceptable
                - ProxyAuthenticationRequired
                - RequestTimeout
                - Conflict
                - Gone
                - LengthRequired
                - PreconditionFailed
                - RequestEntityTooLarge
                - RequestUriTooLong
                - UnsupportedMediaType
                - RequestedRangeNotSatisfiable
                - ExpectationFailed
                - UpgradeRequired
                - InternalServerError
                - NotImplemented
                - BadGateway
                - ServiceUnavailable
                - GatewayTimeout
                - HttpVersionNotSupported
            text/json:
              schema:
                type: string
                enum:
                - Continue
                - SwitchingProtocols
                - OK
                - Created
                - Accepted
                - NonAuthoritativeInformation
                - NoContent
                - ResetContent
                - PartialContent
                - MultipleChoices
                - Ambiguous
                - MovedPermanently
                - Moved
                - Found
                - Redirect
                - SeeOther
                - RedirectMethod
                - NotModified
                - UseProxy
                - Unused
                - TemporaryRedirect
                - RedirectKeepVerb
                - BadRequest
                - Unauthorized
                - PaymentRequired
                - Forbidden
                - NotFound
                - MethodNotAllowed
                - NotAcceptable
                - ProxyAuthenticationRequired
                - RequestTimeout
                - Conflict
                - Gone
                - LengthRequired
                - PreconditionFailed
                - RequestEntityTooLarge
                - RequestUriTooLong
                - UnsupportedMediaType
                - RequestedRangeNotSatisfiable
                - ExpectationFailed
                - UpgradeRequired
                - InternalServerError
                - NotImplemented
                - BadGateway
                - ServiceUnavailable
                - GatewayTimeout
                - HttpVersionNotSupported
            application/xml:
              schema:
                type: string
                enum:
                - Continue
                - SwitchingProtocols
                - OK
                - Created
                - Accepted
                - NonAuthoritativeInformation
                - NoContent
                - ResetContent
                - PartialContent
                - MultipleChoices
                - Ambiguous
                - MovedPermanently
                - Moved
                - Found
                - Redirect
                - SeeOther
                - RedirectMethod
                - NotModified
                - UseProxy
                - Unused
                - TemporaryRedirect
                - RedirectKeepVerb
                - BadRequest
                - Unauthorized
                - PaymentRequired
                - Forbidden
                - NotFound
                - MethodNotAllowed
                - NotAcceptable
                - ProxyAuthenticationRequired
                - RequestTimeout
                - Conflict
                - Gone
                - LengthRequired
                - PreconditionFailed
                - RequestEntityTooLarge
                - RequestUriTooLong
                - UnsupportedMediaType
                - RequestedRangeNotSatisfiable
                - ExpectationFailed
                - UpgradeRequired
                - InternalServerError
                - NotImplemented
                - BadGateway
                - ServiceUnavailable
                - GatewayTimeout
                - HttpVersionNotSupported
            text/xml:
              schema:
                type: string
                enum:
                - Continue
                - SwitchingProtocols
                - OK
                - Created
                - Accepted
                - NonAuthoritativeInformation
                - NoContent
                - ResetContent
                - PartialContent
                - MultipleChoices
                - Ambiguous
                - MovedPermanently
                - Moved
                - Found
                - Redirect
                - SeeOther
                - RedirectMethod
                - NotModified
                - UseProxy
                - Unused
                - TemporaryRedirect
                - RedirectKeepVerb
                - BadRequest
                - Unauthorized
                - PaymentRequired
                - Forbidden
                - NotFound
                - MethodNotAllowed
                - NotAcceptable
                - ProxyAuthenticationRequired
                - RequestTimeout
                - Conflict
                - Gone
                - LengthRequired
                - PreconditionFailed
                - RequestEntityTooLarge
                - RequestUriTooLong
                - UnsupportedMediaType
                - RequestedRangeNotSatisfiable
                - ExpectationFailed
                - UpgradeRequired
                - InternalServerError
                - NotImplemented
                - BadGateway
                - ServiceUnavailable
                - GatewayTimeout
                - HttpVersionNotSupported
            multipart/form-data:
              schema:
                type: string
                enum:
                - Continue
                - SwitchingProtocols
                - OK
                - Created
                - Accepted
                - NonAuthoritativeInformation
                - NoContent
                - ResetContent
                - PartialContent
                - MultipleChoices
                - Ambiguous
                - MovedPermanently
                - Moved
                - Found
                - Redirect
                - SeeOther
                - RedirectMethod
                - NotModified
                - UseProxy
                - Unused
                - TemporaryRedirect
                - RedirectKeepVerb
                - BadRequest
                - Unauthorized
                - PaymentRequired
                - Forbidden
                - NotFound
                - MethodNotAllowed
                - NotAcceptable
                - ProxyAuthenticationRequired
                - RequestTimeout
                - Conflict
                - Gone
                - LengthRequired
                - PreconditionFailed
                - RequestEntityTooLarge
                - RequestUriTooLong
                - UnsupportedMediaType
                - RequestedRangeNotSatisfiable
                - ExpectationFailed
                - UpgradeRequired
                - InternalServerError
                - NotImplemented
                - BadGateway
                - ServiceUnavailable
                - GatewayTimeout
                - HttpVersionNotSupported
        '400':
          description: "Validation error:\n            Fee Hierarchy Method Type is required.\n            -- OR --\n            Fee Schedule type detected. Please use payout rate.\n            -- OR --\n            Cannot Assign Custodian to Account or Registration levels."
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
        description: Updated detailed fee hierarchy record.
        required: true
  /v1/Billing/Hierarchy/CustodianCount:
    get:
      tags:
      - Billing/Hierarchy
      summary: Get counts of custodians given a specific fee hierarchy level/id
      description: 'Sample Response:

        [

        {

        "entityEnum": "Global",

        "entityId": 0,

        "custodianId": null,

        "detailCount": 3,

        "type": "FeeHierarchy"

        }

        ]'
      operationId: FeeHierarchy_GetCustodianDetailCount
      parameters:
      - name: entityEnum
        in: query
        description: The entity type.
        required: true
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      - name: entityId
        in: query
        description: The ID of the entity.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A list of records grouped by custodian and entity.
          content:
            text/plain:
              schema:
                items:
                  type: object
                type: array
            application/json:
              schema:
                items:
                  type: object
                type: array
            text/json:
              schema:
                items:
                  type: object
                type: array
            application/xml:
              schema:
                items:
                  type: object
                type: array
            text/xml:
              schema:
                items:
                  type: object
                type: array
            multipart/form-data:
              schema:
                items:
                  type: object
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/Default:
    get:
      tags:
      - Billing/Hierarchy
      summary: Get a fee hierarchy record with default values, for use in creating a new…
      operationId: FeeHierarchy_GetDefaultHierarchy
      parameters:
      - name: entityEnum
        in: query
        description: The entity of the new record.
        required: true
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      - name: entityId
        in: query
        description: The entity ID of the new record.
        required: true
        schema:
          type: integer
          format: int32
      - name: custodianId
        in: query
        description: Optional. The custodian ID of the new record.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A detailed fee hierarchy record containing default values.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/Delete:
    put:
      tags:
      - Billing/Hierarchy
      summary: Delete a list of fee hierarchy records by ID
      operationId: FeeHierarchy_DeleteHierarchyByIdAsync
      parameters:
      - name: ct
        in: header
        description: CancellationToken object
        required: true
      responses:
        '200':
          description: Update successful.
          content:
            text/plain:
              schema:
                type: string
                enum:
                - Continue
                - SwitchingProtocols
                - OK
                - Created
                - Accepted
                - NonAuthoritativeInformation
                - NoContent
                - ResetContent
                - PartialContent
                - MultipleChoices
                - Ambiguous
                - MovedPermanently
                - Moved
                - Found
                - Redirect
                - SeeOther
                - RedirectMethod
                - NotModified
                - UseProxy
                - Unused
                - TemporaryRedirect
                - RedirectKeepVerb
                - BadRequest
                - Unauthorized
                - PaymentRequired
                - Forbidden
                - NotFound
                - MethodNotAllowed
                - NotAcceptable
                - ProxyAuthenticationRequired
                - RequestTimeout
                - Conflict
                - Gone
                - LengthRequired
                - PreconditionFailed
                - RequestEntityTooLarge
                - RequestUriTooLong
                - UnsupportedMediaType
                - RequestedRangeNotSatisfiable
                - ExpectationFailed
                - UpgradeRequired
                - InternalServerError
                - NotImplemented
                - BadGateway
                - ServiceUnavailable
                - GatewayTimeout
                - HttpVersionNotSupported
            application/json:
              schema:
                type: string
                enum:
                - Continue
                - SwitchingProtocols
                - OK
                - Created
                - Accepted
                - NonAuthoritativeInformation
                - NoContent
                - ResetContent
                - PartialContent
                - MultipleChoices
                - Ambiguous
                - MovedPermanently
                - Moved
                - Found
                - Redirect
                - SeeOther
                - RedirectMethod
                - NotModified
                - UseProxy
                - Unused
                - TemporaryRedirect
                - RedirectKeepVerb
                - BadRequest
                - Unauthorized
                - PaymentRequired
                - Forbidden
                - NotFound
                - MethodNotAllowed
                - NotAcceptable
                - ProxyAuthenticationRequired
                - RequestTimeout
                - Conflict
                - Gone
                - LengthRequired
                - PreconditionFailed
                - RequestEntityTooLarge
                - RequestUriTooLong
                - UnsupportedMediaType
                - RequestedRangeNotSatisfiable
                - ExpectationFailed
                - UpgradeRequired
                - InternalServerError
                - NotImplemented
                - BadGateway
                - ServiceUnavailable
                - GatewayTimeout
                - HttpVersionNotSupported
            text/json:
              schema:
                type: string
                enum:
                - Continue
                - SwitchingProtocols
                - OK
                - Created
                - Accepted
                - NonAuthoritativeInformation
                - NoContent
                - ResetContent
                - PartialContent
                - MultipleChoices
                - Ambiguous
                - MovedPermanently
                - Moved
                - Found
                - Redirect
                - SeeOther
                - RedirectMethod
                - NotModified
                - UseProxy
                - Unused
                - TemporaryRedirect
                - RedirectKeepVerb
                - BadRequest
                - Unauthorized
                - PaymentRequired
                - Forbidden
                - NotFound
                - MethodNotAllowed
                - NotAcceptable
                - ProxyAuthenticationRequired
                - RequestTimeout
                - Conflict
                - Gone
                - LengthRequired
                - PreconditionFailed
                - RequestEntityTooLarge
                - RequestUriTooLong
                - UnsupportedMediaType
                - RequestedRangeNotSatisfiable
                - ExpectationFailed
                - UpgradeRequired
                - InternalServerError
                - NotImplemented
                - BadGateway
                - ServiceUnavailable
                - GatewayTimeout
                - HttpVersionNotSupported
            application/xml:
              schema:
                type: string
                enum:
                - Continue
                - SwitchingProtocols
                - OK
                - Created
                - Accepted
                - NonAuthoritativeInformation
                - NoContent
                - ResetContent
                - PartialContent
                - MultipleChoices
                - Ambiguous
                - MovedPermanently
                - Moved
                - Found
                - Redirect
                - SeeOther
                - RedirectMethod
                - NotModified
                - UseProxy
                - Unused
                - TemporaryRedirect
                - RedirectKeepVerb
                - BadRequest
                - Unauthorized
                - PaymentRequired
                - Forbidden
                - NotFound
                - MethodNotAllowed
                - NotAcceptable
                - ProxyAuthenticationRequired
                - RequestTimeout
                - Conflict
                - Gone
                - LengthRequired
                - PreconditionFailed
                - RequestEntityTooLarge
                - RequestUriTooLong
                - UnsupportedMediaType
                - RequestedRangeNotSatisfiable
                - ExpectationFailed
                - UpgradeRequired
                - InternalServerError
                - NotImplemented
                - BadGateway
                - ServiceUnavailable
                - GatewayTimeout
                - HttpVersionNotSupported
            text/xml:
              schema:
                type: string
                enum:
                - Continue
                - SwitchingProtocols
                - OK
                - Created
                - Accepted
                - NonAuthoritativeInformation
                - NoContent
                - ResetContent
                - PartialContent
                - MultipleChoices
                - Ambiguous
                - MovedPermanently
                - Moved
                - Found
                - Redirect
                - SeeOther
                - RedirectMethod
                - NotModified
                - UseProxy
                - Unused
                - TemporaryRedirect
                - RedirectKeepVerb
                - BadRequest
                - Unauthorized
                - PaymentRequired
                - Forbidden
                - NotFound
                - MethodNotAllowed
                - NotAcceptable
                - ProxyAuthenticationRequired
                - RequestTimeout
                - Conflict
                - Gone
                - LengthRequired
                - PreconditionFailed
                - RequestEntityTooLarge
                - RequestUriTooLong
                - UnsupportedMediaType
                - RequestedRangeNotSatisfiable
                - ExpectationFailed
                - UpgradeRequired
                - InternalServerError
                - NotImplemented
                - BadGateway
                - ServiceUnavailable
                - GatewayTimeout
                - HttpVersionNotSupported
            multipart/form-data:
              schema:
                type: string
                enum:
                - Continue
                - SwitchingProtocols
                - OK
                - Created
                - Accepted
                - NonAuthoritativeInformation
                - NoContent
                - ResetContent
                - PartialContent
                - MultipleChoices
                - Ambiguous
                - MovedPermanently
                - Moved
                - Found
                - Redirect
                - SeeOther
                - RedirectMethod
                - NotModified
                - UseProxy
                - Unused
                - TemporaryRedirect
                - RedirectKeepVerb
                - BadRequest
                - Unauthorized
                - PaymentRequired
                - Forbidden
                - NotFound
                - MethodNotAllowed
                - NotAcceptable
                - ProxyAuthenticationRequired
                - RequestTimeout
                - Conflict
                - Gone
                - LengthRequired
                - PreconditionFailed
                - RequestEntityTooLarge
                - RequestUriTooLong
                - UnsupportedMediaType
                - RequestedRangeNotSatisfiable
                - ExpectationFailed
                - UpgradeRequired
                - InternalServerError
                - NotImplemented
                - BadGateway
                - ServiceUnavailable
                - GatewayTimeout
                - HttpVersionNotSupported
        '400':
          description: "Validation error:\n            There are no fee hierarchy items to delete."
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of fee hierarchy record IDs.
        required: true
  /v1/Billing/Hierarchy/Entity/Search:
    get:
      tags:
      - Billing/Hierarchy
      summary: Searches fee hierarchy records by entity name
      operationId: FeeHierarchy_GetEntitySearch
      parameters:
      - name: search
        in: query
        description: The entity name to search for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of simple entities, consisting of the ID and name.
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/Entity/Search/{search}:
    get:
      tags:
      - Billing/Hierarchy
      summary: Searches fee hierarchy records by entity name
      operationId: FeeHierarchy_GetV1BillingHierarchyEntitySearchBySearch
      parameters:
      - name: search
        in: path
        description: The entity name to search for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of simple entities, consisting of the ID and name.
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/Estimate:
    get:
      tags:
      - Billing/Hierarchy
      summary: Get estimate of what the fee hierarchy would be given the specified paramter…
      operationId: FeeHierarchy_GetFeHiEstimate
      parameters:
      - name: clientId
        in: query
        description: Optional. Client ID to get estimate for. Takes top priority.
        required: false
        schema:
          type: integer
          format: int32
      - name: regId
        in: query
        description: Optional. Registration ID to get estimate for. Takes second priority.
        required: false
        schema:
          type: integer
          format: int32
      - name: repId
        in: query
        description: Optional. Representative ID to get estimate for. Takes third priority.
        required: false
        schema:
          type: integer
          format: int32
      - name: modelId
        in: query
        description: Optional. Model ID override to use, if exists.
        required: false
        schema:
          type: integer
          format: int32
      - name: modelAggId
        in: query
        description: Optional. Model aggregate ID override to use, if exists.
        required: false
        schema:
          type: integer
          format: int32
      - name: subId
        in: query
        description: Optional. Sub-advisor ID override to use, if exists.
        required: false
        schema:
          type: integer
          format: int32
      - name: custodianId
        in: query
        description: Optional. Custodian ID override to use, if exists.
        required: false
        schema:
          type: integer
          format: int32
      - name: planId
        in: query
        description: Optional. Plan ID override to use, if exists.
        required: false
        schema:
          type: integer
          format: int32
      - name: managementStyleId
        in: query
        description: Optional. Management style ID override to use, if exists.
        required: false
        schema:
          type: integer
          format: int32
      - name: astroEnabled
        in: query
        description: Optional. Whether Astro enabled records are included.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: List of fee hierarchy estimates.
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.FeeHierarchyEstimate'
                xml:
                  name: FeeHierarchyEstimate
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.FeeHierarchyEstimate'
                xml:
                  name: FeeHierarchyEstimate
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.FeeHierarchyEstimate'
                xml:
                  name: FeeHierarchyEstimate
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.FeeHierarchyEstimate'
                xml:
                  name: FeeHierarchyEstimate
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.FeeHierarchyEstimate'
                xml:
                  name: FeeHierarchyEstimate
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Billing.FeeHierarchyEstimate'
                xml:
                  name: FeeHierarchyEstimate
                  wrapped: true
                type: array
        '400':
          description: Exception thrown when none of ClientId, RegId or RepId parameters are specified.
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/MidLevel:
    get:
      tags:
      - Billing/Hierarchy
      summary: Get more details for the fee hierarchy level of the entity
      operationId: FeeHierarchy_GetMidView
      parameters:
      - name: entity
        in: query
        description: Entity, the level (Global, Rep, Account, etc)
        required: true
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      responses:
        '200':
          description: List of detailed fee hierarchy records
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
                xml:
                  name: FeeHierarchyVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
                xml:
                  name: FeeHierarchyVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
                xml:
                  name: FeeHierarchyVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
                xml:
                  name: FeeHierarchyVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/PayoutRate/Search:
    get:
      tags:
      - Billing/Hierarchy
      summary: Searches fee hierarchy records by payout rate
      operationId: FeeHierarchy_GetPayoutRateSearch
      parameters:
      - name: search
        in: query
        description: The payout rate to search for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of simple entities, consisting of the ID and name.
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/PayoutRate/Search/{search}:
    get:
      tags:
      - Billing/Hierarchy
      summary: Searches fee hierarchy records by payout rate
      operationId: FeeHierarchy_GetV1BillingHierarchyPayoutRateSearchBySearch
      parameters:
      - name: search
        in: path
        description: The payout rate to search for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of simple entities, consisting of the ID and name.
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/Search:
    get:
      tags:
      - Billing/Hierarchy
      summary: Search for fee hierarchy records by Entity
      operationId: FeeHierarchy_GetFeHiByKeyword
      parameters:
      - name: search
        in: query
        description: Search pattern to look for.
        required: true
        schema:
          type: string
      - name: entity
        in: query
        description: Optional. Entity type to search for. Looks for all if not provided.
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      responses:
        '200':
          description: List of detailed fee hierarchy records
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
                xml:
                  name: FeeHierarchyVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
                xml:
                  name: FeeHierarchyVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
                xml:
                  name: FeeHierarchyVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyVerboseDto'
                xml:
                  name: FeeHierarchyVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/TopLevel:
    get:
      tags:
      - Billing/Hierarchy
      summary: Get a top level view of fee hierarchy records for all entities
      operationId: FeeHierarchy_GetUpperView
      responses:
        '200':
          description: List of fee hierarchy summaries
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyTopLevelDto'
                xml:
                  name: FeeHierarchyTopLevelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyTopLevelDto'
                xml:
                  name: FeeHierarchyTopLevelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyTopLevelDto'
                xml:
                  name: FeeHierarchyTopLevelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyTopLevelDto'
                xml:
                  name: FeeHierarchyTopLevelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyTopLevelDto'
                xml:
                  name: FeeHierarchyTopLevelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.FeeHierarchyTopLevelDto'
                xml:
                  name: FeeHierarchyTopLevelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Hierarchy/Verbose:
    get:
      tags:
      - Billing/Hierarchy
      summary: Gets the verbose fee hierarchy record for the specified entity and entity ID
      operationId: FeeHierarchy_GetVerboseHierarchy
      parameters:
      - name: entityEnum
        in: query
        description: Entity, the level (Global, Rep, Account, etc)
        required: true
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
[...]
