openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Sync Types API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/SyncTypes
paths:
  /v1/Confirm/SyncTypes:
    get:
      tags:
      - Confirm/SyncTypes
      summary: Gets all of the sync types
      operationId: SyncTypes_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncTypeDto'
                xml:
                  name: SyncTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncTypeDto'
                xml:
                  name: SyncTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncTypeDto'
                xml:
                  name: SyncTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncTypeDto'
                xml:
                  name: SyncTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncTypeDto'
                xml:
                  name: SyncTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncTypeDto'
                xml:
                  name: SyncTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Confirm.Recon.SyncTypeDto:
      properties:
        id:
          type: integer
          format: int32
        syncType:
          type: string
      xml:
        name: SyncTypeDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
