openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Calculate API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/Calculate
paths:
  /v1/Reporting/Calculate/DateRanges:
    get:
      tags:
      - Reporting/Calculate
      operationId: Calculate_GetDateRangesForToday
      parameters:
      - name: isDefault
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeFullDto'
                xml:
                  name: VerboseCalculationDateRangeFullDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeFullDto'
                xml:
                  name: VerboseCalculationDateRangeFullDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeFullDto'
                xml:
                  name: VerboseCalculationDateRangeFullDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeFullDto'
                xml:
                  name: VerboseCalculationDateRangeFullDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeFullDto'
                xml:
                  name: VerboseCalculationDateRangeFullDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeFullDto'
                xml:
                  name: VerboseCalculationDateRangeFullDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Calculate get date ranges for today
      x-summary-source: derived
  /v1/Reporting/Calculate/DateRanges/{asOfDate}:
    get:
      tags:
      - Reporting/Calculate
      operationId: Calculate_GetDateRangesForDate
      parameters:
      - name: asOfDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      - name: isDefault
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeFullDto'
                xml:
                  name: VerboseCalculationDateRangeFullDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeFullDto'
                xml:
                  name: VerboseCalculationDateRangeFullDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeFullDto'
                xml:
                  name: VerboseCalculationDateRangeFullDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeFullDto'
                xml:
                  name: VerboseCalculationDateRangeFullDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeFullDto'
                xml:
                  name: VerboseCalculationDateRangeFullDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeFullDto'
                xml:
                  name: VerboseCalculationDateRangeFullDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Calculate get date ranges for date
      x-summary-source: derived
  /v1/Reporting/Calculate/Verbose:
    post:
      tags:
      - Reporting/Calculate
      operationId: Calculate_CreateCalculationVeboseAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - SessionOnly
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.BatchCalculated'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.BatchCalculated'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.BatchCalculated'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.BatchCalculated'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationSettingsDto'
        required: true
      summary: Calculate create calculation vebose async
      x-summary-source: derived
  /v1/Reporting/Calculate/Verbose/New:
    get:
      tags:
      - Reporting/Calculate
      operationId: Calculate_CreateEmptyVerboseCalculationSettingsDtoAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: asOfDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationSettingsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationSettingsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationSettingsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationSettingsDto'
      security:
      - Authorization: []
      summary: Calculate create empty verbose calculation settings dto async
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.Reporting.Calculate.DateRangeGroupInfoOptionCalculated:
      properties:
        dateRangeId:
          type: integer
          format: int32
        groupInfoId:
          type: integer
          format: int32
        value:
          type: string
        error:
          type: string
      xml:
        name: DateRangeGroupInfoOptionCalculated
      type: object
    OAS.DataModel.Reporting.Calculate.DateRangeCostBasisOptionCalculated:
      properties:
        type:
          readOnly: true
          type: string
        dateRangeId:
          type: integer
          format: int32
        costBasisOptionId:
          type: integer
          format: int32
        calculatedCostBasisOptionId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IReturnStyle'
        returns:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.CostBasisReturnCalculatedBase'
          xml:
            name: CostBasisReturnCalculatedBase
            wrapped: true
          type: array
        returnType:
          type: string
          enum:
          - AggregatedValue
          - LotDetail
      xml:
        name: DateRangeCostBasisOptionCalculated
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationGroupInfoOptionDto:
      properties:
        id:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        property:
          type: string
      xml:
        name: VerboseCalculationGroupInfoOptionDto
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeCostBasisOptionDto:
      properties:
        reportCategoryId:
          type: integer
          format: int32
        dateRangeId:
          type: integer
          format: int32
        costBasisOptionId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationReturnStyleDto'
        returnType:
          type: string
          enum:
          - AggregatedValue
          - LotDetail
      xml:
        name: VerboseCalculationDateRangeCostBasisOptionDto
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationPerformanceOptionDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        calculationMethod:
          type: string
          enum:
          - TWR
          - Simple
          - IRR
        includeAccruedInterest:
          type: boolean
        calcGrossOfFees:
          type: boolean
        calcFirstDayPerformance:
          type: boolean
        calcIntraDayPerformance:
          type: boolean
        annualize:
          type: boolean
        annualizeIncludeDaysWithoutValue:
          type: boolean
        flipSignForShort:
          type: boolean
        suppressMixedRanges:
          type: boolean
        suppressMixedAssetLevelGroups:
          type: boolean
        includeAIPLedger:
          type: boolean
        calcAfterTax:
          type: boolean
        intradayCalculationMethod:
          type: string
          enum:
          - Standard
          - Enhanced
          - MarginEnhanced
      xml:
        name: VerboseCalculationPerformanceOptionDto
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationSettingsDto:
      properties:
        entity:
          type: string
          enum:
          - Database
          - BrokerDealer
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - AggregateModel
          - DynamicGrouping
          - PortfolioGroup
          - UserDetail
          - Prospect
          - CustomGrouping
        entityIds:
          items:
            type: integer
            format: int32
          type: array
        prospectId:
          type: string
        asOfDate:
          type: string
        accountInclusion:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
        groupCustodialCashTogether:
          type: boolean
        useSmaSettings:
          type: boolean
        unmanagedInclusionOverride:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
        includeHistoricalLinks:
          type: string
          enum:
          - None
          - CostBasis
          - Performance
        accountManagementOverride:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.ManagementOverride'
          xml:
            name: ManagementOverride
            wrapped: true
          type: array
        exclusions:
          properties:
            account:
              items:
                type: integer
                format: int32
              type: array
            fundFamily:
              items:
                type: integer
                format: int32
              type: array
          type: object
        groupings:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationGroupDto'
          xml:
            name: VerboseCalculationGroupDto
            wrapped: true
          type: array
        dateRanges:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeDto'
          xml:
            name: VerboseCalculationDateRangeDto
            wrapped: true
          type: array
        performanceOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationPerformanceOptionDto'
          xml:
            name: VerboseCalculationPerformanceOptionDto
            wrapped: true
          type: array
        benchmarks:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationBenchmarkDto'
          xml:
            name: VerboseCalculationBenchmarkDto
            wrapped: true
          type: array
        comparisons:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationComparisonDto'
          xml:
            name: VerboseCalculationComparisonDto
            wrapped: true
          type: array
        statisticalOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationStatisticalOptionDto'
          xml:
            name: VerboseCalculationStatisticalOptionDto
            wrapped: true
          type: array
        options:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IStandardOption'
          xml:
            name: IStandardOption
            wrapped: true
          type: array
        activityOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationActivityOptionDto'
          xml:
            name: VerboseCalculationActivityOptionDto
            wrapped: true
          type: array
        attributionOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationAttributionOptionDto'
          xml:
            name: VerboseCalculationAttributionOptionDto
            wrapped: true
          type: array
        costBasisOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationCostBasisOptionDto'
          xml:
            name: VerboseCalculationCostBasisOptionDto
            wrapped: true
          type: array
        groupInfoOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationGroupInfoOptionDto'
          xml:
            name: VerboseCalculationGroupInfoOptionDto
            wrapped: true
          type: array
      xml:
        name: VerboseCalculationSettingsDto
      type: object
    OAS.DataModel.Reporting.Calculate.AttributionReturnCalculated:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        startDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        endDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        benchmarkId:
          type: integer
          format: int32
        portfolioWeight:
          type: number
          format: double
        portfolioReturn:
          type: number
          format: double
        benchmarkWeight:
          type: number
          format: double
        benchmarkReturn:
          type: number
          format: double
        allocationEffect:
          type: number
          format: double
        selectionEffect:
          type: number
          format: double
        interactionEffect:
          type: number
          format: double
        totalEffect:
          type: number
          format: double
      xml:
        name: AttributionReturnCalculated
      type: object
    OAS.DataModel.Reporting.Calculate.DateRangeBillingOptionCalculated:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        dateRangeId:
          type: integer
          format: int32
        billingOptionId:
          type: integer
          format: int32
        calculatedBillingOptionId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IReturnStyle'
        returnType:
          type: string
          enum:
          - Disclaimers
          - FeeSchedules
          - DescriptiveData
          - PayInstructions
          - SpecialInstructions
          - PaysFor
          - RelatedAccounts
          - BillingRule
        returns:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.BillingReturnCalculatedBase'
          xml:
            name: BillingReturnCalculatedBase
            wrapped: true
          type: array
      xml:
        name: DateRangeBillingOptionCalculated
      type: object
    OAS.DataModel.Reporting.Calculate.ActivityOption:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        displayName:
          type: string
        inceptionValueMethod:
          type: string
          enum:
          - NewMoney
          - Zero
          - DayAfter
        includeUnmanagedJournals:
          type: boolean
        details:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.ActivityDetailBase'
          xml:
            name: ActivityDetailBase
            wrapped: true
          type: array
      xml:
        name: ActivityOption
      type: object
    OAS.DataModel.Reporting.Calculate.GroupCalculated:
      properties:
        id:
          type: integer
          format: int32
        grouping:
          type: string
          enum:
          - Self
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - FundFamily
          - Platform
          - Custodian
          - AggregateModel
          - DynamicGrouping
          - AssetClass
          - AssetLevelStrategy
          - AssetCategory
          - RiskCategory
          - AccountType
          - RegistrationTaxType
          - ProductType
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - ProductVintageYear
          - ProductSubType
          - AssetCategoryParent
          - PortfolioGroup
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - MaturityPeriod
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - MorningstarGeography
          - BillEntityType
          - ProductSubHolding
          - Country
          - Currency
          - CustomGrouping
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - Prospect
          - Transaction
          - Comparison
          - CostBasisLot
          - ModelInclusion
          - ContextChanges
          - ActivityOptions
          - DateRanges
          - Time
          - Bill
          - Beneficiary
          - Trustee
          - Systematic
          - BillTier
          - BillAdjustment
          - FeeSchedules
          - BillCashflow
          - ModelVsActual
          - BillAssetLevel
          - HouseholdMember
          - CustomIndexing
          - ProspectAccount
          - CustomIndexingScenario
          - ProspectAssetClass
          - ProspectAssetCategory
          - CustomIndexingPreference
          - ProspectMandate
          - ProspectComparisonAssetClass
          - ProspectComparisonAssetCategory
          - ProspectComparisonHolding
          - ProspectHolding
          - ProspectModelAgg
          - ProspectAccountStressTestsGrouped
          - ProspectAccountStressTestScenario
          - ProspectComparisonStressTestsGrouped
          - ProspectComparisonStressTestScenario
          - ProspectStressTestsGrouped
          - ProspectStressTestScenario
          - ProspectAccountCorrelation
          - ProspectComparisonAccountCorrelation
          - ProspectCorrelation
          - ProspectOrionPlanningCurrentGoal
          - ProspectOrionPlanningProposedGoal
          - ProspectOrionPlanningCurrentGoalResults
          - ProspectOrionPlanningProposedGoalResults
          - ProspectOrionPlanningCurrentGoalStepsResults
          - ProspectOrionPlanningProposedGoalStepsResults
          - ProspectHoldingSectorResults
          - ProspectHoldingGeographyResults
          - ProspectAccountHoldingSectorResults
          - ProspectAccountHoldingGeographyResults
          - ProspectComparisonAccountHoldingSectorResults
          - ProspectComparisonAccountHoldingGeographyResults
          - ProspectOrionPlanningNetWorth
          - ProspectSelfDirectedResults
          - ProspectSelfDirectedAssetClass
          - ProspectSelfDirectedAssetCategory
          - ProspectHouseholdMembers
          - ProspectStrategist
          - ProspectWeightedAssetClass
          - ProspectAccountWeightedAssetClass
          - BillingRelatedAccounts
          - ProspectAccountBlendedFactSheet
          - CustomIndexingBuys
          - CustomIndexingSells
          - ProspectBlendedAssetClasses
          - ProspectBlendedAssetCategories
          - ProspectOrionPlanningCurrentNetWorthAssetClasses
          - ProspectOrionPlanningProposedNetWorthAssetClasses
          - ProspectOrionPlanningNetWorthAsset
          - ProspectOrionPlanningCurrentNetWorthAssetCategories
          - ProspectOrionPlanningProposedNetWorthAssetCategories
          - ProspectOrionPlanningCurrentAssetCategories
          - ProspectOrionPlanningProposedAssetCategories
          - ProspectOrionPlanningCurrentAssetClasses
          - ProspectOrionPlanningProposedAssetClasses
          - ProspectComparisonHouseholdManualAccounts
          - AdHocGrouping
        groupEntityId:
          type: integer
          format: int32
        groupEntityIdPath:
          type: string
        reportCategories:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.GroupReportCategoryCalculated'
          xml:
            name: GroupReportCategoryCalculated
            wrapped: true
          type: array
        groups:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.GroupCalculated'
          xml:
            name: GroupCalculated
            wrapped: true
          type: array
      xml:
        name: GroupCalculated
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationReturnStyleDto:
      properties:
        context:
          type: string
          enum:
          - Self
          - Parent
        frequency:
          type: string
          enum:
          - Summary
          - Annually
          - Quarterly
          - Monthly
          - Weekly
          - Daily
          - Automatic
        basedOn:
          type: string
          enum:
          - Calendar
          - RollingForward
          - RollingBackward
        breakBehavior:
          type: string
          enum:
          - AllowPartialPeriods
          - PartialPeriodsWithBreakPoints
          - FullPeriodsOnly
        cumulative:
          type: boolean
        cumulativeBasedOn:
          type: string
          enum:
          - ForwardFromStartDate
          - BackwardFromEndDate
      xml:
        name: VerboseCalculationReturnStyleDto
      type: object
    OAS.DataModel.Reporting.Calculate.CostBasisOption:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        source:
          type: string
          enum:
          - Orion
          - Custodian
        realizationType:
          type: string
          enum:
          - Realized
          - Unrealized
        includeAmortization:
          type: boolean
        includeDividends:
          type: boolean
        includeMoneyMarkets:
          type: boolean
        includeQualifiedAccounts:
          type: boolean
        includeUnknownCostBasis:
          type: boolean
        useInceptionCostBasis:
          type: boolean
        preserveNegativeUnrealizedCostBasis:
          type: boolean
        displayGainsOrLosses:
          type: string
          enum:
          - Both
          - Gains
          - Losses
      xml:
        name: CostBasisOption
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationActivityOptionDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        inceptionValueMethod:
          type: string
          enum:
          - NewMoney
          - Zero
          - DayAfter
        details:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.ActivityDetailBase'
          xml:
            name: ActivityDetailBase
            wrapped: true
          type: array
      xml:
        name: VerboseCalculationActivityOptionDto
      type: object
    OAS.DataModel.Reporting.Calculate.PerformanceReturnCalculatedBase:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        startDate:
          type: string
        endDate:
          type: string
      xml:
        name: PerformanceReturnCalculatedBase
      type: object
    OAS.DataModel.Reporting.Interfaces.IReturnStyle:
      properties:
        frequency:
          readOnly: true
          type: string
          enum:
          - Summary
          - Annually
          - Quarterly
          - Monthly
          - Weekly
          - Daily
          - Automatic
        basedOn:
          readOnly: true
          type: string
          enum:
          - Calendar
          - RollingForward
          - RollingBackward
        breakBehavior:
          readOnly: true
          type: string
          enum:
          - AllowPartialPeriods
          - PartialPeriodsWithBreakPoints
          - FullPeriodsOnly
        cumulative:
          readOnly: true
          type: boolean
        cumulativeBasedOn:
          readOnly: true
          type: string
          enum:
          - ForwardFromStartDate
          - BackwardFromEndDate
        context:
          readOnly: true
          type: string
          enum:
          - Self
          - Parent
      xml:
        name: IReturnStyle
      type: object
    OAS.DataModel.Reporting.Calculate.ActivityReturnCalculated:
      properties:
        type:
          readOnly: true
          type: string
        startDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        endDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
      xml:
        name: ActivityReturnCalculated
      type: object
    OAS.DataModel.Reporting.Calculate.DateRangePerformanceOptionCalculated:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        dateRangeId:
          type: integer
          format: int32
        performanceOptionId:
          type: integer
          format: int32
        calculatedPerformanceOptionId:
          type: integer
          format: int32
        benchmarkId:
          type: integer
          format: int32
        statisticalOptionId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IReturnStyle'
        returnType:
          type: string
          enum:
          - Aggregated
          - Breakdown
        returns:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.PerformanceReturnCalculatedBase'
          xml:
            name: PerformanceReturnCalculatedBase
            wrapped: true
          type: array
      xml:
        name: DateRangePerformanceOptionCalculated
      type: object
    OAS.DataModel.Reporting.Calculate.IncomeReturnCalculatedBase:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        startDate:
          type: string
        endDate:
          type: string
      xml:
        name: IncomeReturnCalculatedBase
      type: object
    OAS.DataModel.Reporting.Calculate.StatisticalOption:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        riskFreeBenchmarkId:
          type: integer
          format: int32
        marketBenchmarkId:
          type: integer
          format: int32
        options:
          items:
            type: string
            enum:
            - StandardDeviation
            - Mean
            - Variance
            - Drawdown
            - SharpeRatio
            - SortinoRatio
            - Covariance
            - RSquared
            - BetaCoefficient
            - TreynorRatio
            - JensensAlpha
            - UpsideCaptureRatio
            - DownsideCaptureRatio
          xml:
            name: StatisticType
            wrapped: true
          type: array
      xml:
        name: StatisticalOption
      type: object
    OAS.DataModel.Reporting.Calculate.BenchmarkCalculated:
      properties:
        id:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Blend
          - Product
          - Model
          - Custom
        entityId:
          type: integer
          format: int32
        name:
          type: string
        dynamicBenchmarkType:
          type: string
          enum:
          - None
          - AssetClass
          - AssetCategory
          - ManagementStyle
          - AggregateModel
          - RiskCategory
        inceptionDate:
          type: string
        color:
          type: string
      xml:
        name: BenchmarkCalculated
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        displayName:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        dataMustExistOnRangeStartDate:
          type: boolean
        dataMustExistOnRangeEndDate:
          type: boolean
        allowStartDateAdjustment:
          type: boolean
        startDateMethod:
          type: string
          enum:
          - Inception
          - HoldingPeriod
          - AIPLedger
      xml:
        name: VerboseCalculationDateRangeDto
      type: object
    OAS.DataModel.Reporting.Calculate.TradingReturn:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        startDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        endDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        groupBy:
          type: string
          enum:
          - None
          - IncludedInModel
          - NotInModelRebalance
          - NotInModel
        actualPercent:
          type: number
          format: double
        actualValue:
          type: number
          format: double
        modelPercent:
          type: number
          format: double
        modelValue:
          type: number
          format: double
        percentOutOfBalance:
          type: number
          format: double
        valueOutOfBalance:
          type: number
          format: double
        itemTolLower:
          type: number
          format: double
        itemTolUpper:
          type: number
          format: double
        isExcluded:
          type: boolean
        hasCashAsset:
          type: boolean
        isOutOfTolerance:
          type: boolean
      xml:
        name: TradingReturn
      type: object
    OAS.DataModel.Reporting.Calculate.DateRangeIncomeOptionCalculated:
      properties:
        type:
          readOnly: true
          type: string
        dateRangeId:
          type: integer
          format: int32
        incomeOptionId:
          type: integer
          format: int32
        calculatedIncomeOptionId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IReturnStyle'
        returns:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.IncomeReturnCalculatedBase'
          xml:
            name: IncomeReturnCalculatedBase
            wrapped: true
          type: array
      xml:
        name: DateRangeIncomeOptionCalculated
      type: object
    OAS.DataModel.Reporting.Calculate.GroupInfoCalculated:
      properties:
        id:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        property:
          type: string
      xml:
        name: GroupInfoCalculated
      type: object
    OAS.DataModel.Reporting.Calculate.DateRangeTradingOptionCalculated:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        dateRangeId:
          type: integer
          format: int32
        tradingOptionId:
          type: integer
          format: int32
        calculatedTradingOptionId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IReturnStyle'
        returns:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.TradingReturn'
          xml:
            name: TradingReturn
            wrapped: true
          type: array
      xml:
        name: DateRangeTradingOptionCalculated
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationGroupDto:
      properties:
        grouping:
          type: string
          enum:
          - Self
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - FundFamily
          - Platform
          - Custodian
          - AggregateModel
          - DynamicGrouping
          - AssetClass
          - AssetLevelStrategy
          - AssetCategory
          - RiskCategory
          - AccountType
          - RegistrationTaxType
          - ProductType
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - ProductVintageYear
          - ProductSubType
          - AssetCategoryParent
          - PortfolioGroup
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - MaturityPeriod
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - MorningstarGeography
          - BillEntityType
          - ProductSubHolding
          - Country
          - Currency
          - CustomGrouping
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - Prospect
          - Transaction
          - Comparison
          - CostBasisLot
          - ModelInclusion
          - ContextChanges
          - ActivityOptions
          - DateRanges
          - Time
          - Bill
          - Beneficiary
          - Trustee
          - Systematic
          - BillTier
          - BillAdjustment
          - FeeSchedules
          - BillCashflow
          - ModelVsActual
          - BillAssetLevel
          - HouseholdMember
          - CustomIndexing
          - ProspectAccount
          - CustomIndexingScenario
          - ProspectAssetClass
          - ProspectAssetCategory
          - CustomIndexingPreference
          - ProspectMandate
          - ProspectComparisonAssetClass
          - ProspectComparisonAssetCategory
          - ProspectComparisonHolding
          - ProspectHolding
          - ProspectModelAgg
          - ProspectAccountStressTestsGrouped
          - ProspectAccountStressTestScenario
          - ProspectComparisonStressTestsGrouped
          - ProspectComparisonStressTestScenario
          - ProspectStressTestsGrouped
          - ProspectStressTestScenario
          - ProspectAccountCorrelation
          - ProspectComparisonAccountCorrelation
          - ProspectCorrelation
          - ProspectOrionPlanningCurrentGoal
          - ProspectOrionPlanningProposedGoal
          - ProspectOrionPlanningCurrentGoalResults
          - ProspectOrionPlanningProposedGoalResults
          - ProspectOrionPlanningCurrentGoalStepsResults
          - ProspectOrionPlanningProposedGoalStepsResults
          - ProspectHoldingSectorResults
          - ProspectHoldingGeographyResults
          - ProspectAccountHoldingSectorResults
          - ProspectAccountHoldingGeographyResults
          - ProspectComparisonAccountHoldingSectorResults
          - ProspectComparisonAccountHoldingGeographyResults
          - ProspectOrionPlanningNetWorth
          - ProspectSelfDirectedResults
          - ProspectSelfDirectedAssetClass
          - ProspectSelfDirectedAssetCategory
          - ProspectHouseholdMembers
          - ProspectStrategist
          - ProspectWeightedAssetClass
          - ProspectAccountWeightedAssetClass
          - BillingRelatedAccounts
          - ProspectAccountBlendedFactSheet
          - CustomIndexingBuys
          - CustomIndexingSells
          - ProspectBlendedAssetClasses
          - ProspectBlendedAssetCategories
          - ProspectOrionPlanningCurrentNetWorthAssetClasses
          - ProspectOrionPlanningProposedNetWorthAssetClasses
          - ProspectOrionPlanningNetWorthAsset
          - ProspectOrionPlanningCurrentNetWorthAssetCategories
          - ProspectOrionPlanningProposedNetWorthAssetCategories
          - ProspectOrionPlanningCurrentAssetCategories
          - ProspectOrionPlanningProposedAssetCategories
          - ProspectOrionPlanningCurrentAssetClasses
          - ProspectOrionPlanningProposedAssetClasses
          - ProspectComparisonHouseholdManualAccounts
          - AdHocGrouping
        groupings:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationGroupDto'
          xml:
            name: VerboseCalculationGroupDto
            wrapped: true
          type: array
        performanceOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangePerformanceOptionDto'
          xml:
            name: VerboseCalculationDateRangePerformanceOptionDto
            wrapped: true
          type: array
        activityOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeActivityOptionDto'
          xml:
            name: VerboseCalculationDateRangeActivityOptionDto
            wrapped: true
          type: array
        attributionOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeAttributionOptionDto'
          xml:
            name: VerboseCalculationDateRangeAttributionOptionDto
            wrapped: true
          type: array
        costBasisOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeCostBasisOptionDto'
          xml:
            name: VerboseCalculationDateRangeCostBasisOptionDto
            wrapped: true
          type: array
        groupInfoOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeGroupInfoOptionDto'
          xml:
            name: VerboseCalculationDateRangeGroupInfoOptionDto
            wrapped: true
          type: array
        billingOptions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Billing.VerboseCalculationDateRangeBillingOptionDto'
          xml:
            name: VerboseCalculationDateRangeBillingOptionDto
            wrapped: true
          type: array
      xml:
        name: VerboseCalculationGroupDto
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationBenchmarkDto:
      properties:
        id:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Blend
          - Product
          - Model
          - Custom
        entityId:
          type: integer
          format: int32
      xml:
        name: VerboseCalculationBenchmarkDto
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationCostBasisOptionDto:
      properties:
        id:
          type: integer
          format: int32
        source:
          type: string
          enum:
          - Orion
          - Custodian
        realizationType:
          type: string
          enum:
          - Realized
          - Unrealized
        includeAmortization:
          type: boolean
        includeDividends:
          type: boolean
        includeMoneyMarkets:
          type: boolean
        includeQualifiedAccounts:
          type: boolean
        includeUnknownCostBasis:
          type: boolean
        useInceptionCostBasis:
          type: boolean
        preserveNegativeUnrealizedCostBasis:
          type: boolean
        displayGainsOrLosses:
          type: string
          enum:
          - Both
          - Gains
          - Losses
      xml:
        name: VerboseCalculationCostBasisOptionDto
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationComparisonDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        benchmarks:
          items:
            type: integer
            format: int32
          type: array
      xml:
        name: VerboseCalculationComparisonDto
      type: object
    OAT.Utilities.Date.IDate:
      properties:
        date:
          readOnly: true
          type: string
          format: date-time
        year:
          readOnly: true
          type: integer
          format: int32
        month:
          readOnly: true
          type: integer
          format: int32
        day:
          readOnly: true
          type: integer
          format: int32
      xml:
        name: IDate
      type: object
    OAS.WebApi.DTO.Reporting.Billing.VerboseCalculationDateRangeBillingOptionDto:
      properties:
        returnType:
          type: string
          enum:
          - Disclaimers
          - FeeSchedules
          - DescriptiveData
          - PayInstructions
          - SpecialInstructions
          - PaysFor
          - RelatedAccounts
          - BillingRule
        billingOptionId:
          type: integer
          format: int32
        dateRangeId:
          type: integer
          format: int32
        reportCategoryId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationReturnStyleDto'
      xml:
        name: VerboseCalculationDateRangeBillingOptionDto
      type: object
    OAS.DataModel.Reporting.Calculate.DateRangeComparisonBenchmarkCalculated:
      properties:
        comparisonId:
          type: integer
          format: int32
        benchmarkId:
          type: integer
          format: int32
        sortOrder:
          type: integer
          format: int32
      xml:
        name: DateRangeComparisonBenchmarkCalculated
      type: object
    OAS.DataModel.Reporting.Calculate.CostBasisReturnCalculatedBase:
      properties:
        type:
          readOnly: true
          type: string
        startDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        endDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        isLongTerm:
          type: boolean
        transAmount:
          type: number
          format: double
        costBasis:
          type: number
          format: double
        amortization:
          type: number
          format: double
        gainLoss:
          type: number
          format: double
      xml:
        name: CostBasisReturnCalculatedBase
      type: object
    OAS.DataModel.Reporting.Calculate.BillingOption:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        billsToReturn:
          type: string
          enum:
          - AllBills
          - LastBill
          - MockBills
          - LastMockBill
        includedBillPayMethods:
          items:
            type: string
            enum:
            - ACH
            - Check
            - CreditCard
            - Direct
            - Indirect
            - NoFee
            - NonManaged
            - SpecialInstructions
          xml:
            name: BillPayMethod
            wrapped: true
          type: array
        includeOnlyRelevantFeeSchedules:
          type: boolean
        includeDollarFlatFeeSchedules:
          type: boolean
        useAsOfDateOverride:
          type: boolean
        cashflowRollup:
          type: boolean
        includedBillTypes:
          items:
            type: string
            enum:
            - Unknown
            - Renewal
            - NewMoney
            - NewAccount
            - FinancialPlanningFee
            - Performance
            - AdvanceCreditDebit
          xml:
            name: BillTypeEnum
            wrapped: true
          type: array
        includedBillAdjustmentTypes:
          items:
            type: integer
            format: int32
          type: array
        includedBillEntities:
          items:
            type: integer
            format: int32
          type: array
      xml:
        name: BillingOption
      type: object
    OAS.DataModel.Reporting.Interfaces.IStandardOption:
      properties:
        name:
          readOnly: true
          type: string
        type:
          readOnly: true
          type: string
        id:
          readOnly: true
          type: integer
          format: int32
      xml:
        name: IStandardOption
      type: object
    OAS.DataModel.Reporting.Calculate.DateRangeActivityOptionCalculated:
      properties:
        type:
          readOnly: true
          type: string
        dateRangeId:
          type: integer
          format: int32
        activityOptionId:
          type: integer
          format: int32
        calculatedActivityOptionId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IReturnStyle'
        returnType:
          type: string
          enum:
          - AggregatedValue
          - TransactionBreakdown
        returns:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.ActivityReturnCalculated'
          xml:
            name: ActivityReturnCalculated
            wrapped: true
          type: array
      xml:
        name: DateRangeActivityOptionCalculated
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeFullDto:
      properties:
        isDefault:
          type: boolean
        sortOrder:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        name:
          type: string
        displayName:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        dataMustExistOnRangeStartDate:
          type: boolean
        dataMustExistOnRangeEndDate:
          type: boolean
        allowStartDateAdjustment:
          type: boolean
        startDateMethod:
          type: string
          enum:
          - Inception
          - HoldingPeriod
          - AIPLedger
      xml:
        name: VerboseCalculationDateRangeFullDto
      type: object
    OAS.DataModel.Reporting.Calculate.DateRangeCalculated:
      properties:
        type:
          readOnly: true
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        displayName:
          type: string
        startDate:
          type: string
        endDate:
          type: string
        dataMustExistOnRangeStartDate:
          type: boolean
        dataMustExistOnRangeEndDate:
          type: boolean
        allowStartDateAdjustment:
          type: boolean
        startDateMethod:
          type: string
          enum:
          - Inception
          - HoldingPeriod
          - AIPLedger
      xml:
        name: DateRangeCalculated
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationStatisticalOptionDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        riskFreeBenchmarkId:
          type: integer
          format: int32
        marketBenchmarkId:
          type: integer
          format: int32
        options:
          items:
            type: string
            enum:
            - StandardDeviation
            - Mean
            - Variance
            - Drawdown
            - SharpeRatio
            - SortinoRatio
            - Covariance
            - RSquared
            - BetaCoefficient
            - TreynorRatio
            - JensensAlpha
            - UpsideCaptureRatio
            - DownsideCaptureRatio
          xml:
            name: StatisticType
            wrapped: true
          type: array
      xml:
        name: VerboseCalculationStatisticalOptionDto
      type: object
    OAS.DataModel.Reporting.Calculate.BillingReturnCalculatedBase:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        startDate:
          type: string
        endDate:
          type: string
      xml:
        name: BillingReturnCalculatedBase
      type: object
    OAS.DataModel.Reporting.Calculate.BatchCalculated:
      properties:
        sessionId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        expirationDate:
          type: string
          format: date-time
        groups:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.GroupCalculated'
          xml:
            name: GroupCalculated
            wrapped: true
          type: array
        buckets:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.BucketCalculated'
          xml:
            name: BucketCalculated
            wrapped: true
          type: array
        benchmarks:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.BenchmarkCalculated'
          xml:
            name: BenchmarkCalculated
            wrapped: true
          type: array
        comparisons:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.ComparisonCalculated'
          xml:
            name: ComparisonCalculated
            wrapped: true
          type: array
        dateRanges:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.DateRangeCalculated'
          xml:
            name: DateRangeCalculated
            wrapped: true
          type: array
        activityOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.ActivityOption'
          xml:
            name: ActivityOption
            wrapped: true
          type: array
        attributionOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.AttributionOption'
          xml:
            name: AttributionOption
            wrapped: true
          type: array
        billingOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.BillingOption'
          xml:
            name: BillingOption
            wrapped: true
          type: array
        costBasisOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.CostBasisOption'
          xml:
            name: CostBasisOption
            wrapped: true
          type: array
        groupInfoOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.GroupInfoCalculated'
          xml:
            name: GroupInfoCalculated
            wrapped: true
          type: array
        performanceOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.PerformanceOption'
          xml:
            name: PerformanceOption
            wrapped: true
          type: array
        statisticalOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.StatisticalOption'
          xml:
            name: StatisticalOption
            wrapped: true
          type: array
        tradingOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.TradingOption'
          xml:
            name: TradingOption
            wrapped: true
          type: array
      xml:
        name: BatchCalculated
      type: object
    OAS.DataModel.Reporting.Calculate.ComparisonCalculated:
      properties:
        id:
          type: integer
          format: int32
        assignmentType:
          type: string
          enum:
          - UserDefined
          - Standard
          - Attribution
          - ProductReturns
      xml:
        name: ComparisonCalculated
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeGroupInfoOptionDto:
      properties:
        reportCategoryId:
          type: integer
          format: int32
        dateRangeId:
          type: integer
          format: int32
        groupInfoOptionId:
          type: integer
          format: int32
      xml:
        name: VerboseCalculationDateRangeGroupInfoOptionDto
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationAttributionOptionDto:
      properties:
        id:
          type: integer
          format: int32
        calculationMethod:
          type: string
          enum:
          - BrinsonFachler
        technique:
          type: string
          enum:
          - Arithmetic
        linkingMethod:
          type: string
          enum:
          - Geometric
      xml:
        name: VerboseCalculationAttributionOptionDto
      type: object
    OAS.DataModel.Reporting.Calculate.ActivityDetailBase:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        isManaged:
          type: boolean
        flipSign:
          type: boolean
      xml:
        name: ActivityDetailBase
      type: object
    OAS.DataModel.Reporting.Calculate.PerformanceOption:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        calculationMethod:
          type: string
          enum:
          - TWR
          - Simple
          - IRR
        includeAccruedInterest:
          type: boolean
        calcGrossOfFees:
          type: boolean
        calcFirstDayPerformance:
          type: boolean
        calcIntraDayPerformance:
          type: boolean
        annualize:
          type: boolean
        annualizeIncludeDaysWithoutValue:
          type: boolean
        flipSignForShort:
          type: boolean
        suppressMixedRanges:
          type: boolean
        suppressMixedAssetLevelGroups:
          type: boolean
        includeAIPLedger:
          type: boolean
        calcAfterTax:
          type: boolean
        intradayCalculationMethod:
          type: string
          enum:
          - Standard
          - Enhanced
          - MarginEnhanced
      xml:
        name: PerformanceOption
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeAttributionOptionDto:
      properties:
        reportCategoryId:
          type: integer
          format: int32
        dateRangeId:
          type: integer
          format: int32
        attributionOptionId:
          type: integer
          format: int32
        performanceOptionId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationReturnStyleDto'
        returnType:
          type: string
          enum:
          - AggregatedValue
          - GroupingDetail
      xml:
        name: VerboseCalculationDateRangeAttributionOptionDto
      type: object
    OAS.DataModel.Reporting.Calculate.AttributionOption:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        calculationMethod:
          type: string
          enum:
          - BrinsonFachler
        technique:
          type: string
          enum:
          - Arithmetic
        linkingMethod:
          type: string
          enum:
          - Geometric
      xml:
        name: AttributionOption
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangePerformanceOptionDto:
      properties:
        reportCategoryId:
          type: integer
          format: int32
        dateRangeId:
          type: integer
          format: int32
        performanceOptionId:
          type: integer
          format: int32
        comparisonId:
          type: integer
          format: int32
        statisticalOptionId:
          type: integer
          format: int32
        returnType:
          type: string
          enum:
          - Aggregated
          - Breakdown
        returnStyle:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationReturnStyleDto'
      xml:
        name: VerboseCalculationDateRangePerformanceOptionDto
      type: object
    OAS.DataModel.Reporting.Calculate.GroupReportCategoryCalculated:
      properties:
        bucketId:
          type: integer
          format: int32
        reportCategoryId:
          type: integer
          format: int32
        groupInfo:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.DateRangeGroupInfoOptionCalculated'
          xml:
            name: DateRangeGroupInfoOptionCalculated
            wrapped: true
          type: array
        comparisonBenchmarks:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.DateRangeComparisonBenchmarkCalculated'
          xml:
            name: DateRangeComparisonBenchmarkCalculated
            wrapped: true
          type: array
        activityCalculations:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.DateRangeActivityOptionCalculated'
          xml:
            name: DateRangeActivityOptionCalculated
            wrapped: true
          type: array
        attributionCalculations:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.DateRangeAttributionOptionCalculated'
          xml:
            name: DateRangeAttributionOptionCalculated
            wrapped: true
          type: array
        billingCalculations:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.DateRangeBillingOptionCalculated'
          xml:
            name: DateRangeBillingOptionCalculated
            wrapped: true
          type: array
        costBasisCalculations:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.DateRangeCostBasisOptionCalculated'
          xml:
            name: DateRangeCostBasisOptionCalculated
            wrapped: true
          type: array
        incomeCalculations:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.DateRangeIncomeOptionCalculated'
          xml:
            name: DateRangeIncomeOptionCalculated
            wrapped: true
          type: array
        performanceCalculations:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.DateRangePerformanceOptionCalculated'
          xml:
            name: DateRangePerformanceOptionCalculated
            wrapped: true
          type: array
        tradingCalculations:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.DateRangeTradingOptionCalculated'
          xml:
            name: DateRangeTradingOptionCalculated
            wrapped: true
          type: array
      xml:
        name: GroupReportCategoryCalculated
      type: object
    OAS.DataModel.Reporting.Calculate.DateRangeAttributionOptionCalculated:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        dateRangeId:
          type: integer
          format: int32
        attributionOptionId:
          type: integer
          format: int32
        calculatedAttributionOptionId:
          type: integer
          format: int32
        performanceOptionId:
          type: integer
          format: int32
        calculatedPerformanceOptionId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.DataModel.Reporting.Interfaces.IReturnStyle'
        returnType:
          type: string
          enum:
          - AggregatedValue
          - GroupingDetail
        childGroupId:
          type: integer
          format: int32
        returns:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.Calculate.AttributionReturnCalculated'
          xml:
            name: AttributionReturnCalculated
            wrapped: true
          type: array
      xml:
        name: DateRangeAttributionOptionCalculated
      type: object
    OAS.DataModel.Reporting.Calculate.TradingOption:
      required:
      - $type
      properties:
        $type:
          readOnly: true
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        includeMoneyMarket:
          type: boolean
        includePendingTrades:
          type: boolean
      xml:
        name: TradingOption
      type: object
    OAS.WebApi.DTO.Reporting.VerboseCalculationDateRangeActivityOptionDto:
      properties:
        reportCategoryId:
          type: integer
          format: int32
        dateRangeId:
          type: integer
          format: int32
        activityOptionId:
          type: integer
          format: int32
        returnStyle:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.VerboseCalculationReturnStyleDto'
        returnType:
          type: string
          enum:
          - AggregatedValue
          - TransactionBreakdown
      xml:
        name: VerboseCalculationDateRangeActivityOptionDto
      type: object
    OAS.DataModel.Reporting.Calculate.ManagementOverride:
      properties:
        id:
          type: integer
          format: int32
        isManaged:
          type: boolean
      xml:
        name: ManagementOverride
      type: object
    OAS.DataModel.Reporting.Calculate.BucketCalculated:
      properties:
        id:
          type: integer
          format: int32
        inceptionDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        closeDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        managedInceptionDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        managedCloseDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        aipLedgerStartDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        assetCount:
          type: integer
          format: int32
      xml:
        name: BucketCalculated
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
