openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integration/Update Roles API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integration/UpdateRoles
paths:
  /v1/Integration/UpdateRoles:
    post:
      tags:
      - Integration/UpdateRoles
      summary: Updates the roles for a specified integration privilege
      operationId: Integration_UpdateRolesForPrivilegeAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto'
        description: A DTO containing the integration privilege and available/assigned roles.
        required: true
components:
  schemas:
    OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRoleDto:
      properties:
        alClientId:
          type: integer
          format: int32
        assignedProfileCount:
          type: integer
          format: int32
        associationExists:
          type: boolean
        availableAccessType:
          type: string
        deleteIsGranted:
          type: boolean
        editIsGranted:
          type: boolean
        enabled:
          type: boolean
        id:
          type: integer
          format: int32
        isDirty:
          type: boolean
        loginEntityId:
          type: string
        loginEntityDescription:
          type: string
        name:
          type: string
        readIsGranted:
          type: boolean
      xml:
        name: IntegrationPrivilegeRoleDto
      type: object
    OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRolesDto:
      properties:
        categoryId:
          type: integer
          format: int32
        categoryName:
          type: string
        code:
          type: string
        description:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        roles:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.IntegrationPrivilegeRoleDto'
          xml:
            name: IntegrationPrivilegeRoleDto
            wrapped: true
          type: array
        typeName:
          type: string
      xml:
        name: IntegrationPrivilegeRolesDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
