openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Audit Alert API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/AuditAlert
paths:
  /v1/Utility/AuditAlert:
    post:
      tags:
      - Utility/AuditAlert
      operationId: Utility_AuditAlertAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Utility.UtilityController.AuditFileImportFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Utility.UtilityController.AuditFileImportFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Utility.UtilityController.AuditFileImportFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Utility.UtilityController.AuditFileImportFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Utility.UtilityController.AuditFileImportFileDto'
        required: true
      summary: Utility audit alert async
      x-summary-source: derived
components:
  schemas:
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.WebApi.Domains.Utility.UtilityController.AuditFileImportFileDto:
      properties:
        userMessage:
          type: string
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
      xml:
        name: AuditFileImportFileDto
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
