openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Report Builder/Reports API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: ReportBuilder/Reports
paths:
  /v1/ReportBuilder/Reports:
    post:
      tags:
      - ReportBuilder/Reports
      summary: Used to create a new report builder report.
      operationId: Reports_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
        required: true
  /v1/ReportBuilder/Reports/{key}:
    get:
      tags:
      - ReportBuilder/Reports
      summary: Gets the full report builder report that has the provided key.
      operationId: Reports_GetFullReportByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
      security:
      - Authorization: []
    put:
      tags:
      - ReportBuilder/Reports
      summary: Used to update an existing report builder report.
      operationId: Reports_UpdateEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListFullDto'
        required: true
    delete:
      tags:
      - ReportBuilder/Reports
      summary: Used to delete an existing report builder report.
      operationId: Reports_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/ReportBuilder/Reports/Simple:
    get:
      tags:
      - ReportBuilder/Reports
      summary: Gets a simple list of report builder reports that the logged in user has access…
      operationId: Reports_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
                xml:
                  name: ReportListDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
                xml:
                  name: ReportListDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
                xml:
                  name: ReportListDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
                xml:
                  name: ReportListDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
                xml:
                  name: ReportListDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
                xml:
                  name: ReportListDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/ReportBuilder/Reports/Simple/{key}:
    get:
      tags:
      - ReportBuilder/Reports
      summary: Gets the simple report builder report that has the provided key.
      operationId: Reports_GetSimpleByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
      security:
      - Authorization: []
  /v1/ReportBuilder/Reports/Simple/Search:
    get:
      tags:
      - ReportBuilder/Reports
      summary: Gets the simple report builder report list that contains the search text in the…
      operationId: Reports_GetReportSimpleSearch
      parameters:
      - name: search
        in: query
        description: Search text to search the report name.
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: returns the top n number of records
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: skips the first n number of records
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/ReportBuilder/Reports/Simple/Search/{search}:
    get:
      tags:
      - ReportBuilder/Reports
      summary: Gets the simple report builder report list that contains the search text in the…
      operationId: Reports_GetV1ReportBuilderReportsSimpleSearchBySearch
      parameters:
      - name: search
        in: path
        description: Search text to search the report name.
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: returns the top n number of records
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: skips the first n number of records
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/ReportBuilder/Reports/Simple/Tree:
    get:
      tags:
      - ReportBuilder/Reports
      summary: Gets a simple tree of report builder reports that the logged in user has access…
      operationId: Reports_GetSimpleTree
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
                xml:
                  name: ReportListDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
                xml:
                  name: ReportListDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
                xml:
                  name: ReportListDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
                xml:
                  name: ReportListDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
                xml:
                  name: ReportListDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportListDto'
                xml:
                  name: ReportListDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/ReportBuilder/Reports/Templates:
    get:
      tags:
      - ReportBuilder/Reports
      operationId: Reports_GetTemplates
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                  enum:
                  - All
                  - Standard
                  - FooterImage
                  - Disclaimer
                  - WiderLogo
                  - HeaderSlim
                xml:
                  name: ReportBuilderTemplateType
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  type: string
                  enum:
                  - All
                  - Standard
                  - FooterImage
                  - Disclaimer
                  - WiderLogo
                  - HeaderSlim
                xml:
                  name: ReportBuilderTemplateType
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  type: string
                  enum:
                  - All
                  - Standard
                  - FooterImage
                  - Disclaimer
                  - WiderLogo
                  - HeaderSlim
                xml:
                  name: ReportBuilderTemplateType
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  type: string
                  enum:
                  - All
                  - Standard
                  - FooterImage
                  - Disclaimer
                  - WiderLogo
                  - HeaderSlim
                xml:
                  name: ReportBuilderTemplateType
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  type: string
                  enum:
                  - All
                  - Standard
                  - FooterImage
                  - Disclaimer
                  - WiderLogo
                  - HeaderSlim
                xml:
                  name: ReportBuilderTemplateType
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                  enum:
                  - All
                  - Standard
                  - FooterImage
                  - Disclaimer
                  - WiderLogo
                  - HeaderSlim
                xml:
                  name: ReportBuilderTemplateType
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Reports get templates
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.ReportAdministration.ReportSectionParameterDto:
      properties:
        id:
          type: integer
          format: int32
        displayName:
          type: string
        value:
          type: string
      xml:
        name: ReportSectionParameterDto
      type: object
    OAS.WebApi.DTO.ReportAdministration.ReportListFullDto:
      properties:
        id:
          type: integer
          format: int32
        reportName:
          type: string
        reportDescription:
          type: string
        isVersion:
          type: boolean
        versionDescription:
          type: string
        orientationType:
          type: string
          enum:
          - Portrait
          - Landscape
        layoutType:
          type: string
          enum:
          - Standard
          - Advanced
        zeroValuePages:
          type: boolean
        ownerEntity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        ownerEntityId:
          type: integer
          format: int32
        isCreatedByRep:
          type: boolean
        isQuarterlyStatement:
          type: boolean
        isCreatedByMe:
          type: boolean
        createdBy:
          type: string
        useIncludeOptionForInception:
          type: boolean
        webLevel:
          type: string
          enum:
          - None
          - Advisor
          - BrokerDealer
          - Wholesaler
          - Rep
          - Client
        optionGroupId:
          type: integer
          format: int32
        includeUserByDefault:
          type: boolean
        includeBlankPageAfterCover:
          type: boolean
        repUsers:
          items:
            type: integer
            format: int32
          type: array
        clientUsers:
          items:
            type: integer
            format: int32
          type: array
        repAssignments:
          items:
            type: integer
            format: int32
          type: array
        clientAssignments:
          items:
            type: integer
            format: int32
          type: array
        historicalAccounts:
          type: string
          enum:
          - None
          - CostBasis
          - Performance
        registrationSort:
          type: string
          enum:
          - None
          - RegistrationName
          - AccountType
        accountSort:
          type: string
          enum:
          - None
          - ValueAscending
          - ValueDescending
          - ManagementStyle
          - AccountNumber
        dateDefaults:
          additionalProperties:
            $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportOptionDateDto'
          type: object
        userDefaults:
          additionalProperties:
            type: string
          type: object
        reportDefaults:
          additionalProperties:
            type: string
          type: object
        coverPageId:
          type: integer
          format: int32
        reportBuilderThemeId:
          type: integer
          format: int32
        templateType:
          type: string
          enum:
          - All
          - Standard
          - FooterImage
          - Disclaimer
          - WiderLogo
          - HeaderSlim
        sections:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
          xml:
            name: ReportSectionDto
            wrapped: true
          type: array
        householdSections:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
          xml:
            name: ReportSectionDto
            wrapped: true
          type: array
        registrationSections:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
          xml:
            name: ReportSectionDto
            wrapped: true
          type: array
        accountSections:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
          xml:
            name: ReportSectionDto
            wrapped: true
          type: array
        disclaimerSections:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
          xml:
            name: ReportSectionDto
            wrapped: true
          type: array
      xml:
        name: ReportListFullDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.ReportAdministration.ReportOptionDateDto:
      properties:
        value:
          type: string
        sign:
          type: string
        modifier:
          type: integer
          format: int32
      xml:
        name: ReportOptionDateDto
      type: object
    OAS.WebApi.DTO.ReportAdministration.ReportListDto:
      properties:
        id:
          type: integer
          format: int32
        reportName:
          type: string
        reportDescription:
          type: string
        isVersion:
          type: boolean
        versionDescription:
          type: string
        orientationType:
          type: string
          enum:
          - Portrait
          - Landscape
        layoutType:
          type: string
          enum:
          - Standard
          - Advanced
        zeroValuePages:
          type: boolean
        ownerEntity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        ownerEntityId:
          type: integer
          format: int32
        isCreatedByRep:
          type: boolean
        isQuarterlyStatement:
          type: boolean
        isCreatedByMe:
          type: boolean
        createdBy:
          type: string
        useIncludeOptionForInception:
          type: boolean
        historicalAccounts:
          type: string
          enum:
          - None
          - CostBasis
          - Performance
        registrationSort:
          type: string
          enum:
          - None
          - RegistrationName
          - AccountType
        accountSort:
          type: string
          enum:
          - None
          - ValueAscending
          - ValueDescending
          - ManagementStyle
          - AccountNumber
        versions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportVersionDto'
          xml:
            name: ReportVersionDto
            wrapped: true
          type: array
        sections:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionDto'
          xml:
            name: ReportSectionDto
            wrapped: true
          type: array
      xml:
        name: ReportListDto
      type: object
    OAS.WebApi.DTO.ReportAdministration.ReportVersionDto:
      properties:
        id:
          type: integer
          format: int32
        reportDescription:
          type: string
        isVersion:
          type: boolean
        versionDescription:
          type: string
        orientationType:
          type: string
          enum:
          - Portrait
          - Landscape
        layoutType:
          type: string
          enum:
          - Standard
          - Advanced
        zeroValuePages:
          type: boolean
        ownerEntity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        ownerEntityId:
          type: integer
          format: int32
        isCreatedByRep:
          type: boolean
        isQuarterlyStatement:
          type: boolean
        isCreatedByMe:
          type: boolean
        createdBy:
          type: string
        useIncludeOptionForInception:
          type: boolean
        historicalAccounts:
          type: string
          enum:
          - None
          - CostBasis
          - Performance
        registrationSort:
          type: string
          enum:
          - None
          - RegistrationName
          - AccountType
        accountSort:
          type: string
          enum:
          - None
          - ValueAscending
          - ValueDescending
          - ManagementStyle
          - AccountNumber
      xml:
        name: ReportVersionDto
      type: object
    OAS.WebApi.DTO.ReportAdministration.ReportSectionDto:
      properties:
        id:
          type: integer
          format: int32
        displayName:
          type: string
        description:
          type: string
        width:
          type: string
          enum:
          - PortraitFull
          - LandscapeFull
          - LandscapeHalf
        templateType:
          type: string
          enum:
          - All
          - Standard
          - FooterImage
          - Disclaimer
          - WiderLogo
          - HeaderSlim
        parameters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.ReportAdministration.ReportSectionParameterDto'
          xml:
            name: ReportSectionParameterDto
            wrapped: true
          type: array
        createdDate:
          type: string
          format: date-time
      xml:
        name: ReportSectionDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
