openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Wealth Access API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/WealthAccess
paths:
  /v1/Integrations/WealthAccess/{clientId}/IFrame/Url:
    get:
      tags:
      - Integrations/WealthAccess
      operationId: WealthAccess_GetWealthAccessRedirectUrlAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Wealth access get wealth access redirect url async
      x-summary-source: derived
  /v1/Integrations/WealthAccess/Configuration:
    get:
      tags:
      - Integrations/WealthAccess
      operationId: WealthAccess_GetConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
      security:
      - Authorization: []
      summary: Wealth access get configuration
      x-summary-source: derived
    put:
      tags:
      - Integrations/WealthAccess
      operationId: WealthAccess_UpdateConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.WealthAccess.IntegrationConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.WealthAccess.IntegrationConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.WealthAccess.IntegrationConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.WealthAccess.IntegrationConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.WealthAccess.IntegrationConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.WealthAccess.IntegrationConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.WealthAccess.IntegrationConfig'
        required: true
      summary: Wealth access update configuration
      x-summary-source: derived
  /v1/Integrations/WealthAccess/Remove:
    post:
      tags:
      - Integrations/WealthAccess
      operationId: WealthAccess_RemoveServiceAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
      summary: Wealth access remove service async
      x-summary-source: derived
  /v1/Integrations/WealthAccess/Setup:
    post:
      tags:
      - Integrations/WealthAccess
      operationId: WealthAccess_SetupServiceAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
        required: true
      summary: Wealth access setup service async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Integrations.WealthAccess.IntegrationConfigDto:
      description: DTO representing data stored in the ExternalId property of a firm's AppLinksDetails record for WealthAccess integration.
      properties:
        installed:
          description: True if the integration is currently enabled for the firm, False otherwise.
          type: boolean
        externalUserId:
          description: The WealthAccess external user id.
          type: string
        partnerAppId:
          description: The unique ID of the partner app.
          type: integer
          format: int32
        productName:
          description: The unique name of the partner app product.
          type: string
      xml:
        name: IntegrationConfigDto
      type: object
    OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto:
      properties:
        key:
          type: integer
          format: int32
        productName:
          type: string
        termsAccepted:
          type: boolean
      xml:
        name: IntegrationSetupRequestDto
      type: object
    OAS.DataModel.Integration.WealthAccess.IntegrationConfig:
      properties:
        externalUserId:
          type: string
      xml:
        name: IntegrationConfig
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
