openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Salesforce API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Salesforce
paths:
  /v1/Integrations/Salesforce/OrionConnect/Action/CommunitySAML:
    get:
      tags:
      - Integrations/Salesforce
      summary: our Orion Support App SSO poorly named endpoint
      operationId: SalesforceOrionConnect_StartCommunitySSOAsync
      parameters:
      - name: householdId
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: ssoStartPage
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: logOutUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: relayState
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/Action/ElementSAML:
    get:
      tags:
      - Integrations/Salesforce
      summary: our support App SSO for Element
      operationId: SalesforceOrionConnect_StartCommunitySSOForElementAsync
      parameters:
      - name: householdId
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: ssoStartPage
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: logOutUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: relayState
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/Action/InvoiceSso:
    get:
      tags:
      - Integrations/Salesforce
      summary: SSO SF Orion Invoicing Experience
      operationId: SalesforceOrionConnect_StartInvoiceSsoAsync
      parameters:
      - name: ssoStartPage
        in: query
        description: Optional start page
        required: false
        schema:
          type: string
          default: ''
      - name: logOutUrl
        in: query
        description: Optional Logout
        required: false
        schema:
          type: string
          default: ''
      - name: relayState
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/Action/SAML:
    get:
      tags:
      - Integrations/Salesforce
      summary: Our Custom SSO to other org Salesforce
      operationId: SalesforceOrionConnect_StartSSOAsync
      parameters:
      - name: householdId
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/ChatContext:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_ChatContextForOrionSalesforceAsync
      parameters:
      - name: cleanResponse
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: state
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect chat context for orion salesforce async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/Compare:
    get:
      tags:
      - Integrations/Salesforce
      summary: Looks up a record in salesforce, and orion, and returns the values for that…
      operationId: SalesforceOrionConnect_CompareRecordAsync
      parameters:
      - name: entity
        in: query
        required: true
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      - name: entityId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: orgId
        in: query
        description: Optional.
        required: false
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordDto'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/Salesforce
      summary: Syncs Orion with the salesforce values
      operationId: SalesforceOrionConnect_UpdateCompareRecordAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordDto'
        description: The comparison object from the Get endpoint.
        required: true
  /v1/Integrations/Salesforce/OrionConnect/Config:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_GetConfigAsync
      parameters:
      - name: alClientId
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
      security:
      - Authorization: []
      summary: Salesforce orion connect get config async
      x-summary-source: derived
    put:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_PutV1IntegrationsSalesforceOrionConnectConfig
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
        required: true
      summary: Salesforce orion connect put V1 integrations salesforce orion connect config
      x-summary-source: derived
    post:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_UpdateConfigAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Salesforce.CustomCommunitiesSamlConfig'
        required: true
      summary: Salesforce orion connect update config async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/DataSync/Settings/{alClientId}/{repIds}:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_GetSyncAndFieldMappingSettingsAsync
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: repIds
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect get sync and field mapping settings async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/DeltaSync/{entity}/{key}:
    post:
      tags:
      - Integrations/Salesforce
      summary: Triggers delta sync
      operationId: SalesforceOrionConnect_DeltaSyncAsync
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/GetUpdatedUsersSync/{daysPriorToday}:
    get:
      tags:
      - Integrations/Salesforce
      summary: Gets users with updated details given `daysPriorToday` days prior to today
      operationId: SalesforceOrionConnect_GetUpdatedUsersDataAsync
      parameters:
      - name: daysPriorToday
        in: path
        description: Days prior to today. Default 1, Max 365
        required: true
        schema:
          type: integer
          format: int32
          default: 1
      - name: timeout
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 120
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      deprecated: true
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/GetUpdatedUsersSync/{editedDate}:
    get:
      tags:
      - Integrations/Salesforce
      summary: Gets users with details updated on the specified calendar date
      operationId: SalesforceOrionConnect_GetV1IntegrationsSalesforceOrionConnectGetUpdatedUsersSyncByEditedDate
      parameters:
      - name: editedDate
        in: path
        description: Date to retrieve (e.g. 2026-07-14). Must be between today and 365 days ago, inclusive.
        required: true
        schema:
          type: string
          format: date-time
      - name: timeout
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 120
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/ImplementationSummary:
    get:
      tags:
      - Integrations/Salesforce
      summary: Calls to salesforce to pull back implementation information to feed the…
      operationId: SalesforceOrionConnect_GetImplementationSummaryAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      deprecated: true
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/Namespace:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_GetNamespaceAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect get namespace async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/PassThrough/{path}:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_PassGetToSalesforceAsync
      parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
      - name: cleanResponse
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect pass get to salesforce async
      x-summary-source: derived
    post:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_PassPostToSalesforceAsync
      parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
      - name: cleanResponse
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect pass post to salesforce async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/Projects:
    get:
      tags:
      - Integrations/Salesforce
      summary: Calls to salesforce to pull back implementation information to feed the…
      operationId: SalesforceOrionConnect_GetOrionProjectsAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Salesforce.OrionConnect.ProjectItemsDto'
                xml:
                  name: ProjectItemsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Salesforce.OrionConnect.ProjectItemsDto'
                xml:
                  name: ProjectItemsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Salesforce.OrionConnect.ProjectItemsDto'
                xml:
                  name: ProjectItemsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Salesforce.OrionConnect.ProjectItemsDto'
                xml:
                  name: ProjectItemsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Salesforce.OrionConnect.ProjectItemsDto'
                xml:
                  name: ProjectItemsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Salesforce.OrionConnect.ProjectItemsDto'
                xml:
                  name: ProjectItemsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/Projects/{projectId}:
    get:
      tags:
      - Integrations/Salesforce
      summary: Calls to salesforce to pull back implementation information to feed the…
      operationId: SalesforceOrionConnect_GetProjectSummaryAsync
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/Redirect:
    post:
      tags:
      - Integrations/Salesforce
      summary: Return redirect url
      operationId: SalesforceOrionConnect_SaleForceRedirectAsync
      parameters:
      - name: p
        in: query
        required: true
        schema:
          type: string
      - name: m
        in: query
        required: true
        schema:
          type: string
      - name: dbId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/SetIdentity:
    post:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SetIdentityAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesforceSetIdentityDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesforceSetIdentityDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesforceSetIdentityDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesforceSetIdentityDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesforceSetIdentityDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesforceSetIdentityDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Code.Integrations.SalesforceSetIdentityDto'
        required: true
      summary: Salesforce orion connect set identity async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SetupIntegration:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SetupIntegrationByAlClientIdAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect setup integration by al client id async
      x-summary-source: derived
    post:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SetupIntegrationPostAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
        required: true
      summary: Salesforce orion connect setup integration post async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SetupIntegration/{id}:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SetupIntegrationGetAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect setup integration get async
      x-summary-source: derived
    put:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SetupIntegrationPatchAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceUser'
        required: true
      summary: Salesforce orion connect setup integration patch async
      x-summary-source: derived
    delete:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SetupIntegrationDeleteAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect setup integration delete async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SetupIntegration/OrgId/{orgId}:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SetupIntegrationGetWithOrgIdAsync
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect setup integration get with org id async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SocialAPI/Cases:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SocialAPI_Cases_GetListAsync
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
          default: waitingonorion
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect social API cases get list async
      x-summary-source: derived
    post:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SocialAPI_Cases_CreateAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect social API cases create async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SocialAPI/Cases/{caseNumber}:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SocialAPI_Cases_GetAsync
      parameters:
      - name: caseNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect social API cases get async
      x-summary-source: derived
    delete:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SocialAPI_Cases_DeleteAsync
      parameters:
      - name: caseNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect social API cases delete async
      x-summary-source: derived
    patch:
      tags:
      - Integrations/Salesforce
      summary: updates case objects to salesforce tied to the specified case number
      operationId: SalesforceOrionConnect_SocialAPI_Cases_PatchAsync
      parameters:
      - name: caseNumber
        in: path
        description: Salesforce Case ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/SocialAPI/Cases/{caseNumber}/Attachments:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SocialAPI_Cases_GetAttachmentAsync
      parameters:
      - name: caseNumber
        in: path
        required: true
        schema:
          type: string
      - name: fileName
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect social API cases get attachment async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SocialAPI/Cases/{caseNumber}/Attachments/{fileName}:
    post:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SocialAPI_Cases_AttachFileAsync
      parameters:
      - name: caseNumber
        in: path
        required: true
        schema:
          type: string
      - name: fileName
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect social API cases attach file async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SocialAPI/Cases/{caseNumber}/Messages:
    get:
      tags:
      - Integrations/Salesforce
      summary: Gets message objects back from salesforce tied to the specified case number
      operationId: SalesforceOrionConnect_SocialAPI_Cases_GetMessagesAsync
      parameters:
      - name: caseNumber
        in: path
        description: Salesforce Case ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SocialAPI_Cases_CreateMessageAsync
      parameters:
      - name: caseNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect social API cases create message async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SocialAPI/Cases/Export:
    post:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SocialAPI_Cases_ExportAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/xml:
            schema:
              items:
                type: string
              type: array
          text/xml:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        required: true
      summary: Salesforce orion connect social API cases export async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SocialAPI/Cases/Picklists:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SocialAPI_Cases_GetPicklistsAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect social API cases get picklists async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SocialAPI/Cases/Search:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SocialAPI_Cases_SearchAsync
      parameters:
      - name: DateFrom
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: DateTo
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: Limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: MaxDesc
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 255
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect social API cases search async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SocialAPI/Contact/{email}:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SocialAPI_Contact_GetAsync
      parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect social API contact get async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SocialAPI/Contacts:
    get:
      tags:
      - Integrations/Salesforce
      summary: Gets authorized contacts with access to Orion Support back from salesforce tied…
      operationId: SalesforceOrionConnect_SocialAPI_Contact_GetAuthorizedContactsAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/SocialAPI/Projects:
    get:
      tags:
      - Integrations/Salesforce
      summary: Get a list of projects for the current advisornumber
      operationId: SalesforceOrionConnect_SocialAPI_Projects_GetAsync
      parameters:
      - name: startDate
        in: query
        description: Projects created on or after this date.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Projects created on or before this date.
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/SocialAPI/Projects/{projectId}/Attachments/{fileName}:
    post:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_SocialAPI_Projects_AttachFileAsync
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: fileName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect social API projects attach file async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SSOSessionId:
    get:
      tags:
      - Integrations/Salesforce
      summary: Logs user into salesforce to the specified page
      operationId: SalesforceOrionConnect_SSOSessionIdAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/Sync:
    post:
      tags:
      - Integrations/Salesforce
      summary: Triggers full sync
      operationId: SalesforceOrionConnect_SyncAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/SyncFromOrion/{alClientId}/{firmOrgId}:
    get:
      tags:
      - Integrations/Salesforce
      summary: Triggers a sync job in Hangfire, passing parameters in the URI instead of a…
      operationId: SalesforceOrionConnect_RunSyncJobAsync
      parameters:
      - name: alClientId
        in: path
        description: The Orion Firm ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: firmOrgId
        in: path
        description: The Salesforce Org ID.
        required: true
        schema:
          type: string
      - name: syncType
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: repIds
        in: query
        required: false
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/SyncFromOrion/TestRep:
    get:
      tags:
      - Integrations/Salesforce
      operationId: SalesforceOrionConnect_TestRepAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Salesforce orion connect test rep async
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SyncHistory:
    get:
      tags:
      - Integrations/Salesforce
      summary: Returns recent Salesforce sync history within the specified date range.
      operationId: SalesforceOrionConnect_GetSyncHistoryAsync
      parameters:
      - name: startDate
        in: query
        description: Start of the time period for which sync history is returned (required)
        required: true
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        description: Number of records to return (required, max 10000)
        required: true
        schema:
          type: integer
          format: int32
      - name: endDate
        in: query
        description: End of the time period for which sync history is returned (optional, defaults to current time)
        required: false
        schema:
          type: string
          format: date-time
      - name: skip
        in: query
        description: Number of records to skip for pagination (default 0)
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: syncType
        in: query
        description: Optional sync type filter (0=all, 1=Full, etc.)
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: includeObjects
        in: query
        description: Whether to include child objects in the response (default false for better performance)
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        description: Cancellation token
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/SyncJobState/{jobId}:
    get:
      tags:
      - Integrations/Salesforce
      summary: Gets the {Hangfire.Storage.StateData} of the Hangfire job matching the provided…
      operationId: SalesforceOrionConnect_GetJobStateData
      parameters:
      - name: jobId
        in: path
        description: The ID of the Hangfire job to check.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Hangfire.Storage.StateData'
            application/json:
              schema:
                $ref: '#/components/schemas/Hangfire.Storage.StateData'
            text/json:
              schema:
                $ref: '#/components/schemas/Hangfire.Storage.StateData'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/Hangfire.Storage.StateData'
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/SyncJobStatus/{jobId}:
    get:
      tags:
      - Integrations/Salesforce
      summary: Salesforce orion connect get sync job status
      operationId: SalesforceOrionConnect_GetSyncJobStatus
      parameters:
      - name: jobId
        in: path
        description: The Hangfire Job ID of the Salesforce sync.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.Salesforce.SyncJobStatus'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.Salesforce.SyncJobStatus'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.Salesforce.SyncJobStatus'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.Salesforce.SyncJobStatus'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.Salesforce.SyncJobStatus'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.DTO.Integration.Salesforce.SyncJobStatus'
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Integrations/Salesforce/OrionConnect/SyncPerformance:
    get:
      tags:
      - Integrations/Salesforce
      summary: Returns performance metrics for full syncs within the specified timeframe.
      operationId: SalesforceOrionConnect_GetSyncPerformanceAsync
      parameters:
      - name: fromDate
        in: query
        description: Optional specific start date
        required: false
        schema:
          type: string
          format: date-time
      - name: daysBack
        in: query
        description: Optional number of days to look back (default 30, max 365)
        required: false
        schema:
          type: integer
          format: int32
      - name: syncType
        in: query
        description: Sync type (default 1=Full sync)
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: groupBy
        in: query
        description: 'Optional grouping period: Day (0), Week (1), Month (2), or Year (3). If null, no period grouping is applied.'
        required: false
        schema:
          type: string
          enum:
          - Day
          - Week
          - Month
          - Year
      - name: lastNumberOfSync
        in: query
        description: Optional number of most recent syncs to analyze. If null, uses all syncs in date range.
        required: false
        schema:
          type: integer
          format: int32
      - name: typeOfPerformance
        in: query
        description: 'Performance calculation type: Average (0, default) or Max (1)'
        required: false
        schema:
          type: string
          enum:
          - Average
          - Max
          default: 0
      - name: ct
        in: header
        description: Cancellation token
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/SyncStatus:
    get:
      tags:
      - Integrations/Salesforce
      summary: Returns the most recent Salesforce sync entry with child objects.
      operationId: SalesforceOrionConnect_GetSyncStatusAsync
      parameters:
      - name: syncType
        in: query
        description: Optional sync type filter (0=all, 1=Full, etc.)
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: ct
        in: header
        description: Cancellation token
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/Salesforce/OrionConnect/TestChatter:
    get:
      tags:
      - Integrations/Salesforce
      summary: Calls to salesforce to pull back implementation information to feed the…
      operationId: SalesforceOrionConnect_TestChatterAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  schemas:
    OAS.Salesforce.OrionConnect.ProjectItemsDto:
      properties:
        id:
          type: string
        name:
          type: string
        recordType:
          type: string
      xml:
        name: ProjectItemsDto
      type: object
    OAS.DataProcess.DTO.Integration.Salesforce.SyncJobStatus:
      properties:
        jobId:
          type: string
        jobStatus:
          type: string
        jobStateReason:
          type: string
      xml:
        name: SyncJobStatus
      type: object
    OAS.DataModel.Integration.OrionConnect.SalesforceUser:
      required:
      - id
      - alClientId
      - dataSyncType
      - ssisPackageID
      - runSync
      properties:
        id:
          type: integer
          format: int32
        orgId:
          type: string
          maxLength: 18
          minLength: 0
        userName:
          type: string
          maxLength: 100
          minLength: 0
        password:
          type: string
          maxLength: 100
          minLength: 0
        alClientId:
          type: integer
          format: int32
        namespace:
          type: string
          maxLength: 50
          minLength: 0
        lastDataRefresh:
          type: string
          format: date-time
        audit:
          $ref: '#/components/schemas/OAT.DataModel.ComplexTypes.BasicAuditNotNullNotNull'
        redtailApiKey:
          type: string
          maxLength: 50
          minLength: 0
        retailSecretKey:
          type: string
          maxLength: 100
          minLength: 0
        redtailUrlRegex:
          type: string
          maxLength: 100
          minLength: 0
        redtailDatabaseId:
          type: integer
          format: int32
        dataSyncType:
          type: integer
          format: int32
        token:
          type: string
          maxLength: 50
          minLength: 0
        salesforceMappingId:
          type: integer
          format: int32
        serviceURL:
          type: string
          maxLength: 100
          minLength: 0
        ssisPackageID:
          type: integer
          format: int32
        versionNumber:
          type: string
          maxLength: 8
          minLength: 0
        runSync:
          type: integer
          format: int32
        repId:
          type: integer
          format: int32
        mapping:
          $ref: '#/components/schemas/OAS.DataModel.Integration.OrionConnect.SalesforceMapping'
      xml:
        name: SalesforceUser
      type: object
    OAS.Integrations.Salesforce.CompareRecordFieldDto:
      properties:
        name:
          type: string
        orionValue:
          type: string
        salesforceValue:
          type: string
        isChanged:
          readOnly: true
          type: boolean
      xml:
        name: CompareRecordFieldDto
      type: object
    OAS.Integrations.Salesforce.CompareRecordDto:
      properties:
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityDescription:
          type: string
        orgId:
          type: string
        salesforceRecordId:
          type: string
        salesforceEditBy:
          type: string
        salesforceEditDate:
          type: string
          format: date-time
        orionEditBy:
          type: string
        orionEditDate:
          type: string
          format: date-time
        isChanged:
          readOnly: true
          type: boolean
        fields:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Salesforce.CompareRecordFieldDto'
          xml:
            name: CompareRecordFieldDto
            wrapped: true
          type: array
      xml:
        name: CompareRecordDto
      type: object
    OAT.DataModel.ComplexTypes.BasicAuditNotNullNotNull:
      properties:
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 100
          minLength: 0
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
          maxLength: 100
          minLength: 0
      xml:
        name: BasicAuditNotNullNotNull
      type: object
    OAS.DataModel.Integration.OrionConnect.SalesforceMapping:
      required:
      - id
      - name
      - mappingXML
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          maxLength: 50
          minLength: 0
        mappingXML:
          type: string
      xml:
        name: SalesforceMapping
      type: object
    OAS.WebApi.Code.Integrations.SalesforceSetIdentityDto:
      properties:
        auth_domain:
          type: string
        access_token:
          type: string
      xml:
        name: SalesforceSetIdentityDto
      type: object
    OAS.Salesforce.CustomCommunitiesSamlConfig:
      properties:
        alclientid:
          type: string
        urL_BASE:
          type: string
        issuer:
          type: string
        cerT_PATH:
          type: string
        cerT_PASS:
          type: string
        audience:
          type: string
        recipienT_URL:
          type: string
        relaystate:
          type: string
        destination:
          type: string
      xml:
        name: CustomCommunitiesSamlConfig
      type: object
    Hangfire.Storage.StateData:
      properties:
        name:
          type: string
        reason:
          type: string
        data:
          additionalProperties:
            type: string
          type: object
      xml:
        name: StateData
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
