openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Validate Import API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/ValidateImport
paths:
  /v1/Portfolio/ValidateImport/Clients:
    post:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportClients_ImportInviteClients
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
                xml:
                  name: SimpleClient
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Portfolio validate import clients import invite clients
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/FinancialPlanningFee:
    post:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportFinancialPlanningFee_ImportClientFPFAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateClientFPFDto'
                xml:
                  name: ValidateClientFPFDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateClientFPFDto'
                xml:
                  name: ValidateClientFPFDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateClientFPFDto'
                xml:
                  name: ValidateClientFPFDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateClientFPFDto'
                xml:
                  name: ValidateClientFPFDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateClientFPFDto'
                xml:
                  name: ValidateClientFPFDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateClientFPFDto'
                xml:
                  name: ValidateClientFPFDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Portfolio validate import financial planning fee import client FPF async
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/FinancialPlanningFee/List:
    post:
      tags:
      - Portfolio/ValidateImport
      summary: Used to create a new composite accounts.
      operationId: PortfolioValidateImportFinancialPlanningFee_CreateListAsync
      parameters:
      - name: cancelToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.ClientFPF'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.ClientFPF'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.ClientFPF'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.ClientFPF'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.ClientFPF'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.ClientFPF'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.ClientFPF'
              xml:
                name: ClientFPF
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.ClientFPF'
              xml:
                name: ClientFPF
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.ClientFPF'
              xml:
                name: ClientFPF
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.ClientFPF'
              xml:
                name: ClientFPF
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.ClientFPF'
              xml:
                name: ClientFPF
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.ClientFPF'
              xml:
                name: ClientFPF
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Portfolio.ClientFPF'
              xml:
                name: ClientFPF
                wrapped: true
              type: array
        required: true
  /v1/Portfolio/ValidateImport/FinancialPlanningFee/Templates/Csv:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportFinancialPlanningFee_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import financial planning fee get csv template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/FinancialPlanningFee/Templates/Xls:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportFinancialPlanningFee_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import financial planning fee get xls template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/FinancialPlanningFee/Templates/Xlsx:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportFinancialPlanningFee_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import financial planning fee get xlsx template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/HypotheticalMonthlyPerformance:
    post:
      tags:
      - Portfolio/ValidateImport
      summary: Portfolio validate import hypothetical monthly performance value post as…
      operationId: PortfolioValidateImportHypotheticalMonthlyPerformanceValue_PostAsMultipartStreamAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.InvestmentObjectiveVerboseDto'
                xml:
                  name: InvestmentObjectiveVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/HypotheticalMonthlyPerformance/Templates/Csv:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportHypotheticalMonthlyPerformanceValue_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import hypothetical monthly performance value get csv…
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/HypotheticalMonthlyPerformance/Templates/Xls:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportHypotheticalMonthlyPerformanceValue_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import hypothetical monthly performance value get xls…
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/HypotheticalMonthlyPerformance/Templates/Xlsx:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportHypotheticalMonthlyPerformanceValue_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import hypothetical monthly performance value get xlsx…
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/MasterClientListWizard:
    get:
      tags:
      - Portfolio/ValidateImport
      summary: Get all Mcl Wizard Setps Items
      operationId: PortfolioValidateImportMasterClientListWizard_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardInstanceDto'
                xml:
                  name: MclWizardInstanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardInstanceDto'
                xml:
                  name: MclWizardInstanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardInstanceDto'
                xml:
                  name: MclWizardInstanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardInstanceDto'
                xml:
                  name: MclWizardInstanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardInstanceDto'
                xml:
                  name: MclWizardInstanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardInstanceDto'
                xml:
                  name: MclWizardInstanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/ValidateImport
      summary: Takes an xlsx, xls, or csv file as multipart content.
      operationId: PortfolioValidateImportMasterClientListWizard_MCLWIzardValidationAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MasterClientListInitialDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MasterClientListInitialDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MasterClientListInitialDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MasterClientListInitialDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MasterClientListInitialDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MasterClientListInitialDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MasterClientListValidatorDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MasterClientListValidatorDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MasterClientListValidatorDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MasterClientListValidatorDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MasterClientListValidatorDto'
        required: true
  /v1/Portfolio/ValidateImport/MasterClientListWizard/{key}:
    get:
      tags:
      - Portfolio/ValidateImport
      summary: Gets the Mcl Wizard Instance Item that has the provided key.
      operationId: PortfolioValidateImportMasterClientListWizard_GetEntityByKeyAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardInstanceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardInstanceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardInstanceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardInstanceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardInstanceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardInstanceDto'
      security:
      - Authorization: []
    delete:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportMasterClientListWizard_DeleteAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Portfolio validate import master client list wizard delete async
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/MasterClientListWizard/{key}/Commit:
    post:
      tags:
      - Portfolio/ValidateImport
      summary: Commit the Mcl Wizard Instance data for provided key
      operationId: PortfolioValidateImportMasterClientListWizard_CommitMclWizardInstanceAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
  /v1/Portfolio/ValidateImport/MasterClientListWizard/{key}/Custodian:
    get:
      tags:
      - Portfolio/ValidateImport
      summary: Gets the Custodian errors within Mcl Wizard Instance key provided.
      operationId: PortfolioValidateImportMasterClientListWizard_GetCustodianCorrectionAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key is the Instance Id of the import that is be checked.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/ValidateImport/MasterClientListWizard/{key}/EntityUpdate:
    post:
      tags:
      - Portfolio/ValidateImport
      summary: Update the Mcl Wizard RepId, RegistrationTypeId, CustodianId, or FundFamilyId…
      operationId: PortfolioValidateImportMasterClientListWizard_UpdateGeneralErrorsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
              xml:
                name: MclWizardGeneralErrorDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
              xml:
                name: MclWizardGeneralErrorDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
              xml:
                name: MclWizardGeneralErrorDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
              xml:
                name: MclWizardGeneralErrorDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
              xml:
                name: MclWizardGeneralErrorDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
              xml:
                name: MclWizardGeneralErrorDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
              xml:
                name: MclWizardGeneralErrorDto
                wrapped: true
              type: array
        required: true
  /v1/Portfolio/ValidateImport/MasterClientListWizard/{key}/Export:
    get:
      tags:
      - Portfolio/ValidateImport
      summary: Gets an xlsx file representation of the composite report
      operationId: PortfolioValidateImportMasterClientListWizard_MakeXlsxFileAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/ValidateImport/MasterClientListWizard/{key}/FundFamily:
    get:
      tags:
      - Portfolio/ValidateImport
      summary: Gets the Fund Family errors within Mcl Wizard Instance key provided .
      operationId: PortfolioValidateImportMasterClientListWizard_GetFundFamilyCorrectionAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key is the Instance Id of the import that is be checked.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/ValidateImport/MasterClientListWizard/{key}/Household:
    get:
      tags:
      - Portfolio/ValidateImport
      summary: Gets the Mcl Wizard Household Items that that need correction for the provided…
      operationId: PortfolioValidateImportMasterClientListWizard_GetHouseholdCorrectionAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
                xml:
                  name: MclWizardGroupErrorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
                xml:
                  name: MclWizardGroupErrorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
                xml:
                  name: MclWizardGroupErrorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
                xml:
                  name: MclWizardGroupErrorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
                xml:
                  name: MclWizardGroupErrorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
                xml:
                  name: MclWizardGroupErrorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/ValidateImport
      summary: Update the Mcl Wizard Household Items for provided key
      operationId: PortfolioValidateImportMasterClientListWizard_UpdateHouseholdItemsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
                xml:
                  name: MclWizardGroupErrorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
                xml:
                  name: MclWizardGroupErrorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
                xml:
                  name: MclWizardGroupErrorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
                xml:
                  name: MclWizardGroupErrorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
                xml:
                  name: MclWizardGroupErrorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
                xml:
                  name: MclWizardGroupErrorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
              xml:
                name: MclWizardGroupErrorDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
              xml:
                name: MclWizardGroupErrorDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
              xml:
                name: MclWizardGroupErrorDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
              xml:
                name: MclWizardGroupErrorDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
              xml:
                name: MclWizardGroupErrorDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
              xml:
                name: MclWizardGroupErrorDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGroupErrorDto'
              xml:
                name: MclWizardGroupErrorDto
                wrapped: true
              type: array
        required: true
  /v1/Portfolio/ValidateImport/MasterClientListWizard/{key}/Registration:
    get:
      tags:
      - Portfolio/ValidateImport
      summary: Gets the Registration errors within Mcl Wizard Instance key provided .
      operationId: PortfolioValidateImportMasterClientListWizard_GetRegistrationCorrectionAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key is the Instance Id of the import that is be checked.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
                xml:
                  name: MclWizardValueErrorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
                xml:
                  name: MclWizardValueErrorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
                xml:
                  name: MclWizardValueErrorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
                xml:
                  name: MclWizardValueErrorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
                xml:
                  name: MclWizardValueErrorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
                xml:
                  name: MclWizardValueErrorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/ValidateImport
      summary: Update the Mcl Wizard Registration data for provided key
      operationId: PortfolioValidateImportMasterClientListWizard_UpdateValueErrorsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
                xml:
                  name: MclWizardValueErrorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
                xml:
                  name: MclWizardValueErrorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
                xml:
                  name: MclWizardValueErrorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
                xml:
                  name: MclWizardValueErrorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
                xml:
                  name: MclWizardValueErrorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
                xml:
                  name: MclWizardValueErrorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
              xml:
                name: MclWizardValueErrorDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
              xml:
                name: MclWizardValueErrorDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
              xml:
                name: MclWizardValueErrorDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
              xml:
                name: MclWizardValueErrorDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
              xml:
                name: MclWizardValueErrorDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
              xml:
                name: MclWizardValueErrorDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardValueErrorDto'
              xml:
                name: MclWizardValueErrorDto
                wrapped: true
              type: array
        required: true
  /v1/Portfolio/ValidateImport/MasterClientListWizard/{key}/RegistrationType:
    get:
      tags:
      - Portfolio/ValidateImport
      summary: Gets the Registration Type errors within Mcl Wizard Instance key provided.
      operationId: PortfolioValidateImportMasterClientListWizard_GetRegistrationTypeCorrectionAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key is the Instance Id of the import that is be checked.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/ValidateImport/MasterClientListWizard/{key}/Representative:
    get:
      tags:
      - Portfolio/ValidateImport
      summary: Gets the Representative errors within Mcl Wizard Instance key provided.
      operationId: PortfolioValidateImportMasterClientListWizard_GetRepCorrectionAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key is the Instance Id of the import that is be checked.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.MclWizardGeneralErrorDto'
                xml:
                  name: MclWizardGeneralErrorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/ValidateImport/MasterClientListWizard/{key}/Summary:
    get:
      tags:
      - Portfolio/ValidateImport
      summary: Gets the Summary within Mcl Wizard Instance key provided .
      operationId: PortfolioValidateImportMasterClientListWizard_GetSummaryAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key is the Instance Id of the import that is be checked.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidateImportMCLWizardSummaryDto'
                xml:
                  name: ValidateImportMCLWizardSummaryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidateImportMCLWizardSummaryDto'
                xml:
                  name: ValidateImportMCLWizardSummaryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidateImportMCLWizardSummaryDto'
                xml:
                  name: ValidateImportMCLWizardSummaryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidateImportMCLWizardSummaryDto'
                xml:
                  name: ValidateImportMCLWizardSummaryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidateImportMCLWizardSummaryDto'
                xml:
                  name: ValidateImportMCLWizardSummaryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidateImportMCLWizardSummaryDto'
                xml:
                  name: ValidateImportMCLWizardSummaryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/ValidateImport/MergeAccounts:
    post:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportMergeAccounts_ImportRelatedHouseholdsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountMergeValidationDto'
                xml:
                  name: AccountMergeValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountMergeValidationDto'
                xml:
                  name: AccountMergeValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountMergeValidationDto'
                xml:
                  name: AccountMergeValidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountMergeValidationDto'
                xml:
                  name: AccountMergeValidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountMergeValidationDto'
                xml:
                  name: AccountMergeValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountMergeValidationDto'
                xml:
                  name: AccountMergeValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Portfolio validate import merge accounts import related households async
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/MergeAccounts/Templates/Csv:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportMergeAccounts_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import merge accounts get csv template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/MergeAccounts/Templates/Xls:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportMergeAccounts_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import merge accounts get xls template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/MergeAccounts/Templates/Xlsx:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportMergeAccounts_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import merge accounts get xlsx template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/NewPortfolio:
    post:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportAccounts_ImportAccountsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewAccountValidationDto'
                xml:
                  name: NewAccountValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewAccountValidationDto'
                xml:
                  name: NewAccountValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewAccountValidationDto'
                xml:
                  name: NewAccountValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewAccountValidationDto'
                xml:
                  name: NewAccountValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Portfolio validate import accounts import accounts async
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/NewPortfolio/Process:
    post:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportAccounts_ProcessAccountsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewAccountValidationDto'
                xml:
                  name: NewAccountValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewAccountValidationDto'
                xml:
                  name: NewAccountValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewAccountValidationDto'
                xml:
                  name: NewAccountValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewAccountValidationDto'
                xml:
                  name: NewAccountValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewAccountValidationDto'
              xml:
                name: NewAccountValidationDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewAccountValidationDto'
              xml:
                name: NewAccountValidationDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewAccountValidationDto'
              xml:
                name: NewAccountValidationDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewAccountValidationDto'
              xml:
                name: NewAccountValidationDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NewAccountValidationDto'
              xml:
                name: NewAccountValidationDto
                wrapped: true
              type: array
        required: true
      summary: Portfolio validate import accounts process accounts async
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/Participant:
    post:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportParticipants_ImportParticipantsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: planId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidatePortfolioParticipantDto'
                xml:
                  name: ValidatePortfolioParticipantDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidatePortfolioParticipantDto'
                xml:
                  name: ValidatePortfolioParticipantDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidatePortfolioParticipantDto'
                xml:
                  name: ValidatePortfolioParticipantDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidatePortfolioParticipantDto'
                xml:
                  name: ValidatePortfolioParticipantDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidatePortfolioParticipantDto'
                xml:
                  name: ValidatePortfolioParticipantDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidatePortfolioParticipantDto'
                xml:
                  name: ValidatePortfolioParticipantDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Portfolio validate import participants import participants async
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/Participant/Templates/Csv:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportParticipants_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import participants get csv template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/Participant/Templates/Xls:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportParticipants_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import participants get xls template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/Participant/Templates/Xlsx:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportParticipants_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import participants get xlsx template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductCategoryWeighted:
    post:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductCategoryWeighted_ImportProductCategoryWeightedAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedValidationDto'
                xml:
                  name: ProductCategoryWeightedValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedValidationDto'
                xml:
                  name: ProductCategoryWeightedValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedValidationDto'
                xml:
                  name: ProductCategoryWeightedValidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedValidationDto'
                xml:
                  name: ProductCategoryWeightedValidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedValidationDto'
                xml:
                  name: ProductCategoryWeightedValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedValidationDto'
                xml:
                  name: ProductCategoryWeightedValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Portfolio validate import product category weighted import product category…
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductCategoryWeighted/Import:
    put:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductCategoryWeighted_ImportProductCategoryWeighted
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedDto'
                xml:
                  name: ProductCategoryWeightedDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedDto'
                xml:
                  name: ProductCategoryWeightedDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedDto'
                xml:
                  name: ProductCategoryWeightedDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedDto'
                xml:
                  name: ProductCategoryWeightedDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedDto'
                xml:
                  name: ProductCategoryWeightedDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedDto'
                xml:
                  name: ProductCategoryWeightedDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedValidationDto'
              xml:
                name: ProductCategoryWeightedValidationDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedValidationDto'
              xml:
                name: ProductCategoryWeightedValidationDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedValidationDto'
              xml:
                name: ProductCategoryWeightedValidationDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedValidationDto'
              xml:
                name: ProductCategoryWeightedValidationDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedValidationDto'
              xml:
                name: ProductCategoryWeightedValidationDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedValidationDto'
              xml:
                name: ProductCategoryWeightedValidationDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductCategoryWeightedValidationDto'
              xml:
                name: ProductCategoryWeightedValidationDto
                wrapped: true
              type: array
        required: true
      summary: Portfolio validate import product category weighted import product category…
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductCategoryWeighted/Templates/Csv:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductCategoryWeighted_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import product category weighted get csv template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductCategoryWeighted/Templates/Xls:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductCategoryWeighted_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import product category weighted get xls template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductCategoryWeighted/Templates/Xlsx:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductCategoryWeighted_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import product category weighted get xlsx template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductClassWeighted:
    post:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductClassWeighted_ImportProductClassWeightedAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedValidationDto'
                xml:
                  name: ProductClassWeightedValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedValidationDto'
                xml:
                  name: ProductClassWeightedValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedValidationDto'
                xml:
                  name: ProductClassWeightedValidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedValidationDto'
                xml:
                  name: ProductClassWeightedValidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedValidationDto'
                xml:
                  name: ProductClassWeightedValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedValidationDto'
                xml:
                  name: ProductClassWeightedValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Portfolio validate import product class weighted import product class weighted…
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductClassWeighted/Import:
    put:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductClassWeighted_ImportProductClassWeighted
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedDto'
                xml:
                  name: ProductClassWeightedDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedValidationDto'
              xml:
                name: ProductClassWeightedValidationDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedValidationDto'
              xml:
                name: ProductClassWeightedValidationDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedValidationDto'
              xml:
                name: ProductClassWeightedValidationDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedValidationDto'
              xml:
                name: ProductClassWeightedValidationDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedValidationDto'
              xml:
                name: ProductClassWeightedValidationDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedValidationDto'
              xml:
                name: ProductClassWeightedValidationDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductClassWeightedValidationDto'
              xml:
                name: ProductClassWeightedValidationDto
                wrapped: true
              type: array
        required: true
      summary: Portfolio validate import product class weighted import product class weighted
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductClassWeighted/Templates/Csv:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductClassWeighted_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import product class weighted get csv template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductClassWeighted/Templates/Xls:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductClassWeighted_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import product class weighted get xls template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductClassWeighted/Templates/Xlsx:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductClassWeighted_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import product class weighted get xlsx template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductsPricesLocal:
    post:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductsPricesLocal_ImportRelatedHouseholdsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductsPricesLocalValidationDto'
                xml:
                  name: ProductsPricesLocalValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductsPricesLocalValidationDto'
                xml:
                  name: ProductsPricesLocalValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductsPricesLocalValidationDto'
                xml:
                  name: ProductsPricesLocalValidationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductsPricesLocalValidationDto'
                xml:
                  name: ProductsPricesLocalValidationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductsPricesLocalValidationDto'
                xml:
                  name: ProductsPricesLocalValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductsPricesLocalValidationDto'
                xml:
                  name: ProductsPricesLocalValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
      summary: Portfolio validate import products prices local import related households async
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductsPricesLocal/Templates/Csv:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductsPricesLocal_GetCsvTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import products prices local get csv template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductsPricesLocal/Templates/Xls:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductsPricesLocal_GetXlsTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import products prices local get xls template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/ProductsPricesLocal/Templates/Xlsx:
    get:
      tags:
      - Portfolio/ValidateImport
      operationId: PortfolioValidateImportProductsPricesLocal_GetXlsxTemplate
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Portfolio validate import products prices local get xlsx template
      x-summary-source: derived
  /v1/Portfolio/ValidateImport/RMDUpdate:
    post:
      tags:
      - Portfolio/ValidateImport
      summary: Takes an xlsx, xls, or csv file as multipart content.
      operationId: PortfolioValidateImportRmdUpdate_RmdUpdateValidationAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidatePortfolioRmdUpdateDto'
                xml:
                  name: ValidatePortfolioRmdUpdateDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ValidateImport.ValidatePortfolioRmdUpdateDto'
                xml:
                  name: ValidatePortfolioRmdUpdateDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
[...]
