openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Money Guide Pro API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/MoneyGuidePro
paths:
  /v1/Integrations/MoneyGuidePro/Configuration:
    get:
      tags:
      - Integrations/MoneyGuidePro
      summary: Retrieves MoneyGuidePro Integration details
      operationId: MoneyGuidePro_GetConfigurationAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/MoneyGuidePro
      summary: Saves MoneyGuidePro integration settings
      operationId: MoneyGuidePro_UpdateConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
        required: true
  /v1/Integrations/MoneyGuidePro/Configuration/Client:
    get:
      tags:
      - Integrations/MoneyGuidePro
      summary: Retrieves MoneyGuidePro Integration details
      operationId: MoneyGuidePro_GetClientConfigurationAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/MoneyGuidePro
      summary: Saves MoneyGuidePro Client-level integration settings
      operationId: MoneyGuidePro_PutV1IntegrationsMoneyGuideProConfigurationClient
      parameters:
      - name: userDetailId
        in: query
        description: The User Detail ID of the {OAS.DataModel.Portfolio.Client} user whose configuration is to be updated.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
        description: A {OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig} object with the values to store for the {OAS.DataModel.Portfolio.Client}.
        required: true
    post:
      tags:
      - Integrations/MoneyGuidePro
      summary: Saves MoneyGuidePro Client-level integration settings
      operationId: MoneyGuidePro_UpdateClientConfigurationAsync
      parameters:
      - name: userDetailId
        in: query
        description: The User Detail ID of the {OAS.DataModel.Portfolio.Client} user whose configuration is to be updated.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig'
        description: A {OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig} object with the values to store for the {OAS.DataModel.Portfolio.Client}.
        required: true
  /v1/Integrations/MoneyGuidePro/Household/{clientId}:
    get:
      tags:
      - Integrations/MoneyGuidePro
      summary: Get the household data for the specified client ID, and return it as an…
      operationId: MoneyGuidePro_GetPortfolioDataAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellation
        in: header
        required: false
      - name: useAltRepQuery
        in: query
        description: 'Optional. Default: <code>null</code>. Use alternate process for Rep level api calls. Otherwise, checks SplitIO for setting.'
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.DTO.MGPHouseholdInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.DTO.MGPHouseholdInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.DTO.MGPHouseholdInfo'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.DTO.MGPHouseholdInfo'
      security:
      - Authorization: []
  /v1/Integrations/MoneyGuidePro/InsurancePolicies/Client/{clientId}:
    get:
      tags:
      - Integrations/MoneyGuidePro
      summary: Used to download the MoneyGuidePro Insurance Policies
      operationId: MoneyGuidePro_DownloadInsurancePoliciesAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: forceRefresh
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.InsurancePoliciesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.InsurancePoliciesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.InsurancePoliciesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.InsurancePoliciesResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.InsurancePoliciesResponse'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.InsurancePoliciesResponse'
      security:
      - Authorization: []
  /v1/Integrations/MoneyGuidePro/MonteCarloMeter/Client/{clientId}:
    get:
      tags:
      - Integrations/MoneyGuidePro
      summary: Used to download the MoneyGuidePro Monte Carlo Dial
      operationId: MoneyGuidePro_DownloadMonteCarloImageAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: forceRefresh
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: includeImage
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: imageWidth
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 150
      - name: imageHeight
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 75
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.MonteCarloMeterResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.MonteCarloMeterResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.MonteCarloMeterResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.MonteCarloMeterResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.MonteCarloMeterResponse'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.MonteCarloMeterResponse'
      security:
      - Authorization: []
  /v1/Integrations/MoneyGuidePro/Networth/Client/{clientId}:
    get:
      tags:
      - Integrations/MoneyGuidePro
      summary: Used to download the MoneyGuidePro Networth
      operationId: MoneyGuidePro_DownloadNetworthAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: forceRefresh
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.NetworthResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.NetworthResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.NetworthResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.NetworthResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.NetworthResponse'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.NetworthResponse'
      security:
      - Authorization: []
  /v1/Integrations/MoneyGuidePro/PlanSummary/Client/{clientId}:
    get:
      tags:
      - Integrations/MoneyGuidePro
      summary: Used to download the MoneyGuidePro Plan Summary
      operationId: MoneyGuidePro_DownloadPlanSummaryAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: forceRefresh
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: includeImage
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: imageWidth
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 150
      - name: imageHeight
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 75
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.MPGPlanSummary'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.MPGPlanSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.MPGPlanSummary'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.MPGPlanSummary'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.MPGPlanSummary'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.MPGPlanSummary'
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/MoneyGuidePro
      operationId: MoneyGuidePro_PostV1IntegrationsMoneyGuideProPlanSummaryClientByClientId
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.MPGPlanSummary'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.MPGPlanSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.MPGPlanSummary'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.MPGPlanSummary'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.MPGPlanSummary'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.MPGPlanSummary'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResponse'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResponse'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResponse'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResponse'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResponse'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResponse'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResponse'
        required: true
      summary: Money guide pro post V1 integrations money guide pro plan summary client by…
      x-summary-source: derived
  /v1/Integrations/MoneyGuidePro/Remove:
    post:
      tags:
      - Integrations/MoneyGuidePro
      summary: Sets up MoneyGuidePro integration for the current user
      description: The user must have the necessary privileges to setup the integration.
      operationId: MoneyGuidePro_RemoveServiceAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Integrations/MoneyGuidePro/Settings:
    get:
      tags:
      - Integrations/MoneyGuidePro
      operationId: MoneyGuidePro_GetSettingsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
      security:
      - Authorization: []
      summary: Money guide pro get settings async
      x-summary-source: derived
    put:
      tags:
      - Integrations/MoneyGuidePro
      operationId: MoneyGuidePro_UpdateSettingsAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto'
        required: true
      summary: Money guide pro update settings async
      x-summary-source: derived
  /v1/Integrations/MoneyGuidePro/Setup:
    post:
      tags:
      - Integrations/MoneyGuidePro
      summary: Sets up MoneyGuidePro integration for the current user
      description: The user must have the necessary privileges to setup the integration.
      operationId: MoneyGuidePro_SetupServiceAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.IntegrationConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
        description: An object containing the parameters to set up the service.
        required: true
  /v1/Integrations/MoneyGuidePro/SSO/AccessPlan/{clientId}:
    get:
      tags:
      - Integrations/MoneyGuidePro
      operationId: MoneyGuidePro_AccessPlanSAMLAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Money guide pro access plan SAML async
      x-summary-source: derived
  /v1/Integrations/MoneyGuidePro/SSO/Client/{clientId}:
    get:
      tags:
      - Integrations/MoneyGuidePro
      operationId: MoneyGuidePro_SsoAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Money guide pro sso async
      x-summary-source: derived
components:
  schemas:
    OAS.Integrations.MoneyGuidePro.DTO.MGPParticipantInfo:
      properties:
        participantType:
          type: integer
          format: int32
        firstName:
          type: string
        middleName:
          type: string
        lastName:
          type: string
        dob:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        city:
          type: string
        state:
          type: string
        zipCode:
          type: string
        phone:
          type: string
        fax:
          type: string
        email:
          type: string
        employmentStatus:
          type: string
        sex:
          type: integer
          format: int32
        employmentIncome:
          type: number
          format: double
        cMgrKey:
          type: string
        participantID:
          type: integer
          format: int32
        maritalStatus:
          type: string
      xml:
        name: MGPParticipantInfo
      type: object
    OAS.DataModel.Integration.MoneyGuidePro.MPGPlanSummary:
      properties:
        categories:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.Category'
          xml:
            name: Category
            wrapped: true
          type: array
        refreshPositionsResponse:
          $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.Refreshpositionsresponse'
        results:
          $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.Results'
        asOfDate:
          type: string
          format: date-time
      xml:
        name: MPGPlanSummary
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.MonteCarloMeterResponse:
      properties:
        highlightHtmlColor:
          type: string
        image:
          type: string
          format: byte
        imageExtension:
          type: string
        isLegacyImage:
          type: boolean
        probabilityOfSuccess:
          type: string
        refreshPositionsResponse:
          $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.RefreshPositionsResponse'
        targetRangeHigh:
          type: string
        targetRangeLow:
          type: string
        targetText:
          type: string
      xml:
        name: MonteCarloMeterResponse
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResultCalculation:
      properties:
        description:
          type: string
        probabilityOfSuccess:
          type: string
        safetyMarginCurrent:
          type: string
        safetyMarginFuture:
          type: string
      xml:
        name: PlanSummaryResultCalculation
      type: object
    OAS.Integrations.MoneyGuidePro.DTO.MGPAssetInfo:
      properties:
        cmgrAssetKey:
          readOnly: true
          type: string
        accountNumber:
          type: string
        type:
          type: string
        jointOwner:
          type: string
        insured:
          type: string
        deathBenefit:
          type: string
        ticker:
          type: string
        hasDetail:
          type: string
        currentValue:
          type: number
          format: double
        costBasis:
          type: string
        owner:
          type: integer
          format: int32
        interface:
          type: integer
          format: int32
        interfaceType:
          type: integer
          format: int32
        description:
          type: string
        integrationDescription:
          type: string
        assetKey:
          readOnly: true
          type: string
        holdings:
          items:
            $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.DTO.MGPHoldingInfo'
          xml:
            name: MGPHoldingInfo
            wrapped: true
          type: array
        registrationName:
          type: string
      xml:
        name: MGPAssetInfo
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryTopic:
      properties:
        items:
          items:
            $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryItem'
          xml:
            name: PlanSummaryItem
            wrapped: true
          type: array
        changes:
          type: string
        current:
          type: string
        description:
          type: string
        recommended:
          type: string
      xml:
        name: PlanSummaryTopic
      type: object
    OAS.WebApi.DTO.Integrations.MoneyGuidePro.MoneyGuideProSettingsDto:
      properties:
        institutionId:
          type: integer
          format: int32
        userName:
          type: string
        password:
          type: string
      xml:
        name: MoneyGuideProSettingsDto
      type: object
    OAS.Integrations.MoneyGuidePro.DTO.MGPHouseholdInfo:
      properties:
        interface:
          type: integer
          format: int32
        integrationKey:
          type: string
        integrationUserId:
          type: string
        advisor:
          $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.DTO.MGPAdvisorInfo'
        participants:
          items:
            $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.DTO.MGPParticipantInfo'
          xml:
            name: MGPParticipantInfo
            wrapped: true
          type: array
        assets:
          items:
            $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.DTO.MGPAssetInfo'
          xml:
            name: MGPAssetInfo
            wrapped: true
          type: array
      xml:
        name: MGPHouseholdInfo
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResponse:
      properties:
        categories:
          items:
            $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryCategory'
          xml:
            name: PlanSummaryCategory
            wrapped: true
          type: array
        refreshPositionsResponse:
          $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.RefreshPositionsResponse'
        results:
          $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResults'
      xml:
        name: PlanSummaryResponse
      type: object
    OAS.DataModel.Integration.MoneyGuidePro.Montecarlometer:
      properties:
        highlightHtmlColor:
          type: string
        image:
          type: string
          format: byte
        imageExtension:
          type: string
        isLegacyImage:
          type: boolean
        probabilityOfSuccess:
          type: string
        refreshPositionsResponse:
          type: object
        targetRangeHigh:
          type: string
        targetRangeLow:
          type: string
        targetText:
          type: string
      xml:
        name: Montecarlometer
      type: object
    OAS.DataModel.Integration.MoneyGuidePro.Category:
      properties:
        description:
          type: string
        header:
          $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.Header'
        topics:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.Topic'
          xml:
            name: Topic
            wrapped: true
          type: array
      xml:
        name: Category
      type: object
    OAS.DataModel.Integration.MoneyGuidePro.Header:
      properties:
        changes:
          type: string
        current:
          type: string
        description:
          type: string
        recommended:
          type: string
      xml:
        name: Header
      type: object
    OAS.DataModel.Integration.MoneyGuidePro.Current:
      properties:
        calculations:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.Calculation'
          xml:
            name: Calculation
            wrapped: true
          type: array
        monteCarloMeter:
          $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.Montecarlometer'
      xml:
        name: Current
      type: object
    OAS.DataModel.Integration.MoneyGuidePro.Item:
      properties:
        details:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.Detail'
          xml:
            name: Detail
            wrapped: true
          type: array
        changes:
          type: string
        current:
          type: string
        description:
          type: string
        recommended:
          type: string
      xml:
        name: Item
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryDetail:
      properties:
        changes:
          type: string
        current:
          type: string
        description:
          type: string
        recommended:
          type: string
      xml:
        name: PlanSummaryDetail
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.NetworthCategory:
      properties:
        name:
          type: string
        totalValue:
          type: number
          format: double
      xml:
        name: NetworthCategory
      type: object
    OAS.Integrations.MoneyGuidePro.DTO.MGPAdvisorInfo:
      properties:
        admin:
          type: string
        firstName:
          type: string
        middleName:
          type: string
        lastName:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        city:
          type: string
        state:
          type: string
        zipCode:
          type: string
        phone:
          type: string
        email:
          type: string
        email2:
          type: string
        cMgrAdvisorKey:
          type: string
        securityToken:
          type: string
        instId:
          type: string
      xml:
        name: MGPAdvisorInfo
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.NetworthGroup:
      properties:
        categories:
          items:
            $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.NetworthCategory'
          xml:
            name: NetworthCategory
            wrapped: true
          type: array
        name:
          type: string
        totalValue:
          type: number
          format: double
      xml:
        name: NetworthGroup
      type: object
    OAS.DataModel.Integration.MoneyGuidePro.Topic:
      properties:
        items:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.Item'
          xml:
            name: Item
            wrapped: true
          type: array
        changes:
          type: string
        current:
          type: string
        description:
          type: string
        recommended:
          type: string
      xml:
        name: Topic
      type: object
    OAS.DataModel.Integration.MoneyGuidePro.Recommended:
      properties:
        calculations:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.Calculation'
          xml:
            name: Calculation
            wrapped: true
          type: array
        monteCarloMeter:
          $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.Montecarlometer'
      xml:
        name: Recommended
      type: object
    OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto:
      properties:
        key:
          type: integer
          format: int32
        productName:
          type: string
        termsAccepted:
          type: boolean
      xml:
        name: IntegrationSetupRequestDto
      type: object
    OAS.DataModel.Integration.MoneyGuidePro.Refreshpositionsresponse:
      properties:
        messages:
          type: object
        status:
          type: string
      xml:
        name: Refreshpositionsresponse
      type: object
    OAS.DataModel.Integration.MoneyGuidePro.Detail:
      properties:
        changes:
          type: string
        current:
          type: string
        description:
          type: string
        recommended:
          type: string
      xml:
        name: Detail
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.InsurancePolicy:
      properties:
        annualPremium:
          type: number
          format: double
        beneficiaries:
          items:
            $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.InsurancePolicyBeneficiary'
          xml:
            name: InsurancePolicyBeneficiary
            wrapped: true
          type: array
        cashValue:
          type: number
          format: double
        deathBenefit:
          type: number
          format: double
        insuredName:
          type: string
        isAsset:
          type: boolean
        name:
          type: string
        ownerName:
          type: string
        premiumPaid:
          type: string
        typeName:
          type: string
      xml:
        name: InsurancePolicy
      type: object
    OAS.DataModel.Integration.MoneyGuidePro.Results:
      properties:
        current:
          $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.Current'
        monteCarloTargetRangeHigh:
          type: string
        monteCarloTargetRangeLow:
          type: string
        recommended:
          $ref: '#/components/schemas/OAS.DataModel.Integration.MoneyGuidePro.Recommended'
      xml:
        name: Results
      type: object
    OAS.Integrations.MoneyGuidePro.DTO.MGPAssetClassInfo:
      properties:
        id:
          readOnly: true
          type: string
        description:
          type: string
        percent:
          type: integer
          format: int32
        assetClassAbbreviation:
          type: string
        useAssetClassAbbreviation:
          type: boolean
      xml:
        name: MGPAssetClassInfo
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResultsScenario:
      properties:
        calculations:
          items:
            $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResultCalculation'
          xml:
            name: PlanSummaryResultCalculation
            wrapped: true
          type: array
        monteCarloMeter:
          $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.MonteCarloMeterResponse'
      xml:
        name: PlanSummaryResultsScenario
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.InsurancePoliciesResponse:
      properties:
        policies:
          items:
            $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.InsurancePolicy'
          xml:
            name: InsurancePolicy
            wrapped: true
          type: array
      xml:
        name: InsurancePoliciesResponse
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryCategory:
      properties:
        description:
          type: string
        header:
          $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryCategoryHeader'
        topics:
          items:
            $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryTopic'
          xml:
            name: PlanSummaryTopic
            wrapped: true
          type: array
      xml:
        name: PlanSummaryCategory
      type: object
    OAS.Integrations.MoneyGuidePro.DTO.MGPHoldingInfo:
      properties:
        cmgrAssetKey:
          readOnly: true
          type: string
        type:
          type: string
        description:
          type: string
        ticker:
          type: string
        cusip:
          type: string
        costBasis:
          type: number
          format: double
        currentValue:
          type: number
          format: double
        assetKey:
          type: string
        assetClasses:
          items:
            $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.DTO.MGPAssetClassInfo'
          xml:
            name: MGPAssetClassInfo
            wrapped: true
          type: array
      xml:
        name: MGPHoldingInfo
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.RefreshPositionsResponse:
      properties:
        messages:
          items:
            type: string
          type: array
        status:
          type: string
          enum:
          - Success
          - Failure
          - NotFound
          - Error
      xml:
        name: RefreshPositionsResponse
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryCategoryHeader:
      properties:
        changes:
          type: string
        current:
          type: string
        description:
          type: string
        recommended:
          type: string
      xml:
        name: PlanSummaryCategoryHeader
      type: object
    OAS.DataModel.Integration.MoneyGuidePro.Calculation:
      properties:
        description:
          type: string
        probabilityOfSuccess:
          type: string
        safetyMarginCurrent:
          type: object
        safetyMarginFuture:
          type: string
      xml:
        name: Calculation
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.InsurancePolicyBeneficiary:
      properties:
        name:
          type: string
        percent:
          type: number
          format: double
      xml:
        name: InsurancePolicyBeneficiary
      type: object
    OAS.Integrations.MoneyGuidePro.ClientIntegrationConfig:
      properties:
        enabled:
          type: boolean
      xml:
        name: ClientIntegrationConfig
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResults:
      properties:
        current:
          $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResultsScenario'
        monteCarloTargetRangeHigh:
          type: string
        monteCarloTargetRangeLow:
          type: string
        recommended:
          $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryResultsScenario'
      xml:
        name: PlanSummaryResults
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.NetworthResponse:
      properties:
        investmentAssets:
          $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.NetworthGroup'
        liabilities:
          $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.NetworthGroup'
        networth:
          type: number
          format: double
        otherAssets:
          $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.NetworthGroup'
        refreshPositionsResponse:
          $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.RefreshPositionsResponse'
        totalAssets:
          type: number
          format: double
      xml:
        name: NetworthResponse
      type: object
    OAS.Integrations.MoneyGuidePro.IntegrationConfig:
      properties:
        userId:
          type: string
        password:
          type: string
      xml:
        name: IntegrationConfig
      type: object
    OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryItem:
      properties:
        details:
          items:
            $ref: '#/components/schemas/OAS.Integrations.MoneyGuidePro.ExternalServices.MGP.PlanSummaryDetail'
          xml:
            name: PlanSummaryDetail
            wrapped: true
          type: array
        changes:
          type: string
        current:
          type: string
        description:
          type: string
        recommended:
          type: string
      xml:
        name: PlanSummaryItem
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
