openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Bill Product Group API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/BillProductGroup
paths:
  /v1/Billing/BillProductGroup:
    get:
      tags:
      - Billing/BillProductGroup
      summary: Returns a list of Bill Product Groups
      description: 'Sample Request

        GET /Billing/BillProductGroup'
      operationId: BillProductGroup_ListAsync
      parameters:
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
                xml:
                  name: BillProductGroupDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
                xml:
                  name: BillProductGroupDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
                xml:
                  name: BillProductGroupDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
                xml:
                  name: BillProductGroupDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Billing/BillProductGroup
      summary: Create a new Bill Product Group
      description: 'Sample Request

        POST /Billing/BillProductGroup'
      operationId: BillProductGroup_CreateAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
        required: true
  /v1/Billing/BillProductGroup/{key}:
    get:
      tags:
      - Billing/BillProductGroup
      summary: Fetch a Bill Product Group by key
      description: 'Sample Request

        GET /Billing/BillProductGroup/1'
      operationId: BillProductGroup_DetailAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
      security:
      - Authorization: []
    put:
      tags:
      - Billing/BillProductGroup
      summary: Updates a new Bill Product Group
      description: 'Sample Request

        PUT /Billing/BillProductGroup/1'
      operationId: BillProductGroup_UpdateAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDto'
        required: true
    delete:
      tags:
      - Billing/BillProductGroup
      summary: Delete a Bill Product Group by key
      description: 'Sample Request

        DELETE /Billing/BillProductGroup/1'
      operationId: BillProductGroup_DeleteAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Billing/BillProductGroup/{key}/Grid:
    get:
      tags:
      - Billing/BillProductGroup
      summary: Returns Bill Product Groups Details by Bill Product Group ID for a grid
      description: 'Sample Request

        GET /Billing/BillProductGroup/:id/Grid'
      operationId: BillProductGroup_GridDetailAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDetailDto'
                xml:
                  name: BillProductGroupDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDetailDto'
                xml:
                  name: BillProductGroupDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDetailDto'
                xml:
                  name: BillProductGroupDetailDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDetailDto'
                xml:
                  name: BillProductGroupDetailDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDetailDto'
                xml:
                  name: BillProductGroupDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDetailDto'
                xml:
                  name: BillProductGroupDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/BillProductGroup/Grid:
    get:
      tags:
      - Billing/BillProductGroup
      summary: Returns a list of Bill Product Groups Details for a grid
      description: 'Sample Request

        GET /Billing/BillProductGroup'
      operationId: BillProductGroup_GridListAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDetailDto'
                xml:
                  name: BillProductGroupDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDetailDto'
                xml:
                  name: BillProductGroupDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDetailDto'
                xml:
                  name: BillProductGroupDetailDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDetailDto'
                xml:
                  name: BillProductGroupDetailDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDetailDto'
                xml:
                  name: BillProductGroupDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDetailDto'
                xml:
                  name: BillProductGroupDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Billing.BillProductGroupDetailDto:
      properties:
        billProductGroupId:
          type: integer
          format: int32
        groupName:
          type: string
        productId:
          type: integer
          format: int32
        productName:
          type: string
        ticker:
          type: string
      xml:
        name: BillProductGroupDetailDto
      type: object
    OAS.WebApi.DTO.Billing.BillProductGroupDto:
      properties:
        id:
          type: integer
          format: int32
        groupName:
          type: string
        billProductGroupDetails:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillProductGroupDetailDto'
          xml:
            name: BillProductGroupDetailDto
            wrapped: true
          type: array
      xml:
        name: BillProductGroupDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
