openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Groupings API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/Groupings
paths:
  /v1/Utility/Groupings:
    get:
      tags:
      - Utility/Groupings
      operationId: GroupingViews_Get
      parameters:
      - name: entity
        in: query
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      - name: usedFor
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - Trading
          - Reporting
          - RepProfileAssignment
          - Compass
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DynamicGroupingDto'
                xml:
                  name: DynamicGroupingDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DynamicGroupingDto'
                xml:
                  name: DynamicGroupingDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DynamicGroupingDto'
                xml:
                  name: DynamicGroupingDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DynamicGroupingDto'
                xml:
                  name: DynamicGroupingDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DynamicGroupingDto'
                xml:
                  name: DynamicGroupingDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DynamicGroupingDto'
                xml:
                  name: DynamicGroupingDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Grouping views get
      x-summary-source: derived
  /v1/Utility/Groupings/{key}:
    get:
      tags:
      - Utility/Groupings
      operationId: GroupingViews_GetByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: doRefresh
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: searchTerm
        in: query
        required: false
        schema:
          type: string
      - name: fillNames
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DynamicGroupingFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DynamicGroupingFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DynamicGroupingFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DynamicGroupingFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DynamicGroupingFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.DynamicGroupingFullDto'
      security:
      - Authorization: []
      summary: Grouping views get by key async
      x-summary-source: derived
  /v1/Utility/Groupings/AccessPerson:
    get:
      tags:
      - Utility/Groupings
      summary: Returns list of representative for grouping view
      operationId: GroupingViews_AccessPersonView
      parameters:
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      - name: templateId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformAccessPersonDto'
                xml:
                  name: InformAccessPersonDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformAccessPersonDto'
                xml:
                  name: InformAccessPersonDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformAccessPersonDto'
                xml:
                  name: InformAccessPersonDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformAccessPersonDto'
                xml:
                  name: InformAccessPersonDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformAccessPersonDto'
                xml:
                  name: InformAccessPersonDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Compliance.InformAccessPersonDto'
                xml:
                  name: InformAccessPersonDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Utility/Groupings/Accounts:
    get:
      tags:
      - Utility/Groupings
      summary: Returns list of account for grouping view
      operationId: GroupingViews_AccountView
      parameters:
      - name: manipulator
        in: header
        required: true
      - name: cancellationToken
        in: header
        required: true
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: usedFor
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - Trading
          - Reporting
          - RepProfileAssignment
          - Compass
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewAccountDto'
                xml:
                  name: GroupingViewAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewAccountDto'
                xml:
                  name: GroupingViewAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewAccountDto'
                xml:
                  name: GroupingViewAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewAccountDto'
                xml:
                  name: GroupingViewAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Utility/Groupings
      summary: Returns list of account for grouping view
      operationId: GroupingViews_PostV1UtilityGroupingsAccounts
      parameters:
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: usedFor
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - Trading
          - Reporting
          - RepProfileAssignment
          - Compass
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewAccountDto'
                xml:
                  name: GroupingViewAccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewAccountDto'
                xml:
                  name: GroupingViewAccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewAccountDto'
                xml:
                  name: GroupingViewAccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewAccountDto'
                xml:
                  name: GroupingViewAccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Utility/Groupings/Action/Refresh:
    put:
      tags:
      - Utility/Groupings
      operationId: GroupingViews_ActionRefreshAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Grouping views action refresh async
      x-summary-source: derived
  /v1/Utility/Groupings/Clients:
    get:
      tags:
      - Utility/Groupings
      summary: Returns list of clients for grouping view
      operationId: GroupingViews_ClientView
      parameters:
      - name: manipulator
        in: header
        required: true
      - name: cancellationToken
        in: header
        required: true
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewClientDto'
                xml:
                  name: GroupingViewClientDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewClientDto'
                xml:
                  name: GroupingViewClientDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewClientDto'
                xml:
                  name: GroupingViewClientDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewClientDto'
                xml:
                  name: GroupingViewClientDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Utility/Groupings
      summary: Returns list of clients for grouping view
      operationId: GroupingViews_PostV1UtilityGroupingsClients
      parameters:
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewClientDto'
                xml:
                  name: GroupingViewClientDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewClientDto'
                xml:
                  name: GroupingViewClientDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewClientDto'
                xml:
                  name: GroupingViewClientDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewClientDto'
                xml:
                  name: GroupingViewClientDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Utility/Groupings/Entities:
    get:
      tags:
      - Utility/Groupings
      summary: Returns a list of entities that have dynamic groups associated to them
      operationId: GroupingViews_GetTypes
      parameters:
      - name: usedFor
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - Trading
          - Reporting
          - RepProfileAssignment
          - Compass
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                  enum:
                  - Undefined
                  - Payee
                  - BrokerDealer
                  - Wholesaler
                  - Representative
                  - Client
                  - Registration
                  - Account
                  - Asset
                  - Product
                  - Transaction
                  - Distribution
                  - FundFamily
                  - Personal
                  - PayoutSchedule
                  - FeeSchedule
                  - Platform
                  - RIA
                  - Custodian
                  - Journal
                  - SWP
                  - Other
                  - NASD
                  - CashFunding
                  - Bill
                  - BillInstance
                  - BillMasterPayout
                  - Model
                  - NewAccountClient
                  - NewAccountReg
                  - DownloadExclusion
                  - Price
                  - UserDefinedFields
                  - NewAcctUserDef
                  - ManagersMessage
                  - IndexEntry
                  - PerformanceFee
                  - PerformancePayout
                  - NewAccountAsset
                  - Owner
                  - Administrator
                  - OutsideClient
                  - SubAdvisor
                  - ModelRange
                  - FaxCover
                  - Fax
                  - OneTimeDistribution
                  - WebLogin
                  - Plan401k
                  - BillAccountItem
                  - ThirdPartyAdministrator
                  - CrmContact
                  - Participant
                  - PlanSponsor
                  - CRMEmailList
                  - ThirdParty
                  - WorkflowItem
                  - WorkflowAction
                  - ServiceAccount
                  - EntityOption
                  - HouseholdMember
                  - DownloadSymbol
                  - IndexBlend
                  - NABenefit
                  - AggregateModel
                  - CompositeRange
                  - RepAccountManager
                  - ScriptsScrubs
                  - ServiceAccountBrokerDealer
                  - BusinessLine
                  - Blob
                  - AssetClass
                  - ServiceAccountLite
                  - NewAcctUserDefDtl
                  - Branch
                  - AssetLevelStrategy
                  - Report
                  - DataQueries
                  - PriceUnUsed
                  - ModelItem
                  - AssetCategory
                  - RiskCategory
                  - PlatformRange
                  - Dividend
                  - RegistrationType
                  - CustodianCommon
                  - RepState
                  - QpeDashboard
                  - ReportBatch
                  - ModelGroup
                  - ShareClass
                  - DownloadFile
                  - User
                  - DynamicGrouping
                  - ProductType
                  - ProductSubType
                  - InvestmentObjective
                  - PortfolioGroup
                  - OrionRealizedLot
                  - OrionUnrealizedLot
                  - CustodianRealizedLot
                  - CustodianUnrealizedLot
                  - AssetCategoryParent
                  - TaxType
                  - AuditRequest
                  - AuditRequestLetter
                  - ManagedUnmanaged
                  - AuditRowAttachment
                  - InformPolicy
                  - InformAnswerAttachment
                  - UserDetail
                  - BillPayMethod
                  - ModelInclusion
                  - CommunityModel
                  - EclipseModel
                  - Global
                  - ClientCategory
                  - Taxability
                  - Qualified
                  - TaxID
                  - BondState
                  - ProductTaxability
                  - TargetAllocation
                  - RIATable
                  - ProductRegion
                  - ProductPropertyType
                  - ProductManagerAip
                  - MoodyRating
                  - SPRating
                  - BondMaturityYear
                  - InterestRate
                  - RegistrationTaxType
                  - MaturityPeriod
                  - NewHousehold
                  - BillPayoutDashboardPayment
                  - OptionLevel
                  - MarginAgreement
                  - PrimeBrokerage
                  - InformHistoricalDocument
                  - SleeveStrategyAggregate
                  - MorningstarSector
                  - BillEntity
                  - SleeveStrategy
                  - MorningstarGeography
                  - GenericProspect
                  - BillEntityType
                  - AdditionalRep
                  - BillPayoutReport
                  - ProductSubHolding
                  - DownloadSource
                  - ModelVsActual
                  - ProductVintageYear
                  - EclipsePortfolio
                  - Country
                  - Currency
                  - SecurityClassification1
                  - SecurityClassification2
                  - SecurityClassification3
                  - SecurityClassification4
                  - SecurityClassification5
                  - SecurityClassification6
                  - SecurityClassification7
                  - SecurityClassification8
                  - SecurityClassification9
                  - SecurityClassification10
                  - SecurityClassification11
                  - SecurityClassification12
                  - SecurityClassification13
                  - SecurityClassification14
                  - SecurityClassification15
                  - SecurityClassification16
                  - SecurityClassification17
                  - SecurityClassification18
                  - SecurityClassification19
                  - SecurityClassification20
                  - SecurityClassification21
                  - SecurityClassification22
                  - SecurityClassification23
                  - SecurityClassification24
                  - SecurityClassification25
                  - DownloadRecord
                  - CustomGrouping
                  - Cotenant
                  - AllocatedUnrealizedCostBasis
                  - AllocatedRealizedCostBasis
                xml:
                  name: Entity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  type: string
                  enum:
                  - Undefined
                  - Payee
                  - BrokerDealer
                  - Wholesaler
                  - Representative
                  - Client
                  - Registration
                  - Account
                  - Asset
                  - Product
                  - Transaction
                  - Distribution
                  - FundFamily
                  - Personal
                  - PayoutSchedule
                  - FeeSchedule
                  - Platform
                  - RIA
                  - Custodian
                  - Journal
                  - SWP
                  - Other
                  - NASD
                  - CashFunding
                  - Bill
                  - BillInstance
                  - BillMasterPayout
                  - Model
                  - NewAccountClient
                  - NewAccountReg
                  - DownloadExclusion
                  - Price
                  - UserDefinedFields
                  - NewAcctUserDef
                  - ManagersMessage
                  - IndexEntry
                  - PerformanceFee
                  - PerformancePayout
                  - NewAccountAsset
                  - Owner
                  - Administrator
                  - OutsideClient
                  - SubAdvisor
                  - ModelRange
                  - FaxCover
                  - Fax
                  - OneTimeDistribution
                  - WebLogin
                  - Plan401k
                  - BillAccountItem
                  - ThirdPartyAdministrator
                  - CrmContact
                  - Participant
                  - PlanSponsor
                  - CRMEmailList
                  - ThirdParty
                  - WorkflowItem
                  - WorkflowAction
                  - ServiceAccount
                  - EntityOption
                  - HouseholdMember
                  - DownloadSymbol
                  - IndexBlend
                  - NABenefit
                  - AggregateModel
                  - CompositeRange
                  - RepAccountManager
                  - ScriptsScrubs
                  - ServiceAccountBrokerDealer
                  - BusinessLine
                  - Blob
                  - AssetClass
                  - ServiceAccountLite
                  - NewAcctUserDefDtl
                  - Branch
                  - AssetLevelStrategy
                  - Report
                  - DataQueries
                  - PriceUnUsed
                  - ModelItem
                  - AssetCategory
                  - RiskCategory
                  - PlatformRange
                  - Dividend
                  - RegistrationType
                  - CustodianCommon
                  - RepState
                  - QpeDashboard
                  - ReportBatch
                  - ModelGroup
                  - ShareClass
                  - DownloadFile
                  - User
                  - DynamicGrouping
                  - ProductType
                  - ProductSubType
                  - InvestmentObjective
                  - PortfolioGroup
                  - OrionRealizedLot
                  - OrionUnrealizedLot
                  - CustodianRealizedLot
                  - CustodianUnrealizedLot
                  - AssetCategoryParent
                  - TaxType
                  - AuditRequest
                  - AuditRequestLetter
                  - ManagedUnmanaged
                  - AuditRowAttachment
                  - InformPolicy
                  - InformAnswerAttachment
                  - UserDetail
                  - BillPayMethod
                  - ModelInclusion
                  - CommunityModel
                  - EclipseModel
                  - Global
                  - ClientCategory
                  - Taxability
                  - Qualified
                  - TaxID
                  - BondState
                  - ProductTaxability
                  - TargetAllocation
                  - RIATable
                  - ProductRegion
                  - ProductPropertyType
                  - ProductManagerAip
                  - MoodyRating
                  - SPRating
                  - BondMaturityYear
                  - InterestRate
                  - RegistrationTaxType
                  - MaturityPeriod
                  - NewHousehold
                  - BillPayoutDashboardPayment
                  - OptionLevel
                  - MarginAgreement
                  - PrimeBrokerage
                  - InformHistoricalDocument
                  - SleeveStrategyAggregate
                  - MorningstarSector
                  - BillEntity
                  - SleeveStrategy
                  - MorningstarGeography
                  - GenericProspect
                  - BillEntityType
                  - AdditionalRep
                  - BillPayoutReport
                  - ProductSubHolding
                  - DownloadSource
                  - ModelVsActual
                  - ProductVintageYear
                  - EclipsePortfolio
                  - Country
                  - Currency
                  - SecurityClassification1
                  - SecurityClassification2
                  - SecurityClassification3
                  - SecurityClassification4
                  - SecurityClassification5
                  - SecurityClassification6
                  - SecurityClassification7
                  - SecurityClassification8
                  - SecurityClassification9
                  - SecurityClassification10
                  - SecurityClassification11
                  - SecurityClassification12
                  - SecurityClassification13
                  - SecurityClassification14
                  - SecurityClassification15
                  - SecurityClassification16
                  - SecurityClassification17
                  - SecurityClassification18
                  - SecurityClassification19
                  - SecurityClassification20
                  - SecurityClassification21
                  - SecurityClassification22
                  - SecurityClassification23
                  - SecurityClassification24
                  - SecurityClassification25
                  - DownloadRecord
                  - CustomGrouping
                  - Cotenant
                  - AllocatedUnrealizedCostBasis
                  - AllocatedRealizedCostBasis
                xml:
                  name: Entity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  type: string
                  enum:
                  - Undefined
                  - Payee
                  - BrokerDealer
                  - Wholesaler
                  - Representative
                  - Client
                  - Registration
                  - Account
                  - Asset
                  - Product
                  - Transaction
                  - Distribution
                  - FundFamily
                  - Personal
                  - PayoutSchedule
                  - FeeSchedule
                  - Platform
                  - RIA
                  - Custodian
                  - Journal
                  - SWP
                  - Other
                  - NASD
                  - CashFunding
                  - Bill
                  - BillInstance
                  - BillMasterPayout
                  - Model
                  - NewAccountClient
                  - NewAccountReg
                  - DownloadExclusion
                  - Price
                  - UserDefinedFields
                  - NewAcctUserDef
                  - ManagersMessage
                  - IndexEntry
                  - PerformanceFee
                  - PerformancePayout
                  - NewAccountAsset
                  - Owner
                  - Administrator
                  - OutsideClient
                  - SubAdvisor
                  - ModelRange
                  - FaxCover
                  - Fax
                  - OneTimeDistribution
                  - WebLogin
                  - Plan401k
                  - BillAccountItem
                  - ThirdPartyAdministrator
                  - CrmContact
                  - Participant
                  - PlanSponsor
                  - CRMEmailList
                  - ThirdParty
                  - WorkflowItem
                  - WorkflowAction
                  - ServiceAccount
                  - EntityOption
                  - HouseholdMember
                  - DownloadSymbol
                  - IndexBlend
                  - NABenefit
                  - AggregateModel
                  - CompositeRange
                  - RepAccountManager
                  - ScriptsScrubs
                  - ServiceAccountBrokerDealer
                  - BusinessLine
                  - Blob
                  - AssetClass
                  - ServiceAccountLite
                  - NewAcctUserDefDtl
                  - Branch
                  - AssetLevelStrategy
                  - Report
                  - DataQueries
                  - PriceUnUsed
                  - ModelItem
                  - AssetCategory
                  - RiskCategory
                  - PlatformRange
                  - Dividend
                  - RegistrationType
                  - CustodianCommon
                  - RepState
                  - QpeDashboard
                  - ReportBatch
                  - ModelGroup
                  - ShareClass
                  - DownloadFile
                  - User
                  - DynamicGrouping
                  - ProductType
                  - ProductSubType
                  - InvestmentObjective
                  - PortfolioGroup
                  - OrionRealizedLot
                  - OrionUnrealizedLot
                  - CustodianRealizedLot
                  - CustodianUnrealizedLot
                  - AssetCategoryParent
                  - TaxType
                  - AuditRequest
                  - AuditRequestLetter
                  - ManagedUnmanaged
                  - AuditRowAttachment
                  - InformPolicy
                  - InformAnswerAttachment
                  - UserDetail
                  - BillPayMethod
                  - ModelInclusion
                  - CommunityModel
                  - EclipseModel
                  - Global
                  - ClientCategory
                  - Taxability
                  - Qualified
                  - TaxID
                  - BondState
                  - ProductTaxability
                  - TargetAllocation
                  - RIATable
                  - ProductRegion
                  - ProductPropertyType
                  - ProductManagerAip
                  - MoodyRating
                  - SPRating
                  - BondMaturityYear
                  - InterestRate
                  - RegistrationTaxType
                  - MaturityPeriod
                  - NewHousehold
                  - BillPayoutDashboardPayment
                  - OptionLevel
                  - MarginAgreement
                  - PrimeBrokerage
                  - InformHistoricalDocument
                  - SleeveStrategyAggregate
                  - MorningstarSector
                  - BillEntity
                  - SleeveStrategy
                  - MorningstarGeography
                  - GenericProspect
                  - BillEntityType
                  - AdditionalRep
                  - BillPayoutReport
                  - ProductSubHolding
                  - DownloadSource
                  - ModelVsActual
                  - ProductVintageYear
                  - EclipsePortfolio
                  - Country
                  - Currency
                  - SecurityClassification1
                  - SecurityClassification2
                  - SecurityClassification3
                  - SecurityClassification4
                  - SecurityClassification5
                  - SecurityClassification6
                  - SecurityClassification7
                  - SecurityClassification8
                  - SecurityClassification9
                  - SecurityClassification10
                  - SecurityClassification11
                  - SecurityClassification12
                  - SecurityClassification13
                  - SecurityClassification14
                  - SecurityClassification15
                  - SecurityClassification16
                  - SecurityClassification17
                  - SecurityClassification18
                  - SecurityClassification19
                  - SecurityClassification20
                  - SecurityClassification21
                  - SecurityClassification22
                  - SecurityClassification23
                  - SecurityClassification24
                  - SecurityClassification25
                  - DownloadRecord
                  - CustomGrouping
                  - Cotenant
                  - AllocatedUnrealizedCostBasis
                  - AllocatedRealizedCostBasis
                xml:
                  name: Entity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  type: string
                  enum:
                  - Undefined
                  - Payee
                  - BrokerDealer
                  - Wholesaler
                  - Representative
                  - Client
                  - Registration
                  - Account
                  - Asset
                  - Product
                  - Transaction
                  - Distribution
                  - FundFamily
                  - Personal
                  - PayoutSchedule
                  - FeeSchedule
                  - Platform
                  - RIA
                  - Custodian
                  - Journal
                  - SWP
                  - Other
                  - NASD
                  - CashFunding
                  - Bill
                  - BillInstance
                  - BillMasterPayout
                  - Model
                  - NewAccountClient
                  - NewAccountReg
                  - DownloadExclusion
                  - Price
                  - UserDefinedFields
                  - NewAcctUserDef
                  - ManagersMessage
                  - IndexEntry
                  - PerformanceFee
                  - PerformancePayout
                  - NewAccountAsset
                  - Owner
                  - Administrator
                  - OutsideClient
                  - SubAdvisor
                  - ModelRange
                  - FaxCover
                  - Fax
                  - OneTimeDistribution
                  - WebLogin
                  - Plan401k
                  - BillAccountItem
                  - ThirdPartyAdministrator
                  - CrmContact
                  - Participant
                  - PlanSponsor
                  - CRMEmailList
                  - ThirdParty
                  - WorkflowItem
                  - WorkflowAction
                  - ServiceAccount
                  - EntityOption
                  - HouseholdMember
                  - DownloadSymbol
                  - IndexBlend
                  - NABenefit
                  - AggregateModel
                  - CompositeRange
                  - RepAccountManager
                  - ScriptsScrubs
                  - ServiceAccountBrokerDealer
                  - BusinessLine
                  - Blob
                  - AssetClass
                  - ServiceAccountLite
                  - NewAcctUserDefDtl
                  - Branch
                  - AssetLevelStrategy
                  - Report
                  - DataQueries
                  - PriceUnUsed
                  - ModelItem
                  - AssetCategory
                  - RiskCategory
                  - PlatformRange
                  - Dividend
                  - RegistrationType
                  - CustodianCommon
                  - RepState
                  - QpeDashboard
                  - ReportBatch
                  - ModelGroup
                  - ShareClass
                  - DownloadFile
                  - User
                  - DynamicGrouping
                  - ProductType
                  - ProductSubType
                  - InvestmentObjective
                  - PortfolioGroup
                  - OrionRealizedLot
                  - OrionUnrealizedLot
                  - CustodianRealizedLot
                  - CustodianUnrealizedLot
                  - AssetCategoryParent
                  - TaxType
                  - AuditRequest
                  - AuditRequestLetter
                  - ManagedUnmanaged
                  - AuditRowAttachment
                  - InformPolicy
                  - InformAnswerAttachment
                  - UserDetail
                  - BillPayMethod
                  - ModelInclusion
                  - CommunityModel
                  - EclipseModel
                  - Global
                  - ClientCategory
                  - Taxability
                  - Qualified
                  - TaxID
                  - BondState
                  - ProductTaxability
                  - TargetAllocation
                  - RIATable
                  - ProductRegion
                  - ProductPropertyType
                  - ProductManagerAip
                  - MoodyRating
                  - SPRating
                  - BondMaturityYear
                  - InterestRate
                  - RegistrationTaxType
                  - MaturityPeriod
                  - NewHousehold
                  - BillPayoutDashboardPayment
                  - OptionLevel
                  - MarginAgreement
                  - PrimeBrokerage
                  - InformHistoricalDocument
                  - SleeveStrategyAggregate
                  - MorningstarSector
                  - BillEntity
                  - SleeveStrategy
                  - MorningstarGeography
                  - GenericProspect
                  - BillEntityType
                  - AdditionalRep
                  - BillPayoutReport
                  - ProductSubHolding
                  - DownloadSource
                  - ModelVsActual
                  - ProductVintageYear
                  - EclipsePortfolio
                  - Country
                  - Currency
                  - SecurityClassification1
                  - SecurityClassification2
                  - SecurityClassification3
                  - SecurityClassification4
                  - SecurityClassification5
                  - SecurityClassification6
                  - SecurityClassification7
                  - SecurityClassification8
                  - SecurityClassification9
                  - SecurityClassification10
                  - SecurityClassification11
                  - SecurityClassification12
                  - SecurityClassification13
                  - SecurityClassification14
                  - SecurityClassification15
                  - SecurityClassification16
                  - SecurityClassification17
                  - SecurityClassification18
                  - SecurityClassification19
                  - SecurityClassification20
                  - SecurityClassification21
                  - SecurityClassification22
                  - SecurityClassification23
                  - SecurityClassification24
                  - SecurityClassification25
                  - DownloadRecord
                  - CustomGrouping
                  - Cotenant
                  - AllocatedUnrealizedCostBasis
                  - AllocatedRealizedCostBasis
                xml:
                  name: Entity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  type: string
                  enum:
                  - Undefined
                  - Payee
                  - BrokerDealer
                  - Wholesaler
                  - Representative
                  - Client
                  - Registration
                  - Account
                  - Asset
                  - Product
                  - Transaction
                  - Distribution
                  - FundFamily
                  - Personal
                  - PayoutSchedule
                  - FeeSchedule
                  - Platform
                  - RIA
                  - Custodian
                  - Journal
                  - SWP
                  - Other
                  - NASD
                  - CashFunding
                  - Bill
                  - BillInstance
                  - BillMasterPayout
                  - Model
                  - NewAccountClient
                  - NewAccountReg
                  - DownloadExclusion
                  - Price
                  - UserDefinedFields
                  - NewAcctUserDef
                  - ManagersMessage
                  - IndexEntry
                  - PerformanceFee
                  - PerformancePayout
                  - NewAccountAsset
                  - Owner
                  - Administrator
                  - OutsideClient
                  - SubAdvisor
                  - ModelRange
                  - FaxCover
                  - Fax
                  - OneTimeDistribution
                  - WebLogin
                  - Plan401k
                  - BillAccountItem
                  - ThirdPartyAdministrator
                  - CrmContact
                  - Participant
                  - PlanSponsor
                  - CRMEmailList
                  - ThirdParty
                  - WorkflowItem
                  - WorkflowAction
                  - ServiceAccount
                  - EntityOption
                  - HouseholdMember
                  - DownloadSymbol
                  - IndexBlend
                  - NABenefit
                  - AggregateModel
                  - CompositeRange
                  - RepAccountManager
                  - ScriptsScrubs
                  - ServiceAccountBrokerDealer
                  - BusinessLine
                  - Blob
                  - AssetClass
                  - ServiceAccountLite
                  - NewAcctUserDefDtl
                  - Branch
                  - AssetLevelStrategy
                  - Report
                  - DataQueries
                  - PriceUnUsed
                  - ModelItem
                  - AssetCategory
                  - RiskCategory
                  - PlatformRange
                  - Dividend
                  - RegistrationType
                  - CustodianCommon
                  - RepState
                  - QpeDashboard
                  - ReportBatch
                  - ModelGroup
                  - ShareClass
                  - DownloadFile
                  - User
                  - DynamicGrouping
                  - ProductType
                  - ProductSubType
                  - InvestmentObjective
                  - PortfolioGroup
                  - OrionRealizedLot
                  - OrionUnrealizedLot
                  - CustodianRealizedLot
                  - CustodianUnrealizedLot
                  - AssetCategoryParent
                  - TaxType
                  - AuditRequest
                  - AuditRequestLetter
                  - ManagedUnmanaged
                  - AuditRowAttachment
                  - InformPolicy
                  - InformAnswerAttachment
                  - UserDetail
                  - BillPayMethod
                  - ModelInclusion
                  - CommunityModel
                  - EclipseModel
                  - Global
                  - ClientCategory
                  - Taxability
                  - Qualified
                  - TaxID
                  - BondState
                  - ProductTaxability
                  - TargetAllocation
                  - RIATable
                  - ProductRegion
                  - ProductPropertyType
                  - ProductManagerAip
                  - MoodyRating
                  - SPRating
                  - BondMaturityYear
                  - InterestRate
                  - RegistrationTaxType
                  - MaturityPeriod
                  - NewHousehold
                  - BillPayoutDashboardPayment
                  - OptionLevel
                  - MarginAgreement
                  - PrimeBrokerage
                  - InformHistoricalDocument
                  - SleeveStrategyAggregate
                  - MorningstarSector
                  - BillEntity
                  - SleeveStrategy
                  - MorningstarGeography
                  - GenericProspect
                  - BillEntityType
                  - AdditionalRep
                  - BillPayoutReport
                  - ProductSubHolding
                  - DownloadSource
                  - ModelVsActual
                  - ProductVintageYear
                  - EclipsePortfolio
                  - Country
                  - Currency
                  - SecurityClassification1
                  - SecurityClassification2
                  - SecurityClassification3
                  - SecurityClassification4
                  - SecurityClassification5
                  - SecurityClassification6
                  - SecurityClassification7
                  - SecurityClassification8
                  - SecurityClassification9
                  - SecurityClassification10
                  - SecurityClassification11
                  - SecurityClassification12
                  - SecurityClassification13
                  - SecurityClassification14
                  - SecurityClassification15
                  - SecurityClassification16
                  - SecurityClassification17
                  - SecurityClassification18
                  - SecurityClassification19
                  - SecurityClassification20
                  - SecurityClassification21
                  - SecurityClassification22
                  - SecurityClassification23
                  - SecurityClassification24
                  - SecurityClassification25
                  - DownloadRecord
                  - CustomGrouping
                  - Cotenant
                  - AllocatedUnrealizedCostBasis
                  - AllocatedRealizedCostBasis
                xml:
                  name: Entity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                  enum:
                  - Undefined
                  - Payee
                  - BrokerDealer
                  - Wholesaler
                  - Representative
                  - Client
                  - Registration
                  - Account
                  - Asset
                  - Product
                  - Transaction
                  - Distribution
                  - FundFamily
                  - Personal
                  - PayoutSchedule
                  - FeeSchedule
                  - Platform
                  - RIA
                  - Custodian
                  - Journal
                  - SWP
                  - Other
                  - NASD
                  - CashFunding
                  - Bill
                  - BillInstance
                  - BillMasterPayout
                  - Model
                  - NewAccountClient
                  - NewAccountReg
                  - DownloadExclusion
                  - Price
                  - UserDefinedFields
                  - NewAcctUserDef
                  - ManagersMessage
                  - IndexEntry
                  - PerformanceFee
                  - PerformancePayout
                  - NewAccountAsset
                  - Owner
                  - Administrator
                  - OutsideClient
                  - SubAdvisor
                  - ModelRange
                  - FaxCover
                  - Fax
                  - OneTimeDistribution
                  - WebLogin
                  - Plan401k
                  - BillAccountItem
                  - ThirdPartyAdministrator
                  - CrmContact
                  - Participant
                  - PlanSponsor
                  - CRMEmailList
                  - ThirdParty
                  - WorkflowItem
                  - WorkflowAction
                  - ServiceAccount
                  - EntityOption
                  - HouseholdMember
                  - DownloadSymbol
                  - IndexBlend
                  - NABenefit
                  - AggregateModel
                  - CompositeRange
                  - RepAccountManager
                  - ScriptsScrubs
                  - ServiceAccountBrokerDealer
                  - BusinessLine
                  - Blob
                  - AssetClass
                  - ServiceAccountLite
                  - NewAcctUserDefDtl
                  - Branch
                  - AssetLevelStrategy
                  - Report
                  - DataQueries
                  - PriceUnUsed
                  - ModelItem
                  - AssetCategory
                  - RiskCategory
                  - PlatformRange
                  - Dividend
                  - RegistrationType
                  - CustodianCommon
                  - RepState
                  - QpeDashboard
                  - ReportBatch
                  - ModelGroup
                  - ShareClass
                  - DownloadFile
                  - User
                  - DynamicGrouping
                  - ProductType
                  - ProductSubType
                  - InvestmentObjective
                  - PortfolioGroup
                  - OrionRealizedLot
                  - OrionUnrealizedLot
                  - CustodianRealizedLot
                  - CustodianUnrealizedLot
                  - AssetCategoryParent
                  - TaxType
                  - AuditRequest
                  - AuditRequestLetter
                  - ManagedUnmanaged
                  - AuditRowAttachment
                  - InformPolicy
                  - InformAnswerAttachment
                  - UserDetail
                  - BillPayMethod
                  - ModelInclusion
                  - CommunityModel
                  - EclipseModel
                  - Global
                  - ClientCategory
                  - Taxability
                  - Qualified
                  - TaxID
                  - BondState
                  - ProductTaxability
                  - TargetAllocation
                  - RIATable
                  - ProductRegion
                  - ProductPropertyType
                  - ProductManagerAip
                  - MoodyRating
                  - SPRating
                  - BondMaturityYear
                  - InterestRate
                  - RegistrationTaxType
                  - MaturityPeriod
                  - NewHousehold
                  - BillPayoutDashboardPayment
                  - OptionLevel
                  - MarginAgreement
                  - PrimeBrokerage
                  - InformHistoricalDocument
                  - SleeveStrategyAggregate
                  - MorningstarSector
                  - BillEntity
                  - SleeveStrategy
                  - MorningstarGeography
                  - GenericProspect
                  - BillEntityType
                  - AdditionalRep
                  - BillPayoutReport
                  - ProductSubHolding
                  - DownloadSource
                  - ModelVsActual
                  - ProductVintageYear
                  - EclipsePortfolio
                  - Country
                  - Currency
                  - SecurityClassification1
                  - SecurityClassification2
                  - SecurityClassification3
                  - SecurityClassification4
                  - SecurityClassification5
                  - SecurityClassification6
                  - SecurityClassification7
                  - SecurityClassification8
                  - SecurityClassification9
                  - SecurityClassification10
                  - SecurityClassification11
                  - SecurityClassification12
                  - SecurityClassification13
                  - SecurityClassification14
                  - SecurityClassification15
                  - SecurityClassification16
                  - SecurityClassification17
                  - SecurityClassification18
                  - SecurityClassification19
                  - SecurityClassification20
                  - SecurityClassification21
                  - SecurityClassification22
                  - SecurityClassification23
                  - SecurityClassification24
                  - SecurityClassification25
                  - DownloadRecord
                  - CustomGrouping
                  - Cotenant
                  - AllocatedUnrealizedCostBasis
                  - AllocatedRealizedCostBasis
                xml:
                  name: Entity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Utility/Groupings/Registrations:
    get:
      tags:
      - Utility/Groupings
      summary: Returns list of registration for grouping view
      operationId: GroupingViews_RegistrationView
      parameters:
      - name: manipulator
        in: header
        required: true
      - name: cancellationToken
        in: header
        required: true
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRegistrationDto'
                xml:
                  name: GroupingViewRegistrationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRegistrationDto'
                xml:
                  name: GroupingViewRegistrationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRegistrationDto'
                xml:
                  name: GroupingViewRegistrationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRegistrationDto'
                xml:
                  name: GroupingViewRegistrationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Utility/Groupings
      summary: Returns list of registration for grouping view
      operationId: GroupingViews_PostV1UtilityGroupingsRegistrations
      parameters:
      - name: manipulator
        in: header
        required: true
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRegistrationDto'
                xml:
                  name: GroupingViewRegistrationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRegistrationDto'
                xml:
                  name: GroupingViewRegistrationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRegistrationDto'
                xml:
                  name: GroupingViewRegistrationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRegistrationDto'
                xml:
                  name: GroupingViewRegistrationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Utility/Groupings/Representatives:
    get:
      tags:
      - Utility/Groupings
      summary: Returns list of representative for grouping view
      operationId: GroupingViews_RepresentativeView
      parameters:
      - name: manipulator
        in: header
        required: true
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRepresentativeDto'
                xml:
                  name: GroupingViewRepresentativeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRepresentativeDto'
                xml:
                  name: GroupingViewRepresentativeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRepresentativeDto'
                xml:
                  name: GroupingViewRepresentativeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRepresentativeDto'
                xml:
                  name: GroupingViewRepresentativeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRepresentativeDto'
                xml:
                  name: GroupingViewRepresentativeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRepresentativeDto'
                xml:
                  name: GroupingViewRepresentativeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Utility/Groupings
      summary: Returns list of representative for grouping view
      operationId: GroupingViews_PostV1UtilityGroupingsRepresentatives
      parameters:
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRepresentativeDto'
                xml:
                  name: GroupingViewRepresentativeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRepresentativeDto'
                xml:
                  name: GroupingViewRepresentativeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRepresentativeDto'
                xml:
                  name: GroupingViewRepresentativeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRepresentativeDto'
                xml:
                  name: GroupingViewRepresentativeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRepresentativeDto'
                xml:
                  name: GroupingViewRepresentativeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GroupingViewRepresentativeDto'
                xml:
                  name: GroupingViewRepresentativeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Utility/Groupings/Simple:
    get:
      tags:
      - Utility/Groupings
      operationId: GroupingViews_GetSimple
      parameters:
      - name: entity
        in: query
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      - name: usedFor
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - Trading
          - Reporting
          - RepProfileAssignment
          - Compass
          default: 0
      - name: isPrivate
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Grouping views get simple
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Utility.GroupingViewRegistrationDto:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        isActive:
          type: boolean
        repName:
          type: string
        accountType:
          type: string
        clientId:
          type: integer
          format: int32
        repId:
          type: integer
          format: int32
        reportName:
          type: string
        statementDelivery:
          type: string
        email:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        birthDate:
          type: string
        registratioName:
          type: string
        repNo:
          type: string
        taxable:
          type: boolean
        brokerDealer:
          type: string
        currentValue:
          type: number
          format: double
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        typeCode:
          type: string
        typeId:
          type: integer
          format: int32
        householdName:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        riskBudget:
          type: integer
          format: int32
        stockPercent:
          type: string
        bondPercent:
          readOnly: true
          type: string
        type:
          readOnly: true
          type: string
        id:
          type: integer
          format: int32
        additionalColumns:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Interface.AdditionalColumnDefinition'
          xml:
            name: AdditionalColumnDefinition
            wrapped: true
          type: array
      xml:
        name: GroupingViewRegistrationDto
      type: object
    OAS.WebApi.DTO.Interface.AdditionalColumnDefinition:
      properties:
        key:
          type: string
        value:
          type: string
      xml:
        name: AdditionalColumnDefinition
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Utility.DynamicGroupingDto:
      properties:
        id:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        pageViewId:
          type: integer
          format: int32
        name:
          type: string
        type:
          type: string
          enum:
          - Dynamic
          - Static
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        usedFor:
          type: string
          enum:
          - None
          - Trading
          - Reporting
          - RepProfileAssignment
          - Compass
        isPrivate:
          type: boolean
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: DynamicGroupingDto
      type: object
    OAS.WebApi.DTO.Utility.DynamicGroupingDetailDto:
      properties:
        entityId:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        name:
          type: string
      xml:
        name: DynamicGroupingDetailDto
      type: object
    OAS.WebApi.DTO.Compliance.AccessPersonLicenseDto:
      properties:
        id:
          type: integer
          format: int32
        accessPersonId:
          type: integer
          format: int32
        informLicenseId:
          type: integer
          format: int32
        licenseDescription:
          type: string
      xml:
        name: AccessPersonLicenseDto
      type: object
    OAS.WebApi.DTO.Utility.GroupingViewAccountDto:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        accountNumber:
          type: string
        custodian:
          type: string
        isManaged:
          type: boolean
        isActive:
          type: boolean
        tradeBlocked:
          type: boolean
        repName:
          type: string
        modelName:
          type: string
        accountType:
          type: string
        fundName:
          type: string
        managementStyle:
          type: string
        shareClass:
          type: string
        subAdvisor:
          type: string
        registrationId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        repId:
          type: integer
          format: int32
        reportName:
          type: string
        statementDelivery:
          type: string
        email:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        birthDate:
          type: string
        registratioName:
          type: string
        repNo:
          type: string
        planName:
          type: string
        planSponsor:
          type: string
        isAnnuity:
          type: boolean
        outsideID:
          type: string
        fixVersion:
          type: string
        taxable:
          type: boolean
        busiessLine:
          type: string
        minCashBalance:
          type: number
          format: double
        replenishMinCash:
          type: boolean
        billPaymentMethod:
          type: string
        tradingInstructions:
          type: string
        feeSchedule:
          type: string
        payoutSchedule:
          type: string
        brokerDealer:
          type: string
        isQualified:
          type: boolean
        currentValue:
          type: number
          format: double
        accountHistoryId:
          type: integer
          format: int32
        secondaryAccountNumber:
          type: string
        billStartDate:
          type: string
          format: date-time
        cancelDate:
          type: string
          format: date-time
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        downloadSource:
          type: string
        household:
          type: string
        includeInAggregate:
          type: boolean
        modelGroupNumber:
          type: string
        modelAggId:
          type: integer
          format: int32
        riskBudget:
          type: integer
          format: int32
        riskScore:
          type: number
          format: double
        isSleeveAccount:
          type: boolean
        accountStartDate:
          type: string
          format: date-time
        accountStartValue:
          type: number
          format: double
        isSweepAccount:
          type: boolean
        sweepAssetId:
          type: integer
          format: int32
        billStyle:
          type: string
          enum:
          - Advance
          - Arrears
        billFrequency:
          type: string
          enum:
          - Undefined
          - Monthly
          - Quarterly
          - Triannual
          - Semiannually
          - Annually
          - AtMaturity
        cycleMonth:
          type: integer
          format: int32
        type:
          readOnly: true
          type: string
        id:
          type: integer
          format: int32
        additionalColumns:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Interface.AdditionalColumnDefinition'
          xml:
            name: AdditionalColumnDefinition
            wrapped: true
          type: array
      xml:
        name: GroupingViewAccountDto
      type: object
    OAS.WebApi.DTO.Utility.DynamicGroupingFullDto:
      properties:
[...]
