openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Create New Bill Account Item Adj API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/CreateNewBillAccountItemAdj
paths:
  /v1/Billing/CreateNewBillAccountItemAdj:
    put:
      tags:
      - Billing/CreateNewBillAccountItemAdj
      operationId: BillGenerator_CreateBillAccountItemAdjAsync
      parameters:
      - name: amount
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: dateOccurred
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: option
        in: query
        required: true
        schema:
          type: boolean
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: object
          application/json:
            schema:
              type: object
          text/json:
            schema:
              type: object
          application/x-www-form-urlencoded:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        required: true
      summary: Bill generator create bill account item adj async
      x-summary-source: derived
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
