openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Cloud Storage API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/CloudStorage
paths:
  /v1/Integrations/CloudStorage/{provider}/Action/Share/{filepath}:
    post:
      tags:
      - Integrations/CloudStorage
      summary: Used to generate a share link to a file in cloud storage
      operationId: IntegrationsCloudStorage_ShareCloudStorageAsync
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - AdvisorShared
          - Box
          - Dropbox
          - Egnyte
          - ShareFile
          - NetDocuments
      - name: filepath
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/CloudStorage/{provider}/Browse/{filepath}:
    get:
      tags:
      - Integrations/CloudStorage
      summary: Used to browse folders and view file meta data from cloud storage
      operationId: IntegrationsCloudStorage_BrowseCloudStorageAsync
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - AdvisorShared
          - Box
          - Dropbox
          - Egnyte
          - ShareFile
          - NetDocuments
      - name: filepath
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/CloudStorage/{provider}/Credentials:
    put:
      tags:
      - Integrations/CloudStorage
      summary: Used to save cloud storage credentials.
      operationId: IntegrationsCloudStorage_PutV1IntegrationsCloudStorageByProviderCredentials
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - AdvisorShared
          - Box
          - Dropbox
          - Egnyte
          - ShareFile
          - NetDocuments
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/CloudStorage
      summary: Used to save cloud storage credentials.
      operationId: IntegrationsCloudStorage_SaveCredentialsAsync
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - AdvisorShared
          - Box
          - Dropbox
          - Egnyte
          - ShareFile
          - NetDocuments
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    delete:
      tags:
      - Integrations/CloudStorage
      summary: Used to remove previously saved cloud storage credentials
      operationId: IntegrationsCloudStorage_DeleteCredentialsAsync
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - AdvisorShared
          - Box
          - Dropbox
          - Egnyte
          - ShareFile
          - NetDocuments
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/CloudStorage/{provider}/Data/{filepath}:
    get:
      tags:
      - Integrations/CloudStorage
      summary: Used to download a file from cloud storage
      operationId: IntegrationsCloudStorage_DownloadCloudStorageAsync
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - AdvisorShared
          - Box
          - Dropbox
          - Egnyte
          - ShareFile
          - NetDocuments
      - name: filepath
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    post:
      tags:
      - Integrations/CloudStorage
      summary: Used to upload a file to cloud storage
      operationId: IntegrationsCloudStorage_UploadCloudStorageAsync
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - AdvisorShared
          - Box
          - Dropbox
          - Egnyte
          - ShareFile
          - NetDocuments
      - name: filepath
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    delete:
      tags:
      - Integrations/CloudStorage
      summary: Used to delete a file from cloud storage
      operationId: IntegrationsCloudStorage_DeleteCloudStorageAsync
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - AdvisorShared
          - Box
          - Dropbox
          - Egnyte
          - ShareFile
          - NetDocuments
      - name: filepath
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/CloudStorage/{provider}/FileById/{itemId}:
    get:
      tags:
      - Integrations/CloudStorage
      summary: Used to download a file from cloud storage
      operationId: IntegrationsCloudStorage_DownloadCloudStorageByIdAsync
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - AdvisorShared
          - Box
          - Dropbox
          - Egnyte
          - ShareFile
          - NetDocuments
      - name: itemId
        in: path
        description: The unique ID of the item in cloud storage.
        required: true
        schema:
          type: string
      - name: fileName
        in: query
        description: The name of the file to be downloaded.
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/CloudStorage/{provider}/Redirect:
    get:
      tags:
      - Integrations/CloudStorage
      summary: Used to automatically redirect the user's browser to the appropriate cloud…
      operationId: IntegrationsCloudStorage_GetRedirectUrlAsync
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - AdvisorShared
          - Box
          - Dropbox
          - Egnyte
          - ShareFile
          - NetDocuments
      - name: url
        in: query
        description: Absolute Url
        required: true
        schema:
          type: string
      - name: domain
        in: query
        required: false
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/CloudStorage/List:
    get:
      tags:
      - Integrations/CloudStorage
      summary: Used to get list of configured cloud storage providers
      operationId: IntegrationsCloudStorage_ListCloudStorageProvidersAsync
      parameters:
      - name: checkCredentialsValid
        in: query
        description: 'Optional. Default: True. Will validate that the provider is valid before returning it. If false, any provider with credentials saved will be returned.'
        required: false
        schema:
          type: boolean
          default: true
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: object
                type: array
            application/json:
              schema:
                items:
                  type: object
                type: array
            text/json:
              schema:
                items:
                  type: object
                type: array
            application/xml:
              schema:
                items:
                  type: object
                type: array
            text/xml:
              schema:
                items:
                  type: object
                type: array
            multipart/form-data:
              schema:
                items:
                  type: object
                type: array
      security:
      - Authorization: []
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
