openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Advisory World API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/AdvisoryWorld
paths:
  /v1/Integrations/AdvisoryWorld/AssetFactSheet/{modelAggId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Get asset fact sheet for a ModelAgg
      operationId: AdvisoryWorld_GetAssetFactSheetAsync
      parameters:
      - name: modelAggId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Configuration:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Retrieves AdvisoryWorld Integration details
      operationId: AdvisoryWorld_GetConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
      security:
      - Authorization: []
    put:
      tags:
      - Integrations/AdvisoryWorld
      summary: Saves AdvisoryWorld integration settings
      operationId: AdvisoryWorld_UpdateConfiguration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig'
        required: true
  /v1/Integrations/AdvisoryWorld/IPSBuilderSection/Model:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Get Ips Builder section by Model
      operationId: AdvisoryWorld_GetIPSBuilderSectionModelAsync
      parameters:
      - name: category
        in: query
        required: true
        schema:
          type: string
      - name: modelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: modelId2
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: modelPercent
        in: query
        required: false
        schema:
          type: number
          format: double
          default: 1.0
      - name: modelPercent2
        in: query
        required: false
        schema:
          type: number
          format: double
          default: 1.0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IpsBuilderSection'
                xml:
                  name: IpsBuilderSection
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IpsBuilderSection'
                xml:
                  name: IpsBuilderSection
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IpsBuilderSection'
                xml:
                  name: IpsBuilderSection
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IpsBuilderSection'
                xml:
                  name: IpsBuilderSection
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IpsBuilderSection'
                xml:
                  name: IpsBuilderSection
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IpsBuilderSection'
                xml:
                  name: IpsBuilderSection
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/IPSBuilderSection/ModelAgg:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Get ips builder section info by Model Agg
      operationId: AdvisoryWorld_GetIPSBuilderSectionModegAggAsync
      parameters:
      - name: category
        in: query
        required: true
        schema:
          type: string
      - name: modelAggId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: modelPercent
        in: query
        required: false
        schema:
          type: number
          format: double
          default: 1.0
      - name: modelAggId2
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: modelAggPercent2
        in: query
        required: false
        schema:
          type: number
          format: double
          default: 1.0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IpsBuilderSection'
                xml:
                  name: IpsBuilderSection
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IpsBuilderSection'
                xml:
                  name: IpsBuilderSection
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IpsBuilderSection'
                xml:
                  name: IpsBuilderSection
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IpsBuilderSection'
                xml:
                  name: IpsBuilderSection
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IpsBuilderSection'
                xml:
                  name: IpsBuilderSection
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.IpsBuilderSection'
                xml:
                  name: IpsBuilderSection
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/ManagerFactSheet/{modelAggId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Get asset fact sheet for a ModelAgg
      operationId: AdvisoryWorld_GetManagerFactSheetAsync
      parameters:
      - name: modelAggId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/ModelFactSheet/{key}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Get asset fact sheet for a Strategy
      operationId: AdvisoryWorld_GetModelFactSheetAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Proposal/Activate:
    post:
      tags:
      - Integrations/AdvisoryWorld
      summary: Accept proposal to apply changes through sleeving, Connect, or Eclipse Proposal…
      operationId: AdvisoryWorld_AcceptProposalAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.Proposal'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.Proposal'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.Proposal'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.Proposal'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.Proposal'
        required: true
  /v1/Integrations/AdvisoryWorld/Proposal/CompatableModelAttributes/List:
    post:
      tags:
      - Integrations/AdvisoryWorld
      summary: Accept a list of modelagg ids to return the proposal compatibility for each…
      operationId: AdvisoryWorld_ModelAttributesByListAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.CompatibleModelAttributesDto'
                xml:
                  name: CompatibleModelAttributesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.CompatibleModelAttributesDto'
                xml:
                  name: CompatibleModelAttributesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.CompatibleModelAttributesDto'
                xml:
                  name: CompatibleModelAttributesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.CompatibleModelAttributesDto'
                xml:
                  name: CompatibleModelAttributesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.CompatibleModelAttributesDto'
                xml:
                  name: CompatibleModelAttributesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.CompatibleModelAttributesDto'
                xml:
                  name: CompatibleModelAttributesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Integrations/AdvisoryWorld/Proposal/Portfolio:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Accept parameters to return an aggregated list of accounts for accepting…
      operationId: AdvisoryWorld_ProposalGetPortfolio
      parameters:
      - name: ct
        in: header
        required: true
      - name: registrationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: accountId
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: portfolioId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AggAccountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AggAccountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AggAccountDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AggAccountDto'
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Redirect:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Method to redirect to AdvisoryWorld SSO QuickStart
      operationId: AdvisoryWorld_GetAdvisoryWorldRedirectUrl
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Remove:
    post:
      tags:
      - Integrations/AdvisoryWorld
      summary: Sets up Blaze integration for the current user
      description: The user must have the necessary privileges to setup the integration.
      operationId: AdvisoryWorld_RemoveServiceAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Reports/CompariScan/{reportName}:
    post:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a compari scan report from Advisory World for the allocations provided.
      operationId: AdvisoryWorld_GetCompariScanReportForCustomAllocationAsync
      parameters:
      - name: reportName
        in: path
        description: What to name the report.
        required: true
        schema:
          type: string
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: portfolioValue
        in: query
        description: 'Optional. Default: 10000. The value to use for the portfolio.'
        required: false
        schema:
          type: number
          format: double
          default: 10000.0
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldCompariScanDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldCompariScanDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldCompariScanDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldCompariScanDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldCompariScanDto'
        description: The list of allocations and cashflows to report on. Consists of Ticker-Percentage pairs.
        required: true
  /v1/Integrations/AdvisoryWorld/Reports/CompariScan/Account/{accountId}/Model/{modelId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a compari scan report from Advisory World for the specific account…
      operationId: AdvisoryWorld_GetCompariScanReportForAccountAsync
      parameters:
      - name: accountId
        in: path
        description: The account to show the compari scan report for.
        required: true
        schema:
          type: integer
          format: int32
      - name: modelId
        in: path
        description: The model to compare to.
        required: true
        schema:
          type: integer
          format: int32
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Reports/CompariScan/Client/{clientId}/Model/{modelId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a compari scan report from Advisory World for the specific client provided.
      operationId: AdvisoryWorld_GetCompariScanReportForClientAsync
      parameters:
      - name: clientId
        in: path
        description: The client to show the compari scan report for.
        required: true
        schema:
          type: integer
          format: int32
      - name: modelId
        in: path
        description: The model to compare to.
        required: true
        schema:
          type: integer
          format: int32
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Reports/CompariScan/Registration/{registrationId}/Model/{modelId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a compari scan report from Advisory World for the specific registration…
      operationId: AdvisoryWorld_GetCompariScanReportForRegistrationAsync
      parameters:
      - name: registrationId
        in: path
        description: The registration to show the compari scan report for.
        required: true
        schema:
          type: integer
          format: int32
      - name: modelId
        in: path
        description: The model to compare to.
        required: true
        schema:
          type: integer
          format: int32
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Reports/DetailedAnalytics/{reportName}:
    post:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a detailed analytics report from Advisory World for the allocations…
      operationId: AdvisoryWorld_GetDetailedAnalyticsReportForCustomAllocationAsync
      parameters:
      - name: reportName
        in: path
        description: What to name the report.
        required: true
        schema:
          type: string
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: includeInvestmentFactsheets
        in: query
        description: 'Optional. Default: true. Determines whether or not the investment factsheets should be included.'
        required: false
        schema:
          type: boolean
          default: true
      - name: portfolioValue
        in: query
        description: 'Optional. Default: 10000. The value to use for the portfolio.'
        required: false
        schema:
          type: number
          format: double
          default: 10000.0
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldDetailedAnalyticsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldDetailedAnalyticsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldDetailedAnalyticsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldDetailedAnalyticsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldDetailedAnalyticsDto'
        description: The list of allocations and cashflows to report on. Consists of Ticker-Percentage pairs.
        required: true
  /v1/Integrations/AdvisoryWorld/Reports/DetailedAnalytics/Account/{accountId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a detailed analytics report from Advisory World for the specific account…
      operationId: AdvisoryWorld_GetDetailedAnalyticsReportForAccountAsync
      parameters:
      - name: accountId
        in: path
        description: The account to show the detailed analytics report for.
        required: true
        schema:
          type: integer
          format: int32
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: includeInvestmentFactsheets
        in: query
        description: 'Optional. Default: true. Determines whether or not the investment factsheets should be included.'
        required: false
        schema:
          type: boolean
          default: true
      - name: assumedReturn
        in: query
        description: 'Optional. Default: null. If provided it will be used instead of the estimated performance.'
        required: false
        schema:
          type: number
          format: double
      - name: cashFlowAmount
        in: query
        description: 'Optional. Default: null. If provided it will be used instead of the actual cashflow value for the portfolio over the month prior to the date provided.'
        required: false
        schema:
          type: number
          format: double
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Reports/DetailedAnalytics/Client/{clientId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a detailed analytics report from Advisory World for the specific client…
      operationId: AdvisoryWorld_GetDetailedAnalyticsReportForClientAsync
      parameters:
      - name: clientId
        in: path
        description: The client to show the detailed analytics report for.
        required: true
        schema:
          type: integer
          format: int32
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: includeInvestmentFactsheets
        in: query
        description: 'Optional. Default: true. Determines whether or not the investment factsheets should be included.'
        required: false
        schema:
          type: boolean
          default: true
      - name: assumedReturn
        in: query
        description: 'Optional. Default: null. If provided it will be used instead of the estimated performance.'
        required: false
        schema:
          type: number
          format: double
      - name: cashFlowAmount
        in: query
        description: 'Optional. Default: null. If provided it will be used instead of the actual cashflow value for the portfolio over the month prior to the date provided.'
        required: false
        schema:
          type: number
          format: double
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      - name: excludedAccount
        in: query
        description: Optional. List of accounts to be excluded.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: autoRedirect
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Reports/DetailedAnalytics/Model/{modelId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a detailed analytics report from Advisory World for the specific model…
      operationId: AdvisoryWorld_GetDetailedAnalyticsReportForModelAsync
      parameters:
      - name: modelId
        in: path
        description: The model to show the detailed analytics report for.
        required: true
        schema:
          type: integer
          format: int32
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: includeInvestmentFactsheets
        in: query
        description: 'Optional. Default: true. Determines whether or not the investment factsheets should be included.'
        required: false
        schema:
          type: boolean
          default: true
      - name: modelValue
        in: query
        description: 'Optional. Default: 10000. The value to use for the model.'
        required: false
        schema:
          type: number
          format: double
          default: 10000.0
      - name: assumedReturn
        in: query
        description: 'Optional. Default: null. If provided it will be used instead of the estimated performance.'
        required: false
        schema:
          type: number
          format: double
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Reports/DetailedAnalytics/Registration/{registrationId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a detailed analytics report from Advisory World for the specific…
      operationId: AdvisoryWorld_GetDetailedAnalyticsReportForRegistrationAsync
      parameters:
      - name: registrationId
        in: path
        description: The registration to show the detailed analytics report for.
        required: true
        schema:
          type: integer
          format: int32
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: includeInvestmentFactsheets
        in: query
        description: 'Optional. Default: true. Determines whether or not the investment factsheets should be included.'
        required: false
        schema:
          type: boolean
          default: true
      - name: assumedReturn
        in: query
        description: 'Optional. Default: null. If provided it will be used instead of the estimated performance.'
        required: false
        schema:
          type: number
          format: double
      - name: cashFlowAmount
        in: query
        description: 'Optional. Default: null. If provided it will be used instead of the actual cashflow value for the portfolio over the month prior to the date provided.'
        required: false
        schema:
          type: number
          format: double
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      - name: excludedAccount
        in: query
        description: Optional. List of accounts to be excluded.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Reports/HoldingScan/{reportName}:
    post:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a holding scan report from Advisory World for the allocations provided.
      operationId: AdvisoryWorld_GetHoldingScanReportForCustomAllocationAsync
      parameters:
      - name: reportName
        in: path
        description: What to name the report.
        required: true
        schema:
          type: string
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: includeInvestmentFactsheets
        in: query
        description: 'Optional. Default: true. Determines whether or not the investment factsheets should be included.'
        required: false
        schema:
          type: boolean
          default: true
      - name: portfolioValue
        in: query
        description: 'Optional. Default: 10000. The value to use for the portfolio.'
        required: false
        schema:
          type: number
          format: double
          default: 10000.0
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldCustomAllocationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldCustomAllocationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldCustomAllocationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldCustomAllocationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldCustomAllocationDto'
        description: The list of allocations and cashflows to report on. Consists of Ticker-Percentage pairs.
        required: true
  /v1/Integrations/AdvisoryWorld/Reports/HoldingScan/Account/{accountId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a holding scan report from Advisory World for the specific account…
      operationId: AdvisoryWorld_GetHoldingScanReportForAccountAsync
      parameters:
      - name: accountId
        in: path
        description: The account to show the holding scan report for.
        required: true
        schema:
          type: integer
          format: int32
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: includeInvestmentFactsheets
        in: query
        description: 'Optional. Default: true. Determines whether or not the investment factsheets should be included.'
        required: false
        schema:
          type: boolean
          default: true
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Reports/HoldingScan/Asset/{assetId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a holding scan report from Advisory World for the specific asset provided.
      operationId: AdvisoryWorld_GetHoldingScanReportForAssetAsync
      parameters:
      - name: assetId
        in: path
        description: The asset to show the holding scan report for.
        required: true
        schema:
          type: integer
          format: int32
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: includeInvestmentFactsheets
        in: query
        description: 'Optional. Default: true. Determines whether or not the investment factsheets should be included.'
        required: false
        schema:
          type: boolean
          default: true
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Reports/HoldingScan/Client/{clientId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a holding scan report from Advisory World for the specific client provided.
      operationId: AdvisoryWorld_GetHoldingScanReportForClientAsync
      parameters:
      - name: clientId
        in: path
        description: The client to show the holding scan report for.
        required: true
        schema:
          type: integer
          format: int32
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: includeInvestmentFactsheets
        in: query
        description: 'Optional. Default: true. Determines whether or not the investment factsheets should be included.'
        required: false
        schema:
          type: boolean
          default: true
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      - name: excludedAccount
        in: query
        description: Optional. List of account to be excluded.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Reports/HoldingScan/Model/{modelId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a holding scan report from Advisory World for the specific model provided.
      operationId: AdvisoryWorld_GetHoldingScanReportForModelAsync
      parameters:
      - name: modelId
        in: path
        description: The model to show the holding scan report for.
        required: true
        schema:
          type: integer
          format: int32
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: includeInvestmentFactsheets
        in: query
        description: 'Optional. Default: true. Determines whether or not the investment factsheets should be included.'
        required: false
        schema:
          type: boolean
          default: true
      - name: modelValue
        in: query
        description: 'Optional. Default: 10000. The value to use for the model.'
        required: false
        schema:
          type: number
          format: double
          default: 10000.0
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Reports/HoldingScan/Registration/{registrationId}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Gets a holding scan report from Advisory World for the specific registration…
      operationId: AdvisoryWorld_GetHoldingScanReportForRegistrationAsync
      parameters:
      - name: registrationId
        in: path
        description: The registration to show the holding scan report for.
        required: true
        schema:
          type: integer
          format: int32
      - name: reportType
        in: query
        description: 'Optional. Default: Pdf. Determines how the report is returned. Options are Pdf and Xml.'
        required: false
        schema:
          type: string
          enum:
          - Xml
          - Pdf
          default: 1
      - name: includeInvestmentFactsheets
        in: query
        description: 'Optional. Default: true. Determines whether or not the investment factsheets should be included.'
        required: false
        schema:
          type: boolean
          default: true
      - name: asOfDate
        in: query
        description: 'Optional. Default: Today. Determines the date the report should reflect.'
        required: false
        schema:
          type: string
          format: date-time
      - name: excludedAccount
        in: query
        description: Optional. List of account to be excluded
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/RiskScore:
    put:
      tags:
      - Integrations/AdvisoryWorld
      summary: Get risk score for Sleeve Strategy
      operationId: AdvisoryWorld_GetRiskScoreAsync
      parameters:
      - name: defaultValue
        in: query
        required: false
        schema:
          type: number
          format: double
          default: 10000.0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdviosryWorldRiskStatisticsAndCompositesDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdviosryWorldRiskStatisticsAndCompositesDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdviosryWorldRiskStatisticsAndCompositesDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdviosryWorldRiskStatisticsAndCompositesDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdviosryWorldRiskStatisticsAndCompositesDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdviosryWorldRiskStatisticsAndCompositesDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.StrategyAllocations'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.StrategyAllocations'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.StrategyAllocations'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.StrategyAllocations'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.StrategyAllocations'
        required: true
  /v1/Integrations/AdvisoryWorld/RiskScoreModel:
    put:
      tags:
      - Integrations/AdvisoryWorld
      summary: Get risk score for ModelAggs
      operationId: AdvisoryWorld_GetRiskScoreModelAsync
      parameters:
      - name: defaultValue
        in: query
        required: false
        schema:
          type: number
          format: double
          default: 10000.0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdvisoryWorldModelAggAndRiskScoreDto'
                xml:
                  name: AdvisoryWorldModelAggAndRiskScoreDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdvisoryWorldModelAggAndRiskScoreDto'
                xml:
                  name: AdvisoryWorldModelAggAndRiskScoreDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdvisoryWorldModelAggAndRiskScoreDto'
                xml:
                  name: AdvisoryWorldModelAggAndRiskScoreDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdvisoryWorldModelAggAndRiskScoreDto'
                xml:
                  name: AdvisoryWorldModelAggAndRiskScoreDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdvisoryWorldModelAggAndRiskScoreDto'
                xml:
                  name: AdvisoryWorldModelAggAndRiskScoreDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdvisoryWorldModelAggAndRiskScoreDto'
                xml:
                  name: AdvisoryWorldModelAggAndRiskScoreDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Integrations/AdvisoryWorld/Run/{filename}:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Used to download a previously generated report pdf
      operationId: AdvisoryWorld_RunAdvisoryWorldReportAsync
      parameters:
      - name: filename
        in: path
        description: The filename provided by the generate endpoint.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/Setup:
    post:
      tags:
      - Integrations/AdvisoryWorld
      summary: Sets up AdvisoryWorld integration for the current user
      description: The user must have the necessary privileges to setup the integration.
      operationId: AdvisoryWorld_SetupService
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto'
        description: An {OAS.WebApi.DTO.Integrations.PartnerAppConfigurationDto} containing the parameters for the AdvisoryWorld setup.
        required: true
  /v1/Integrations/AdvisoryWorld/SetupComplete:
    post:
      tags:
      - Integrations/AdvisoryWorld
      summary: Stores AdvisoryWorld integration completed remotely for the current user
      description: The user must have the necessary privileges to setup the integration.
      operationId: AdvisoryWorld_SetupCompletedAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdvisoryWorldSetupCompleteDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdvisoryWorldSetupCompleteDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdvisoryWorldSetupCompleteDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdvisoryWorldSetupCompleteDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdvisoryWorldSetupCompleteDto'
        description: An {OAS.WebApi.DTO.Integrations.PartnerAppConfigurationDto} containing the parameters for the AdvisoryWorld setup.
        required: true
  /v1/Integrations/AdvisoryWorld/SSOUrl:
    get:
      tags:
      - Integrations/AdvisoryWorld
      summary: Method to build an AdvisoryWorld SSO link
      operationId: AdvisoryWorld_GetAdvisoryWorldSsoUrl
      parameters:
      - name: pkModel
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: pkPlatform
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: pkFundFamily
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldSsoUrlDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldSsoUrlDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldSsoUrlDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldSsoUrlDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldSsoUrlDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldSsoUrlDto'
      security:
      - Authorization: []
  /v1/Integrations/AdvisoryWorld/UpdateModelAggRiskScore:
    put:
      tags:
      - Integrations/AdvisoryWorld
      summary: Update risk score for ModelAggs that have been added or edited in the past 24hrs
      operationId: AdvisoryWorld_UpdateRiskScoreModelAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: defaultValue
        in: query
        required: false
        schema:
          type: number
          format: double
          default: 10000.0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.RiskScoreUpdateErrorListDto'
                xml:
                  name: RiskScoreUpdateErrorListDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.RiskScoreUpdateErrorListDto'
                xml:
                  name: RiskScoreUpdateErrorListDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.RiskScoreUpdateErrorListDto'
                xml:
                  name: RiskScoreUpdateErrorListDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.RiskScoreUpdateErrorListDto'
                xml:
                  name: RiskScoreUpdateErrorListDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.RiskScoreUpdateErrorListDto'
                xml:
                  name: RiskScoreUpdateErrorListDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.RiskScoreUpdateErrorListDto'
                xml:
                  name: RiskScoreUpdateErrorListDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
components:
  schemas:
    OAS.DataModel.Portfolio.IpsBuilderSection:
      properties:
        name:
          type: string
        percentage:
          type: number
          format: double
      xml:
        name: IpsBuilderSection
      type: object
    OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdvisoryWorldModelAggAndRiskScoreDto:
      properties:
        modelAggId:
          type: integer
          format: int32
        riskScore:
          type: number
          format: double
      xml:
        name: AdvisoryWorldModelAggAndRiskScoreDto
      type: object
    OAS.DataModel.Integration.AdvisoryWorld.IntegrationConfig:
      properties:
        userId:
          type: string
        password:
          type: string
      xml:
        name: IntegrationConfig
      type: object
    OAS.DataModel.Integration.AdvisoryWorld.ModelAggAndAllocations:
      properties:
        modelAggId:
          type: integer
          format: int32
        allocation:
          type: number
          format: double
      xml:
        name: ModelAggAndAllocations
      type: object
    OAS.DataModel.Integration.AdvisoryWorld.StrategyAllocations:
      properties:
        strategic:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.ModelAggAndAllocations'
          xml:
            name: ModelAggAndAllocations
            wrapped: true
          type: array
        tactical:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.ModelAggAndAllocations'
          xml:
            name: ModelAggAndAllocations
            wrapped: true
          type: array
        diversifier:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.ModelAggAndAllocations'
          xml:
            name: ModelAggAndAllocations
            wrapped: true
          type: array
      xml:
        name: StrategyAllocations
      type: object
    OAS.WebApi.DTO.Integrations.AdvisoryWorld.CompatibleModelAttributesDto:
      properties:
        id:
          type: integer
          format: int32
        eclipsePortfolioCompatible:
          type: boolean
        mmsCompatible:
          type: boolean
      xml:
        name: CompatibleModelAttributesDto
      type: object
    OAS.WebApi.DTO.Integrations.AdvisoryWorld.RiskScoreUpdateErrorListDto:
      properties:
        modelAggId:
          type: integer
          format: int32
        errorMessage:
          type: string
      xml:
        name: RiskScoreUpdateErrorListDto
      type: object
    OAS.DataModel.Integration.AdvisoryWorld.Proposal:
      properties:
        registrationId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        useSleeves:
          type: boolean
        sleeveStrategyId:
          type: integer
          format: int32
        portfolioId:
          type: integer
          format: int32
        modelAggAssignmentList:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.ModelAggAssignment'
          xml:
            name: ModelAggAssignment
            wrapped: true
          type: array
      xml:
        name: Proposal
      type: object
    OAS.DataModel.Integration.AdvisoryWorld.ModelAggAssignment:
      properties:
        modelAggId:
          type: integer
          format: int32
        eclipseModelId:
          type: integer
          format: int32
        weight:
          type: number
          format: double
      xml:
        name: ModelAggAssignment
      type: object
    OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdviosryWorldRiskStatisticsAndCompositesDto:
      properties:
        riskScore:
          type: number
          format: double
        alpha:
          type: number
          format: double
        beta:
          type: number
          format: double
        rSquared:
          type: number
          format: double
        maxDrawdown:
          type: number
          format: double
        annualizedMontlyReturns:
          $ref: '#/components/schemas/OAS.DataModel.Integration.AdvisoryWorld.AnnualizedMontlyReturns'
        strategic:
          type: number
          format: double
        tactical:
          type: number
          format: double
        diversifier:
          type: number
          format: double
      xml:
        name: AdviosryWorldRiskStatisticsAndCompositesDto
      type: object
    OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldSsoUrlDto:
      properties:
        ssoUrl:
          type: string
      xml:
        name: AdvisoryWorldSsoUrlDto
      type: object
    OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldCustomAllocationDto:
      properties:
        allocations:
          additionalProperties:
            type: number
            format: double
          type: object
      xml:
        name: AdvisoryWorldCustomAllocationDto
      type: object
    OAS.WebApi.DTO.Integrations.AdvisoryWorld.AggAccountDto:
      description: When we return accounts to AdvisoryWorld for proposals, show the "aggregated" account
      properties:
        householdId:
          description: The license type of the advisory world product that has been updated.
          type: integer
          format: int32
        repId:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        fullName:
          type: string
        accountValue:
          type: number
          format: double
        accountNumber:
          readOnly: true
          type: string
        accountCount:
          type: integer
          format: int32
        assets:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.AggAssetDto'
          xml:
            name: AggAssetDto
            wrapped: true
          type: array
        regType:
          type: string
      xml:
        name: AggAccountDto
      type: object
    OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldCompariScanDto:
      properties:
        modelAllocations:
          additionalProperties:
            type: number
            format: double
          type: object
        allocations:
          additionalProperties:
            type: number
            format: double
          type: object
      xml:
        name: AdvisoryWorldCompariScanDto
      type: object
    OAS.Integrations.AdvisoryWorld.External.HypoReportService.CashFlow:
      properties:
        description:
          type: string
        type:
          type: string
          enum:
          - CAmount
          - CShares
          - WGross
          - WNet
          - WPercentage
          - WShares
          - CPercentage
        amount:
          type: number
          format: double
        amountSpecified:
          type: boolean
        shares:
          type: number
          format: double
        sharesSpecified:
          type: boolean
        percentage:
          type: number
          format: double
        percentageSpecified:
          type: boolean
        splitType:
          type: string
          enum:
          - Evenly
          - ProRata
          - Explicit
        ticker:
          type: string
        cusip:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        frequency:
          type: string
          enum:
          - Once
          - Monthly
          - Quarterly
          - SemiAnnually
          - Annually
        inflation:
          $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.External.HypoReportService.Inflation'
      xml:
        name: CashFlow
      type: object
    OAS.WebApi.DTO.Integrations.IntegrationSetupRequestDto:
      properties:
        key:
          type: integer
          format: int32
        productName:
          type: string
        termsAccepted:
          type: boolean
      xml:
        name: IntegrationSetupRequestDto
      type: object
    OAS.WebApi.DTO.Integrations.AdvisoryWorld.AggAssetDto:
      description: The asset object that we aggregate and return to AdvisoryWorld for proposals
      properties:
        ticker:
          description: asset.Ticker
          type: string
        assetValue:
          description: Total value of shares of that ticker
          type: number
          format: double
        shares:
          description: Number of shares owned
          type: number
          format: double
      xml:
        name: AggAssetDto
      type: object
    OAS.WebApi.DTO.Integrations.AdvisoryWorld.AdvisoryWorldSetupCompleteDto:
      description: The data provided from AdvisoryWorld's API to ours when the advisor finishes or updates their integration configuration in Advisory World.
      properties:
        licenseType:
          description: The license type of the advisory world product that has been updated.
          type: string
        advisoryWorldUsername:
          description: The firms username in AdvisoryWorld.
          type: string
        repChanges:
          description: The list of changes to the licensed reps from advisory world. Only contains reps that need to be updated.
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.AdvisoryWorld.RepConfigDto'
          xml:
            name: RepConfigDto
            wrapped: true
          type: array
      xml:
        name: AdvisoryWorldSetupCompleteDto
      type: object
    OAS.Integrations.AdvisoryWorld.External.HypoReportService.Inflation:
      properties:
        type:
          type: string
          enum:
          - None
          - Historical
          - Custom
        value:
          type: number
          format: double
        valueSpecified:
          type: boolean
      xml:
        name: Inflation
      type: object
    OAS.Integrations.AdvisoryWorld.Dto.AdvisoryWorldDetailedAnalyticsDto:
      properties:
        cashFlows:
          items:
            $ref: '#/components/schemas/OAS.Integrations.AdvisoryWorld.External.HypoReportService.CashFlow'
          xml:
            name: CashFlow
            wrapped: true
          type: array
        assumedReturn:
          type: number
          format: double
        allocations:
          additionalProperties:
            type: number
            format: double
          type: object
      xml:
        name: AdvisoryWorldDetailedAnalyticsDto
      type: object
    OAS.DataModel.Integration.AdvisoryWorld.AnnualizedMontlyReturns:
      properties:
        ytd:
          type: number
          format: double
        oneYear:
          type: number
          format: double
        threeYear:
          type: number
          format: double
        fiveYear:
          type: number
          format: double
      xml:
        name: AnnualizedMontlyReturns
      type: object
    OAS.WebApi.DTO.Integrations.AdvisoryWorld.RepConfigDto:
      properties:
        repId:
          type: integer
          format: int32
        isEnabled:
          type: boolean
      xml:
        name: RepConfigDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
