openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Exclusions API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/Exclusions
paths:
  /v1/Confirm/Exclusions:
    get:
      tags:
      - Confirm/Exclusions
      summary: Gets the specified account number
      operationId: DownloadExclusions_GetAsync
      parameters:
      - name: accountNumber
        in: query
        description: The account number.
        required: true
        schema:
          type: string
      - name: downloadFormatId
        in: query
        description: The download format identifier.
        required: false
        schema:
          type: integer
          format: int32
      - name: cusip
        in: query
        description: The cusip.
        required: false
        schema:
          type: string
      - name: ct
        in: header
        description: Cancellation Token
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
                xml:
                  name: DownloadExcludeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
                xml:
                  name: DownloadExcludeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
                xml:
                  name: DownloadExcludeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
                xml:
                  name: DownloadExcludeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
                xml:
                  name: DownloadExcludeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
                xml:
                  name: DownloadExcludeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/Exclusions
      summary: Creates a new confirmgroup record, and returns the new record in the location…
      operationId: DownloadExclusions_CreateEntityAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
        description: ConfirmGroup
        required: true
  /v1/Confirm/Exclusions/{key}:
    get:
      tags:
      - Confirm/Exclusions
      summary: Gets the ConfirmGroup that has the provided key.
      operationId: DownloadExclusions_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
      security:
      - Authorization: []
    put:
      tags:
      - Confirm/Exclusions
      summary: Update the exclusion record
      operationId: DownloadExclusions_UpdateEntityAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeDto'
        required: true
    delete:
      tags:
      - Confirm/Exclusions
      summary: Deletes the specified key
      operationId: DownloadExclusions_DeleteAsync
      parameters:
      - name: key
        in: path
        description: The key.
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
  /v1/Confirm/Exclusions/Action/AdvisorNotes:
    put:
      tags:
      - Confirm/Exclusions
      summary: Update Advisor Notes on the specified exclusion records
      operationId: DownloadExclusions_ActionUpdateAdvisorNotesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.NoteListDtoOfSystem.Int32'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.NoteListDtoOfSystem.Int32'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.NoteListDtoOfSystem.Int32'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.NoteListDtoOfSystem.Int32'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.NoteListDtoOfSystem.Int32'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.NoteListDtoOfSystem.Int32'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.NoteListDtoOfSystem.Int32'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.NoteListDtoOfSystem.Int32'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.NoteListDtoOfSystem.Int32'
        required: true
  /v1/Confirm/Exclusions/Action/Delete:
    put:
      tags:
      - Confirm/Exclusions
      operationId: DownloadExclusions_ActionDeleteAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Download exclusions action delete async
      x-summary-source: derived
  /v1/Confirm/Exclusions/CommonExclusions:
    get:
      tags:
      - Confirm/Exclusions
      summary: Gets all common download exclusions
      operationId: DownloadExclusions_GetAllCommonDownloadExclusions
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
                xml:
                  name: DownloadExcludeCommonDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
                xml:
                  name: DownloadExcludeCommonDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
                xml:
                  name: DownloadExcludeCommonDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
                xml:
                  name: DownloadExcludeCommonDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
                xml:
                  name: DownloadExcludeCommonDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
                xml:
                  name: DownloadExcludeCommonDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/Exclusions/CommonExclusions/{id}:
    get:
      tags:
      - Confirm/Exclusions
      summary: Gets all common download exclusions
      description: 'Sample Request

        GET /Confirm/Exclusions/CommonExclusions/72'
      operationId: DownloadExclusions_GetCommonDownloadExclusionByIdAsync
      parameters:
      - name: id
        in: path
        description: The identifier.
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
      security:
      - Authorization: []
  /v1/Confirm/Exclusions/CommonExclusions/Actions/Create:
    post:
      tags:
      - Confirm/Exclusions
      summary: Creates the download exclude common entity asynchronous
      description: 'Sample Request

        /Confirm/Exclusions/CommonExclusions/Actions/Create

        {

        "id": 0,

        "downloadFormatId": 17,

        "downloadFormat": "DataLynx",

        "cusip": "cusip",

        "ticker": null,

        "recordTypeDisplay": "Price",

        "recordTypeKey": 3,

        "excludeCommonCustodian": false

        }'
      operationId: DownloadExclusions_CreateDownloadExcludeCommonEntityAsync
      parameters:
      - name: token
        in: header
        description: The token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
        description: The dto.
        required: true
  /v1/Confirm/Exclusions/CommonExclusions/Actions/Delete:
    put:
      tags:
      - Confirm/Exclusions
      operationId: DownloadExclusions_DeleteDownloadExcludeCommonByIdAsync
      parameters:
      - name: token
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Download exclusions delete download exclude common by id async
      x-summary-source: derived
  /v1/Confirm/Exclusions/CommonExclusions/Actions/Update/{id}:
    put:
      tags:
      - Confirm/Exclusions
      summary: Update the exclusion record
      description: 'Sample Request

        /Confirm/Exclusions/CommonExclusions/Actions/Update/16195

        {

        "id": 16195,

        "downloadFormatId": 17,

        "downloadFormat": "DataLynx",

        "cusip": "cusip",

        "ticker": null,

        "recordTypeDisplay": "Price",

        "recordTypeKey": 3,

        "excludeCommonCustodian": false

        }'
      operationId: DownloadExclusions_UpdateDownloadExcludeCommonEntityAsync
      parameters:
      - name: id
        in: path
        description: The key.
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto'
        description: The dto.
        required: true
  /v1/Confirm/Exclusions/Current:
    get:
      tags:
      - Confirm/Exclusions
      summary: Returns Download Exclusion Records
      operationId: DownloadExclusions_GetCurrentAsync
      parameters:
      - name: lastDownloadedDays
        in: query
        description: The last downloaded days.
        required: false
        schema:
          type: integer
          format: int32
      - name: accountNumber
        in: query
        description: The account number.
        required: false
        schema:
          type: string
      - name: cusip
        in: query
        description: The cusip.
        required: false
        schema:
          type: string
      - name: startDate
        in: query
        description: Optional. StartDate
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. EndDate
        required: false
        schema:
          type: string
          format: date-time
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCurrentDto'
                xml:
                  name: DownloadExcludeCurrentDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCurrentDto'
                xml:
                  name: DownloadExcludeCurrentDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCurrentDto'
                xml:
                  name: DownloadExcludeCurrentDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCurrentDto'
                xml:
                  name: DownloadExcludeCurrentDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCurrentDto'
                xml:
                  name: DownloadExcludeCurrentDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.DownloadExcludeCurrentDto'
                xml:
                  name: DownloadExcludeCurrentDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Confirm.NoteListDtoOfSystem.Int32:
      properties:
        keyList:
          items:
            type: integer
            format: int32
          type: array
        note:
          type: string
      xml:
        name: NoteListDto`1
      type: object
    OAS.WebApi.DTO.Confirm.DownloadExcludeCurrentDto:
      properties:
        downloadNameId:
          type: integer
          format: int32
        formatName:
          type: string
        fileDate:
          type: string
          format: date-time
        repNumber:
          type: string
        lastName:
          type: string
        id:
          type: integer
          format: int32
        downloadFormatId:
          type: integer
          format: int32
        downloadFormat:
          type: string
        accountNumber:
          type: string
        cusip:
          type: string
        notes:
          type: string
        advisorNotes:
          type: string
        isPriceExclusion:
          type: boolean
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        downloadSourceId:
          type: integer
          format: int32
        downloadSource:
          type: string
        fundFamilyName:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        nacSuppression:
          type: boolean
      xml:
        name: DownloadExcludeCurrentDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadExcludeCommonDto:
      properties:
        id:
          type: integer
          format: int32
        downloadFormatId:
          type: integer
          format: int32
        downloadFormat:
          type: string
        cusip:
          type: string
        ticker:
          type: string
        recordTypeDisplay:
          readOnly: true
          type: string
          enum:
          - Name
          - Position
          - Transaction
          - Price
          - Dividend
          - Product
          - NotImported
          - Header
          - Security
          - CorpAction
          - TranDetail
          - Generic
          - CostBasis
          - Beneficiary
          - StoredPerformance
          - Systematic
          - RMD
          - Banking
        recordTypeKey:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        excludeCommonCustodian:
          type: boolean
      xml:
        name: DownloadExcludeCommonDto
      type: object
    OAS.WebApi.DTO.Confirm.DownloadExcludeDto:
      properties:
        id:
          type: integer
          format: int32
        downloadFormatId:
          type: integer
          format: int32
        downloadFormat:
          type: string
        accountNumber:
          type: string
        cusip:
          type: string
        notes:
          type: string
        advisorNotes:
          type: string
        isPriceExclusion:
          type: boolean
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        downloadSourceId:
          type: integer
          format: int32
        downloadSource:
          type: string
        fundFamilyName:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        nacSuppression:
          type: boolean
      xml:
        name: DownloadExcludeDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
