openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Exclusion Sync API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/ExclusionSync
paths:
  /v1/Confirm/ExclusionSync:
    get:
      tags:
      - Confirm/ExclusionSync
      summary: Returns a list of recon job statuses
      operationId: ExclusionSync_Get
      parameters:
      - name: startDate
        in: query
        description: 'Optional. Default: null. If provided returns only recon job statuses with a process start date greater than date provided.'
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        description: 'Optional. Default: null. If provided returns only recon job statuses with a process start date less than date provided.'
        required: false
        schema:
          type: string
      - name: userTeamOnly
        in: query
        description: 'Optional. Default: false  If provided, the return will be limited to just the admin''s service team.'
        required: false
        schema:
          type: boolean
          default: false
      - name: serviceTeamId
        in: query
        description: 'Optional. Default: null  If provided, the return will be limited to the service team Id given.'
        required: false
        schema:
          type: integer
          format: int32
      - name: serviceTeamUserManagerId
        in: query
        description: 'Optional. Default: null  If provided, the return will be limited to the service teams assigned the the given Id.'
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
                xml:
                  name: ExclusionSyncDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
                xml:
                  name: ExclusionSyncDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
                xml:
                  name: ExclusionSyncDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
                xml:
                  name: ExclusionSyncDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
                xml:
                  name: ExclusionSyncDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
                xml:
                  name: ExclusionSyncDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Confirm/ExclusionSync/{key}:
    get:
      tags:
      - Confirm/ExclusionSync
      summary: Get ExclusionSyncDto Sync by key
      operationId: ExclusionSync_GetByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
      security:
      - Authorization: []
  /v1/Confirm/ExclusionSync/Action/SignOff:
    put:
      tags:
      - Confirm/ExclusionSync
      summary: Sign off ExclusionSync
      operationId: ExclusionSync_ExclusionSyncSignOffAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
                xml:
                  name: ExclusionSyncDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
                xml:
                  name: ExclusionSyncDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
                xml:
                  name: ExclusionSyncDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
                xml:
                  name: ExclusionSyncDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
                xml:
                  name: ExclusionSyncDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto'
                xml:
                  name: ExclusionSyncDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto'
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Confirm.Recon.SyncSignOffsDto:
      properties:
        syncIds:
          items:
            type: integer
            format: int64
          type: array
        syncType:
          type: string
          enum:
          - Daily
          - Weekly
          - Exclusion
          - Price
        managerSignOff:
          type: boolean
        syncNote:
          type: string
        priceNote:
          type: string
      xml:
        name: SyncSignOffsDto
      type: object
    OAS.WebApi.DTO.Confirm.Recon.ExclusionSyncDto:
      properties:
        statusIcon:
          readOnly: true
          type: string
        id:
          type: integer
          format: int64
        ruleId:
          type: integer
          format: int32
        downloadExcludeId:
          type: integer
          format: int32
        syncSignOffId:
          type: integer
          format: int64
        lastAlertDate:
          type: string
          format: date-time
        syncBeginDate:
          type: string
          format: date-time
        syncEndDate:
          type: string
          format: date-time
        exclusionCreatedDate:
          type: string
          format: date-time
        formatName:
          type: string
        serviceTeamName:
          type: string
        clientName:
          type: string
        analystLoginUserId:
          type: string
        managerLoginUserId:
          type: string
        syncSignOffDisplay:
          type: string
        syncSignOffNote:
          type: string
        managerSyncSignOffDisplay:
          type: string
        managerSignOffNote:
          type: string
        exclusionNote:
          type: string
        accountCode:
          type: string
        cusip:
          type: string
        exclusionCreatedBy:
          type: string
        exclusionEditedDate:
          type: string
          format: date-time
        exclusionEditedBy:
          type: string
      xml:
        name: ExclusionSyncDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
