openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Master Payout Schedule API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/MasterPayoutSchedule
paths:
  /v1/Billing/MasterPayoutSchedule:
    get:
      tags:
      - Billing/MasterPayoutSchedule
      summary: Get all master payout schedules with filter option by Id or Name The return is…
      operationId: MasterPayoutSchedules_GetAllAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: filter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleDto'
                xml:
                  name: MasterPayoutScheduleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleDto'
                xml:
                  name: MasterPayoutScheduleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleDto'
                xml:
                  name: MasterPayoutScheduleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleDto'
                xml:
                  name: MasterPayoutScheduleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleDto'
                xml:
                  name: MasterPayoutScheduleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleDto'
                xml:
                  name: MasterPayoutScheduleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Billing/MasterPayoutSchedule
      summary: Modify multiple master payout schedules
      operationId: MasterPayoutSchedules_UpdateEntitiesAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
                xml:
                  name: MasterPayoutScheduleFullDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
                xml:
                  name: MasterPayoutScheduleFullDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
                xml:
                  name: MasterPayoutScheduleFullDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
                xml:
                  name: MasterPayoutScheduleFullDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
                xml:
                  name: MasterPayoutScheduleFullDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
                xml:
                  name: MasterPayoutScheduleFullDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
              xml:
                name: MasterPayoutScheduleFullDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
              xml:
                name: MasterPayoutScheduleFullDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
              xml:
                name: MasterPayoutScheduleFullDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
              xml:
                name: MasterPayoutScheduleFullDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
              xml:
                name: MasterPayoutScheduleFullDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
              xml:
                name: MasterPayoutScheduleFullDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
              xml:
                name: MasterPayoutScheduleFullDto
                wrapped: true
              type: array
        required: true
    post:
      tags:
      - Billing/MasterPayoutSchedule
      summary: Create master payout schedule
      operationId: MasterPayoutSchedules_CreateEntityAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
        required: true
  /v1/Billing/MasterPayoutSchedule/{key}:
    get:
      tags:
      - Billing/MasterPayoutSchedule
      summary: Get master payout schedule by key
      operationId: MasterPayoutSchedules_GetEntityByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
      security:
      - Authorization: []
    put:
      tags:
      - Billing/MasterPayoutSchedule
      summary: Modify master payout schedule
      operationId: MasterPayoutSchedules_UpdateEntityAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto'
        required: true
  /v1/Billing/MasterPayoutSchedule/BillEntities/ByAccount/{key}:
    get:
      tags:
      - Billing/MasterPayoutSchedule
      summary: Get master payout schedule by key
      operationId: MasterPayoutSchedules_getEntityList
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/MasterPayoutSchedule/BillEntities/ByClient/{key}:
    get:
      tags:
      - Billing/MasterPayoutSchedule
      summary: Get master payout schedule by key
      operationId: MasterPayoutSchedules_getEntityListbyClient
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/MasterPayoutSchedule/Delete:
    post:
      tags:
      - Billing/MasterPayoutSchedule
      operationId: MasterPayoutSchedules_DeleteItemAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Master payout schedules delete item async
      x-summary-source: derived
  /v1/Billing/MasterPayoutSchedule/MasterPayoutScheduleDetailHistory:
    get:
      tags:
      - Billing/MasterPayoutSchedule
      summary: Get a list of MasterBillScheduleDetail History
      operationId: MasterPayoutSchedules_Get
      parameters:
      - name: scheduleId
        in: query
        description: 'Required. Default: null, returns nothing.'
        required: false
        schema:
          type: integer
          format: int32
      - name: scheduleDetailId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleDetailHistoryDto'
                xml:
                  name: MasterPayoutScheduleDetailHistoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleDetailHistoryDto'
                xml:
                  name: MasterPayoutScheduleDetailHistoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleDetailHistoryDto'
                xml:
                  name: MasterPayoutScheduleDetailHistoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleDetailHistoryDto'
                xml:
                  name: MasterPayoutScheduleDetailHistoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleDetailHistoryDto'
                xml:
                  name: MasterPayoutScheduleDetailHistoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleDetailHistoryDto'
                xml:
                  name: MasterPayoutScheduleDetailHistoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/MasterPayoutSchedule/MasterPayoutScheduleHistory:
    get:
      tags:
      - Billing/MasterPayoutSchedule
      summary: Get master payout schedule history by key
      operationId: MasterPayoutSchedules_GetMasterPayoutScheduleHistoryByKey
      parameters:
      - name: scheduleId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleHistoryDto'
                xml:
                  name: MasterPayoutScheduleHistoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleHistoryDto'
                xml:
                  name: MasterPayoutScheduleHistoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleHistoryDto'
                xml:
                  name: MasterPayoutScheduleHistoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleHistoryDto'
                xml:
                  name: MasterPayoutScheduleHistoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleHistoryDto'
                xml:
                  name: MasterPayoutScheduleHistoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleHistoryDto'
                xml:
                  name: MasterPayoutScheduleHistoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/MasterPayoutSchedule/MasterPayoutSchedulesForAcctBD/{accountId}:
    get:
      tags:
      - Billing/MasterPayoutSchedule
      summary: Returns Master Payout schedules limited to given accounts associated broker…
      operationId: MasterPayoutSchedules_MasterPayoutSchedulesForAcctBDAsync
      parameters:
      - name: accountId
        in: path
        description: Account ID to filter schedules for
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleMasterPayoutScheduleDto'
                xml:
                  name: SimpleMasterPayoutScheduleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleMasterPayoutScheduleDto'
                xml:
                  name: SimpleMasterPayoutScheduleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleMasterPayoutScheduleDto'
                xml:
                  name: SimpleMasterPayoutScheduleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleMasterPayoutScheduleDto'
                xml:
                  name: SimpleMasterPayoutScheduleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleMasterPayoutScheduleDto'
                xml:
                  name: SimpleMasterPayoutScheduleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleMasterPayoutScheduleDto'
                xml:
                  name: SimpleMasterPayoutScheduleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/MasterPayoutSchedule/Simple:
    get:
      tags:
      - Billing/MasterPayoutSchedule
      summary: Get simple entities for master payout schedules The return is limited to pages…
      operationId: MasterPayoutSchedules_GetSimpleMasterPayoutSchedules
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleMasterPayoutScheduleDto'
                xml:
                  name: SimpleMasterPayoutScheduleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleMasterPayoutScheduleDto'
                xml:
                  name: SimpleMasterPayoutScheduleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleMasterPayoutScheduleDto'
                xml:
                  name: SimpleMasterPayoutScheduleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleMasterPayoutScheduleDto'
                xml:
                  name: SimpleMasterPayoutScheduleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleMasterPayoutScheduleDto'
                xml:
                  name: SimpleMasterPayoutScheduleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleMasterPayoutScheduleDto'
                xml:
                  name: SimpleMasterPayoutScheduleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Billing.SimpleMasterPayoutScheduleDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleMasterPayoutScheduleDto
      type: object
    OAS.WebApi.DTO.Billing.MasterPayoutScheduleDetailDto:
      properties:
        id:
          type: integer
          format: int32
        billEntityId:
          type: integer
          format: int32
        billEntityDescription:
          type: string
        billScheduleId:
          type: integer
          format: int32
        billScheduleName:
          type: string
        isRemainder:
          type: boolean
        createDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
      xml:
        name: MasterPayoutScheduleDetailDto
      type: object
    OAS.WebApi.DTO.Billing.MasterPayoutScheduleDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isPoints:
          type: boolean
        description:
          type: string
        isDefault:
          type: boolean
        editDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createDate:
          type: string
          format: date-time
        createdBy:
          type: string
      xml:
        name: MasterPayoutScheduleDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Billing.MasterPayoutScheduleDetailHistoryDto:
      properties:
        id:
          type: integer
          format: int32
        billEntityId:
          type: integer
          format: int32
        billEntityDescription:
          type: string
        billScheduleId:
          type: integer
          format: int32
        billScheduleName:
          type: string
        isRemainder:
          type: boolean
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
      xml:
        name: MasterPayoutScheduleDetailHistoryDto
      type: object
    OAS.WebApi.DTO.Billing.MasterPayoutScheduleHistoryDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isPoints:
          type: boolean
        description:
          type: string
        isDefault:
          type: boolean
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
      xml:
        name: MasterPayoutScheduleHistoryDto
      type: object
    OAS.WebApi.DTO.Billing.MasterPayoutScheduleFullDto:
      properties:
        details:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.MasterPayoutScheduleDetailDto'
          xml:
            name: MasterPayoutScheduleDetailDto
            wrapped: true
          type: array
        id:
          type: integer
          format: int32
        name:
          type: string
        isPoints:
          type: boolean
        description:
          type: string
        isDefault:
          type: boolean
        editDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createDate:
          type: string
          format: date-time
        createdBy:
          type: string
      xml:
        name: MasterPayoutScheduleFullDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
