openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Apps API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Apps
paths:
  /v1/Integrations/Apps/Management/PartnerApps:
    get:
      tags:
      - Integrations/Apps
      operationId: AppManagement_GetPartnerAppsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: App management get partner apps async
      x-summary-source: derived
  /v1/Integrations/Apps/Management/PartnerApps/{partnerAppId}:
    get:
      tags:
      - Integrations/Apps
      operationId: AppManagement_GetPartnerAppByIdAsync
      parameters:
      - name: partnerAppId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: App management get partner app by id async
      x-summary-source: derived
  /v1/Integrations/Apps/Management/PartnerApps/{partnerAppId}/Whitelist:
    get:
      tags:
      - Integrations/Apps
      operationId: AppManagement_GetWhitelistedUrlsByIdAsync
      parameters:
      - name: partnerAppId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: App management get whitelisted urls by id async
      x-summary-source: derived
    put:
      tags:
      - Integrations/Apps
      operationId: AppManagement_UpdateWhitelistedUrlAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: partnerAppId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
        required: true
      summary: App management update whitelisted url async
      x-summary-source: derived
    post:
      tags:
      - Integrations/Apps
      operationId: AppManagement_CreateWhitelistUrlAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: partnerAppId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Security.PartnerAppUrlWhitelist'
        required: true
      summary: App management create whitelist url async
      x-summary-source: derived
  /v1/Integrations/Apps/Management/PartnerApps/{partnerAppId}/Whitelist/{whitelistEntryId}:
    delete:
      tags:
      - Integrations/Apps
      operationId: AppManagement_DeleteWhitelistedUrlAsync
      parameters:
      - name: partnerAppId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: whitelistEntryId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: App management delete whitelisted url async
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.Security.PartnerAppUrlWhitelist:
      required:
      - id
      - partnerAppId
      - url
      - sslRequired
      properties:
        id:
          type: integer
          format: int32
        partnerAppId:
          type: integer
          format: int32
        url:
          type: string
        sslRequired:
          type: boolean
      xml:
        name: PartnerAppUrlWhitelist
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
