openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Custodian Documents API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/CustodianDocuments
paths:
  /v1/Integrations/CustodianDocuments/Advisor/Account/{accountId}:
    get:
      tags:
      - Integrations/CustodianDocuments
      operationId: CustodianDocumentsAdvisor_GetCustodianForAccountAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian documents advisor get custodian for account async
      x-summary-source: derived
  /v1/Integrations/CustodianDocuments/Advisor/Client/{clientId}:
    get:
      tags:
      - Integrations/CustodianDocuments
      operationId: CustodianDocumentsAdvisor_GetCustodianForClientAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian documents advisor get custodian for client async
      x-summary-source: derived
  /v1/Integrations/CustodianDocuments/Advisor/Custodian/{custodian}/Account/{accountId}:
    get:
      tags:
      - Integrations/CustodianDocuments
      operationId: CustodianDocumentsAdvisor_GetDocumentListForAccountAsync
      parameters:
      - name: custodian
        in: path
        required: true
        schema:
          type: string
          enum:
          - Pershing
          - Apex
          - TD
          - Schwab
          - Fidelity
          - GoldmanSachs
          - Axos
          - Undefined
          - Brinker_Fidelity
          - Arch
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian documents advisor get document list for account async
      x-summary-source: derived
  /v1/Integrations/CustodianDocuments/Advisor/Custodian/{custodian}/Client/{clientId}:
    get:
      tags:
      - Integrations/CustodianDocuments
      operationId: CustodianDocumentsAdvisor_GetDocumentListForClientAsync
      parameters:
      - name: custodian
        in: path
        required: true
        schema:
          type: string
          enum:
          - Pershing
          - Apex
          - TD
          - Schwab
          - Fidelity
          - GoldmanSachs
          - Axos
          - Undefined
          - Brinker_Fidelity
          - Arch
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian documents advisor get document list for client async
      x-summary-source: derived
  /v1/Integrations/CustodianDocuments/Advisor/Download/{custodian}/{documentType}/{id}:
    get:
      tags:
      - Integrations/CustodianDocuments
      operationId: CustodianDocumentsAdvisor_AdvisorGetDocumentAsync
      parameters:
      - name: custodian
        in: path
        required: true
        schema:
          type: string
          enum:
          - Pershing
          - Apex
          - TD
          - Schwab
          - Fidelity
          - GoldmanSachs
          - Axos
          - Undefined
          - Brinker_Fidelity
          - Arch
      - name: documentType
        in: path
        required: true
        schema:
          type: string
          enum:
          - GENERAL_DOCUMENT
          - STATEMENTS
          - CONFIRMS
          - TAX_STATEMENTS
          - NOTIFICATIONS
          - LETTERS
          - CORRESPONDENCE
          - TRADES
          - THIRD_PARTY_REPORTS
          - Tax1099
          - Tax1099R
          - Tax5489
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: fileName
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: custodianToken
        in: query
        required: false
        schema:
          type: string
      - name: accountNumber
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: accountType
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Custodian documents advisor advisor get document async
      x-summary-source: derived
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
