openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Homepage Dashboard API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/HomepageDashboard
paths:
  /v1/Utility/HomepageDashboard/Export/Excel:
    post:
      tags:
      - Utility/HomepageDashboard
      operationId: ExcelExporter_ExcelExporterAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.HomePageDashboard.Services.TableData'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.HomePageDashboard.Services.TableData'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.HomePageDashboard.Services.TableData'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.HomePageDashboard.Services.TableData'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.HomePageDashboard.Services.TableData'
        required: true
      summary: Excel exporter excel exporter async
      x-summary-source: derived
components:
  schemas:
    OAS.DataProcess.HomePageDashboard.Services.TableData:
      properties:
        name:
          type: string
        columnDefs:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.HomePageDashboard.Services.ColumnDef'
          xml:
            name: ColumnDef
            wrapped: true
          type: array
        groups:
          items:
            type: string
            enum:
            - Undefined
            - Payee
            - BrokerDealer
            - Wholesaler
            - Representative
            - Client
            - Registration
            - Account
            - Asset
            - Product
            - Transaction
            - Distribution
            - FundFamily
            - Personal
            - PayoutSchedule
            - FeeSchedule
            - Platform
            - RIA
            - Custodian
            - Journal
            - SWP
            - Other
            - NASD
            - CashFunding
            - Bill
            - BillInstance
            - BillMasterPayout
            - Model
            - NewAccountClient
            - NewAccountReg
            - DownloadExclusion
            - Price
            - UserDefinedFields
            - NewAcctUserDef
            - ManagersMessage
            - IndexEntry
            - PerformanceFee
            - PerformancePayout
            - NewAccountAsset
            - Owner
            - Administrator
            - OutsideClient
            - SubAdvisor
            - ModelRange
            - FaxCover
            - Fax
            - OneTimeDistribution
            - WebLogin
            - Plan401k
            - BillAccountItem
            - ThirdPartyAdministrator
            - CrmContact
            - Participant
            - PlanSponsor
            - CRMEmailList
            - ThirdParty
            - WorkflowItem
            - WorkflowAction
            - ServiceAccount
            - EntityOption
            - HouseholdMember
            - DownloadSymbol
            - IndexBlend
            - NABenefit
            - AggregateModel
            - CompositeRange
            - RepAccountManager
            - ScriptsScrubs
            - ServiceAccountBrokerDealer
            - BusinessLine
            - Blob
            - AssetClass
            - ServiceAccountLite
            - NewAcctUserDefDtl
            - Branch
            - AssetLevelStrategy
            - Report
            - DataQueries
            - PriceUnUsed
            - ModelItem
            - AssetCategory
            - RiskCategory
            - PlatformRange
            - Dividend
            - RegistrationType
            - CustodianCommon
            - RepState
            - QpeDashboard
            - ReportBatch
            - ModelGroup
            - ShareClass
            - DownloadFile
            - User
            - DynamicGrouping
            - ProductType
            - ProductSubType
            - InvestmentObjective
            - PortfolioGroup
            - OrionRealizedLot
            - OrionUnrealizedLot
            - CustodianRealizedLot
            - CustodianUnrealizedLot
            - AssetCategoryParent
            - TaxType
            - AuditRequest
            - AuditRequestLetter
            - ManagedUnmanaged
            - AuditRowAttachment
            - InformPolicy
            - InformAnswerAttachment
            - UserDetail
            - BillPayMethod
            - ModelInclusion
            - CommunityModel
            - EclipseModel
            - Global
            - ClientCategory
            - Taxability
            - Qualified
            - TaxID
            - BondState
            - ProductTaxability
            - TargetAllocation
            - RIATable
            - ProductRegion
            - ProductPropertyType
            - ProductManagerAip
            - MoodyRating
            - SPRating
            - BondMaturityYear
            - InterestRate
            - RegistrationTaxType
            - MaturityPeriod
            - NewHousehold
            - BillPayoutDashboardPayment
            - OptionLevel
            - MarginAgreement
            - PrimeBrokerage
            - InformHistoricalDocument
            - SleeveStrategyAggregate
            - MorningstarSector
            - BillEntity
            - SleeveStrategy
            - MorningstarGeography
            - GenericProspect
            - BillEntityType
            - AdditionalRep
            - BillPayoutReport
            - ProductSubHolding
            - DownloadSource
            - ModelVsActual
            - ProductVintageYear
            - EclipsePortfolio
            - Country
            - Currency
            - SecurityClassification1
            - SecurityClassification2
            - SecurityClassification3
            - SecurityClassification4
            - SecurityClassification5
            - SecurityClassification6
            - SecurityClassification7
            - SecurityClassification8
            - SecurityClassification9
            - SecurityClassification10
            - SecurityClassification11
            - SecurityClassification12
            - SecurityClassification13
            - SecurityClassification14
            - SecurityClassification15
            - SecurityClassification16
            - SecurityClassification17
            - SecurityClassification18
            - SecurityClassification19
            - SecurityClassification20
            - SecurityClassification21
            - SecurityClassification22
            - SecurityClassification23
            - SecurityClassification24
            - SecurityClassification25
            - DownloadRecord
            - CustomGrouping
            - Cotenant
            - AllocatedUnrealizedCostBasis
            - AllocatedRealizedCostBasis
          xml:
            name: Entity
            wrapped: true
          type: array
        rows:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.HomePageDashboard.Services.TableRow'
          xml:
            name: TableRow
            wrapped: true
          type: array
      xml:
        name: TableData
      type: object
    OAS.DataProcess.HomePageDashboard.Services.ColumnDef:
      properties:
        displayName:
          type: string
        field:
          type: string
      xml:
        name: ColumnDef
      type: object
    OAS.DataProcess.HomePageDashboard.Services.TableRow:
      properties:
        data:
          type: object
        children:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.HomePageDashboard.Services.TableRow'
          xml:
            name: TableRow
            wrapped: true
          type: array
      xml:
        name: TableRow
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
