openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Apex API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Apex
paths:
  /v1/Integrations/Apex/Account:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_AccountsAsync
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex accounts async
      x-summary-source: derived
  /v1/Integrations/Apex/Account/{id}:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_AccountAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex account async
      x-summary-source: derived
  /v1/Integrations/Apex/AccountsDisposition:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_AccountsDispositionAsync
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex accounts disposition async
      x-summary-source: derived
  /v1/Integrations/Apex/ACHRelationship/{id}/{type}/{direction}:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_ACHRelationshipAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: type
        in: path
        required: true
        schema:
          type: string
      - name: direction
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex ACH relationship async
      x-summary-source: derived
  /v1/Integrations/Apex/AutomatedAccount:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_GetSamplePostRequestAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex get sample post request async
      x-summary-source: derived
    post:
      tags:
      - Integrations/Apex
      operationId: Apex_PostApexAccountAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto'
        required: true
      summary: Apex post apex account async
      x-summary-source: derived
  /v1/Integrations/Apex/Download/{snapId}:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_DownloadAsync
      parameters:
      - name: snapId
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex download async
      x-summary-source: derived
  /v1/Integrations/Apex/File/{apexAccountNumber}:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_GetFilesAsync
      parameters:
      - name: apexAccountNumber
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex get files async
      x-summary-source: derived
  /v1/Integrations/Apex/Investigation:
    post:
      tags:
      - Integrations/Apex
      operationId: Apex_PostInvestigationAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexFileUploadDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexFileUploadDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexFileUploadDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexFileUploadDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexFileUploadDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexFileUploadDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexFileUploadDto'
        required: true
      summary: Apex post investigation async
      x-summary-source: derived
  /v1/Integrations/Apex/Investigation/{accountRequestId}:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_GetInvestigationAsync
      parameters:
      - name: accountRequestId
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex get investigation async
      x-summary-source: derived
  /v1/Integrations/Apex/Investigation/{sketchId}:
    delete:
      tags:
      - Integrations/Apex
      operationId: Apex_DeleteInvestigationAsync
      parameters:
      - name: sketchId
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex delete investigation async
      x-summary-source: derived
  /v1/Integrations/Apex/Mapping:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_GetMappingsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex get mappings async
      x-summary-source: derived
  /v1/Integrations/Apex/Mapping/{id}/{accountName}:
    post:
      tags:
      - Integrations/Apex
      operationId: Apex_PostMappingsAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: accountName
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex post mappings async
      x-summary-source: derived
  /v1/Integrations/Apex/Message/{apexAccountNumber}:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_GetMessagessAsync
      parameters:
      - name: apexAccountNumber
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex get messagess async
      x-summary-source: derived
  /v1/Integrations/Apex/NewMessages/{apexAccountNumber}:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_GetNewMessageAsync
      parameters:
      - name: apexAccountNumber
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex get new message async
      x-summary-source: derived
  /v1/Integrations/Apex/RepBranchCode:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_GetRepBranchMappingAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex get rep branch mapping async
      x-summary-source: derived
    post:
      tags:
      - Integrations/Apex
      operationId: Apex_PostRepBranchAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.RepBranchDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.RepBranchDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.RepBranchDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.RepBranchDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.RepBranchDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.RepBranchDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.RepBranchDto'
        required: true
      summary: Apex post rep branch async
      x-summary-source: derived
  /v1/Integrations/Apex/RepBranchCode/Client/{clientId}:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_GetRepBranchCodeAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex get rep branch code async
      x-summary-source: derived
  /v1/Integrations/Apex/Setup/Firm:
    get:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_GetAllApexIntegrationFirmsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex setup get all apex integration firms async
      x-summary-source: derived
    post:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_CreateFirmForApexAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
        required: true
      summary: Apex setup create firm for apex async
      x-summary-source: derived
  /v1/Integrations/Apex/Setup/Firm/{alClientId}:
    delete:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_DeleteFirmAsync
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex setup delete firm async
      x-summary-source: derived
  /v1/Integrations/Apex/Setup/HighWatermark/{alClientId}:
    get:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_GetApexFirmHighWatermarksAsync
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex setup get apex firm high watermarks async
      x-summary-source: derived
    put:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_UpsertHighWatermarksAsync
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
        required: true
      summary: Apex setup upsert high watermarks async
      x-summary-source: derived
    post:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_PostV1IntegrationsApexSetupHighWatermarkByAlClientId
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark'
              xml:
                name: ApexHighWaterMark
                wrapped: true
              type: array
        required: true
      summary: Apex setup post V1 integrations apex setup high watermark by al client id
      x-summary-source: derived
  /v1/Integrations/Apex/Setup/SystemConfig/{alClientId}:
    get:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_GetApexSystemConfigAsync
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex setup get apex system config async
      x-summary-source: derived
    put:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_UpsertSystemConfigAsync
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
        required: true
      summary: Apex setup upsert system config async
      x-summary-source: derived
    post:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_PostV1IntegrationsApexSetupSystemConfigByAlClientId
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration'
        required: true
      summary: Apex setup post V1 integrations apex setup system config by al client id
      x-summary-source: derived
  /v1/Integrations/Apex/Setup/TestSettings:
    get:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_TestSettingsForApexByIdAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex setup test settings for apex by id async
      x-summary-source: derived
    post:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_TestSettingsForApexAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto'
        required: true
      summary: Apex setup test settings for apex async
      x-summary-source: derived
  /v1/Integrations/Apex/Setup/UserConfig/{alClientId}:
    get:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_GetApexUserConfigAsync
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex setup get apex user config async
      x-summary-source: derived
    put:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_UpsertUserConfigAsync
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Apex.DTOs.ApexUserToken'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Apex.DTOs.ApexUserToken'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Apex.DTOs.ApexUserToken'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Apex.DTOs.ApexUserToken'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Apex.DTOs.ApexUserToken'
        required: true
      summary: Apex setup upsert user config async
      x-summary-source: derived
    post:
      tags:
      - Integrations/Apex
      operationId: ApexSetup_PostV1IntegrationsApexSetupUserConfigByAlClientId
      parameters:
      - name: alClientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Apex.DTOs.ApexUserToken'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Apex.DTOs.ApexUserToken'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Apex.DTOs.ApexUserToken'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Apex.DTOs.ApexUserToken'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.Apex.DTOs.ApexUserToken'
        required: true
      summary: Apex setup post V1 integrations apex setup user config by al client id
      x-summary-source: derived
  /v1/Integrations/Apex/Transaction:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_TransactionsAsync
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex transactions async
      x-summary-source: derived
  /v1/Integrations/Apex/Transaction/{accountId}:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_TransactionsByIdAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: take
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex transactions by id async
      x-summary-source: derived
  /v1/Integrations/Apex/TransactionDisposition:
    get:
      tags:
      - Integrations/Apex
      operationId: Apex_TransactionDispositionAsync
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Apex transaction disposition async
      x-summary-source: derived
components:
  schemas:
    Microsoft.IdentityModel.Tokens.SecurityKey:
      properties:
        keySize:
          readOnly: true
          type: integer
          format: int32
        keyId:
          type: string
        cryptoProviderFactory:
          $ref: '#/components/schemas/Microsoft.IdentityModel.Tokens.CryptoProviderFactory'
      xml:
        name: SecurityKey
      type: object
    Microsoft.IdentityModel.Tokens.EncryptingCredentials:
      properties:
        alg:
          readOnly: true
          type: string
        enc:
          readOnly: true
          type: string
        keyExchangePublicKey:
          $ref: '#/components/schemas/Microsoft.IdentityModel.Tokens.SecurityKey'
        cryptoProviderFactory:
          $ref: '#/components/schemas/Microsoft.IdentityModel.Tokens.CryptoProviderFactory'
        setDefaultCtyClaim:
          type: boolean
        key:
          $ref: '#/components/schemas/Microsoft.IdentityModel.Tokens.SecurityKey'
          readOnly: true
      xml:
        name: EncryptingCredentials
      type: object
    Microsoft.IdentityModel.Tokens.ICryptoProvider:
      properties: {}
      xml:
        name: ICryptoProvider
      type: object
    OAS.DataProcess.Integrations.Apex.DTOs.ApexAccountOpeningDto:
      properties:
        OrionDatabaseId:
          type: integer
          format: int32
        OrionHouseholdId:
          type: integer
          format: int32
        ApexCorrespondentCode:
          type: string
        ApexBranch:
          type: string
        ApexRepCode:
          type: string
        ApexAccountRequestId:
          type: string
        ApexAccountType:
          type: string
        ApexCustomerType:
          type: string
        ApexIraType:
          type: string
        ApexAccountNumber:
          type: string
        ApexAccountStatus:
          type: string
        RetirementAccountBeneficiaries:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.RetirementAccountBeneficiary'
          xml:
            name: RetirementAccountBeneficiary
            wrapped: true
          type: array
        Household:
          $ref: '#/components/schemas/OAS.DataProcess.Integrations.Apex.DTOs.ApexProspectClient'
      xml:
        name: ApexAccountOpeningDto
      type: object
    OAS.DataProcess.Integrations.Apex.DTOs.ApexHighWaterMark:
      properties:
        type:
          type: string
          enum:
          - ACCOUNT_STATUS
          - ACH_TRANSACTION
          - INVESTIGATION_STATUS
          - NOC
          - ACH_TRANSACTION_V2
          - NOC_V2
          - ACAT
        highWaterMark:
          type: integer
          format: int64
        correspondentCode:
          type: string
        sinceDateTime:
          type: string
          format: date-time
        alClientId:
          type: integer
          format: int32
      xml:
        name: ApexHighWaterMark
      type: object
    Microsoft.IdentityModel.Tokens.CryptoProviderCache:
      properties: {}
      xml:
        name: CryptoProviderCache
      type: object
    OAS.DataProcess.Integrations.Apex.DTOs.ApexDocumentSystemConfiguration:
      properties:
        alClientId:
          type: integer
          format: int32
        apexCustomerId:
          type: string
        apexKey:
          type: string
        baseUrl:
          type: string
      xml:
        name: ApexDocumentSystemConfiguration
      type: object
    Microsoft.IdentityModel.Tokens.SigningCredentials:
      properties:
        algorithm:
          readOnly: true
          type: string
        digest:
          readOnly: true
          type: string
        cryptoProviderFactory:
          $ref: '#/components/schemas/Microsoft.IdentityModel.Tokens.CryptoProviderFactory'
        key:
          $ref: '#/components/schemas/Microsoft.IdentityModel.Tokens.SecurityKey'
          readOnly: true
        kid:
          readOnly: true
          type: string
      xml:
        name: SigningCredentials
      type: object
    OAS.DataProcess.Integrations.Apex.Code.RepBranchDto:
      properties:
        firmDefault:
          type: boolean
        orionRepId:
          type: integer
          format: int32
        apexRepBranchId:
          type: integer
          format: int32
        repName:
          readOnly: true
          type: string
        repCode:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        branchCode:
          type: string
      xml:
        name: RepBranchDto
      type: object
    Microsoft.IdentityModel.Tokens.CryptoProviderFactory:
      properties:
        cryptoProviderCache:
          $ref: '#/components/schemas/Microsoft.IdentityModel.Tokens.CryptoProviderCache'
          readOnly: true
        customCryptoProvider:
          $ref: '#/components/schemas/Microsoft.IdentityModel.Tokens.ICryptoProvider'
        cacheSignatureProviders:
          type: boolean
          default: true
        signatureProviderObjectPoolCacheSize:
          type: integer
          format: int32
      xml:
        name: CryptoProviderFactory
      type: object
    OAS.DataProcess.Integrations.Apex.DTOs.ApexFileUploadDto:
      required:
      - apexAccountNumber
      - sketchId
      properties:
        apexAccountNumber:
          type: string
        sketchId:
          type: string
        description:
          type: string
        documentTag:
          type: string
          enum:
          - SIGNATURE_IMAGE
          - ID_DOCUMENT
          - AFFILIATED_APPROVAL
          - DOCUMENT
          - OTHER
      xml:
        name: ApexFileUploadDto
      type: object
    System.IdentityModel.Tokens.Jwt.JwtSecurityToken:
      properties:
        actor:
          readOnly: true
          type: string
        audiences:
          items:
            type: string
          readOnly: true
          type: array
        claims:
          items:
            $ref: '#/components/schemas/System.Security.Claims.Claim'
          readOnly: true
          xml:
            name: Claim
            wrapped: true
          type: array
        encodedHeader:
          readOnly: true
          type: string
        encodedPayload:
          readOnly: true
          type: string
        header:
          additionalProperties:
            type: object
          readOnly: true
          type: object
        id:
          readOnly: true
          type: string
        issuer:
          readOnly: true
          type: string
        payload:
          additionalProperties:
            type: object
          readOnly: true
          type: object
        innerToken:
          $ref: '#/components/schemas/System.IdentityModel.Tokens.Jwt.JwtSecurityToken'
          readOnly: true
        rawAuthenticationTag:
          readOnly: true
          type: string
        rawCiphertext:
          readOnly: true
          type: string
        rawData:
          readOnly: true
          type: string
        rawEncryptedKey:
          readOnly: true
          type: string
        rawInitializationVector:
          readOnly: true
          type: string
        rawHeader:
          readOnly: true
          type: string
        rawPayload:
          readOnly: true
          type: string
        rawSignature:
          readOnly: true
          type: string
        securityKey:
          $ref: '#/components/schemas/Microsoft.IdentityModel.Tokens.SecurityKey'
          readOnly: true
        signatureAlgorithm:
          readOnly: true
          type: string
        signingCredentials:
          $ref: '#/components/schemas/Microsoft.IdentityModel.Tokens.SigningCredentials'
          readOnly: true
        encryptingCredentials:
          $ref: '#/components/schemas/Microsoft.IdentityModel.Tokens.EncryptingCredentials'
          readOnly: true
        signingKey:
          $ref: '#/components/schemas/Microsoft.IdentityModel.Tokens.SecurityKey'
        subject:
          readOnly: true
          type: string
        validFrom:
          readOnly: true
          type: string
          format: date-time
        validTo:
          readOnly: true
          type: string
          format: date-time
        issuedAt:
          readOnly: true
          type: string
          format: date-time
      xml:
        name: JwtSecurityToken
      type: object
    OAS.DataProcess.Integrations.Apex.Code.ApexFirmDto:
      required:
      - alClientId
      - correspondenceCode
      - apexCustomerId
      - ApexKey
      - documentBaseUrl
      - apiBaseUrl
      - user
      - secret
      properties:
        alClientId:
          type: integer
          format: int32
        correspondenceCode:
          type: string
          pattern: ^[a-zA-Z0-9,-._, ]+$
        apexCustomerId:
          type: string
        ApexKey:
          type: string
        documentBaseUrl:
          type: string
        apiBaseUrl:
          type: string
        user:
          type: string
        secret:
          type: string
      xml:
        name: ApexFirmDto
      type: object
    OAS.DataProcess.Integrations.Apex.DTOs.ApexProspectClient:
      properties:
        RepId:
          type: integer
          format: int32
        ModelId:
          type: integer
          format: int32
        FirstName:
          type: string
        LastName:
          type: string
        Phone:
          type: string
        Address:
          type: string
        City:
          type: string
        Country:
          type: string
        State:
          type: string
        ZipCode:
          type: string
        DateOfBirth:
          type: string
        Email:
          type: string
        SSN:
          type: string
        JobTitle:
          type: string
      xml:
        name: ApexProspectClient
      type: object
    System.Security.Claims.Claim:
      properties:
        issuer:
          readOnly: true
          type: string
        originalIssuer:
          readOnly: true
          type: string
        properties:
          additionalProperties:
            type: string
          readOnly: true
          type: object
        subject:
          $ref: '#/components/schemas/System.Security.Claims.ClaimsIdentity'
          readOnly: true
        type:
          readOnly: true
          type: string
        value:
          readOnly: true
          type: string
        valueType:
          readOnly: true
          type: string
      xml:
        name: Claim
      type: object
    OAT.Integrations.Apex.DTOs.ApexUserToken:
      properties:
        user:
          type: string
        secret:
          type: string
        baseUrl:
          type: string
        correspondentCode:
          type: string
        token:
          $ref: '#/components/schemas/System.IdentityModel.Tokens.Jwt.JwtSecurityToken'
      xml:
        name: ApexUserToken
      type: object
    OAS.DataProcess.Integrations.Apex.DTOs.RetirementAccountBeneficiary:
      properties:
        GivenName:
          type: string
        FamilyName:
          type: string
        DateOfBirth:
          type: string
          format: date-time
        BeneficiaryType:
          type: string
        Relationship:
          type: string
        SocialSecurityNumber:
          type: string
        SharePercent:
          type: integer
          format: int64
      xml:
        name: RetirementAccountBeneficiary
      type: object
    System.Security.Claims.ClaimsIdentity:
      properties:
        authenticationType:
          readOnly: true
          type: string
        isAuthenticated:
          readOnly: true
          type: boolean
        actor:
          $ref: '#/components/schemas/System.Security.Claims.ClaimsIdentity'
        bootstrapContext:
          type: object
        claims:
          items:
            $ref: '#/components/schemas/System.Security.Claims.Claim'
          readOnly: true
          xml:
            name: Claim
            wrapped: true
          type: array
        label:
          type: string
        name:
          readOnly: true
          type: string
        nameClaimType:
          readOnly: true
          type: string
        roleClaimType:
          readOnly: true
          type: string
      xml:
        name: ClaimsIdentity
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
