openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Performance/Maintenance API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Performance/Maintenance
paths:
  /v1/Performance/Maintenance/CompositePortfolioGroupAutomation/Action/Run:
    post:
      tags:
      - Performance/Maintenance
      operationId: Maintenance_RunCompositePortfolioGroupAutomationJob
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Maintenance run composite portfolio group automation job
      x-summary-source: derived
  /v1/Performance/Maintenance/EclipseInfo/Action/Run:
    post:
      tags:
      - Performance/Maintenance
      operationId: Maintenance_RunEclipseInfoJob
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Maintenance run eclipse info job
      x-summary-source: derived
  /v1/Performance/Maintenance/InvalidAssetValueChangeCheck/Action/Run:
    post:
      tags:
      - Performance/Maintenance
      operationId: Maintenance_RunInvalidAssetValueChangeCheck
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Maintenance run invalid asset value change check
      x-summary-source: derived
  /v1/Performance/Maintenance/ModelAggBenchmarkProxyMaintain/Blends:
    delete:
      tags:
      - Performance/Maintenance
      operationId: Maintenance_DeleteProxyBenchmarksAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Maintenance delete proxy benchmarks async
      x-summary-source: derived
  /v1/Performance/Maintenance/PriceDifferenceCheck/Action/Run:
    post:
      tags:
      - Performance/Maintenance
      operationId: Maintenance_RunPriceDifferenceCheckJob
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Maintenance run price difference check job
      x-summary-source: derived
  /v1/Performance/Maintenance/Status:
    post:
      tags:
      - Performance/Maintenance
      operationId: Maintenance_RunMaintenanceStatusJob
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      summary: Maintenance run maintenance status job
      x-summary-source: derived
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
