openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Routing API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/Routing
paths:
  /v1/Utility/Routing/Trading/AssignAccounts/SleeveStrategy/{sleeveStrategyId}:
    post:
      tags:
      - Utility/Routing
      summary: Assign Accounts to SleeveStrategy
      operationId: Routing_AssignAccountsToSleeveStrategy
      parameters:
      - name: sleeveStrategyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      - name: validateOnly
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: string
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyAccountAssignmentReturnDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyAccountAssignmentReturnDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyAccountAssignmentReturnDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyAccountAssignmentReturnDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyAccountAssignmentReturnDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveStrategyAccountAssignmentReturnDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Utility/Routing/Trading/CreateTrade:
    post:
      tags:
      - Utility/Routing
      summary: Create a trade in Eclipse
      operationId: Routing_CreateTrade
      parameters:
      - name: ct
        in: header
        required: true
      - name: refreshAnalytics
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: string
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseResponse'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseResponse'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.LocalTradeOrderInstance'
              xml:
                name: LocalTradeOrderInstance
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.LocalTradeOrderInstance'
              xml:
                name: LocalTradeOrderInstance
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.LocalTradeOrderInstance'
              xml:
                name: LocalTradeOrderInstance
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.LocalTradeOrderInstance'
              xml:
                name: LocalTradeOrderInstance
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.LocalTradeOrderInstance'
              xml:
                name: LocalTradeOrderInstance
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.LocalTradeOrderInstance'
              xml:
                name: LocalTradeOrderInstance
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.LocalTradeOrderInstance'
              xml:
                name: LocalTradeOrderInstance
                wrapped: true
              type: array
        required: true
  /v1/Utility/Routing/Trading/Instance/{tradeInstanceId}:
    get:
      tags:
      - Utility/Routing
      summary: Get TradeInstances
      operationId: Routing_GetTradeInstanceById
      parameters:
      - name: tradeInstanceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: tradingPlatform
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: string
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeRequestInstanceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeRequestInstanceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeRequestInstanceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeRequestInstanceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeRequestInstanceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeRequestInstanceDto'
      security:
      - Authorization: []
  /v1/Utility/Routing/Trading/Instances/{tradeInstanceId}/UpdateStatus:
    post:
      tags:
      - Utility/Routing
      summary: Routing update eclipse instance status
      operationId: Routing_UpdateEclipseInstanceStatus
      parameters:
      - name: tradeInstanceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: isEnabled
        in: query
        required: true
        schema:
          type: boolean
      - name: ct
        in: header
        required: true
      - name: isDeleted
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: string
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrder'
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Utility/Routing/Trading/Instances/{tradeOrderInstanceId}/Trades:
    get:
      tags:
      - Utility/Routing
      summary: Returns the trade orders from Eclipse based on an Instance ID
      operationId: Routing_GetEclipseTradesForTradeOrderInstance
      parameters:
      - name: tradeOrderInstanceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: string
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrderObject'
                xml:
                  name: EclipseTradeOrderObject
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrderObject'
                xml:
                  name: EclipseTradeOrderObject
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrderObject'
                xml:
                  name: EclipseTradeOrderObject
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrderObject'
                xml:
                  name: EclipseTradeOrderObject
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrderObject'
                xml:
                  name: EclipseTradeOrderObject
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseTradeOrderObject'
                xml:
                  name: EclipseTradeOrderObject
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Utility/Routing/Trading/Instances/Trades:
    post:
      tags:
      - Utility/Routing
      summary: Returns the trade orders from Eclipse based on an Instance ID
      operationId: Routing_GetTradeOrdersForInstances
      parameters:
      - name: ct
        in: header
        required: true
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: string
      - name: waitLength
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 5000
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.OrderDto'
                xml:
                  name: OrderDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.OrderDto'
                xml:
                  name: OrderDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.OrderDto'
                xml:
                  name: OrderDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.OrderDto'
                xml:
                  name: OrderDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.OrderDto'
                xml:
                  name: OrderDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.OrderDto'
                xml:
                  name: OrderDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.TradeEntityInfo'
              xml:
                name: TradeEntityInfo
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.TradeEntityInfo'
              xml:
                name: TradeEntityInfo
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.TradeEntityInfo'
              xml:
                name: TradeEntityInfo
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.TradeEntityInfo'
              xml:
                name: TradeEntityInfo
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.TradeEntityInfo'
              xml:
                name: TradeEntityInfo
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.TradeEntityInfo'
              xml:
                name: TradeEntityInfo
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Trading.TradeEntityInfo'
              xml:
                name: TradeEntityInfo
                wrapped: true
              type: array
        required: true
  /v1/Utility/Routing/Trading/Model/{modelId}/SetEditedBy:
    put:
      tags:
      - Utility/Routing
      summary: Updates the last edited by on a model
      operationId: Routing_UpdateModelEditedBy
      parameters:
      - name: modelId
        in: path
        description: The id of the updated model
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: CancellationToken
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Utility/Routing/Trading/Model/Firm:
    post:
      tags:
      - Utility/Routing
      summary: Create a model and model agg in the corresponding platform
      operationId: Routing_CreateModel
      parameters:
      - name: ct
        in: header
        description: Cancellation Token
        required: true
      - name: repId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: string
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
        description: The model to be created
        required: true
  /v1/Utility/Routing/Trading/Model/Firm/{modelId}:
    delete:
      tags:
      - Utility/Routing
      summary: Delete an existing TOM or Eclipse model
      operationId: Routing_DeleteModel
      parameters:
      - name: modelId
        in: path
        description: The model id to delete.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: CancellationToken
        required: true
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: string
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseResponse'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseResponse'
      security:
      - Authorization: []
  /v1/Utility/Routing/Trading/Model/Firm/Update:
    post:
      tags:
      - Utility/Routing
      summary: Update an existing TOM or Eclipse model
      operationId: Routing_UpdateModel
      parameters:
      - name: ct
        in: header
        description: CancellationToken
        required: true
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: string
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: skipModelAgg
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: reverseSyncTimeout
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 2000
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
        description: The updated model
        required: true
  /v1/Utility/Routing/Trading/Platform:
    get:
      tags:
      - Utility/Routing
      summary: Return the trading platform associated with the logged in rep, based on Firm…
      operationId: Routing_GetRepTradingPlatform
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: repId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                enum:
                - TOM
                - Eclipse
            application/json:
              schema:
                type: string
                enum:
                - TOM
                - Eclipse
            text/json:
              schema:
                type: string
                enum:
                - TOM
                - Eclipse
            application/xml:
              schema:
                type: string
                enum:
                - TOM
                - Eclipse
            text/xml:
              schema:
                type: string
                enum:
                - TOM
                - Eclipse
            multipart/form-data:
              schema:
                type: string
                enum:
                - TOM
                - Eclipse
      security:
      - Authorization: []
  /v1/Utility/Routing/Trading/Platform/{accountId}:
    get:
      tags:
      - Utility/Routing
      summary: Return the trading platform associated with the specific account
      operationId: Routing_GetAccountTradingPlatform
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      - name: repId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                enum:
                - TOM
                - Eclipse
            application/json:
              schema:
                type: string
                enum:
                - TOM
                - Eclipse
            text/json:
              schema:
                type: string
                enum:
                - TOM
                - Eclipse
            application/xml:
              schema:
                type: string
                enum:
                - TOM
                - Eclipse
            text/xml:
              schema:
                type: string
                enum:
                - TOM
                - Eclipse
            multipart/form-data:
              schema:
                type: string
                enum:
                - TOM
                - Eclipse
      security:
      - Authorization: []
  /v1/Utility/Routing/Trading/Platform/Rep/{repId}/Cache:
    post:
      tags:
      - Utility/Routing
      operationId: Routing_CacheAccountTradePlatform
      parameters:
      - name: repId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.TradeEntityInfo'
                xml:
                  name: TradeEntityInfo
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.TradeEntityInfo'
                xml:
                  name: TradeEntityInfo
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.TradeEntityInfo'
                xml:
                  name: TradeEntityInfo
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.TradeEntityInfo'
                xml:
                  name: TradeEntityInfo
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.TradeEntityInfo'
                xml:
                  name: TradeEntityInfo
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.TradeEntityInfo'
                xml:
                  name: TradeEntityInfo
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Routing cache account trade platform
      x-summary-source: derived
  /v1/Utility/Routing/Trading/Product:
    get:
      tags:
      - Utility/Routing
      summary: Return the a list of products that contain the search term
      operationId: Routing_ProductSearch
      parameters:
      - name: searchTerm
        in: query
        description: The query you are searching for
        required: true
        schema:
          type: string
      - name: accountId
        in: query
        description: The ID of the account that products are being traded on
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: Cancellation Token
        required: true
      - name: platform
        in: query
        required: false
        schema:
          type: string
          enum:
          - TOM
          - Eclipse
      - name: resultsCount
        in: query
        description: How many results to return
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: string
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Search.SearchProductDto'
                xml:
                  name: SearchProductDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Search.SearchProductDto'
                xml:
                  name: SearchProductDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Search.SearchProductDto'
                xml:
                  name: SearchProductDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Search.SearchProductDto'
                xml:
                  name: SearchProductDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Search.SearchProductDto'
                xml:
                  name: SearchProductDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Search.SearchProductDto'
                xml:
                  name: SearchProductDto
                  wrapped: true
                type: array
      deprecated: true
      security:
      - Authorization: []
  /v1/Utility/Routing/Trading/Product/Firm:
    get:
      tags:
      - Utility/Routing
      summary: Returns a list of products based on platform, without restrictions
      operationId: Routing_GetV1UtilityRoutingTradingProductFirm
      parameters:
      - name: searchTerm
        in: query
        description: The query you are searching for
        required: true
        schema:
          type: string
      - name: ct
        in: header
        description: Cancellation Token
        required: true
      - name: platform
        in: query
        required: false
        schema:
          type: string
          enum:
          - TOM
          - Eclipse
      - name: repId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: resultsCount
        in: query
        description: How many results to return
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: string
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Search.SearchProductExtendedDto'
                xml:
                  name: SearchProductExtendedDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Search.SearchProductExtendedDto'
                xml:
                  name: SearchProductExtendedDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Search.SearchProductExtendedDto'
                xml:
                  name: SearchProductExtendedDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Search.SearchProductExtendedDto'
                xml:
                  name: SearchProductExtendedDto
                  wrapped: true
                type: array
      deprecated: true
      security:
      - Authorization: []
  /v1/Utility/Routing/Trading/RefreshAnalytics:
    post:
      tags:
      - Utility/Routing
      summary: Routing refresh account analytics
      operationId: Routing_RefreshAccountAnalytics
      parameters:
      - name: ct
        in: header
        required: true
      - name: eclipseFirmId
        in: query
        required: false
        schema:
          type: string
      - name: resetCache
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseResponse'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseResponse'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Trading.OrderDto:
      properties:
        id:
          type: integer
          format: int32
        tradeIt:
          type: boolean
        productId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        assetId:
          type: integer
          format: int32
        transactionId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        fixBlockOrderId:
          type: integer
          format: int32
        hasBlock:
          readOnly: true
          type: boolean
        trInstanceId:
          type: integer
          format: int32
        handlInst:
          type: string
        execInst:
          type: string
        side:
          type: string
        optionTradeType:
          type: string
          enum:
          - None
          - CoveredCall
        optionDwnldMgrId:
          type: integer
          format: int32
        optionTRInterfaceId:
          type: integer
          format: int32
        locateReqd:
          type: boolean
        ordType:
          type: string
        assetClassName:
          type: string
        representativeName:
          type: string
        limitPrice:
          type: number
          format: double
        stopPrice:
          type: number
          format: double
        timeInForce:
          type: string
        expireTime:
          type: string
          format: date-time
        warningMessage:
          type: string
        orderQty:
          type: number
          format: double
        originalOrderQty:
          type: number
          format: double
        orderAmt:
          type: number
          format: double
        orderPct:
          type: number
          format: double
        sharesOwned:
          type: number
          format: double
        mktValue:
          type: number
          format: double
        navPrice:
          type: number
          format: double
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        notes:
          type: string
        instanceNotes:
          type: string
        tradeReason:
          type: string
        isDiscretionary:
          type: boolean
        settlmntTyp:
          type: string
        futSettDate:
          type: string
          format: date-time
        rowVersion:
          type: string
          format: byte
        productName:
          type: string
        ticker:
          type: string
        productType:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
        cusip:
          type: string
        accountNumber:
          type: string
        batchName:
          type: string
        allocStatus:
          type: string
        ordStatus:
          type: string
        registrationName:
          type: string
        accountType:
          type: string
        accountValueCurrent:
          type: number
          format: double
        cashValueCurrent:
          type: number
          format: double
        cashValuePostTrade:
          type: number
          format: double
        assetUnitsCurrent:
          type: number
          format: double
        cashValuePreTradePerc:
          type: number
          format: double
        cashValuePostTradePerc:
          type: number
          format: double
        shortTermGain:
          type: number
          format: double
        longTermGain:
          type: number
          format: double
        totalGain:
          readOnly: true
          type: number
          format: double
        daysUntilLongTerm:
          type: integer
          format: int32
        washAmount:
          type: number
          format: double
        washUnits:
          type: number
          format: double
        calculationMethod:
          type: string
        gainLossMessage:
          readOnly: true
          type: string
        blockName:
          readOnly: true
          type: string
        custodian:
          type: string
        custodianId:
          type: integer
          format: int32
        fixRouting:
          type: string
        tradeToAcctPerc:
          readOnly: true
          type: number
          format: double
        application:
          type: string
          enum:
          - Undefined
          - GlobalTrade
          - Modeling
          - CheckReq
          - FeeReq
          - BuySell
          - ACHReq
          - EligibleTrades
          - All
          - CashFundADV
          - CashFundSWD
          - SWPDCA
          - SysPurchTrade
          - Distribution
          - Contribution
        tradingInstructions:
          type: string
        repNotes:
          type: string
        clientDirected:
          type: boolean
        subAdvisor:
          type: string
        reinvestDividends:
          type: boolean
        reinvestLTCapGains:
          type: boolean
        reinvestSTCapGains:
          type: boolean
        instanceDescription:
          type: string
        currentModelName:
          description: This is the model currently assigned to the account. Previously was returned by the {OAS.WebApi.DTO.Trading.OrderDto.ModelName} property.
          type: string
        modelName:
          description: This is the model assigned to the account at the time the trade was created, starting with the 8/2014 build.
          type: string
        masterAccountNumber:
          type: string
        managementStyle:
          type: string
        groupNum:
          type: string
        qualified:
          type: boolean
        minCashBalanceType:
          type: string
          enum:
          - Dollars
          - Percent
        minCashBalance:
          type: number
          format: double
        replenishMinCash:
          type: boolean
        swpAmount:
          type: number
          format: double
        swpFrequency:
          type: string
          enum:
          - Monthly
          - Quarterly
          - Semiannually
          - Annually
        nextSwpDate:
          type: string
          format: date-time
        cashNeededNext4Months:
          type: number
          format: double
        targetCashPerc:
          type: number
          format: double
        targetCash:
          readOnly: true
          type: number
          format: double
        dollarModelAmount:
          type: number
          format: double
        totalCashNeed:
          readOnly: true
          type: number
          format: double
        approvalStatus:
          type: string
          enum:
          - Approved
          - PendingApproval
          - NotApproved
        nsccTradeType:
          type: string
          enum:
          - UseDefault
          - NormalPurchase
          - Nav
          - Roa
          - Loi
        exchangeId:
          type: integer
          format: int32
        exchangeTicker:
          type: string
        rebalanceLevel:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        solicited:
          type: boolean
        vspDate:
          type: string
          format: date-time
        vspPrice:
          type: number
          format: double
        sellPriority:
          type: integer
          format: int32
        roaAmount:
          type: number
          format: double
        trustType:
          type: string
          enum:
          - None
          - CTC
          - EAS
        assetCostCustodianId:
          type: integer
          format: int32
        cashValuePostTradeExecution:
          type: number
          format: double
        riskBudget:
          type: integer
          format: int32
        registrationSleeveStrategyName:
          type: string
        hasFixLog:
          type: boolean
        eclipseOrderId:
          type: integer
          format: int32
      xml:
        name: OrderDto
      type: object
    OAS.WebApi.DTO.Trading.ModelItemFullDto:
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        productName:
          type: string
        productClass:
          type: string
        ticker:
          type: string
        targetPercent:
          type: number
          format: double
        itemTol:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        itemTolUpper:
          type: number
          format: double
        itemTolLower:
          type: number
          format: double
        oub:
          type: number
          format: double
        modelAggId:
          type: integer
          format: int32
        productRiskScore:
          type: integer
          format: int32
      xml:
        name: ModelItemFullDto
      type: object
    OAS.WebApi.DTO.Search.SearchProductExtendedDto:
      properties:
        price:
          type: number
          format: double
        ticker:
          type: string
        productId:
          type: integer
          format: int32
        productName:
          type: string
        productType:
          type: integer
          format: int32
        productTypeName:
          type: string
        shareClass:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.ShareClass'
        externalId:
          type: integer
          format: int32
        productRiskScore:
          type: integer
          format: int32
        productClass:
          type: string
        productCategory:
          type: string
        riskScore:
          type: integer
          format: int32
      xml:
        name: SearchProductExtendedDto
      type: object
    OAS.WebApi.DTO.Trading.SleeveStrategyAccountAssignmentReturnDto:
      properties:
        batchId:
          type: integer
          format: int32
        sleveStrategy:
          type: integer
          format: int32
        accounts:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ValidationAccountIdDto'
          xml:
            name: ValidationAccountIdDto
            wrapped: true
          type: array
      xml:
        name: SleeveStrategyAccountAssignmentReturnDto
      type: object
    OAS.WebApi.DTO.Trading.ModelAccountFullDto:
      properties:
        accountId:
          type: integer
          format: int32
        accountName:
          type: string
        accountNumber:
          type: string
        canDelete:
          type: boolean
        lastRebalanced:
          type: string
          format: date-time
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        value:
          type: number
          format: double
        modelId:
          type: integer
          format: int32
      xml:
        name: ModelAccountFullDto
      type: object
    OAS.DataModel.Trading.LocalTradeOrderInstanceProduct:
      properties:
        tradeOrderInstanceId:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        ticker:
          type: string
        tradeType:
          type: string
          enum:
          - Sell
          - Buy
        amount:
          type: number
          format: double
        deleted:
          type: boolean
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
      xml:
        name: LocalTradeOrderInstanceProduct
      type: object
    OAS.Integrations.Eclipse.Model.EclipseTradeOrderObject:
      properties:
        id:
          type: integer
          format: int32
        isEnabled:
          type: boolean
        status:
          type: string
        account:
          $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.AccountSimple'
        warningMessage:
          type: string
        action:
          type: string
        orderQty:
          type: number
          format: double
        tradePercent:
          type: number
          format: double
        cashValuePostTrade:
          type: number
          format: double
        estimateAmount:
          type: number
          format: double
        price:
          type: number
          format: double
        createdBy:
          type: string
        createdDate:
          type: string
        instanceDescription:
          type: string
        custodian:
          type: string
        security:
          $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.SecurityExtended'
        cashValue:
          type: number
          format: double
        pendingUnits:
          type: string
        tradePercentOfAccount:
          type: number
          format: double
        representativeName:
          type: string
        currentModelName:
          type: string
        handleInst:
          type: string
        instanceId:
          type: integer
          format: int32
      xml:
        name: EclipseTradeOrderObject
      type: object
    OAS.Integrations.Eclipse.Model.SecurityExtended:
      properties:
        id:
          type: integer
          format: int32
        externalId:
          type: integer
          format: int32
        symbol:
          type: string
        name:
          type: string
        price:
          type: number
          format: float
        securityType:
          type: string
        assetCategory:
          type: string
        assetClass:
          type: string
        subClass:
          type: string
        maturityDate:
          type: string
        isCustodialCash:
          type: boolean
      xml:
        name: SecurityExtended
      type: object
    OAS.DataModel.Trading.TradeEntityInfo:
      properties:
        entityId:
          type: integer
          format: int32
        tradingPlatform:
          type: string
          enum:
          - TOM
          - Eclipse
      xml:
        name: TradeEntityInfo
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDto
      type: object
    OAS.WebApi.DTO.Trading.ValidationAccountIdDto:
      properties:
        id:
          type: integer
          format: int32
        isValid:
          type: boolean
        warningMessage:
          type: string
        errorMessage:
          type: string
      xml:
        name: ValidationAccountIdDto
      type: object
    OAS.WebApi.DTO.Trading.TradeRequestInstanceDto:
      properties:
        id:
          type: integer
          format: int32
        tradingPlatform:
          type: string
          enum:
          - TOM
          - Eclipse
        requestType:
          type: string
          enum:
          - Undefined
          - GlobalTrade
          - Modeling
          - CheckReq
          - FeeReq
          - BuySell
          - ACHReq
          - EligibleTrades
          - All
          - CashFundADV
          - CashFundSWD
          - SWPDCA
          - SysPurchTrade
          - Distribution
          - Contribution
        eclipseRequestType:
          type: string
        caption:
          type: string
        isReady:
          type: boolean
        ordersCount:
          type: integer
          format: int32
        notes:
          type: string
        errorMessage:
          type: string
        executeStatus:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        entityId:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        rowVersion:
          type: string
          format: byte
        hasUpdatedFees:
          type: boolean
        endDate:
          type: string
          format: date-time
        downloadManagerId:
          type: integer
          format: int32
        isNewVersion:
          type: boolean
        minRunDate:
          type: string
          format: date-time
        blobId:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        isEndResult:
          type: boolean
        closedOrdersCount:
          type: integer
          format: int32
        openOrdersCount:
          type: integer
          format: int32
        approvalStatus:
          type: string
          enum:
          - Approved
          - PendingApproval
          - NotApproved
      xml:
        name: TradeRequestInstanceDto
      type: object
    OAS.Integrations.Eclipse.Model.EclipseTradeOrder:
      properties:
        id:
          type: integer
          format: int32
        tradeInstanceId:
          type: integer
          format: int32
        requestType:
          type: string
        isEnabled:
          type: boolean
        notes:
          type: string
        errorMessage:
          type: string
        orderCount:
          type: number
          format: double
        executeStatus:
          type: string
        closeOrderCount:
          type: number
          format: double
        entity:
          type: string
        openOrderCount:
          type: number
          format: double
        errorStatus:
          type: boolean
        instanceDescription:
          type: string
        orderQty:
          type: number
          format: double
        account:
          $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.AccountSimple'
        security:
          $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.SecurityExtended'
        cashValue:
          type: number
          format: double
        warningMessage:
          type: string
        createdDate:
          type: string
          format: date-time
      xml:
        name: EclipseTradeOrder
      type: object
    OAS.DataModel.Portfolio.ShareClass:
      required:
      - id
      - class
      properties:
        id:
          type: integer
          format: int32
        class:
          type: string
          maxLength: 10
          minLength: 0
        description:
          type: string
          maxLength: 255
          minLength: 0
        oldFundId:
          type: integer
          format: int32
        loadType:
          type: string
          maxLength: 1
          minLength: 0
        isDefault:
          type: boolean
      xml:
        name: ShareClass
      type: object
    OAS.Integrations.Eclipse.Model.EclipseHolding:
      properties:
        id:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        accountNumber:
          type: string
        securityName:
          type: string
        securitySymbol:
          type: string
        securityId:
          type: integer
          format: int32
        price:
          type: number
          format: double
        shares:
          type: number
          format: double
        value:
          type: number
          format: double
        currentInPer:
          type: number
          format: double
        targetInPer:
          type: number
          format: double
        pendingShares:
          type: number
          format: double
        pendingValue:
          type: number
          format: double
        pendingInPer:
          type: number
          format: double
        excluded:
          type: string
        inModel:
          type: string
        isDeleted:
          type: boolean
        isCash:
          type: string
      xml:
        name: EclipseHolding
      type: object
    OAS.WebApi.DTO.Search.SearchProductDto:
      properties:
        ticker:
          type: string
        productId:
          type: integer
          format: int32
        productName:
          type: string
        productType:
          type: integer
          format: int32
        productTypeName:
          type: string
        price:
          type: number
          format: double
        shareClass:
          $ref: '#/components/schemas/OAS.DataModel.Portfolio.ShareClass'
        externalId:
          type: integer
          format: int32
        productRiskScore:
          type: integer
          format: int32
        productClass:
          type: string
        productCategory:
          type: string
        riskScore:
          type: integer
          format: int32
      xml:
        name: SearchProductDto
      type: object
    OAS.DataModel.Trading.LocalTradeOrderInstance:
      properties:
        id:
          type: integer
          format: int32
        orionRepId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        completed:
          type: boolean
        deleted:
          type: boolean
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        products:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Trading.LocalTradeOrderInstanceProduct'
          xml:
            name: LocalTradeOrderInstanceProduct
            wrapped: true
          type: array
      xml:
        name: LocalTradeOrderInstance
      type: object
    OAS.Integrations.Eclipse.Model.EclipseResponse:
      properties:
        status:
          type: boolean
        message:
          type: string
        entityId:
          type: integer
          format: int32
        platform:
          type: string
          enum:
          - TOM
          - Eclipse
      xml:
        name: EclipseResponse
      type: object
    OAS.WebApi.DTO.Trading.ModelFullDto:
      properties:
        fundFamilyId:
          type: integer
          format: int32
        shareClassId:
          type: integer
          format: int32
        platformId:
          type: integer
          format: int32
        isListTraded:
          type: boolean
        modNotes:
          type: string
        representativeId:
          type: integer
          format: int32
        sequence:
          type: integer
          format: int32
        changeReason:
          type: string
        modelLevels:
          type: integer
          format: int32
        dynamicEffectiveDate:
          type: string
          format: date-time
        custodianId:
          type: integer
          format: int32
        items:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelItemFullDto'
          xml:
            name: ModelItemFullDto
            wrapped: true
          type: array
        accounts:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAccountFullDto'
          xml:
            name: ModelAccountFullDto
            wrapped: true
          type: array
        ranges:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRangeFullDto'
          xml:
            name: ModelRangeFullDto
            wrapped: true
          type: array
        riskRangeId:
          type: integer
          format: int32
        defaultModelAggId:
          type: integer
          format: int32
        eclipseFirmId:
          type: integer
          format: int32
        EclipseFirmIds:
          description: A pipe-delimited list of Eclipse Firm IDs that are associated with this model.
          type: string
        communityModel:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Communities.CommunityModelDto'
        eclipseModelId:
          description: The Eclipse model ID for non-community models.
          type: integer
          format: int32
        riskScore:
          type: number
          format: double
        id:
          type: integer
          format: int32
        name:
          type: string
        lastRebalanced:
          type: string
          format: date-time
        fundName:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        groupNum:
          type: string
        subAdvisor:
          type: string
        modelNum:
          type: integer
          format: int32
        percEquity:
          type: integer
          format: int32
        modelType:
          type: string
        fundList:
          type: string
        modelTol:
          type: integer
          format: int32
        cashPerc:
          type: integer
          format: int32
        cashTol:
          type: integer
          format: int32
        isActive:
          type: boolean
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        class:
          type: string
        modelCode:
          type: string
        managementStyle:
          type: string
        notes:
          type: string
        isDynamic:
          type: boolean
        custodian:
          type: string
        subAdvisorId:
          type: integer
          format: int32
        communityModelId:
          type: integer
          format: int64
        useRestrictions:
          type: boolean
        isSMA:
          type: boolean
        assetClassId:
          type: integer
          format: int32
        riskCategoryId:
          type: integer
          format: int32
      xml:
        name: ModelFullDto
      type: object
    OAS.Integrations.Eclipse.Model.AccountSimple:
      properties:
        number:
          type: string
        type:
          type: string
        id:
          type: integer
          format: int32
        accountId:
          type: string
        name:
          type: string
        accountNumber:
          type: string
        custodian:
          type: string
        accountType:
          type: string
        model:
          type: string
        style:
          type: string
        managedValue:
          type: number
          format: double
        excludedValue:
          type: number
          format: double
        value:
          type: number
          format: double
        pendingValue:
          type: number
          format: double
        currentCash:
          type: number
          format: double
        targetCash:
          type: number
          format: double
        currentCashPercent:
          type: number
          format: double
        pendingCash:
          type: number
          format: double
        holdings:
          items:
            $ref: '#/components/schemas/OAS.Integrations.Eclipse.Model.EclipseHolding'
          xml:
            name: EclipseHolding
            wrapped: true
          type: array
      xml:
        name: AccountSimple
      type: object
    OAS.WebApi.DTO.Trading.ModelRangeFullDto:
      properties:
        id:
          type: integer
          format: int32
        summary:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        upperScore:
          type: integer
          format: int32
        lowerScore:
          type: integer
          format: int32
        userDefinedFields:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
      xml:
        name: ModelRangeFullDto
      type: object
    OAS.WebApi.DTO.Integrations.Communities.CommunityModelDto:
      properties:
        modelId:
          type: integer
          format: int32
        communityModelId:
          type: integer
          format: int64
        communityModelName:
          type: string
        targetRiskUpper:
          type: number
          format: double
        targetRiskLower:
          type: number
          format: double
        style:
          type: string
        advisorFee:
          type: number
          format: double
        weightedAvgNetExpenses:
          type: number
          format: double
        currentRisk:
          type: number
          format: double
        minimumAmount:
          type: number
          format: double
        dateRebalanceRequested:
          type: string
          format: date-time
        lastRebalanceDate:
          type: string
          format: date-time
        needsRebalance:
          type: boolean
        platFormId:
          type: integer
          format: int32
        shareClassId:
          type: integer
          format: int32
        notes:
          type: string
        groupNum:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        strategistId:
          type: integer
          format: int32
        strategistName:
          type: string
        modelManagerId:
          type: integer
          format: int32
        modelManagerName:
          type: string
        name:
          type: string
        isActive:
          type: boolean
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        modelCode:
          type: string
        cashPerc:
          type: integer
          format: int32
        cashTol:
          type: integer
          format: int32
        fundList:
          type: string
        modelNum:
          type: integer
          format: int32
        modelTol:
          type: integer
          format: int32
        isDynamic:
          type: boolean
        modelType:
          type: string
        percEquity:
          type: integer
          format: int32
        subAdvisorId:
          type: integer
          format: int32
        useRestrictions:
          type: boolean
        fundName:
          type: string
        class:
          type: string
        managementStyle:
          type: string
        custodian:
          type: string
        subAdvisor:
          type: string
        accountCount:
          type: integer
          format: int32
        aum:
          type: number
          format: double
        astroUsage:
          type: string
          enum:
          - Undefined
          - Disabled
          - Restricted
          - FullAccess
        opsTier:
          type: string
        dateRebalanceExecutionRequested:
          type: string
          format: date-time
        benchmark:
          type: string
        strategistExternalId:
          type: integer
          format: int32
      xml:
        name: CommunityModelDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
