openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Unallocated Orders API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/UnallocatedOrders
paths:
  /v1/Trading/UnallocatedOrders:
    put:
      tags:
      - Trading/UnallocatedOrders
      operationId: UnallocatedOrders_UpdateEntityAsync
      parameters:
      - name: allocate
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: markComplete
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
              xml:
                name: UnallocatedOrderDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
              xml:
                name: UnallocatedOrderDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
              xml:
                name: UnallocatedOrderDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
              xml:
                name: UnallocatedOrderDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
              xml:
                name: UnallocatedOrderDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
              xml:
                name: UnallocatedOrderDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
              xml:
                name: UnallocatedOrderDto
                wrapped: true
              type: array
        required: true
      summary: Unallocated orders update entity async
      x-summary-source: derived
    post:
      tags:
      - Trading/UnallocatedOrders
      summary: Creates a new order, and ties it to the block
      operationId: UnallocatedOrders_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
        required: true
  /v1/Trading/UnallocatedOrders/{key}:
    get:
      tags:
      - Trading/UnallocatedOrders
      summary: Gets the order that has the provided key.
      operationId: UnallocatedOrders_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
      security:
      - Authorization: []
    put:
      tags:
      - Trading/UnallocatedOrders
      summary: Updates the OrderQty only on the orders object
      operationId: UnallocatedOrders_UpdateEntity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
        description: UnallocatedOrderDto to update
        required: true
    delete:
      tags:
      - Trading/UnallocatedOrders
      operationId: UnallocatedOrders_Delete
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Unallocated orders delete
      x-summary-source: derived
  /v1/Trading/UnallocatedOrders/New/BlockId/{blockId}/AccountId/{accountId}:
    get:
      tags:
      - Trading/UnallocatedOrders
      summary: Returns a newly initialized unallocated dto based on the accountId, and blockId.
      operationId: UnallocatedOrders_GetNew
      parameters:
      - name: blockId
        in: path
        description: FixBlockOrder Id that this trade order will be added to.
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        description: Account Id that will be adding an allocation trade.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UnallocatedOrderDto'
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Trading.UnallocatedOrderDto:
      properties:
        id:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        fixBlockOrderId:
          type: integer
          format: int32
        orderQty:
          type: number
          format: double
        originalOrderQty:
          type: number
          format: double
        orderAmt:
          type: number
          format: double
        sharesOwned:
          type: number
          format: double
        mktValue:
          type: number
          format: double
        rowVersion:
          type: string
          format: byte
        accountNumber:
          type: string
        registrationName:
          type: string
        accountType:
          type: string
        cashValue:
          type: number
          format: double
        cashValuePending:
          type: number
          format: double
        assetUnits:
          type: number
          format: double
        assetUnitsPending:
          type: number
          format: double
      xml:
        name: UnallocatedOrderDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
