openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Page Queries API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/PageQueries
paths:
  /v1/Utility/PageQueries:
    get:
      tags:
      - Utility/PageQueries
      summary: Returns page queries for the specified page code
      operationId: PageQueries_GetQueries
      parameters:
      - name: pageCode
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
                xml:
                  name: PageQueryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
                xml:
                  name: PageQueryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
                xml:
                  name: PageQueryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
                xml:
                  name: PageQueryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
                xml:
                  name: PageQueryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
                xml:
                  name: PageQueryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Utility/PageQueries
      summary: This POST, will return the same information as the GET, however the POST allows…
      operationId: PageQueries_GetQueriesWithDefaults
      parameters:
      - name: pageCode
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
                xml:
                  name: PageQueryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
                xml:
                  name: PageQueryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
                xml:
                  name: PageQueryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
                xml:
                  name: PageQueryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
                xml:
                  name: PageQueryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
                xml:
                  name: PageQueryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryParameterDto'
              xml:
                name: PageQueryParameterDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryParameterDto'
              xml:
                name: PageQueryParameterDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryParameterDto'
              xml:
                name: PageQueryParameterDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryParameterDto'
              xml:
                name: PageQueryParameterDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryParameterDto'
              xml:
                name: PageQueryParameterDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryParameterDto'
              xml:
                name: PageQueryParameterDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryParameterDto'
              xml:
                name: PageQueryParameterDto
                wrapped: true
              type: array
        required: true
  /v1/Utility/PageQueries/{key}:
    get:
      tags:
      - Utility/PageQueries
      summary: Returns page query for the specified key
      operationId: PageQueries_GetQueryByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
      security:
      - Authorization: []
  /v1/Utility/PageQueries/{pageQueryId}/Count:
    post:
      tags:
      - Utility/PageQueries
      summary: 'TODO: Ben'
      operationId: PageQueries_RunQueryCountAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: pageQueryId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
        required: true
  /v1/Utility/PageQueries/{pageQueryId}/Results:
    post:
      tags:
      - Utility/PageQueries
      summary: 'TODO: Ben'
      operationId: PageQueries_RunQueryAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: pageQueryId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryDto'
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Utility.PageQueryDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        parameters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.PageQueryParameterDto'
          xml:
            name: PageQueryParameterDto
            wrapped: true
          type: array
      xml:
        name: PageQueryDto
      type: object
    OAS.WebApi.DTO.Utility.PageQueryParameterDto:
      properties:
        name:
          type: string
        description:
          type: string
        value:
          type: string
        code:
          type: string
        promptUser:
          type: boolean
        type:
          type: string
      xml:
        name: PageQueryParameterDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
