openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Data Maintenance/Data Provider API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: DataMaintenance/DataProvider
paths:
  /v1/DataMaintenance/DataProvider/Setup:
    get:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetup_GetAllSetupsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup get all setups async
      x-summary-source: derived
    put:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetup_UpdateAndProcessDataProviderSetupStepAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
        required: true
      summary: Data provider setup update and process data provider setup step async
      x-summary-source: derived
    post:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetup_CreateDataProviderSetupAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto'
        required: true
      summary: Data provider setup create data provider setup async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/{id}:
    get:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetup_GetSetupByIdAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup get setup by id async
      x-summary-source: derived
    put:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetup_AdminOverrideStepAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup admin override step async
      x-summary-source: derived
    delete:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetup_DeleteDataProviderSetupAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup delete data provider setup async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/{id}/InputDatapoints:
    get:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetup_GetInputDatapointsAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup get input datapoints async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/Help/Email:
    post:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetup_SendHelpEmailAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupSendHelpEmailRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupSendHelpEmailRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupSendHelpEmailRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupSendHelpEmailRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupSendHelpEmailRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupSendHelpEmailRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupSendHelpEmailRequestDto'
        required: true
      summary: Data provider setup send help email async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/RepAccess:
    get:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupRepAccess_GetAllAccessRecordsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup rep access get all access records async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/RepAccess/{dataProviderSetupId}:
    get:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupRepAccess_GetAccessRecordsForSetupIdAsync
      parameters:
      - name: dataProviderSetupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup rep access get access records for setup id async
      x-summary-source: derived
    post:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupRepAccess_CreateAccessRecordAsync
      parameters:
      - name: dataProviderSetupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
        required: true
      summary: Data provider setup rep access create access record async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/RepAccess/{dataProviderSetupId}/Add:
    post:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupRepAccess_AddRepAccessForSetupOwnerRepCodeAsync
      parameters:
      - name: dataProviderSetupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupOwnerRepCodeAddDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupOwnerRepCodeAddDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupOwnerRepCodeAddDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupOwnerRepCodeAddDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupOwnerRepCodeAddDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupOwnerRepCodeAddDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupOwnerRepCodeAddDto'
        required: true
      summary: Data provider setup rep access add rep access for setup owner rep code async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/RepAccess/{dataProviderSetupId}/AvailableRepCodes:
    get:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupRepAccess_GetAvailableRepCodesAsync
      parameters:
      - name: dataProviderSetupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup rep access get available rep codes async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/RepAccess/{dataProviderSetupId}/Reps:
    get:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupRepAccess_GetRepsByAlClientIdAsync
      parameters:
      - name: dataProviderSetupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup rep access get reps by al client id async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/RepAccess/{dataProviderSetupId}/SummaryCounts:
    get:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupRepAccess_GetRepSummaryCountsAsync
      parameters:
      - name: dataProviderSetupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: repCode
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup rep access get rep summary counts async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/RepAccess/{repAccessId}:
    put:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupRepAccess_UpdateAccessRecordsAsync
      parameters:
      - name: repAccessId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto'
        required: true
      summary: Data provider setup rep access update access records async
      x-summary-source: derived
    delete:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupRepAccess_DeleteAccessRecordAsync
      parameters:
      - name: repAccessId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup rep access delete access record async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/RepAccess/{repAccessId}/AccountCodesCountByRep:
    get:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupRepAccess_GetAccountCodeCountForRepAccessAsync
      parameters:
      - name: repAccessId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup rep access get account code count for rep access async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/RepAccess/actions:
    get:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupRepAccess_GetRepAccessActionsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup rep access get rep access actions async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/RepAccess/RequestAccess/{repAccessId}:
    post:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupRepAccess_RequestAccessAsync
      parameters:
      - name: repAccessId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup rep access request access async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/Setup/RepAccess/ValidateAccountCodes/{dataProviderSetupId}/{repAccessId}:
    post:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupRepAccess_ValidateAccountCodesAsync
      parameters:
      - name: dataProviderSetupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: repAccessId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/xml:
            schema:
              items:
                type: string
              type: array
          text/xml:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        required: true
      summary: Data provider setup rep access validate account codes async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/SetupType:
    get:
      tags:
      - DataMaintenance/DataProvider
      summary: Returns a list of all Data Provider Setup Types user has access to
      operationId: DataProviderSetupType_GetAllDataProviderSetupTypesAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: isActive
        in: query
        description: Filters out inactive records if true
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
    put:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupType_UpdateDataProviderSetupTypeAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
        required: true
      summary: Data provider setup type update data provider setup type async
      x-summary-source: derived
    post:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupType_CreateDataProviderSetupTypeAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto'
        required: true
      summary: Data provider setup type create data provider setup type async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/SetupType/{id}:
    delete:
      tags:
      - DataMaintenance/DataProvider
      operationId: DataProviderSetupType_DeleteDataProviderSetupTypeAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Data provider setup type delete data provider setup type async
      x-summary-source: derived
  /v1/DataMaintenance/DataProvider/SetupType/{key}:
    get:
      tags:
      - DataMaintenance/DataProvider
      summary: returns a single Data Provider Setup Type by its key
      operationId: DataProviderSetupType_GetDataProviderSetupTypeByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupOwnerRepCodeAddDto:
      properties:
        repCode:
          type: string
        repId:
          type: integer
          format: int32
      xml:
        name: DataProviderSetupOwnerRepCodeAddDto
      type: object
    OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupDto:
      properties:
        id:
          type: integer
          format: int32
        dataProviderSetupTypeId:
          type: integer
          format: int32
        dataProviderSetupName:
          type: string
        dataProviderSetupStatus:
          type: integer
          format: int32
        downloadSourceId:
          type: integer
          format: int32
        fieldValuesJSON:
          type: string
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        acctCodeCount:
          type: integer
          format: int32
        acctCodes:
          items:
            type: string
          type: array
        repAccessIdForCombinedVerification:
          description: 'When set by a rep completing account validation for a setup type that defines a rep-code field (IsRepCode in FieldsJSON),

            rep access can be activated in the same step as feed account validation (single verification UX).'
          type: integer
          format: int32
      xml:
        name: DataProviderSetupDto
      type: object
    OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupSendHelpEmailRequestDto:
      properties:
        message:
          type: string
        setupStep:
          type: string
        dataProviderSetupId:
          type: integer
          format: int32
      xml:
        name: DataProviderSetupSendHelpEmailRequestDto
      type: object
    OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupTypeDto:
      properties:
        id:
          type: integer
          format: int32
        dataProviderName:
          type: string
        formatName:
          type: string
        formatSubtypeName:
          type: string
        isActive:
          type: boolean
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        downloadFormatId:
          type: integer
          format: int32
        downloadFormatSubTypeId:
          type: integer
          format: int32
        instructionsHTML:
          type: string
        finishedHTML:
          type: string
        fieldsJSON:
          type: string
        downloadSourcePropertiesJSON:
          type: string
        statusOrderJSON:
          type: string
        privilegeCode:
          type: string
        isSingleRep:
          type: boolean
        description:
          type: string
      xml:
        name: DataProviderSetupTypeDto
      type: object
    OAS.WebApi.DTO.DataMaintenance.DataProvider.DataProviderSetupRepAccessDto:
      properties:
        id:
          type: integer
          format: int32
        dataProviderSetupId:
          type: integer
          format: int32
        repId:
          type: integer
          format: int32
        repCode:
          type: string
        isDefault:
          type: boolean
        isShared:
          type: boolean
        userId:
          type: integer
          format: int32
        repAccessStatus:
          type: integer
          format: int32
        auditedDate:
          type: string
          format: date-time
        auditedBy:
          type: string
        repName:
          type: string
        repCodeIsShared:
          type: boolean
        isOwner:
          type: boolean
        ownerEmail:
          type: string
        acctCodeCount:
          type: integer
          format: int32
      xml:
        name: DataProviderSetupRepAccessDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
