openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Admin API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/Admin
paths:
  /v1/Reporting/Admin/Compares:
    get:
      tags:
      - Reporting/Admin
      operationId: AdminCompares_GetListAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionSessionDto'
                xml:
                  name: RegressionSessionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionSessionDto'
                xml:
                  name: RegressionSessionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionSessionDto'
                xml:
                  name: RegressionSessionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionSessionDto'
                xml:
                  name: RegressionSessionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionSessionDto'
                xml:
                  name: RegressionSessionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionSessionDto'
                xml:
                  name: RegressionSessionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Admin compares get list async
      x-summary-source: derived
  /v1/Reporting/Admin/Compares/{sessionId}:
    get:
      tags:
      - Reporting/Admin
      operationId: AdminCompares_GetSessionDetailsAsync
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionInstanceDto'
                xml:
                  name: RegressionInstanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionInstanceDto'
                xml:
                  name: RegressionInstanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionInstanceDto'
                xml:
                  name: RegressionInstanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionInstanceDto'
                xml:
                  name: RegressionInstanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionInstanceDto'
                xml:
                  name: RegressionInstanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionInstanceDto'
                xml:
                  name: RegressionInstanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Admin compares get session details async
      x-summary-source: derived
  /v1/Reporting/Admin/Compares/Assign/{sessionId}:
    post:
      tags:
      - Reporting/Admin
      operationId: AdminCompares_AssignReportsAsync
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionInstanceDto'
                xml:
                  name: RegressionInstanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionInstanceDto'
                xml:
                  name: RegressionInstanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionInstanceDto'
                xml:
                  name: RegressionInstanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionInstanceDto'
                xml:
                  name: RegressionInstanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionInstanceDto'
                xml:
                  name: RegressionInstanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.RegressionInstanceDto'
                xml:
                  name: RegressionInstanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.AssignReportsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.AssignReportsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.AssignReportsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.AssignReportsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.AssignReportsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.AssignReportsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.Domains.Reporting.AssignReportsDto'
        required: true
      summary: Admin compares assign reports async
      x-summary-source: derived
  /v1/Reporting/Admin/Compares/Data/{sessionId}/{instanceId}:
    get:
      tags:
      - Reporting/Admin
      operationId: AdminCompares_GetDataFileAsync
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Admin compares get data file async
      x-summary-source: derived
  /v1/Reporting/Admin/Compares/Instance/{instanceId}/{category}:
    put:
      tags:
      - Reporting/Admin
      operationId: AdminCompares_UpdateInstanceAsync
      parameters:
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: category
        in: path
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Admin compares update instance async
      x-summary-source: derived
  /v1/Reporting/Admin/Compares/Visual/{sessionId}/{instanceId}:
    get:
      tags:
      - Reporting/Admin
      operationId: AdminCompares_GetVisualDifferenceOutputAsync
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Admin compares get visual difference output async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.Domains.Reporting.AssignReportsDto:
      properties:
        name:
          type: string
        amount:
          type: integer
          format: int32
      xml:
        name: AssignReportsDto
      type: object
    OAS.WebApi.Domains.Reporting.RegressionInstanceDto:
      properties:
        alClientId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        reportId:
          type: string
        reportName:
          type: string
        instanceId:
          type: integer
          format: int64
        sessionId:
          type: integer
          format: int64
        previousSessionId:
          type: integer
          format: int64
        errorMessage:
          type: string
        dataMatched:
          type: boolean
        visualMatched:
          type: boolean
        category:
          type: string
      xml:
        name: RegressionInstanceDto
      type: object
    OAS.WebApi.Domains.Reporting.RegressionSessionDto:
      properties:
        id:
          type: integer
          format: int64
        created:
          type: string
          format: date-time
        generated:
          type: string
          format: date-time
        clonedId:
          type: integer
          format: int64
        dataMatched:
          type: integer
          format: int32
        visualMatched:
          type: integer
          format: int32
        totalRecords:
          type: integer
          format: int32
        errorCount:
          type: integer
          format: int32
        pendingCount:
          type: integer
          format: int32
      xml:
        name: RegressionSessionDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
