openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Database Action Queue API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/DatabaseActionQueue
paths:
  /v1/Utility/DatabaseActionQueue:
    get:
      tags:
      - Utility/DatabaseActionQueue
      operationId: DatabaseAction_ViewAllDatabaseActionsAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Database action view all database actions async
      x-summary-source: derived
    post:
      tags:
      - Utility/DatabaseActionQueue
      operationId: DatabaseAction_CreateNewDatabaseAsync
      parameters:
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.DatabaseCreation.DatabaseActionRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.DatabaseCreation.DatabaseActionRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.DatabaseCreation.DatabaseActionRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.DatabaseCreation.DatabaseActionRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.DatabaseCreation.DatabaseActionRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.DatabaseCreation.DatabaseActionRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Utility.DatabaseCreation.DatabaseActionRequest'
        required: true
      summary: Database action create new database async
      x-summary-source: derived
  /v1/Utility/DatabaseActionQueue/{databaseActionQueueID}:
    get:
      tags:
      - Utility/DatabaseActionQueue
      operationId: DatabaseAction_ViewDatabaseActionsAsync
      parameters:
      - name: databaseActionQueueID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Database action view database actions async
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.Utility.DatabaseCreation.DatabaseActionConfigJsonValue:
      properties:
        id:
          type: string
        value:
          type: string
      xml:
        name: DatabaseActionConfigJsonValue
      type: object
    OAS.DataModel.Utility.DatabaseCreation.DatabaseActionRequest:
      properties:
        databaseActionType:
          type: string
          enum:
          - DatabaseCreation
        databaseActionConfigJSON:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Utility.DatabaseCreation.DatabaseActionConfigJsonValue'
          xml:
            name: DatabaseActionConfigJsonValue
            wrapped: true
          type: array
      xml:
        name: DatabaseActionRequest
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
