openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Security/Users API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Security/Users
paths:
  /v1/Security/Users:
    get:
      tags:
      - Security/Users
      operationId: Users_GetUsersForEntity
      parameters:
      - name: currentDbOnly
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: loginEntityId
        in: query
        required: false
        schema:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      - name: userId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDto'
                xml:
                  name: UserInfoDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDto'
                xml:
                  name: UserInfoDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDto'
                xml:
                  name: UserInfoDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDto'
                xml:
                  name: UserInfoDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDto'
                xml:
                  name: UserInfoDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDto'
                xml:
                  name: UserInfoDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Users get users for entity
      x-summary-source: derived
    post:
      tags:
      - Security/Users
      operationId: Users_CreateUserAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: sendEmail
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
        required: true
      summary: Users create user async
      x-summary-source: derived
  /v1/Security/Users/{entity}/{key}:
    get:
      tags:
      - Security/Users
      operationId: Users_NewUser
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDto'
      security:
      - Authorization: []
      summary: Users new user
      x-summary-source: derived
  /v1/Security/Users/{entity}/ContactTypes:
    get:
      tags:
      - Security/Users
      operationId: Users_GetAvailableContactTypesForEntity
      parameters:
      - name: entity
        in: path
        required: true
        schema:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Users get available contact types for entity
      x-summary-source: derived
  /v1/Security/Users/{key}:
    get:
      tags:
      - Security/Users
      operationId: Users_GetUser
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
      security:
      - Authorization: []
      summary: Users get user
      x-summary-source: derived
    put:
      tags:
      - Security/Users
      operationId: Users_UpdateUserAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
        required: true
      summary: Users update user async
      x-summary-source: derived
    delete:
      tags:
      - Security/Users
      operationId: Users_DeleteUserAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Users delete user async
      x-summary-source: derived
  /v1/Security/Users/{key}/Action/Password/Reset:
    put:
      tags:
      - Security/Users
      operationId: Users_ResetUserPassword
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: sendEmail
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
      security:
      - Authorization: []
      summary: Users reset user password
      x-summary-source: derived
  /v1/Security/Users/{key}/Action/Password/Set:
    put:
      tags:
      - Security/Users
      operationId: Users_SetUserPassword
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.ActionPasswordSetRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.ActionPasswordSetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.ActionPasswordSetRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.ActionPasswordSetRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.ActionPasswordSetRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.ActionPasswordSetRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.ActionPasswordSetRequest'
        required: true
      summary: Users set user password
      x-summary-source: derived
  /v1/Security/Users/{key}/Action/SecurityQuestion/Delete:
    put:
      tags:
      - Security/Users
      summary: 'Obsolete: Security questions and answers are no longer used.'
      operationId: Users_ResetSecurityQuestion
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      deprecated: true
      security:
      - Authorization: []
  /v1/Security/Users/{key}/LoginActivity:
    get:
      tags:
      - Security/Users
      operationId: Users_GetUserActivity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.LoginActivityDto'
                xml:
                  name: LoginActivityDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.LoginActivityDto'
                xml:
                  name: LoginActivityDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.LoginActivityDto'
                xml:
                  name: LoginActivityDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.LoginActivityDto'
                xml:
                  name: LoginActivityDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.LoginActivityDto'
                xml:
                  name: LoginActivityDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.LoginActivityDto'
                xml:
                  name: LoginActivityDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Users get user activity
      x-summary-source: derived
    post:
      tags:
      - Security/Users
      operationId: Users_LoginActivity
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Users login activity
      x-summary-source: derived
  /v1/Security/Users/Action/Activate:
    put:
      tags:
      - Security/Users
      operationId: Users_ToggleUsersActiveAsync
      parameters:
      - name: activate
        in: query
        required: true
        schema:
          type: boolean
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Users toggle users active async
      x-summary-source: derived
  /v1/Security/Users/Action/Import:
    post:
      tags:
      - Security/Users
      operationId: Users_CreateUsersAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: sendEmails
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
              xml:
                name: UserInfoDetailsDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
              xml:
                name: UserInfoDetailsDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
              xml:
                name: UserInfoDetailsDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
              xml:
                name: UserInfoDetailsDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
              xml:
                name: UserInfoDetailsDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
              xml:
                name: UserInfoDetailsDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
              xml:
                name: UserInfoDetailsDto
                wrapped: true
              type: array
        required: true
      summary: Users create users async
      x-summary-source: derived
  /v1/Security/Users/DeactivationPolicies:
    get:
      tags:
      - Security/Users
      summary: Users get deactivation policies async
      operationId: Users_GetDeactivationPoliciesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
    put:
      tags:
      - Security/Users
      summary: Users update deactivation policies async
      operationId: Users_UpdateDeactivationPoliciesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.DeactivationPolicySet'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.DeactivationPolicySet'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.DeactivationPolicySet'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.DeactivationPolicySet'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.DeactivationPolicySet'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.DeactivationPolicySet'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Security.DeactivationPolicySet'
        required: true
      x-summary-source: derived
  /v1/Security/Users/Import/LoginActivity:
    post:
      tags:
      - Security/Users
      operationId: Users_PostV1SecurityUsersImportLoginActivity
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.UserLogin'
              xml:
                name: UserLogin
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.UserLogin'
              xml:
                name: UserLogin
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.UserLogin'
              xml:
                name: UserLogin
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.UserLogin'
              xml:
                name: UserLogin
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Security.UserLogin'
              xml:
                name: UserLogin
                wrapped: true
              type: array
        required: true
      summary: Users post V1 security users import login activity
      x-summary-source: derived
  /v1/Security/Users/RepUsers:
    get:
      tags:
      - Security/Users
      operationId: Users_GetRepUsersWithProfiles
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: take
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Users get rep users with profiles
      x-summary-source: derived
  /v1/Security/Users/Search:
    get:
      tags:
      - Security/Users
      operationId: Users_Search
      parameters:
      - name: userid
        in: query
        required: false
        schema:
          type: string
      - name: email
        in: query
        required: false
        schema:
          type: string
      - name: lastname
        in: query
        required: false
        schema:
          type: string
      - name: firstname
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Users search
      x-summary-source: derived
  /v1/Security/Users/Search/ByEmail:
    post:
      tags:
      - Security/Users
      operationId: Users_LookupByEmailAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Security.UserInfoDetailsDto'
                xml:
                  name: UserInfoDetailsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/xml:
            schema:
              items:
                type: string
              type: array
          text/xml:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        required: true
      summary: Users lookup by email async
      x-summary-source: derived
  /v1/Security/Users/SendNewUserEmails:
    put:
      tags:
      - Security/Users
      operationId: Users_SendNewUserEmail
      parameters:
      - name: userIds
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Users send new user email
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Security.ActionPasswordSetRequest:
      properties:
        newPassword:
          type: string
        resetUser:
          type: boolean
      xml:
        name: ActionPasswordSetRequest
      type: object
    OAS.DataModel.Security.UserLogin:
      required:
      - id
      - userId
      - loginDate
      - failed
      - failType
      properties:
        id:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        loginDate:
          type: string
          format: date-time
        failed:
          type: boolean
        failType:
          type: string
          enum:
          - Success
          - IncorrectPassword
          - LockedOut
          - PasswordEpired
          - InactiveUser
          - TwoFactorChallenge
        clientIp:
          type: string
        providedUserId:
          type: string
        correlationId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        compromisedPwd:
          type: boolean
        source:
          type: string
          enum:
          - Engage
          - OrionPlanning
          - OrionConnect
          - LegacyClientPortal
          - LegacyMobileApp
          - LegacyLoginPage
          - ApiTester
          - AuthService
          - Element
          - PartnerApp
          - LoginActivityImportEndpoint
          - LoginActivityEndpoint
          - spimUserLoginAdd
          - Unknown
          - OrionPlanningWeb
          - OrionPlanningMobile
      xml:
        name: UserLogin
      type: object
    OAS.WebApi.DTO.Security.DeactivationPolicySet:
      properties:
        maxUserDeactivationPolicyDays:
          type: integer
          format: int32
        maxUserDeletionPolicyDays:
          type: integer
          format: int32
        policies:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Security.DeactivationPolicy'
          xml:
            name: DeactivationPolicy
            wrapped: true
          type: array
      xml:
        name: DeactivationPolicySet
      type: object
    OAS.WebApi.DTO.Security.LoginActivityDto:
      properties:
        id:
          type: string
        userId:
          type: integer
          format: int32
        loginDate:
          type: string
          format: date-time
        failed:
          type: boolean
        failType:
          type: string
          enum:
          - Success
          - IncorrectPassword
          - LockedOut
          - PasswordEpired
          - InactiveUser
          - TwoFactorChallenge
      xml:
        name: LoginActivityDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Security.UserInfoDetailsDto:
      properties:
        profiles:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Security.ProfileDto'
          xml:
            name: ProfileDto
            wrapped: true
          type: array
        password:
          type: string
        isSecureExchangeRecipient:
          type: boolean
        partnerAppId:
          type: integer
          format: int32
        twoFactor:
          type: boolean
        errorMessage:
          type: string
        id:
          type: integer
          format: int32
        userId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        isActive:
          type: boolean
        activeDate:
          type: string
          format: date-time
        inactiveDate:
          type: string
          format: date-time
        lastLogin:
          type: string
          format: date-time
        lastPasswordChange:
          type: string
          format: date-time
        isReset:
          type: boolean
        mobilePhone:
          type: string
        businessPhone:
          type: string
        businessPhoneExtension:
          type: string
        company:
          type: string
        jobTitle:
          type: string
        entityName:
          type: string
        contactType:
          type: string
          enum:
          - NotApproved
          - Approved
          - MainContact
          - NoLongerWithFirm
        createdDate:
          type: string
          format: date-time
      xml:
        name: UserInfoDetailsDto
      type: object
    OAS.WebApi.DTO.Security.ProfileDto:
      properties:
        id:
          type: integer
          format: int32
        loginEntityId:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        advisorName:
          type: string
        entityName:
          type: string
        roleId:
          type: integer
          format: int32
        isUserDefault:
          type: boolean
        alClientId:
          type: integer
          format: int32
        roleName:
          type: string
        isInCurrentDb:
          type: boolean
      xml:
        name: ProfileDto
      type: object
    OAS.WebApi.DTO.Security.DeactivationPolicy:
      properties:
        firmId:
          type: integer
          format: int32
        loginEntity:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        deletion:
          type: integer
          format: int32
        deactivation:
          type: integer
          format: int32
        sortOrder:
          type: integer
          format: int32
        displayName:
          type: string
      xml:
        name: DeactivationPolicy
      type: object
    OAS.WebApi.DTO.Security.UserInfoDto:
      properties:
        id:
          type: integer
          format: int32
        userId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        isActive:
          type: boolean
        activeDate:
          type: string
          format: date-time
        inactiveDate:
          type: string
          format: date-time
        lastLogin:
          type: string
          format: date-time
        lastPasswordChange:
          type: string
          format: date-time
        isReset:
          type: boolean
        mobilePhone:
          type: string
        businessPhone:
          type: string
        businessPhoneExtension:
          type: string
        company:
          type: string
        jobTitle:
          type: string
        entityName:
          type: string
        contactType:
          type: string
          enum:
          - NotApproved
          - Approved
          - MainContact
          - NoLongerWithFirm
        createdDate:
          type: string
          format: date-time
      xml:
        name: UserInfoDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
