openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Homepage/Portfolio View API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Homepage/PortfolioView
paths:
  /v1/Homepage/PortfolioView/{dashboardId}:
    put:
      tags:
      - Homepage/PortfolioView
      summary: Dashboard update portfolio view dashboard async
      operationId: Dashboard_UpdatePortfolioViewDashboardAsync
      parameters:
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto'
        required: true
      x-summary-source: derived
  /v1/Homepage/PortfolioView/{id}:
    delete:
      tags:
      - Homepage/PortfolioView
      operationId: Dashboard_DeletePortfolioViewAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dashboard delete portfolio view async
      x-summary-source: derived
  /v1/Homepage/PortfolioView/CacheDataSource:
    post:
      tags:
      - Homepage/PortfolioView
      operationId: Dashboard_PostV1HomepagePortfolioViewCacheDataSource
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Homepage.CachedData'
              xml:
                name: CachedData
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Homepage.CachedData'
              xml:
                name: CachedData
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Homepage.CachedData'
              xml:
                name: CachedData
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Homepage.CachedData'
              xml:
                name: CachedData
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Homepage.CachedData'
              xml:
                name: CachedData
                wrapped: true
              type: array
        required: true
      summary: Dashboard post V1 homepage portfolio view cache data source
      x-summary-source: derived
  /v1/Homepage/PortfolioView/CachedData/{keyString}:
    get:
      tags:
      - Homepage/PortfolioView
      operationId: Dashboard_GetCachedDataSource
      parameters:
      - name: keyString
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dashboard get cached data source
      x-summary-source: derived
  /v1/Homepage/PortfolioView/MeetingAgenda/{keyString}:
    get:
      tags:
      - Homepage/PortfolioView
      operationId: Dashboard_GetV1HomepagePortfolioViewMeetingAgendaByKeyString
      parameters:
      - name: keyString
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dashboard get V1 homepage portfolio view meeting agenda by key string
      x-summary-source: derived
  /v1/Homepage/PortfolioView/MeetingAgenda/Cache:
    post:
      tags:
      - Homepage/PortfolioView
      operationId: Dashboard_GenerateCacheKey
      parameters:
      - name: clientId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.OpenAI.MeetingAgenda'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.OpenAI.MeetingAgenda'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.OpenAI.MeetingAgenda'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.OpenAI.MeetingAgenda'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.OpenAI.MeetingAgenda'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.OpenAI.MeetingAgenda'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Integrations.OpenAI.MeetingAgenda'
        required: true
      summary: Dashboard generate cache key
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.HomepageDashboard.CardSettingDto:
      properties:
        displayName:
          type: string
        promptType:
          type: integer
          format: int32
        selectedValue:
          type: string
        code:
          type: string
        dataType:
          type: string
        availableValues:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.AvailableValueDto'
          xml:
            name: AvailableValueDto
            wrapped: true
          type: array
        valuesSource:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.ValuesSourceDto'
        option:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardsettingOptionDto'
        hidden:
          type: boolean
        settings:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingDto'
          xml:
            name: CardSettingDto
            wrapped: true
          type: array
        category:
          type: string
        dragSortEnabled:
          type: boolean
        useDefaultIfHidden:
          type: boolean
        isThreeDotMenu:
          type: boolean
        cardEventType:
          type: integer
          format: int32
        mappings:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardMappingDto'
        listEditor:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.ListEditorConfigDto'
        listEditorMenuTargetCode:
          type: string
        maxOptionsAllowed:
          type: integer
          format: int32
      xml:
        name: CardSettingDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.BucketMappingDto:
      properties:
        name:
          type: string
        id:
          type: integer
          format: int32
        includedValues:
          type: string
      xml:
        name: BucketMappingDto
      type: object
    OAS.DataProcess.Integrations.OpenAI.Agenda:
      properties:
        title:
          type: string
        allocatedTime:
          type: integer
          format: int32
        allocatedTimeInMinute:
          readOnly: true
          type: string
        keyPoints:
          items:
            type: string
          type: array
      xml:
        name: Agenda
      type: object
    OAS.WebApi.DTO.HomepageDashboard.ParameterDto:
      properties:
        name:
          type: string
        value:
          type: string
        displayName:
          type: string
        options:
          type: string
        code:
          type: string
      xml:
        name: ParameterDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.HomepageDashboardDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isDefault:
          type: boolean
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        isGlobal:
          type: boolean
        parentDashboardId:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        isShared:
          type: boolean
        dashboardType:
          type: string
          enum:
          - Homepage
          - View
          - Tool
        cards:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardDto'
          xml:
            name: CardDto
            wrapped: true
          type: array
      xml:
        name: HomepageDashboardDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.SliderOptionDto:
      properties:
        min:
          type: integer
          format: int32
        max:
          type: integer
          format: int32
        dimension:
          type: integer
          format: int32
      xml:
        name: SliderOptionDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.ListEditorConfigDto:
      description: Declarative list editor UI config stored on card settings JSON (listEditor).
      properties:
        mode:
          type: string
        labelField:
          type: string
        valueField:
          type: string
        readOnlyFields:
          items:
            type: string
          type: array
        maxItems:
          type: integer
          format: int32
        minItems:
          type: integer
          format: int32
        allowAdd:
          type: boolean
        allowRemove:
          type: boolean
        allowReorder:
          type: boolean
        emptyMessage:
          type: string
        persistStrategy:
          type: string
      xml:
        name: ListEditorConfigDto
      type: object
    OAS.WebApi.Domains.Homepage.CachedData:
      properties:
        key:
          type: string
        data:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.DataSourceDataResultOfSystem.Object'
      xml:
        name: CachedData
      type: object
    OAS.WebApi.DTO.HomepageDashboard.ComponentDto:
      properties:
        id:
          type: integer
          format: int32
        parentComponentId:
          type: integer
          format: int32
        dataSourceId:
          type: integer
          format: int32
        title:
          type: string
        type:
          type: string
          enum:
          - Text
          - Header
          - Footer
          - Table
          - Chart
          - BigNumber
          - Hr
          - Grid
          - ComponentButtonList
          - ActionSteps
          - SchwabStatus
          - RiskProfile
          - ComponentIFrame
          - Message
          - Gauge
          - ThreeDRiskProfile
          - BeFi20
          - MgpInsurancePolicy
          - SimpleGroupingTable
          - MgpPlanSummary
          - ImageDisplay
          - QueryStudioResultsGrid
        setting:
          type: object
        sort:
          type: integer
          format: int32
        dataSource:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.DataSource'
        components:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.ComponentDto'
          xml:
            name: ComponentDto
            wrapped: true
          type: array
      xml:
        name: ComponentDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.InputOption:
      properties:
        min:
          type: integer
          format: int32
        max:
          type: integer
          format: int32
      xml:
        name: InputOption
      type: object
    OAS.WebApi.DTO.HomepageDashboard.AvailableValueDto:
      properties:
        displayName:
          type: string
        value:
          type: string
        sortOrder:
          type: integer
          format: int32
        bucketValue:
          type: string
        isHidden:
          type: boolean
        dataText:
          type: string
        cssClass:
          type: string
        setting:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingDto'
      xml:
        name: AvailableValueDto
      type: object
    OAS.DataProcess.Integrations.OpenAI.MeetingAgenda:
      properties:
        reportId:
          type: string
        fileId:
          type: string
        items:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Integrations.OpenAI.Agenda'
          xml:
            name: Agenda
            wrapped: true
          type: array
      xml:
        name: MeetingAgenda
      type: object
    OAS.WebApi.DTO.HomepageDashboard.DataSourceDataResultOfSystem.Object:
      properties:
        dataSourceId:
          description: ''
          type: integer
          format: int32
        data:
          description: ''
          readOnly: true
          type: object
        isCached:
          type: boolean
        error:
          description: ''
          type: string
      xml:
        name: DataSourceDataResult`1
      type: object
    OAS.WebApi.DTO.HomepageDashboard.CardsettingOptionDto:
      properties:
        inputOption:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.InputOption'
        sliderOption:
          $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.SliderOptionDto'
      xml:
        name: CardsettingOptionDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.CardMappingDto:
      properties:
        type:
          type: string
        text:
          type: string
        originalAvailableValues:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.AvailableValueDto'
          xml:
            name: AvailableValueDto
            wrapped: true
          type: array
        buckets:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.BucketMappingDto'
          xml:
            name: BucketMappingDto
            wrapped: true
          type: array
      xml:
        name: CardMappingDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.DataSource:
      properties:
        id:
          type: integer
          format: int32
        text:
          type: string
        description:
          type: string
        privilegeId:
          type: integer
          format: int32
        hasAccess:
          type: boolean
        connector:
          type: string
          enum:
          - DB
          - RestApi
          - DirectRestApi
          - Eclipse
          - RB3
          - AWSPOC
        type:
          type: string
          enum:
          - External
          - Internal
        configurationJson:
          type: string
        parameters:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.ParameterDto'
          xml:
            name: ParameterDto
            wrapped: true
          type: array
      xml:
        name: DataSource
      type: object
    OAS.WebApi.DTO.HomepageDashboard.ValuesSourceDto:
      properties:
        endpoint:
          type: string
        labelField:
          type: string
        valueField:
          type: string
      xml:
        name: ValuesSourceDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.CardDto:
      properties:
        dashboardCardId:
          type: integer
          format: int32
        isGlobal:
          type: boolean
        position:
          type: integer
          format: int32
        isVisible:
          type: boolean
        hideIfRestricted:
          type: boolean
        setting:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.CardSettingDto'
          xml:
            name: CardSettingDto
            wrapped: true
          type: array
        components:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.ComponentDto'
          xml:
            name: ComponentDto
            wrapped: true
          type: array
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        size:
          type: integer
          format: int32
        category:
          type: string
          enum:
          - General
          - Billing
          - Compliance
          - Data
          - Reporting
          - Trading
          - Performance
          - Query
          - NewAccountCenter
          - ReconcilliationStatus
          - QuarterEndDashboard
          - Trends
          - Eclipse
          - Custodian
          - Integrations
          - Allocation
          - Activity
          - TargetAllocation
          - Alternatives
          - GainLoss
          - Income
          - Planning
          - CustomIndexing
          - IFrame
        icon:
          type: string
      xml:
        name: CardDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
