openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Risk Scores API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/RiskScores
paths:
  /v1/Integrations/RiskScores/AddNewAccountScore:
    post:
      tags:
      - Integrations/RiskScores
      operationId: GenericRiskScore_AddAccountScoreAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
        required: true
      summary: Generic risk score add account score async
      x-summary-source: derived
  /v1/Integrations/RiskScores/AddNewAccountScores:
    post:
      tags:
      - Integrations/RiskScores
      operationId: GenericRiskScore_AddAccountScoresAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
              xml:
                name: RiskScoreGenericDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
              xml:
                name: RiskScoreGenericDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
              xml:
                name: RiskScoreGenericDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
              xml:
                name: RiskScoreGenericDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
              xml:
                name: RiskScoreGenericDto
                wrapped: true
              type: array
        required: true
      summary: Generic risk score add account scores async
      x-summary-source: derived
  /v1/Integrations/RiskScores/AddNewClientScore:
    post:
      tags:
      - Integrations/RiskScores
      summary: Add new client score data
      operationId: GenericRiskScore_AddClientScoreAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
        required: true
  /v1/Integrations/RiskScores/AddNewClientScores:
    post:
      tags:
      - Integrations/RiskScores
      summary: Add multiple client scores data
      operationId: GenericRiskScore_AddClientScoresAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
              xml:
                name: RiskScoreGenericDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
              xml:
                name: RiskScoreGenericDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
              xml:
                name: RiskScoreGenericDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
              xml:
                name: RiskScoreGenericDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
              xml:
                name: RiskScoreGenericDto
                wrapped: true
              type: array
        description: '{System.Collections.Generic.IList`1} representing new scores data'
        required: true
  /v1/Integrations/RiskScores/CurrentAccountScore/{accountId}:
    get:
      tags:
      - Integrations/RiskScores
      summary: Need to configure new privilege to work with…
      operationId: GenericRiskScore_GetCurrentAccountScoreAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/RiskScores/CurrentClientScore/{clientId}:
    get:
      tags:
      - Integrations/RiskScores
      summary: Need to configure new privilege to work with…
      operationId: GenericRiskScore_GetCurrentClientScoreAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Integrations/RiskScores/DeleteAccountScore/{accountId}:
    delete:
      tags:
      - Integrations/RiskScores
      operationId: GenericRiskScore_DeleteAccountScoreAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Generic risk score delete account score async
      x-summary-source: derived
  /v1/Integrations/RiskScores/DeleteClientScore/{clientId}:
    delete:
      tags:
      - Integrations/RiskScores
      operationId: GenericRiskScore_DeleteClientScoreAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Generic risk score delete client score async
      x-summary-source: derived
  /v1/Integrations/RiskScores/UpdateCurrentAccountScore:
    put:
      tags:
      - Integrations/RiskScores
      summary: Update account score
      operationId: GenericRiskScore_UpdateCurrentAccountScoreAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
        required: true
  /v1/Integrations/RiskScores/UpdateCurrentClientScore:
    put:
      tags:
      - Integrations/RiskScores
      summary: Update client (hh) score
      operationId: GenericRiskScore_UpdateCurrentClientScoreAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.Integration.RiskScoreGenericDto'
        required: true
components:
  schemas:
    OAS.DataModel.Integration.RiskScoreGenericDto:
      properties:
        currentScore:
          type: number
          format: double
        targetScore:
          type: number
          format: double
        portfolioRiskScore:
          type: number
          format: double
        clientId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
        scoreProvider:
          type: string
        asOfDate:
          type: string
          format: date-time
      xml:
        name: RiskScoreGenericDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
