openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Homepage/Users API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Homepage/Users
paths:
  /v1/Homepage/Users/Dashboards/DefaultDashboard:
    post:
      tags:
      - Homepage/Users
      operationId: Dashboard_CreateDefaultDashboardAsync
      parameters:
      - name: dashboardName
        in: query
        required: true
        schema:
          type: string
      - name: isPortfolioView
        in: query
        required: true
        schema:
          type: boolean
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Dashboard create default dashboard async
      x-summary-source: derived
  /v1/Homepage/Users/Dashboards/GetGlobalDashboardsAsync:
    get:
      tags:
      - Homepage/Users
      summary: Dashboard get global dashboards async
      operationId: Dashboard_GetGlobalDashboardsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: isPortfolioView
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Homepage/Users/Dashboards/Simple:
    get:
      tags:
      - Homepage/Users
      summary: Dashboard get dashboard for user async
      operationId: Dashboard_GetDashboardForUserAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: isPortfolioView
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      x-summary-source: derived
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
