openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Matrix B50 API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/MatrixB50
paths:
  /v1/Portfolio/MatrixB50:
    get:
      tags:
      - Portfolio/MatrixB50
      operationId: MatrixB50_GetData
      parameters:
      - name: startCreatedDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endCreatedDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.MatrixB50Dto'
                xml:
                  name: MatrixB50Dto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.MatrixB50Dto'
                xml:
                  name: MatrixB50Dto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.MatrixB50Dto'
                xml:
                  name: MatrixB50Dto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.MatrixB50Dto'
                xml:
                  name: MatrixB50Dto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.MatrixB50Dto'
                xml:
                  name: MatrixB50Dto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.MatrixB50Dto'
                xml:
                  name: MatrixB50Dto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Matrix B50 get data
      x-summary-source: derived
  /v1/Portfolio/MatrixB50/List/UpdateStatus:
    put:
      tags:
      - Portfolio/MatrixB50
      operationId: MatrixB50_UpdateStatusAsync
      parameters:
      - name: token
        in: header
        required: true
      - name: status
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Matrix B50 update status async
      x-summary-source: derived
  /v1/Portfolio/MatrixB50/Status:
    get:
      tags:
      - Portfolio/MatrixB50
      operationId: MatrixB50_Status
      parameters:
      - name: includeAll
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Matrix B50 status
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Portfolio.MatrixB50Dto:
      properties:
        status:
          type: string
        accountId:
          type: integer
          format: int32
        accountCode:
          type: string
        subAdvisor:
          type: string
        regName:
          type: string
        fundFamily:
          type: string
        productName:
          type: string
        ticker:
          type: string
        cusip:
          type: string
        source:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        riaAccountId:
          type: integer
          format: int32
        notes:
          type: string
        sharesClass:
          type: string
        id:
          type: integer
          format: int32
      xml:
        name: MatrixB50Dto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
