openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Global/Dividends API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Global/Dividends
paths:
  /v1/Global/Dividends:
    get:
      tags:
      - Global/Dividends
      summary: Gets a list of dividends that the logged in user has access to.
      operationId: GlobalDividends_Get
      parameters:
      - name: productId
        in: query
        description: Optional. Default null. Product Id of the desired return object.
        required: false
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: Optional. Default null. If provided, returns any dividend with an exDate on or after the date.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. Default null. If provided, returns any dividend with an exDate on or before the date.
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
                xml:
                  name: DividendDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
                xml:
                  name: DividendDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
                xml:
                  name: DividendDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
                xml:
                  name: DividendDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
                xml:
                  name: DividendDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
                xml:
                  name: DividendDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Global/Dividends
      operationId: GlobalDividends_UpdateDividends
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
                xml:
                  name: DividendDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
                xml:
                  name: DividendDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
                xml:
                  name: DividendDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
                xml:
                  name: DividendDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
                xml:
                  name: DividendDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
                xml:
                  name: DividendDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
              xml:
                name: DividendDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
              xml:
                name: DividendDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
              xml:
                name: DividendDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
              xml:
                name: DividendDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
              xml:
                name: DividendDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
              xml:
                name: DividendDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
              xml:
                name: DividendDto
                wrapped: true
              type: array
        required: true
      summary: Global dividends update dividends
      x-summary-source: derived
    post:
      tags:
      - Global/Dividends
      summary: Used to create a new dividend.
      operationId: GlobalDividends_CreateDividends
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
        required: true
  /v1/Global/Dividends/{key}:
    get:
      tags:
      - Global/Dividends
      summary: Gets the dividend that has the provided key.
      operationId: GlobalDividends_GetByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
      security:
      - Authorization: []
    put:
      tags:
      - Global/Dividends
      summary: Used to update an existing dividend.
      operationId: GlobalDividends_UpdateDividend
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DividendDto'
        required: true
    delete:
      tags:
      - Global/Dividends
      summary: Used to delete an existing dividend.
      operationId: GlobalDividends_DeleteDividend
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Global/Dividends/Action/Delete:
    put:
      tags:
      - Global/Dividends
      operationId: GlobalDividends_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Global dividends action delete
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.DividendDto:
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        dividendTypeId:
          type: integer
          format: int32
        dividendType:
          type: string
        payDate:
          type: string
          format: date-time
        exDate:
          type: string
          format: date-time
        oldSymbol:
          type: string
        newSymbol:
          type: string
        oldName:
          type: string
        newName:
          type: string
        grossDivRate:
          type: number
          format: double
        shortTermRate:
          type: number
          format: double
        longTermRate:
          type: number
          format: double
        splitFactor:
          type: number
          format: double
        shareFactor:
          type: number
          format: double
        costFactor:
          type: number
          format: double
        cashInLieuPrice:
          type: number
          format: double
        cash:
          type: number
          format: double
        note:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        netDivRate:
          type: number
          format: double
        divFeeRate:
          type: number
          format: double
        specialDivRate:
          type: number
          format: double
        approvalStatus:
          type: string
        capitalRate:
          type: number
          format: double
        qualifiedRateDollar:
          type: number
          format: double
        qualifiedRatePercent:
          type: number
          format: double
        declarationDate:
          type: string
          format: date-time
        declarationType:
          type: integer
          format: int32
        currencyCode:
          type: string
        taxStatusCodeId:
          type: integer
          format: int32
        announcementType:
          type: integer
          format: int32
        frequency:
          type: string
        recordDate:
          type: string
          format: date-time
        divOnlyRate:
          type: number
          format: double
        fileRecordID:
          type: string
        indicatedAnnualDividend:
          type: number
          format: double
      xml:
        name: DividendDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
