openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Vanilla API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/Vanilla
paths:
  /v1/Integrations/Vanilla/Action/SAML:
    get:
      tags:
      - Integrations/Vanilla
      operationId: Vanilla_StartSSOAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Vanilla start SSO async
      x-summary-source: derived
  /v1/Integrations/Vanilla/GetToken:
    get:
      tags:
      - Integrations/Vanilla
      operationId: Vanilla_GetTokenAsync
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Vanilla.VanillaToken'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Vanilla.VanillaToken'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Vanilla.VanillaToken'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Vanilla.VanillaToken'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Vanilla.VanillaToken'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Vanilla.VanillaToken'
      security:
      - Authorization: []
      summary: Vanilla get token async
      x-summary-source: derived
  /v1/Integrations/Vanilla/Redirect:
    get:
      tags:
      - Integrations/Vanilla
      operationId: Vanilla_GetRedirectUrlAsync
      parameters:
      - name: Authorization
        in: query
        required: true
        schema:
          type: string
      - name: t
        in: query
        required: true
        schema:
          type: string
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Vanilla get redirect url async
      x-summary-source: derived
  /v1/Integrations/Vanilla/RefreshToken:
    get:
      tags:
      - Integrations/Vanilla
      operationId: Vanilla_RefreshTokenAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Vanilla.VanillaToken'
            application/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Vanilla.VanillaToken'
            text/json:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Vanilla.VanillaToken'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Vanilla.VanillaToken'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Vanilla.VanillaToken'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAT.Integrations.Vanilla.VanillaToken'
      security:
      - Authorization: []
      summary: Vanilla refresh token async
      x-summary-source: derived
components:
  schemas:
    OAT.Integrations.Vanilla.VanillaToken:
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        scope:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer
          format: int32
        expires_datetime:
          type: string
          format: date-time
      xml:
        name: VanillaToken
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
