openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Instances API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/Instances
paths:
  /v1/Billing/Instances:
    get:
      tags:
      - Billing/Instances
      summary: Get a list of bill instances that the logged in user has access to see.
      operationId: BillingInstance_Get
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Instances/{id}/Action/BillDataFiles:
    post:
      tags:
      - Billing/Instances
      operationId: BillingInstance_ActionCreateBillDataFilesAsync
      parameters:
      - name: token
        in: header
        required: true
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing instance action create bill data files async
      x-summary-source: derived
  /v1/Billing/Instances/{id}/Action/Complete:
    post:
      tags:
      - Billing/Instances
      operationId: BillingInstance_ForceCompleteAsync
      parameters:
      - name: token
        in: header
        required: true
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing instance force complete async
      x-summary-source: derived
  /v1/Billing/Instances/{id}/Action/Invalidate:
    post:
      tags:
      - Billing/Instances
      operationId: BillingInstance_InvalidateAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: validate
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing instance invalidate async
      x-summary-source: derived
  /v1/Billing/Instances/{id}/Action/ResetFeeFile:
    post:
      tags:
      - Billing/Instances
      summary: This operation will provide entity payout payments.
      description: 'Sample Request

        POST /Billing/Instances/13/Action/ResetFeeFile'
      operationId: BillingInstance_ResetFeeFileAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: id
        in: path
        description: Requires. Bill Instance Id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Billing/Instances/{key}:
    get:
      tags:
      - Billing/Instances
      summary: Gets the bill instance that has the provided key.
      operationId: BillingInstance_GetEntityByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
      security:
      - Authorization: []
    put:
      tags:
      - Billing/Instances
      summary: Update bill instance provided in the key
      operationId: BillingInstance_UpdateAync
      parameters:
      - name: token
        in: header
        required: true
      - name: key
        in: path
        description: Key of the desired return objects.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
        description: Dto of the desired return objects.
        required: true
  /v1/Billing/Instances/{key}/Action/Generate:
    put:
      tags:
      - Billing/Instances
      operationId: BillingInstance_ActionGenerateAsync
      parameters:
      - name: token
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: lockDown
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Billing instance action generate async
      x-summary-source: derived
  /v1/Billing/Instances/{key}/Action/Generate/Automate:
    put:
      tags:
      - Billing/Instances
      operationId: BillingInstance_ActionGenerateAutomateAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: lockDown
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: token
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Billing instance action generate automate async
      x-summary-source: derived
  /v1/Billing/Instances/{key}/Action/Generate/Cancel:
    put:
      tags:
      - Billing/Instances
      summary: Cancel a running Bill Generation Job
      operationId: BillingInstance_ActionCancelGenerateAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Billing/Instances/{key}/BillingEngine/Status:
    get:
      tags:
      - Billing/Instances
      summary: Get Step Functions execution status for a bill instance started via the new…
      operationId: BillingInstance_GetBillingEngineStatusAsync
      parameters:
      - name: token
        in: header
        description: Cancellation token
        required: true
      - name: key
        in: path
        description: Bill instance Id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEngineStatusDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEngineStatusDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEngineStatusDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEngineStatusDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEngineStatusDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillingEngineStatusDto'
      security:
      - Authorization: []
  /v1/Billing/Instances/{key}/RecalcPayees:
    put:
      tags:
      - Billing/Instances
      operationId: BillingInstance_RecalcPayeesAsync
      parameters:
      - name: token
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Billing instance recalc payees async
      x-summary-source: derived
  /v1/Billing/Instances/{key}/Simple:
    get:
      tags:
      - Billing/Instances
      summary: Gets the simple bill instances that has the provided key.
      operationId: BillingInstance_GetSimpleByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
      security:
      - Authorization: []
  /v1/Billing/Instances/ABCompare/{instanceId}:
    get:
      tags:
      - Billing/Instances
      summary: Returns a zip file containting the compare results from the AB Compare…
      operationId: BillingInstance_DownloadABBillCompareAsync
      parameters:
      - name: instanceId
        in: path
        description: Required. First Instance being compared (Instance A)
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Billing/Instances/Action/CompareBills:
    post:
      tags:
      - Billing/Instances
      summary: Billing instance compare bills async
      operationId: BillingInstance_CompareBillsAsync
      parameters:
      - name: billIdOne
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: billIdTwo
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Billing/Instances/Action/Delete:
    put:
      tags:
      - Billing/Instances
      operationId: BillingInstance_ActionDeleteAsync
      parameters:
      - name: token
        in: header
        required: true
      - name: bypassDeleteJobCheck
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Billing instance action delete async
      x-summary-source: derived
  /v1/Billing/Instances/Action/FeeFiles:
    post:
      tags:
      - Billing/Instances
      summary: Creates fee files as db blobs based on bill instance ids and, optionally, a…
      operationId: BillingInstance_ActionCreateFeeFilesAsync
      parameters:
      - name: token
        in: header
        required: true
      - name: custodianId
        in: query
        description: Nullable/Optional Custodian ID
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: Bill Instance Id's for which to generate fee files
        required: true
  /v1/Billing/Instances/Action/FeeFiles/Create:
    post:
      tags:
      - Billing/Instances
      summary: Creates fee files for bill instances in Complete status or completed bill…
      operationId: BillingInstance_ActionCreateBillFeeFilesAsync
      parameters:
      - name: token
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CreateBillFeeFilesDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CreateBillFeeFilesDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CreateBillFeeFilesDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CreateBillFeeFilesDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CreateBillFeeFilesDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CreateBillFeeFilesDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.CreateBillFeeFilesDto'
        required: true
  /v1/Billing/Instances/Action/FeeFiles/DateRange:
    post:
      tags:
      - Billing/Instances
      summary: Creates fee files for completed bill instances within the provided date range
      operationId: BillingInstance_ActionCreateFeeFilesDateRangeAsync
      parameters:
      - name: token
        in: header
        required: true
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Billing/Instances/CanDelete:
    get:
      tags:
      - Billing/Instances
      summary: 'Returns whether new bill instance deletes may be started: false when any…'
      operationId: BillingInstance_CanDeleteAsync
      parameters:
      - name: token
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Billing/Instances/CheckExportBillInstanceIds:
    get:
      tags:
      - Billing/Instances
      operationId: BillingInstance_CheckExportBillInstanceIds
      parameters:
      - name: billInstanceIds
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
      summary: Billing instance check export bill instance ids
      x-summary-source: derived
  /v1/Billing/Instances/Client/{id}/Action/Invalidate:
    post:
      tags:
      - Billing/Instances
      operationId: BillingInstanceClient_Invalidate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: validate
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing instance client invalidate
      x-summary-source: derived
  /v1/Billing/Instances/Client/{id}/List:
    get:
      tags:
      - Billing/Instances
      summary: Get a list of billInstanceClients by a single clientId
      operationId: BillingInstanceClient_GetByClientIdAsync
      parameters:
      - name: id
        in: path
        description: Household ID of billInstance clients requested
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceClientDto'
                xml:
                  name: BillInstanceClientDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceClientDto'
                xml:
                  name: BillInstanceClientDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceClientDto'
                xml:
                  name: BillInstanceClientDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceClientDto'
                xml:
                  name: BillInstanceClientDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceClientDto'
                xml:
                  name: BillInstanceClientDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceClientDto'
                xml:
                  name: BillInstanceClientDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Instances/Client/Action/InvalidateMultiple:
    post:
      tags:
      - Billing/Instances
      operationId: BillingInstanceClient_InvalidateAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: validate
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Billing instance client invalidate async
      x-summary-source: derived
  /v1/Billing/Instances/EclipseExport:
    get:
      tags:
      - Billing/Instances
      operationId: BillingInstance_ExportOrionBillingToFileAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: billInstanceIds
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: isForecast
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing instance export orion billing to file async
      x-summary-source: derived
  /v1/Billing/Instances/GenerateCashFunding:
    post:
      tags:
      - Billing/Instances
      operationId: BillingInstance_GenerateCashFundingAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: billInstanceIds
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: isForecast
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Billing instance generate cash funding async
      x-summary-source: derived
  /v1/Billing/Instances/List:
    post:
      tags:
      - Billing/Instances
      summary: Gets a list of bill assets that match one of the keys in the provided list
      operationId: BillingInstance_GetListById
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of keys of the desired return objects.
        required: true
  /v1/Billing/Instances/List/Id:
    post:
      tags:
      - Billing/Instances
      summary: Gets a list of bill assets that match one of the keys in the provided list
      operationId: BillingInstance_PostV1BillingInstancesListId
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
                xml:
                  name: BillInstanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of keys of the desired return objects.
        required: true
  /v1/Billing/Instances/New:
    post:
      tags:
      - Billing/Instances
      summary: Gets the bill instance that has the provided key.
      operationId: BillingInstance_CreateInstance
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillInstanceDto'
        description: Key of the desired return object.
        required: true
  /v1/Billing/Instances/Search:
    get:
      tags:
      - Billing/Instances
      operationId: BillingInstance_GetSearchAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: isMock
        in: query
        required: false
        schema:
          type: boolean
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Billing instance get search async
      x-summary-source: derived
  /v1/Billing/Instances/Search/{search}:
    get:
      tags:
      - Billing/Instances
      operationId: BillingInstance_GetV1BillingInstancesSearchBySearch
      parameters:
      - name: ct
        in: header
        required: true
      - name: search
        in: path
        required: true
        schema:
          type: string
      - name: isMock
        in: query
        required: false
        schema:
          type: boolean
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Billing instance get V1 billing instances search by search
      x-summary-source: derived
  /v1/Billing/Instances/Simple:
    get:
      tags:
      - Billing/Instances
      summary: Gets a simple list of bill instances that the logged in user has access to.
      operationId: BillingInstance_GetSimple
      parameters:
      - name: hasValidBills
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Instances/Simple/List:
    post:
      tags:
      - Billing/Instances
      summary: Gets a simple list of bill instances that match one of the keys in the provided…
      operationId: BillingInstance_GetSimpleListById
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of keys of the desired return objects.
        required: true
  /v1/Billing/Instances/Simple/List/Id:
    post:
      tags:
      - Billing/Instances
      summary: Gets a simple list of bill instances that match one of the keys in the provided…
      operationId: BillingInstance_PostV1BillingInstancesSimpleListId
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of keys of the desired return objects.
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Billing.BillInstanceDto:
      properties:
        id:
          type: integer
          format: int32
        nickName:
          type: string
        statusValue:
          type: string
          enum:
          - NotGenerated
          - BillDataFilesNeeded
          - FeeFileNeeded
          - WaitingforPostPayments
          - AdvisoryFeeRptsNeeded
          - UpdatePayablesNeeded
          - Complete
          - ForcedComplete
          - FeeFileFailed
          - FeeFileInProcess
          - PendingDeletion
          - DeletionInProgress
          - ErrorDeletingInstance
        runForGroup:
          type: string
          enum:
          - AllHouseholds
          - FundFamily
          - Custodian
          - Representative
          - BusinessLine
          - SingleHHNewBill
          - SingleHHRerun
          - Accounts
          - ImportedHouseholds
          - ImportedHHRerun
          - FinalBill
        runForAccounts:
          type: string
          enum:
          - ActiveAccounts
          - InActiveAccounts
          - AllAccounts
        billType:
          type: string
          enum:
          - Unknown
          - Renewal
          - NewMoney
          - NewAccount
          - FinancialPlanningFee
          - Performance
          - AdvanceCreditDebit
        isMockBill:
          type: boolean
        periodStart:
          type: string
          format: date-time
        periodEnd:
          type: string
          format: date-time
        householdCount:
          type: integer
          format: int32
        marketValue:
          type: number
          format: double
        balanceDue:
          type: number
          format: double
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        hasValidBills:
          type: boolean
        allowDuplicateMockBills:
          type: boolean
        endDateOverride:
          type: string
          format: date-time
        asOfDate:
          type: string
          format: date-time
        valueDateOverride:
          type: string
          format: date-time
        isLockdown:
          type: boolean
        instanceType:
          type: string
          enum:
          - Live
          - Forecast
      xml:
        name: BillInstanceDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Billing.BillInstanceClientDto:
      properties:
        id:
          type: integer
          format: int32
        billInstanceId:
          type: integer
          format: int32
        billType:
          type: string
          enum:
          - Unknown
          - Renewal
          - NewMoney
          - NewAccount
          - FinancialPlanningFee
          - Performance
          - AdvanceCreditDebit
        clientId:
          type: integer
          format: int32
        clientName:
          type: string
        status:
          type: string
          enum:
          - NotGenerated
          - Generated
          - Errored
          - PendingGeneration
          - OnHold
          - Warning
          - FeeFileError
          - ReconError
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        initialAmt:
          type: number
          format: double
        adjAmt:
          type: number
          format: double
        balanceDue:
          type: number
          format: double
        marketValue:
          type: number
          format: double
        feeAmount:
          type: number
          format: double
        feeFileGenerated:
          type: boolean
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        updatedBy:
          type: string
        billId:
          type: integer
          format: int32
        errorMessage:
          type: string
        repName:
          type: string
        repID:
          type: integer
          format: int32
        repNumber:
          type: string
        relatedHouseholds:
          readOnly: true
          type: string
        isValid:
          type: boolean
      xml:
        name: BillInstanceClientDto
      type: object
    OAS.WebApi.DTO.Billing.CreateBillFeeFilesDto:
      properties:
        billInstances:
          items:
            type: integer
            format: int32
          type: array
        custodianSelectOption:
          type: string
        ffSelectOption:
          type: string
        custodians:
          items:
            type: integer
            format: int32
          type: array
        fundFamilies:
          items:
            type: integer
            format: int32
          type: array
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
      xml:
        name: CreateBillFeeFilesDto
      type: object
    OAS.WebApi.DTO.Billing.BillingEngineStatusDto:
      description: Bill-generator execution status for a bill instance (from Billing API Gateway).
      properties:
        billInstanceId:
          type: integer
          format: int32
        executionName:
          type: string
        status:
          description: RUNNING, SUCCEEDED, FAILED, TIMED_OUT, or ABORTED.
          type: string
        error:
          type: string
        cause:
          type: string
        startDate:
          type: string
          format: date-time
        stopDate:
          type: string
          format: date-time
      xml:
        name: BillingEngineStatusDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
