openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Validate Expressions API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/ValidateExpressions
paths:
  /v1/Utility/ValidateExpressions:
    post:
      tags:
      - Utility/ValidateExpressions
      operationId: Utility_ValidateExpressions
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ExpressionValidResultDto'
                xml:
                  name: ExpressionValidResultDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ExpressionValidResultDto'
                xml:
                  name: ExpressionValidResultDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ExpressionValidResultDto'
                xml:
                  name: ExpressionValidResultDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ExpressionValidResultDto'
                xml:
                  name: ExpressionValidResultDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ExpressionValidResultDto'
                xml:
                  name: ExpressionValidResultDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.ExpressionValidResultDto'
                xml:
                  name: ExpressionValidResultDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/xml:
            schema:
              items:
                type: string
              type: array
          text/xml:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        required: true
      summary: Utility validate expressions
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Utility.ExpressionValidResultDto:
      properties:
        expression:
          type: string
        isValid:
          type: boolean
      xml:
        name: ExpressionValidResultDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
