openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Products API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/Products
paths:
  /v1/Portfolio/Products:
    get:
      tags:
      - Portfolio/Products
      summary: Gets a list of local products that the logged in user has access to.
      operationId: Products_GetAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: productFilter
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - LocalProducts
          - CurrentlyOwnedProducts
          - HasEverOwnedProducts
          - MissingRiskCategories
          - MissingAssetClasses
          - Top1000BySubType
      - name: ownedOnDate
        in: query
        description: 'Optional. Default: null. If provided returns only products that were owned on the date provided.'
        required: false
        schema:
          type: string
          format: date-time
      - name: searchTicker
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker that contains the text provided.'
        required: false
        schema:
          type: string
      - name: exactTicker
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: exactCusip
        in: query
        description: 'Optional. Default: null. If provided returns only products with a cusip that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: searchCusip
        in: query
        description: 'Optional. Default: null. If provided returns only products with a cusip that contains the text provided.'
        required: false
        schema:
          type: string
      - name: exactDownloadSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a download symbol that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: searchDownloadSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a download symbol that contains the text provided.'
        required: false
        schema:
          type: string
      - name: exactSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker, cusip, or download symbol that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: searchSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker, cusip, or download symbol that contains the text provided.'
        required: false
        schema:
          type: string
      - name: searchName
        in: query
        description: 'Optional. Default: null. If provided returns only products with a name that contains the text provided.'
        required: false
        schema:
          type: string
      - name: searchId
        in: query
        description: 'Optional. Default: null. If provided returns only products with the id specified.'
        required: false
        schema:
          type: integer
          format: int32
      - name: productType
        in: query
        description: 'Optional. Default: null. If provided returns only products that are of the specified type.'
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - MutualFund
            - Annuity
            - AdvisorOne
            - StockOrETF
            - Option
            - Bond
            - Unknown
            - CD
            - Index
      - name: isCustodialCash
        in: query
        description: 'Optional. Default: null. If provided returns only products that are (or aren''t) custodial cash.'
        required: false
        schema:
          type: boolean
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Audit
          - BondProductAudit
          - Alternative
      - name: fundFamilyId
        in: query
        description: 'Optional. Default: null. If provided returns only products that assigned to the provided fund family (not master fund family).'
        required: false
        schema:
          type: integer
          format: int32
      - name: bondAuditAsOfDate
        in: query
        description: 'Optional. Default: null. If returnStyle = BondProductAudit then this is the date to use. If not provided Today is used.'
        required: false
        schema:
          type: string
          format: date-time
      - name: alternativeOnly
        in: query
        description: 'Optional. Default: false. If true, returns only products that are considered to be alternative.'
        required: false
        schema:
          type: boolean
          default: false
      - name: manipulator
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Products/{key}:
    get:
      tags:
      - Portfolio/Products
      summary: Gets the local product that has the provided key.
      operationId: Products_GetByKeyAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Audit
          - BondProductAudit
          - Alternative
      - name: bondAuditAsOfDate
        in: query
        description: 'Optional. Default: null. If returnStyle = BondProductAudit then this is the date to use. If not provided Today is used.'
        required: false
        schema:
          type: string
          format: date-time
      - name: manipulator
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
      security:
      - Authorization: []
  /v1/Portfolio/Products/AssetClassificationData:
    post:
      tags:
      - Portfolio/Products
      summary: Get a list of data for provided symbol
      operationId: ProductAssetClassificationData_GetAssetDataByTicker
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionWithMorningstarDataDto'
                xml:
                  name: ProductDescriptionWithMorningstarDataDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionWithMorningstarDataDto'
                xml:
                  name: ProductDescriptionWithMorningstarDataDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionWithMorningstarDataDto'
                xml:
                  name: ProductDescriptionWithMorningstarDataDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionWithMorningstarDataDto'
                xml:
                  name: ProductDescriptionWithMorningstarDataDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionWithMorningstarDataDto'
                xml:
                  name: ProductDescriptionWithMorningstarDataDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductDescriptionWithMorningstarDataDto'
                xml:
                  name: ProductDescriptionWithMorningstarDataDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/xml:
            schema:
              items:
                type: string
              type: array
          text/xml:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        description: Array of tickers.
        required: true
  /v1/Portfolio/Products/BondCalls:
    get:
      tags:
      - Portfolio/Products
      summary: Gets a list of Product Bond Call Prices that the logged in user has access to.
      operationId: ProductsBondCalls_Get
      parameters:
      - name: productId
        in: query
        description: Optional. Default null. Product Id of the desired return object.
        required: false
        schema:
          type: integer
          format: int32
      - name: callDate
        in: query
        description: Optional. Default null. Call Date of the desired return object.
        required: false
        schema:
          type: string
          format: date-time
      - name: startDate
        in: query
        description: Optional. Default null. If provided, returns any bond call that happened on or after the date.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. Default null. If provided, returns any bond call that happened on or before the date.
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/Products
      operationId: ProductsBondCalls_UpdateBondCalls
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
        required: true
      summary: Products bond calls update bond calls
      x-summary-source: derived
    post:
      tags:
      - Portfolio/Products
      summary: Used to create a new product bondCall.
      operationId: ProductsBondCalls_CreateBondCall
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
        required: true
  /v1/Portfolio/Products/BondCalls/{productId}/{callDate}:
    get:
      tags:
      - Portfolio/Products
      summary: Gets the product/call date that has the provided key.
      operationId: ProductsBondCalls_GetByKey
      parameters:
      - name: productId
        in: path
        description: Product Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: callDate
        in: path
        description: Price date of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/Products
      summary: Used to update an existing bond call.
      operationId: ProductsBondCalls_UpdateBondCall
      parameters:
      - name: productId
        in: path
        description: Product Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: callDate
        in: path
        description: Call date of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
        required: true
    delete:
      tags:
      - Portfolio/Products
      summary: Used to delete an existing bond call.
      operationId: ProductsBondCalls_DeleteBondCall
      parameters:
      - name: productId
        in: path
        description: Product Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: callDate
        in: path
        description: Call date of the desired return object.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/Products/BondCalls/Action/Delete:
    put:
      tags:
      - Portfolio/Products
      operationId: ProductsBondCalls_ActionDelete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallKeyDto'
                xml:
                  name: ProductBondCallKeyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallKeyDto'
                xml:
                  name: ProductBondCallKeyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallKeyDto'
                xml:
                  name: ProductBondCallKeyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallKeyDto'
                xml:
                  name: ProductBondCallKeyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallKeyDto'
                xml:
                  name: ProductBondCallKeyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallKeyDto'
                xml:
                  name: ProductBondCallKeyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallKeyDto'
              xml:
                name: ProductBondCallKeyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallKeyDto'
              xml:
                name: ProductBondCallKeyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallKeyDto'
              xml:
                name: ProductBondCallKeyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallKeyDto'
              xml:
                name: ProductBondCallKeyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallKeyDto'
              xml:
                name: ProductBondCallKeyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallKeyDto'
              xml:
                name: ProductBondCallKeyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallKeyDto'
              xml:
                name: ProductBondCallKeyDto
                wrapped: true
              type: array
        required: true
      summary: Products bond calls action delete
      x-summary-source: derived
  /v1/Portfolio/Products/BondCalls/List:
    post:
      tags:
      - Portfolio/Products
      operationId: ProductsBondCalls_CreateBondCalls
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
                xml:
                  name: ProductBondCallDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductBondCallDto'
              xml:
                name: ProductBondCallDto
                wrapped: true
              type: array
        required: true
      summary: Products bond calls create bond calls
      x-summary-source: derived
  /v1/Portfolio/Products/Counts:
    get:
      tags:
      - Portfolio/Products
      operationId: Products_GetCounts
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PorfolioProductCountsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PorfolioProductCountsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PorfolioProductCountsDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PorfolioProductCountsDto'
      security:
      - Authorization: []
      summary: Products get counts
      x-summary-source: derived
  /v1/Portfolio/Products/Exclusions:
    get:
      tags:
      - Portfolio/Products
      summary: Gets a list of product entity exclusions that the logged in user has access to.
      operationId: ProductEntityExclusions_Get
      parameters:
      - name: entity
        in: query
        description: Optional. The entity to return exclusions for.
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      - name: parentId
        in: query
        description: Optional. The specific key of the entity to return for (can only be specified when also specifying entity).
        required: false
        schema:
          type: integer
          format: int32
      - name: productId
        in: query
        description: Optional. The product to return exclusions for.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/Products
      summary: Used to create a new Product Entity Exclusion.
      operationId: ProductEntityExclusions_Create
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
        required: true
  /v1/Portfolio/Products/Exclusions/{key}:
    get:
      tags:
      - Portfolio/Products
      summary: Gets the product entity exclusion that has the provided key.
      operationId: ProductEntityExclusions_GetByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/Products
      summary: Used to update an existing Product Entity Exclusion.
      operationId: ProductEntityExclusions_Update
      parameters:
      - name: key
        in: path
        description: Product Entity Exclusion Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
        required: true
    delete:
      tags:
      - Portfolio/Products
      summary: Used to delete an existing Product Entity Exclusion.
      operationId: ProductEntityExclusions_Delete
      parameters:
      - name: key
        in: path
        description: Product Entity Exclusion Id to be deleted
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/Products/Exclusions/ByTickerList:
    post:
      tags:
      - Portfolio/Products
      summary: Product entity exclusions get by ticker list
      operationId: ProductEntityExclusions_GetByTickerList
      parameters:
      - name: entity
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        required: true
      x-summary-source: derived
  /v1/Portfolio/Products/Exclusions/EnMasse:
    post:
      tags:
      - Portfolio/Products
      operationId: ProductEntityExclusions_UpdateEnMasse
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
                xml:
                  name: ProductEntityExclusionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.EnMasseDtoOfOAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.EnMasseDtoOfOAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.EnMasseDtoOfOAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.EnMasseDtoOfOAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.EnMasseDtoOfOAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.EnMasseDtoOfOAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.EnMasseDtoOfOAS.WebApi.DTO.Portfolio.ProductEntityExclusionDto'
        required: true
      summary: Product entity exclusions update en masse
      x-summary-source: derived
  /v1/Portfolio/Products/Grid/Bond/New:
    get:
      tags:
      - Portfolio/Products
      summary: Get a list of Bond audit products that the logged in user has access to The…
      description: 'Sample Request

        GET v1/Portfolio/Products/Grid/New?$top=50000&fundFamilyId=&ownedOnDate=&productFilter=haseverownedproducts&productType=&returnStyle=Standard&searchId=&searchName=&searchSymbol=

        Returns:

        [

        {

        "shareClassName": "0",

        "productCategoryAbbreviation": "E",

        "riskCategoryProductDescriptionProviderName": null,

        "assetClassProductDescriptionProviderName": "Test",

        "editedBy": "test@test.com",

        "editedDate": "2024-01-03",

        "id": 1,

        "productName": "Test",

        "ticker": "Test",

        "productType": "Stock/ETF",

        "assetClassDescription": "Test",

        "currentOrionPrice": 123.12,

        "currentOrionPriceDate": "2024-10-28"

        }

        ]'
      operationId: Products_GetAllBondNewAsync
      parameters:
      - name: manipulator
        in: header
        required: true
      - name: cancellationToken
        in: header
        required: true
      - name: productFilter
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - LocalProducts
          - CurrentlyOwnedProducts
          - HasEverOwnedProducts
          - MissingRiskCategories
          - MissingAssetClasses
          - Top1000BySubType
      - name: ownedOnDate
        in: query
        description: 'Optional. Default: null. If provided returns only products that were owned on the date provided.'
        required: false
        schema:
          type: string
          format: date-time
      - name: searchTicker
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker that contains the text provided.'
        required: false
        schema:
          type: string
      - name: exactTicker
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: exactCusip
        in: query
        description: 'Optional. Default: null. If provided returns only products with a cusip that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: searchCusip
        in: query
        description: 'Optional. Default: null. If provided returns only products with a cusip that contains the text provided.'
        required: false
        schema:
          type: string
      - name: exactDownloadSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a download symbol that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: searchDownloadSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a download symbol that contains the text provided.'
        required: false
        schema:
          type: string
      - name: exactSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker, cusip, or download symbol that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: searchSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker, cusip, or download symbol that contains the text provided.'
        required: false
        schema:
          type: string
      - name: searchName
        in: query
        description: 'Optional. Default: null. If provided returns only products with a name that contains the text provided.'
        required: false
        schema:
          type: string
      - name: searchId
        in: query
        description: 'Optional. Default: null. If provided returns only products with the id specified.'
        required: false
        schema:
          type: integer
          format: int32
      - name: productType
        in: query
        description: 'Optional. Default: null. If provided returns only products that are of the specified type.'
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - MutualFund
            - Annuity
            - AdvisorOne
            - StockOrETF
            - Option
            - Bond
            - Unknown
            - CD
            - Index
      - name: isCustodialCash
        in: query
        description: 'Optional. Default: null. If provided returns only products that are (or aren''t) custodial cash.'
        required: false
        schema:
          type: boolean
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Audit
          - BondProductAudit
          - Alternative
      - name: fundFamilyId
        in: query
        description: 'Optional. Default: null. If provided returns only products that assigned to the provided fund family (not master fund family).'
        required: false
        schema:
          type: integer
          format: int32
      - name: bondAuditAsOfDate
        in: query
        description: 'Optional. Default: null. If returnStyle = BondProductAudit then this is the date to use. If not provided Today is used.'
        required: false
        schema:
          type: string
          format: date-time
      - name: alternativeOnly
        in: query
        description: 'Optional. Default: false. If true, returns only products that are considered to be alternative.'
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Products/Grid/New:
    get:
      tags:
      - Portfolio/Products
      summary: Get a list of products that the logged in user has access to The return is…
      description: 'Sample Request

        GET v1/Portfolio/Products/Grid/New?$top=50000&fundFamilyId=&ownedOnDate=&productFilter=haseverownedproducts&productType=&returnStyle=Standard&searchId=&searchName=&searchSymbol=

        Returns:

        [

        {

        "shareClassName": "0",

        "productCategoryAbbreviation": "E",

        "riskCategoryProductDescriptionProviderName": null,

        "assetClassProductDescriptionProviderName": "Test",

        "editedBy": "test@test.com",

        "editedDate": "2024-01-03",

        "id": 1,

        "productName": "Test",

        "ticker": "Test",

        "productType": "Stock/ETF",

        "assetClassDescription": "Test",

        "currentOrionPrice": 123.12,

        "currentOrionPriceDate": "2024-10-28"

        }

        ]'
      operationId: Products_GetAllNewAsync
      parameters:
      - name: manipulator
        in: header
        required: true
      - name: cancellationToken
        in: header
        required: true
      - name: productFilter
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - LocalProducts
          - CurrentlyOwnedProducts
          - HasEverOwnedProducts
          - MissingRiskCategories
          - MissingAssetClasses
          - Top1000BySubType
      - name: ownedOnDate
        in: query
        description: 'Optional. Default: null. If provided returns only products that were owned on the date provided.'
        required: false
        schema:
          type: string
          format: date-time
      - name: searchTicker
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker that contains the text provided.'
        required: false
        schema:
          type: string
      - name: exactTicker
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: exactCusip
        in: query
        description: 'Optional. Default: null. If provided returns only products with a cusip that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: searchCusip
        in: query
        description: 'Optional. Default: null. If provided returns only products with a cusip that contains the text provided.'
        required: false
        schema:
          type: string
      - name: exactDownloadSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a download symbol that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: searchDownloadSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a download symbol that contains the text provided.'
        required: false
        schema:
          type: string
      - name: exactSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker, cusip, or download symbol that exactly matches the text provided.'
        required: false
        schema:
          type: string
      - name: searchSymbol
        in: query
        description: 'Optional. Default: null. If provided returns only products with a ticker, cusip, or download symbol that contains the text provided.'
        required: false
        schema:
          type: string
      - name: searchName
        in: query
        description: 'Optional. Default: null. If provided returns only products with a name that contains the text provided.'
        required: false
        schema:
          type: string
      - name: searchId
        in: query
        description: 'Optional. Default: null. If provided returns only products with the id specified.'
        required: false
        schema:
          type: integer
          format: int32
      - name: productType
        in: query
        description: 'Optional. Default: null. If provided returns only products that are of the specified type.'
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - MutualFund
            - Annuity
            - AdvisorOne
            - StockOrETF
            - Option
            - Bond
            - Unknown
            - CD
            - Index
      - name: isCustodialCash
        in: query
        description: 'Optional. Default: null. If provided returns only products that are (or aren''t) custodial cash.'
        required: false
        schema:
          type: boolean
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Audit
          - BondProductAudit
          - Alternative
      - name: fundFamilyId
        in: query
        description: 'Optional. Default: null. If provided returns only products that assigned to the provided fund family (not master fund family).'
        required: false
        schema:
          type: integer
          format: int32
      - name: bondAuditAsOfDate
        in: query
        description: 'Optional. Default: null. If returnStyle = BondProductAudit then this is the date to use. If not provided Today is used.'
        required: false
        schema:
          type: string
          format: date-time
      - name: alternativeOnly
        in: query
        description: 'Optional. Default: false. If true, returns only products that are considered to be alternative.'
        required: false
        schema:
          type: boolean
          default: false
      - name: entity
        in: query
        description: 'Optional. Default: null. If provided filters products based on entity hierarchy (BD &gt; Rep &gt; Client &gt; Registration &gt; Account).'
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
      - name: entityId
        in: query
        description: 'Optional. Default: null. If provided with entity, filters products for the specific entity ID.'
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Products/HoldingsData:
    post:
      tags:
      - Portfolio/Products
      summary: Get a list of Holdings data for provided symbol
      operationId: ProductAssetClassificationData_GetHoldingsDataByTicker
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductHoldingsDto'
                xml:
                  name: ProductHoldingsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductHoldingsDto'
                xml:
                  name: ProductHoldingsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductHoldingsDto'
                xml:
                  name: ProductHoldingsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductHoldingsDto'
                xml:
                  name: ProductHoldingsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductHoldingsDto'
                xml:
                  name: ProductHoldingsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductHoldingsDto'
                xml:
                  name: ProductHoldingsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductsHoldingsData'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductsHoldingsData'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductsHoldingsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductsHoldingsData'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductsHoldingsData'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductsHoldingsData'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductsHoldingsData'
        description: Array of tickers and the date of interest.
        required: true
  /v1/Portfolio/Products/Import/Filter:
    post:
      tags:
      - Portfolio/Products
      summary: Allows uploading a list of products to be custom filtered by product ID or…
      operationId: Products_CustomFilterProductsAsync
      parameters:
      - name: token
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ImportFileFilterDto'
        description: File containing either Product ID or Download Symbol column
        required: true
  /v1/Portfolio/Products/List:
    post:
      tags:
      - Portfolio/Products
      operationId: Products_GetListByIdAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Audit
          - BondProductAudit
          - Alternative
      - name: bondAuditAsOfDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: manipulator
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Products get list by id async
      x-summary-source: derived
  /v1/Portfolio/Products/List/Id:
    post:
      tags:
      - Portfolio/Products
      operationId: Products_PostV1PortfolioProductsListId
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Audit
          - BondProductAudit
          - Alternative
      - name: bondAuditAsOfDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: manipulator
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Products post V1 portfolio products list id
      x-summary-source: derived
  /v1/Portfolio/Products/List/Id/Minimal:
    post:
      tags:
      - Portfolio/Products
      operationId: Products_GetMinimalProductsById
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductMinimalDto'
                xml:
                  name: LocalProductMinimalDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductMinimalDto'
                xml:
                  name: LocalProductMinimalDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductMinimalDto'
                xml:
                  name: LocalProductMinimalDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductMinimalDto'
                xml:
                  name: LocalProductMinimalDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductMinimalDto'
                xml:
                  name: LocalProductMinimalDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductMinimalDto'
                xml:
                  name: LocalProductMinimalDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Products get minimal products by id
      x-summary-source: derived
  /v1/Portfolio/Products/List/Id/OrionVision:
    put:
      tags:
      - Portfolio/Products
      summary: Updates Orion Vision Alternative Product Fields
      operationId: Products_UpdateOrionVisionAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: option
        in: query
        description: Required. Orion Vision value to update
        required: true
        schema:
          type: string
          enum:
          - IsOrionVision
          - IsOrionVisionPending
      - name: newValue
        in: query
        description: Required. new values
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductExtensionAlternative'
                xml:
                  name: ProductExtensionAlternative
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductExtensionAlternative'
                xml:
                  name: ProductExtensionAlternative
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductExtensionAlternative'
                xml:
                  name: ProductExtensionAlternative
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductExtensionAlternative'
                xml:
                  name: ProductExtensionAlternative
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductExtensionAlternative'
                xml:
                  name: ProductExtensionAlternative
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Portfolio.ProductExtensionAlternative'
                xml:
                  name: ProductExtensionAlternative
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: Required. List of Product Ids
        required: true
  /v1/Portfolio/Products/List/Ticker:
    post:
      tags:
      - Portfolio/Products
      summary: Get a list of products for an array of tickers
      operationId: Products_GetListByTickerAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Audit
          - BondProductAudit
          - Alternative
      - name: bondAuditAsOfDate
        in: query
        description: 'Optional. Default: null. If returnStyle = BondProductAudit then this is the date to use. If not provided Today is used.'
        required: false
        schema:
          type: string
          format: date-time
      - name: manipulator
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.LocalProductBaseDto'
                xml:
                  name: LocalProductBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/xml:
            schema:
              items:
                type: string
              type: array
          text/xml:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
[...]
