openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Feature Flags API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/FeatureFlags
paths:
  /v1/Billing/FeatureFlags:
    get:
      tags:
      - Billing/FeatureFlags
      summary: Get feature flags for bill generation processing
      operationId: Billing_GetFeatureFlags
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.FeatureFlagInputParameter'
                xml:
                  name: FeatureFlagInputParameter
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.FeatureFlagInputParameter'
                xml:
                  name: FeatureFlagInputParameter
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.FeatureFlagInputParameter'
                xml:
                  name: FeatureFlagInputParameter
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.FeatureFlagInputParameter'
                xml:
                  name: FeatureFlagInputParameter
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.FeatureFlagInputParameter'
                xml:
                  name: FeatureFlagInputParameter
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.FeatureFlagInputParameter'
                xml:
                  name: FeatureFlagInputParameter
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.DataModel.FeatureFlagInputParameter:
      properties:
        featureFlagName:
          type: string
        featureFlagValue:
          type: string
      xml:
        name: FeatureFlagInputParameter
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
