openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Cost Basis API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/CostBasis
paths:
  /v1/Portfolio/CostBasis/Queue/AccountList/Create:
    put:
      tags:
      - Portfolio/CostBasis
      summary: Creates Orion Stored Cost Basis Queues for all the assets for the given list of…
      description: 'Sample Request

        PUT /Portfolio/CostBasis/Queue/AccountList/Create

        {

        "accountIds": [1234]

        }

        or

        PUT /Portfolio/CostBasis/Queue/AccountList/Create?orionLastUpdate=12/31/2010

        {

        "accountIds": [1234]

        }'
      operationId: OrionStoredCostBasisQueue_AccountListCreateManyAsync
      parameters:
      - name: orionLastUpdate
        in: query
        description: Override OrionLastUpdate date if granted the privilege
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        description: Cancellation Token
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of Accounts to lookup assets to create
        required: true
  /v1/Portfolio/CostBasis/Queue/AssetList/Create:
    put:
      tags:
      - Portfolio/CostBasis
      summary: Creates Orion Stored Cost Basis Queues for a list of assets
      description: 'Sample Request

        PUT /Portfolio/CostBasis/Queue/AssetList/Create

        {

        "assetIds": [1234]

        }'
      operationId: OrionStoredCostBasisQueue_AssetListCreateManyAsync
      parameters:
      - name: ct
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        description: List of assets to create
        required: true
  /v1/Portfolio/CostBasis/Queue/List:
    get:
      tags:
      - Portfolio/CostBasis
      summary: Gets the list of Orion Stored Cost Basis Queue that the user has access to
      description: 'Sample Request

        GET /Portfolio/CostBasis/Queue/List

        {

        "startDate": "12/31/2009",

        "endDate": "04/10/2023"

        }'
      operationId: OrionStoredCostBasisQueue_GetListAsync
      parameters:
      - name: startDate
        in: query
        description: Start Date to filter from
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: End Date to filter to
        required: false
        schema:
          type: string
          format: date-time
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.OrionStoredCostBasisQueueDto'
                xml:
                  name: OrionStoredCostBasisQueueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.OrionStoredCostBasisQueueDto'
                xml:
                  name: OrionStoredCostBasisQueueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.OrionStoredCostBasisQueueDto'
                xml:
                  name: OrionStoredCostBasisQueueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.OrionStoredCostBasisQueueDto'
                xml:
                  name: OrionStoredCostBasisQueueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.OrionStoredCostBasisQueueDto'
                xml:
                  name: OrionStoredCostBasisQueueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.CostBasis.OrionStoredCostBasisQueueDto'
                xml:
                  name: OrionStoredCostBasisQueueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.CostBasis.OrionStoredCostBasisQueueDto:
      properties:
        id:
          type: integer
          format: int32
        assetId:
          type: integer
          format: int32
        processingStatus:
          type: string
          enum:
          - NotStarted
          - Processing
          - Skipped
          - Failed
          - Completed
        productId:
          type: integer
          format: int32
        productName:
          type: string
        productType:
          type: string
          enum:
          - None
          - MutualFund
          - Annuity
          - AdvisorOne
          - StockOrETF
          - Option
          - Bond
          - Unknown
          - CD
          - Index
        cusip:
          type: string
        ticker:
          type: string
        details:
          type: string
        queueType:
          type: string
          enum:
          - Standard
          - Manual
          - LongRunning
        orionLastUpdate:
          type: string
          format: date-time
        startedDate:
          type: string
          format: date-time
        completedDate:
          type: string
          format: date-time
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        clientId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        accountId:
          type: integer
          format: int32
      xml:
        name: OrionStoredCostBasisQueueDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
