openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Billing Entities API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/BillingEntities
paths:
  /v1/Billing/BillingEntities:
    get:
      tags:
      - Billing/BillingEntities
      operationId: Billing_GetBillingEntities
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - ShowOnlyWithAssignedSchedules
      - name: schedule
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Undefined
            - Fee
            - Payout
            - BDOverride
            - Remainder
            - PerformanceFee
            - PerformancePayout
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleBillingEntityDto'
                xml:
                  name: SimpleBillingEntityDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleBillingEntityDto'
                xml:
                  name: SimpleBillingEntityDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleBillingEntityDto'
                xml:
                  name: SimpleBillingEntityDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleBillingEntityDto'
                xml:
                  name: SimpleBillingEntityDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleBillingEntityDto'
                xml:
                  name: SimpleBillingEntityDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.SimpleBillingEntityDto'
                xml:
                  name: SimpleBillingEntityDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Billing get billing entities
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Billing.SimpleBillingEntityDto:
      properties:
        description:
          type: string
        isPayableEntity:
          type: boolean
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleBillingEntityDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
