openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/Wealth Site API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/WealthSite
paths:
  /v1/Integrations/WealthSite/Allocation/ByManager/Account/{accountId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by manager for account async
      operationId: WealthSite_GetAllocationByManagerForAccountAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByManager/Client/{clientId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by manager for client async
      operationId: WealthSite_GetAllocationByManagerForClientAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByManager/Registration/{registrationId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by manager for registration async
      operationId: WealthSite_GetAllocationByManagerForRegistrationAsync
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto'
                xml:
                  name: WealthSiteAllocationByManagerDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByPropertyType/Account/{accountId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by property type for account async
      operationId: WealthSite_GetAllocationByPropertyTypeForAccountAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByPropertyType/Client/{clientId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by property type for client async
      operationId: WealthSite_GetAllocationByPropertyTypeForClientAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByPropertyType/Registration/{registrationId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by property type for registration async
      operationId: WealthSite_GetAllocationByPropertyTypeForRegistrationAsync
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto'
                xml:
                  name: WealthSiteAllocationByPropertyTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByRegion/Account/{accountId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by region for account async
      operationId: WealthSite_GetAllocationByRegionForAccountAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByRegion/Client/{clientId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by region for client async
      operationId: WealthSite_GetAllocationByRegionForClientAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByRegion/Registration/{registrationId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by region for registration async
      operationId: WealthSite_GetAllocationByRegionForRegistrationAsync
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto'
                xml:
                  name: WealthSiteAllocationByRegionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByRisk/Account/{accountId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by risk for account async
      operationId: WealthSite_GetAllocationByRiskForAccountAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByRisk/Client/{clientId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by risk for client async
      operationId: WealthSite_GetAllocationByRiskForClientAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByRisk/Registration/{registrationId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by risk for registration async
      operationId: WealthSite_GetAllocationByRiskForRegistrationAsync
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto'
                xml:
                  name: WealthSiteAllocationByRiskDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByYear/Account/{accountId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by year for account async
      operationId: WealthSite_GetAllocationByYearForAccountAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByYear/Client/{clientId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by year for client async
      operationId: WealthSite_GetAllocationByYearForClientAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/ByYear/Registration/{registrationId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation by year for registration async
      operationId: WealthSite_GetAllocationByYearForRegistrationAsync
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto'
                xml:
                  name: WealthSiteAllocationByYearDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/Summary/Account/{accountId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation summary for account async
      operationId: WealthSite_GetAllocationSummaryForAccountAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/Summary/Client/{clientId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation summary for client async
      operationId: WealthSite_GetAllocationSummaryForClientAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/Allocation/Summary/Registration/{registrationId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get allocation summary for registration async
      operationId: WealthSite_GetAllocationSummaryForRegistrationAsync
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto'
                xml:
                  name: WealthSiteAllocationSummaryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/PrivateAssetSummary/Account/{accountId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get private asset summary for account async
      operationId: WealthSite_GetPrivateAssetSummaryForAccountAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/PrivateAssetSummary/Client/{clientId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get private asset summary for client async
      operationId: WealthSite_GetPrivateAssetSummaryForClientAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/PrivateAssetSummary/Registration/{registrationId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get private asset summary for registration async
      operationId: WealthSite_GetPrivateAssetSummaryForRegistrationAsync
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto'
                xml:
                  name: WealthSitePrivateAssetSummaryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/PrivateInvestmentPerformance/Account/{accountId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get private investment performance for account async
      operationId: WealthSite_GetPrivateInvestmentPerformanceForAccountAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/PrivateInvestmentPerformance/Client/{clientId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get private investment performance for client async
      operationId: WealthSite_GetPrivateInvestmentPerformanceForClientAsync
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
  /v1/Integrations/WealthSite/PrivateInvestmentPerformance/Registration/{registrationId}:
    post:
      tags:
      - Integrations/WealthSite
      summary: Wealth site get private investment performance for registration async
      operationId: WealthSite_GetPrivateInvestmentPerformanceForRegistrationAsync
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto'
                xml:
                  name: WealthSitePrivateInvestmentPerformanceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto'
        required: true
      x-summary-source: derived
components:
  schemas:
    OAT.Integrations.WealthSite.Dto.WealthSitePrivateInvestmentPerformanceDto:
      properties:
        category:
          type: string
        commitmentAmount:
          type: number
          format: float
        remainingCommitment:
          type: number
          format: float
        capitalCalls:
          type: number
          format: float
        distributions:
          type: number
          format: float
        mval:
          type: number
          format: float
        fund:
          type: boolean
        commitmentDate:
          type: string
          format: date-time
        lastOfficial:
          type: string
          format: date-time
        multiple:
          type: number
          format: float
        irR2:
          type: number
          format: float
        comment:
          type: string
        portfolioMultiple:
          type: number
          format: float
        portfolioIRR:
          type: number
          format: float
        upDownArrow:
          type: integer
          format: int32
        completeIRR:
          type: number
          format: float
        distributionsToCommitment:
          type: number
          format: float
        dpi:
          type: number
          format: float
        irR_NonAnnualized:
          type: number
          format: float
        object:
          type: string
        sort1:
          type: integer
          format: int32
        secName:
          type: string
        investmentPeriod:
          type: string
      xml:
        name: WealthSitePrivateInvestmentPerformanceDto
      type: object
    OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByPropertyTypeDto:
      properties:
        categoryId:
          type: integer
          format: int32
        categoryName:
          type: string
        name:
          type: string
        totalValue:
          type: number
          format: float
        pct:
          type: number
          format: float
        color:
          type: string
        reportName:
          type: string
      xml:
        name: WealthSiteAllocationByPropertyTypeDto
      type: object
    OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataWithAccountsDto:
      properties:
        date:
          type: string
          format: date-time
        accountIds:
          items:
            type: integer
            format: int32
          type: array
      xml:
        name: WealthSiteRequestDataWithAccountsDto
      type: object
    OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByManagerDto:
      properties:
        categoryId:
          type: integer
          format: int32
        categoryName:
          type: string
        name:
          type: string
        totalValue:
          type: number
          format: float
        pct:
          type: number
          format: float
        color:
          type: string
        reportName:
          type: string
      xml:
        name: WealthSiteAllocationByManagerDto
      type: object
    OAT.Integrations.WealthSite.Dto.WealthSitePrivateAssetSummaryDto:
      properties:
        reportObject:
          type: integer
          format: int32
        date:
          type: string
          format: date-time
        totalValue:
          type: number
          format: float
        paidIn:
          type: number
          format: float
        transType:
          type: string
        transAmount:
          type: number
          format: float
        rn:
          type: integer
          format: int32
        level:
          type: string
        groupName:
          type: string
        name:
          type: string
        totalCommitment:
          type: number
          format: float
        inception:
          type: string
          format: date-time
        unreconciled:
          type: integer
          format: int32
        capitalDrawn:
          type: number
          format: float
        estimatedValuation:
          type: number
          format: float
        totalDistribution:
          type: number
          format: float
        recallable:
          type: number
          format: float
        irr:
          type: number
          format: float
        a_IRR:
          type: number
          format: float
        pctDrawn:
          type: number
          format: float
        remainingCommitment:
          type: number
          format: float
        realizedMultiple:
          type: number
          format: float
        tvpi:
          type: number
          format: float
        interval:
          type: integer
          format: int32
      xml:
        name: WealthSitePrivateAssetSummaryDto
      type: object
    OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRiskDto:
      properties:
        categoryId:
          type: integer
          format: int32
        categoryName:
          type: string
        name:
          type: string
        totalValue:
          type: number
          format: float
        pct:
          type: number
          format: float
        color:
          type: string
        reportName:
          type: string
      xml:
        name: WealthSiteAllocationByRiskDto
      type: object
    OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByRegionDto:
      properties:
        categoryId:
          type: integer
          format: int32
        categoryName:
          type: string
        name:
          type: string
        totalValue:
          type: number
          format: float
        pct:
          type: number
          format: float
        color:
          type: string
        reportName:
          type: string
      xml:
        name: WealthSiteAllocationByRegionDto
      type: object
    OAT.Integrations.WealthSite.Dto.WealthSiteRequestDataDto:
      properties:
        date:
          type: string
          format: date-time
      xml:
        name: WealthSiteRequestDataDto
      type: object
    OAT.Integrations.WealthSite.Dto.WealthSiteAllocationByYearDto:
      properties:
        categoryId:
          type: integer
          format: int32
        categoryName:
          type: string
        name:
          type: string
        totalValue:
          type: number
          format: float
        pct:
          type: number
          format: float
        color:
          type: string
        reportName:
          type: string
      xml:
        name: WealthSiteAllocationByYearDto
      type: object
    OAT.Integrations.WealthSite.Dto.WealthSiteAllocationSummaryDto:
      properties:
        categoryId:
          type: integer
          format: int32
        categoryName:
          type: string
        commitmentDate:
          type: string
          format: date-time
        investmentType:
          type: string
        managerName:
          type: string
        mval:
          type: number
          format: float
        propertyTypeName:
          type: string
        regionName:
          type: string
        remainingCommitment:
          type: number
          format: float
        secName:
          type: string
      xml:
        name: WealthSiteAllocationSummaryDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
