openapi: 3.2.0
info:
  version: V1
  title: Orion Connect User/Homepage API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: User/Homepage
paths:
  /v1/User/Homepage/Assigned/Dashboards/{dashboardId}/Cards/{cardId}:
    delete:
      tags:
      - User/Homepage
      summary: Remove card from dashboard
      operationId: UserDashboard_RemoveCardFromDashboardAsync
      parameters:
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cardId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/User/Homepage/Assigned/PortfolioView/Dashboards/{dashboardName}:
    get:
      tags:
      - User/Homepage
      summary: Get assigned portfolio view dashboard for the current login user
      operationId: UserDashboard_GetPortfolioViewDashboardAsync
      parameters:
      - name: dashboardName
        in: path
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/User/Homepage/RoleDashboards:
    post:
      tags:
      - User/Homepage
      operationId: UserDashboard_UpdateRoleDashboardsAsync
      parameters:
      - name: isPortfolioView
        in: query
        required: true
        schema:
          type: boolean
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.RoleDashboardDto'
              xml:
                name: RoleDashboardDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.RoleDashboardDto'
              xml:
                name: RoleDashboardDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.RoleDashboardDto'
              xml:
                name: RoleDashboardDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.RoleDashboardDto'
              xml:
                name: RoleDashboardDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.RoleDashboardDto'
              xml:
                name: RoleDashboardDto
                wrapped: true
              type: array
        required: true
      summary: User dashboard update role dashboards async
      x-summary-source: derived
  /v1/User/Homepage/UserDashboards:
    post:
      tags:
      - User/Homepage
      operationId: UserDashboard_UpdateUserDashboardsAsync
      parameters:
      - name: isPortfolioView
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardSimpleDto'
              xml:
                name: UserHomepageDashboardSimpleDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardSimpleDto'
              xml:
                name: UserHomepageDashboardSimpleDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardSimpleDto'
              xml:
                name: UserHomepageDashboardSimpleDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardSimpleDto'
              xml:
                name: UserHomepageDashboardSimpleDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardSimpleDto'
              xml:
                name: UserHomepageDashboardSimpleDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardSimpleDto'
              xml:
                name: UserHomepageDashboardSimpleDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardSimpleDto'
              xml:
                name: UserHomepageDashboardSimpleDto
                wrapped: true
              type: array
        required: true
      summary: User dashboard update user dashboards async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.HomepageDashboard.RoleDashboardDto:
      properties:
        roleId:
          type: integer
          format: int32
        roleName:
          type: string
        defaultDashboardId:
          type: integer
          format: int32
        dashboards:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.HomepageDashboard.SharedDashboardDto'
          xml:
            name: SharedDashboardDto
            wrapped: true
          type: array
      xml:
        name: RoleDashboardDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.SharedDashboardDto:
      properties:
        id:
          type: integer
          format: int32
        dashboardName:
          type: string
        isDefault:
          type: boolean
        createdDate:
          type: string
          format: date-time
        userId:
          type: integer
          format: int32
        isGlobal:
          type: boolean
        firmId:
          type: integer
          format: int32
        roleName:
          type: string
        roleId:
          type: integer
          format: int32
        dashboardType:
          type: string
          enum:
          - Homepage
          - View
          - Tool
      xml:
        name: SharedDashboardDto
      type: object
    OAS.WebApi.DTO.HomepageDashboard.UserHomepageDashboardSimpleDto:
      properties:
        isShared:
          type: boolean
        isVisible:
          type: boolean
        isDefault:
          type: boolean
        isGlobal:
          type: boolean
        isPortfolioView:
          type: boolean
        userId:
          type: integer
          format: int32
        dashboardType:
          type: string
          enum:
          - Homepage
          - View
          - Tool
        id:
          type: integer
          format: int32
        dashboardName:
          type: string
        createdDate:
          type: string
          format: date-time
      xml:
        name: UserHomepageDashboardSimpleDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
