openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Entities API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/Entities
paths:
  /v1/Billing/Entities/{key}:
    get:
      tags:
      - Billing/Entities
      summary: Get a bill entity by Id
      operationId: Entities_GetEntityByIdAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
      security:
      - Authorization: []
  /v1/Billing/Entities/BillEntitiyHistory:
    get:
      tags:
      - Billing/Entities
      summary: Gets a list of bill entity audit histories
      operationId: Entities_Get
      parameters:
      - name: billEntitiyId
        in: query
        description: 'Required. Default: null, returns nothing.'
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityAuditDto'
                xml:
                  name: BillEntityAuditDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityAuditDto'
                xml:
                  name: BillEntityAuditDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityAuditDto'
                xml:
                  name: BillEntityAuditDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityAuditDto'
                xml:
                  name: BillEntityAuditDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityAuditDto'
                xml:
                  name: BillEntityAuditDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityAuditDto'
                xml:
                  name: BillEntityAuditDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Entities/Delete:
    put:
      tags:
      - Billing/Entities
      operationId: Entities_DeleteEntityAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Entities delete entity async
      x-summary-source: derived
  /v1/Billing/Entities/EntityList:
    get:
      tags:
      - Billing/Entities
      summary: Get list of bill entities in database
      operationId: Entities_GetPayeeEntityList
      parameters:
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
                xml:
                  name: BillEntityDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
                xml:
                  name: BillEntityDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
                xml:
                  name: BillEntityDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
                xml:
                  name: BillEntityDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
                xml:
                  name: BillEntityDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
                xml:
                  name: BillEntityDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Billing/Entities/New:
    post:
      tags:
      - Billing/Entities
      summary: Add new bill entity
      operationId: Entities_CreateNewEntityAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
        required: true
  /v1/Billing/Entities/Update:
    put:
      tags:
      - Billing/Entities
      summary: Update bill entity
      operationId: Entities_UpdateEntityAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.BillEntityDto'
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Billing.BillEntityAuditDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        isPayableEntity:
          type: boolean
        isUserAdded:
          type: boolean
        isApplyToAstro:
          type: boolean
        payeeId:
          type: integer
          format: int32
        payeeName:
          type: string
        isActive:
          type: boolean
        collectFromId:
          type: integer
          format: int32
        collectFrom:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        changeType:
          type: string
      xml:
        name: BillEntityAuditDto
      type: object
    OAS.WebApi.DTO.Billing.BillEntityDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        isActive:
          type: boolean
        isPayableEntity:
          type: boolean
        isUserAdded:
          type: boolean
        payeeId:
          type: integer
          format: int32
        isApplyToAstro:
          type: boolean
        excludeFromRefundCalculations:
          description: When null (JSON omitted), updates do not change the persisted value—used when the OC split for this UI is off.
          type: boolean
        separateOnFeeFile:
          description: When the Split Fee File by Bill Entity billing feature flag is off, updates do not change the persisted value.
          type: boolean
        collectFromId:
          type: integer
          format: int32
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        createDate:
          type: string
          format: date-time
        createdBy:
          type: string
        billEntityReportAsId:
          type: integer
          format: int32
      xml:
        name: BillEntityDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
