openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Email Clients API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/EmailClients
paths:
  /v1/Utility/EmailClients:
    post:
      tags:
      - Utility/EmailClients
      summary: Used to email one message to a number of provided clients
      operationId: Utility_SendEmailMessage
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.EmailMessageSettingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.EmailMessageSettingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.EmailMessageSettingDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.EmailMessageSettingDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.EmailMessageSettingDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.EmailMessageSettingDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.EmailMessageSettingDto'
        required: true
components:
  schemas:
    OAS.WebApi.DTO.Utility.EmailMessageSettingDto:
      properties:
        clients:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Portfolio.SimpleClient'
          xml:
            name: SimpleClient
            wrapped: true
          type: array
        subject:
          type: string
        body:
          type: string
        isHtml:
          type: boolean
      xml:
        name: EmailMessageSettingDto
      type: object
    OAS.DataModel.Portfolio.SimpleClient:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        entityName:
          type: string
        isActive:
          type: boolean
        repCode:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleClient
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
