openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Accounts API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio Accounts
paths:
  /v1/Portfolio/Accounts:
    get:
      tags:
      - Portfolio Accounts
      operationId: Accounts_GetAccountsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      - name: IsDiscretionary
        in: query
        required: false
        schema:
          type: boolean
      - name: isManaged
        in: query
        required: false
        schema:
          type: boolean
      - name: createdDateStart
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: newAccountFilter
        in: query
        required: false
        schema:
          type: string
      - name: accountFilter
        in: query
        required: false
        schema:
          type: string
          enum:
          - MissingInformation
          - ActiveAccountsWithZeroBalance
          - InactiveAccountsNotZero
          - AcctsWithMultAcctNumbersPerAcctId
          - SameAcctNumberInMultAccounts
          - MissingMgmtStyle
          - LinkedToHistoryAccountWithValue
          - LinkedWithRecursiveLink
          - LinkedInDifferentRegistrations
          - LinkedWithNoTransactions
          - StrewnAcrossMultipleAccounts
          - FundFamilyVsCustodianComparison
          - NotPartOfSleeveStrategy
          - ModelAccountAssignment
          - ModelCustodialAccountAssignment
          - ModelAccountAssignmentWithoutCustodial
          - ModelCustodialAccountAssignmentWithoutSleeves
          - SleeveCustodialAccountsWithBalance
          - SleeveAccountsWithNegBalance
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Audit
          - AccountAssignment
          - AccountAssignmentModelAgg
          default: 0
      - name: clientId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: registrationId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: accountId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: asOfDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: hasValue
        in: query
        required: false
        schema:
          type: boolean
      - name: editedStartDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: editedEndDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: pageQueryId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: includeAdditionalAccounts
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: fundFamilyId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: representativeId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: portfolioGroupId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: sleeveId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: entitySessionId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
                xml:
                  name: AccountBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
                xml:
                  name: AccountBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
                xml:
                  name: AccountBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
                xml:
                  name: AccountBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
                xml:
                  name: AccountBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
                xml:
                  name: AccountBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Accounts get accounts async
      x-summary-source: derived
  /v1/Portfolio/Accounts/{accountId}/Changes/Action/Delete:
    post:
      tags:
      - Portfolio Accounts
      operationId: Accounts_DeleteAccountChanges
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Accounts delete account changes
      x-summary-source: derived
  /v1/Portfolio/Accounts/{accountId}/DailyAnnuityValue/{asOfDate}:
    get:
      tags:
      - Portfolio Accounts
      summary: Get latest annuity value for all accounts that has annuity value
      operationId: Accounts_GetDailyAnnuityValue
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{accountId}/ModelAgg/{modelAggId}:
    patch:
      tags:
      - Portfolio Accounts
      summary: Assign a model aggregate to an account
      operationId: Accounts_AssignAggregateModelToAccountAsync
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: modelAggId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{accountId}/ModelTolerance:
    get:
      tags:
      - Portfolio Accounts
      summary: Returns a comparison of an Account to its Assigned Model Targets
      operationId: Accounts_ModelTolerance
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: includeCash
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: grouping
        in: query
        required: false
        schema:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
          default: 9
      - name: includePendingValue
        in: query
        required: false
        schema:
          type: string
          enum:
          - UseDefault
          - Current
          - PendingTransactions
          - PendingTransactionsAndOrders
          default: 2
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelToleranceDto'
                xml:
                  name: ModelToleranceDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelToleranceDto'
                xml:
                  name: ModelToleranceDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelToleranceDto'
                xml:
                  name: ModelToleranceDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelToleranceDto'
                xml:
                  name: ModelToleranceDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelToleranceDto'
                xml:
                  name: ModelToleranceDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelToleranceDto'
                xml:
                  name: ModelToleranceDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{accountId}/Systematics/{systematicId}/BeneficiarySSN:
    put:
      tags:
      - Portfolio Accounts
      summary: Retrieve or update beneficiary SSN for a systematic on an account
      operationId: Accounts_UpdateSystematicBeneficiarySSN
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: systematicId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
        required: true
  /v1/Portfolio/Accounts/{accountId}/TaxLot:
    get:
      tags:
      - Portfolio Accounts
      operationId: Accounts_GetTaxLotExportByAccount
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TaxLotExportDto'
                xml:
                  name: TaxLotExportDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TaxLotExportDto'
                xml:
                  name: TaxLotExportDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TaxLotExportDto'
                xml:
                  name: TaxLotExportDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TaxLotExportDto'
                xml:
                  name: TaxLotExportDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TaxLotExportDto'
                xml:
                  name: TaxLotExportDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.TaxLotExportDto'
                xml:
                  name: TaxLotExportDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Accounts get tax lot export by account
      x-summary-source: derived
  /v1/Portfolio/Accounts/{accountNumber}:
    get:
      tags:
      - Portfolio Accounts
      summary: Gets the account that has the provided Custodial Account Number.
      operationId: Accounts_GetEntityByAccountNumberAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: manipulator
        in: header
        required: true
      - name: accountNumber
        in: path
        description: Custodial Account Number of the desired return account object.
        required: true
        schema:
          type: string
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Audit
          - AccountAssignment
          - AccountAssignmentModelAgg
          default: 0
      - name: lookupBasis
        in: query
        required: false
        schema:
          type: string
          enum:
          - Account
          - Asset
          default: 7
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}:
    get:
      tags:
      - Portfolio Accounts
      summary: Gets the account that has the provided key.
      operationId: Accounts_GetEntityByKeyAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Audit
          - AccountAssignment
          - AccountAssignmentModelAgg
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio Accounts
      summary: Simple dto update
      operationId: Accounts_UpdateAccountAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
        required: true
  /v1/Portfolio/Accounts/{key}/Action/MoveToRegistration/{registrationId}:
    put:
      tags:
      - Portfolio Accounts
      summary: Move account from one registration to another
      operationId: Accounts_MoveAccountAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountBaseDto'
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Action/UndoConversion:
    delete:
      tags:
      - Portfolio Accounts
      summary: Undo Account Conversion by key Sample Request POST…
      operationId: Accounts_UndoAccountConversionAsync
      parameters:
      - name: key
        in: path
        description: Account Id
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: Cancellation Token
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Assets:
    get:
      tags:
      - Portfolio Accounts
      summary: Gets a list of assets that fall within the account with the specified key…
      operationId: Accounts_GetAssetsAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: includeCostBasis
        in: query
        description: Optional bool.  Default is false.  When true, the Cost Basis property will be populated.  This requires extra calculation which will reduce performance when true.
        required: false
        schema:
          type: boolean
          default: false
      - name: isSweepAsset
        in: query
        description: Optional bool.  Default is false. When true, only the sweep asset information will be returned.
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Assets/{asOfDate}:
    get:
      tags:
      - Portfolio Accounts
      summary: Gets a list of assets that fall within the account with the specified key…
      operationId: Accounts_GetAssetsAsOfDateAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: path
        description: The asset value returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      - name: includeCostBasis
        in: query
        description: Optional bool.  Default is false.  When true, the Cost Basis property will be populated.  This requires extra calculation which will reduce performance when true.
        required: false
        schema:
          type: boolean
          default: false
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
                xml:
                  name: AssetDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Assets/Value:
    get:
      tags:
      - Portfolio Accounts
      summary: Gets a simple list of assets (including aum for today) that fall within the…
      operationId: Accounts_GetAssetsValue
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: hasValue
        in: query
        description: Optional. When provided will only return accounts that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetWithValue'
                xml:
                  name: SimpleAssetWithValue
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetWithValue'
                xml:
                  name: SimpleAssetWithValue
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetWithValue'
                xml:
                  name: SimpleAssetWithValue
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetWithValue'
                xml:
                  name: SimpleAssetWithValue
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetWithValue'
                xml:
                  name: SimpleAssetWithValue
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetWithValue'
                xml:
                  name: SimpleAssetWithValue
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Assets/Value/{asOfDate}:
    get:
      tags:
      - Portfolio Accounts
      summary: Gets a simple list of assets (including aum for the end of the date specified)…
      operationId: Accounts_GetAssetsValueAsOfDate
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      - name: hasValue
        in: query
        description: Optional. When provided will only return accounts that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetWithValue'
                xml:
                  name: SimpleAssetWithValue
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetWithValue'
                xml:
                  name: SimpleAssetWithValue
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetWithValue'
                xml:
                  name: SimpleAssetWithValue
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetWithValue'
                xml:
                  name: SimpleAssetWithValue
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetWithValue'
                xml:
                  name: SimpleAssetWithValue
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAssetWithValue'
                xml:
                  name: SimpleAssetWithValue
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Audits:
    get:
      tags:
      - Portfolio Accounts
      summary: Gets a list of account Audit items
      operationId: Accounts_GetAuditsAsync
      parameters:
      - name: key
        in: path
        description: Account Id
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: Cancellation token
        required: true
      - name: startDate
        in: query
        description: Optional. Start date. Filter on EditedDate.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. End date. Filter on EditedDate.
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Returns a list of account audit data.
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountAuditDto'
                xml:
                  name: AccountAuditDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountAuditDto'
                xml:
                  name: AccountAuditDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountAuditDto'
                xml:
                  name: AccountAuditDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountAuditDto'
                xml:
                  name: AccountAuditDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountAuditDto'
                xml:
                  name: AccountAuditDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountAuditDto'
                xml:
                  name: AccountAuditDto
                  wrapped: true
                type: array
        '404':
          description: The specified account ID was not found.
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/AumOverTime:
    get:
      tags:
      - Portfolio Accounts
      summary: Gets a list of Aum data representative of the range provided for the account…
      operationId: Accounts_GetAumOverTimeAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: 'Optional. Default: inception date. The start of the range to report.'
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: 'Optional. Default: yesterday. The end of the range to report.'
        required: false
        schema:
          type: string
          format: date-time
      - name: interval
        in: query
        description: 'Optional. Default: "A" Automatic. Options are:

          "A" Automatic

          "M" Monthly

          "W" Weekly

          "D" Daily'
        required: false
        schema:
          type: string
          default: A
      - name: cancellationToken
        in: header
        required: false
      - name: clientPerformanceInclude
        in: query
        description: 'Optional. Default: Default. When set only accounts/registrations that have value/are active will be returned.'
        required: false
        schema:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
          default: -1
      - name: unmangedInclusionOverride
        in: query
        description: 'Optional. Default: no override. Used to override the unmanaged setting. To include all unmanaged assets set this parameter to "ActivitySummary".'
        required: false
        schema:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AumOverTimeDto'
                xml:
                  name: AumOverTimeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AumOverTimeDto'
                xml:
                  name: AumOverTimeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AumOverTimeDto'
                xml:
                  name: AumOverTimeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AumOverTimeDto'
                xml:
                  name: AumOverTimeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AumOverTimeDto'
                xml:
                  name: AumOverTimeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AumOverTimeDto'
                xml:
                  name: AumOverTimeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/AumOverTime/Simple:
    get:
      tags:
      - Portfolio Accounts
      summary: Same as AumOverTime, except it is faster (simpler) because it does not support…
      operationId: Accounts_GetAumOverTimeSimple
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: 'Optional. Default: inception date. The start of the range to report.'
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: 'Optional. Default: yesterday. The end of the range to report.'
        required: false
        schema:
          type: string
          format: date-time
      - name: interval
        in: query
        description: 'Optional. Default: "A" Automatic. Options are:

          "A" Automatic

          "M" Monthly

          "W" Weekly

          "D" Daily'
        required: false
        schema:
          type: string
          default: A
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.Activity.AumOverTimeSimple'
                xml:
                  name: AumOverTimeSimple
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.Activity.AumOverTimeSimple'
                xml:
                  name: AumOverTimeSimple
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.Activity.AumOverTimeSimple'
                xml:
                  name: AumOverTimeSimple
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.Activity.AumOverTimeSimple'
                xml:
                  name: AumOverTimeSimple
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.Activity.AumOverTimeSimple'
                xml:
                  name: AumOverTimeSimple
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Reporting.Activity.AumOverTimeSimple'
                xml:
                  name: AumOverTimeSimple
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Calculate/InceptionDate:
    post:
      tags:
      - Portfolio Accounts
      summary: Used to calculate the appropriate inception date for the provided account
      operationId: Accounts_CalculateInceptionDate
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: endDate
        in: query
        description: 'Optional. Default: Today. The end date of the reporting period.'
        required: false
        schema:
          type: string
          format: date-time
      - name: inclusionOption
        in: query
        description: 'Optional. Default: Database default. Indicates which accounts/registrations to include.'
        required: false
        schema:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
          default: -1
      - name: unmanagedInclusionOption
        in: query
        description: 'Optional. Default: Database default. Indicates how unmanaged assets are handled.'
        required: false
        schema:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
      - name: reportCategory
        in: query
        required: false
        schema:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.RunReport.InceptionDateDto'
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Changes:
    get:
      tags:
      - Portfolio Accounts
      summary: Gets a list of account changes for the account with the specified key, which…
      operationId: Accounts_GetAccountChanges
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeDto'
                xml:
                  name: AccountChangeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeDto'
                xml:
                  name: AccountChangeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeDto'
                xml:
                  name: AccountChangeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeDto'
                xml:
                  name: AccountChangeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeDto'
                xml:
                  name: AccountChangeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeDto'
                xml:
                  name: AccountChangeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Changes/New:
    get:
      tags:
      - Portfolio Accounts
      summary: Gets a template object for creating a new account change for the account with…
      operationId: Accounts_GetNewAccountChange
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeNewDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeNewDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeNewDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeNewDto'
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio Accounts
      summary: Used to create new account change records
      operationId: Accounts_CreateNewAccountChange
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeNewDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeNewDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeNewDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeNewDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountChangeNewDto'
        description: An object describing the account changes to perform.
        required: true
  /v1/Portfolio/Accounts/{key}/ClearCancelationDate:
    put:
      tags:
      - Portfolio Accounts
      summary: Clear account cancelation date
      operationId: Accounts_UpdateAccountCancelationDateAsync
      parameters:
      - name: cancellationToken
        in: header
        description: Token for cancellation.
        required: true
      - name: key
        in: path
        description: Account Identifier.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/CustomIndex:
    get:
      tags:
      - Portfolio Accounts
      summary: Get full set of Account's Custom Index data
      operationId: Accounts_GetCustomIndexDataByAccountAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RegistrationCustomIndexDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RegistrationCustomIndexDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RegistrationCustomIndexDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RegistrationCustomIndexDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RegistrationCustomIndexDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.RegistrationCustomIndexDto'
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Documents:
    get:
      tags:
      - Portfolio Accounts
      operationId: Accounts_GetBlobs
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - RPT_1099
            - QuarterlyStatements
            - YearEndStatements
            - CrmDocuments
            - Payable
            - InsightPresentations
            - PortfolioViewDashboards
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Accounts get blobs
      x-summary-source: derived
    post:
      tags:
      - Portfolio Accounts
      operationId: Accounts_CreateBlobAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountFileDto'
        required: true
      summary: Accounts create blob async
      x-summary-source: derived
  /v1/Portfolio/Accounts/{key}/Documents/{fileId}:
    get:
      tags:
      - Portfolio Accounts
      summary: Gets a file for the account with the specified key and the file with the…
      operationId: Accounts_GetBlobDto
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        description: Key of the file to be returned.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio Accounts
      operationId: Accounts_UpdateBlobAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountFileDto'
        required: true
      summary: Accounts update blob async
      x-summary-source: derived
    delete:
      tags:
      - Portfolio Accounts
      operationId: Accounts_DeleteBlob
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Accounts delete blob
      x-summary-source: derived
  /v1/Portfolio/Accounts/{key}/Documents/{fileId}/Download:
    get:
      tags:
      - Portfolio Accounts
      summary: Gets the raw data of the specific file with the blobId provided which is…
      operationId: Accounts_GetBlobFile
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        description: Key of the file to be downloaded.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Documents/Action/MoveToAccount/{accountId}:
    put:
      tags:
      - Portfolio Accounts
      summary: Move documents to different account
      operationId: Accounts_MoveDocumentsAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Portfolio/Accounts/{key}/NetAmountInvested:
    get:
      tags:
      - Portfolio Accounts
      summary: Gets a list of Aum data representative of the range provided for all account…
      operationId: Accounts_GetAumOverTimeWithNetAmountInvestedAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: 'Optional. Default: inception date. The start of the range to report.'
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: 'Optional. Default: yesterday. The end of the range to report.'
        required: false
        schema:
          type: string
          format: date-time
      - name: interval
        in: query
        description: 'Optional. Default: "A" Automatic. Options are:

          "A" Automatic

          "M" Monthly

          "W" Weekly

          "D" Daily'
        required: false
        schema:
          type: string
          default: A
      - name: cancellationToken
        in: header
        required: false
      - name: clientPerformanceInclude
        in: query
        description: 'Optional. Default: Default. When set only accounts/registrations that have value/are active will be returned.'
        required: false
        schema:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
          default: -1
      - name: unmangedInclusionOverride
        in: query
        description: 'Optional. Default: no override. Used to override the unmanaged setting. To include all unmanaged assets set this parameter to "ActivitySummary".'
        required: false
        schema:
          type: string
          enum:
          - Unmanaged
          - Performance
          - ActivitySummary
          - Allocation
          - PortfolioDetail
          - TaxDetail
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AumOverTimeWithNetAmountInvestedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AumOverTimeWithNetAmountInvestedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AumOverTimeWithNetAmountInvestedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AumOverTimeWithNetAmountInvestedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AumOverTimeWithNetAmountInvestedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AumOverTimeWithNetAmountInvestedDto'
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Performance:
    get:
      tags:
      - Portfolio Accounts
      summary: Used to verbosely return performance.
      operationId: Accounts_GetPerformanceAsync
      parameters:
      - name: key
        in: path
        description: Key of the account that performance will be calculated for.
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: Optional. The start of the range to report.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: 'Optional. Default: Today. The end of the range to report.'
        required: false
        schema:
          type: string
          format: date-time
      - name: cancellationToken
        in: header
        required: false
      - name: clientPerformanceInclude
        in: query
        description: 'Optional. Default: Default. When set only accounts/registrations that have value/are active will be returned.'
        required: false
        schema:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
          default: -1
      - name: returnStyle
        in: query
        description: 'Optional. Default: 3 PortfolioSummary &amp; PortfolioDaily

          1  = Returns Portfolio Performance Summary

          2  = Returns Portfolio Daily Factors

          4  = Modifies return style 1 to include beginning and ending market value. Also includes accrued interest if performance was calculated including accrued interest.

          8  = Returns Benchmark Performance Summary

          16 = Returns Benchmark Daily Factors

          32 = **does nothing

          64 = Returns Statistical Summary'
        required: false
        schema:
          type: string
          enum:
          - PortfolioSummary
          - PortfolioDaily
          - PortfolioDetailed
          - BenchmarkSummary
          - BenchmarkDaily
          - AssetGroupAssignment
          - StatisticSummary
          default: 3
      - name: interval
        in: query
        description: 'Optional. Default: "A" Automatic. Options are:

          "A" Automatic

          "M" Monthly

          "W" Weekly

          "D" Daily'
        required: false
        schema:
          type: string
          default: A
      - name: periods
        in: query
        description: 'Optional. Bitwise parameter for requesting commonly used date ranges.

          1 = MTD

          2 = QTD

          4 = YTD

          8 = 1yr

          16 = 3yr

          32 = 5yr

          64 = 10yr

          128 = inception

          256 = day'
        required: false
        schema:
          type: string
          enum:
          - None
          - Day
          - MTD
          - QTD
          - YTD
          - OneYear
          - ThreeYear
          - FiveYear
          - TenYear
          - Inception
          - AllDates
          default: 0
      - name: calendarYears
        in: query
        description: Optional. Comma delimited list of calendar years for which performance should be calculated.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Performance/{grouping}:
    get:
      tags:
      - Portfolio Accounts
      summary: Used to verbosely return performance.
      operationId: Accounts_GetV1PortfolioAccountsByKeyPerformanceByGrouping
      parameters:
      - name: key
        in: path
        description: Key of the account that performance will be calculated for.
        required: true
        schema:
          type: integer
          format: int32
      - name: grouping
        in: path
        description: "Defines how the account is grouped for the performance return. Can be set to any of the follow:\n            Account, Asset, AssetClass, ProductType, MgmntStyle, RiskCategory, AssetCategory, or AssetLevelStrategy."
        required: true
        schema:
          type: string
          enum:
          - Undefined
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - AssetClass
          - ProductType
          - Platform
          - RiskCategory
          - Product
          - IndexBlend
          - AssetCategory
          - AssetLevelStrategy
          - AggregateModel
          - AccountType
          - PortfolioGroup
      - name: startDate
        in: query
        description: Optional. The start of the range to report.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: 'Optional. Default: Today. The end of the range to report.'
        required: false
        schema:
          type: string
          format: date-time
      - name: cancellationToken
        in: header
        required: false
      - name: clientPerformanceInclude
        in: query
        description: 'Optional. Default: Default. When set only accounts/registrations that have value/are active will be returned.'
        required: false
        schema:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
          default: -1
      - name: returnStyle
        in: query
        description: 'Optional. Default: 3 Portfolio Summary &amp; Portfolio Daily

          1  = Returns Portfolio Performance Summary

          2  = Returns Portfolio Daily Factors

          4  = Modifies return style 1 to include beginning and ending market value. Also includes accrued interest if performance was calculated including accrued interest.

          8  = Returns Benchmark Performance Summary

          16 = Returns Benchmark Daily Factors

          32 = **does nothing

          64 = Returns Statistical Summary'
        required: false
        schema:
          type: string
          enum:
          - PortfolioSummary
          - PortfolioDaily
          - PortfolioDetailed
          - BenchmarkSummary
          - BenchmarkDaily
          - AssetGroupAssignment
          - StatisticSummary
          default: 3
      - name: interval
        in: query
        description: 'Optional. Default: "A" Automatic. Options are:

          "A" Automatic

          "M" Monthly

          "W" Weekly

          "D" Daily'
        required: false
        schema:
          type: string
          default: A
      - name: periods
        in: query
        description: 'Optional. Bitwise parameter for requesting commonly used date ranges.

          1 = MTD

          2 = QTD

          4 = YTD

          8 = 1yr

          16 = 3yr

          32 = 5yr

          64 = 10yr

          128 = inception

          256 = day'
        required: false
        schema:
          type: string
          enum:
          - None
          - Day
          - MTD
          - QTD
          - YTD
          - OneYear
          - ThreeYear
          - FiveYear
          - TenYear
          - Inception
          - AllDates
          default: 0
      - name: calendarYears
        in: query
        description: Optional. Comma delimited list of calendar years for which performance should be calculated.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
                xml:
                  name: PerformancePortfolio
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
                xml:
                  name: PerformancePortfolio
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
                xml:
                  name: PerformancePortfolio
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
                xml:
                  name: PerformancePortfolio
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
                xml:
                  name: PerformancePortfolio
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Performance.PerformancePortfolio'
                xml:
                  name: PerformancePortfolio
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Performance/Interval:
    get:
      tags:
      - Portfolio Accounts
      summary: Used to return interval performance.
      operationId: Accounts_GetPerformanceIntervalAsync
      parameters:
      - name: key
        in: path
        description: Key of the account that performance will be calculated for.
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: Optional. The start of the range to report.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: 'Optional. Default: Today. The end of the range to report.'
        required: false
        schema:
          type: string
          format: date-time
      - name: interval
        in: query
        description: 'Optional. Default: "A" Automatic. Options are:

          "A" Automatic

          "M" Monthly

          "W" Weekly

          "D" Daily'
        required: false
        schema:
          type: string
          default: A
      - name: cancellationToken
        in: header
        required: false
      - name: clientPerformanceInclude
        in: query
        description: 'Optional. Default: Default. When set only accounts/registrations that have value/are active will be returned.'
        required: false
        schema:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
          default: -1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Reporting.PerformancePortfolioDetailDto'
                xml:
                  name: PerformancePortfolioDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Reporting.PerformancePortfolioDetailDto'
                xml:
                  name: PerformancePortfolioDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Reporting.PerformancePortfolioDetailDto'
                xml:
                  name: PerformancePortfolioDetailDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Reporting.PerformancePortfolioDetailDto'
                xml:
                  name: PerformancePortfolioDetailDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Reporting.PerformancePortfolioDetailDto'
                xml:
                  name: PerformancePortfolioDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Reporting.PerformancePortfolioDetailDto'
                xml:
                  name: PerformancePortfolioDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Performance/Interval/{grouping}:
    get:
      tags:
      - Portfolio Accounts
      summary: Used to return interval performance.
      operationId: Accounts_GetV1PortfolioAccountsByKeyPerformanceIntervalByGrouping
      parameters:
      - name: key
        in: path
        description: Key of the account that performance will be calculated for.
        required: true
        schema:
          type: integer
          format: int32
      - name: grouping
        in: path
        description: "Defines how the account is grouped for the performance return. Can be set to any of the follow:\n            Account, Asset, AssetClass, ProductType, MgmntStyle, RiskCategory, AssetCategory, or AssetLevelStrategy."
        required: true
        schema:
          type: string
          enum:
          - Undefined
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - AssetClass
          - ProductType
          - Platform
          - RiskCategory
          - Product
          - IndexBlend
          - AssetCategory
          - AssetLevelStrategy
          - AggregateModel
          - AccountType
          - PortfolioGroup
      - name: startDate
        in: query
        description: Optional. The start of the range to report.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: 'Optional. Default: Today. The end of the range to report.'
        required: false
        schema:
          type: string
          format: date-time
      - name: interval
        in: query
        description: 'Optional. Default: "A" Automatic. Options are:

          "A" Automatic

          "M" Monthly

          "W" Weekly

          "D" Daily'
        required: false
        schema:
          type: string
          default: A
      - name: cancellationToken
        in: header
        required: false
      - name: clientPerformanceInclude
        in: query
        description: 'Optional. Default: Default. When set only accounts/registrations that have value/are active will be returned.'
        required: false
        schema:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
          default: -1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Reporting.PerformancePortfolioDetailDto'
                xml:
                  name: PerformancePortfolioDetailDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Reporting.PerformancePortfolioDetailDto'
                xml:
                  name: PerformancePortfolioDetailDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Reporting.PerformancePortfolioDetailDto'
                xml:
                  name: PerformancePortfolioDetailDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Reporting.PerformancePortfolioDetailDto'
                xml:
                  name: PerformancePortfolioDetailDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Reporting.PerformancePortfolioDetailDto'
                xml:
                  name: PerformancePortfolioDetailDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Reporting.PerformancePortfolioDetailDto'
                xml:
                  name: PerformancePortfolioDetailDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Performance/Summary:
    get:
      tags:
      - Portfolio Accounts
      summary: Used to return summary performance.
      operationId: Accounts_GetPerformanceSummaryAsync
      parameters:
      - name: key
        in: path
        description: Key of the account that performance will be calculated for.
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: Optional. The start of the range to report.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: 'Optional. Default: Today. The end of the range to report.'
        required: false
        schema:
          type: string
          format: date-time
      - name: cancellationToken
        in: header
        required: false
      - name: clientPerformanceInclude
        in: query
        description: 'Optional. Default: Default. When set only accounts/registrations that have value/are active will be returned.'
        required: false
        schema:
          type: string
          enum:
          - Default
          - All
          - ActiveOnly
          - ActiveWithValue
          - ActiveRegistrationsOnly
          - RegistrationsWithValue
          default: -1
      - name: periods
        in: query
        description: 'Optional. Bitwise parameter for requesting commonly used date ranges.

          1 = MTD

          2 = QTD

          4 = YTD

          8 = 1yr

          16 = 3yr

          32 = 5yr

          64 = 10yr

          128 = inception

          256 = day'
        required: false
        schema:
          type: string
          enum:
          - None
          - Day
          - MTD
          - QTD
          - YTD
          - OneYear
          - ThreeYear
          - FiveYear
          - TenYear
          - Inception
          - AllDates
          default: 0
      - name: calendarYears
        in: query
        description: Optional. Comma delimited list of calendar years for which performance should be calculated.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.PerformancePortfolioSummaryDto'
                xml:
                  name: PerformancePortfolioSummaryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.PerformancePortfolioSummaryDto'
                xml:
                  name: PerformancePortfolioSummaryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.PerformancePortfolioSummaryDto'
                xml:
                  name: PerformancePortfolioSummaryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.PerformancePortfolioSummaryDto'
                xml:
                  name: PerformancePortfolioSummaryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.PerformancePortfolioSummaryDto'
                xml:
                  name: PerformancePortfolioSummaryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.PerformancePortfolioSummaryDto'
                xml:
                  name: PerformancePortfolioSummaryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Accounts/{key}/Performance/Summary/{grouping}:
    get:
      tags:
      - Portfolio Accounts
      summary: Used to return summary performance.
[...]
