openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Sleeve API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/Sleeve
paths:
  /v1/Trading/Sleeve/Accounts:
    get:
      tags:
      - Trading/Sleeve
      summary: Gets a list of account sleeves that the logged in user has access to.
      operationId: SleeveAccounts_Get
      parameters:
      - name: queryOptions
        in: header
        required: true
      - name: cancellationToken
        in: header
        required: true
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - ContributionAllocation
          - TransferIn
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Accounts/{accountIdOut}/Action/GetETLPreference:
    get:
      tags:
      - Trading/Sleeve
      summary: v2 Extract should always be used
      operationId: SleeveAccounts_ActionGetETLPreference
      parameters:
      - name: accountIdOut
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      deprecated: true
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Accounts/{accountIdOut}/Action/Transfer:
    put:
      tags:
      - Trading/Sleeve
      summary: Use PUT /v1/Portfolio/SleeveTransfer/Action/Transfer/{entitySessionId} instead
      operationId: SleeveAccounts_ActionTransfer
      parameters:
      - name: accountIdOut
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      deprecated: true
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveActionTransferDto'
              xml:
                name: SleeveActionTransferDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveActionTransferDto'
              xml:
                name: SleeveActionTransferDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveActionTransferDto'
              xml:
                name: SleeveActionTransferDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveActionTransferDto'
              xml:
                name: SleeveActionTransferDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveActionTransferDto'
              xml:
                name: SleeveActionTransferDto
                wrapped: true
              type: array
        required: true
  /v1/Trading/Sleeve/Accounts/{accountIdOut}/Action/V2PartialETL:
    put:
      tags:
      - Trading/Sleeve
      operationId: SleeveAccounts_V2PartialETL
      parameters:
      - name: accountIdOut
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Sleeve accounts V2 partial ETL
      x-summary-source: derived
  /v1/Trading/Sleeve/Accounts/{key}:
    get:
      tags:
      - Trading/Sleeve
      summary: Gets the account sleeve that has the provided key.
      operationId: SleeveAccounts_GetByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - ContributionAllocation
          - TransferIn
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Accounts/{key}/Histories:
    get:
      tags:
      - Trading/Sleeve
      summary: Gets a list of account sleeve histories for the key provided
      operationId: SleeveAccounts_GetHistoriesByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveHistoryDto'
                xml:
                  name: AccountSleeveHistoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveHistoryDto'
                xml:
                  name: AccountSleeveHistoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveHistoryDto'
                xml:
                  name: AccountSleeveHistoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveHistoryDto'
                xml:
                  name: AccountSleeveHistoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveHistoryDto'
                xml:
                  name: AccountSleeveHistoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveHistoryDto'
                xml:
                  name: AccountSleeveHistoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Accounts/{key}/Validate:
    put:
      tags:
      - Trading/Sleeve
      summary: Validates updated values for account sleeve
      operationId: SleeveAccounts_ValidateAccountSleeve
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
        required: true
  /v1/Trading/Sleeve/Accounts/AgingCashBalance:
    get:
      tags:
      - Trading/Sleeve
      summary: Returns accounts (sleeves) that are of type contribution, or distribution, that…
      operationId: SleeveAccounts_GetAgingCashBalance
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AgingCashBalancesDto'
                xml:
                  name: AgingCashBalancesDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AgingCashBalancesDto'
                xml:
                  name: AgingCashBalancesDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AgingCashBalancesDto'
                xml:
                  name: AgingCashBalancesDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AgingCashBalancesDto'
                xml:
                  name: AgingCashBalancesDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AgingCashBalancesDto'
                xml:
                  name: AgingCashBalancesDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AgingCashBalancesDto'
                xml:
                  name: AgingCashBalancesDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Accounts/List:
    post:
      tags:
      - Trading/Sleeve
      summary: Gets a list of account sleeves that match one of the keys in the provided list
      operationId: SleeveAccounts_GetListById
      parameters:
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - ContributionAllocation
          - TransferIn
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Trading/Sleeve/Accounts/List/Id:
    post:
      tags:
      - Trading/Sleeve
      summary: Gets a list of account sleeves that match one of the keys in the provided list
      operationId: SleeveAccounts_PostV1TradingSleeveAccountsListId
      parameters:
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - ContributionAllocation
          - TransferIn
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveDto'
                xml:
                  name: AccountSleeveDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Trading/Sleeve/Registrations:
    get:
      tags:
      - Trading/Sleeve
      summary: Gets a list of registration sleeves that the logged in user has access to.
      operationId: SleeveRegistrations_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Registrations/{key}:
    get:
      tags:
      - Trading/Sleeve
      summary: Gets the registration sleeve that has the provided key.
      operationId: SleeveRegistrations_GetByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      - name: stubSleeve
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: includeAssets
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: includeCostBasis
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Registrations/{key}/Action/CWMProcess:
    put:
      tags:
      - Trading/Sleeve
      summary: Used to update a registration sleeve as well as its underlying account sleeves
      operationId: SleeveRegistrations_CarsonProcessSleevesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Registration ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CarsonProcessSleevesDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CarsonProcessSleevesDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CarsonProcessSleevesDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CarsonProcessSleevesDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CarsonProcessSleevesDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CarsonProcessSleevesDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.CarsonProcessSleevesDto'
        description: "contains: \n           systematic amount for Custodial sleeve\n           systematic Frequency for Custodial sleeve\n           cycle month for systematic for custodial sleeve\n           start date for systematic for custodial sleeve\n           Transaction day for systematic for custodial sleeve"
        required: true
  /v1/Trading/Sleeve/Registrations/{key}/Action/MoveInactiveValue:
    put:
      tags:
      - Trading/Sleeve
      summary: Moves value in inactive sleeves in the registration to active sleeves
      operationId: SleeveRegistrations_MoveInactiveValue
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Registrations/{key}/Check:
    get:
      tags:
      - Trading/Sleeve
      summary: Check Registration
      operationId: SleeveRegistrations_CheckRegistrationAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Registrations/{key}/Histories:
    get:
      tags:
      - Trading/Sleeve
      summary: Gets a list of registration sleeve histories for the key provided
      operationId: SleeveRegistrations_GetRegistrationSleeveHistoriesByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveHistoryDto'
                xml:
                  name: RegistrationSleeveHistoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveHistoryDto'
                xml:
                  name: RegistrationSleeveHistoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveHistoryDto'
                xml:
                  name: RegistrationSleeveHistoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveHistoryDto'
                xml:
                  name: RegistrationSleeveHistoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveHistoryDto'
                xml:
                  name: RegistrationSleeveHistoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveHistoryDto'
                xml:
                  name: RegistrationSleeveHistoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Registrations/{key}/Histories/Accounts:
    get:
      tags:
      - Trading/Sleeve
      summary: Gets a list of account sleeve histories for the key provided
      operationId: SleeveRegistrations_GetAccountSleeveHistoriesByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveHistoryDto'
                xml:
                  name: AccountSleeveHistoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveHistoryDto'
                xml:
                  name: AccountSleeveHistoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveHistoryDto'
                xml:
                  name: AccountSleeveHistoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveHistoryDto'
                xml:
                  name: AccountSleeveHistoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveHistoryDto'
                xml:
                  name: AccountSleeveHistoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveHistoryDto'
                xml:
                  name: AccountSleeveHistoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Registrations/{key}/Histories/Registrations:
    get:
      tags:
      - Trading/Sleeve
      summary: Gets a list of registration sleeve histories for the key provided
      operationId: SleeveRegistrations_GetV1TradingSleeveRegistrationsByKeyHistoriesRegistrations
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveHistoryDto'
                xml:
                  name: RegistrationSleeveHistoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveHistoryDto'
                xml:
                  name: RegistrationSleeveHistoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveHistoryDto'
                xml:
                  name: RegistrationSleeveHistoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveHistoryDto'
                xml:
                  name: RegistrationSleeveHistoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveHistoryDto'
                xml:
                  name: RegistrationSleeveHistoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveHistoryDto'
                xml:
                  name: RegistrationSleeveHistoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Registrations/{key}/Validate:
    put:
      tags:
      - Trading/Sleeve
      summary: Validate Registration Sleeve
      operationId: SleeveRegistrations_ValidateRegistrationSleeve
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
        required: true
  /v1/Trading/Sleeve/Registrations/{regId}:
    delete:
      tags:
      - Trading/Sleeve
      summary: Delete sleeves that were mistakenly made
      operationId: SleeveRegistrations_DeleteSleeves
      parameters:
      - name: regId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Registrations/{registrationId}/GetEclipseEnabled:
    get:
      tags:
      - Trading/Sleeve
      operationId: SleeveRegistrations_GetEclipseEnabled
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
      summary: Sleeve registrations get eclipse enabled
      x-summary-source: derived
  /v1/Trading/Sleeve/Registrations/Action/MoveInactiveValue:
    put:
      tags:
      - Trading/Sleeve
      summary: Moves value in all inactive sleeves to active sleeves
      operationId: SleeveRegistrations_MoveAllInactiveValues
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Registrations/Action/Process:
    post:
      tags:
      - Trading/Sleeve
      summary: Used to update a registration sleeve as well as its underlying account sleeves
      operationId: SleeveRegistrations_ProcessSleevesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: manualOverride
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: isPendingAccount
        in: query
        description: "Optional parameter to allow sleeving with an account that doesn't exist at a custodian yet.\n            Accounts will be created with no assets and registration custodial account number will be \"PENDING\".  Defaults to false."
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
        required: true
  /v1/Trading/Sleeve/Registrations/Action/Process/Batch:
    post:
      tags:
      - Trading/Sleeve
      summary: Used to update multiple registrations sleeve as well as its underlying account…
      operationId: SleeveRegistrations_ProcessSleeveRegistrationsAsync
      parameters:
      - name: batchId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
              xml:
                name: RegistrationSleeveFullDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
              xml:
                name: RegistrationSleeveFullDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
              xml:
                name: RegistrationSleeveFullDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
              xml:
                name: RegistrationSleeveFullDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
              xml:
                name: RegistrationSleeveFullDto
                wrapped: true
              type: array
        required: true
  /v1/Trading/Sleeve/Registrations/Action/Process/Historical:
    post:
      tags:
      - Trading/Sleeve
      summary: Used to create historical sleeves
      operationId: SleeveRegistrations_ProcessHistoricalSleevesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
        required: true
  /v1/Trading/Sleeve/Registrations/Action/Process/Historical/Batch:
    post:
      tags:
      - Trading/Sleeve
      summary: Process a batch of historical sleeves import
      operationId: SleeveRegistrations_ProcessHistoricalSleevesBatchAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
              xml:
                name: RegistrationSleeveFullDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
              xml:
                name: RegistrationSleeveFullDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
              xml:
                name: RegistrationSleeveFullDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
              xml:
                name: RegistrationSleeveFullDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
              xml:
                name: RegistrationSleeveFullDto
                wrapped: true
              type: array
        required: true
  /v1/Trading/Sleeve/Registrations/Action/Process/SleeveSetUpWizard:
    post:
      tags:
      - Trading/Sleeve
      summary: Used to update a registration sleeve as well as its underlying account sleeves
      operationId: SleeveRegistrations_ProcessSleeveSetUpWizardAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: isRegFullRebalance
        in: query
        description: Optional param to indicate if a registration full rebalance has already been run and the trade queue entry needs to be updated to complete.
        required: false
        schema:
          type: boolean
          default: false
      - name: approved
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto'
        required: true
  /v1/Trading/Sleeve/Registrations/Action/Unlock:
    post:
      tags:
      - Trading/Sleeve
      summary: Change registrations to Custom Sleeve by a list of accountIds
      operationId: SleeveRegistrations_UnlockSleevesbyAccountList
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Trading/Sleeve/Registrations/Batch:
    put:
      tags:
      - Trading/Sleeve
      summary: Updates registration sleeve values without processing account sleeves
      operationId: SleeveRegistrations_UpdateRegistrationSleevesBatchAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: syncToEclipse
        in: query
        description: Optional parameter that decides whether the updates are synced to Eclipse. Default value is false.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveIsDoNotTradeDto'
              xml:
                name: RegistrationSleeveIsDoNotTradeDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveIsDoNotTradeDto'
              xml:
                name: RegistrationSleeveIsDoNotTradeDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveIsDoNotTradeDto'
              xml:
                name: RegistrationSleeveIsDoNotTradeDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveIsDoNotTradeDto'
              xml:
                name: RegistrationSleeveIsDoNotTradeDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveIsDoNotTradeDto'
              xml:
                name: RegistrationSleeveIsDoNotTradeDto
                wrapped: true
              type: array
        required: true
  /v1/Trading/Sleeve/Registrations/Guardrails/Action/Validate:
    post:
      tags:
      - Trading/Sleeve
      operationId: SleeveRegistrations_ValidateRiskGuardrails
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RiskGuardrailValidationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RiskGuardrailValidationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RiskGuardrailValidationResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RiskGuardrailValidationResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RiskGuardrailValidationResponse'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RiskGuardrailValidationResponse'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RiskGuardrailValidationConfiguration'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RiskGuardrailValidationConfiguration'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RiskGuardrailValidationConfiguration'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RiskGuardrailValidationConfiguration'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RiskGuardrailValidationConfiguration'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RiskGuardrailValidationConfiguration'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RiskGuardrailValidationConfiguration'
        required: true
      summary: Sleeve registrations validate risk guardrails
      x-summary-source: derived
  /v1/Trading/Sleeve/Registrations/ImportCheck:
    post:
      tags:
      - Trading/Sleeve
      summary: Import Check
      operationId: SleeveRegistrations_CheckRegistrationsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
                xml:
                  name: RegistrationCheckDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
                xml:
                  name: RegistrationCheckDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
                xml:
                  name: RegistrationCheckDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
                xml:
                  name: RegistrationCheckDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
                xml:
                  name: RegistrationCheckDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationCheckDto'
                xml:
                  name: RegistrationCheckDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.ValidateImport.ValidateFileImportDto'
        required: true
  /v1/Trading/Sleeve/Registrations/IsDoNotTrade:
    get:
      tags:
      - Trading/Sleeve
      summary: Gets the registration sleeves that have IsDoNotTrade = true.
      operationId: SleeveRegistrations_GetIsDoNotTrade
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveIsDoNotTradeDto'
                xml:
                  name: RegistrationSleeveIsDoNotTradeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveIsDoNotTradeDto'
                xml:
                  name: RegistrationSleeveIsDoNotTradeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveIsDoNotTradeDto'
                xml:
                  name: RegistrationSleeveIsDoNotTradeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveIsDoNotTradeDto'
                xml:
                  name: RegistrationSleeveIsDoNotTradeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveIsDoNotTradeDto'
                xml:
                  name: RegistrationSleeveIsDoNotTradeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveIsDoNotTradeDto'
                xml:
                  name: RegistrationSleeveIsDoNotTradeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Registrations/IsDoNotTrade/Set:
    post:
      tags:
      - Trading/Sleeve
      summary: Gets the registration sleeves that have IsDoNotTrade = true.
      operationId: SleeveRegistrations_PostIsDoNotTrade
      parameters:
      - name: isDoNotTrade
        in: query
        required: true
        schema:
          type: boolean
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.Sleeve.SleeveRegistrationResponseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.Sleeve.SleeveRegistrationResponseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.Sleeve.SleeveRegistrationResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.Sleeve.SleeveRegistrationResponseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.Sleeve.SleeveRegistrationResponseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.Sleeve.SleeveRegistrationResponseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationTradingInstructionsDto'
              xml:
                name: RegistrationTradingInstructionsDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationTradingInstructionsDto'
              xml:
                name: RegistrationTradingInstructionsDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationTradingInstructionsDto'
              xml:
                name: RegistrationTradingInstructionsDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationTradingInstructionsDto'
              xml:
                name: RegistrationTradingInstructionsDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationTradingInstructionsDto'
              xml:
                name: RegistrationTradingInstructionsDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationTradingInstructionsDto'
              xml:
                name: RegistrationTradingInstructionsDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationTradingInstructionsDto'
              xml:
                name: RegistrationTradingInstructionsDto
                wrapped: true
              type: array
        required: true
  /v1/Trading/Sleeve/Registrations/List:
    post:
      tags:
      - Trading/Sleeve
      summary: Gets a list of registration sleeves that match one of the keys in the provided…
      operationId: SleeveRegistrations_GetListById
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Trading/Sleeve/Registrations/List/Id:
    post:
      tags:
      - Trading/Sleeve
      summary: Gets a list of registration sleeves that match one of the keys in the provided…
      operationId: SleeveRegistrations_PostV1TradingSleeveRegistrationsListId
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveDto'
                xml:
                  name: RegistrationSleeveDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Trading/Sleeve/Registrations/ListWithAccountSleeves:
    post:
      tags:
      - Trading/Sleeve
      summary: Gets a list of registration sleeves that match one of the keys in the provided…
      operationId: SleeveRegistrations_GetListByIdWithAccountSleevesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
                xml:
                  name: RegistrationSleeveFullValidationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
                xml:
                  name: RegistrationSleeveFullValidationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
                xml:
                  name: RegistrationSleeveFullValidationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.RegistrationSleeveFullValidationDto'
                xml:
                  name: RegistrationSleeveFullValidationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Trading/Sleeve/Registrations/SpecialSleeves:
    put:
      tags:
      - Trading/Sleeve
      summary: Process special locked sleeves. This only processes model and platform
      operationId: SleeveRegistrations_SaveSpecialSleevesAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveProcessDto'
              xml:
                name: AccountSleeveProcessDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveProcessDto'
              xml:
                name: AccountSleeveProcessDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveProcessDto'
              xml:
                name: AccountSleeveProcessDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveProcessDto'
              xml:
                name: AccountSleeveProcessDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveProcessDto'
              xml:
                name: AccountSleeveProcessDto
                wrapped: true
              type: array
        required: true
  /v1/Trading/Sleeve/Registrations/UpcomingSWP:
    put:
      tags:
      - Trading/Sleeve
      summary: A quick update to the Registration Sleeve table to upcomingSWP flag without…
      operationId: SleeveRegistrations_UpdateUpcomingSWPOnRegSleeveAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UpcomingSwpDataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UpcomingSwpDataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UpcomingSwpDataDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UpcomingSwpDataDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UpcomingSwpDataDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UpcomingSwpDataDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UpcomingSwpDataDto'
        required: true
  /v1/Trading/Sleeve/Registrations/UpcomingSWP/CreateAutoJournal:
    post:
      tags:
      - Trading/Sleeve
      summary: Creates UpcomingSWP AutoJournal Transactions
      operationId: SleeveRegistrations_CreateUpcomingSWPAutoJournalTransactions
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
  /v1/Trading/Sleeve/Registrations/UpdateFirmId/{key}:
    put:
      tags:
      - Trading/Sleeve
      summary: A quick update to the Registration Sleeve talbe to write the FirmId to the…
      operationId: SleeveRegistrations_UpdateFirmIdOnRegSleeveAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      - name: firmId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Trading.ModelItemFullDto:
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        productName:
          type: string
        productClass:
          type: string
        ticker:
          type: string
        targetPercent:
          type: number
          format: double
        itemTol:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        itemTolUpper:
          type: number
          format: double
        itemTolLower:
          type: number
          format: double
        oub:
          type: number
          format: double
        modelAggId:
          type: integer
          format: int32
        productRiskScore:
          type: integer
          format: int32
      xml:
        name: ModelItemFullDto
      type: object
    OAS.WebApi.DTO.Trading.SleeveNormalAcctBillingDto:
      properties:
        billFeeScheduleId:
          type: integer
          format: int32
        billFeeScheduleName:
          type: string
        billMasterPayoutScheduleId:
          type: integer
          format: int32
        billMasterPayoutScheduleName:
          type: string
        recurringAdjustments:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BillRecurrentAdjustmentDto'
          xml:
            name: BillRecurrentAdjustmentDto
            wrapped: true
          type: array
      xml:
        name: SleeveNormalAcctBillingDto
      type: object
    OAS.WebApi.DTO.Trading.RiskGuardrailValidationConfiguration:
      properties:
        aggregateRiskScore:
          type: number
          format: double
        clientRiskProfile:
          type: integer
          format: int32
        guardrailType:
          type: string
          enum:
          - None
          - SoftStop
          - HardStop
        message:
          type: string
      xml:
        name: RiskGuardrailValidationConfiguration
      type: object
    OAS.WebApi.DTO.Trading.SleeveCustodialAcctBillingDto:
      properties:
        billFeeScheduleId:
          type: integer
          format: int32
        billFeeScheduleName:
          type: string
        billMasterPayoutScheduleId:
          type: integer
          format: int32
        billMasterPayoutScheduleName:
          type: string
        recurringAdjustments:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BillRecurrentAdjustmentDto'
          xml:
            name: BillRecurrentAdjustmentDto
            wrapped: true
          type: array
      xml:
        name: SleeveCustodialAcctBillingDto
      type: object
    OAS.WebApi.DTO.Trading.RiskGuardrailValidationResponse:
      properties:
        successful:
          type: boolean
        message:
          type: string
      xml:
        name: RiskGuardrailValidationResponse
      type: object
    OAS.WebApi.DTO.Trading.CarsonProcessAccount:
      properties:
        accountId:
          type: integer
          format: int32
        feeScheduleId:
          type: integer
          format: int32
        masterPayoutScheduleId:
          type: integer
          format: int32
        managementStyleId:
          type: integer
          format: int32
        modelAggId:
          type: integer
          format: int32
        aumType:
          type: string
        businessType:
          type: string
        secMgrNum:
          type: string
        modelType:
          type: string
      xml:
        name: CarsonProcessAccount
      type: object
    OAS.WebApi.DTO.Trading.AggregateModelSubstituteDto:
      properties:
        sleeveStrategyDetailId:
          type: integer
          format: int32
        sleeveStrategyId:
          type: integer
          format: int32
        aggregateModelId:
          type: integer
          format: int32
        modelAggName:
          type: string
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
        isSubstitute:
          type: boolean
      xml:
        name: AggregateModelSubstituteDto
      type: object
    OAS.WebApi.DTO.Trading.RegistrationSleeveHistoryDto:
      properties:
        id:
          type: integer
          format: int32
        changeType:
          type: string
        registrationId:
          type: integer
          format: int32
        sleeveStrategyId:
          type: integer
          format: int32
        isActive:
          type: boolean
        isDoNotTrade:
          type: boolean
        custodialAccountNumber:
          type: string
        contributionAllocationMethod:
          type: string
          enum:
          - UseAssigned
          - UseTarget
          - UseOUB
          - UseCurrent
        distributionAllocationMethod:
          type: string
          enum:
          - UseAssigned
          - UseTarget
          - UseOUB
          - UseCurrent
        corporateActionAllocationMethod:
          type: string
          enum:
          - UseAssigned
          - UseTarget
          - UseOUB
          - UseCurrent
        autoRebalFrequency:
          type: string
          enum:
          - None
          - Monthly
          - Quarterly
          - Semiannual
          - Annual
        autoRebalMonth:
          type: integer
          format: int32
        autoRebalDay:
          type: integer
          format: int32
        mandate:
          type: boolean
        tolerancePercent:
          type: number
          format: double
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: RegistrationSleeveHistoryDto
      type: object
    OAS.WebApi.DTO.Trading.AccountSleeveProcessDto:
      properties:
        modelAllocations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelItemFullDto'
          xml:
            name: ModelItemFullDto
            wrapped: true
          type: array
        sweepAssetId:
          type: integer
          format: int32
        custodialBilling:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveCustodialAcctBillingDto'
        sleeveBilling:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveNormalAcctBillingDto'
        minimumCash:
          type: number
          format: double
        replenishMinCash:
          type: boolean
        substitutes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AggregateModelSubstituteDto'
          xml:
            name: AggregateModelSubstituteDto
            wrapped: true
          type: array
        hasSMAModel:
          type: boolean
        modelAggType:
          type: string
          enum:
          - Normal
          - CustomIndex
          - SelfDirected
        minimumInvestmentAmount:
          type: number
          format: double
        createdFromOciProcess:
          type: boolean
        accountId:
          type: integer
          format: int32
        sleeveDescription:
          type: string
        targetAllocation:
          type: number
          format: double
        currentAllocation:
          type: number
          format: double
        currentValue:
          type: number
          format: double
        contributionAllocation:
          type: number
          format: double
        distributionAllocation:
          type: number
          format: double
        corporateActionAllocation:
          type: number
          format: double
        toleranceUpper:
          type: number
          format: double
        toleranceLower:
          type: number
          format: double
        sleeveType:
          type: string
          enum:
          - Normal sleeve
          - Custodial account
          - Contribution sleeve
          - Distribution sleeve
          - Unmanaged sleeve
        modelAgg:
          type: string
        managementStyle:
          type: string
        subAdvisor:
          type: string
        modelType:
          type: string
        registrationId:
          type: integer
          format: int32
        subAdvisorId:
          type: integer
          format: int32
        modelAggId:
          type: integer
          format: int32
        managementStyleId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        targetBalanceType:
          type: string
          enum:
          - Dollars
          - Percent
        doNotTrade:
          type: boolean
        riskScore:
          type: number
          format: double
        regValue:
          type: number
          format: double
        isCustomized:
          type: boolean
        sleeveStrategyDetailId:
          type: integer
          format: int32
        sleeveStrategyId:
          type: integer
          format: int32
        sleeveStrategy:
          type: string
        sleeveStrategyToleranceUpper:
          type: number
          format: double
        sleeveStrategyToleranceLower:
          type: number
          format: double
        modelAggExcludeRebalanceSleeve:
          type: boolean
        businessLine:
          type: string
        unitBalanceScale:
          type: string
        assets:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
          xml:
            name: AssetDto
            wrapped: true
          type: array
        categoryAllocations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveAssetCategoryAllocationsDto'
          readOnly: true
          xml:
            name: AccountSleeveAssetCategoryAllocationsDto
            wrapped: true
          type: array
      xml:
        name: AccountSleeveProcessDto
      type: object
    OAS.WebApi.DTO.Trading.RegistrationTradingInstructionsDto:
      properties:
        registrationId:
          type: integer
          format: int32
        tradingInstructions:
          type: string
      xml:
        name: RegistrationTradingInstructionsDto
      type: object
    OAS.WebApi.DTO.Trading.AccountSleeveDto:
      properties:
        accountId:
          type: integer
          format: int32
        sleeveDescription:
          type: string
        targetAllocation:
          type: number
          format: double
        currentAllocation:
          type: number
          format: double
        currentValue:
          type: number
          format: double
        contributionAllocation:
          type: number
          format: double
        distributionAllocation:
          type: number
          format: double
        corporateActionAllocation:
          type: number
          format: double
        toleranceUpper:
          type: number
          format: double
        toleranceLower:
          type: number
          format: double
        sleeveType:
          type: string
          enum:
          - Normal sleeve
          - Custodial account
          - Contribution sleeve
          - Distribution sleeve
          - Unmanaged sleeve
        modelAgg:
          type: string
        managementStyle:
          type: string
        subAdvisor:
          type: string
        modelType:
          type: string
        registrationId:
          type: integer
          format: int32
        subAdvisorId:
          type: integer
          format: int32
        modelAggId:
          type: integer
          format: int32
        managementStyleId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        targetBalanceType:
          type: string
          enum:
          - Dollars
          - Percent
        doNotTrade:
          type: boolean
        riskScore:
          type: number
          format: double
        regValue:
          type: number
          format: double
        isCustomized:
          type: boolean
        sleeveStrategyDetailId:
          type: integer
          format: int32
        sleeveStrategyId:
          type: integer
          format: int32
        sleeveStrategy:
          type: string
        sleeveStrategyToleranceUpper:
          type: number
          format: double
        sleeveStrategyToleranceLower:
          type: number
          format: double
        modelAggExcludeRebalanceSleeve:
          type: boolean
        businessLine:
          type: string
        unitBalanceScale:
          type: string
        assets:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetDto'
          xml:
            name: AssetDto
            wrapped: true
          type: array
        categoryAllocations:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveAssetCategoryAllocationsDto'
          readOnly: true
          xml:
            name: AccountSleeveAssetCategoryAllocationsDto
            wrapped: true
          type: array
      xml:
        name: AccountSleeveDto
      type: object
    OAS.WebApi.DTO.Trading.RegistrationSleeveDto:
      properties:
        registrationId:
          type: integer
          format: int32
        sleeveStrategyAggId:
          type: integer
          format: int32
        sleeveStrategyId:
          type: integer
          format: int32
        isActive:
          type: boolean
        isDoNotTrade:
          type: boolean
        custodialAccountNumber:
          type: string
        asOfDate:
          type: string
          format: date-time
        eclipseFirmId:
          type: integer
          format: int32
        tolerancePercent:
          type: number
          format: double
        aggregateRiskScore:
          type: number
          format: double
        registrationRiskTolerance:
          type: integer
          format: int32
        contributionAllocationMethod:
          type: string
          enum:
          - UseAssigned
          - UseTarget
          - UseOUB
          - UseCurrent
        distributionAllocationMethod:
          type: string
          enum:
          - UseAssigned
          - UseTarget
          - UseOUB
          - UseCurrent
        corporateActionAllocationMethod:
          type: string
          enum:
          - UseAssigned
          - UseTarget
          - UseOUB
          - UseCurrent
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        autoRebalFrequency:
          type: string
          enum:
          - None
          - Monthly
          - Quarterly
          - Semiannual
          - Annual
        autoRebalMonth:
          type: integer
          format: int32
        autoRebalDay:
          type: integer
          format: int32
        mandate:
          type: boolean
        needsUpdate:
          type: boolean
        needsUpdateReason:
          type: string
      xml:
        name: RegistrationSleeveDto
      type: object
    OAS.WebApi.DTO.Portfolio.SystematicDto:
      properties:
        id:
          type: integer
          format: int32
        isActive:
          type: boolean
        isDoubleCheck:
          type: boolean
        type:
          type: integer
          format: int32
        doubleCheckBy:
          type: string
        doubleCheckDate:
          type: string
          format: date-time
        swpAmount:
          type: number
          format: double
        isProrated:
          type: boolean
        isCashFundingIgnored:
          type: boolean
        frequency:
          type: string
          enum:
          - Monthly
          - Quarterly
          - Semiannually
          - Annually
        cycleMonth:
          type: integer
          format: int32
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        inActiveDate:
          type: string
          format: date-time
        transactionDay:
          type: integer
          format: int32
        custodialSWPDate:
          type: integer
          format: int32
        taxesWithheld:
          type: number
          format: double
        stateTax:
          type: number
          format: double
        distributionCode:
          type: integer
          format: int32
        notes:
          type: string
        source:
          type: integer
          format: int32
        dataEntryMethod:
          type: integer
          format: int32
        howTransfered:
          type: integer
          format: int32
        bankName:
          type: string
        bankAddress:
          type: string
        abaNumber:
          type: string
        bankAccountNumber:
          type: string
        lifeType:
          type: integer
          format: int32
        beneficiaryName:
          type: string
        beneficiaryDoB:
          type: string
          format: date-time
        beneficiarySSN:
          type: string
        reason:
          type: string
        isSpouse:
          type: boolean
        isTaxWithType:
          type: string
          enum:
          - Undefined
          - Dollar
          - Percent
          - Unknown
          - None
        isRecalc:
          type: boolean
        isAutoRmd:
          type: boolean
        nextDate:
          type: string
          format: date-time
        importKey:
          type: string
        custodialSystematicId:
          type: string
      xml:
        name: SystematicDto
      type: object
    OAS.WebApi.DTO.Trading.RegistrationSleeveFullDto:
      properties:
        accountSleeves:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.AccountSleeveProcessDto'
          xml:
            name: AccountSleeveProcessDto
            wrapped: true
          type: array
        custodialBilling:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveCustodialAcctBillingDto'
        sleeveBilling:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SleeveNormalAcctBillingDto'
        excludedAssets:
          items:
            type: integer
            format: int32
          type: array
        includedAssets:
          items:
            type: integer
            format: int32
          type: array
        deletedSleeveTargets:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.DeletedSleeveTargetDto'
          xml:
            name: DeletedSleeveTargetDto
[...]
