openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Report Packages API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/ReportPackages
paths:
  /v1/Reporting/ReportPackages:
    get:
      tags:
      - Reporting/ReportPackages
      operationId: ReportPackages_GetReportPackagesAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report packages get report packages async
      x-summary-source: derived
  /v1/Reporting/ReportPackages/{reportPackageId}:
    get:
      tags:
      - Reporting/ReportPackages
      operationId: ReportPackages_GetV1ReportingReportPackagesByReportPackageId
      parameters:
      - name: reportPackageId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report packages get V1 reporting report packages by report package id
      x-summary-source: derived
  /v1/Reporting/ReportPackages/{reportPackageId}/Favorite:
    put:
      tags:
      - Reporting/ReportPackages
      operationId: ReportPackages_UpdateFavoriteAsync
      parameters:
      - name: reportPackageId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report packages update favorite async
      x-summary-source: derived
  /v1/Reporting/ReportPackages/AdHocSettings:
    post:
      tags:
      - Reporting/ReportPackages
      operationId: ReportPackages_GetAdHocSettingsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageAdHocSettingsRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageAdHocSettingsRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageAdHocSettingsRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageAdHocSettingsRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageAdHocSettingsRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageAdHocSettingsRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageAdHocSettingsRequestDto'
        required: true
      summary: Report packages get ad hoc settings async
      x-summary-source: derived
  /v1/Reporting/ReportPackages/run:
    post:
      tags:
      - Reporting/ReportPackages
      operationId: ReportPackages_PostReportPackageAsync
      parameters:
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageRunRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageRunRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageRunRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageRunRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageRunRequest'
        required: true
      summary: Report packages post report package async
      x-summary-source: derived
  /v1/Reporting/ReportPackages/run/{downloadId}:
    get:
      tags:
      - Reporting/ReportPackages
      operationId: ReportPackages_DownloadPdfAsync
      parameters:
      - name: downloadId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cancellationToken
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report packages download pdf async
      x-summary-source: derived
  /v1/Reporting/ReportPackages/Verbose:
    get:
      tags:
      - Reporting/ReportPackages
      operationId: ReportPackagesVerbose_GetReportPackagesForUserAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schema
            - DatabaseGroupAccessRules
            - DatabaseAccessRules
            - LoginAccessRules
            - RoleAccessRules
            - UserAccessRules
            - RepresentativeAccessRules
            - All
            - AllAccessRules
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report packages verbose get report packages for user async
      x-summary-source: derived
    post:
      tags:
      - Reporting/ReportPackages
      operationId: ReportPackagesVerbose_AddReportPackageAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
        required: true
      summary: Report packages verbose add report package async
      x-summary-source: derived
  /v1/Reporting/ReportPackages/Verbose/{key}:
    get:
      tags:
      - Reporting/ReportPackages
      operationId: ReportPackagesVerbose_GetReportPackageAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Schema
            - DatabaseGroupAccessRules
            - DatabaseAccessRules
            - LoginAccessRules
            - RoleAccessRules
            - UserAccessRules
            - RepresentativeAccessRules
            - All
            - AllAccessRules
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report packages verbose get report package async
      x-summary-source: derived
    put:
      tags:
      - Reporting/ReportPackages
      operationId: ReportPackagesVerbose_UpdateReportPackageAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto'
        required: true
      summary: Report packages verbose update report package async
      x-summary-source: derived
    delete:
      tags:
      - Reporting/ReportPackages
      operationId: ReportPackagesVerbose_DeleteReportPackageAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report packages verbose delete report package async
      x-summary-source: derived
  /v1/Reporting/ReportPackages/Verbose/{key}/ReportReferenceReportPackage:
    get:
      tags:
      - Reporting/ReportPackages
      operationId: ReportPackagesVerbose_GetReportReferenceReportPackageAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Report packages verbose get report reference report package async
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Reporting.Envision.ReportRepresentativesClientsAccessRuleDto:
      properties:
        representativeId:
          type: integer
          format: int32
        name:
          type: string
        canRun:
          type: boolean
      xml:
        name: ReportRepresentativesClientsAccessRuleDto
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportClientAccessRuleDto:
      properties:
        clientId:
          type: integer
          format: int32
        name:
          type: string
        canRun:
          type: boolean
      xml:
        name: ReportClientAccessRuleDto
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportRoleAccessRuleDto:
      properties:
        roleId:
          type: integer
          format: int32
        name:
          type: string
        canRun:
          type: boolean
        canEdit:
          type: boolean
        canDelete:
          type: boolean
      xml:
        name: ReportRoleAccessRuleDto
      type: object
    OAS.DataModel.Reporting.ReportOption:
      required:
      - id
      - $type
      properties:
        id:
          type: string
        $type:
          readOnly: true
          type: string
        optionGuid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        optionId:
          type: integer
          format: int32
        isDisabled:
          type: boolean
        isGlobal:
          type: boolean
        isIgnored:
          type: boolean
        name:
          type: string
        useInception:
          type: boolean
        prompt:
          type: string
          enum:
          - Never
          - Always
      xml:
        name: ReportOption
      type: object
    OAS.DataProcess.Reporting.ReportPackages.ReportPackageVerboseDto:
      properties:
        id:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        name:
          type: string
        portfolio:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackagePortfolioDto'
        schema:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageSchemaDto'
        loginAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportLoginAccessRuleDto'
          xml:
            name: ReportLoginAccessRuleDto
            wrapped: true
          type: array
        databaseGroupAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportDatabaseGroupAccessRuleDto'
          xml:
            name: ReportDatabaseGroupAccessRuleDto
            wrapped: true
          type: array
        databaseAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportDatabaseAccessRuleDto'
          xml:
            name: ReportDatabaseAccessRuleDto
            wrapped: true
          type: array
        roleAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportRoleAccessRuleDto'
          xml:
            name: ReportRoleAccessRuleDto
            wrapped: true
          type: array
        userAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportUserAccessRuleDto'
          xml:
            name: ReportUserAccessRuleDto
            wrapped: true
          type: array
        representativeAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportRepresentativeAccessRuleDto'
          xml:
            name: ReportRepresentativeAccessRuleDto
            wrapped: true
          type: array
        representativesClientsAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportRepresentativesClientsAccessRuleDto'
          xml:
            name: ReportRepresentativesClientsAccessRuleDto
            wrapped: true
          type: array
        clientAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportClientAccessRuleDto'
          xml:
            name: ReportClientAccessRuleDto
            wrapped: true
          type: array
        brokerDealerAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportBrokerDealerAccessRuleDto'
          xml:
            name: ReportBrokerDealerAccessRuleDto
            wrapped: true
          type: array
        brokerDealersRepresentativesAccessRules:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Envision.ReportBrokerDealersRepresentativesAccessRuleDto'
          xml:
            name: ReportBrokerDealersRepresentativesAccessRuleDto
            wrapped: true
          type: array
        additionalOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.ReportOptionCategory'
          xml:
            name: ReportOptionCategory
            wrapped: true
          type: array
      xml:
        name: ReportPackageVerboseDto
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportBrokerDealersRepresentativesAccessRuleDto:
      properties:
        brokerDealerId:
          type: integer
          format: int32
        name:
          type: string
        canRun:
          type: boolean
      xml:
        name: ReportBrokerDealersRepresentativesAccessRuleDto
      type: object
    OAS.DataProcess.Reporting.ReportPackages.ReportPackageSchemaDto:
      properties:
        runFor:
          items:
            type: string
            enum:
            - Undefined
            - Payee
            - BrokerDealer
            - Wholesaler
            - Representative
            - Client
            - Registration
            - Account
            - Asset
            - Product
            - Transaction
            - Distribution
            - FundFamily
            - Personal
            - PayoutSchedule
            - FeeSchedule
            - Platform
            - RIA
            - Custodian
            - Journal
            - SWP
            - Other
            - NASD
            - CashFunding
            - Bill
            - BillInstance
            - BillMasterPayout
            - Model
            - NewAccountClient
            - NewAccountReg
            - DownloadExclusion
            - Price
            - UserDefinedFields
            - NewAcctUserDef
            - ManagersMessage
            - IndexEntry
            - PerformanceFee
            - PerformancePayout
            - NewAccountAsset
            - Owner
            - Administrator
            - OutsideClient
            - SubAdvisor
            - ModelRange
            - FaxCover
            - Fax
            - OneTimeDistribution
            - WebLogin
            - Plan401k
            - BillAccountItem
            - ThirdPartyAdministrator
            - CrmContact
            - Participant
            - PlanSponsor
            - CRMEmailList
            - ThirdParty
            - WorkflowItem
            - WorkflowAction
            - ServiceAccount
            - EntityOption
            - HouseholdMember
            - DownloadSymbol
            - IndexBlend
            - NABenefit
            - AggregateModel
            - CompositeRange
            - RepAccountManager
            - ScriptsScrubs
            - ServiceAccountBrokerDealer
            - BusinessLine
            - Blob
            - AssetClass
            - ServiceAccountLite
            - NewAcctUserDefDtl
            - Branch
            - AssetLevelStrategy
            - Report
            - DataQueries
            - PriceUnUsed
            - ModelItem
            - AssetCategory
            - RiskCategory
            - PlatformRange
            - Dividend
            - RegistrationType
            - CustodianCommon
            - RepState
            - QpeDashboard
            - ReportBatch
            - ModelGroup
            - ShareClass
            - DownloadFile
            - User
            - DynamicGrouping
            - ProductType
            - ProductSubType
            - InvestmentObjective
            - PortfolioGroup
            - OrionRealizedLot
            - OrionUnrealizedLot
            - CustodianRealizedLot
            - CustodianUnrealizedLot
            - AssetCategoryParent
            - TaxType
            - AuditRequest
            - AuditRequestLetter
            - ManagedUnmanaged
            - AuditRowAttachment
            - InformPolicy
            - InformAnswerAttachment
            - UserDetail
            - BillPayMethod
            - ModelInclusion
            - CommunityModel
            - EclipseModel
            - Global
            - ClientCategory
            - Taxability
            - Qualified
            - TaxID
            - BondState
            - ProductTaxability
            - TargetAllocation
            - RIATable
            - ProductRegion
            - ProductPropertyType
            - ProductManagerAip
            - MoodyRating
            - SPRating
            - BondMaturityYear
            - InterestRate
            - RegistrationTaxType
            - MaturityPeriod
            - NewHousehold
            - BillPayoutDashboardPayment
            - OptionLevel
            - MarginAgreement
            - PrimeBrokerage
            - InformHistoricalDocument
            - SleeveStrategyAggregate
            - MorningstarSector
            - BillEntity
            - SleeveStrategy
            - MorningstarGeography
            - GenericProspect
            - BillEntityType
            - AdditionalRep
            - BillPayoutReport
            - ProductSubHolding
            - DownloadSource
            - ModelVsActual
            - ProductVintageYear
            - EclipsePortfolio
            - Country
            - Currency
            - SecurityClassification1
            - SecurityClassification2
            - SecurityClassification3
            - SecurityClassification4
            - SecurityClassification5
            - SecurityClassification6
            - SecurityClassification7
            - SecurityClassification8
            - SecurityClassification9
            - SecurityClassification10
            - SecurityClassification11
            - SecurityClassification12
            - SecurityClassification13
            - SecurityClassification14
            - SecurityClassification15
            - SecurityClassification16
            - SecurityClassification17
            - SecurityClassification18
            - SecurityClassification19
            - SecurityClassification20
            - SecurityClassification21
            - SecurityClassification22
            - SecurityClassification23
            - SecurityClassification24
            - SecurityClassification25
            - DownloadRecord
            - CustomGrouping
            - Cotenant
            - AllocatedUnrealizedCostBasis
            - AllocatedRealizedCostBasis
          xml:
            name: Entity
            wrapped: true
          type: array
        defaultRunFor:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        selectedReports:
          items:
            example: 00000000-0000-0000-0000-000000000000
            type: string
            format: uuid
          type: array
        selectedTheme:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        selectedCover:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        layout:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageLayoutDto'
        formats:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageFormatDto'
        inAccessibleReports:
          items:
            type: string
          type: array
        pageHeaderFooterName:
          type: string
      xml:
        name: ReportPackageSchemaDto
      type: object
    OAS.DataProcess.Reporting.ReportPackages.ReportPackageLayoutMarginsDto:
      properties:
        top:
          type: number
          format: double
        right:
          type: number
          format: double
        bottom:
          type: number
          format: double
        left:
          type: number
          format: double
        units:
          type: string
        uniform:
          type: number
          format: double
        usesUniform:
          type: boolean
      xml:
        name: ReportPackageLayoutMarginsDto
      type: object
    OAS.DataModel.Reporting.ReportOptionCategory:
      required:
      - category
      - options
      properties:
        category:
          type: string
        options:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.ReportOption'
          xml:
            name: ReportOption
            wrapped: true
          type: array
      xml:
        name: ReportOptionCategory
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportDatabaseAccessRuleDto:
      properties:
        alClientId:
          type: integer
          format: int32
        loginEntityId:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        name:
          type: string
        canRun:
          type: boolean
        canEdit:
          type: boolean
      xml:
        name: ReportDatabaseAccessRuleDto
      type: object
    OAT.Utilities.Date.IDate:
      properties:
        date:
          readOnly: true
          type: string
          format: date-time
        year:
          readOnly: true
          type: integer
          format: int32
        month:
          readOnly: true
          type: integer
          format: int32
        day:
          readOnly: true
          type: integer
          format: int32
      xml:
        name: IDate
      type: object
    OAS.DataProcess.Reporting.ReportPackages.ReportPackageFormatDto:
      properties:
        uniform:
          type: string
        usesUniform:
          type: boolean
        percent:
          type: string
        decimal:
          type: string
        numeric:
          type: string
        dollar:
          type: string
      xml:
        name: ReportPackageFormatDto
      type: object
    OAS.DataProcess.Reporting.ReportPackages.ReportPackageLayoutDto:
      properties:
        selection:
          type: string
          enum:
          - Letter
          - Legal
          - A4
        orientation:
          type: string
          enum:
          - Portrait
          - Landscape
        margins:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageLayoutMarginsDto'
      xml:
        name: ReportPackageLayoutDto
      type: object
    OAS.DataProcess.Reporting.ReportPackages.ReportPackagePortfolioDto:
      properties:
        name:
          type: string
        description:
          type: string
        canEdit:
          type: boolean
        canDelete:
          type: boolean
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
      xml:
        name: ReportPackagePortfolioDto
      type: object
    OAS.DataProcess.Reporting.ReportPackages.ReportPackageAdHocSelectionDto:
      properties:
        adhocOptionGuid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        selectedChildGuid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        selectedChildGuids:
          items:
            example: 00000000-0000-0000-0000-000000000000
            type: string
            format: uuid
          type: array
        category:
          type: string
        resolutionMode:
          type: string
        defaultChildOptionGuid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        defaultChildOptionGuids:
          items:
            example: 00000000-0000-0000-0000-000000000000
            type: string
            format: uuid
          type: array
        childOptionGuids:
          items:
            example: 00000000-0000-0000-0000-000000000000
            type: string
            format: uuid
          type: array
      xml:
        name: ReportPackageAdHocSelectionDto
      type: object
    OAS.DataProcess.Reporting.ReportPackages.ReportPackageAdHocSettingsRequestDto:
      properties:
        selectedReports:
          items:
            example: 00000000-0000-0000-0000-000000000000
            type: string
            format: uuid
          type: array
      xml:
        name: ReportPackageAdHocSettingsRequestDto
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportUserAccessRuleDto:
      properties:
        userId:
          type: integer
          format: int32
        name:
          type: string
        canRun:
          type: boolean
        canEdit:
          type: boolean
        canDelete:
          type: boolean
      xml:
        name: ReportUserAccessRuleDto
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportLoginAccessRuleDto:
      properties:
        loginEntityId:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        canRun:
          type: boolean
      xml:
        name: ReportLoginAccessRuleDto
      type: object
    OAS.DataProcess.Reporting.ReportPackages.ReportPackageRunRequest:
      properties:
        startDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        endDate:
          $ref: '#/components/schemas/OAT.Utilities.Date.IDate'
        additionalOptions:
          items:
            $ref: '#/components/schemas/OAS.DataModel.Reporting.ReportOptionCategory'
          xml:
            name: ReportOptionCategory
            wrapped: true
          type: array
        guid:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        runFor:
          items:
            type: string
            enum:
            - Undefined
            - Payee
            - BrokerDealer
            - Wholesaler
            - Representative
            - Client
            - Registration
            - Account
            - Asset
            - Product
            - Transaction
            - Distribution
            - FundFamily
            - Personal
            - PayoutSchedule
            - FeeSchedule
            - Platform
            - RIA
            - Custodian
            - Journal
            - SWP
            - Other
            - NASD
            - CashFunding
            - Bill
            - BillInstance
            - BillMasterPayout
            - Model
            - NewAccountClient
            - NewAccountReg
            - DownloadExclusion
            - Price
            - UserDefinedFields
            - NewAcctUserDef
            - ManagersMessage
            - IndexEntry
            - PerformanceFee
            - PerformancePayout
            - NewAccountAsset
            - Owner
            - Administrator
            - OutsideClient
            - SubAdvisor
            - ModelRange
            - FaxCover
            - Fax
            - OneTimeDistribution
            - WebLogin
            - Plan401k
            - BillAccountItem
            - ThirdPartyAdministrator
            - CrmContact
            - Participant
            - PlanSponsor
            - CRMEmailList
            - ThirdParty
            - WorkflowItem
            - WorkflowAction
            - ServiceAccount
            - EntityOption
            - HouseholdMember
            - DownloadSymbol
            - IndexBlend
            - NABenefit
            - AggregateModel
            - CompositeRange
            - RepAccountManager
            - ScriptsScrubs
            - ServiceAccountBrokerDealer
            - BusinessLine
            - Blob
            - AssetClass
            - ServiceAccountLite
            - NewAcctUserDefDtl
            - Branch
            - AssetLevelStrategy
            - Report
            - DataQueries
            - PriceUnUsed
            - ModelItem
            - AssetCategory
            - RiskCategory
            - PlatformRange
            - Dividend
            - RegistrationType
            - CustodianCommon
            - RepState
            - QpeDashboard
            - ReportBatch
            - ModelGroup
            - ShareClass
            - DownloadFile
            - User
            - DynamicGrouping
            - ProductType
            - ProductSubType
            - InvestmentObjective
            - PortfolioGroup
            - OrionRealizedLot
            - OrionUnrealizedLot
            - CustodianRealizedLot
            - CustodianUnrealizedLot
            - AssetCategoryParent
            - TaxType
            - AuditRequest
            - AuditRequestLetter
            - ManagedUnmanaged
            - AuditRowAttachment
            - InformPolicy
            - InformAnswerAttachment
            - UserDetail
            - BillPayMethod
            - ModelInclusion
            - CommunityModel
            - EclipseModel
            - Global
            - ClientCategory
            - Taxability
            - Qualified
            - TaxID
            - BondState
            - ProductTaxability
            - TargetAllocation
            - RIATable
            - ProductRegion
            - ProductPropertyType
            - ProductManagerAip
            - MoodyRating
            - SPRating
            - BondMaturityYear
            - InterestRate
            - RegistrationTaxType
            - MaturityPeriod
            - NewHousehold
            - BillPayoutDashboardPayment
            - OptionLevel
            - MarginAgreement
            - PrimeBrokerage
            - InformHistoricalDocument
            - SleeveStrategyAggregate
            - MorningstarSector
            - BillEntity
            - SleeveStrategy
            - MorningstarGeography
            - GenericProspect
            - BillEntityType
            - AdditionalRep
            - BillPayoutReport
            - ProductSubHolding
            - DownloadSource
            - ModelVsActual
            - ProductVintageYear
            - EclipsePortfolio
            - Country
            - Currency
            - SecurityClassification1
            - SecurityClassification2
            - SecurityClassification3
            - SecurityClassification4
            - SecurityClassification5
            - SecurityClassification6
            - SecurityClassification7
            - SecurityClassification8
            - SecurityClassification9
            - SecurityClassification10
            - SecurityClassification11
            - SecurityClassification12
            - SecurityClassification13
            - SecurityClassification14
            - SecurityClassification15
            - SecurityClassification16
            - SecurityClassification17
            - SecurityClassification18
            - SecurityClassification19
            - SecurityClassification20
            - SecurityClassification21
            - SecurityClassification22
            - SecurityClassification23
            - SecurityClassification24
            - SecurityClassification25
            - DownloadRecord
            - CustomGrouping
            - Cotenant
            - AllocatedUnrealizedCostBasis
            - AllocatedRealizedCostBasis
          xml:
            name: Entity
            wrapped: true
          type: array
        defaultRunFor:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        selectedReports:
          items:
            example: 00000000-0000-0000-0000-000000000000
            type: string
            format: uuid
          type: array
        selectedEntities:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageSelectedEntityDto'
          xml:
            name: ReportPackageSelectedEntityDto
            wrapped: true
          type: array
        layout:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageLayoutDto'
        formats:
          $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageFormatDto'
        selectedTheme:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        selectedCover:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        pageHeaderFooterName:
          type: string
        adHocSelections:
          items:
            $ref: '#/components/schemas/OAS.DataProcess.Reporting.ReportPackages.ReportPackageAdHocSelectionDto'
          xml:
            name: ReportPackageAdHocSelectionDto
            wrapped: true
          type: array
      xml:
        name: ReportPackageRunRequest
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportBrokerDealerAccessRuleDto:
      properties:
        brokerDealerId:
          type: integer
          format: int32
        name:
          type: string
        canRun:
          type: boolean
      xml:
        name: ReportBrokerDealerAccessRuleDto
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportRepresentativeAccessRuleDto:
      properties:
        representativeId:
          type: integer
          format: int32
        name:
          type: string
        canRun:
          type: boolean
      xml:
        name: ReportRepresentativeAccessRuleDto
      type: object
    OAS.DataProcess.Reporting.ReportPackages.ReportPackageSelectedEntityDto:
      properties:
        entity:
          type: string
          enum:
          - Database
          - BrokerDealer
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - AggregateModel
          - DynamicGrouping
          - PortfolioGroup
          - UserDetail
          - Prospect
          - CustomGrouping
        entityId:
          type: integer
          format: int32
      xml:
        name: ReportPackageSelectedEntityDto
      type: object
    OAS.WebApi.DTO.Reporting.Envision.ReportDatabaseGroupAccessRuleDto:
      properties:
        databaseGroupId:
          type: integer
          format: int32
        loginEntityId:
          type: string
          enum:
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - RIA
          - Administrator
          - SubAdvisor
          - ThirdPartyAdministrator
          - Custodian
          - PlanSponsor
          - ThirdParty
          - ServiceAccount
          - Participant
          - RepAccountManager
          - Payee
          - RIATable
          - Cotenant
        name:
          type: string
        canRun:
          type: boolean
        canEdit:
          type: boolean
      xml:
        name: ReportDatabaseGroupAccessRuleDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
