openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Status Types API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/StatusTypes
paths:
  /v1/Confirm/StatusTypes:
    get:
      tags:
      - Confirm/StatusTypes
      summary: Gets all of the status types
      operationId: StatusTypes_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.StatusTypeDto'
                xml:
                  name: StatusTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.StatusTypeDto'
                xml:
                  name: StatusTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.StatusTypeDto'
                xml:
                  name: StatusTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.StatusTypeDto'
                xml:
                  name: StatusTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.StatusTypeDto'
                xml:
                  name: StatusTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.StatusTypeDto'
                xml:
                  name: StatusTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Confirm.Recon.StatusTypeDto:
      properties:
        id:
          type: integer
          format: int32
        statusType:
          type: string
      xml:
        name: StatusTypeDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
