openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Wholesalers API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/Wholesalers
paths:
  /v1/Portfolio/Wholesalers:
    get:
      tags:
      - Portfolio/Wholesalers
      summary: Gets a list of wholesaler that the logged in user has access to
      operationId: Wholesalers_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerDto'
                xml:
                  name: WholesalerDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerDto'
                xml:
                  name: WholesalerDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerDto'
                xml:
                  name: WholesalerDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerDto'
                xml:
                  name: WholesalerDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerDto'
                xml:
                  name: WholesalerDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerDto'
                xml:
                  name: WholesalerDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Wholesalers/{key}:
    get:
      tags:
      - Portfolio/Wholesalers
      summary: Gets the wholesaler that has the provided key.
      operationId: Wholesalers_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerDto'
      security:
      - Authorization: []
  /v1/Portfolio/Wholesalers/{key}/Documents:
    get:
      tags:
      - Portfolio/Wholesalers
      operationId: Wholesalers_GetBlobs
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - CrmDocuments
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
                xml:
                  name: BlobBaseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Wholesalers get blobs
      x-summary-source: derived
    post:
      tags:
      - Portfolio/Wholesalers
      operationId: Wholesalers_CreateBlobAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerFileDto'
        required: true
      summary: Wholesalers create blob async
      x-summary-source: derived
  /v1/Portfolio/Wholesalers/{key}/Documents/{fileId}:
    get:
      tags:
      - Portfolio/Wholesalers
      summary: Gets a file for the wholesaler with the specified key and the file with the…
      operationId: Wholesalers_GetBlobDto
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        description: Key of the file to be returned.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/Wholesalers
      operationId: Wholesalers_UpdateBlobAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerFileDto'
        required: true
      summary: Wholesalers update blob async
      x-summary-source: derived
    delete:
      tags:
      - Portfolio/Wholesalers
      operationId: Wholesalers_DeleteBlob
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Wholesalers delete blob
      x-summary-source: derived
  /v1/Portfolio/Wholesalers/{key}/Documents/{fileId}/Download:
    get:
      tags:
      - Portfolio/Wholesalers
      summary: Gets the raw data of the specific file with the blobId provided which is…
      operationId: Wholesalers_GetBlobFile
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        description: Key of the file to be downloaded.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/Wholesalers/{key}/UserDefinedFields:
    get:
      tags:
      - Portfolio/Wholesalers
      operationId: Wholesalers_GetUserDefinedFields
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: entities
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - BrokerDealers
            - Wholesalers
            - Representatives
            - Clients
            - Registrations
            - Accounts
            - Assets
            - Transactions
            - Products
            - FundFamilies
            - ModelRanges
            - PortfolioGroups
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
                xml:
                  name: EntityOptionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Wholesalers get user defined fields
      x-summary-source: derived
  /v1/Portfolio/Wholesalers/Action/Delete:
    put:
      tags:
      - Portfolio/Wholesalers
      operationId: Wholesalers_Delete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Wholesalers delete
      x-summary-source: derived
  /v1/Portfolio/Wholesalers/Simple:
    get:
      tags:
      - Portfolio/Wholesalers
      summary: Gets a simple list of wholesaler that the logged in user has access to
      operationId: Wholesalers_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Wholesalers/Verbose:
    get:
      tags:
      - Portfolio/Wholesalers
      operationId: Wholesalers_GetVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Regions
            - Notes
            - Documents
            - UserDefinedFields
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Wholesalers get verbose
      x-summary-source: derived
    put:
      tags:
      - Portfolio/Wholesalers
      operationId: Wholesalers_UpdateVerboseWholesaler
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
              xml:
                name: WholesalerVerboseDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
              xml:
                name: WholesalerVerboseDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
              xml:
                name: WholesalerVerboseDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
              xml:
                name: WholesalerVerboseDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
              xml:
                name: WholesalerVerboseDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
              xml:
                name: WholesalerVerboseDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
              xml:
                name: WholesalerVerboseDto
                wrapped: true
              type: array
        required: true
      summary: Wholesalers update verbose wholesaler
      x-summary-source: derived
    post:
      tags:
      - Portfolio/Wholesalers
      summary: Create new wholesaler
      operationId: Wholesalers_CreateVerboseWholesaler
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
        required: true
  /v1/Portfolio/Wholesalers/Verbose/{key}:
    get:
      tags:
      - Portfolio/Wholesalers
      operationId: Wholesalers_GetVerboseByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Regions
            - Notes
            - Documents
            - UserDefinedFields
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
      security:
      - Authorization: []
      summary: Wholesalers get verbose by key
      x-summary-source: derived
    put:
      tags:
      - Portfolio/Wholesalers
      operationId: Wholesalers_PutV1PortfolioWholesalersVerboseByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
        required: true
      summary: Wholesalers put V1 portfolio wholesalers verbose by key
      x-summary-source: derived
  /v1/Portfolio/Wholesalers/Verbose/{key}/SSNTaxId:
    put:
      tags:
      - Portfolio/Wholesalers
      summary: Retrieve or update SSN for wholesaler
      description: If updateInfo.SSN is null => we will just retrieve SSN otherwise we will attempt to update SSN with data in updateInfo.SSN
      operationId: Wholesalers_UpdateWholesalerSSNTaxId
      parameters:
      - name: key
        in: path
        description: The personal id of the wholesaler
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
            multipart/form-data:
              schema:
                type: string
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.UpdateSsnDto'
        required: true
  /v1/Portfolio/Wholesalers/Verbose/List:
    post:
      tags:
      - Portfolio/Wholesalers
      operationId: Wholesalers_GetVerboseListById
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Regions
            - Notes
            - Documents
            - UserDefinedFields
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Wholesalers get verbose list by id
      x-summary-source: derived
  /v1/Portfolio/Wholesalers/Verbose/List/Id:
    post:
      tags:
      - Portfolio/Wholesalers
      operationId: Wholesalers_PostV1PortfolioWholesalersVerboseListId
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Regions
            - Notes
            - Documents
            - UserDefinedFields
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
                xml:
                  name: WholesalerVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Wholesalers post V1 portfolio wholesalers verbose list id
      x-summary-source: derived
  /v1/Portfolio/Wholesalers/Verbose/New:
    get:
      tags:
      - Portfolio/Wholesalers
      operationId: Wholesalers_GetNewVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Regions
            - Notes
            - Documents
            - UserDefinedFields
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto'
      security:
      - Authorization: []
      summary: Wholesalers get new verbose
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.WholesalerDto:
      properties:
        id:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        value:
          type: number
          format: double
        repCount:
          type: integer
          format: int32
        name:
          type: string
        isActive:
          type: boolean
      xml:
        name: WholesalerDto
      type: object
    OAS.WebApi.DTO.Portfolio.WholesalerFileDto:
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
        openWith:
          type: string
        blobDesc:
          type: string
        category:
          type: string
        blobType:
          type: string
          enum:
          - CrmDocuments
      xml:
        name: WholesalerFileDto
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
    OAS.WebApi.DTO.Portfolio.UpdateSsnDto:
      properties:
        ssn:
          type: string
        reason:
          type: string
      xml:
        name: UpdateSsnDto
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Portfolio.WholesalerStateDto:
      properties:
        id:
          type: integer
          format: int32
        stateId:
          type: integer
          format: int32
        stateName:
          type: string
      xml:
        name: WholesalerStateDto
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAS.WebApi.DTO.Portfolio.WholesalerVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        portfolio:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerPortfolioDto'
        notes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NoteDto'
          xml:
            name: NoteDto
            wrapped: true
          type: array
        documents:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DocumentDto'
          xml:
            name: DocumentDto
            wrapped: true
          type: array
        userDefinedFields:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Settings.EntityOptionDto'
          xml:
            name: EntityOptionDto
            wrapped: true
          type: array
      xml:
        name: WholesalerVerboseDto
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        userDefineDefinitionId:
          type: integer
          format: int32
        name:
          type: string
        category:
          type: string
        type:
          type: string
          enum:
          - MultiLineEditor
          - DropDownEditor
          - DropDownList
          - CheckBox
          - Currency
          - Date
          - DateTime
          - Integer
          - String
          - Double
          - Time
          - Long
          - CustomObject
          - Email
        maxLength:
          type: integer
          format: int32
        code:
          type: string
        sequence:
          type: integer
          format: int32
        options:
          type: object
        input:
          type: string
        securityCode:
          type: string
        canEdit:
          type: boolean
      xml:
        name: EntityOptionDto
      type: object
    OAS.WebApi.DTO.Portfolio.BlobBaseDto:
      properties:
        createdDate:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        openWith:
          type: string
        fileName:
          type: string
        blobDesc:
          type: string
        blobText:
          type: string
        category:
          type: string
        isZip:
          type: boolean
      xml:
        name: BlobBaseDto
      type: object
    OAS.WebApi.DTO.Portfolio.DocumentDto:
      properties:
        id:
          type: integer
          format: int32
        description:
          type: string
        category:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        systemGenerated:
          type: boolean
      xml:
        name: DocumentDto
      type: object
    OAS.WebApi.DTO.Portfolio.NoteDto:
      properties:
        id:
          type: integer
          format: int32
        text:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        category:
          type: string
        isWebVisible:
          type: boolean
        isSystemGenerated:
          type: boolean
      xml:
        name: NoteDto
      type: object
    OAS.WebApi.DTO.Portfolio.WholesalerPortfolioDto:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        name:
          type: string
        isActive:
          type: boolean
        company:
          type: string
        jobTitle:
          type: string
        ssN_TaxID:
          type: string
        dob:
          type: string
          format: date-time
        gender:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressLine3:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        salutation:
          type: string
        homePhone:
          type: string
        homePhoneExt:
          type: string
        mobilePhone:
          type: string
        businessPhone:
          type: string
        businessPhoneExt:
          type: string
        otherPhone:
          type: string
        otherPhoneExt:
          type: string
        fax:
          type: string
        faxExt:
          type: string
        pager:
          type: string
        pagerExt:
          type: string
        email:
          type: string
        webAddress:
          type: string
        wholesalerStates:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.WholesalerStateDto'
          xml:
            name: WholesalerStateDto
            wrapped: true
          type: array
      xml:
        name: WholesalerPortfolioDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
