openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Scheduler/Job Schedules API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Scheduler/JobSchedules
paths:
  /v1/Scheduler/JobSchedules:
    get:
      tags:
      - Scheduler/JobSchedules
      summary: Gets a list of job schedules that the logged in user has access to
      operationId: JobSchedules_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobScheduleDto'
                xml:
                  name: JobScheduleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobScheduleDto'
                xml:
                  name: JobScheduleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobScheduleDto'
                xml:
                  name: JobScheduleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobScheduleDto'
                xml:
                  name: JobScheduleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobScheduleDto'
                xml:
                  name: JobScheduleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobScheduleDto'
                xml:
                  name: JobScheduleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Scheduler/JobSchedules/{key}:
    get:
      tags:
      - Scheduler/JobSchedules
      summary: Gets the job schedules that has the provided key.
      operationId: JobSchedules_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobScheduleDto'
      security:
      - Authorization: []
  /v1/Scheduler/JobSchedules/{key}/LastResultMessage:
    get:
      tags:
      - Scheduler/JobSchedules
      summary: Gets the last result message for the job schedule that has the provided key.
      operationId: JobSchedules_GetLastResultMessageByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobResultDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobResultDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.JobResultDto'
      security:
      - Authorization: []
  /v1/Scheduler/JobSchedules/Action/Reschedule:
    put:
      tags:
      - Scheduler/JobSchedules
      operationId: JobSchedules_CreateBlocks
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Job schedules create blocks
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Scheduler.JobResultDto:
      properties:
        detailedMessage:
          type: string
        exceptionDetails:
          type: string
        exceptionMessage:
          type: string
        exceptionType:
          type: string
        logMessage:
          type: string
        shortMessage:
          type: string
        status:
          type: string
          enum:
          - Unknown
          - Scheduled
          - Processing
          - Success
          - Failed
          - Rescheduled
          - Hold
          - Resume
          - Delete
          - Fail
          - RunNow
        timeStamp:
          type: string
          format: date-time
      xml:
        name: JobResultDto
      type: object
    OAS.WebApi.DTO.Scheduler.JobScheduleDto:
      properties:
        id:
          type: integer
          format: int32
        isActive:
          type: boolean
        description:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        updatedBy:
          type: string
        updatedDate:
          type: string
          format: date-time
      xml:
        name: JobScheduleDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
