openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Query Studio/Related Columns API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: QueryStudio/RelatedColumns
paths:
  /v1/QueryStudio/RelatedColumns:
    get:
      tags:
      - QueryStudio/RelatedColumns
      operationId: RelatedColumn_GetRelatedColumnsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.QueryStudio.RelatedColumn'
                xml:
                  name: RelatedColumn
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.QueryStudio.RelatedColumn'
                xml:
                  name: RelatedColumn
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.QueryStudio.RelatedColumn'
                xml:
                  name: RelatedColumn
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.QueryStudio.RelatedColumn'
                xml:
                  name: RelatedColumn
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.QueryStudio.RelatedColumn'
                xml:
                  name: RelatedColumn
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.QueryStudio.RelatedColumn'
                xml:
                  name: RelatedColumn
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Related column get related columns async
      x-summary-source: derived
    post:
      tags:
      - QueryStudio/RelatedColumns
      operationId: RelatedColumn_CreateRelatedColumnAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.QueryStudio.RelatedColumn'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.QueryStudio.RelatedColumn'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.QueryStudio.RelatedColumn'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.QueryStudio.RelatedColumn'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.QueryStudio.RelatedColumn'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.QueryStudio.RelatedColumn'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.DataModel.QueryStudio.RelatedColumn'
        required: true
      summary: Related column create related column async
      x-summary-source: derived
  /v1/QueryStudio/RelatedColumns/{id}:
    delete:
      tags:
      - QueryStudio/RelatedColumns
      operationId: RelatedColumn_DeleteRelatedColumnAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Related column delete related column async
      x-summary-source: derived
  /v1/QueryStudio/RelatedColumns/Columns:
    get:
      tags:
      - QueryStudio/RelatedColumns
      operationId: RelatedColumn_GetColumnsForSourceNameAsync
      parameters:
      - name: sourceName
        in: query
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.QueryTags.TableColumn'
                xml:
                  name: TableColumn
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.QueryTags.TableColumn'
                xml:
                  name: TableColumn
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.QueryTags.TableColumn'
                xml:
                  name: TableColumn
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.QueryTags.TableColumn'
                xml:
                  name: TableColumn
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.QueryTags.TableColumn'
                xml:
                  name: TableColumn
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataProcess.QueryStudio.QueryTags.TableColumn'
                xml:
                  name: TableColumn
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Related column get columns for source name async
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.QueryStudio.RelatedColumn:
      properties:
        id:
          type: integer
          format: int32
        columnName:
          type: string
        sourceName:
          type: string
        relatedColumnName:
          type: string
        relatedSourceName:
          type: string
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: RelatedColumn
      type: object
    OAS.DataProcess.QueryStudio.QueryTags.TableColumn:
      properties:
        id:
          type: integer
          format: int32
        dataType:
          type: string
        isNullable:
          type: boolean
        columnName:
          type: string
        tableName:
          type: string
      xml:
        name: TableColumn
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
