openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Billing/Payables Summary API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Billing/PayablesSummary
paths:
  /v1/Billing/PayablesSummary:
    get:
      tags:
      - Billing/PayablesSummary
      summary: Get a summary list of payables.
      operationId: BillingPayables_GetPayablesSummary
      parameters:
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: periodStart
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: periodEnd
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayableSummaryDto'
                xml:
                  name: PayableSummaryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayableSummaryDto'
                xml:
                  name: PayableSummaryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayableSummaryDto'
                xml:
                  name: PayableSummaryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayableSummaryDto'
                xml:
                  name: PayableSummaryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayableSummaryDto'
                xml:
                  name: PayableSummaryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Billing.PayableSummaryDto'
                xml:
                  name: PayableSummaryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Billing.PayableSummaryDto:
      properties:
        accountId:
          type: integer
          format: int32
        clientName:
          type: string
        accountNumber:
          type: string
        payMethod:
          type: string
        totalMarketValue:
          type: number
          format: double
        totalInitialAmount:
          type: number
          format: double
        totalRecievedAdjustments:
          type: number
          format: double
        totalRecievedBalanceDue:
          type: number
          format: double
        daysInCycle:
          type: integer
          format: int32
        riaInitialAmount:
          type: number
          format: double
        riaAdjustments:
          type: number
          format: double
        repInitialAmount:
          type: number
          format: double
        repAdjustments:
          type: number
          format: double
        clsInitialAmount:
          type: number
          format: double
        clsAdjustments:
          type: number
          format: double
        bdInitialAmount:
          type: number
          format: double
        bdAdjustments:
          type: number
          format: double
        asiInitialAmount:
          type: number
          format: double
        asiAdjustments:
          type: number
          format: double
        rep2InitialAmount:
          type: number
          format: double
        rep2Adjustments:
          type: number
          format: double
        rep3InitialAmount:
          type: number
          format: double
        rep3Adjustments:
          type: number
          format: double
        subAdvisorInitialAmount:
          type: number
          format: double
        subAdvisorAdjustments:
          type: number
          format: double
        secondSubAdvisorInitialAmount:
          type: number
          format: double
        secondSubAdvisorAdjustments:
          type: number
          format: double
        thirdPartyInitialAmount:
          type: number
          format: double
        thirdPartyAdjustments:
          type: number
          format: double
        custodianInitialAmount:
          type: number
          format: double
        custodianAdjustments:
          type: number
          format: double
        managerInitialAmount:
          type: number
          format: double
        managerAdjustments:
          type: number
          format: double
        manager2InitialAmount:
          type: number
          format: double
        manager2Adjustments:
          type: number
          format: double
        wholesalerInitialAmount:
          type: number
          format: double
        wholesalerAdjustments:
          type: number
          format: double
        wholesaler2InitialAmount:
          type: number
          format: double
        wholesaler2Adjustments:
          type: number
          format: double
        osjInitialAmount:
          type: number
          format: double
        osjAdjustments:
          type: number
          format: double
        mgaInitialAmount:
          type: number
          format: double
        mgaAdjustments:
          type: number
          format: double
        representativeId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        outsideId:
          type: string
        representativeName:
          type: string
        registrationName:
          type: string
        masterPayoutSchedule:
          type: string
        representativeLastName:
          type: string
        managementStyle:
          type: string
        subAdvisorName:
          type: string
        registrationLastName:
          type: string
        representativeNumber:
          type: string
        feeSchedule:
          type: string
        planNameDue:
          type: string
        brokerDealer:
          type: string
        wholesalerName:
          type: string
        custodianName:
          type: string
        businessLine:
          type: string
      xml:
        name: PayableSummaryDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
