openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Property Types API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/PropertyTypes
paths:
  /v1/Portfolio/PropertyTypes:
    get:
      tags:
      - Portfolio/PropertyTypes
      summary: Get all PropertyTypes
      operationId: PropertyTypes_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
                xml:
                  name: PropertyTypeDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
                xml:
                  name: PropertyTypeDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
                xml:
                  name: PropertyTypeDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
                xml:
                  name: PropertyTypeDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
                xml:
                  name: PropertyTypeDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
                xml:
                  name: PropertyTypeDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/PropertyTypes
      summary: Adds a new PropertyType to the database
      operationId: PropertyTypes_CreateEntity
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
        required: true
  /v1/Portfolio/PropertyTypes/{key}:
    get:
      tags:
      - Portfolio/PropertyTypes
      summary: Gets the PropertyType that has the provided key.
      operationId: PropertyTypes_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/PropertyTypes
      summary: Updates the PropertyType that has the provided key.
      operationId: PropertyTypes_UpdateEntity
      parameters:
      - name: key
        in: path
        description: Key of the desired update object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PropertyTypeDto'
        description: PropertyType object to update
        required: true
    delete:
      tags:
      - Portfolio/PropertyTypes
      summary: Deletes the specified PropertyType from the database
      operationId: PropertyTypes_DeleteEntity
      parameters:
      - name: key
        in: path
        description: Key of the PropertyType.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/PropertyTypes/Simple:
    get:
      tags:
      - Portfolio/PropertyTypes
      summary: Get all PropertyTypes
      operationId: PropertyTypes_GetAllSimpleItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/PropertyTypes/Weighted:
    get:
      tags:
      - Portfolio/PropertyTypes
      summary: Gets a list of weighted asset property types that the logged in user has access…
      operationId: PropertyTypeWeighteds_GetAllItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
                xml:
                  name: ProductPropertyTypeWeightedDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
                xml:
                  name: ProductPropertyTypeWeightedDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
                xml:
                  name: ProductPropertyTypeWeightedDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
                xml:
                  name: ProductPropertyTypeWeightedDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
                xml:
                  name: ProductPropertyTypeWeightedDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
                xml:
                  name: ProductPropertyTypeWeightedDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/PropertyTypes
      summary: Mass update product property types
      operationId: PropertyTypeWeighteds_UpdateProductPropertyTypeWeights
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
                xml:
                  name: ProductPropertyTypeWeightedDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
                xml:
                  name: ProductPropertyTypeWeightedDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
                xml:
                  name: ProductPropertyTypeWeightedDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
                xml:
                  name: ProductPropertyTypeWeightedDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
                xml:
                  name: ProductPropertyTypeWeightedDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
                xml:
                  name: ProductPropertyTypeWeightedDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
              xml:
                name: ProductPropertyTypeWeightedDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
              xml:
                name: ProductPropertyTypeWeightedDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
              xml:
                name: ProductPropertyTypeWeightedDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
              xml:
                name: ProductPropertyTypeWeightedDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
              xml:
                name: ProductPropertyTypeWeightedDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
              xml:
                name: ProductPropertyTypeWeightedDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
              xml:
                name: ProductPropertyTypeWeightedDto
                wrapped: true
              type: array
        required: true
    post:
      tags:
      - Portfolio/PropertyTypes
      summary: Create weighted product property types
      operationId: PropertyTypeWeighteds_CreateProductPropertyTypeWeighted
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
        required: true
  /v1/Portfolio/PropertyTypes/Weighted/{key}:
    get:
      tags:
      - Portfolio/PropertyTypes
      summary: Gets a list of weighted asset property types that the logged in user has access…
      operationId: PropertyTypeWeighteds_GetByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/PropertyTypes
      summary: Update weighted product property types
      operationId: PropertyTypeWeighteds_UpdateProductPropertyTypeWeight
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
        required: true
    delete:
      tags:
      - Portfolio/PropertyTypes
      summary: Delete product property type
      operationId: PropertyTypeWeighteds_DeleteItem
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/PropertyTypes/Weighted/Products/{productId}:
    get:
      tags:
      - Portfolio/PropertyTypes
      summary: Get all weighted asset property types by product
      operationId: PropertyTypeWeighteds_GetProductPropertyTypesWeighted
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
      security:
      - Authorization: []
  /v1/Portfolio/PropertyTypes/Weighted/Products/{productId}/Representative/{representativeId}:
    get:
      tags:
      - Portfolio/PropertyTypes
      summary: Get all weighted asset property types by product and representative
      operationId: PropertyTypeWeighteds_GetProductPropertyTypeWeight
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: representativeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto'
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDetailDto:
      properties:
        productPropertyTypeWeightedId:
          type: integer
          format: int32
        propertyTypeId:
          type: integer
          format: int32
        propertyTypeName:
          type: string
        weight:
          type: number
          format: double
      xml:
        name: ProductPropertyTypeWeightedDetailDto
      type: object
    OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDto:
      properties:
        id:
          type: integer
          format: int32
        representativeId:
          type: integer
          format: int32
        representativeName:
          type: string
        productId:
          type: integer
          format: int32
        details:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.ProductPropertyTypeWeightedDetailDto'
          xml:
            name: ProductPropertyTypeWeightedDetailDto
            wrapped: true
          type: array
      xml:
        name: ProductPropertyTypeWeightedDto
      type: object
    OAS.WebApi.DTO.Portfolio.PropertyTypeDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        auditedDate:
          type: string
          format: date-time
        auditedByDisplay:
          type: string
      xml:
        name: PropertyTypeDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
