openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Models API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/Models
paths:
  /v1/Trading/Models:
    get:
      tags:
      - Trading/Models
      summary: Gets a list of models that the logged in user has access to.
      operationId: Models_Get
      parameters:
      - name: isUsed
        in: query
        description: Optional. Determins if only models that are being used, or are not being used will be returned.
        required: false
        schema:
          type: boolean
      - name: excludeSelfDirected
        in: query
        description: 'Optional. Default: false. When true, self-directed models are not returned.'
        required: false
        schema:
          type: boolean
          default: false
      - name: canMaintainOnly
        in: query
        description: 'Optional.  Default: false.  When true, only models the current user can edit are returned.'
        required: false
        schema:
          type: boolean
          default: false
      - name: representativeId
        in: query
        description: 'Optional.  Default: null.  When there is value, only  the models with a matching representativeId will be returned.'
        required: false
        schema:
          type: integer
          format: int32
      - name: includeAccounts
        in: query
        description: 'Optional. Default: False. Only matters when returnStyle is Full.'
        required: false
        schema:
          type: boolean
          default: false
      - name: includeCommunityModels
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: returnStyle
        in: query
        description: 'Optional. Default: Standard.'
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Full
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Trading/Models
      operationId: Models_CreateEntityAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
        required: true
      summary: Models create entity async
      x-summary-source: derived
  /v1/Trading/Models/{key}:
    get:
      tags:
      - Trading/Models
      summary: Gets the model that has the provided key.
      operationId: Models_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: includeAccounts
        in: query
        description: 'Optional. Default: False. Only matters when returnStyle is Full.'
        required: false
        schema:
          type: boolean
          default: false
      - name: returnStyle
        in: query
        description: 'Optional. Default: Full.'
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Full
          default: 1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
      security:
      - Authorization: []
    put:
      tags:
      - Trading/Models
      operationId: Models_UpdateEntityAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
        required: true
      summary: Models update entity async
      x-summary-source: derived
    delete:
      tags:
      - Trading/Models
      operationId: Models_DeleteAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Models delete async
      x-summary-source: derived
  /v1/Trading/Models/{key}/Action/RefreshDynamic:
    put:
      tags:
      - Trading/Models
      summary: Models refresh dynamic model
      operationId: Models_RefreshDynamicModel
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Trading/Models/{key}/ModelRanges:
    get:
      tags:
      - Trading/Models
      operationId: Models_GetModelRangesForModelId
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRangeFullDto'
                xml:
                  name: ModelRangeFullDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRangeFullDto'
                xml:
                  name: ModelRangeFullDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRangeFullDto'
                xml:
                  name: ModelRangeFullDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRangeFullDto'
                xml:
                  name: ModelRangeFullDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRangeFullDto'
                xml:
                  name: ModelRangeFullDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRangeFullDto'
                xml:
                  name: ModelRangeFullDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Models get model ranges for model id
      x-summary-source: derived
  /v1/Trading/Models/Action/DeleteModels:
    put:
      tags:
      - Trading/Models
      operationId: Models_DeleteModelsAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Models delete models async
      x-summary-source: derived
  /v1/Trading/Models/Action/ModelDeleteValidation:
    post:
      tags:
      - Trading/Models
      operationId: Models_DeleteModelValidation
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelsController.ValidatedModelDto'
                xml:
                  name: ValidatedModelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelsController.ValidatedModelDto'
                xml:
                  name: ValidatedModelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelsController.ValidatedModelDto'
                xml:
                  name: ValidatedModelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelsController.ValidatedModelDto'
                xml:
                  name: ValidatedModelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelsController.ValidatedModelDto'
                xml:
                  name: ValidatedModelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelsController.ValidatedModelDto'
                xml:
                  name: ValidatedModelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelsController.ModelsToValidateDto'
              xml:
                name: ModelsToValidateDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelsController.ModelsToValidateDto'
              xml:
                name: ModelsToValidateDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelsController.ModelsToValidateDto'
              xml:
                name: ModelsToValidateDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelsController.ModelsToValidateDto'
              xml:
                name: ModelsToValidateDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelsController.ModelsToValidateDto'
              xml:
                name: ModelsToValidateDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelsController.ModelsToValidateDto'
              xml:
                name: ModelsToValidateDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.Domains.Trading.ModelsController.ModelsToValidateDto'
              xml:
                name: ModelsToValidateDto
                wrapped: true
              type: array
        required: true
      summary: Models delete model validation
      x-summary-source: derived
  /v1/Trading/Models/Element:
    get:
      tags:
      - Trading/Models
      summary: Gets a list of models such that they can be displayed in Element that the…
      operationId: Models_GetForElementAsync
      parameters:
      - name: representativeId
        in: query
        description: 'Optional.  Default: null.  When there is value, only  the models with a matching representativeId will be returned.'
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDetailsDto'
                xml:
                  name: ModelDetailsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDetailsDto'
                xml:
                  name: ModelDetailsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDetailsDto'
                xml:
                  name: ModelDetailsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDetailsDto'
                xml:
                  name: ModelDetailsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDetailsDto'
                xml:
                  name: ModelDetailsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDetailsDto'
                xml:
                  name: ModelDetailsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Models/Element/ModelNameInUseValidation:
    get:
      tags:
      - Trading/Models
      summary: Endpoint for element to validate a name
      description: ELEMENT
      operationId: Models_ModelNameInUseValidationAsync
      parameters:
      - name: name
        in: query
        description: name to check
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
  /v1/Trading/Models/GroupNumbers:
    get:
      tags:
      - Trading/Models
      summary: Gets a simple list of model group numbers that the logged in user has access to.
      operationId: Models_GetGroupNum
      parameters:
      - name: isUsed
        in: query
        description: Optional. Determins if only models that are being used, or are not being used will be returned.
        required: false
        schema:
          type: boolean
      - name: excludeSelfDirected
        in: query
        description: 'Optional. Default: false. When true, self-directed models are not returned.'
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Models/List:
    post:
      tags:
      - Trading/Models
      summary: Gets the models provided in the list of keys.
      operationId: Models_GetListById
      parameters:
      - name: includeAccounts
        in: query
        description: 'Optional. Default: False. Only matters when returnStyle is Full.'
        required: false
        schema:
          type: boolean
          default: false
      - name: returnStyle
        in: query
        description: 'Optional. Default: Full.'
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Full
          default: 1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Trading/Models/List/ByModelAgg:
    post:
      tags:
      - Trading/Models
      operationId: Models_GetListByModelAggIds
      parameters:
      - name: includeAccounts
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: returnStyle
        in: query
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Full
          default: 1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Models get list by model agg ids
      x-summary-source: derived
  /v1/Trading/Models/List/ByModelAgg/Allocations:
    post:
      tags:
      - Trading/Models
      operationId: Models_GetAllocationListByModelAggId
      parameters:
      - name: includeAccounts
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: integer
              format: int32
          application/json:
            schema:
              type: integer
              format: int32
          text/json:
            schema:
              type: integer
              format: int32
          application/xml:
            schema:
              type: integer
              format: int32
          text/xml:
            schema:
              type: integer
              format: int32
          application/x-www-form-urlencoded:
            schema:
              type: integer
              format: int32
          multipart/form-data:
            schema:
              type: integer
              format: int32
        required: true
      summary: Models get allocation list by model agg id
      x-summary-source: derived
  /v1/Trading/Models/List/Entity:
    get:
      tags:
      - Trading/Models
      operationId: Models_GetFullModelsByEntity
      parameters:
      - name: repId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: subAdvisorId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelFullDto'
                xml:
                  name: ModelFullDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Models get full models by entity
      x-summary-source: derived
  /v1/Trading/Models/List/Id:
    post:
      tags:
      - Trading/Models
      summary: Gets the models provided in the list of keys.
      operationId: Models_PostV1TradingModelsListId
      parameters:
      - name: includeAccounts
        in: query
        description: 'Optional. Default: False. Only matters when returnStyle is Full.'
        required: false
        schema:
          type: boolean
          default: false
      - name: returnStyle
        in: query
        description: 'Optional. Default: Full.'
        required: false
        schema:
          type: string
          enum:
          - Standard
          - Full
          default: 1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelDto'
                xml:
                  name: ModelDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Trading/Models/ModelTypes:
    get:
      tags:
      - Trading/Models
      summary: Gets a simple list of model types that the logged in user has access to.
      operationId: Models_GetModelModelTypes
      parameters:
      - name: isUsed
        in: query
        description: Optional. Determins if only models that are being used, or are not being used will be returned.
        required: false
        schema:
          type: boolean
      - name: excludeSelfDirected
        in: query
        description: 'Optional. Default: false. When true, self-directed models are not returned.'
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Models/Restrictions:
    get:
      tags:
      - Trading/Models
      summary: Gets a list of model restrictions that the logged in user has access to
      operationId: ModelRestrictions_GetAsync
      parameters:
      - name: modelId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: subAdvisorDefaultId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
                xml:
                  name: ModelRestrictionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
                xml:
                  name: ModelRestrictionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
                xml:
                  name: ModelRestrictionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
                xml:
                  name: ModelRestrictionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
                xml:
                  name: ModelRestrictionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
                xml:
                  name: ModelRestrictionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Trading/Models
      summary: Used to create a new model restriction.
      operationId: ModelRestrictions_CreateAsync
      parameters:
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
        required: true
  /v1/Trading/Models/Restrictions/{key}:
    get:
      tags:
      - Trading/Models
      summary: Gets the model restriction that has the provided key.
      operationId: ModelRestrictions_GetByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
      security:
      - Authorization: []
    put:
      tags:
      - Trading/Models
      summary: Used to update an existing model restriction.
      operationId: ModelRestrictions_Update
      parameters:
      - name: key
        in: path
        description: Model restriction Id of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRestrictionDto'
        required: true
    delete:
      tags:
      - Trading/Models
      summary: Used to delete an existing model restriction.
      operationId: ModelRestrictions_Delete
      parameters:
      - name: key
        in: path
        description: Model Restriction Id to be deleted
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Trading/Models/Search:
    get:
      tags:
      - Trading/Models
      summary: Models search
      operationId: Models_Search
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Trading/Models/Search/{search}:
    get:
      tags:
      - Trading/Models
      summary: Models get V1 trading models search by search
      operationId: Models_GetV1TradingModelsSearchBySearch
      parameters:
      - name: search
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      x-summary-source: derived
  /v1/Trading/Models/Simple:
    get:
      tags:
      - Trading/Models
      summary: Gets a simple list of models that the logged in user has access to
      operationId: Models_GetSimple
      parameters:
      - name: isUsed
        in: query
        description: Optional. Determins if only models that are being used, or are not being used will be returned.
        required: false
        schema:
          type: boolean
      - name: excludeSelfDirected
        in: query
        description: 'Optional. Default: false. When true, self-directed models are not returned.'
        required: false
        schema:
          type: boolean
          default: false
      - name: platformId
        in: query
        description: Optional. When set, only models assigned to this management style are returned.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Models/Simple/List:
    post:
      tags:
      - Trading/Models
      operationId: Models_GetSimpleListById
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Models get simple list by id
      x-summary-source: derived
  /v1/Trading/Models/Simple/List/Id:
    post:
      tags:
      - Trading/Models
      operationId: Models_PostV1TradingModelsSimpleListId
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Models post V1 trading models simple list id
      x-summary-source: derived
  /v1/Trading/Models/Simple/List/Name:
    post:
      tags:
      - Trading/Models
      operationId: Models_GetSimpleListByName
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.Trading.SimpleModel'
                xml:
                  name: SimpleModel
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          application/xml:
            schema:
              items:
                type: string
              type: array
          text/xml:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          multipart/form-data:
            schema:
              items:
                type: string
              type: array
        required: true
      summary: Models get simple list by name
      x-summary-source: derived
  /v1/Trading/Models/Sma/AccountType/Restrictions:
    get:
      tags:
      - Trading/Models
      summary: Gets a list of account type restrictions for sma models
      operationId: SmaModelAccountTypeRestrictions_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
                xml:
                  name: SmaModelAccountTypeRestrictionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
                xml:
                  name: SmaModelAccountTypeRestrictionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
                xml:
                  name: SmaModelAccountTypeRestrictionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
                xml:
                  name: SmaModelAccountTypeRestrictionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
                xml:
                  name: SmaModelAccountTypeRestrictionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
                xml:
                  name: SmaModelAccountTypeRestrictionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Models/Sma/AccountType/Restrictions/{categoryName}:
    get:
      tags:
      - Trading/Models
      summary: Gets a list of account type restrictions for sma models
      operationId: SmaModelAccountTypeRestrictions_GetByCategory
      parameters:
      - name: categoryName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
                xml:
                  name: SmaModelAccountTypeRestrictionDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
                xml:
                  name: SmaModelAccountTypeRestrictionDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
                xml:
                  name: SmaModelAccountTypeRestrictionDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
                xml:
                  name: SmaModelAccountTypeRestrictionDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
                xml:
                  name: SmaModelAccountTypeRestrictionDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
                xml:
                  name: SmaModelAccountTypeRestrictionDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Models/Sma/AccountType/Restrictions/{key}:
    get:
      tags:
      - Trading/Models
      summary: Gets the sma model account type restriction that has the provided key.
      operationId: SmaModelAccountTypeRestrictions_GetByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto'
      security:
      - Authorization: []
  /v1/Trading/Models/Types:
    get:
      tags:
      - Trading/Models
      operationId: Models_GetModelTypes
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                type: array
      security:
      - Authorization: []
      summary: Models get model types
      x-summary-source: derived
  /v1/Trading/Models/Value:
    get:
      tags:
      - Trading/Models
      summary: Gets a list of models (including aum for today and a count of accounts with…
      operationId: Models_GetValue
      parameters:
      - name: isUsed
        in: query
        description: Optional. Determins if only models that are being used, or are not being used will be returned.
        required: false
        schema:
          type: boolean
      - name: resetCache
        in: query
        description: 'Optional. Default: false. The result is cached for fifteen minuetes. To force the cache to refresh call with resetCache = true.'
        required: false
        schema:
          type: boolean
          default: false
      - name: excludeSelfDirected
        in: query
        description: 'Optional. Default: false. When true, self-directed models are not returned.'
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelValueDto'
                xml:
                  name: ModelValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelValueDto'
                xml:
                  name: ModelValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelValueDto'
                xml:
                  name: ModelValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelValueDto'
                xml:
                  name: ModelValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelValueDto'
                xml:
                  name: ModelValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelValueDto'
                xml:
                  name: ModelValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/Models/Value/{asOfDate}:
    get:
      tags:
      - Trading/Models
      summary: Gets a list of models (including aum for the end of the date specified and a…
      operationId: Models_GetValueAsOfDate
      parameters:
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      - name: isUsed
        in: query
        description: Optional. Determins if only models that are being used, or are not being used will be returned.
        required: false
        schema:
          type: boolean
      - name: resetCache
        in: query
        description: 'Optional. Default: false. The result is cached for fifteen minuetes. To force the cache to refresh call with resetCache = true.'
        required: false
        schema:
          type: boolean
          default: false
      - name: excludeSelfDirected
        in: query
        description: 'Optional. Default: false. When true, self-directed models are not returned.'
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelValueDto'
                xml:
                  name: ModelValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelValueDto'
                xml:
                  name: ModelValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelValueDto'
                xml:
                  name: ModelValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelValueDto'
                xml:
                  name: ModelValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelValueDto'
                xml:
                  name: ModelValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelValueDto'
                xml:
                  name: ModelValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Trading.SmaModelAccountTypeRestrictionDto:
      properties:
        id:
          type: integer
          format: int32
        category:
          type: string
        name:
          type: string
        value:
          type: string
      xml:
        name: SmaModelAccountTypeRestrictionDto
      type: object
    OAS.WebApi.DTO.Trading.ModelAccountFullDto:
      properties:
        accountId:
          type: integer
          format: int32
        accountName:
          type: string
        accountNumber:
          type: string
        canDelete:
          type: boolean
        lastRebalanced:
          type: string
          format: date-time
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        value:
          type: number
          format: double
        modelId:
          type: integer
          format: int32
      xml:
        name: ModelAccountFullDto
      type: object
    OAS.WebApi.DTO.Trading.ModelRestrictionDto:
      properties:
        id:
          type: integer
          format: int32
        entityId:
          type: integer
          format: int32
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityType:
          type: integer
          format: int32
        modelId:
          type: integer
          format: int32
        subAdvisorDefaultId:
          type: integer
          format: int32
        entityName:
          type: string
      xml:
        name: ModelRestrictionDto
      type: object
    OAS.WebApi.DTO.Trading.ModelItemFullDto:
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        productName:
          type: string
        productClass:
          type: string
        ticker:
          type: string
        targetPercent:
          type: number
          format: double
        itemTol:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        editedDate:
          type: string
          format: date-time
        editedBy:
          type: string
        itemTolUpper:
          type: number
          format: double
        itemTolLower:
          type: number
          format: double
        oub:
          type: number
          format: double
        modelAggId:
          type: integer
          format: int32
        productRiskScore:
          type: integer
          format: int32
      xml:
        name: ModelItemFullDto
      type: object
    OAS.WebApi.DTO.Trading.ModelDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        lastRebalanced:
          type: string
          format: date-time
        fundName:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        groupNum:
          type: string
        subAdvisor:
          type: string
        modelNum:
          type: integer
          format: int32
        percEquity:
          type: integer
          format: int32
        modelType:
          type: string
        fundList:
          type: string
        modelTol:
          type: integer
          format: int32
        cashPerc:
          type: integer
          format: int32
        cashTol:
          type: integer
          format: int32
        isActive:
          type: boolean
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        class:
          type: string
        modelCode:
          type: string
        managementStyle:
          type: string
        notes:
          type: string
        isDynamic:
          type: boolean
        custodian:
          type: string
        subAdvisorId:
          type: integer
          format: int32
        communityModelId:
          type: integer
          format: int64
        useRestrictions:
          type: boolean
        isSMA:
          type: boolean
        assetClassId:
          type: integer
          format: int32
        riskCategoryId:
          type: integer
          format: int32
      xml:
        name: ModelDto
      type: object
    OAS.WebApi.DTO.Trading.ModelDetailsDto:
      properties:
        modelId:
          type: integer
          format: int32
        communityModelId:
          type: integer
          format: int64
        ytdPerformance:
          type: number
          format: double
        riskScore:
          type: number
          format: double
        indexBlendId:
          type: integer
          format: int32
        modelAccounts:
          type: integer
          format: int32
        prevDayPerformance:
          type: number
          format: double
        modelName:
          type: string
        strategist:
          type: string
        strategistId:
          type: integer
          format: int32
        advisorFee:
          type: number
          format: double
        aum:
          type: number
          format: double
        aggregateModelId:
          type: integer
          format: int32
        riskCategory:
          type: string
        assetClass:
          type: string
      xml:
        name: ModelDetailsDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Trading.ModelValueDto:
      properties:
        accountCount:
          type: integer
          format: int32
        value:
          type: number
          format: double
        id:
          type: integer
          format: int32
        name:
          type: string
        lastRebalanced:
          type: string
          format: date-time
        fundName:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        groupNum:
          type: string
        subAdvisor:
          type: string
        modelNum:
          type: integer
          format: int32
        percEquity:
          type: integer
          format: int32
        modelType:
          type: string
        fundList:
          type: string
        modelTol:
          type: integer
          format: int32
        cashPerc:
          type: integer
          format: int32
        cashTol:
          type: integer
          format: int32
        isActive:
          type: boolean
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        class:
          type: string
        modelCode:
          type: string
        managementStyle:
          type: string
        notes:
          type: string
        isDynamic:
          type: boolean
        custodian:
          type: string
        subAdvisorId:
          type: integer
          format: int32
        communityModelId:
          type: integer
          format: int64
        useRestrictions:
          type: boolean
        isSMA:
          type: boolean
        assetClassId:
          type: integer
          format: int32
        riskCategoryId:
          type: integer
          format: int32
      xml:
        name: ModelValueDto
      type: object
    OAS.DataModel.Trading.SimpleModel:
      properties:
        isActive:
          type: boolean
        isSMA:
          type: boolean
        assetClassId:
          type: integer
          format: int32
        riskCategoryId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleModel
      type: object
    OAS.WebApi.DTO.Trading.ModelFullDto:
      properties:
        fundFamilyId:
          type: integer
          format: int32
        shareClassId:
          type: integer
          format: int32
        platformId:
          type: integer
          format: int32
        isListTraded:
          type: boolean
        modNotes:
          type: string
        representativeId:
          type: integer
          format: int32
        sequence:
          type: integer
          format: int32
        changeReason:
          type: string
        modelLevels:
          type: integer
          format: int32
        dynamicEffectiveDate:
          type: string
          format: date-time
        custodianId:
          type: integer
          format: int32
        items:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelItemFullDto'
          xml:
            name: ModelItemFullDto
            wrapped: true
          type: array
        accounts:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelAccountFullDto'
          xml:
            name: ModelAccountFullDto
            wrapped: true
          type: array
        ranges:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.ModelRangeFullDto'
          xml:
            name: ModelRangeFullDto
            wrapped: true
          type: array
        riskRangeId:
          type: integer
          format: int32
        defaultModelAggId:
          type: integer
          format: int32
        eclipseFirmId:
          type: integer
          format: int32
        EclipseFirmIds:
          description: A pipe-delimited list of Eclipse Firm IDs that are associated with this model.
          type: string
        communityModel:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Integrations.Communities.CommunityModelDto'
        eclipseModelId:
          description: The Eclipse model ID for non-community models.
          type: integer
          format: int32
        riskScore:
          type: number
          format: double
        id:
          type: integer
          format: int32
        name:
          type: string
        lastRebalanced:
          type: string
          format: date-time
        fundName:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        groupNum:
          type: string
        subAdvisor:
          type: string
        modelNum:
          type: integer
          format: int32
        percEquity:
          type: integer
          format: int32
        modelType:
          type: string
        fundList:
          type: string
        modelTol:
          type: integer
          format: int32
        cashPerc:
          type: integer
          format: int32
        cashTol:
          type: integer
          format: int32
        isActive:
          type: boolean
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        class:
          type: string
        modelCode:
          type: string
        managementStyle:
          type: string
        notes:
          type: string
        isDynamic:
          type: boolean
        custodian:
          type: string
        subAdvisorId:
          type: integer
          format: int32
        communityModelId:
          type: integer
          format: int64
        useRestrictions:
          type: boolean
        isSMA:
          type: boolean
        assetClassId:
          type: integer
          format: int32
        riskCategoryId:
          type: integer
          format: int32
      xml:
        name: ModelFullDto
      type: object
    OAS.WebApi.Domains.Trading.ModelsController.ModelsToValidateDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: ModelsToValidateDto
      type: object
    OAS.WebApi.DTO.Settings.EntityOptionDto:
      properties:
        userDefineDataId:
          type: integer
          format: int32
        value:
          type: string
        childParameter:
          type: string
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
[...]
