openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Confirm/Duplicate Account Mapping API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Confirm/DuplicateAccountMapping
paths:
  /v1/Confirm/DuplicateAccountMapping:
    get:
      tags:
      - Confirm/DuplicateAccountMapping
      summary: Gets All Duplicate Account Mappings in the advisors database
      operationId: ConfirmationDuplicateAccountMapping_GetDuplicateAccountMappings
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
                xml:
                  name: DuplicateAccountMappingDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
                xml:
                  name: DuplicateAccountMappingDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
                xml:
                  name: DuplicateAccountMappingDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
                xml:
                  name: DuplicateAccountMappingDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
                xml:
                  name: DuplicateAccountMappingDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
                xml:
                  name: DuplicateAccountMappingDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Confirm/DuplicateAccountMapping
      summary: Upsert Duplicate Account Mappings
      operationId: ConfirmationDuplicateAccountMapping_SaveDuplicateAccountMappings
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingUpsertRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingUpsertRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingUpsertRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingUpsertRequestDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingUpsertRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingUpsertRequestDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingUpsertRequestDto'
        description: A dto containing the original mapping and the new mapping.
        required: true
  /v1/Confirm/DuplicateAccountMapping/Delete:
    post:
      tags:
      - Confirm/DuplicateAccountMapping
      operationId: ConfirmationDuplicateAccountMapping_DeleteDuplicateAccountMappings
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
            multipart/form-data:
              schema:
                type: boolean
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
              xml:
                name: DuplicateAccountMappingDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
              xml:
                name: DuplicateAccountMappingDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
              xml:
                name: DuplicateAccountMappingDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
              xml:
                name: DuplicateAccountMappingDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
              xml:
                name: DuplicateAccountMappingDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
              xml:
                name: DuplicateAccountMappingDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
              xml:
                name: DuplicateAccountMappingDto
                wrapped: true
              type: array
        required: true
      summary: Confirmation duplicate account mapping delete duplicate account mappings
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingUpsertRequestDto:
      properties:
        originalCopy:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
        changedMapping:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto'
      xml:
        name: DuplicateAccountMappingUpsertRequestDto
      type: object
    OAS.WebApi.DTO.Confirm.Recon.DuplicateAccountMappingDto:
      properties:
        downloadSourceId:
          type: integer
          format: int32
        accountCode:
          type: string
        accountId:
          type: integer
          format: int32
        auditedBy:
          type: string
        auditedDate:
          type: string
          format: date-time
      xml:
        name: DuplicateAccountMappingDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
