openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Utility/Batch Processing API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Utility/BatchProcessing
paths:
  /v1/Utility/BatchProcessing:
    get:
      tags:
      - Utility/BatchProcessing
      operationId: BatchProcessing_GetAllBatchProcessing
      parameters:
      - name: includeErrors
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: processingType
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - New
            - Processing
            - Failed
            - PartiallyComplete
            - Complete
            - Canceled
      - name: alClientID
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Batch processing get all batch processing
      x-summary-source: derived
  /v1/Utility/BatchProcessing/{batchId}:
    get:
      tags:
      - Utility/BatchProcessing
      summary: Gets the status of batch processing for the batchId provided
      operationId: BatchProcessing_BatchProcessingStatus
      parameters:
      - name: batchId
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: includeErrors
        in: query
        description: Default is True.  When true, the Errors collection will be populated with Errors, Warnings, and Informational Messages
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
      security:
      - Authorization: []
  /v1/Utility/BatchProcessing/{batchId}/Errors:
    get:
      tags:
      - Utility/BatchProcessing
      summary: Gets all errors for a specific batchId
      operationId: BatchProcessing_GetBatchProcessingErrors
      parameters:
      - name: batchId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingErrorDto'
                xml:
                  name: BatchProcessingErrorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingErrorDto'
                xml:
                  name: BatchProcessingErrorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingErrorDto'
                xml:
                  name: BatchProcessingErrorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingErrorDto'
                xml:
                  name: BatchProcessingErrorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingErrorDto'
                xml:
                  name: BatchProcessingErrorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingErrorDto'
                xml:
                  name: BatchProcessingErrorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Utility/BatchProcessing/Counts:
    get:
      tags:
      - Utility/BatchProcessing
      operationId: BatchProcessing_GetAllBatchProcessingCounts
      parameters:
      - name: includeErrors
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: processingType
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - New
            - Processing
            - Failed
            - PartiallyComplete
            - Complete
            - Canceled
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GridCountDto'
                xml:
                  name: GridCountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GridCountDto'
                xml:
                  name: GridCountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GridCountDto'
                xml:
                  name: GridCountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GridCountDto'
                xml:
                  name: GridCountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GridCountDto'
                xml:
                  name: GridCountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.GridCountDto'
                xml:
                  name: GridCountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Batch processing get all batch processing counts
      x-summary-source: derived
  /v1/Utility/BatchProcessing/GetLast:
    get:
      tags:
      - Utility/BatchProcessing
      summary: Gets the status of batch processing for the batchId provided
      operationId: BatchProcessing_GetLastBatchProcessing
      parameters:
      - name: processingType
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        required: true
        schema:
          type: string
          enum:
          - New
          - Processing
          - Failed
          - PartiallyComplete
          - Complete
          - Canceled
      - name: includeErrors
        in: query
        description: Default is True.  When true, the Errors collection will be populated with Errors, Warnings, and Informational Messages
        required: false
        schema:
          type: boolean
          default: false
      - name: currentDatabaseOnly
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
      security:
      - Authorization: []
  /v1/Utility/BatchProcessing/List:
    post:
      tags:
      - Utility/BatchProcessing
      operationId: BatchProcessing_GetListById
      parameters:
      - name: includeErrors
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Batch processing get list by id
      x-summary-source: derived
  /v1/Utility/BatchProcessing/List/Id:
    post:
      tags:
      - Utility/BatchProcessing
      operationId: BatchProcessing_PostV1UtilityBatchProcessingListId
      parameters:
      - name: includeErrors
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingDto'
                xml:
                  name: BatchProcessingDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Batch processing post V1 utility batch processing list id
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Utility.BatchProcessingErrorDto:
      properties:
        id:
          type: integer
          format: int32
        batchId:
          type: integer
          format: int32
        errorMessage:
          type: string
        details:
          type: string
        severityCode:
          type: integer
          format: int32
        severity:
          type: string
          enum:
          - Error
          - Warning
          - Information
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
      xml:
        name: BatchProcessingErrorDto
      type: object
    OAS.WebApi.DTO.Utility.GridCountDto:
      properties:
        name:
          type: string
        key:
          type: string
        value:
          type: object
        count:
          type: integer
          format: int32
      xml:
        name: GridCountDto
      type: object
    OAS.WebApi.DTO.Utility.BatchProcessingDto:
      properties:
        id:
          type: integer
          format: int32
        correlationId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        alClientName:
          type: string
        status:
          type: string
          enum:
          - New
          - Processing
          - Failed
          - PartiallyComplete
          - Complete
          - Canceled
        message:
          readOnly: true
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedDate:
          type: string
          format: date-time
        elapsed:
          readOnly: true
          type: string
        parentId:
          type: integer
          format: int32
        isDone:
          type: boolean
        totalItems:
          type: integer
          format: int32
        itemsCompleted:
          type: integer
          format: int32
        processingType:
          type: string
          enum:
          - Undefined
          - Trading
          - PendingTransactions
          - CheckForWashTrades
          - CustomImport
          - CostBasis
          - Composites
          - TradeExecution
          - ConvertToSleeves
          - Confirmation
          - DataQueries
          - Notifications
          - Export
          - Maintenance
          - ConfirmationUndo
        errorCount:
          readOnly: true
          type: integer
          format: int32
        warningCount:
          type: integer
          format: int32
        details:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Utility.BatchProcessingErrorDto'
          xml:
            name: BatchProcessingErrorDto
            wrapped: true
          type: array
      xml:
        name: BatchProcessingDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
