openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Integrations/FCS API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Integrations/FCS
paths:
  /v1/Integrations/FCS/Action/FocusSAML:
    get:
      tags:
      - Integrations/FCS
      operationId: FocusClientSolutions_StartFocusSSOAsync
      parameters:
      - name: location
        in: query
        required: false
        schema:
          type: string
          default: home
      - name: houseHoldId
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Focus client solutions start focus SSO async
      x-summary-source: derived
  /v1/Integrations/FCS/CheckSettings:
    get:
      tags:
      - Integrations/FCS
      operationId: FocusClientSolutions_GetSettings
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Focus client solutions get settings
      x-summary-source: derived
  /v1/Integrations/FCS/FocusUser:
    get:
      tags:
      - Integrations/FCS
      operationId: FocusClientSolutions_GetFocusUser
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Practifi.FocusUser'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Practifi.FocusUser'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Practifi.FocusUser'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Practifi.FocusUser'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Practifi.FocusUser'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Practifi.FocusUser'
      security:
      - Authorization: []
      summary: Focus client solutions get focus user
      x-summary-source: derived
    put:
      tags:
      - Integrations/FCS
      operationId: FocusClientSolutions_FocusUser
      parameters:
      - name: Userid
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: isSignedUp
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Practifi.FocusUser'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Practifi.FocusUser'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Practifi.FocusUser'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Practifi.FocusUser'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Practifi.FocusUser'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataModel.Integration.Practifi.FocusUser'
      security:
      - Authorization: []
      summary: Focus client solutions focus user
      x-summary-source: derived
  /v1/Integrations/FCS/GetLoanRequest:
    get:
      tags:
      - Integrations/FCS
      operationId: FocusClientSolutions_GetLoanRequest
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: excludeClosedLoans
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Focus client solutions get loan request
      x-summary-source: derived
components:
  schemas:
    OAS.DataModel.Integration.Practifi.FocusUser:
      properties:
        enabled:
          type: boolean
        userId:
          type: integer
          format: int32
      xml:
        name: FocusUser
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
