openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Scheduler/Notification Group API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Scheduler/NotificationGroup
paths:
  /v1/Scheduler/NotificationGroup:
    get:
      tags:
      - Scheduler/NotificationGroup
      summary: Gets a list of notification groups that the logged in user has access to
      operationId: NotificationGroup_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.NotificationGroupDto'
                xml:
                  name: NotificationGroupDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.NotificationGroupDto'
                xml:
                  name: NotificationGroupDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.NotificationGroupDto'
                xml:
                  name: NotificationGroupDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.NotificationGroupDto'
                xml:
                  name: NotificationGroupDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.NotificationGroupDto'
                xml:
                  name: NotificationGroupDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.NotificationGroupDto'
                xml:
                  name: NotificationGroupDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Scheduler/NotificationGroup/{key}:
    get:
      tags:
      - Scheduler/NotificationGroup
      summary: Gets the notification groups that has the provided key.
      operationId: NotificationGroup_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.NotificationGroupDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.NotificationGroupDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.NotificationGroupDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.NotificationGroupDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.NotificationGroupDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Scheduler.NotificationGroupDto'
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Scheduler.NotificationGroupDto:
      properties:
        id:
          type: integer
          format: int32
        groupName:
          type: string
        groupDescription:
          type: string
      xml:
        name: NotificationGroupDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
