openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Trading/Trade Files API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Trading/TradeFiles
paths:
  /v1/Trading/TradeFiles:
    get:
      tags:
      - Trading/TradeFiles
      summary: Gets a list of trade files that have already been generated that the logged in…
      operationId: TradeFiles_Get
      parameters:
      - name: startDate
        in: query
        description: Optional. The start of the range to report.  Default is today.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. The end of the range to report. Default is today.
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/TradeFiles/{fileId}:
    get:
      tags:
      - Trading/TradeFiles
      summary: Gets a trade file that has already been generated and has the key provided
      operationId: TradeFiles_GetById
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
      security:
      - Authorization: []
  /v1/Trading/TradeFiles/{fileId}/File:
    get:
      tags:
      - Trading/TradeFiles
      summary: Downloads the trade file to the browser using an http stream for the given…
      operationId: TradeFiles_DownloadFile
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Trading/TradeFiles/{fileId}/Log:
    get:
      tags:
      - Trading/TradeFiles
      summary: Downloads the trade log to the browser using an http stream for the given…
      operationId: TradeFiles_DownloadLog
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Trading/TradeFiles/{fileId}/Reset:
    get:
      tags:
      - Trading/TradeFiles
      summary: Resets the provided trade file
      operationId: TradeFiles_ResetFile
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
      security:
      - Authorization: []
  /v1/Trading/TradeFiles/{fileId}/Transmit:
    post:
      tags:
      - Trading/TradeFiles
      summary: Transmits trade file to ftp destination
      operationId: TradeFiles_TransmitFileAsync
      parameters:
      - name: fileId
        in: path
        description: dwnldprep file id to be transmited.
        required: true
        schema:
          type: integer
          format: int32
      - name: allowReTransmit
        in: query
        description: Default False.  When False, and error will occur if the file.Status = "sent".  When true, the file will be sent again.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Trading/TradeFiles/CreateTradeFileFromAllocations:
    post:
      tags:
      - Trading/TradeFiles
      summary: Creates a trade file from allocation block. Takes one or more blockIds
      operationId: TradeFiles_CreateTradeFileFromBlocksAsync
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
            application/xml:
              schema:
                type: integer
                format: int32
            text/xml:
              schema:
                type: integer
                format: int32
            multipart/form-data:
              schema:
                type: integer
                format: int32
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Trading/TradeFiles/Fees:
    get:
      tags:
      - Trading/TradeFiles
      summary: Gets a list of trade files that have already been generated that the logged in…
      operationId: TradeFiles_GetFeeFilesAsync
      parameters:
      - name: ct
        in: header
        required: true
      - name: startDate
        in: query
        description: Optional. The start of the range to report.  Default is today.
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Optional. The end of the range to report. Default is today.
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Trading/TradeFiles/WithProcessing:
    get:
      tags:
      - Trading/TradeFiles
      summary: Returns the Trade files that were created on the specified date, also adds…
      operationId: TradeFiles_GetWithProcessing
      parameters:
      - name: asOfDate
        in: query
        description: Created date of the trade files
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.TradeFileDto'
                xml:
                  name: TradeFileDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Trading.TradeFileDto:
      properties:
        id:
          type: integer
          format: int32
        tradeFormat:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        fileName:
          type: string
        transmitMethod:
          type: string
          enum:
          - Empty
          - None
          - FTP
          - DSTHTTP
          - Network
          - SFTP
          - FTPS
          - S3
        status:
          type: string
        processBy:
          type: string
        processDate:
          type: string
          format: date-time
        uploadTargetId:
          type: integer
          format: int32
        instanceId:
          type: integer
          format: int32
      xml:
        name: TradeFileDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
