openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Reporting/Custom API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Reporting/Custom
paths:
  /v1/Reporting/Custom/{key}:
    get:
      tags:
      - Reporting/Custom
      summary: Gets the custom report that has the provided key.
      operationId: CustomReports_GetFullByKeyAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: interpolate
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
      security:
      - Authorization: []
  /v1/Reporting/Custom/{key}/ConfirmGroup/{confirmGroupId}:
    get:
      tags:
      - Reporting/Custom
      summary: Gets the custom report with the provided reportId, with prompts populated based…
      operationId: CustomReports_GetFullByKeyForConfirmGroupAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired report
        required: true
        schema:
          type: integer
          format: int32
      - name: confirmGroupId
        in: path
        description: Key of the desired Confirm Group
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      - name: interpolate
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
      security:
      - Authorization: []
  /v1/Reporting/Custom/{key}/CustomImportTypes:
    get:
      tags:
      - Reporting/Custom
      summary: Gets a list of custom import types associated to a dataquery
      operationId: CustomReports_GetCustomImportTypesAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportCustomImportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportCustomImportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportCustomImportDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportCustomImportDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportCustomImportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportCustomImportDto'
      security:
      - Authorization: []
  /v1/Reporting/Custom/{key}/Description:
    put:
      tags:
      - Reporting/Custom
      summary: Updates custom report description
      operationId: CustomReports_UpdateCustomReportDescription
      parameters:
      - name: key
        in: path
        description: Id of the desired custom report
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              type: string
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/xml:
            schema:
              type: string
          text/xml:
            schema:
              type: string
          application/x-www-form-urlencoded:
            schema:
              type: string
          multipart/form-data:
            schema:
              type: string
        description: Custom report description
        required: true
  /v1/Reporting/Custom/{key}/Generate:
    post:
      tags:
      - Reporting/Custom
      summary: Used to generate a custom report to the format and location based on the…
      operationId: CustomReports_GenerateReportAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
        description: The custom report with paramaters to run.
        required: true
  /v1/Reporting/Custom/{key}/Generate/csv:
    post:
      tags:
      - Reporting/Custom
      summary: Used to generate a custom report csv with the provided parameters.
      operationId: CustomReports_GenerateReportCsvAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
        description: The custom report with paramaters to run.
        required: true
  /v1/Reporting/Custom/{key}/Generate/CustomImport:
    post:
      tags:
      - Reporting/Custom
      summary: Used to generate a custom import from a provided dataquery
      operationId: CustomReports_GenerateReportCustomImportAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        description: CancellationToken of the request
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.CustomReportProcess.CustomReportCustomImportResponseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.CustomReportProcess.CustomReportCustomImportResponseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.CustomReportProcess.CustomReportCustomImportResponseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.DataProcess.Reporting.CustomReportProcess.CustomReportCustomImportResponseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
        description: The custom report with paramaters to run.
        required: true
  /v1/Reporting/Custom/{key}/Generate/SlickGrid:
    post:
      tags:
      - Reporting/Custom
      summary: Generates the result of the custom report, using the parameters passed in
      operationId: CustomReports_GenerateReportSlickGridAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
        description: The custom report with parameters to run.
        required: true
  /v1/Reporting/Custom/{key}/Generate/SlickGrid/{cacheKey}:
    get:
      tags:
      - Reporting/Custom
      summary: Retrieve the previously generated slick grid result
      operationId: CustomReports_GetDataQueryTableByReportIdAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: cacheKey
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Custom/{key}/Generate/Table:
    post:
      tags:
      - Reporting/Custom
      summary: Generates the result of the custom report, using the parameters passed in
      operationId: CustomReports_GenerateReportDataTableAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
        description: The custom report with paramaters to run.
        required: true
  /v1/Reporting/Custom/{key}/Generate/xls:
    post:
      tags:
      - Reporting/Custom
      summary: Used to generate a custom report xls with the provided parameters.
      operationId: CustomReports_GenerateReportXlsAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
        description: The custom report with paramaters to run.
        required: true
  /v1/Reporting/Custom/{key}/Generate/xlsx:
    post:
      tags:
      - Reporting/Custom
      summary: Used to generate a custom report xlsx with the provided parameters.
      operationId: CustomReports_GenerateReportXlsxAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
        description: The custom report with parameters to run.
        required: true
  /v1/Reporting/Custom/{key}/Run/{filename}:
    get:
      tags:
      - Reporting/Custom
      summary: Used to download a previously generated custom report
      operationId: CustomReports_RunReportAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: filename
        in: path
        description: The filename provided by the generate endpoint.
        required: true
        schema:
          type: string
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Custom/Category:
    get:
      tags:
      - Reporting/Custom
      summary: Gets a list of categories used by the custom reports
      operationId: CustomReports_GetCategories
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
            multipart/form-data:
              schema:
                items:
                  type: string
                type: array
      security:
      - Authorization: []
  /v1/Reporting/Custom/Full/List:
    post:
      tags:
      - Reporting/Custom
      operationId: CustomReports_GetFullByKeyListAsync
      parameters:
      - name: interpolate
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: ct
        in: header
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
                xml:
                  name: CustomReportFullDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
                xml:
                  name: CustomReportFullDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
                xml:
                  name: CustomReportFullDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
                xml:
                  name: CustomReportFullDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
                xml:
                  name: CustomReportFullDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportFullDto'
                xml:
                  name: CustomReportFullDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Custom reports get full by key list async
      x-summary-source: derived
  /v1/Reporting/Custom/List:
    post:
      tags:
      - Reporting/Custom
      summary: Gets a simple list of custom reports that match one of the keys in the provided…
      operationId: CustomReports_GetSimpleListById
      parameters:
      - name: includeQuerySmith
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Reporting/Custom/Notes:
    get:
      tags:
      - Reporting/Custom
      summary: Get custom report notes
      operationId: CustomReportNotes_GetAllItems
      parameters:
      - name: customReportId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
                xml:
                  name: CustomReportNoteDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
                xml:
                  name: CustomReportNoteDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
                xml:
                  name: CustomReportNoteDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
                xml:
                  name: CustomReportNoteDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Reporting/Custom
      summary: Create custom report note
      operationId: CustomReportNotes_CreateItem
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
        required: true
  /v1/Reporting/Custom/Notes/{key}:
    get:
      tags:
      - Reporting/Custom
      summary: Get custom report note by key
      operationId: CustomReportNotes_GetItemByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/Custom
      summary: Update custom report note
      operationId: CustomReportNotes_UpdateItem
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportNoteDto'
        required: true
  /v1/Reporting/Custom/Schedules:
    get:
      tags:
      - Reporting/Custom
      summary: Get all custom report schedules
      operationId: CustomReportSchedules_GetAllItems
      parameters:
      - name: isActive
        in: query
        description: 'Optional. Default: null. If provided only active (true) or inactive (false) schedules are returned.'
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
                xml:
                  name: CustomReportScheduleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
                xml:
                  name: CustomReportScheduleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
                xml:
                  name: CustomReportScheduleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
                xml:
                  name: CustomReportScheduleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
                xml:
                  name: CustomReportScheduleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
                xml:
                  name: CustomReportScheduleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Reporting/Custom
      summary: Create new schedule
      operationId: CustomReportSchedules_CreateItem
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
        required: true
  /v1/Reporting/Custom/Schedules/{key}:
    get:
      tags:
      - Reporting/Custom
      summary: Get custom report schedule by key
      operationId: CustomReportSchedules_GetItemByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
      security:
      - Authorization: []
    put:
      tags:
      - Reporting/Custom
      summary: Update schedule
      operationId: CustomReportSchedules_UpdateItem
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
        required: true
    delete:
      tags:
      - Reporting/Custom
      summary: Delete schedule
      operationId: CustomReportSchedules_DeleteItem
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Custom/Schedules/{key}/Download/csv/{resultId}:
    get:
      tags:
      - Reporting/Custom
      summary: Get data query results as Csv
      operationId: CustomReportSchedules_DownloadReportCsvAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: resultId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Custom/Schedules/{key}/Download/psv/{resultId}:
    get:
      tags:
      - Reporting/Custom
      summary: Get data query results as pipe-delimited
      operationId: CustomReportSchedules_DownloadReportPsvAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: resultId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Custom/Schedules/{key}/Download/xls/{resultId}:
    get:
      tags:
      - Reporting/Custom
      summary: Get data query results as data Xls
      operationId: CustomReportSchedules_DownloadReportXlsAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: resultId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Custom/Schedules/{key}/Download/xlsx/{resultId}:
    get:
      tags:
      - Reporting/Custom
      summary: Get data query results as Xlsx
      operationId: CustomReportSchedules_DownloadReportXlsxAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: resultId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Custom/Schedules/{key}/Generate/SlickGrid/{resultId}:
    get:
      tags:
      - Reporting/Custom
      summary: Get data query results as slick grid
      operationId: CustomReportSchedules_GenerateReportSlickGrid
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: resultId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Custom/Schedules/{key}/Generate/Table/{resultId}:
    get:
      tags:
      - Reporting/Custom
      summary: Get data query results as data table
      operationId: CustomReportSchedules_GenerateReportDataTable
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: resultId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Custom/Schedules/{key}/Run/{filename}:
    get:
      tags:
      - Reporting/Custom
      summary: Used to download a scheduled generated custom report
      operationId: CustomReportSchedules_RunReportAsync
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: filename
        in: path
        description: The filename provided by the generate endpoint.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Custom/Schedules/New:
    get:
      tags:
      - Reporting/Custom
      summary: Returns a new schedule object
      operationId: CustomReportSchedules_GetNewItem
      parameters:
      - name: frequencyType
        in: query
        required: true
        schema:
          type: string
          enum:
          - Daily
          - Weekly
          - Monthly
          - Once
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
      security:
      - Authorization: []
  /v1/Reporting/Custom/Schedules/ReportId/{key}:
    get:
      tags:
      - Reporting/Custom
      summary: Get custom report schedules by CustomReportId
      operationId: CustomReportSchedules_GetItemsByCustomReportId
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
                xml:
                  name: CustomReportScheduleDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
                xml:
                  name: CustomReportScheduleDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
                xml:
                  name: CustomReportScheduleDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
                xml:
                  name: CustomReportScheduleDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
                xml:
                  name: CustomReportScheduleDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportScheduleDto'
                xml:
                  name: CustomReportScheduleDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/Custom/Simple:
    get:
      tags:
      - Reporting/Custom
      summary: Gets a list of custom reports that the logged in user has access to.
      operationId: CustomReports_Get
      parameters:
      - name: category
        in: query
        required: false
        schema:
          type: string
      - name: reportType
        in: query
        required: false
        schema:
          type: string
          enum:
          - Query
          - CustomImport
          - Scrub
      - name: isGlobal
        in: query
        required: false
        schema:
          type: boolean
      - name: includeQuerySmith
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/Custom/Simple/{key}:
    get:
      tags:
      - Reporting/Custom
      summary: Gets the custom report that has the provided key.
      operationId: CustomReports_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
      security:
      - Authorization: []
  /v1/Reporting/Custom/Simple/ConfirmGroup/{confirmGroupId}:
    get:
      tags:
      - Reporting/Custom
      summary: Gets a list of Custom Reports associated to the provided Confirm Group Id.
      operationId: CustomReports_GetByConfirmGroupAsync
      parameters:
      - name: confirmGroupId
        in: path
        description: Key of the Confirm Group
        required: true
        schema:
          type: integer
          format: int32
      - name: ct
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportRankedDto'
                xml:
                  name: CustomReportRankedDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportRankedDto'
                xml:
                  name: CustomReportRankedDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportRankedDto'
                xml:
                  name: CustomReportRankedDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportRankedDto'
                xml:
                  name: CustomReportRankedDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportRankedDto'
                xml:
                  name: CustomReportRankedDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportRankedDto'
                xml:
                  name: CustomReportRankedDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/Custom/Simple/DefaultQueryList:
    get:
      tags:
      - Reporting/Custom
      summary: Gets the default list of data queries that the logged in user has access to…
      operationId: CustomReports_GetDefaultDataQueryList
      parameters:
      - name: includeQuerySmith
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/Custom/Simple/List:
    post:
      tags:
      - Reporting/Custom
      summary: Gets a simple list of custom reports that match one of the keys in the provided…
      operationId: CustomReports_PostV1ReportingCustomSimpleList
      parameters:
      - name: includeQuerySmith
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportDto'
                xml:
                  name: CustomReportDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
  /v1/Reporting/Custom/Simple/Search:
    get:
      tags:
      - Reporting/Custom
      summary: Gets a simple list of custom reports that the logged in user has access to…
      operationId: CustomReports_GetSimpleCustomReportSearch
      parameters:
      - name: search
        in: query
        description: Partial custom report name to search for.
        required: true
        schema:
          type: string
      - name: includeQuerySmith
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/Custom/Simple/Search/{search}:
    get:
      tags:
      - Reporting/Custom
      summary: Gets a simple list of custom reports that the logged in user has access to…
      operationId: CustomReports_GetV1ReportingCustomSimpleSearchBySearch
      parameters:
      - name: search
        in: path
        description: Partial custom report name to search for.
        required: true
        schema:
          type: string
      - name: includeQuerySmith
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Reporting/Custom/UploadTargets:
    get:
      tags:
      - Reporting/Custom
      operationId: CustomReportUploadTarget_GetFullListAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
                xml:
                  name: UploadTargetDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
                xml:
                  name: UploadTargetDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
                xml:
                  name: UploadTargetDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
                xml:
                  name: UploadTargetDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
                xml:
                  name: UploadTargetDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
                xml:
                  name: UploadTargetDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Custom report upload target get full list async
      x-summary-source: derived
    post:
      tags:
      - Reporting/Custom
      operationId: CustomReportUploadTarget_CreateItemAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
        required: true
      summary: Custom report upload target create item async
      x-summary-source: derived
  /v1/Reporting/Custom/UploadTargets/{key}:
    get:
      tags:
      - Reporting/Custom
      operationId: CustomReportUploadTarget_GetFullItemByKeyAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
      security:
      - Authorization: []
      summary: Custom report upload target get full item by key async
      x-summary-source: derived
    put:
      tags:
      - Reporting/Custom
      operationId: CustomReportUploadTarget_UpdateItemAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: cancellationToken
        in: header
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Trading.UploadTargetDto'
        required: true
      summary: Custom report upload target update item async
      x-summary-source: derived
  /v1/Reporting/Custom/UploadTargets/Simple:
    get:
      tags:
      - Reporting/Custom
      operationId: CustomReportUploadTarget_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Custom report upload target get simple
      x-summary-source: derived
  /v1/Reporting/Custom/Verbose:
    get:
      tags:
      - Reporting/Custom
      operationId: CustomReportsVerbose_GetVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Report
            - Prompts
            - AlClients
            - ImportTypes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
                xml:
                  name: CustomReportVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
                xml:
                  name: CustomReportVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
                xml:
                  name: CustomReportVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
                xml:
                  name: CustomReportVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
                xml:
                  name: CustomReportVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
                xml:
                  name: CustomReportVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Custom reports verbose get verbose
      x-summary-source: derived
    post:
      tags:
      - Reporting/Custom
      summary: Creates a new custom report
      operationId: CustomReportsVerbose_CreateVerboseCustomReport
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
        required: true
  /v1/Reporting/Custom/Verbose/{key}:
    get:
      tags:
      - Reporting/Custom
      operationId: CustomReportsVerbose_GetVerboseByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Report
            - Prompts
            - AlClients
            - ImportTypes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
      security:
      - Authorization: []
      summary: Custom reports verbose get verbose by key
      x-summary-source: derived
    put:
      tags:
      - Reporting/Custom
      summary: Updates a custom report
      operationId: CustomReportsVerbose_UpdateVerboseCustomReport
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
        required: true
    delete:
      tags:
      - Reporting/Custom
      summary: Deletes a custom report
      operationId: CustomReportsVerbose_DeleteVerboseCustomReport
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Reporting/Custom/Verbose/New:
    get:
      tags:
      - Reporting/Custom
      operationId: CustomReportsVerbose_GetNewVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Report
            - Prompts
            - AlClients
            - ImportTypes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
      security:
      - Authorization: []
      summary: Custom reports verbose get new verbose
      x-summary-source: derived
  /v1/Reporting/Custom/Verbose/QuerySmith:
    post:
      tags:
      - Reporting/Custom
      summary: QuerySmith variant of {M:OAS.WebApi.Domains.Reporting.Custom.CustomReportsVerbos…
      operationId: CustomReportsVerbose_CreateVerboseForQuerySmith
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportQuerySmithSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportQuerySmithSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportQuerySmithSaveDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportQuerySmithSaveDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportQuerySmithSaveDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportQuerySmithSaveDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportQuerySmithSaveDto'
        required: true
  /v1/Reporting/Custom/Verbose/QuerySmith/{key}:
    get:
      tags:
      - Reporting/Custom
      operationId: CustomReportsVerbose_GetVerboseForQuerySmith
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Report
            - Prompts
            - AlClients
            - ImportTypes
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Reporting.Custom.CustomReportVerboseDto'
      security:
      - Authorization: []
      summary: Custom reports verbose get verbose for query smith
      x-summary-source: derived
    put:
      tags:
      - Reporting/Custom
      summary: QuerySmith variant of {M:OAS.WebApi.Domains.Reporting.Custom.CustomReportsVerbos…
      operationId: CustomReportsVerbose_UpdateVerboseForQuerySmith
      parameters:
      - name: key
[...]
