openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Platforms API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/Platforms
paths:
  /v1/Portfolio/Platforms:
    get:
      tags:
      - Portfolio/Platforms
      summary: Gets a list of platforms that the logged in user has access to
      operationId: Platforms_Get
      parameters:
      - name: isActive
        in: query
        description: Optional. When provided will only return platforms that are active (true) or aren't active (false).
        required: false
        schema:
          type: boolean
      - name: subAdvisorId
        in: query
        description: Optional.  When provided will only return platforms that this sub advisor uses on their models.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
                xml:
                  name: PlatformDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
                xml:
                  name: PlatformDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
                xml:
                  name: PlatformDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
                xml:
                  name: PlatformDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
                xml:
                  name: PlatformDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
                xml:
                  name: PlatformDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    post:
      tags:
      - Portfolio/Platforms
      summary: Used to create a new platform.
      operationId: Platforms_CreateAsync
      parameters:
      - name: token
        in: header
        description: The token.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
        description: The dto.
        required: true
  /v1/Portfolio/Platforms/{key}:
    get:
      tags:
      - Portfolio/Platforms
      summary: Gets the platform that has the provided key.
      operationId: Platforms_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/Platforms
      summary: Used to update an existing product platform.
      operationId: Platforms_UpdateAsync
      parameters:
      - name: key
        in: path
        description: The key.
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The token.
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.PlatformDto'
        description: The dto.
        required: true
    delete:
      tags:
      - Portfolio/Platforms
      summary: Used to delete an existing product platform.
      operationId: Platforms_DeleteAsync
      parameters:
      - name: key
        in: path
        description: The key.
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: header
        description: The token.
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/Platforms/{key}/Accounts:
    get:
      tags:
      - Portfolio/Platforms
      summary: Gets a list of accounts that fall below the platform with the specified key…
      operationId: Platforms_GetAccountsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Platforms/{key}/Accounts/Value:
    get:
      tags:
      - Portfolio/Platforms
      summary: Gets a simple list of accounts (including aum for today) that fall below the…
      operationId: Platforms_GetAccountsValue
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: hasValue
        in: query
        description: Optional. When provided will only return accounts that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Platforms/{key}/Accounts/Value/{asOfDate}:
    get:
      tags:
      - Portfolio/Platforms
      summary: Gets a simple list of accounts (including aum for the end of the date…
      operationId: Platforms_GetAccountsValueAsOfDate
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      - name: hasValue
        in: query
        description: Optional. When provided will only return accounts that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Platforms/Search:
    get:
      tags:
      - Portfolio/Platforms
      operationId: Platforms_Search
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Platforms search
      x-summary-source: derived
  /v1/Portfolio/Platforms/Search/{search}:
    get:
      tags:
      - Portfolio/Platforms
      operationId: Platforms_GetV1PortfolioPlatformsSearchBySearch
      parameters:
      - name: search
        in: path
        required: true
        schema:
          type: string
      - name: top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Platforms get V1 portfolio platforms search by search
      x-summary-source: derived
  /v1/Portfolio/Platforms/Simple:
    get:
      tags:
      - Portfolio/Platforms
      summary: Gets a simple list of platforms that the logged in user has access to
      operationId: Platforms_GetSimple
      parameters:
      - name: isActive
        in: query
        description: Optional. When provided will only return platforms that are active (true) or aren't active (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Platforms/Value:
    get:
      tags:
      - Portfolio/Platforms
      summary: Gets a simple list of platforms (including aum for today) that the logged in…
      operationId: Platforms_GetValue
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/Platforms/Value/{asOfDate}:
    get:
      tags:
      - Portfolio/Platforms
      summary: Gets a simple list of platforms (including aum for the end of the date…
      operationId: Platforms_GetValueAsOfDate
      parameters:
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue:
      properties:
        value:
          type: number
          format: double
        number:
          type: string
        managementStyle:
          type: string
        isActive:
          type: boolean
        clientId:
          type: integer
          format: int32
        custodian:
          type: string
        registrationId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleAccountWithValue
      type: object
    OAS.WebApi.DTO.Portfolio.AccountDto:
      properties:
        isActive:
          type: boolean
        custodian:
          type: string
        custodianCode:
          type: string
        managementStyle:
          type: string
        currentValue:
          type: number
          format: double
        fundFamily:
          type: string
        accountStartValue:
          type: number
          format: double
        createdDate:
          type: string
          format: date-time
        isManaged:
          type: boolean
        isSweepAccount:
          type: boolean
        isSleeveAccount:
          type: boolean
        sleeveType:
          type: string
          enum:
          - Normal sleeve
          - Custodial account
          - Contribution sleeve
          - Distribution sleeve
          - Unmanaged sleeve
        isAdvReportable:
          type: boolean
        is13FReportable:
          type: boolean
        isAuaReportable:
          type: boolean
        advCustodyTypeId:
          type: integer
          format: int32
        custodialRepCode:
          type: string
        brokerDealer:
          type: string
        importKey:
          type: string
        outsideId:
          type: string
        secondaryAccountNumber:
          type: string
        managementStyleId:
          type: integer
          format: int32
        fundFamilyId:
          type: integer
          format: int32
        accountHistoryId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        shareClass:
          type: string
        shareClassId:
          type: integer
          format: int32
        subAdvisorId:
          type: integer
          format: int32
        provider:
          type: string
        plan:
          type: integer
          format: int32
        planName:
          type: string
        modelGroupNumber:
          type: string
        isOriginalSMCAccount:
          type: boolean
        isTradingBlocked:
          type: boolean
        tradingInstructions:
          type: string
        downloadSource:
          type: string
        businessLine:
          type: string
        createdBy:
          type: string
        accountStartDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        accountStatusId:
          type: integer
          format: int32
        accountStatus:
          type: string
        accountStatusDescription:
          type: string
        feeScheduleId:
          type: integer
          format: int32
        feeSchedule:
          type: string
        masterPayoutScheduleId:
          type: integer
          format: int32
        masterPayoutSchedule:
          type: string
        billFrequency:
          type: string
          enum:
          - Undefined
          - Monthly
          - Quarterly
          - Triannual
          - Semiannually
          - Annually
          - AtMaturity
        representative:
          type: string
        representativeNumber:
          type: string
        representativeId:
          type: integer
          format: int32
        household:
          type: string
        cancelDate:
          type: string
          format: date-time
        riskBudget:
          type: integer
          format: int32
        modelAggId:
          type: integer
          format: int32
        billPayMethod:
          type: string
        acceptsList:
          type: boolean
        billStartDate:
          type: string
          format: date-time
        missingInfoFromView:
          type: string
        sweepAssetId:
          type: integer
          format: int32
        includeInAggregate:
          type: boolean
        isDiscretionary:
          type: boolean
        cashBalance:
          type: number
          format: double
        sleeveStrategy:
          type: string
        isQualified:
          type: boolean
        riskScore:
          type: number
          format: double
        isWrapManaged:
          type: boolean
        isWrapSponsored:
          type: boolean
        lastName:
          type: string
        nickname:
          type: string
        isPositionOnlyRecon:
          type: boolean
        eclipseFirmId:
          type: integer
          format: int32
        isUnfunded:
          type: boolean
        isBundled:
          type: boolean
        isExcludedFromFirmAssets:
          type: boolean
        annuityIncomeValue:
          type: number
          format: double
        currentRiskScore:
          type: integer
          format: int32
        targetRiskScore:
          type: integer
          format: int32
        riskScoreAsOfDate:
          type: string
          format: date-time
        riskScoreProvider:
          description: The source of {OAS.WebApi.DTO.Portfolio.AccountDto.TargetRiskScore}{OAS.WebApi.DTO.Portfolio.AccountDto.CurrentRiskScore} and {OAS.WebApi.DTO.Portfolio.AccountDto.RiskScoreAsOfDate}
          type: string
        riskTol:
          type: integer
          format: int32
        tieredFeePriority:
          type: integer
          format: int32
        additionalColumns:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Interface.AdditionalColumnDefinition'
          xml:
            name: AdditionalColumnDefinition
            wrapped: true
          type: array
        isOps:
          type: boolean
        lastPositionDate:
          type: string
          format: date-time
        inBalance:
          type: boolean
        lastReconciledEffectiveDate:
          type: string
          format: date-time
        clientGlobalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        registrationGlobalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        id:
          type: integer
          format: int32
        name:
          type: string
        number:
          type: string
        modelName:
          type: string
        subAdvisor:
          type: string
        accountType:
          type: string
        isDataSharingEntity:
          type: boolean
      xml:
        name: AccountDto
      type: object
    OAS.WebApi.DTO.Portfolio.PlatformDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        isActive:
          type: boolean
        abbreviation:
          type: string
        description:
          type: string
        rankOrder:
          type: integer
          format: int32
        isDefault:
          type: boolean
        ipsId:
          type: integer
          format: int32
        color:
          type: string
        platformTypeId:
          type: integer
          format: int32
        objective:
          type: string
        isWrapFeeProgram:
          type: boolean
        modelAggId:
          type: integer
          format: int32
        modelAggName:
          type: string
      xml:
        name: PlatformDto
      type: object
    OAS.WebApi.DTO.Interface.AdditionalColumnDefinition:
      properties:
        key:
          type: string
        value:
          type: string
      xml:
        name: AdditionalColumnDefinition
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Simple.SimpleValueDto:
      properties:
        value:
          type: number
          format: double
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleValueDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
