openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Asset Level Strategies API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/AssetLevelStrategies
paths:
  /v1/Portfolio/AssetLevelStrategies:
    get:
      tags:
      - Portfolio/AssetLevelStrategies
      summary: Returns a list of all the asset level strategies that the logged in user has…
      operationId: AssetLevelStrategies_Get
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
                xml:
                  name: AssetLevelStrategyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
                xml:
                  name: AssetLevelStrategyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
                xml:
                  name: AssetLevelStrategyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
                xml:
                  name: AssetLevelStrategyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
                xml:
                  name: AssetLevelStrategyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
                xml:
                  name: AssetLevelStrategyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/AssetLevelStrategies
      operationId: AssetLevelStrategies_UpdateItems
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
                xml:
                  name: AssetLevelStrategyDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
                xml:
                  name: AssetLevelStrategyDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
                xml:
                  name: AssetLevelStrategyDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
                xml:
                  name: AssetLevelStrategyDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
                xml:
                  name: AssetLevelStrategyDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
                xml:
                  name: AssetLevelStrategyDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
              xml:
                name: AssetLevelStrategyDto
                wrapped: true
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
              xml:
                name: AssetLevelStrategyDto
                wrapped: true
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
              xml:
                name: AssetLevelStrategyDto
                wrapped: true
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
              xml:
                name: AssetLevelStrategyDto
                wrapped: true
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
              xml:
                name: AssetLevelStrategyDto
                wrapped: true
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
              xml:
                name: AssetLevelStrategyDto
                wrapped: true
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
              xml:
                name: AssetLevelStrategyDto
                wrapped: true
              type: array
        required: true
      summary: Asset level strategies update items
      x-summary-source: derived
    post:
      tags:
      - Portfolio/AssetLevelStrategies
      operationId: AssetLevelStrategies_CreateItem
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
        required: true
      summary: Asset level strategies create item
      x-summary-source: derived
  /v1/Portfolio/AssetLevelStrategies/{key}:
    get:
      tags:
      - Portfolio/AssetLevelStrategies
      summary: Get asset level strategy by key
      operationId: AssetLevelStrategies_GetItemByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/AssetLevelStrategies
      operationId: AssetLevelStrategies_UpdateItem
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto'
        required: true
      summary: Asset level strategies update item
      x-summary-source: derived
    delete:
      tags:
      - Portfolio/AssetLevelStrategies
      summary: Delete asset level strategy
      operationId: AssetLevelStrategies_DeleteItem
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/AssetLevelStrategies/Action/AutoAssign:
    put:
      tags:
      - Portfolio/AssetLevelStrategies
      operationId: AssetLevelStrategies_AutoAssignStrategies
      parameters:
      - name: accountId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Asset level strategies auto assign strategies
      x-summary-source: derived
  /v1/Portfolio/AssetLevelStrategies/Simple:
    get:
      tags:
      - Portfolio/AssetLevelStrategies
      summary: Gets a simple list of asset level strategies that the logged in user has access…
      operationId: AssetLevelStrategies_GetSimple
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.AssetLevelStrategyAssignmentDefinition:
      properties:
        assetClassId:
          type: integer
          format: int32
        assetClass:
          type: string
        managementStyleId:
          type: integer
          format: int32
        managementStyle:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
      xml:
        name: AssetLevelStrategyAssignmentDefinition
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Portfolio.AssetLevelStrategyDto:
      properties:
        color:
          type: string
        sortOrder:
          type: integer
          format: int32
        assignmentDefinitions:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AssetLevelStrategyAssignmentDefinition'
          xml:
            name: AssetLevelStrategyAssignmentDefinition
            wrapped: true
          type: array
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: AssetLevelStrategyDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
