openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Portfolio/Sub Advisors API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Portfolio/SubAdvisors
paths:
  /v1/Portfolio/SubAdvisors:
    get:
      tags:
      - Portfolio/SubAdvisors
      summary: Gets a list of sub-advisors that the logged in user has access to
      operationId: SubAdvisors_Get
      parameters:
      - name: hasValue
        in: query
        description: Optional. When provided will only return sub advisors that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorDto'
                xml:
                  name: SubAdvisorDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorDto'
                xml:
                  name: SubAdvisorDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorDto'
                xml:
                  name: SubAdvisorDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorDto'
                xml:
                  name: SubAdvisorDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorDto'
                xml:
                  name: SubAdvisorDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorDto'
                xml:
                  name: SubAdvisorDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/SubAdvisors/{key}:
    get:
      tags:
      - Portfolio/SubAdvisors
      summary: Gets the sub-advisor that has the provided key.
      operationId: SubAdvisors_GetEntityByKey
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorDto'
      security:
      - Authorization: []
  /v1/Portfolio/SubAdvisors/{key}/Accounts:
    get:
      tags:
      - Portfolio/SubAdvisors
      summary: Gets a list of accounts that fall below the sub-advisor with the specified key…
      operationId: SubAdvisors_GetAccountsAsync
      parameters:
      - name: cancellationToken
        in: header
        required: true
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.AccountDto'
                xml:
                  name: AccountDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/SubAdvisors/{key}/Accounts/Value:
    get:
      tags:
      - Portfolio/SubAdvisors
      summary: Gets a simple list of accounts (including aum for today) that fall below the…
      operationId: SubAdvisors_GetAccountsValue
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: hasValue
        in: query
        description: Optional. When provided will only return accounts that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/SubAdvisors/{key}/Accounts/Value/{asOfDate}:
    get:
      tags:
      - Portfolio/SubAdvisors
      summary: Gets a simple list of accounts (including aum for the end of the date…
      operationId: SubAdvisors_GetAccountsValueAsOfDate
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: asOfDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
      - name: hasValue
        in: query
        description: Optional. When provided will only return accounts that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue'
                xml:
                  name: SimpleAccountWithValue
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/SubAdvisors/{key}/Documents:
    post:
      tags:
      - Portfolio/SubAdvisors
      operationId: SubAdvisors_CreateBlobAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorFileDto'
        required: true
      summary: Sub advisors create blob async
      x-summary-source: derived
  /v1/Portfolio/SubAdvisors/{key}/Documents/{fileId}:
    get:
      tags:
      - Portfolio/SubAdvisors
      summary: Gets a file for the sub-advisor with the specified key and the file with the…
      operationId: SubAdvisors_GetBlobDto
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        description: Key of the file to be returned.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
      security:
      - Authorization: []
    put:
      tags:
      - Portfolio/SubAdvisors
      operationId: SubAdvisors_UpdateBlobAsync
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.BlobBaseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorFileDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorFileDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorFileDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorFileDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisorFileDto'
        required: true
      summary: Sub advisors update blob async
      x-summary-source: derived
    delete:
      tags:
      - Portfolio/SubAdvisors
      operationId: SubAdvisors_DeleteBlob
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      security:
      - Authorization: []
      summary: Sub advisors delete blob
      x-summary-source: derived
  /v1/Portfolio/SubAdvisors/{key}/Documents/{fileId}/Download:
    get:
      tags:
      - Portfolio/SubAdvisors
      summary: Gets the raw data of the specific file with the blobId provided which is…
      operationId: SubAdvisors_GetBlobFile
      parameters:
      - name: key
        in: path
        description: Key of the desired return object.
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        description: Key of the file to be downloaded.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
  /v1/Portfolio/SubAdvisors/Action/Delete:
    put:
      tags:
      - Portfolio/SubAdvisors
      operationId: SubAdvisors_Delete
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/json:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            application/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            text/xml:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
            multipart/form-data:
              schema:
                items:
                  type: integer
                  format: int32
                type: array
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/json:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          text/xml:
            schema:
              items:
                type: integer
                format: int32
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: integer
                format: int32
              type: array
          multipart/form-data:
            schema:
              items:
                type: integer
                format: int32
              type: array
        required: true
      summary: Sub advisors delete
      x-summary-source: derived
  /v1/Portfolio/SubAdvisors/Search:
    get:
      tags:
      - Portfolio/SubAdvisors
      summary: Gets a list of plans that the logged in user has access to where the plan name…
      operationId: SubAdvisors_GetSearch
      parameters:
      - name: search
        in: query
        description: Partial plan name to search for.
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: 'Optional. Default: null. The maximum number of plans to return. If null returns all.'
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: 'Optional. Default: 0. Defines number of items to skip.'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/SubAdvisors/Search/{search}:
    get:
      tags:
      - Portfolio/SubAdvisors
      summary: Gets a list of plans that the logged in user has access to where the plan name…
      operationId: SubAdvisors_GetV1PortfolioSubAdvisorsSearchBySearch
      parameters:
      - name: search
        in: path
        description: Partial plan name to search for.
        required: true
        schema:
          type: string
      - name: top
        in: query
        description: 'Optional. Default: null. The maximum number of plans to return. If null returns all.'
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: 'Optional. Default: 0. Defines number of items to skip.'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/SubAdvisors/Simple:
    get:
      tags:
      - Portfolio/SubAdvisors
      operationId: SubAdvisors_GetSimple
      parameters:
      - name: hasValue
        in: query
        required: false
        schema:
          type: boolean
      - name: accountId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: registrationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: representativeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: advisorId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: modelType
        in: query
        required: false
        schema:
          type: string
      - name: modelAggType
        in: query
        required: false
        schema:
          type: string
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.DataModel.SimpleEntity'
                xml:
                  name: SimpleEntity
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Sub advisors get simple
      x-summary-source: derived
  /v1/Portfolio/SubAdvisors/Value:
    get:
      tags:
      - Portfolio/SubAdvisors
      summary: Gets a simple list of sub-advisors (including aum for today) that the logged in…
      operationId: SubAdvisors_GetValue
      parameters:
      - name: hasValue
        in: query
        description: Optional. When provided will only return sub advisors that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/SubAdvisors/Value/{asOfDate}:
    get:
      tags:
      - Portfolio/SubAdvisors
      summary: Gets a simple list of sub-advisors (including aum for the end of the date…
      operationId: SubAdvisors_GetValueAsOfDate
      parameters:
      - name: asOfDate
        in: path
        description: The aum returned is as of the end of this date.
        required: true
        schema:
          type: string
          format: date-time
      - name: hasValue
        in: query
        description: Optional. When provided will only return sub advisors that have value (true) or don't have value (false).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Simple.SimpleValueDto'
                xml:
                  name: SimpleValueDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
  /v1/Portfolio/SubAdvisors/Verbose:
    get:
      tags:
      - Portfolio/SubAdvisors
      operationId: SubAdvisors_GetAllItemsVerbose
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Notes
            - Logo
            - Documents
            - Entities
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
                xml:
                  name: SubAdvisorVerboseDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
                xml:
                  name: SubAdvisorVerboseDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
                xml:
                  name: SubAdvisorVerboseDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
                xml:
                  name: SubAdvisorVerboseDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
                xml:
                  name: SubAdvisorVerboseDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
                xml:
                  name: SubAdvisorVerboseDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Sub advisors get all items verbose
      x-summary-source: derived
    post:
      tags:
      - Portfolio/SubAdvisors
      summary: Create new sub-advisor
      operationId: SubAdvisors_CreateVerbose
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
        required: true
  /v1/Portfolio/SubAdvisors/Verbose/{key}:
    get:
      tags:
      - Portfolio/SubAdvisors
      operationId: SubAdvisors_GetVerboseByKey
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Notes
            - Logo
            - Documents
            - Entities
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
      security:
      - Authorization: []
      summary: Sub advisors get verbose by key
      x-summary-source: derived
    put:
      tags:
      - Portfolio/SubAdvisors
      summary: Update sub-advisor
      operationId: SubAdvisors_UpdateVerbose
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
        required: true
  /v1/Portfolio/SubAdvisors/Verbose/New:
    get:
      tags:
      - Portfolio/SubAdvisors
      operationId: SubAdvisors_GenerateNewVerboseDto
      parameters:
      - name: expand
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - Portfolio
            - Notes
            - Logo
            - Documents
            - Entities
            - All
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto'
      security:
      - Authorization: []
      summary: Sub advisors generate new verbose dto
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Portfolio.SubAdvisorDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        email:
          type: string
        isActive:
          type: boolean
        subAdvisorCode:
          type: string
        payeeName:
          type: string
      xml:
        name: SubAdvisorDto
      type: object
    OAS.WebApi.DTO.Portfolio.SimpleAccountWithValue:
      properties:
        value:
          type: number
          format: double
        number:
          type: string
        managementStyle:
          type: string
        isActive:
          type: boolean
        clientId:
          type: integer
          format: int32
        custodian:
          type: string
        registrationId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleAccountWithValue
      type: object
    OAS.WebApi.DTO.Portfolio.AccountDto:
      properties:
        isActive:
          type: boolean
        custodian:
          type: string
        custodianCode:
          type: string
        managementStyle:
          type: string
        currentValue:
          type: number
          format: double
        fundFamily:
          type: string
        accountStartValue:
          type: number
          format: double
        createdDate:
          type: string
          format: date-time
        isManaged:
          type: boolean
        isSweepAccount:
          type: boolean
        isSleeveAccount:
          type: boolean
        sleeveType:
          type: string
          enum:
          - Normal sleeve
          - Custodial account
          - Contribution sleeve
          - Distribution sleeve
          - Unmanaged sleeve
        isAdvReportable:
          type: boolean
        is13FReportable:
          type: boolean
        isAuaReportable:
          type: boolean
        advCustodyTypeId:
          type: integer
          format: int32
        custodialRepCode:
          type: string
        brokerDealer:
          type: string
        importKey:
          type: string
        outsideId:
          type: string
        secondaryAccountNumber:
          type: string
        managementStyleId:
          type: integer
          format: int32
        fundFamilyId:
          type: integer
          format: int32
        accountHistoryId:
          type: integer
          format: int32
        registrationId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        shareClass:
          type: string
        shareClassId:
          type: integer
          format: int32
        subAdvisorId:
          type: integer
          format: int32
        provider:
          type: string
        plan:
          type: integer
          format: int32
        planName:
          type: string
        modelGroupNumber:
          type: string
        isOriginalSMCAccount:
          type: boolean
        isTradingBlocked:
          type: boolean
        tradingInstructions:
          type: string
        downloadSource:
          type: string
        businessLine:
          type: string
        createdBy:
          type: string
        accountStartDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        accountStatusId:
          type: integer
          format: int32
        accountStatus:
          type: string
        accountStatusDescription:
          type: string
        feeScheduleId:
          type: integer
          format: int32
        feeSchedule:
          type: string
        masterPayoutScheduleId:
          type: integer
          format: int32
        masterPayoutSchedule:
          type: string
        billFrequency:
          type: string
          enum:
          - Undefined
          - Monthly
          - Quarterly
          - Triannual
          - Semiannually
          - Annually
          - AtMaturity
        representative:
          type: string
        representativeNumber:
          type: string
        representativeId:
          type: integer
          format: int32
        household:
          type: string
        cancelDate:
          type: string
          format: date-time
        riskBudget:
          type: integer
          format: int32
        modelAggId:
          type: integer
          format: int32
        billPayMethod:
          type: string
        acceptsList:
          type: boolean
        billStartDate:
          type: string
          format: date-time
        missingInfoFromView:
          type: string
        sweepAssetId:
          type: integer
          format: int32
        includeInAggregate:
          type: boolean
        isDiscretionary:
          type: boolean
        cashBalance:
          type: number
          format: double
        sleeveStrategy:
          type: string
        isQualified:
          type: boolean
        riskScore:
          type: number
          format: double
        isWrapManaged:
          type: boolean
        isWrapSponsored:
          type: boolean
        lastName:
          type: string
        nickname:
          type: string
        isPositionOnlyRecon:
          type: boolean
        eclipseFirmId:
          type: integer
          format: int32
        isUnfunded:
          type: boolean
        isBundled:
          type: boolean
        isExcludedFromFirmAssets:
          type: boolean
        annuityIncomeValue:
          type: number
          format: double
        currentRiskScore:
          type: integer
          format: int32
        targetRiskScore:
          type: integer
          format: int32
        riskScoreAsOfDate:
          type: string
          format: date-time
        riskScoreProvider:
          description: The source of {OAS.WebApi.DTO.Portfolio.AccountDto.TargetRiskScore}{OAS.WebApi.DTO.Portfolio.AccountDto.CurrentRiskScore} and {OAS.WebApi.DTO.Portfolio.AccountDto.RiskScoreAsOfDate}
          type: string
        riskTol:
          type: integer
          format: int32
        tieredFeePriority:
          type: integer
          format: int32
        additionalColumns:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Interface.AdditionalColumnDefinition'
          xml:
            name: AdditionalColumnDefinition
            wrapped: true
          type: array
        isOps:
          type: boolean
        lastPositionDate:
          type: string
          format: date-time
        inBalance:
          type: boolean
        lastReconciledEffectiveDate:
          type: string
          format: date-time
        clientGlobalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        registrationGlobalId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        id:
          type: integer
          format: int32
        name:
          type: string
        number:
          type: string
        modelName:
          type: string
        subAdvisor:
          type: string
        accountType:
          type: string
        isDataSharingEntity:
          type: boolean
      xml:
        name: AccountDto
      type: object
    OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorPortfolioDto:
      properties:
        blockAccountNumber:
          type: string
        saCode:
          type: string
        description:
          type: string
        payeeId:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        name:
          type: string
        isActive:
          type: boolean
        company:
          type: string
        jobTitle:
          type: string
        ssN_TaxID:
          type: string
        dob:
          type: string
          format: date-time
        gender:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressLine3:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        salutation:
          type: string
        homePhone:
          type: string
        homePhoneExt:
          type: string
        mobilePhone:
          type: string
        businessPhone:
          type: string
        businessPhoneExt:
          type: string
        otherPhone:
          type: string
        otherPhoneExt:
          type: string
        fax:
          type: string
        faxExt:
          type: string
        pager:
          type: string
        pagerExt:
          type: string
        email:
          type: string
        webAddress:
          type: string
        getTargetAllocEmail:
          type: boolean
        targetAllocEmails:
          type: string
        eclipseFirmId:
          type: integer
          format: int32
        isOciSyncEnable:
          type: boolean
      xml:
        name: SubAdvisorPortfolioDto
      type: object
    System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String:
      properties:
        key:
          readOnly: true
          type: string
        value:
          items:
            type: string
          readOnly: true
          type: array
      xml:
        name: KeyValuePair`2
      type: object
    OAS.WebApi.DTO.Interface.AdditionalColumnDefinition:
      properties:
        key:
          type: string
        value:
          type: string
      xml:
        name: AdditionalColumnDefinition
      type: object
    OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorEntityDto:
      properties:
        entity:
          type: string
          enum:
          - Undefined
          - Payee
          - BrokerDealer
          - Wholesaler
          - Representative
          - Client
          - Registration
          - Account
          - Asset
          - Product
          - Transaction
          - Distribution
          - FundFamily
          - Personal
          - PayoutSchedule
          - FeeSchedule
          - Platform
          - RIA
          - Custodian
          - Journal
          - SWP
          - Other
          - NASD
          - CashFunding
          - Bill
          - BillInstance
          - BillMasterPayout
          - Model
          - NewAccountClient
          - NewAccountReg
          - DownloadExclusion
          - Price
          - UserDefinedFields
          - NewAcctUserDef
          - ManagersMessage
          - IndexEntry
          - PerformanceFee
          - PerformancePayout
          - NewAccountAsset
          - Owner
          - Administrator
          - OutsideClient
          - SubAdvisor
          - ModelRange
          - FaxCover
          - Fax
          - OneTimeDistribution
          - WebLogin
          - Plan401k
          - BillAccountItem
          - ThirdPartyAdministrator
          - CrmContact
          - Participant
          - PlanSponsor
          - CRMEmailList
          - ThirdParty
          - WorkflowItem
          - WorkflowAction
          - ServiceAccount
          - EntityOption
          - HouseholdMember
          - DownloadSymbol
          - IndexBlend
          - NABenefit
          - AggregateModel
          - CompositeRange
          - RepAccountManager
          - ScriptsScrubs
          - ServiceAccountBrokerDealer
          - BusinessLine
          - Blob
          - AssetClass
          - ServiceAccountLite
          - NewAcctUserDefDtl
          - Branch
          - AssetLevelStrategy
          - Report
          - DataQueries
          - PriceUnUsed
          - ModelItem
          - AssetCategory
          - RiskCategory
          - PlatformRange
          - Dividend
          - RegistrationType
          - CustodianCommon
          - RepState
          - QpeDashboard
          - ReportBatch
          - ModelGroup
          - ShareClass
          - DownloadFile
          - User
          - DynamicGrouping
          - ProductType
          - ProductSubType
          - InvestmentObjective
          - PortfolioGroup
          - OrionRealizedLot
          - OrionUnrealizedLot
          - CustodianRealizedLot
          - CustodianUnrealizedLot
          - AssetCategoryParent
          - TaxType
          - AuditRequest
          - AuditRequestLetter
          - ManagedUnmanaged
          - AuditRowAttachment
          - InformPolicy
          - InformAnswerAttachment
          - UserDetail
          - BillPayMethod
          - ModelInclusion
          - CommunityModel
          - EclipseModel
          - Global
          - ClientCategory
          - Taxability
          - Qualified
          - TaxID
          - BondState
          - ProductTaxability
          - TargetAllocation
          - RIATable
          - ProductRegion
          - ProductPropertyType
          - ProductManagerAip
          - MoodyRating
          - SPRating
          - BondMaturityYear
          - InterestRate
          - RegistrationTaxType
          - MaturityPeriod
          - NewHousehold
          - BillPayoutDashboardPayment
          - OptionLevel
          - MarginAgreement
          - PrimeBrokerage
          - InformHistoricalDocument
          - SleeveStrategyAggregate
          - MorningstarSector
          - BillEntity
          - SleeveStrategy
          - MorningstarGeography
          - GenericProspect
          - BillEntityType
          - AdditionalRep
          - BillPayoutReport
          - ProductSubHolding
          - DownloadSource
          - ModelVsActual
          - ProductVintageYear
          - EclipsePortfolio
          - Country
          - Currency
          - SecurityClassification1
          - SecurityClassification2
          - SecurityClassification3
          - SecurityClassification4
          - SecurityClassification5
          - SecurityClassification6
          - SecurityClassification7
          - SecurityClassification8
          - SecurityClassification9
          - SecurityClassification10
          - SecurityClassification11
          - SecurityClassification12
          - SecurityClassification13
          - SecurityClassification14
          - SecurityClassification15
          - SecurityClassification16
          - SecurityClassification17
          - SecurityClassification18
          - SecurityClassification19
          - SecurityClassification20
          - SecurityClassification21
          - SecurityClassification22
          - SecurityClassification23
          - SecurityClassification24
          - SecurityClassification25
          - DownloadRecord
          - CustomGrouping
          - Cotenant
          - AllocatedUnrealizedCostBasis
          - AllocatedRealizedCostBasis
        entityId:
          type: integer
          format: int32
      xml:
        name: SubAdvisorEntityDto
      type: object
    OAS.DataModel.SimpleEntity:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleEntity
      type: object
    OAS.WebApi.DTO.Portfolio.NoteDto:
      properties:
        id:
          type: integer
          format: int32
        text:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        category:
          type: string
        isWebVisible:
          type: boolean
        isSystemGenerated:
          type: boolean
      xml:
        name: NoteDto
      type: object
    OAS.WebApi.DTO.Portfolio.SubAdvisorFileDto:
      properties:
        file:
          $ref: '#/components/schemas/MultipartDataMediaFormatter.Infrastructure.HttpFile'
        openWith:
          type: string
        blobDesc:
          type: string
        category:
          type: string
        blobType:
          type: string
          enum:
          - CrmDocuments
      xml:
        name: SubAdvisorFileDto
      type: object
    OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorVerboseDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        portfolio:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorPortfolioDto'
        notes:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.NoteDto'
          xml:
            name: NoteDto
            wrapped: true
          type: array
        logo:
          $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorLogoDto'
        documents:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.DocumentDto'
          xml:
            name: DocumentDto
            wrapped: true
          type: array
        entities:
          items:
            $ref: '#/components/schemas/OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorEntityDto'
          xml:
            name: SubAdvisorEntityDto
            wrapped: true
          type: array
      xml:
        name: SubAdvisorVerboseDto
      type: object
    System.Net.Http.StreamContent:
      properties:
        headers:
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePairOfSystem.StringAndSystem.Collections.Generic.IEnumerableOfSystem.String'
          readOnly: true
          xml:
            name: KeyValuePair`2
            wrapped: true
          type: array
      xml:
        name: StreamContent
      type: object
    OAS.WebApi.DTO.Portfolio.SubAdvisor.SubAdvisorLogoDto:
      properties:
        image:
          type: string
          format: byte
      xml:
        name: SubAdvisorLogoDto
      type: object
    OAS.WebApi.DTO.Portfolio.BlobBaseDto:
      properties:
        createdDate:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        openWith:
          type: string
        fileName:
          type: string
        blobDesc:
          type: string
        blobText:
          type: string
        category:
          type: string
        isZip:
          type: boolean
      xml:
        name: BlobBaseDto
      type: object
    OAS.WebApi.DTO.Portfolio.DocumentDto:
      properties:
        id:
          type: integer
          format: int32
        description:
          type: string
        category:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        systemGenerated:
          type: boolean
      xml:
        name: DocumentDto
      type: object
    MultipartDataMediaFormatter.Infrastructure.HttpFile:
      properties:
        fileName:
          type: string
        mediaType:
          type: string
        data:
          $ref: '#/components/schemas/System.Net.Http.StreamContent'
      xml:
        name: HttpFile
      type: object
    OAS.WebApi.DTO.Simple.SimpleValueDto:
      properties:
        value:
          type: number
          format: double
        id:
          type: integer
          format: int32
        name:
          type: string
      xml:
        name: SimpleValueDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
