openapi: 3.2.0
info:
  version: V1
  title: Orion Connect Fuse/Config API
  x-swagger-net-version: 8.4.12.001
servers:
- url: https://api.orionadvisor.com/api
tags:
- name: Fuse/Config
paths:
  /v1/Fuse/Config/Categories:
    get:
      tags:
      - Fuse/Config
      operationId: FuseConfig_GetCategories
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Fuse config get categories
      x-summary-source: derived
  /v1/Fuse/Config/Categories/{categoryId}:
    get:
      tags:
      - Fuse/Config
      operationId: FuseConfig_GetCategory
      parameters:
      - name: categoryId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
      security:
      - Authorization: []
      summary: Fuse config get category
      x-summary-source: derived
  /v1/Fuse/Config/Environments/{environment}/PartnerApps/{partnerAppId}/WebhookUrlRoutes:
    get:
      tags:
      - Fuse/Config
      operationId: FuseConfig_GetWebhookUrlRouteByEnvironmentAndPartnerAppId
      parameters:
      - name: environment
        in: path
        required: true
        schema:
          type: string
      - name: partnerAppId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.WebhookUrlRouteDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.WebhookUrlRouteDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.WebhookUrlRouteDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.WebhookUrlRouteDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.WebhookUrlRouteDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.WebhookUrlRouteDto'
      security:
      - Authorization: []
      summary: Fuse config get webhook url route by environment and partner app id
      x-summary-source: derived
  /v1/Fuse/Config/Integrations:
    get:
      tags:
      - Fuse/Config
      operationId: FuseConfig_GetIntegrations
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
                xml:
                  name: IntegrationDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
                xml:
                  name: IntegrationDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
                xml:
                  name: IntegrationDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
                xml:
                  name: IntegrationDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
                xml:
                  name: IntegrationDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
                xml:
                  name: IntegrationDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Fuse config get integrations
      x-summary-source: derived
    post:
      tags:
      - Fuse/Config
      summary: Adds a new integration for the current user, and the specified partner app, to…
      operationId: FuseConfig_PostIntegration
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
        description: An {OAS.WebApi.DTO.Fuse.IntegrationDto} with properties to start setting up the integration record.
        required: true
  /v1/Fuse/Config/Integrations/{integrationId}:
    put:
      tags:
      - Fuse/Config
      operationId: FuseConfig_UpdateIntegration
      parameters:
      - name: integrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.IntegrationDto'
        required: true
      summary: Fuse config update integration
      x-summary-source: derived
    delete:
      tags:
      - Fuse/Config
      operationId: FuseConfig_DeleteIntegration
      parameters:
      - name: integrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Fuse config delete integration
      x-summary-source: derived
  /v1/Fuse/Config/Integrations/{integrationId}/Categories:
    get:
      tags:
      - Fuse/Config
      operationId: FuseConfig_GetIntegrationCategories
      parameters:
      - name: integrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Fuse config get integration categories
      x-summary-source: derived
  /v1/Fuse/Config/Integrations/{integrationId}/Image:
    get:
      tags:
      - Fuse/Config
      operationId: FuseConfig_GetIntegrationImage
      parameters:
      - name: integrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Fuse config get integration image
      x-summary-source: derived
  /v1/Fuse/Config/Integrations/{integrationId}/SmallImage:
    get:
      tags:
      - Fuse/Config
      operationId: FuseConfig_GetIntegrationSmallImage
      parameters:
      - name: integrationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
      security:
      - Authorization: []
      summary: Fuse config get integration small image
      x-summary-source: derived
  /v1/Fuse/Config/PartnerApps/{partnerAppId}/Categories:
    get:
      tags:
      - Fuse/Config
      operationId: FuseConfig_GetPartnerAppCategories
      parameters:
      - name: partnerAppId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.CategoryDto'
                xml:
                  name: CategoryDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Fuse config get partner app categories
      x-summary-source: derived
  /v1/Fuse/Config/RegisteredApps:
    get:
      tags:
      - Fuse/Config
      operationId: FuseConfig_GetRegisteredApps
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.RegisteredAppsDto'
                xml:
                  name: RegisteredAppsDto
                  wrapped: true
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.RegisteredAppsDto'
                xml:
                  name: RegisteredAppsDto
                  wrapped: true
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.RegisteredAppsDto'
                xml:
                  name: RegisteredAppsDto
                  wrapped: true
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.RegisteredAppsDto'
                xml:
                  name: RegisteredAppsDto
                  wrapped: true
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.RegisteredAppsDto'
                xml:
                  name: RegisteredAppsDto
                  wrapped: true
                type: array
            multipart/form-data:
              schema:
                items:
                  $ref: '#/components/schemas/OAS.WebApi.DTO.Fuse.RegisteredAppsDto'
                xml:
                  name: RegisteredAppsDto
                  wrapped: true
                type: array
      security:
      - Authorization: []
      summary: Fuse config get registered apps
      x-summary-source: derived
components:
  schemas:
    OAS.WebApi.DTO.Fuse.RegisteredAppsDto:
      properties:
        partnerAppID:
          type: integer
          format: int32
        partnerName:
          type: string
        productName:
          type: string
        productDescription:
          type: string
        enabled:
          type: boolean
        useIPRestrictions:
          type: boolean
        useCustodianRestrictions:
          type: boolean
        contactName:
          type: string
        contactPhone:
          type: string
        contactEmail:
          type: string
        supportName:
          type: string
        supportPhone:
          type: string
        supportEmail:
          type: string
        homePageURL:
          type: string
        termsOfService:
          type: string
        productShortDescription:
          type: string
      xml:
        name: RegisteredAppsDto
      type: object
    OAS.WebApi.DTO.Fuse.WebhookUrlRouteDto:
      properties:
        id:
          type: integer
          format: int32
        environment:
          type: string
        partnerAppId:
          type: integer
          format: int32
        urlFormat:
          type: string
      xml:
        name: WebhookUrlRouteDto
      type: object
    OAS.WebApi.DTO.Fuse.IntegrationDto:
      properties:
        id:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        webhookGuid:
          type: string
        partnerAppId:
          type: integer
          format: int32
        name:
          type: string
        active:
          type: boolean
        label:
          type: string
        custom:
          type: boolean
        partnerUserName:
          type: string
        createdDate:
          type: string
          format: date-time
      xml:
        name: IntegrationDto
      type: object
    OAS.WebApi.DTO.Fuse.CategoryDto:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
      xml:
        name: CategoryDto
      type: object
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'JWT Authorization header using the Session scheme. Example: "Authorization: Session {token}"'
      name: Authorization
      in: header
